[2021-05-25 08:25] changkun commented on #123993
@lramos15 Thanks!

[2021-05-25 08:27] major-mayer commented on #123470
I got exactly the same issue using Manjaro Linux +  Gnome + Wayland.
This occurs rarely but when it does I always have to completely restart VSCode.

[2021-05-25 08:29] jdneo commented on #124328
@connor4312 BTW, what's the view ID of the test view if I want to contribute a welcome view there?

[2021-05-25 08:31] alexdima commented on #124391
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `H`. Could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatched keyboard shortcuts and will open an o

[2021-05-25 08:38] cyrilletuzi commented on #122836
@aeschli Thanks, `vscode-uri` solved some of my issues.

1. Is there a reason some methods (like `joinPath()`) are directly available in `@types/vscode` while some others (like `dirname()` and `basename()`) require `vscode-uri`? Now that you explicitly require to not use Node APIs directly, it would make sense to include everything directly in `@types/vscode`.

Also, there is still some issues and

[2021-05-25 08:40] bpasero commented on #124539
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-05-25 08:43] SridharJagannathan opened #124562 "python debugger fails to launch"
Does this issue occur when all extensions are disabled?: NA

- VS Code Version:  1.57.0-insider
                                  Commit: 5319757634f77a050b49c10162939bfe60970c29
                                  Date: 2021-05-24T05:12:45.458Z (1 day ago)
                                  Electron: 12.0.7
- OS Version: Darwin arm64 20.3.0

Steps to Reproduce:
Python debugger fails to launch with t

[2021-05-25 08:50] pyutil commented on #50386
Same here, Debian+KDE+Dolphin. Thanks for future help.

[2021-05-25 08:54] fedorinoGore commented on #124344
@sbatten Thanks! That worked out. The VS Code has started and now it has custom titlebar.
Please advice - how to track the setting or extension that causes the problem?
Or I need to reset VS Code and customise it from scratch?

[2021-05-25 08:58] oliversalzburg commented on #117674
@awa5114 Not to my knowledge. I've been told a small trick though 😄 In the debug console, hit Shift+Tab to move focus from the input box to the output list. Now you can just hit End once to move to the end of the list.

[2021-05-25 09:01] bartenra commented on #124561
I am having the same problem after updating to 1.56.2

[2021-05-25 09:03] tntc4 commented on #124386
same
![Screenshot_1](https://user-images.githubusercontent.com/3246834/119470716-44d8ed80-bd51-11eb-8301-fbd9f32d432c.png)

[2021-05-25 09:14] alexander-lamdan opened #124563 "Can you please add percentage of zooming?"
When I start to zoom the code, after that I forget what is the default zoom I was used.
It will be really good for users who zoom out and zoom in, but wan't to know in what zoom I now.

Like 10%, 20%, 50%, 100%, 150% in bottom bar will be good. Thank you

[2021-05-25 09:18] alexander-lamdan opened #124564 "The open editor height is very small for a lot of opened files"
The open editor height is very small for using it when I opening more than 5 files in time.
It hard to using it, and hard to close. Can you please make it responsive when more files adding, the height is get bigger?

[2021-05-25 09:19] weinand commented on #124562
/duplicate #124041

[2021-05-25 09:20] #124562 closed

[2021-05-25 09:22] bpasero commented on #122996
via https://github.com/microsoft/vscode/commit/ab793cf02ac97a5358f304fc156776c3140925de

[2021-05-25 09:22] #122996 closed

[2021-05-25 09:24] netanel-haber commented on #124457
The issue is with vscode hover tooltips - such as shown in this attachment:
![image](https://user-images.githubusercontent.com/58652339/119473558-f2e59700-bd53-11eb-9ffb-28c6e7d59ec3.png)
I've always been able to copy from them, and now grabbing doesnt work at all.

[2021-05-25 09:29] jrieken commented on #124535
I don't think that's a solution because kernels are remembered by their id. The dummy approach cannot be as simple as having a single dummy kernel with a constant id, instead a "shallow" notebook controller should be created for each existing kernel spec. These shallow controllers should "all wait" in their execute handler for something to happen but the they should not be thought of as throw-away

[2021-05-25 09:29] Morriz commented on #40239
yes, as that is what exists now and should stay alive imo...until something better "as code" is delivered

[2021-05-25 09:35] isidorn commented on #106972
@alefragnani Okey so for now let's give the Safari people time to respond or maybe someone from the community. If there are no good ideas I will simply disable full screen mode on the ipad.

As for the layout issue I could not reproduce this. If you find steps please open a new issue and feel free to ping me @isidorn on it! Thanks a lot

[2021-05-25 09:42] isidorn commented on #124401
Some of the current users are used to Ctrl+N always opening a new untitiled file, even in the explorer.
Because of that I would change nothing here atm. However we can leave this open to gather more user feedback

[2021-05-25 09:44] isidorn commented on #116454
Okey. If you find time feel free to jump on that one as well since you use that widget. I think @rebornix might not have plans to look into it any time soon.

[2021-05-25 09:47] jrieken commented on #93265
Please be aware of some BREAKING refinements of the `NotebookCellOutputItem` factory functions (see https://github.com/microsoft/vscode/issues/93265#issuecomment-846372309) and its constructor.

* factory functions now accept metadata
* the constructor argument order has changed
* the `value` property is deprecated and will be removed very soon
* there is a new `data` property which contains the o

[2021-05-25 09:48] yannickowow commented on #124163
Good morning,
Sorry for the inconvenience, but do you have a target date for these features ?
Regards.

[2021-05-25 09:53] thwoe opened #124565 "Duplicating file: Editor not opened for the new file even if it has focus in the explorer (confusing)"
If I duplicate file (Ctrl+c/v) in file explorer, the new file will gain focus (highlighted) but the editor shows the original file, which is confusing because I think I edit the new file instead.

- VS Code Version: 1.55.2
- OS Version: Windows 10

Steps to Reproduce:

1. Create file and add some content
2. Duplicate (Ctrl+c/v)
3. (Optional) Rename the duplicated file (F2)
4. Edit the content of o

[2021-05-25 10:14] WORMSS commented on #119868
I've just updated my work machine to 1.56.2 and npm scripts is completely missing. I don't even have an option to show the panel.. it's just gone completely.. My home machine on 1.54.3 works perfectly and shows it.

So, do I just disable vscode updates until this ~~"feature"~~ bug is changed?

[2021-05-25 10:31] jamiebullock opened #124569 "Ability to filter Terminal output"
I would like to be able to filter Terminal output in the same way that Debug Console output can be filtered.

This is not the same as search. A filter reduces the text in the window based on a keyword or regex match.

[2021-05-25 10:33] Tyriar commented on #124553
/duplicate https://github.com/microsoft/vscode/issues/123188

[2021-05-25 10:33] #124553 closed

[2021-05-25 10:47] aeschli commented on #124342
It also works without a dependency, but only because the extension is built-in.

No problem if the Dart extension keeps the grammar and language configurations for a while until it is all settled.

Do you want to look into a PR or should I?

[2021-05-25 10:49] jrieken commented on #93265
Please be aware of the following **BREAKING CHANGE**: we have renamed to notebook renderer contribution point from (old) `notebookOutputRenderer` to NEW `notebookRenderer`. This is an easy adoption but it is absolutely necessary to keep custom renderers working

[2021-05-25 10:50] IllusionMH commented on #124506
/question

Looks like this problem not related to VS Code editor itself so closing it.
See https://github.com/microsoft/cascadia-code#installation for installation steps and use proper font name that matches variant you download.

[2021-05-25 10:50] #124506 closed

[2021-05-25 10:54] p-i- opened #124571 "Back-color Find matches in Terminal"
If I search for text in the terminal, it's VERY hard to see the matches.

Could you back-color them in RED, the same way you do for code-window searches?

[2021-05-25 10:59] arennow opened #124572 "Dark mode detection silently breaks when switching machines"
Issue Type: <b>Bug</b>

The majority of the time that I switch between my MacBook Pro and my Mac mini, the dark-mode detection is "wrong". As in, the switch is still enabled, but it hasn't actually worked correctly. If I go to settings and toggle it off and then back on, it'll correctly change the color scheme of VSCode to match the system.

VS Code version: Code 1.56.2 (Universal) (054a9295330880

[2021-05-25 11:02] DanTup commented on #124342
If it's easier/quicker for you to do, feel free. Otherwise I'm happy to do it but may need some pointers for how built-in extensions are set up.

[2021-05-25 11:08] vallentin commented on #124409
Unrelated, but I had a similar issue on Windows with Git Bash. Where when I opened the terminal it would print "command not found" for a bunch of commands, I wasn't even able to execute `clear`.

In my case it was an issue with `PATH`, as `echo $PATH` would emit different results in VSCode vs outside VSCode. Opening VSCode through Git Bash, i.e. `code .` and the issue disappeared for that instance

[2021-05-25 11:23] #124569 closed

[2021-05-25 11:23] Tyriar commented on #124571
/duplicate https://github.com/xtermjs/xterm.js/issues/1653

[2021-05-25 11:23] #124571 closed

[2021-05-25 11:24] bartenra commented on #124561
Actually, my issue is an interaction between Volar and @headlessui/vue.

[2021-05-25 11:26] Tyriar commented on #124409
Looks like the default osx profiles aren't adding the `-l` arg for a login shell which is likely the reason for the PATH issues.

[2021-05-25 11:31] #124070 closed

[2021-05-25 11:31] #124040 closed

[2021-05-25 11:31] #124028 closed

[2021-05-25 11:31] #124025 closed

[2021-05-25 11:31] #123980 closed

[2021-05-25 11:31] #123951 closed

[2021-05-25 11:31] #123933 closed

[2021-05-25 11:31] #123902 closed

[2021-05-25 11:31] #123844 closed

[2021-05-25 11:31] #123774 closed

[2021-05-25 11:31] #123743 closed

[2021-05-25 11:31] #123736 closed

[2021-05-25 11:31] #123733 closed

[2021-05-25 11:33] #124409 closed

[2021-05-25 11:33] alefragnani opened #124573 "Support Virtual Workspaces without sign in with GitHub"
The Virtual Workspaces features is a really neat solution for browsing and quick editing remote repositories, but even being understandable to support only GitHub repos out of the box, I don't see why it forces the user to sign in with GitHub in order to load _any_ repository.

Sure, you must be sign in to properly edit/save/commit changes on repos that you are authorized to do so, but because the

[2021-05-25 11:39] isidorn commented on #124163
@yannickowow currently no. Once we do we will assign it to a milestone so you can check that.

[2021-05-25 11:40] isidorn commented on #124564
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now. Thanks

[2021-05-25 11:42] isidorn commented on #124565
Fixed in latest stable, please update

[2021-05-25 11:42] #124565 closed

[2021-05-25 11:42] Tyriar commented on #124266
Does disabling local echo via `"terminal.integrated.localEchoLatencyThreshold": -1` fix this?

[2021-05-25 11:45] isidorn commented on #124532
Ok, so the request is to introduce a rule: if a stopped event has not `threadId` then the reason should be shown top level or at the session level if there are multiple sessions.
This in general makes sense to me. Let's see what @weinand thinks

Also if we agree to change this I would be open to a PR that fixes this.
Here's a code pointer https://github.com/microsoft/vscode/blob/main/src/vs/workbe

[2021-05-25 11:46] Tyriar commented on #124542
cmd+c always acted like this by default. You can configure it to send ctrl+c if you want by adding this keybinding:

[code]

[2021-05-25 11:46] #124542 closed

[2021-05-25 11:48] Tyriar commented on #124041
To be clear, you should _not_ be setting that.

[2021-05-25 11:50] isidorn commented on #124399
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-05-25 11:55] #124041 closed

[2021-05-25 11:56] Tyriar commented on #123323
@harooporks2 if it still happens in [insiders](https://code.visualstudio.com/insiders), please report to the vscode-python repo

[2021-05-25 11:58] Tyriar commented on #124041
/duplicate https://github.com/microsoft/vscode/issues/124173

[2021-05-25 12:06] iftkharhussain opened #124574 "unable to open top menu after hide it."
Hi,
I accidentally hide the sidebar of vs code,  the bad thing is my top menu was already hide 😔.
 I tried to open the menu by pressing the 'ALT' key but no luck.

Should I need to re-install it?

[2021-05-25 12:09] Tyriar commented on #124173
@sean-mcmanus going to need a little help here, I created a folder with this:

[code]

Pressed F5 and selected g++ (macOS) and it worked fine. Any more details on the repro?

[2021-05-25 12:09] l33tli3s opened #124575 "Blurry by Zones"
Issue Type: <b>Bug</b>

no steps required... for the last few days i've noticed sections of the desktop VS Code app getting blurry. It's only if the cursor is idling momentarily, but it grows outwards to eventually encompass the enitre window and none of the text can be read. Moving cursor over it or clicking on the window will cause it to come back into focus.

VS Code version: Code 1.56.2 (054a9

[2021-05-25 12:11] DanTup opened #124576 "env.asExternalUri is broken in insiders ("must use proposed API")"
Using current insiders:

[code]

The following code fails:

[code]

With the following error:

[code]

This works fine on the stable release - this seems like a serious regression?

[2021-05-25 12:14] anatolyburakov commented on #124173
I can reproduce this failure for all of my projects on a remote Linux. See: https://github.com/microsoft/vscode-cpptools/issues/7551

[2021-05-25 12:15] aeschli opened #124577 "[api] Give access to recently opened workspaces: `vscode.getRecentlyOpened`"
We have `vscode.removeFromRecentlyOpened`as a command but not `vscode.getRecentlyOpened`, only `_workbench.getRecentlyOpened`.

Remote extensions use these commands to find out about workspaces that have been deleted remotely and need to be removed from the recent history.

[2021-05-25 12:16] Tyriar commented on #124116
Possible improvements I just made:

- Force inheritEnv/useShellEnvironment for ext debug terminals https://github.com/microsoft/vscode/issues/124041
- Add -l to macOS default profiles, was only in fallback profiles https://github.com/microsoft/vscode/issues/124409

Someone is pointing out the double single quote (`''`) here, but it hasn't changed recently: https://github.com/microsoft/vscode/issue

[2021-05-25 12:17] DanTup commented on #124576
Turns out the port isn't needed at all. I think this is because of this code:

https://github.com/microsoft/vscode/blob/df3c2c487550e154900b7907e4f337a94afcac43/src/vs/workbench/api/common/extHost.api.impl.ts#L324

It's passing `uri.scheme` (`"http"`) to `matchesScheme`, which might then be checking for a colon in the URI (which doesn't exist since just `http` is being passed):

https://github.com

[2021-05-25 12:17] aeschli commented on #124577
@bpasero I can add `vscode.removeFromRecentlyOpened` if that's ok for you.
The question is we should add real API (vscode.d.ts) for the recent history.

[2021-05-25 12:17] Tyriar commented on #124116
A cpp duplicate: https://github.com/microsoft/vscode-cpptools/issues/7551

[2021-05-25 12:17] isidorn commented on #83714
Just tried with ngrok however it has a request limit of basic accounts so does not really work for this use case.
There are no other errors, except that command `markdown.showPreviewToSide` can not be found

[2021-05-25 12:17] Tyriar commented on #124173
Let's track this in https://github.com/microsoft/vscode/issues/124116

/duplicate

[2021-05-25 12:17] #124173 closed

[2021-05-25 12:24] Tyriar commented on #123295
This is by design. I believe the Python team is looking into the better way of contributing to the environment via the `context.environmentVariableCollection` API. Not sure if they had an issue but created https://github.com/microsoft/vscode-python/issues/16318

[2021-05-25 12:27] Tyriar commented on #124425
/extPython

[2021-05-25 12:28] #124425 closed

[2021-05-25 12:29] major-mayer commented on #124202
This is a well known issue. Gnome under Wayland does not support server side decorations, which is a problem for all Electron apps that don't implement client side decorations (which VSCode does).

You can enable client side decorations as described here:
https://github.com/microsoft/vscode/issues/109176#issuecomment-833744341

[2021-05-25 12:30] Tyriar commented on #124472
/extC++

[2021-05-25 12:30] major-mayer commented on #124202
And as a little "life-hack" when dealing with those missing window decorations:
You can always move windows by pressing your Super key (mostly the windows one) + left mouse button.

[2021-05-25 12:31] isidorn commented on #124505
I agree this could be improved.
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-05-25 12:32] #124472 closed

[2021-05-25 12:32] Tyriar commented on #124578
We added flow control back in 1.53 https://code.visualstudio.com/updates/v1_53#_flow-control which allows the window to catch up with the remote process, I guess it may still be too aggressive depending on hardware or connection?

[2021-05-25 12:33] Tyriar commented on #124451
/extC++

[2021-05-25 12:33] Tyriar commented on #124447
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/label "needs more info" terminal

[2021-05-25 12:33] #124447 closed

[2021-05-25 12:33] #124451 closed

[2021-05-25 12:34] rimjieun commented on #124537
Hi, thank you for responding! Didn't realize this was a thread.

I'm not sure if this will help but here are the details of the version I installed:
<img width="287" alt="vscode_details" src="https://user-images.githubusercontent.com/24310357/119498514-b1dd8a80-bd33-11eb-851b-4aeef7d4d648.PNG">

This is the installer I used:
<img width="308" alt="vscode_installer" src="https://user-images.githubus

[2021-05-25 12:34] Tyriar commented on #124404
/extC++

[2021-05-25 12:35] #124404 closed

[2021-05-25 12:41] Tyriar commented on #119725
When I call either of these:

[code]

This is the result:

<img width="1070" alt="Screen Shot 2021-05-25 at 5 39 36 AM" src="https://user-images.githubusercontent.com/2193314/119499460-98304900-bd1b-11eb-8a3e-2a0af5967391.png">

Am I doing something wrong? Also should open to side only open to side when there is an existing editor in the first group?

[2021-05-25 12:42] WC1756 opened #124579 "Intellisense not working properly"
Doesn't seem to be any wavy red lines when there is a syntax error / does not suggest functions/methods/variables in other classes for C++. Tried restarting, refreshing, reconfiguring, but to no avail.

[2021-05-25 12:43] lucatacconi commented on #123963
Confirm the issue both using the php installed from the repository and using php by xampp 7.4 and 8.0.6.
My OS is Linux Mint 20.1 (Ulyssa)

Vscode info:
Version: 1.56.2
Commit: 054a9295330880ed74ceaedda236253b4f39a335
Date: 2021-05-12T16:45:26.313Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Linux x64 5.4.0-73-generic

[2021-05-25 12:46] mehlian commented on #124574
try ctrl+, (comma) shortcut to open settings window and search for 'activity bar' to enable it

[2021-05-25 12:47] lopugit commented on #124542
Cheers yeah you're right lol, same in iTerm 2.

Sorry for wasting your time and thanks for a nice solution!

[2021-05-25 12:47] kshnyakin opened #124580 "Invisible underscore (_) in built-in terminal"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Launch terminal inside VS Code
2. Try to write smth string with underscore (_) but it's should be invisible
![image](https://user-images.githubusercontent.com/40332024/119500901-faffff80-bd70-11eb-8359-2c77800016f3.png)

[2021-05-25 12:49] bpasero commented on #124577
You mean to convert `_workbench.getRecentlyOpened` to an official command? Find by me.

[2021-05-25 12:50] pfmoore commented on #123295
I'm guessing that when you say "by design" you mean that a previously opened terminal is reopened without waiting for extensions because it was a deliberate choice not to wait. I can see that, but it has the unfortunate consequence that extensions that the way the Python extension activates the selected venv doesn't work.

Given that this means it's regrettably far too easy to end up working in a

[2021-05-25 12:53] isidorn commented on #124495
As you say we can not disable the drop feedback since the user might want to drop another root folder.
Probably the right experience would be to polish the dialog which asks the user does he want to Copy / Paste or Add a Root folder. That dialog should probably say, you can only add a root folder since root R is readonly.

[2021-05-25 12:54] Tyriar commented on #123295
The issue I linked to should hopefully result in the best of both worlds, also it's possible the Python extension could use the current mechanism to activate within restored terminals since they can access them. Both of these would be jobs for the Python terminal though.

The setting idea has come up before but we'd prefer not to do that, regardless it wouldn't fix the case where you open a termin

[2021-05-25 12:55] alexdima opened #124581 "Add option to bind tunnel to all network interfaces"
Follow up from https://github.com/microsoft/vscode/pull/124353

[2021-05-25 12:56] Tyriar commented on #123571
Not asking you to. You could also try the [insiders](http://code.visualstudio.com/insiders) build since we've made a lot of changes in this area since v1.56.

[2021-05-25 12:57] Tyriar commented on #108993
Does the same thing happen in [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701)?

[2021-05-25 13:13] monil-patel commented on #117362
As an extension author I am also seeing this same behavior while developing two new extensions.

Seems to be occur when two extensions attempt to use microsoft authentication getSession for different resource/scopes, it fails with "Getting token failed: Error: Unable to transform input." on window reload (after some sort of timeout) and then asks to resign in through browser flow again.

[code]

F

[2021-05-25 13:18] jrieken commented on #105933
Closing

[2021-05-25 13:18] #105933 closed

[2021-05-25 13:19] IllusionMH commented on #124580
/needsMoreInfo

Is it still reproducible in Insiders builds?

If reproducible: What font are you using for terminal? Do you have changed `terminal.integrated.fontSize` and/or `window.zoomLevel`?

/assign Tyriar

[2021-05-25 13:20] Tyriar commented on #124116
For anyone experiencing this issue can you [enable trace logging](https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging) and paste is logged when creating the terminal? This will give information about how the terminal launches

[2021-05-25 13:21] Tyriar commented on #124580
/duplicate https://github.com/microsoft/vscode/issues/123077

[2021-05-25 13:21] #124580 closed

[2021-05-25 13:22] Tyriar commented on #124167
/duplicate https://github.com/microsoft/vscode/issues/76548

[2021-05-25 13:22] #124167 closed

[2021-05-25 13:24] Tyriar commented on #124164
/duplicate https://github.com/microsoft/vscode/issues/124409

[2021-05-25 13:24] #124164 closed

[2021-05-25 13:25] jrieken commented on #123962
Doing that comes at an extra cost for us and since we would not consume said module that cost isn't paying off. I would recommend the pragmatic approach of just copying bits from our sources. In fact, we don't even have the adopting event debouncing, we only have some adapting request delaying for things like code lens. Anyways, you should copy these "building blocks"

* [MovingAverage](https://gi

[2021-05-25 13:25] #123962 closed

[2021-05-25 13:25] Tyriar commented on #124155
You can use these keybindings to do something very similar:

[code]

[2021-05-25 13:25] #124155 closed

[2021-05-25 13:30] isidorn commented on #123872
Leaving this assigned to you @hediet as you plan to do a PR.
Feel free to ping me on a PR for a review or let me know if I can help in any way.

[2021-05-25 13:33] Tyriar commented on #124052
This may have been a bug that's been fixed since.

I think that variable might have problems in remotes, tracked in https://github.com/microsoft/vscode/issues/115560

[2021-05-25 13:36] Rechdan opened #124582 "User forwarded port has the first request TTFB too high"
- VS Code Version:
[code]
- OS Version:
[code]

**Steps to Reproduce:**

1. Forward the port of a container inside VSCode
2. Access it through browser

   ![image](https://user-images.githubusercontent.com/7198081/119506822-aa72ad00-bd44-11eb-9c53-0ef8e33a6801.png)
   ![image](https://user-images.githubusercontent.com/7198081/119506841-af376100-bd44-11eb-83b1-c32cbc9e02a4.png)

3. See that the fir

[2021-05-25 13:38] #124156 closed

[2021-05-25 13:39] Tyriar opened #124583 "WSL default profiles don't show icon in description"
![image](https://user-images.githubusercontent.com/2193314/119507615-d7fb2e80-bd23-11eb-95cb-e624a0275df7.png)

[2021-05-25 13:44] anatolyburakov commented on #124116
These logs contain a lot of personally identifying information, is there a particular log file you would like to look at, and how much of it? Is it "extension host"? "Window"? "Main"?

On another note, is it possible to downgrade to previous Insiders build, because this bug has thrown a giant wrench in my workflow?

[2021-05-25 13:50] YaduAhuja commented on #124476
Could you please explain more about that pattern or give me a link to a repository where this pattern is implemented.

[2021-05-25 13:52] Tyriar commented on #112093
Am I understanding this right that it's about the red line (right most pixel) below not scrolling the terminal?

![image](https://user-images.githubusercontent.com/2193314/119509638-ab481680-bd25-11eb-8665-847d6034dedd.png)

[2021-05-25 13:52] JalinWang commented on #124505
Got it. Thanks for your quick response :)

[2021-05-25 13:53] isidorn commented on #124034
After discussing more with @weinand and @lszomoru we decided that the current approach of asking for Workspace Trust once debugging starts makes good sense and that we should not change anything here until we receive user feedback.
Thus closing this as we do not plan to do any changes this milestone.

[2021-05-25 13:53] #124034 closed

[2021-05-25 13:54] Tyriar commented on #124116
@anatolyburakov this one:

<img width="522" alt="Screen Shot 2021-05-25 at 6 53 25 AM" src="https://user-images.githubusercontent.com/2193314/119509916-e8aca400-bd25-11eb-97df-78753bffc0bd.png">

Plus this one (which will be in the remote server log):

<img width="622" alt="Screen Shot 2021-05-25 at 6 54 10 AM" src="https://user-images.githubusercontent.com/2193314/119510010-037f1880-bd26-11eb-87d

[2021-05-25 13:57] anatolyburakov commented on #124116
I'm not sure how to get to the screens you have shown (please don't assume everyone is a proficient web developer!), could you please provide more details as to how to get there?

Looking in remote logs, i found the following in "Remote Server" log:
[code]

This looks vaguely relevant to what we're trying to achieve here...

[2021-05-25 13:58] Tyriar opened #124584 "Terminal.creationOptions API shows default options in remotes"
From @chrmarti:

[2021-05-25 14:01] bpasero commented on #124524
Maybe my changes...

[2021-05-25 14:09] l33tli3s commented on #119828
<img width="858" alt="Screenshot 2021-05-25 050547" src="https://user-images.githubusercontent.com/74946081/119512335-11ce3400-bd28-11eb-9ab9-6cab8548974d.png">

[2021-05-25 14:10] l33tli3s commented on #119828
<img width="850" alt="Screenshot 2021-05-25 050524" src="https://user-images.githubusercontent.com/74946081/119512459-2ca0a880-bd28-11eb-89f7-b3131484a2cf.png">

I took these while I was using VSCode. I'll get a screen recording next time I run it.

Thanks!

[2021-05-25 14:29] Tyriar commented on #124116
@anatolyburakov and that's exiting with a code of 127? It looks fine based on the log 🤔

Shell and args look fine:

`useShellEnvironment` is set (forces inheritEnv = true):

PATH looks fine:

[2021-05-25 14:30] isidorn commented on #123771
This is present for all our Web experiences and Windows and I think we should fix sooner or later.
@joaomoreno Should we maybe open this up for PRs if you can provide a code pointer?

[2021-05-25 14:30] anatolyburakov commented on #124116
@Tyriar is there anything else i can check and help debug this issue?

[2021-05-25 14:38] rebornix commented on #124547
@claudiaregio I guess shift+enter will insert a new line, right? I'll suggest Jupyter contributes this keybinding to override the `when` clause if this is what Jupyter users are familiar with.

[2021-05-25 14:39] EntnyJill opened #124586 "Rendering issue after awakening on Linux"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Run VS Code.
2. Go to sleep mode.
3. Wake from sleep mode.

Issue disappears If I disable hardware acceleration using
`"disable-hardware-acceleration": true`
I'm using Unity desktop and Nvidia-340 driver.

![Rendering issues](https://user-images.githubusercont

[2021-05-25 14:42] marcio1002 commented on #124437
Most of the shortcuts, mainly the selection with the mouse. The changes to the shortcuts did not fit well in the functions and were not quite intuitive in terms of facilitating development.
But I updated it and it looks like it was resolved, thank you very much 🙂🙂.

[2021-05-25 14:53] EstherKpetemey commented on #121599
Thank you very much. This resolves my issue.

[2021-05-25 14:53] rebornix commented on #124551
I doubt so, `dib` is a concatenation of cell inputs so it doesn't save outputs.

---

if we are talking about serializing the content and saving to disk, then it's the responsibility of the content serializer. VS Code has no idea how the outputs will be used to generate the final file format. If we ever implement something in the core, there are many open questions:

* should the content serialize

[2021-05-25 14:54] rebornix commented on #124555
Good catch, I wonder if it's a recent regression.

[2021-05-25 14:56] Ossi1971 commented on #124266
It looks like this solves the problem! The threshold in my settings and those of my collegues were 30. After setting it to -1, I didn't see the issue again. Thanx for your help.

[2021-05-25 14:57] rebornix commented on #124529
Starting from @tanhakabir , not sure if it's extension issue or status bar context issue.

[2021-05-25 14:57] aeschli commented on #124331
`@apply` is a css at rule that has been deprecated since.: https://tabatkins.github.io/specs/css-apply-rule/

You are coming from Tailwind which uses `@apply` with a multiple arguments.

Unfortunately we need to focus on standardized css/scss, so I can't help you here.

[2021-05-25 14:57] #124331 closed

[2021-05-25 14:57] rebornix commented on #124432
@misolori we can probably try that.

[2021-05-25 15:02] aeschli commented on #124247
This html snippets come from emmet.

[2021-05-25 15:15] william-xiang opened #124591 "vscode.executeDocumentRenameProvider command gives error for virtual document"
We are trying to support embedded SQL in the main language using request forwarding. For now we already did this for `completion` and `hover`, but have some trouble with `rename`. The problem is the snippet below always gives us this error:
`Running the contributed command: 'vscode.executeDocumentRenameProvider' failed.` It seems like the reason is that the document is not opened in the editor.
[c

[2021-05-25 15:17] mjbvz commented on #124561
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

/needsMoreInfo

[2021-05-25 15:19] mjbvz commented on #120214
Fixed by #124557 (will take a look at the individually disabled tests too)

[2021-05-25 15:19] #120214 closed

[2021-05-25 15:20] jrieken commented on #124551
Yeah, I don't believe that it can be done. The closest request we have is support for transient per output-instance, not per notebook type: https://github.com/microsoft/vscode/issues/120600

[2021-05-25 15:22] #124579 closed

[2021-05-25 15:22] jrieken commented on #124530
The `uri` of cell document is "virtual" and doesn't exist on disk - its scheme is always `vscode-notebook-cell`. For fs-gymnastics you need to use the `uri` of the notebook (not cell)

[2021-05-25 15:22] #124530 closed

[2021-05-25 15:25] dbaeumer commented on #124575
@l33tli3s can you attach a screen shot.

[2021-05-25 15:25] Franz333 opened #124588 "VsCode files encoding problem"
Hello,

I am working on automation testing with RobotFramework (.py and .txt files).
Some texts are in french so we are asked to use Windows1252 encoding.

Though I have had problems with file encoding / reading / interpreting with VsCode. Colleagues are using other IDE because  VsCode is not "working properly" regarding this.

I would like to keep on using VsCode, but I am now losing a huge amoun

[2021-05-25 15:27] j0k4rX opened #124590 "Extensions doesn't work in virtual workspace"
- **Extensions like C/C++, GitLens doesn't work in virtual workspace**

When I open a remote repository from github, it shows
`This extension has been disabled because it doesn't support virtual workspace`

I tried enabling the extensions from ellipsis but it still doesn't work
the extensions are dimmed in color

![Screenshot 2021-05-25 170024](https://user-images.githubusercontent.com/71499522/11

[2021-05-25 15:27] asphub commented on #123880
Why its closed I added info in [this comment](https://github.com/microsoft/vscode/issues/123880#issuecomment-841233273)

[2021-05-25 15:43] dbaeumer commented on #124396
@JacksonKearl the English strings are always taken from the data extracted during build time. They don't come from a language pack. So there is no need to change a key to get a value re-translated.

[2021-05-25 15:50] tanhakabir commented on #124529
I don't believe this my extension

[2021-05-25 15:56] jrieken commented on #124591
I don't believe so - the command will open the document for rename (tho not show it in an editor). The error is likely because the underlying language extension to which you are delegating doesn't support the virtual document. Tho, you need to check the logs for more info

[2021-05-25 15:56] tmeltdowner opened #124592 "Ability to run VSCode as Admin and User at same time"
I'd like to be able to have an Admin instance of VSCode open, to test scripts and code that need administrative rights as well as an instance of VSCode User mode.

[2021-05-25 15:56] jrieken commented on #124283
Don't have the `>` in there

[2021-05-25 15:57] JacksonKearl commented on #119097
New API:
[code]

Where `completionEvents` follows same basic flow as avtivationEvents, and takes keys like: `onCommand: onLink: onView: onSettingChanged: onContextKeyDefined: extensionInstalled: stepSelected`

[2021-05-25 16:00] anhle82 commented on #124283
Sorry I missed the >. Same result though.

![vscode2](https://user-images.githubusercontent.com/1724645/119530019-3df9ad00-bd48-11eb-9844-71bebcdca331.jpg)

[2021-05-25 16:01] helloguille commented on #119653
Hi, so ffedback:

I'm on Version: 1.56.2 and the new "next pane" default shortcut is not working on Mac or it is so complicated that is imposible to remember in some layouts like Spanish International layout.:
![Screen Shot 2021-05-25 at 17 59 52](https://user-images.githubusercontent.com/17315/119530349-34da0180-bd83-11eb-822c-57ccbe792194.png)

[2021-05-25 16:03] tanhakabir commented on #124551
I don't have this case where I'm not saving outputs yet (no request yet) but this case might be possible from core by not giving output cell items in NotebookData when the serialize function is called?

So far though I don't have such a feature planned

[2021-05-25 16:03] Tyriar commented on #124138
Yep this should be fixed now, there were a couple of issues we fixed related to this 👍

[2021-05-25 16:03] #124138 closed

[2021-05-25 16:07] tmeltdowner commented on #124592
It is not a duplicate.

[2021-05-25 16:11] helloguille commented on #119653
Sorry if I'm overloading you- I just feel like this should be the natural "next terminal" shortcut, now that they are shown vertically:

CMD+ALT+DOWN
CMD+ALT+UP

[2021-05-25 16:16] aeschli commented on #123115
@alefragnani Looks like a bug, please open a separate issue.

[2021-05-25 16:17] Tyriar opened #124593 "Support dragging from custom webview into a view"
Luna Paint has several windows inside the webview, I've wanted since adding them to allow pulling them into a sidebar where possible if the user wants it. Originally I was thinking to just do this via a command but it's not particularly intuitive. I discovered after terminal tabs got added that it's possible for dnd events that originate from a custom webview to be handled in the workbench.

![rec

[2021-05-25 16:19] alefragnani opened #124594 "Debug session does not respect the `capabilities` flag when `virtualWorkspaces` is defined as `false`"
I'm updating an extension to **not support** virtual workspaces, but it seems the **Debug Session** does not respect that `capabilities` flag.

I mean, I added `"virtualWorkspaces": false` to the `capabilities` property in `package.json`, but whenever I run a debug session and connect to some Virtual workspace, the extension remains enabled.

The only way I could test my extension was packaging an

[2021-05-25 16:23] aeschli commented on #124444
I believe this is doing the right thing. The URL is relative and is resolved against the location of the stylesheet.

https://stackoverflow.com/questions/940451/using-relative-url-in-css-file-what-location-is-it-relative-to.

Please speak up if I misunderstood the issue.

[2021-05-25 16:23] #124444 closed

[2021-05-25 16:24] Abourass commented on #6328
Trying to switch from Webstorm, and this is the biggest downside to VS Code I've run into. In a large codebase, that is entirely Typescript, this is just a headache. I'm a tad surprised that a feature that would so heavily benefit Typescript, is being ignored so blatantly.

[2021-05-25 16:26] bpasero commented on #124588
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2021-05-25 16:26] aeschli commented on #124450
The color differences you are seeing are coming from the semantic highlighting.
The hover only does syntax highlighting, while the editor also does semantic highlighting.

That's expected. There are no plans to bring semantic highlighting also to the hover.

[2021-05-25 16:26] #124450 closed

[2021-05-25 16:27] jrieken commented on #124283
ok, please try "F1 > Reset View Locations"

[2021-05-25 16:30] aeschli commented on #124468
To look at this closer, I'd need a small code sample, not just a screenshot.

[2021-05-25 16:31] AnWeber commented on #124530
Too bad but thanks for the help

[2021-05-25 16:38] connor4312 opened #126268 "Support readMemory/writeMemory from debuggers"
Similar: https://github.com/microsoft/vscode-hexeditor/issues/70

[2021-05-25 16:39] JacksonKearl commented on #119097
Notes from API review:
- `onContextKeyDefined` => `onContext`
- Consider supporting configuration in a separate file (see snippets)
- Better name for "primary"
- `media.path` => `media.image`, `media.markdown`

[2021-05-25 16:39] anhle82 commented on #124283
Perfect. I have outline now. Thank you very much @jrieken

[2021-05-25 16:43] nifengbo opened #124598 "Home is not found in the status bar after installing iot link"
Issue Type: <b>Feature Request</b>

Home is not found in the status bar after installing iot link

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19041

[2021-05-25 16:45] jrieken commented on #124283
ok, closing as question

[2021-05-25 16:45] #124283 closed

[2021-05-25 16:47] aeschli commented on #124540
Can you add a small code sample an steps to illustrate that? Also check whether it reproduces with extensions disabled.

[2021-05-25 16:48] m417z commented on #124246
I also experience this issue with dynamically fetched files - script, images and font files. It is not consistent, sometimes there's no problem, but usually there is. Started with v1.56, wasn't an issue with v1.55.2. Also reported 18 days ago here: https://github.com/microsoft/vscode/issues/123284

[2021-05-25 16:51] DonJayamanne commented on #118117
Closing this issue for now as we believe this is the a good UX, will re-review in Jupyter extension repo.

[2021-05-25 16:51] #118117 closed

[2021-05-25 16:56] Tyriar opened #124601 "Extension viewlet icons are blurry"
Notice how much AA is happening on the edges of the image:

![image](https://user-images.githubusercontent.com/2193314/119537870-59ac8580-bd3f-11eb-9dfd-7a5459928ad9.png)

This is happening because this image is loaded for the bottom one for example https://tyriar.gallerycdn.vsassets.io/extensions/tyriar/luna-paint/0.5.1/1620472207047/Microsoft.VisualStudio.Services.Icons.Default which is 256x256

[2021-05-25 16:59] Tyriar commented on #124601
Actually it occurs to me that this is because the icon is provided at 256x256 as recommended by some webpage (though I'm seeing 128x128 is recommended at https://code.visualstudio.com/api/working-with-extensions/publishing-extension#marketplace-integration).

It's also called out in https://code.visualstudio.com/api/working-with-extensions/publishing-extension#marketplace-integration that svg don'

[2021-05-25 17:06] izacsc commented on #124399
@isidorn Thanks! It also would be good if we could group the breakpoints by filename or even a label, but I understand that this may be much more complex.

[2021-05-25 17:13] digitarald commented on #124396
@dbaeumer given that Getting Started is broken in release for all non-en users, are there any next steps we should take or is it just a matter of waiting?

[2021-05-25 17:15] rebornix commented on #124527
@vineet8588 can you check your user settings and see if have `workbench.editorAssociations` set and share the value?

[2021-05-25 17:16] connor4312 commented on #124328
The difference there is that debugging is and has historically been an IDE/editor-driven feature. For most languages, there is no standard 'debug configuration' file. Testing has traditionally been CLI-based, and as a result in most cases there already is configuration for how tests run. I want to avoid adding an extra generic "testing.json" if possible -- or, if we do add it, I would like it to b

[2021-05-25 17:17] rebornix opened #124605 "npe of settings editor toc"
Issue Type: <b>Bug</b>

[code]

VS Code version: Code - OSS Dev 1.57.0 (Commit unknown, Date unknown)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Status|2d_canvas: unavailable_software<br>gpu_compositing: disabled_software<br>metal: disabled_off<br>multiple_raster_threads: enabled_

[2021-05-25 17:22] sbatten commented on #123647
similar to this request https://github.com/microsoft/vscode/issues/75017

[2021-05-25 17:22] alyssajotice commented on #122733
I saw on the iteration plan that Notebooks is set to become stable this month. Will `contentProvider` be part of the stable API?

[2021-05-25 17:23] #123647 closed

[2021-05-25 17:31] misolori commented on #124601
I don't think that having the right sized images would make a difference here? [Check out this sample I created](https://codepen.io/miguelsolorio/full/PopjjqX), left column has individually sized icons and right size has the largest image resized.

[2021-05-25 17:36] mbreslav commented on #124539
I was able to reproduce the problem with Insiders (with Remote-SSH 0.65.6):

![image](https://user-images.githubusercontent.com/55714174/119542805-cd04c600-bd44-11eb-916d-930d2e867bad.png)

Version: 1.57.0-insider (user setup)
Commit: 286b643ecd231f66f3f2e67e1456f3c601838b46
Date: 2021-05-25T05:24:28.413Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows

[2021-05-25 17:37] #124116 closed

[2021-05-25 17:39] ehackett00 commented on #124442
Hello,

It is just like I said.

I open an existing file or create a new file.  Then I try to type something or just hit return on my Mac.  I get no new line or no text.

The only new thing I added was to cut off the Kubernets extension because I was getting errors.  I never used it anyway.  Also I added Oh My zsh as my default shell in iTerm.
VS Code is  is unusable.

I am not very experienced..

[2021-05-25 17:53] isidorn commented on #124163
Some code pointers:

Debug console registering commands https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/repl.ts#L782

Debug console revealing last element
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/repl.ts#L74

Various templates that the debug console uses
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/c

[2021-05-25 17:54] Tyriar commented on #124601
Huge difference on standard dpi:

![image](https://user-images.githubusercontent.com/2193314/119545300-84024100-bd47-11eb-98df-567ec558ad5e.png)
![image](https://user-images.githubusercontent.com/2193314/119545339-911f3000-bd47-11eb-8e08-67d4fd435d1d.png)

[2021-05-25 18:05] andreamah opened #124607 "VS Code Live Server - May Iteration Plans"
The extension is currently being developed [here](https://github.com/andreamah/VS-Code-LiveServer-Extension-Sample)

The goal of the extension is to allow local previews of web projects (ie: HTML/CSS/JS-based projects). The extension should support similar functionalities to that of the existing [vscode-live-server](https://github.com/ritwickdey/vscode-live-server); however, it should show the pre

[2021-05-25 18:10] AnWeber commented on #124530
@jrieken Just one more little question. Couldn't this behavior cause problems for CodeLens providers for languages in the cell that rely on file access. These don't necessarily need to know about NotebookEditor and vscode-notebook-cell scheme.

In my case I created the extension [vscode-httpyac)(https://marketplace.visualstudio.com/items?itemName=anweber.vscode-httpyac) which provides a CodeLens e

[2021-05-25 18:11] ZerdoX-x commented on #3884
Could not launch vscode because it wants to store extensions in my home directory (which is write protected)
![image](https://user-images.githubusercontent.com/49815452/119547324-674d2400-bdae-11eb-9529-e5af6f1f80f3.png)

[2021-05-25 18:13] #122023 closed

[2021-05-25 18:13] andreamah opened #124608 "VS Code Live Server - June Iteration Plans"
This tracks the upcoming work on the Live Server, which is described in #124607. Some of these may be deferred to the July iteration. See backlog #125343

Bug Fixes:
- [x] External links on browser are broken. #125200
- [x] Relative file links in sub-folders are not working. #125201
- [x] Make hosting port flexible + have error handling for if ports are occupied. #125152
- [x] Two refreshes when f

[2021-05-25 18:13] IllusionMH commented on #124575
Based on description I would guess that it's duplicate of #92379

[2021-05-25 18:14] altosaar opened #124609 "Spinner wheel in Python Debugger / similar to Jupyter notebook (currently no moving visual indication that a debug command is running)"
Steps to reproduce:

1. Use Python VS Code extension to launch a new jupyter notebook
2. Execute a cell with `import time; time.sleep(20)`
3. Notice the spinner icon that moves, denoting that something is running (below the cell with current runtime in seconds):
![image](https://user-images.githubusercontent.com/5317244/119547583-490e0680-bd63-11eb-95fd-28506ca0fe7b.png)

Now switch to the python

[2021-05-25 18:17] allan2 opened #124610 "Automatically add braces or quotations after JSX attributes"
For `.jsx` or `.tsx` files, WebStorm has a nice feature that automatically adds braces or quotations after JSX attributes. It's on by default too.

Since all attributes accept either string literals expressions in curly braces, this would help a lot of people.

This is how it would work:
[code]

In case it comes up, this issue is different from #35197. That issue was about auto-completing the brac

[2021-05-25 18:18] andyhohorst-highgear opened #124611 "Delete files action deletes wrong file if the cursor (the blue border?) is not on the selected files."
Issue Type: <b>Bug</b>

Steps to reproduce:
* Open a folder in VS Code
* Select multiple files
* Ctrl-click to deselect one or more files
* Press DELETE key
* Prompt and delete action work on the most recently deselected file (whichever one has the border)

Expected: That selecting a set of files and pressing DELETE would work on the complete selection, regardless of the steps taken to get to that

[2021-05-25 18:23] jrieken commented on #124530
Yes - extensions that assume that documents are always stored on disk (e.g. the `file` scheme) will have problems. However, that problem isn't new because "virtual documents" exists since the beginning. Extensions that rely on fs-access need to express that via `vscode.DocumentFilter.scheme`

[2021-05-25 18:24] shweaver-MSFT opened #124612 "Whitespace characters are near invisible in High Contrast theme"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: 21H1 build 19043.985

Steps to Reproduce:

1. Set Theme to High Contrast
2. Via Settings, enable All whitespace characters
3. Observe some code

![image](https://user-images.githubusercontent.com/25832310/119548601-3be51d80-bd4b-11eb-9343-714b418b4564.png)

The whitespace characters are there, but

[2021-05-25 18:24] jrieken commented on #122733
No, we have no plans to finalize that API in the near future

[2021-05-25 18:25] alyssajotice commented on #122733
Is support for it going to continue in the foreseeable future?

[2021-05-25 18:28] jrieken commented on #122733
Likely - there are some bigger problems with the API and esp with its implementation but we will keep things the way they currently are.

[2021-05-25 18:28] misolori commented on #124601
😮 Well I was wrong about that. Then I think we'd need to have different icons coming from the marketplace and then only display the correct ones depending on the screen resolution via [`srcset`](https://caniuse.com/?search=srcset):

[code]

[2021-05-25 18:28] vineet8588 commented on #124527
"workbench.editorAssociations": [
        {
            "viewType": "jupyter.notebook.ipynb",
            "filenamePattern": "*.ipynb"
        }
    ]

[2021-05-25 18:29] #124583 closed

[2021-05-25 18:31] AnWeber commented on #124530
Thank you for the explanation.

[2021-05-25 18:33] Tyriar commented on #124601
Or an svg, that's probably what most icons would be derived from anyway.

[2021-05-25 18:33] vineet8588 commented on #124527
Yes except it shows the interactive session normally if I drag and drop the ipynb file.
But the other two conditions mentioned there are true :

From file explorer when I right-click -> open with VS Code Insiders:

It shows the notebook experience if VS Code Insiders was already open before I did right-click -> open with VS Code Insiders
It shows the raw JSON file experience if VS Code Insiders wa

[2021-05-25 18:35] misolori commented on #124601
Yes, SVG would be best but I think there were some security limitations from the marketplace that have prevented this.

[2021-05-25 18:41] pythonmaxi commented on #124116
Same problem here on Linux debugging python code.

[2021-05-25 18:42] rzhao271 commented on #96307
This morning, I learned from @bpasero that there's a `.setSelectionRange()` method for the text input element, as well as `.selectionStart` and `.selectionEnd` attributes (https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange).

I added a `setTimeout` to the Fiddle, and got it to focus the inputbox and place the cursor at the end of the search string a short while aft

[2021-05-25 18:51] william-xiang commented on #124591
Thanks for the reply, @jrieken. Unfortunately, it does not give me any info in the log regarding this. When I debug it, got this exception info:

[2021-05-25 19:02] meganrogge commented on #124116
Will be fixed in Insider's tomorrow.

[2021-05-25 19:02] Ashray123 commented on #124382
@TylerLeonhardt  Would you please let me know what do you mean by setting a breakpoint at https://github.com/microsoft/vscode/blob/main/src/vs/base/parts/quickinput/browser/quickInput.ts#L1630 ?

[2021-05-25 19:03] mtlewis71 commented on #124444
No, it's not working correctly. I have other images in the same format without issue. The link is incorrect. I do not have a subfolder named /images/css. The image is only in the /images/ folder.

[2021-05-25 19:15] dbaeumer commented on #124396
I don't know how the getting started experience is implemented but non localized strings using nls.localize can't break a UI. The core loader infrastructure will use an English version of the string when it can't find a key in a language bundle. So it is not a matter of waiting. You should check if your English strings makes it into the `nls.metadata.json` which is produced during a build. You can

[2021-05-25 19:19] roblourens commented on #115334
This happened again, after not seeing it for a long time. This time, I have been using Light+ for a long time (24 hours?) and had just changed `"diffEditor.ignoreTrimWhitespace": false`, then the theme changed to Dracula.

[code]

[2021-05-25 19:20] #124247 closed

[2021-05-25 19:28] bitagoras commented on #124429
Well, actually, beeing a purist I have no justification for that round circles around the buttons:

![pure_symbols_crop](https://user-images.githubusercontent.com/10660123/119556953-e8e98580-bd9f-11eb-969c-ef354f178d30.png)

[2021-05-25 19:34] glouischandra commented on #123318
@mjbvz will do, I'll file a separate bug once we slim the example down.

[2021-05-25 19:51] JacksonKearl commented on #124396
I do see the correct content in nls.metadata.json... I think the problem could be with the markdown formatting.
![image](https://user-images.githubusercontent.com/8586769/119559685-dba8a880-bd57-11eb-95e4-1abe4ccad760.png)

Do you have suggestions for how we might format this better for the localization team? Either a comment or splitting out the button titles and description then combining them i

[2021-05-25 19:52] a0m0rajab commented on #124247
@rzhao do not you think that details and summary should be at the same emment since they both used inside each other?

I mean when you type: details

You should got this snippet:

<details> <summary> CURSER1 </summary>
CURSER 2</details>

By curser 2 I mean after pressing tab.

[2021-05-25 20:17] SniperGER commented on #124164
While we wait until the fix is shipped, adding `"args": ["-l"]` to the `bash` profile (or `zsh` if you use it) under "Terminal > Integrated > Profiles: Osx" temporarily fixes this issue.

Thank you @Tyriar!

[2021-05-25 20:17] rzhao271 commented on #124247
The detail and summary snippets should work on the latest [VS Code Insiders](https://code.visualstudio.com/insiders/) on the next update (within 48 hours).

[2021-05-25 20:19] rchiodo opened #124787 "Kernel shows up in the editor toolbar (not the notebook toolbar)"
![image](https://user-images.githubusercontent.com/19672699/119563009-dcdbd480-bd5b-11eb-8ccc-3e7007af2dce.png)

[2021-05-25 20:35] ImRodry commented on #121046
Yeah on Ubuntu I get this which is still not 100% ideal, that would be that it doesn't insert the new line at all and just adds */ to the end if that makes sense
![image](https://user-images.githubusercontent.com/38259440/119564841-20a4fd00-bda1-11eb-8dde-26b5d539838e.png)

[2021-05-25 20:37] johnsoncodehk commented on #124561
This problem seem only occurred in [Volar](https://marketplace.visualstudio.com/items?itemName=johnsoncodehk.volar) + `VSCode Insider`.

- https://github.com/johnsoncodehk/volar/issues/162#issuecomment-842296289
- https://github.com/johnsoncodehk/volar/issues/205#issuecomment-848116691

[2021-05-25 20:39] RandomFractals commented on #123884
that was fast & I can see my bytes there now. Thanks @jrieken & @bpasero for tagging us on those updates. I think the renderer api looks good now for adding some rich visualizations to cell outputs with it.

[2021-05-25 20:41] weinand commented on #124609
The debug toolbar and the orange status bar are already indicators that a debug session is running.

What exactly should a spinner show for a multi-process/multi-threaded program?

[2021-05-25 20:53] sbatten opened #124618 "Open in new restricted window fails to support `--wait`, `--diff` and `--goto` CLI options"
Steps to Reproduce:

1. Set up vs code as git commit message editor with `git config --global core.editor "code-insiders --wait"`
2. Attempt to commit from integrated terminal in a trusted empty window where the repo of the commit is not trusted
3. Choose open in new window

🐛 => command line will never return

[2021-05-25 21:20] altosaar commented on #124609
Got it, thanks!

Not sure about multi-process, this was just an observation when switching to VS Code and comparing the ease of debugging in jupyter notebook to python.

(On a 30+ inch monitor, it is hard to see whether the "Running" text is displayed; compared to the visual spinning icon like in a jupyter notebook on VS Code or a dynamic toolbar that might be possible)

[2021-05-25 21:24] #124520 closed

[2021-05-25 21:48] leilapearson commented on #104555
@Leedehai the PR he was referring to was merged earlier this month and is currently available in VS Code Insiders builds and should be in the next VS Code release which I think is due out pretty soon. It doesn't directly address this issue, but there is a unicode option which is a non-numeric sort which will perhaps meet your needs? If you have a chance to try it, let us know what you think.

[2021-05-25 21:51] sbatten opened #124619 "Untrusted Files prompt when trust is disabled"
Issue Type: <b>Bug</b>

1. Don't trust any workspaces
2. Disable workspace trust feature via the setting
3. Open a repository
4. Use ctrl+click to drag a file in the explorer from one folder to another (this copies the file and opens it in an editor)

:bug: => you are prompted about opening an untrusted file

VS Code version: Code - Insiders 1.57.0-insider (286b643ecd231f66f3f2e67e1456f3c601838b46

[2021-05-25 21:54] RandomFractals commented on #123884
potentially related for notebook renderer ext. devs to explore: https://github.com/microsoft/vscode/issues/123601

[2021-05-25 21:55] #124619 closed

[2021-05-25 22:17] NSExceptional commented on #124213
Hmm, this limitation is unsatisfactory to me:

I am explicitly trying to match potentially multi-line patterns. Perhaps I'm better off writing a small parser anyway?

[2021-05-25 22:27] devsparkles commented on #124434
I will try tomorrow morning.

[2021-05-25 22:29] RandomFractals commented on #123884
linking theming here too for other renderer ext. devs to use: https://github.com/microsoft/vscode/issues/107985

[2021-05-25 22:50] AllanOricil commented on #123281
The code is already public and it was not given any explanation about why this bug was introduced. Could anybody else from the vscode team help on this?

[2021-05-25 22:51] roblourens commented on #124605
Do you know what you did when you saw this?

[2021-05-25 23:00] #124437 closed

[2021-05-25 23:01] roblourens commented on #124437
I'm not sure which changes you are referring to, but it sounds like it's all good now

[2021-05-25 23:02] roblourens commented on #124457
Check that you didn't disable `editor.hover.sticky`

[2021-05-25 23:05] mjbvz commented on #123281
Again, please share the most minimal example that demonstrates the issue. When I last checked the sample, I have to spend time figuring out how your code is structure and supposed to work instead of being able to focus on identifying the potential issue

[2021-05-25 23:05] roblourens commented on #124417
Can you tell me which setting you are editing, and what the contents of your settings.json currently are? Do you see any errors in your settings.json file?

[2021-05-25 23:06] rockbyo5 commented on #123056
having the same issue. Error clearly appeared once i updated to 1.52.2 as it was working fine a few minutes before and started when i restarted VSCode  for update.
everytime i open the terminal, i get the second error from this screenshot (the EBUSY: ressource busy or locked) at the bottom right notification.
Running Windows 10 64bit education N build 19042.985
![image](https://user-images.githubu

[2021-05-25 23:14] rzhao271 commented on #77458
I was looking more into the ListWidget, and got confused by when `item.sibling` would be non-null in the following case: https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/preferences/browser/settingsWidgets.ts#L529

I noticed that the exclude widget set `sibling` here https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/preferences/browser/settingsTree.ts#L75

[2021-05-25 23:15] roblourens commented on #124230
Can someone get the logs that I asked for above?

[2021-05-25 23:19] roblourens commented on #124438
Yeah, this and many other properties come from JSON schema, but not all JSON schema properties are used for something in our GUI. There is another issue to give extensions more control over their setting display, I think https://github.com/microsoft/vscode/issues/70589. Maybe I would use it for that. Currently it does show up if you hover the setting in the json editor.

[2021-05-25 23:19] #124438 closed

[2021-05-25 23:19] roblourens commented on #117565
If I understand what happened here correctly, I'd call it a dupe of #58038 (thanks @iamCristYe)

[2021-05-25 23:19] #117565 closed

[2021-05-25 23:22] roblourens commented on #124554
Please file this issue on the vscode-python extension's repo: https://github.com/microsoft/vscode-python/issues

[2021-05-25 23:22] #124554 closed

[2021-05-25 23:22] roblourens commented on #124279
Sure

[2021-05-25 23:27] misolori commented on #119463
I've pushed changes to the vscode website and added the decision tree from above. If anyone has any additional changes/feedback, please add them here. Thanks!

[2021-05-25 23:36] NSExceptional commented on #124438
I would love it to be used for the final path component of the setting name, since it can be difficult to get it to display properly if you want it to be something complex like `NSArray` or `initWithFoo: → +new`

[2021-05-25 23:44] roblourens commented on #124279
PR: https://github.com/microsoft/vscode/pull/124621

[2021-05-26 00:42] jeremytenjo opened #124623 "TF400898: An Internal Error Occurred. Activity Id: 94aa251c-6a47-4625-be79-ab1892c36ac5 error when running vsce publish"
![image](https://user-images.githubusercontent.com/25231946/119585908-b63c8e80-bd99-11eb-87bf-a307b8eb18b2.png)

Getting `ERROR  TF400898: An Internal Error Occurred. Activity Id: 94aa251c-6a47-4625-be79-ab1892c36ac5.` when running `vsce publish`

What does error `TF400898` mean?

Thanks

[2021-05-26 01:07] laozei6401 opened #124624 "I can't setting default terminal"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Windows10

Steps to Reproduce:

1. upgrade vscode version to 1.56.2 after. vscode will turn on powershell by default.
2. I want working in git bash

[2021-05-26 01:08] redblue9771 opened #124625 "Add "Open in vscode" finder extension."
Add "Open in vscode" finder extension for faster operation experience.

![2031621990930_ pic_hd](https://user-images.githubusercontent.com/32461741/119587682-bf614600-be01-11eb-91bc-82dd1ec583aa.jpg)

[2021-05-26 01:09] connor4312 opened #124626 "Show a split view to allow navigation/inspection of different test messages"

[2021-05-26 01:10] connor4312 commented on #124626
Added in https://github.com/microsoft/vscode/commit/57af60a7b7f4774f007c78997763af5e2c67ceaa

![](https://memes.peet.io/img/21-05-9320d862-b63d-42ab-8e83-fc095adba42a.png)

[2021-05-26 01:10] #124626 closed

[2021-05-26 01:30] isra-fel commented on #112093
Hey @Tyriar , I believe @sguillia 's probem was about the same red line not scrolling the **editor** in full-screen mode, but opens the panel (terminal) instead.
I also believe they set the default location of the panel to **right**.

[2021-05-26 01:34] roblourens commented on #124408
@rebornix this is a tricky one. This is due to the extra 18px of padding that we put at the top of the editor for the top insertion toolbar (and it makes space so cell toolbars can overflow a little). Normally this is part of the height of each cell. Here, it should just be part of the height of the top cell. But, the cell VM doesn't know its index and I don't know a nice way to just change the he

[2021-05-26 02:04] kushagra2901 commented on #124417
The following are the contents of setting.json file but none of them is working.
{
    "folders": [],
    "settings": {},
    "editor.formatOnSave": true,
}
when i try to change any settings it shows that msg be it theme ,font size.
also i am not able to sync my account

the following are the errors on trying to sync
[2021-05-26 07:33:45.170] [settingssync] [error] Error: Can not add index to pare

[2021-05-26 02:14] roblourens commented on #124417
That looks like it might be a code-workspace file? Or if it is your settings file, it should not have the folders/settings nodes, can you check whether removing those fixes it?

What is the path to that file?

[2021-05-26 02:16] roblourens commented on #124625
What do you want a finder extension for vscode to do?

[2021-05-26 02:30] nikhbikh opened #124788 "Cmd+1/2 doesn't focus on the input box of Interactive Window"
## Environment data

-   VS Code version: 1.56.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.6.832593372
-   Python Extension version (available under the Extensions sidebar): v2021.5.842923320
-   OS (Windows | Mac | Linux distro) and version: Mac 11.2.3 (20D91)
-   Python and/or Anaconda version: Python 3.7.10, conda 4.9.2
-   Type of virtual environment used (N

[2021-05-26 02:32] redblue9771 commented on #124625
<img width="197" alt="WeChat39cdd53c9d560f12903ec9fce727f647" src="https://user-images.githubusercontent.com/32461741/119594003-95158580-be0d-11eb-8538-7e906d7340d1.png">

With it, I can right click on the file directory of the project. The right-click menu will display "Open this project in vscode". It’s faster than using the ‘code .’ command.

[2021-05-26 02:45] dragonly commented on #5970
Currently the local issue is fixed.
But when I use Remote - SSH extension, and open a symbolic linked git repo, the file changes are gone.

[2021-05-26 02:51] #124534 closed

[2021-05-26 02:52] tamuratak commented on #124552
Duplicate of https://github.com/microsoft/vscode/issues/107997#issuecomment-703245178

[2021-05-26 02:55] jdneo opened #124642 "Markdown links in the test message detail view is hard to read"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.57.0-insider (user setup)
Commit: 286b643ecd231f66f3f2e67e1456f3c601838b46
Date: 2021-05-25T05:24:28.413Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

Dark theme:
![WeChat Screenshot_20210526105241](https://user-images.githubusercontent.com/6193897/1195958

[2021-05-26 02:57] yaukeywang commented on #123565
No，it just freezes about 1-3 seconds and then disappeares. This issue happen before 3 times upgrade to current 1.56.2.

[2021-05-26 03:00] TylerLeonhardt opened #124643 "Extensions can't create 2 different sessions of the same provider"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Have an extension that does this:

[code]

2. You'll notice that `session3` is `undefined`...even though it should exist because we created it on line 1.

This is because we cache the session id based on the provider id & extension name but _really_ we should be caching them b

[2021-05-26 03:00] #119888 closed

[2021-05-26 03:00] #119836 closed

[2021-05-26 03:02] TylerLeonhardt commented on #124643
Verification steps:

The code above...but session3 should not be undefined.

[2021-05-26 03:21] natejgardner opened #124644 "Add option to disable animations for low-perf devices"
I'd like a setting to disable animations completely in VS Code. On low performance devices (I'm running on a Helio P60T), Code's renderer often uses more than 90% of all cores whenever animations are triggered, especially loading animations at the top of the navigation column. It would be great to be able to configure VS Code to run smoothly on low-end devices in some sort of lightweight graphics

[2021-05-26 03:48] kushagra2901 commented on #124417
the path to that file is .vscode>settings.json and on removing that folder and settings nothing changed

[2021-05-26 03:54] gregvanl commented on #124392
I think the banner message is confusing since there isn't an open folder.
Should the message in this case be: "Restricted mode is intended for safe code browsing. Trust this window to enable all features."

[2021-05-26 03:55] sachin-agarwal-by commented on #5923
any update on this its 5 years now .

[2021-05-26 04:06] gregvanl commented on #124392
Not sure how flexible some of the other UI is but the Extensions view Workspace Trust hover also mentions a "workspace" when no folder is open and should probably say "window".

![image](https://user-images.githubusercontent.com/12818376/119600751-8d69c880-bd9c-11eb-9e88-d76b57665322.png)

This might be tricky for the limited extension provided hovers.

[2021-05-26 04:28] johnsoncodehk commented on #124561
The problem is TS server freeze by special invalid content. And that is valid Vue content, but add to TS server by `getExternalFiles` api.

Repro: https://github.com/johnsoncodehk/ts-extension-freeze-repro

[2021-05-26 04:40] Mr-Smarty opened #124645 "Diff decorators not showing in gutter"
Issue Type: <b>Bug</b>

I cannot accurately pinpoint the cause and steps to reproduce. Last time I used VS Code, they were there, and now they are not. I have gone through many issues claiming this to be fixed through updates, but could not find a similar one for the latest version (1.56). Sorry if I've done something wrong in this issue, still sorta new to me :)

1. Init new repository or clone e

[2021-05-26 04:44] Mr-Smarty commented on #124645
Update: the issue does not appear across all repositories. It appears in one repository but not another located within the same directory.

[2021-05-26 04:59] labsurde commented on #9526
This issue has been open for long time and I have been looking forward to seeing this feature whenever a new version was released. :-)

I experience this issue especially when I edit a file with long line. In one editor _A_, I write my code in the file and , in another editor _B_ I refer to other piece of code in the same file.... but when I do `go back`, everything goes messy, making 'split edito

[2021-05-26 05:03] bpasero commented on #96307
Thanks for giving this a try. Can we ship this and investigate the browser view based solution separately? Maybe get some coverage in insiders to hear back from users how bad this is?

[2021-05-26 05:13] pranav-js commented on #124331
@aeschli  this is not the @apply you have pointed to, it's a postcss annotation. please correct me if I'm wrong https://github.com/tailwindlabs/tailwindcss/issues/381#issuecomment-364787287

[2021-05-26 05:28] seahindeniz commented on #106981
I'm not a fan of underline or block size looking cursor. Setting the cursor width to 2 worked for me and I hope it works for you if you are a fan of line cursor style...
[code]

https://user-images.githubusercontent.com/5789670/119606908-0ea47800-bdfc-11eb-9c52-5bd52f7cdac2.mp4

[2021-05-26 05:33] ddprajapati opened #124646 "TS Server fatal error: Debug Failure. Expected -119 >= 0"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-05-26 05:34] #124646 closed

[2021-05-26 05:38] jdneo commented on #124328
😲A little surprised about this, is that because users are not willing to configure the launch configuration in a file (prefer IDE wizard)?

Thank you, it works!

[2021-05-26 06:00] FE-ng commented on #124155
Thanks for giving this solution .
It can indeed handle this problem but when the first “cmd+q” is pressed,
we didn't get feedback .
So if the exit method can be like chrome having some feedback,  it will be
more friendly to developers .
How do you think so ？

Daniel Imms ***@***.***> 于2021年5月25日周二 下午9:26写道：

[2021-05-26 06:01] #124279 closed

[2021-05-26 06:04] deepak1556 commented on #123640
Can you provide the output of `NODE_DEBUG="child_process" code . --verbose`, if you think it has sensitive data, you can forward the logs to Deepak.Mohan@microsoft.com

[2021-05-26 06:09] FE-ng commented on #124155
On the other hand, I think that such a configuration should be in vscode by
default personally.In order to avoid misoperation like me.
Looking forward to your reply.

Eng F ***@***.***> 于2021年5月26日周三 下午1:59写道：

[2021-05-26 06:10] rashnk opened #124648 "allow user to uninstall npm package from Package.json"
Currently vscode allows user to run npm script from package.json file, when we mouse move on script, it will show 'run script' 'debug script' similar to that **when user mouse move on npm package name under dependencies, show option uninstall the package**

[2021-05-26 06:17] bpasero commented on #124354
Given https://github.com/microsoft/vscode/pull/124394#pullrequestreview-666598251, not sure this is needed anymore.

[2021-05-26 06:17] deepak1556 commented on #122111
Is this still an issue with latest stable `1.56.2` ? If it is, can you attach the logs from `~/Library/Caches/com.microsoft.VSCode.ShipIt/`

[2021-05-26 06:18] mjbvz opened #124649 "Add option to always use single file mode (syntax only mode) for JS/TS"
On web, we support running the TypeScript server in syntax-only mode. This limits IntelliSense to the current file (and also disabled some features such as renaming). The benefit is that it starts up almost instantly and doesn't require parsing the user's entire workspace

We'd like to add an option to enable this mode on desktop too. This would be a very specialized setting for a few use cases:

[2021-05-26 06:23] CombeeMike opened #124650 "Resolution of dependencies from node_modules in mono repo is sometimes incorrect"
Issue Type: <b>Bug</b>

No concrete reproduction steps as this only happens in our company repo ATM which I can't share.

I'll try to create some demo workspace which I can share.

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2021-05-26 06:24] deepak1556 commented on #124383
Merging this to https://github.com/microsoft/vscode/issues/122951 as it shares the same root cause.

[2021-05-26 06:24] #124383 closed

[2021-05-26 06:31] #124650 closed

[2021-05-26 06:36] bpasero commented on #123864
Actually I think the listening is done just fine but to truly capture any change to tabs (order, label), I think more events are needed in the [`_GroupEventFilter`](https://github.com/microsoft/vscode/blob/2f500f0ce560eac073c3065b90d8f21757edcc04/src/vs/workbench/api/browser/mainThreadEditorTabs.ts#L22-L22), specifically `GroupChangeKind.EDITOR_MOVE` and `GroupChangeKind.EDITOR_LABEL`.

I would al

[2021-05-26 06:37] GordonSmith commented on #124058
@chrmarti I have a similar issue but rather than `https.Agent({rejectUnauthorized:false})`, I am adding additional certificates via:

[code]
Is there a better way to do this?

[2021-05-26 06:48] deepak1556 commented on #124226
Couple of things to check:

1) Do you see the issue when opening https://vscode-web-test-playground.azurewebsites.net/ on your chrome or edge browser ?
2) Do you see the issue when you have the setting either `"window.titleBarStyle": "native"` or `"window.titleBarStyle": "custom"`
3) Are you running vscode as administrator ?

[2021-05-26 07:00] jrieken commented on #124213
I would say so - your ask seems quite specific and not like it would justify a general purpose API

[2021-05-26 07:00] #124213 closed

[2021-05-26 07:02] #124548 closed

[2021-05-26 07:07] aeschli commented on #123824
Can we add `web` for the web extension host?

[2021-05-26 07:11] aeschli commented on #124420
Thanks a lot. We need to create separate issue for each component, so I can assign it to the owner.

1) Issue against the keyboard shortcut editor
2) - 8) Issue against the Extensions editor
9) - 10) issue against the issue reporter
11) issue against the suggest widget
12) Issue against the test view
13) against the native menus
14) 15) against the editor (please add a code sample. I'm quite sure

[2021-05-26 07:13] jrieken commented on #121974
Close as done

[2021-05-26 07:13] #121974 closed

[2021-05-26 07:15] jrieken commented on #124535
Closing after discussion - dummy kernels should not come and go but come early and be incrementally completed after that

[2021-05-26 07:15] #124535 closed

[2021-05-26 07:19] jrieken commented on #119936
This has been fixed with https://github.com/microsoft/vscode/issues/123884. All data must now be presented as bytes (Uint8Array)

[2021-05-26 07:19] #119936 closed

[2021-05-26 07:25] Summer-Shen opened #124651 "Control for items in right click menus"
I wonder if we can actually control the items that would show up each time we right click on a file in the _EXPLORER_ side bar, or on some code in the editor.

I'm using VS Code for a variety of projects, including `Maven`+`Java`, `Vue`, and `Angular` projects, etc., and have installed a number of extensions. Chances are I'd find unintended menu items in the right click menu, and it would take sli

[2021-05-26 07:26] joaomoreno opened #124652 "Improve widget documentation"
I should do a pass over our base widgets and document their public API

- [ ] Sash
- [ ] Splitview

[2021-05-26 07:26] jrieken commented on #122671
not needed anymore

[2021-05-26 07:27] #122671 closed

[2021-05-26 07:28] jrieken commented on #120063
closing - `NotebookCellOutputItem` has now factory function for built-in types, esp for stdout/stderr and JS errors

[2021-05-26 07:28] #120063 closed

[2021-05-26 07:29] deepak1556 commented on #124500
Can you also provide the logs following the steps at https://github.com/microsoft/vscode/issues/123640#issuecomment-848487076

[2021-05-26 07:33] deepak1556 commented on #119828
@l33tli3s can you try launching with `code --force-device-scale-factor=1` and check if the issue happens.

[2021-05-26 07:38] sevenc-nanashi opened #124653 "Terminal cursor doesn't support proportional symbols"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:1.57.0-insider
- OS Version:Windows_NT x64 10.0.17134

### Steps to Reproduce:

1. Open PowerShell Terminal 2 times
2. Run `function prompt{write-host "It glitches: " -NoNewline; return " "}` (It's just an example)
3. Type something

### Result
![image](https://user-images.githubusercontent.com/59691627/119620957-872d

[2021-05-26 07:42] #124576 closed

[2021-05-26 07:42] isidorn commented on #124163
I discussed with the Table widget owner Joao and the revealing of the middle table element should work nicely for your use case.

So to recap you need a placeholder model with for example 500 elements, not all of them resolved. You should tell the tree to `reveal` the middle element 250, or the one you are interested in. Once the first or last element get revealed you need to tell the `table` to `

[2021-05-26 07:49] Franz333 commented on #124588
Hi @bpasero
thank you for answering..
yes I know those options.. it looks like vscode is having trouble managing encoding when the user changes from one code to another..
I will try to create a blank project later and detail the problem precisely
have a good day

[2021-05-26 08:03] #124507 closed

[2021-05-26 08:07] bpasero commented on #124588
Thanks

[2021-05-26 08:08] netanel-haber commented on #124457
Can confirm that editor.hover.sticky was (and is enabled) - I should clarify that the issue I described wasn't that hovering over the tooltip makes the tooltip disappear - the tooltip remains visible when hovering over it with the mouse - it just doesn't allow for grabbing the content.

[2021-05-26 08:30] GordonSmith opened #124655 "HTTP Proxy Support "Override" + Common Certificates"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:  1.56.2
- OS Version:  Windows 10

Steps to Reproduce:

Fetching data from "https://play.hpccsystems.com:18010/WsWorkunits/WUQuery.json" fails because "Trustwave" signing authority is not in the list of NodeJS CA authorities.  But Trustwave IS recognized by modern browsers and OS environments.

In a pure NodeJS enviro

[2021-05-26 08:44] p-i- opened #124656 "Maximize ACTIVE code window"
One code window is active (i.e. text goes into this window).
I would like to maximise/fullscreen this window (even if I have multiple editor groups open).
Intuitively I would expect the following:
- First, right-click on the tab (which shows the filename) -- I would expect a 'Fullscreen' menu item with a keyboard shortcut
- Second, Menu -> Window -> I would expect MaximizeActivePane
- Third, Menu

[2021-05-26 08:47] peterlymo opened #124657 "cant push in my own project via vscode"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.56.2 (user setup)
Commit: 054a9295330880ed74ceaedda236253b4f39a335
Date: 2021-05-12T17:13:13.157Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. add new update
2. when commit i get the error and i already login
![git](https://user-ima

[2021-05-26 09:02] xgdgsc opened #124658 "Suspend background windows to save memory"
Is it possible to implement an option to be able to suspend background windows (that haven' t been used for 2 days) to save memory. Something like the [Edge browser can do](https://www.howtogeek.com/712570/how-to-save-memory-with-sleeping-tabs-in-microsoft-edge/) . Would be useful for people with a lot of system workspaces and windows open that might be used once a week, and put to some background

[2021-05-26 09:10] alexdima commented on #123543
@joaomoreno Thanks for fixing :heart:

[2021-05-26 09:11] HY-SHEN opened #124659 "版面的字體有點小"
Issue Type: <b>Feature Request</b>

您好,請問這個程式可以放大嗎?
因為,如果不能放大的話,這樣眼睛看得很吃力

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042

[2021-05-26 09:11] alexdima commented on #123824
@aeschli How should that work? It is possible to have at the same time the local `ui`, the local `web` and the remote `workspace` extension hosts. Which one should the `workspacePlatform` reflect?

[2021-05-26 09:17] FUJonathan commented on #21611
I would also greatly appreciate if this could be implemented somehow. I haven't looked at the code, but wouldn't it be possible to either filter out duplicates in the suggestion list before presenting it to the user or not add a new entry if it's already in the list?

I find myself wanting to autocomplete function and variable names from the code I'm working on more often than those in the languag

[2021-05-26 09:18] dmi-github opened #124660 "Jupyter Notebooks not working after last update"
Issue Type: <b>Bug</b>

After applying the last update i cannot open my previously working jupyter notebooks anymore. (in the new native notebook editor)

The error message says: "INVALID mime type, must not be empty or falsy"

I can however create a new notebook, save it - close - and reopen it without problems.

Tried to copy the metadata from the new notebook to the old, but didn't help. Seems

[2021-05-26 09:19] jrieken opened #124661 "Element already has context attribute: output"
* have a cell that prints must output (I am using a for-loop with my nodejs nodebook)
* repeatedly run the cell
* notice errors on the console: `Element already has context attribute: output`

After a few times you'll also see leak warnings from the context key service. It seems that scoped context key services leak and I wonder if that's caused by the reuse of it attribute. The debugger tells me

[2021-05-26 09:23] fbricon opened #124662 "Extensions sharing common settings?"
Some background:
we (Red Hat) publish quite a [number of extensions](https://marketplace.visualstudio.com/publishers/redhat) on the VS Code Marketplace. We started to enable anonymous, opt-in telemetry collection a few months ago, via a `redhat.telemetry.enabled` setting. Since this setting is shared/respected by multiple extensions, we found the best way to register it was to use a [common extens

[2021-05-26 09:29] Lebby opened #124663 "Hight consumption in ram memory"
Issue Type: <b>Performance Issue</b>

open vs code, run top and see virtual memory consuption

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T16:45:26.313Z)
OS version: Linux x64 5.4.0-70-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 2400)|
|GPU Status|2d_canvas: enabled<br>gpu_compo

[2021-05-26 09:36] dbaeumer commented on #124396
The nls.localize function allows to provide comments to the translation team to give them hints on how to localize the string. See https://github.com/microsoft/vscode/blob/main/src/vs/base/common/keybindingLabels.ts#L104 as an example.

[2021-05-26 09:48] augustozanellato commented on #72759
You'll also need to add `"window.titleBarStyle": "custom"` in your config.json if you're missing the title bar while running vscode under wayland, see electron/electron#11907, electron/electron#27016, electron/electron#27522

[2021-05-26 10:02] m6502 commented on #13960
https://github.com/Microsoft/monaco-editor/issues/919

[2021-05-26 10:03] dbaeumer commented on #124663
@Lebby the memory consumption looks normal to me. Anything specific you are observing

[2021-05-26 10:04] Krzysztof-Cieslak opened #124665 "[Ghost Text] different color of the first line"
It seems that the first line of the ghost text has a slightly different color/opacity than the rest of it

<img width="396" alt="Screenshot 2021-05-26 at 12 00 14" src="https://user-images.githubusercontent.com/5427083/119641709-3acef180-be1a-11eb-80d9-c270b935eeac.png">

- VS Code Version: 1.57.0-insiders

Steps to Reproduce:

1. https://github.com/Krzysztof-Cieslak/vscode-ghosttext-test

CC: @he

[2021-05-26 10:09] perused commented on #124242
I just tested disabling from inside the app, closing it and then opening from launcher and the issue still happens, yes

[2021-05-26 10:10] matklad opened #124667 "TaskPresentationOptions.focus = false is not honored when the terminal is revealed"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

In rust-analyzer, we are are creating a Task with `focus = false` in the presentation. However, the terminal window is still focused if the terminal gets revealed. I would expect that the combination of reveal always and focus false results in the editor always keeping focus, even if the terminal nee

[2021-05-26 10:10] aeschli commented on #123824
@alexdima You are right, complicated. It would only be web if there are no local or remote extension hosts.

[2021-05-26 10:17] faeizalzhafrey opened #124668 "Couldnt Connect To Github and Microsoft"
![Screenshot (137)](https://user-images.githubusercontent.com/77710535/119643498-62d84800-be4e-11eb-9bb1-eb00c07ed827.png)

Havent solve the problem for a week, need to connect to my github so i can use the repo to clone and edit the code using vscode, sadly because i couldn't logged in i couldn't edit the coding

[2021-05-26 10:19] faeizalzhafrey commented on #124221
Sorry for the late reply, i couldnt connect to my github to vscode and this error message appear

[2021-05-26 10:19] isidorn commented on #124609
Fair feature request, but we have no plans to change anything here -> backlog
Let's leave open so we collect more user feedback, so far nobody complained about this.

Having a running spinner might be weird since debugging can be stopped and then nothing is in progress...

[2021-05-26 10:20] #124611 closed

[2021-05-26 10:23] #124660 closed

[2021-05-26 10:24] jrieken commented on #124660
@DonJayamanne looks like a missing or wrong API adoption with the output changes. Note the the argument order of the `NotebookCellOutputItem` ctor has changed

[2021-05-26 10:25] jrieken commented on #124651
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3A"menus"

[2021-05-26 10:25] #124651 closed

[2021-05-26 10:27] jrieken commented on #124357
I believe the UI is good for that

For "repeated" mime types I have added a few checks

* in the UI we always pick the first - basically what was already happening for custom renderers
* in the ext host we drop repeated types and warn when using the constructors and execution API

[2021-05-26 10:27] HaoboGu commented on #124649
does [standalone tsserver](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29) support this feature?

[2021-05-26 10:29] isidorn commented on #119463
@misolori thanks for updating the guidelines 👏
@devinvalenciano can we now share [these guidelines](https://code.visualstudio.com/api/references/extension-guidelines#notifications) with some of our partner extensions?

[2021-05-26 10:31] deepak1556 commented on #124658
This is best achieved in the runtime and not at the application level. Also, we already get this resource management for free from the various optimizations chromium and v8 does for background tabs, for ex:
https://blog.chromium.org/2021/03/advanced-memory-management-and-more.html
https://blog.chromium.org/2020/11/tab-throttling-and-more-performance.html

We have disabled the occlusion tracker on

[2021-05-26 10:31] #124658 closed

[2021-05-26 10:32] isidorn commented on #124594
@aeschli also assigning to you for the `virtualWorkspace` capability.
Debug is not doing anything special here. Should we? Is there something we need to adopt?

[2021-05-26 10:34] IllusionMH commented on #124645
/needsMoreInfo

Are there any changes to settings starting with `scm.diff` in workspace settings for this folder?

[2021-05-26 10:35] CNA-Prv-Rec opened #124669 "create ability to redirect Console.log to a physical file"
When building an application in node.js there may be a large volume of information output by npm, it is not always possible to see all of this because the console only allows a limited number of lines to be visible and data is lost once you have reached the limit. I would like to redirect what is in Console.log to a physical file so that when the console has lost the data I can still see it, also

[2021-05-26 10:36] jrieken commented on #124660
It looks like this announcement wasn't clear enough: https://github.com/microsoft/vscode/issues/93265#issuecomment-847723682

[2021-05-26 10:47] hanct opened #124670 "A single command line to update extensions in the extension pack to latest version"
Hi,

I have extensions installed under an extension pack. But now, some of the extensions of this pack are outdated. is there a command line for me to update those extensions (under the extension pack) to the latest version?
I know i can force an extension to be updated to latest version using
      Code --force --install-extension=<ext id>

But instead of executing this command for each and every

[2021-05-26 10:48] JoydeepBanerjee-webcrawler90 opened #124671 "tab key not working as expected for code intentation"
Issue Type: <b>Bug</b>

The Tab key is not functioning for indent process

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1035G1 CPU @ 1.00GHz (8 x 1190)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>m

[2021-05-26 11:09] guobing1993 commented on #124659
windows 平台可以使用 "ctrl +/-"  进行界面缩放。
或者单独在设置里设置字体大小 "editor.fontSize": 16
![image](https://user-images.githubusercontent.com/22333388/119649956-d6318800-be55-11eb-9445-4cc8859f116e.png)

[2021-05-26 11:14] joaomoreno commented on #124668
That `my.proxy.com` seems to be a bad configuration on your system. I suggest you fix that.

[2021-05-26 11:14] #124668 closed

[2021-05-26 11:25] Tekh-ops opened #124672 "Vs code integreted terminal is not responding when using the arrow keys in MacOS 11.4"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-05-26 11:25] #124672 closed

[2021-05-26 11:30] Tekh-ops opened #124673 "Vs code integreted terminal is not responding when using the arrow keys in MacOS 11.4"
Does this issue occur when all extensions are disabled?: YES sure

- VS Code Version: 1.56.2
- OS Version: 11.4 (20F71)

Steps to Reproduce:

1.  When I use the up and down arrows to navigate between commands in Vs integrated terminal, the terminal just froze and stops to respond
2. But I don't get any screenshots

[2021-05-26 11:32] #124118 closed

[2021-05-26 11:32] #124097 closed

[2021-05-26 11:32] #123821 closed

[2021-05-26 11:32] #117249 closed

[2021-05-26 11:32] #116644 closed

[2021-05-26 11:40] joaomoreno opened #124674 "Smoke test: Flaky `Multiroot - shows results from all folders`"
This specific test is failing more often than not, on macOS. It failed on every single red cross in the screenshot below. The location test also failed, but let's fix this one first to see if that also fixes the localization test. cc @dbaeumer

It's surprising that it succeeds sometimes. What's especially strange is that an exception still appears in the logs, even [when it succeeds](https://dev.a

[2021-05-26 11:43] aeschli commented on #124572
Are you using settings sync? Could it be that we sync the theme setting from the other machine that has a different dark/light mode?

[2021-05-26 11:45] hanct commented on #121470
I encounter similar issue.  All i hope is that we can set the environment variables for terminal at Workspace level.  I  was hopping nothing need to be set in the user settings.

[2021-05-26 11:45] arennow commented on #124572
I am, yes (I meant to mention that), but in my mind, the "automatically detect system color scheme" setting is the thing that's being synched, and each instance of the app should make appropriate choices based on that. Is there also a "light/dark mode" setting that's being synched?

[2021-05-26 11:53] AllanOricil commented on #123281
@mjbvz this is the minimal example I shared with you privately two weeks ago, and it is now publicly. It has the instructions to Reproduce it. You even accepted the invite when I shared with you. But here it is again.

https://github.com/AllanOricil/vscode-extension-nuxt

[2021-05-26 11:55] AutomatedTester opened #124675 "Emmet snippets not loading, gets stuck on "loading""
Issue Type: <b>Bug</b>

When working in a python I am trying to use snippets but they have stopped loading. They were working but now it gets stuck on "loading" when I press `tab`

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:44:30.902Z)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2021-05-26 11:55] joaomoreno commented on #124201
Sorry for the delay. Unfortunately I don't think you'd find many logs behind, especially if you say the entire VS Code folder is gone.

[2021-05-26 11:57] seawolf42 opened #124676 "Cannot launch VS Code from a shell"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: 11.4

Steps to Reproduce:

1. Install VS Code
2. Install `code` to path using the command pallet
3. Open Terminal
4. Type `code .`

### Expected Result:

VS Code opens with the current directory as the current context

### Actual Result:

[code]

### Additional Context:

This started happening 3 d

[2021-05-26 11:57] joaomoreno commented on #124302
You can try using the [Git extension API](https://github.com/microsoft/vscode/blob/main/extensions/git/src/api/git.d.ts). [Example](https://github.com/microsoft/vscode/blob/9cba86888c953fe4f665290462b2bd701f3cb971/extensions/github/src/extension.ts#L42).

[2021-05-26 11:59] aeschli commented on #124444
Your css file is in `../css/styles.css`. It contains a relative reference to `images/writing.jpg`. So the expected image location is `/css/images/writing.jpg`.

Maybe you have a packager or server that places the files differently at runtime. But from a static css document perspective, `/css/images/writing.jpg` is where the image is expected.

[2021-05-26 12:00] deboer-tim commented on #124662
IMHO the two most obvious solutions are:
1. Allowing a common parent extension to be marked as such, hidden in the extension UI, and automatically uninstalled when all of its children are.
2. A mechanism for extensions to have some shared settings.

The first might make more sense for this case but I don't know how many other extensions would use it outside of the biggest providers. The second cou

[2021-05-26 12:01] wtfzambo opened #124677 "Files get flagged with "unsaved changes" even when such changes are removed."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Windows 10 Home 20H2

Steps to Reproduce:

1. Open notepad and create a `.txt` file, type something random, save the file and close notepad.
2. Open said file with VSCode.
3. Type more random stuff.
4. Now delete the extra stuff you added, keep the original content intact.
5. Try to close the edit

[2021-05-26 12:05] #124407 closed

[2021-05-26 12:06] joaomoreno commented on #124657
What if you push from the terminal? `git push`.

[2021-05-26 12:06] joaomoreno commented on #123771
@isidorn This is tough to fix.

[2021-05-26 12:08] bpasero commented on #124674
@TylerLeonhardt related to recent changes maybe? The smoke test looks for this:

[code]

[2021-05-26 12:09] bpasero commented on #124674
Wait, this smells:

[code]

@JacksonKearl ?

[2021-05-26 12:09] bpasero commented on #124674
Maybe related to https://github.com/microsoft/vscode/issues/122317

[2021-05-26 12:10] joaomoreno commented on #124674
I wonder what's different between Linux/Windows and macOS, which makes the latter fail *very* often.

[2021-05-26 12:12] joaomoreno commented on #124676
What does `which python` return from your terminal?

[2021-05-26 12:15] yannickowow opened #124678 "Issue when loading webviews : ERR_ABORTED 404"
Does this issue occur when all extensions are disabled?: N/A

- VS Code Version: 1.57.0-insider (user setup) Date: 2021-05-26T05:14:06.346Z
- OS Version: Windows 10 x64

Hello guys,
I do have an issue with webviews using VS Code 1.57 Insiders. This issue does not appear on VS Code 1.56.2 and before.

GET https://file+.vscode-resource.vscode-webview.net/c%253A/debug-extension/debug-extension/Extens

[2021-05-26 12:16] weinand opened #124679 "Make VS Code use DAP's "setExpression" request"
In https://github.com/microsoft/debug-adapter-protocol/issues/188 we've discussed how to simplify the implementation of DAP's `setVariable` request in debug adapters. The proposal asked for passing an additional "l-value expression" to `setVariable` which can be easily used in an "evaluate"-based implementation.

One finding of this discussion was that DAP has already a `setExpression` request whi

[2021-05-26 12:17] aeschli commented on #124594
When a window contains a virtual workspace, all extensions that have `_isDisabledByVirtualWorkspace` should be disabled.
The launch and debug commands are also disabled.

@alefragnani Can you explain more, Where is your extension contributing? What are the steps to reproduce the issue.

[2021-05-26 12:21] weinand commented on #124669
@CNA-Prv-Rec how and where are you running your npm build scripts?

[2021-05-26 12:22] #124674 closed

[2021-05-26 12:22] isidorn commented on #124679
This makes good sense. Let me assign to June, so we change this next milestone once we finalise the DAP clarification.

[2021-05-26 12:22] bpasero commented on #124674
Startup editor is now `empty`, via https://github.com/microsoft/vscode-smoketest-express/commit/a65be2a6b5b65536550e901b7ea33b384d73ff63 and https://github.com/microsoft/vscode/commit/4cda850edf57f244260b7b534cbb8d7c3717f58a

I suspect we run some random getting started experiment only in built form.

[2021-05-26 12:23] bpasero commented on #122317
Maybe fixed with https://github.com/microsoft/vscode/issues/124674 too.

[2021-05-26 12:26] #123784 closed

[2021-05-26 12:29] seawolf42 commented on #124676
That's a good question. I run python within Docker containers, and have been doing so using an alias:

[code]

This has been working just fine and has had no effect on VS Code. I recently (about the time this issue occurred) switched from an alias to a script that is early in my `$PATH`:

[code]

This appears to be what broke things.

[2021-05-26 12:36] #124494 closed

[2021-05-26 12:37] aeschli commented on #124572
We have a setting "workbench.colorTheme" that contains the current theme.
There's also a setting `window.autoDetectColorScheme`, that when on, sets the "workbench.colorTheme" accordingly. It does that when there's a OS scheme change event from the OS or on restart.

The problem you are seeing is that `workbench.colorTheme` comes in from settings sync, invalidating the theme chosen based on 'window

[2021-05-26 12:39] joaomoreno commented on #116946
This is the one:

https://github.com/microsoft/vscode/blob/dff33d73244acced865a2643a62126409cb541a7/src/vs/base/browser/ui/splitview/splitview.ts/#L240-L241

But you've seen this, since it's what eventually gets you here:

https://github.com/microsoft/vscode/blob/dff33d73244acced865a2643a62126409cb541a7/src/vs/base/browser/ui/splitview/splitview.ts/#L240-L241

But that is only at the splitview lev

[2021-05-26 12:40] joaomoreno commented on #124676
If you inspect our launcher, you'll see that we depend on Python, unfortunately: `cat $(which code)`. You can hardcode your system Python in that script and that'll fix it for you.

[2021-05-26 12:42] pranav-js commented on #124331
alright gotcha!

[2021-05-26 12:49] Tyriar commented on #112093
Oh OK, thanks for the clarification

[2021-05-26 12:55] seawolf42 commented on #124676
OK, that makes sense. I believe hardcoding a change in the launcher will break every time I upgrade Code, but I can work around that by switching back to the alias I was using.

[2021-05-26 12:55] #124676 closed

[2021-05-26 12:58] iostrym commented on #115784
Hello, thanks for all feedback, its sad that on website it is not clearly indicated that RH7 is no longer supported.

Better solution is then to install 1.53 version (2021/01) that is last version that officially support RH7, right ?

About the workaround (gcc10-libstdc++.x86_64 installation), I don't have internet access from our server. Is it possible to install gcc10-libstdc++.x86_64 directly f

[2021-05-26 13:24] deepak1556 commented on #124242
Can you test with vscode deb package from https://code.visualstudio.com/#alt-downloads instead of the flatpak version.

[2021-05-26 13:26] Mr-Smarty commented on #124645
Settings for both user and workspace are default.
![image](https://user-images.githubusercontent.com/69656599/119667675-824a8300-be04-11eb-970f-71746ac57a06.png)

[2021-05-26 13:43] Tyriar commented on #124155
I've suggested this before but think it was rejected because it's still non-standard behavior on mac

[2021-05-26 13:45] Mr-Smarty commented on #124645
Update: The issue appears to be with a certain file. I tested making changes in other files within the project, even files within the same path as the file with the issue. Diff decorators in the gutter seem to work for every file but one. Some sort of bug?

[2021-05-26 13:47] IllusionMH commented on #124645
Do you see this file in Changes section of SCM view or when you run `git diff`?

Maybe this file is just ignored in Git?

[2021-05-26 13:47] Tyriar commented on #124624
/duplicate https://github.com/microsoft/vscode/issues/123188

[2021-05-26 13:47] #124624 closed

[2021-05-26 13:54] sans238 commented on #35571
When will this feature be available?

[2021-05-26 14:02] isonil opened #124680 "Regression after update - unable to use 2 Unity projects at once"
Issue Type: <b>Bug</b>

After updating Visual Studio Code it's no longer possible to use 2 Unity projects at the same time (using Visual Studio Code on Mac). This happens:

1) The previously opened project works correctly - I can right-click a class name, and options like "Go to definition" appear.
2) The newly opened project doesn't work correctly - after right-clicking a class name only options

[2021-05-26 14:05] JacquesBass commented on #35571
There's hope. The request is not closed yet (4 years open). Someone must read this.

[2021-05-26 14:09] isidorn commented on #122035
I have investigated into this and my finding is the following:
1. The context menu gets shown properly, however a keyboard wants to pop up from the button, causing a resize, causing a relayout of the context menu
2. The relayout of the context menu sets both `X` and `Y` coordinates to zero [here](https://github.com/microsoft/vscode/blob/main/src/vs/base/browser/ui/contextview/contextview.ts#L327)

[2021-05-26 14:11] Yehuda69 opened #124682 "when runnning code without debugging"
We have written the needed data into your clipboard because it was too large to s
Issue Type:

The following message appears when I run the program without debugging.
"launch program- does not exist".  Can  this be explained and how do I correct this? Thank you.

end. Please paste.

[2021-05-26 14:11] thernstig opened #124683 "babel.config.json language mode should be 'jsonc'"
Babel recommends using `babel.config.json` since a while back. Their JSON is parsed as JSON5, which supports comments. As such `babel.config.json` should have the language identifier `jsonc`. In addition the file `.babelrc.json` should also be get the same language id.

See https://babeljs.io/docs/en/config-files#supported-file-extensions

The change should be done here:
https://github.com/microso

[2021-05-26 14:14] Rahulkhinchi03 opened #124684 "not working"
Issue Type: <b>Bug</b>

not working

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: enabled_on<br

[2021-05-26 14:17] major-mayer commented on #124202
Yes that's a problem in general with CSD, but unfortunately there won't change much on the Gnome side in the near future...

[2021-05-26 14:19] joaomoreno opened #124685 "Markdown & Notebook markdown are missing files in web"
With https://github.com/microsoft/vscode/pull/124557/files we started using notebook renderers on the web. But the web bits are missing the `notebook-out` folders, since the web build is completely separate from our regular build.

cc @mjbvz

[2021-05-26 14:19] avanishsubbiah commented on #124202
Wait so how do other gtk Wayland applications support the default gnome window title bar?

[2021-05-26 14:22] Garrison88 opened #124686 "Saving and running 'Dart' formatter"
Issue Type: <b>Performance Issue</b>

VS Code hangs while saving a file, even after making just a minor adjustment. It is trying to run the 'Dart' formatter, but never completes. I have tried completely uninstalling VS Code and restarting my Mac, but I am still experiencing the problem. It started when I updated Flutter to 2.2

VS Code version: Code 1.56.2 (Universal) (054a9295330880ed74ceaedda236

[2021-05-26 14:26] thqby opened #124687 ""indentationRules" in the language configuration file was not working"
Does this issue occur when all extensions are disabled?: Yes

VS Code Version: 1.56.2 (system setup)
Data: 2021-05-12T17:13:13.157Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Modify the Language Extension's language configuration file, add this code.
[code]
2. Reload Window.
3. Type `if a = 1`, an

[2021-05-26 14:29] isidorn commented on #106972
I have disabled the full screen on iOS. For now leaving this one open as upstream and assigning to backlog if Safari provides a programatic way to enter full screen mode.

[2021-05-26 14:34] andr3medeiros commented on #124500
Sure, here it goes:

NODE_DEBUG="child_process" code . --verbose
CHILD_PROCESS 22306: spawn {
  detached: true,
  env: {
    TERM_PROGRAM: 'Apple_Terminal',
    ANDROID_HOME: '/Users/amedeiros/Library/Android/sdk',
    VSCODE_NODE_CACHED_DATA_DIR: '/Users/amedeiros/Library/Application Support/Code/CachedData/054a9295330880ed74ceaedda236253b4f39a335',
    TERM: 'xterm-256color',
    SHELL: '/bin/zs

[2021-05-26 14:36] joaomoreno commented on #124685
@mjbvz This over-customization of extensions build further complicates our already-complicated build. It would be good to have synced on this beforehand. I am now refactoring `gulpfile.extensions.js` and `lib/extensions.ts` to accomodate for the code reuse with `gulpfile.web.js`. This was already a big mess due to the past introduction of `gulpfile.web.js` (cc @aeschli), and with the introduction

[2021-05-26 14:36] IllusionMH commented on #124686
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Looks like duplicate of https://github.com/Dart-Code/Dart-Code/issues/3270

[2021-05-26 14:37] andr3medeiros commented on #124500
External terminal. I might add that I'm using zsh 5.8 (x86_64-apple-darwin20.0). Remembered just now.

[2021-05-26 14:39] andr3medeiros commented on #124500
I mean the "/" folder. I tried first with it already opened and then closed.

[2021-05-26 14:41] Mehak-Mehta opened #124688 "Extension's content doesn't load after publishing"
Does this issue occur when all extensions are disabled?: Maybe

Issue:
 I have been working on a vscode <a href="https://github.com/Mehak-Mehta/VSInterest">extension</a>. After publishing the extension I tried to download it from the marketplace. To my surprise, the extensions content didn't load, it just showed a blank sidebar(though it was working fine in the development). Here is my <a href="ht

[2021-05-26 14:41] aeschli commented on #124683
There will be validation errors when using JSON5. JSONC does not support the same syntax as JSON5.

There are JSON5 extensions out there, so the proper thing would be to assign `babel.config.json` with `json5`

[2021-05-26 14:42] Lebby commented on #124663
@dbaeumer I'll add all additional info.
The Virtual Memory occupied is over 80gb ... it is not normal of any process ...

`ps -o pid,%mem,vsz,rss,command ax | sort -b -k3 -r| grep /usr/share/code/`
[code]
Is it still normal?

[2021-05-26 14:43] eyk opened #124689 "Setting workbench.startupEditor=readme|newUntitledFile doesn't work in Workspace Settings"
Issue Type: <b>Bug</b>

Save an empty workspace with a README.md file.
Set "workbench.startupEditor": "readme" in the workspace.code-workspace file.
Close all tabs and restart VS Code.

VS Code should open the README.md preview on startup, but it doesn't. The workspace setting is ignored.

As a User Setting workbench.startupEditor=readme works as expected. The preview ist shown on startup.

The se

[2021-05-26 14:43] Tyriar commented on #120369
We'll also need the `onTerminalProfile` activation event for this

[2021-05-26 14:47] alexdima opened #124692 "Confusing trust message in banner for new empty window"
* enable workspace trust
* open new empty window
* the banner message mentions "this folder" which is confusing

![image](https://user-images.githubusercontent.com/5047891/119680781-c6a84400-be41-11eb-8fc0-a3f7e3c9581c.png)

[2021-05-26 14:48] RajatSing786 opened #124694 "wrong python path in debug configuration"
Issue Type: <b>Performance Issue</b>

whenever i run a python program it shows that the python path in my debug configuration is invalid even when all the extension and required files are properly installed since very beginning of my journey with vs code. i am a beginner,help me with this issue it is difficut for me to understand

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a

[2021-05-26 14:53] major-mayer commented on #124202
Well, they are GTK applications... The GTK toolkit includes methods to draw title bars, decorations, however you call them.

If the developers from Microsoft would really like to add GTK styled window decorations for VSCode running under Gnome and Wayland (which I doubt), it would make more sense to do this in directly inside the Electron project.
But GTK is a big dependency and I'm not sure if it

[2021-05-26 14:55] J-M0 commented on #115784
@iostrym, the Ghetto Forge libstdc++ doesn't have any dependencies, so you should easily be able to install the rpm on its own. It installs into `/opt` so it shouldn't conflict with anything already on the system.

Direct link: https://mirror.ghettoforge.org/distributions/gf/el/7/gf/x86_64/gcc10-libstdc++-10.2.1-7.gf.el7.x86_64.rpm

[2021-05-26 15:01] FE-ng commented on #124155
I think there is no absolute standard especially for such user experience
issues .
Not only chrome but also iTerm2 has a secondary confirmation function to
exit .
Why don't we initiate a poll to ask more developers ？

I found another way to solve my problem  when I searched for similar
issues just now.
Google gave me a software for mac called SlowQuitApps ,Although I still
hope that vscode can lau

[2021-05-26 15:10] GitMensch commented on #115784
Simply because "upstream Electron": https://code.visualstudio.com/updates/v1_53#_electron-11-update

Also see the note above from @Tyriar:

So the question is _not_ "why".
The open question is: will MS provide special RPMs as outlined by @J-M0 at https://github.com/microsoft/vscode/issues/115784#issuecomment-834835385 (which would possible lead to additional bug reports because upstream Electron d

[2021-05-26 15:22] sifordtj commented on #115784
I don't expect you to know/see that everything that you have provided I already know.  So many posters in this thread.  I've even already done the workaround and everything is aok (for now).

I guess I worded my question wrong.  Maybe it was better written as "I (and others) would appreciate an official explanation as to why the upstream Electron was considered to be more important than keeping in

[2021-05-26 15:23] rzhao271 commented on #124675
\gifPlease

[2021-05-26 15:25] sqal opened #124695 "unable to open scss files with names containing a dot"
Latest vscode version is unable to navigate (using ctrl+click) to another scss file when its name contains a dot e.g. foo.mixins.scss. When I try to open such file, i get the following error message:

Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Windows 10

Steps to Reproduce:

1. Create two files e.g. `app.scss` and `foo.mixins.scss`

[code

[2021-05-26 15:26] GitMensch commented on #115784
I see, then this is a question for another repo - see https://github.com/electron/electron/issues/27480 (and others) that write about "not on the supported list any more".

[2021-05-26 15:26] appurist commented on #115784
@GitMensch Except that those comments are actually **the part that doesn't make sense**.

I develop Electron 11 and 12 versions of my app on my CentOS 7 target machine and nothing broke compatibility in Electron updates so as far as I can see there's nothing inherent _in the Electron updates_ that require this change. This whole "we had to bump our build image to use Ubuntu-18.04 for x64 linux mac

[2021-05-26 15:32] digitarald opened #124696 "[Getting Started] Jittering opening animations in Getting Started while VS Code loads"
Saw this both in clean install and my working instance. The animation for the active element keeps re-opening

https://user-images.githubusercontent.com/8599/119688269-b02bc980-bdfc-11eb-96a9-f334994f9cc0.mp4

Looks like some UI update re-triggers the animations.

[2021-05-26 15:34] #124694 closed

[2021-05-26 15:36] dbaeumer commented on #124687
Not sure who owns this

[2021-05-26 15:37] deepak1556 commented on #124500
@bpasero in the above log the environment contains `VSCODE_CWD: '/',` which I believe is what is respected by the application. Can you share some insight on who sets this variable ?

[2021-05-26 15:38] dbaeumer commented on #124684
/needsMoreInfo

[2021-05-26 15:40] iostrym commented on #115784
thanks a lot. do we have a feedback for this workaround from people that use massively all function of this tool ? are we well confident about this workaround "working" ?

[2021-05-26 15:41] shibaprasadsahu943 opened #124697 "thr cursor is not insert"
Issue Type: <b>Bug</b>

when i am create a new file the cursor is not insertes and  i am typing what is not get in editor in vs code, also when i am after run edit code, my cursor is not able to work

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19043

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-05-26 15:42] mjbvz commented on #124685
Ok, let me know if you have questions about the current structure. Some parts probably need to remain unique to the webview extensions build stage. For example, we use esbuild instead of webpack so that we can output native modules

[2021-05-26 15:42] dbaeumer commented on #124680
VS Code out of the box doesn't provider Unity / C# support. I assume that you see this behavior in a C# file. If so please file the issue against the corresponding C# extension.

[2021-05-26 15:44] bpasero commented on #124500
@deepak1556 yeah we store `process.cwd` in there:

[code]

[2021-05-26 15:45] JosephKarpinski opened #124698 "VSCode Insiders 1.57.0 Jupyter Notebooks invalid mime type must not be empty or falsy"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:1.57.0
- OS Version:MacOS 11.3

Steps to Reproduce:

1.Latest VSCode Insiders update downloaded and installed
2.Can no longer open Jupyter Notebooks
3.Get Unable to open INVALID mime type, must not be empty or false

[2021-05-26 15:45] bpasero commented on #124677
/duplicate https://github.com/microsoft/vscode/issues/919

[2021-05-26 15:46] #124677 closed

[2021-05-26 15:46] egamma commented on #124013
@kevin-peng-hao thanks for your comment, but please file a new issue with reproducible steps against the C++ extension.

[2021-05-26 15:49] isonil commented on #124680
There are no VS Code extensions involved here, but Unity does something magic to open such projects in VS Code indeed (and there's no "sln" project I can just open outside of Unity). But you're right, perhaps it's an issue with Unity. I guess something just broke somewhere.

[2021-05-26 15:52] Tyriar commented on #124653
Can you elaborate what the problem is exactly?

[2021-05-26 15:55] deepak1556 commented on #124500
Interestingly in the above log, `PWD: '/Users/amedeiros/Documents/work/necen/necencrm/necen-dxcrm-ui',` while `VSCODE_CWD: '/'` . I am not sure if `process.cwd()` is not working currectly here or if this value is from a previous environment.

@andr3medeiros can you delete the environment variable `VSCODE_CWD`  and try the above steps again, also paste the log.

[2021-05-26 15:55] Ymarion345 opened #124699 "Vscode Not able to debuging azure function anymore"
Last month a was able to debug my azure function locally and this week i have to do some modification and when i try to start it the debug mode is not working anymore.

[2021-05-26 15:56] jbovone opened #124700 "undo stack LOST."
Since this problem was caused for particular no reason because i was normally using vscode, i can not provide any insights to reproduce this.

But since THIS IS HAPPENING, probably would be a good idea to mount an operation to figure it out, you know. Losing your work because of an undo not working properly isn't ideal scenario for a code editor and i probably will switch this editor for another b

[2021-05-26 15:57] deltadelta commented on #81589
WTB this update!

[2021-05-26 15:59] Mehak-Mehta commented on #124688
![2021-05-26](https://user-images.githubusercontent.com/76558546/119692689-3d0c6c80-be69-11eb-8b84-038da23f01c3.png)
It is showing a blank sidebar, but it should show the continents. Does it take time to load the continents??

[2021-05-26 16:00] mjbvz commented on #124678
What does `this.loadScript` do? Please share a self-contained, minimal example extension that demonstrates the issue

[2021-05-26 16:03] mjbvz commented on #123281
I'll try to take a look when I have a chance but that is not a minimal example. To speed things up, please create something more akin to https://github.com/Microsoft/vscode-extension-samples/tree/master/webview-sample that contains the bare minimum amount of code needed to demonstrate the issue

[2021-05-26 16:05] mjbvz commented on #124649
Yes, it's already used while loading projects and on serverless cases on web

[2021-05-26 16:05] #124419 closed

[2021-05-26 16:09] AllanOricil commented on #123281
@mjbvz man, common. The example I shared is extremely simple. I think you did not even read the README in the project. There is just a really small express server and a nuxt app with one component that does a request to this express server. You don;t even need to understand Nuxt at all. Just verify that axios does a request to the express server that runs on localhost and it times out, because the

[2021-05-26 16:10] dbaeumer commented on #124699
/needsMoreInfo

[2021-05-26 16:10] Lee182 opened #124701 "Input changing direction to rtl annoying especially when content is not rtl."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Open search in an editor
2. Change keyboard to rtl language like hebrew / arabic
3. Change keyboard back
4. The input stays as dir='rtl' even if the content is english
5. To fix would like a setting for inputs to always be ltr
![image](https://user-images.githubusercontent.com

[2021-05-26 16:11] dbaeumer commented on #124698
Dups #124660

[2021-05-26 16:11] #124698 closed

[2021-05-26 16:14] Seefer commented on #124561
As a web-dev newcomer, this only seems to happen if I'm using VS Code in a project for simply learning Javascript that does not have any NPM packages, just one HTML file that links to a javascript file.  In another project with just these two files but also using NPM packages and containing `node_modules `and a `package.json`, I briefly get the JS/TS language initializing message before it complet

[2021-05-26 16:20] appurist commented on #115784
@GitMensch Agreed. I'm not sure what the problem is here since my Electron 11 & 12 apps, and all the others I use, continued to run fine, but only VS Code didn't. I think this means CentOS 7 could be added to that list in the link, yet for some reason VS Code still requires something newer. Perhaps the problem is that VS Code's 18.04 build machine isn't a generic 18.04 but has its libraries upgrad

[2021-05-26 16:25] yannickowow commented on #124678
Here is `this.loadScript`
[code]

It looks like I was doing it wrong here, I need to generate an URI using webview method `asWebviewUri` instead...

Sorry for the inconvenience

[2021-05-26 16:26] mikajed opened #124702 "Not possible to hide the Menu Bar"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Arch Linux 5.12.6-arch1-1

Steps to Reproduce:

1. Try to toggle the Menu Bar
2. Menu Bar doesn't hide

Arch Linux 5.12.6-arch1-1
GNOME Shell 40.1
Electron 12.0.9
![recording](https://user-images.githubusercontent.com/84669111/119696872-e9d9f000-be4f-11eb-8175-971219b7c336.gif)

[2021-05-26 16:27] The-Compiler opened #124703 "Allow to escape icon syntax in extension labels"
For labels in extensions, using e.g. `$(rocket)` [results in an icon being displayed](https://code.visualstudio.com/api/references/icons-in-labels).

However, there seems to be no way to show the literal text `$(rocket)` in a label, i.e. escaping the icon syntax. This is relevant for the Vim extension, as it makes it impossible to e.g. search/replace icon codes using the Vim commandline input when

[2021-05-26 16:29] mjbvz commented on #124678
Yes definitely switch to `asWebviewUri` instead. It is the only officially supported way to load resources in webviews now

However to support existing extensions, we have logic that should rewrite any old, hardcoded `vscode-resource` URIs to use the new uri scheme instead. Let me see if that's broken

[2021-05-26 16:31] tilleyc commented on #115784
This is it exactly, but they either don't want to admit it, or are unwilling to do so. It's a very easy fix (change to older libs [read: a different build machine] for building the el7 rpms), but in true MS fashion, that's asking too much, so we're all being served flimsy excuses.

I have plenty more I could say, but it's all rather unkind, so I'd rather just leave it at the facts of:

 - this sho

[2021-05-26 16:33] rebornix commented on #124605
@roblourens I realized there are such errors after the settings editor is closed.

[2021-05-26 16:35] legomushroom commented on #122421
@nathancarter thanks for reporting this 👍 Was it in the web client or the desktop one? Did you capture logs by chance? If that was the browser client, you can copy all the logs from the browser devtools directly. 😊  **The logs may contain your private info** so please send it to be directly at `olsolomk@microsoft.com` or `legomushroom@github.com` to prevent exposure. 🤗

[2021-05-26 16:45] yannickowow commented on #124678
Ok, I was not aware about this "rewrite" logic.
Is it worthy to reopen this issue ?

[2021-05-26 16:56] keegandent commented on #115784
@appurist I am in a somewhat similar boat, we are about to try manually compiling and injecting the updated libstdc++.so.6 from the GCC that ships with ubuntu 18.04 to see if that fixes it, but I’m more concerned with what might break going forward.

I was doing this to try and get us away from Eclipse (yes, please kill me) but now I don’t see this becoming the primary editing tool if it’s not eve

[2021-05-26 17:00] mjbvz commented on #124678
Rewriting seems to work on MacOS. Taking a look on windows

[2021-05-26 17:02] Ymarion345 commented on #124699
Sorry,
When a start the debug with F5 normally you can see debuging in the first line but this what i got and none of my break point works
![image](https://user-images.githubusercontent.com/60008767/119701356-3dcde000-be22-11eb-9bd7-43be441dc58b.png)

I have read to debug you have to be in 64 but its my case and i have not change nothing in my setting since the last time (about two weeks or a litt

[2021-05-26 17:02] onurtore commented on #45156
Bruh, really... Do I have to learn electron and fix it by myself... Trust me, it's not gonna be nice.

[2021-05-26 17:07] deepak1556 commented on #124500
yeah the values seem to align now, @bpasero looks like a stale value from before was the root cause.

[2021-05-26 17:18] deepak1556 commented on #115784
Thanks @GitMensch and others for helping with the workarounds.

First let me clarify on the toolchain update, when we updated to Electron 11 the v8 headers that come with it were no longer compilable with gcc < 5, these headers are used by native node modules which we bundle. At that time, our build ci was based on ubuntu-14.04, I considered it to be a good time to align vscode ci with same versio

[2021-05-26 17:24] bpasero commented on #124500
Well, we do set the environment variable when you launch VSCode, but that variable should be gone when you quit.

@andr3medeiros are you sure the issue is resolved for you? What steps did you previously do to get there?

[2021-05-26 17:24] bpasero commented on #96307
I like it 👍

[2021-05-26 17:36] GYK90 opened #124704 "vscode.env.openExternal handles plus sign incorrectly"
Issue Type: Bug

## problem summary
I want to open a url with parameters including plus sign. But after the web is opened, plus sign is missing.

## Reproduce steps:
1. in your browser, paste "https://www.google.com/search?q=1+%2B+1+%3C+3" into the address bar, press 'enter'. This should open Google and it searches "1 + 1 < 3" in the search bar.
2. in a webview of extension, add
[code]
and run thi

[2021-05-26 17:42] award999 commented on #114177
@alexr00 any idea when this will be assigned to a release? The 1ms timeout is not always enough. For our extension we have it set to 500ms and it still hangs sometimes and the only way around it is to restart VSCode completely.

[2021-05-26 17:54] JacksonKearl commented on #124674
Thanks, we could also disable experiments entirely, `"workbench.enableExperiments": false`

[2021-05-26 18:34] BurtHarris opened #124706 "Unexpected automatic download including rg.exe"
Issue Type: <b>Bug</b>

Not sure.   When I work my machine today and started working, an automatic download notification appeared:  The main part of the message said:  "rg.exe is downloading from OneDrive - sigilnet":
![image](https://user-images.githubusercontent.com/2715647/119713455-8ed7d700-be16-11eb-9158-5437a2bdbf54.png)

The download was totally unexpected and was more than 20GB.   Because

[2021-05-26 18:34] BurtHarris commented on #124706
![image](https://user-images.githubusercontent.com/2715647/119713226-533d0d00-be16-11eb-9bbe-f40afe136bf6.png)

[2021-05-26 18:40] joaomoreno commented on #123128
@Tyriar Not sure if this regressed but I don't see the default on the top anymore:

![image](https://user-images.githubusercontent.com/22350/119714008-30f7bf00-be17-11eb-9e73-28d03b35d6d3.png)

[2021-05-26 18:46] BurtHarris commented on #124706
zip file containing the file found at `C:\Users\burt_\AppData\Local\Programs\Microsoft VS Code\resources\app\node_modules.asar.unpacked\vscode-ripgrep\bin`

[rg.zip](https://github.com/microsoft/vscode/files/6549018/rg.zip)

[2021-05-26 18:48] tromlet opened #124708 "Native Linux repository packages?"
It’d be rad if you guys could put those fancy, pre-packaged .deb and .rpm files into appropriate repositories so that we could just download them onto our systems without having to manually download them to get updates. :>

The Snap option is nice, but Snap doesn’t play that nicely with the native environment of almost any Linux system OTHER than Ubuntu… and I mean… I figure if you’re ALREADY crea

[2021-05-26 18:55] mjbvz commented on #124678
This is also appears to be working for me on Windows with the latest VS Code insiders build. Please let me know if there's some specific case where it doesn't work (I only tested on the `c:` drive for example)

[2021-05-26 18:56] roblourens commented on #124417
Settings sync is working on your user settings, not your workspace settings. So I think you are looking at the wrong file. You can open the settings editor on "User", then click the "Open Settings (JSON)" button in the top right corner

[2021-05-26 18:57] mjbvz commented on #124528
Hm, I'm guessing this is because the file is part of a large TS project.

Could you please try collecting the TS Server logs to help us investigate this:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

[2021-05-26 18:57] rzhao271 commented on #96307
I still think this behaviour differs too much from the way the find widget currently works with webviews to be worth implementing.
It's closer to the search viewlet behaviour, but even that doesn't have the problem of focus being stolen away from the searchbox between searches.

[2021-05-26 18:58] roblourens commented on #124625
I guess we have https://github.com/microsoft/vscode/issues/1223 for this request

[2021-05-26 18:58] #124625 closed

[2021-05-26 19:06] keegandent commented on #115784
@deepak1556 Thanks for the clarification, but can you specify which headers? Also is it that they *only* need a newer compiler version, or is it that they actually use features available only in >=CXXABI_1.3.9? Because if it’s the former, the binaries can likely be fixed (made to work with earlier ABI) with a change to how they are generated. Typically you can use a devtoolset on an older system t

[2021-05-26 19:14] kushagra2901 commented on #124417
in the user settings.json there is only 15 written there  nothing else.

[2021-05-26 19:14] kushagra2901 commented on #124417
i can even use prettier on auto save pls help

[2021-05-26 19:17] #124207 closed

[2021-05-26 19:20] joaomoreno commented on #124685
https://github.com/microsoft/vscode/commit/d77799165664786807e9b439751a550ccfec3e27

[2021-05-26 19:20] #124685 closed

[2021-05-26 19:37] nicolo-ribaudo commented on #124683
Ideally yes it should be `json5`, but `jsonc` is already a big improvement because `99%` of the Babel configs I have seen that are not plain JSON are just JSON + comments (to be honest, I have _never_ seen a Babel config that uses other json5 features).

[2021-05-26 19:55] #122884 closed

[2021-05-26 19:59] Tyriar opened #124709 "Explore ways to not pollute editor groups with terminals with other editors"
We're approaching adding terminal editors (tracked in https://github.com/microsoft/vscode/issues/10546) but one problem we foresee coming is that users will want to lay out their terminals for example like this:

[code]

Where there are 1 or 2 fixed terminals on a side. For this I think it's not desirable that when you open a file while the terminal is active that it will add it to the terminal's

[2021-05-26 20:01] #124642 closed

[2021-05-26 20:01] bansan85 commented on #117565
Sorry to not have answer before. Yes, this issue looks to be a duplicated of #58038.

I just want to add an example of how Git Extensions solves this problem:

![image](https://user-images.githubusercontent.com/9248729/119723371-a7271080-be6d-11eb-859e-4982c14ccebf.png)

![image](https://user-images.githubusercontent.com/9248729/119723454-c160ee80-be6d-11eb-81f9-89725ec6e993.png)

![image](https:/

[2021-05-26 20:13] sevenc-nanashi commented on #124653
https://user-images.githubusercontent.com/59691627/119724913-48cc5300-beaa-11eb-8f76-b295500e7859.mp4
I took a video, please see terminal

[2021-05-26 20:15] sbatten commented on #124692
this issue mentioned here https://github.com/microsoft/vscode/issues/124392#issuecomment-847278461

[2021-05-26 20:23] #123493 closed

[2021-05-26 20:25] #124702 closed

[2021-05-26 20:29] EdNutting commented on #123493
@nrayburn-tech / @mjbvz  Wonderful! The code changes look good from my "outsider's view". Thank you so much, this is great!

[2021-05-26 20:35] curlyblueeagle opened #124711 "Cannot launch multiple Java classes"
Does this issue occur when all extensions are disabled?: Yes/No
I need Java based extensions for my development, therefore have not tried this.

I am still seeing the issue discussed in https://github.com/microsoft/vscode/issues/37589 which I thought was fixed
- VS Code Version: 1.56.2
- OS Version: macOS Mojave

Steps to Reproduce:

1. Run long running Java class 1
2. Run Java class 2
3. The laun

[2021-05-26 20:35] #124692 closed

[2021-05-26 20:37] artdiniz commented on #54492
Hey, I know the issue is now closed, but I really want to point out my [Quit Control](https://marketplace.visualstudio.com/items?itemName=artdiniz.quitcontrol-vscode) extension. I think it solves this issue really well.
I hate/love the default behavior. I'm really used and like to type `Cmd+W` on an empty window to close the window. But I too like fast typing `Cmd+W` to close all tabs, and hate it

[2021-05-26 20:41] sbatten commented on #123771
@joaomoreno can you leverage https://github.com/microsoft/vscode/blob/7031abadeafec54c8876231e3579c938dee6e1a5/src/vs/base/browser/contextmenu.ts#L31 ?

[2021-05-26 20:42] artdiniz commented on #54492
Another thing, @bpasero, will my extension be able to bind its commands to the `Alt+F4` keybinding with those new changes? I wasn't able to do it previously 🤔

[2021-05-26 20:44] sbatten commented on #122035
shadowDom preserves focus most closely with native dialogs by rendering the context menu as a child of the editor. trying to remember, but I think this is necessary for notebooks because focus in each cell is important. I do not recall clearly for this case.

[2021-05-26 21:06] cuongthm commented on #26339
[https://marketplace.visualstudio.com/items?itemName=xpo.local-history](url)
A new Local History extension for VSCode. It only backup the diffs instead of whole file when saving. You guys can use it while waiting for VSCode Local History official feature.

[2021-05-26 21:08] meganrogge opened #124712 "Test: TerminalOptions.message Stable API"
Refs #120368

- [x] macOS @egamma
- [x] linux @jrieken
- [x] windows @eamodio

Complexity: 2

Authors: @tyriar

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23124712%0A%0A)

---

Using the `vscode-extension-samples/terminal-sample`, provide `message` as an argument to `createTerminalFromOptions`. Verify that you see this text when you create a terminal. Note that you

[2021-05-26 21:14] kroseRipen opened #124713 "Crashpad Major Disk Usage"
Issue Type: <b>Performance Issue</b>

I'm using:
MacBook Pro (15-inch, 2018)
CPU: 2.2 GHz 6-Core Intel Core i7
Memory: 16 GB 2400 MHz DDR4
OS: Big Sur 11.3.1 (20E241)

I started getting warnong messages of low hard drive space. After running a scan with a tool Disk Inventory X it was discovered there was SIGNIFICANT (80Gbs) disk usage under path: /Library/Application Support/Code/Crashpad.
complet

[2021-05-26 21:14] #124665 closed

[2021-05-26 21:20] CasP0 opened #124714 "Sign in was canceled"
Issue Type: <b>Bug</b>

My session has stoppes

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz (4 x 3000)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: enabled

[2021-05-26 21:24] meganrogge opened #124715 "Terminal tab improvements"

[2021-05-26 21:24] #124715 closed

[2021-05-26 21:24] meganrogge opened #124716 "Test: terminal tab improvements"
Refs #124715

- [x] macOS @jrieken
- [x] linux @deepak1556
- [x] windows @stevencl

Complexity: 3

Authors: @tyriar, @meganrogge

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23124716%0A%0A)

---
Verify that you can:
- unsplit a terminal to a tab #121278
- drag and drop terminal tabs #121500
- see an indicator that a terminal task is running and it updates depending

[2021-05-26 21:25] adambiggs opened #124717 "Invalid debugging path mappings when using a namespaced package name in `package.json`"
Issue Type: <b>Bug</b>

Project info:
- Serverless framework
- `serverless-webpack` plugin
- Webpack v5
- `serverless-offline` plugin

## Expected results
Debugging breakpoints should work as normal.

## Actual results
When debugging this service, breakpoints don't work if `package.json` has a `name` that uses the `@namespace/package-name` syntax. If the package name is changed to `package-name` w

[2021-05-26 21:30] adambiggs commented on #124717
For reference, debugging breakpoints work fine in PHPStorm regardless of the package name.

[2021-05-26 21:34] Jeffrey-kerson opened #124718 "Cannot disable font ligatures"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: MacOS BigSur 11.2.2

Steps to Reproduce:

1. Install and set the font Iosevka Extrabold

Even though I have turned the option `"editor.fontLigatures": false` to false and have restarted my VSCode several time the font ligatures still appear for all symbols, meaning they are not disabled as spec

[2021-05-26 21:52] mjbvz opened #124719 "Add syntax highlighting of math formulas in markdown source"
## Feature Request
For math formulas in notebooks, it would be great if we could syntax highlight the markdown source. Currently you either get all default colored text, or incorrectly highlighted text (especially around escapes)

[2021-05-26 21:53] mjbvz commented on #124719
Seems like a good use case for an injection grammar, although I'm not sure if we can scope the injection grammar so that is is only enabled in notebooks

We'd also need a simple LaTeX grammar to use for the formulas

[2021-05-26 21:59] pseudocubic commented on #123276
I have the same issue and it is not related to specific folders for me, but any workspace that has more than one folder.

To test this I used a clean install with no modified settings or extensions installed. I created two new folders each with one text file with some ASCII text, and added them individually to my workspace, and attempted to search for the word "test", which does not exist in eithe

[2021-05-26 22:04] weinand commented on #124711
/extJava

[2021-05-26 22:07] roblourens commented on #123276
What happens if you run those same commands manually in a terminal? (`/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/node_modules.asar.unpacked/vscode-ripgrep/bin/rg --hidden --ignore-case --max-filesize '17179869184' --no-ignore --follow --crlf --fixed-strings --no-config --no-ignore-global --json -- 'test' '.'` in `cwd: /Users/test/test1`)

[2021-05-26 22:09] roblourens commented on #124706
It sounds like you opened a folder in onedrive with offline files, and did a search (or an extension triggered a search), which causes onedrive to download the files to your local disk. Does that sound right? It's not clear what the right thing to do is. I am not sure there's any way for us to control whether onedrive downloads the files, we are only doing normal file accesses.

[2021-05-26 22:10] roblourens commented on #124417
Not sure what you mean

<div class="js-timeline-item js-timeline-progressive-focus-container" data-gid="MDEyOklzc3VlQ29tbWVudDg0OTA1MDIxNA==" style="box-sizing: border-box; color: rgb(36, 41, 46); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-lig

[2021-05-26 22:27] bcardarella opened #124720 "Output for Code Settings Sync keeps stealing focus"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: Mac OS 11.2.2

Steps to Reproduce:

1. I have settings sync enabled, and I prefer to have the `TERMINAL` tab be in focus
2. periodically the `OUTPUT` tab will steal focus from `TERMINAL` with the result of a Settings Sync
3. This continues to happen over and over

[2021-05-26 22:39] alefragnani commented on #124594
Hi @aeschli ,

You can easily reproduce the issue creating a new extension using the yeoman generator (`yo code`) and adding the `capabilities` entry.

1. Create a new extension using `yo code`
2. Open the extension in VS Code
3. Change `activationEvents` to `*` _just to be activated automatically at start_
4. Start debugging
5. Open any virtual workspace
5. You will see the extension being activa

[2021-05-26 22:40] pseudocubic commented on #123276
[code]

[2021-05-26 22:41] arennow commented on #124572
Well, that's good to know. I'll go ahead and make that change and improve my life 0.7%. Thanks!

I definitely understand why this has existed historically, but I wonder how many people specifically want, _e.g._ a light-themed OS and a dark-themed editor.

Anyway, your proposed fix seems like it would work out great for everyone. I have no idea how deprecated settings work with synching, but that's

[2021-05-26 22:45] connor4312 opened #124721 "Add InlineValueProvider for TS/JS"
https://github.com/microsoft/TypeScript/issues/43449

[2021-05-26 23:01] #124544 closed

[2021-05-26 23:02] cyberfox1 opened #124722 "Multiple windows open instead of one"
Steps to Reproduce:

1. Open VSCODE
2. Observer 2-4 windows open instead of 1

Only 1 window should open. It's annoying and stupid to have to close 1-3 windows every time I open VSCODE. I expect only one window to open containing the current folder or workspace.

[2021-05-26 23:26] sbatten commented on #124392
for the OOBE issue, we are trying this commit: https://github.com/microsoft/vscode/commit/e3c8ff57849bf854e97abd0d1b78ba5a92d3a801

until a file is opened in an empty window, the banner is not shown

[2021-05-26 23:39] sean-mcmanus commented on #124392
Cool, that's a good idea.

[2021-05-26 23:51] connor4312 commented on #124717
/jsDebugLogs

[2021-05-26 23:52] alexbi29 opened #124723 "vscode freezes every 3-5minutes randomly"
Version: 1.56.2
Commit: 054a9295330880ed74ceaedda236253b4f39a335
Date: 2021-05-12T17:44:30.902Z (2 wks ago)
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Darwin x64 20.5.0

remote ssh to linux host.

only extensions installed: remote-ssh, c/c++

Log (Window) shows this:

[code]

[2021-05-26 23:58] nrayburn-tech opened #124724 "API findFiles exclude argument default value is not clear"
The default exclude of `vscode.workspace.findFiles` when the value is `undefined` isn't clear.

Is it a user setting?  Pre-defined value in the code somewhere?
Reading some of the git blame, and mentioned issues, it looks like `default` means the users `files.exclude` setting.  I didn't look at the actual implementation to confirm this.

Could the doc be updated to be more understandable?

https:/

[2021-05-27 00:40] toddbellMSFT opened #124725 "Current git folder is not the one I am pushing up stream to"
Issue Type: <b>Bug</b>

I use ADO with a TON of repos. I want to individually edit each with VSCode. BUT if I open a folder with VSCode (using the right click context menu), i use git status, things look okay, make a new branch, replace some files, git add -> git commit -> git push -> and this pushes to a different repo. Not the one I was working in.

I am furious now, this is the second time wher

[2021-05-27 00:41] Queuecumber commented on #119214
I don't think this quite addresses [microsoft/vscode-jupyter#403](https://github.com/microsoft/vscode-jupyter/issues/4031), that was asking for a way to change the font size of specific elements rather than pointing out that there are size inconsistencies.

Is that something that is being worked on or should an issue be opened? In my case, the editor font size and output font sizes all look fine b

[2021-05-27 00:42] toddbellMSFT commented on #124725
Solution: this is an ADO problem. They literally put the first pipeline in the .git folder when downloading from ADO with VSCode. This is their problem, not VSCodes.

[2021-05-27 00:42] #124725 closed

[2021-05-27 00:43] haideralsh commented on #59657
Adding my vote to this one too! I often find myself folding code to delete it since its too intuitive then be disappointed when only one line gets deleted:
![collapsed-block-delete](https://user-images.githubusercontent.com/11673029/119748430-e8fe8980-be62-11eb-83f1-b7c02ba72744.gif)

[2021-05-27 00:53] Mr-Smarty commented on #124645
Yeah, changes are there in SCM view and I get the yellow/orange M symbol next to it in the file viewer when I make changes.

[2021-05-27 01:18] HY-SHEN commented on #124659
Morning!
thanks!

guobing ***@***.***> 於 2021年5月26日 週三 下午7:09寫道：

[2021-05-27 01:37] peterwu opened #124727 "Migrate from gtk2 to gtk3 on Linux"
Currently, on at least Fedora Linux, the provided rpm has a dependency on `gtk2` and `ibus-gtk2`. With the introduction of gtk4, please consider migrating to at least `gtk3` as dependency for the vscode rpm.

In terms of technical feasibility, the relevant packages in Arch Linux has gtk3 as dependency. So, I guess it should be relatively painless to do the same for rpm-based Linux distros.

Here i

[2021-05-27 01:54] tommyZZM commented on #123640
Hello @bpasero @deepak1556 ,

Thx, Both `code . --disable-extensions --user-data-dir ~` and `code .` seems works fine for me again today

[2021-05-27 02:46] VapourDev opened #124729 "Integrate Internet Browser Tab in VSCode"
Integrate a Web Browser in VSCode as a tab for Quick problem search and links opening. This prevents to be get disturbed.

Tab should be used side by side mode.

[2021-05-27 02:46] #124246 closed

[2021-05-27 02:47] mjbvz commented on #124246
The root cause seems to be a framework doing something a bit odd inside the webview, but I've tried to work around that

Please test out the next insiders build and let me know if you still see this issue

[2021-05-27 03:13] sameera opened #124730 "Refactor > Rename (F2) causes system wide instability"
Issue Type: <b>Bug</b>

1. Run VS Code disabling all extensions (to isolate this issue to the VS Code core and not extensions)
2. Open an Angular project (I have/can test only with Angular)
3. Press F2 to rename a class/interface/variable

### Observed result
1. Clicking on any symbol in the code editor brings up the refactor prompt.
2. It also keeps flashing "you cannot rename this element" messa

[2021-05-27 03:29] sameera commented on #124730
Recording of the issue:

https://user-images.githubusercontent.com/208470/119761639-cb183f80-bec9-11eb-8625-cafa0449dd68.mp4

[2021-05-27 03:48] appurist commented on #115784
@deepak1556 Okay, if I followed that, it's not an incompatibility with newer Electron versions (which is why I don't see any issue building under CentOS 7 with new Electrons) as much as it's a problem with the fact that VS Code has some native modules that compile against the V8 headers that you get from Electron and those V8 headers correspond to an updated V8 now included in newer Electrons? And

[2021-05-27 05:04] #124417 closed

[2021-05-27 05:16] santphina opened #124732 "os.getcwd() returns different results when running without debugging and with green button on the top right"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.56.2
- OS Version: Mac OS 11.3

Steps to Reproduce:
[code]

Scenario 1:
Run it without debugging, it will return $HOME, as shown in image_1
<img width="1673" alt="image_1" src="https://user-images.githubusercontent.com/9269118/119769638-6078fb00-beed-11eb-80f2-3a848d1c25d7.png">

Scenario 2:
Put a breakpoint anywhere

[2021-05-27 05:19] #124732 closed

[2021-05-27 05:24] Prasanna4743 opened #124733 "C++"
Issue Type: <b>Performance Issue</b>

C:\Users\Dell\Downloads\power-automate-docs-patch-8.zip\power-automate-docs-patch-8

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x 2195)|
|GPU Status|2d_c

[2021-05-27 05:27] Tekh-ops commented on #124729
You can use Webstorm for special purpose

[2021-05-27 05:30] bpasero commented on #124674
👍  pushed that too.

[2021-05-27 05:32] Corvus-sp opened #124734 "生成多个A，西班牙，I元素，无需包装"
Issue Type: <b>Feature Request</b>

The second outcome is needed

such as :  a*4

1.
<a href=""></a><a href=""></a><a href=""></a><a href=""></a>

2.
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19042

[2021-05-27 05:33] bpasero commented on #124709
Without thinking about the UX impact, but conceptually: a property on editor groups that makes sure non-editable editors go into a separate group? Or a property to put all the editors of one type into that one group? How would such a group flow when editor layouts change, i.e. would it be enforced that the group is always to the right hand side of the other groups?

I wonder if it wouldn't be easi

[2021-05-27 05:34] jeanp413 opened #124735 "Listener leak while updating terminal pane actions"
- VS Code Version: From sources

Steps to Reproduce:

1. Open terminal
2. Show terminal tabs
3. Toggle between icon only and icon with text in terminal tabs by moving the sash
4. :bug: Listener leak warning shows in dev tools console

![listener_leak](https://user-images.githubusercontent.com/25115070/119771186-e6ac2780-be82-11eb-8793-7b019564bafe.gif)

[2021-05-27 05:34] aressler38 opened #124736 "Remote Containers forwardPorts Broken in recent insiders build"
Issue Type: <b>Bug</b>

After an update of vscode-insiders, my project will not open in a remote container.

1. Create an empty project.
2. Run the task called **Remote Containers: Add Development Container Configuration Files...** from the remote-containers extension.
3. Edit the devcontainer.json file and add forwardPorts.
4. Build the container. ... Error.

Log:
[code]

VS Code version: Code -

[2021-05-27 05:36] bpasero commented on #119890
We actually have a max zoom level:

https://github.com/microsoft/vscode/blob/b5b059d2e2b3fe8ff1ca5542b27347284a9fbb2e/src/vs/workbench/electron-sandbox/actions/windowActions.ts#L64

We can reduce it to 8 if needed.

[2021-05-27 05:36] #119890 closed

[2021-05-27 05:37] bpasero commented on #124722
/gifPlease

[2021-05-27 05:38] bpasero commented on #123640
Ok, let us know when you can reproduce again somehow.

[2021-05-27 05:41] aressler38 commented on #124736
This seems to happen when I use the forwardPorts in the .devcontainer.json file.

[code]

If I comment out that section, then it works. Something recently must have broke this because right after my vscode-insiders updated, my project started failing to open in the remote container.

[2021-05-27 05:49] deepak1556 commented on #115784
https://source.chromium.org/chromium/chromium/src/+/main:v8/include/ and some nodejs public api headers, these will get used via api abstraction library https://github.com/nodejs/nan or https://github.com/nodejs/node-addon-api (which is also ABI stable) depending on what the native module chose to use.

Don't remember, have to compile these modules on the older distro to confirm. Will get back on

[2021-05-27 05:53] aressler38 commented on #124736
Definitely it is related to forwardPorts. I created a new empty project and ran the task to generate devcontainer files. It's called *Remote Containers: Add Development Container Configuration Files...*

This fails with an empty project when I use forwardPorts. It doesn't seem related to specific ports.

![image](https://user-images.githubusercontent.com/2053500/119773040-14e33480-be8e-11eb-8ad5-d

[2021-05-27 05:59] latdav opened #124737 "bug"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Impossible d'écrire un bout de code dans ma zone de travail.
Impossible d'effacer un squelette de code que j'ai "copier et coller" dans ma zone de travail. Le pointeur de la souris ne fait que survoler les éléments.
Impossible de réaliser une action.
An ode incident occured  on my workspace .
I can'

[2021-05-27 06:14] gruvw commented on #124031
This should not be closed...

[2021-05-27 06:16] dbaeumer opened #124738 "A lot of Notebook tests are failing in the build"
See https://dev.azure.com/monacotools/Monaco/_build/results?buildId=120522&view=ms.vss-test-web.build-test-results-tab

[2021-05-27 06:18] dbaeumer commented on #124737
/needsMoreInfo

[2021-05-27 06:19] dbaeumer commented on #124733
/needsMoreInfo

Do you still have the trace.

[2021-05-27 06:23] dbaeumer commented on #124723
@alexdima @jrieken do we still have means to map locations in minified code to un-minified code?

[2021-05-27 06:24] dbaeumer commented on #124714
/needsMoreInfo

[2021-05-27 06:36] #124342 closed

[2021-05-27 06:36] aeschli commented on #124342
I pushed the PR
@alexr00 We have a new built-in language :-)

[2021-05-27 06:49] 747 commented on #79273
Still persisting as of 1.56.2. Doesn't work either with finger or touch pen.

[2021-05-27 06:56] rollingstarky opened #124739 "Can't install extensions for WSL2 (Ubuntu 20.04)"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: **1.56.0**
- OS Version: **Windows_NT x64 10.0.18363**
- WSL Version: **Ubuntu 20.04.02**

Steps to Reproduce:

1. Open a new remote window in WSL
2. Try to install any extension using install in WSL

I was trying to install **cpptools** extension for my WSL Ubuntu system. When I click the "install in WSL: Ubuntu-2

[2021-05-27 07:17] joaomoreno commented on #123771
@sbatten What do you mean?

This is hard to fix because:

- List focus indicators are supposed to be invisible when the list (or the app) doesn't have focus
- When a context menu comes up, it takes focus by definition, so the list focus affordance gets hidden
- For this to work, the list would need to be aware that there's a context menu open related to itself. But the list doesn't know anything a

[2021-05-27 07:21] NambiNat opened #124740 "Terminal Output not displaying japanese characters."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-05-27 07:22] #124740 closed

[2021-05-27 07:35] dbaeumer commented on #124680
All language smartness comes from an extension. So there must be an extension involved if feature are missing (e.g. Go to Definition).

[2021-05-27 07:39] #124699 closed

[2021-05-27 07:50] bartenra commented on #124561
@mjbvz Reproduction above. Is that enough info? :)

[2021-05-27 07:52] #124695 closed

[2021-05-27 07:56] puckerxp commented on #124686
After upgrade to Flutter 2.2, I have the same problem.

[2021-05-27 07:56] aeschli commented on #124683
If we already know that `jsonc` is not correct,  I'd leave it up to the users to finetune the file association then (setting: `files.associations`).

[2021-05-27 07:56] #124683 closed

[2021-05-27 07:57] alexdima opened #124742 "Bad positioning for inline completion"
* create a TS file:
[code]
* place cursor after `this` and press `.`
* wait for inline completions to render
* press arrow right

https://user-images.githubusercontent.com/5047891/119787844-ebe49300-bed1-11eb-9976-b14ed76853d2.mp4

[2021-05-27 07:59] BurtHarris commented on #124706
Thanks, @roblourens.   I'm not sure what you mean by _did a search (or an extension triggered a search)_ but yea, it sort of makes sense.  As I look more into this, it's probably not a VSCode issue.

One thought that may be related...   I had been having some authentication issue related to the Microsoft 365 account associated with that sigilnet name and did a password reset on it recently.    Per

[2021-05-27 08:01] nicolo-ribaudo commented on #124683
Then `.babelrc` should be removed from the predefined `jsonc` associations, in https://github.com/microsoft/vscode/blob/1cce707eb8ef2b22c6f33846367e1eb70547c3fe/extensions/json/package.json#L45-L63, since it's json5 too.

[2021-05-27 08:04] aeschli commented on #124572
Thanks for trying out the workaround!

[2021-05-27 08:04] hediet commented on #124742
Interesting, I cannot reproduce this on main:

![eba70bcf-f49c-4ae4-8e42-ea71b5619490](https://user-images.githubusercontent.com/2931520/119788922-dcb21500-bed2-11eb-9e74-100dd70fcfde.gif)

[2021-05-27 08:30] rgeorgiev583 opened #124743 "The "Source Control" view does not display files containing only changes to the mode"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-05-27 08:34] rgeorgiev583 commented on #124743
I couldn't reproduce this issue myself; closing.

[2021-05-27 08:34] #124743 closed

[2021-05-27 08:39] BurtHarris commented on #124706
I did some searching of the source online.   [ripgrepFileSearch.ts ](https://github.com/microsoft/vscode/blob/94c9ea46838a9a619aeafb7e8afd1170c967bb55/src/vs/workbench/services/search/node/ripgrepFileSearch.ts ) helped me answer my own questions.

[2021-05-27 08:45] BurtHarris commented on #124706
Not a bug.

[2021-05-27 08:45] #124706 closed

[2021-05-27 08:50] DanTup commented on #124342
Super, thanks!

For future reference - for changes to the language config I can send a PR to `extensions/dart/language-configuration.dart`, and for grammar changes I can run `npm run update-grammar` (after the changes are landed in the upstream dart-lang repo)?

[2021-05-27 08:52] DanTup commented on #124342
I just noticed in the `package.json` it has the path `./syntaxes/dart-language-configuration.json` but this doesn't seem to match the location of the file `./language-configuration.json`?

[2021-05-27 08:53] JasonWoof opened #124744 "delay before window paint on X11 when changing workspaces"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Debian unstable

Steps to Reproduce:

1. run vscode under X11 (linux's old/standard display server). This bug is not reproducible under Wayland. You might need to run this in some sort of session with no compositor. I'm not sure. I run dwm with no compositor.
2. use keyboard shortcuts to switch be

[2021-05-27 09:04] isonil commented on #124680
Oh, I see now. Sorry for the confusion!

[2021-05-27 09:12] lszomoru commented on #124392
We also fixed so that all visual elements (status bar, banner, editor) use window/folder/workspace consistently.

[2021-05-27 09:12] #124392 closed

[2021-05-27 09:12] dhara15101991 opened #124746 "Need to more highlight a tab for a file which is open and selected."
Issue Type: <b>Feature Request</b>

Hello,

I am using visual code from last 4 months and I loved it. It is so smooth. I loved all things about it. I only have one issue about the file highlight when it is selected. Currently If there is 5 files are open then it is hard to identify which file is currently selected on tab. Active Tab color is so matched with others then cannot identify easily.

Ple

[2021-05-27 09:16] navneetkarnani opened #124747 "Error when trying to run `code` from within terminal on Remote-Container"
Issue Type: <b>Bug</b>

internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module '/root/.vscode-server/data/User/workspaceStorage/c2d18fd137868c0d2343f327e8b88e4b/ms-vscode.js-debug/bootloader.js'
Require stack:
- internal/preload
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880:15)
    at Function.Module._load (internal/modules/cjs/loader.js:725:27

[2021-05-27 09:34] lszomoru commented on #122293
@sbatten, were you able to reproduce the same issue when trying to save a workspace file with workspace trust disabled?

[2021-05-27 09:34] JasonWoof commented on #124744
Additional info:

This has been happening for several months, across multiple versions of vscode.

I've just done some experimenting with window sizes and focus.

Normally I have the window drawn with no decorations/border, and the dimensions of the window are exactly the same as the size of my screen, so it looks very much like a fullscreen mode, except I can still have floating windows on top of

[2021-05-27 09:37] lszomoru commented on #124338
I don't think it make sense to add another mechanism to manage extension dependencies since this is already available in the extension manifest file. Since the available is already available, we just need to build the dependency graph of the installed extensions and use that to enable/disable extensions.

[2021-05-27 09:44] jrieken commented on #124723
Pretty sure it's this: [_entries](https://github.com/microsoft/vscode/blob/8aff878db2542eea2dfb571c8bb485118bbb3113/src/vs/base/common/map.ts#L500-L500) but I don't know yet how/why

[2021-05-27 09:51] thernstig commented on #124683
@aeschli but there are already `.babelrc` mapped to `jsonc` as @nicolo-ribaudo and I already pointed out. Why were you so fast to close this. It is a valid concern to update this, or rather the best option to add these two new formats.

Using babel is **_very_** common in the Node.js echo-system. I don't see a reason for these not being there. I can even make the PR myself to fix this.

[2021-05-27 09:56] thernstig opened #124748 "JSON5 language id"
Currently the only two language IDs that exist for JSON are `json` and `jsonc`. Would it be a good idea to add `json5` support?

[2021-05-27 10:12] mganss commented on #57577
There's an extension that can do this: https://marketplace.visualstudio.com/items?itemName=d3v.pastespecial

[2021-05-27 10:12] aeschli commented on #124342
Good catch, thanks. Pushed the fix: https://github.com/microsoft/vscode/commit/5d534b94f8372e8fc93dc96987e39da532886d90

[2021-05-27 10:56] lszomoru commented on #124618
Adding @bpasero as this seems to be related to the `--wait` CLI flag.

[2021-05-27 11:00] jrieken commented on #93265
Please be aware of the following BREAKING change: `NotebookCellExecutionTask` and its factory function has been renamed `NotebookCellExecution` and `createNotebookCellExecution`

[2021-05-27 11:20] bpasero commented on #117210
The handler is gone 👏

[2021-05-27 11:20] #117210 closed

[2021-05-27 11:31] #124735 closed

[2021-05-27 11:33] #124192 closed

[2021-05-27 11:33] #124148 closed

[2021-05-27 11:33] #124088 closed

[2021-05-27 11:33] #123939 closed

[2021-05-27 11:33] #123913 closed

[2021-05-27 11:33] #123912 closed

[2021-05-27 11:33] #123868 closed

[2021-05-27 11:33] #123841 closed

[2021-05-27 11:33] #123806 closed

[2021-05-27 11:36] aeschli commented on #124683
I made the change as you proposed. Ideally these associations come from a babel extension, and even better they would be to `json5`.

[2021-05-27 11:39] aeschli commented on #124748
It's better if that comes from an extension along with grammar and language configuration.

[2021-05-27 11:40] #124748 closed

[2021-05-27 11:44] lszomoru commented on #124618
When using VSCode as the commit message editor, we try to reuse an already opened VSCode window. We either use the VSCode window that has the workspace to which we commit opened, or the last active window. In the case above, the 🐛 occurs only if 1) the workspace representing the repository to which we commit is not opened (if it were opened, the window would be in restricted mode so there would no

[2021-05-27 11:44] thernstig commented on #124683
At least `jsonc` as the default is very good as that is probably what most users would use, as @nicolo-ribaudo pointed out.

[2021-05-27 11:53] #123128 closed

[2021-05-27 11:59] alexdima commented on #124700
@jbovone I am sorry that you have lost the undo stack. This should never happen. Can you please provide some steps to reproduce?

[2021-05-27 12:03] v1d3rm3 opened #124750 "random message 'Element can't be renamed' on refactor"
Does this issue occur when all extensions are disabled?: **Yes**/No
When this error happened, i tried to disabled all extensions, but the error remains happening.

- VS Code Version: 1.56.2
- OS Version: Windows 10

Steps to Reproduce:

1. Start coding in typescript
2. Randomly, when try to refactor an element, it not allow giving "The element can't be renamed"
3. When vscode is restarted, things

[2021-05-27 12:08] aeschli commented on #124594
I can reproduce. Thanks for the steps.
Look, like the enablement state is not preventing the extension from being activated.

[2021-05-27 12:09] saiballo commented on #66982
same problem and same request to resolve here. please do anything!!

[2021-05-27 12:11] Tyriar commented on #124653
Does changing the `terminal.integrated.unicodeVersion` setting help?

[2021-05-27 12:12] Tyriar commented on #124653
Actually this looks like a problem with winpty, you'll need to update Windows 10 to get on the new system which is build by the Windows Terminal team.

[2021-05-27 12:13] Tyriar commented on #124653
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2021-05-27 12:13] #124653 closed

[2021-05-27 12:23] aeschli commented on #124594
Ah, we do this on purpose. The extension under development is never disabled:
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/services/extensions/common/abstractExtensionService.ts#L694

[2021-05-27 12:29] jrieken commented on #93265
Please be aware of the following BREAKING change: Support for the `application/x.notebook.error-traceback` MIME type has been removed, use `vscode.NotebookCellOutput.err(...)` instead

[2021-05-27 12:32] alexr00 commented on #124342
@DanTup For grammar changes, I'll pull them in about once per month so you can just rely on that if you want. If there's a change that needs to be picked up sooner than that, then feel free to make an issue an @ mention me and I'll pull in the change earlier.

[2021-05-27 12:34] Jeffrey-kerson commented on #124718
@alexdima this didn't help me unfortunately

[2021-05-27 12:35] alexpirine commented on #123325
Sorry, I thought I already replied, but I didn't.

I don't want anything to happen to my existing files.

And I don't want to be asked what I want to happen to my existing files, since my intent to simply open a new folder (in a new window), without any side-effect whatsoever on existing files.

[2021-05-27 12:36] deepak1556 commented on #124727
@Tyriar wasn't this completed as part of https://github.com/microsoft/vscode/issues/47158 ? Where is the gtk2 dependency declared ?

[2021-05-27 12:37] #121090 closed

[2021-05-27 12:41] holywar20 commented on #15667
This is a super annoying issue. I like tool tips. I use them all the time. but VS code is especially aggressive in displaying them.

I specifically have a huge issue with them popping up while I'm typing, covering up the line above it, which I sometimes want to actually read while I'm typing. Just like an offset reposition setting that a user could configure would be huge. Either that, or like a h

[2021-05-27 12:42] Herasselbach opened #124751 "Snippet doesn't get triggered for certain tokens"
- VS Code Version: 1.56.2

- OS Version:  MacOS BigSur 11.2.3

Steps to Reproduce:
I'm using VSCode for editing latex files and have created certain snippet in the `latex.json` file. Most of them work, but for certain characters those snippet don't get triggered:

[code]
This is one example, the snippet doesn't appear when typing `=>`. Other characters where it didn't work for me are:
`=<`, `/`, '

[2021-05-27 12:46] DanTup commented on #124342
Perfect, thanks!

[2021-05-27 12:48] WickedWizard3588 opened #124753 "Type Definitions don't work in some Node.js Projects"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.56.2
- OS Version: Windows 10 21H1 Home Single Language

Global Type Definitions do not work when there is no `require` in a CommonJS File.
![image](https://user-images.githubusercontent.com/67627239/119827632-fd03c300-bf16-11eb-9de4-4e55adc1cbde.png)

But they when a module is `require`d. Does not work when a file

[2021-05-27 12:56] jrieken commented on #93265
Please be aware of the following BREAKING change: `NotebookCellOutputItem.value` is gone. The `data` property must be used instead. The same is true for renderers and `CellInfo`

[2021-05-27 12:58] alefragnani commented on #124594
Yeah, just like I was thinking 😬

So, is it something that could be changed on this, in order to properly test/validate if the `capabilities` flag is being respected? Maybe the warning message I commented above. Or should I simply ignore the fact that it was activated on debugging, and don't worry about it?

Thank you

[2021-05-27 12:59] alexr00 commented on #124369
Upstream issue: https://github.com/atom/language-css/issues/180

[2021-05-27 12:59] #124369 closed

[2021-05-27 13:02] alexr00 commented on #124582
Not sure we can make this any faster. On first connection we actually set up the port forwarding, so some time is required for that.

[2021-05-27 13:11] ShPelles opened #124755 "editorFocus is still true when launching the command palette"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version: Win 10

Steps to Reproduce:

1. Create new extension (with `yo code`) and open it.
2. Add this to the `contributes` section in `package.json`:
[code]
3. Run the extension (<kbd>F5</kbd>).
4. Open a document.
5. Open the Command Palette (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>), and scroll

[2021-05-27 13:22] Rechdan commented on #124582
It is not only for the first-ever request but when we don't do a request, in like 10 seconds, it will take that 300+ms to respond, if I forward a port directly from docker-compose directly it will not have that issue, only when user-forwarded.

[2021-05-27 13:27] msourada commented on #124387
I have this problem as well and in the environment I use VS Code + Python (High School) I cannot use PowerShell (python is blocked in power shell by our org. antivirus). It also breaks debug, because it does not respect the setting a tries to run in PowerShell.

I noticed that when using deprecated method to switch to CMD (because initially it didn't happen to me, who had it set for a long time no

[2021-05-27 13:27] jrieken commented on #93265
Please be aware of the following BREAKING change: `NotebookKernelPreload` has been renamed to `NotebookRendererScript`, also it's now `NotebookController.rendererScripts`

[2021-05-27 13:29] jrieken commented on #124751
I assume you refer to quick suggestion aka suggestion as you type, right? Does this work when you press Ctrl+Space to trigger suggestions explicitly?

[2021-05-27 13:31] Herasselbach commented on #124751
@jrieken yes, it get's shown when I press ctrl+space explicitly but doesn't show up automatically.

[2021-05-27 13:34] #124473 closed

[2021-05-27 13:35] alexdima commented on #124742
@hediet Can you try to unbind the keybinding that arrow right accepts the completion ?

[2021-05-27 13:52] hediet commented on #124742
Oh I misread the issue description. But what should be the expected outcome?
You can either only position the cursor directly before the decoration or directly after it, but not both. We explicitly want to set the cursor directly before it.

[2021-05-27 13:53] alexdima opened #124756 "`LiveInlineCompletions` should be disposed when `InlineCompletionsModel.hide` is called"
You can use the following patch to see the problem:

[code]

* use inline completions
* observe that `inline-completion-tracking-range` never reaches 0 even when pressing Escape to dismiss the inline completions.
![image](https://user-images.githubusercontent.com/5047891/119838272-90cb9400-bf03-11eb-82bd-5ae5a614a64c.png)

[2021-05-27 13:55] alexdima commented on #124742
@hediet I think the problem is that the view model updates only on document content change events and on suggest widget focus events and doesn't re-evaluate the common prefix on cursor position change events.

[2021-05-27 13:59] Herasselbach commented on #124751
@jrieken so how should I now proceed?

[2021-05-27 14:07] MOAboAli opened #124757 "ERROR showing up while installing python Extension ."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:  1.56.2 (User Setup)
- OS Version: Win 10

Every thing was working ok until last couple of days.
I was trying to debug , it shows an ERROR that python Extension needs to install ( which was installed  ), I try to install it again, it also shows an ERROR as shown in the Image :

![image](https://user-images.githubus

[2021-05-27 14:08] peterwu commented on #124727
The gtk2 dependency is pulled in because of `libgdk-x11`.

Here is a snippet from `dnf deplist code`:

[code]

[2021-05-27 14:08] jrieken commented on #124751
You can reach out to author of the latex extension and/or wait for use relax how quick suggestions are triggered (which isn't currently planned)

[2021-05-27 14:08] Stadly opened #124758 "Run docker task in interactive mode"
`docker-run` tasks are always run in detached mode. I would like to specify which tasks should run in interactive mode, so I don't have to manually attach to the docker containers to see the output.

I have tried making `docker.commands.run` interactive, but it seems that tasks doesn't use those templates.

[2021-05-27 14:11] jrieken commented on #123884
Closing since we have finished the conversion to bytes and removed the old API.

Unsure if a separate issue for default renderer for mime-type (https://github.com/microsoft/vscode/issues/123884#issuecomment-843532823) already exists or not. Iff not it should be created 😄

[2021-05-27 14:11] #123884 closed

[2021-05-27 14:13] hediet opened #124759 "Filter References By Read/Write"
It would be nice if the reference view would allow to filter references by read/write access.

E.g. I want to investigate why a field is `undefined`. So I want to go through all the places that write to that field. In my case I have 50 read accesses and 5 write accesses.

Currently, reference view just lists all references (which is super by default).
It would be nice if I could filter that view e

[2021-05-27 14:22] Herasselbach commented on #124751
@jrieken  can I somehow modify the extension on my own in order to achieve the desired behaviour?

[2021-05-27 14:23] nutswong opened #124760 "Output error on Visual Studio Code"
Issue Type: <b>Bug</b>

[Running] node "/var/folders/kr/lybm6tfn1958wtxfd74cmtmr0000gn/T/tempCodeRunnerFile.javascript"
/bin/sh: node: command not found

[Done] exited with code=127 in 0.017 seconds

VS Code version: Code 1.56.2 (Universal) (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:44:30.902Z)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

[2021-05-27 14:28] deepak1556 commented on #124727
thanks for the clarification, looks like it was missed in the previous update. Marking as a bug, should switch to `libgdk-3`

[2021-05-27 14:39] jpenna opened #124761 "PHP Syntax highlight wrong"
Issue Type: <b>Bug</b>

It is apparently fixed in the nightly release.
Could you send a minor release to fix this issue, please?

<img width="454" alt="Screen Shot 2021-05-27 at 11 38 14 AM" src="https://user-images.githubusercontent.com/16005946/119846197-4e449000-bee0-11eb-9af6-58d933903651.png">

Reproduce (copy to a PHP formatted file):

[code]

VS Code version: Code 1.56.2 (054a9295330880ed74

[2021-05-27 14:40] jrieken commented on #107985
This seems to be missing a category of styles. There are buckets for errors, menus, input, and editors but nothing for "normal" background/foreground, like panel and then maybe list/tree

[2021-05-27 14:41] jpenna commented on #124761
Seems related to this one from 1 year ago https://github.com/microsoft/vscode/issues/48096

[2021-05-27 14:42] TylerLeonhardt commented on #124755
This is by design because "focus" is the same concept as focus on the web...it's lost when you click into the command palette.

Here's another example: if you show a button on `editorFocus` and then you click into the terminal, the button disappears.

I'm closing this as by design but if you describe what you're trying to achieve, I could potentially help you find a better context key.

[2021-05-27 14:43] sbatten commented on #122293
@lszomoru no I could not. I thought it might even be related to restarting the extension host multiple times and I tried that but still no luck, so it seems something related to trust specifically.

[2021-05-27 14:45] jrieken commented on #124000
Please try to reproduce this when starting with empty settings, e.g. start from the command line using `--user-data-dir` argument

[2021-05-27 14:49] sbatten commented on #124618
@gregvanl fyi for docs

[2021-05-27 14:51] bpasero opened #124762 "Consider to rename `registerContributionPoint`"
I find the name `registerContributionPoint` a bit misleading because to me it sounds like I would register a new contribution point to the workbench that others can contribute to?

How about `IEditorOverrideService#registerOverride`?

[2021-05-27 14:51] bpasero commented on #124762
Or to be future proof, `IEditorOverrideService.registerEditor`.

[2021-05-27 14:52] sbatten commented on #123771
I don't know how the context menus are created but if whoever creates the context menu knows the selected list item at the time, it could be used as the parent of the context menu in a shadow dom to preserve focus. this is how dropdowns work in view actions where they disappear on focus lost.

[2021-05-27 14:56] #124563 closed

[2021-05-27 14:57] sbatten commented on #124563
actually i see there is already such an extension https://marketplace.visualstudio.com/items?itemName=wraith13.zoombar-vscode

[2021-05-27 15:15] mrgrieves4 commented on #120604
I'm reasonably sure apple guidelines don't enforce every icon to be the same colour.  I have plenty of big sur-ified icons that are the new shape, but stand out well enough from the others.  Some of apple's own icons like xcode and mail look fine, as do sublime text, vivaldi etc.

Think Microsoft have just taken the lazy route and squashed the old icons into a horrible white background.

[2021-05-27 15:16] connor4312 commented on #107985
From Slack:

I plan to investigate the feasibility of this this week.

[2021-05-27 15:17] yannickowow commented on #124678
I can reproduce an issue with CatCoding extension (webview-sample)
Replace `scriptUri` with
[code]
You will see counter not increasing on VS Code 1.57 Insiders, and counter working correctly on VS Code 1.56.2.

Webview will open but will not work correctly, and you will see ERR_404 as well.

For information, my VS Code installation PATH contains a space, if it can help...

[2021-05-27 15:18] #124559 closed

[2021-05-27 15:19] marckassay commented on #124449
@jayeshjs007 What error, exactly?

[2021-05-27 15:21] mrleblanc101 commented on #120604
You might find it lazy but Microsoft is unifying its icons over hundred of apps and services on multiple platform and this is one of the few way to keep a consistent branding.

[2021-05-27 15:26] #123171 closed

[2021-05-27 15:33] mnrao2001 opened #124763 "& added to command to run python code in terminal"
Latest version of VS CODE with Python Extension
Issue:
(base) C:\dock_python>& C:/<directory>/python.exe c:/<directory>/server.py
& was unexpected at this time.

Reproduce step:
Click on play button "Run Python File in Terminal"

[2021-05-27 15:38] jrieken commented on #122465
close - this should be working now

[2021-05-27 15:38] #122465 closed

[2021-05-27 15:44] metagrapher commented on #124201
Right on. I suppose I was hoping that perhaps there was some system log of installation and uninstallation, though I know better than to assume that Windows has any record of registry changes or application installation/uninstallation in the system logs.

FWIW after installing VS Code Insiders I now have a broken context menu entry for VS Code.  Sharing because it seems related.

Thank you for loo

[2021-05-27 15:49] frederikhors opened #124764 "Add "File > Exit" keyboard shortcut?"
Often in my daily work I have many projects open in different instances of VSCode.

And I often find myself quitting using mouse and "File > Exit" to get all the windows back as soon as I reopen it tomorrow.

I can't find a way to add a keyboard shortcut for "File > Exit". It's possible?

If not possible today can you add this feature?

Thank you.

[2021-05-27 15:49] mrgrieves4 commented on #120604
OK, I can understand why they've done it but but that makes it a Microsoft problem not an apple one.  I actually really dislike the new icon on edge and outlook as well.  If "branding" sends a message, then the message I am getting is "quick and dirty"

[2021-05-27 15:51] jrieken commented on #124759
related to https://github.com/microsoft/vscode/issues/74237

[2021-05-27 15:52] connor4312 opened #124765 "Investigate adopting Prettier for VS Code"
Prettier is an opinionated code formatter. Over the base TypeScript formatting, the primary advantage is that it removes almost all decision-making from the formatting process, which makes writing and reviewing code easier.

Adopting it wholesale in VS Code could be disruptive. We could make it smoother by adopting prettier for subsets of VS Code gradually across an iteration or two. This requires

[2021-05-27 15:55] usernamehw opened #124766 "Custom editor and maximized panel"
Issue Type: <b>Bug</b>

1. Have no editor opened
1. Open panel (Terminal, for instance) and maximize it
1. Reload window
1. Click on any image file in file explorer to open custom editor

![__](https://user-images.githubusercontent.com/9638156/119863519-51607000-bf22-11eb-9ce5-75d46afde819.png)

VS Code version: Code (1.56.2), Code - Insiders 1.57.0-insider (1082913dd012e21cc5f35a06f15c480ca447f67

[2021-05-27 16:05] CastratedWalrus opened #124767 "Visual Studio Code randomly crashing with "just-in-time debugging exception""
Issue Type: <b>Bug</b>

I am unable to to provide the steps to reproduce the error as it seems completely random. It happens when running, opening folders, opening the app and getting extensions. vscode freezes for around 15 seconds the "Visual Studio Code is not responding" error. It then gives the option to debug, when I hit it, a window (in the screenshot) pops up.

apparently it had something

[2021-05-27 16:05] yzorg commented on #104838
Why does VSCode ask for a directory then creates **another** directory inside of it that matches the repo name? I would to disable that behavior: use the directory I just gave you without adding another folder.

[2021-05-27 16:07] misolori opened #124768 "Notebook run action not visible on Windows but visible on Mac"
Trying to figure if this is native notebook bug or a jupyter extension bug. I'm currently trying capture the end to end experience for opening a notebook file in VS Code.

![image](https://user-images.githubusercontent.com/35271042/119859850-9bb60280-beca-11eb-9c22-d17d66f0e049.png)

1. Open VS Code with an empty data & extensions directory
2. Open a notebook file
3. Install the recommended extens

[2021-05-27 16:09] alexr00 commented on #124348
Can you please share a copy/pastable sample?

[2021-05-27 16:10] rchiodo commented on #124768
I believe this is caused by the jupyter extension not returning the kernels yet. They should appear if you wait.

[2021-05-27 16:10] #124758 closed

[2021-05-27 16:12] isidorn opened #124770 "Remember chosen Environment per workspace / file"
1. Have no `launch.json`
2. have a `hello.js` file with a simple `console.log` statement
3. Press F5
4. Notice the Environment picker, choose js-debug everything works
5.  Stop debugging.
6. Press F5 again. The picker shows again 🐛

I think we should improve this. If debugging / running was successful we should remember the previous environment choice.
I think we should store this per workspace fo

[2021-05-27 16:15] pbannister opened #124771 "Proper conditional to "escape" clutter - dismiss build panel (or the like)"
Wired into my brain is use of the ESCAPE key to dismiss the panel shown after a build.
Or to quote a guy on StackOverflow: for a common operation why do "... I have to keep grabbing my mouse like a muggle?"

This is related to #47710 and #48122 (at least).
Pretty sure this was present in Visual Studio (not Code).
Pretty sure Sublime Text carried over this behavior, because ... _Hello?_ ... a commo

[2021-05-27 16:17] IanMatthewHuff commented on #124768
@misolori If you don't see the run button and kernel selections after a wait (look to see if during the wait the Python extension is trying to load that's the usual slowdown point) could you grab our logging info?

In vscode settings put Jupyter->Logging->Level to 'debug' and re-run the scenario. We then have a bunch of logging info in the Jupyter output window that we can look at to help debug.

[2021-05-27 16:18] alefragnani commented on #124338
The idea to add another `restricted` like entry, was a way let the extension developer to have control/decide which dependency must be allowed on untrusted workspaces.

But of course, if the dependency graph can be built automatically, it can be used.

Thank you

[2021-05-27 16:23] misolori commented on #124768
I've left the window open for several minutes and nothing changed, don't see any progress in the status bar or anywhere else. Here are the logs when I re-run the scenario:

[code]

[2021-05-27 16:26] misolori commented on #124768
Not sure if it was obvious by my repro steps + screenshots, but i specifically **did not install** the Python extension. This behavior differs from what I see on macOS.

[2021-05-27 16:34] connor4312 commented on #124770
I think per-file is good. I don't think it's so good per workspace, e.g. lots of CS students have all their coursework in a single folder/workspace which might includes multiple languages/projects

[2021-05-27 16:36] rchiodo commented on #124768
The error you're showing sounds like this fix here:
https://github.com/microsoft/vscode-jupyter/commit/eeeaa6cc9a62b26749d3150043056d96ab80c1f4

What's your version of Jupyter Extension? Don should have fixed that with a release last night.

[2021-05-27 16:38] cefn commented on #124296
@rebornix is anything known about this? I'm finding it hard to work at all without being able to copy-paste. If there are any known workarounds it would make a huge difference.

[2021-05-27 16:39] connor4312 commented on #124747
You should be able to fix this by running the `Toggle Auto Attach` command and setting it to `Disabled`.

I'm not sure how to reproduce the problem, though. Is this a new VM you connected to, or did you connect to it before in a different way or on a different version of VS Code?

[2021-05-27 16:40] sbohlen opened #124772 "Provide recommendations to remove or disable extensions after X duration of non-use"
In my work, I have the luxury/requirement of working with a myriad of different languages, technologies, etc. as I move from one project/client to the next.  Fortunately for me, VSCODE supports most/all of these quite well and so I tend to be able to retain it as my single IDE for most of my software engineering work (yay! -- great work, team!)

However powerful the 'extension' model is for VSCODE

[2021-05-27 16:45] IanMatthewHuff commented on #124768
Looks like Miguel is on 855 so that should be current. From the log it's "from a buffer" not "to a buffer" so it would actually be the function above the fix from Don.

Miguel could you share out the file?

[2021-05-27 16:46] connor4312 commented on #124328
It's an extra step in the funnel. Users need to:

1. Discover the file exists, and why they want to use it
2. Figure out the format of the file and what they need to configure
3. Finally run their program

You might have noticed the JavaScript Debug Terminal and `Debug: Open Link` command in  recent version of VS Code; those are our attempts to make that one step instead of three

[2021-05-27 16:48] onyx22574 opened #124773 "Developing for multi-core and heterogeneous devices"
Hello guys,

is there a possibility to use vs-code as IDE for multi-core and heterogeneous devices? So I could use a single IDE for Cortex-M, Cortex-A for heterogeneous devices such as [arm-development-studio](https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/heterogeneous-made-easy-arm-development-studio)

[2021-05-27 16:52] hediet commented on #124765
Some thoughts:

* Prettier with single quotation marks, tabs and semicolons is almost a strict specialization of our current style guide, i.e. everyone is free to use prettier for new code already.
    * Exceptions are single and double quotation marks - Prettier normalizes all of them to one or the other. This collides with our convention that `"foo"` is localizable whereas `'foo'` is not.

[2021-05-27 16:58] #124724 closed

[2021-05-27 16:59] cefn commented on #124296
This is an issue also after installing code-insiders

[code]

[2021-05-27 16:59] roblourens commented on #124724
There are some folders that we exclude by default (like `.git`), and the user's excludes will also be applied here. Tweaked the description a little to include that.

[2021-05-27 16:59] misolori commented on #124768
Yea I'm on `v2021.6.881596855`, [here's a link to the file i'm using](https://github.com/misolori/notebooks/blob/main/data-vizualization.ipynb).

[2021-05-27 17:00] connor4312 commented on #124765
Localization happens through the `localize` function. I think the usage of double quotes is just a convention to avoid having to escape apostrophes, which can also be avoided by using template literals instead (would need to make sure our loc pipeline picks up on this)

The annoying thing is that this can only be done (as far as I know) by manually choosing Format Document With > Prettier

[2021-05-27 17:01] Tyriar opened #124774 "defaultProfile description setting links aren't working"
<img width="593" alt="Screen Shot 2021-05-27 at 10 00 38 AM" src="https://user-images.githubusercontent.com/2193314/119867148-6ca38f00-bed2-11eb-96ff-cab78f2b25c8.png">

[2021-05-27 17:01] roblourens commented on #124761
Thanks for verifying that it's fixed in Insiders. We won't do a new stable release for this issue, but the next stable release will be in a couple weeks.

[2021-05-27 17:01] #124761 closed

[2021-05-27 17:05] garrettbsettles opened #124775 "Accessibility Request - Move files in File Explorer Sidebar for keyboard users"
**Problem**:
Currently to move files in and out of folders in side bar file explorer, a user must use a mouse to drag and drop files into desired folder. This poses an accessibility issue to keyboard users - If a user cannot use a mouse, a user cannot drag and drop files.

**Solution**:
When File Explorer Side Bar is focused, move files up or down with keyboard shortcuts option up or down or with

[2021-05-27 17:06] isidorn commented on #124770
Good point. Per-file is a safe choice and a good start.

[2021-05-27 17:07] JacksonKearl commented on #124765
IMO Prettier often is more like "Lengthener". There are a whole lot (10,000+) of lines that are over 140 chars in vscode repo, but if you run a search and look through them all, in the vast majority of cases the decision to make a line long was intentional on the part of the author because the stuff at the end really does not matter.  Applying prettier succeeds at making the line smaller, but seve

[2021-05-27 17:12] connor4312 commented on #124765
While you can [ignore code](https://prettier.io/docs/en/ignore.html), you can also change the print width. Normally (and for js-debug) I prefer to set the width at 100 characters. Ultimately though this is a matter of taste, I dislike the long lines in vscode since I almost always use a split view with a width of ~120 characters if I don't have the minimap on.

[2021-05-27 17:21] JacksonKearl commented on #124765
Even 120 would make that section less comprehensible IMO:

[code]

And adding `// prettier-ignore` before every line is moving backwards before. There's no range-ignore (https://github.com/prettier/prettier/issues/5287), so that'd be the only option.

[2021-05-27 17:24] CasP0 opened #124776 "tHE dOCKER"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-05-27 17:25] #124776 closed

[2021-05-27 17:27] JacksonKearl commented on #124765
All that being said I do use and enjoy Prettier in [VSCode GitHub Triage Actions](https://github.com/microsoft/vscode-github-triage-actions/blob/main/.prettierrc) (no semi ftw), so it's not like I'm totally against it. There are just a lot of common "legacy" constructs in VS Code core that I think would be decidedly less comprehensible post-Prettier.

[2021-05-27 17:38] Youvan-Kumar-E opened #124777 "c file automatically changing to c++ while saving"
Issue Type: <b>Bug</b>

While saving a C file named "Problem33" it is automatically changing to C++ file. It is not saved as a c file even if i give the extension as '.c' . It is changing to a C++ file automatically. This problem arises only when the file name is "Problem33" and not happening with any other name.

VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T1

[2021-05-27 17:40] amcasey commented on #124649
Any chance we can change the string "loading..." in this mode?  There isn't more info coming later.

[2021-05-27 17:43] DonJayamanne commented on #124768
@rchiodo @IanMatthewHuff the problem is the mime type `application/vnd.bokehjs_load.v0+json` didn't contain json data.  Looks like we'll need to inspect the data to see of it's json or not instead of just looking for the word json in mine type.

Eg if typeof data === object and object.keys(data).length > 0 or similar before we convert to bytes. And we might want to add some metadata that also take