[2015-12-10 10:38] isidorn commented on #1141
Root cause seems to be the timing issue. In this case I first get a reattach request and only then a terminate for the running session. Since the debug service always tries to attach to a running session if there is one, in this case it will attach to the one that is about to be terminated

[2015-12-10 10:41] Alphapage opened #1166 "Feature request : add file location and line number to CompletionItem"
Hello,

I've read this new feature will be available soon:
With the Dec15 update you can invoke this command https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/common/extHostLanguageFeatureCommands.ts#L55 to retrieve the same list of completions the UI would show.

It would be great to know where the CompletionItem is pointing to (which file and which line number) if available lo

[2015-12-10 10:51] felixfbecker opened #1167 "Allow multiple build tasks depending on file type"
I'm working with a lot of projects that have different build tasks for different file types, for example I `javac` for Java, `pdflatex` for Latex, others may have `lessc` for their styles and `babel` for their JS.
Currently, you can only define _one_ build task to be run when Ctrl+Shift+B is pressed. tasks.json allows us to nicely define tasks to run with the currently opened file, but (eg compile

[2015-12-10 10:54] #913 closed

[2015-12-10 10:57] jrieken commented on #408
We will make JSX better supported in the near future

[2015-12-10 10:58] jrieken commented on #455
Done by having the default be ES6

[2015-12-10 10:58] #455 closed

[2015-12-10 11:00] jrieken commented on #592
Indeed that's indented but you can configure it with the `redeclaredVariables` JavaScript lint option. Even tho the functions are defined in two files they share the same (global) scope.

[2015-12-10 11:00] #592 closed

[2015-12-10 11:03] weinand commented on #1141
@isidorn thanks for the analysis. Yes, there was a change on my side that most likely delayed the terminate event: for windows I had to make the 'killtree' synchronous, so that the debug adapter would not terminate before 'killtree' had done its job.

Since this is a 'good fix', I don't want to revert it. I think we should try to make your code less dependent on the order of events: a terminated e

[2015-12-10 11:24] jrieken commented on #629
This comes from the version of TypeScript we are using behind the scenes. Will be fixed once we use project salsa.

[2015-12-10 11:46] #1163 closed

[2015-12-10 11:50] jrieken commented on #1076
I don't believe that supported like that, but moving to OmniSharp for comment first.

[2015-12-10 11:50] jrieken commented on #1076
This issue was moved to OmniSharp/omnisharp-roslyn#361

[2015-12-10 11:50] #1076 closed

[2015-12-10 11:56] jrieken commented on #777
@DracotMolver I am sorry, but i still haven't understood the issue here? Can provide detailed steps or let me know if this became obsolete?

[2015-12-10 12:16] voelzmo commented on #1033
Sounds like a reasonable proposal to me. I'm wondering if that's what e.g. atom is doing? Because for atom the same setup works pretty well for me.

[2015-12-10 12:18] kumarbalap commented on #1161
@bpasero system suddenly hanged, so I did forced shutdown. I have a strong feeling that the editor made the system slow. The file was fine till the restart, when I opened after the restart it's corrupted. I did saved the file several times before this happened. So whichever the files not saved, got corrupted. One php and js file.

[2015-12-10 12:39] bpasero commented on #1161
@kumarbalap so it happened for more than just one file?

[2015-12-10 12:46] kumarbalap commented on #1161
Yes @bpasero

[2015-12-10 12:56] lyquocnam opened #1168 "Can't write Vietnamese text in editor with UniKey software"
this not for vietnamese programer ? i can not write vietnamese language: "Tôi yêu Việt Nam" on editor, please fix !

[2015-12-10 13:42] bgse opened #1169 "Allow relative path when adding file to project folder"
Similar like Atom does it when adding a file to a project folder, allow us to specify a path relative to the project folder.

This would be a much more convenient way to add files compared to navigating a file tree and clicking buttons, especially useful for those of us who like to disable trackpads on their laptops and use keyboard only.

Say I have in my project folder the subfolder 'foo', and i

[2015-12-10 14:15] jrieken commented on #1166
Tend to disagree because its not part of the completion item model. We might enhance the return to be a CompletionsResult instead of an CompletionItem-array and in there we could provide more context. However, when you make that command-call, you must already know the file and position: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/common/extHostApiCommands.ts#L265

[2015-12-10 14:16] jrieken commented on #1166
Related to #202 and #752

[2015-12-10 14:25] jasabalete commented on #1138
My repo is GitLab CE

    $ git config remote.origin.url
    http://ISLINGIP01.scisb.isban.corp/portales-branch-locator/branch-locator-select-ui.git

The URL with the final slash only apears in VSCode and if i put this URL in Chrome for example return ERR_TOO_MANY_REDIRECTS

Why VSCode connect with the remote and add a final slash?

[2015-12-10 14:27] Alphapage commented on #1166
I'm agree with you.
If you create a language extension, then you don't need such a feature I think.

My request applies more to extend an existing language.

[2015-12-10 14:27] bgse commented on #229
There seems to be a problem when trying to enable your copr on F23 using dnf, it looks here:

https://copr.fedoraproject.org/coprs/mosquite/vscode/repo/fedora-23/

this should probably be

https://copr.fedoraproject.org/coprs/mosquito/vscode/repo/fedora-23/

Notice 'mosquito' is apparently spelled wrongly as 'mosquite'.

[2015-12-10 14:27] jasabalete commented on #1138
Note: the error is in VSCode when I do a push or a pull in the Git feature

[2015-12-10 14:28] joaomoreno commented on #1138
Is there any way you can set up a repository in that same server and give me credentials to access it so I can try to repro?

[2015-12-10 14:30] #231 closed

[2015-12-10 14:37] aeschli commented on #1148
What you suggest we actually already do. We have some built-in schemas. The meta-schema is one of these, it's modified in that it includes descriptions.
But I'm currently working on allowing extensions to contribute schema associations and was about to remove all built-in schemas. I changed it and package the meta schema again, so we don't loose the descriptions.
The right thing to do would be to

[2015-12-10 14:37] #1148 closed

[2015-12-10 14:50] isidorn commented on #1142
@jcward great repro steps - thanks!
The issue is that we wrongly expect "win" not "windows" in `package.json`. So as a workaround please use "win" in your `package.json`. I understand this is not aligned with our docs so from now on we will support both "win" and "windows" to end the confussion - will push that in 5mins 😊

[2015-12-10 14:54] #1142 closed

[2015-12-10 15:06] bgse commented on #229
Adding the repo file manually works fine though, installs without any apparent issues.

[2015-12-10 15:24] jacdavis commented on #937
I don't see anything in the dev console when running with --verbose

[2015-12-10 15:28] Spown opened #1171 ""Change all Occurrences" in a string with stop or whitespace chars"
"Change all Occurrences" doesn't work if the text selection contains stops, spaces or such. Furthermore, if the text was selected from L->R - it just doesn't do anything, but if R->L - it automatically selects the most left word and then invokes the "Change all Occurrences".

[2015-12-10 15:34] egamma commented on #1171
Please provide an example so that we can reproduce the problem.

[2015-12-10 15:37] jcward commented on #1142
Excellent, it's working, thanks!

[2015-12-10 15:41] Spown commented on #1171
![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2015-12/2015-12-10_16-40-23.gif)

[2015-12-10 15:51] bpasero commented on #937
@jacdavis when you change a file outside of VS Code does the explorer show you the changes? E.g. try with deleting a file or duplicating one that is inside your workspace and showing in the explorer.

[2015-12-10 16:13] jrieken commented on #1166
We are sketching up some ideas here #1172. Still, note that the commands are not meant to be used when extending a language but when building on top of a language, like a status bar UI for the hover.

[2015-12-10 16:20] #259 closed

[2015-12-10 16:45] jpoon commented on #1111
Windows 10

[2015-12-10 16:52] bpasero commented on #1169
Sounds like a cool opportunity for an extension too.

[2015-12-10 17:17] jasongrout commented on #231
Thanks!

[2015-12-10 17:25] garystorey commented on #155
How do I enable this setting?  Currently running v0.10.3

[2015-12-10 17:43] alexandrudima commented on #231
:heart:

[2015-12-10 18:06] alexandrudima commented on #523
@yueyang68 Can you please help me out with a specific reproducible example (i.e. large file and what to search for, what to replace with).

Thank you!

[2015-12-10 18:12] jasabalete commented on #1138
the same error in gitlab.com repository.

I invite you in a public repository for testing and "master" role :)

[2015-12-10 18:27] jasabalete commented on #1138
I do this:
1 - Create a public repository
2 - git clone https://blah/blah.git
3 - Open the folder with VSCode
4 - Commit and push a file
5 - VSCode add final slash "/" and error
    fatal: Authentication failed for 'https://blah/blah.git/'

[2015-12-10 18:44] dfinke opened #1173 "Question: Is there a cli for this?"
I wanted to use https://www.npmjs.com/package/open in my extension.

Is there a way, from VS Code `F1` (or the cmd line) to install open, grab the d.ts from nuget (unpackage it to the correct subdir), add the `/// ref` to the current ts and update the package.json?

Thank you

[2015-12-10 19:20] jacdavis commented on #937
@bpasero - the file does update. There is still nothing in the debug console. I do occaisionally see this error in the console code was launched with:
==== JS stack trace =========================================

Security context: 0x2d4d801b45d1 <JS Object>
    1: JSONSerialize(aka JSONSerialize) [native json.js:~120] [pc=0x170ee0355b1d] (this=0x2d4d801041b9 <undefined>,G=0x2d4d80105c59 <String[1

[2015-12-10 19:29] jamietre opened #1174 "[js] Quotes not parsed properly in ES6 string templates"
When using single or double quotes within back-tick quotes, they are not considered quoted:

![screenshot 2015-12-10 14 26 50](https://cloud.githubusercontent.com/assets/573056/11725918/1e339a48-9f4a-11e5-90ac-d02f433dcdca.png)

So if they happen to be closed within the back ticks, it's not the end of the world, but if not, all subsequent formatting is lost.

[2015-12-10 20:11] aibolit opened #1175 "[python] strings in dictionary values incorrectly highlighted"
When creating dictionaries with any values the strings in the value section are all hi-lighted blue and not red.
e.g. for the following code snippet
[code]
The string "a" will be highlighted red, while "b" and "c" will be highlighted blue even though they are both strings like "a" is.  "b" is also a key to a dict like "a" is

Note: this is using the "Light" theme

[2015-12-10 20:17] bpasero commented on #937
Thats weird, you should get something like this when running "code --verbose" and opening the dev tools (Help > Toggle Developer Tools):

![image](https://cloud.githubusercontent.com/assets/900690/11727308/7bca5992-9f83-11e5-998e-1d924986d85a.png)

[2015-12-10 20:34] jacdavis commented on #937
No, I'm not seeing that. Would you like me to share out my vhd?

Sent from my Windows Phone
________________________________
From: Benjamin Pasero<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 12:18 PM
To: Microsoft/vscode<mailto:vscode@noreply.github.com>
Cc: Jackson Davis<mailto:Jackson.Davis@microsoft.com>
Subject: Re: [vscode] Debug configuration fails to populate when running on centos

[2015-12-10 21:07] mohsen1 opened #1176 "Support JSON Schema for YAML files"
It's getting more common to use YAML for configuration. For example `docker-compose.yml` or Swagger files are usually written in YAML. The JSON Schema based autocomplete for JSON files is a neat feature, please enable that for YAML files also.

[2015-12-10 21:17] latkin opened #1177 "Double-clicking leading whitespace should select all leading whitespace"
In most editors, you can double-click anywhere in the leading whitespace of a line to select all such leading whitespace (even mixed tab/space).

In VS Code, double-clicking leading whitespace only selects that single whitespace character.

Examples of expected behavior in Notepad++ and VS, and unexpected behavior in Code:

![leadingwhitespace](https://cloud.githubusercontent.com/assets/5943573/11

[2015-12-10 21:26] foobar8675 opened #1178 "debugging bluebird promises"
Can vscode debug node code allowing one to step through promises without setting breakpoints? This is similar to clicking "Async" in the chome debug tools as described in this question.

http://stackoverflow.com/questions/32767721/how-to-step-through-debugger-with-promises

[2015-12-10 21:37] rickmed opened #1179 "output console not showing process.stdout.write"
**I have this on my tasks.json**

{
    "version": "0.1.0",
    "command": "cmd",
    "options": {
      "env": {
        "NODE_ENV": "development"
      }
    },
    "isShellCommand": true,
    "args": ["/C"],
    "tasks": [
        {
            "taskName": "Run node current file",
            "args": ["node ", "${file}"],
            "isBuildCommand": true,
            "suppressTaskName": true

[2015-12-10 21:45] alexandrudima commented on #259
@so0k I've pushed:
* `toggleFindCaseSensitive`: <kbd>ALT</kbd>+<kbd>C</kbd>, <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>C</kbd>
* `toggleFindWholeWord`: <kbd>ALT</kbd>+<kbd>W</kbd>, <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>W</kbd>
* `toggleFindRegex`: <kbd>ALT</kbd>+<kbd>R</kbd>, <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>R</kbd>

These will also work when the find widget is not visible.

[2015-12-10 21:47] lordgreg commented on #455
@jrieken I don't understand your last comment on this issue? This is done by having the default be ES6? Where? Default what? You mean in tsconfig.json?

[code]

[2015-12-10 21:48] alexandrudima commented on #406
@prasannavl
I've pushed with 0b90eb2c25202d6379ec180d0d29514c2ee607ef:
* `toggleFindCaseSensitive`: <kbd>ALT</kbd>+<kbd>C</kbd>, mac: <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>C</kbd>
* `toggleFindWholeWord`: <kbd>ALT</kbd>+<kbd>W</kbd>, mac: <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>W</kbd>
* `toggleFindRegex`: <kbd>ALT</kbd>+<kbd>R</kbd>, mac: <kbd>CMD</kbd>+<kbd>ALT</kbd>+<kbd>R</kbd>

These will also work w

[2015-12-10 21:51] alexandrudima commented on #509
@Tyriar I think the changes for #51 also address this issue. Is that fair?

[2015-12-10 22:05] #512 closed

[2015-12-10 22:06] alexandrudima commented on #527
Thanks to @spellizzari this is now in! :+1:

[2015-12-10 22:06] #527 closed

[2015-12-10 22:13] alexandrudima commented on #645
@jrieken Looks like one of the results of param hints is incorrect. Do we validate these data structures before forwarding them to the UI?

[2015-12-10 22:16] jeromu opened #1180 "Allow variables in launch.json config"
Allowing a variable like '${file}', in "launch.json" would open up nice workflows.

For example, I want to launch the debugger with the current file as a parameter, so that I can run a specific test.

Right now, I need to modify the launch.config every time I want to debug a single test.

[2015-12-10 22:36] Tyriar commented on #259
Can the keybindings be customized in keybindings.json?

[2015-12-10 22:38] Tyriar commented on #509
@alexandrudima did #51 change `focus*Editor` and `copyLines*Action`?

[2015-12-10 22:59] RyanCavanaugh commented on #527
Thank you @spellizzari ! :trophy: Can't wait to set up a local build and start using this.

[2015-12-11 00:07] remcoros commented on #1111
Windows 10 also

[2015-12-11 00:19] so0k commented on #259
Thank you very much. Will test later & confirm

On Fri, Dec 11, 2015 at 5:37 AM, Daniel Imms <notifications@github.com>
wrote:

[2015-12-11 00:28] pborgo commented on #231
Thank you very much! =)

[2015-12-11 02:18] justin-romano opened #1181 "Add more keyboard bindings for debug features"
Add more keyboard bindings for debug features such as Add watch and evaluate in console.

[2015-12-11 02:30] g0ne150 commented on #455
@lordgreg It seems theres no needed jsconfig.json for ES6 syntax, ES6 in <script> tag nothing changed

[2015-12-11 02:39] chrisdias commented on #219
Thanks for the suggestion! The vscode gitter room can be found here: https://gitter.im/Microsoft/vscode.

Now, some background on why it took so long to resolve this issue. We had quite a bit of deliberation on the team as to whether or not we have a gitter room, slack channels, or nothing at all.

Here's why. Since moving to GitHub, we have been managing a large number of input channels (GitHub i

[2015-12-11 02:39] #219 closed

[2015-12-11 04:14] jeromu commented on #1174
+1, I ran into the same issue, even if my jsconfig.json is set to ES6:
{
	"compilerOptions": {
		"target": "ES6",
		"module": "commonjs"
	}
}

[2015-12-11 04:41] TakahiRoyte opened #1183 "[js] Parameters of ArrowFunction in JavaScript, does not get syntax hightlighted"
`var a = function (value) { }`  this code highlights the parameter value
`var a = (value) => { }` but this one does not.

this also happens in TypeScript.  is this intended?

[2015-12-11 04:45] javagg opened #1184 "vscode should have its own orgnization on github."
As more extensions  added to vscode, it is reasonable that all the vscode related stuff goes to one place that allow people to easily work with it.

[2015-12-11 05:41] DCoderLT opened #1185 ".ts and .d.ts files sharing the same filename interfere with each other"
I have an in-house library written in TypeScript. It consists of two files: `promises.ts` and a `promises.d.ts` exposing related interfaces globally. The TypeScript compiler has no problem with this setup, and neither does IntelliJ, but VSCode seems to only "be aware" of the `promises.d.ts` content while I have it open as the active file. As soon as I close it or switch to another file, the interf

[2015-12-11 06:03] mohsen1 commented on #1159
For reference the command is (is going to be) `"editor.expandLineSelection"`

[2015-12-11 06:18] mohsen1 opened #1186 "Add "select all matches" command"
Similar to Sublime Text `cmd+ctrl+g` command which selects all the matches of current selection

http://gfycat.com/DazzlingMeagerErin

[2015-12-11 06:42] agentwx opened #1187 "执行powershell显示乱码"
执行powershell时，output区域显示的中文乱码
��ʹ�� -Command ����ָ���ˡ�-����������Ϊ -Command ָ�������κβ�����

PowerShell[.exe] [-PSConsoleFile <�ļ�> | -Version <�汾>]
    [-NoLogo] [-NoExit] [-Sta] [-Mta] [-NoProfile] [-NonInteractive]
    [-InputFormat {Text | XML}] [-OutputFormat {Text | XML}]
    [-WindowStyle <��ʽ>] [-EncodedCommand <Base64 ����������>]
    [-File <�ļ�·��> <args>] [-ExecutionPolicy <ִ�в���>]

[2015-12-11 07:03] egamma commented on #1187
I'm sorry, but please file this issue again in English.

[2015-12-11 07:03] #1187 closed

[2015-12-11 07:07] egamma commented on #1184
Thanks for your feedback, we have considered a separate organization when we opened the code at github and decided against a separate organization. We can revisit this at a later point in time. For now the convention is to prefix vscode related repositories with `vscode-`.

[2015-12-11 07:07] #1184 closed

[2015-12-11 07:07] egamma commented on #1184
@chrisdias fyi

[2015-12-11 07:10] egamma commented on #1181
FYI @isidorn @weinand

[2015-12-11 07:19] egamma commented on #1180
@isdorn we already support this, can you check that we cover this in our documentation.

[2015-12-11 07:22] egamma commented on #1178
This is currently not supported. @weinand fyi

[2015-12-11 07:27] egamma commented on #1173
Use the 'tsd' tool to install the .d.ts file from 'definitily typed' (not nuget). `///ref` are not needed anymore when the tsconfig.json is properly configured, that is the 'typings' folder is a peer of the tsconfig.json. See the vscode-samples https://github.com/Microsoft/vscode-samples.

In the future please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) usi

[2015-12-11 07:27] #1173 closed

[2015-12-11 07:29] egamma commented on #1176
@aeschli fyi

[2015-12-11 07:31] egamma commented on #1177
fyi @alexandrudima

[2015-12-11 07:58] isidorn commented on #1180
Yes, this is already supported, please check
https://code.visualstudio.com/docs/editor/tasks#_variables-in-tasksjson
I have updated our debug docs to make this more clear

[2015-12-11 08:14] aeschli commented on #1183
This is https://github.com/Microsoft/TypeScript-TmLanguage/issues/22

[2015-12-11 08:14] #1183 closed

[2015-12-11 08:52] joaomoreno commented on #1138
Thanks for the repo access. There was definitely a problem with VS Code's credential helper. When running the push action, you should have seen this dialog:

![image](https://cloud.githubusercontent.com/assets/22350/11739560/b8ad5832-9fec-11e5-8545-4d40e0bc6a20.png)

The dialog is not showing up in `0.10.3` unfortunately. Fixed it and will be in for the December milestone.

With the fix, I was abl

[2015-12-11 09:02] aeschli commented on #1175
fix delivered

[2015-12-11 09:02] #1175 closed

[2015-12-11 09:03] aeschli commented on #1174
duplicate of #133.

[2015-12-11 09:03] #1174 closed

[2015-12-11 09:06] alexandrudima commented on #259
@Tyriar yes

[2015-12-11 09:07] jrieken commented on #455
jsconfig never includes html files, but the default settings, even in absence of a config files are now set to ES6

[2015-12-11 09:08] jrieken commented on #645
Just a little bit :-)

[2015-12-11 09:10] alexandrudima commented on #509
@Tyriar Sorry about that, it was getting late yesterday :smile: You're right, those ones I didn't touch

[2015-12-11 09:30] alexandrudima commented on #677
This now works for me as expected after 53186e97a62d059d8bc6bcffd88896ea7a531571 with `"editor.tabSize": 2` and `"editor.insertSpaces": true` :

![1cuza5b1fr](https://cloud.githubusercontent.com/assets/5047891/11740327/038f83c0-9ff2-11e5-84ff-25c9c4740921.gif)

[2015-12-11 09:30] #677 closed

[2015-12-11 09:32] alexandrudima commented on #577
Let's track this in #761

[2015-12-11 09:32] #577 closed

[2015-12-11 09:38] bpasero opened #1188 "Accepting completion from IntelliSense now selects the part that got completed"
This is annoying because when you continue typing after accepting a suggestion you delete it.

[2015-12-11 09:47] zcyzcy88888 opened #1189 "Text blur when check 'Find All Reference'"
Like this:
![360 20151211174429](https://cloud.githubusercontent.com/assets/15178410/11741099/badd8e48-a031-11e5-9601-fea5a2cb85f5.png)

[2015-12-11 09:59] egamma commented on #732
It is now enabled in both jsx and tsx files and for both the jsx filter is used that converts class -> className

[2015-12-11 09:59] #732 closed

[2015-12-11 10:01] #1188 closed

[2015-12-11 10:09] alexandrudima opened #1190 "Bad suggestion sorting for TS compared to JS"
Going for the for loop snippet:

## JavaScript (snippet is close by):
![forjs](https://cloud.githubusercontent.com/assets/5047891/11741172/7d04981c-9ff7-11e5-81c8-e99c45a0723c.gif)

## TypeScript (snippet is after many non relevant suggestions):
![forts](https://cloud.githubusercontent.com/assets/5047891/11741199/9802b338-9ff7-11e5-80d0-3bd0512679aa.gif)

[2015-12-11 10:10] #645 closed

[2015-12-11 10:12] lordgreg commented on #455
So this is getting fixed in new update?

[2015-12-11 10:15] egamma commented on #1096
### Emmet support in JSX and TSX files
- [ ] win

In both .tsx and jsx files the following snippet
[code]

Should expand to
[code]

[2015-12-11 10:27] #1010 closed

[2015-12-11 10:29] jrieken commented on #455
With Dec15 the default for all JS will be ES6, however we have not tackled html-files and jsconfig

[2015-12-11 10:34] jrieken commented on #1096
## ES6 by default

 Make sure that ES6 is supported without the need to configure something. That that
* JS code inside html supports ES6, like `let`, `const`, and `class C {}`
* Have no jsconfig file and make sure ES6 is supported
* create a new jsconfig.json and make sure the default is ES6 for the target property

[2015-12-11 10:44] jrieken opened #1192 "multiline string break colouring"
![screen shot 2015-12-11 at 11 44 03](https://cloud.githubusercontent.com/assets/1794099/11741951/8aed44c4-9ffc-11e5-8738-03478944eebf.png)

[2015-12-11 10:51] dbaeumer commented on #1096
## Language Server

[ ] win | mac | linux

The language client / server libraries now support the complete set of language features available in the extension host. Implement a sample language server with more features by taking https://github.com/Microsoft/vscode-languageserver-node-example as a starting point. Focus on the new support for CodeActions, CodeLens, Formatting and rename.

[2015-12-11 10:57] joaomoreno commented on #962
Just set up a brand new Windows 10 VM. Installed **VS Community 2015**, **node 5.1.0** and **Python 2.7**. Got some errors at first, but realised I did not install the C++ tooling. Went to **Control Panel**, hit **Modify** in the Visual Studio item and added the **Visual C++** tooling.

![image](https://cloud.githubusercontent.com/assets/22350/11742193/26cb85e4-9ffe-11e5-9dc0-502a601e5212.png)

I

[2015-12-11 10:57] #962 closed

[2015-12-11 10:59] joaomoreno commented on #962
You seem to be in a system that has had Visual Studio 2013 installed before, since you mention the following path:

[code]

In my brand new VM, I only have the `V140` directory, not the `V120`:

[code]

[2015-12-11 11:16] dbaeumer commented on #1160
I can't reproduce this using the latest tsserver which we intend to upgrade to with the next VSCode build. I verified that we don't access highlightSpans in our code.

[2015-12-11 11:18] dbaeumer commented on #1185
@DCoderLT can you provide a small test case showing the behavior. The interesting question is how your tsconfig.json file looks like which the tsserver is relying on.

[2015-12-11 11:21] bpasero opened #1193 "Mac: Keybinding conflicts detected"
With latest I see this:

Conflict detected, command `cursorBottom` cannot be triggered by cmd+down
//Users/bpasero/Development/monaco/out/vs/platform/keybinding/common/commonKeybindingResolver.js:70 Conflict detected, command `cursorTop` cannot be triggered by cmd+up
//Users/bpasero/Development/monaco/out/vs/workbench/services/thread/electron-browser/threadService.js:196 [Plugin Host] debugger lis

[2015-12-11 11:21] dbaeumer commented on #1179
@ricmed205 which version of node are you using. There is a know problem with node not flushing stdio before the process exits which results in loosing output. There is not much VSCode can do about it since we are reading childProcess.stdout and never get the text.

[2015-12-11 11:31] isidorn opened #1194 "Do not prompt to terminate running task when closing VS Code"
We only prompt for data loss. IMHO we should just terminate the task

![screen shot 2015-12-11 at 12 26 01](https://cloud.githubusercontent.com/assets/1926584/11742718/5e44994e-a002-11e5-81b5-e9aa44872e1b.png)

[2015-12-11 11:37] Umriyaev commented on #962
I see.
Thank you for your help.

[2015-12-11 11:54] bpasero opened #1195 "Support encoding and lf/crlf from status bar for diff editor"

[2015-12-11 11:55] #1195 closed

[2015-12-11 11:55] leifcr commented on #162
@alexandrudima I've tested VScode on the same computer.

System configuration: (Dell xps 15-9530)
Ubuntu 15.10
Resolution 3200x1200
Intel HD Graphics 5000
Intel Core i7-4702hq
16 GB ram
SSD drive

And the behaviour is laggy when maximized, and fine in fullscreen and non-maximized. Same issue as in atom/atom#9724, so it's probably related to Chromium/electron.

[2015-12-11 11:56] #1189 closed

[2015-12-11 12:18] zcyzcy88888 opened #1196 "[Cancel] buttom should in [Don't Save] buttom's right"
In version 0.10.3, order like this:
![360 20151211200033](https://cloud.githubusercontent.com/assets/15178410/11743502/029f08cc-a043-11e5-9515-535c0de97d11.png)
This is different from other app:
![paint-save-dialog](https://cloud.githubusercontent.com/assets/15178410/11743680/5a6e5732-a044-11e5-8898-cbb09981f6fc.png)

[2015-12-11 12:27] alexandrudima opened #1197 "Weird flashing when hovering"
* theme: Quite Light
* double click on `TO_STRING_MAP` in `keyCodes.ts`
* hover over various instances.

![flashing](https://cloud.githubusercontent.com/assets/5047891/11743794/b2fe19c6-a00a-11e5-9aba-246a4e6b119d.gif)

[2015-12-11 12:38] leifcr commented on #162
Filed against ubuntu here: https://bugs.launchpad.net/ubuntu/+source/xserver-xorg-video-intel/+bug/1525207

[2015-12-11 12:49] egamma commented on #1196
fyi: @bpasero

[2015-12-11 12:52] Bigous commented on #69
@joaomoreno Same problem to me... I think it should be left open until it is fixed...

[2015-12-11 13:03] jrieken commented on #837
We will ship with version `v1.6.7.9` on Omnisharp

[2015-12-11 13:03] #837 closed

[2015-12-11 14:20] joaomoreno commented on #69
Since it is [fixed in code](https://github.com/Microsoft/vscode/commit/e57d6db414ee2f3f4e7da0535b39c6b4c1c02817), it is closed; that is the policy. There is a [milestone](https://github.com/Microsoft/vscode/milestones/Dec%202015) attributed to it which informs about when the fix is coming out in the product.

[2015-12-11 14:21] joaomoreno commented on #962
In case you actually find a solution to your problem, can I ask you to post it here? Maybe it'll help others. :+1:

[2015-12-11 14:21] dbaeumer commented on #1194
@isidorn there are different camps here :-). I added this because users were complaining that I simply terminated the task (e.g. they had longer running background tasks activated).

I already proposed the following: watching tasks we terminate without asking as long as not specified different in the tasks.json. Non watching tasks we prompt unless specified different in the tasks.json.

[2015-12-11 14:22] dbaeumer opened #1198 "Adopt TS 1.7.5"

[2015-12-11 14:24] egamma commented on #1194
The proposal to kill watching tasks automatically makes sense to me and it covers @isidorn's scenario.

[2015-12-11 14:30] egamma commented on #162
@leifcr thank you! Keeping the issue open to track the upstream problem.

[2015-12-11 14:39] isidorn commented on #1194
:+1: for killing watching tasks

[2015-12-11 14:46] aeschli commented on #1192
@jrieken please include a snippet of the source code that shows the problem

[2015-12-11 14:50] #1141 closed

[2015-12-11 15:03] ricmed205 commented on #1179
V4.2.3
On Dec 11, 2015 6:52 AM, "Dirk Bäumer" <notifications@github.com> wrote:

[2015-12-11 15:05] weinand opened #1199 "support to pass arguments to debug adapters"
I would like to configure debug adapters to run in trace mode.
Since passing a trace flag from the launch config would be too late, I would like to be able to configure command line arguments in the package.json of a debug extension.

[2015-12-11 15:14] jrieken commented on #1192
[code]

[2015-12-11 15:26] egamma commented on #1189
Did you zoom in and scroll? Can you pls check whether this is a duplicate of #959?

[2015-12-11 15:30] aeschli commented on #1006
I moved overwiteBefore and overwriteAfter from ISuggestResult to ISuggestion.
Removed the textEdit on ISuggestion again.
As a last step we can look into removing currentWord and replace it with overwiteBefore

[2015-12-11 15:32] aeschli commented on #599
Updating milestone to January.

[2015-12-11 15:36] egamma commented on #1096
## vscode-tslint

- [ ] win | mac | linux

- added support for configFile options (known limitations in /Microsoft/vscode-tslint#16
- schema support for the tslint.json configuration file

[2015-12-11 15:41] aroemen opened #1200 "Change horizontal scrolling to scroll the window"
Currently when scrolling horizontally with a touchpad it moves the position of the cursor. Can there be an option added to scroll the window verses just moving the cursor?

[2015-12-11 15:42] Umriyaev commented on #962
Sure! Of course I will

[2015-12-11 15:55] aeschli commented on #1145
@CraigWarford  This got already fixed for the last release (> 0.10.0). The closing tag for script no longer shows inside css. I also can't reproduce it.
On what build are you?
Do you have a code snippet?

[2015-12-11 15:55] #1145 closed

[2015-12-11 15:59] aeschli commented on #1150
This got fixes in the latest. We now always load the latest schema from http://json.schemastore.org/project (before it was cached)

[2015-12-11 15:59] #1150 closed

[2015-12-11 16:03] aeschli commented on #489
Implemented

[2015-12-11 16:03] #489 closed

[2015-12-11 16:06] aeschli commented on #489
If you want that VS Code provides validation and intellisense for your JSON configuration files, you have to configure a JSON schema.
If there's already such a schema accessible via http or http, add the following to the `contributes`  section:
[code]
If you want to provide one in your extension, have something like
[code]

[2015-12-11 16:08] ricmed205 commented on #1179
When I run the debug process (F5) it prints everything alright. I could use this to run node scripts although it's kind of annoying the messages of debugging in the console and that I need to stop the debugging process every time the script completes. Is there a way to auto stop the debugging process if a script completes ok?

[2015-12-11 16:11] aeschli commented on #1192
I verified that this is an issue of the grammar and not our textmate engine.

[2015-12-11 16:12] aeschli commented on #1192
This issue was moved to Microsoft/TypeScript-TmLanguage#26

[2015-12-11 16:12] #1192 closed

[2015-12-11 16:14] warrenbuckley opened #1201 "Request: Add events to OutputChannel such as onHide and onShow"
I am currently in the process of writing an extension that uses an output channel that is outputting live logs from an Azure Website from their Kudu APIs.

Currently the only way that the HTTP request will end is when the logstream API service times out after 20 minutes, I would much prefer to have the `outputChannel` have an event for `onHide` so that when the user hides/closes the outputChannel

[2015-12-11 16:14] isidorn commented on #1078
Keyword const is not highlighted because we use textmate grammers and I guess they do not highlight keyword 'const' atm.

@weinand It seems that the parameters `id` and `age` in this function get confused. Might you have an idea why this happens?

[2015-12-11 16:15] aeschli commented on #203
Autoclosing of xml tags is currently disabled. I'd like to bring it back at some point

[2015-12-11 16:16] isidorn commented on #1029
@bpasero I would like to be able to specify minimum viewlet width. I do not think something like this is possible at the moment, right?

[2015-12-11 16:17] bpasero commented on #1029
@isidorn no it is hardcoded in the layout code today.

[2015-12-11 16:41] #983 closed

[2015-12-11 16:43] alexandrudima commented on #1193
@jrieken pushed a fix for this default keybinding conflict

[2015-12-11 16:43] #1193 closed

[2015-12-11 16:47] #908 closed

[2015-12-11 16:48] #1196 closed

[2015-12-11 16:55] indrasantosa commented on #92
Same problem, worked for me as well. Thanks!

[2015-12-11 16:55] isidorn commented on #1156
@SofianHn do we know how many times did this issue happen?

[2015-12-11 16:55] f111fei opened #1203 "[extension api] vscode.workspace.onDidOpenTextDocument can't be triggered"
My extension is activated when code startup.

	"activationEvents": [
		"*"
	]

and the activate function like this

	export function activate() {
		vscode.workspace.onDidOpenTextDocument((d)=>{
			vscode.window.showInformationMessage("[Document Opened]:" + path.basename(d.fileName));
		});
	}

But vscode never showInformationMessage when startup although there are a document opened at first.

I tr

[2015-12-11 17:00] alexandrudima commented on #1096
## line/page scrolling
## select current line
## numpad keys
## find widget improvements
 - Ctrl+H, Ctrl+F, Ctrl+ArrowDown
 - Alt+C, Alt+W, Alt+R
## extension deactivate()
## keybindings with kb layout labels, Ctrl+K Ctrl+K

[2015-12-11 17:12] alexandrudima commented on #162
@egamma Looks like it is a confirmed driver issue of Ubuntu, not of Chromium/Electron

[2015-12-11 17:12] #162 closed

[2015-12-11 17:21] satya164 commented on #192
+1

[2015-12-11 17:22] satya164 commented on #552
+1

[2015-12-11 17:42] neilyoung opened #1204 "0.10.3: Changes in filesystem structure not always reflected in VSC"
e.g. adding a controller using ember-cli on a command line. One needs to restart VSC in order to see the changes.

Mac OSX El Capitan.

EDIT: Found the refresh button. Maybe this is a non-issue now.
Closed

[2015-12-11 17:48] SofianHn commented on #1000
The electron folks confirmed the issue on their side. Until this issue get fixed in electron and we get the new build, the workaround is to disable telemetry.

[2015-12-11 18:16] dreed47 commented on #1039
Osx El Capitan version 10.11.2  vscode Version 0.10.3 (0.10.3)

[2015-12-11 18:18] dreed47 opened #1205 "cant run the app from within the Applications folder on my Mac"
vscode Version 0.10.3 (0.10.3)  Mac OS version 10.11.2

[2015-12-11 18:47] jasabalete commented on #1138
This dialog is showing to me. I put the credentials and show the error

[2015-12-11 19:02] thyeun opened #1206 "Question : how to manage VS Code with android studios? (same like VS code with Unity)?"
will VS code possible to mange with android studios? same like the way VS code with Unity.

[2015-12-11 19:10] gcamana opened #1207 "Crash on OS X 10.8.5"
Process:         Electron [6002]
Path:            /Users/USER/Downloads/Visual Studio Code 2.app/Contents/MacOS/Electron
Identifier:      com.microsoft.VSCode
Version:         0.10.3 (0.10.3)
Code Type:       X86-64 (Native)
Parent Process:  launchd [262]
User ID:         501

Date/Time:       2015-12-11 14:06:41.392 -0500
OS Version:      Mac OS X 10.8.5 (12F45)
Report Version:  10

Interval Sinc

[2015-12-11 19:10] DCoderLT commented on #1185
Here's a minimal test case with a trivial interface and implementation: https://gist.github.com/DCoderLT/8a6df3fdddf8d3484900 .

After some debugging, it seems I missed a key detail earlier, and VS Code is probably doing the right thing - the TypeScript compiler did not have a problem with my setup because I was invoking it via gulp and giving it a file list that included both the .ts and the .d.t

[2015-12-11 19:11] thyeun commented on #1168
i been try to copy and paste "Tôi yêu Việt Nam" into VS code, i manage to save it with the change from encoding from others language to UTF-8

will you possible to change the encoding from your current language to UTF-8 inside VS code? because i been using version 0.10.3 VS code for chinese language and korea language with UTF-8.

hope this might be helping you!!

[2015-12-11 19:25] msiniscalchi commented on #1146
There seems to be nothing related to tasks showing up in the Command Palette. At the > prompt, if I type `task`, absolutely nothing shows up. For instance, the instructions at https://code.visualstudio.com/docs/languages/typescript#_transpiling-typescript-into-javascript about how to transpile TypeScript code do not work. There is no "Configure Task Runner" command.

This is on Win10,
Version 0.10

[2015-12-11 19:41] egamma commented on #1206
Not that I know, but please ask your question on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using
the tag `vscode`, then others can chime in, Thanks for your interest in VS Code.

[2015-12-11 19:41] #1206 closed

[2015-12-11 19:43] egamma commented on #1207
Duplicate of #296

[2015-12-11 19:43] #1207 closed

[2015-12-11 19:44] egamma commented on #1200
fyi: @alexandrudima

[2015-12-11 19:45] egamma commented on #1204
Also you do not have to restart VS Code you can also run 'Reload Window' from the command palette.

Closing as requested.

[2015-12-11 19:45] #1204 closed

[2015-12-11 19:46] JoshClose opened #1208 "HTML Mixed Mode Support"
I'm looking at having DustJS files syntax highlighted. It's just like PHP/ASP/etc, where it's an HTML file, with another language mixed in.

Is this supported? I'm not getting any highlighting for HTML in my file. There are no errors in the console either.

I created an extension using `yo code` and selecting `New Language Support`. I then used this URL as the tmLanguage file. https://raw.githubus

[2015-12-11 19:47] JoshClose commented on #1208
I also saw this. https://github.com/Microsoft/vscode/issues/543

[2015-12-11 20:04] sitefinitysteve opened #1209 "No syntax highlighting in XML"
On both Win10 and OSX my XML is not syntax highlighted at all.  If I swap the language over to HTML it looks fine, but this is a NativeScript .xml document, not an html page.

![image](https://cloud.githubusercontent.com/assets/1542376/11754298/5bf049a2-a018-11e5-8c32-717d40a9ec4b.png)

Thoughts?

[2015-12-11 20:21] Tyriar commented on #1209
Dupe of https://github.com/Microsoft/vscode/issues/23, this should be fixed in the next version.

[2015-12-11 20:23] egamma commented on #1209
@Tyriar thanks.
Closing as a dupe of #23

[2015-12-11 20:23] #1209 closed

[2015-12-11 20:24] egamma commented on #1185
@DCoderLT ok to close?

[2015-12-11 21:01] DCoderLT commented on #1185
Yes, I think this can be closed.

[2015-12-11 21:34] jaygeek commented on #527
Awsm! Can't wait. Thanks.

[2015-12-11 22:06] DanielRosenwasser opened #1210 "Open file dialog should start in the directory for the current active file"
When using `File > Open File`, this will open the directory of the last file selected through `File > Open File`. This is sub-optimal, since the current active file may not have been opened through that dialog. The dialog itself should be context-aware.

[2015-12-11 22:08] egamma commented on #1185
@DCoderLT thanks, closing.

[2015-12-11 22:08] #1185 closed

[2015-12-11 22:18] egamma commented on #1168
@alexandrudima fyi.

[2015-12-11 22:21] jskrepnek opened #1211 "Allow to configure auto save per workspace"
Version: 0.10.3

Auto save is either enabled or disabled for all open Code instances.

In my case, I would like the setting simultaneously enabled in a window for a Go workspace, but not enabled in a window for a Web-based workspace watch by a live-reload server.

Suggest it be a setting that can be set at the user and workspace levels.

[2015-12-11 22:26] neilyoung opened #1212 "Feature request: Sublime like display of folders"
...to have a better visual separation from files

[2015-12-11 22:39] peterblazejewicz commented on #1150
Thanks!

[2015-12-11 22:40] khrome83 opened #1213 "tsd mocha does not apply to files past index.js"
The mocha file for tsd works correctly for the index.js file that is at the root level of the test folder.

Any nested files within the test folder, as well as any files that are siblings to index.js does not hide the green underline that shows "can't find it" or "can't find describe".

Expected that when installing the tsd mocha, that visual studio code should recognize the commands past the init

[2015-12-11 23:47] Tyriar commented on #1212
Do you mean adding icons? https://github.com/Microsoft/vscode/issues/211

[2015-12-11 23:58] pagebrooks commented on #1111
I'm seeing the same issue as @remcoros
OS: Windows 7 x64
Extension: https://github.com/pagebrooks/vscode-hl7

[2015-12-11 23:58] prasannavl commented on #406
@alexandrudima - Looks good! Thanks for quickly resolving this. I think that should do it for the most part.

From a quick glance at the commit, I'm not sure if the `when` context as suggested by @rhbecker has been added, but I think that's quite important to ensure that the editor shortcuts aren't polluted when the find box is not open.

[2015-12-12 00:24] thyeun commented on #1206
Sorry @egamma , if my question offence your professional skill, but if nobody chime in, do you think that VS code can be improve?

And for your info, if stack overflow can provided me an answer, do you think that i still need to come here?

lastly, since for the moment VS code are not possible to make it work with android studios, so why not turn my question into a new feature for the coming versi

[2015-12-12 01:33] rhbecker commented on #406
@alexandrudima

Sorry, my last comment seems a bit off, in retrospect.

What I should have suggested is re-binding <kbd>Ctrl</kbd>+<kbd>h</kbd> and <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>h</kbd>, with context ...
`"when": "editorFocus && findWidgetVisible"`.

Both would execute the replacement already entered into the find / replace fields, regardless of which of the fields in the find widget has f

[2015-12-12 02:09] mohsen1 commented on #968
+1 to fuzzy matching file path, extensions and partial names. I can't find `"search.fuzzyFilePicker"` command though. I'm using 783ecf841a2b21edca6d86853670cae89b4c244f

[2015-12-12 04:29] altano opened #1214 "Support regex in files.exclude => when"
I would like to ignore JS files in my project when there's a matching TS _or_ matching TSX file.  Right now I have to choose one or the other.  Please support making the "when" directive in the "files.exclude" workspace setting use a regex, so I could do this:

[code]

[2015-12-12 04:29] altano commented on #1214
You may also want to add "when" to the docs.

[2015-12-12 07:31] neilyoung commented on #1212
Right. Duplicate of #211. Can be closed then

[2015-12-12 08:12] antirius opened #1215 "Hotkeys binding error"
Macbook. After selecting the text, if it is just trying to copy - move to a specific object. Very uncomfortable!

1. Select the text
2. Releasing tochpad
3. Immediately press cmd + c

Do not copy and jumped up

Video https://cloud.mail.ru/public/5874/ibzQNYA72

[2015-12-12 08:22] joaomoreno commented on #1138
I am using the username that I found in the bottom left corner of the GitLab UI. You can't use your e-mail address.

![image](https://cloud.githubusercontent.com/assets/22350/11760987/b77b20c8-a0b1-11e5-989f-187c5213f4c0.png)

And the password set in the following dialog:

![image](https://cloud.githubusercontent.com/assets/22350/11760989/c89fabc6-a0b1-11e5-89bd-bb7db262dd94.png)

Please make sure

[2015-12-12 08:23] joaomoreno commented on #1096
### Suggest widget #1006 #1079
- [ ] win
- [ ] mac
- [ ] linux

The Suggest widget underwent quite some heavy rework behind the scenes. Make sure everything still works as before.

### Scoped git services #718
- [ ] win
- [ ] mac
- [ ] linux

You should now be able to open a folder inside a git repo and still have the git features enabled.

[2015-12-12 08:27] joaomoreno opened #1216 "Git status bar actions need tooltips"

[2015-12-12 08:38] jasabalete commented on #1138
I know my credentials. I use this repository from several project with eclipse and command line too and works with ssh and https connections.

Thank for all :)

[2015-12-12 09:09] bpasero commented on #968
@mohsen1 this will be available in our December release, the commit you are on was a bugfix release only.

[2015-12-12 09:10] bpasero commented on #968
Closing to reflect the work that was done. Suggest to open individual issues for bugs around the implementation and requests to broaden fuzzy searching to other places.

[2015-12-12 09:10] #968 closed

[2015-12-12 10:12] freezestudio opened #1218 "Allow to open binary files in the text editor as explicit user gesture"
When I install GitHub Windows client, it generates an error, error details recorded in the

**X: \ Users \ xxx \ AppData / Local \ Temp \ VSD75A.tmp \ install.log**

File, I use vscode open it, but to give tips:

**The file can not be dispalyed in the editor because it is either binary, very large or uses an unsupported text encoding.**

Another: Use sublime text or notepad turns on properly.
Shal

[2015-12-12 10:58] alexandrudima commented on #527
@RyanCavanaugh fyi we plan to release on the insiders channel on Monday 14th

[2015-12-12 10:59] alexandrudima commented on #1200
@aroemen What OS are you using and what laptop brand. Sometimes, the trackpad gestures are implemented in funny ways (e.g. they send ArrowLeft/ArrowRight key down events instead of scroll events).

[2015-12-12 11:11] alexandrudima commented on #1168
@lyquocnam Can you please provide more details:
 * what is your OS
 * Is there a problem with typing vietnamese (i.e. if you paste the text, does it work)
 * Is there a problem with opening a file containing vietnamese (econding or font rendering)

[2015-12-12 11:28] dstorey opened #1219 "New gradient snippet has incorrect syntax"
A gradient snippet was recently added to the CSS snippets.

This has an incorrect syntax for the unprefixed version. When it was standardised the angles were changed so that the old "top" keyword (as used in the snippet) maps to "to bottom" in the standard syntax. "left" becomes to right, and so on.

The current code will create a gradient that is flipped for browsers that use the unprefixed versi

[2015-12-12 11:44] dstorey opened #1221 "[css] generate_browser.js doesn't included MIT copyright when generating browsersjs"
It just includes the MS copyright.

[2015-12-12 12:31] lyquocnam commented on #1168
it work only for copy and paste, but can not write directly
vietnamse people use this tool to write vietnamse character: http://unikey.vn/vietnam/
but any special char: ê, ô, í, ì... has been removed..
I'm using windows 10 and lastes version of VSCode.
i tested on utf-8 new file. :(

[2015-12-12 15:30] egamma commented on #1221
looks like a good catch, we need to preserve copyrights in generated .js files.

[2015-12-12 15:42] egamma commented on #1215
@jrieken can you repro this behaviour on OS X?

[2015-12-12 15:45] antirius commented on #1215
Yes, this error is permanent on OS X.

Removing and installing VScode again did not help

[2015-12-12 15:48] antirius commented on #1215
Just select the text and right click command. If the selection was completed over an object, the cursor will jump to the definition of the object.

[2015-12-12 15:56] egamma commented on #1214
There is a work around :smile:. Define define different regular expression that matches the same files:

[code]

@bpasero can you pls check that we cover `when` in our docs.

[2015-12-12 16:02] egamma commented on #1212
closing as duplicate of #211 as requested, thanks.

[2015-12-12 16:02] #1212 closed

[2015-12-12 16:03] egamma commented on #1210
@bpasero fyi

[2015-12-12 16:05] egamma commented on #1211
So my preference would be that auto save can also be enabled in the web-based workspace by making it less 'aggressive'. See  also #353 and #1055.

@bpasero fyi

[2015-12-12 16:10] antirius commented on #1215
https://cloud.mail.ru/public/Dg3L/oAxeRaqVy

[2015-12-12 18:14] bpasero commented on #1211
:+1:

[2015-12-12 18:14] bpasero commented on #1210
Not convinced, but Sublime seems to do this too.

[2015-12-12 18:15] bpasero commented on #1218
@freezestudio can you attach the file please?

[2015-12-12 18:19] bpasero commented on #1214
It is here: https://code.visualstudio.com/docs/languages/typescript#_hiding-derived-javascript-files

[2015-12-12 20:09] tstringer opened #1222 "Extensions with console-like behavior"
Currently with the extensions API, we have access to output channels (creation and access through `vscode.window.createOutputChannel()`).  And likewise, we can get adhoc user input through `vscode.window.showInputBox`.

I think what would be really helpful is if the extensions API included the capability to have a console-like experience, much like the **debug console** has (input part of the expe

[2015-12-12 22:22] pcgeek86 opened #1223 "Mac OS X :: "Open Folder With" VS Code"
Hello,

Since Finder is obviously developed by Apple, I'm not sure if this would be possible or not. Is there any way to right-click a folder in Finder, and "open with VS Code?" You can do this with individual files, but it would be a nice, small workflow enhancement to be able to open a _folder_ with VS Code, directly from Finder, as well. If not, no big deal. This would be a fault with Finder, r

[2015-12-12 22:45] dstorey opened #1224 "[css] Browsers without version number don’t show in CSS IntelliSense"
The css-scheme.xml file often includes a browser token without a version number, to either mean all versions, or perhaps that the version number is unknown. This is common for Chrome as it came into existence after many versions of Safari, and I followed that pattern for Edge (using E, rather than E12).

These browser do not show up in the CSS IntelliSense.

Steps to repo:

Start typing :corner-pr

[2015-12-13 00:31] weinand opened #1225 "whenever debug UI is waiting for response from adapter, support to cancel and abort session"

[2015-12-13 01:44] freezestudio commented on #1218
GitHub Setup error log file:
this rename .log to .txt:
[install.txt](https://github.com/Microsoft/vscode/files/60307/install.txt)

[2015-12-13 03:14] takumif commented on #1223
![screen shot 2015-12-12 at 10 10 05 pm](https://cloud.githubusercontent.com/assets/5505433/11765250/352e78f6-a11d-11e5-92fb-6a78cc55487b.png)

You can open a folder by drag-and-dropping it on the VSCode icon on the dock. I personally don't like apps that clutter the right click menu.

[2015-12-13 04:01] beattyml1 commented on #84
+1 here in addition to user voice I don't know which is  checked more

[2015-12-13 05:05] TerrorBite commented on #514
+1

[2015-12-13 08:19] z2xlong opened #1226 "Disappeared refereneces hint with specific sdk version"
I changed omnisharp sdk version from 1.0.0-beta4 to 1.0.0-rc1-update1 via this command:
[code]
and then open the vscode, the status bar display the omnisharp is running, but the references hint is disappeared, in addition I can't go to definition.

but when I set the the sdk version in global.json under solution folder as follow, the references hint and the function 'go to definition' works fine:

[2015-12-13 10:52] aeschli commented on #1096
## ES6 JavaScript grammar

- [ ]

 We're using a modifed TypeScript grammar for JavaScript tokenization
* Have a look at some JavaScript files, including ES6, make sure they look fine
* Test the default light and dark theme as well as some contributed themes

[2015-12-13 10:56] karlti opened #1227 "regex does not work in 0.10.3"
strange, as I read that this should be fixed, but...
when I CTRK+F or CTRL+H to find resp. replace escape sequences like '\n', '\r\n' or '\t' it does not work...
Search box gets red border and nothing happens...

please can you help.
Thank you.

/*Karl

[2015-12-13 11:21] bpasero commented on #1218
The file is containing null bytes which we then detect as binary type. However the file seems to use UTF 16 as encoding. We only support that if the file has a BOM in the beginning. I think other editors just try to open the file with UTF 16 if they detect null bytes but this can also fail.

I think we should allow to change the encoding from the editor in all cases even if we think the file is bi

[2015-12-13 14:16] bgse commented on #229
@1dot75cm Tested on F21 and F23, looking good so far.

[2015-12-13 14:32] pcgeek86 commented on #881
@aeschli @wenwu449 Can this fix be targeted at a milestone? I'm trying to understand when this would be released, as it is a major roadblock for authoring Azure Resource Manager (ARM) JSON Templates.

<img width="332" alt="screen shot 2015-12-13 at 7 31 57 am" src="https://cloud.githubusercontent.com/assets/466713/11767468/ab63043a-a16b-11e5-8ebc-f4005cff7408.png">

[2015-12-13 15:22] 1dot75cm commented on #229
Thanks test. @bgse
In fact, I refuse to 'Shift' key. My little finger is very fragile. :)))))))))

[2015-12-13 15:40] pcgeek86 opened #1228 "Add option to convert tabs to spaces"
Would it be possible to add a VS Code command to convert tabs to spaces, and vice versa?

I copied some JSON code from GitHub into VS Code, using Google Chrome, and it's indented using tabs. I'd like to convert it to use 2 spaces.

I searched for this issue on here, and couldn't find it. I only saw references to VS Code settings for using tabs or spaces by default.

Cheers,
Trevor Sullivan
Microso

[2015-12-13 15:47] vtbassmatt commented on #1205
I'm having the same issue - I get 'The application "Visual Studio Code" can't be opened.'. From a command prompt, I can run /Applications/Visual Studio Code/Contents/MacOS/Electron just fine. There's no obvious 'mark of the web'-style blocker. Right-clicking the icon gives the usual "Open" and "Show package contents" options. This is a 2012 Retina MacBok Pro running 10.11.1; VS Code 0.10.3.

For w

[2015-12-13 15:52] vtbassmatt commented on #1205
Further notes: From Finder, I'm able to run the Electron executable. The first time I did so, I got a Gatekeeper (or whatever Apple calls that tech now) prompt and authorized it. I still cannot simply double-click the VS Code icon, though.

[2015-12-13 16:03] vtbassmatt commented on #1205
OK, I was able to finally fix this. From Terminal, running "open -b com.microsoft.VSCode" somehow went down a different launch path which triggered the GUI Gatekeeper warning. Now I can run VS Code by simply double-clicking the icon in Applications. Probably a bug on Apple's side, but maybe there's something wrong with your code-signing or some other piece of security infrastructure?

[2015-12-13 16:42] alexdresko commented on #812
Have you added a tsconfig.json file to the root of the project?

[2015-12-13 16:46] alexdresko opened #1229 "errors generated by a task with isWatching not cleared after fixing"
See http://stackoverflow.com/questions/33563049/in-vscode-errors-generated-by-a-task-with-iswatching-are-not-always-cleared-afte

The question and answer are both correct in their description. I'm having the same problem and couldn't find a corresponding issue here in the repo, so figured I'd go ahead and create one.

[2015-12-13 19:17] citrusui opened #1230 "vscode/releases page missing binaries"
Just wondering... why doesn't the [releases](https://github.com/Microsoft/vscode/releases) page have vscode binaries? I only see the source code downloads. [Atom](https://github.com/atom/atom/releases) and [Brackets](https://github.com/adobe/brackets) both use GitHub to publish binaries...

Would be handy in case someone wanted to download an older release or if Microsoft's servers were down.

Ins

[2015-12-13 19:41] flq commented on #126
I wish one could upvote comments. @danlofquist 's solution is clean and makes OmniSharp work in VS Code - thank you! :+1:

[2015-12-13 19:45] oliverhr opened #1231 "Allow to theme UI components of the workbench"
Is there a way to write a theme who also change color for UI components - Ej. affect sidebar and view bar.

Or this should be written separatelly like atom ui themes and syntax theme ?

[2015-12-13 21:10] Tyriar commented on #1227
`\t` should work in 0.10.3. Finding multi-line strings is captured in https://github.com/Microsoft/vscode/issues/313

[2015-12-13 21:12] Tyriar commented on #1228
This can be fairly easily achieved using find and replace with regex. This sort of functionality would probably better be captured in an extension rather than the core editor.

[2015-12-13 21:48] hashhar commented on #1230
This is a good idea. Would make it much easier for me for to use my download utility.

[2015-12-13 21:49] hashhar commented on #1084
The script is now live at https://github.com/hashhar/vscode-universal-installer

[2015-12-13 22:01] hashhar commented on #1228
I agree with @Tyriar.

[2015-12-14 01:07] rkeithhill opened #1232 "Need to be able to have Variable containers not just at the top level"
Today VSCode displays top level variable containers like `Local, Global` differently than regular variables.  I want this capability inside of variable nodes.  I want to emulate the "Raw View" functionality in the Visual Studio debugger e.g.:

![rawview](https://cloud.githubusercontent.com/assets/5177512/11770751/a7f37cd2-a1c3-11e5-8fa7-be320eff25f5.png)

Now I can create a `faux` variable called

[2015-12-14 01:42] dstorey commented on #375
This is probably beyond this particular issue as it related to CSS, not HTML, but there are CSS descriptors, which are like properties but used within at-rules. Think src, which is used in @font-face but isn't a generic CSS property that can be used outside. There are a number of these; some that overlap with regular properties (e.g. font-family descriptor) and some that don't (aforementioned src,

[2015-12-14 02:16] dstorey opened #1233 "[css] Evaluate the 2 browser rule for CSS auto-complete"
(sorry for long post)

As per #806 (for HTML), in CSS Intellisense a feature will only show up if there are two implementations. Unlike HTML this is controlled by the build script that excludes features with 1 or zero implementations.

The problem with this:

* all webkit prefixed features show up due to Chrome + Opera  (+ Safari for older features when Chrome and Safari were both using WebKit).
*

[2015-12-14 02:54] ricmed205 opened #1234 "New files not getting jsconfig"
When I create a new file, it does not recognize the jsconfig settings (ES6 for example). I need to go to jsconfig, make a change, dismake that change and then it the new file will be ok.

[2015-12-14 03:16] wuchuguang opened #1235 "vscode support react native?"
i find https://www.youtube.com/watch?v=iWzcuJuYRIg something vscode react native video.

when i want to try it. i can't find this plugin, in vscode plugin library. i use linux system. centos7
thx

[2015-12-14 03:23] louistsaitszho opened #1236 "Incorrect visualising markdown table"
When I want to indent the table, the markdown visualisation fail. The same format works perfectly on GitHub.
![screen shot 2015-12-14 at 11 20 46](https://cloud.githubusercontent.com/assets/3873011/11772191/caaea846-a254-11e5-9b14-eed4efe5ae55.png)
![screen shot 2015-12-14 at 11 20 32](https://cloud.githubusercontent.com/assets/3873011/11772192/cb07711a-a254-11e5-9712-44a6d18045ca.png)

[2015-12-14 03:43] mt26691 opened #1237 "Can not enter vietnamese characters."
Hi, I'm currently using unikey 64 bit for window 7 64 bit ultimate, you can download it here (http://unikey.vn/). And I find that I can not enter Vietnamese characters in visual studio code.
For example the register.html file in the picture below:
![image](https://cloud.githubusercontent.com/assets/10028918/11772422/b6fea928-a24e-11e5-9ff1-9d88a0a9c4ed.png)

If I enter "Hoom nay", it means "Hôm na

[2015-12-14 03:59] daviwil commented on #1232
This would be great to have!

[2015-12-14 04:01] bgse commented on #1237
Probably related:

https://github.com/Microsoft/vscode/issues/1168

[2015-12-14 04:44] vasumahesh1 commented on #224
+1

[2015-12-14 06:20] bpasero commented on #1236
@louistsaitszho can you attach the raw markdown please?

[2015-12-14 07:41] egamma commented on #1237
yes, closing as a duplicate for #1168

[2015-12-14 07:41] #1237 closed

[2015-12-14 07:45] egamma commented on #1232
@weinand @stevencl fyi

[2015-12-14 07:50] egamma commented on #1235
I cannot find it neither in the marketplace neither, sorry. Please contact the author of the youtube movie or ask your question on stack overflow https://marketplace.visualstudio.com/#VSCode.

[2015-12-14 07:50] #1235 closed

[2015-12-14 07:52] egamma commented on #375
@aeschli fyi

[2015-12-14 07:54] egamma commented on #1228
+1 that this is should be done in an extension. Keeping open as a help wanted, feature request.

[2015-12-14 08:14] egamma commented on #1230
@chrisdias fyi.

We need to distinguish between vscode and Visual Studio Code [see here for an explanation](https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005).
Currently we do not make milestone builds available for vscode. Something we can consider.

[2015-12-14 08:18] egamma commented on #1227
@karlti can you provide a test case please.

To which issue are you referring to? If an issue is marked as fixed then please also check the milestone of the issue. This indicates when a fix will be published.

[2015-12-14 08:21] egamma commented on #1231
@aeschli fyi

[2015-12-14 08:28] joaomoreno commented on #1138
If you use the SSH remote url, it should all work, since no password prompt will occur.

If you use HTTPS, you should get the prompt. I do, I input the credentials I configured in GitLab and it works for me.

Maybe it's platform specific? Which platform are you on?

[2015-12-14 08:28] egamma commented on #126
@flq then let's close the issue with a link to the [comment](https://github.com/Microsoft/vscode/issues/126#issuecomment-160131771) from @danlofquist. It addresses the issue.

[2015-12-14 08:28] #126 closed

[2015-12-14 08:38] egamma commented on #84
Isn't this mostly addressed by multi cursor support and the actions 'insert cursor above/below' (which will be changed for the Dec milestone to 'add cursor above/below).

@alexandrudima  fyi

[2015-12-14 08:39] egamma commented on #1223
@joaomoreno fyi.

[2015-12-14 08:51] egamma commented on #1233
@aeschli fyi.

[2015-12-14 08:56] dbaeumer commented on #1229
Duplicated #909

[2015-12-14 08:56] #1229 closed

[2015-12-14 09:01] aeschli commented on #881
Sorry, the milestone was missing. Fix already got delivered a while ago

[2015-12-14 09:05] tmd-uk commented on #846
Just a quick one on that - I noticed an error when it was entered that way. Instead use / instead of \ ( I hope that makes sense?).

[2015-12-14 09:26] joaomoreno commented on #1095
This is fixed.

[2015-12-14 09:26] #1095 closed

[2015-12-14 09:27] joaomoreno commented on #1223
I love @takumif's suggestion, this is also our recommendation.

[2015-12-14 09:44] kitsonk opened #1238 "Markdown Header Incorrect Syntax Highlighting"
When there is a valid `#` in the header, the syntax highlighter for markdown misunderstands it to be the termination of the header.

<img width="963" alt="test_md_-_workshop-materials-1-8" src="https://cloud.githubusercontent.com/assets/1282577/11777576/31e73a04-a247-11e5-8a02-0a1c91e4c8ae.png">

I would be glad to help, but would need to get pointed in the right direction in the code to understan

[2015-12-14 09:47] karlti commented on #1227
I was referring to #312.
Maybe I misinterpreted that issue...

btw, the problem is that escape sequences are not recognized either in the pattern to be matched (Test Case 1) as well as in the "replace with" textbox... In the second case (like '\n' in the "replace with" textbox) the matched character sequence gets replaced by the *literal* escape sequence like \n (Test Case 2).

Test case 1:

- Ope

[2015-12-14 09:58] setuun opened #1239 "files.trimTrailingWhitespace not working"
When i enable this option like so (User Settings):
[code]
then it does not delete whitespaces on save.

Here are my user settings:
[code]

OS: Windows 10 Pro

[2015-12-14 10:02] egamma commented on #312
When verifying this issue please also consider this test case: https://github.com/Microsoft/vscode/issues/1227#issuecomment-164392805

[2015-12-14 10:03] egamma commented on #1227
The milestone of the issue shows that this issue will be included in the December update.

I'll mention in #312 that your test case should be used for verifying this bug and I'm closing this one.

[2015-12-14 10:03] #1227 closed

[2015-12-14 10:12] weinand opened #1240 "Use Cmd '+' as keybinding for "Zoom In" on OS X"
Currently it is Cmd+'=' which is not intuitive.

[2015-12-14 10:15] weinand opened #1241 "Introduce a "Reset Zoom" or "Actual Size" action"
Reverting a zoomed state to a non-zoomed state by trial and error is cumbersome.

[2015-12-14 10:20] aeschli commented on #1231
No, there's currently now way to theme UI components other than the editor.

[2015-12-14 10:26] joaomoreno opened #1242 "Emmet in plain HTML outputs everything in one line"
Try the following emmet snippet in a `.html` file:

[code]

You'll notice everything will be placed in one line.

If you use it in `.jsx` or `.tsx`, though, they are nicely indented.

[2015-12-14 10:28] weinand opened #1243 ""Zoom Out" does not work as expected if window.zoomLevel > 0"
- set window.zoomLevel to 5.
- try to zoom out.
Observe: Multiple "Zoom out" do not bring the zoom level to an non-zoomed state.

[2015-12-14 10:29] joaomoreno opened #1244 "Emmet snippets should also tab stop at the end of the snippet"
When using emmet, it would be nice to also get a snippet tab stop at the end of the snippet, so I can continue writing more emmet commands.

For example, the snippet `.foo` has the following tab stops:

[code]

It would be helpful to have one at the end too:

[code]

[2015-12-14 10:31] isidorn opened #1245 "Git viewlet does not detect folder creation in workspace"
* Have a workspace under git control and open it in VSCode
* Copy some folder (with content inside) into the workspace -> VSCode does not detect git change
* Do a git status in the command line -> see there are changes

I see this on mac el capitan

[2015-12-14 10:32] joaomoreno opened #1246 "[json] Intellisense missing for jsconfig.json"
![image](https://cloud.githubusercontent.com/assets/22350/11778683/51fc7cfa-a256-11e5-8026-66d27009b80f.png)

@aeschli

[2015-12-14 10:35] joaomoreno commented on #1245
The folder was a git repo in itself.

[2015-12-14 10:35] #1245 closed

[2015-12-14 10:35] egamma commented on #1244
The tab stops are defined by the emmet snippets and not by the emmet integration. So this would be a good enhancement request for emmet and its snippets.

Closing.

[2015-12-14 10:35] #1244 closed

[2015-12-14 10:43] stevencl commented on #1232
Thanks for the suggestion. Could you talk a bit more about the scenario in which you will use this and the problem that you are facing today? We're working on improving the debugging UX right now and I want to make sure that I fully understand how you would like this to work and what you are looking for.

For example, are you looking for some way to be able to customise the display of variables in

[2015-12-14 10:44] bpasero commented on #1240
Hm it should be...

[2015-12-14 10:44] bpasero commented on #1241
There is. In F1

[2015-12-14 10:44] #1241 closed

[2015-12-14 10:48] alexandrudima opened #1247 "Cannot close without saving"
* open vscode
* ctrl+shift+n to get a new instance
* type in the untitled file
* close
* click do not save
* it doesn't close

![no-close](https://cloud.githubusercontent.com/assets/5047891/11778979/86d97624-a258-11e5-82e0-e23d1810ca61.gif)

[2015-12-14 10:54] alexandrudima commented on #1203
@f111fei we do not block the opening of the file until all "eager" (`*`) extensions are activated because we want the user to get to see/edit the file as soon as possible.

So there is no guarantee that extensions will get loaded before anything happens in the system.

That's why we have the api: `vscode.workspace.textDocuments` that shows all current opened text documents - this can be used to ch

[2015-12-14 10:55] dbaeumer opened #1248 "window.showErrorMessage: returned item is undefined if close is selected"
- use window.showErrorMessage with a custom message.
- when the message appears press the close button

Observe: the resolved value for the item is undefined. IMO it should be an item representing the close button

[2015-12-14 10:58] aeschli opened #1249 "Breakpoints not vertically centered wity line number"
Linux
Version 0.10.4
Commit 18c4a65cb26517c25ce0f487feb6d169145bc647
![image](https://cloud.githubusercontent.com/assets/6461412/11779164/abaca40c-a259-11e5-86c9-348b6a5afd07.png)

The breakpoints could be nicer aligned with the line numbers

[2015-12-14 11:19] santiagohdzb opened #1250 "Jump to matching bracket shorcut not working"
When editor's cursor is over a bracket and I press Ctrl+Shift+J, I expect the cursor to jump over the matching bracket but it does not happen. Actually nothing happens.

In my Default Keyboard Shorcuts I have this:
[code]

I haven't override that value in keybindings.json.
I'm using VS Code 0.10.3 on Windows 8.1 x64

[2015-12-14 11:19] f111fei commented on #1203
@alexandrudima yes，I see

[2015-12-14 11:29] #1203 closed

[2015-12-14 11:33] alexandrudima commented on #713
Thanks to @jrieken the labels are also keyboard layout aware on mac

[2015-12-14 11:33] #713 closed

[2015-12-14 11:45] dbaeumer opened #1251 "html file interfers with js file"
- two files
[code]
[code]

JavaScript file shows errors about double symbols. Is this expected.

[2015-12-14 11:47] alexandrudima commented on #1250
@santiagohdzb It is `]` not `j`:

![image](https://cloud.githubusercontent.com/assets/5047891/11780243/c8680008-a260-11e5-94a4-f770a7eb9137.png)

[2015-12-14 11:47] #1250 closed

[2015-12-14 11:50] santiagohdzb commented on #1250
@alexandrudima wow, I guess I need glasses, thank you!

[2015-12-14 11:55] dbaeumer commented on #1160
Closing. Please ping @dbaeumer if you still see this with the next build.

[2015-12-14 11:55] #1160 closed

[2015-12-14 11:56] dbaeumer opened #1252 "No code complete for jsconfig.json files"
Title says it all :-)

[2015-12-14 11:59] aeschli commented on #1246
Fix delivered

[2015-12-14 11:59] #1246 closed

[2015-12-14 11:59] dbaeumer opened #1253 "Strange line in editor for tsconfig.json file"
See screen shot and notice the line behind compileOptions.

I have no steps how I got there.

![capture](https://cloud.githubusercontent.com/assets/1931590/11780481/85d1ab48-a262-11e5-8dec-ed298a7092bd.png)

[2015-12-14 12:01] dbaeumer commented on #1252
Works for tsconfig. User error.

[2015-12-14 12:02] alexandrudima opened #1254 "Long text wraps in debug console cuts CJK strings"
![image](https://cloud.githubusercontent.com/assets/5047891/11780431/272e576c-a262-11e5-96fe-7332afa29ebf.png)

Test file:
[code]

Cheap solution (done in terminals for example):
 * measure also a typical wide character width. e.g. : https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/config/configuration.ts#L70
 * when computing the width of the string use the wide character wid

[2015-12-14 12:02] dbaeumer commented on #1252
![capture](https://cloud.githubusercontent.com/assets/1931590/11780538/e8e8a6c8-a262-11e5-9787-a64590f66d1a.png)

[2015-12-14 12:06] supersede opened #1255 "Cannot set to open the current html file in default browser on gnu/linux."
The only explanation on how to define default browser to be launched on ctrl+shift+b I found was this http://stackoverflow.com/questions/30039512/how-to-view-my-html-code-in-browser-with-visual-studio-code and it doesnt work for gnu/linux.
Am I missing something here or this feature is only available for windows and mac ?

[2015-12-14 12:08] bpasero commented on #1247
Ah lol, nice catch :)

[2015-12-14 12:39] xeoneux commented on #1228
I do agree that this can be done via an extension however, I strongly believe that a simple option to translate tabs to spaces or vice versa should be present as it increases the editor's usability a lot. The developer's focus would remain on the code rather than on fixing such trivial issues by searching for an extension. These convenient yet lightweight additions to the editor would make it real

[2015-12-14 12:57] bpasero opened #1256 "I am not seeing extension error/warnings indication in status bar"
I tried the following scenarios on mac:
* causing an error in an extension by making its package.json invalid
* installing the same extension twice with different name so that one overrides the other

I get errors and warnings for both in the dev console, so I assume that the status bar indicator does just not work for me.

![image](https://cloud.githubusercontent.com/assets/900690/11781514/aa642d

[2015-12-14 13:00] aeschli opened #1257 "'There is a task running' warning after developping a extension"
- open a folder that contains code of an extension
- debug the extension
- close the extension window (debugger connection correctly gets closed)
- in the window switch to a different folder
Warning appears
'There is a task running. Do you want to terminate it'

It is not clear to me what task that is. At the very least it could show the name of the task.

[2015-12-14 13:03] egamma commented on #78
@luisrudge reopening. We haven't fully figured out what to discuss on user voice and what to discuss in a feature request issue.

This feature request is better discussed here. In particular since the last comment in user voice is not correct :disappointed: .

I could imagine a meta property 'USE_GITIGNORE' and that would be a great opportunity for a pull request:
[code]
@bpasero fyi.

[2015-12-14 13:07] zwacky commented on #78
+1

[2015-12-14 13:07] bpasero commented on #1096
@egamma can you send me an up to date version of ts-lint? the one I can install via extensions does not seem to have any of the features on the test plan.

[2015-12-14 13:08] jrieken commented on #1234
@ricmed205 Any chance you file starts with `temp` or contains `js`?

[2015-12-14 13:09] jrieken commented on #1248
@dbaeumer Is this only for close, when being the default, e.g the absence of other items?

[2015-12-14 13:13] bpasero opened #1258 "Keybinding picker should not dismiss on enter"
I suggest to use another trigger character like Ctrl+Enter, otherwise I cannot pick the "Enter" key.

[2015-12-14 13:16] dbaeumer commented on #1248
@jrieken no, I my example I had a custom button and the default close button. When the user presses the default close button the item is undefined. My code looks like this:
[code]

[2015-12-14 13:23] egamma commented on #156
We cannot reproduce this in the December update that will be published end of this week. Please file a new issue if the problem persists.

[2015-12-14 13:23] #156 closed

[2015-12-14 13:24] bpasero opened #1259 "Linux: numpad_decimal is "unknown""
Looks like we fail to resolve only this one, the others work nicely on Linux.

[2015-12-14 13:27] jrieken opened #1260 "repl doesn't show all text"
Take this code snippet

[code]

* break on the last line
* type _value_ in the debug console
* :arrow_forward: last bits are not shown :cry:

[2015-12-14 13:27] bpasero opened #1261 "Windows 7: Seeing 2 times "Define Keybinding" even for readonly side"
Testing on Windows 7, I get the green UI for both sides:

![image](https://cloud.githubusercontent.com/assets/900690/11782057/c350e4fa-a26e-11e5-912e-029e0cef15ee.png)

[2015-12-14 13:27] jrieken commented on #1260
<img width="1034" alt="screen shot 2015-12-14 at 14 25 31" src="https://cloud.githubusercontent.com/assets/1794099/11782062/c950089a-a26e-11e5-8e63-7f497d73676e.png">

[2015-12-14 13:27] bpasero commented on #1261
Maybe it is also related to the fact that here I did not open a workspace?

[2015-12-14 13:33] aeschli commented on #1252
duplicate of #1246

[2015-12-14 13:33] #1252 closed

[2015-12-14 13:36] isidorn opened #1262 "ctrl + shift + L should select the previous line"
ctrl + I selectes the current line and then selectes the following lines, one by one.
ctrl + shift + I could select the previous line from the current selection.

[2015-12-14 13:40] isidorn opened #1263 "ctrl + I does not fully select wrapped lines"
* Set "editor.wrappingColumn": 50
* Open a file that has some wrapped lines, (e.g debugService.ts#159)
* Ctrl + I - notice that the whole line does not get selected

<img width="368" alt="screen shot 2015-12-14 at 14 38 51" src="https://cloud.githubusercontent.com/assets/1926584/11782278/6d0468ae-a270-11e5-8e37-a24f75a22bd8.png">

I see this on mac el capitan

[2015-12-14 13:40] jrieken opened #1264 "breakpoint not hit"
[code]

* have the snippet above as **ts** with **sourcemaps**
* set breakpoints in the function body and on function invocation (last line)
* F5
*> only the breakpoint in the function body is hit, not the invocation breakpoint

[2015-12-14 13:41] ricmed205 commented on #1234
I've only used .js files so far

On Mon, Dec 14, 2015 at 8:38 AM, Johannes Rieken <notifications@github.com>
wrote:

[2015-12-14 13:41] jrieken commented on #1264
this is with node v5.2.0

[2015-12-14 13:42] dbaeumer commented on #1255
@supersede in the tasks.json configure a browser that is install on your machine. See https://code.visualstudio.com/docs/editor/tasks for a detailed description how task work.

[2015-12-14 13:42] #1255 closed

[2015-12-14 13:46] dbaeumer opened #1265 "No hover in project.json files"
![capture](https://cloud.githubusercontent.com/assets/1931590/11782441/5e7a545a-a271-11e5-9e48-bc903d3550c4.png)

[2015-12-14 13:48] jrieken opened #1266 "breakpoints show as valid tho source map is broken"
[code]

* take the above code, run `tsc --sourceMap`
* debug with source maps and put a breakpoint in the function body
* ruin the source map file (remove `{"ver` from the beginning)
* :cry: breakpoints don't render as invalid but don't work anymore

[2015-12-14 13:50] dbaeumer opened #1267 "[json] Bower.json has a authors attibribue but default code complete proposes author"
- bower.json
- in empty file activate code complete
- accept proposal
- it inserts
[code]

Observe: it inserts a author field however bower files do have a authors field.

[2015-12-14 13:50] joaomoreno opened #1268 "Generator functions are incorrectly coloured in JavaScript"
![image](https://cloud.githubusercontent.com/assets/22350/11782574/00de555c-a272-11e5-96f2-24182e481c08.png)

[2015-12-14 13:50] jrieken commented on #1234
no, I meat the path, like `/coding/js/myfile.js` or `/coding/templateController.js`. Then it would be like #703 which collects a few file patterns that we have filed to understand

[2015-12-14 13:51] psulek commented on #170
I'm experiencing same issue. In which version will be this fix? I'm on Version `0.10.3` / Commit `783ecf841a2b21edca6d86853670cae89b4c244f`

[2015-12-14 13:52] joaomoreno opened #1269 "Yield keyword is not coloured in JavaScript"
![image](https://cloud.githubusercontent.com/assets/22350/11782623/458b351c-a272-11e5-8bf2-ca1dc66c6560.png)

[2015-12-14 13:53] jrieken commented on #1248
I see. Challenge is that it's spec'd to return `<T extends MessageItem>` which I cannot fulfil for the close item.

[2015-12-14 13:57] jrieken commented on #1251
Yeah, they both define it in the same (global scope. It's just unhappy cos we don't load html upfront when bringing up the language service. And worst it will going away with salsa.

[2015-12-14 13:57] #1251 closed

[2015-12-14 14:00] jrieken commented on #1203
At one point we could add something like `trackTextDocument(callback)` and it would mean invoke `callback` with all current text documents and for the future invoke `callback` on open.

[2015-12-14 14:01] isidorn opened #1270 "[themes] Dark theme uses much more colors than light theme for both JS and TS"
Compare the two screenshots. We use much more colors in the dark theme. This is not consistent since those two are the default themes and they should be symetric imho. Both for Typescript and Javascript
@stevencl @bgashler1 opinions welcome

<img width="462" alt="screen shot 2015-12-14 at 14 57 28" src="https://cloud.githubusercontent.com/assets/1926584/11782726/0ed57fe0-a273-11e5-9d65-0960c1aaf33

[2015-12-14 14:01] jrieken commented on #1226
@z2xlong Please attach the OmniSharp log (Cmd+L L)

[2015-12-14 14:04] egamma commented on #1206
Hi @thyeun, this has nothing to do with offence. But we as a development team want to be responsive and there are many feedback channels and we cannot cover them all. You can find more background on our input channels and how we intend to use them in this [comment](https://github.com/Microsoft/vscode/issues/219#issuecomment-163818761).

What I take from your reaction is that people are sensitive w

[2015-12-14 14:05] aayushkapoor206 commented on #1269
@joaomoreno It seems to be colouring the yield keyword. Which version of Code are you using?
Did you install a theme using an extension? Try changing to the default ones.

[2015-12-14 14:09] aayushkapoor206 commented on #1270
@isidorn Could this be the issue for #1269 ?

[2015-12-14 14:09] isidorn commented on #170
This will be fixed in the next stable version after 0.10.3

[2015-12-14 14:10] isidorn opened #1271 "[html] HTML colors angle brackets wrongly in dark theme"
Angel brackets should be blue not orange in this screenshot.

<img width="376" alt="screen shot 2015-12-14 at 15 06 15" src="https://cloud.githubusercontent.com/assets/1926584/11782942/85b4c4da-a274-11e5-8215-192af4271568.png">

[2015-12-14 14:11] dbaeumer opened #1272 "[json] json.schemas setting has no scheme / code complete"
- open settings
- insert
[code]
- try to get code complete inside the [ ]

Observe: code assist stays empty.

[2015-12-14 14:11] psulek commented on #170
@isidorn Ok, thanks

[2015-12-14 14:11] joaomoreno opened #1273 "Cursor only works correctly on Basic Multilingual Plane"
Paste the following into the editor:

[code]

Using the <kbd>Left Arrow</kbd> key, navigate from the beginning of the line to its end. As you jump over the Chinese character, you'll notice that it takes two key presses to get away from it. Additionally, if you type some latin text between those two jumps, the content of the line from that position until the end fully disappears. You are creating b

[2015-12-14 14:14] joaomoreno opened #1274 "Binary and octal numbers are not coloured"
![image](https://cloud.githubusercontent.com/assets/22350/11783064/5a20e41a-a275-11e5-85c1-d4a1aa7feb46.png)

[2015-12-14 14:16] bpasero opened #1275 "Keyboard: Widget not showing correct values"
I am on a Mac with a german keyboard layout and some keys are not showing a preview as expected:
* < : unknown (key right to shift)
* ^ : backslash
* ? : [
* ´ : ]
* * : =
* # : /
* ü : ;
* ö : `
* ä : '

I wonder if the keyboard layout is correctly detected after all?

Btw I am seeing similar results on Mac and Linux.

[2015-12-14 14:17] isidorn opened #1276 "[json] should color string values red in light theme"
IMHO colors should be reversed in this screenshot. We always use red for strings, and we should use a special color blue for keys in JSON. Also dark theme is doing the same, values are shown in the string color, and keys in the new color.
<img width="391" alt="screen shot 2015-12-14 at 15 13 29" src="https://cloud.githubusercontent.com/assets/1926584/11783056/4c732db4-a275-11e5-921b-f3b95aa7af7f.p

[2015-12-14 14:22] egamma commented on #1096
@bpasero voila

- .gif -> .vsix
- `code tslint.vsix`

![tslint-0 5 4](https://cloud.githubusercontent.com/assets/172399/11783145/ce1d9304-a275-11e5-8735-d0c4d9dd22a0.gif)

[2015-12-14 14:22] bpasero opened #1277 "Git Sync: Flashes between enabled/disabled each time I click on the git viewlet"
Looks a bit hectic.

[2015-12-14 14:23] f111fei commented on #1203
@jrieken  OK, I will try it as you said. Thanks

[2015-12-14 14:23] joaomoreno opened #1278 "Git sync should rotate when syncing"
Yes we can

[2015-12-14 14:24] dbaeumer commented on #1272
Would be great to get a default entry to know what to fill in.

[2015-12-14 14:24] bpasero commented on #1278
lol I was about to file this just now :100:

[2015-12-14 14:25] z2xlong commented on #1226
Hi jrieken,

I got the OmniSharp exception as follow:
[code]

[2015-12-14 14:26] bpasero opened #1279 "Do we still need "Execute Git Commands"?"
We moved quite some commands to top level in F1 but we still have "Execute git commands". I think we should have one or the other. I think having the commands top level is favourable because this allows extensions to call them.

[2015-12-14 14:27] bpasero opened #1280 "Git sync: Icon looks off compared to others around"
The screenshots in the test plan show it quite well, on Mac at least the sync and publish icon is not nicely aligned with the SVGs for git and problems/errors markers.

Either we use Octicon for git branch as well or we find SVGs for the publish/sync icons maybe?

[2015-12-14 14:28] bpasero commented on #1280
![image](https://cloud.githubusercontent.com/assets/900690/11783383/48e4d7fe-a277-11e5-8ffd-189fc61edc8a.png)

[2015-12-14 14:28] bpasero commented on #1280
I think it is actually more a problem within the git status contribution and not so much to the right hand side. I would even think we could move the two things closer and make sure the git icon is aligned to the font.

[2015-12-14 14:29] isidorn opened #1281 "Handlebars comments coloring is sometimes off"
Have the following handlebars snippet
Notice that the commented line is not fully green. Notice how git hub nicely colors the whole line

[code]

<img width="352" alt="screen shot 2015-12-14 at 15 28 52" src="https://cloud.githubusercontent.com/assets/1926584/11783401/6aa7ed04-a277-11e5-8e8b-820b3b0f0db1.png">

[2015-12-14 14:30] joaomoreno commented on #1279
:+1:

[2015-12-14 14:32] isidorn opened #1282 "Duplicate module definitions upon opening LESS or SASS files"
Open a less or sass file, notice the warnings in the console

<img width="598" alt="screen shot 2015-12-14 at 15 31 42" src="https://cloud.githubusercontent.com/assets/1926584/11783491/e1c4cba0-a277-11e5-9b91-6a51be3d778a.png">

[2015-12-14 14:38] isidorn opened #1283 "[sass] Strings are colored same way as values in dark theme"
Sass file, notice how the light theme nicely distinguishes between strings and values and the dark theme does not

<img width="200" alt="screen shot 2015-12-14 at 15 37 00" src="https://cloud.githubusercontent.com/assets/1926584/11783632/8be8e4d6-a278-11e5-9ffe-34c2bbbb0e59.png">
<img width="227" alt="screen shot 2015-12-14 at 15 37 25" src="https://cloud.githubusercontent.com/assets/1926584/11783

[2015-12-14 14:41] isidorn opened #1284 "C# coloring usings could use 2 colors"
Just having one color for the using statements looks bad imho
We should use one color for the `using` keyword and another for the rest.

<img width="217" alt="screen shot 2015-12-14 at 15 40 06" src="https://cloud.githubusercontent.com/assets/1926584/11783748/11e1fb9a-a279-11e5-8b7f-d2e421f403c3.png">

[2015-12-14 14:45] stevencl commented on #1270
Agreed, this should be consistent (in terms of what gets coloured that is, not in terms of the specific colours). What is the reason for the param name or function name not being coloured in the light theme? Do we just not have good colours specified for the light theme? If so, could @bgashler1 suggest something?

[2015-12-14 14:53] thyeun commented on #1206
@egamma your 1st comment already prove that you look like i'm offence you with asking a question here, anyway since you deny it, than i cant do anything.

i think the one that having sensitive issue are yourself, there are nothing wrong when you direct me to another channel, but think twice, if i can get an answer directly from the development team, why should i go to another channel? (but if you

[2015-12-14 14:55] jrieken commented on #1226
k. moving to Omnisharp for further inspection

[2015-12-14 14:55] jrieken commented on #1226
This issue was moved to OmniSharp/omnisharp-roslyn#363

[2015-12-14 14:55] #1226 closed

[2015-12-14 14:56] bpasero commented on #912
Since this is VSCode release independent, I can still finish this one during the week. I have the necessary code ready for running tests in Travis CI and just need to make sure it is documented properly.

[2015-12-14 14:56] rickmed opened #1285 "Suggestion: editor split vertically"

[2015-12-14 14:57] isidorn commented on #1256
@bpasero I will check with @alexandrudima why those errors do not get triggered in the place I am listening to.
In the meantime in order to get some UI, try to duplicate an extension and just have a different publisher there.

[2015-12-14 14:58] ricmed205 commented on #1234
no, my paths are not like that. The only "special" thing in my case is that contain folder names with spaces. EG "Google Drive".

[2015-12-14 14:59] arafato opened #1286 "Programmatically call debugger ?"
Hello everybody,

is it possible to programmatically call the debugger, i.e., is the node-debug adapter exposed as via an API? Thanks!

Best regards
--Oliver.

[2015-12-14 15:01] egamma commented on #1206
@thyeun looking forward to learn from your insights on the other channel. We as the development team do our best to track all the channels, so your input will not be lost.

[2015-12-14 15:04] aeschli opened #1287 "[json] intellisense without prefix broken in 'tsconfig.json'"
Have a file with the following content:
[code]
No proposals for `files' show up.

[2015-12-14 15:10] thyeun commented on #1206
@egamma dont worry, i wont post any single post that related with VS code, since outside there still alot of editor that not created by MS development team.

[2015-12-14 15:15] bpasero opened #1288 "Cannot read property 'getRepositoryRoot' of null"
Found this in the logs after creating a new untitled file, making it dirty and closing the workbench

[664:1214/161419:INFO:CONSOLE(332)] "Cannot read property 'getRepositoryRoot' of null: TypeError: Cannot read property 'getRepositoryRoot' of null
    at DirtyDiffDecorator.onEditorInputChange (file:///C:/GitDevelopment/monaco/out/vs/workbench/parts/git/browser/gitWorkbenchContributions.js:253:60)

[2015-12-14 15:16] #1247 closed

[2015-12-14 15:16] alexdresko commented on #909
@dbaeumer Dunno if this is the best place to ask, but can you explain `watchedTaskEndsRegExp` and `watchedTaskBeginsRegExp`, please?

[2015-12-14 15:18] bpasero commented on #1256
@isidorn still no luck, that guy is just remaining silent:

![image](https://cloud.githubusercontent.com/assets/900690/11784723/3daec60e-a27e-11e5-8279-f83677033ea5.png)

[2015-12-14 15:21] thyeun commented on #1206
@egamma  hahaha, do you necessary to delete all my comment, just to prove that you are the owner??? shame on you!!!!!! be professional to accept you are wrong, instead that deleting my comment, so bad attitude

[2015-12-14 15:22] egamma commented on #1279
@joaomoreno yes the Command palette looks funny when you filter the commands for Git. So I assume that fix is that the 'git branch' and 'git commit' will become top-level commands?

[2015-12-14 15:26] bpasero opened #1289 "IntelliSense: signature flickers when broadening search"
* type window.
* find the webkitconv... entry and complete it with enter
* backspace char by char and notice how the signature flickers

If you do the same while typing (narrowing down) the webkitconv entry and then broaden it, this does not happen.

[2015-12-14 15:28] bpasero opened #1290 "IntelliSense: Sorting is weird in this case"
In a TS file type "for" and auto-complete. You will find a 100% match "for" on the top, but the other 100% match from snippets is not there but rather at the end. If we do not sort unified across the various providers, then maybe we should take out snippets from the list and provide another way of completing snippets.

<img width="513" alt="screen shot 2015-12-14 at 19 32 43" src="https://cloud.gi

[2015-12-14 15:28] aeschli commented on #1287
Not a bug, the schema says that there can be either `exclude` or `files`, but not both.

[2015-12-14 15:28] #1287 closed

[2015-12-14 15:32] joaomoreno commented on #1279
Exacto!

[2015-12-14 15:33] isidorn opened #1291 "Typescript - do not color colon :"
Colons should not be colored blue, they should remain black.

<img width="311" alt="screen shot 2015-12-14 at 16 32 34" src="https://cloud.githubusercontent.com/assets/1926584/11785103/58431db0-a280-11e5-9dee-6026f2ef1649.png">

[2015-12-14 15:33] bpasero commented on #1239
@dbaeumer I cannot reproduce, could it be that you had auto-save enabled and you left the cursor on one line? in that case we do not remove trailing whitespace. But we do if auto-save is disabled and you do an explicit save.

[2015-12-14 15:33] #1239 closed

[2015-12-14 15:34] joaomoreno commented on #1289
Unfortunately nothing I can fix, since the list of suggestions I'm getting is not the same as you broaden; the suggestions themselves don't have the same ID. @jrieken introduced this with the concept of **suggestion details**.

[2015-12-14 15:34] #1289 closed

[2015-12-14 15:35] joaomoreno commented on #1289
Also, just closing since it's quite minor.

[2015-12-14 15:36] luisrudge commented on #78
I'm not sure I like the idea of having this as a opt-in flag.. This really should be the default behavior, since searching inside node_modules is not a good thing and certainly isn't the most common use case. Maybe we can add a flag to opt-out this behavior?

Also, I'd like to do this! Can you help me understand which parts of vscode would have to change? THanks!

[2015-12-14 15:37] bpasero commented on #1289
I wanted to show that I test this because I am assigned ;)

[2015-12-14 15:37] #1256 closed

[2015-12-14 15:37] joaomoreno commented on #1289
Eheh. It's also not a regression, it has probably been like this foreva.

[2015-12-14 15:39] aeschli commented on #1265
The schema comes from http://json.schemastore.org/project.
`commands` does not have a description

[2015-12-14 15:42] bpasero commented on #78
I think in the example above it should really be `search.exlude` and not `files.exclude` because the former will exclude it from search but the latter from everywhere in the UI including the explorer.

We are reading this setting in from https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/search/common/searchQuery.ts#L18 and I think we could add code there to check for another s

[2015-12-14 15:43] jrieken commented on #1234
and _Node**Js**_ ;-) That's what I meant, sorry if I wasn't clear enough. Closing as Duplication of #703.

[2015-12-14 15:43] #1234 closed

[2015-12-14 15:43] isidorn opened #1292 "Use space as a seperator between the path matching and regular quick open matching"
In the following example it would be cool if the word after the space would do regular quick open matching on all the files that passed the path filter.

<img width="184" alt="screen shot 2015-12-14 at 16 39 22" src="https://cloud.githubusercontent.com/assets/1926584/11785283/5d71698a-a281-11e5-8261-79753e269651.png">

[2015-12-14 15:44] jrieken commented on #1289
The concept of details is ~3years old. Tho if the flicker isn't we should probably reopen?

[2015-12-14 15:45] isidorn opened #1293 "Quick open highlight is not working when including wildcards"
Notice how the matching is wrong in the following screenshot. I would expect some files being matched inside the browser folder.

<img width="604" alt="screen shot 2015-12-14 at 16 41 47" src="https://cloud.githubusercontent.com/assets/1926584/11785379/d80acc4a-a281-11e5-9310-69117e0c192e.png">

[2015-12-14 15:45] zwacky commented on #78
as @luisrudge already said, this should be the default behaviour like in atom and sublime.

[2015-12-14 15:46] luisrudge commented on #78
@bpasero so.. just add code to read from .gitignore and push that files/folders to `searchExcludes` ?

[2015-12-14 15:49] bpasero commented on #78
@luisrudge well we also have to convert it to the glob pattern format we use in VS Code. If you look at the default settings and how we ignore the .git folder there you can get an idea of the syntax.

[2015-12-14 15:50] joaomoreno commented on #1289
Flickr can't be recent. When you broaden, by definition you get a new suggestion list. Suggestion identity is not preserved, so we can't keep the details alive. The only bug fix here is to not set input on the tree widget before (1) all suggestions are received and (2) the focused one has its details resolved. This would introduced visible UI lag.

[2015-12-14 15:52] isidorn opened #1294 "quickopen **/* sometimes does show all results as matches"
I would expect in the following case that the first two files are also shown as matched in dark blue.

<img width="535" alt="screen shot 2015-12-14 at 16 50 12" src="https://cloud.githubusercontent.com/assets/1926584/11785613/ecd26dee-a282-11e5-8dfc-64519d0c63e7.png">

[2015-12-14 15:53] joaomoreno commented on #1111
Alright, super reproducible. Let's see if we can get a nice fix for December.

[2015-12-14 15:54] jrieken commented on #1289
agree. or a fancy cross session object identify ;-)

[2015-12-14 15:56] jrieken commented on #878
Needs more thinking. Tend towards not doing this.

[2015-12-14 15:57] jrieken commented on #471
we adopted the latest version of omnisharp which should fix this

[2015-12-14 15:59] isidorn opened #1295 "search.fuzzyFilePicker might not be a good name"
In our `vscode.d.ts` we call it quick pick, not file picker.
So I would call the setting `search.fuzzyQuickPick`

[2015-12-14 16:04] isidorn opened #1296 "QuickOpen: Cannot read property toLowerCase of null"
* Enable fuzzySearch
* vscode repo
* search for 'opa'

I do not get any results and I see the attached error in the console.
I can not repro, hope the screenshot is of some use
<img width="630" alt="screen shot 2015-12-14 at 17 00 50" src="https://cloud.githubusercontent.com/assets/1926584/11785962/68e5d0a0-a284-11e5-83b5-0ab51e12daac.png">

[2015-12-14 16:06] bpasero opened #1297 "Linux: Order of confirm buttons is wrong in dialogs"
It should be "Alternate" (optional) | "Cancel" | "Ok" for confirm dialogs.

[2015-12-14 16:10] dbaeumer opened #1298 "Can't debug deactivate / subscription.dispose call"
- extension that pushes a disposable into the subscription on active
- set a breakpoint into the disposable function
- shutdown VS Code

Observe: the breakpoint is not hit and you can't debug the shutdown process.

[2015-12-14 16:11] bpasero commented on #1297
Reopening, when I change the order, the primary button is not the right one. I filed https://github.com/atom/electron/issues/3810

[2015-12-14 16:15] dbaeumer opened #1299 "Deactivate or subscription.dispose don't write to the log"
I have the following code

[code]

[2015-12-14 16:16] bpasero commented on #1240
So Cmd++ works for me, which is cool. However what is weird is that we set the keybinding like this:

`{ primary: KeyMod.CtrlCmd | KeyCode.US_EQUAL }`

I could not find KeyCode.US_PLUS.

@alexandrudima can you comment on this maybe?

[2015-12-14 16:18] jrieken commented on #1096
closed in favour of the wiki

[2015-12-14 16:18] #1096 closed

[2015-12-14 16:27] dbaeumer commented on #1285
@bpasero

[2015-12-14 16:31] bpasero commented on #1293
I think the issue here is the wildcards, have to investigate.

[2015-12-14 16:33] isidorn commented on #1293
Yes, if I just use one * it behaves better

[2015-12-14 16:33] bpasero commented on #1295
I am also not 100% sure about the name, but the setting has no impact on the picker that extenson writers can use.

@egamma @chrisdias @stevencl maybe you have an idea how to call this setting and describe it better. It enables alternate scoring and matching for the file picker.

![image](https://cloud.githubusercontent.com/assets/900690/11786785/c5a1ede8-a288-11e5-93e8-79e898d278fb.png)

Interest

[2015-12-14 16:33] aeschli commented on #1265
I created https://github.com/SchemaStore/schemastore/pull/68

[2015-12-14 16:33] #1265 closed

[2015-12-14 16:34] bpasero commented on #1285
:+1: , might happen for 1.0

[2015-12-14 16:34] dbaeumer commented on #1290
@bpasero I think you are talking about different issues here. Can you please create a bug for Joh about the providers. Then I will take this one for the TS specific isse (e.g no complete in literals)

[2015-12-14 16:37] bpasero commented on #1294
I think this is just an issue with how we highlight differently for the editor history. Might also be related to wildcard highlighting.

[2015-12-14 16:39] aeschli commented on #1276
The colors are the same as we had it 0.9.0 and older.

[2015-12-14 16:39] oliverhr commented on #1231
Thank you @egamma / @aeschli

[2015-12-14 17:04] #1296 closed

[2015-12-14 17:10] #1243 closed

[2015-12-14 17:10] weinand commented on #1240
@bpasero does Cmd++ works for you on a non-US keyboard?

[2015-12-14 17:12] alexandrudima commented on #1299
@dbaeumer Under Windows AFAIK software needs to run as admin to write to `C:\\`. What works for me is when I write to `C:\\log.txt`

[2015-12-14 17:14] bpasero commented on #1240
@weinand yes I am on german keyboard layout (ibm) and interestingly when I type "Cmd++" into the keyboard widget, I see it prints Cmd+= for me. What does it print for you?

[2015-12-14 17:21] egamma commented on #1279
:+1: +99

[2015-12-14 17:21] alexandrudima commented on #1273
All the cursor operations are character index based and not unicode point based. So, any Unicode point outside the [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_(Unicode)) (i.e. needing more than 16bits) can be corrupted by editor operations such as delete, etc.

[2015-12-14 17:23] egamma commented on #1280
+ @bgashler1

[2015-12-14 17:23] weinand commented on #1240
@bpasero I'm on a Swiss German keyboard and I see "shift+cmd+=" and I know where the '=' comes from. On a US keyboard the '+' and the '=' are together on a key and since we only have KeyCode constants for the unshifted key, it is KeyCode.US_EQUAL.

@bpasero restating my question from above: did Cmd++ work for you **without** changing the keybinding?

[2015-12-14 17:26] alexandrudima commented on #1262
Interestingly, other editors do not have a select previous line

[2015-12-14 17:30] bpasero commented on #1240
@weinand yes always worked for me without changing anything. and I see that we did not change this keybinding in months.

[2015-12-14 17:31] alexandrudima commented on #1258
@bpasero I would prefer to leave them to <kbd>Enter</kbd> and <kbd>Escape</kbd> as these are the expected keybindings used for accepting and canceling throughout VSCode.

Since <kbd>Enter</kbd> and <kbd>Escape</kbd> do not change in any keyboard layout, it is reasonable that you must type them in by hand.

Otherwise, a workaround is always to create a rule for <kbd>Ctrl</kbd>+<kbd>Enter</kbd> for

[2015-12-14 17:31] #1258 closed

[2015-12-14 17:32] alexandrudima commented on #1253
@dbaeumer if you have the window still open, we can inspect together what's going on.

[2015-12-14 17:33] alexandrudima commented on #1250
:heart:

[2015-12-14 17:34] anfomin opened #1300 "Expose route to set formatting options"
I've configured VS Code to always use tabs:
[code]

But C# **Format Code** command (Shift+Alt+F) always replaces tabs with spaces. I'm using OS X El Capitan.

[2015-12-14 17:35] digitalGaz commented on #84
+1

[2015-12-14 17:37] alexandrudima opened #1301 "Do not fall back to render the US keybinding if key code is missing in keyboard layout"
Under Windows on the German (Swiss) keyboard layout, `VK_OEM_PLUS` can not be triggered by any phyisical key.

However, we render that there is a keybinding `Ctrl+=` for `zoom in` because the logic falls back to the US standard layout if a key does not produce any character under the current keyboard layout.

[2015-12-14 17:38] alexandrudima commented on #1301
@weinand fyi

[2015-12-14 17:40] weinand commented on #1286
@arafato it is possible to programmatically call the debugger but we do not (yet) have an official client library for this (because VS Code is the only client). But you can find the code for talking to debug adapters in VS Code. See rawDebugSession.ts. [Here](https://code.visualstudio.com/docs/extensionAPI/api-debugging) is an overview of the API from an implementer's perspective.

[2015-12-14 17:40] #1286 closed

[2015-12-14 17:45] weinand commented on #1240
@bpasero yes, it worked for you because on a German keyboard the '+' doesn't require a 'Shift' modifier. For a Swiss-German keyboard it never worked.

[2015-12-14 17:46] alexandrudima opened #1302 "Work around Chrome implementing w3c's DOM Level3 Events section B.2.4 on Mac"
Chromium decided to implement section [B.2.4 of DOM Level3 Events](http://www.w3.org/TR/DOM-Level-3-Events/#h-optionally-fixed-virtual-key-codes) only on Mac.

Given the German (Swiss) keyboard layout:
![420px-kb_swiss svg](https://cloud.githubusercontent.com/assets/5047891/11788624/4ecb714e-a292-11e5-8d1a-c0ed2a865124.png)

This means that it is very difficult to figure out what actual physical k

[2015-12-14 17:47] alexandrudima commented on #1302
fyi @weinand

[2015-12-14 18:09] Alphapage opened #1303 "Extension server : onHover and async return value"
Hello,

I'm building a language server extension and I'm trying to implement the onHover event like this:
[code]

How to change the hover message asynchronously ?

For info, I get an error on "new Hover" telling me that Hover is unknown but it is imported.
Is it a vscode-language-server mapping problem ?

Thanks in advance for your help.

[2015-12-14 18:11] jpoon commented on #1111
@joaomoreno Thanks for looking into it.

[2015-12-14 18:17] bpasero commented on #912
I have documented this here now: https://github.com/Microsoft/vscode-docs/blob/vnext/docs/extensions/testing-extensions.md#running-tests-automatically-on-travis-ci-build-machines

@gregvanl fyi. I hope its ok to make the example with Travis CI.

@egamma @lukehoban I think it would be cool if we enable this for Go so that people have a live example. I have setup https://github.com/bpasero/ci-testin

[2015-12-14 18:17] #912 closed

[2015-12-14 18:20] bpasero commented on #1240
@weinand that is odd, I leave it to @alexandrudima if we can provide the keybinding that works for Swiss and other keyboard layouts, but we might be limited here because we cannot express per-language keybindings.

[2015-12-14 18:21] santiagohdzb commented on #1250
actually, `ctrl+shift+]` didn't worked either :(.

But, hey! I found the reason why: VS Code is not detecting my ES keyboard distribution, because if I press this combination:

![captura](https://cloud.githubusercontent.com/assets/8533075/11789512/1d4e16c8-a254-11e5-9293-f156b409a221.PNG)

VS Code triggers the `ctrl+shift+]` shorcut command

[2015-12-14 18:28] bpasero commented on #1194
+ :100: for not showing this when a watch task is running. I think this would especially make the extension development case nicer.

[2015-12-14 18:28] bpasero commented on #1257
Imho it would be nice to tackle this for December, I think the solution in https://github.com/Microsoft/vscode/issues/1194 would help!

[2015-12-14 18:30] bpasero opened #1304 "Don't suggest snippets in void places"
See attached screen shot, I have many snippets defined and they are the only entries that show up when I auto complete inside an object literal, which is weird imho:

<img width="512" alt="screen shot 2015-12-14 at 19 29 35" src="https://cloud.githubusercontent.com/assets/900690/11789872/1c19940e-a299-11e5-9ce8-d36a5289feb3.png">

[2015-12-14 18:31] bpasero commented on #1290
@dbaeumer makes sense, I have created https://github.com/Microsoft/vscode/issues/1304 for the issue with object literals and this one I am not sure if it should go to @joaomoreno or @jrieken

[2015-12-14 18:34] bpasero commented on #937
@jacdavis I should be able to set this up in my parallels. Can you share the ISO to install what you have?

[2015-12-14 18:57] jellyberg2 opened #1305 "Alt-tabbing to another application underlines the first letter of items in the menu bar (file, edit etc)"
Minor niggle of mine :)

Other applications such as Windows Explorer do not display the keyboard shortcut guides when the user alt-tabs, it would be more consistent if VS Code did the same.

[2015-12-14 19:07] tucker-m opened #1306 "Inconsistent matching when typing quickly with Go To File"
I have a file called `products_controller.php`. So, that should be found if I do Go To File and type `prodcon`.

If I quickly type `prodcon`, it says "No results found." If I delete the last 'n' it will show a match for `products_controller.php`, as well as a few other files. If I then re-type the `n`, it will still show those matches.

If I type out p-r-o-d-c-o-n slowly, it will also find those m

[2015-12-14 19:08] pali88 commented on #1305
H

[2015-12-14 19:21] dbaeumer commented on #1306
@bpasero

[2015-12-14 19:22] dbaeumer commented on #1305
Might be Electron reality.

@bpasero

[2015-12-14 19:25] bpasero commented on #1306
Should be fixed with my changes, but I will check.

[2015-12-14 19:27] isidorn commented on #1276
Just because it was the same since the beginning of time does not mean this is not valid.
Feel free to leave it closed if you disagree with the points I make. But if you agree leave it open and put it to backlog please.

[2015-12-14 19:28] dbaeumer commented on #1303
There is a documentation here how to implement a language server in general. https://code.visualstudio.com/docs/extensions/example-language-server

[2015-12-14 19:33] dbaeumer commented on #1303
@Alphapage regarding the specific questions:

- import { Hover } from from 'vscode-languageserver';
There are a lot more type to import from there.
- Promise: all handlers can either return a value or a Promise. So for the Hover simple declare the return type as Thenable<Hover> and return a Promise (e.g. native Promise or some other Promis implementation).

[2015-12-14 19:33] #1303 closed

[2015-12-14 19:35] dbaeumer commented on #1290
@bpasero Thanks. Starting with Joh.

[2015-12-14 19:41] dbaeumer commented on #1257
See also #1194.

[2015-12-14 19:43] danielschmitz opened #1307 "Surround a text/word with special characters"
Surround a text/word with special characters by selecting it and pressing the special character.

**example:**

![](http://i.imgur.com/HO1jUEz.gif)

[2015-12-14 20:44] weinand commented on #1240
@bpasero after discussions with @alexandrudima I now better understand the issues around this problem and yes, we came to the same conclusion that we can only solve the issue with keyboard layout specific keybindings.

[2015-12-14 20:47] Alphapage commented on #1303
Thank you for the info.

My onHover looks like this:
[code]
But I always get "cannot find name Hover" from the line:
[code]
Thenable< Hover > doesn't throw any error !!

Can you help me a little more ?

[2015-12-14 20:59] hashhar commented on #1305
I would like to add some information regarding this:

Windows Explorer does this too but there seems to be a timeout of about 500ms to 800ms (I screengrabbed a video :stuck_out_tongue: ) before the tooltips show up. Maybe you could also implement a similar timeout?

[2015-12-14 21:07] hashhar commented on #1307
Woah!!! We need this, but this looks to be better suited as an extension really. It should some kind of modifier key though because I sometimes would like to replace a word with a special character.

Maybe `Alt + special character`?

[2015-12-14 21:45] mohsen1 opened #1308 "API for extensions previewing in HTML"
Like Markdown preview, I want to build extensions that preview other types of files in HTML/CSS/JS. Please open up API for this type of extensions.

[2015-12-14 22:06] mohsen1 opened #1309 ""Set/Override Syntax" command"
Add a command for setting a language of choice for syntax highlighting. This is specially useful when opening an "Untitled" document for writing a snippet of code.

[2015-12-14 22:06] alexandrudima commented on #1250
We have done work in December to improve the keyboard layout support. And I plan to do more this week. See #713

[2015-12-14 22:08] mohsen1 commented on #1291
Is this the right regex for this? https://github.com/Microsoft/vscode/blob/master/extensions/typescript/syntaxes/TypeScript.tmLanguage#L1067

[2015-12-14 22:14] alexandrudima commented on #84
@jijojv Can you please help me out with some sort of spec regarding what exactly you want...

We already have:
 * add cursor below <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Down</kbd>
 * add cursor above <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Up</kbd>
 * add selection to next selection match <kbd>Ctrl</kbd>+<kbd>D</kbd>
 * move selection to next selection match <kbd>Ctrl</kbd>+<kbd>K</kbd>, <kbd>Ctrl</kbd>

[2015-12-14 22:19] santiagohdzb commented on #1250
Awesome! thanks a lot @alexandrudima

[2015-12-14 22:26] alexandrudima opened #1310 "Move native-keymap node module to Microsoft/"

[2015-12-14 22:44] alexandrudima commented on #1275
@bpasero We render in there the key codes (i.e. the rule you have to write in keybindings.json). I will make a change to also render in there a UI label. Please see #713

[2015-12-14 23:00] takumif commented on #754
![screen shot 2015-12-14 at 5 55 35 pm](https://cloud.githubusercontent.com/assets/5505433/11796756/00d9eeee-a28c-11e5-9fb0-f45073a3e588.png)
![screen shot 2015-12-14 at 5 55 48 pm](https://cloud.githubusercontent.com/assets/5505433/11796764/0b6066d6-a28c-11e5-95d2-506d09c081b7.png)
Sublime inverts the color of the text cursor, which is easier to see. Maybe there should be a setting associated wit

[2015-12-14 23:11] beattyml1 commented on #84
It very well maybe addressed by existing features but having it match expecting functionality of almost all other editors and IDEs would probably really help new users and thereby adoption.

[2015-12-14 23:22] jijojv commented on #84
@alexandrudima Its a common feature https://www.sublimetext.com/docs/2/column_selection.html . I believe VS has it http://joelabrahamsson.com/select-columns-of-text-in-visual-studio/  http://www.visualstudiotipsandtricks.com/blog/2013/04/20/select-and-edit-vertical-blocks/
but is missing from VS Code.

[2015-12-14 23:45] louistsaitszho commented on #1236
Heres the markdown. Thanks

## Status code
|Status code|Meaning                                                  |
|-----------|---------------------------------------------------------|
|`200`      |Successful                                               |
|`201`      |Something create (account, visit, patient, etc)          |
|`400`      |Somthing's wrong (Usually bugs)

[2015-12-15 00:17] dstorey opened #1311 "[css] at-rules in CSS no longer distinguished from selectors in dark theme"
Probably somewhat related to #1271

In the dark theme (and light theme), CSS at-rules (e.g. @font-face) were coloured purple, distinguishing them from regular selectors.

In builds from Master, they're now the same colour as selectors: blue. In light theme they are distinguished from selectors, but are now blue instead of purple (regular selectors are dark red in light theme)

See @font-face in th

[2015-12-15 00:47] nevir commented on #909
Why would you want the watching task to ignore open documents? I'd love to additional problem matching on documents I'm working on, too.

[2015-12-15 00:50] nevir opened #1312 "Watched tasks do not terminate (sometimes)"
I'm finding that I have a bunch of zombie tasks, even after closing VS Code 0.10.3 (on OS X).

It appears that whenever I edit `tasks.json`, VS code forgets about the running tasks.  `> Tasks: Terminate Running Task` has no effect, and closing VS Code doesn't kill the process, either.

[2015-12-15 00:57] nevir commented on #909
Just to follow up, I believe I'm encountering the same issue for the following task definition:

[code]

[2015-12-15 01:06] nevir commented on #909
Never mind! I can verify that this works on `master` - deleting my prior (misleading) comments :)

[2015-12-15 01:40] SofianHn commented on #602
reopening this as the send-a-smile was pulled back into the Dec release. We are not fixing this bug for Dec though.

[2015-12-15 01:58] chrisdias commented on #1295
Why is it under the `search` category? The other search option(s) apply to the search viewlet (`search.exclude`).  Perhaps we need the `quickPick` category? If so I suggest:

[code]
or
[code]

[2015-12-15 02:39] ingxii opened #1313 "I can open jpg ,but can not open JPG(upper)"
I can open jpg ,but can not open JPG(upper)

[2015-12-15 05:28] mohsen1 commented on #1313
It was fixed in this commit: 65d2803a603d1b679a68100bec463958

Line of code to look at: https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/resourceviewer/resourceViewer.ts#L82

[2015-12-15 05:33] jonnyguo1988 opened #1314 "tasks.json suppressTaskName doesn't work"
Hi
Please see the attachment
![tasks](https://cloud.githubusercontent.com/assets/14086700/11802894/615fd810-a330-11e5-9f51-34912043a7ab.png)

I set the "suppressTaskName": false but it still put the task name after command in Output window.

Another problem, I can only add one command in one project, which mean I can only use one command for one project, it's a big limitation.

Thanks.

[2015-12-15 05:43] jonnyguo1988 commented on #1314
For example I have a project and I configure a build task for it, but I also want to configure a unit test task, code analysis task and so on, but vs code cannot do it. Or , I have to write a broker tool for it.

[2015-12-15 06:14] bpasero commented on #1295
Yes, we can introduce a new category. Note though that the search.exclude setting has an impact on quick open too.

[2015-12-15 06:35] SilentTiger opened #1315 "How can I run more than one node project at sametime?"
I have a project solution in Visual Studio 2015 with 3 NodeJS projects in it. I need to run these three projects together, it's easy in VS2015, but in VS Code, what should I do?

I think that's should be a very important feature of VS Code.

[2015-12-15 07:33] rkeithhill commented on #1232
Nothing that fancy.  I can fake out VSCode and create a `faux` variable to act as my container.  Here's what it looks like - `Automatic Variables`:
![filteredvariables](https://cloud.githubusercontent.com/assets/5177512/11804556/13c67dc0-a2c2-11e5-969c-1953980b82cb.png)
Think of "Automatic Variables:" as a filtered view - could be called "Auto" or "My Variables".  It is not a `real` variable - it

[2015-12-15 07:55] dbaeumer commented on #1314
@jonnyguo1988 to suppress the task name set "suppressTaskName": true

[2015-12-15 07:55] #1314 closed

[2015-12-15 07:56] dbaeumer commented on #1313
@mohsen1 Thanks. Closing.

[2015-12-15 07:56] #1313 closed

[2015-12-15 07:58] dbaeumer commented on #1312
@nevir can you provide a tasks.json file that shows the behavior. Usually VSCode should ask you to terminate the task when it closes.

[2015-12-15 08:01] dbaeumer commented on #1309
@mohsen1: two ways:

* F1 > Change Language Mode
* click on the Language indicator in the bottom right corner of the status line (e.g TypeScript) if a TypeScript file is open.

[2015-12-15 08:01] #1309 closed

[2015-12-15 08:03] dbaeumer commented on #1307
@bpasero Ben, start with you here since this sounds like a mark down feature. I think there is no underlying support needed in the editor to make this happen.

[2015-12-15 08:05] jonnyguo1988 commented on #1314
@dbaeumer  Thank you I tried and succeed. because when i set this option is promotes "true" is the default value and it doesn't work when i did set it which mislead me to set it as false.

Thank you.

[2015-12-15 08:13] egamma commented on #1295
`"quickPick.useFuzzySearch": boolean` works for me.

[2015-12-15 08:15] egamma commented on #1278
:+1:

[2015-12-15 08:17] egamma commented on #1094
will be addressed by #1198

[2015-12-15 08:17] ujay68 opened #1316 "Encoding detection from XML header"
The attached XML file declares and uses ISO-8859-15 as its encoding, but it opens as UTF-8. The sample Euro character (U+20AC), coded as byte 0xA4 in that encoding, is not shown correctly. v0.10.3 on OS X 10.11.2.

![iso-8859-15-vsc](https://cloud.githubusercontent.com/assets/3627476/11805513/8aef06e8-a30c-11e5-96e3-b5adeea66f2a.PNG)

[ISO-8859-15.xml.zip](https://github.com/Microsoft/vscode/files

[2015-12-15 08:17] #1094 closed

[2015-12-15 08:25] greybax opened #1317 "Word wrap implementation for text editor (f.e like in SublimeText)"
It would be usefull to implement **Word Wrap**, which supports now in all modern Text Editors (f.e Sublime on screenshot):

* **SublimeText**:
![sublime](https://cloud.githubusercontent.com/assets/3235047/11805592/1eefd99c-a31e-11e5-9cc0-87be77d7cd45.png)

* **vscode**:
![vscode](https://cloud.githubusercontent.com/assets/3235047/11805604/3712c138-a31e-11e5-8cac-c2923f900456.png)

Also would be us

[2015-12-15 08:31] jrieken commented on #1290
This is because we sort each group of proposals by itself

[2015-12-15 08:33] egamma commented on #1216
+1 we should make sure that we use consistent wording for the publish action/push branch action in the hover in the status bar and in the quickbox, when you have more than one remote.

Currently the prompt says: "Pick a remote to push ..." should this be 'publish'?

[2015-12-15 08:44] isidorn commented on #1315
Currently this is possible by opening multiple instances of VSCode.
Running them in one instance is a feature-request for the future.

[2015-12-15 08:45] dbaeumer commented on #1317
VSCode supports word wrap. Use "editor.wrappingColumn": 0 in the settings. (File > Preferences > Workspace settings).

[2015-12-15 08:45] #1317 closed

[2015-12-15 08:48] jrieken commented on #1290
closing as duplicate of #1190

[2015-12-15 08:50] alexandrudima commented on #84
@jijojv So this is about adding more mouse gestures since we have this:

![image](https://cloud.githubusercontent.com/assets/5047891/11806124/362c1d76-a311-11e5-81ae-ad71912e9a30.png)

[2015-12-15 08:52] aeschli commented on #1291
This is a problem of the grammar.
`:` get scope `token annotation body declaration function meta method object parameter type ts`

[2015-12-15 08:53] aeschli commented on #1284
This is a problem of the grammar, both using and name get the keyword scope

[2015-12-15 08:53] #1290 closed

[2015-12-15 08:57] aeschli commented on #1281
This coloring looks correct to me. You can have a variable inside a comment. The handlebar transpiler comes first and will replace the content

[2015-12-15 08:57] #1281 closed

[2015-12-15 08:57] alexandrudima commented on #1299
I can also repro with the following extension:

... what changed since last week?

[code]

[2015-12-15 09:01] aeschli commented on #1274
Problem of the grammar.
The scopes we get for the 3rd and 4th number is `token block decl function meta js`

[2015-12-15 09:03] alexandrudima commented on #1299
Tried again with and this seems to work....

[code]

[2015-12-15 09:03] aeschli commented on #1269
@joaomoreno Please always paste the code snippet as well...

[2015-12-15 09:05] aeschli commented on #1269
It's a problem of the grammar

[2015-12-15 09:08] bpasero commented on #1316
Detecting the encoding like that is a feature request.

[2015-12-15 09:13] bpasero commented on #1306
Yes, fixed.

[2015-12-15 09:13] #1306 closed

[2015-12-15 09:13] dbaeumer commented on #909
watchedTaskEndsRegExp  and watchedTaskBeginsRegExp  is deprecated and got replaced by waching.beginsPattern and watching.endsPattern.

[2015-12-15 09:31] T18970237136 commented on #815
Hi,
any news on this before the holidays?
Thanks!

[2015-12-15 09:32] StrongRef opened #1318 "Octal literal syntax error is not handled for all cases"
When declaring an octal literal, an error is shown.
![error1](https://cloud.githubusercontent.com/assets/16247609/11806897/601b9f94-a316-11e5-901c-d3a59257fb5f.png)

However, if another error is introduced, the error for octal literal usage is omitted.
![error2](https://cloud.githubusercontent.com/assets/16247609/11806917/7d572592-a316-11e5-8913-9faa08df0f89.png)

Another strict rule violation, th

[2015-12-15 09:52] BleyChen opened #1319 "How to debug vscode source code for one specific feature?"
I have followed the instruction from page https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source to try to debug vscode source,  But i have not found how to debug a specific feature such as Intellisense feature ,now  i want to set breakpoint for "update" method in \vscode\src\vs\editor\contrib\suggest\browser\suggest.ts ,but i don't know how to trigger this method ,an

[2015-12-15 10:01] alexandrudima commented on #1299
I was misreading the log, the version with `writeFileSync` had only one message and it was deactivate called

[2015-12-15 10:01] dbaeumer commented on #1198
Fixed.

[2015-12-15 10:01] #1198 closed

[2015-12-15 10:02] fbehrens opened #1320 "Can't install extensions through proxy on windows"
The List of extensions is displayed, but when I click on one iE `Elm` it shows

`Error` `getaddrinfo ENOTFOUND marketplace.visualstudio.com marketplace.visualstudio.com:443`

Vscode was started from the commandline  with

    https_proxy=http://user:pw@ip:port
    http_proxy=http://user:pw@ip:port

System proxy is defined though an `Automatic configuration script` via th url of a *.pac file.
When

[2015-12-15 10:02] dbaeumer commented on #836
Done

[2015-12-15 10:02] #836 closed

[2015-12-15 10:12] ujay68 commented on #1316
Thanks for picking this up. If you regard it as a feature request it's IMO at least very very close to a bug. The XML specification is very clear about how a conformant XML processor (and one can think of an XML-aware editor as an XML processor) must detect and handle the encoding, either an explicit one (like here the charset in the XML declaration) or implicitly (by looking at byte-order marks a

[2015-12-15 10:14] bpasero commented on #1295
@egamma @chrisdias would people not expect that fuzzy search is then applied to all of quick pick, where today it is only applied to the file search and nothing else? I also think "fuzzy" might be a bad name because we are not matching as crazy fuzzy as sublime does. I have a feeling that in sublime the typed characters are matched anywhere in the file and path, whereas for us (and Atom I think) a

[2015-12-15 10:15] alexandrudima opened #1321 "HTML Format does not work"
* open HTML file
* run format (entire document)

![image](https://cloud.githubusercontent.com/assets/5047891/11807883/1facd200-a31d-11e5-8e73-29c14d0910e3.png)

[2015-12-15 10:16] bpasero commented on #1316
@ujay68 I think this cannot be a bug because we do not have code that does encoding detection so you cannot really say that we are doing something wrong here. It is literally not implemented. The only encoding detection we do is when you use UTF-8 or UTF-16 byte-order-marks that work in all files.

[2015-12-15 10:16] bpasero commented on #1316
Btw great chance for a pull request, the code could go into https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/encoding.ts

[2015-12-15 10:26] jrieken commented on #1300
This is because OmniSharp doesn't support per request formatting options (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Abstractions/Models/v1/FormatRangeRequest.cs#L6). Moving to OmniSharp for that.

[2015-12-15 10:28] jrieken commented on #1300
@anfomin - Do workaround this, you can create an `omnisharp.json` with the config

[2015-12-15 10:29] jrieken commented on #1300
This issue was moved to OmniSharp/omnisharp-roslyn#366

[2015-12-15 10:29] #1300 closed

[2015-12-15 10:30] egamma commented on #1295
The description should mention `experimental` then we set the expectation.

Suggest the following description, I would still use fuzzy this was also the term used in #968.

how about this option name to make it clear it applies to the file picker only:

[2015-12-15 10:35] #1293 closed

[2015-12-15 10:35] #1294 closed

[2015-12-15 10:38] jrieken opened #1322 "Move line up is broken"
* move line up
* :sob: lines moves up but cursor stays

[2015-12-15 10:39] #1321 closed

[2015-12-15 10:47] bpasero opened #1323 "Cannot read property 'getStatus' of null"
Just saw this in my dev logs:

[1674:1215/113350:INFO:CONSOLE(332)] "Cannot read property 'getStatus' of null: TypeError: Cannot read property 'getStatus' of null
    at DirtyDiffModelDecorator.getOriginalContents (file:////Users/bpasero/Development/monaco/out/vs/workbench/parts/git/browser/gitWorkbenchContributions.js:131:35)
    at DirtyDiffModelDecorator.diffOriginalContents (file:////Users/bpa

[2015-12-15 10:49] joaomoreno commented on #1269
Sorry!

[code]

:+1:

[2015-12-15 10:58] bpasero commented on #1269
I think that is not the full snippet from the screenshot...

[2015-12-15 11:05] alexandrudima opened #1324 "[css] Word highlight is computed wrong when in CSS comments"
[code]

![css-word](https://cloud.githubusercontent.com/assets/5047891/11808987/1ab22de8-a324-11e5-8da5-0ef05daaa1e1.gif)

[2015-12-15 11:12] #1295 closed

[2015-12-15 11:12] bpasero commented on #1295
:+1:

[2015-12-15 11:12] #1156 closed

[2015-12-15 11:17] bpasero opened #1325 "Extensions Status: improve hover message"
I suggest to tell the user that you are showing N errors and warnings there, not just "extensions".

[2015-12-15 11:18] bpasero opened #1326 "Extensions Status: Uninstall action does not tell me what is being uninstalled"
If we provide an action to uninstall an extension from a warning/error, please make it very clear what exactly is being uninstalled, I cannot tell from the warning itself:

![screen shot 2015-12-15 at 12 18 07](https://cloud.githubusercontent.com/assets/900690/11809265/eebfdd8c-a325-11e5-88e7-c562c59883e0.png)

[2015-12-15 11:19] bpasero opened #1327 "Extensions Status: The number after the icon does not help me at all"
I see the number 1 after the icon but what does it mean? At least tell me "1 Warning".

[2015-12-15 11:21] bpasero opened #1328 "Extensions Status: The image is too large compared to the others"
Make it background-size: 14px

[2015-12-15 11:27] #1328 closed

[2015-12-15 11:28] isidorn commented on #1327
Icon should be more intuitive to reflect that it is a broken extension. Icon + number + warning is too wide imho.
Forwarding this to @bgashler1 to get opinion

[2015-12-15 11:31] alexdresko commented on #909
@dbaeumer Yay! Just got the insider update and it's fixed! Thank you!

[2015-12-15 11:33] bpasero commented on #1327
Well since we do not show this when everything is ok, it would actually draw some attention to it. Currently I would never think about clicking there.

[2015-12-15 11:34] bpasero opened #1329 "Git checkout should create a tracking branch, if any remote contains a matching branch"
Currently when you use quick open to "git checkout branch", the branch will be created even if the branch already exists in the remote. The command line does a better job and connects to the existing branch in that case.

[2015-12-15 11:37] aeschli commented on #1249
![image](https://cloud.githubusercontent.com/assets/6461412/11809641/912d8086-a328-11e5-8240-47c6b40e4cf6.png)

[2015-12-15 11:38] isidorn commented on #1249
I do not see it on my linux -> sending back to backlog

@alexandrudima on Martin's machine I see that the line number is not centered inside its div, it goes to the upper right (as shown in the screenshot). My glyph is centered nicely thus the original misalignment Martin noticed.

[2015-12-15 11:42] isidorn commented on #1327
Makes sense. Though 7 warnings & errors is really long. Should I just say 7 messages?

[2015-12-15 11:43] egamma commented on #1327
Suggest to be more specific, e.g. 7 issues

[2015-12-15 11:44] isidorn commented on #1327
issues works for me

[2015-12-15 11:54] weinand commented on #1264
This is a rare corner case: if "stopOnEntry" is false but you have a breakpoint in the same line where node would stop on entry, and if you are using sourcemaps, then it can happen that the breakpoint is skipped.

I've tried to improve this, but I'm sure that there are cases where this won't work.
@jrieken but with my fix your snippet works for me.

[2015-12-15 11:58] #1325 closed

[2015-12-15 11:59] #1327 closed

[2015-12-15 12:01] aeschli commented on #1271
fix delivered

[2015-12-15 12:01] #1271 closed

[2015-12-15 12:03] isidorn commented on #1271
I guess you should assign it to me for verification :hamster:

[2015-12-15 12:05] aeschli commented on #1311
fix delivered

[2015-12-15 12:05] #1311 closed

[2015-12-15 12:13] danielschmitz commented on #1307
Hello guys, its a mark down "native" feature.

Thanks

[2015-12-15 12:37] Stephanvs commented on #1308
Actually I was trying to do something similar like this for my graphviz extension, I want to be able to generate some html based on the current active document and preview it in a similar way as the Markdown preview. I found the way the Markdown extension does this, but it's not available as public API's

[2015-12-15 12:41] warpdesign commented on #258
@bpasero I confirm this is fixed in 0.10.4 (insiders).

Nice!

[2015-12-15 12:53] tht13 opened #1330 "VSCode will not close if attempting to discard an unsaved file"
When attempting to close or change workspace containing unsaved file(s) vscode prompts you to save them (expected) however clicking 'Don't save' results in the same action as clicking 'Cancel'. I.e. the editor remains in the current workspace.
Detected on 0.10.4

[2015-12-15 12:56] jrieken commented on #1308
Yeah, the markdown stuff isn't an extension yet. I can think of either a special `HTMLTextDocument`, a mode when opening an editor, or some command. Needs some thinking...

[2015-12-15 13:17] Stephanvs commented on #1308
Also I noticed the `OpenPreviewToSideAction` and related `Action` class, which can toggle the preview mode, something like that would also be useful to do.

[2015-12-15 13:18] jrieken commented on #1308
yeah, tho that action takes undocumented context... We need to elevate it

[2015-12-15 13:19] jrieken commented on #1003
Until we improve the API we don't automatically show suggestion when the current work is just a number.

[2015-12-15 13:21] aeschli commented on #1267
fix delivered

[2015-12-15 13:21] #1267 closed

[2015-12-15 13:32] #1003 closed

[2015-12-15 13:37] joaomoreno commented on #1323
This is OK. It was during a shutdown.

[2015-12-15 13:39] #1301 closed

[2015-12-15 13:42] joaomoreno opened #1331 "Typescript intellisense looks broken after dot completion"
https://youtu.be/whtggr9RFXs
1. Trigger intellisense with <kdb>dot</kbd> works.
2. Manual trigger doesn't work

Video recorded at gitServices.ts#768

[2015-12-15 13:43] joaomoreno commented on #1331
Works fine in JavaScript.

[2015-12-15 13:44] jpierson opened #1332 "All of the sudden today I keep getting a prompt to reinstall VSCode and it keeps failing"
I see the following error after choosing to restart VSCode after prompting to install the update.

Version 0.10.3
Commit 783ecf841a2b21edca6d86853670cae89b4c244f
Date 2015-11-26T14:06:31.538Z
Shell 0.34.1
Renderer 45.0.2454.85
Node 4.1.1

I've attempted to uninstall and reinstall VSCode but that hasn't seemed to help at all. I still get the same attempted update behavior.

[2015-12-15 13:46] bpasero commented on #258
@warpdesign great! also happy for feedback on the new option to enable fuzzy matching.

[2015-12-15 13:51] #1323 closed

[2015-12-15 13:52] #1288 closed

[2015-12-15 13:57] edotassi opened #1333 "Can't format HTML code"
VsCode 0.10.4

When I click on "Format Code" in the context menu, i get the following error:

[code]

[2015-12-15 14:03] #917 closed

[2015-12-15 14:04] alexandrudima commented on #1249
@aeschli Is this with out of the box settings on Linux?

[2015-12-15 14:05] alexandrudima commented on #80
:white_check_mark:

![image](https://cloud.githubusercontent.com/assets/5047891/11812615/398987a2-a33d-11e5-852a-50c6499649be.png)

[2015-12-15 14:05] malekpour commented on #446
This is almost same as #815

[2015-12-15 14:06] alexandrudima commented on #754
@bpasero Do you know if electron supports to invert the color of the mouse cursor ?

[2015-12-15 14:06] dbaeumer commented on #1194
Implemented as proposed. The new flag to control this for a task is promptOnClose. For watching tasks this is false by default.

[2015-12-15 14:07] #1194 closed

[2015-12-15 14:08] dbaeumer commented on #1257
Duplicates #1194

[2015-12-15 14:08] #1257 closed

[2015-12-15 14:10] #872 closed

[2015-12-15 14:11] echonox opened #1334 "Visual Studio Code Icons and Text looks blurry"
![screenshot 20](https://cloud.githubusercontent.com/assets/9529847/11812730/d9e426da-a33d-11e5-94bf-d5aa826942c2.png)

First time installing on fresh Windows 10 and this is how it looks, it doesn't stay like this, but it moves like some ripple effect or something how can I fix this?

[2015-12-15 14:12] #1279 closed

[2015-12-15 14:14] joaomoreno commented on #1332
Duplicate of #780.

Do you have a proxy, though?

[2015-12-15 14:14] #1332 closed

[2015-12-15 14:15] egamma commented on #815
@T18970237136, sorry this didn't make it for the [December update](https://github.com/Microsoft/vscode/wiki/December-Pre-Release).

Closing as a duplicate of #446.

[2015-12-15 14:15] #815 closed

[2015-12-15 14:16] aeschli commented on #668
Verified by a test case

[2015-12-15 14:21] alefragnani commented on #1308
I was also looking for this :+1:
@jrieken , you could also look (when deciding the new APIs) for other supported file types, like images (png, jpg).

[2015-12-15 14:22] aeschli commented on #1249
@alexandrudima Yes, no user/workspace configuration for any of the editor settings

[2015-12-15 14:24] jrieken commented on #1333
Got fixed today for 0.10.5. Duplicate of #1321

[2015-12-15 14:24] #1333 closed

[2015-12-15 14:24] bpasero commented on #754
@alexandrudima not to my knowledge and in fact Atom is assigning a custom cursor when I last checked using CSS. What I dont like about that approach is that it seems impossible to put the correct size of the cursor depending on running in High DPI or not (retina).

[2015-12-15 14:24] bpasero commented on #1194
:sunny:

[2015-12-15 14:29] dbaeumer commented on #1157
These errors are produced by the JS language service. The owner is javascript/semantic. Since the view.d.ts file is a declare file it is loaded into the JS language service and that doesn't know anything about the all.ts file which defines the mystery namespace.

[2015-12-15 14:29] dbaeumer commented on #1157
Moving to @jrieken

[2015-12-15 14:29] bpasero commented on #1239
Sry, didnt know the bug as from someone else, but assigning for verification.

[2015-12-15 14:31] #1275 closed

[2015-12-15 14:31] egamma commented on #1157
The issue is understood, removing the important label.

[2015-12-15 14:31] bpasero commented on #927
Maybe verify by looking at the CPU when you run quick open and verify that it stops for a large workspace when you close quick open widget.

[2015-12-15 14:34] egamma commented on #1242
Verified that this behaviour is consistent across the different emmet integrations (sublime, atom).

[2015-12-15 14:34] #1242 closed

[2015-12-15 14:34] Tyriar commented on #754
@bpasero @alexandrudima Surely this doesn't reproduce on regular web pages with dark backgrounds on Chrome? Never heard of this being a problem as a web developer.

[2015-12-15 14:34] bpasero commented on #167
Not fixed, but I created another one for it.

[2015-12-15 14:36] dbaeumer commented on #1331
Did some investigation but wasn't able to reproduce. I also check that the position is the same whether the code assist is triggered by . or by hand.

[2015-12-15 14:42] bpasero commented on #754
@Tyriar I totally see it in Chrome too when using Cloud9 with a dark editor.

[2015-12-15 14:43] weinand opened #1335 "breakpoint verification status not updated if program runs to termination w/o hitting a breakpoint"
-Make sure to use vscode with a fix for #1266.
-Use the snippet from #1266 and set a breakpoint in line 5.
-In your launch config use joh.ts as the entry point.
-break the source map by changing the "version" attribute to "vers".
-F5
Observe: the breakpoint does not update to "invalid"
-set another breakpoint in line 2
Observe: both breakpoints show up as invalid

[2015-12-15 14:43] #1266 closed

[2015-12-15 14:54] Tyriar opened #1336 "Insert cursor below on last line adds a cursor to the end of the current line"
With file contents

[code]

(no ending new line)

If cursor is before `a` and `editor.action.insertCursorBelow` is triggered, a cursor will be added after `c`.

[2015-12-15 15:00] isidorn commented on #1260
Only happens for very long strings when the repl has a specific size. Resizing the repl should show the value -> backlog
The issue is that I am measuring the width of the outer div not the span itself and this produces a difference in a couple of pixels. I would restructure the dome nodes for output elements but not for endgame week.

[2015-12-15 15:04] tonyeung opened #1337 "Multiselect for explorer"
If I want to move a block of files somewhere I have to do it through windows explorer.
I'd like to be able to arrange the file structure from the explore pane similar to the full blown Visual Studio solution pane

[2015-12-15 15:05] aeschli commented on #1324
fix delivered

[2015-12-15 15:05] #1324 closed

[2015-12-15 15:06] aeschli commented on #1291
This issue was moved to Microsoft/TypeScript-TmLanguage#27

[2015-12-15 15:06] #1291 closed

[2015-12-15 15:12] jrieken opened #1338 "suggestion screen cheese"
* do JS
* trigger so that <no suggestion> appears
* type
* ~> a weird shadow follows me

![screen shot 2015-12-15 at 16 10 50](https://cloud.githubusercontent.com/assets/1794099/11814358/95b09378-a346-11e5-894d-27eaf2ee4ef8.png)

[2015-12-15 15:17] aeschli commented on #1284
This issue was moved to atom/language-csharp#47

[2015-12-15 15:17] #1284 closed

[2015-12-15 15:19] #1335 closed

[2015-12-15 15:28] isidorn commented on #1153
StackTrace does not make sense to me.
@SofianHn am I reading it correctly that the exception came from debugAdapter.ts#28 because that is impossible - I want back to commit 783ecf8 to verify

[2015-12-15 15:31] weinand commented on #953
@flyingcodes this is a node.js and not a VSCode problem. If I use node's builtin debugger from the command line and follow your steps I see the same crash:

`
node debug t1.js
`

Please file this bug against node.js.

[2015-12-15 15:31] #953 closed

[2015-12-15 15:43] nevir commented on #1312
Current config is below, but it doesn't seem to matter what the config is. Repro steps:

1. Start the build task (haven't tried it w/ named tasks)
2. Modify `tasks.json` (even just adding whitespace)
3. Observe that "terminate task" does nothing. Also, you can start up another copy of the task; double output will be routed to the output pane.

[code]

[2015-12-15 15:48] massimocode opened #1339 "ES6 String Templates syntax highlighting"
1) Create a new JS file in a project set to ES6
2) Add the following code
var mytext = \`some ES6 \'text\'\`;
// this comment is brown
console.log('the console log is brown but this string inside it is coloured!');

You will see that everything after the first \' is brown. I am aware that there is no need to use the backslash to escape the ' character, but as far as I am aware it is also not inval

[2015-12-15 15:52] jrieken commented on #1157
This is how the current JS implementation works. It only considers `.js` and `.d.ts` files, but no `.ts` files. We won't fix that for the current JS language service but it might go away once we use project Salsa.

[2015-12-15 15:52] #1157 closed

[2015-12-15 15:53] tonyeung opened #1340 "Whenever I do any type of git operation I lose typescript intellisense"
Visual Studio Code 0.10.3
Whenever I do any type of git operation I lose type script suggestions.

It used to only happen when i move branches, but now even a commit makes me lose intellisense. Fiddling with the tsconfig.json brings it back sometimes. Other times the tsconfig.json is locked by VSCode. I know its VSCode because when I close the application the file becomes unlocked.

Also, tsconfig

[2015-12-15 15:55] Vannevelj opened #1341 "Comments in a .json file should be highlighted as invalid syntax"
A JSON structure [cannot contain comments](http://stackoverflow.com/a/4183018/1864167). However when you create a `.json` file and insert something like this:

[code]

it will highlight the `// some comment` part as a comment. For `.js` files this should be okay but for `.json` files it hides the issue that you can't use a comment in that location.

It would be helpful if the highlighting could be

[2015-12-15 15:55] egamma commented on #1064
Related to this issue https://github.com/sergeche/emmet-sublime/issues/70.

[2015-12-15 15:55] massimocode commented on #1339
Sorry for some additional information, it seems that the real issue as that the backtick ` is not being recognised as a string character (i.e. like single quote and double quote)

[2015-12-15 15:57] #1302 closed

[2015-12-15 16:05] aeschli commented on #1274
This issue was moved to Microsoft/TypeScript-TmLanguage#28

[2015-12-15 16:05] #1274 closed

[2015-12-15 16:06] alexandrudima commented on #1299
@dbaeumer pls give me a heads up if you try this again as it seems to work for me.

[2015-12-15 16:09] joaomoreno commented on #1338
Great catch!

[2015-12-15 16:10] louy opened #1342 "Typescript suggestions are very often broken"
Hi,

Typescript suggestions are always out of sync whenever any change like a git operation happens.
For someone like me who relies on the terminal, the experience is horrible.
If I understand it correctly, it's caused by changes to files outside the IDE. "atom-typescript" had a sync button to fix this. You should too.

If it's relevant, I'm using VSCode version 0.10.3 with Typescript v1.7.3 on OS

[2015-12-15 16:11] gileze33 commented on #1342
+1 this is killing my workflow!

[2015-12-15 16:15] #1338 closed

[2015-12-15 16:15] warpdesign commented on #993
+1

![comment](https://cloud.githubusercontent.com/assets/199648/11816139/6bccaebc-a34f-11e5-9a1a-0e1d49768cfd.gif)

[2015-12-15 16:18] aeschli commented on #1269
This issue was moved to Microsoft/TypeScript-TmLanguage#29

[2015-12-15 16:18] #1269 closed

[2015-12-15 16:18] #1216 closed

[2015-12-15 16:18] aeschli commented on #1268
This issue was moved to Microsoft/TypeScript-TmLanguage#30

[2015-12-15 16:18] #1268 closed

[2015-12-15 16:20] tonyeung commented on #1340
https://github.com/Microsoft/vscode/issues/1342

[2015-12-15 16:23] isidorn opened #1343 "gitActions.ts - cannot read property length of undefined"
Latest vscode, out of workbench, with my weird workspace i sometimes get these esceptions.
Maybe add a null guard since `getRemotes()` returns `null`

![screen shot 2015-12-15 at 17 20 51](https://cloud.githubusercontent.com/assets/1926584/11816350/41de4e02-a350-11e5-9a99-eb8375774d3b.png)

[2015-12-15 16:23] jrieken commented on #1338
I know :blush:

[2015-12-15 16:26] egamma commented on #959
We could not address this for the December update. A work around is to increase the font size in the user settings instead of zooming in. This has the limitation that the font size only applies to the editor and not the rest of the UI.

[2015-12-15 16:27] #1280 closed

[2015-12-15 16:28] joaomoreno commented on #1343
Thanks!

[2015-12-15 16:30] tonyeung commented on #1340
@louy @gileze33 can you guys post your tsconfig? I think I know the cause.

[2015-12-15 16:33] louy commented on #1340
Hmm yeah.

[code]

[2015-12-15 16:40] tonyeung commented on #1340
@louy  I cannot replicate the issue with your tsconfig.json. Do you have a link to your repository? Are you using tsd? if you are, did you keep the default settings? I was able to fix my issue when i stripped the tsconfig.json.compilerOptions down to just "target": "ES5"
[code]

[2015-12-15 16:43] louy commented on #1340
hmm well. `"module": "commonjs",` is a must for us. I'll check if I have a public repo in which I can reproduce the issue. You might want to look at [opool](https://github.com/urbanmassage/opool) for now.

[2015-12-15 16:48] raboud opened #1344 "References not working in C#"
no find all reference or reference info in c# files

[2015-12-15 16:48] tonyeung commented on #1340
@louy sorry, I wasn't being clear. I meant you should try stripping it down to target:ES5 and see if it fixes it for you. It should help with narrowing down the issue.

[2015-12-15 16:49] dbaeumer commented on #1299
@alexandrudima writing to a location different than root works. Sorry for the swirl.

[2015-12-15 16:49] #1299 closed

[2015-12-15 16:49] tonyeung commented on #1340
I also tried the opool and the suggestions worked fine

[2015-12-15 16:53] dbaeumer commented on #1312
@nevir This doesn't reproduce for me with a normal example. Would you be willing to share the project with us so that I can understand why this doesn't work for you?

[2015-12-15 16:53] #1344 closed

[2015-12-15 16:54] raboud commented on #1344
project.json file was messed up

[2015-12-15 16:57] dbaeumer commented on #909
Assigning to @aeschli for verification.

[2015-12-15 16:58] dbaeumer commented on #614
Nothing to verify since it doesn't reproduce and nothing got committed.

[2015-12-15 17:01] dbaeumer commented on #1253
@alexandrudima sorry, no. And I didn't see it again. No objections if you want to close it.

[2015-12-15 17:07] dbaeumer commented on #1342
We could add a reload action to VS Code to reload all projects. However there is a bug open in the TypeScript repository as well since the tsserver should handle this correctly without user interaction.

@louy: does the git operation change files outside your open workspace folder and those files affect the TS compile?

[2015-12-15 17:08] dbaeumer commented on #1341
@aeschli can you please comment.

[2015-12-15 17:12] dbaeumer commented on #1337
@bpasero fyi

[2015-12-15 17:12] massimocode commented on #1339
Sorry accidentally closed issue. I've updated the initial comment with a nicer description etc

[2015-12-15 17:17] renil commented on #1330
It looks like "Don't Save" and "Cancel" switched the functions. Cancel actually closes the editor.

[2015-12-15 17:19] dbaeumer commented on #1318
This is the tsserver. Moving to TS.

[2015-12-15 17:20] dbaeumer commented on #1318
This issue was moved to Microsoft/TypeScript#6107

[2015-12-15 17:20] #1318 closed

[2015-12-15 17:31] alexandrudima opened #1345 "Too many icons due to too many tokens"
![image](https://cloud.githubusercontent.com/assets/5047891/11818323/07fa203a-a35a-11e5-92b8-1c926e129b13.png)

[2015-12-15 17:34] jpierson commented on #1332
Not that I'm aware of... I am running inside of a Windows 10 VM on MacBook Pro through Parallels though if that helps.

[2015-12-15 17:56] nevir commented on #1312
Yeah, take a look at this repo: https://github.com/nevir/vscode-example-1

[2015-12-15 18:01] louy commented on #1342
@dbaeumer So it is as I thought. Well user intervention is better than nothing. And no, each workspace is a git project.

Another tricky solution would be to trigger the reload command when the project window restores focus after it was in the background for some set duration (like 10-30 secs).

This is a big issue for me. It's really annoying.

[2015-12-15 18:05] louy commented on #1340
I'll try it tomorrow and let you know. Though my point was that if I remove `module: commonjs` the project won't work. Meaning that I can't publish it as an npm module.

[2015-12-15 18:07] tonyeung commented on #1340
@louy  yea, I understand. Hopefully stripping it down will narrow the problem so the devs can fix it. In the meantime, a work around might be to only add it when you need to compile, or pass your build tool a separate "tsconfig.json". Personally, I'd rather do that than see red squigglies everywhere

[2015-12-15 18:45] gileze33 commented on #1340
(same team as @louy so same tsconfig)

I tend to see this the most when I have 2+ VSCode windows open with different projects

[2015-12-15 18:52] bgashler1 commented on #1270
I agree this is a problem with consistency, and it needs to be addressed.  I'll try out some colors that can make up for the missing ones in the light theme.

[2015-12-15 18:55] tonyeung commented on #1340
@gileze33  I see. Well, if you're encountering it now, you can try my workaround till we hear something from the devs.

[2015-12-15 18:56] tonyeung commented on #1340
seeing as how the other issue has dev involvement, i'm closing this issue.

[2015-12-15 18:56] #1340 closed

[2015-12-15 19:09] jgauffin commented on #1180
It's not working in ***launch.json***. Is it really implemented in both tasks.json and lunch.json?

My setup:

[code]

[2015-12-15 19:27] jijojv commented on #84
@alexandrudima it's not quite the same as it requires 2 separate actions which is error prone e.g if you don't let go but yes in a pinch this 2 steps do get you column mode selection and edits.

⌥⌘↓ then MUST let go , then press ⇧→ to get columns

[2015-12-15 19:46] gregvanl opened #1346 "Close dialog for new files Don't Save and Cancel are swapped"
Run VS Code with a new filename ('code blah.txt').
Start to close VS Code and you will be prompted to Save, Don't Save or Cancel.
Click Don't Save - The prompt is gone but VS Code is still running.
Click Cancel - VS Code quits and the new file is lost.
It appears that Don't Save and Cancel have swapped handlers?

[2015-12-15 19:48] gregvanl commented on #1346
Duplicate of #1330

[2015-12-15 19:48] #1346 closed

[2015-12-15 19:57] bpasero commented on #1330
Fixed already, sry for that.

[2015-12-15 19:57] #1330 closed

[2015-12-15 19:58] bpasero commented on #1334
Wow that looks bad, never saw something like that. If you install Atom, does it look the same?

[2015-12-15 20:14] ujay68 commented on #1316
I'm not a JavaScript/TypeScript programmer, I'm afraid, but if someone is volunteering here, I'd be glad to help with any questions regarding the XML specification.

[2015-12-15 20:59] clojj commented on #192
:+1:

[2015-12-15 21:05] chantisnake opened #1347 "cannot start code via command line on windows 10"
I have checked the path variable, it is set properly:
![capture1](https://cloud.githubusercontent.com/assets/10100995/11824025/65f4b584-a345-11e5-8966-8af38d29cc8e.PNG)

and the `code.cmd` is there.
![capture2](https://cloud.githubusercontent.com/assets/10100995/11824039/718294ac-a345-11e5-8062-da266dca66f7.PNG)
double clicking on `code.cmd` do launches vs code.

but, when I go to power shell or c

[2015-12-15 21:23] MiguelLattuada opened #1348 "Zoom In/Out should not modify whole window."
Editor window should not be modified when zooming in/out.
![screen shot 2015-12-15 at 5 46 52 pm](https://cloud.githubusercontent.com/assets/5618566/11824245/4003b19c-a357-11e5-85f1-1e78ada534bd.png)

**Instead of that, just code rows (.view-lines div) should be scaled (transformed or font resized).**
![screen shot 2015-12-15 at 6 02 23 pm](https://cloud.githubusercontent.com/assets/5618566/118243

[2015-12-15 21:29] McdonaldSeanp opened #1349 "[ruby] Ruby language support does not include %() string syntax"
VScode will report an error: The mode has failed while tokenizing the input. if the ruby file contains the % notation string syntax.

[2015-12-15 21:34] loganhuskins opened #1350 "Update path when renaming the parent of a dirty file"
When you rename any parent directory of a file you are currently editing, you lose access to the file. You can regain access to it by changing the name of the directory back to what it was before the rename.

I would expect VS Code to move the file you are editing to the new folder even if it is not saved.

I am on version 0.10.3.

[2015-12-15 21:39] wadeanderson7 opened #1351 "Welcome Page is Missing a link to Extensions"
We should include a link to the extensions marketplace on the welcome page.

[2015-12-15 21:41] wadeanderson7 opened #1352 "Show welcome page after update"
Many developers that have used code for a while can't remember the welcome page. We discussed showing the welcome page for each upgrade.

[2015-12-15 21:55] bgse opened #1353 "Extensibility API: openTextDocument() inconsistent dirty state with working files if document is inside workspace.rootPath"
Sorry for the convoluted title, also sorry if this is simply user error or misuse of the API.

Long story short, I'm opening the TextDocument like this:

    vscode.workspace.openTextDocument(vscode.Uri.parse("untitled:" + lsFullpath)).then(...);

where lsFullpath is a full path inside vscode.workspace.rootPath, and immediately call

    TextDocument.save()

This has the intended effect (which mig

[2015-12-15 22:14] bgashler1 commented on #192
## Good News
I got ligatures to work by changing my user settings in VS Code with `"editor.fontFamily": "Fira Code"` and then adding the simple CSS rule below
[code]
## Temporary Bad News
There's a side-effect we need to work through.
![test](https://cloud.githubusercontent.com/assets/11839736/11825475/1070fe3a-a334-11e5-89e5-07ea190ef062.png)

The problem I’m getting is that when I use this rule

[2015-12-15 22:15] wadeanderson7 commented on #1351
A pull request has been created in vscode-distro

[2015-12-15 22:15] #1351 closed

[2015-12-15 22:20] vscodeerrors opened #1354 "Uncaught SyntaxError: Unexpected end of input"
Issue Id: <b>f3a775fb-4479-4a5e-0c8d-4fe63549d6a3</b><br /><br />*Versions* <br />- 0.10.3<br />-  df352367df2efcfa9d602d471e4e2f42140a0f05<br />*Stack* <br />SyntaxError: Unexpected end of input<br />    at Object.parse (native)<br />[/vs/workbench/parts/debug/node/debugAdapter.ts#L28:8 (Adapter.constructor)](https://github.com/microsoft/vscode/blob/783ecf841a2b21edca6d86853670cae89b4c244f/src/vs

[2015-12-15 22:22] #1354 closed

[2015-12-15 22:34] stkb commented on #1348
Don't agree: the current zoom behavior is exactly what I want. You can always change the ```editor.fontSize``` setting for larger or smaller editor text. Though it's true that there aren't shortcut keys for that.

[2015-12-15 22:43] alefragnani opened #1355 "Add shortcuts for nextDiff and prevDiff in DiffEditor"
It would be handy to have shortcuts for both buttons in **DiffEditor**.

Suggestions:
* **nextDiff**: `Ctrl + Shift + N`
* **prevDiff**: `Ctrl + Shift + P`

[2015-12-15 22:49] felixfbecker commented on #1347
It works for me...
Try adding the extension `code.cmd .` and see what happens

[2015-12-15 22:59] felixfbecker opened #1356 "Make mock-debug a yeoman generator, publish /common as NPM module"
The whole process of cloning mock-debug to make a debugger extension and then changing it is cumbersome. Like for normal extensions, there should be a yeoman generator that asks you questions about what languages the debugger is for, what the name should be etc.

Secondly, in the docs you express the intent to move the common part of the mock-debug repo to a NPM module, which makes sense, as it's

[2015-12-15 23:02] hville commented on #780
I am having the same issue, that only started yesterday (15 December) well after the 10.3 update.
* `vscode` prompts that an update is available
* When trying to update I get the the error prompt `The setup files are corrupted`
* Re-installing a new `vscode version 10.3` did not resolve the problem

[2015-12-15 23:09] aroemen commented on #1200
@alexandrudima I have it happening on multiple computers and OSes. One is a HP running Windows 10 and the other is an IBM running Windows 7

[2015-12-15 23:10] benkaiser opened #1357 "Odd keybindings"
I currently have these in my user `keybindings.json`:

[code]

ctrl+up and ctrl+down are standard are used in [atom](https://github.com/nwinkler/atom-keyboard-shortcuts#editing) (similar product to vscode) and used as ctrl+shift+up and ctrl+shift+down in sublime text. Any chance these can at least be bound to something?

Also regarding ctrl+l, it is the default for selecting a line in atom editor

[2015-12-15 23:13] #1322 closed

[2015-12-15 23:18] clojj commented on #192
How can I add this CSS rule ?

[2015-12-15 23:19] alexandrudima opened #1358 "Try to use different method for getting key physical label"
See:

![image](https://cloud.githubusercontent.com/assets/5047891/11827170/89f28dd6-a38a-11e5-9983-8f21d42c3f24.png)

vs :

![image](https://cloud.githubusercontent.com/assets/5047891/11827191/ae74a46e-a38a-11e5-83af-186629d7d422.png)

[2015-12-15 23:55] mike-pt opened #1359 "Please add support for FreeBSD"
I was testing build on FreeBSD but the code.sh script is failing when building electron:

[code]

[2015-12-15 23:56] mike-pt commented on #1359
Hum.. just after posting I realised this:
[code]

So I guess this needs to be fixed on gulp-atom-electron first.

[2015-12-16 00:13] SofianHn commented on #1153
this is strange, the stack does not make sense but I double checked and that's what the source maps resolved. Maybe put this on hold and let's wait to see if it comes up in the next version.

[2015-12-16 00:24] gregvanl commented on #326
Fixed and republished.

[2015-12-16 00:24] #326 closed

[2015-12-16 01:30] yueyang68 commented on #523
Sorry, due to the data privacy, I can't just send the file to you. The size of the file is more than 20 MB and the word I want to replace appears many times in this file.When I click the "Replace All" button, this may lead a crash. I will try to get a file that will reproduce this crash and send to you.

[2015-12-16 03:47] ingxii opened #1361 "[php] highlighting for mysql in php file"
$sql = "SELECT \* FROM users  WHERE id=1";
Can you highlight  the keyword  "SELECT" , "FROM" and  "WHERE",  please?

[2015-12-16 04:00] jcward opened #1362 "Debug Call Stack viewport vertical scroll cuts off the bottom item"
In debug mode, in the Call Stack viewport, whenever the list is larger than the view area and the vertical scrollbar appears, the bottom item is not reachable by scrolling.

Note that even with multiple threads, it cuts off exactly one item.

The same is not true for the variables viewport, the variables viewport works correctly.

[2015-12-16 04:03] jcward commented on #1362
This gif highlights the problem -- the highlighted item at the end can't be reached by scrolling the viewport:

![test](https://cloud.githubusercontent.com/assets/2192439/11831799/499b20b0-a36f-11e5-94e6-90e007024a47.gif)

[2015-12-16 05:00] yangmillstheory commented on #1023
+1 - was just trying to delete multiple files.

[2015-12-16 06:18] sarbbottam opened #1363 "Keyboard shortcut to navigate Working files"
It will be great to have a keyboard shortcuts / commands to access the `Working files`.
Navigate `Working files`, remove from `Working files`.

[2015-12-16 07:17] isidorn commented on #1153
Putting it on hold means closing for me 😊
We can reopen if happens again

[2015-12-16 07:17] #1153 closed

[2015-12-16 07:31] Johnaka commented on #780
oh i love you people. now that someone else has that issue i guess they will fix it

[2015-12-16 07:41] flyingcodes opened #1364 "Will show code of old function object which steped before while step in at second function object"
![1](https://cloud.githubusercontent.com/assets/12825770/11834843/f570dac4-a40a-11e5-8399-3091155f89e9.GIF)
![2](https://cloud.githubusercontent.com/assets/12825770/11834847/f57dce96-a40a-11e5-90ff-9c8f33ea05c6.png)
![3](https://cloud.githubusercontent.com/assets/12825770/11834844/f573eb1a-a40a-11e5-9be8-d3028064f7b6.png)
![4](https://cloud.githubusercontent.com/assets/12825770/11834845/f5768dfc-a

[2015-12-16 07:54] dstorey opened #1365 "[css] cssParser incomplete for at-rules"
Few of issues I’ve seen in the parser for at-rules:
- @supports flagged as unknown at-rule. https://drafts.csswg.org/css-conditional-3/#at-supports . This is supported by all browsers now.
- @-ms-keyframes isn't flagged. This never existed. It is added [here](https://github.com/Microsoft/vscode/blob/master/src/vs/languages/css/common/parser/cssParser.ts#L480) . There is a note below saying it [doe

[2015-12-16 07:55] Clivar commented on #1032
I have the same isue. I dont explicitly open the file but I have a task that modifies it for me. However even if that task is killed I still have to close Visual studio code to unlock the file.

[2015-12-16 08:07] egamma commented on #1064
Since we do not really support sass, fixed by remapping the sass mode to the scss extension for emmet.

@aeschli renaming the sass mode to scss?

[2015-12-16 08:09] #1064 closed

[2015-12-16 08:12] BleyChen commented on #1319
I just want to know the whole process of show suggestion Intellisense in vscode, such as when you write js in vscode ,it will popup completionlist for you, I want to know the whole process of this, anyone can tell me how to run the vscode source code and debug for this feature?

[2015-12-16 08:18] kareljan commented on #1064
Can I fix this myself somewhere in the current release, or do I have to wait for the following release?

[2015-12-16 08:19] #1277 closed

[2015-12-16 08:19] #1278 closed

[2015-12-16 08:19] flyingcodes commented on #953
@weinand thanks, i had reported to node.js project. [https://github.com/nodejs/node/issues/4307](https://github.com/nodejs/node/issues/4307)

[2015-12-16 08:21] egamma commented on #1319
Please refer to the debugging section in https://github.com/Microsoft/vscode/wiki/How-to-Contribute#development-workflow. The suggest supports runs in the` renderer` process so you use the Chrome Dev tools to debug this code.

@chrisdias fyi, should we improve this section of the doc?

[2015-12-16 08:21] #1319 closed

[2015-12-16 08:23] egamma commented on #1064
The next update will be able by the end of this week.

You can build from master and run the latest code. Refer to https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2015-12-16 08:25] BleyChen commented on #1319
@egamma , I agree with you to provide more detail about debug steps, maybe you can put an sample for us or provide an video to tell us how to debug it ,thank you!

[2015-12-16 08:26] dbaeumer commented on #1352
@bpasero

[2015-12-16 08:28] dbaeumer commented on #1350
@bpasero is this something to consider for the December Update

[2015-12-16 08:31] dbaeumer commented on #1348
@alexandrudima assigning to you because of the short cut request.

[2015-12-16 08:33] dbaeumer commented on #1347
This works for me  as well in both cmd and powershell.

[2015-12-16 08:34] bpasero commented on #1352
You can always show the welcome page from the help menu.

[2015-12-16 08:38] bpasero commented on #1350
You can always find your dirty files in the working files section. You are not loosing data.

[2015-12-16 08:40] BleyChen opened #1366 "Error: cannot connect to runtime process (timeout after 5000ms) when debug vscode"
When I want to press f5 to start debug vscode source using chrome develop tool,it throws the following error:
![mmmddd](https://cloud.githubusercontent.com/assets/15098626/11836143/a694dc44-a413-11e5-9398-4695f0652c65.png)

Anyone know what's the problem?

[2015-12-16 08:46] dbaeumer commented on #1312
@nevir thanks for the repository. I was able to reproduce the problem.

[2015-12-16 08:47] stkb commented on #1348
I should add though, thanks to the new persisted ```window.zoomLevel``` setting, it's now more a set-and-forget thing for me. So as long as that stays, I wouldn't mind if the existing ```ctrl+-/=``` shortcuts were remapped to just change the editor text size instead.

[2015-12-16 08:50] joaomoreno commented on #1359
This needs to be fixed in [atom/electron](https://github.com/atom/electron), which *apparently* needs to ship a FreeBSD release.

Related to joaomoreno/gulp-atom-electron#27

[2015-12-16 08:51] aeschli commented on #1341
You are right, comments are not part of regular JSON, but for several of our configuration files (settings.json, launch.json...) we use a variant of JSON that has comments. Other tools do the same.
Our tokenizer is friendly and renders these comments nicely. We'd like to keep it friendly.

[2015-12-16 08:51] #1341 closed

[2015-12-16 08:52] joaomoreno commented on #1359
Oh, wait. He just wants to build Code in FreeBSD. We should check whether that works...

[2015-12-16 08:52] aeschli commented on #1339
duplicate of #133

[2015-12-16 08:52] #1339 closed

[2015-12-16 08:54] h0rdak opened #1368 "Intellisense CPU usage high"
Whenever I use intellisense in my C# projects, the CPU usage spikes and makes my fans go crazy and my laptop unbearably hot to the point it's completely unusable.

This is with vs code 0.10.3 on OSX 10.10.5, on a macbook pro.

![screenshot 2015-12-16 09 46 20](https://cloud.githubusercontent.com/assets/7004085/11836275/e1181bcc-a3d9-11e5-81f0-89ce53df1292.png)

Activity monitor points to vs code -

[2015-12-16 08:56] aeschli commented on #1270
fix delivered, I removed the yellow and turquise. The goal is to stay as close as possible to the original Visual Studio light and dark themes. For users that like more colors we have custom themes even from extensions.

[2015-12-16 09:00] weinand commented on #1356
@felixfbecker a first cut of the npm modules is available as vscode-debugprotocol and vscode-debugadapter. The corresponding github repo will be made pulic soon.

[2015-12-16 09:00] aeschli commented on #1064
SASS is the name of the language. .sass and .scss are the two syntaxes. See http://sass-lang.com/documentation/file.SASS_REFERENCE.html#syntax

[2015-12-16 09:03] alexandrudima opened #1369 "Do not give Electron accelerators that change with keyboard layout under Mac/Linux"
The reason is the menu where they fail to render them correctly + on the mac they dispatch incorrectly

[2015-12-16 09:04] alexandrudima opened #1370 "Accelerators in menu do not update btw restarts"
* remove a keybinding (e.g. zoom in)
* quit and start vscode
* observe: the menu accelerator is still there

[2015-12-16 09:10] joaomoreno commented on #1332
Alright, thanks for the extra info!

[2015-12-16 09:11] joaomoreno commented on #1320
Duplicate of #69.

Fix will be available at the end of December.

[2015-12-16 09:18] felixfbecker commented on #1356
@weinand   a little weird having an npm module just for the protocol .d.ts. Maybe this should rather be put to DefiniatelyTyped? And is a yeoman generator planned?

[2015-12-16 09:24] joaomoreno commented on #1343
I don't see how this exception can happen.

Can you still effectively reproduce? If so, let me know how so I catch it.

[2015-12-16 09:44] joaomoreno commented on #627
Instead of this fix, I suggest you remove that and increase the `right-margin` of the `div.stack-frame` to `1.2em`.

Marking this as verified though.

[2015-12-16 09:49] dbaeumer commented on #1366
@isidorn not sure if this is actually a bug. If the timeout is expected we should not have an error in the console.

[2015-12-16 09:50] dbaeumer commented on #1342
For Dec I added a TypeScript: Reload Projects command which is available via F1. The TS team is still looking into fixing this in the tsserver we use.

[2015-12-16 09:51] aeschli commented on #1349
duplicate of #20

[2015-12-16 09:51] #1349 closed

[2015-12-16 09:52] karlti commented on #312
With version 0.10.4 the issue is partially solved.

That is, "Test Case 2" is solved.
Thanks for that!

"Test Case 1" is  still open, in that searching for '\n' does not work.
Searching for '\t' works.

Furthermore '\r' is not recognized.
'\n' apparentely is the RexEx for CRLF....

[2015-12-16 09:56] dstorey commented on #1365
For @document, it has been postponed to Conditional Rules L4, which doesn't exist yet, so that one can probably stay as it is.

[2015-12-16 09:56] aeschli commented on #1282
fixed

[2015-12-16 09:56] #1282 closed

[2015-12-16 09:58] bpasero commented on #1326
@isidorn I am not seeing the action to uninstall anymore when I have an extension duplicated in my extension folder.

[2015-12-16 10:04] egamma commented on #1000
We will not update to a new electron build for the December update. Therefore I'm moving the milestone to January.

The work around for how to disable telemetry is document here: https://code.visualstudio.com/Docs/supporting/FAQ#_how-to-disable-telemetry-reporting

[2015-12-16 10:04] jrieken commented on #1368
This issue was moved to OmniSharp/omnisharp-roslyn#367

[2015-12-16 10:04] #1368 closed

[2015-12-16 10:05] aeschli commented on #1272
fix delivered

[2015-12-16 10:05] #1272 closed

[2015-12-16 10:08] bpasero opened #1371 "Keybinding widget: Opening up empty shows last key used as label"

[2015-12-16 10:09] weinand commented on #1356
@felixfbecker as I said, this is a first cut. We might want to add more to the vscode-debugprotocol module.

We don't want to use DefinitelyTyped for this because we need the strong version support of npm.

Yes, a yeoman generator for an empty debugadapter is planned but first we had to refactor the code because we don't want to have the generator generate lots of duplicated code (and I'm a bit re

[2015-12-16 10:09] jrieken commented on #1353
I believe that's the issue @bpasero fixed for Dec15

[2015-12-16 10:10] bpasero opened #1372 "Keybinding widget: treat "unknown" special?"
When I type a key that results in "unknown" I suggest to show a warning message in the widget and let it not dismiss on Enter. currently you get 2 times unknown in the widget (one in the input field and one for the label).

[2015-12-16 10:11] bpasero commented on #1353
Yeah quite sure, otherwise reopen.

[2015-12-16 10:11] #1353 closed

[2015-12-16 10:19] isidorn commented on #1343
No I can not repro. It just happened out of nowhere

[2015-12-16 10:22] #1343 closed

[2015-12-16 10:22] alexandrudima commented on #1358
See Microsoft/node-native-keymap#1

[2015-12-16 10:22] joaomoreno commented on #1343
Let's see if it comes up in error telemetry.

[2015-12-16 10:23] isidorn commented on #1366
@dbaeumer message service is automatically loging all .show(error) also to console I believe
@BleyChen what is your chosen launch config? What are you trying to debug?

[2015-12-16 10:27] egamma commented on #1352
@bpasero the idea is to 'force' that the user sees the welcome page.

@wadeanderson7 In the update info message we currently have 'release notes' and 'restart' button. What would go into the release notes and what would be shown in the welcome page? Is the idea to run the welcome page into a realease notes page? Would it make sense to show the new information you would show in the welcome page in

[2015-12-16 10:27] weinand commented on #1047
@Wenzil I've verified that this works in the latest (December 2015) drop:
![2015-12-16 11-25-38](https://cloud.githubusercontent.com/assets/1898161/11838510/dd8f2ae6-a3e7-11e5-8e37-a59d3d7bcf8f.png)

[2015-12-16 10:27] #1047 closed

[2015-12-16 10:29] aeschli commented on #1283
fixed

[2015-12-16 10:29] #1283 closed

[2015-12-16 10:32] #1219 closed

[2015-12-16 10:33] aeschli commented on #1219
duplicate of #1220

[2015-12-16 10:33] #1358 closed

[2015-12-16 10:39] #1326 closed

[2015-12-16 10:40] isidorn commented on #1362
Thanks - nice catch!

[2015-12-16 10:43] weinand commented on #1364
@flyingcodes I can reproduce this, great find!

[2015-12-16 10:45] egamma commented on #1180
@isidorn?

[2015-12-16 10:45] weinand commented on #1364
This issue was moved to Microsoft/vscode-node-debug#24

[2015-12-16 10:45] #1364 closed

[2015-12-16 10:46] isidorn opened #1373 "Jade colors strings in light blue in light theme"
They should be red like for all other languages

![screen shot 2015-12-16 at 11 45 52](https://cloud.githubusercontent.com/assets/1926584/11838961/a0f282ce-a3ea-11e5-8681-e1c4da859195.png)

[2015-12-16 10:48] aeschli commented on #1221
fixed

[2015-12-16 10:48] #1221 closed

[2015-12-16 10:49] #1310 closed

[2015-12-16 10:51] massimocode opened #1374 "Why do we have to specify ES5/ES6 target?"
This isn't strictly an issue, but a colleague of mine said he didn't understand why it was necessary to specify an ES target.

He said he started using arrow functions and let statements and the editor underlined them in red stating that if he wants to use ES6 then he should set the target in his jsconfig file to ES6. He said if the editor was smart enough to give a descriptive error message, then

[2015-12-16 10:52] #1312 closed

[2015-12-16 10:52] isidorn commented on #1180
This is a current limitation that we only support substitituion for a limited number of properties. Currently, those are `program` and `runtime`. The issue is that your are using the chrome debugger which uses the non standard `file` instead of the `program` attribute
We can also do the substituion for the `file` propertie but it is a bit hacky since we would need a nice mechanism for a debug adap

[2015-12-16 10:53] alexandrudima commented on #1370
Steps:
* open vscode (dev mode will do)
* edit keybindings.json
[code]
* this effectively removes the keybinding for `"workbench.action.zoomIn"`
* close vscode
* open it again
* observe, menu still shows a keybinding for zoom in:
![image](https://cloud.githubusercontent.com/assets/5047891/11839101/8eaf21c0-a3eb-11e5-9b1f-6b690dabb19a.png)

This is especially bad on mac where the menu does the firs

[2015-12-16 10:54] stevencl opened #1375 "Add to watch adds an invalid expression"
I have an array of objects, each of which object exposes two fields. I inspect the array in the debugger, expand one of the items in the array, then right click on one of the fields and 'Add to Watch'. E.g., I click on myArray[1].firstField then choose add to watch. I expect to see myArray[1].firstField added as a watch expression but instead I get myArray.[1].firstField  (a dot is added between m

[2015-12-16 10:56] dbaeumer commented on #703
@jrieken can you please add steps for verification

[2015-12-16 10:58] aeschli commented on #1373
That's consistent on how HTML and XML render attribute values.
This is how it was in 0.9 and also how VS does it.
![image](https://cloud.githubusercontent.com/assets/6461412/11839151/e34b2e72-a3eb-11e5-9960-35fa76023f96.png)

![image](https://cloud.githubusercontent.com/assets/6461412/11839162/f11e16fe-a3eb-11e5-92a0-bcbf80a1d826.png)

![image](https://cloud.githubusercontent.com/assets/6461412/11

[2015-12-16 10:58] #1373 closed

[2015-12-16 10:58] isidorn opened #1376 "Changing casing of file name shows the file as unsaved even though autoSave: on"
* auto save: on
* change the casing of file, e.g debugService.ts -> DebugService.ts
* notice that the file appears in working files as unsaved
* I would expect the file is saved as I have auto save on

Even weirder if I do this for one more file now I still have only one unsaved file and that is the newest changed file.

[2015-12-16 11:00] bpasero commented on #1370
Hm bad... will check

[2015-12-16 11:04] isidorn commented on #1376
Nah -> my bad I had a weird setup

[2015-12-16 11:05] #1376 closed

[2015-12-16 11:08] weinand commented on #1180
@isidorn we should no longer distinguish between standard and non-standard attributes. All attributes are the same and are defined via a contributed schema. We should use the same variable substitution rules as task.json (which I hope are: var substitution works in all string attributes).

[2015-12-16 11:09] isidorn commented on #1175
So now I see "a" and "b" in red since they are keys, and "c" in blue since it is a value. I think this is expected.

[2015-12-16 11:10] aeschli commented on #1276
I checked what VS does and you are right, we are inconsistent here.
Fix delivered

[2015-12-16 11:10] #1276 closed

[2015-12-16 11:12] #1345 closed

[2015-12-16 11:13] isidorn commented on #1180
Yup substituting all strings makes sense to me, will do it after endgame so expect a fix in our January update.

[2015-12-16 11:17] alexandrudima commented on #1261
Steps to repro:
* new window (ctrl+shift+n)
* open keyboard preferences

[2015-12-16 11:17] isidorn opened #1377 "quickPick ranking gives priority to class name then to file"
What is the reasoning for the following ranking?
My preference would be to first get the file, though that is just my preference.
Also the second results fits the casing better.

![screen shot 2015-12-16 at 12 14 53](https://cloud.githubusercontent.com/assets/1926584/11839519/cfa974b6-a3ee-11e5-8964-70ffb99a7cc9.png)

[2015-12-16 11:20] jrieken commented on #703
@dbaeumer https://github.com/Microsoft/vscode/issues/703#issuecomment-162473700

[2015-12-16 11:21] #1261 closed

[2015-12-16 11:24] sqeezy commented on #206
This should be a basic feature for an "out of the box" experience.

[2015-12-16 11:26] isidorn commented on #1270
But turquise we still use in light theme. Maybe bring back turquise, since now interface names are colored in dark theme but not in light -> inconsistent

[2015-12-16 11:28] isidorn commented on #696
@joaomoreno I guess these are fine?

![screen shot 2015-12-16 at 12 28 19](https://cloud.githubusercontent.com/assets/1926584/11839745/86db636e-a3f0-11e5-97ec-5dc638e4d921.png)

[2015-12-16 11:29] isidorn commented on #696
Oopsy ofc they are fine you added a .done

[2015-12-16 11:39] weinand commented on #688
This issue was moved to Microsoft/vscode-node-debug#25

[2015-12-16 11:39] #688 closed

[2015-12-16 11:41] weinand commented on #1356
This issue was moved to Microsoft/vscode-mock-debug#2

[2015-12-16 11:41] #1356 closed

[2015-12-16 11:43] weinand commented on #1149
This issue was moved to Microsoft/vscode-node-debug#26

[2015-12-16 11:43] #1149 closed

[2015-12-16 11:50] jrieken commented on #1310
verified I am seeing: https://github.com/Microsoft/node-native-keymap

[2015-12-16 11:54] jrieken commented on #1350
@bpasero How can I verify this? Is that with parent folders outside of the VS Code scope?

[2015-12-16 11:59] alexandrudima commented on #1369
Steps:
* switch to different keyboard layout (e.g. German-Swiss)
* close and reopen code
* top level menu & context menu should either render what you need to actually press or nothing at all

Note: under windows Electron does the right thing and only mac & linux are really impacted

[2015-12-16 11:59] #1369 closed

[2015-12-16 12:01] alexandrudima commented on #1371
Nice catch!

[2015-12-16 12:01] #1371 closed

[2015-12-16 12:02] bpasero commented on #1350
Make a file dirty and rename its parent from the explorer inside VS Code. I have actually not checked with a folder outside the workspace, but that should not make a difference.

[2015-12-16 12:04] aeschli commented on #1270
I removed turquise from the light theme as well. We are now consistent to what we had in 0.9.0.

[2015-12-16 12:04] #1270 closed

[2015-12-16 12:12] louy commented on #1342
Awesome. Thanks!

[2015-12-16 12:14] louy commented on #1374
I believe it's for the same reason we use `lint` programs. To make sure no one breaks anything.
This is super helpful in case you are working on multiple projects with different targets. It's like a safety check to make sure that you (or anyone else) won't break anything by accident.

[2015-12-16 13:01] jrieken commented on #1350
Ok, understood. Tho I believe this bug is valid, cos it's hardly ever wanted behaviour:

* have a dirty
* rename parent folder
* the changes aren't moved onto the new model but sit on the old
* saving the old file restores the old folder.

We should either not allow to rename or just know what happens and make the changes on the 'new' file.

[2015-12-16 13:04] bpasero commented on #1350
:+1: , also think we can be smarter about the parent chain and update it, but it is not data loss.

[2015-12-16 13:07] rui-infotrack opened #1378 "React is poorly supported (especially .js file)"
Created a test.js and wrote very simple React code. This is what I got:
<img width="494" alt="capture" src="https://cloud.githubusercontent.com/assets/12144265/11841504/e0ff8cce-a451-11e5-824e-ffb924872110.PNG">

To be honest, currently VS Code has very bad support of React syntax and it's basically useless. This issue has been there for quite some time... just wondering: is it going to be fixed?

[2015-12-16 13:08] jrieken commented on #1264
It never stops for me on the last line, neither as described, nor with stop on entry, nor with setting the entry to app2_.ts_ instead of app2_.js_.

[2015-12-16 13:08] dbaeumer commented on #1374
@jrieken we changed this for December. Right?

[2015-12-16 13:10] dbaeumer commented on #1378
@jrieken

[2015-12-16 13:17] isidorn commented on #1375
Nice catch will fix for January

[2015-12-16 13:19] rui-ktei opened #1379 "Read first line of file and use as filename when saving"
If you open a new tab in VS Code and type, say, `test.js`, then you press CTRL + S and dialog pops up:
<img width="735" alt="capture" src="https://cloud.githubusercontent.com/assets/12144265/11841720/4c76fffe-a453-11e5-8c07-a80fcb48a8d5.PNG">

Notice that it's not aware of the `test.js` we just typed. In sublime, if you do this, it will be smart enough to pick up *.js as file type and use `test` a

[2015-12-16 13:22] bpasero commented on #1377
Should revisit the scoring algorithm for this case, maybe upper case bonus should not be given to beginning of word or segments.

[2015-12-16 13:24] jrieken commented on #1342
When TS isn't launched yet, you get this error

![screen shot 2015-12-16 at 14 23 23](https://cloud.githubusercontent.com/assets/1794099/11841929/a857888c-a400-11e5-80bc-97ba26f2c9b9.png)

[2015-12-16 13:24] narf commented on #777
I'm not sure if it's related but I wrote a plugin and everything is fine except that when the user is idle from vscode for some time (10-30minutes maybe) there is a message in the console "provideSignatureHelp" and then the plugin do not respond.

In "do not respond" I mean that you can't click on the status bar (well, you can but nothing happens) and all setInterval launched by the plugin have st

[2015-12-16 13:27] louy commented on #1374
@dbaeumer  I don't think this is about why "es6" isn't the default target, if that's what you mean. It's more about why doesn't vscode predicts which version of js is being used automatically.

[2015-12-16 13:27] #1263 closed

[2015-12-16 13:29] louy commented on #1374
@massimocode furthermore, it's not possible to find out which version is being used just by analysing a file. All ES5 code is valid ES6, but not vice versa, so an ES6 file might be incorrectly flagged as an ES5 one if it doesn't use any features of ES6.

[2015-12-16 13:30] narf commented on #777
I'm wondering if it's because I don't dispose correctly of my all commands... Still looking for the problem.

[2015-12-16 13:32] louy commented on #1378
You're probably missing Props & State interface types.

    interface Props { /*...*/ }
    interface State { /*...*/ }
    class MyComponent extends React.Component<Props, State> {
      // ...
    }

[2015-12-16 13:38] alexandrudima commented on #1259
@bpasero I get `numpad_decimal` when pressing the numpad `.` (`Del`) key under Lubuntu based on Ubuntu 15.10 and under Ubuntu 14.04.3 LTS.

Can you please try `lsb_release -a` and add the version you have.

[2015-12-16 13:40] Johnaka commented on #780
i think i know what causes that issue, it is internet. because i have the same thing happening when i download an app with my chrome browser, when internet bumps it gives me an error, and i start over.

[2015-12-16 13:43] alexandrudima opened #1380 "PHP should not offer 24x7 intellisense after <?php"
* create new .php file
* type `<?php` quickly followed by `Enter`
* observe, I get: `<?php_ini_loaded_file`

[2015-12-16 13:44] weinand commented on #1264
@jrieken I could repro the problem on node >= 0.12.9 and my fix works on all versions <= 5.1.1 but 5.2.0 breaks it.

[2015-12-16 13:44] Johnaka commented on #780
also 'ext install' is not working

[2015-12-16 14:00] bgse opened #1381 "Feat.Req.: API: showInputBox() user input validation and feedback"
It would be nice if we could validate user input before they dismiss with "ok", i.e. show the user they write something we won't accept before they dismiss the inputbox.

This could be a red outline around the inputbox if value doesnt pass validation, ideally would have a message shown underneath telling them what we expect.

A regex and (optional?) default message could work for many cases, ideal

[2015-12-16 14:01] bpasero commented on #1259
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 15.04
Release:	15.04
Codename:	vivid

Maybe this is a parallels issue?

[2015-12-16 14:02] jrieken commented on #1378
duplicate of #140

[2015-12-16 14:02] #1378 closed

[2015-12-16 14:04] jrieken commented on #1374
yes, the new default is ES6. if your target platform doesn't support ES6 (think of old browser etc) set the option to be notified when you stuff that isn't supported.

[2015-12-16 14:04] #1374 closed

[2015-12-16 14:07] isidorn commented on #1263
Verified via code.bat that now ctrl + I selects selects one visual line of the whole wrapped line - which is what I would expect.

[2015-12-16 14:12] aeschli opened #1382 "Spourious test failures in ExtHostLanguageFeatureCommands"
Both
https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build#favDefinitionId=37&_a=summary&buildId=19168
and
https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build#favDefinitionId=37&_a=summary&buildId=19193

fail with
 6 failing
1) ExtHostLanguageFeatureCommands WorkspaceSymbols, ⇔ back and forth:
Error: timeout of 2000ms exceeded. Ensure the done() callback is being ca

[2015-12-16 14:24] dbaeumer commented on #1379
@bpasero fyi.

[2015-12-16 14:34] bpasero commented on #1379
I think sublime will just name your untitled file whatever you put into the first line of the file. Not sure I like that in all cases.

[2015-12-16 14:35] #1259 closed

[2015-12-16 14:35] dbaeumer opened #1383 "Reload Project fails if TS extension is not loaded yet."

[2015-12-16 14:35] dbaeumer commented on #1342
Created #1383

[2015-12-16 14:36] dbaeumer commented on #1342
Closing.

[2015-12-16 14:36] #1342 closed

[2015-12-16 14:37] #1383 closed

[2015-12-16 14:44] dbaeumer commented on #1239
Couldn't reproduce either.

[2015-12-16 14:46] alexandrudima commented on #312
@karlti thank you for verifying :+1:. Let's track searching for `\r` and `\n` in #313

[2015-12-16 14:49] dbaeumer commented on #1008
@joaomoreno I tested this several times and it takes around 8 seconds to show the list. Progress is shown as well.

Since the issue doesn't state what the expected timing is I will leave it up to you to decide whether there is a regression here or not.

[2015-12-16 14:51] alexandrudima commented on #1200
my Lenovo's w530 trackpad scrolls horizontally instead of moving cursor.

@aroemen What happens if you open a webpage with a native textarea with a horizontal scrollbar in Chrome and use the horizontal scroll gesture? I've made such an example at https://jsfiddle.net/n5ego3fs/

Does Chrome move the cursor too or just scrolls? What do other browsers do?

[2015-12-16 14:52] #1370 closed

[2015-12-16 14:56] alexandrudima commented on #1358
To verify:
* switch to German (Swiss)
* reload window
* press F1, search for `Split Editor`
* check that it is rendered as `Ctrl+ä` and not `Ctrl+´ä`

[2015-12-16 14:56] alexandrudima commented on #1322
copy line up suffered from the same bug, please verify that too

[2015-12-16 14:58] jrieken commented on #232
It seems like I don't get any link anymore...

That's my app

[code]

![screen shot 2015-12-16 at 15 57 38](https://cloud.githubusercontent.com/assets/1794099/11844212/d4b82294-a40d-11e5-9ba9-3f90fe8fa7df.png)

[2015-12-16 15:07] dbaeumer commented on #789
@aeschli can you please provide steps to verify.

[2015-12-16 15:08] jrieken commented on #723
@bpasero If I change the unit test to check that the doc isn't dirty after save it still fails. Am I missing something?

[2015-12-16 15:08] alexandrudima commented on #1151
@bpasero Opening a folder from the command line doesn't work for me.

![image](https://cloud.githubusercontent.com/assets/5047891/11844468/4245c004-a40f-11e5-8089-b4a4c9f53bbc.png)

When I run that I get a new window without any folder opened.

[2015-12-16 15:09] jrieken commented on #723
![screen shot 2015-12-16 at 16 09 02](https://cloud.githubusercontent.com/assets/1794099/11844487/57371f58-a40f-11e5-9dac-e61e6f574cc0.png)

[2015-12-16 15:19] weinand commented on #1264
@jrieken Since this fix is good for node <= 5.1.1 I do not want to revert it. Instead I created a new bug for addressing the issue with node 5.2.

[2015-12-16 15:19] #1264 closed

[2015-12-16 15:22] weinand opened #1384 "breakpoint not hit in node 5.2"
@jrieken this bug targets the problem #1264 for node 5.2

[2015-12-16 15:25] aeschli opened #1385 "Cannot read property 'trigger' of null: TypeError"
While opening many editors in a row I get the following error in the console.
The underlying file are under git source control.

Cannot read property 'trigger' of null: TypeError: Cannot read property 'trigger' of null
    at e.triggerDiff (file:////home/martinae/VSCode-linux-x64/resources/app/out/vs/workbench/workbench.main.js:85:22893)
    at file:////home/martinae/VSCode-linux-x64/resources/app

[2015-12-16 15:38] jrieken commented on #439
@joaomoreno Dude still ~2sec for me

[2015-12-16 15:39] jrieken commented on #439
[Untitled.mov.zip](https://github.com/Microsoft/vscode/files/64180/Untitled.mov.zip)

[2015-12-16 15:40] SamVerschueren opened #1386 "[0.10.4] editor.insertSpaces "auto" not being detected"
I have my setting set to `auto` which worked in `0.10.3`. After I upgraded to the insider release, it's not being detected automatically, it always inserts spaces.

[2015-12-16 15:43] alexandrudima commented on #1151
I was reusing a command prompt where I ran code.bat out of development. When using a fresh command prompt I could open folders and verify the issue is fixed

[2015-12-16 15:43] #1151 closed

[2015-12-16 15:45] joaomoreno commented on #439
Yep. Better than 10 seconds, which was the before time. Also, from the office it always takes longer, don't really know why.

[2015-12-16 15:53] alexandrudima commented on #946
works for me.
I did the following:
* new untitled file
* typed in it
* Ctrl+S and typed README
* the file got saved

[2015-12-16 15:56] joaomoreno commented on #1008
:+1:

[2015-12-16 15:57] alexandrudima commented on #790
For verification:
* use Hack font on mac
* save file from comment as Makefile
* verify the file is not all red
* verify that selecting a bold region gets rendered correctly

[2015-12-16 16:01] bpasero commented on #723
@jrieken so from the UI I see that things look ok to me, there is no untitled file left around after the save completes. However the underlying text document is different from the untitled document to the saved document, they have different URIs so they end up to be different models in the model service.

When an untitled file gets saved, I emit the `UNTITLED_FILE_DELETED` and dispose the untitled

[2015-12-16 16:02] alexandrudima commented on #567
this was in the test plan

[2015-12-16 16:03] egamma commented on #439
Just  did it from home and it took between 1-2 seconds.

[2015-12-16 16:04] aeschli commented on #909
Marking as verified based on the comment from @alexdresko.
@dbaeumer If you want me to verify this as well then I need steps.

[2015-12-16 16:05] #1385 closed

[2015-12-16 16:05] alexandrudima commented on #183
For verification:
[code]
position cursor in every possible position around brackets. Use jump to bracket, it should not get stuck or start jumping to other bracket pair.

[2015-12-16 16:07] alexandrudima commented on #94
@isidorn This is the long line with multi byte characters case that you also hit some time ago

[2015-12-16 16:09] sijad commented on #439
can it be a server side problem?

[2015-12-16 16:21] shanalikhan1 opened #1387 "How to install extensions in visual studio code either from command or extension api"
Hi
How to install visual studio code extension from command prompt if i have ID or complete accurate name or any other identifier. or how i can install extension from vscode API.

[2015-12-16 16:25] shanalikhan opened #1388 "how to set the current folder for visual studio code from vscode API"
Hi ,
how to set the current folder for workspace in visual studio code from vscode API

[2015-12-16 16:30] sijad commented on #439
this took around 13 sec for me:
[code]

[2015-12-16 16:34] #1111 closed

[2015-12-16 16:36] joaomoreno commented on #439
`.04s user 0.01s system 2% cpu 1.899 total` here

Depends very much on the moment, time of day, location, etc.