[2018-03-27 13:58] alexandrudima commented on #46575
@andy-ms Have you experienced this in the past too or is it a recent font rendering regression?

It might be caused by Electron 1.7.12 ... https://github.com/Microsoft/vscode/issues/35675#issuecomment-373614960

[2018-03-27 13:58] #46589 closed

[2018-03-27 13:59] Tyriar opened #46702 "editor.mouseWheelScrollSensitivity set as 0 will disable scrolling completely"
https://github.com/Microsoft/vscode/issues/46578

We should probably only allow values > 0

Related: https://github.com/Microsoft/vscode-sublime-importer/issues/14

[2018-03-27 13:59] sandy081 commented on #30288
Verify that you can use the new `TreeView.reveal` API without having to run the extension in proposed API mode.

[2018-03-27 13:59] #30288 closed

[2018-03-27 14:00] dbaeumer opened #46703 "API: provide event informing about the registration of a `code smarts` provider"
Currently there is not way to observe the registration of a code smart provider (e.g. code complete, code lens, ...). Providing such information would ease the implementation of remoting these to a different machine.

The information in the event should denote:

- the type of code smart registered
- the document filter
- registration options (for example the tirggerCharacters for `registerCompleti

[2018-03-27 14:02] alexandrudima commented on #46559
@Fenzland I'm sorry I don't understand what your problem is. Can you please follow the issue reporting guidelines and provide clear steps, accompanied by information about your OS and VS Code version.

[2018-03-27 14:04] jrieken commented on #46660
No, rename is its separate flow. This is for things like rewriting imports et al

[2018-03-27 14:06] jrieken commented on #44846
The implementation usually does that, e.g the [`SuggestAdapter`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostLanguageFeatures.ts#L603) has a cache for those items. The tricky bit is that the lifecycle which is managed by the UI...

[2018-03-27 14:06] tsalinger opened #46704 "Attach to Node Process not working with PowerShell on Windows 10"
Testing #46582

Windows 10, NodeJS: v8.9.4

1. Create a simple script like:
[code]

2. Launch the script in PowerShell: ```node --inspect=1500 foo.js ```
3.  Use the 'Attach to Node Process' command or use the following launch.json:
[code]

Expected: Picker shows my process
Actual: Picker shows "There are no entries to pick from"

Note that it works with fine with cmd. This is a Powershell specifi

[2018-03-27 14:12] sakasistem commented on #24043
I do map my keyboard with XKB program to use modified dvorak keyboard.

I use ralt_switch option, which used to switch right alt key to function as meta key or extra modifier.
I do enable keyCode setting in VSCode Insider.
Below are my XKB setup sample

![image](https://user-images.githubusercontent.com/34763356/37972218-6b97fffe-320a-11e8-837e-6ece91dccc9e.png)

The `RAlt (aka Meta key) + s` reco

[2018-03-27 14:14] #46642 closed

[2018-03-27 14:17] bpasero commented on #46229
@chrmarti I think the issue here is that on Windows you cannot force another program to the foreground if it is started programmatically. See also https://stackoverflow.com/questions/23715026/allow-background-application-to-set-foreground-window-of-different-process

[2018-03-27 14:18] bpasero commented on #46502
@Jonathandelacruzp does this happen all the time or just once?

[2018-03-27 14:18] aeschli commented on #46460
Talked to @bpasero, the setting is only used when `code` is ran a second (or more) time, when there's already a code window open.

[2018-03-27 14:19] weinand commented on #46685
fixed by https://github.com/Microsoft/vscode-node-debug/commit/a4a2e1c89a4ba5bd654b8c80432294e9be71640e

![2018-03-27_16-19-26](https://user-images.githubusercontent.com/1898161/37973401-ab0de890-31da-11e8-8e02-fdbb18142a8e.png)

[2018-03-27 14:19] #46685 closed

[2018-03-27 14:20] bpasero commented on #46575
@andy-ms do you see this also in our new builds that leverage Electron 2.0.x? [Download Link.](https://az764295.vo.msecnd.net/exploration/cf078a8a932cd399f9e475b5ad4226bbc93543ab/code-exploration-1.22.0-1522130024_amd64.tar.gz)

[2018-03-27 14:20] isidorn opened #46705 "Related information should be epanded by default"
Refs: #46564

1. Clone my related diagnostic extensoin from https://github.com/isidorn/diagnostics
2. Run the hello world command to activate the extension and open some editors
3. Notice the related diagnostic are not expanded by default

I recommend to expand them by default since this is a new feature and the only way a user can find out about it is a tiny expando icon. I would make them more p

[2018-03-27 14:21] weinand commented on #46695
duplicate of #46685

[2018-03-27 14:22] #46695 closed

[2018-03-27 14:22] alexandrudima commented on #45479
We can do solid border styles for anything except high contrast. In the high contrast theme, the same color is used for all of these decorations and the only distinguishable trait is the border style.

[2018-03-27 14:24] nojvek commented on #243
@dbaeumer do tasks in terminal support `problemMatcher` and `isBackground ` ?

[2018-03-27 14:25] dbaeumer commented on #45663
@ramya-rao-a  @sandy081 can you please read and comment.

[2018-03-27 14:26] acdha opened #46706 "Allow to "force overwrite" from the notification about dirty write prevention"
Issue Type: <b>Usability Improvement</b>

Currently the notification for a file which has local modifications on disk forces you to open the compare dialog and reconcile changes there before being allowed to save the contents. While in some cases using the comparison view has value there should be the option to simply overwrite the file directly.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4

[2018-03-27 14:27] DanTup commented on #46660
@jrieken Ok, at the moment I wouldn't be able to use this, as I can't tell the difference. My language server exposes rename functionality that handles things like `class` but I can't (reliably, without hacks) tell when that's the case (or send a request to find out whether it would be valid to show an "add alias for import"/whatever fix).

[2018-03-27 14:27] joaomoreno commented on #45183
I can't understand why this happens. Waiting for next version's stack trace.

[2018-03-27 14:27] #45183 closed

[2018-03-27 14:27] isidorn opened #46707 "Copy and copy message have no effect on related diagnostics"
Refs: #46564

1. Clone my related diagnostic extensoin from https://github.com/isidorn/diagnostics
2. Run the hello world command to activate the extension and open some editors
3. Try the Copy or the Copy Message context menu actions on related diagnostics -> they have no effect

I would expect these messages to behave simlar to when they are executed on the main diagnostic, just scoped to the re

[2018-03-27 14:28] aeschli opened #46708 "[folding] blocked while language server is starting up"
from  https://github.com/Microsoft/vscode/issues/44524#issuecomment-376479712\

the collapse button now doed nothing until the language server is up. Not a very pleasant experience.

[2018-03-27 14:28] jrieken commented on #46564
The same as with `source` and `code`. The decision was that optional or rarely used fields aren't in the ctor.

[2018-03-27 14:29] chrmarti opened #46709 "Tasks: Single/double quotes not quoted/escaped"
1.22 insiders on Linux. Testing #46567.

Default quoting does not quote/escape when using a single or double quote in an argument or the command name.

[2018-03-27 14:30] weinand commented on #46672
basically the same issue as #46672

[2018-03-27 14:31] isidorn opened #46710 "Diagnostic could show a number of related diagnostics"
Refs: #46564

1. Clone my related diagnostic extension from https://github.com/isidorn/diagnostics
2. Run the hello world command to activate the extension and open some editors
3. Notice that the Problems panels show how many errors there are, then each file shows how many errors it has. To follow this logic I would expect that every diagnostics shows how many related diagnotics it has (if this n

[2018-03-27 14:31] steinrl opened #46711 "[Loc] Request to add Norwegian (no-nb) language to Transifex VS Code project"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-27 14:33] dbaeumer commented on #243
Yes, they do.

[2018-03-27 14:34] nehashri commented on #7340
@jrieken Yes, I would like to populate the rename box with the whole string i.e., `Number of words in <word> is <numberOfVowels>.`

[2018-03-27 14:34] weinand commented on #46672
This feature is confined to the integrated terminal. Processes in external terminals are not picked up.

[2018-03-27 14:35] isidorn opened #46712 "Put separtor before toggle search view position"
This is a heavy action and desirves a seprator before it

![screen shot 2018-03-27 at 16 34 37](https://user-images.githubusercontent.com/1926584/37974271-c85ddcb4-31dc-11e8-80e0-113d4f8c6072.png)

[2018-03-27 14:39] isidorn opened #46713 "Related information hover message background should not differ"
Refs: #46564

I like that the relatedInformation message has a nice different verbatim font and that makes it differ well enough, I suggest to not use a different background as imho the effect does not look that nice and we do not do it anywhere else to my knowledge. Also in the F8 we do not use a special background

![screen shot 2018-03-27 at 16 37 43](https://user-images.githubusercontent.com/1

[2018-03-27 14:39] Tyriar opened #46714 "Language-specific file tokenization optimization"
#46603

It seems to work pretty well, only in TypeScript since the class is not parsed it's missing that scope. I wonder if we could check if the start of the chunk of text we're parsing starts with public, private or protected and add the class scope manually in this case. Maybe this is tightly coupling things too much but it's one way we could fix this likely very common TS issue.

![image](http

[2018-03-27 14:41] AlGantori commented on #519
VSCode Version: 1.21.1
    OS Version: Windows 7

I would like see an option for increase the tiny font size used in VSCode menus

Perhaps you expect such a setting be OS-level settable, I feel there is a need for it inside VScode just like there is an editor and terminal font size options there should be the obvious "menu.fontsize" : 14,

I am aware of
"window.zoomLevel": 0.4

But it does not see

[2018-03-27 14:42] isidorn opened #46715 "Hover on related infomation path should show full path"
Refs: #46564

1. Clone my related diagnostic extensoin from https://github.com/isidorn/diagnostics
2. Run the hello world command to activate the extension and open some editors
3. F8 in a file with diagnostics
4. Hover over the path name of the relatedInformation - a full path is not shown

Notice that everywhere else in the UX we show full path on hover (problems panel, hover on error)

I would

[2018-03-27 14:42] LailaAli commented on #33110
Agree, this would be a very handy feature. Are there any updates on this request?

[2018-03-27 14:43] danielgsv1 opened #46716 "Open-source new blockchain"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-27 14:44] #46539 closed

[2018-03-27 14:46] jrieken commented on #46713
Yeah, it's the default rendering we have for markdown. Not sure I have change that without making people sad...

[2018-03-27 14:46] jrieken commented on #46710
unsure...

[2018-03-27 14:47] sandy081 commented on #46526
@DanTup May I know if you contributed the view in `package.json`?

[2018-03-27 14:48] joaomoreno opened #46717 "Progress can go backwards"
[code]

[2018-03-27 14:48] peterschussheim commented on #46033
When is this fix going to land in `insiders`?

[2018-03-27 14:48] AlGantori commented on #519
I would like the option to color certain code **folders** with a **background color**
Point to a folder, R-click change background/highlight color

![image](https://user-images.githubusercontent.com/11699920/37974994-2632b0b6-3193-11e8-9ed4-b6cedc058725.png)

[2018-03-27 14:48] aeschli commented on #44524
@bpasero Thanks, created #46708

[2018-03-27 14:50] glaisne commented on #4873
opening files (or folders) as read-only would be a great addition I would get a lot of use out of.

[2018-03-27 14:53] chrmarti commented on #46709
Same when using a task provider.

[2018-03-27 14:54] weinand commented on #46704
problem is: PowerShell launches programs with a full path whereas command prompt uses a relative path:

PowerShell:
![2018-03-27_16-48-36](https://user-images.githubusercontent.com/1898161/37975330-58421cb2-31df-11e8-962c-2a48388bcee2.png)

Command.exe:
![2018-03-27_16-50-21](https://user-images.githubusercontent.com/1898161/37975365-6f248230-31df-11e8-8b04-df9b931701e7.png)

[2018-03-27 14:54] alexandrudima commented on #45538
@bpasero It looks like cmd+s leads to a call to `IModelService.updateModel`. IMHO the file should not be  **read from disk** when it is saved via cmd+s.

I can reproduce somewhat often with the following steps:
1. Apply the following diff:
![image](https://user-images.githubusercontent.com/5047891/37974987-8fde437c-31de-11e8-921c-20fab044f039.png)

2. user settings:
[code]
3. open a file and type

[2018-03-27 14:54] darkvertex commented on #46193
I confirm that the latest _insiders_ build (`code-insiders-1.22.0-1522148162.el7.x86_64`) works for me on my CentOS7 once again! :tada: :balloon:

Thank you so much for the quick response on this, @joaomoreno. Much appreciated.

[2018-03-27 14:55] imdadahad opened #46718 "search.exclude does not work for searching symbols across a workspace"
- VSCode Version: Code Insiders Version 1.22.0-insider (1.22.0-insider)

Steps to Reproduce:

1. Open a javascript project with a node_modules folder (couple packages installed)
2. Search for a symbol across the project
3. It will show results from the `node_modules` directory even if you have added the following your user/workspace settings:

[code]

[2018-03-27 15:00] AlGantori commented on #519
Regarding font-size, why not support Ctrl-Wheelmouse in each major areas of VSCode and let user set their level of comfort dynamically.
The **Natural way** is to Point with the mouse to the **Menu**, Tabs, Side Tool bar, Panels, Terminal, etc and use the Ctrl-Wheelmouse to set the font-size (zoom-level)
It is wrong to assume all users want necessarily a global zoom-level or font-size.
Thank you.

[2018-03-27 15:05] leandroruel opened #46719 "feature request: Copy Relative Path"
Web have the option "Copy path" on VSCode, but this copy the whole file path, since my C drive, my suggestion is to copy from the project folder path.

**Copy Path gives**:  `C:\MyProjects\MyApp\App\User\Controller\Controller.php`
**Copy relative path gives**:  `App/User/Controller/Controller.php`

this will be useful when we want use javascript plugins and want add it from any local folder of the

[2018-03-27 15:09] Tyriar commented on #46666
I also hit this. I notice that a full search is happening even when you could just filter on the existing results (narrowing the search by adding a char to the start or end).

[2018-03-27 15:09] jrieken commented on #7340
Ok - that should work with the proposal. Your provider would then return the range of the statement and the box would be populated with the text in that range.

[2018-03-27 15:10] bartvanheukelom commented on #45490
I'm experiencing this crash as well, VSCode 1.21.1 on Ubuntu 17.10, but I've found a workaround at https://divideandconquer.se/2017/11/23/workaround-for-crashing-electronatom-applications/

* The workaround is starting VSCode using `GTK2_RC_FILES= code`

[2018-03-27 15:11] roblourens commented on #45487
Any clue what's different about the files in .cache that are correctly excluded vs the ones that aren't? Is it the same set every time?

[2018-03-27 15:12] felipesabino commented on #41247
@neoeinstein Now that we have 3+ contributors, do you know what are the next steps and how to proceed?

Anyway, is there something else I could do to help moving this forward? Well, I am also pinging @danyeh just in case it helps.

[2018-03-27 15:12] #46719 closed

[2018-03-27 15:17] Tyriar commented on #46580
@saarlevin do you mean powershell or posh? Are you on Windows? Could you post a screenshot or better yet a gif/video demonstrating the issue?

[2018-03-27 15:17] weinand commented on #46704
No, the analysis from above is wrong. I'm handling the full path correctly.

The issue is in fact another duplicate of #46672

[2018-03-27 15:17] #46704 closed

[2018-03-27 15:20] joaomoreno commented on #46565
I fixed a few stack errors. Now I see this when I remove the folder:

[code]

Then I see this when I add it back:

[code]

[2018-03-27 15:20] Tyriar commented on #45346
@cleidigh regardless of what is focused the increase/decrease view size commands seem to increase or decrease the horizontal space of the editor for me.

[2018-03-27 15:21] Tyriar commented on #46608
@roblourens is it just the dropdown or whole terminal? You should show me today :slightly_smiling_face:

[2018-03-27 15:22] #45162 closed

[2018-03-27 15:22] #46648 closed

[2018-03-27 15:24] Tyriar commented on #42521
@DonJayamanne I think extensions can just import VS Code's node modules, we don't explicitly make that public API so it could break across versions though.

[2018-03-27 15:27] Tyriar commented on #36913
@franklin-ross in the xterm.js demo you can increase the size of the viewport by setting the cols and rows

[2018-03-27 15:27] #46631 closed

[2018-03-27 15:27] #46650 closed

[2018-03-27 15:28] nehashri commented on #7340
@jrieken Thanks for change, that would help us a lot :)

[2018-03-27 15:31] #46307 closed

[2018-03-27 15:33] RMacfarlane commented on #46627
Thanks for catching, I made a stupid mistake in the validation logic. Checking in a fix and will work on adding better tests.

[2018-03-27 15:34] Arkmind commented on #14909
Time to do something about this Microsoft VS team 👍 😄

[2018-03-27 15:35] #46717 closed

[2018-03-27 15:36] sandy081 commented on #46707
Copy and Copy message actions are meant for main diagnostics only. These being shown was a bug  #46307 and got fixed.

I will introduce it If users want a copy action on the related diagnostics

[2018-03-27 15:37] borekb commented on #45487
I found out what is causing it: the fact that I want to search in a specific folder in our monorepo (the folder is `website` in the screenshots above). If "files to include" is empty, the problem goes away.

Our monorepo has a structure like this:

[code]

My goal is to search inside `website` but still apply the exclude rules in `websites/.gitignore`.

[2018-03-27 15:37] #46627 closed

[2018-03-27 15:37] bpasero commented on #46458
@rebornix you might want to test "out of sources" given the amount of fixes I already pushed that were uncovered by Joao.

[2018-03-27 15:38] #46180 closed

[2018-03-27 15:38] #45806 closed

[2018-03-27 15:39] NeilMacMullen commented on #46337
@dbaeumer   I looked at the 'duplicate ' issue.  The discussion there seems to focus on various (ugly) ways to try and extract the actual path from the build output.    That is not the intent of this suggestion which is that VS-Code should be able to use the same logic it employs for 'Goto File' to resolve relative path names that have been passed by the problem matcher to the Problems tab.

I res

[2018-03-27 15:39] sandy081 commented on #46710
Showing number of problems in each file is helpful whereas for related information I think it does not. I would wait to see how this feature will be implemented by users in different languages and revisit if the number makes sense.

[2018-03-27 15:39] #46710 closed

[2018-03-27 15:40] sandy081 commented on #46688
Works for me

Mac

Yes

I do not think so. I also tried debugging a simple JS file and it didn't work for me

[2018-03-27 15:43] mfulton26 opened #46720 "Cannot jump to required JSON file"
Issue Type: <b>Bug</b>

[code]

try to jump to the file (Ctrl+Click, F12, etc.), it won't work, but it would work if it were a .js file but it is a .json file which NodeJS supports as well as .js (it may support others too, not sure)

Thank you.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

Reproduces witho

[2018-03-27 15:46] tlycken commented on #45218
Not sure if this falls under what's already discussed here, but I'd like to add a use case that prompted me to search for solutions and find this issue:

I'm using the [ShellLauncher](https://marketplace.visualstudio.com/items?itemName=Tyriar.shell-launcher) extension to make it easy to launch PowerShell or WSL Bash terminals according to my needs. When I launch a WSL Bash terminal and split it, I

[2018-03-27 15:47] Tyriar commented on #45569
@bpasero what do you think about watching `process.argv[0]` with `fs.watchFile` on the main process and if there's a change notify all renderers to show a message and disable telemetry?

[2018-03-27 15:48] axetroy commented on #46236
@sandy081

I knew it. but ``contextValue`` is only accept string type. isn't it?

How about support an object?

[2018-03-27 15:55] isidorn commented on #46688
@sandy081 can you please put a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L1001) and let me know if it gets hit?
Or ping me when we can skype call so I debug this on your machine since I can not repro.

[2018-03-27 15:57] fabianhenzler opened #46721 "[css] Using [alt]+arrow to shift blocks could result in not working CSS"
Issue Type: <b>Bug</b>

I shifted a CSS code block upwards above another code block. The CSS file looked ok, but the class wasn't used, because there seamed to be an invisible char included.
After deleting the blank between the class name and the { braces - it worked.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<

[2018-03-27 15:57] sandy081 commented on #46707
Reconsidering

- Copy action on main diagnostic will copy the complete diagnostic
- Show a copy message action on related diagnostic

[2018-03-27 15:58] #46208 closed

[2018-03-27 16:02] Tyriar commented on #44302
@bpasero that's this one https://github.com/Microsoft/vscode/issues/20013, the current thinking there is might be a lot of work to re-architect where the terminal process lives for not much payoff (QoL for team and people who change extensions a lot).

[2018-03-27 16:04] Tyriar commented on #46514
Duplicate https://github.com/Microsoft/vscode/issues/40327

[2018-03-27 16:04] #46514 closed

[2018-03-27 16:04] gregvanl opened #46722 "[css] path completion sometimes only works for one folder level"
- VSCode Version: 1.22.0 Insiders
- OS Version: Windows 10

Steps to Reproduce:

1. In the vscode-docs repo and open inproduct-releasenotes.css.
2. Try url() and trigger suggestions. You get a list of folders. Select "docs/".

There are no further suggestions to navigate the folder structure.

Found during testing #46537

[2018-03-27 16:05] #46707 closed

[2018-03-27 16:05] #40343 closed

[2018-03-27 16:09] stwel opened #46723 "VS Code not being able to open a large file"
- VSCode Version: 1.21.1
- OS Version: Windows 10 pro

Steps to Reproduce:

1. Get or create a large file (in my case a **19gb** .sql file with insert queries)
2.Try to open the file

Does this issue occur when all extensions are disabled?: Yes

[2018-03-27 16:10] gregvanl commented on #46722
![image](https://user-images.githubusercontent.com/12818376/37979950-bc69638a-319e-11e8-919b-5ea31ea6832d.png)

[2018-03-27 16:10] roblourens commented on #45152
I can't figure out what 1.19 was doing differently, but given that the command string doesn't work in the terminal, I think 1.21 is actually doing the right thing. But this is fixed for me just by using `${relativeFile}` instead of `${file}`. I think one of the libraries involved just can't handle the absolute path.

[2018-03-27 16:10] #45152 closed

[2018-03-27 16:12] sandy081 commented on #46236
contextValue is always a string and is used internally and in extensions.

What is the purpose of supporting an object?

[2018-03-27 16:12] sandy081 commented on #46688
Sure. Will ping you tomorrow

[2018-03-27 16:12] gregvanl commented on #46722
path suggestions do work if you use a relative path:

![image](https://user-images.githubusercontent.com/12818376/37980046-f908b7a0-319e-11e8-8f26-2f4969ab20e8.png)

[2018-03-27 16:12] sandy081 commented on #46688
Assigning myself and to March for investigation tomorrow

[2018-03-27 16:13] isidorn commented on #46566
I have verified that debugging works for our vscode smoke test express and for a simple hello world python app. For both values of `debug.extensionHostDebugAdapter`

[2018-03-27 16:13] #46566 closed

[2018-03-27 16:17] Tyriar commented on #45107
@dbaeumer moving back to unwrapped lines would break multi-line links, so the current heuristic definitely adds value. Let me know the shape of API that would be useful as a hint on https://github.com/xtermjs/xterm.js/blob/bf210974301392f63f3f50b277071c9b51456bc4/src/addons/winptyCompat/winptyCompat.ts#L30-L38

[2018-03-27 16:19] Tyriar commented on #46525
Duplicate https://github.com/Microsoft/vscode/issues/26375

[2018-03-27 16:19] #46525 closed

[2018-03-27 16:20] roblourens commented on #46316
Please do the following

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f1-d95c5dc3881b.png)

[2018-03-27 16:22] Tyriar commented on #44273
@troplin try closing all windows and launching using `code --disable-gpu`

[2018-03-27 16:23] Tyriar commented on #21193
:+1:

[2018-03-27 16:23] #21193 closed

[2018-03-27 16:24] Tyriar commented on #46491
@wilsonpage can you see if this reproduces on Insiders? I believe it's fixed already https://code.visualstudio.com/insiders/

[2018-03-27 16:25] #8419 closed

[2018-03-27 16:25] roblourens commented on #46608
The whole terminal. I can't get it to repro right now but I'll watch out for it today.

[2018-03-27 16:27] bpasero commented on #45569
@Tyriar and the intent is to send a command over from another process to VS Code? If so, that should be done by running just code with a command line argument, no?

[2018-03-27 16:27] bpasero commented on #44302
@Tyriar the payoff is that the VS Code team could selfhost on the integrated terminal without tmux (which brakes basically everything), so I would give it a shot :)

[2018-03-27 16:28] #44870 closed

[2018-03-27 16:29] alexandrudima commented on #44357
Duplicate of #22717

[2018-03-27 16:29] #44357 closed

[2018-03-27 16:30] #46675 closed

[2018-03-27 16:30] mscottx88 commented on #45152
I can confirm this works as well.  Perhaps this breaking change should be mentioned to the community.

[2018-03-27 16:31] alexandrudima commented on #46702
Values < 0 are often used to simulate an OS feature, namely inversed scrolling. So I suppose we could ignore just the value 0.

[2018-03-27 16:31] isidorn commented on #45841
Yeah it is good now -> verified

[2018-03-27 16:32] roblourens commented on #45487
Seems that ripgrep doesn't look at child .gitignore files as it searches. Does using `./website` instead work?

[2018-03-27 16:33] isidorn commented on #46631
Works fine with latest out of source -> verified

[2018-03-27 16:34] #46702 closed

[2018-03-27 16:34] roblourens commented on #45152
I don't see this as a vscode breaking change. The command doesn't work in the terminal, and the debug adapter should be emulating the behavior of running the command in the terminal. Rather, it's something that accidentally worked before.

[2018-03-27 16:38] roblourens commented on #46692
VS Code doesn't support PHP formatting out of the box, you will have to use an extension.

[2018-03-27 16:38] #46692 closed

[2018-03-27 16:39] Tyriar commented on #46438
@bpasero I agree :+1:

[2018-03-27 16:39] #46438 closed

[2018-03-27 16:40] #46596 closed

[2018-03-27 16:44] dnohales commented on #28795
FWIW, I can reproduce this issue in Chrome, VSCode and Atom (using Fedora). But only under X11.

[2018-03-27 16:46] #46643 closed

[2018-03-27 16:46] isidorn commented on #46643
@bpasero I fixed the warning, however the ugly part remains that I have to depend on the contextMenuService to know when a user entered a context menu. I tried listening on a window global event "oncontextmenu" but that only gets fired inside the editor.
Hopefully async context menu will make my life easier

Basically all I want to know is if the alt is released while a context menu is shown.

[2018-03-27 16:47] Tyriar commented on #45520
@bitcrazed do you have any ideas on this? I don't know too much about encoding in the terminal on Windows but this might be another issue with winpty?

[2018-03-27 16:49] DonJayamanne commented on #42521
@Tyriar

A shame we cannot implement this in the Python extension due to the above limitation.
Though Node debugger will never have the same issue as its a first class citizen in VSC.

[2018-03-27 16:53] roblourens commented on #46625
Could an extension be causing this? Can you launch vscode with `--disable-extensions` and check whether it reproes?

[2018-03-27 16:53] isidorn commented on #41190
I am going on a vacation tomorrow evening, and this is like this since forever so pushing to April to investigate with Alex what is going on behind the curatans here.

[2018-03-27 17:00] Tyriar commented on #43169
I just got a Windows 7 VM up and running and both cmd and powershell work fine in 1.20.1, 1.21.1 and 1.22.0-insiders.

I wonder if it's related to Windows Defender somehow? We've run into issues in the past with Windows Defender slowing things down but perhaps it's quarantining critical files? I'll update my VM and defender and do a scan and see if that finds anything. If anyone who is seeing the

[2018-03-27 17:02] #46386 closed

[2018-03-27 17:02] kieferrm opened #46724 "Selected terminal output not visible"
Testing #46594.

1) Ensure there is a couple of commands that have been out of the view port
2) Move to the top command using <kbd>Cmd+ArrowUp</kbd>
3) Select the output of this command using <kbd>Cmd+Shift+ArrowDown</kbd>
-> Terminal scroll so that the top of the next command is the top of the viewport. What I just selected is not visible.

[2018-03-27 17:02] Tyriar commented on #46386
@e-ht great! It should hit stable in the next week or 2.

[2018-03-27 17:02] varnk opened #46725 "Provide a means to hide proxy user and password in settings.josn"
Issue Type: <b>Feature Request</b>

The http.proxy value provides a means to specify a proxy if behind a firewall, but since my corporate proxy requires Userid and Password to access the proxy I have to enter that into the http.proxy setting.  Doing this makes uerid and password viewable in the clear within the settings.json file.  It would be desirable to somehow specify the password as an encryp

[2018-03-27 17:05] Tyriar commented on #46306
@inemtsev some more follow ups:

- Could you clarify the characteristics of the crash?
  - Does a dialog come up saying the window is not responding?
  - Is the UI responding but just laggy?
  - Is it just the powershell process that's crashing?
- Does it happen when you run powershell.exe outside of VS Code?
- Does it happen when you set the default shell to cmd.exe inside VS Code?

[2018-03-27 17:07] isidorn commented on #46565
@joaomoreno thanks, i believe I fixed the remaining errors by not reacting on events if I am disposed

[2018-03-27 17:07] #46565 closed

[2018-03-27 17:08] RMacfarlane opened #46726 "Issue Reporter: Support configuring data sent to extensions"
Continuation of https://github.com/Microsoft/vscode/issues/45673

Now that users can choose to file on extensions, extension authors should be able to specify additional data to include in the report. This could potentially include

- User settings
- `launch.json` information
- Metadata about the workspace (is it multiroot)
- Console errors
- Data specific to the extension

[2018-03-27 17:09] kieferrm opened #46727 "Issue reporter is blank"
Latest insider.

1) Open Issue reporter.
-> Window is blank.

Error message:

[code]

[2018-03-27 17:09] Tyriar commented on #45492
@BytewaveMLP great, we have a root cause! This is happening because Chromium maintains a list of GPUs to disable as they have issues, unfortunately in VS Code this manifests itself as corrupted textures inside the canvas for some reason.

I'm curious if the same thing happens when you run Google Chrome?

@mix3d I think it's too far, we don't touch the settings file until the Electron main process

[2018-03-27 17:09] RMacfarlane commented on #45673
@DonJayamanne @brettcannon Thanks for the additional info! I've filed https://github.com/Microsoft/vscode/issues/46726 to track this.

[2018-03-27 17:09] #45673 closed

[2018-03-27 17:11] Tyriar commented on #46374
I'm a bit stumped on this, I haven't seen any other reports and haven't experienced it myself. The fact that neither of those flags don't work means it's not GPU related.

Could you try with the Insiders build to see if it still happens? https://code.visualstudio.com/insiders

[2018-03-27 17:13] #46727 closed

[2018-03-27 17:13] kieferrm opened #46728 "Unselecting scrolls terminal"
Testing #46594.

1) Select command output that was previously scrolled out of the viewport
2) Realize you were off by one and selected the wrong output
3) Press <kbd>ESC</kbd>
-> The output is deselected and the terminal scroll to the prompt. If the command was several dozen commands before, I have to go all the way back to correct an off-by-one mistake.

I'm unsure what the right thing is. I'd ex

[2018-03-27 17:14] ramya-rao-a commented on #46434
Thanks @jrieken
Closing this as fixed for stylesheets and html files

[2018-03-27 17:14] #46434 closed

[2018-03-27 17:16] meichthys commented on #43169
@Tyriar Hmm. interesting. I have windows defender disabled. When i get a chance, I'll try re-updating to 1.21.1 to see if i still have the issue.

[2018-03-27 17:19] Tyriar commented on #46728
The behavior you're after seems reasonable, I think to do that we would need a `terminalHasSelection` context key (like `editorHasSelection`) and then add a `terminal.integrated.clearSelection` to ESC. Open to PRs.

[2018-03-27 17:21] kieferrm opened #46729 "Command navigation should respect current scrolling position"
Testing #46594.

1) Manually scroll up, so that at least one command is scrolled off the bottom of your terminal
2) <kbd>Cmd+ArrowUp</kbd>

-> The last command before the prompt is revealed, i.e. the terminal scrolls down. I'd expect it to scroll up.  The reason here is a predictable workflow. I can use command navigation to reveal a command. Then I refocus on something else. Then I come back to t

[2018-03-27 17:22] Tyriar commented on #46724
The full fix for this is the visual feedback captured in https://github.com/Microsoft/vscode/issues/46561 and focusing the command in the center of the terminal. I held off on the latter because it might be tough to find the command, but maybe it's worth it for the copying case.

[2018-03-27 17:23] Tyriar commented on #43169
@meichthys do you have any other anti-virus or similar software that could be doing something similar?

[2018-03-27 17:24] bitcrazed commented on #45520
@Luberen - could you run `chcp.exe` from your shell, what do you see?

Also:
* Which shell are you using? Cmd? PowerShell? Linux on WSL?
* Which build of Windows 10 are you using?
* You're using gcc/g++ - which platform are you targeting?
* If you're using cmd, try opening a Cmd prompt and running your app in various codepages.
* What font are you using for VSCode's terminal, and for your Console?

[2018-03-27 17:25] kieferrm commented on #46594
Great feature 👍.

[2018-03-27 17:27] Tyriar commented on #42521
@DonJayamanne I pinged the team on Slack about this.

I was actually thinking about whether an API on `Terminal` would make sense for this to be able to request the process tree. Is that's what you're after; just the child processes on the terminal?

[2018-03-27 17:28] DanTup commented on #46526
@sandy081 Yep, I did (as `dartFlutterOutline`, which is the ID in the `registerTreeDataProvider` registration, not the `createTreeView` one) - it's an existing tree I already have that I was trying to add Reveal support for. I wasn't really sure if I was using it correctly; what's the expected way to convert code that already works with `registerTreeDataProvider` to get access to reveal?

[2018-03-27 17:31] Tyriar commented on #45569
@bpasero I was thinking leave this completely up to the running version to handle. Relying on a CLI arg could potentially going wrong, for example `code --notify-update` on any old version would *launch* the old version.

[2018-03-27 17:34] rebornix opened #46730 "Wrong position of search result badge in panel"
Re #46604

* Search `lifecycle` and we get a list of results, the window is larger than 600px so the badges are on the left
* Click on one file entry
* Scroll down
* Cmd+B to hide the sidebar
* Scroll back

The badge for the focused entry is on the right.

![countbadgepos](https://user-images.githubusercontent.com/876920/37984145-575ebbc8-31aa-11e8-934f-7f33b1e40ed7.gif)

[2018-03-27 17:37] DonJayamanne commented on #42521
Yes, that would be great.

[2018-03-27 17:40] mjbvz commented on #46700
Do you mean the `add missing imports` quick fix? This often requires user import to select which import you intended

[2018-03-27 17:42] Tyriar commented on #45490
Thanks for the info @bartvanheukelom. I'll close this off as it seems to be a problem with Ubuntu/GTK2 and we'll be moving to GTK3 soon.

[2018-03-27 17:42] #45490 closed

[2018-03-27 17:42] mjbvz commented on #46699
Opened https://github.com/Microsoft/TypeScript/issues/22908 to track this upstream

[2018-03-27 17:42] Tyriar commented on #45490
FYI @bpasero

[2018-03-27 17:42] #46699 closed

[2018-03-27 17:43] mjbvz commented on #46697
Duplicate of https://github.com/Microsoft/TypeScript/issues/22731

[2018-03-27 17:43] #46697 closed

[2018-03-27 17:43] Mellbourn opened #46731 "Ctrl-C doesn't terminate process in tmux inside VSCode terminal"
I have the setup that was described by João Moreno (@joaomoreno) in his blog post https://medium.com/@joaomoreno/persistent-terminal-sessions-in-vs-code-8fc469ed6b41

However, it seems to me that Control-C does not work as good as it used to.

It is particularly noticeable when I run `nodemon`. When I run it in tmux in `iTerm`, I can exit the run without problem by using Control-C. If I run `nodem

[2018-03-27 17:44] mjbvz commented on #46653
Duplicate of https://github.com/Microsoft/TypeScript/issues/22732

[2018-03-27 17:45] svipben opened #46732 "Coloring of active line number"
This color was introduced in 1.21: https://code.visualstudio.com/updates/v1_21#_coloring-of-active-line-number and it's missing in theme color reference: https://code.visualstudio.com/docs/getstarted/theme-color-reference

[2018-03-27 17:45] Tyriar commented on #46581
Could this be https://github.com/Microsoft/vscode/issues/35675? @daniel88ferreira can you try the Insiders build and see if it still happens? https://code.visualstudio.com/insiders

[2018-03-27 17:45] mjbvz commented on #46653
Whoops, duplicated the wrong issue. This one is about  the `Fold Block comment command`

[2018-03-27 17:45] borekb commented on #45487
Yes although I'm not sure the results are as expected. I created this repo so that you can try yourself: https://github.com/borekb/vscode-search-issue-45487

Some screenshots:

---

This is how the structure looks:

![image](https://user-images.githubusercontent.com/101152/37984354-61da6d1c-31f6-11e8-9822-cb5ab463e2f0.png)

All four .txt files contain the same thing, a string "hello".

---

Plain

[2018-03-27 17:46] JohnMagdy commented on #45441
its sent to you sir...

[2018-03-27 17:46] mjbvz commented on #46651
Duplicate of https://github.com/Microsoft/TypeScript/issues/22732

[2018-03-27 17:46] #46651 closed

[2018-03-27 17:46] svipben commented on #45479
@alexandrudima I'm very happy!!!

* What about `findMatchBorder` which have `2px`, it's correct?
* Also, you forgot to set `findMatchHighlightBorder` to `solid` too.

If you want I can create a PR.

[2018-03-27 17:47] mjbvz commented on #46649
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/22419

[2018-03-27 17:48] rebornix opened #46733 "Context menu triggers preview automatically"
Re #46604

* Search `lifecycle` and type `lifecycles` in replace box
* Right Click

An editor is opened automatically, it seems weird that we try to show the diff view automatically. Another problem is the diff view rendering seems being blocked as well.

![searchcontext](https://user-images.githubusercontent.com/876920/37984908-5ae81116-31ac-11e8-98fc-bb03cafee5cf.gif)

[2018-03-27 17:49] Tyriar commented on #46696
@DanTup this is supported I since 1.20 https://code.visualstudio.com/updates/v1_20#_variables-resolved-in-env-setting, are you up to date? It seems to work fine for me?

[2018-03-27 17:50] borekb commented on #45487
Thanks for the tip about `./something` by the way, it's much better than getting `.gitignored` results.

[2018-03-27 17:50] axetroy commented on #46236
@sandy081

For more complicated conditions, control the command/context when to show.

and support an object, should be more scalable

[2018-03-27 17:52] meichthys commented on #43169
I do. I've tried disabling the antivirus while updating/installing/running with no luck.
I also just tried using the built-in updater to update to the latest version, and I'm seeing the same issue again (Running as admin works though).

[2018-03-27 17:52] Tyriar commented on #46696
@sandy081 is there a way to read settings in the API and then resolve the variables inside them?

[2018-03-27 17:52] ramya-rao-a opened #46734 "[folding] in scss fails when there are multiple properties in a rule that does string interpolation"
Testing #46535

Folding fails in the second rule below

[code]

See [Interpolation in scss](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_)

Below case work fine
[code]

[2018-03-27 17:53] mjbvz commented on #46647
This was my initial proposal too. However I now think that command makes more sense as organize imports is a file wide action (and will eventually be triggered on save)

However we could also surface this as a code action to improve discoverability. I've opened https://github.com/Microsoft/TypeScript/issues/22909 to track this

[2018-03-27 17:55] rebornix opened #46735 "Visibility of Replace/ReplaceAll inconsistency"
Re #46604

* Have search in the panel
* Search for something, expand replace box
* Right click on items, we can see *Replace/ReplaceAll* as the replace box is visible.
* Toggle search position
* Right click on search results in sidebar, the replace box is hidden but we can still see *Replace/ReplaceAll*

[2018-03-27 17:57] Tyriar commented on #46693
@DanTup does your .bashrc/.bash_profile scripts manipulate `$PATH`? I can't reproduce this and it looks like it could be because of those scripts (which is as designed as they're run after terminal init).

[2018-03-27 17:58] ramya-rao-a opened #46736 "[folding] in scss fails for a while loop having multiple lines"
Testing #46535

Folding fails below
[code]

Folding is fine below
[code]

[code]

[2018-03-27 17:58] alexandrudima commented on #46499
@tsaiid Have you been able to override `win+a` using other software? (perhaps it is something that cannot be overriden?)

[2018-03-27 18:01] Tyriar opened #46737 "Terminal API to get child process IDs"
Node debug and Python both have use cases to enable auto attach.

[2018-03-27 18:01] Tyriar commented on #42521
@DonJayamanne created https://github.com/Microsoft/vscode/issues/46737 to track

[2018-03-27 18:02] mjbvz commented on #46684
Opened discussion upstream: https://github.com/Microsoft/TypeScript/issues/22911

[2018-03-27 18:02] #46684 closed

[2018-03-27 18:02] ramya-rao-a opened #46738 "[folding] in scss fails when using interpolation"
Testing #46535

Folding fails in the below cases
[code]

[code]

See [Interpolation in scss](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_)

[2018-03-27 18:04] weinand commented on #42521
@DonJayamanne sorry but your statement:

is not true.
Node debugging is developed as an independent extension and the fact that is shipping with VS Code does not mean that we are not playing by the rules.

So we are not "reaching into" VS Code for accessing node modules.

[2018-03-27 18:05] roblourens commented on #45441
It looks fine to me using the United Ubuntu theme. What problem specifically are you seeing?

[2018-03-27 18:06] RMacfarlane opened #46739 "Intellisense within log points doesn't suggest local variables"
Testing #45962

When typing within `{}` in a log point, the suggestions don't seem to include local variables.

![log_message_intellisense](https://user-images.githubusercontent.com/3672607/37985793-9b712946-31ae-11e8-9be9-5b5b3a666c9f.gif)

[2018-03-27 18:09] ramya-rao-a opened #46740 "[folding] Region missing for nested media queries"
Testing #46535
The `-` symbol for folding is missing for the `@media` line below

[code]

[2018-03-27 18:09] mjbvz commented on #46683
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/22914 to track this upstream

[2018-03-27 18:09] #46683 closed

[2018-03-27 18:11] GregRos commented on #4338
Is there any status on this? It seems like a really basic feature. Every other editor in existence has it I think. There is even search in the terminal, which I'd think would be harder to implement.

[2018-03-27 18:11] ramya-rao-a commented on #46535
Tested out of source as the Insiders had this issue : https://github.com/Microsoft/vscode/issues/46640

[2018-03-27 18:11] #46535 closed

[2018-03-27 18:16] weinand commented on #46737
Node-debug determines the child process IDs based on our own xplat getProcessTree and filters by the '--type=terminal' argument. See https://github.com/Microsoft/vscode-node-debug/blob/e1f63c924fd3c881048eb3e8abdcd50f4d20806e/src/node/extension/nodeProcessTree.ts#L116-L118

Yes, the `wmic` based Windows implementation will be replaced by the windows-process-tree ASAP.

[2018-03-27 18:18] firelizzard18 opened #46741 "Broken config for mixed TS/JS project"
Issue Type: <b>Bug</b>

I am working on a project that uses both JavaScript and TypeScript. I am trying to configure the JavaScript language features to allow decorators. When I run the command, "Go to Project configuration", I get an error, "File is not part of a JavaScript project".

jsconfig.json
[code]

tsconfig.json
[code]

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f

[2018-03-27 18:18] mjbvz commented on #46033
@peterschussheim Are you still seeing this issue in the latest insiders?

![screen shot 2018-03-27 at 11 17 50 am](https://user-images.githubusercontent.com/12821956/37986507-7f988212-31b0-11e8-98c8-a0a1350cb259.png)

If so, please share some example code

[2018-03-27 18:19] roblourens commented on #45487
Actually it's not what I said before, this is about the include pattern overriding the gitignore file, which ripgrep does.

The result format is what I expect - that syntax roots the search in that folder, rather than searching from the open folder, with the given folder name as `**/a/**`. That also causes it to use the multi-folder result format.

Will have to play with this some more, I don't th

[2018-03-27 18:19] RMacfarlane opened #46742 "[invokeFunction] unown service 'privateBreakopintWidgetService'"
Testing #45962

Steps to repro:
1. Add a log point to a file
2. Run the debugger, doesn't matter if the log point is hit or not
3. While debugger is still running, try to edit the file

No edits happen on the file and this warning notification appears: "[invokeFunction] unown service 'privateBreakopintWidgetService"

[2018-03-27 18:20] rebornix opened #46743 "Progress API percentage is ambiguous"
Re #46458

Based on the code sample

[code]

I would think the `percentage`  here represents the overall progress of the task while after reading the documentation (and watched the real behavior), the `percentage` value will actually be summed up.

[2018-03-27 18:21] gushuro commented on #46666
Just ran across this as well. 50k items + click on select all --> vscode crashes.

[2018-03-27 18:25] Tyriar commented on #43169
@meichthys could you check the user permissions of this file?

`C:\Program Files\Microsoft VS Code\resources\app\node_modules\node-pty\build\Release\winpty-agent.exe`

This is what mine looks like:

<img width="420" alt="screen shot 2018-03-27 at 11 24 35 am" src="https://user-images.githubusercontent.com/2193314/37986847-7812ae22-31b1-11e8-8398-053332e5d9cb.png">

[2018-03-27 18:25] DanTup commented on #46693
@Tyriar I don't have any path manipulation in any bash files (I set all my paths in `/etc/path.d` files because otherwise they only apply to the terminal). I can reproduce on both my MacBooks.

<img width="945" alt="screen shot 2018-03-27 at 19 24 58" src="https://user-images.githubusercontent.com/1078012/37986865-962b57fe-31f4-11e8-9c16-673e128009df.png">

[2018-03-27 18:27] dmxd5 commented on #46054
I've tested numerous times - php validation does not work when folder is opened in vscode explorer. The issue occurs on the windows 10 (64-bit) that is currently up for download at microsoft.com

[2018-03-27 18:27] #46458 closed

[2018-03-27 18:30] Tyriar commented on #46737
@weinand because it's a native node module you can't ship it with the extension though (afaik), so an API for this would allow you to sit on public API.

[2018-03-27 18:33] mjbvz opened #46744 "'Create file In' explorer notification does not update/dismiss after you delete path separator in new name"
Testing #46328

- VSCode Version: Version 1.22.0-insider (1.22.0-insider)
- OS Version: MacOS 10.13.3

**Steps to Reproduce:**

1. Create a new file in the explorer
2. In new file input, type a forward slash then delete the slash

**Bug**
The 'create file in' notification is still showing but no longer updates

![mar-27-2018 11-29-07](https://user-images.githubusercontent.com/12821956/37987289-99b

[2018-03-27 18:35] ramya-rao-a opened #46745 "Css Emmet completions arent triggered when selector has interpolation"
In a scss file with more than 1000 lines, add the below
[code]

Try an emmet abbreviation after the `background-image` above. Observe that no completions are provided

Reproducible only in Insiders and not in Stable

[2018-03-27 18:36] meichthys commented on #43169
@Tyriar my permissions look identical to yours, but my path to that file is slightly different:
C:\Program Files\Microsoft VS Code\resources\app\ **node_modules.asar.unpacked** \node-pty\build\Release

[2018-03-27 18:38] mjbvz opened #46746 "Path separators in file name shown as colon instead"
Testing #46328

- VSCode Version: Version 1.22.0-insider (1.22.0-insider)
- OS Version: MacOS 10.13.3

**Steps to Reproduce:**

1. Open a folder that has a file with a slash in the name, such as `a/b.c`

**Bug**
This is shown as `a:b.c` in the VS Code UI

![screen shot 2018-03-27 at 11 36 22 am](https://user-images.githubusercontent.com/12821956/37987473-1f514ee0-31b3-11e8-8029-5c830fc8c9e7.png)

[2018-03-27 18:38] #46328 closed

[2018-03-27 18:38] gushuro opened #46747 "Multi Quick Pick: filtering should uncheck items."
Testing #46587

1. Open a quick pick with all items preselected
2. Start writing
3. Some items get filtered out but stay selected

There's a `xxx items selected` showing the correct number, but I still think it's not a good idea having non-visible selected items.

[2018-03-27 18:43] Tyriar commented on #43169
@meichthys ah that's because I had v1.20.1 installed at the time, mine has that path if I move to 1.21.1

[2018-03-27 18:46] andy-ms commented on #46575
My computer broke yesterday after an update (unable to open applications, then after restarting, unable log in) and I had to reinstall Mint. Now I can't reproduce the error at all, so it was probably the OS's fault.

[2018-03-27 18:46] #46575 closed

[2018-03-27 18:47] kieferrm opened #46748 "Wording for handling of large files"
Testing #46602.

The overall flow is working. However, the wording should be improve to help users what's happening.

Should be:

The Relaunch button should be: "**Restart with 4096 MB**"
The Configure button should be "**Configure Memory Limit**"

The setting `files.maxMemoryForLargeFilesMB` also needs wording changes:

Should be:

[2018-03-27 18:47] Tyriar commented on #43169
@meichthys something else you can try:

1. Install VS Code Insiders (if not already)
2. Close all Insiders windows
3. Open cmd.exe
4. Run code-insiders --log trace
5. Open the terminal
6. Open the command palette (F1) and run the "Developer: Open Log File..." command
7. Paste in what you see

Here's mine:

[code]

[2018-03-27 18:47] gushuro opened #46749 "Multi Quick Pick: Clicking on 'xx Selected' makes the box to close"
Testing #46587

Clicking on the `xx Selected` indicator makes the box to lose focus, and therefore close.

[2018-03-27 18:48] alexandrudima commented on #46487
You could write an extension which registers (overwrites) the `type` command and then invokes `default:type`. You cannot write logic to express having `c`, `n`, `o` all pressed (i.e. keydown but not keyup yet), but you could approximate your desired feature by looking for the produced text and perhaps the delta time between the invocations.

[2018-03-27 18:48] weinand commented on #46737
Oh, right.

IMO we have two options:
- surface the module (and the linux and macOS counterparts) as extension API (ideally independent of terminal because the process pickers provided by node-debug and others need to enumerate all processes and not only child processes of a terminal).
- turn the node module into a Windows-only standalone utility that can be used as a (faster) replacement for `wmic

[2018-03-27 18:49] #46173 closed

[2018-03-27 18:49] saarlevin commented on #46580
sure , thanks .
https://ufile.io/cxaa6

[2018-03-27 18:49] Tyriar commented on #46731
@joaomoreno @bpasero have you noticed ctrl+c not being responsive?

[2018-03-27 18:55] alexandrudima commented on #46456
@netldds Please use a font (e.g. Inconsolata) where CJK characters are always rendered with the width of two latin characters.

[2018-03-27 18:55] #46456 closed

[2018-03-27 18:56] mjbvz opened #46750 "Allow to mark settings as user settings only"
Testing #46460

- VSCode Version: 1.22.0-insider  d656cdac7d61c16330520420e57a103697dde16d
- OS Version: MacOS 10.13.3

**Steps to Reproduce:**

1. Try adding `"window.openWithoutArgumentsInNewWindow": "on"` to workspace settings

**Bug**
Setting does not seem respected but there is no warning to indicate this

Does this issue occur when all extensions are disabled?: Yes

[2018-03-27 18:56] kieferrm opened #46751 "Relauching with larger configuration settings starts in wrong directory"
Testing #46602 on Win10.

1) Reconfigure  `"files.maxMemoryForLargeFilesMB": 5096`
2) Try to open a 3GB file.
3) Relaunch

VS Code relaunches and openes the install dir of VS Code rather than the previously opened workspace.

![capture](https://user-images.githubusercontent.com/4674940/37988268-55e6aa48-31b5-11e8-9431-42ed9a5e2795.PNG)

[2018-03-27 18:56] gustavomassa commented on #44428
@weinand I have two more issues to report regarding the "autoAttachChildProcesses" feature:

1 - When using the "useWSL = true" the autoAttachChildProcesses is not creating the child process(workers). I'm using Windows 10 pro developer mode with Ubuntu bash, installed Node version 9
The debugger is listening to workers port, but did not attach, just the master was attached.
![image](https://user-i

[2018-03-27 18:56] #46460 closed

[2018-03-27 18:57] gushuro opened #46752 "Multi Quick Pick: Arrow up to go to last item"
Testing #46587

Regular QuickPick menu lets you use arrows up/down to move across Items. With `canSelectMany: true`, arrow up doesn't go to the last item when reaching top.

[2018-03-27 18:57] ramya-rao-a opened #46753 "Wrong syntax highlighting for property following nested properties"
- VSCode Version: 1.21
- OS Version: Any

Steps to Reproduce:

1. Have the below content in a scss file. Observe the last property is in white

![image](https://user-images.githubusercontent.com/16890566/37988531-fd376f8a-31b5-11e8-9f87-751b06539cec.png)

[2018-03-27 18:58] lloeki opened #46754 "macOS: reckless ownership change of /usr/local/bin"
Issue Type: <b>Bug</b>

Installing command line tool changes ownership of `/usr/local/bin` away from `root:wheel` to `$USER:staff`. Also, `code` symlink is created as owned by `$USER:staff`.

Please don't do that: not everyone is using Homebrew.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>Syste

[2018-03-27 18:58] ArthurMa1978 commented on #45589
@chrmarti got it, let's check once the API is ready

[2018-03-27 18:59] Tyriar commented on #43169
@sbatten managed to repro the mysterious lone cursor terminal on Windows 10 but it was flaky. One thing to note is that terminal process ready event never happened for him:

[code]

Also switching to powershell seemed to fix the issue and then back to cmd it was fixed.

The original repro happened after enabling narrator.

[2018-03-27 18:59] helsont opened #46755 "Feature Request: Duplicate File"
When you right click on a file in the Explorer, there should be a Duplicate file button that performs the same function as copying and immediately pasting the file in the same directory.

I use my clipboard extensively so I prefer this than copying and pasting the file.

[2018-03-27 19:02] RMacfarlane opened #46756 ""Log points not supported for this debug type" shown when using expression with log point"
Testing #45962

I'm testing using the VSCode repo and "Launch VS Code" task. I haven't edited `launch.json`.

Steps to repro:
1. Add a log point
2. Add an expression to the log point
3. Start debugger

Point in gutter shows message that log points are not supported, however log point is still hit and printed to the debug console

![log_point_not_supported](https://user-images.githubusercontent.com

[2018-03-27 19:02] dbaeumer commented on #46337
I see your point however I think that every build system provides enough information to detect the correct path to the file that contains the error and we should find ways to leverage this.

I will reopen the issue. Assigning back to @sandy081 since the guessing needs to happen in the problems view.

[2018-03-27 19:05] peterschussheim commented on #46033
Hi Matt,

Yes, I am on `1.22.0-insider (1.22.0-insider)`.   Please have a look at the screen capture and let me know if you need more detail.

Demo:
![gif](http://g.recordit.co/lZFFoES2mm.gif "screen capture")

[2018-03-27 19:09] weinand commented on #46664
The semantics of a standalone `--debug-port`or `--inspect-port` is to specify the debug port to use when the running node process is brought into debug mode via the SIGUSR1 signal.

So the issue was that the SIGUSR1 signal was not sent.

[2018-03-27 19:10] daniel88ferreira commented on #46581
With insiders
`
Version 1.22.0-insider
Commit d656cdac7d61c16330520420e57a103697dde16d
Date 2018-03-27T10:51:21.777Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
`
or current version package (https://aur.archlinux.org/packages/visual-studio-code-bin/) the issue does not occur.

So, I think that's not related with the other issue. My guess would be that's only related with snap p

[2018-03-27 19:12] mhillct commented on #21071
"...changing the behavior right now may surprise users but I still want to go with that because we are following the clipboard protocol." - rebornix

Wow. See https://en.wikipedia.org/wiki/Principle_of_least_astonishment - I would hardly have been more astonished if I had pasted a bitmap image.

Thanks to akras-apixio for the new file, paste, and copy means of scrubbing the unwanted theme and synt

[2018-03-27 19:15] weinand commented on #46664
fixed with https://github.com/Microsoft/vscode-node-debug/commit/352bd30c5957f87444e225835bc82389666be2b0

[2018-03-27 19:15] troplin commented on #44273
@Tyriar bingo!
With `--disable-gpu` the terminal behaves completely normal.

[2018-03-27 19:21] #46597 closed

[2018-03-27 19:23] usernamehw opened #46757 "Counter badge shifts panel labels (depending on number length)"
![counter-label](https://user-images.githubusercontent.com/9638156/37989840-2d197c78-320d-11e8-99c6-5ad27b2977fd.gif)

[2018-03-27 19:24] meichthys commented on #43169
@Tyriar  here's my log trace. It looks very similar to yours...
[code]

[2018-03-27 19:27] tfrimor commented on #46667
Actually I think it is more the other way around than in #43782. There it is about substituting parts of the task with values from inside the extension. I.e. replacing "${cpptools:activeConfig}" in strings for the build call.

Here I would like to end up having simple configurable tasks in the tasks.json originating from the TaskProvider, where the user may provide different values.

    {

[2018-03-27 19:28] drewlustro commented on #41238
Also have this problem :|

[2018-03-27 19:34] daniel88ferreira commented on #46581
Hi again :)
So, I think the problem is really the fontconfig from the core snap trying to load my system's fontconfig definitions instead of the ones inside the vscode snap.
`$ pwd`
`/snap/core/current/usr/bin`
`$ fc-cache -V`
`fontconfig version 2.12.6`
And, as versions 2.12.6 and 2.13 seems incompatible, it fails.

[2018-03-27 19:43] Paviluf commented on #46560
KDE developer Nate Graham told me that no software should use kdesudo. It's a legacy way to request elevated privileges. The correct way to do it is by using PolicyKit.

https://pointieststick.wordpress.com/2018/03/24/this-week-in-usability-productivity-part-11/comment-page-1/#comment-843

[2018-03-27 19:49] #46036 closed

[2018-03-27 19:49] #45959 closed

[2018-03-27 19:49] #46053 closed

[2018-03-27 19:49] #46071 closed

[2018-03-27 19:49] #46082 closed

[2018-03-27 19:49] #45955 closed

[2018-03-27 19:53] bergmeister commented on #41238
The problem could be solved at the end and it turned out to be a bug in the latest Citrix Virtual host software (I am using a thin client to connect to my dev VM in Azure)

[2018-03-27 19:53] jmo84 commented on #17920
I wish I could have the search result panel exported to a tab so I could work with multiple result sets that were based on different search queries. Having to reenter search queries and closing out the same unwanted matches wastes time I could be using to fix code. If not a tab, please create the ability to save queries in my settings.json and let me recall a query (and all its filters) using a dr

[2018-03-27 20:11] Tyriar commented on #43169
@meichthys great, I see terminal process ready didn't happen. I might try to squeeze in some additional logging in this upcoming version to help diagnose.

[2018-03-27 20:13] garyking opened #46758 "Split editor into existing group"
If I have two groups, and I split the editor in group 1, then it creates a new group between group 1 and 2.

Please make it possible to instead split the editor in group 1 into a new tab of the same file, in group 2, rather than creating a new group.

Perhaps have a setting like `maxGroupsCount` and if I set it to 2, then don't create more groups than 2?

[2018-03-27 20:17] roblourens opened #46759 "Very large files issues"
Testing https://github.com/Microsoft/vscode/issues/46600

![image](https://user-images.githubusercontent.com/323878/37988591-271762c4-31b6-11e8-94d5-239979fc2455.png)

- Open large file
- Copy/paste many times to make it 270 MB
- "File: Save as"
- Crashes with "invalid string length" :bug:
- Also, select all contents and press backspace
- Crashes with same stack shown in screenshot

As discussed o

[2018-03-27 20:18] dtinth commented on #46487
@alexandrudima Thank you for the comment. Your suggestion is how `vim-arpeggio` is actually implemented. Based on my experience of using it for a few years, it works, but is prone to both false positives and false negatives.

- Typing too fast causes the chorded snippet to be activated unintentionally.

- Chords sometimes fail due to event processing causing the keypress events to be delayed and n

[2018-03-27 20:18] mjbvz commented on #46033
Do you mean the comment style or the highlighting being broken after you comment the line?

[2018-03-27 20:21] kieferrm commented on #46595
This is currently blocked because of #46727.

[2018-03-27 20:37] mjbvz commented on #46679
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/22921 to track this upstream

[2018-03-27 20:37] #46679 closed

[2018-03-27 20:40] mjbvz commented on #46678
Yes, currently the feature is not reliable enough for me to feel confident triggering it on save but next iteration we should hook this up

[2018-03-27 20:41] roblourens commented on #46414
I'm trying to decide, is this just a problem of differentiating output from different processes in the debug console? @isidorn is there any other issue for filtering/labeling output from different processes?

Or, is it just about what we do with output from a process running in the terminal? It would make sense to not send output to the debug console in that case. I still do because I figure that

[2018-03-27 20:43] Tyriar commented on #46737
@weinand well that blows this idea of a terminal specific solution then if you need other processes, I'll close this off 😃

[2018-03-27 20:43] #46737 closed

[2018-03-27 20:44] Tyriar commented on #44273
@troplin great we found the problem, you should be able to run with --disable-gpu with no issues. Could you tell me the model of your graphics card?

[2018-03-27 20:45] meichthys commented on #43169
Sounds good. Let me know if you’d like me to run any other tests/logs.

[2018-03-27 20:45] gushuro opened #46760 "Tokenizer is slow when pasting text and autoindentation is on"
When pasting text in this small JSON file, first attempt at adding colors fails, and it only gets alright after a second.
When Undoing twice (first the auto-indentation and then the paste), the coloring fails again.

![slowtokenizer](https://user-images.githubusercontent.com/5607882/37993826-9e8a2a40-31c4-11e8-87eb-ff3c658cfaa3.gif)

[2018-03-27 20:47] chrisdias commented on #46561
if i have a few empty lines such as this:

![image](https://user-images.githubusercontent.com/1487073/37994068-3ca9e95e-31c5-11e8-91d4-4bdf56972266.png)

pressing `cmd+up` appears to do nothing

[2018-03-27 20:48] ramya-rao-a commented on #46709
Same for $

[code]

This will print the $PATH variable, I was expecting the $ to be escaped

[2018-03-27 20:50] Tyriar commented on #44273
Related: https://github.com/Microsoft/vscode/issues/36913

[2018-03-27 20:53] troplin commented on #44273
NVIDIA GeForce GT 120 256 MB

Running the with `--disable-gpu` is unfortunately not really an option in the long run because on Mac you don't usually start programs on the command line.

[2018-03-27 20:55] mjbvz commented on #46698
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/22924 to track this upstream

[2018-03-27 20:55] #46698 closed

[2018-03-27 20:56] mjbvz commented on #46720
Thanks. This is tracked by https://github.com/Microsoft/TypeScript/issues/7071

[2018-03-27 20:56] #46720 closed

[2018-03-27 20:57] troplin commented on #44273
Maybe related to #36913: Resizing the terminal uses 100% CPU on both cores, whether the GPU is active or not. It's an old machine though.

[2018-03-27 20:59] mjbvz commented on #46682
This issue was moved to Microsoft/TypeScript#22925

[2018-03-27 20:59] #46682 closed

[2018-03-27 20:59] roblourens commented on #46733
Because we open the file when the item is focused, and all tree context menu contexts are based on which item is focused. So this matches what the problems tree does. Need to find a way to work around it.

[2018-03-27 20:59] chrisdias opened #46761 "Suggestion: Allow line selection in terminal"
testing #46594

Suggestion: Allow selecting a line at a time while navigating in terminal line by line.

With #46594 I can use `CMD+UpArrow` `CMD+DownArrow` to navigate, and can press `Shift+CMD+UpArrow` and `Shift+CMD+DownArrow` to select a block of text in the terminal (between commands).  This is cool for selecting blocks of text that are the output of a command.

But, what if I want to select

[2018-03-27 21:01] mjbvz commented on #46656
Opened https://github.com/Microsoft/TypeScript/issues/22915 to track this upstream

[2018-03-27 21:01] #46656 closed

[2018-03-27 21:02] chrisdias commented on #46594
yep, great feature. #46561 is the biggest issue i see on Mac. i have no idea where I am when scrolling.

[2018-03-27 21:02] #46594 closed

[2018-03-27 21:04] mjbvz commented on #46681
This issue was moved to Microsoft/TypeScript#22926

[2018-03-27 21:04] #46681 closed

[2018-03-27 21:05] Tyriar commented on #46580
I'm going to merge this one into https://github.com/Microsoft/vscode/issues/45693, thanks for the report

[2018-03-27 21:05] #46580 closed

[2018-03-27 21:07] mjbvz commented on #46601
This issue was moved to Microsoft/TypeScript#22927

[2018-03-27 21:07] #46601 closed

[2018-03-27 21:07] Tyriar commented on #46581
@flexiondotorg

[2018-03-27 21:09] Tyriar commented on #46561
@chrisdias yeah I would have liked to get this in but was a bit randomized this iteration.

[2018-03-27 21:11] #46455 closed

[2018-03-27 21:12] mjbvz commented on #46674
Can you please share the complete paths of original tab and the newly opened one. I suspect this is a path casing issue

[2018-03-27 21:14] #46567 closed

[2018-03-27 21:18] alexandrudima commented on #46444
Full repro:

![kapture 2018-03-27 at 23 16 35](https://user-images.githubusercontent.com/5047891/37995488-eec912a0-3214-11e8-9d69-850fcb854e22.gif)

The root cause is the editor auto-indent feature. Workaround is to disable `"editor.autoIndent"`

[2018-03-27 21:18] weinand commented on #44428
@gustavomassa
1. Combining autoAttachChildProcesses and useWSL is not supported.
2. attaching the debugger to the child processes takes time and if the child processes are not launched with the --inspect-brk flag, they will not wait for the debugger but just start running. As a consequence breakpoints in the startup phase are most likely missed. To avoid that, make sure that your forking code star

[2018-03-27 21:20] Sschumac opened #46762 "OSX bundle id collides with base electron app, making basic applescript automations open the Electron starter app."
Attempting to automate windows with applescript causes the base electron app on the system to run, making it difficult to make VSCode an active window. VSCode shares a bundle ID with the base electron app "com.github.electron", which causes OSX System Events to be confused with which app to activate.
- VSCode Version: 1.21.1
- OS Version: High Sierra 10.13.3

Steps to Reproduce:

1.  Have a projec

[2018-03-27 21:20] szhu opened #46763 "Git: Support an ignored repository list setting"
Issue Type: <b>Bug</b>

I keep all my dotfiles and settings in [a repo](https://github.com/szhu/important-things), and my `settings.json` is symlinked into that repo. Whenever I open Preferences > Settings, my repo is added to the source control sidebar.

Steps to reproduce on Mac:

0. Quit VSCode
1. `mv "$HOME/Library/Application Support/Code/User" "$HOME/mysyncedusersettings"`
2. `cd mysynceduse

[2018-03-27 21:25] kieferrm commented on #46595
@auchenberg  @mjbvz New insider builds are available for download.

[2018-03-27 21:26] ramya-rao-a opened #46764 "Missing quoting in tasks.json makes all other tasks disappear"
Testing #46567 on Mac

The below tasks.json is missing the `quoting` property in the args. There are no errors which would make you think that there is a default value for this property

[code]

Now run the command `Tasks: Run Task`. You get:

<img width="628" alt="screen shot 2018-03-27 at 2 25 09 pm" src="https://user-images.githubusercontent.com/16890566/37995869-aceeee12-31ca-11e8-8378-8d2b3f1

[2018-03-27 21:27] roblourens commented on #46494
Can you search anywhere else in this project? Are you missing lots of files or just a few particular ones in public?

[2018-03-27 21:27] peterschussheim commented on #46033
🤦‍♂️  My bad...yes I meant the comment style `{/*<Jsx></Jsx>*/}`.

I will look around for an existing bug report.

[2018-03-27 21:32] roblourens opened #46765 "Large file notification doesn't show when opening fresh Code"
Testing https://github.com/Microsoft/vscode/issues/46602

- Close all instances of vscode
- Run `code-insiders myLargeFile.txt`
- Empty code window opens, no file or notification

[2018-03-27 21:34] gushuro opened #46766 "Process Picker: Newer processes should be on top of the list"
Testing #46582

I have older processes showing before new ones (see PIDs)

<img width="598" alt="sort" src="https://user-images.githubusercontent.com/5607882/37996035-3701df92-31cb-11e8-8eea-474d5984af56.png">

Steps to reproduce:
1. `Yarn run watch` on vscode repo
2. Launch node app
3. Attach to process --> it shows the watch process first

[2018-03-27 21:34] #46701 closed

[2018-03-27 21:35] mjbvz commented on #46033
Yes using `//` is by-design when you are commenting the outermost tag of jsx. Within the tag itself, we should use  `{* ... *}`style comments

[2018-03-27 21:38] #46440 closed

[2018-03-27 21:40] chrisdias commented on #46555
LGTM, tested on MacOS

[2018-03-27 21:40] #46555 closed

[2018-03-27 21:41] weinand commented on #46766
This is on macOS?

[2018-03-27 21:44] roblourens opened #46767 "Wrong limit size in large file notification, when size is configured"
Testing https://github.com/Microsoft/vscode/issues/46602

- Set `"files.maxMemoryForLargeFilesMB": 3`
- Open a large file
- See notification saying the limit is 4096 + the value of the setting

![image](https://user-images.githubusercontent.com/323878/37996608-1e64432e-31cd-11e8-9edb-5a0a6b8a1808.png)

[2018-03-27 21:44] gushuro opened #46768 "Process Picker should disappear on focus lost"
Testing #46582
Launch process picker command and click elsewhere (terminal, open editor). The process picker remains open, and the only way to close it is manually click in the input box and press `esc`.

Related to the focus issue, try the following:
1. Open Process Picker
2. Open Command Palette (via contextual menu or cmd+shift+p)

Outcome --> The Command Palette opens, but disappears inmediate

[2018-03-27 21:48] #46537 closed

[2018-03-27 21:49] mjbvz opened #46769 "Syntax highlighting of conditional breakpoint expression"
**Feature Request**
With #2268, we now have IntelliSense for conditional breakpoints. However there is no syntax highlighting:

![screen shot 2018-03-27 at 2 48 08 pm](https://user-images.githubusercontent.com/12821956/37996864-03058894-31ce-11e8-87b0-6a0df68235d9.png)

[2018-03-27 21:50] gushuro opened #46770 "Process Picker: Cannot connect to runtime process"
Testing #46582

Steps to Reproduce:

1. `node --inspect-port=1234 test.js`
2. Debug: Attach to Node Process

Outcome:
<img width="415" alt="cannotconnect" src="https://user-images.githubusercontent.com/5607882/37996820-d261c0b8-31cd-11e8-80fc-d8e89990acce.png">

Replacing step 1 for `node --inspect=1234 test.js` makes it work, so I'm not sure why its failing.

[2018-03-27 21:51] mjbvz commented on #46443
@bpasero It opens up the 'evil workspace' scenario. We also don't ever use the tsdk setting value from the user's workspace without their explicit confirmation

[2018-03-27 21:51] ramya-rao-a commented on #46713
Also, the bullets do not appear in the Problems pane or when F8. Why have them here?

[2018-03-27 21:51] #46443 closed

[2018-03-27 21:52] #46564 closed

[2018-03-27 21:52] weinand commented on #46770
duplicate of #46664.
Fixed in next Insiders.

[2018-03-27 21:52] #46770 closed

[2018-03-27 21:53] #46459 closed

[2018-03-27 21:54] #46587 closed

[2018-03-27 21:54] #46588 closed

[2018-03-27 21:57] #46600 closed

[2018-03-27 22:01] gushuro commented on #46766
Yes

[2018-03-27 22:04] mjbvz opened #46771 "[Issue reporter] File on extension: Cannot read property 'manifest' of null"
Testing #46595

**Steps to Reproduce:**

1. Install hot dog stand theme: https://marketplace.visualstudio.com/items?itemName=somekittens.hot-dog-stand
2. Restart vs code
3. Open issue reporter
4. Attempt to file issue against hot dog stand theme

**Bug**

[code]

Does this issue occur when all extensions are disabled?: No

[2018-03-27 22:07] roblourens opened #46772 "--max-memory should have sensible minimum"
Testing https://github.com/Microsoft/vscode/issues/46602

- Run `code-insiders --max-memory=1`
- Window crashes immediately

[2018-03-27 22:07] #46768 closed

[2018-03-27 22:08] mjbvz opened #46773 "[Issue reporter] Noop for extension with "issues" but no "repository" in package.json"
Testing #46595

**Steps to Reproduce:**

1. Install https://marketplace.visualstudio.com/items?itemName=goessner.mdmath
2. Restart vs code
3. Open issue reporter
4. Try filing issue against Markdown math

**Bug**
Noop. I believe the root cause is that this extension sets an `"issues" field"` but no `"repository"` field

Does this issue occur when all extensions are disabled?: No

[2018-03-27 22:10] #46602 closed

[2018-03-27 22:12] #46582 closed

[2018-03-27 22:21] mjbvz opened #46775 "[Issue Reporter] Title and body not actually required before hitting 'preview on github'"
Testing #46595

**Steps to Reproduce:**

1. Open issue reporter
2. Click `preview on github` without filling in anything

**Possible bug**
You don't have to enter a title or any content before clicking this button. Both of these fields indicate that they are required

[2018-03-27 22:22] mjbvz commented on #46771
Seems like this happens for all theme extensions

[2018-03-27 22:27] #46775 closed

[2018-03-27 22:27] BytewaveMLP commented on #45492
@Tyriar It's hard to say. Chrome doesn't have any flickering issues when the `ignore-gpu-blacklist` flag is disabled, but it does seem considerably less performant, and changing views (e.g. switching tabs) does seem to cause a sort of "wiping" effect much like VS Code was exhibiting. Discord, another Electron app, used to have a similar problem to the one noted in this issue, but it would only app

[2018-03-27 22:33] vvedachalam commented on #45851
![Uploading 2018-03-27 23_26_29-Error_ Cannot find module '.._net' · Issue #45851 · Microsoft_vscode.png…]()
Got same issue. I was unable to update VS code as it kept prompting 'program is running' even after I restart the system and didnt open any program other than vs code

[2018-03-27 22:34] vvedachalam commented on #45851
![2018-03-27 23_26_29-error_ cannot find module _net issue 45851 microsoft_vscode](https://user-images.githubusercontent.com/7630355/37998652-50b68c70-3217-11e8-82a1-c4a5fbe38a2b.png)

[2018-03-27 22:36] imdadahad opened #46776 "Fold all regions not working for VSCode"
- VSCode Version: Code-Insiders
- OS Version:

Steps to Reproduce:

1. Create a javascript file with some contents and specify a region e.g.:

[code]

2. Select command to 'Fold All Regions' and notice that the region does _not_ collapse as it should

[2018-03-27 22:37] StfBauer commented on #38730
@ldexterldesign In my case, it happens by accident the regular zoom worked as expected. Cannot test the cmdNumPad0 cause I don't have a NumPad on my notebook and never use a regular keyboard. 😀

[2018-03-27 22:41] roblourens opened #46777 "Debug console log source messages cut off text"
I've never noticed this before. The text always wraps correctly except for the last line - if it runs into the log source on the right side, then we lose some text.

![image](https://user-images.githubusercontent.com/323878/37998847-27811a4c-31d5-11e8-9f14-36dd6f86e902.png)

[2018-03-27 22:48] mjbvz opened #46778 "[Integrated Terminal] multiline links break on reflow"
Issue Type: <b>Bug</b>

Probably part of #23688

**Steps**
1. With a small terminal width
2. Print an link that will span multiple lines
3. Expand the terminal size
4. Click on link

**Bug**
Only the visible part of the link on the first line is opened. For example:

![screen shot 2018-03-27 at 3 44 32 pm](https://user-images.githubusercontent.com/12821956/37999097-2ccd68e2-31d6-11e8-8837-566c5aa9

[2018-03-27 22:48] rebornix commented on #46759
The root cause is our undo/redo stack now works on string instead of chunks.

[2018-03-27 23:05] thiagomajesk commented on #46374
@Tyriar I've found the problem by accident while reproducing my config settings to the insider's installation. This config seems to be the root of the problem:

[code]

PS.: I tested other background colors and It seems to be happening only for black. I'm using `#010101` to have the same effect while this isn't fixed.

[2018-03-27 23:09] mjbvz opened #46779 "Emmet wrap with abbeviation preview shows tabs instead of spaces"
Issue Type: <b>Bug</b>

Testing #44833

**Steps**
1. With `"editor.renderWhitespace": "all"`
1. In an html file

[code]

1.  Select a + b
1. Run `Wrap with abbreviation`
1. Type div

**bug**
In the preview, see tabs for the indentation instead of spaces.

![screen shot 2018-03-27 at 4 06 29 pm](https://user-images.githubusercontent.com/12821956/37999756-2156fa48-31d9-11e8-853c-a377865ccbd9.png)

T

[2018-03-27 23:10] gushuro commented on #46745
The same happens in this case:
[code]
We need to improve how to look for the selector of a rule.

[2018-03-27 23:16] petervrichards commented on #46606
here's the get packages errors
[flutter_gallery] flutter packages get
Running "flutter packages get" in flutter_gallery...
Package collection has no versions that match 1.14.5 derived from:
- async 2.0.6 depends on version ^1.5.0
- barback 0.15.2+15 depends on version ^1.5.0
- boolean_selector 1.0.3 depends on version ^1.5.0
- crypto 2.0.2+1 depends on version ^1.0.0
- flutter 0.0.0 depends on ver

[2018-03-27 23:18] mjbvz opened #46780 "[html] Don't show .files in html path completion"
Issue Type: <b>Bug</b>

**Steps to reproduce**
1. In a new folder with a git repo
1. In an html file, trigger path completions

**Bug**
Suggestions for `.git` and `.DS_Store` files and folders are shown. I think path completions should exclude all `.*` files by default:

![screen shot 2018-03-27 at 4 11 50 pm 3](https://user-images.githubusercontent.com/12821956/38000004-5d5f4b84-31da-11e8-90c1-2a

[2018-03-27 23:26] philipwhite opened #46781 "JSX Formatting issue"
Issue Type: <b>Bug</b>

This snippet from the meteor tutorial does not get formatted cleanly. Note especially the ending label tag.
[code]

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|Load

[2018-03-27 23:26] sbatten opened #46782 "Auto attach is not working on Windows"
Testing #46570

On Windows 10, I am unable to see this feature working at all. I have a simple server.js file with a recursive setTimeout and am using Node v8.9.7. I use inspect and inspect-brk with no success. I can however use the UI to attach after launching from the integrated terminal.

[2018-03-27 23:40] rebornix commented on #46694
@dbaeumer nice catch, thank you!

The lag is caused by following code paths

* As it's JSON file, we will run bracket matching against the whole content, which would take hundreds of ms in this case
* While we build the undo/redo stack, we tried to access the changed buffer, which is tens of MB in this case , operations on such a string is slow.

[2018-03-27 23:40] roblourens opened #46783 "Create api SourceBreakpoint without using constructor"
Testing https://github.com/Microsoft/vscode/issues/46572

I would prefer to use the second form below to create a SourceBreakpoint, but it doesn't work, presumably because of some logic in the class. It actually causes `onDidChangeBreakpoints` to fire, but doesn't show a breakpoint in the editor, so one of those things is probably a bug.

[code]

Alternately, if we can't allow the second version,

[2018-03-27 23:40] heuripedes commented on #46598
It took a long time to trigger the issue, check the the last 30s or so. This time in particular it happened when I was typing in a Python file and the completion popup was on screen, something like the picture attached:

1.  I typed `self.` and the popup appeared.
2. I started typing `object` but only the `o` was visible, the code editor was already unresponsive and I typed random things.
3. I foc

[2018-03-27 23:52] roblourens opened #46784 "First char is 0 or 1?"
Testing https://github.com/Microsoft/vscode/issues/46572

- Add a normal column breakpoint on the first column of a line
- The debug adapter gets setBreakpoints with character=1 ✔️
- Have an extension that sets a column breakpoint at the cursor location
- `vscode.window.activeTextEditor.selection.start` has character=0
- The debug adapter gets setBreakpoints with character=0, problem because it as

[2018-03-27 23:55] #46748 closed

[2018-03-27 23:56] #46572 closed

[2018-03-28 00:15] garyking opened #46785 "With no file in focus, "Reveal in Finder" should open the workspace's folder"
With no file in focus, if I use the Command Palette and choose "Reveal in Finder", then the workspace's folder should be opened. If it's a workspace, of course.

[2018-03-28 00:16] #46773 closed

[2018-03-28 00:17] ramya-rao-a commented on #45790
Fixed with https://github.com/Microsoft/vscode-emmet-helper/commit/e65366661b8079f69292ac3a51538183a7971afa

[2018-03-28 00:17] #45790 closed

[2018-03-28 00:27] #46771 closed

[2018-03-28 00:28] heuripedes commented on #46598
Another big profile, check the last 15s of this one.

This time it happened when I was scrolling on a HTML file. After focusing a different window and returning to Code the problem was gone.

[CPU-20180327T212548.cpuprofile.gz](https://github.com/Microsoft/vscode/files/1854179/CPU-20180327T212548.cpuprofile.gz)

[2018-03-28 00:33] #46767 closed

[2018-03-28 00:34] RaulRamaya1 commented on #46674
Ha - you are right!   Somehow a case change to a folder slipped through in an earlier commit.    The indirect renaming steps (change name to xxx, commit, then back to desired name, commit) resolved the issue.     (Windows box)

[2018-03-28 00:36] roblourens commented on #44491
Debugging, I think there are two instances. `create` is called twice and on different instances.

[2018-03-28 00:49] kieferrm opened #46786 "Rearrange the fields in the issue reporter"
Issue Type: <b>Bug</b>

Testing #46595.

The sequence of fields should be reordered so that we have:

This is a  "Bug Report"
For  "Visual Studio Code"
Title "the bug report title"

and

This is a  "Bug Report"
For  "An Extension"
Extension "Extension"
Title "the bug report title"

VS Code version: Code - Insiders 1.22.0-insider (5fbcfff69a9af92efd823f18e4c9f4b8c4dbdf2a, 2018-03-27T20:55:46.655Z)

[2018-03-28 00:51] kieferrm opened #46787 "Help text unneeded when filing an issue against an extension"
Issue Type: <b>Bug</b>

Testing #46595.

"Try to reproduce the problem after disabling all extensions and reloading the window. If the problem only reproduces when extensions are active, it is likely an issue with an extension."  is not needed when I selected to file an issue against an extension.

VS Code version: Code - Insiders 1.22.0-insider (5fbcfff69a9af92efd823f18e4c9f4b8c4dbdf2a, 2018-03-2

[2018-03-28 00:56] kieferrm commented on #46595
👍

[2018-03-28 01:02] chiragrupani opened #46789 "Feature Request: Dragging and dropping scripts or styles file in html should generate link to file"
Currently, the dragging file over the editor opens that file in the editor.

More desired behaviour would be:

- [ ] Dragging the JS file should generate script tag with relative file generated for that file - no more double dots to figure out

- [ ] Dragging the CSS file should generate link tag with relative file generated for that file - no more double dots to figure out

- [ ] This can also be

[2018-03-28 01:03] baranelitez opened #46790 "justify-items autocomplete problem"
- VSCode Version: 1.21.1
- OS Version: Happens in OS X and Linux

Issue:
CSS autocomplete on "justify-items" only reccomends the values "inherit,initial and unset" . Also, the color tagging is of an unknown property.

Does this issue occur when all extensions are disabled?: Yes

[2018-03-28 01:05] #46712 closed

[2018-03-28 01:14] #46730 closed

[2018-03-28 01:17] roblourens commented on #46735
I think this is essentially https://github.com/Microsoft/vscode/issues/44491

[2018-03-28 01:17] #46735 closed

[2018-03-28 01:20] Xusine1131 opened #46791 "Extension host terminated unexpectedly when open python files"
I have encountered this issue when using VSCode(not insider version) and I try to reinstall it but nothing enhanced. So I try to using Insider version and it performs well at first but this problem repeats today.

- VSCode Version: 1.22.0-insider
- OS Version: Windows 10 Pro x64 10.0.16299

Steps to Reproduce:

1.Open a py file using VSCode
2.Extension host terminated unexpectedly.

I have install

[2018-03-28 01:28] vikyd commented on #45714
No problem for me now.
Solution:
- At first, I have set proxy in cmd by `set http_proxy=myProxyHost:port`
- That's not correct, the correct answer is: `set http_proxy=http://myProxyHost:port`
  - yeah, I miss the `http://`

All works.

This also solves the problem when running `yarn`:
`vscode-ripgrep: Downloading ripgrep failed: Error: connect ETIMEDOUT`

[2018-03-28 01:30] Zone-Ghost commented on #18676
Seconding this... Would be incredibly useful to be able to compare all changes made since the branch was started.  I'm constantly flipping between feature branches and committing my work in each and having the ability to review all changes easily would be great.  Git-tree-compare works well enough, but having it native with all the other bells and whistles would be nice.

[2018-03-28 01:31] roblourens commented on #46733
I could...

- Give the TreeResourceNavigator the ability to focus a file without opening it, even when openOnFocus is set on the tree, via the focus payload
- Right now we only focus the tree here because the active menu items are set with context keys that depend on focus. We could also skip the context keys and return the correct actions by checking `element` in `onContextMenu`. Using context ke

[2018-03-28 01:31] ramya-rao-a commented on #45663
Sounds good. Hard coding the message in the core languages is the simplest way to go. Hidden tags for just one message feels like an overkill

[2018-03-28 01:50] panglongqi commented on #46532
@bpasero all folders。

[Code - Insiders__PID__3856__Date__03_28_2018__Time_09_47_25AM__915__Log.txt](https://github.com/Microsoft/vscode/files/1854316/Code.-.Insiders__PID__3856__Date__03_28_2018__Time_09_47_25AM__915__Log.txt)

[2018-03-28 02:06] #46603 closed

[2018-03-28 02:10] hollandThomas opened #46792 "Feature request: snippets inside of tagged template literals"
I'd like to suggest a feature, if possible. When working with [styled-components](https://github.com/styled-components/styled-components), you often find yourself writing things like `${props => props.theme.colors.gray.dark};` inside of a tagged template literal kinda like this:

[code]

For that I made a snippet. Unfortunately one cannot seem to invoke snippets inside of tagged templates or any s

[2018-03-28 02:17] wysisoft commented on #12448
How is this bug not fixed? I'm suffering. VSCode allows me to open two files with the same name and they have different content, even after saving (how is this even possible? shouldn't the file watcher kick in?). This is making VSCode unusable for me.

[2018-03-28 02:18] JCaraballo113 opened #46793 "Emmet abbreviation suggestions suddenly stop showing up in JSX files"
Issue Type: <b>Bug</b>

Open a jsx file, use emmet abbreviations. At some point, it's random the abbreviation suggestions menu dissapears and you can no longer autocomplete html tags in .jsx files.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|I

[2018-03-28 02:19] movsb opened #46794 "Markdown preview render error"
Issue Type: <b>Bug</b>

The following markdown text will not be redered properly:

markdown:

[code]

preview:

[code]
expect parenthesis to be bold.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz (4 x 290

[2018-03-28 02:29] petervrichards commented on #46606
here's the bug file
peter richards

From: "Dirk Bäumer" <notifications@github.com>
To: "Microsoft/vscode" <vscode@noreply.github.com>
Cc: "petervrichards" <nrichards@telus.net>, "Mention" <mention@noreply.github.com>
Sent: Tuesday, March 27, 2018 2:03:19 AM
Subject: Re: [Microsoft/vscode] Flutter exmples (#46606)

@petervrichards can you please provide more information. Flutter examples were never

[2018-03-28 02:30] DonJayamanne commented on #42521
I didn't mean anything if that sorts. However he fact that it is bundled with vscode will always make it easier to use native dependencies than external extensions. Everytime a new version of vscode is released  nodejs debugger is bundled.
Extension authors will have to worry about compatibility of older versions of extensions with newer versions of vscode (and vice versa). That's where nodejs deb

[2018-03-28 02:32] sean-mcmanus commented on #12448
@wysisoft What feature is causing the incorrectly cased file to be opened? I used to hit this when using the C/C++ debugger, but they fixed that (i.e. by getting the correct casing before sending it to VS Code), so I never hit this problem now. I assume the root VS Code bug exists, but if the feature provider doesn't send the incorrectly cased file name to VS Code then it shouldn't repro.

[2018-03-28 02:34] simlevesque commented on #35675
@peterducai I tried your package on a new install and it did not fix the issue. Downgrading freetype worked instantly.

[2018-03-28 02:40] stridercheng opened #46795 "start too slow"
Application startup is too slow.
The command window does not automatically close after startup by entering "code"  in the command line

[2018-03-28 02:43] Goblinlordx commented on #42174
@robertohuertasm Any update on this?  There seem to have been a 2 releases since but it seems the update still hasn't been pulled in.

[2018-03-28 02:44] kzhui125 commented on #21071
I'd like to have a setting:
copy without coloring
copy with theme1
copy with theme2

I want to use dark theme and copy with light theme

[2018-03-28 02:53] mattacosta commented on #44122
QFT.

Also, what about a compromise, where the method gets added documentation along the lines of:
[code]

[2018-03-28 02:56] Postnov opened #46796 "Не работает ввод в терминале после просмотра git diff"
Issue Type: <b>Bug</b>

После просмотра данных в терминале, сообщенных мне git diff, я нажимаю ctrl + c для выхода из просмотра, после этого не удается ничего ввести в терминал, курсор есть, но символы не вводятся. После удаления и создания терминала заново, все работает как надо

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_

[2018-03-28 02:56] moseleyi opened #46797 "Changing font colour of the file tree"
I would like the settings for themes to have ability to change the font size and font colour of the tree list (file explorer). I can see the themes change it but can't find ability to change it to a custom colour.

[2018-03-28 03:18] Loovelj opened #46798 "pylint moudle has no member"
- VSCode Version:1.21.1
- OS Version:Win10

Steps to Reproduce:

1.I write python , and I hava the moudle opencv2,  when I write
import cv2
cv2.imread('lena.jpg')

the pylind let the cv2 red ,and note
'[pylint] E1101:Module 'cv2' has no 'imread' member
module cv2
Python wrapper for OpenCV.'

but I can run the code

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-28 03:30] jeanp413 commented on #45646
I'm having the same issue in Windows 10 10.0.16299 with javascript and typescript files.
I have tested it on a Ubuntu VM and it works fine there.
I don't have any extensions installed.

[2018-03-28 03:33] laixintao commented on #46798
That's not a issue of vscode, maybe your pylint and opencv2 are not in the same virtualenv.

[2018-03-28 04:00] luqiangbo commented on #46225
@iHuahua 你牛逼你给我解决了啊, 装Bdog

[2018-03-28 04:02] mjbvz opened #46799 "Add loading indicator for first terminal open"
Issue Type: <b>Bug</b>

**steps**

1. With panels view hidden.
2. Restart vscode.
3. Press ctrl+` to launch integrated terminal

**Bug**
1-2 second delay before terminal launches with no indication that something is happening. Opening the terminal after the first time is quick

VS Code version: Code - Insiders 1.22.0-insider (5fbcfff69a9af92efd823f18e4c9f4b8c4dbdf2a, 2018-03-27T20:55:46.655Z)
OS v

[2018-03-28 04:06] NicolasDorier commented on #36630
Same issue here. Same command work in a separate powershell, not in the integrated terminal.

[2018-03-28 04:10] EsqerYasen opened #46800 "设置 json launch 太难了"
Issue Type: <b>Feature Request</b>

设置那些东西太难了  我两台你一直在设置  但是还是没有成功  我需要帮助。 这个得到用户权限以后自己去匹配相应的path不好吗? 老是出问题   问题没有中文提醒   如果你可以帮助我  联系我  我的微信 askary

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

[2018-03-28 04:18] mjbvz opened #46801 "Cannot zoom editor window after opening issue reporter"
Issue Type: <b>Bug</b>

**Steps**
1. Open issue reporter
2. Click back on main vscode window
3. Press cmd + to zoom in or cmd - to zoom out

**Bug**
No zoom

Seems to start working again after switching back to issue reporter and then back to editor window again

VS Code version: Code - Insiders 1.22.0-insider (5fbcfff69a9af92efd823f18e4c9f4b8c4dbdf2a, 2018-03-27T20:55:46.655Z)
OS version: Darwin

[2018-03-28 04:29] #46798 closed

[2018-03-28 04:33] mjbvz commented on #46781
Thanks. This has the same root cause as https://github.com/Microsoft/TypeScript/issues/20766

Closing as upstream

[2018-03-28 04:33] #46781 closed

[2018-03-28 04:41] alanaasmaa commented on #17920
@jmo84 i like this approach very much !

[2018-03-28 04:42] bpasero commented on #45569
@Tyriar I am just worried that something generic as watching `process.argv[0]` could be triggered by other things than us.

[2018-03-28 04:43] bpasero commented on #45490
@davidgu @bartvanheukelom does it reproduce with https://az764295.vo.msecnd.net/exploration/cf078a8a932cd399f9e475b5ad4226bbc93543ab/code-exploration-1.22.0-1522130024_amd64.tar.gz ?

[2018-03-28 04:44] bpasero commented on #46743
Yes, this is as designed. There are two main reasons:
* we do not want to allow to show negative progress (e.g. you jump from 80% to 20%)
* more importantly we think that absolute progress is much harder to implement if you have two independent running tasks that finish in any order you need to synchronise somehow to know how much progress to report

[2018-03-28 04:47] bpasero commented on #46743
Maybe part of the confusion is the name percentage that seems to indicate an absolute value. @jrieken should we rename this to `worked` instead or some other name that makes the relative progress more clear?

[2018-03-28 04:48] bpasero commented on #46731
@Tyriar no never, works fine.

[2018-03-28 04:48] bpasero commented on #46750
Good point and there might actually be more settings that should show a warning.

@sandy081 how can I mark my setting as global one only?

[2018-03-28 04:49] AmnArora opened #46802 "Code following a single line comment appears like commented"
Hi,

After I recently updated VS Code, I am facing an issue wherein the code following a single line comment like /* 3*/ appears to be commented but isn't.

![selection_003](https://user-images.githubusercontent.com/16914455/38009301-2a83d29c-3271-11e8-85d9-840c33abdbb4.png)

But this gets fixed if we move the comment to next line.

![selection_004](https://user-images.githubusercontent.com/169144

[2018-03-28 04:51] #46554 closed

[2018-03-28 04:52] bpasero commented on #46532
@panglongqi even a folder that has no chinese letters in it but just ASCII?

[2018-03-28 04:58] chrmarti opened #46803 "Multi-select picker API: use 'canPickMany' and 'picked'"
/cc @jrieken

[2018-03-28 05:14] #46578 closed

[2018-03-28 05:17] bpasero commented on #46643
@isidorn if you want to play around with async context menu, the branch `tyriar/electron-2.0` has it all. Still I think you cannot rely on the DOM events here because we open a native context menu.

[2018-03-28 05:28] bpasero commented on #46517
@z2x
VS Code is using different file watching strategies depending on your OS and your setup.

First thing to check:
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)

To find out more about this issue, please first answer this:
* [ ] What OS are you on
* [ ] Does this happen from an empty workspace, a single-folder workspace or a mu

[2018-03-28 05:29] bpasero commented on #46534
@marinehero
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)

**To find out more about this issue, please first answer this:**
* [ ] What OS are you on
* [ ] Does this happen from an empty workspace, a single-folder wo

[2018-03-28 05:29] bpasero commented on #45862
@bertolottipf
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)

**To find out more about this issue, please first answer this:**
* [ ] What OS are you on
* [ ] Does this happen from an empty workspace, a single-folder

[2018-03-28 05:36] bpasero commented on #42810
This is because we ignore changes in `node_modules` folder. To lift this, you can change the `files.watcherExclude` setting to not ignore this folder.

[2018-03-28 05:36] #42810 closed

[2018-03-28 05:36] bpasero commented on #41794
@tuanakka0101
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issu

[2018-03-28 05:38] hjkcai commented on #46800
为啥不百度一下？
Why don't you google it?

[2018-03-28 05:40] ghost opened #46804 "[themes] Expose more styles for borders (editorBracketMatch.border)"
- VSCode Version: 1.21.1
- OS Version: macOS

Hi, currently you can set `editorBracketMatch.border` from all angles. My suggestion is to add the ability to border - bottom, top, right or left.

For e.g.

`"editorBracketMatch.border": ["bottom", "#fff"]`

I like, like it's in Atom where `editorBracketMatch.border` by default is to the bottom, I know we have HC themes and we need to keep it from all

[2018-03-28 05:46] bpasero commented on #41222
@peony-ma
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, p

[2018-03-28 05:47] bpasero commented on #40626
@nngocit
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, pl

[2018-03-28 05:47] #39538 closed

[2018-03-28 05:48] bpasero commented on #39030
This sounds to me like an issue with webpack not VS Code. Closing.

[2018-03-28 05:48] #39030 closed

[2018-03-28 05:48] hjkcai opened #46805 "Weird black line shown under macOS menu bar when vscode is focused"
- VSCode Version: 1.12.1
- OS Version: macOS 10.13.3

Steps to Reproduce:

1. Uncheck 'Use dark menu bar and Dock' option in system preference
2. Open a new vscode window
3. Switch it to fullscreen
4. Switch it back and you will see the black line under the menu bar

![image](https://user-images.githubusercontent.com/731326/38011041-53e14102-328e-11e8-826c-a2a6bff6700a.png)

5. Move focus out of v

[2018-03-28 05:49] #46159 closed

[2018-03-28 05:50] bpasero commented on #35699
@evilj0e
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, pl

[2018-03-28 05:51] Xusine1131 commented on #46791
Oh I make a typo..
Does this issue occur when all extensions are disabled?: No
So sorry..

[2018-03-28 05:51] bpasero commented on #31600
@testing-in-chrome
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this

[2018-03-28 05:51] bpasero commented on #30372
@woolson
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, pl

[2018-03-28 05:52] bpasero commented on #29023
@theklr
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, ple

[2018-03-28 05:53] bpasero commented on #28432
People seeing this issue, here is some steps to get more info:

VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignore

[2018-03-28 05:53] roblourens commented on #42174
This is fixed in 1.22, insiders or stable release coming next week. The last ripgrep update was delayed from 1.21 due to some other issues.

[2018-03-28 05:53] #42174 closed

[2018-03-28 05:54] bpasero commented on #23029
@caiqi
VS Code is using different file watching strategies depending on your OS and your setup.

**First thing to check:**
* [ ] I verified that the issue still reproduces in our insiders version (https://code.visualstudio.com/insiders/)
* [ ] I verified that this issue is happening outside of a `node_modules` folder. Our file watcher ignores this folder!

**To find out more about this issue, plea

[2018-03-28 06:00] hkdAdminHkGithub opened #46806 "Tag style and script tag in php file do not work!"
Not working autocomplete tag script and style!

[2018-03-28 06:06] nehashri commented on #7340
@jrieken Sorry, if I misunderstood your statement yesterday. You mean that only the range will be provided. To be correct, my range would have the text `Number of vowels in "apple" is "2".` but I would like the input box to be populated with `Number of words in <word> is <numberOfVowels>.`. So, when you say that it would work with the proposal, what do you mean?

[2018-03-28 06:06] Antisunny opened #46807 "'Keep Open' menu entry should show disabled when editor is pinned"
when 'keep Open' a tab, there is no indicator that show its status (this tab has been kept open)

- VSCode Version: Version 1.21.1 (1.21.1)
<img width="315" alt="capture 2018-03-28 at 14 02 57" src="https://user-images.githubusercontent.com/2398514/38011695-041b3ac6-3291-11e8-8e3c-143c63572e8f.png">

- OS Version: macOS 10.13.3

Does this issue occur when all extensions are disabled?: Yes

[2018-03-28 06:08] EsqerYasen commented on #46800
I did , but  couldn't find the answer that matches my problem

Sent from my iPhone

On 28 Mar 2018, at 1:39 PM, Jingkun Hua <notifications@github.com<mailto:notifications@github.com>> wrote:

为啥不百度一下？
Why don't you google it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/vscode/issues/46800#issuecomment-37676

[2018-03-28 06:12] sandy081 commented on #46750
@bpasero We do not have Global / User settings. We have only Window / Resource settings.

[2018-03-28 06:13] sandy081 commented on #32003
@mjbvz There should not be any border below Explorer.

[2018-03-28 06:16] franklin-ross commented on #36913
I see. Thanks @Tyriar, I'll give it another go this long weekend and see what comes out of it.

[2018-03-28 06:17] sandy081 commented on #46236
@axetroy Can you please be more specific about complicated conditions? Currently `and`, `not` and `regex` conditions are supported.

[2018-03-28 06:18] sandy081 commented on #46696
@Tyriar Following is the API to read configurations

`vscode.workspace.getConfiguation()`

But I do not think there is an API to resolve variables.

@isidorn might have an idea?

[2018-03-28 06:19] LeThiHyVong opened #46808 "Search term navigation stop working when assigning same shortcut to compare editor"
Issue Type: <b>Bug</b>

I assigned `Alt+Up` to `workbench.action.compareeditor.previouschange` and `Alt+Down` to `workbench.action.compareeditor.nextchange`.
Then Alt+Up and Alt+Down in search (Ctrl+F and Ctrl+Shift+F) stop working.

How can it be?

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<sum

[2018-03-28 06:23] #46745 closed

[2018-03-28 06:30] tksuoran opened #46809 "files.exclude and .watcherExclude combination "**": true, "foo": false"
I want to exclude everything except paths I list. I tried to use "**": true, "paths": false, but this does not seem to work. I hope you could support this use case. Thank you.

[2018-03-28 06:33] bpasero commented on #46750
@sandy081 then we might have a bug, try to set the `typescript.tsserver.pluginPaths` setting as workspace setting and notice the error.

[2018-03-28 06:39] LordLafayette opened #46810 "Lag issue when cursor on text"
Issue Type: <b>Bug</b>

program lag somethime  then when i unfocus program to another programe,
it fix this issue.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|Memory (System)|11.89

[2018-03-28 06:40] LordLafayette commented on #46810
it not lag it freeze.

[2018-03-28 06:54] Lev09 opened #46811 "Can't see lodash (underscore ) in Integrated terminal"
Issue Type: <b>Bug</b>

Open the terminal and type underscore (lodash) you will not see it.
I know this issue was reported somewhere in 2017, but it seems to come back again

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:30.761Z)
OS version: Linux x64 4.8.0-34-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2018-03-28 07:01] egamma commented on #46569
I´ve tested the API by implementing an explorer for npm scripts and the API covered this scenario well.

![image](https://user-images.githubusercontent.com/172399/38013757-8fe7676c-3266-11e8-81a8-efae00c67f49.png)

[2018-03-28 07:01] #46569 closed

[2018-03-28 07:08] panglongqi commented on #46532
@bpasero When an **.xls** file and a **.xlsx** file are in the same path, it crashed。no matter the folder  is Chinese letters or ASCII。

![3](https://user-images.githubusercontent.com/5959230/38014048-d09a138a-3299-11e8-9ad7-9f9df87d0f9c.png)

[2018-03-28 07:19] byanjiong opened #46812 "Multiple section sidebar (Feature request)"
It is possible to implement a multiple section (or at least 2) sidebar? Some developers may code their project in different folder (i.e. front-end and back-end). It will be nice if the sidebar can have 2 section, and each section has it own scrollbar. Currently, when I need to find the server code, I need to scroll... and scroll... and scroll to the bottom... and when I need to find the front-end

[2018-03-28 07:23] jrieken commented on #46743
Yeah, discussed that with @joaomoreno yesterday and came to the same conclusion. I would go for `increment` because that leave no room for interpretation...

[2018-03-28 07:23] Boddlnagg commented on #12448
@sean-mcmanus I'm also still hitting this, because our build system sometimes spits out paths with different casing (one could argue that this is the actual problem, but it has not been a problem so far with the rest of our tooling). When I then use Ctrl+Click the file is opened again even though the file is already opened (with the "correct" casing). The same happens when I use vscode-cpptools' e

[2018-03-28 07:28] jrieken commented on #46647
How is this upstream? It us surfacing the command and us to sell it - either as code action or as command?

The approach taken is wrong and reminds me of the formatting-via-command-story (not as provider)  for which we went great lengths to educate users. Now we set the same bad sample and even today things aren't working properly: in my install I have the Java extension which uses the same anti-p

[2018-03-28 07:31] Goblinlordx commented on #42174
:+1: Thanks~

[2018-03-28 07:32] PmuYi opened #46813 "Can't change the “git path”"
well I can't sign in stackoverflow at this time. Maybe there are some question with my computer.

I am a beginer. and I can't find the answer though the help. And I try to search the answer though the internet, the way they show can't hlpe me .
- VSCode Version:1.21.1
- OS Version: win 10

Steps to Reproduce:

1.look the picture below,when I change the var of the "git path" in user's setting
2.The

[2018-03-28 07:33] egamma opened #46814 "Issue reporter - disable extensions should be a button and not a link"
It is great that you can disable all extensions from the issue reporter. However, I got tricked by the fact that the action is triggered by link.

![image](https://user-images.githubusercontent.com/172399/38014976-a2a1c358-326a-11e8-8914-369124d0e96c.png)

I was expecting that the link points me to some documentation for how to do it. I therefore suggest that the link is replaced with a button (di

[2018-03-28 07:34] jianguile opened #46815 "where to get source code of OpenDebugAD7.exe ?"
I want to add some feature to c++ debug extension--cpp tools,
but can't get source code when vscode and MIEngine are avaliable.
Where can I get source code ?
Thanks a lot.

[2018-03-28 07:34] chrmarti commented on #46229
@bpasero Interestingly the login window makes it to the front when the command is run in an external terminal. Is Electron doing something that affects that or is it the external terminal?

[2018-03-28 07:39] jrieken commented on #46792
Please share the snippet and the language the snippet is configured for. Also use F1 > Inspect TM Scopes to see what language is used inside the tagged string

[2018-03-28 07:43] chrmarti commented on #46747
The filtering is done to simplify checking items in a large list. That simplification should not interfere with which items are already checked. The user might just want to add to the existing selection.

The fact that not all checked items are visible is a down-side, but that also happens when the list is large and not all checked items fit within the viewport. While that might be improved, I don

[2018-03-28 07:44] #46743 closed

[2018-03-28 07:45] bpasero commented on #46743
Verify: I renamed `percentage` to `increment` to report progress increments.

[2018-03-28 07:45] joaomoreno commented on #46813
The default setting never changes. What changes is the user setting. Also, you should point to `git.exe`, not the folder where `git.exe` is located.

[2018-03-28 07:45] #46813 closed

[2018-03-28 07:46] bpasero commented on #46229
@chrmarti I am not aware of either. Maybe an external terminal always ensures that the launched process can grab foreground somehow?

[2018-03-28 07:46] bpasero commented on #46229
I guess another way to try this out is to just run any program from our integrated terminal and see if that program is able to launch in foreground.

[2018-03-28 07:48] alpaix commented on #45980
Agreed on not caching the task entries. This would make the design consistent with the rest of the product.

[2018-03-28 07:49] isidorn commented on #46696
@DanTup @sandy081 there is no extension API to resolve variables
We do not support variables resolving in settings inside vscode (there is a seperate feature request). Dut to the above it is not possible to read settings in the API and resolve variables

[2018-03-28 07:49] jrieken commented on #7340
Yeah, you won't be able to do that. In your sample, assuming I can replace values with arg-names, what happens if I 'rename' things to: `Number of words in <word>.` (removing an arg) or `Number of words in <word> is <blablabla>.` (renaming an arg)? Is that allowed and supported?

[2018-03-28 07:49] bpasero commented on #46532
@panglongqi even if that file is empty? This sounds a lot like this other issue we had where I never got an answer: https://github.com/Microsoft/vscode/issues/29813 and https://github.com/Microsoft/vscode/issues/40930

[2018-03-28 07:50] joaomoreno commented on #46633
I was using Code's version.

![image](https://user-images.githubusercontent.com/22350/38015841-68449f7a-326d-11e8-8a4c-a050c70defcc.png)

[2018-03-28 07:51] aeschli commented on #46780
Hm, I disagree. 'Show hiden files' is normally the first thing I enable in my file explorers. It's just too confusing if you really look for such a folder.
Surely, the `.` entries clutter the suggestions here, but you would go on by typing and filtering your proposals.

[2018-03-28 07:51] joaomoreno commented on #46731
Same here.

[2018-03-28 07:52] isidorn commented on #2268
@rebornix thanks for adding verification needed, even though this was a bit covered by the log points test plan item

[2018-03-28 07:53] DanTup commented on #46696
My request here is not specifically about resolving variables, but rather about providing some solution to this problem. I don't think reading from the terminal path as suggested above is the best one. However, I do think it'd be good to provide some way for a user to be able to specify folder-level paths that would apply to in-built terminals *and* be readable by extensions to allow projects to b

[2018-03-28 07:53] isidorn commented on #46700
@mjbvz aha I understand, and then it becomes cumbersome if there are a lot of impots, thus you can not do this for all.

Still I feel like my first statement holds, and that these two actions are very connected in what they do but live in completely different places. Not sure how to bring them together but that would be a UX discussion.

[2018-03-28 07:54] aeschli commented on #46753
@ramya-rao-a Please always paste the sample code to speed up the investigations.
[code]

[2018-03-28 07:54] isidorn commented on #46769
This is a fair request and something we can experiment with in the future since this is now an editor

[2018-03-28 07:55] aeschli commented on #46753
This issue was moved to atom/language-sass#250

[2018-03-28 07:55] #46753 closed

[2018-03-28 07:56] joaomoreno commented on #46763
Maybe we need an ignored repositories list setting?

[2018-03-28 07:56] alpaix commented on #45980
Regarding 2-4. Will try to come up with a working prototype using the latest API we've got so far.

[2018-03-28 07:57] #45911 closed

[2018-03-28 07:58] alexandrudima commented on #46598
Unfortunately, in both CPU profiles there is nothing fishy at all. All the stack traces I see keep the UI thread busy for at most 10ms-20ms at a time, and then yield... This is normal...

![image](https://user-images.githubusercontent.com/5047891/38015889-8ab951d6-326d-11e8-89f4-56cb873ee2af.png)

I don't really know what could be wrong here... You could try to disable the GPU process (`code --dis

[2018-03-28 08:01] panglongqi commented on #46532
@bpasero no matter the file is empty or not , it crashed. Try it yourself.

[2018-03-28 08:03] jrieken commented on #46647
For reference - we [blogged about this](https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices) and tracked down every single formatter-command-extension with issues/PRs

[2018-03-28 08:11] mjbvz commented on #46647
I’m still not convinced that code actions are the right ux. The intended usage of organize imports is very much like format in that it is independent of cursor position and run on the entire current document. And format—whether implemented using providers or actual commands—is a command from the user’s perspective.

I’ve already submitted a pr against java for this. I agree that having an organize

[2018-03-28 08:12] icokk opened #46816 "Welcome page background color"
Welcome page's background is always set to editor background, while welcome page foreground colors depend on the theme (dark foreground for light theme, light foreground for dark theme). This makes welcome page unreadable in case that you have dark editor background with light theme. The same problem happens for extension documentation page.

Would it be possible to add a setting for welcome page

[2018-03-28 08:15] bpasero commented on #46532
@panglongqi I do on Windows 7 and cannot reproduce. The 2 linked issues were also not very helpful. I have no idea what this is.

Does it reproduce from this version of VS Code that is using a much newer UI framework version: https://az764295.vo.msecnd.net/exploration/c52be1294047741be296c2ced817b8246ab9942f/VSCode-win32-x64-1.22.0-exploration.zip

[2018-03-28 08:15] nehashri commented on #7340
@jrieken That should be upto the language server to handle it. In our case, we may invalidate the new text or fail to rename with an appropriate message. I am not sure why you are worried about that here.
We have actually implemented rename in other IDEs by provided the text to be renamed and its worked quite well for us. So I don't think you worrying about how such edge cases is handled is import

[2018-03-28 08:16] egamma opened #46817 "Issue reporter - show notification that running with extensions disabled"
Testing #46595
When selecting the link to run with disabled extension then we do everything automatically, even reloading the window (which is great). However, it is almost to transparent and @joaomoreno suggested to show a notification inside the workbench that VS Code is now run with extensions disabled..

[2018-03-28 08:16] weinand commented on #46782
If you are using PowerShell then this is most likely a duplicate of https://github.com/Microsoft/vscode/issues/46704

[2018-03-28 08:17] DanTup commented on #7340
Ok, apparently the behaviour I'm seeing with my language server is a bug. In most cases it does actually return the range for the symbol.

So, I'm going to take the range provided by my server and read that part of the document and see if it matches the `oldName` variable they provided me. If they do, then all is good and I will pass that range to Code and if it does not then I will reject the ren

[2018-03-28 08:19] weinand commented on #46570
Checking off for @sbatten since he did testing (despite the fact that he found an fundamental issue).

[2018-03-28 08:19] #46570 closed

[2018-03-28 08:19] isidorn commented on #46777
Yeah the log sources are screwing up my wrapping strategies. Nothing new, april to investigate how to fix

[2018-03-28 08:20] joaomoreno opened #46818 "Code PS: Shared process appears many times"
When running `code -s` I get:

[code]

Notice that there are two shared processes listed. This was also causing some confusion in #46598.

There are renderers which are neither the workbench nor the shared process. We should be able to unequivocally distinguish them, not based on the `--disable-blink-features=Auxclick` heuristic. Maybe we pass in extra flags which are ignored by Chrome, but we cou

[2018-03-28 08:20] joaomoreno commented on #46598
@alexandrudima I don't really trust those 3 shared process labels. Here's what I get from my machine:

[code]

I for sure don't have two shared processes running.

[This](https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/ps.ts#L95) tells me that pretty much every renderer which doesn't have `--disable-blink-features=Auxclick` appears as the shared process. That is definitely not tru

[2018-03-28 08:22] mjbvz commented on #46780
How often do you use paths in html files that include dot files or folders though? I’m sure it is done but is it really common enough to outweigh .DS_Store showing up as the first entry every time I trigger completions for a new path segment?

[2018-03-28 08:28] lsnch opened #46819 "Output Scroll Lock shouldn't be reset on quit"
So I use Code Runner a lot, and usually most interesting part of output is the first several lines. There's a button (Toggle Output Scroll Lock) to keep it from scrolling down, but it gets reset every time I relaunch. Is it possible to have a setting for this?

[2018-03-28 08:29] tksuoran commented on #13960
Any progress with this?

[2018-03-28 08:33] bpasero commented on #46818
@joaomoreno is this the issue reporter maybe?

[2018-03-28 08:34] bpasero commented on #46750
Renaming to reflect the desire. Once we have support for this I can make a pass to change it for specific settings.

[2018-03-28 08:36] violetice opened #46820 "F11 full screen problem | F11全屏的问题"
- VSCode Version: 1.21.1
- OS Version: Windows7 x64 NT6.1 7601

### EN
F11 full screen, The bottom is cover by the windows7 taskbar.
Difficult to reappear, This is a performance problem for PC, Instead of 100% will appear.
It may be the problem of Windows 7.
It does not affect use, but it is recommended to optimize.

### zh_CN
F11全屏，VScode的底部会被windows7的任务栏覆盖。
难以复现，这是PC的性能问题，并不会100%的出现。
也有可能是Window

[2018-03-28 08:36] weinand commented on #46815
Please ask this question on the cpp-tools repository: https://github.com/Microsoft/vscode-cpptools/issues

[2018-03-28 08:36] #46815 closed

[2018-03-28 08:37] Roby98Luce commented on #46625
I don’t have any extension installed.

Da: Rob Lourens [mailto:notifications@github.com]
Inviato: martedì 27 marzo 2018 18:55
A: Microsoft/vscode <vscode@noreply.github.com>
Cc: Roby98Luce <roberto@microlan.it>; Manual <manual@noreply.github.com>
Oggetto: Re: [Microsoft/vscode] PHP linguaggio non presente (#46625)

Could an extension be causing this? Can you launch vscode with --disable-extensions

[2018-03-28 08:39] oliversalzburg commented on #46414
When I was reading through #10546 I really liked the mockup from https://github.com/Microsoft/vscode/issues/10546#issuecomment-370917304.

From my point of view, having multiple debug console tabs (one for each running process) seems like a very attractive solution. But only if they aren't solved through the dropdown approach from the terminals, which does not have a good feel to it.

My approach

[2018-03-28 08:40] #45526 closed

[2018-03-28 08:45] bpasero commented on #46619
**Verify:** changing the encoding (Reopen with encoding) changes the encoding for both sides if 2 files are compared. Still works as before for single files.

[2018-03-28 08:45] #46619 closed

[2018-03-28 08:46] jrieken commented on #46647
Well, it will allow us to have something like `Context Menu > Refactor > Organise Imports`. I'd say that makes the feature way discoverable than the command palette with duplicate entries in which I need to scan language-prefixes (that hopefully exist, everybody could just call things 'Organise Imports').

Yes - everything is a command even IntelliSense but the point of well-know-thanks-to-api-com

[2018-03-28 08:49] #46125 closed

[2018-03-28 08:49] weinand commented on #46737
@Tyriar you didn't reply to my option 2 from above:

Does this make sense? How big would that be?

[2018-03-28 08:51] panglongqi commented on #46532
@bpasero  VSCode-exploration still crashes。

The 2 linked issues use Windows7 Chinese version,i use Windows7 Chinese version too.  I guess it is caused by character encoding。do you have a PC with Windows7 chinese-simplified?

I will try to reproduce this problem in the English version of the operating system at night . I will tell you the result tomorrow，Whether or not I reproduce this problem

[2018-03-28 08:52] chrmarti commented on #46229
`Start-Process "http://www.microsoft.com/"` opens Edge in front from the external terminal and behind from the integrated terminal (Chrome always opens in front).

The Login window is 'always on top' and modal to the external terminal. 🤔

Maybe the association between the integrated terminal's shell process with VS Code's window is somehow lost?

[2018-03-28 08:52] alexandrudima opened #46821 "Context menu on log point talks about "breakpoint""
Testing #45962

* add a log point
* right click on it
![image](https://user-images.githubusercontent.com/5047891/38018746-16d16462-3276-11e8-8db7-fedd1272a76e.png)

The actions should be context sensitive and talk about "log point", not "breakpoint"

[2018-03-28 08:52] jrieken commented on #7340
Invalidation is what I would have expected. I guess what I fail to see is the importance of showing `<word>` instead of `"apple"`. Isn't it all about substrings that must not be changed (no matter if they are printed as argument names or variables)?

[2018-03-28 08:54] alexandrudima opened #46822 "Log message editor should not paint cursor in overview ruler"
Testing #45962

Remove cursor via `hideCursorInOverviewRuler: true`:

![image](https://user-images.githubusercontent.com/5047891/38018846-5e3281d8-3276-11e8-920c-8a4c924a3c45.png)

[2018-03-28 08:56] alexandrudima opened #46823 "Log message should place cursor at the end"
Testing #45962

* Add a log point
* Edit the log point

![image](https://user-images.githubusercontent.com/5047891/38018946-a57659fc-3276-11e8-8e4a-d8c8830cff2a.png)

Observe, the cursor is placed at the beginning of the text, which feels awkward.

[2018-03-28 08:59] alexandrudima opened #46824 "Local variables are not suggested in log message completions"
Testing #45962

* add a log point
* very likely, in a log point, you might want to log the value of a local variable or argument to a function (i.e. not global variables)
* observe, the local variables are not suggested

![image](https://user-images.githubusercontent.com/5047891/38019107-03278a4e-3277-11e8-9250-f73b9cb82681.png)

[2018-03-28 09:03] alexandrudima opened #46825 "Log point should have dirty indicator"
Testing #45962

* create a log point with the message `I am in fib function`
* edit the log point and add `I am in fib function {nr}`
* do not close the log point and press F5

Observe, it is not clear why the number was not logged. Turns out I need to accept the new message via Enter in order for it to be applied. But in this case, this should be depicted via a dirty indicator or the input should

[2018-03-28 09:05] #45962 closed

[2018-03-28 09:05] isidorn commented on #46414
@roblourens there might be an issue that the debug console is centrelized and not per process. But feel free to create a new one.

[2018-03-28 09:09] bpasero commented on #46818
This issue applies for:
* dev tools opened
* issue reporter opened

We do some weak check for the window type [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/ps.ts#L95)

I would accept a reasonable PR if someone has a better idea how to identify different windows from the command line 👍

[2018-03-28 09:10] bpasero commented on #46229
Yeah something like that...

[2018-03-28 09:11] bpasero commented on #46532
@panglongqi that would be great thanks

[2018-03-28 09:15] joaomoreno opened #46826 "Git: Wrong encoding detection for referenceSearch.ts"
![image](https://user-images.githubusercontent.com/22350/38019955-4d4f102c-3279-11e8-958f-2258c0b45972.png)

cc @jrieken

[2018-03-28 09:15] dbaeumer commented on #46606
@petervrichards this looks like a problem with Flutter itself and nothing that is related to VS Code. I would recommend that you file the issue against the Flutter project.

[2018-03-28 09:15] #46606 closed

[2018-03-28 09:15] #46632 closed

[2018-03-28 09:17] dbaeumer commented on #45663
In my model we need to have the messages for all languages. Would be cool if someone runs in Bulgarian and he sees a message in Bulgarian and English. This is how Windows behaves as well.

[2018-03-28 09:19] isidorn commented on #44491
This sounds like a debt item I should tackle not in endgame week -> april

[2018-03-28 09:19] dbaeumer commented on #46694
Just to clarify: I say the slowdown as well when I pasted the file into a buffer that had plain text language. So it is unrelated to the JSON language service.

[2018-03-28 09:19] sandy081 commented on #46696
@DanTup

Re: SDKs, If I understand correctly, you are asking for the support for the user able to provide paths to SDKs relative to the current workspace in settings? For example like

[code]
And when the extension gets the resolved value when the above setting is read?

I am not sure if I understand the relation between in-built terminals and specific versions of SDKs. Can you please elaborate mo

[2018-03-28 09:20] isidorn commented on #46784
This sounds like some conversion sohuld be in in extHostDebugService, assigning to @weinand

[2018-03-28 09:21] dbaeumer commented on #46764
We should provide and error and may be fall back to strong quoting if the value is missing.

[2018-03-28 09:21] Deathhush commented on #20016
Is there any update on this item? Showing the current branch name in the title of source control panel will be very helpful. In Git, people typically work with multiple branches. @bpasero

[2018-03-28 09:25] isidorn commented on #46820
This is regular chrome beahvior. Closing as designed

[2018-03-28 09:25] #46820 closed

[2018-03-28 09:25] dbaeumer commented on #46820
Not sure if @isidorn  or @bpasero. Might be the default of Chrome.

[2018-03-28 09:26] #46715 closed

[2018-03-28 09:26] bpasero commented on #46129
To be consistent between tree and list I have pushed a change to not support this color anymore for list (via https://github.com/Microsoft/vscode/commit/04ab6d103c13c9cbdd9d98dec18553bf046df8d7).

[2018-03-28 09:27] isidorn commented on #46825
We decided to make the breakpoint widget more stable than the rename, thus it does not close on focus lost. However we could provide a dirty indicator -> leaving this as a feature request for that

[2018-03-28 09:30] weinand opened #46827 "Intellisense API could support a transient input string on top of document"
To provide Intellisense in a text box (e.g. for a watch expression or breakpoint condition), we use the `provideCompletionItems` method at the current cursor location in the underlying text document.

This works fine for the first completion (which does not need any input from the text box) but it fails as soon as new input is typed in the text box. In this case `provideCompletionItems` is not awa

[2018-03-28 09:30] chrmarti opened #46828 "Search result badge hidden on hover when shown next to item"
Issue Type: <b>Bug</b>

Testing #46604

The result badges hide also when they are shown next to the item (the view is wider than 600px). In that case there is no need to hide them because there is nothing else shown in place of them (unlike when they are shown at the right border where actions appear on hover).

VS Code version: Code - Insiders 1.22.0-insider (95b0cffe72a9d32e6ef3780dcc050a336e7b2

[2018-03-28 09:30] #46604 closed

[2018-03-28 09:31] dbaeumer commented on #46810
@LordLafayette can you provider more details please. I assume this happens in the editor. Does it reproduce with a special file. If so, can you attach that file.

And does it reproduce if all extensions are disabled?

[2018-03-28 09:31] #46822 closed

[2018-03-28 09:32] nehashri commented on #7340
@jrieken That is one of the problems. As I said initially, we have function calls that span across lines. In the example I provided initially,
[code]
The text that should be populated in the box should be
[code]
instead of
[code]
In this case what do you expect us provide the range as? Providing only the first line as the range would mean incorrect/partial data in the input box. Providing the mult

[2018-03-28 09:36] #46823 closed

[2018-03-28 09:37] alexandrudima commented on #46694
@rebornix The slowdown is in typing (not bracket matching or undoing) when typing in a file which starts empty and contains a single very very large insert string. JavaScript's `substring` is slow on the very very large string.

Processing a keystroke takes sometimes more than 100ms
![image](https://user-images.githubusercontent.com/5047891/38020845-972df648-327b-11e8-8c6f-7895b85341de.png)
[CPU-2

[2018-03-28 09:40] jrieken commented on #46827
Unsure about that... For VS Code the truth is in the documents and adding another truth on the side a slightly confusing.

[2018-03-28 09:42] isidorn commented on #46824
@alexandrudima there are quite some flaws with our current suggest approach
However I changed that I get the inteli-sense for the location of my breakpoint and not for the start of the document, this shuold make it more precise and I expect to fix this case.
In case it does not get fixed it might be an related to https://slack-redir.net/link?url=https%3A%2F%2Fgithub.com%2FMicrosoft%2Fvscode%2Fissu

[2018-03-28 09:44] isidorn commented on #46819
The scroll lock should be preserved across vscode reloads. I will treat this as a bug

[2018-03-28 09:50] #46809 closed

[2018-03-28 09:52] sandy081 commented on #45663
If this is when VS Code is bundled with core languages then Why do we need to download from Marketplace? I think this should be needed when VS Code is not bundled with core languages and user had set up VS Code before with one of the core languages.

When VS Code is not bundled with core languages, Downloading during start up will impact the start up performance (only the time we download) and wha

[2018-03-28 09:54] leoseccia opened #46829 "Debug console in NodeJs does not display value returned via util.inspect.custom or toString"
## Environment details
- VSCode Version: 1.21.1
- OS Version: Win7 x64
- Does this issue occur when all extensions are disabled?: Yes

## Steps to Reproduce

1. Create the following javascript file in VSCode

[code]
2. Run the code in debug mode and look at the debug console

## Actual
This is displayed
![](https://i.stack.imgur.com/obIn9.png)

## Expected
In my opinion, this is not quite right. T

[2018-03-28 09:55] dbaeumer commented on #46805
@bpasero not sure if this is us or the default with Electron.

[2018-03-28 09:56] dbaeumer commented on #46800
@EsqerYasen can you please provide the description in English.

[2018-03-28 09:57] sandy081 commented on #46526
You just move away from `registerTreeDataProvider` to `createTreeView`. In any case, you need to register the view in the `package.json`.

[2018-03-28 09:57] SailorMax commented on #20016
@Deathhush Not great, but solution - new setting "scm.alwaysShowProviders": true

[2018-03-28 09:58] bpasero commented on #46805
@hjkcai does it reproduce with this build of VSCode that is using a newer Electron version: https://az764295.vo.msecnd.net/exploration/c52be1294047741be296c2ced817b8246ab9942f/VSCode-darwin-exploration.zip ?

[2018-03-28 09:58] #46797 closed

[2018-03-28 10:00] dbaeumer commented on #46795
@stridercheng can you please provide more information. How long does it take for you until the Window appears. And can you provide details aboput your hardware and OS

What do you mean by

No terminal closes automatically when entering a command.

[2018-03-28 10:03] dbaeumer commented on #46791
@Xusine1131 when this happens can you go to the Output Channel and select the Log (Extension Host) channel and provide the output.

Since you open a py file I suspect this might be caused by the Python extension. Does everything work if you disable that extension. If so please report the issue against the extension.

[2018-03-28 10:05] marvinroger opened #46830 "Path not clickable in terminal when wrapped on multiple lines"
- VSCode Version: 1.21.1
- OS Version: Windows 10 Pro 1709 (x64)
- Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:

1. Open a terminal and make it print a path that wraps on multiple lines
2. You cannot click on that link

![multiline path issue](https://user-images.githubusercontent.com/990773/38022003-a7b60246-327e-11e8-8a8c-84474253280d.png)

In the picture, th

[2018-03-28 10:05] aeschli commented on #46802
@AmnArora With which language is this? Can you paste the code snippets as well?

[2018-03-28 10:07] #46623 closed

[2018-03-28 10:07] hjkcai commented on #46805
@bpasero Yes. It reproduces by following my steps.

![image](https://user-images.githubusercontent.com/731326/38022737-e53e8f8c-32b2-11e8-9163-55b1e54487c0.png)

[2018-03-28 10:08] dbaeumer commented on #46754
@lloeki how did you install VS Code ?

[2018-03-28 10:09] #46790 closed

[2018-03-28 10:10] hjkcai commented on #46805
Seems it is a bug of Electron. I will open another issue on Electron. Thanks for your help.

[2018-03-28 10:10] #46805 closed

[2018-03-28 10:12] dbaeumer commented on #46716
I am closing this issue since it doesn't provide any meaningful description and this repository is about https://code.visualstudio.com/ and not block chains.

[2018-03-28 10:12] #46716 closed

[2018-03-28 10:14] dbaeumer commented on #46691
@twajr can you provide the log of the Extension Host. Go to Output > Channel Log (Extension Host)

[2018-03-28 10:14] DanTup commented on #46696
@sandy081 It doesn't need to be relative, I just want the user to be able to configure a path at a workspace-level that will be used for two things:

1. By my extension to look find the SDK
2. By Code to prepend to the `PATH` variable for integrated terminals

I already have a setting for `1` (`dart.sdkPath`/`dart.flutterSdkPath`) however because Code doesn't use them, if the user types `dart` or

[2018-03-28 10:16] dbaeumer commented on #46680
@jafkuijpers have you set the correct Encoding for that file. There is an encoding switcher in the status bar in the lower right corner.

[2018-03-28 10:17] DanTup commented on #46696
Maybe it shouldn't be inside `terminal.integrated` but a more general workspace setting for "additional paths" that can be pre-pended by terminals and also consumed by extensions.

[2018-03-28 10:17] dbaeumer commented on #46680
@alexandrudima starting with you since the character got rendered correctly in the first place.

[2018-03-28 10:18] #46652 closed

[2018-03-28 10:18] #46657 closed

[2018-03-28 10:21] codebreaker93 opened #46831 "[cpp] syntax highlighting in type declarations"
Issue Type: <b>Feature Request</b>

I've noticed that for C++ source codes, the color formatting of the 'Type' in declarations (e.g. string x; User_defined_type y; etc. etc) is the same as the default font styling.

[code]

I've posted this question on StackExchange (https://stackoverflow.com/questions/49528920/visual-studio-code-c-color-formatting-in-type-declarations#49528920), but have yet to r

[2018-03-28 10:25] joaomoreno commented on #45427
This has been fixed since. The updater should block shutdown until it is done.

Here's the updated experience:

https://www.youtube.com/watch?v=xFDq0P0zF4g

[2018-03-28 10:25] #45427 closed

[2018-03-28 10:26] jrieken opened #46832 "Missing warning about non-existent workspace folder"
seen in #44809

* open a workspace
* open its config file
* add a path doesn't exist
* 🐛 no exclamation mark in shown in the explorer, after a reload a exclamation mark is shown

[2018-03-28 10:26] mattacosta commented on #41968
This still occurs with the find widget open.

Version 1.22.0-insider
Commit 95b0cffe72a9d32e6ef3780dcc050a336e7b2968
Date 2018-03-28T05:17:37.707Z

[2018-03-28 10:27] yume-chan commented on #46830
Relates to #28746, #23688

[2018-03-28 10:28] aeschli commented on #10895
duplicate of #34647

[2018-03-28 10:32] #46789 closed

[2018-03-28 10:33] aeschli commented on #46776
duplicate of #44530

[2018-03-28 10:33] #46776 closed

[2018-03-28 10:38] yume-chan commented on #46800
Translation:

LMAO

[2018-03-28 10:41] AmnArora commented on #46802
@aeschli  I am using javascript. I've already included the code snippets. I can't put up more code since its my company's project.

[2018-03-28 10:42] yinzhixin opened #46833 "Native menu action gets selected if menu appears under the mouse cursor"
Issue Type: <b>Bug</b>

1.click SCM tag
2.click button "more", then the menu flashing, can not select option

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz (4 x 2904)|
|Memory (System)|7.30GB (1.94G

[2018-03-28 10:43] alexandrudima commented on #46826
Same here:

![image](https://user-images.githubusercontent.com/5047891/38024525-9d9753bc-3285-11e8-89e5-bbdfab18f468.png)

[2018-03-28 10:43] dbaeumer commented on #45663
To have a smooth migration for existing users. So we will switch them to language packs without them noticing and difference in the UI. If we first unbundle all core language then they will be promoted to download their language pack. This is to avoid that prompt.

We though about doing this in update, but we have different update stories for Mac, Windows, Deb, RPM and I was trying to come up with

[2018-03-28 10:45] #46661 closed

[2018-03-28 10:47] DanTup commented on #46526
@sandy081 Aha, got it.

How can I tell the difference between when a user clicks on the tree and when I selected an item programmatically? (to avoid the tree trying to navigate my editor when it selected an item as a result of the editor position changing)

[2018-03-28 10:49] dmxd5 opened #46834 "PHP validation not working on latest Windows 10 .ISO/USB when folder is opened"
- VSCode Version: 1.21.1
- OS Version: Windows 10 Pro (64-bit)

Steps to Reproduce:

1. Download latest Windows 10 (64-bit) from microsoft.com and install it.
2. Download PHP for windows (VC15 x64 Non Thread Safe (2018-Mar-01 06:44:57)) and unpack it to `C:\php`.
3. Install VSCode, open settings and point `"php.validate.executablePath"` to your `php.exe`.
4. Create a folder and open it in VSCode.

[2018-03-28 10:52] #46826 closed

[2018-03-28 10:55] alexandrudima commented on #46342
To the verifier: Use ctrl+D from the last `parent` and then accept a suggestion. The current line highlight should stay on the last `parent`:

[code]

![kapture 2018-03-28 at 12 31 01](https://user-images.githubusercontent.com/5047891/38023961-ea4830fc-3283-11e8-91c2-528c43306a91.gif)

[2018-03-28 10:55] #46342 closed

[2018-03-28 10:56] #45607 closed

[2018-03-28 10:59] alexandrudima commented on #46804
This covers the problem of how to expose border customizations. Color is just one aspect, but then there are other aspects:
- border style: dashed, dotted, solid
- border width
- having only one side of the border (like the OP mentions)
etc.

[2018-03-28 10:59] bpasero commented on #46676
/findDuplicates

[2018-03-28 11:01] sgon00 commented on #10026
I just figured out `Ctrl-p` is not only a list of recently opened files, but also I can search through all files in the project even if it's not in the list. Just for reference. I am not sure if I am the only one who don't know this.

[2018-03-28 11:04] alexandrudima commented on #46723
We are currently opening files in RAM and not paging them from disk.

[2018-03-28 11:11] bsvipas commented on #46804
@alexandrudima Amazing idea. This will reduce issues for other users because you can define these styles by yourself how you want it to look like. Also, I guess it's a good idea to let ppl decide how much `px` they want it to be.

So I believe something like this will be amazing (just brainstormed these):

[code]

[2018-03-28 11:27] mohag519 commented on #45930
I'm having the same problem with 1.21.1. I does auto import, but on a separate tab. So vscode opens a new tab for the same file, imports correctly there. Now I have 2 files which both have pending changes but none of them have all of the changes. So I need to close down the newly created tab -> import manually -> save. And finally close the tab and reopen it since intellisense breaks due to this f

[2018-03-28 11:31] lloeki commented on #46754
Straight from the official `VSCode-darwin-stable.zip`, on a fresh new (re)install of macOS. Since I knew about the behaviour beforehand I checked the status at each step so as to open this issue:

- unzip `VSCode-darwin-stable.zip`
- move `Visual Studio Code.app` to `/Applications`
- start `Visual Studio Code.app`
- at this point there are no changes: `/usr/local/bin` is still `root:wheel`
- `CMD`

[2018-03-28 11:51] janbaltus opened #46835 "[loc]Request to add Malay (Malaysia) language to VS Code"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-28 11:52] janbaltus commented on #46835
We expect at least **three language contributors sign up** and product team sign off before adding new language to Transifex. Please **vote** by adding your **Transifex account name** here in this issue (request).
How to request guide: https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-03-28 11:56] alexsoares opened #46836 "extensions suddenly stopped work"
Issue Type: <b>Bug</b>

None specials step, just open vscode

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:30.761Z)
OS version: Linux x64 4.4.0-109-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz (8 x 3756)|
|Load (avg)|2, 2, 2|
|Memory (System)|7.74GB (0.39GB free)|
|Process Argv|/u

[2018-03-28 12:08] zhukmj opened #46837 "JavaScript autocompete not working when TypeScript extension disabled"
- VSCode Version: 1.21.1 (1.21.1)
- OS Version: macOS High Sierra 10.13.3 (17D47)

Assuming I have two files in my project: `one.js` and `two.js`

Steps to Reproduce:
1.  Disable the builtin `TypeScript and JavaScript Language Features` extension
2. When typing in `one.js`

![no autocomplete](https://www.evernote.com/l/AbV9fVkbVs1A65Wwevaxuvd7kgGlWG7HOdEB/image.png)

With TypeScript extension enab

[2018-03-28 12:14] AbhishekSharma20 opened #46838 "Indent not working properly for Ruby files"
Issue Type: <b>Bug</b>

for a Ruby file Indentation/collapse does'nt work properly as the end statements in comments are also considered.

eg:
class a
#   def x
#     ....
#   end
end

collapsing this will match class with first end.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System In

[2018-03-28 12:15] AlameerAshraf opened #46839 "Multi window support for the explorer tab"
Like visual studio multi windowing support , vs code needs to have multi window support to the tasks side bar , to have the ease in opening the workplace view or folder view in anther window .

[2018-03-28 12:16] egamma opened #46840 "Tasks API: support for fetch all tasks from a particular provider"
When implementing an NPM script exlorer I would like to fetch only the tasks from the npm provider and these tasks should be merged with the contents from the task.json.

[2018-03-28 12:25] twajr commented on #46691
[2018-03-28 07:16:03.430] [exthost1] [info] extension host started
[2018-03-28 07:16:03.507] [exthost1] [info] ExtensionService#_doActivateExtension vscode.emmet {"startup":true,"activationEvent":"*"}
[2018-03-28 07:16:03.508] [exthost1] [info] ExtensionService#loadCommonJSModule c:\Program Files\Microsoft VS Code\resources\app\extensions\emmet\out\extension
[2018-03-28 07:16:03.807] [exthost1] [i

[2018-03-28 12:26] hollandThomas commented on #46792
Thanks the fast reply. You are right. I configured the snippet for Babel JavaScript but it needs to be configured for styled-css. For completion and anyone interested, this is the snippet:

[code]

[2018-03-28 12:26] #46792 closed

[2018-03-28 12:26] ddruker commented on #46728
@Tyriar I can jump on this one. I'd like to complete a few of these "good first issue" issues before moving on. I already have a PR for another one. How does that sound?

[2018-03-28 12:28] marvinroger commented on #46830
Crap, I searched for an open issue. Should I close this, as a duplicate?

[2018-03-28 12:31] zinechant opened #46841 "Undo after save would move the cursor to first line rather than the place of last changes"
- VSCode Version: 1.21.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open a file with more than one screen.
2. Edit. Save. Undo
3. The cursor would first be moved back to the first line.

Does this issue occur when all extensions are disabled?: No

[2018-03-28 12:32] twajr commented on #46691
![image](https://user-images.githubusercontent.com/29104218/38028994-39b7d14e-325a-11e8-9d6c-fc2a7ebb3f79.png)

[2018-03-28 12:33] joaomoreno commented on #46762
The Application we ship has this in its Info.plist:

[code]

[2018-03-28 12:33] chrmarti commented on #46662
This is the default for the entire workbench.

[2018-03-28 12:33] #46662 closed

[2018-03-28 12:35] joaomoreno commented on #46725
This won't happen any time soon, unfortunately. We don't have a safe way of doing so.

[2018-03-28 12:35] #46725 closed

[2018-03-28 12:35] bpasero commented on #46680
@jafkuijpers
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two opti

[2018-03-28 12:35] joaomoreno commented on #46817
Actually, the notification should always appear, regardless of whether it due to the issue reporter.

[2018-03-28 12:40] joaomoreno commented on #46817
Also, maybe there should be an action in that notification to revert the process.

[2018-03-28 12:45] DevAspirant opened #46842 "visual studio code is flashing"
Issue Type: <b>Bug</b>

some time when I write an html/css document the ide is flashing & can not write any code

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2435M CPU @ 2.40GHz (4 x 2400)|
|Load (avg)|2, 2, 2|
|Memory (Sys

[2018-03-28 12:46] joaomoreno opened #46843 "Issue Reporter: UI/UX improvements"
![image](https://user-images.githubusercontent.com/22350/38029177-75bd4c92-3295-11e8-8701-9622cf8f5702.png)

I have a couple of UI change suggestions:

- There seems to be no discernible left alignment on the whole dialog. All paragraphs should be left aligned
- Font sizes seem arbitrary. A good font size example usage is the feedback widget (smiley in the bottom right corner).
  - Let's not reduc

[2018-03-28 12:48] joaomoreno opened #46844 "Issue Reporter: Don't show anything when no duplicates are found"
Testing #46595

The `No results found` phrase pushes the whole UI down and caught me by surprise: I actually didn't know what that was about for a couple seconds.

![image](https://user-images.githubusercontent.com/22350/38029720-f506d35a-3296-11e8-9ae7-768988bdd602.png)

[2018-03-28 12:49] #46246 closed

[2018-03-28 12:49] mike-robertson commented on #46354
@mjbvz Here's my tsconfig:
[code]

For what it's worth, I did need to make my moduleResolution `node` to even find `index` files. I'm using webpack to bundle, so it bundled fine, but typescript itself would have errors on its own trying to resolve those modules.

[2018-03-28 12:50] jrieken opened #46845 "No scrolling on editor tabs when enabling them"
* don't use editor tabs
* open 10+ files
* enable tabs
* 🐛 the tabs cannot be scrolled so that I don't get to my editor

[2018-03-28 12:51] Lisoph opened #46846 "Feature: Specifying the load order of extensions (reduce startup wait-time)"
Allow the user to specify in what order installed extensions get loaded. This could reduce wait times quite a bit, or at least give the impression of a faster startup; by allowing small, essential extensions to get loaded first.

Users often install a lot of extensions, but in reality, only very few are really vital for the user's workflow. By allowing these "vital" extensions to be loaded first,

[2018-03-28 12:52] joaomoreno commented on #46843
I just noticed the _narrow_ UI:

![image](https://user-images.githubusercontent.com/22350/38029972-95b392ac-3297-11e8-9a55-ed7690d4b8a3.png)

This works much better IMO. Why not always drop the form field labels?

[2018-03-28 12:52] bpasero commented on #45538
Moving to April, I am not brave enough to make a change in endgame because it involves how we think a file has changed on disk when reading.

[2018-03-28 12:57] Jollym opened #46847 "Compare changes does not highlight line changes"
Issue Type: <b>Bug</b>

I just cleaned up some files and on some lines i removed the trailing spaces and these changes are not highlighted in the compare changes view.

i feel that these changes should have been highlighted as white space changes as opposed to no changes.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 1

[2018-03-28 12:59] elektronik2k5 commented on #10026
@sgon00, that excludes files, which are ignored by version control.
The original issue explicitly states the need to search through `node_modules`, which is typically ignored by version control. What you're describing doesn't work for such files/directories.

[2018-03-28 13:02] #46669 closed

[2018-03-28 13:02] #46671 closed

[2018-03-28 13:02] #46845 closed

[2018-03-28 13:03] dbaeumer commented on #46839
Dups #10121

[2018-03-28 13:03] #46839 closed

[2018-03-28 13:04] dbaeumer commented on #46838
@aeschli assigning to you because of folding.

[2018-03-28 13:05] dbaeumer commented on #46836
@alexsoares can you please provide more details. Which extension stopped working?

[2018-03-28 13:06] weinand commented on #46784
The problem is that the VS Code debugger distinguishes between an explicit specified column '0' and a missing column but that the breakpoint API does not surface this.

You can easily see this distinction if you create one breakpoint:
- by clicking in the gutter and,
- by using the "Column Breakpoint" action when the cursor is at the beginning of a line.

The breakpoints view shows this:
![2018-03

[2018-03-28 13:09] joaomoreno commented on #46833
Can you show me what you mean with a screenshot?

[2018-03-28 13:09] #45208 closed

[2018-03-28 13:10] alexandrudima commented on #46314
The stack trace is benign. i.e. does not cause freezes. But I could reproduce by having a completion item provider that edits the active editor in the provider and by having the same editor opened twice.

[2018-03-28 13:11] aeschli opened #46848 "Rename editorActiveLineNumber.foreground"
`editorActiveLineNumber.foreground` isn't following our color name guidelines

Should be `editorLineNumber.activeForeground`

[2018-03-28 13:14] weinand commented on #44428
I've never experienced the `wmic`issues on Windows but I tried to address them by making sure that only one instance of `wmic` runs at a time.

[2018-03-28 13:14] #44428 closed

[2018-03-28 13:16] aeschli commented on #46804
I like
[code]
with all properties not listed use (solid, 1px, box) or the settings from the default/overwritten settings.

[2018-03-28 13:20] aeschli commented on #46732
Added doc.

Note, I just fixed #46848, so the color is now named `editorLineNumber.activeForeground`

[2018-03-28 13:24] dbaeumer commented on #46764
Fixed two things:

- if a value is missing the quoting then I use strong as default
- made both value and quoting mandatory

[2018-03-28 13:26] pradeepmurugesan commented on #40288
@isidorn Sorry if my question is too naive.. Where will the user execute the command ```${relativeFile/a/b/}```

I mean is it in the command window of vscode ( cmd + Shift + p )  or somewhere else ?

[2018-03-28 13:27] #46764 closed

[2018-03-28 13:28] yinzhixin commented on #46833
![vdcode](https://user-images.githubusercontent.com/14174333/38031916-f53a501c-32ce-11e8-940a-0a8f617dfba3.png)

[2018-03-28 13:30] moseleyi opened #46850 "Do not expand files/folders when you close an active editor"
Let's say I have multiple editors open and then I quit VSCode. When I open it again it's because I will probably work on a different project. First I need to close the files I had opened previously. But every time I close an open editor the file explorer navigates to that location and leave it open, basically making me go through everything and close it manually.

1. Could we have an option that w

[2018-03-28 13:31] weinand commented on #40288
it is a variable in a launch configuration (from launch.json) or a task (from task.json).
Here is an examples from VS Code's own launch configurations: https://github.com/Microsoft/vscode/blob/master/.vscode/launch.json

Everything starting with '$' is a variable. Most of them are simple and just evaluate to a filesystem path.

[2018-03-28 13:34] #46314 closed

[2018-03-28 13:35] alexandrudima commented on #46314
Adding `verified`, because the test covers the stack trace.

[2018-03-28 13:37] alexandrudima commented on #46389
Duplicate of #33547

[2018-03-28 13:37] #46389 closed

[2018-03-28 13:39] DanTup opened #46851 "Allow extensions to contribute defaults for built in configurations"
Currently Code has special knowledge of some folders that shouldn't be looked in, such as:

[code]

For the same reason that these folders are in there, extensions may wish to contribute their own folders (for example we'd like to exclude the `.dart_tool` folder).

As far as I can tell, this isn't currently possible. I tried adding it to `configurationDefaults` in `package.json` in the hope I'd be

[2018-03-28 13:41] joaomoreno commented on #46833
Can you record a video? Does the same happen for other menus?

[2018-03-28 13:47] neilsustc commented on #43504
A workaround: using extension [TODO Highlight](https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight) with this settings

[code]

[2018-03-28 13:47] aeschli commented on #46721
Any idea how the invisible character got inserted. Is it related to the 'shift up' (did you use the 'move up' command?

A sample with detailed steps would be helpful.

[2018-03-28 13:47] joaomoreno commented on #45398
@mars000 Once you enabled it back, it works right?

But, if I understood correctly, if you go back to 1.19 it also works, and moving forward to 1.21 makes it stop working? Is that correct?

[2018-03-28 13:47] #46690 closed

[2018-03-28 13:48] alexandrudima opened #46852 "Errors in console each time parameter hints are ignored in typescript"
* on VSCode master

Have a file `test.js`:
[code]

* open parameter hints at the call site
* press <kbd>End</kbd>

![kapture 2018-03-28 at 15 45 36](https://user-images.githubusercontent.com/5047891/38032952-1a54e95a-329f-11e8-9a23-4870757a9d08.gif)

---

I don't know who is at blame here: the UI side for not adding an error listener, or the extension side for generating errors in the call for `$p

[2018-03-28 13:49] #46749 closed

[2018-03-28 13:49] pradeepmurugesan commented on #40288
@weinand  Thanks for the explanation.

So  ```${relativeFile/a/b/}``` is a string replace, and the modified string will be used by the task or launch configuration ?

Am I understanding it right ?

Initially I thought it should move the file in the filesystem to the new name.

[2018-03-28 13:52] bpasero opened #46853 "Explorer: feedback for file path indicates a path from root"
![image](https://user-images.githubusercontent.com/900690/38033279-fe375d7e-329f-11e8-84ff-ab842aaa882f.png)

I think this is misleading because now I think you create a file on root? It should rather use `./` as prefix.

/cc @isidorn

[2018-03-28 13:53] alexandrudima commented on #46847
@Jollym  Please click the "Ignore Trim Whitespace" button:

![kapture 2018-03-28 at 15 52 37](https://user-images.githubusercontent.com/5047891/38033334-1cf16750-32a0-11e8-8864-fb493858029d.gif)

[2018-03-28 13:53] #46847 closed

[2018-03-28 13:53] aeschli commented on #46687
Problem is that there are 5000 regions on the second level.
I should at least take the first 4999

[2018-03-28 13:55] bpasero opened #46854 "Git dialog wording with ":""
![image](https://user-images.githubusercontent.com/900690/38033440-50c25e0e-32a0-11e8-8633-d77abfd0f4c2.png)

I find the two ":" a bit odd

[2018-03-28 13:55] alexandrudima commented on #46846
Already today not all extensions are loaded on startup. Loaded extensions can be seen via `F1 > Show Running Extensions`

[2018-03-28 13:56] bpasero commented on #46014
Maybe this is a timing issue again I think the decoration came in after a window reload.

[2018-03-28 13:57] alexandrudima commented on #46841
Duplicate of #46208

[2018-03-28 13:57] #46841 closed

[2018-03-28 13:58] weinand commented on #44411
Works for launch configs in user settings but nowhere else.

Yes, in my example I was referring to a "default launch config" but the feature should work everywhere.

In addition the error notification should be modal, e.g. like the following:

![2018-03-28_15-57-04](https://user-images.githubusercontent.com/1898161/38033653-c829392c-32a0-11e8-95bb-bba2b1e69a08.png)

[2018-03-28 13:58] bpasero commented on #46686
Very likely an issue with using `path.join` and that method normalizing the slashes/backslashes. I dont think we ever supported that.

[2018-03-28 13:59] alexandrudima commented on #46331
The only way horizontal space can be added at this point is via a code lens provider.

[2018-03-28 14:04] aeschli commented on #46655
Auto closing the comment now to keep things more stable

[2018-03-28 14:06] weinand commented on #40288
`${relativeFile}` is a simple variable and `${relativeFile/a/b/}` is basically a `${relativeFile}.replace('a', 'b')`

[2018-03-28 14:06] #46655 closed

[2018-03-28 14:09] jrieken commented on #46852
It is handled but not swallowed and default for those errors that are caused by extensions. See https://github.com/Microsoft/vscode/blob/e754b2f54417796e0457a4a938556db9b5e6e16d/src/vs/editor/contrib/parameterHints/provideSignatureHelp.ts#L36

Not sure if we should change that, leaving it up to @ramya-rao-a how added that

[2018-03-28 14:09] Riconec opened #46855 "After update embedded bash went broken"
Issue Type: <b>Bug</b>

After updating to Version 1.21.1 my embedded bash stopped to work.
It is completely blank, doesn't respond to any command. If I change it to windows command line - it works, but returning back to bash give no changes.
Disabling extentions, reloading doesn't help either.
Bash works fine outside of VScode

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1

[2018-03-28 14:09] isidorn commented on #46784
@weinand thanks for the analysis. Makes sense, let's tackle it in April.

[2018-03-28 14:11] dbaeumer commented on #46709
@chrmarti and I discussed this a little and here is what we should do:

- if an argument has a ' or " in it and an escape is requested they need to be escaped as well.
- if an argument has a ' in it and strong quoting is requested the ' must be escaped as well.
- if an argument has a " in it and weak quoting is requested the " must be escaped as well.

This might be problematic so under cmd.exe si

[2018-03-28 14:16] jrieken commented on #46346
@T-Grave @CCludts Can you guys open dev tools before this happens, enable  'break on all errors', and attach a screen shot when it breaks there?

<img width="225" alt="screen shot 2018-03-28 at 16 15 46" src="https://user-images.githubusercontent.com/1794099/38034779-4c224366-32a3-11e8-9df3-759046caebdf.png">

[2018-03-28 14:17] sandy081 commented on #46526
@DanTup Currently there is no differentiation. Selecting by user or programatically triggers the command. Please file an issue to not to execute command when selection is done programatically.

[2018-03-28 14:18] sandy081 commented on #46526
Closing this issue as there is nothing to be do done here

[2018-03-28 14:18] #46526 closed

[2018-03-28 14:18] #46301 closed

[2018-03-28 14:19] alexandrudima commented on #46301
I have removed all of the massaging we were doing, we should now get what the OS sends our way.

[2018-03-28 14:20] elleryfamilia commented on #14909
Trying to leave atom completely behind, but this is a big one is holding me back. I love everything else about VS Code. Hope Microsoft allows vertical and horizontal splitting soon!

[2018-03-28 14:22] urbantrout commented on #46579
My apologies. I accidentally used the wrong space when creating the "My Project" folder.
The problem was that I didn't just press the space bar but also the option key which inserts a non-breaking space. Staging files on command line works. But not in VSCode.

[2018-03-28 14:22] alexandrudima commented on #46293
@terminalstderr I'm sorry I cannot reproduce. It appears you are on an English/US keyboard layout. <kbd>Tab</kbd> can be broken by:
- extensions which override what <kbd>Tab</kbd> does
- user keybindings that override what <kbd>Tab</kbd> does

The easiest is for you to try the [insiders variant](https://code.visualstudio.com/insiders/) which should be in a clean state.

[2018-03-28 14:24] jrieken commented on #45945
This could be a dupe of https://github.com/Microsoft/vscode/issues/3220

[2018-03-28 14:25] dbaeumer commented on #46709
More complicated. In both bash and PowerShell you can't escape stuff in a strong quoted arg. This makes sense since in a strong quotes string is not interpreted by the shell.

[2018-03-28 14:26] alexandrudima commented on #46287
The insert tabs / insert spaces setting (`editor.insertSpaces`) is indeed currently implemented as a setting for the entire buffer and not per buffer region.

[2018-03-28 14:28] alexandrudima commented on #46281
See https://github.com/Microsoft/vscode/issues/36997#issuecomment-366629363
https://github.com/formulahendry/vscode-mysql/pull/25/files

[2018-03-28 14:28] #46281 closed

[2018-03-28 14:29] aeschli commented on #46639
Likely, the filter string must be set to include the beginning of the edit.

[2018-03-28 14:30] dbaeumer commented on #46709
You can escape " in weak quoting. There is not need to escape ' in weak quotes since ' will not be interpreted in weak quoted args.

[2018-03-28 14:31] UIDvlpr opened #46856 "Allow for multiple windows of VSC to access the same folder"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Open a project folder with visual studio code
2. (windows) right click VSC on the taskbar and select new window
3. If you try to open the same folder that is currently open, you can't.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-28 14:33] #46803 closed

[2018-03-28 14:35] isidorn commented on #46686
Yeah I will double check with stable, if it is not working will push it out of march. Thanks

[2018-03-28 14:36] DanTup opened #46857 "Do not trigger TreeItem.command if tree item is selected through API"
As [requested here](https://github.com/Microsoft/vscode/issues/46526#issuecomment-376903343).

With the new `reveal` API on TreeView we can programatically select nodes from the treeview. However we can't tell whether the selection was gone programatically or by the user. This makes it hard to implement an outline view that highlights the correct node in the tree for where the user is while also a

[2018-03-28 14:37] DanTup commented on #46526
@sandy081 Done! https://github.com/Microsoft/vscode/issues/46857

Btw, is this shipping in the next release? (You removed the milestone and I'm not sure what that means)

[2018-03-28 14:38] dbaeumer commented on #46709
Tested a little more:

- under bash you can't create a single strong quoted argument that contains a `'`. Even not when you escape it
- under PowerShell you can by putting `''` into the string (e.g. `echo 'Hello '' World'`)

[2018-03-28 14:40] yo1dog commented on #36997
One more to add to your list. This extension is used as a dependency by other extensions as wells:
`siegebell.scope-info` (701 installs)

https://github.com/siegebell/scope-info/blob/master/src/text-mate.ts#L2

Thanks

[2018-03-28 14:42] sandy081 commented on #46526
There is no fix attached to this issue and hence closed this and removed the milestone. So there is nothing to ship for this issue.

[2018-03-28 14:43] alexandrudima commented on #46257
Workaround: peek definition via <kbd>Alt</kbd>+<kbd>F12</kbd>, go to definition via <kbd>F12</kbd>

[2018-03-28 14:44] sandy081 commented on #46857
@DanTup What is the behaviour you expect, when you select a node programatically?

[2018-03-28 14:44] isidorn commented on #46688
This is happening because the VS live share extension seems to overwrite the launch.json and remove the postDebugTask from it.
VS Live share extension should respect the `postDebugTask` and not remove it

@rodrigovaras can you please open a VS live share issues so you can track this please.

[2018-03-28 14:44] #46688 closed

[2018-03-28 14:44] DanTup commented on #46526
@sandy081 Whoops, sorry, I confused this with the other case. Makes perfect sense, thanks/sorry! :)

[2018-03-28 14:45] bootress commented on #14909
Adding +1 to the "this is the only thing keeping me from using VSCode full time" sentiment.

[2018-03-28 14:46] isidorn commented on #46688
@rodrigovaras actually I just filed https://github.com/Microsoft/vscode-cascade/issues/60

[2018-03-28 14:46] Dowwie opened #46858 "stdin within editor randomly refuses input"
Problem:  While typing in VSC editor, programming in Rust, my stdin will eventually cease to work-- anything I type isn't entered.  I am using the vim extension and RLS.  I tried to reinstall the extension but that doesn't help.  This is a show-stopper bug for me.

- VSCode Version:   1.21.0
- OS Version:  Debian 9

Steps to Reproduce:

1.  typing in editor, random occurrence

Does this issue occu

[2018-03-28 14:46] CCludts commented on #46346
I cant seem to find that button in my devtools? (forgive me, I'm not a javascript dev :) )
![image](https://user-images.githubusercontent.com/18717967/38036692-8def6806-32a7-11e8-8e6b-a061d55075e1.png)

[2018-03-28 14:46] gingerbeardman commented on #21849
+1

[2018-03-28 14:48] alexandrudima commented on #46253
@jkcclemens I cannot reproduce. Plus, I am confident we haven't changed anything in this area. I believe you might have changed something in your environment, like installed a new keyboard layout, changed OS settings, or perhaps a new physical keyboard. Have you tried with other physical keyboards?

<kbd>Command</kbd>+<kbd>Option</kbd>+<kbd>F</kbd> brings up the replace in file dialog for me.
![ka

[2018-03-28 14:48] gingerbeardman commented on #20934
+1

[2018-03-28 14:48] benyaminl commented on #46609
@sandy081 I run in on a workspace, it doesn't work. No error or signs of it on developer tools console. It's been around but I wait that could be a possible fix, But until now, it's not fixed anyway.

[2018-03-28 14:48] dennisaubrey opened #46859 "How to Build and Publish a C# Web API to IIS?"
What are the complete steps to Build and Publish a C# Web Service API using the IIS Web Site.

[2018-03-28 14:49] sandy081 commented on #46237
Removing myself from this based on above response.

[2018-03-28 14:50] dennisaubrey commented on #46859
https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc#add-support-for-entity-framework-core

[2018-03-28 14:51] alexandrudima commented on #46224
@PLogFinder I am sorry I don't understand what exactly you mean when you say that minimap scrolling is inaccurate... The minimap slider should accurately reflect (+/- 1 line) what is rendered in the viewport:

![kapture 2018-03-28 at 16 50 27](https://user-images.githubusercontent.com/5047891/38036951-255546d4-32a8-11e8-81aa-83aa57e58eea.gif)

[2018-03-28 14:52] dennisaubrey commented on #46859
![image](https://user-images.githubusercontent.com/36566794/38037096-226c7320-3276-11e8-8af8-1f47a1d2f524.png)

[2018-03-28 14:53] yo1dog commented on #46281
Thanks very much!

To recap, the new solution is to use the following:

[code]

[2018-03-28 14:54] DanTup commented on #46857
@sandy081 Just for the tree node to be selected/visibly highlighted. The idea is to keep the tree and the editor in sync. The code builds the UI (it's similar to React) and it's useful to see a tree of the widgets and the selection helps to know where in the tree the code you're editing relates to.

![screen shot 2018-03-28 at 15 52 28](https://user-images.githubusercontent.com/1078012/38037133-1e

[2018-03-28 14:54] sandy081 commented on #46609
@benyaminl Is it just this command not working ? Or also `Preferences: Open User Settings`?

[2018-03-28 14:56] #44411 closed

[2018-03-28 14:56] isidorn commented on #44411
@weinand I have pushed a change that an unkown variable also throws an error.
For using model dialogs that is a bit larger change and I would ask you to please create a debt item for me.
In some cases we do use modeal dialogs, but in this partiucalr case no

[2018-03-28 14:57] isidorn commented on #46237
Change is a bit larger, assigning to April since we alread yshipped like this.

[2018-03-28 14:57] Xusine1131 commented on #46791
@dbaeumer Thank you for your suggestion! And I use Developer Tools and Output channel and finally I find the question is caused by JavaScript(ES6) Snippets and when it was removed(must be removed not disabled) everything went well.  Thank you anyway!

[2018-03-28 14:57] #46791 closed

[2018-03-28 14:59] sandy081 commented on #34404
@joaomoreno How can this be verified on insiders build?

[2018-03-28 15:00] isidorn commented on #46746
This is a good catch, however we have always behaved like that (also in stable).
Pushing to backlog for now.
fyi @bpasero

[2018-03-28 15:01] isidorn commented on #46744
@mjbvz this is a good catch, forawrding to Till to investigate since he owns this feature.
Also assigning to April since it is nothing critical

[2018-03-28 15:02] tsalinger commented on #34404
@sandy081 You need to modify the link in the dev tools from href="**vscode**:extension/humao.rest-client" to  href="**vscode-insiders**:extension/humao.rest-client"

[2018-03-28 15:02] isidorn commented on #46739
Good catch, but I only now saw this which is a duplicate of https://github.com/Microsoft/vscode/issues/46824

[2018-03-28 15:02] #46739 closed

[2018-03-28 15:03] #46755 closed

[2018-03-28 15:04] roblourens commented on #46808
Did you set a `when` clause for your new keybindings? Try `"when": "editorTextFocus"`

[2018-03-28 15:07] joaomoreno commented on #46579
Is it still desirable that we fix this for non-breaking spaces? Or let's close it?

[2018-03-28 15:10] urbantrout commented on #46579
I mean, I know that I can fix my problem by renaming the folder. So it is no issue for me any more.

Don't know how many people have clumsy fingers when typing in folder names...

[2018-03-28 15:13] benyaminl commented on #46609
@sandy081 Surprisingly the `Preferences: Open Workspace Settings` is working and `Preferences: Open User Settings` working too. I think I need to edit again the question, the `Workspaces: Open Workspace Configuration File` not working, i done nothing, such that. Sorry for confused between it.
![image](https://user-images.githubusercontent.com/2817332/38038441-27c4398e-32d5-11e8-936d-424bd6c8da77.p

[2018-03-28 15:15] jrieken commented on #46346
Click on the Sources tab (and be patient because the tab is quite overwhelmed on first start)

[2018-03-28 15:15] bpasero commented on #46686
Possibly related: https://github.com/Microsoft/vscode/issues/22899

[2018-03-28 15:17] bpasero commented on #46746
Even though "/" might be supported as filename character from the file system, macOS actually does not and so I think it returns back ":".

@mjbvz how did you create such a file?

[2018-03-28 15:17] #46666 closed

[2018-03-28 15:18] kieferrm commented on #35198
This issue has been fixed.

[2018-03-28 15:18] #35198 closed

[2018-03-28 15:18] isidorn commented on #46746
@bpasero I could create it using the mac finder

[2018-03-28 15:21] roblourens commented on #46806
I think what you're asking for is covered by this large issue: https://github.com/Microsoft/vscode/issues/670

[2018-03-28 15:21] #46806 closed

[2018-03-28 15:23] sandy081 commented on #46857
@DanTup I would rather not call the commands if the selection is done by api

[2018-03-28 15:23] roblourens commented on #46625
What happens exactly?

[2018-03-28 15:25] DanTup commented on #46857
@sandy081 Totally fine be me; I wasn't sure if this way would be more flexible, but do feel free to rename. I guess it makes sense - if you're selecting programatically you already have the ability to run other code, so no real reason to pass it on as an arg.

[2018-03-28 15:28] weinand commented on #44411
@isidorn I'm not sure whether your fix for unknown variables is really a good idea: above you said

We'll have to be careful not to block any launch config that contains a variable that you cannot resolve, but which is privately used by a DA.

My issue from above was actually something else: I got the impression that your bailing out for a unresolvable "${file}" would only work in a default launch

[2018-03-28 15:29] #46857 closed

[2018-03-28 15:30] alexandrudima commented on #46209
@klickl One of the extensions you have installed is causing this, most likely atom-keybindings.

The default installation of VSCode does not bind this keybinding and typing `]` is possible:
![kapture 2018-03-28 at 17 28 55](https://user-images.githubusercontent.com/5047891/38039433-8e64125e-32ad-11e8-8bd3-043d29b08f7f.gif)

[2018-03-28 15:31] sandy081 commented on #46609
@benyaminl `Open Workspace Configuration File` command works only in the context of Multi folder Workspace and not in Single Folder Workspace.

[2018-03-28 15:31] isidorn commented on #44411
Makes sense.
* Reverted
* Fixed quotes
* Will look into later, if I do not have time will craete an issue for april

[2018-03-28 15:32] DanTup commented on #46857
Perfect, I'll try it out in Insiders tomorrow :)

I don't suppose there's any chance of avoiding the collapse-on-click behaviour any time soon? I think it's the only serious issue that would stop us from being able to ship our outline with the next Code release.

[2018-03-28 15:34] klickl commented on #46209
Ok, I thought I disabled all extensions like asked in the form.

Cordialement,
Brunet Thibault

2018-03-28 17:31 GMT+02:00 Alexandru Dima <notifications@github.com>:

[2018-03-28 15:35] alexandrudima commented on #46152
Thank you for the suggestion, but I don't agree. I believe that the current behaviour (where <kbd>Space</kbd> and <kbd>Enter</kbd> introduce undo/redo stops) is better than the one proposed (where <kbd>Enter</kbd> would not introduce undo/redo stops).

[2018-03-28 15:37] ryanflorence commented on #28215
This isn't exactly a duplicate of #34694, supertab in vim keeps the popup open, and doesn't pop up until you hit tab.

![screenflow](https://user-images.githubusercontent.com/100200/38039849-041b7b54-3263-11e8-8381-3594f3dc076e.gif)

Code completion the way VSCode handles it is really disruptive and slower than just typing out what I want :\

[2018-03-28 15:38] #46665 closed

[2018-03-28 15:38] alexandrudima commented on #46081
@michaelnemtsev I believe we end up identifying the XML file as a binary file. Can you perhaps share the file or one which is very similar (if the original cannot be publicly shared) that reproduces the problem?

[2018-03-28 15:38] kieferrm commented on #46751
I only see this issue when I launch from the command line, and not when launching from the Start menu. Updated the description above.

[2018-03-28 15:41] kieferrm commented on #46751
`--status` does not look suspicious:

[code]

[2018-03-28 15:41] benyaminl commented on #46609
@sandy081 I think the best practice would be hide the option when it's not on multi folder project. I think. Just suggesting, because I'm confused with it. Thanks for clarifying.

[2018-03-28 15:42] bobbrow opened #46860 "Git: Delete branch notification should be modal"
The new notifications pop open at the lower right corner of the editor.  Some command palette actions pop these up with a button that I need to click on to proceed.  In these cases, I have to move my mouse from the top center of the window down to the bottom right corner of the window.

One such example is the "Git: Delete branch" command.  I have to click on the branch I want to delete from the d

[2018-03-28 15:43] alexandrudima commented on #46076
@finetype Have you seen our self-help keyboard troubleshooting page https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

![image](https://user-images.githubusercontent.com/5047891/38040280-6f2ad8f8-32af-11e8-9084-42eeeb0b33cb.png)

[2018-03-28 15:44] Tyriar commented on #43169
@meichthys I just added a few more logs, if you could do the same log test in the new build tomorrow that would be great 😃

[2018-03-28 15:44] tsalinger commented on #45364
It's possible now to
- select breakpoints in the viewlet with space
- delete a single breakpoint with the delete key

It's not possible to delete multiple selected breakpoints with the delete key.
Also, the multi selection works differently than in the explorer:
1. select a breakpoint with the mouse
2. hold shift and down arrow to multi-select
3. click on the first breakpoint again
4. repeat 2.

N

[2018-03-28 15:49] #46111 closed

[2018-03-28 15:49] #46255 closed

[2018-03-28 15:51] Tyriar commented on #46737
@weinand as in ship an exe with VS Code? A better option might be to ship the binaries with the node module so extensions can use it directly?

[2018-03-28 15:53] Tyriar commented on #46830
This should be fixed as part of https://github.com/Microsoft/vscode/issues/28746, you can test it out now in Insiders https://code.visualstudio.com/insiders

[2018-03-28 15:53] #46830 closed

[2018-03-28 15:54] roblourens opened #46861 "Distinguish debug output from multiple processes"
https://github.com/Microsoft/vscode/issues/46414#issuecomment-376815368

There should be a way to filter the output in the debug console when debugging multiple processes. Currently it is all mixed in together.

I'd prefer a model where I can still see it all at once, but can also filter out the output from different processes when needed.

[2018-03-28 15:54] isidorn commented on #45364
@tsalinger good catch, however the fix for this item where more aiming to make the view accessible, not multi select aware. For that I am still waiting for feature reqeusts from users to polish it

[2018-03-28 15:55] Tyriar commented on #46728
@ddruker sounds good! Also I just realized that we already have such a context key `terminalTextSelected`, so it will be easier than I expected 😃

[2018-03-28 15:55] Roby98Luce commented on #46625
This happens (img attached)

Da: Rob Lourens [mailto:notifications@github.com]
Inviato: mercoledì 28 marzo 2018 17:24
A: Microsoft/vscode <vscode@noreply.github.com>
Cc: Roby98Luce <roberto@microlan.it>; Manual <manual@noreply.github.com>
Oggetto: Re: [Microsoft/vscode] PHP linguaggio non presente (#46625)

It no longer allows you to save files with the extension .php
What happens exactly?
—
You a

[2018-03-28 15:55] roblourens commented on #46414
Opened a new issue. I'll change the debug adapter to not send output to the console when the process is started in the terminal. I'll do that at the beginning of April so we can see whether anyone complains.

[2018-03-28 15:56] isidorn commented on #46832
Sounds like a duplicate of https://github.com/Microsoft/vscode/issues/46014#issuecomment-376896014
Anyways will fix this as part of that fix either way

[2018-03-28 15:56] #46832 closed

[2018-03-28 15:59] weinand commented on #46737
I meant "shipping an exe with node-debug".

Shipping an exe within an node module is another option.

But in my case I have already code that deals with macOS, linux, and Windows (see https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/extension/processTree.ts).
So just replacing the spawning of `wmic` by your fast replacement tool would probably the smallest change...

Or are you

[2018-03-28 16:00] meichthys commented on #43169
@Tyriar Thanks. Will do.

[2018-03-28 16:04] Tyriar commented on #46811
Duplicate https://github.com/Microsoft/vscode/issues/35901

[2018-03-28 16:04] #46811 closed

[2018-03-28 16:08] #46742 closed

[2018-03-28 16:10] #46812 closed

[2018-03-28 16:13] isidorn commented on #46756
I belive you are using the chrome debug adapter. Assigning to @roblourens please add [`supportsLogPoints`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1164) to your capabilities

[2018-03-28 16:18] roblourens commented on #46829
Calling util.inspect to generate the preview when the object has overridden util.inspect.custom is a good idea.

I don't think we want to use it for every preview. Our preview should give a short high level view of the properties of an object, but util.inspect recurses and writes out every property of the object, and returns a multiline string where in the debug console, we can only show a single

[2018-03-28 16:19] roblourens commented on #46608
Been trying to get this to repro again but I haven't seen it.

[2018-03-28 16:19] #46608 closed

[2018-03-28 16:21] isidorn commented on #46785
This is a fair feature request.
PR that fix this are welcome code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/fileCommands.ts#L393

[2018-03-28 16:21] roblourens commented on #46718
Is the "Use Exclude Settings and Ignore Files" button toggled on? (bottom right)

![image](https://user-images.githubusercontent.com/323878/37785522-9b4d3162-2db7-11e8-9011-5ca513e789b9.png)

[2018-03-28 16:22] kieferrm commented on #44434
Not here. Everything looks even :-)

[2018-03-28 16:22] roblourens commented on #46625
I don't see the image, I don't think that works over email

[2018-03-28 16:22] alexandrudima commented on #46081
Thank you for the file @michaelchiche . I have forwarded it internally to @bpasero . The file is only 5.3KB, so it is most likely detected as binary.

[2018-03-28 16:23] furgat opened #46862 "[themes] When exiting High Contrast, restore previous color theme"
- VSCode Version: 1.21.1
- OS Version: Windows 10 - Version 1709 - Build 16299.309

Steps to Reproduce:

1. Open VS Code and select a custom color theme
2. Activate High Contrast ( I used Shift + Alt + PrintScn )
3. Observe VS Code has changed to High Contrast color theme
4. Deactivate High Contrast ( I used Shift + Alt + PrintScn )
5. Observe VS Code now shows the default color theme instead of t

[2018-03-28 16:25] #46724 closed

[2018-03-28 16:25] kbd commented on #2686
Bumping this with another use-case. Currently my main editor is split three ways because I'm doing something complicated with multiple files. I want to open a new editor opened to the same directory so I can work on something separately, but I **can't**.

It's very frustrating, and Sublime doesn't have this limitation.

[2018-03-28 16:25] Tyriar commented on #46724
@kieferrm I changed it so both selectTo commands always move the command to the middle, much easier to see what's selected now 👍

[2018-03-28 16:25] roblourens commented on #46054
If the PHP Intellisense extension works, can you use that as a workaround? It also provides validation, and does a better job of it than the very simple builtin PHP validation.

[2018-03-28 16:26] Tyriar commented on #46778
Yep 😄

[2018-03-28 16:26] #46778 closed

[2018-03-28 16:27] user3323 opened #46863 "Snippets list - extension's snippets have higher priority than all others"
- VSCode Version: 1.22.0-ins
- OS Version: win7x64

file: .ts
when I type "form" - I expect to see "form" being №1 snippet in the list... but instead see dozens of Bootstrap snippets first...

![form snippet](https://user-images.githubusercontent.com/24613274/38042569-663e4794-32bd-11e8-9c60-a758bbd82cb9.gif)

here is the extension:
![image](https://user-images.githubusercontent.com/24613274/38042

[2018-03-28 16:27] Ermish opened #46864 "Add restart option to menu"
Hey, Team!

A great feature would be to have a `restart` option in the menu!
It's available when there's an update, but I would love it if that option stuck around.

[2018-03-28 16:28] usernamehw commented on #46804
How should it look assigning different border color, style and width for sides?

Does this issue cover other borders like `"editor.findMatchBorder"` (example in this comment https://github.com/Microsoft/vscode/issues/30793#issuecomment-347905876) ?

[2018-03-28 16:28] sbatten commented on #46751
I discovered the issue last night. It happens only when launched with a relative path. In your case, that's the current directory. The issue is that the current working directory for electron on windows is the app install directory and when relaunched this is how it is interpreted. I tested removing the path from the command line upon relaunch and this fixes the issue.

[2018-03-28 16:28] Tyriar commented on #46799
@mjbvz the terminal should be launching near instantaneously, it's likely your shell is running a bunch of init scripts which take a while. To verify you can comment out your `.bashrc`/`.bash_profile`/etc files and see how fast it is. Let me know if it's still slow after that.

[2018-03-28 16:28] #46799 closed

[2018-03-28 16:30] isidorn commented on #46277
Nothing for this milestone since we are in endgame week, thus I am assigning it to the april milestone so we can discuss this in greater detail when I am back from vacation in about 2 weeks.

[2018-03-28 16:33] #46075 closed

[2018-03-28 16:34] Tyriar commented on #46731
@Mellbourn for macOS we just send the shell (tmux) ^C (SIGINT) and let it handle it how it sees fit. Perhaps this is something related to your environment since @bpasero and @joaomoreno both run this setup and see no issues?

[2018-03-28 16:34] joaomoreno commented on #46754
It's a good catch, though I was expecting this issue to come up much much earlier. This has been working this way for 2 years and I believe it's the first time someone has mentioned it. I'll accept a PR to fix it.

[2018-03-28 16:35] joaomoreno commented on #46579
Closing it. 👍

[2018-03-28 16:35] #46579 closed

[2018-03-28 16:35] Tyriar commented on #46796
Tracked in https://github.com/Microsoft/vscode/issues/45693

[2018-03-28 16:35] #46796 closed

[2018-03-28 16:36] joaomoreno commented on #46860
I'll narrow this issue down to make the delete branch popup a modal one, which it should be anyways.

[2018-03-28 16:37] bpasero commented on #46746
Might be a node.js issue then.

[2018-03-28 16:38] bpasero commented on #46100
I am closing this per https://github.com/Microsoft/vscode/issues/46100#issuecomment-374429027

[2018-03-28 16:38] #46100 closed

[2018-03-28 16:40] Tyriar commented on #45569
@bpasero we could check for something like [stats.mtime](https://nodejs.org/api/fs.html#fs_stats_mtime) && [size](https://nodejs.org/api/fs.html#fs_stats_size) to narrow it to the case we're interested in.

[2018-03-28 16:41] bpasero commented on #46081
@michaelnemtsev the file seems to be UTF-16 without BOM which we do not support. If you add a BOM it will work.

[2018-03-28 16:41] #46081 closed

[2018-03-28 16:42] bpasero commented on #45569
@Tyriar from my experience of using these flags for preventing dirty writes / reads you cannot rely on that information...

[2018-03-28 16:42] nicolashenry opened #46866 "[css] Unknown property: 'overscroll-behavior'"
- VSCode Version: 1.21.1
- OS Version: Windows 7

Steps to Reproduce:

1. Open a css file
2. Add overscroll-behavior property somewhere :
[code]
3. Warning occurs: ```Unknown property: 'overscroll-behavior'```

Does this issue occur when all extensions are disabled?: Yes

[2018-03-28 16:42] Tyriar commented on #46374
@thiagomajesk awesome, thanks for finding the root cause. This is the case because `#RGBA` expands to `#RRGGBBAA` and you're setting an alpha value of 0. I think the fix here is to ignore `#RGBA` and `#RRGGBBAA` values.

[2018-03-28 16:44] Tyriar commented on #46374
Upstream issue: https://github.com/xtermjs/xterm.js/issues/1357

[2018-03-28 16:46] Tyriar commented on #45492
@BytewaveMLP oh it should only show up when you're using a canvas though. To test this out you could run the xterm.js demo (which is what the terminal is built on) as that's a canvas that's doing a lot of painting. Try tweaking the rows/cols in the textbox below and running some commands. https://github.com/xtermjs/xterm.js#linux-or-macos

[2018-03-28 16:46] michaelnemtsev commented on #46081
seems to be strange not having this support. the file opens well in other editors
Any reasons why we don't support it?

[2018-03-28 16:48] ejohn20 commented on #17920
+1. Please add this feature. It will make code reviews / security reviews much easier to do inside of VS Code. Example, finding all instances of some pattern, copying out of the search window, and putting into a ticket / code review comment.