[2016-06-22 12:38] mike-ward commented on #7892
Removing `C:\Program Files (x86)\Microsoft VS Code` from 'PATH` resolved the issue. Thanks...

[2016-06-22 12:39] oaabhilash commented on #7999
I just checked the typescript handbook
https://www.typescriptlang.org/docs/handbook/basic-types.html
It looks like the way I initialized is allowed and it does compile with tsc.
![capture](https://cloud.githubusercontent.com/assets/10986887/16266710/3da0911c-3854-11e6-9ca1-84c07ff20e27.PNG)

[2016-06-22 12:50] Emeryao commented on #7999
@oaabhilash
I think the local variable announcing by `let` is a little different with the proerty/field of a class.
JUST my own opinion. :laughing:

[2016-06-22 12:54] shanselman opened #8000 "[razor] @addTagHelper should get syntax highlighting like @using"
@addTagHelper should get syntax highlighting like @using

[2016-06-22 12:56] Urahara commented on #7492
@dbaeumer done.

"C:\Program Files\Microsoft VS Code\Code.exe" "c:\Program Files\Microsoft VS Code\resources\app\extensions\typescript\out\utils\electronForkStart" "c:\Program Files\Microsoft VS Code\resources\app\extensions\typescript\server\typescript\lib\tsserver.js"

[2016-06-22 12:58] Orodan commented on #462
+1
as long as it is not modules from the nodejs core, Intellisense is not able to give any useful informations by default.
Furthermore I'm working on a project with specific modules developed for it and having to add a typing file for each of them is clearly not the solution. Too bad I enjoyed vscode a lot but this poor support of nodejs modules with Intellisense makes me want to use WebStorm agai

[2016-06-22 13:00] Emeryao commented on #7942
+1
 visual studio also has an option for this

[2016-06-22 13:07] profabe opened #8001 "Integrated Terminal crashes on startup"
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Menu 'View'
2. Submenu 'Views'
3. Click on 'Integrated Terminal
![2016-06-22](https://cloud.githubusercontent.com/assets/7761828/16267607/f8e7a31c-388a-11e6-9f85-417d4cc9930a.png)
'

[2016-06-22 13:09] IgorNovozhilov commented on #7956
this: https://marketplace.visualstudio.com/items?itemName=dbaeumer.jshint
and `npm install -g jshint` https://github.com/Microsoft/vscode-jshint/blob/7bbb7eaef8a5e862a8865e3234b229df8c0e500c/jshint-server/src/server.ts#L408

[2016-06-22 13:09] #7958 closed

[2016-06-22 13:14] bill-mybiz commented on #7830
@joaomoreno Whoa, slow your roll there cowboy! :horse_racing:

Judging by your questions, it is apparent that you did not read my link and are unaware that "commit templates" [are already a thing in the basic configuration of git](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Basic-Client-Configuration). So the "collection" and "storage" of them is done via the git CLI (Command

[2016-06-22 13:16] IgorNovozhilov commented on #7956
and it: https://marketplace.visualstudio.com/items?itemName=naumovs.theme-oceanicnext

[2016-06-22 13:18] weinand commented on #7343
@johnfn please try the following:
- open a terminal and print your environment (e.g. by using `env`)
- in VS Code open the Development Tools (<kbd>F1</kbd>, `Developer: Toggle Developer Tools`) and type `process.env` in the console and expand the Object.

Now compare both environments (especially the PATH).
In theory they should be (almost) the same because VS Code tries to import the environment

[2016-06-22 13:24] jtsom commented on #7343
My info.. this is what I see:

In terminal from env:
PATH=/Users/John/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

In VS Code, in dev tools, from process.env:
PATH: "/usr/bin:/bin:/usr/sbin:/sbin"

[2016-06-22 13:29] weinand commented on #7343
@joaomoreno it looks like our env copying code is not working properly?

[2016-06-22 13:39] joaomoreno commented on #7927
How about trying to delete **all** copies of Visual Studio Code and trying all over?

[2016-06-22 13:40] shaneparsons commented on #3998
I'm not sure what this "file watcher" is, but all I know is using vscode with unity (in place of mono develop) results in a climbing cpu memory usage (electron helper) that becomes unbearable at a point. At that point, restarting vscode temporarily fixes the issue for me.

I'm assuming this bug is related to the issues I'm having.

What exactly does the file watcher do and is there a way to disabl

[2016-06-22 13:41] igor0511 opened #8002 "Issue with font color when using terminal and ssh connection"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:

1.  Turn on black theme
2. Start integrated temrinal
3. Log in via ssh to some Linux machine (e.g. CentOS)
4. Type ll (ls -l)

Folder names will be unreadable due to green font color and green font background.

By the way, support for public/private key authentication and storing sites would be just great!

Keep going, this edit

[2016-06-22 13:43] #7964 closed

[2016-06-22 13:43] joaomoreno commented on #7343
Yeah, I can take this.

#7644 had a similar issue. Throughout it, we figured out the root cause for the issue, with the help of the user. @jtsom I hope you can help me out as well. Can I ask you to paste this block of code into the Developer Tools in Code and let me know what you see?

[code]

[2016-06-22 13:44] joaomoreno commented on #7892
Thank you!

[2016-06-22 13:44] #7892 closed

[2016-06-22 13:53] joaomoreno commented on #7830
This is awesome, I didn't realise nor know that a commit template was already a *thing* in git. It does make things much easier, sorry for not realising this earlier.

I think we have all the knowledge and tools necessary to start a PR on this. Your research was right on point. The remaining question is to know **when** to actually ask git *what the template contents are* and thus populate the inp

[2016-06-22 13:54] joaomoreno commented on #7956
Any change you could zip up the entire folder and send me?

Do you get these errors right on Code startup?

[2016-06-22 13:58] siegebell opened #8003 "contentText for before & after decorations does not always appear"
- VSCode Version: 1.3.0-insider; commit  a6aa320
- OS Version: Windows 8

Issues:
1. empty-range after-content-text does not appear at the beginning of lines
2. empty-range before-content-text does not appear at the end of lines
3. neither before- nor after-content can appear on empty lines

see: #7181

MWE:
[code]

[2016-06-22 14:06] sr105 commented on #7927
I guess I've almost done exactly that. I just haven't emptied the Trash.

Deleted the app, emptied the trash, unzipped a new copy of the app. Same behavior. It always starts the first time after being replaced. Then, it never (almost never) starts from Finder again.

[2016-06-22 14:17] delfinof commented on #2472
I guess the bug linked by me above, related to the node.js debugger extension, describes the same problem.

I prepared a simple project here for easily testing the "jump" in breakpoint references via Docker for Windows / Mac.
    https://github.com/delfinof/debugging-in-docker

My guess is that via the debugger, visual studio code receives some kind of update to the position of the breakpoints, an

[2016-06-22 14:17] water42 opened #8004 "Cannot read file error after uninstalling extension"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:

1. Install JSHint extension
2. Uninstall JSHint extension

Error message:
Cannot read file C:/Users/Me/.vscode/extensions/dbaeumer.jshint-0.10.12/package.json: ENOENT: no such file or directory, open 'C:\Users\Me\.vscode\extensions\dbaeumer.jshint-0.10.12\package.json'.

After I uninstalled JSHint I now receive this error every

[2016-06-22 14:18] bpasero commented on #3998
@shaneparsons the idea for this setting is to ignore watching folders for file changes that contain resources you do not work with (e.g. do not show in the explorer or search in). Taking out large folders from file watching will have a positive impact on performance.

[2016-06-22 14:19] bgashler1 commented on #7932
I would also add that we animate it closed into to the status bar.  This will serve two purposes:
1) Helps users understand that we are not terminating processes; we're just hiding the view
2) Helps users discover that they can drag this back out at any time from he status bar.

[2016-06-22 14:22] rebornix commented on #7997
Can not repro with default Chinese IME

[2016-06-22 14:22] bpasero commented on #7948
@Tyriar are you using a VM like parallels? I see this only in Parallels 10.

[2016-06-22 14:28] jtsom commented on #7343
Copy and pasting as a whole I get:

SyntaxError: Unexpected token 
    at Object.parse (native)
    at <anonymous>:18:22
    at Object.InjectedScript._evaluateOn (<anonymous>:878:140)
    at Object.InjectedScript._evaluateAndWrap (<anonymous>:811:34)
    at Object.InjectedScript.evaluate (<anonymous>:667:21)

Copying and pasting line by line I get an error on the line 'const result = ...' of

Unc

[2016-06-22 14:31] sr105 commented on #7927
I tried downloading, building, and running 1.2.1. I'm getting an error when I try to run. In summary, I did the following:

[code]

and in another terminal: `./scripts/code.sh`

Here's the terminal output from the clone, build, and run watch window along with the output of runnung code.sh along with the console errors produced.

[vscode_clone_build.txt](https://github.com/Microsoft/vscode/files/32

[2016-06-22 14:31] Emeryao commented on #7997
@scloudyy
Then the most likely reason is your input method.
个人认为：搜狗输入法之类的流氓软件还是不用的好

[2016-06-22 14:33] jtsom commented on #7343
FWIW, in the integrated terminal, PATH is:

PATH=/Users/John/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

[2016-06-22 14:35] barake commented on #936
I was able to take the solution provided by @smithgeek and tweak it to generate working relative paths:
[code]
Modify the `path.join` call to point to your source directory in the workspace.

[2016-06-22 14:36] jefflevinson opened #8005 "documentationLabel does not accept carriage return"
- VSCode Version: Latest
- OS Version: Windows 10

per Erich

this suggestSupport snippet does not respect any character I could possibly use for the section [should be carriage return here]. I've tried various combinations of html tags and of the construction of the label itself with no luck.

type: 'operator',
label: 'ge',
codeSnippet: 'ge',
documentationLabel: "Greater Than or Equal To [should

[2016-06-22 14:40] sr105 commented on #7927
In the following error and specifically this path `/private/tmp/com.apple.launchd.0E1Ci88ccO/ServiceProcessSocket/code-oss-dev-dev-38ba65.sock`, ServiceProcessSocket is not a directory, but is a socket itself.

[code]

[code]

[2016-06-22 14:48] vkrilakis opened #8006 "Visual Studio Code Opens To Many Processes(Instances) Of Itself"
- VSCode Version:1.2.1
- OS Version:Windows 7

Steps to Reproduce:

1. Open VS Code
2. Look at your taskmgr for Code.exe it is open at least nine times

[2016-06-22 14:49] Tyriar commented on #7911
@csholmq great :smiley:

[2016-06-22 14:50] achshar opened #8007 "Holding alt to put multiple cursors with full screen and hidden menu also pops down the menu"
- VSCode Version: 1.2.1
- OS Version: Win 10

Steps to Reproduce:

1. Put the editor in full screen mode.
2. Hide the menu from view > toggle menu bar.
3. Hold alt key and put in one or more cursors in the editor.
4. Release the alt key. The cursors work fine but the menu pops up as well.

It would be nice if code can not show the menu on alt press if one or more cursors were placed on the screen

[2016-06-22 14:53] Tyriar commented on #7948
@bpasero this was on my laptop that dual boots Ubuntu and Windows.

[2016-06-22 14:55] Tyriar commented on #7960
Is this something we can improve upon? Atom puts it in the status bar for example.

[2016-06-22 14:56] bill-mybiz commented on #7830
Yes, I was thinking the same thing: the main question is to know when to populate the input box. This is why I also posted something on #6190. Whatever the workflow is for that is related to this. The basic workflow would be:

1) Check existing commit message.
2) If exists, then load the box with that.
3) If doesn't exist, then check for template, load that.
4) If none, then populate with a defaul

[2016-06-22 14:58] sandy081 opened #8008 "Buttons are cropped on the files save confirmation dialog while quitting VS Code"
- VSCode Version: Latest Insiders
- OS Version: Mac OS

Steps to Reproduce:

1. I have a large number of dirty files (around 255). Of course I am using Search and Replace :)
2. Close VS Code
3. I get following dialog where buttons are cropped

![Cropped actions](https://cloud.githubusercontent.com/assets/10746682/16271474/7789b534-389a-11e6-935a-80cfa3f73535.png)

[2016-06-22 15:02] gregvanl commented on #7903
@bpasero Exactly, the current insiders implementation changes the old command id use of "editor" to be "editorgroup" and is a large breaking change.  I don't think we need to make this breaking change. I would leave "editor" as is and it refers to the 3 editor windows.  I would keep the term "file" and not rename it to "editor".

[2016-06-22 15:03] bpasero commented on #7903
@gregvanl I would appreciate if you could point me to the commands in particular how they should be. there is a list of commands in https://github.com/Microsoft/vscode/issues/6605

[2016-06-22 15:04] bpasero commented on #7903
I am asking because it is not clear to me where you want to use "file" vs "editor".

[2016-06-22 15:05] gregvanl commented on #7903
Sure, I thought of doing this last night but ran out of time.

[2016-06-22 15:05] sandy081 opened #8009 "Close dirty editors: Provide fast action to save all or revert all"
- VSCode Version: Latest insiders
- OS Version: OS X

Steps to Reproduce:
1. I have quite number of dirty files in the editor (say > 10)
2. When I use Close All action, I am getting a confirmation dialog for each file. Instead, I should be able to close all files at once with/without applying edits.

[2016-06-22 15:08] bpasero opened #8010 "Markdown: contribute snippets to standalone"
Using `registerCompletionItemProvider`. Can take the snippets from https://github.com/Microsoft/vscode/blob/1.2.0/extensions/markdown/snippets/markdown.json

[2016-06-22 15:09] bpasero commented on #7903
@gregvanl also to clarify: you would only change command ids and not other UI pieces?

[2016-06-22 15:09] notoriousFF commented on #7939
The "ElectronHelper" only show up when VSCode does this. I will post here once it happens again.

[2016-06-22 15:33] Tyriar opened #8011 "Add telemetry to create new terminal instance"

[2016-06-22 15:36] Tyriar commented on #7921
Multiple terminals discussion:

- Tabs
  - Tabs would be more useful if there where notifications on the tabs
  - The take up a lot of space and have a heavy feel
- Dropdowns
  - *Let's keep it consistent for now with the output panel*
  - Adding numbers to the dropdown makes it easier to orient yourself
- Making the terminal view more flexible
  - Open the terminal as an editor tab?
    - This co

[2016-06-22 15:45] siegebell commented on #8003
Observed:
![before-after-bug](https://cloud.githubusercontent.com/assets/16118166/16273139/83b51492-386e-11e6-827c-ab78816c1c4e.PNG)

Expected:
![before-after-expected](https://cloud.githubusercontent.com/assets/16118166/16273140/83c6ca3e-386e-11e6-9f53-f76e6a4b5fa1.PNG)

[2016-06-22 15:52] gregvanl commented on #7903
Here's Atom's editor pane documentation: http://flight-manual.atom.io/using-atom/sections/panes/







[8:52]
 

They call out "items" to refer to non-file content in an editor pane: "Each pane has its own "items" or files, which are represented by tabs."  The rest of the documentation just continues to talk about "files".

[2016-06-22 16:01] siegebell commented on #2402
Most of the features can be implemented as an extension, but here are a couple reasons it might be better to implement this in vscode itself:
1. It uses code injection (#6201) to hide the replaced text, which is not officially supported and has some bugs.
2. Cursor movement still steps through each character of the hidden text. I have not found an ideal hook for overriding cursor movement: I can h

[2016-06-22 16:03] #7985 closed

[2016-06-22 16:07] siegebell commented on #192
An alternative to ligatures is to use [prettify-symbols-mode](http://emacsredux.com/blog/2014/08/25/a-peek-at-emacs-24-dot-4-prettify-symbols-mode/), which [I've implemented as a plugin](https://github.com/siegebell/vsc-prettify-symbols-mode) for the insider's build of vscode (but note that it is of beta quality right now).

[2016-06-22 16:18] bpasero commented on #7903
![image](https://cloud.githubusercontent.com/assets/900690/16274387/b2c90f0e-38a5-11e6-9093-9ff6def25895.png)

No mentioning of files in their commands that "Close" something.

[2016-06-22 16:19] bpasero commented on #7903
Essentially Atom solves this by calling an entry in a `Pane` an `Item` because it is not necessarily an editor to change the contents inside.

[2016-06-22 16:21] bpasero commented on #7646
@joaomoreno I actually wonder if this is also something that should go into the tabs widget because it is closely related to animations and timings. I thought about it once and could not come up with a good solution because our tabs are not even width.

[2016-06-22 16:21] gregvanl opened #8012 "Ctrl+Shift+M doesn't toggle Problems panel"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 7

Steps to Reproduce:

1. On Windows, Ctrl+Shift+M displays the Problems panel.
2. Pressing Ctrl+Shift+M a second time does not close the panel

All other panels (Output, Debug Console and Integrated Terminal) toggle visibility with their keyboard shortcuts.  We should be consistent.  Problems shouldn't be the only panel that requires another k

[2016-06-22 16:29] Ciantic opened #8013 "Ctrl+T does not list exported variables"
Ctrl+T the project wide symbols listing can't find exported globals e.g.

[code]

It's visible in file wide symbols listing Ctrl+Shift+O, but not in the project wide symbol listing Ctrl+T.

[2016-06-22 16:33] #7889 closed

[2016-06-22 16:34] bpasero commented on #7890
We decided to start with double click besides a tab to open a new untitled first.

[2016-06-22 16:34] #7890 closed

[2016-06-22 16:34] faxue-msft commented on #6298
The latest C++ extension already supports totalFrames attribute.

[2016-06-22 16:35] #7700 closed

[2016-06-22 16:35] bpasero commented on #7700
UX meeting decision:

![image](https://cloud.githubusercontent.com/assets/900690/16274949/27f4a962-38a8-11e6-9237-f90aa69de97d.png)

[2016-06-22 16:46] #7647 closed

[2016-06-22 16:47] bpasero commented on #7647
We decided to:
* Assign `Alt+[1-9]` on Windows and Linux
* Assign `Ctrl+[1-9]` on Mac

to not break too many users that expect our current behaviour.

[2016-06-22 16:51] bpasero commented on #7948
@Tyriar does it reproduce on Windows too for you or only Linux?

[2016-06-22 16:55] sijad commented on #6190
@bill-mybiz good call
I didn't spend much time on it. I'm not sure with the best practice to access to commit input and change its value.

[2016-06-22 17:07] andregsilv commented on #6451
I'm also facing Issues with `ctrl`+`C` and other simmilar copy-paste shortcuts in the integrated terminal on Windows. I'm not sure what would be the best solution to this issue. Some people would enjoy copying and pasting using the default OS keyboard shortcuts, but it would be difficult to break a current running process (except for OS X). I strongly use this shortcut.

I'd rather prefer to remov

[2016-06-22 17:12] Tyriar commented on #7630
Duplicate of https://github.com/Microsoft/vscode/issues/7345#event-700693361

[2016-06-22 17:12] #7630 closed

[2016-06-22 17:34] siegebell opened #8014 "[decorators] :after decoration breaks other overlapping decorations"
- VSCode Version: 1.3.0-insider; commit a6aa320
- OS Version: Windows 8.1

When separately applying a decoration and an :after decoration to the same range of text, moving the cursor around will cause the former decoration to appear and disappear on all but the last character of the range. The effect is subtly dependent on the existence of lines of text elsewhere in the document; the bigger the do

[2016-06-22 17:48] Tyriar commented on #8006
This is a consequence of both how vscode was designed and the fact that it's build on Chromium/Electron. The number of processes should not really matter from an end user perspective, it's the amount of work each process does and the communication between them that are important. Some more info here https://github.com/Microsoft/vscode/issues/5856#issuecomment-216274544

[2016-06-22 17:48] #8006 closed

[2016-06-22 18:16] gerane commented on #7345
I get this in powershell too. I don't use cygwin so it is not caused by that when I am in PowerShell.

[2016-06-22 18:21] gregvanl opened #8015 "Poor Markdown list syntax highlighting"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Create a simple Markdown file with a list:
[code]
2. Notice that the text "item 1", "item 2" is blue like the list asterisk.  It should be colored like text.

This is a regression from 1.2.1-stable.

[2016-06-22 18:23] gregvanl commented on #8015
![markdownlisthighlighing](https://cloud.githubusercontent.com/assets/12818376/16278406/bb915a7c-386b-11e6-8e50-ef0aa4d6cf03.png)

[2016-06-22 18:26] gregvanl commented on #8015
Indented text also has this issue:
[code]

[2016-06-22 18:39] prashid opened #8016 "window is no longer responding issue"
![issue](https://cloud.githubusercontent.com/assets/620377/16278855/e4785a60-38d1-11e6-9997-cb8ca1b3cd8f.png)
- VSCode Version: Code - Insiders 1.3.0-insider (b985edc9f5441678cf071fc7925a569e623e7431, 2016-06-22T05:08:26.951Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.As you can see not much. This error window popped up when I enabled tabs and left my machine running for 30

[2016-06-22 18:39] joaomoreno commented on #7343
Awesome, getting closer... How about this?

[code]

[2016-06-22 18:42] joaomoreno commented on #7927
Oh I think your last output just gave us a hint... This looks **very** suspicious:

[code]

Might be related to both #7644 and #7343.

Let me ask you to do something for me. When you get Code open, run the following inside the Developer Tools:

[code]

Let me know what you get.

[2016-06-22 18:44] joaomoreno commented on #7646
Yeah if we keep the current tab width model, this isn't possible at all.

[2016-06-22 18:46] jtsom commented on #7343
Just want to make sure I'm doing the right thing, as it's not working at all. This is in VC Code's "Chrome" debugger tools, right? This is what I get for just the first two lines:

[code]

[2016-06-22 18:48] jtsom commented on #7343
If I do it line by line, but leave out the 'const's this is what I get:

[code]

[2016-06-22 18:55] Tyriar opened #8017 "Inconsistent weight and use of color in iconography throughout UI"
See images below of the various different icons across the UI at x2 with some comments. This is by no means exhaustive but contains the major icons:

/cc @bpasero
### General comments
- Since color is used so sparingly throughout the UI, it draws additional attention to the icons that feature red and green in particular. Clear output should have not have a particularly strong visual presence imo.

[2016-06-22 18:58] Tyriar opened #8018 "Consider changing "Close" panel button to be "Hide""
Currently all panels feature a `x` button which when hovered say "Close". This is ambiguous for the terminal as to weather it will destroy the processes and potentially will be for other/future panels. I suggest changing this to a minimize/hide icon `-` with a tooltip that reads "Hide".

![image](https://cloud.githubusercontent.com/assets/2193314/16279615/a1323f20-3870-11e6-94f7-ec6b502a4d5f.png)

[2016-06-22 19:16] martinandersen3d commented on #160
xianghongai  > same error here...

[2016-06-22 19:29] dilijev commented on #7786
Yes, things seem to work better now. I'll let you know if I see any further problems.

[2016-06-22 19:35] jbeaudoin11 commented on #7827
How long is going to take to this feature be done ?
At least a month ? more ? Will it be done ?

[2016-06-22 19:50] joaomoreno commented on #7343
Yes, it is. You can actually copy all the lines and paste them in the Console at once; you won't need to remove the `const` then.

Let's try to get a bit more... let's increase that slice to 100:

[code]

Can you get a hold of those 100 bytes?

[2016-06-22 19:57] jtsom commented on #7343
Ok... I'm not sure why it worked that time... but ... here's what I get:

[27, 93, 49, 51, 51, 55, 59, 82, 101, 109, 111, 116, 101, 72, 111, 115, 116, 61, 74, 111, 104, 110, 64, 77, 97, 99, 80, 114, 111, 74, 111, 104, 110, 46, 108, 111, 99, 97, 108, 7, 27, 93, 49, 51, 51, 55, 59, 67, 117, 114, 114, 101, 110, 116, 68, 105, 114, 61, 47, 7, 27, 93, 49, 51, 51, 55, 59, 83, 104, 101, 108, 108, 73, 110,

[2016-06-22 19:59] dbaeumer commented on #8018
Assigning to @bgashler1 since this is a overall UI issue

[2016-06-22 20:01] dbaeumer commented on #8016
@prashid how does the system behave with tabs disabled ?

[2016-06-22 20:02] dbaeumer commented on #8014
@alexandrudima not sure if you or @aeschli

[2016-06-22 20:03] sr105 commented on #7927
It choked on `JSON.parse`.

[code]

 However, I just ran that manually like so:

[code]

The json environment is attached.
[electron_env_json.txt](https://github.com/Microsoft/vscode/files/328672/electron_env_json.txt)

[2016-06-22 20:04] dbaeumer commented on #8013
@Ciantic do you have a tsconfig.json / jsconfig.json file ? If so how does it look like and is the file exporting the globalStyles part of the project

[2016-06-22 20:06] dbaeumer commented on #8007
Not sure if this is a workbench or editor issue

[2016-06-22 20:07] joaomoreno commented on #7927
Awesome, it's definitely related to those other issues. What about this one? You'll get an array of numbers, just gimme those:

[code]

[2016-06-22 20:07] joaomoreno commented on #7343
Awesome, thanks. It's definitely related to the iTerm2 integration you have in your shell... Just need to know how to circumvent this. Let me get back to you with a fix...

[2016-06-22 20:08] sr105 commented on #7927
[code]

[2016-06-22 20:08] dbaeumer commented on #8003
@aeschli FYI

[2016-06-22 20:10] richarddavenport commented on #7817
@wallverb is right. Their points are all correct.

[2016-06-22 20:12] joaomoreno commented on #7927
Thanks man, it's definitely a duplicate of #7343. I'll close it here and let's continue discussion over there. I'll look for a fix and will ask you to try it out soon. :+1:

[2016-06-22 20:12] #7927 closed

[2016-06-22 20:13] joaomoreno commented on #7343
@sr105 has the same issue

[2016-06-22 20:14] sr105 commented on #7927
Thanks!

[2016-06-22 20:14] joaomoreno commented on #7343
It seems that removing the ANSI escape sequences is not enough (#7644). Both @jtsom and @sr105 have a few `Operating System Command` sequences that need proper parsing and understanding before we can get to node's output... Hmm...

[2016-06-22 20:16] dbaeumer commented on #7984
May be @joaomoreno as well.

[2016-06-22 20:16] joaomoreno commented on #7343
@jtsom and @sr105, does this code throw an error?

[code]

[2016-06-22 20:17] dbaeumer commented on #7447
Closing. Did not receive a response in 14 days.

[2016-06-22 20:17] #7447 closed

[2016-06-22 20:24] andradei opened #8020 "Feature Request: Hide workbench view via keyboard shortcut"
- VSCode Version: 1.2.1
- OS Version: OS X El Capital

Steps to Reproduce:

1. <kbd>CMD</kbd> + <kbd>SHIFT</kbd> + <kbd>E</kbd> - Shows Explorer view
2. <kbd>CMD</kbd> + <kbd>SHIFT</kbd> + <kbd>E</kbd> - Pressing it again doesn't hide it

Same behavior for all workbench views.

I'd like to request the feature of hiding workbench views with either a unique shortcut or with the shortcut of the activ

[2016-06-22 20:27] joaomoreno commented on #7343
And finally, how about this one?

[code]

[2016-06-22 20:27] wallverb commented on #7343
I have similar issue that code-insiders does not respect my PATH variable (overrides with `PATH=/usr/bin:/bin:/usr/sbin:/sbin`). Your code @joaomoreno executes fine for me and it has proper `PATH` variable

[2016-06-22 20:29] joaomoreno commented on #7343
@wallverb Is that the *latest* one I published?

For reference, we might need to look for `/\u001b\].*?(\u0007|\u001b\\)/g`.

[2016-06-22 20:29] wallverb commented on #7343
yes, the latest

[2016-06-22 20:30] joaomoreno commented on #7343
Thanks for trying it out. Let's wait for @jtsom and @sr105 to confirm.

[2016-06-22 20:31] sr105 commented on #7343
I get an error for both of those:

[code]

[2016-06-22 20:32] joaomoreno commented on #7998
Duplicate of #7361. We don't support cygwin git, sorry.

We've been using Git for Windows successfully in the team, complete with SSH keys, options, line ending encodings et al. What is the actual issue you get with it?

[2016-06-22 20:34] joaomoreno commented on #7343
Alright, thanks for the patience... can you then show me what you get with this one?

[code]

[2016-06-22 20:34] rcarmo commented on #7998
Hmmm. So this is a dupe of a ticket that's closed because we've "just never really looked into it"?

[2016-06-22 20:45] joaomoreno commented on #7998
If #7361 were open we would close this one the same way. It is a duplicate, in any case.

Apologies for coming out harsh.

Let me expand a bit on *just never really looked into it*. Code already needs to support whichever version of git you have installed in whichever platform you are using it. It is a non-trivial task that gets another complexity fold as soon as we add git *flavours*. We've found

[2016-06-22 20:53] rcarmo commented on #7998
It's all about integration. When you use Cygwin and its userland (bash, CLI tools, SSH, etc.), you don't need an extra terminal emulator like PuTTY, you can use standard Git plugins that rely on Perl/Python etc. seamlessly, and you don't need to set up a copy of your SSH keys anyplace else.

Right now, the current (stunted and incomplete) UNIX userland clone that ships with Git for Windows doesn't

[2016-06-22 20:56] joaomoreno commented on #7989
This is a bit unfortunate and a not so common real world case. It happens when:

- There are no changes other than conflicting changes
- The conflict resolution for **all** changes is to take `A` version

The command line `git` will create an *empty* commit, since there is nothing to be done on the merge commit. Code will just not let you do a commit since it doesn't support empty commits.

We sho

[2016-06-22 20:57] sr105 commented on #7343
no errors, no output

Why do you need to strip out some of the text from the environment?

[2016-06-22 21:02] joaomoreno commented on #7998
Alright, let's keep this open for tracking the support. A PR would be much appreciated as we'll likely not have cycles to look into it any time soon.

Maybe next time I'm in the Lisbon office, I'll ping you and we'll get it working in an afternoon. :wink:

[2016-06-22 21:04] joaomoreno commented on #7343
Great question. [This comment has the answer](https://github.com/Microsoft/vscode/issues/7644#issuecomment-226137884).

OK, let's try without the `strip` just to know for sure what is in there:

[code]

[2016-06-22 21:09] sr105 commented on #7343
Ah, I see.

[code]

[2016-06-22 21:10] joaomoreno commented on #7343
That is all you get? OK that is strange...

Do you have Code Insiders installed in `/Applications/Visual Studio Code - Insiders.app`?

[2016-06-22 21:17] sr105 commented on #7343
No, but somehow your code seems to run with an incorrect path. All of the other times, it produced the same output, so I thought that the path was ignored somehow.

Fixed the path:
[code]

[2016-06-22 21:18] zethon opened #8021 ""ext install" broken on Insiders build"
- VSCode Version: b985edc9f5441678cf071fc7925a569e623e7431
- OS Version: OSX

Experienced this on 2 different Macs today. Got the usual notice asking me to if I wanted to "Update Now" by restarting Visual Code. Restarted and once I restart, I'm asked the same question again. Once again, I restarted Visual Code. After this "ext install" says "No results found" even if I try extensions I know should

[2016-06-22 21:23] joaomoreno commented on #7343
Strange... can you now try adding the `strip()` back with the fixed path?

[2016-06-22 21:26] sr105 commented on #7343
No errors

[code]

[2016-06-22 21:29] joaomoreno commented on #7343
Awesome man, and I bet you can even wrap that around a `JSON.parse()` call.

We can wait for @jtsom's confirmation, but I'd say we caught it. :+1:

[2016-06-22 21:31] sr105 commented on #7343
and with JSON.parse()...

[code]

[2016-06-22 21:31] gregvanl commented on #7903
While not very exciting, I am getting behind on the term "item".  Items can be files, previews, synthetic views which are displayed in the editors.  The header could be "OPEN ITEMS" and we could have commands "Close Item" to close the top item in the editor stack and "Close Editor" to close the active editor.

[2016-06-22 21:33] seanmcbreen opened #8022 "Other sort orders for extensions"
- VSCode Version: Insiders 1.3
- OS Version: OS X

Steps to Reproduce:

1. Search for JavaScript

The results are sorted by relevance.  But we used to sort by download as the default.  We should default to download and provide an other (relevance, etc)

Sean

[2016-06-22 21:34] joaomoreno commented on #7343
Thanks for all the help and confirmation!

[2016-06-22 21:35] joaomoreno opened #8023 "Support `ext install`"
Redirect to viewlet

And all the other global commands

[2016-06-22 21:40] seanmcbreen opened #8024 "Extensions Commands Missing/Confusion from Marketplace"
- VSCode Version: Insiders 1.3
- OS Version: OS X (all)

Steps to Reproduce:

1. Marketplace has guidelines for installing i.e. type ext inst...
2. In the marketplace copy the link and guidance to install i.e.
Cmd+P and paste
3. commands are missing so does nothing - need to add them back

See this page:
![image](https://cloud.githubusercontent.com/assets/1051190/16284664/231b1faa-3887-11e6-986e-4

[2016-06-22 21:56] gerane commented on #7345
I also see issues when moving left and right. The visual cursor can get slightly out of sync with where it really is. Usually it is a space or 2 when it happens.

[2016-06-22 22:06] fantaclaus opened #8025 "TypeScript Syntax Highlighting works incorrectly with non-English identifiers"
- VSCode Version: 1.2.1
- OS Version: Win 7 Pro

create a `file.ts` with code:

[code]
In VSCode you'll see it this way:

![image](https://cloud.githubusercontent.com/assets/7231941/16284980/894737aa-38dc-11e6-8001-398d4730168d.png)

The identifier `item` has blue color, but `элемент` is white. In the first line the string value is brown, but in the second line the coloring is corrupted completely

[2016-06-22 22:25] LarryWeiss commented on #7872
Look at my "steps to reproduce" above.  I get   [Ctrl =]   for "zoom in"

Key mappings:
{ "key": "ctrl+=",                "command": "workbench.action.zoomIn" },
{ "key": "ctrl+-",                "command": "workbench.action.zoomOut" },

It should be
{ "key": "ctrl++",                "command": "workbench.action.zoomIn" },

[2016-06-22 22:29] jtsom commented on #7343
I can submit from the system I was using at work tomorrow, but for info, this is my home machine:

{"ATOM_SHELL_INTERNAL_RUN_AS_NODE":"1","SHELL":"/bin/bash","CLICOLOR":"1","MINDSTORM_EMAIL_LOGIN":"no-reply@shrewsburyrobotics.org","TMPDIR":"/var/folders/r1/vf3lkqcn0s348hhzqr_7_yx40000gn/T/","Apple_PubSub_Socket_Render":"/private/tmp/com.apple.launchd.o5VQT7kLZl/Render","USER":"john","SSH_AUTH_SOCK

[2016-06-22 22:35] jtsom commented on #7343
and FWIW, on my home system, doing

process.env.PATH

in the developer tools results in:

process.env.PATH
"/usr/local/heroku/bin:/Users/john/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

which looks like my home system is doing the right thing...

[2016-06-22 22:43] gregvanl opened #8026 "Suggestion: Rename "Keep Editor" command to "Keep Open""
When a file is in preview mode, we have a "Keep Editor" command to fully open the file (gets added to the open list).  "Keep Editor" is confusing (keep VS Code? keep the editor window?).

I think we can simply this command to just "Keep Open".

This fits nicely with the other context menu commands like "Close", "Close Others". We can just talk about opening and closing editor window items.

[2016-06-22 22:57] guidorice opened #8027 "IntelliSense based on type inference not working in node_modules?"
- VSCode Version: 1.2.1
- OS Version: OS X 10.9.5

According to the vscode docs,

It seems in my experiments, the intellisense does not work in the case of commonjs modules being loaded from node_modules.

Steps to Reproduce:

* mkdir vscode-test
* cd vscode-test/
* code .
* create jsconfig.json

[code]
According to the docs,  this jsconfig.json file is implicitly saying that the JS project contex

[2016-06-22 23:32] prashid commented on #8016
I will look into it more and get back to you.

[2016-06-22 23:59] gregvanl commented on #7903
Even if we go with "item" instead of "file" and don't change "editor" to "editorgroup" that only saves 8 breaking changes (ex. focusFirstEditor, etc).
Given that "editor" doesn't show up often in the UI, "editor" is probably fine and accurate enough (ignoring readonly cases).  We'll need to be careful to correctly call out "editor" and "editor groups" in commands and try to leave other commands ge

[2016-06-23 00:00] #7903 closed

[2016-06-23 00:00] michaelazer commented on #1138
I'm running into the same error.
I can git push from the command line, but can't through VS Code.
I get the following error:

and the repository exists.

I downloaded and installed the credential helper then tried both:
`git config credential.helper cache`
as well as
`git config credential.helper store`
but still doesn't work.

ps. I'm using version 1.2.1

Thanks a lot for your support.

[2016-06-23 00:12] edumunoz commented on #6298
I can repro this with some other debug adapter too.

[2016-06-23 01:15] infinnie commented on #7851
@dbaeumer the 2nd one.

[2016-06-23 01:35] knoxyca opened #8029 "Update check reports no updates available when unable to access internet"
- VSCode Version: 1.1.1 (and: insider 1.3.0)
- OS Version: Windows 10 Enterprise 1511 OS Build 10586.318

Steps to Reproduce:

1. Open Visual Studio Code with no network connection
2. Select Help > Check for updates
3. Receive message: "There are no updates currently available."

[2016-06-23 01:40] Brocco commented on #7743
@bpasero I haven't had any crashes in the past few days either, just like @tjsail33. So I'm not sure if something in one of the updates had fixed the issue or not. When it was happening in was not just one particular file or file type that was causing it to crash. If it happens again, I'll report back.

I'll leave it to you as to whether you want to close this issue or not, I'm fine either way.

[2016-06-23 01:42] Rigg802 commented on #1982
Creating a symlink fixes the issue to run vscode in a cygwin (babun)
open a cmd prompt and use the following command:
mklink /j "W:\cygdrive" C:\actual\path\to\your\cygdrive

posted solution on stackoverflow : http://stackoverflow.com/questions/36508177/visual-studio-code-cannot-detect-cygwin-git-exe-path/37980938#37980938

[2016-06-23 02:35] heroboy opened #8030 "In search panel "files to include", "*.ts" doesn't search all ts files, but "**/*.ts"."
- VSCode Version:1.2.1
- OS Version:windows 8.1

In this version of vscode, search "\*.ts" not search all the ts files in project, I need type "\*\*/\*.ts".
I believe in the previous version , I can use "\*.ts".

[2016-06-23 03:25] Tyriar opened #8031 "Add command deprecation"
Instead of just changing command names, we should slowly phase them out and presenting warnings if the old ones are being relied upon and direct users to the new commands. Adjusting to https://github.com/Microsoft/vscode/issues/6605#issue-156087140 may be easier that way, not totally destroying any custom keybindings and informing the user in a visible way of the change without the need to read th

[2016-06-23 03:25] beliefgp opened #8032 "editor format configure"
- VSCode Version: 1.2.1
- OS Version: OSX

const a = require('a');
const bb = require('b');
const ccc = require('c');

use editor format, i want to

const a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=  require('a');
const bb&nbsp;&nbsp;&nbsp;&nbsp;=  require('b');
const ccc&nbsp;&nbsp;=  require('c');

Can configure it?

[2016-06-23 03:48] Tyriar commented on #8001
@profabe can you open dev tools (Help > Toggle Developer Tools) and check for any errors in the console?

[2016-06-23 03:49] Tyriar commented on #7994
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-23 03:49] #7994 closed

[2016-06-23 03:55] Tyriar commented on #8002
Duplicate of https://github.com/Microsoft/vscode/issues/7556

[2016-06-23 03:55] #8002 closed

[2016-06-23 04:10] fantacytyx commented on #8032
you can use the extension ‘Align’

[2016-06-23 04:23] fantacytyx commented on #8030
If I remember correctly, since the first edition is such.

[2016-06-23 04:40] bpasero commented on #8017
+1, our icon set needs a champion that owns them.

[2016-06-23 04:41] bpasero commented on #7935
@dilijev well, that depends. would you expect the recent files to be updated when you click on a file in the explorer? or from a quick open search?

[2016-06-23 04:43] bpasero commented on #8020
View > Toggle Sidebar

[2016-06-23 04:43] #8020 closed

[2016-06-23 04:43] bpasero commented on #8016
@prashid are you using the terminal a lot?

[2016-06-23 04:44] bpasero commented on #7743
Sure, lets reopen when you see it again.

[2016-06-23 04:44] #7743 closed

[2016-06-23 04:45] bpasero commented on #8031
Actually maybe we could register all the old command ids and just show a message to the user telling him the new identifier of this command!

[2016-06-23 04:59] ismail commented on #8021
Possibly a duplicate of #8023

[2016-06-23 05:21] Tyriar commented on #8031
Great! Something like that is what I had in mind :+1:

[2016-06-23 05:25] Tyriar commented on #8017
@bpasero what in particular about the activity bar icons; size, style?

[2016-06-23 05:26] profabe commented on #8001
@Tyriar many thanks for your quick response. Please see this screenshot.
![capture](https://cloud.githubusercontent.com/assets/7761828/16292646/b6cf8b3c-3913-11e6-82e5-f9c03ed88c4a.PNG)

[2016-06-23 05:31] IgorNovozhilov commented on #7956
Errors occur when opening the extension manager.
I reinstalled jshint. And updated the Code to version from 23.06.16.
After that, the error is not repeated.
![2016-06-23_08h29_07](https://cloud.githubusercontent.com/assets/3082812/16292711/b1e295a2-391c-11e6-884d-ebf3a3cf31cf.png)

[2016-06-23 05:31] #7956 closed

[2016-06-23 05:32] bpasero commented on #8017
Yeah, activity bar could be smaller imho for what it provides. Basically all icons we use are pretty much 4 years old I would say, a general face lift might be cool to bring them all in sync.

[2016-06-23 05:34] zinechant commented on #1982
@Rigg802 It works. Thanks a lot.

[2016-06-23 06:13] joaomoreno commented on #7956
Thanks for the update.

[2016-06-23 06:15] joaomoreno commented on #8024
Not forgotten! #8023

[2016-06-23 06:15] #8024 closed

[2016-06-23 06:16] fantacytyx opened #8033 "Uninstall extension button text incomplete"
- VSCode Version: 1.3.0-insiders 2016-06-23T05:07:59.360Z
- OS Version: window 10

Steps to Reproduce:

1. open extension manage,choose one
2. Uninstall extension button text incomplete

![image](https://cloud.githubusercontent.com/assets/8966236/16293407/41040106-394c-11e6-911f-c1d00ecd54c7.png)

[2016-06-23 06:16] joaomoreno commented on #7343
@jtsom Can you try running this in the `Developer Tools`?

[code]

[2016-06-23 06:29] heroboy commented on #8030
I test it in
[code]
It can use "*.ts"

[2016-06-23 06:35] lllopo opened #8034 "Extansion uninstall button bottom cut off"
- VSCode Version: 1.3.0-insider
- OS Version: Win10

Steps to Reproduce:

1. Click on the extensions button on the sidebar
2. Check the uninstall button (or see attached screenshot)
![untitled-1](https://cloud.githubusercontent.com/assets/5485902/16293875/c37ade38-3925-11e6-9833-9979d023eaea.jpg)

[2016-06-23 06:36] rebornix commented on #8033
Duplicate of https://github.com/Microsoft/vscode/issues/8034

[2016-06-23 06:46] joaomoreno commented on #7343
Alright, looks like the fix, then!

Thanks for all your help guys @jtsom @sr105 @wallverb, will push a fix so you'll have a working Insiders build tomorrow.

[2016-06-23 06:50] #7343 closed

[2016-06-23 06:52] aeschli commented on #7933
This issue was moved to Microsoft/TypeScript-TmLanguage#192

[2016-06-23 06:52] #7933 closed

[2016-06-23 06:55] aeschli commented on #7922
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/81

[2016-06-23 06:55] #7922 closed

[2016-06-23 06:55] aeschli commented on #7913
It's emmet.

[2016-06-23 07:00] sandy081 commented on #8012
@gregvanl This is an ongoing discussion in #7540. Hence closing this and request to continue the discussion there.

[2016-06-23 07:10] aeschli commented on #8000
I assume this is with Razor.

[2016-06-23 07:19] isidorn commented on #7540
-1 for this proposal - I personally do not think it is adding value for the output and debug panel.
The users are already used to the current behavior and changing that might break their muscle memory.

As Ben pointed out giving the focus to the output does not make much sense also.
If you disagree then we should bring this item up on the next ux meeting.

[2016-06-23 07:22] summerstream opened #8035 "terminal cannot display Chinese correctly"
Chinese words crowd together so user can not see them clearly.

[2016-06-23 07:34] dbaeumer commented on #7851
Then it is a dup of https://github.com/Microsoft/TypeScript/issues/4526 which needs to be fixed in the TS support we use.

[2016-06-23 07:34] #7851 closed

[2016-06-23 07:40] egamma opened #8036 "Test Tour: TypeScript- React - WebPack"
- [x] any os @seanmcbreen

http://blog.tomduncalf.com/posts/setting-up-typescript-and-react/

Use as many extensions as possible that could improve the setup:
- vscode-tslint
- npm-script-runner
- npm*

[2016-06-23 07:41] dbaeumer commented on #7492
This is a TS server issues tracked here: https://github.com/Microsoft/TypeScript/issues/7762 and will be fixed in the next tsserver release.

If this is blocking for you, you can try to use the tsserver from the TS nightly build which already contains a fix for this. See https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions on how to do this.

[2016-06-23 07:41] #7492 closed

[2016-06-23 07:45] dbaeumer commented on #7916
I am not a gulp expert but to my knowledge gulp doesn't replace {{file}} with a real file name. How would gulp know which file to take.

However, what you can do is to use ${file} inside the tasks.json to pass the current open file to gulp. See https://code.visualstudio.com/docs/editor/tasks#_variable-substitution for examples and which variables are available.

[2016-06-23 07:45] #7916 closed

[2016-06-23 07:49] dbaeumer commented on #8032
@beliefgp this is currently not support. If you need this, please file an feature request here https://github.com/Microsoft/TypeScript which provides JS and TS formatting for VS Code.

[2016-06-23 07:49] #8032 closed

[2016-06-23 07:51] dbaeumer commented on #8027
This issue was moved to Microsoft/TypeScript#9323

[2016-06-23 07:51] #8027 closed

[2016-06-23 07:51] dbaeumer commented on #8027
Moving to the TS team.

[2016-06-23 07:53] aeschli commented on #8025
This issue was moved to Microsoft/TypeScript-TmLanguage#193

[2016-06-23 07:53] #8025 closed

[2016-06-23 07:56] joaomoreno commented on #8023
Actually, #7973

[2016-06-23 07:56] #8023 closed

[2016-06-23 07:56] joaomoreno commented on #8021
Definitely a duplicate.

[2016-06-23 07:56] #8021 closed

[2016-06-23 07:58] #7969 closed

[2016-06-23 07:59] #6298 closed

[2016-06-23 07:59] joaomoreno commented on #8034
#7995

[2016-06-23 07:59] joaomoreno commented on #8034
Actually, no.

[2016-06-23 08:02] joaomoreno commented on #8033
Thanks, @rebornix

[2016-06-23 08:02] #8033 closed

[2016-06-23 08:03] joaomoreno commented on #8029
They will be available once network connection is available.

[2016-06-23 08:03] #8029 closed

[2016-06-23 08:09] #7995 closed

[2016-06-23 08:09] Tyriar commented on #8035
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-23 08:09] #8035 closed

[2016-06-23 08:15] NikosEfthias commented on #7916
ah i just mixed ${filed} with {{file}} so anyway ${file} isnt working

[2016-06-23 08:21] iloveyo123u1 commented on #7853
my pc install https://github.com/getlantern/lantern  ,i 'm not configure proxy seetings, i fix it,but still have the occasional problem

[2016-06-23 08:21] iloveyo123u1 commented on #7853
thanks @dbaeumer  @joaomoreno

[2016-06-23 08:22] isidorn commented on #8034
@joaomoreno hmm at the same time we looked into this issue - I pushed a font-size 16px which I prefer over the small button - feel free to revert that

[2016-06-23 08:25] dbaeumer commented on #7916
You need to put the ${file} in the tasks.json file as an arg to your gulp tasks.

[2016-06-23 08:27] NikosEfthias commented on #7916
and inside gulp i should get the process argv then i guess right ?

[2016-06-23 08:29] rebornix commented on #7853
@joaomoreno Do we have marketplace guy on GitHub? We've seen a lot of issues complaining the extension installation failure/slowness from China. Do they have any monitoring or reports for it? We may need some enhancement for marketplace like what people do for Windows or VS.

[2016-06-23 08:30] NikosEfthias commented on #7916
@dbaeumer  it doesnt work the file is passed to gulp not not to my script so gulp ties to run it as a task so thats not an option and vscode fails about gulp tasks

[2016-06-23 08:36] NikosEfthias commented on #7916
i figured out i could use `--env` but its still a trick i thought if i run gulp through vscode it would auto replace all those special variables inside gulpfile

[2016-06-23 08:45] Tyriar commented on #8001
Do you have anything in your user settings.json file?

Also can you check what the `%COMSPEC%` environment variable points at?

[2016-06-23 08:53] #7980 closed

[2016-06-23 08:56] imWildCat opened #8037 "Unexpected space when formatting code"
- VSCode Version:Version 1.2.1 (1.2.1) fe7f407b95b7f78405846188259504b34ef72761
- OS Version: OS X 10.11.5 (15F34)

Steps to Reproduce:

1. A react native project with code like the gif
2. Format code

Gif:
![2016-06-23 16_55_40](https://cloud.githubusercontent.com/assets/2396817/16297410/55267d0a-3963-11e6-9d32-066fcde6b530.gif)

[2016-06-23 09:03] jrieken opened #8038 "InstantiationService might create two service instances"
* have descriptors not service instances
* create child instantiation service
* from there request an instance
* from the parent request an instance
* ⚡ two instances of the same service...

[2016-06-23 09:13] joaomoreno commented on #7853
I'll make sure they get the feedback.

[2016-06-23 09:26] georgeedwards opened #8039 "Copy and paste doesn't work properly in Debug Console"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Pro 1511, Node 5.10

### Steps to Reproduce:

1. Create an app with a large output to the console, e.g. crash report, console.dump etc.
2. Try to copy and paste 10 + lines of output on a small screen

### The Issue
I am using an M'soft surface, so the small screen makes the debug window is small.

1. Using `shift + up` to select multiple lines rolls

[2016-06-23 09:28] weinand opened #8040 "show variable type on hover"
This feature request asks for adding the UI for this debug protocol extension: https://github.com/Microsoft/vscode-debugadapter-node/issues/32

If the optional 'type' attribute is available for a variable, the type should be shown when hovering over the name part of a variable.

[2016-06-23 09:32] markho10 opened #8041 "ESC in search box doesn't work"
- VSCode Version: 1.3.0-insider, Commit 5eaf9f05038b0a9818ebff510e1aafe07ac1ae68
- OS Version: Windows 10 Enterprise Build 10586

Steps to Reproduce:

1. Ctrl + Shift + F opens the search box on left side
2. "Press Enter to Search, ESC to Cancel" field is focused.
3. Pressing ESC doesn't do anything.

[2016-06-23 09:40] joaomoreno commented on #7853
@iloveyo123u1 Do you get the error when browsing for extensions or installing an extension?

[2016-06-23 09:42] prashid commented on #8016
I don't work much on insider except testing new bits. Updated 1.3 and enabled Tabs. Created new project and started using Terminal to download angular with bower. Kept project opened as you see in the screen shot and left for about 30 min or more. When returned saw that error already popped up on the screen.

This issue was after tabs and may be use of terminal.

Oh and I was also playing with use

[2016-06-23 09:51] DonJayamanne opened #8042 "RFE - Provide ability to expose/share settings form settings.json to the launch.json"
Please could you provide the ability to expose (share) settings from the settings.json file to the launch.json file, using the dollar notation.

settings.json:
[code]
launch.json:
[code]

[2016-06-23 10:05] profabe commented on #8001
Please see the following screenshots.
![capture2](https://cloud.githubusercontent.com/assets/7761828/16299473/ce420b38-393a-11e6-8989-3ed8ac0d034d.PNG)
![capture](https://cloud.githubusercontent.com/assets/7761828/16299475/d0f9f822-393a-11e6-9af0-9c1ccf93a3ec.PNG)

[2016-06-23 10:06] anseki opened #8043 "Can't select adjacent strings as multiple selection"
- VSCode Version: 1.2.1
- OS Version: Windows 8/10

In multiple selection, when two or more selections adjoin, those are combined to single selection. Or, can't select those.

Case 1: With `foo foofoo bar foo bar`, I want to do something to `foo`.
![01](https://cloud.githubusercontent.com/assets/4763469/16299439/40354f90-3975-11e6-89da-d4c40c419469.gif)
1. I selected first `foo`.
2. I pressed `Ctr

[2016-06-23 10:10] profabe commented on #8000
It was with Razor - I was present at the workshop ;-)

[2016-06-23 10:12] bgse commented on #7872
@LarryWeiss With the german keyboard, while I do have the same default keymapping configuration as you have, I get the following using your steps:

![vscode_zoom](https://cloud.githubusercontent.com/assets/8385202/16299530/20ac9640-393b-11e6-83ee-0980e1c7877c.png)

The actual working keymapping is [Ctrl +], as advertised in the menus and the command palette.

This is imho the proper mapping for th

[2016-06-23 10:14] f111fei opened #8044 "zip extract bug"
- VSCode Version: 1.3.0-insiders
- OS Version: windows 7

Steps to Reproduce:

1. download zip file: https://github.com/f111fei/test-files/raw/master/vscode-zip/test.zip

2. run test code.
[code]

`console.log` never will be called. `Promise` is pending forever.

[2016-06-23 10:27] mbilling opened #8045 "Syntax highlight issue in .tsx files using generics"
- VSCode Version: Code - Insiders 1.3.0-insider (5eaf9f05038b0a9818ebff510e1aafe07ac1ae68, 2016-06-23T05:07:59.360Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Create new .tsx file
2. Paste following

[code]

![vscode sh bug](https://cloud.githubusercontent.com/assets/973790/16300008/c51b01c4-393d-11e6-8c18-0321744f5d7c.PNG)

Syntax highlight breaks after Array<number>

[2016-06-23 10:42] iloveyo123u1 commented on #7853
https://en.wikipedia.org/wiki/Great_Firewall

[2016-06-23 10:48] srinath29 commented on #7950
Yeah

On Wed, Jun 22, 2016 at 1:38 PM, Dirk Bäumer <notifications@github.com>
wrote:

[2016-06-23 10:53] Ciantic commented on #8013
@dbaeumer here is gist you can clone: https://gist.github.com/Ciantic/50140f189abf3e83260e6aba7cedc5ce

Clone that, open the folder in VS Code insiders, open the "openthis.ts", hit Ctrl+T and start typing "globalStyles", nothing is found. But it finds "Something" just fine.

[2016-06-23 11:51] tienhv opened #8047 "translate to new locale"
Hi, I want to contribute to a new locale "Vietnamese", what should I do? Thank you

[2016-06-23 11:58] con-ssc opened #8048 "File compares hidden in recently opened"
- VSCode Version: 1.2.1
- OS Version: WIN 10 x64

Steps to Reproduce:

1. Mark two files to compare

If you compare two files, the compare view doesn't show on the working files or anywhere but Ctrl+Tab.
It would be great to have those also visible somewhere when there are compare views open.
Maybe in another section above working files

[2016-06-23 12:21] leegee opened #8049 "Problem viewing auto-generated, updated jsconfig file via Problems panel"
Using today's Insiders' build (details below), I clicked the green lightbulb in the bottom right, and created a jsconfig.json file, which you can see exposed via `cat` in the screenshot.

When I did a `CTRL+SHIFT+M` to list problems, I see that file is a problem, so I clicked on the link in the problem report pane, and see nothing, as in the screenshot.

![image](https://cloud.githubusercontent.co

[2016-06-23 12:22] leegee commented on #8049
Removing the trailing comma doesn't help.

[2016-06-23 12:38] Urahara commented on #7492
@dbaeumer Thanks! :smiley:

[2016-06-23 12:47] bialix commented on #8004
Different extension, the same situation.

[2016-06-23 12:57] joaomoreno commented on #8004
What is inside `C:/Users/Me/.vscode/extensions`? Can you show me a screenshot of the error?

[2016-06-23 13:03] vogler opened #8050 "additional options for `editor.selectionHighlight`"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.4

Having the current word highlighted is convenient, but too distracting when moving around and accidentally leaving the cursor on a keyword (e.g. `let .. in` in OCaml).
Turning it off, one has to fall back to search and lose the previous results.

Maybe it would make sense to introduce options to:

1. only highlight if a whole word is selected (i.

[2016-06-23 13:05] jtsom opened #8051 "Allow Windows cmd / Powershell to run as administrator"
- VSCode Version: Code - Insiders 1.3.0-insider (5eaf9f05038b0a9818ebff510e1aafe07ac1ae68, 2016-06-23T05:07:59.360Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open a Terminal window (either CMD.exe or Powershell)
2. Option to specify that command prompt is running with elevated permissions (Administrator)

This will help / allow some processes that run better as administrat

[2016-06-23 13:06] bialix commented on #8004
I had 2 extensions: just Python, and MagicPython. I've unistalled first extension. Now the content of the folder you asked:

C:\Users\bialix\.vscode\extensions>dir /b
magicstack.MagicPython-0.5.11

And after I did the command above I no longer get the error message, so I'm unable to make screenshot.

It was a window in the bottom of main editor view with the message from first topic of this issue.

[2016-06-23 13:13] bialix commented on #8004
Just reproduced again (install/unistall). Icon of the extensions at the bottom left had red dot and tooltip said "Extensions (1 issue)". Clicking on this icon opened window with title "Output" and the text as quoted above. And folder with extensions had no corresponding directory.
![vscode-issue8004](https://cloud.githubusercontent.com/assets/82971/16304291/64e4fd44-395d-11e6-8b8d-21a89c62ebf4.png

[2016-06-23 13:22] matthewrk opened #8052 "Allow debugging multiple projects in one debug session"
This problem specifically affects dot net core development via vscode. I'm not entirely sure if its a core problem or a vscode problem. Apologies if this issue is misplaced.

The global.json file allows you to define sub projects, similar to a solution in vs.net. A very common setup for a .net project is a web app with several class libraries. This is achievable in vscode and everything works bril

[2016-06-23 13:24] #8040 closed

[2016-06-23 13:35] jrieken commented on #7992
It's `ctrl+shift+space`

[2016-06-23 13:35] #7992 closed

[2016-06-23 13:36] jrieken commented on #7996
This issue was moved to OmniSharp/omnisharp-roslyn#593

[2016-06-23 13:36] #7996 closed

[2016-06-23 13:47] water42 commented on #8004
No longer receiving the issue anymore, but what @bialix just posted was the same error

[2016-06-23 13:48] chadrien commented on #7992
As you can see from this gif, `ctrl+shift+space` does not work for me :/

![signature help](https://cloud.githubusercontent.com/assets/1788218/16305313/8d6b9740-3959-11e6-84f8-35d422496a94.gif)

Can't find `ctrl+shift+space` either in the default keyboard shortcuts.
Anyway if a keyboard shortcut should exist, could you provide me the corresponding command? At least I would be able to add the short

[2016-06-23 13:50] mattkefford opened #8053 "Don't automatically fetch when there are no remotes available"
Continually giving message "fatal: No remote repository specified.  Please, specify either a URL or a
remote name from which new revisions should be fetched." when I am working on files in a local git repo. There is no remote repo and in any case I can't find a way to interact with git apart from committing changes + a message. I don't even know what branch I'm working on so still have to revert t

[2016-06-23 13:55] bialix commented on #8004
Yes, it seems it can cure itself, so I guess it's related to hard disk cache or something like that.

[2016-06-23 13:57] NikosEfthias opened #8054 "Enable to write to files that need user elevation"
- VSCode Version:1.2.1
- OS Version:arch linux

Steps to Reproduce:
1. open a file owned by another user  root in our case (/etc/somefile)
2. make changes and try to save
3. nothing happens

in atom editor this situation was handled by prompting password if teh current user is in sudoers file
is it possible to make a similar action for such cases .
It would be really extremely useful feature

[2016-06-23 13:57] knoxyca commented on #8029
It also reports all is well when there is a "next generation" firewall doing deep packet inspection on the https connections. This prevents updates from happening automatically within some corporate environments.

[2016-06-23 14:00] weinand opened #8055 "Set variable value: on error do not restore original value if error box is open"
- start node debug session
- start to edit variable
- enter invalid expression and hit return

Observe: the error box opens and shows the error but the edit box reverts to the original value
which prevents the user from fixing the expression.

The edit box should continue to show the erroneous expression until the user has either fixed it or cancelled the editing.

[2016-06-23 14:01] joaomoreno commented on #8029
Did you configure your proxy settings in the `http.proxy` configuration setting?

[2016-06-23 14:12] knoxyca commented on #8029
There is no proxy to configure. The firewall sits as the default gateway and decrypts the https traffic and resigns it with its certificate (that is issued by our domains CA that is trusted by all domain computers). It appears that vscode is either either ignoring the results because it doesn't trust the cert, or the firewall is blocking the check. I don't believe it's the firewall as the logs ind

[2016-06-23 14:15] aeschli opened #8057 "Monaco Editor API feedback"
Monaco editor core 0.4.0

- [x] `IEditor.onDidChangeModelRawContent` is already marked as deprecated. We should better ignore it right away. That would make `IModelContentChangedEvent` and subtypes obsolete

- [x] Don't give out `IHTMLContentElement` but rather something like `MarkedString`. `IHTMLContentElement` is very powerful but also crazy complex. `MarkedString` is clearly too limited. but a

[2016-06-23 14:20] sandy081 opened #8058 "Errors and Warnings in the status bar show negative count"
- VSCode Version: Insiders
- OS Version: OSX

I am not sure how I got into this state, I was checking out to Master branch from my feature branch. After check out I see this weird state in the status bar.

![errors and warnings](https://cloud.githubusercontent.com/assets/10746682/16306560/68ed3266-395e-11e6-8f0b-1fe660f4689e.png)

[2016-06-23 14:21] kumarharsh commented on #7963
Here are more errors:

[code]

Basically, here is what I did:

1. Had a folder earlier in  `x/y/z`
2. Moved it to `a/b`
3. Committed this.
4. Did a `git pull --rebase`
5. Failed
6. Closed vscode
7. Ran `git pull --rebase` again
8. Success

[2016-06-23 14:22] alexandrudima commented on #8057
Nice thoughts!

* `onDidChangeModelRawContent` - we can probably remove those immediately

* `IHTMLContentElement` vs `MarkedString` - +1 - definitely something to do. But only if we eliminate `IHTMLContentElement` from our codebase. I would not go for adaptor funny business. Do you wanna do it?

* the model hierarchy comes from our codebase. Things are empty because the methods are marked interna

[2016-06-23 14:25] joaomoreno commented on #8029
`vscode-update.azurewebsites.net` is the domain.

[2016-06-23 14:28] knoxyca commented on #8029
That's probably why we haven't whitelisted it. I'll try setting: http.proxyStrictSSL first, then ask our networking team to whitelist the domain. Will report back.

[2016-06-23 14:29] joaomoreno commented on #8029
Thanks!

[2016-06-23 14:41] aeschli commented on #8057
I can look at 'IHTMLContentElement'. Probably I won't be able to eliminate it all together, but replace the occurrences in Hover and IModelDecorationOptions with MarkedString to it doesn't appear in monaco.d.ts anymore

[2016-06-23 14:55] joaomoreno opened #8060 "Close all extension resources when extension viewlet goes away"
From @jrieken

We'd like to avoid this:

![image](https://cloud.githubusercontent.com/assets/22350/16307816/f2ca05b4-3962-11e6-8356-e93b20ad521d.png)

For that I'd like to close all extension resources when the viewlet goes away. I tried doing it through the `setVisible` call and through the `IEventService`... but both approaches fail when the sidebar simply closes: the extensions shouldn't go awa

[2016-06-23 14:56] joaomoreno commented on #7961
I'm a bit lost in this world, need your help @bpasero

[2016-06-23 15:07] jrieken commented on #3192
there is some refining going on in #8059. We will differentiate between assigning UI attributes to a command (label, icons) and defining a menu. A sample:

[code]

First _label_, _icons_ etc is assigned to the command `v.sayHello`. Such an assignment is allowed to appear multiple times but the __last wins__.

The `menus` structure has fixed properties (`editor/title`, `explorer/context` etc) for w

[2016-06-23 15:09] sandy081 commented on #7983
@joaomoreno I do not see any such logs in the console.

But, when I searched for this module in code, I do not see any indication of duplicates.
But, I saw some commented lines in workbench.main.ts

[code]

I do not know if it is somehow related.

[2016-06-23 15:13] gerane commented on #7973
I don't see why you don't have both. I still want to be able to install and search extensions via command palette, but would sometimes like to use the other view.

[2016-06-23 15:25] alexandrudima commented on #8057
:+1: Removing it from Hover and IModelDecorationOptions might mean it is entirely not needed anymore

[2016-06-23 15:32] #7972 closed

[2016-06-23 15:38] sumonto commented on #6440
Any update folks

[2016-06-23 15:54] jrieken commented on #7992
This is the default config (actually I was wrong it's `cmd` on mac`)

[code]

[2016-06-23 16:03] jrieken commented on #8060
How about [`getVisibleEditor`](https://github.com/Microsoft/vscode/blob/joh/menus/src/vs/workbench/services/editor/common/editorService.ts#L39) when your viewlet is set visible=false?

[2016-06-23 16:05] joaomoreno opened #8061 "Extensions: show License link"

[2016-06-23 16:06] joaomoreno commented on #8060
The problem is that hiding the sidebar is a false positive I can't distinguish from the real thing.

[2016-06-23 16:12] alexander255 commented on #2223
I've hit this error today and it turns out I was hitting the [`inotify` per-user instance limit](http://man.cx/inotify_init(2)#heading5). Very non-obvious problem unfortunately :disappointed: .

Only fix is to increase that limit:

[code]

[2016-06-23 16:12] bennyticklez opened #8062 "Debugging relay todo example es6 code using Attach does not work correctly"
- VSCode Version: 1.3.0
- OS Version: 10.10.5
- Node Version: 5.10.0

Using the "todo" example from https://github.com/facebook/relay/

I have set up Vscode to debug the server database.js file by using the Attach method.

Steps to Reproduce:
1. Run "npm start" which runs the following line:
   npm run update-schema && babel-node --debug ./server.js
2. Attach via the Debug and refresh the webpage

[2016-06-23 16:14] bj7 commented on #2192
I would also love to see this natively implemented! This is such a great editor!

[2016-06-23 16:25] #7973 closed

[2016-06-23 16:41] Tyriar commented on #8001
Does the same thing happen when you add this setting?

[code]

[2016-06-23 16:44] pungggi opened #8063 "codetree symbol disappears when zooming"
- VSCode Version: Code - Insiders 1.3.0-insider (16676b2d1418313e949007ce98c95ca4e1cb28d9, 2016-06-21T17:35:01.730Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:
jsx file..
![image](https://cloud.githubusercontent.com/assets/5635709/16311869/772ce04c-3972-11e6-8719-dcba53d28ea0.png)

1. Ctrl+ +

![image](https://cloud.githubusercontent.com/assets/5635709/16311838/631c8670-3972-11e

[2016-06-23 16:50] tedhudek commented on #5047
hi @kieferrm, just curious if you have an ETA for this feature.  @gregvanl and I were discussing it.  Thanks!

[2016-06-23 16:52] knoxyca commented on #8029
Looks like I already had "http.proxyStrictSSL": false in my user configuration. However, as soon as vscode-update.azurewebsites.net is whitelisted in the firewall both insider build and production build prompted me to install updates.

[2016-06-23 16:52] jrieken commented on #8060
yeah, end of my knowledge

[2016-06-23 16:55] jrieken commented on #7898
Pushed a change that should fix this - tho not yet verified...

[2016-06-23 17:01] #8061 closed

[2016-06-23 17:01] joaomoreno commented on #8060
We can wait for @bpasero to fix it next week, should be easy for him.

[2016-06-23 17:05] ivaylopivanov opened #8064 "Create test for this method"
I'm not sure if this is the right place to ask or if there is existing solution for that, but after few hours of googling I was not able to find it. I'm searching for a functionality or extension which will allows me to right click on a method name and create instantly a test for this method. If there is no such solution at the moment, do you plan to add it in the future?

[2016-06-23 17:18] tedhudek opened #8065 "wordBasedSuggestions: false doesn't work in Markdown files"
- VSCode Version:1.2.1
- OS Version:Windows 10

Steps to Reproduce:

1. Set "editor.wordBasedSuggestions": false
2. Place the cursor in a Markdown document (no text highlighted)
3. Ctrl+space yields full word list and not just available md snippets

[2016-06-23 17:35] IgorNovozhilov opened #8066 "warnings in file default settings"
- VSCode Version:

![2016-06-23 20 25 40](https://cloud.githubusercontent.com/assets/3082812/16313206/dbb1f10c-3980-11e6-9961-b833d517dcfe.png)
- OS Version:

![2016-06-23 20 28 00](https://cloud.githubusercontent.com/assets/3082812/16313256/10c6921c-3981-11e6-8b6b-c7865aa3e7de.png)

### Steps to Reproduce 1:

1. open user settings

2. open the list of warnings

![2016-06-23 20 29 56](https://clou

[2016-06-23 17:41] bgashler1 commented on #8017
It so happens that the we have some new icons in the works.  I will compile a list of our icons and see if we can get our icon work accelerated.

[2016-06-23 18:01] weinand commented on #2472
@delfinof thanks a lot for creating that example project in github. With it I was able to reproduce and understand the problem.

The issue is unrelated to Docker and will occur in any setup that uses source maps **and** `remoteRoot`:
After registering a breakpoint in node.js VS Code tries to map back the actual location in the generated code to the original source. This mapping fails because the r

[2016-06-23 18:03] damiantp commented on #2472
@weinand Thanks! We all that work with remote hosts in order to have a configuration server (say a VM, Docker container, etc) as similar as a production server will thank you for this fix.

[2016-06-23 18:26] jgoshi opened #8067 "JSON schema file doesn't provide intellisense until the initial save of a .json file"
- VSCode Version: 1.2.1
- VSCode C++ extension Version: 0.7.0
- OS Version: Windows 10 Enterprise

NOTE: You need the C++ extension version 0.7.0 or later because we introduced the c_cpp_properties.json schema file.

Steps to Reproduce:

1. Open any folder containing a .cpp file with unresolved header files.
2. Click on the lightbulb for an unresolved header and select the "Add include path to set

[2016-06-23 18:37] inergy commented on #4968
@Tyriar is this truly a duplicate?  I feel that this is more of a bug with code that is already folded as well.  For example, when I have folded code and create a new line under it, my newline disappears and becomes part of the folded code above.

[2016-06-23 18:40] jgoshi opened #8068 "[json] hover in JSON documents hides '*'"
- VSCode Version: 1.2.1
- VSCode C++ extension Version: 0.7.0
- OS Version: Windows 10 Enterprise

NOTE: You need the C++ extension version 0.7.0 or later because we introduced the c_cpp_properties.json schema file.

Steps to Reproduce:

1. Open any folder containing a .cpp file with unresolved header files.
2. Click on the lightbulb for an unresolved header and select the "Add include path to set

[2016-06-23 18:53] giacomorebonato opened #8069 "experimentalDecorators Typescript warning always present"
- VSCode Version: 1.3.0-insider
- OS Version: El Capitan

Steps to Reproduce:

1. Create a Typescript project
2. Use decorators (I am using [Mobx](https://mobxjs.github.io/mobx/best/syntax.html))

I keep seeing the warning:
[code]
Where should I set this option? Because my tsconfig.json should be right
[code]

[2016-06-23 19:14] davidanthoff opened #8070 "Make snippet selection case sensitive"
- VSCode Version: 1.2.1
- OS Version: Wind10

I just added latex snippets to the [julia](https://marketplace.visualstudio.com/items?itemName=julialang.language-julia) extension. These snippets essentially map things like `\eta` onto `η`. This is very hand for scientific code.

One problem is that we will have snippets like `\eta` and `\Eta`, where the lower case will translate to the lower case gr

[2016-06-23 19:22] Hygens opened #8071 "Error"
- VSCode Version: 1.2
- OS Version: Linux Mint 17.3(Ubuntu Based 14.04.04)

Steps to Reproduce:
1. Install all plugins for Haskell and haskell-platform 7.6.3-10.
2. Create one simple file. Ex.:
-- File add.hs
myNot False = True
myNot True = False
sumList (x:xs) = x + sumList xs
sumList [] = 0
3. Configure informations for file in launch.json
{
    "version": "0.2.0",
    "configurations": [

[2016-06-23 19:51] bgashler1 commented on #7904
**One last update:** Greg and I verified that the bad italic screenshot above was due to ClearType not being enabled by default on Windows Server 2008 (the OS he was using).  On this particular OS, you must enable it manually, probably because it's not typical desktop machine but is meant to be tuned to be a server.

I don't think this will be a common scenario.  We should be fine with continuing

[2016-06-23 20:14] dbaeumer opened #8072 "Test issue"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.
![capture](https://cloud.githubusercontent.com/assets/1931590/16318494/c3e78794-398f-11e6-9ad0-0f73e9010f88.png)

[2016-06-23 20:15] #8072 closed

[2016-06-23 20:23] dmackerman commented on #459
This would be a killer feature.

[2016-06-23 20:27] dbaeumer commented on #8071
@Hygens please file the issue against the owner of the Haskell extension. There is nothing we can do in VS Code to address this.

[2016-06-23 20:27] #8071 closed

[2016-06-23 20:33] Hygens commented on #8071
Okay. Sorry for my mistake open issue here.

On 06/23/2016 05:28 PM, Dirk Bäumer wrote:

[2016-06-23 20:39] profabe commented on #8001
Still happens...
![capture](https://cloud.githubusercontent.com/assets/7761828/16319346/4526a67a-3993-11e6-8945-771fbeb79bc2.PNG)

[2016-06-23 20:41] stevencl commented on #7921
There are notes summarising what we discussed in all of the issues listed above.

In addition, we agreed that the UX team should start an exploration on overhauling panels and viewlets. We need to avoid simply adding bloat, but we also need to consider how best to accommodate new panels such as the terminal, error list etc.

[2016-06-23 20:41] #7921 closed

[2016-06-23 20:42] dbaeumer commented on #8069
This issue was moved to Microsoft/TypeScript#9335

[2016-06-23 20:42] #8069 closed

[2016-06-23 20:43] dilijev commented on #7935
Maybe there are scenarios where it doesn't make sense (like the temporary tabs that VS 2015 opens when you search with Ctrl+, or navigate to header with Ctrl+Shift+G etc.)

However, I think if File > Open...  is the only scenario where the list is populated then something is missing. I think any file which is opened deliberately should probably count as a recently opened file (File > Open... and D

[2016-06-23 20:45] dbaeumer commented on #8066
@aeschli not sure if this is you.

[2016-06-23 20:46] dbaeumer commented on #8064
Which programming language are you using.

[2016-06-23 20:49] dbaeumer commented on #8058
Without steps hard to fix. If we remove the workaround code that filters resources this might be gone anyways.

[2016-06-23 20:50] ivaylopivanov commented on #8064
C++ / Go / Typescript / Javascript

[2016-06-23 20:52] dbaeumer commented on #8051
Is this the integrated terminal ?

[2016-06-23 20:55] dbaeumer commented on #8047
@tienhv this is currently not possible.

[2016-06-23 20:56] aeschli commented on #8066
@kieferrm These are issues in with the markdown resp the jsLint settings schema:
If `null` is a valid value for a setting, the settings schema needs to list 'null' as in the 'type' as well.
See property "type" in the example below
e.g.
[code]

[2016-06-23 21:02] stevencl opened #8073 "UI and UX overhaul"
The VS Code UI and UX has evolved to a point where we need to take a holistic and top down view on the experience and look for improvements and inconsistencies. We should define our principles and design language and use that to evolve the product.

In particular, we need to focus on
- iconography #8017
- panels #7161
- colours #7649, #7648
- commanding #1136

[2016-06-23 21:04] stevencl commented on #8017
Great points @Tyriar. I think with our recent discussions around panels, colours etc that we should look at a UI and UX overhaul. We've built up enough UX and UI debt as the product has evolved that we need to address it.

[2016-06-23 21:19] louwill opened #8074 "[php] 'use' statement breaks coloring"
Running VSCode 1.2.1 on Windows 7 with Dark+ (Default).  When a PHP using statement exists, HTML tags are not themed correctly.  See two attachments: the first with the using statement commented; the second with the using statement not commented.  This appears to have broken in a recent release.

![image](https://cloud.githubusercontent.com/assets/1969592/16320586/8e027694-3966-11e6-9dbc-746d55f6d

[2016-06-23 21:30] chuckries opened #8075 "Code does not prompt for restart when installing a .vsix file."
- VSCode Version:
[code]
- OS Version:
[code]

Steps to Reproduce:

1. From new extension UI, search for any extension and install

Expected Behavior:
Code installs extension and prompts for restart.

Actual Behavior:
Code installs extension and does not prompt for restart.

[2016-06-23 21:32] jtsom commented on #8051
Sorry, yes the integrated terminal

[2016-06-23 21:48] #2472 closed

[2016-06-23 22:02] realmx opened #8076 "can not use [save all] from UI, when showTabs is true"
- VSCode Version: Code - Insiders 1.3.0-insider (5eaf9f05038b0a9818ebff510e1aafe07ac1ae68, 2016-06-23T05:04:13.858Z)
- OS Version: 10.11.5

Steps to Reproduce:

1.custom settings
[code]
2.edit some files more then two

[2016-06-23 22:06] weinand commented on #8052
@matthewrk just a tipp; you can start more than one debug session if you open new VS Code windows on subfolders. So if you you have a subfolder 'server' inside your main project, you can have one debug session on the main project folder and one on the subfolder. Yes, this is a limitation but we are working on lifting that.

[2016-06-23 22:07] masonicboom commented on #7817
I have experienced this. However, I am able to scroll with the trackpad if I place the cursor over the left side of the terminal (where my content is). If I move the cursor too far to the right, I cannot scroll.

Maybe the scrollable element is assuming the minimum width necessary to contain the terminal text, rather than occupying the full width of the terminal.

[2016-06-23 23:06] wesrupert commented on #7744
@isidorn It looks like assigning to a variable doesn't prompt a reevaluation of any variables that depend on it. Variables can be stale after setting a variable in languages such as C# (e.g. a property in the locals window), and watch expressions can be stale in all languages since they can be arbitrary expressions dependent on the changed variable.

[2016-06-23 23:35] dilijev commented on #5964
Confirmed repros in:
- VSCode Version: Code - Insiders 1.3.0-insider (5eaf9f05038b0a9818ebff510e1aafe07ac1ae68, 2016-06-23T05:07:59.360Z)
- OS Version: Windows_NT ia32 10.0.14366

[2016-06-24 00:31] nojvek opened #8077 "VSCode should only reset breakpoints after save when already debugging"
Here's a proposal for debugAdapters to support Edit on Idle, Edit and Continue scenarios.

Only reset the breakpoints after the file has been saved rather than every keystroke.

Notify the debugAdapter with an extra afterEdit:true arg in setBreakpoints

The debugAdapter can then asynchronously come back when it the new edited code is all mapped.

[2016-06-24 00:31] davidanthoff opened #8078 "Allow extensions to run custom terminals"
For the [julia](https://github.com/JuliaEditorSupport/julia-vscode) extension, I'd like to be able to add a julia terminal to VS code so that we could have the julia REPL inside VS code.

I think this could be pretty simple: essentially my extension would just need some way to tell VS code that it should add one more terminal window, and allow me to specify a command line that starts that julia te

[2016-06-24 00:42] siegebell commented on #1431
I would also like to see this feature.

I am writing an extension that needs to monitor cursor movements and make slight cursor position adjustments on occasion. The only way I've found to do this is to override the keybinding for e.g. 'left', call 'cursorLeft' from my command, and then validate the cursor's position.

Even without validation, intercepting 'left' and then immediately calling 'curs

[2016-06-24 01:36] ealsur opened #8079 "Extensions icon"
- VSCode Version: Code - Insiders 1.3.0-insider (5eaf9f05038b0a9818ebff510e1aafe07ac1ae68, 2016-06-23T05:07:59.360Z)
- OS Version: Windows_NT ia32 10.0.10586

The Extensions icon on the lower left corner dissapeared, I'm assuming there was a reason behind that and wondered which was it. It was quick to check the icon for pending updates, now I have to use the Show Extensions command to view which

[2016-06-24 01:41] egucciar opened #8080 "Drag and resize broken for terminal / while terminal is open"
- VSCode Version:1.2.1
- OS Version: 8.1

Steps to Reproduce:

1.  While terminal is open, try to drag and resize the sidebar
2.  Try to resize the terminal

It jumps, its impossible to resize these windows without running into a huge issue. Often its random where the ui ends up being dragged to, and then its unusable

[2016-06-24 02:27] bgashler1 commented on #8018
After discussing this with others and thinking about it, I feel it's best we use a downward chevron arrow (collapse arrow).

This implies a non-destructive removal of a view and disambiguates the expected behavior some users have of an "X" in a terminal (terminating a process, removing history and closing the terminal).

[2016-06-24 02:29] #8018 closed

[2016-06-24 02:38] bgashler1 commented on #7732
Per our UX discussion we will continue with a panel approach for now with a dropdown.

**Plus** open new terminal
**Trash** remove current terminal
**Down chevron** hide the panel

![03](https://cloud.githubusercontent.com/assets/11839736/16326179/3de3cefc-3979-11e6-8594-c869030ee255.gif)

[2016-06-24 02:45] #7732 closed

[2016-06-24 02:56] Tyriar commented on #4968
@inergy I agree that it's a bug personally, I originally created it as such. I'll point out the fact that adding a new line immediately folds it.

[2016-06-24 02:57] Tyriar commented on #3353
As @inergy points out on #4968, adding a newline at the end of the folded section will immediately add the new line to the folded block.

[2016-06-24 02:58] Tyriar commented on #7817
@masonicboom that is expected on stable, on the insiders build scrolling *should* be working as expected.

[2016-06-24 03:00] Tyriar commented on #8001
Last thing I can think of is try using the 64 bit cmd which is at:

[code]

Unfortunately this is a bit tricky to debug due to the fix for https://github.com/Microsoft/vscode/issues/6469

Does this also happen on stable, or just insiders?

[2016-06-24 03:14] Tyriar commented on #8018
I'll leave the "Close" tooltip as is to keep it consistent with the command name

[2016-06-24 03:28] heroboy opened #8081 ""Open Symbol By Name" is not working properly in multipy typescript projects."
- VSCode Version:1.2.1
- OS Version: windows 8.1

Steps to Reproduce:
1. create a project like:
[code]
2. Ctrl+P and type "#" to search some symbols in "a.ts" "b.ts" or "c.ts". You will expect they will be seached. But the search result is depend on which file is currently opening or something else maybe open file order.

For exmaple:
open "c.ts" and insert:
[code]
Then you can search symbols in "

[2016-06-24 03:45] #7911 closed

[2016-06-24 03:49] Tyriar commented on #7541
Should be fixed by https://github.com/sourcelair/xterm.js/pull/138

[2016-06-24 04:05] Tyriar commented on #6458
Fixed in https://github.com/Microsoft/vscode/pull/7705, should land in Insiders in 1-2 hours.

![image](https://cloud.githubusercontent.com/assets/2193314/16327639/3ce5e5fa-3986-11e6-8013-b0eff9366eff.png)

[2016-06-24 04:05] #6458 closed

[2016-06-24 04:19] Thaina commented on #3192
Want to ask something. Is this feature would include extension for source control?

The Icon in sidebar only support git right now. Will this feature allow us to override it to use other source control as plugins?

[2016-06-24 04:42] klauszhang opened #8082 "C# is missing from language mode"
- VSCode Version: 1.2.1
- OS Version: windows 10 pro

Steps to Reproduce:

1. Create a new document with ctrl+shift+n
2. Click on the "Plan Text" and type in C#
3. And C# is missing!!

[2016-06-24 04:48] klauszhang commented on #8082
All right, C# now is a plugin... But why bother make it a plugin? how strange...
https://marketplace.visualstudio.com/vscode/Languages?sortBy=Downloads

[2016-06-24 04:48] #8082 closed

[2016-06-24 04:51] #7670 closed

[2016-06-24 05:08] zhengbli commented on #8081
In this case we do only build projects for opened files. So if you open "c.ts" and add the `import`, what happens is:
[Open c.ts]
1. The server opens c.ts, didn't find a tsconfig.json file for it, so creates an inferred project for it
[Add `import`]
2. The server opens b.ts, and found a tsconfig.json file, so creates a configured project according to tsconfig.json.

However, after you commenting o

[2016-06-24 05:14] Tyriar opened #8083 "Hollow terminal cursor is only present after the first focus"
Steps to Reproduce:

1. Open terminal
2. Close vscode
3. Open vscode, observe terminal is open but no hollow cursor

[2016-06-24 05:17] zhengbli commented on #8081
In addition, the order in which the files are opened matters by design. When one file belongs to multiple projects, we try to resolve the conflict by determining which types of project has a higher priority. But sometimes there are no ways to know which one the file is "intended" to belong to. So in cases like these, it goes to the first project created.

[2016-06-24 05:17] emzero opened #8084 "Improve TypeScript syntax highlighting"
Version 1.2.1
Commit fe7f407b95b7f78405846188259504b34ef72761
Date 2016-06-14T13:00:22.146Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

Windows 7 x64

Here's a side by side comparison of the (almost) same sample code from the TypeScript playground.

![image](https://cloud.githubusercontent.com/assets/412489/16328521/7735c9b6-39b1-11e6-8a86-cab3423d02be.png)

As you can see the TypeScript side

[2016-06-24 05:17] Tyriar commented on #8083
Upstream issue https://github.com/sourcelair/xterm.js/issues/141

[2016-06-24 05:45] Tyriar opened #8085 "Cursor should only blink when terminal has focus"
Upstream issue https://github.com/sourcelair/xterm.js/issues/141

[2016-06-24 05:50] Tyriar opened #8086 "Middle click to paste selection in terminal does not work when middle clicking the selection itself"
Steps to Reproduce:

1. Open terminal on Linux
2. Select text
3. Middle click on the selected text, nothing happens

[2016-06-24 05:51] Tyriar commented on #8086
Upstream issue: https://github.com/sourcelair/xterm.js/issues/143

[2016-06-24 06:20] joaomoreno commented on #8053
We can skip automatic fetching if there are no remotes.

Your current branch is `version-1_3`... it says right there in the bottom left corner, in the status bar.

[2016-06-24 06:21] joaomoreno commented on #8044
Is this related to #7599 and it so, did you encounter this bug in an actual extension installation?

[2016-06-24 06:40] f111fei commented on #8044
@joaomoreno
No. we use our extension marketplace to install extension, but the `zip` file can't be extracted.

[2016-06-24 06:44] dklunarian opened #8087 "Unexpected terminal related behaviour"
- VSCode Version: 1.2.1
- OS Version: Win7 x64 Simplified Chinese

Steps to Reproduce:

1. Ctrl + ` won't work
2. In terminal, chinese characters are squeezed into a mess

[2016-06-24 06:49] f111fei commented on #8044
the issue is different from PR https://github.com/Microsoft/vscode/pull/7599. the issue `zip` extract success, but `Promise` is pending forever. PR 7599 `zip` file extract failed.

I suggest you write a test use these `zip` file for `vs/base/node/zip`

[2016-06-24 06:51] heroboy commented on #8081
@zhengbli
My another project layout is just like the above project I described.
I setup another project to test:
[code]
Then I tried several times, each time I close all working files and restart vscode.
1. open "a/main.ts".
2. "afunc" found, and "bfunc" not. It's ok.
3. open "b/main.ts"
4. "afunc" found, and "bfunc" not. I think "bfunc" should be found.
5. close all files
6. "afunc" and "bfunc" n

[2016-06-24 06:55] isidorn commented on #8039
Dup of #2163

[2016-06-24 06:55] #8039 closed

[2016-06-24 06:56] isidorn commented on #7744
@wesrupert true, can you please create a seperate issue for that. Thank you.

[2016-06-24 06:56] Tyriar opened #8088 "Why is "editor.cursorBlinking":"hidden" a thing?"
An editor with an invisible cursor doesn't seem particularly intuitive.

[2016-06-24 06:56] heroboy commented on #8081
When "bfunc" can't be found, even I opened "b.ts", it still can't be found.

[2016-06-24 06:58] lllopo commented on #8034
Nope, no luck with last update - font is smaller, but the button stil cut off. I think you should restore the font size and batting and reduce the margin of the '.actions' div (at least it work for me, when I tweak it through the developper tools).

![untitled-1](https://cloud.githubusercontent.com/assets/5485902/16330342/32372950-39f1-11e6-85bf-b276cf80dcb7.jpg)

Worth mentionning my display is s

[2016-06-24 06:58] GanLuo96214 opened #8089 "multi line edit"
- VSCode Version:1.1.1
- OS Version:centos-7  linux 3.10.0

Does vscode have a shortcut can split I selected lines as a line. Like Sublime Text 3 shortcut  CTRL+SHIFT+L on Windows.

[2016-06-24 07:03] GanLuo96214 commented on #8089
I find it. sry for bother u. CTRL+SHILT+I.

[2016-06-24 07:03] #8089 closed

[2016-06-24 07:03] zhengbli commented on #8081
Thanks for the detailed repro procedure! Indeed I see this on my machine too. I'll dig deeper tomorrow, it could be either the project system or the navBar APIs.

[2016-06-24 07:04] lllopo commented on #8034
My CSS that solves it, is font 14px on the button, vertical padding of 2px on the button, 10px margin on the '.actions' and '.description' DIVs ... looks ok to me.

[2016-06-24 07:04] #7978 closed

[2016-06-24 07:05] #7616 closed

[2016-06-24 07:05] #8085 closed

[2016-06-24 07:05] Tyriar commented on #8087
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-24 07:05] #8087 closed

[2016-06-24 07:07] Tyriar commented on #8078
Duplicate of https://github.com/Microsoft/vscode/issues/547

[2016-06-24 07:07] #8078 closed

[2016-06-24 07:08] heroboy commented on #8081
If I don't open the project entry ts files, tsserver will not known "all files" in the project. And can't implment a reasonable "Open Symbol By Name".For exmaple, if I close all files,and create a new ts file in the project. Then no symbol will found. It looks not good.

Will tsserver search all tsconfig.json to build projects? I think this is the right way.

[2016-06-24 07:11] Tyriar commented on #8083
This is in upstream, not sure if it's a bug or feature though, closing.

[2016-06-24 07:11] #8083 closed

[2016-06-24 07:12] GanLuo96214 commented on #8089
Not CTRL+SHIFT+I is SHIFT+ALT+I

[2016-06-24 07:19] CFhM-Lolipop opened #8090 "how to use integrated terminal to debug my program？"
- VSCode Version:1.3.0
- OS Version:windows 10 build 14371

![image](https://cloud.githubusercontent.com/assets/9619115/16330803/92e9fc8c-3a1e-11e6-83be-9ad496271c0b.png)
as the picture shows, i'd debug my python program, and the debugger always call the original terminal, not the one that integrated in the vscode, i wanna know how to set that the debugger can use the integrated terminal  to show

[2016-06-24 07:21] joaomoreno commented on #8034
Thanks for the ping @lllopo.

[2016-06-24 07:21] #8034 closed

[2016-06-24 07:28] zhengbli commented on #8081
Indeed this is not ideal for features like "Go to anything" in sublime. We are working on supporting the "Open Project" api, which will keep the project alive regardless of the opening files, though it will likely land after 2.0 release.

Actively searching for all tsconfig.json by default can be resource-intensive, because for each project we have to open all the files and watch the files and dir

[2016-06-24 07:33] #7302 closed

[2016-06-24 07:36] joaomoreno opened #8091 "Find all references doesn't work in default exports"
@jrieken I suggest we stop using default exports them until Find All References work in them.

![image](https://cloud.githubusercontent.com/assets/22350/16331215/07bb65bc-39ef-11e6-8d08-afd475e28258.png)

![image](https://cloud.githubusercontent.com/assets/22350/16331199/db611d0e-39ee-11e6-8539-804fcf0d213a.png)

[2016-06-24 07:50] jrieken commented on #8091
Fair point - this goes as works as designed for TS cos the default import is un-named and `import WebView ` is symbol declaration

[2016-06-24 07:51] emzero commented on #8084
Adding further details to this. I believe Types should be colored too when being used and not only when declaring them.

Here's the same example in three different color themes.

![image](https://cloud.githubusercontent.com/assets/412489/16331176/c4c390c4-39c4-11e6-967e-c30b4742b58d.png)
![image](https://cloud.githubusercontent.com/assets/412489/16331204/0247232a-39c5-11e6-842c-f3929b3604ab.png)
!

[2016-06-24 07:53] Tyriar commented on #8090
Duplicate of https://github.com/Microsoft/vscode/issues/547

For python in particular this is mentioned here https://github.com/DonJayamanne/pythonVSCode/issues/183

[2016-06-24 07:53] #8090 closed

[2016-06-24 07:55] jrieken commented on #3192
No - this is about adding menubar entries in the editor title area, the explorer context menu, and the editor context menu for command either defined an extension or VS Code. We are consuming this API with the markdown extension: https://github.com/Microsoft/vscode/blob/master/extensions/markdown/package.json#L73

![screen shot 2016-06-24 at 09 53 37](https://cloud.githubusercontent.com/assets/179

[2016-06-24 07:57] jrieken commented on #8065
We have moved markdown into an extension which fixes this

[2016-06-24 07:57] #8065 closed

[2016-06-24 07:58] jrieken commented on #8049
@aeschli Looks like a sticky error on the file

[2016-06-24 08:17] mafiya69 opened #8092 "Terminal inside Code"
- VSCode Version:

![image](https://cloud.githubusercontent.com/assets/7235212/16332142/07b112ec-3a12-11e6-8957-aac55721f5c5.png)
- OS Version: Windows 8.1

I am getting this terminal in Code :
![image](https://cloud.githubusercontent.com/assets/7235212/16332127/f149440c-3a11-11e6-9dad-ab22f7f3d97c.png)
Whats wrong here?

[2016-06-24 08:26] gontadu commented on #1634
Is it that VSCode uses TextMate's format for the language syntax plist?

[2016-06-24 08:30] #7970 closed

[2016-06-24 08:30] #7977 closed

[2016-06-24 08:34] johnfn opened #8093 "Add 'Reason' to SelectionChangeEvent"
In the process of working on a [Vim plugin for VSCode](https://github.com/VSCodeVim/Vim) I've run into a number of areas where I need a little bit of API help. Apologies if any of my suggestions already exist!

One thing that I would really like is an `onClick` event. I know that we have a way to see if selections are changed, but the difficulty is that the Vim plugin changes the selections a lot,

[2016-06-24 08:36] johnfn opened #8094 "API request: Live Positions"
In the process of working on a [Vim plugin for VSCode](https://github.com/VSCodeVim/Vim) I've run into a number of areas where I need a little bit of API help. Apologies if any of my suggestions already exist!

Vim has the concept of marks, which are positions in the document that you can jump to from anywhere. They're like the Positions the API provides, but if you delete text from before the mar

[2016-06-24 08:38] sandy081 commented on #8041
@markho10 The way it works from beginning is as follows:

Escape will only cancel the current search request. For eg: Type some text and press enter to search . It starts getting the results. You can see the progress bar on the top. If you want to cancel the request then Press Esc.

[2016-06-24 08:38] #8041 closed

[2016-06-24 08:39] weinand commented on #7631
No information after 10 days -> closing.

[2016-06-24 08:39] #7631 closed

[2016-06-24 08:39] johnfn opened #8095 "API request: Tab-Complete event"
In the process of working on a [Vim plugin for VSCode](https://github.com/VSCodeVim/Vim) I've run into a number of areas where I need a little bit of API help. Apologies if any of my suggestions already exist!

It would be _very_ useful for me to have some sort of way both to monitor when a tab-complete action is triggered (and in particular to retrieve the text that was completed). I need this fo

[2016-06-24 08:51] sandy081 commented on #8030
@heroboy I see this is working in latest insiders - de66522e06d74752d48d92e934dcd026050355ba

Can you please check again and let me know.

Thanks.

[2016-06-24 08:55] joaomoreno commented on #7982
Can't do anything to prevent this really, since the fetch is an XHR and Chromium just shows it in the console.

Will close as designed.

[2016-06-24 08:55] #7982 closed

[2016-06-24 08:57] Thaina commented on #3192
OK, Thanks

[2016-06-24 09:01] joaomoreno commented on #8004
Yes, the errors should eventually go away. It's a part of the install/uninstall procedure.

Closing the issue.

[2016-06-24 09:01] #8004 closed

[2016-06-24 09:08] weinand commented on #8062
@bennyticklez sorry, but I cannot get your setup to run. The steps from above are incomplete and I do not want to type in the testxt from the .babelrc sceenshot.

I noticed on the launch.json screenshot that you have set "sourceMaps" to true but "outDir" is not pointing to the root of the generated code. Please add that and see whether this makes a difference.

[2016-06-24 09:08] johnfn opened #8096 "API Request: Control over history"
In the process of working on a [Vim plugin for VSCode](https://github.com/VSCodeVim/Vim) I've run into a number of areas where I need a little bit of API help. Apologies if any of my suggestions already exist!

Vim's undo/redo history diverges from VSCode's almost immediately, since multiple changes in Vim can be considered a single undo step. This is very important just about everywhere in Vim, a

[2016-06-24 09:10] warpdesign opened #8097 "js validation doesn't work ?"
- VSCode Version: 1.2.1
- OS Version: Windows 10

I open a folder, then create a simple .js file with unvalid syntax but I have no error hightlighted.

Is there something to do to enable js validation errors displayed ?

In user settings, I have `javascript.validate.enable` set to true and it's not overwritten in workspace settings.

For example a file with this code doesn't display any error:

[c

[2016-06-24 09:21] sandy081 opened #8098 "Extensions view is not listed under Views menu"
- VSCode Version: Insiders latest
- OS Version: OSX

<img width="672" alt="Views" src="https://cloud.githubusercontent.com/assets/10746682/16333833/bcdf5d96-39fd-11e6-9dfe-b37266de56d2.png">

[2016-06-24 09:23] matthewrk commented on #8052
@weinand as far as I understand that would work if you have two executable apps, but in this case I have one web app and several class libraries, e.g. data access, services.

[2016-06-24 09:31] weinand commented on #8052
@matthewrk aha, your problem is not about multiple debug sessions in one project but about multiple projects in one debug session. This is something that the dot net extension has to solve.

[2016-06-24 09:33] weinand commented on #8052
This issue was moved to OmniSharp/omnisharp-vscode#460

[2016-06-24 09:33] #8052 closed

[2016-06-24 09:35] matthewrk commented on #8052
@weinand yes that sounds about right. I wasn't sure what project the problem belonged to. Thanks for your help.

[2016-06-24 09:35] dbaeumer commented on #8097
Here is what I see using 1.2.1. Does the file exist on disk? Currently JS validation only works for files that exist on disk.

![capture](https://cloud.githubusercontent.com/assets/1931590/16334169/b93e8c1e-39ff-11e6-8a4a-1cb481522d24.png)

[2016-06-24 09:41] #7974 closed

[2016-06-24 09:42] dbaeumer commented on #8079
@isidorn FYI.

[2016-06-24 09:43] #7990 closed

[2016-06-24 09:46] dbaeumer commented on #8064
Can you please file corresponding requests for C++ & Go in their repositories.

[2016-06-24 09:47] heroboy commented on #8030
@sandy081
[code]
This can use "*.ts". I think all insider verions has fixed this issue.

[2016-06-24 09:48] sandy081 commented on #8030
Thanks for confirming. Closing this.

[2016-06-24 09:48] #8030 closed

[2016-06-24 09:50] hackwaly commented on #2686
I found a workaround - use `ln -s`.

[2016-06-24 09:56] pavlos256 commented on #367
@bpasero I consider this different from #2686. This is about having multiple OS windows with one VSCode instance. One sidebar, one command bar and being able to drag editors out from one OS window into another OS window.

Do you think the work done for #2686 will also allow this?

[2016-06-24 10:05] dbaeumer commented on #8013
This gets filtered in the UI. We should remove that filtering code.

[2016-06-24 10:05] joaomoreno commented on #8079
Check it out: now you not only get notifications, but how many and you'll be able to see exactly which extensions need update.

![image](https://cloud.githubusercontent.com/assets/22350/16334871/de7d32c4-3a03-11e6-92f9-199948a72eca.png)

This feature is under heavy changes, so if you don't see this behaviour yet, wait a day or two.

[2016-06-24 10:05] #8079 closed

[2016-06-24 10:06] joaomoreno commented on #8098
Good 👀

[2016-06-24 10:08] joaomoreno commented on #7963
This doesn't seem to be a problem with VS Code at all, but with git and your machine. If you run those commands from the command line, do you get the same behaviour? If you shutdown Code and run them, do you get the same behaviour?

[2016-06-24 10:10] dbaeumer commented on #8091
Dups https://github.com/Microsoft/TypeScript/issues/9081.

Closing since this needs to be addressed in TS land.

[2016-06-24 10:10] #8091 closed

[2016-06-24 10:15] dbaeumer commented on #7916
@NikosEfthias no we don't. We only spawn gulp as a separate process.

[2016-06-24 10:17] ealsur commented on #8079
Thanks @joaomoreno for the claryfication :) It must be something with my installation then because I don't get the count on the vertical bar icon.

![image](https://cloud.githubusercontent.com/assets/1633401/16335187/a4ef6c7a-39db-11e6-8235-4c859f809c8d.png)

[2016-06-24 10:21] isidorn commented on #8077
Assigning first to @weinand to add protocol additions - if all looks good there then I can make changes on the vscode side.

[2016-06-24 10:24] prog-rajkamal commented on #4039
I don't know if it is the right place to ask, but does anyone know how to prevent vscode to STOP formatting html code like

[code]

to this version.
[code]

[2016-06-24 10:31] aeschli commented on #8049
@dbaeumer The JSON language service just validates the documents given by the language client.
It currently does not remove the makers when the document is closed. Dirk, let me know if that's what is expected from the language service.

[2016-06-24 10:32] Tyriar commented on #8092
Duplicate https://github.com/Microsoft/vscode/issues/7493

[2016-06-24 10:32] #8092 closed

[2016-06-24 10:33] weinand commented on #8077
@nojvek please correct me if I'm wrong but the purpose of the `afterEdit` flag is to help the adapter distinguish between the following two cases:
- user has modified breakpoints without editing the underlying source
- source was edited which results in new breakpoint locations

[2016-06-24 10:34] Tyriar commented on #8080
Fixed in master

[2016-06-24 10:34] #8080 closed

[2016-06-24 10:38] tellyarz opened #8099 "no intellisense for objects"
- VSCode Version: Version 1.2.1
- OS Version: Linux Mint 17.3

I have a slim application in PHP and wanted to see if the IDE will show the various properties and methods under the slim object. Not happy this was not the case, no intellisense for the slim object. Below is the code snippet:

[code]

Is there any work around for this?

[2016-06-24 10:42] aeschli commented on #8063
https://github.com/Microsoft/monaco-editor/issues/22 thinks that the z-index is the problem.

@joaomoreno You were involved in that change...

[2016-06-24 10:42] joaomoreno commented on #8079
You don't have it yet.

![image](https://cloud.githubusercontent.com/assets/22350/16335826/22e03e20-3a09-11e6-99ca-12e15eaebbfc.png)

Just be patient, it will come with the next update.

[2016-06-24 10:44] joaomoreno commented on #8063
We can simply revert ff9bf52. Should we?

[2016-06-24 10:46] aeschli commented on #8063
Just removing the z-index seems to fix the issue. Do you know why it is there?

[2016-06-24 10:51] StarNamer commented on #5596
I just tried version 1.2 with the settings as in 1. above. Still does nothing. Should the newer version have fixed anything?

[2016-06-24 11:06] joaomoreno commented on #8063
No idea...

[2016-06-24 11:46] sandy081 commented on #7540
Since this is still under discussion, I reverted Problems views to be consistent with other bottom views.

[2016-06-24 11:57] joaomoreno commented on #5596
No, the only change we pushed was about warning if the syntax of `http.proxy` was invalid. Unfortunately we still don't have a fix for your issue.

[2016-06-24 12:01] warpdesign opened #8100 "Terminal: resizing the panel clears the display"
- VSCode Version: Insider build - 2016-06-24T05:07:35:941Z
- OS Version: Windows 10

Steps to Reproduce:

1. Open a new terminal
2. Type something (I'm running grunt)
3. Resize the panel

The cursor seems to move, and the text disapears.

![terminalvscode](https://cloud.githubusercontent.com/assets/199648/16337252/2eac1a3e-3a14-11e6-9562-fd1da781deb8.gif)

[2016-06-24 12:04] badri-n18 opened #8101 "not reopening previous session"
- VSCode Version: 1.2
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1.
2.

[2016-06-24 12:43] shakvaal commented on #957
@jrieken Could you please provide a link?

[2016-06-24 12:48] joaomoreno commented on #8063
Thanks for looking into the issue, @aeschli !

[2016-06-24 12:48] jdforsythe opened #8102 "Feature Request - Project-level extensions and snippets"
- VSCode Version: all
- OS Version: all

We have a custom set of snippets written per-project and would like to include them in the project repo, like our launch.json, tasks.json. Right now we just include the json file and the dev has to copy+paste it into his user snippets, but the snippets are particular to a project, not to all projects.

Also it would be great to have a way to define what ext

[2016-06-24 12:49] #8063 closed

[2016-06-24 12:49] #8098 closed

[2016-06-24 13:05] #8057 closed

[2016-06-24 13:18] rebornix commented on #5047
there is another duplicate issue https://github.com/Microsoft/vscode/issues/6992 and I've put my knowledge there. `markdown-it` (our current markdown engine) does support generating scroll map for Editor's to implement sync-preview. The only thing left here is adding handlers inside TextEditor.

[2016-06-24 13:21] MNF opened #8103 "Visual Studio Code shouldn't hijack .config extension association"
After installing 'Visual Studio Code' .config files started to be associated with VSCode.
I am not sure that VSCode is a better editor for config files than Visual Studio or Notepad++. So user should make a decision which program should be associated with each extension, in particular such multi-purpose as .config. Installation should associate with VSCode only new extensions, that not used by any

[2016-06-24 13:22] shakvaal opened #8104 "Intellisense sees exported `exports.property`, but not `module.exports.property`"
Intellisense ignores exported properties when they are written as `module.exports.property`, while `exports.property` works fine.

- VSCode Version: 1.2.1
- OS Version: Windows 10 x64 Enterprise

![jsconfig_david](https://cloud.githubusercontent.com/assets/4275080/16338797/8646dba4-3a27-11e6-9270-b27afac2354e.png)
![b](https://cloud.githubusercontent.com/assets/4275080/16338798/8999b54c-3a27-11e6-

[2016-06-24 13:43] profabe commented on #8001
It happens in both stable and insiders. Please note I just updated them to the latest version and applied the setting regarding 64 bit cmd . The error message seems to be different now:

![vscode](https://cloud.githubusercontent.com/assets/7761828/16339317/4f4b82a8-3a22-11e6-9254-6624d40420d6.PNG)

![vscodeinsiders](https://cloud.githubusercontent.com/assets/7761828/16339324/58f0aec8-3a22-11e6-959

[2016-06-24 13:53] bennyticklez commented on #8062
Thank you for getting back to me. I generated the .js and map.js files into a /lib directory. Now when I run the Attach I get trace information with successful mapping. It does not stop on the breakpoints though.

![sourcemap](https://cloud.githubusercontent.com/assets/9270069/16339595/6f47e09e-3a1b-11e6-8a89-3901a6dde822.jpg)

[2016-06-24 13:57] kevin-ashton opened #8105 "files.trimTrailingWhitespace is inverted"
- VSCode Version: 1.2.1
- OS Version: OSX 10.11.2

Steps to Reproduce:

1.  I have the following settings:
[code]
2.  Hit space a few times at the end of a line and wait a second. Your cursor will jump back to the last character (since it trims the whitespace on the autosave).

3. However, if I set `files.trimTrailingWhitespace: true` then it does not trim the file. When I tell it trim it does not

[2016-06-24 14:04] FabioCarpi opened #8106 "Color issue"
- VSCode Version: 1.2.1
- OS Version: Windows 10 x64

With the code:
<?php
$site = substr($site, strpos($site, "format-number"));
$site = substr($site, strpos($site, ">") + 1);?>
<tr><td>VQP</td></tr>
<tr><td style="text-align:right"><?php echo number_format(substr($site, 0, strpos($site, "<")), 0, ",", ".");?></td></tr>

Look the color on second <?php

[2016-06-24 14:11] Stanzilla commented on #507
VS Code might have the same problem as Atom that all the extensions will have to be recompiled if the user migrates from 32bit to 64bit so that might actually be non-trivial to do.

[2016-06-24 14:18] blachawk commented on #313
I go back and fourth now with Visual Studio 2015 and Visual Studio Code because of this issue of not being able to find line-breaks and replacing them.

[2016-06-24 14:18] joaomoreno commented on #7498
@bpasero Adding you as an assignee in case you want to fix this for June. Else, unassign yourself and put it for July.

[2016-06-24 14:23] emiljas commented on #8105
On my machine (VSCode 1.2.1, Windows 7) files.trimTrailingWhitespace just do not work when "files.autoSave" is "afterDelay".

[2016-06-24 14:29] nojvek commented on #8077
Hi Andre,

That is true. It's basically signaling the debugAdapter that the sourcemaps
won't be accurate so wait till the script is parsed again.

The premise is this:

The v8 vm, chakra, clr and newer VMs can hot load source with their debug
api's. Having VScode hot load code is a very attractive feature.

On Friday, June 24, 2016, Andre Weinand <notifications@github.com> wrote:

[2016-06-24 14:36] sandy081 commented on #7773
I think excluding private/internal scheme file events at extension host does not look like a cleaner. As most of the users are interested to see the problems in preview / diff editors. Asking all extensions to do the clean up does not also help.

Here is another idea:
- For all internal (private, vscode) and inmemory scheme resources, let us (say IModelService) do the clean up during model dispose

[2016-06-24 14:58] MarkPieszak opened #8107 "Proposal: Let users set the Height of sidebar areas"
- VSCode Version: Latest
- OS Version: Any

At the moment the sections can be collapsed, but there is no way to just hover over and set them to the desired size. Let's for example you want to have a large section for Variables, and a small one for callstack & breakpoints. At the moment there's no way to set these yourself, and if you want a section to be large you have to minimize all others.

Jus

[2016-06-24 15:01] NikosEfthias opened #8108 "cannot use operator mono light italic font."
- VSCode Version:1.2.1
- OS Version:arch linux

Steps to Reproduce:

when i define font family as operator mono or operator mono book its working but i cannot use italic versions of those fonts

[2016-06-24 15:10] allancm opened #8109 "Several perl blocks looking as commented regions"
- VSCode Version:1.2.1
- OS Version:10.0.10586

Steps to Reproduce:

1. Download https://github.com/AlDanial/cloc/releases/download/v1.68/cloc-1.68.pl
2. Search for $Regexp_Common_Contents{'Common'} = <<'EOCommon' or go line 7251
3. Everything after that line looks like commented code which is incorrect.

[2016-06-24 15:16] jrieken commented on #957
Salsa is part of TypeScript (basically the `allowJs` flag): https://github.com/Microsoft/TypeScript

[2016-06-24 15:18] jrieken commented on #8095
Not so sure what that means?

[2016-06-24 15:19] jrieken commented on #8094
Yeah, our decorations are implemented like that

[2016-06-24 15:21] jrieken commented on #8093
Not sure about `onClick` but we could enrich the [`TextEditorSelectionChangeEvent`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L511) with some sort of hint

[2016-06-24 15:24] jrieken commented on #7773
That's were we came from ;-)

I think it's OK to exclude some documents from the extension host but only if they are **readonly**, like left-hand-side diff, synthetic configurations document, etc.

[2016-06-24 15:34] jmm commented on #2253
@bpasero @alexandrudima I'm really confused: aren't keys named `{{language}}.something` in the settings file expressing per language settings? Example:

[JavaScript Configuration - Language specific settings](https://code.visualstudio.com/docs/customization/userandworkspace#_settings-file-sections)

[code]

More specifically I saw an `html.format.wrapLineLength` prop in the default settings and tr

[2016-06-24 15:41] JostCrow opened #8110 "Can't search for extensions"
- VSCode Version: 1.3.0-insider
- Commit: de66522e06d74752d48d92e934dcd026050355ba
- OS Version: ElementaryOS

Can't search for extensions.
![screenshot from 2016-06-24 17 40 29](https://cloud.githubusercontent.com/assets/390575/16342487/c8bb991a-3a32-11e6-92b3-a4fea0527fc0.png)

[2016-06-24 15:46] davidanthoff commented on #8078
Ah, thanks, I didn't see that one! Could you add the integrated-terminal to #547? I missed #547 because I only looked through all the integrated-terminal issues for duplicates.

[2016-06-24 15:56] sandy081 commented on #7773
I tried excluding from extension host but I felt that is not the single point of place.
- I excluded documents from all events (add, change, remove), Otherwise some extensions are able to validate.
- Excluding from all events causing some extensions to break. They are looking for document data on active editor change.

Probably we can discuss on Monday and figure out a solution.

[2016-06-24 15:57] sandy081 commented on #7773
I would be also interested to know the story behind coming from cleaning up during model dispose :)

[2016-06-24 15:59] jdanyow commented on #6817
this can probably be closed now:  https://github.com/Microsoft/monaco-editor

[2016-06-24 16:06] jrieken opened #8111 "Need an icon for ''show preview to side""
The menu contribution story allows to define an alternative command for a menu item. It shows when you press <kbd>Alt</kbd> while hovering over the item. For `Markdown` we have an action _Open Preview_ and _Open Preview to Side_. The latter is the alternative command of the former, but they use the same icon...

![jun-24-2016 18-00-04](https://cloud.githubusercontent.com/assets/1794099/16343198/12

[2016-06-24 16:06] jrieken commented on #8111
@kieferrm fyi

[2016-06-24 16:21] 807447907 opened #8112 "Problem:You are not likely to find a line break symbol with VSCode."
- VSCode Version:1.2.1
- OS Version: Microsoft Windows [Version: 10.0.10586]

Steps to Reproduce:

1. Type a few lines of sentences.
2. Ctrl+F, enable Regular Expression option, input "[\n]" or "[\r]" and search.
3. You can't find any match.

But when using Visual Studio 2015, it works normally.

[2016-06-24 16:38] Rigg802 commented on #7998
I created a symlink and it worked for me:
http://stackoverflow.com/questions/36508177/visual-studio-code-cannot-detect-cygwin-git-exe-path/37980938#37980938

[2016-06-24 17:53] profabe commented on #8001
Is there a Developer's Guide available to set up the environment? Perhaps debugging on my machine can help solving that issue.

[2016-06-24 18:02] Tyriar commented on #8078
@davidanthoff done :smiley:

[2016-06-24 18:08] Tyriar commented on #8001
@profabe that won't help much beyond what you can already do. The terminal process ([terminalProcess.js](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/terminal/electron-browser/terminalProcess.js)), the thing that's crashing cannot be debugged as it's running in a different process.

Something you could do is make sure that `ENV` in [terminalService.ts' `createTerminalProc

[2016-06-24 18:14] nojvek opened #8114 "debugAdapter console intellisense Apis"
The current VSCode debugging experience feel subpar to that of chrome devtools or F12 console.

Proposal:

debugAdapter sends getConsoleCompletionsAtPosition(text: string, pos: number): ConsoleCompletions[] as user is typing.

debugAdapter returns back a list of completions
interface ConsoleCompletions {
  text: string;
  pos: number; // where to apply this completion
  .. other info
}

I'm not su

[2016-06-24 18:15] nojvek opened #8115 "VSCode debug console should support multiline input"
shift+enter in console and copy paste doesn't allow multiline input. This would be great to have.

[2016-06-24 18:25] davidanthoff commented on #547
I'm investigating this for the [julia](https://github.com/JuliaEditorSupport/julia-vscode) extension.

I generally see two possible implementations right now:
1) something that uses the terminal support from #143 and #6458, and has no debugger integration.
2) something fancier that is integrated with the debugger.

For 1), all I would need is some API that I can use from my extension that opens up

[2016-06-24 18:31] davidanthoff commented on #6458
I see that UI now on Windows. The drop down shows things like "1: xterm". Why "xterm"? I'm using PowerShell, might make more sense if that term shows up (like "bash" in your screen shot).

[2016-06-24 18:39] Tyriar opened #8116 "Windows integrated terminal dropdown has terminals named "xterm""

[2016-06-24 18:39] Tyriar commented on #6458
@davidanthoff thanks for the quick feedback, I'll see if I can look at this for June https://github.com/Microsoft/vscode/issues/8116

[2016-06-24 18:50] #8116 closed

[2016-06-24 18:54] davidanthoff opened #8117 "Terminal has display bugs with julia console"
- VSCode Version: 1.3.0-insider (de66522)
- OS Version: Win10 x64

Steps to Reproduce:
1. Install [julia v0.4.6](http://julialang.org/downloads/)
2. Configure VS code terminal to use PowerShell
3. Start VS Code terminal, then start a julia instance in the terminal (I have an alias for `julia` in my PowerShell session, you might have to enter the full path)
4. Enter shell mode by typing `;`, then e

[2016-06-24 18:55] davidanthoff commented on #8116
That was fast!

[2016-06-24 18:59] shakvaal commented on #313
@blachawk Try Notepad++ - as a hyperfast application it's much more suitable as a regex evaluator than VS2015 is)

[2016-06-24 19:10] johnfn commented on #8095
Sorry. I want an event that happens when a user presses tab when the completion window is open, and I want to have a string passed as an argument which is the text that was inserted.

[2016-06-24 19:11] johnfn commented on #8093
Yeah, that would be great.

[2016-06-24 19:32] jmm commented on #506
@bpasero Can you please restore the original title of this issue and reopen it? There are 2 separate logical issues:

1. Refreshing the explorer pane via keyboard command.

1. Keeping the explorer automatically in sync with the file system.

Item # 1 is the subject and original title of this GitHub issue, but it was taken over by the other issue. That the explorer should always stay in sync with t

[2016-06-24 20:29] coreh commented on #8047
A translation/localization API (so that extensions could install support for new locales) would be really neat.

[2016-06-24 20:54] wesrupert opened #8118 "SetVariable doesn't trigger reevaluation of stale variables"
- VSCode Version: 1.3.0-insider, 2016-06-23

Assigning to a variable doesn't prompt a reevaluation of any variables that depend on it. Variables can be stale after setting a variable in languages such as C# (e.g. a property in the locals window), and watch expressions can be stale in all languages since they can be arbitrary expressions dependent on the changed variable.

[2016-06-24 21:05] zhengbli commented on #8081
So I took a further look of the request / response records, and it seems that VSCode is not sending the correct file name for the `navto` command:

[open a/main.ts, and try to search the `afunc` symbol]
[code]
This is the correct behavior.

[Then open b/main.ts, and try to search the `bfunc` symbol]
[code]
This doesn't seem right, as the `file` argument is still the a/main.ts instead of the curren

[2016-06-24 21:15] lzantal commented on #7631
Ooops, github emails went to spam folder :(
Yes I use that extension, latest version of VSCode fixed it 1.2.1

Thank you and sorry for not responding sooner.

[2016-06-24 21:19] SkiftCreative opened #8119 "Sent env to running instance. Terminating"
- VSCode Version:
1.3.0-insider
- OS Version:
OSX, El Capitan (10.11.5)

Steps to Reproduce:

1. Start VS Code from the terminal
2. let it fail

I have been using code without much issue. But today I tried to start it (with no other instances already going) from the terminal, and I get this error:
[code]

The launch icon short for a few seconds, then disappears. I tried launching by clicking the `

[2016-06-24 21:21] gregvanl opened #8120 "Typo in quick open error "Unable to instanciate quick open handler""
- VSCode Version:1.3.0-insiders
- OS Version:Windows 10

"Unable to instanciate quick open handler.." should be "Unable to instantiate quick open handler.."

[2016-06-24 21:24] gregvanl opened #8121 "Extension preview Install button clipped at bottom"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Bring up Extension View
2. Click on an extension
3. Look at the banner in the extension preview window.

The green Install button is clipped.
![install-clipped](https://cloud.githubusercontent.com/assets/12818376/16351019/64e89a48-3a17-11e6-8dd5-7cb1a26dd859.png)

[2016-06-24 21:34] calebegg commented on #7391
@bpasero Any more updates on this? I see you tagged "needs more info" -- what can I do to help you diagnose? This is still happening very frequently for me.

[2016-06-24 22:03] profabe commented on #8001
Something seems to be wrong when debugging. I can not set a breakpoint at line 146 and 147. Only before and after - something is wrong with the sourcemap, right? Also the env variables not being available as watch is rather strange. Did I do something wrong?

![capture](https://cloud.githubusercontent.com/assets/7761828/16351741/34ce2642-3a68-11e6-8f28-479d254a4ce2.PNG)

[2016-06-24 22:10] calebegg commented on #7391
I tried using strace to attach to what I assume is the renderer process (I guessed that the one with highest CPU would be the renderer) and I found that right before vscode freezes, this process crashes, and it looks like it sends a crash report. Is there some data I can give to you to help track down the crash report on your end? The `vscode_sessionId` is given from strace as "890d6112-675f-40fb-

[2016-06-24 22:17] ShiranC opened #8122 "App detects a newer version but cannot update itself"
- VSCode Version: 1.1.1 (1.1.1)
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. When app detects availability of newer version, select "Update Now" from prompt at top of window
2.

[2016-06-24 22:18] gregvanl opened #8123 "Quick Open "ext" and "ext install" not working"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 10

These commands just hang and never complete. We probably want to remove "ext" now that we have the Extension View but we should keep "ext install blah" working since there is a lot of external documentation that calls out using Quick Open "ext install blah" to install an extension.

The Marketplace also calls out "ext install" and we need to

[2016-06-24 22:28] ShiranC commented on #8122
I have a similar problem with two other apps: GitHub "Atom" editor and "Brave" browser.
I believe all three apps use the "Electron" shell and "Squirrel" for software updates.

[2016-06-24 22:34] Tyriar commented on #8001
I've experienced some issues before with sourcemaps, maybe you could try looking at the .js file and try using the variable name used there?

[2016-06-24 22:37] Tyriar opened #8124 "Add update all extensions button/command"
As far as I can see this doesn't exist yet.

[2016-06-24 22:49] Tyriar opened #8125 "When hovering links in markdown, the cursor becomes a hand, not the regular text cursor"
- VSCode Version: master
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open .md file with `[...]()` style link
2. Mouse over `...` portion

![cursor](https://cloud.githubusercontent.com/assets/2193314/16352437/2046cf66-3a23-11e6-9bdf-3df71451c181.jpg)

[2016-06-24 22:53] Tyriar commented on #8125
It's picking up title's style due to the title scope.

[code]

/cc @bpasero

[2016-06-24 23:00] bgashler1 commented on #8111
@jrieken I just sent a request to our icon graphic design team.  They should be on it soon :)

[2016-06-24 23:06] Tyriar commented on #8125
The short term solution is probably to remove the "title" scope as it seems incorrect, in the long term the title classes should be less generic so they don't mess with the grammar styles.

[2016-06-24 23:22] sant123 opened #8127 "Edit and continue [Node.js]"
Hi, is it possible to add edit and continue in Node.js instead of using Nodemon? This feature can be appreciated in Node.js tools for visual studio.

Thanks.

[2016-06-24 23:22] #7034 closed

[2016-06-24 23:23] Tyriar opened #8128 "Consider adding run selected text in terminal to editor context menu"
#7034/#8126 adds the new command `workbench.action.terminal.runSelectedText` to run the editor selection in the terminal. I think this would make sense in the editor's context menu.

[2016-06-24 23:26] Tyriar commented on #7034
@DonJayamanne you can try this out in Insiders tomorrow via the command palette, there is no keybinding though as everything seems to be taken (modifiers+enter, ctrl+shift+r)

[2016-06-24 23:34] egamma commented on #5420
Added support for settings thanks to PR #7926.

[2016-06-24 23:36] TheColorRed opened #8129 "Get CompletionItemKind at position"
I have a `DefinitionProvider`, and I was wondering is there a way to get the `CompletionItemKind` at a particular position?

So take this for example:

[code]

When I <kbd>Ctrl+Click</kbd> on `Database` I would get the `Class` `CompletionItemKind`

[2016-06-24 23:37] #5420 closed

[2016-06-24 23:38] egamma commented on #7909
I've merged and tweaked the PR. More PRs :heart:

[2016-06-24 23:41] egamma commented on #2707
Emmet preferences are now supported in the settings file. I assume disabling emmet vendor prefixes can be done through a setting?

[2016-06-25 00:21] tedhudek opened #8130 "Markdown preview does not toggle as expected in tabs"
- VSCode Version: 1.3.0-insider (commit de66522, 2016-06-24)
- OS Version: Win10

Steps to Reproduce:
1. Use 'code-insiders .' to open a repo.
2. Click an md file to open it.  Type some text into the file.
3. Click another md file.  It opens in a new tab.
4. CTRL+SHIFT+V to preview the second file.
5. Three tabs are now open, two raw md and the one with a preview of the second md.
6. Now click tab

[2016-06-25 00:25] Tyriar commented on #7817
I can't reproduce on Insiders, two finger trackpad scroll seems to work just fine? OS X Yosemite 10.10.5 on a 2014 MacBook Pro.

[2016-06-25 00:25] DonJayamanne commented on #7034
@Tyriar, does this change also allow an extension developer to send some text to the terminal window?
What I would like to do is, use the terminal to for debugging python code.

[2016-06-25 00:59] TheColorRed opened #8131 "CompletionItemKind/SymbolKind starts at 1 in languageserver but 0 in vscode"
Is there a reason that `CompletionItemKind` starts at `1` in the `vscode-languageserver` and in the `vscode` library it starts at `0`?

[code]

[2016-06-25 01:23] seanmcbreen opened #8132 "Change Explorer Open In New Command Prompt Context Menu to use Integrated Terminal"
- VSCode Version: 1.2+
- OS Version: ALL

I would like this to launch the integrated experience to aid in discover-ability.

Steps to Reproduce:
1. Right click on a file
2. Should open in integrated terminal with the right folder context

[2016-06-25 02:03] davonta commented on #971
New to php development and am using wamp, I'm getting the same message. Not sure how to validate the php file or use the setting exactly. Can someone give me the step by step version so my wordpress themes can update?

[2016-06-25 03:15] Tyriar commented on #7034
It sends the selected text in the editor only, it's a command so it doesn't take arguments. I think https://github.com/Microsoft/vscode/issues/547 is what you're after.

[2016-06-25 04:26] localvar opened #8133 "vim extension issue with Chinese IME"
- VSCode Version: 1.2.1
- OS Version: Windows 10 professional

I tried two Vim extensions, [amVim](ResolutionScale) and [VsCodeVim](https://github.com/VSCodeVim/Vim), both have problems when using Chinese IME:

* [Input Chinese word doesn't work correctly](https://github.com/aioutecism/amVim-for-VSCode/issues/101)
* [issue with Chinese IME](https://github.com/VSCodeVim/Vim/issues/341)

from the co

[2016-06-25 04:56] KiritoStudio opened #8134 "Debug key shortcut does not work in Mac"
- VSCode Version: 1.2.1
- OS Version: Mac OS X 10.11.5

Steps to Reproduce:

1. Build a simple C# hello world app.
2. Insert a break point and start debug.
3. The key F10(Step Over), F11(Step Into) does not work because the default keyboard function of the two button is volume down and volume up.

[2016-06-25 05:02] pavlos256 opened #8135 "vscode hangs by hitting <tab> in the editor (easily reproducible)"
- VSCode Version: 1.2.1
- OS Version: Arch Linux

Steps to Reproduce:
1. Save the following as a .css file:

[code]
1. Open the file in vscode.
2. Place the cursor at the beginning of the second line (before white-space).
3. Hit tab.

The editor hangs with 100% CPU on a core, needs kill -9 to die.

I am able to reproduce this every time without failure.

[2016-06-25 05:06] Tyriar commented on #7508
This seems to be working fine using the new xterm-level copy and paste. The keybinding is currently <kbd>ctrl</kbd>+<kbd>ins</kbd> for copy and <kbd>shift</kbd>+<kbd>ins</kbd> to paste but I plan on making this configurable in https://github.com/Microsoft/vscode/issues/6451 and https://github.com/sourcelair/xterm.js/issues/118

[2016-06-25 05:06] #7508 closed

[2016-06-25 08:35] weinand commented on #8114
@nojvek I don't think that the debugAdapter is involved here. What is needed is access to the language model in the debug console (and all other places where language specific code is edited). The intellisense experience in the debug console should be the same as in the editor (and the editor doesn't use the debugAdapter for this).

[2016-06-25 09:29] jrieken commented on #7589
We have this since merging the MD extension to master: `vscode-light`, `vscode-dark`, or `vscode-high-contrast` (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/webview.ts#L46)

[2016-06-25 09:29] #7589 closed

[2016-06-25 09:30] jrieken commented on #6620
@aeschli Is this in reach or still needed that now things became extensions? I'd like to fix #6320

[2016-06-25 09:30] #5016 closed

[2016-06-25 09:39] jrieken commented on #2741
Sorry, again we didn't get to this... Tho we added a [`storagePath`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2967) property for those extension that want to store state that doesn't fit into mementos but needs files/folders

[2016-06-25 09:40] jrieken commented on #566
@bpasero Is this low hanging? Can I use the usual trick with a ResourceEditorInput?

[2016-06-25 09:44] jrieken commented on #8038
Closing with the option to revisit the fix

[2016-06-25 09:44] #8038 closed

[2016-06-25 10:36] tadasdanielius commented on #7866
I have the same issue on Linux Mint debian edition (LMDE 2 Betsy) and deb package
Tried to install with GUI and via command line, no luck.

messageService.ts:119Error from the extension host: spawn /usr/share/code/code (deleted) ENOENTe.doShow @ messageService.ts:119
ipc.cp.ts:156IPC "Watcher" errored with Error: spawn /usr/share/code/code (deleted) ENOENT
ipc.cp.ts:156IPC "Git" errored with Error

[2016-06-25 10:45] WayneKoorts commented on #2465
I guess we're not going to get any acceptance on this for any kind of meaningful flexibility.  I hope we don't have to end up making an accessibility fork of VS Code.

[2016-06-25 11:20] mrmlnc commented on #2707
@udarkness, in next version VS Code you can use all [documented Emmet preferences](http://docs.emmet.io/customization/preferences/).

![2016-06-25_14-16-32](https://cloud.githubusercontent.com/assets/7034281/16356423/acf8e5f4-3adf-11e6-97f9-8244f9277b4c.gif)

[2016-06-25 13:07] mrmlnc opened #8136 "[emmet] The command `update tag` works incorrectly with single-line tag"
**VS Code version**: 1.3.0-insider
**VS Code last commit**: de66522e06d74752d48d92e934dcd026050355ba
**OS version:** Windows 10 (build 1511)

Steps to Reproduce:

  1. Open VS Code
  2. Write custom HTML (for example: `.test-wrapper>.test`)
  3. Run command `Emmet: update tag`

#### Problem (tag without text)

![2016-06-25_16-01-23](https://cloud.githubusercontent.com/assets/7034281/16356839/3bbb2

[2016-06-25 13:25] rebornix commented on #8135
Reproduce on Mac with 1.3.0-Insider.

[2016-06-25 13:39] rebornix commented on #8133
The reason this issue comes with Vim extensions is because Vim needs to monitor user's keyboard input and all these extensions are listening to `type` command, but it's working in a strange way.

Let's say users want to type in a Chinese word `安` and in Chinese IME, they should type `a` + `n` then in their IME popup window, choose the first word by pressing `1` or space. Currently if you monitor `

[2016-06-25 14:02] profabe commented on #8001
The debugger only works in *.ts files not *.js files. I also tried to add some console.log statements, but the Developer Tools don't allow saving. Electron seems to be a biest in that matter. Can I somehow build a custom Visual Studio Code with these console.log statements in it?

![capture](https://cloud.githubusercontent.com/assets/7761828/16357126/1e987f68-3aee-11e6-9f5c-798fe7b022f8.PNG)

[2016-06-25 14:15] glen-84 commented on #8084
Related to https://github.com/Microsoft/TypeScript-TmLanguage/issues/149 (?)

[2016-06-25 14:29] leegee opened #8137 "Debug nodejs output - incorrect hyperlink"
Version 1.3.0-insider (1.3.0-insider)

de66522e06d74752d48d92e934dcd026050355ba

2016-06-24T05:02:09.613Z

OS X El Capitan

![screen shot 2016-06-25 at 16 27 14](https://cloud.githubusercontent.com/assets/512816/16357264/d92c05ea-3af1-11e6-9968-4a8f531a3067.png)

[2016-06-25 15:11] NValerij commented on #1046
https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7763958-drag-n-drop-selections - more popular request on this topic.

[2016-06-25 15:18] bpasero commented on #8076
@realmx where from do you invoke "Save All" and what is happening then?

[2016-06-25 15:21] bpasero commented on #506
@jmm try `workbench.files.action.refreshFilesExplorer` from our insiders build (http://code.visualstudio.com/Download#insiders)

[2016-06-25 15:23] bpasero commented on #7391
Best would be a memory profile when memory is growing but before VS Code crashes with out of memory (at ~1 GB). Typically the crash report does not help us much because it just indicates that there was an out of memory. It does not tell us which area caused it unfortunately.

[2016-06-25 15:25] bpasero commented on #566
No, because it's `resolve` method will try to make a text editor model out of it (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/editor/resourceEditorInput.ts#L159)

[2016-06-25 15:27] bpasero commented on #566
But from the workbench point of view you can pass in a `file:///` URI pointing to an image and it will open as image. So I think everything should just work if you end up calling `IEditorService.openEditor`.

[2016-06-25 15:29] bpasero commented on #2253
That is true but we do not support this kind of configuration for other editor settings, hence this is a valid and still open feature request that needs thinking.

[2016-06-25 15:31] bpasero commented on #8017
I must also admit that I am not a big fan of the recently introduced icons in the integrated terminal:

![image](https://cloud.githubusercontent.com/assets/900690/16357568/8a2f98ae-3afa-11e6-9ebe-bbf870b74b3b.png)

They do not seem to fit our other icon set at all. I also find the "Hide" icon questionable as one can easily confuse it with a dropdown menu.

[2016-06-25 15:34] bpasero commented on #8060
This is a consequence of introducing panels and having just one `COMPOSITE_OPENED` event instead of distinguishing between viewlets and panels.

@isidorn can we bring back a way to distinguish viewlets and panels when opening?

@joaomoreno once we have that back, the simple solution would be to check on this opening event if the id of the viewlet that opens is the extensions viewlet or not and mak

[2016-06-25 15:38] bpasero commented on #7961
There is currently no way of excluding editors in the list of recently opened because that list is for editors that you open in a session.

It seems to me that we are starting to think about workarounds for UX issues that all originate from the fact that we use an editor for showing the extension description (see also https://github.com/Microsoft/vscode/issues/8060).

I am arguing that if we feel

[2016-06-25 15:38] bpasero commented on #7961
@joaomoreno at least I suggest to prefix the editor with something stable like "Extension: " so that people are not getting super confused.

[2016-06-25 15:41] bpasero commented on #8048
@con-ssc they do in the newly introduced "Opened Editors" view. you can try from our insiders build: http://code.visualstudio.com/Download#insiders

[2016-06-25 15:41] #8048 closed

[2016-06-25 15:47] bpasero commented on #6440
Thanks so much for your interest in this issue! It is currently assigned to the backlog. Every month we pick items from the backlog to plan for the current iteration. Please see https://github.com/Microsoft/vscode/wiki/Issue-Tracking#planning for more information.

Since we are a small team of developers, there is only so many feature requests and issues we can work on for one milestone. Neverthel

[2016-06-25 15:48] bpasero commented on #6554
Thanks, this is an issue with our file watcher (and should be addressed with https://github.com/Microsoft/vscode/issues/6440). We currently do not detect file deletes (or moves as in this case) for files that are not part of the folder opened, but outside.

[2016-06-25 15:51] bpasero opened #8138 "Workbench to support left hand side of diff editor to be editable"
It seems that the left hand side of a diff editor is now suddenly editable with the new search & replace preview feature. The workbench is not really fit for allowing other editors (non-file, non-file-diff) to be editable nor do I believe is it discoverable or expected to be able to type on the left hand side. You will quickly notice that typing in the left hand side suddenly opens the file (as a

[2016-06-25 15:52] mrmlnc commented on #8136
Can be solved by passing `-1` when calling code snippets:

[code]

![2016-06-25_18-50-29](https://cloud.githubusercontent.com/assets/7034281/16357677/dd355bf0-3b05-11e6-9769-edc9a7e9a281.gif)

[2016-06-25 16:06] Tyriar commented on #8017
@bpasero the consistency of the icons will be solved in time as @bgashler1 mentions this is the way we're heading (there may be 1 or 2 releases where they're inconsistent though). @bgashler1 actually came up with some pretty nice looking icons that featured a mini terminal (box around >) and +/- symbols in the top corner, the argument against these was that the most important part of the icons (+/

[2016-06-25 16:09] Tyriar opened #8139 "Integrated terminal no longer handles `exit` correctly"
Steps to Reproduce:

1. ctrl+backtick
2. "exit", can no longer view and/or toggle terminal

[2016-06-25 16:34] nojvek commented on #8114
The language service might not always know what is possible at runtime. e.g
values of an array or objects created a runtime. The way this is done in JS
consoles is walking the prototype tree and properties.

On Sat, Jun 25, 2016 at 1:36 AM, Andre Weinand <notifications@github.com>
wrote:

[2016-06-25 16:44] Spown commented on #1046
@NValerij [^^^](#issuecomment-218391868)

[2016-06-25 16:57] maierson commented on #8123
Actually this hangs for a while after which it gives this error:

`Unable to instanciate quick open handler vs/workbench/parts/extensions/electron-browser/extensionsQuickOpen - ExtensionsHandler: {"errorCode":"load","moduleId":"vs/workbench/parts/extensions/electron-browser/extensionsQuickOpen","neededBy":["===anonymous8==="],"detail":{"errno":-2,"code":"ENOENT","syscall":"open","path":"/Applicati

[2016-06-25 17:14] bastienJS opened #8140 "Integrated terminal does not recognize when a folder is deleted in the explorer"
- VSCode Version: 1.3.0 Insider
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Create a folder with files in the explorer
2. Open a integrated terminal
3. Delete that folder - confirm deletion with yes -
4. cd to the deleted folder - its still existing -
5. close the integrated terminal
6. Open an integrated terminal again
7. cd to the deleted folder , its still there.

[2016-06-25 17:55] mrmlnc commented on #7909
Support for all Emmet action in the process development.

[2016-06-25 18:11] NValerij commented on #1046
@Spown sorry for duplicate. Deleted.

[2016-06-25 18:24] asif-mahmud commented on #2582
definitely needed feature. watching for it ..

[2016-06-25 18:25] Mucaccino commented on #6992
+1

[2016-06-25 18:31] Tyriar commented on #8140
I'm assuming this is a problem with the deletion as the terminal just defers all logic to the shell which I'm assuming is cmd (the default) in your cause?

[2016-06-25 18:36] Tyriar opened #8141 "Cannot launch ./scripts/code.sh via integrated terminal?"
![image](https://cloud.githubusercontent.com/assets/2193314/16358493/ca2ea09e-3ac8-11e6-89d2-7d9b3b5e589d.png)

gnome-terminal env:

[code]

Integrated terminal env:

[code]

[2016-06-25 18:43] Tyriar opened #8142 "Remove PTY* environment variables in terminal process"

[2016-06-25 18:52] #8142 closed

[2016-06-25 18:55] Tyriar commented on #8141
`ATOM_SHELL_INTERNAL_RUN_AS_NODE=1` is causing the issue.

[2016-06-25 19:01] #8141 closed

[2016-06-25 19:12] #8139 closed

[2016-06-25 19:29] dbaeumer commented on #8135
@aeschli FYI.

[2016-06-25 19:36] Pukka922 opened #8143 "tasks.json - cwd property in task objects"
- VSCode Version: 1.3.0-insider
- OS Version: OS X 10.11.5
- Language: C#

Steps to Reproduce:

My project structure is
global.json
.vscode (with launch.json and task.json)
src (folder) -> 2 Web Projects with 4 ClassLibaries that are shared between them

in the .vscode folder I have configured the launch.json
with two configurations, one for each web project from the src folder.
Now I need two bui

[2016-06-25 19:37] dbaeumer commented on #8131
@TheColorRed the language server protocol is supposed to be implemented in language different than JS/TS as well. To not cause any confusion with 0 in the protocol and may be falsy values all enums in the protocol start with 1. New enums (for example TextEditorCursorStyle) in the APi start with one as well. The reason CompletionItemKind starts with 0 is backwards compatibility.

[2016-06-25 19:37] #8131 closed

[2016-06-25 19:43] dbaeumer commented on #8119
@bpasero assigning you as well since @joaomoreno is out next week.

[2016-06-25 19:48] dbaeumer commented on #8104
This issue was moved to Microsoft/TypeScript#9360

[2016-06-25 19:48] #8104 closed

[2016-06-25 19:51] dbaeumer commented on #8102
@aeschli can you comment on the snippet request. Can't we define snippets on a workspace folder level.

@chrisdias @seanmcbreen for the workspace folder extension request.

[2016-06-25 19:52] dbaeumer commented on #8101
@badri-n18 Could you provide more details about what is not working?

[2016-06-25 19:54] realmx commented on #8076
- `"explorer.openEditors.visible": 9`
![1](https://cloud.githubusercontent.com/assets/6071313/16358773/2e714452-3b51-11e6-93fe-7baaacc0462b.jpg)

- '"explorer.openEditors.visible": 0'
![2](https://cloud.githubusercontent.com/assets/6071313/16358774/34fcdb7e-3b51-11e6-96a5-db64241f8e33.jpg)

@bpasero  when "explorer.openEditors.visible" set 0, how can i do to [save all]?  don't use the menu bar.

[2016-06-25 19:54] dbaeumer commented on #7716
Closing. Didn't receive a response in 10 days.

[2016-06-25 19:54] #7716 closed

[2016-06-25 20:07] alexandrudima commented on #8135
This is not a regression. Also happens in VS Code 1.2.1. Looks like emmet gets stuck in:

`C:\Alex\src\vscode\node_modules\emmet\lib\parser\css.js:186 - function eatString()`

Here are the locals I'm seeing in there, looks like that `while` loop never finishes:

![image](https://cloud.githubusercontent.com/assets/5047891/16358841/24e51e66-3b21-11e6-99b0-e59d99aa4588.png)

[2016-06-25 20:10] alexandrudima commented on #8135
We use emmet@1.3.1. Just checked and emmet@1.3.2 also loops in there indefinitely.

[2016-06-25 20:15] phest commented on #7273
Correct, `Foo` is in the list but not sorted to the top, I should have elaborated.

In this case, enough irrelevant [1] symbols are displayed in the list to hide a field. Furthermore, if the user wrote `Fo`, irrelevant classes like `FocusType` or `FogMode` would still be on top. In this case the user couldn't tab to complete `Foo`, s/he would have to write `F` `o` `o`, or scroll down the list.

It

[2016-06-25 20:27] dbaeumer commented on #7446
Sending the mode kind is only available in TS 2.0. Need to wait until it is officially available.

[2016-06-25 21:02] codymullins commented on #7077
is this already being worked on or is it something I could create a PR for?

[2016-06-25 21:07] kunkinkan commented on #507
Updates?

[2016-06-25 21:24] weinand commented on #8127
No, this is not yet possible.

[2016-06-25 22:26] pierredewilde opened #8144 "Incorrect HTML formatting with "html.format.indentHandlebars": false"
- VSCode Version: 1.2.1
- OS Version: Mac OS X 10.11.5

Steps to Reproduce:

Here is an extract of HTML (Angular 2) code:

[code]

Using `Format code (shift+alt+f)` command with default `"html.format.indentHandlebars": false` setting :

[code]

instead of :

[code]

I expect unchanged Angular/handlebar indentation with `"html.format.indentHandlebars": false`

[2016-06-25 22:54] miguelchico commented on #211
+1

[2016-06-25 23:02] miguelchico opened #8145 "trimAutoWhitespace doesn'n work on Windows 7"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:
1. Open code in an empty folder.
2. Configure trimAutoWhitespace to true
3. Create a new js file and fill with some valid code.
4. Add some whitespaces at the end of some lines or at beggining.
5. Save the file.

It should remove unnecessary  whitespaces but it doesn't.

I tried with all autoSave options

[2016-06-26 01:11] mrmlnc commented on #7909
Mini task, to keep you informed:

- [ ] Expand Abbreviation
- [ ] Balance
- [ ] Go to Matching Pair
- [ ] Wrap with Abbreviation
- [ ] Go to Edit Point
- [ ] Select Item
- [ ] Toggle Comment
- [ ] Split/Join Tag
- [ ] Remove Tag
- [ ] Merge Lines
- [ ] Update Image Size
- [ ] Evaluate Math Expression
- [ ] Increment/Decrement Number
- [ ] Reflect CSS Value
- [ ] Encode/Decode Image to data:URL

[2016-06-26 01:31] 560889223 opened #8146 "Markdown preview incorrectly renders nested lists"
- VSCode Version: 1.2.1
- OS Version: MacOS X 10.11.5

Steps to Reproduce:
1. Create a new .md file (Markdown fiile)
2. Put the following Markdown content (see "Non-working Code" attached) in the file.
3. Preview the Markdown doc.

"Non-working Code":

[code]

"Working Code":

[code]

[2016-06-26 01:49] sant123 commented on #8127
@weinand thanks for your answer, but would you consider it right? 😊

[2016-06-26 04:59] SkiftCreative commented on #8119
For reference (I forgot to link to this in my issue), i found this possibly related issue that was already closed. https://github.com/Microsoft/vscode/issues/4971

[2016-06-26 05:28] janegilring opened #8147 "Support using environment variables in settings.json"
- VSCode Version: 1.2.1
- OS Version: Windows 10 (1511)

It would be nice to be able to use environment variables in paths in settings.json, this is not possible in build 1.2.1 and older.

In my scenariio I`m syncing VS Code settings between computers, for example:

// Specifies the path to a PowerShell Script Analyzer settings file. Use either an absolute path (to override the default settings fo

[2016-06-26 05:35] bgashler1 commented on #8017
@bpasero I totally hear you on the consistency issue.  What we could do is possibly get these icons ported into our old look to remain consistent while we await a new icon set.

[2016-06-26 06:48] bpasero commented on #8140
Unlikely. More likely, folder moves to trash and the terminal still shows it from there. Maybe you try to reproduce?

[2016-06-26 06:49] #8120 closed

[2016-06-26 06:51] bpasero commented on #8105
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-06-26 06:53] bpasero commented on #8076
@realmx in this case you can
* use the top level menu File > Save All
* use the Save All command from the command palette (View > Command Palette)

[2016-06-26 06:53] #8076 closed

[2016-06-26 06:53] bpasero commented on #8017
I would be interested to get a look at the icon set when it is available 👍

[2016-06-26 06:55] bpasero commented on #8119
@SkiftCreative this indicates that another instance of Code is already running. It should be fine if you restart or terminate the instance that is running.

It would be interesting to find out how you got into this state in the first place though. Do you remember?

[2016-06-26 06:56] bpasero commented on #8145
@miguelchico can you try setting `files.trimTrailingWhitespace` instead?

@alexandrudima fyi I think this might confuse more users and we might want to rename this setting to make this more obvious?

[2016-06-26 06:58] bpasero commented on #8132
I would rather suggest to have a setting that controls this for all our terminal commands 👍

[2016-06-26 07:01] SkiftCreative commented on #8119
Thats the odd issue. Opening up Task Manager in osx shows no instances of code running. Even then, in the past ive been able to open up another new window from the cli before and it works. So I am not able to even terminate it.

[2016-06-26 07:08] SkiftCreative commented on #8119
So, as I wrote that I thought of something. I installed `htop` on my system, and did a search through all processes by searching for `code` and  there were 5 instances of some helper running in the background. That I never saw in Task Manager. I may have missed them for some reason.

`/Applications/Xcode.app/Contents/Developer/Library/PrivateFrameworks/CoreSimulator.framework/Versions/A/XPCService

[2016-06-26 07:11] SkiftCreative commented on #8119
Looking through all that, i noticed (because I accidentally killed the wrong helper) that I have another electron app open. Nylas N1 (email client). Heres the processes I had (sorry htop isnt letting me copy and paste)

![image](https://cloud.githubusercontent.com/assets/89895/16360970/69d3f4dc-3b32-11e6-9c1b-f4b15d1d2292.png)

Reference: https://github.com/nylas/N1

If theres anything else I can

[2016-06-26 07:12] bpasero commented on #8130
It looks as if this action is simply going back 1 in history? That is not really what should happen if you want to go back to source.

[2016-06-26 07:13] bpasero commented on #8119
@SkiftCreative yes, htop is a good tool to really find all processes. Happy to hear it works fine again after you close those processes.

Please keep an eye open if this happens again and then maybe you remember what happened to get you there.

Did this ever happen more than once?

[2016-06-26 07:16] bpasero commented on #8121
Moving to @isidorn since Joao is out next week to consider if this is something for the release. Otherwise feel free to move back.

[2016-06-26 07:16] bpasero commented on #8110
Moving to @isidorn since Joao is out next week to consider if this is something for the release. Otherwise feel free to move back.

[2016-06-26 07:17] bpasero commented on #7961
@isidorn maybe we sit together next week to make a decision how to improve this 👍

[2016-06-26 07:21] bpasero opened #8148 "Extensions: Double scroll bar on Windows"
<img width="258" alt="screen shot 2016-06-26 at 09 20 44" src="https://cloud.githubusercontent.com/assets/900690/16361002/4edb227a-3b7f-11e6-9e9c-0e68c191c42b.png">

This looks super bad and we should use the custom scroll bar if possible for the inner scroll bar and the outer scrollbar should just be hidden via CSS if possible.

@isidorn if you have cycles next week, moving to you.

[2016-06-26 07:22] rajinder-yadav commented on #6842
Nice work :+1:  thanks for getting this in!

[2016-06-26 07:23] bpasero opened #8149 "Extensions: bring back the separator from debug to extensions viewlet"
I actually liked the separator because it made it very clear that extensions have nothing to do with the inner-loop of development.

I am not sure why it was removed in the first place.

[2016-06-26 07:25] bpasero commented on #8101
@badri-n18 if you are not opening a folder in VS Code, we do not restore any previous UI state. Could it be that?

[2016-06-26 07:26] SkiftCreative commented on #8119
Yea i will definitely keep an eye on it. And no this is the only time it has happened. I am trying to break it now, but its not seeming to want to.

[2016-06-26 07:28] bpasero commented on #7983
@sandy081 yes, I think @alexandrudima did this and it is related

[2016-06-26 07:32] bpasero commented on #7930
This makes sense to me. @weinand do you agree?

[2016-06-26 07:38] bpasero commented on #7827
@jbeaudoin11 can you give me more details how you are still able to reproduce this issue?

[2016-06-26 07:40] bpasero commented on #7535
Think this is done?

[2016-06-26 07:51] linedotwww opened #8150 "mixin less error"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. create mixin in less file
I enter with no parameters, all is well
![2016-06-26_10-44-08](https://cloud.githubusercontent.com/assets/15665678/16361086/9c880464-3b8b-11e6-9eb9-8b6ba9b72791.png)

2. and here is errors
![2016-06-26_10-50-15](https://cloud.githubusercontent.com/assets/15665678/16361101/f9169f42-3b8b-11e6-9dda-4abeade7a945.png)

[2016-06-26 07:54] bpasero opened #8151 "Explore to introduce CSS variables from themes and use in workbench"
It would be useful if we could introduce CSS variables to the workbench from the selected theme so that we can start using the colors in other areas of the workbench.

A quick hack in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/themes/electron-browser/themeService.ts#L361 with

[code]

shows that I am able to pick up the color easily:

![image](https://cloud.githubuse

[2016-06-26 09:16] mrmlnc commented on #8150
This is a historical problem #1778 :)

[2016-06-26 10:32] Yukaii commented on #7997
Same issue here with build-in Zhuyin IM(Traditional Chinese) on OS X El Capitan：
![screen shot 2016-06-26 at 6 27 14 pm](https://cloud.githubusercontent.com/assets/4230968/16361720/2dd84b00-3bcc-11e6-8387-dc77cf522174.png)

[2016-06-26 11:47] leegee opened #8152 "Renamed file still showing in newly-opened 'Problems' report"
Latest Insiders build, latest OSX El Capitan.

1. Cause a linting error in a JS file.
1. Rename that file within Code
1. Open the 'Problems' report (CMD+SHIFT M)
1. See a the name of the file as it was before renaming
1. Click it, be asked to create the file

[2016-06-26 13:57] Luncher opened #8154 "how to jump over symbol?"
- VSCode Version: 1.2.1
- OS Version: fedora 21

Steps to Reproduce:
1.
2.

how to jump over symbol? like bracket, quotation

[2016-06-26 14:01] kumanan12 commented on #3599
I was teaching HTML5 to high school kids using visual studio code.  Emmet wasn't working in their machines(PC and MAC). Also checked for updates.  Dont know whats the issue. Please advise.

[2016-06-26 14:17] weinand commented on #8127
@sant123 sure, that's the reason for the little work 'yet' 😊

[2016-06-26 14:44] wallverb commented on #7817
@Tyriar let me know if I can help somehow to troubleshoot this issue, still not working for me Version 1.3.0-insider (1.3.0-insider) de66522e06d74752d48d92e934dcd026050355ba OS X 10.11.15 - 2012 Macbook Pro

[2016-06-26 15:03] sant123 commented on #8127
Thanks, I really appreciate it!

[2016-06-26 15:19] weinand commented on #7930
@bpasero I'm not using non-project windows and I've never used "Close Editor", but the proposed behaviour makes total sense to me. I'm not sure that we have to introduce a configurable option for this, though.

[2016-06-26 15:22] mrmlnc commented on #8130
@bpasero, Yes, i see this problem after the last update. For example

#### Stable

![2016-06-26_18-20-11](https://cloud.githubusercontent.com/assets/7034281/16363167/ca620f9e-3bca-11e6-9fb0-bc904b8409fd.gif)

#### Insider

![2016-06-26_18-20-43](https://cloud.githubusercontent.com/assets/7034281/16363170/dcf69b8e-3bca-11e6-8e04-2d725da049c8.gif)

:

[2016-06-26 15:36] bpasero commented on #8151
@bgashler1 what are your plans how to compute the right colors for themes other than our default light and dark themes? Are CSS variables powerful enough to compute proper derived colors from the base editor background color?

If we cannot do that with CSS variables, we have to find another solution (LESS?) I guess...

[2016-06-26 16:13] miguelchico commented on #8145
@bpasero that works! But... I don't understand because I found this option here https://code.visualstudio.com/Updates#_editor.

What I should do? Keep both properties? But keep trimAutoWhitespace and don't is the same for me right now...

Anyway thank you for the quick response.

[2016-06-26 16:35] carmeld999 opened #8156 "Sd cars"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-06-26 16:35] carmeld999 opened #8157 "Sd card"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-06-26 16:45] #7331 closed

[2016-06-26 16:52] gdimauro opened #8158 "console.log outputs undefined"
- VSCode Version: Code - Insiders 1.3.0-insider (de66522e06d74752d48d92e934dcd026050355ba, 2016-06-24T05:07:35.941Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1. in DEBUG CONSOLE write: console.log(100)
2. you'll obtain "undefined"

[2016-06-26 18:00] bastienJS commented on #6602
I use the integrated terminal only for doing "ng build" and getting an error message about what failed to build. But I am never able to read the cause of the failed build because I can not scroll up. Not every error is in the error windows. Sometimes error appear only at build process.

Thus if you want to justify the existance of the integrated terminal it really needs scrollbars or I have to the

[2016-06-26 18:02] mohsen1 opened #8159 "Add "Duplicate file" command in file explorer right click menu"
- VSCode Version: 1.2.1
- OS Version: MacOS

A native "duplicate file" command next to "copy", "rename" and "delete" is much needed.

[2016-06-26 18:09] wirecat opened #8160 "Error on Ubuntu trying to debug using GDB "Invalid launch option type, is not supported""
- VSCode Version: 1.2.1
- OS Version: Ubuntu 16.04 LTS

I am quite new to VS Code and g++... so I am highly suspicious I am the problem. Submitting this issue because I am unable to find anything on SO, github, or google.

Steps to Reproduce:
1. Make a simple HelloWorld.cpp which contains hello world.
2. Compile using "g++: g++ -g HelloWorld.cpp".
3. Add the folder for HelloWorld.cpp to VSCode.
4.

[2016-06-26 18:57] bastienJS opened #8161 "Compile errors are not supported by intellisense in real time"
- VSCode Version: 1.3.0 insider
- OS Version: win 10 x64

Steps to Reproduce:

1. Create a .ts file like an angular customer-edit.component.ts
2. Create another spec.ts file for the above .ts file.
3. Change the constructor of the customer-edit.component.ts by adding a parameter.
4. Open the "Error and Warnings"-Window
5. No errors are displayed although the spec.ts will not be able to compile due

[2016-06-26 18:58] wulftone commented on #2792
It is super confusing to try and find my cursor without line highlighting.  Would love to see this!

[2016-06-26 19:23] alexandrudima commented on #65
@dbaeumer This should now be closed?

[2016-06-26 20:37] weinand opened #8162 "Make source map handling asynchronous"
Currently source map handling in node-debug is synchronous which makes is difficult:
- load source maps from dynamically generated code that is only available via the node.js runtime
- to search the filesystem for source maps, source and generated code
- load source maps via http

[2016-06-26 20:50] miguelchico opened #8163 "Loose IntelliSense for angularjs updating from 0.10.9"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:
I´m moving from version 0.10.9 to 1.2.1 and I´ve lost IntelliSense information

1. Create a project
2. Create an angular 1 controller like this:
![image](https://cloud.githubusercontent.com/assets/6106661/16364726/95a2ab8c-3bee-11e6-979a-dcd5a0a5757b.png)
3. Create a jsconfig.json like this:

![image](https://cloud.githubusercont

[2016-06-26 21:25] weinand opened #8164 "extension host debugging: remote source maps are not used"
When debugging an extension, stepping into the extension host server code ends up in minified source.

The reason for this is missing support for loading remote source maps.

Before this can be fixed, the source map API must become asynchronous.
This is tracked with https://github.com/Microsoft/vscode/issues/8162.

[2016-06-27 00:28] shanselman commented on #8123
Why are we removing "Ext install"? The new way is REALLY not intuitive.

[2016-06-27 02:07] WalterZou opened #8165 "[Windows 10]Terminal:Chinese characters were overlapped"
- VSCode Version:1.2.1
- OS Version:Windows 10 (Language:Chinese Simplified)

Steps to Reproduce:

1. `Ctrl`+`~`,open terminal
2. Chinese characters were overlapped like this:
![qq 20160627095958](https://cloud.githubusercontent.com/assets/3727208/16366776/df01409e-3c4e-11e6-957e-ec9ab9f6896b.png)

[2016-06-27 02:19] fantacytyx commented on #8165
提问题前做好先搜索下要提的问题是否有人反馈过了。
你个问题已经有很多人反馈。并且已经修复了。

[2016-06-27 02:45] fantacytyx opened #8166 "Chinese characters garbled in task output panel"
- VSCode Version: 1.3.0-insider 2016-06-24 (commit de6652)
- OS Version: window 10

Steps to Reproduce:

1. Launch the task
2. Chinese characters were display like this
![image](https://cloud.githubusercontent.com/assets/8966236/16367211/d301de2a-3c53-11e6-8638-fe1322021461.png)
3.Normal should be like this
![image](https://cloud.githubusercontent.com/assets/8966236/16367238/00e5329c-3c54-11e6-8f2

[2016-06-27 03:44] gregvanl commented on #4653
Will be covered when vscode-docs work item https://github.com/Microsoft/vscode-docs/issues/124 is completed.

[2016-06-27 03:44] #4653 closed

[2016-06-27 04:55] bpasero opened #8167 "OutputWorker: Cannot read property 'getWorkspace' of undefined"
When opening the output panel:

[code]

[2016-06-27 05:01] bpasero opened #8168 "Problems: filter input box does not show blue outline when having focus"
That is an accessibility issue.

[2016-06-27 05:05] bpasero opened #8169 "Search viewlet right padding is incorrect"
Seems closer to the right hand side than to the left:

![image](https://cloud.githubusercontent.com/assets/900690/16369028/96c966a8-3c35-11e6-8ff7-128d93670ad7.png)

[2016-06-27 05:09] bpasero opened #8170 "Search & Replace: replace all icon is not using dark version in dark theme"
![image](https://cloud.githubusercontent.com/assets/900690/16369068/10e02922-3c36-11e6-9468-2108607afa3c.png)

[2016-06-27 05:32] bpasero commented on #8013
@dbaeumer @jrieken -1 on this change, for me Cmd+P and Cmd+T are now quite unusable because for example all imports are showing up as results:

![image](https://cloud.githubusercontent.com/assets/900690/16369623/3c256f22-3c39-11e6-8fa1-09929bfc1259.png)

At the very minimum, please restore how Cmd+P was working (use the filter only when the symbol handler is being used from the `openAnythingHandle

[2016-06-27 06:19] stkb commented on #4653
Thanks!

[2016-06-27 06:37] #8123 closed

[2016-06-27 06:39] bpasero opened #8171 "Aux window: Allow to control drag and drop operations out of the window for e.g. opening new windows"
This issue is for the user gesture of dragging a file or tab out of the window to have it open as separate window. This likely requires some changes in Electron to get working, since the target of the drag and drop operation is outside of the window.

For the request to open an editor in multiple windows easily, see https://github.com/microsoft/vscode/issues/10121

[2016-06-27 06:42] bpasero commented on #224
We are closing for the June milestone during this week with our usual endgame testing. Tabs are on the test plan (https://github.com/Microsoft/vscode/issues/7854) and will get some coverage during the week. We still expect to do fixing on tabs for June and possibly refinements based on feedback post June. The majority of the work is done though, so I will close this issue.

From the description of

[2016-06-27 06:42] #224 closed

[2016-06-27 06:43] basarat commented on #7455
I fixed it locally by just adding to the calculations that `hoverWidget` makes :rose:

[2016-06-27 06:43] #7455 closed

[2016-06-27 06:43] basarat commented on #7250
This can be closed as I have a workflow for easily exposing whatever internal I want as long as its shipped as a part of monaco :rose:

[2016-06-27 06:43] #7250 closed

[2016-06-27 06:44] basarat commented on #7382
I've ported all the [alm](http://alm.tools/) CM actions to Monaco so this can be closed :rose:

[2016-06-27 06:44] #7382 closed

[2016-06-27 06:45] basarat commented on #7569
I have it disabled in my code base. The official demo works fine so closing it :rose:

[2016-06-27 06:45] #7569 closed

[2016-06-27 06:46] basarat commented on #7454
I see the latest api allows raw markdown so that does what ever I wanted to use the innerHTML for. So closing :rose:

[2016-06-27 06:46] #7454 closed

[2016-06-27 06:51] basarat opened #8172 "Missing standalone languages `css` (etc) + `json`"
Previous report where `css` was removed : https://github.com/Microsoft/vscode/issues/7699

Now json's joined the party

![](http://assets2.ignimgs.com/2015/05/15/jason-statham-spy-movie-1280jpg-4cf7b9_1280w.jpg)

https://github.com/Microsoft/vscode/commits/master/src/vs/editor/editor.main.ts

This issue is just for tracking / pinging in case it gets completely lost :) /cc @aeschli :rose:

[2016-06-27 06:58] aeschli commented on #8172
JSON, CSS, LESS and SCSS are now contributed as monaco editor plugins.
See https://github.com/Microsoft/monaco-editor

[2016-06-27 06:58] #8172 closed

[2016-06-27 07:02] basarat commented on #8172
noice :rose:

[2016-06-27 07:03] zhu-liang commented on #8160
Go the same problem here. For step 6, mine was using absolute directory of my g++ compiled binary.

[2016-06-27 07:05] basarat commented on #8172
Looking at the sample : https://microsoft.github.io/monaco-editor/index.html `css` no longer has the nice `color` inline widget that it used to. Should I create an issue?

![image](https://cloud.githubusercontent.com/assets/874898/16371330/548fb46e-3c89-11e6-9461-7de5f3a075e7.png)

[2016-06-27 07:18] bpasero commented on #646
I opened https://github.com/electron/electron/issues/6251 as related upstream issue.

[2016-06-27 07:25] con-ssc commented on #8048
okay nice, sadly the Insiders Build Extension Functionality gets blocked by KES 10 :( So I cannot really use the Insiders build. The Stable one works btw. It's a known issue.

[2016-06-27 07:38] bpasero commented on #646
Pushed a change to treat *.asar as normal files and not directories. It is not 100% possible for us to prevent the locking because it seems a simple `fs.stat` or `fs.readdir` on such a file is sufficient to have it locked. But I went through our places of such calls and handle *.asar specially now. Let's see how it goes.

As a consequence you can no longer expand and browse in *.asar files. But th

[2016-06-27 07:39] bpasero commented on #8048
@con-ssc KES 10?

[2016-06-27 07:41] con-ssc commented on #8048
Oh sorry for not explaining the acronym "Kaspersky Endpoint Security 10"

[2016-06-27 07:50] #7535 closed

[2016-06-27 07:52] #8026 closed

[2016-06-27 07:53] aeschli commented on #8172
I will add this back ASAP. I'm waiting for some additional API

[2016-06-27 07:57] dbaeumer commented on #8166
Dups #974 & #3550.

[2016-06-27 07:57] #8166 closed

[2016-06-27 07:58] Tyriar commented on #8011
We're already getting telemetry for commands used by platform. This is sufficient for now.

[2016-06-27 07:58] #8011 closed

[2016-06-27 08:10] bpasero commented on #7498
Pushed a workaround. Moving to July.

[2016-06-27 08:12] bpasero commented on #8125
I cannot reproduce this anymore.

[2016-06-27 08:12] #8125 closed

[2016-06-27 08:14] bpasero opened #8173 "Noticeable delay opening a markdown file (source)"
I am noticing a delay when I click on a markdown file until it opens. I think this is a regression from the new markdown extension but I am not sure what piece could cause it.

//cc @jrieken if you have clues

[2016-06-27 08:15] #8170 closed

[2016-06-27 08:23] zhu-liang commented on #8160
Please try add
 "launchOptionType": "Local",
into your launch.json file and try again. Solved my side. Should be version problem.

[2016-06-27 08:26] #8008 closed

[2016-06-27 08:26] bpasero commented on #8008
@sandy081 I am now doing this:

![image](https://cloud.githubusercontent.com/assets/900690/16373260/a41b5638-3c51-11e6-8281-55c265eb442a.png)

[2016-06-27 08:30] bpasero commented on #7935
I updated this issue because besides DND it works as you say.

[2016-06-27 08:41] bpasero commented on #8009
Not trivial with our current model of handling dirty editors.

[2016-06-27 08:41] Tyriar commented on #7817
@wallverb would you be able to pull down https://github.com/sourcelair/xterm.js and check if you can reproduce on the [demo](https://github.com/sourcelair/xterm.js#demo)?

[2016-06-27 08:46] Tyriar commented on #6602
@bastienJS you should still be able to scroll using the mouse wheel and <kbd>ctrl</kbd>+<kbd>shift</kbd>+arrows/page up/page down.

[2016-06-27 08:48] bpasero commented on #7930
From looking at how other editors behave I found mixed behaviours so I think a setting might be needed after all. I worry that changing this without setting might break expectations of other users.

[2016-06-27 08:51] Tyriar commented on #8140
The only interaction done with the file system by the terminal is by the cmd process. I tried to reproduce but could not get step 4 to repro.

@bastienJS some follow ups:

- Are you using cmd within the terminal?
- Is it reproducing 100% consistently?
- Can you reproduce with a cmd window open?

[2016-06-27 08:55] Tyriar commented on #8001
@profabe you can edit the editor files on the OS in an editor that has admin access. You can always [build a developer build](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source), it may be more work getting it working though.

[2016-06-27 08:57] Tyriar commented on #7077
@codymullins not being worked on right now, I'm guessing its a problem within the https://github.com/sourcelair/xterm.js code base though (or the oldish https://github.com/rprichard/winpty version it uses when hooked up with pty.js).

[2016-06-27 08:57] niberius opened #8175 "Whitespace symbols are missed in the middle of a text"
- VSCode Version: 1.2.1
- OS Version: Win7 x64 Enterprise (also reproduced under Linux)

Preconditions:
1. User set following option:
{
    "editor.renderWhitespace": true
}

Steps to Reproduce:

1. Create new file
2. Type few spaces, then few words devided by space, then few spaces again.

Actual result: whitespaces shown only before the first word and after the last word. No whitespace symbols b

[2016-06-27 08:58] Tyriar commented on #7866
@tadasdanielius can you see if this is happening using the Insiders build? https://code.visualstudio.com/insiders

[2016-06-27 09:19] bpasero commented on #6666
Reopening as this was reverted.

[2016-06-27 09:19] dbaeumer commented on #8163
@egamma assigning to you since you provided quite some support for people switching over to Salsa.

[2016-06-27 09:21] dbaeumer commented on #8161
We are exploring on a TS project builder (see June milestone plan). Still needs some work but will come.

[2016-06-27 09:22] bpasero opened #8176 "Search / Replace: editors do not open when auto save is enabled"
This makes it impossible to undo a replace operation. Need to investigate why editors do not open when auto save is enabled.

[2016-06-27 09:22] dbaeumer commented on #8160
@wirecat do you have a C++ extension installed.

[2016-06-27 09:23] bpasero commented on #8176
@sandy081 actually I think you should explicitly call openEditors() with the files to be replaced from the search land.

[2016-06-27 09:23] dbaeumer commented on #8157
@carmeld999 I will close this issue assuming it got created by accident.

[2016-06-27 09:23] #8157 closed

[2016-06-27 09:24] dbaeumer commented on #8156
@carmeld999 I will close this issue assuming it got created by accident.

[2016-06-27 09:24] #8156 closed

[2016-06-27 09:25] dbaeumer commented on #8154
@alexandrudima assuming he is talking about word navigation in the editor.

[2016-06-27 09:27] dbaeumer commented on #8152
@sandy081 starting with you to see if the view is stale. Reporting wise we should delete old errors and create new ones on a file rename.

[2016-06-27 09:28] dbaeumer commented on #8147
@bpasero not sure who owns the settings service right now. May be it is @aeschli

[2016-06-27 09:28] bpasero commented on #8159
For now you can Copy & Paste to get the same behavious.

[2016-06-27 09:29] jrieken commented on #8129
Not really sure what you mean? The `DefinitionProvider` is meant to aid users in navigating source code. Given a position, get the symbol, and return one or many locations where it is defined. Different commands and actions, like _go to definition_, _preview definition_ etc, use this _data provider_.

Is that you want to enrich the hover you see when doing `Ctrl+MouseOver` on a symbol? Generally a

[2016-06-27 09:43] egamma opened #8177 "Provide an 'Extension: Install ' command in the palette"
The command palette shows several extension related commands:

![image](https://cloud.githubusercontent.com/assets/172399/16374808/7f0dbf46-3c58-11e6-98b8-d6f7d67e320f.png)

For completness we should also add `Extensions: Install` to the 'Extenions' category. It should open the extensions viewlet in a mode for installing an extension.

[2016-06-27 09:45] egamma opened #8178 "ext quick open handler throws an exception"
- Open quick open
- type 'ext '
-> exception below

The exception comes from the fact that the quick open handler is no longer available.

For backward compatibility we should consider whether we can still provide an 'ext' quick open handler. At least we could show a message that this function is now provided by the extensions viewlet.

![image](https://cloud.githubusercontent.com/assets/172399/16

[2016-06-27 09:46] jrieken commented on #8173
It's starting a process that encapsulated the rendering

[2016-06-27 09:47] jrieken commented on #8173
A dupe of #7066

[2016-06-27 09:47] isidorn commented on #8149
I did not like the separator visually and I thought the extensions being on the end of the list is a clear enough of an indication. Thus I gave negatvie feedback to joao regarding the seperator.
Not sure if that influenced his decision to remove it.

If you have strong feeling about it - I will bring it back

[2016-06-27 09:48] jrieken commented on #8013
Not filtering in the UI is still the right thing to do. Leaving it up to @dbaeumer to teach TypeScript to exclude some items

[2016-06-27 09:53] isidorn commented on #8115
PR's are welcome
[Code pointer](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/repl.ts#L56)

[2016-06-27 09:55] jrieken commented on #8095
Ok - understood. Accepting a completion is the `acceptSelectedSuggestion` command that by default is bound to the <kbd>Tab</kbd> key. That means users might have configured a different key to trigger this action.

We have a request to send out event before and after a command has executed:  #1431. Closing this as duplicate.

[2016-06-27 09:55] #8095 closed

[2016-06-27 09:59] sorinpopescu opened #8179 "Red points on editor"
- VSCode Version: 1.2.1
- OS Version: Windows 8.1

Steps to Reproduce:

1. Opened an php file that contains html
2. Removed some elements

http://prntscr.com/bllwa7

Thanks

[2016-06-27 10:02] isidorn commented on #8075
Now the extension nicely shows that it is disabled when the user clicks enable the user is prompted for a restart - I like this experience so please check it out and let us know what you think.

![enableextension](https://cloud.githubusercontent.com/assets/1926584/16376084/e55db606-3c5e-11e6-8f55-9783b847d6b6.gif)

[2016-06-27 10:02] sorinpopescu commented on #8179
Figured out - but not explained.
Seams to be from git - when you delete a line.
But should be something to explain on mouse over or else - but it's nothing.

[2016-06-27 10:02] #8179 closed

[2016-06-27 10:04] isidorn commented on #8134
This is because you have an inverted keyboard F keys on your mac which is the default behvaior.
System preference > keyboard shortcuts > uncheck Use all F keys....
You can also do fn + F key

[2016-06-27 10:04] #8134 closed

[2016-06-27 10:06] isidorn commented on #8118
June to investigate

[2016-06-27 10:06] jrieken commented on #7019
Sorry, but fell off the plan for June

[2016-06-27 10:07] Tyriar opened #8180 "Double click explorer sash now does not work when explorer has focus"
- VSCode Version: Code - Insiders 1.3.0-insider (41f53d27a8cb477130f84116c78f43ddacbaf24b, 2016-06-27T05:15:21.343Z)
- OS Version: Linux x64 4.4.0-24-generic Ubuntu 16.04

Steps to Reproduce:

1. Open a folder
2. Double click explorer sash

[code]

It works when a different viewlet is active.

[2016-06-27 10:08] isidorn commented on #8107
Currently it is possible to just drag the header and adjust the size of each area. Or this is not the functionality you are looking for?

![splitview](https://cloud.githubusercontent.com/assets/1926584/16376297/d1b5f2f2-3c5f-11e6-8c4c-769675b03123.gif)

[2016-06-27 10:08] #8107 closed

[2016-06-27 10:09] isidorn commented on #8137
Dup of #197

[2016-06-27 10:09] #8137 closed

[2016-06-27 10:11] sandy081 opened #8181 "Toolbar in Tree view not screen readable"
- VSCode Version: Latest insiders
- OS Version: OSX

Steps to Reproduce:
1. Enable Screen reader
2. Open Search view and search for some results
3. Navigate to remove action on search results

Remove action is not read as a button

[2016-06-27 10:12] isidorn commented on #8110
@JostCrow any search term you input does not procuce results?
If you use the vscode stable release do you see any results when you search for the same terms using our old quick pick ui (F1 > ext install >)

[2016-06-27 10:13] isidorn commented on #7961
@bpasero yeah let's look into this and #8060 together tomorrow / wednesday

[2016-06-27 10:14] Tyriar commented on #8165
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-27 10:14] #8165 closed

[2016-06-27 10:16] weinand opened #8182 "support mime-type when showing source from non-files in editor"
If a debug adapter returns source from the sourceRequest, the debug UI only recognises the correct (language) type if the name attribute of the source has a proper file extension.
For this reason some debug adapters have to add an extension to the name artificially.

This feature request asks for a more direct mechanism based on a new 'mimeType' attribute on the Source object. If available the deb

[2016-06-27 10:18] aeschli commented on #8151
Using css-variables for color values sounds like a good idea to me. It will help clarify the intend of every color und help us come up with a color system we should use across the workbench.
Colors variables should have names like background_color, input_box_background, search_box_background, primary_foreground, secondary_foreground... (just to illustrate, I make up things here).
I didn't see any

[2016-06-27 10:20] isidorn commented on #8182
This should be possible -> will investigate in debt week thus assigning to July

[2016-06-27 10:22] dbaeumer commented on #8013
IMO the last 'component' that should do any filtering is the language server / service. The service is asked to provide all workspace symbols the service should exactly return that.

In the example @bpasero shows most of the errors are properties on interfaces. So I think we need different ways to show/ filter that view: by type (only classes, ....) and by scope (top level, nested).

This requires

[2016-06-27 10:23] isidorn commented on #8148
Dup of #7970 which Joao fixed on friday - I verified and it now looks good on win

[2016-06-27 10:23] #8148 closed

[2016-06-27 10:24] dbaeumer commented on #65
Closing since we do have translation now for major language. The item still open is that we allow external contributions to the translation which we have on the backlog.

[2016-06-27 10:24] #65 closed

[2016-06-27 10:26] dbaeumer commented on #971
You need to set the settings `"php.validate.executablePath"` to a path of the php executable. For example on Windows to: `"C:\\apps\\php\\php.exe"`

[2016-06-27 10:27] isidorn commented on #6666
Yes - forgot to reopen thanks!

Note to myself: this was reverted because the resizing of the workbench would mess with the layout. Thus we were not respecting the layout calls.
In order for this to be done split view views need some serious refactoring -> backlog (will look into one of the debt weeks - maybe even july).

[2016-06-27 10:28] dbaeumer commented on #8081
@zhengbli thanks. I will have a look.

[2016-06-27 10:28] vuhrmeister opened #8183 "Resolving absolute import path"
- VSCode Version: 1.2.1
- OS Version: OSX

Only relative import paths are resolved. So jumping to the file that's imported works only with relative paths.

[code]

Where `/` is the very root of the project.

Also it would be nice if automatically resolving index files would work:

[code]

[2016-06-27 10:29] dbaeumer commented on #8047
@coreh this is actually possible. See the two node modules vscode-nls and vscode-nls-dev. And may be vscode-node-debug and an example on how to use them.

[2016-06-27 10:31] isidorn commented on #8158
This is coming from the node debug adapter thus forwarding to @weinand
Chrome dev tools behaves the same so I think this is desgined behavior but I'll let @weinand decide

[2016-06-27 10:33] sandy081 commented on #8176
@bpasero This issue is not specific to Search/Replace. It is also true for all bulk edit functionalities. Eg: Rename also does the same thing if auto save is enabled. I admit that behavior is not correct and not helpful especially if you want to undo. This again exposes the problem of global undo.

IMO, we should fix this in bulk edit infrastructure - to open edited files always. We can either lea

[2016-06-27 10:34] dbaeumer commented on #8049
@aeschli I think that is the only solution that works consistently. If a service generates a marker then the service is responsible for removing it. If a linter stops validating closed files, then he removes it. But the linter could also decide to keep on validating and listening to file events to decide if a revalidation is necessary. What I could add to the language server protocol is to auto re

[2016-06-27 10:34] Luncher commented on #8154
what ?

[2016-06-27 10:39] weinand commented on #8158
@gdimauro please run this snippet and you will see that this behaviour is correct:

[code]

[2016-06-27 10:39] #8158 closed

[2016-06-27 10:40] sandy081 commented on #8152
@dbaeumer I checked that Problems view is working as expected and not stale. Looks like problem with the ts linter. Because, similar scenario with ts server works properly.

[2016-06-27 10:41] sandy081 commented on #8152
This issue was moved to Microsoft/vscode-tslint#58

[2016-06-27 10:41] #8152 closed

[2016-06-27 10:43] dmiorandi commented on #1690
+1

[2016-06-27 10:44] JostCrow commented on #8110
@isidorn I have tried all kind of different inputs. for instance "python"

in the stable version when I type "ext install python" after pressing F1
![screenshot from 2016-06-27 12 41 43](https://cloud.githubusercontent.com/assets/390575/16377128/89dc2e06-3c64-11e6-9c0f-22cc972bb62b.png)

And in the insiders build you've now got the popular and recommended shortcuts. They also produce empty results

[2016-06-27 10:45] jrieken commented on #8013
@dbaeumer I actually think that its imports like `import * as errors from '...'` and in that case I would argue the usefulness

👍 for addition grouping - as in quick outline. The information should be available since both provider return arrays of `SymbolInformation`

[2016-06-27 10:51] isidorn commented on #8110
I can not repro this on my mac / win / ubuntu.
@aeschli can you please try this since you also have elementeryOS

I would think it is a proxy issue but it can't be that since you get results for VSCode stable

[2016-06-27 10:55] sandy081 commented on #8138
@bpasero That's a good input. But in case of replace preview, we would need leftie to be editable and rightie as replace preview. Switching them wont makes sense and I do not think these states are same as in git diff. Here we show now and after and in git it is before and now. IMO leftie state should be older than rightie.

Listing down the issues you mentioned  when making the leftie editable
-

[2016-06-27 11:11] #8168 closed

[2016-06-27 11:30] bpasero commented on #8173
@jrieken I see this when opening the markdown file in source, not preview. I am aware of the delay when previewing.

[2016-06-27 11:30] bpasero commented on #8149
@isidorn lets talk in the UX meeting.

[2016-06-27 11:32] bpasero commented on #8180
@isidorn reproduces when "Opened Editors" is hidden

[2016-06-27 11:33] bpasero commented on #7961
@isidorn no matter the outcome, I do think you should already add some prefix to the editor title at least.

[2016-06-27 11:35] bpasero commented on #8151
@aeschli actually the fact that we cannot use `calc()` with colors worries me a bit. If we end up having to write JS code to compute derived colors from the base colors I wonder if we are not better off using LESS or SASS instead.

When I filed this issue I was not aware that you cannot compute a color from a CSS variable using CSS.

Still interested to hear what Brad has to say (who made this sug

[2016-06-27 11:35] bpasero commented on #8148
Nice!

[2016-06-27 11:48] sandy081 opened #8184 "Tests for Global Replace"
Test for #7602

- [x] Windows - @kieferrm
- [x] OS X - @bpasero
- [x] Linux - @isidorn

- Replace functionality enablement
 - Replace functionality is disabled when
    - Replace is not shown
    - Replace is shown and Search text box is in focus
  - When Replace functionality is enabled
    - Replace All button is enabled in Replace textbox
    - Replace and Remove buttons are shown on all Search

[2016-06-27 11:49] bpasero commented on #8176
+1 for opening editor before doing the bulk edit, independent from how auto save is configured. this also allows the user to undo the change in each editor if needed.

[2016-06-27 11:52] bpasero opened #8185 "Add global commands to move an editor one group to the left or right"
Moving editors across groups. Should work in the same way as when using DND and possibly share the same code by pushing it into `IEditorGroupService.moveEditor()` even when the target group does not exist.

[2016-06-27 11:52] bpasero opened #8186 "Closing all editors (Cmd+Shift+W) restores editors when reopening"

[2016-06-27 11:55] bpasero commented on #8138
@sandy081 yes, we are in agreement 👍

[2016-06-27 11:59] #7898 closed

[2016-06-27 12:04] jrieken commented on #8173
hm... is the grammar we are using?

[2016-06-27 12:08] jrieken commented on #8173
![screen shot 2016-06-27 at 14 06 47](https://cloud.githubusercontent.com/assets/1794099/16379197/6a6bb7ce-3c70-11e6-8ec5-92a118c2e864.png)

Holy moly - the parsing/loading the grammar is **slow**. Tho it only happens once/the first time. @aeschli @alexandrudima ideas how to seep that up?

[CPU-20160627T140746.cpuprofile.zip](https://github.com/Microsoft/vscode/files/334769/CPU-20160627T140746.cpu

[2016-06-27 12:13] bpasero commented on #7809
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-06-27 12:13] #7809 closed

[2016-06-27 12:13] bpasero commented on #7838
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-06-27 12:13] #7838 closed

[2016-06-27 12:14] bpasero commented on #8177
I do agree. Easy enough as just opening the viewlet.

[2016-06-27 12:15] bpasero commented on #8178
Yeah we can guide the user to the viewlet, not a bad idea. I took out the handler but it can easily be brought back, maybe we just one item inside to tell the user that we moved the functionality to a viewlet and clicking that message opens the viewlet.

[2016-06-27 12:15] #8180 closed

[2016-06-27 12:15] bpasero commented on #8186
Ah no, that is "Close Window", d'oh.

[2016-06-27 12:15] #8186 closed

[2016-06-27 12:17] bpasero opened #8187 "Tests: ReferenceError: Proxy is not defined"
For me on Mac using node.js v5.10.0 I see:

[code]

[2016-06-27 12:19] isidorn commented on #8177
We already have a view: show extensions action that opens the viewlet - it is named like that for consistency with other openeing the viewlet actions.
I can add another action with a 'Extensions: Install' name that just does the same

![screen shot 2016-06-27 at 14 17 55](https://cloud.githubusercontent.com/assets/1926584/16379479/1091e97e-3c72-11e6-8435-98833a8f9a07.png)

[2016-06-27 12:26] TamerZorba commented on #1690
+1 👍

[2016-06-27 12:29] bpasero commented on #8177
@isidorn yeah, thanks. We should try to drive as much traffic to our new UI.

[2016-06-27 12:38] aeschli commented on #8110
Searching for extensions works for me on Elementary OS (Freya) with
Version 1.3.0-insider
Commit 41f53d27a8cb477130f84116c78f43ddacbaf24b
Date 2016-06-27T05:15:21.343Z

[2016-06-27 12:41] bpasero commented on #7991
I hate to close this but I really cannot reproduce this anymore, trying for 5 minutes. This is a tough one, please report back if you have any clue how to reproduce.

[2016-06-27 12:41] #7991 closed

[2016-06-27 12:44] isidorn commented on #7961
@bpasero added the 'Extension: ' prefix

[2016-06-27 12:47] isidorn commented on #7991
I did not see it since then - I will reopen if I hit it again - I also tried reproducing but failed.

[2016-06-27 12:49] JostCrow commented on #8110
I have the same version. Also Elementary OS (Freya)
Version 1.3.0-insider
Commit 41f53d27a8cb477130f84116c78f43ddacbaf24b
Date 2016-06-27T05:15:21.343Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

Maybe there is a log that I can check to see if something goes wrong?

[2016-06-27 12:51] isidorn commented on #8110
@JostCrow I do not think we log this operation - if you open the F1 > developer tools > do you see some errors in the dev console?
@bpasero ideas on how to tackle this are welcome

[2016-06-27 12:59] csholmq commented on #7911
Confirmed! :D

[2016-06-27 12:59] JostCrow commented on #8110
There are some errors indeed. I also tried to see what was the problem. The error at line 14 is connected to the extensions search error. _Cannot read property 'domNode' of null: TypeError: Cannot read property 'domNode' of null_

[vscode.txt](https://github.com/Microsoft/vscode/files/334873/vscode.txt)

[2016-06-27 12:59] janpieterz opened #8188 "Highlighting in tsx seems broken"
- VSCode Version: Code - Insiders 1.3.0-insider (41f53d27a8cb477130f84116c78f43ddacbaf24b, 2016-06-27T05:07:29.758Z)
- OS Version: Windows_NT ia32 10.0.10586

It seems to break on the <T,T> parts

Steps to Reproduce:

1. Create a tsx file with at least one class that extends React.Component
2. See!

[code]

![image](https://cloud.githubusercontent.com/assets/383634/16380484/a0fbbb3e-3c77-11e6-96fa

[2016-06-27 12:59] bpasero commented on #8110
@JostCrow  We can probably rule out proxy issues by checking if in the stable release you can search for extensions.

[2016-06-27 13:01] #8177 closed

[2016-06-27 13:02] bpasero commented on #7993
Could not reproduce. @joaomoreno fyi if you ever seen this. Closing for now until we find steps.

[2016-06-27 13:02] JostCrow commented on #8110
Yes I have never setup a proxy. and also in the office no proxy is active

[2016-06-27 13:02] #7993 closed

[2016-06-27 13:03] bpasero commented on #8110
@JostCrow and you can search for extensions using our stable release from the picker?

[2016-06-27 13:04] jrieken commented on #7589
- [ ] Test Plan Item created
- [ ] Key board accessible
- [ ] Screen reader accessible
- [ ] Works with the different themes, including the high contrast theme
- [ ] Telemetry events in place
- [ ] Release notes updated

[2016-06-27 13:05] JostCrow commented on #8110
Yes that is possible. It is only in the insiders that I am not able to search. The second screenshot that I posted in this treat is from the picker.

[2016-06-27 13:06] isidorn commented on #8110
Maybe you can do the following - break on exceptions and try to search for python - if you get an exception location screenshot in dev tools would be most useful

![gettingexception](https://cloud.githubusercontent.com/assets/1926584/16380652/9ee17022-3c78-11e6-9718-b08dd3512159.gif)

[2016-06-27 13:06] #3192 closed

[2016-06-27 13:09] JostCrow commented on #8110
Yes I have done this.
![screenshot from 2016-06-27 15 09 34](https://cloud.githubusercontent.com/assets/390575/16380758/35487f4c-3c79-11e6-83a1-9c879dba157f.png)

[2016-06-27 13:14] isidorn commented on #8110
@JostCrow awesome thanks! So it is coming from [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/list/rowCache.ts#L63)
@bpasero I can put a null guard [here](https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/list/listView.ts#L204) but I do not have a deep understanding of the list widget so if you have a better suggestions I am all ears.

[2016-06-27 13:15] MarkPieszak commented on #8107
Oh wow you can just click and hold on the bar itself? Well I'm embarrassed I never even thought to try that! A popover would be nice to let people know perhaps? Thank you though!

[2016-06-27 13:20] TheColorRed commented on #8129
Basically what I want is when you <kbd>ctrl+click</kbd> for it to go to the correct definition.

Sometimes there are classes with the same name as a method in another class. How does it know which one you actually want?

Currently our provider finds and returns the first one it finds. So you could either go to the class or to the method. When we add properties the same thing goes for here..

I hav

[2016-06-27 13:22] isidorn commented on #8178
@bpasero I will bring back the handle.
We explictly decided to keep it due to #7973