[2018-08-22 15:50] DanTup commented on #56996
I didn't notice anything in the logs except my own logging of the expression evaluation issue, but if it still repros tomorrow I'll do some more digging, thanks!

[2018-08-22 15:52] #57016 closed

[2018-08-22 15:52] isidorn commented on #57016
https://github.com/Microsoft/vscode/issues/56398

[2018-08-22 15:55] jdk339 commented on #57020
Only temporarily solution I found to solve this is to run VS Code as root:

`sudo code`

Note: You may need to install the `code` command in your PATH variable:

[](https://code.visualstudio.com/docs/setup/mac[](Mac setup))

[2018-08-22 15:58] misolori commented on #54727
@bpasero here's a few examples where X is used to stop a running operation:

<img width="50%" src="https://user-images.githubusercontent.com/35271042/44475285-74c79500-a5e9-11e8-889b-44c3989ed1d2.png">

<img width="50%" src="https://user-images.githubusercontent.com/35271042/44475214-4d70c800-a5e9-11e8-8967-79707e044d1a.png">

<img width="50%" src="https://user-images.githubusercontent.com/3527104

[2018-08-22 16:05] misolori commented on #51816
An example from Spotify where an update notification badge is connected to the menu item:

<img width="50%" src="https://user-images.githubusercontent.com/35271042/44475624-5dd57280-a5ea-11e8-8cd8-8ce9cc4b8732.png">

[2018-08-22 16:11] AmirNaghibi commented on #45768
I just had the same issue. The source control tab suddenly became irresponsive and I have to add the files using the command line and push them to repo.
However, I deleted my local repo and cloned the remote again and it started working again.

[2018-08-22 16:13] misolori commented on #55857
@joaomoreno would you be able to help out with this? I think we'd want to make all of the icons in the list widget use the `webkit-mask` trick so they're consistent.

[2018-08-22 16:13] jonnysamps commented on #32835
Please fix. Love VSCode but this drives me nuts.

[2018-08-22 16:20] drk-mtr opened #57023 "After running a command in the terminal, the terminal editor loses focus"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2018-08-22 16:25] misolori commented on #52161
We should consider using an alternate style for showing when a state is "enabled" or "checked" as our focus border treatment already uses the border style so it can be confusing. Adding this to the backlog.

[2018-08-22 16:29] nachocab opened #57025 "Sub-word navigation (camelCase) doesn't work when renaming symbols"
It would be nice if the shortcuts that were added in the June release would also work when renaming a symbol

[2018-08-22 16:33] danyeh commented on #56934
They were all localized in Transifex. Will investigate further.
https://www.transifex.com/microsoft-oss/vscode-workbench/translate/#es/$/149195306?q=text%3AAppearance

[2018-08-22 16:39] LOGANLEEE opened #57026 "how can i disable suggestion which is caused by 'Enter' key."
- VSCode Version:Version 1.26.1 (1.26.1)
- OS Version: OSX 10.13.6

Steps to Reproduce:

[1.
<img width="1680" alt="screen shot 2018-08-23 at 1 34 55 am" src="https://user-images.githubusercontent.com/26853553/44477224-fc0e1a80-a674-11e8-9904-0f4a304e782a.png">

2. i used 'code suggestion' key as ` and i never set with enter key for some suggestion function or setting. But it suddenly( i assume th

[2018-08-22 16:39] migerusantte commented on #56329
@cuneytbetik

You're a saver!...I just uninstalled the ssh extension and everything started to work again.

[2018-08-22 16:40] misolori commented on #56857
We could look at providing the option to use either the default icon or the foreground color (which is what the title bar text uses). This can get a little tricky as we currently use the icon to show what version of VS Code is being used (blue = stable, green = insiders).

@sbatten, thoughts?

[2018-08-22 16:43] vlurgio opened #57027 "Vs Code will not open with version 1.26.1 Even with a fresh install"
- VSCode Version: 1.26.1
- OS Version: Mac 10.13.6

Steps to Reproduce:

1. open code from finder or command line
2. code trys to open and can't

Does this issue occur when all extensions are disabled?: Yes/No
Yes

Output from --verbose
[code]

[2018-08-22 16:44] illegalnumbers commented on #56716
It doesn't detect anything. When I use ctrl it detects that but then when I hit the p button nothing comes up. When I use 'p' in other keystroke combinations it's fine. If I set that command to pp or something that seems to work as well.

[2018-08-22 16:46] wlamason opened #57028 "inno-updater.exe - Application Error (Windows)"
Issue Type: <b>Bug</b>

When opening VS Code I am prompted to update to 'Visual Studio Code 1.26.1.'

VS Code states it is updating in the background.

'Restart Visual Studio Code to apply the latest update.'

No matter if I click 'Install Update' or restart VS Code manually, I am met with the same error every time:

inno-updater.exe - Application Error (dialog)
The application was unable to start

[2018-08-22 16:49] filipmares commented on #56953
Seems faster in insiders with extensions turned off. Do you suggest I toggle some of my extensions or that there are some intellisense improvements in the insiders build?

[2018-08-22 16:50] sveinse opened #57029 "Allow panel placement among editor grids"
I have to give kudos to the vscode developers for the new feature of having multiple editor rows and grids. This has made huge improvements to the development overview, since more can be kept visible at one time.  I'm developing on a large 4k screen, and I now often use 4 columns + sidebar, each column with 1-3 editor grids per column. The attached image shows a made-up example of this setup.

![s

[2018-08-22 16:56] sandy081 commented on #54764
@eamodio I could not try your extension as I was getting errors while building. I tried with another extension and it works.

![kapture 2018-08-22 at 18 52 19](https://user-images.githubusercontent.com/10746682/44478004-9867fb00-a63c-11e8-9bc9-eb0050422187.gif)

Here are the errors I see when I run gitlens extensions

<details>
Executing task: npm run build <

Hash: fcf496d8aea37a461fdc
Version: w

[2018-08-22 17:01] sandy081 commented on #56716
@alexandrudima Do you know why the `p` key is not detected when it is typed after `ctrl`?

[2018-08-22 17:02] sandy081 commented on #56582
@Daneev Above question is not meant for you.. Its to one of my colleagues

[2018-08-22 17:04] costincaraivan opened #57030 "The sync button and remote commit status should be visible in the Git panel even when only 1 repo is selected"
I have a workspace with multiple projects/repos/folders.

In the Git panel, each of them has a line like this:

(name) (SCM) (number of local commits) (branch icon) (sync icon) (number of remote commits to pull) (number of local commits to push)

For some reason, when the workspace has only 1 repo, the UI changes and it looks like this:

SOURCE CONTROL: GIT (commit checkmark) (refresh sign) (extra

[2018-08-22 17:07] sandy081 commented on #56888
Not sure what would have caused this unless there is an execution of `Disable All Installed Extensions` command.

To confirm that when it happens next time can you please provide us the following data?

- Open Developer tools. Use command `Developer: Toggle Developer Tools`
- Open Local storage as in below
![image](https://user-images.githubusercontent.com/10746682/44478610-7ec7b300-a63e-11e8-87be

[2018-08-22 17:12] PinkBadSoftwareDev opened #57031 "Python - Code doesn't compile."
recently switched from ubuntu to windows. when i try to run my code nothing happens
![screenshot 1](https://user-images.githubusercontent.com/41796284/44478905-b555fb80-a647-11e8-9070-b5abced0cb42.png)

[2018-08-22 17:13] roblourens commented on #57018
Could you set `"trace": true` in your launch config, try it again, and upload the log here?

[2018-08-22 17:21] IlyaBiryukov opened #57032 "workspace.applyEdit doesn't work if file is opened from read-only file system provider"
Issue Type: <b>Bug</b>

If the file is open from a read-only file system provider (registered with ` vscode.workspace.registerFileSystemProvider(..., ..., { isReadonly: true } )`), `vscode.workspace.applyEdit` doesn't apply any edits to its buffer. It used to work in the previous version of insiders, and it works in the stable realease.

VS Code version: Code - Insiders 1.27.0-insider (e0a68266321

[2018-08-22 17:26] IlyaBiryukov commented on #53257
There is a regression in the latest insiders, #57032, maybe due to the fix for this issue.
Because of it, I cannot verify the fix.

To clarify this issue, applying edits to a file open with a read-only file system provider with `vscode.workspace.applyEdit` should still work - the file cannot be saved, but it should still be able to be modified by a vscode extension.

[2018-08-22 17:30] roblourens commented on #54053
Yes I think so

[2018-08-22 17:38] SanwariyaAmit commented on #56964
Facing the same issue. Thank you for reopening it.

[2018-08-22 17:40] #56860 closed

[2018-08-22 17:41] roblourens opened #57033 "Show notification when editing settings in UI for the first time"
To avoid user confusion about whether they need to explicitly save changes in the settings UI, we can show a notification the first time a user edits a setting in the UI.

Just something like "Changes to settings are saved automatically".

@stevencl
@bpasero

[2018-08-22 17:44] BrandonRice opened #57034 "User Snippets not working on Insiders edition"
Issue Type: <b>Bug</b>

I have the following code set up on my html.json file.

[code]

What happened in the standard build of VSCode was I would type myform and hit enter and the form tag would pre-populate and the cursor would highlight  on $name to allow me to enter the name of the field.  Hitting TAB would pass to $method and then to $action.

When I enter myform in VSCode - Insiders, I get th

[2018-08-22 17:52] ebelew commented on #15211
Would an environment variable be simpler than refactoring the entire configuration framework?

[2018-08-22 17:55] jairelton commented on #57018
There you go: [vscode_debug_log.zip](https://github.com/Microsoft/vscode/files/2311450/vscode_debug_log.zip)

[2018-08-22 17:56] babakness opened #57035 "TM Scope / Color for Typescript 3's `unknown` not set"
- VSCode Version: 1.26.0
- OS Version: MacOS 10.13.5

Steps to Reproduce:

1. Open Typescript file (.ts extension)
2. Set type of variable or object to `unknown`

Does this issue occur when all extensions are disabled?: Yes

Since Typescript 3 is included with the latest VS Code, I expected the 'unknown' type to be scope correctly. It is not, at least not for me.

[2018-08-22 17:58] Tyriar commented on #56976
A lot of this is likely related to https://github.com/Microsoft/vscode/issues/56628 which will be fixed in 1.27

[2018-08-22 17:58] #56976 closed

[2018-08-22 18:00] carlosrpcaldas commented on #37850
Will it be supported anytime soon? Any workarounds?
Just installed latest version 1.26.1, same issue.

Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-08-22 18:07] Tyriar commented on #53782
I'm going to close this issue in favor of the following 2 issues as they're more targeted:

- Regression in 1.26 https://github.com/Microsoft/vscode/issues/56628
- Issues with GPU/Chromium https://github.com/Microsoft/vscode/issues/56517

[2018-08-22 18:07] #53782 closed

[2018-08-22 18:12] rayrSC opened #57037 "Autocomplete often incorrectly replaces typed text"
Issue Type: <b>Bug</b>

Often, while typing in the editor, when I press space after a word, the editor will replace the perfectly valid code with something invalid.  I am currently working in C#, and have this happen frequently with several keywords.  Today, I tried the Insiders build as well, but still run into the issue.  I have also attached a video of the problem happening.

Some examples:
- `

[2018-08-22 18:26] Tyriar commented on #56985
I think this is as designed as AFAIK it's the default for powershell (was it not designed to ever show on a light terminal?) and themes are meant to provide enough contrast to make out yellow on white.

/cc @tylerl0706

[2018-08-22 18:26] #56985 closed

[2018-08-22 18:29] Tyriar opened #57038 "Improve handling of fallback theme colors in terminal"
See https://github.com/Microsoft/vscode/issues/56864#issuecomment-414939406

[2018-08-22 18:29] Tyriar commented on #56864
Hm, maybe I was just on an older version as it's working now. @aeschli will look into it thanks 👍  https://github.com/Microsoft/vscode/issues/57038

[2018-08-22 18:30] misolori commented on #56552
@jrieken does the breadcrumb picker use the quick pick theme defaults if not set?

[2018-08-22 18:37] MicrosoftEurope commented on #56686
Good luck!

On Wed, Aug 22, 2018, 9:20 PM Daniel Imms <notifications@github.com> wrote:

[2018-08-22 18:38] misolori commented on #56391
Something like this:
<img width="50%" src="https://user-images.githubusercontent.com/35271042/44483243-6b492780-a5ff-11e8-91cd-532625248c0b.png">

Or this:
<img width="50%" src="https://user-images.githubusercontent.com/35271042/44483363-ba8f5800-a5ff-11e8-971a-f7278f11801f.png">

[2018-08-22 18:39] sathya-beeline commented on #48123
Yeah. I find that the `sortLinesAscending` function is un-usable for me since it **does not** follow lexicographic ordering based on string length.

For example:

[code]

with lexicographic ordering should instead be

[code]

[2018-08-22 18:40] Tyriar commented on #56125
Linux handles the profile and rc scripts differently and imo in a superior way, Windows is completely different so I do think this is a mac only problem. Here are the main differences:

- Linux will run your *profile* script (ie. the login script) when you login to the system, when you launch a terminal Linux will run your .bashrc file
- macOS will run your *profile* script when you launch a termi

[2018-08-22 18:42] Tyriar commented on #57013
This is caused by Chromium corrupting the canvas, it will likely get fixed eventually when Chromium/Electron fixes it. In the meantime you can hide/show the terminal or resize the window to fix up the rendering

[2018-08-22 18:42] #57013 closed

[2018-08-22 18:43] Tyriar commented on #57023
Can you elaborate a little more on the problem? How to reproduce, system/vscode version details, etc.

[2018-08-22 18:45] Tyriar commented on #57011
@OzzyTheGiant can you launch VS Code with code --verbose and paste in the output you see in the terminal if it happens again?

[2018-08-22 18:49] Tyriar commented on #56838
But we would be leaving out people specifically for the menu only, all the old commands will still be accessible via the command palette?

[2018-08-22 18:56] roblourens commented on #57018
@weinand we aren't using `terminateProcess.sh` anymore so child processes aren't cleaned up.

I think that instead of this line https://github.com/Microsoft/vscode-node-debug2/blob/master/src/nodeDebugAdapter.ts#L518 we should invoke a version of terminateProcess.sh that sends SIGINT to all child processes.

[2018-08-22 18:57] Tyriar commented on #56125
Related: https://github.com/Microsoft/vscode/pull/55194

[2018-08-22 18:58] Tyriar commented on #56991
Does this work?

[code]

[2018-08-22 18:58] Tyriar commented on #56991
/cc @tylerl0706

[2018-08-22 18:59] Tyriar commented on #56970
Duplicate https://github.com/Microsoft/vscode/issues/56628, let me know if the [Insiders](https://code.visualstudio.com/insiders/) build doesn't fix the problem

[2018-08-22 18:59] #56970 closed

[2018-08-22 19:01] Tyriar commented on #56967
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-08-22 19:01] #56967 closed

[2018-08-22 19:03] Tyriar commented on #56958
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-08-22 19:03] #56958 closed

[2018-08-22 19:07] sathya-beeline commented on #48123
Yeah, I've run across this issue with the sort method as well.

One problem is that if you use unicode integer representations to sort, it will always be confusing. And you sort of have to use unicode to sort, since

For example: `'` is greater than `-` according to VSCode.

So, the following would be in VSCode sort order:

[code]

And so would the following:

[code]

I believe this is because it

[2018-08-22 19:10] doug-episource commented on #56923
I really wish I could, but it is a challenge.
First, I am not the author of the extension -- it has been deprecated in favor of a different Salesforce workflow -- and it needs to be modified because of broken dependencies and the NodeJS upgrade. I have made the necessary changes to the extension and recompiled, so I can provide a vsix for testing.
Next, you would have to sign up for a free Salesfo

[2018-08-22 19:16] madakk commented on #42258
Looks like this doesn't reproduce anymore.

[2018-08-22 19:16] #42258 closed

[2018-08-22 19:26] The-New-Guy opened #57039 "On System-Wide install, add context menu registry keys to HKLM"
This is in reference to #534 which is now locked. While adding a user-level installer is a great idea as not everyone has admin access of their machine, it doesn't really resolve the issue that was initially brought up (before the issue was renamed). I had been following that thread for a while and even posted some workarounds. We use VSCode a LOT. So much so that we install it on our terminal ser

[2018-08-22 19:31] AnselmoMS commented on #33110
waiting for it 👍

[2018-08-22 19:31] johnbindel commented on #15211
@ebelew It would be simpler (and I think I would be happy enough with it) but can this issue be solved with an environment variable? Please post a proposed solution.

[2018-08-22 19:36] drk-mtr commented on #57023
Apologies - looks like the issue submission failed. I've tested this on another PC using the same version of VS code and it works fine, so this could be plugin related - will close and raise a bug (properly!) if I can reproduce it.

[2018-08-22 19:36] #57023 closed

[2018-08-22 19:38] ggregoire commented on #56852
@aeschli JavaScript

[2018-08-22 19:39] alexwhittemore commented on #15452
FWIW @joaomoreno @Tyriar this is ultimately what I'm getting at with #56125 - PATH specifically changing is of course a problem for me, but I hadn't even realized the extent of my "problem," w.r.t. environments getting inherited on subsequent launches.

For instance,
(terminal 1)
[code]

(terminal 2)
[code]

not only results in two Code windows with non-useful PATHs, but also a weird chimera envir

[2018-08-22 19:47] williambrandino opened #57040 "tabs overlapping when its open"
Issue Type: <b>Bug</b>

Opening a tab by the command `ctrl+p`,  this new tab overlap another focused tab.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:34:20.517Z)
OS version: Linux x64 4.15.0-32-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2410M CPU @ 2.30GHz (4 x 797)|
|GPU Status|2d_canvas: enabled<

[2018-08-22 19:48] weinand commented on #57018
@roblourens In the July release we shipped this new feature:
https://code.visualstudio.com/updates/v1_26#_improved-stop-debug-behavior

By default a SIGINT sent to a process kills the process, which then takes down the child processes as well.
Sending SIGINT to the debuggee is the purpose of the `terminate` request (and supposed to be more graceful than killing it with the `terminateProcess.sh` sc

[2018-08-22 19:57] carl-menezes-aql commented on #40233
Example of when this would be truly useful - When I use VSCode for Go, I like to have enableTestOnSave on by default, because most of the time, tests are fast enough to run on save. However, when I'm working with packages with have tests that take longer than a few seconds to run, I would like to disable this setting.

I could accomplish this by setting go.enableTestOnSave to true at a user level

[2018-08-22 19:59] #56310 closed

[2018-08-22 20:01] ViktorQvarfordt opened #57041 "Broken syntax highlighting for javascript by inline comment"
- VSCode Version: 1.26.1
- OS Version: Windows 10

Steps to Reproduce:

1. In a window with language mode: Javascript, type what is shown in the picture, and observe how syntax highlighting is broken after the inline comment.
![image](https://user-images.githubusercontent.com/344809/44487345-5cda2a80-a656-11e8-8c9a-82f6c1c0e3f1.png)

As far as I can see, this only happens for an inline comment tha

[2018-08-22 20:01] #56424 closed

[2018-08-22 20:01] #56449 closed

[2018-08-22 20:01] #55416 closed

[2018-08-22 20:01] #55932 closed

[2018-08-22 20:01] #56145 closed

[2018-08-22 20:01] #56147 closed

[2018-08-22 20:01] #56153 closed

[2018-08-22 20:01] #56214 closed

[2018-08-22 20:01] #56219 closed

[2018-08-22 20:02] #56221 closed

[2018-08-22 20:02] #56455 closed

[2018-08-22 20:09] jairelton commented on #57018
@weinand When I use `babel-node` from the command line, Control-C works as expected.

[2018-08-22 20:10] McShelby opened #57042 "ctrl+left behaves differently then ctrl+right"
Issue type: **Bug**

**Steps to Reproduce:**

1. Apply keybindings:
   { "key":"ctrl+left",       "command":"cursorWordStartLeft",       "when":"textInputFocus" },
   { "key":"ctrl+right",       "command":"cursorWordStartRight",       "when":"textInputFocus" },
2. In a new file type few words separated by dots, e.g. **deep.object.property**.
3. Move cursor by pressing **ctrl+left**, **ctrl+left**,

[2018-08-22 20:13] desitnit commented on #56937
Yes, it does. I'll use it as a workaround for now, thank you.

[2018-08-22 20:48] roblourens commented on #57018
What I'm seeing is that ctrl+c works, but sending SIGINT doesn't. Also `kill -SIGINT pid` doesn't work. It seems like this is because ctrl+c sends the signal to the whole process group, which is not the same as what the code in node2 does.

I can send the signal to the process group like `kill -SIGINT -pid`, https://stackoverflow.com/questions/8398845/what-is-the-difference-between-ctrl-c-and-sigi

[2018-08-22 20:52] SteveAlexander commented on #54378
I just tested with the latest insiders.

I'm still seeing the problem. Perhaps we should re-open this?

Version 1.27.0-insider (1.27.0-insider)
e0a68266321d1518bc12428b71d80524461a275b
2018-08-22T05:06:02.002Z

[2018-08-22 21:00] mcconn13 opened #57044 "Request textDocument/hover failed Error Code -36203"
Issue Type: <b>Bug</b>

I suspect this is an issue with one of the Ruby extensions that I have installed. I've made sure that I have all of the required Ruby gems installed on my machine and still get this error. I have gone through and disabled all the Ruby extensions but still get this error. I suspect its a Solargraph issue though.

Extenstions are: Ruby 0.20.0 (Peng Lv), ruby Language Coloriza

[2018-08-22 21:02] phifa commented on #56664
Am I supposed to run WSL and VS Code as Administrator or not?

[2018-08-22 21:13] roblourens commented on #57018
It works if the process is started with the `detached` flag. So I think the fix is to set that flag probably only when  the DA `supportsTerminateRequest`, and in `terminate` pass the negative pid to kill the group.

[2018-08-22 21:17] roblourens commented on #57018
@jairelton if you want a workaround for now, you can set `"console": "integratedTerminal"`

[2018-08-22 21:19] n8harmon commented on #56810
@joaomoreno I ran `code --verbose` prior to running the update again and received the following output:

I then ran the 1.26.1 update and executed the `code --verbose` command again.  The application did not start nor was there any output on the command line.  I went ahead and uninstalled and reinstalled with the system installer and received the same results.  I've reverted back to 1.25.1 again a

[2018-08-22 21:28] #57018 closed

[2018-08-22 21:29] SeriousLemon commented on #56405
No change, same error and output.

[2018-08-22 21:34] weinand commented on #25786
Instead of adding yet another variable with very specific semantics to the growing set of variables, I suggest to create an extension that contribute a command with the specific semantics.
Commands can be used in launch configs through the `${command:<command-id>}` syntax.

[2018-08-22 22:00] qwertymodo opened #57045 "JSON parsing errors"
Issue Type: <b>Bug</b>

One of the recent updates has caused several valid JSON files to begin displaying parsing errors.  Many of these errors make no sense, sometimes the red syntax error indicator underlines a single character in a string (in that case, I confirmed the offending character to be a standard ASCII 'r', no weird Unicode going on or anything like that, the rest of the string was app

[2018-08-22 22:02] roblourens opened #57046 "The workspaceContains search must use registered search providers"
When an extension is activated by `workspaceContains` with a glob pattern, the extension host starts a search using `DiskSearch`. It needs to search using the normal flow and any registered search providers.

[2018-08-22 22:03] momoadeli commented on #54378
@DanTup I am still seeing error on my updated VSCode (Version 1.26.1 ...can't mess with 'insiders' right now-- @SteveAlexander does see issue in insiders. ).
Again, all i need to do is add previously mentioned attributes to 'configurations' in launch.json. Problem immediately occurs. @isidorn

Mo

[2018-08-22 22:03] bitjson commented on #25786
@weinand thanks for the response and consideration!

I'd be happy to take a swing at implementing this as an extension. I thought this was best included in the built-in variable set because `relativePath` seems to be the only missing element required to construct any other path.

We already have `workspaceFolderBasename`, `fileDirname`, `fileBasenameNoExtension`, and `fileExtname`. I think the onl

[2018-08-22 22:04] rebornix commented on #54938
@sandy081 I no longer see this issue when running from source code but still saw issues with latest insider. Will report an issue if tomorrow's Insider still has issues with that (I doubt so but let's see).

[2018-08-22 22:06] rebornix commented on #57044
@mcconn13 please file issue against the ruby extension and start investigation from there first, thanks!

[2018-08-22 22:06] #57044 closed

[2018-08-22 22:11] rebornix commented on #57025
Let's track it in https://github.com/Microsoft/vscode/issues/53666

[2018-08-22 22:11] #57025 closed

[2018-08-22 22:14] rebornix commented on #57001
@gerchicov-bp sorry can you elaborate more on what kind of errors you run into? I don't understand what's `indent of 4 spaces error message`, thanks in advance!

[2018-08-22 22:15] rebornix commented on #56997
Please file issues with the extension you are using, this command is contributed by extensions but not core.

[2018-08-22 22:15] #56997 closed

[2018-08-22 22:16] bolinfest commented on #48034
If you are the one creating the `FileSystemProvider`, here's something you can do in the interim to make it available to other extensions: https://github.com/facebook/nuclide/commit/8cf697a04c76132f922bf19e27252990dbc83b41.

[2018-08-22 22:16] rebornix commented on #56951
Close this one in favor of https://github.com/jest-community/vscode-jest/issues/365

[2018-08-22 22:16] #56951 closed

[2018-08-22 22:19] rebornix commented on #56982
@drummy2 can you open keybindings page by Menu -> File -> Preference -> Keyboard shortcuts and search for `Ctrl+F` ? I have a feeling that `Ctrl+F` is occupied by some extension.

[2018-08-22 22:31] dominictwlee commented on #56890
@joaomoreno Just tried that, still no luck :(.

[2018-08-22 22:38] roblourens commented on #34711
Example of the above: https://github.com/Microsoft/vscode/pull/57047

Applying the exclude patterns is easier with https://github.com/Microsoft/vscode/issues/57046

[2018-08-22 22:44] roblourens commented on #34711
I think with #57046 we'll get that telemetry anyway

[2018-08-22 22:46] alohaninja opened #57048 "Settings.json: Files.Exclude - Unable to exclude folders containing periods"
- VSCode Version: 1.25
- OS Version: Win10

### Steps to Reproduce:

1. add exclusion parameter for `code/myapp.web/**`

[code]

Does this issue occur when all extensions are disabled?: Yes

Files and directory exclusions do not support period in the folder name.

[2018-08-22 22:51] rebornix opened #57049 "Don't show mnemonics in non-English packs when disabled"
Issue Type: <b>Bug</b>

mnemonics are still shown when disabled in non-English packs.

VS Code version: code-oss-dev 1.27.0 (Commit unknown, Date unknown)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enable

[2018-08-22 22:59] roblourens commented on #57048
You don't have to escape the `.`. This works for me if I just add a pattern like `"code/myapp.web/**"`

[2018-08-22 22:59] #57048 closed

[2018-08-22 23:06] alohaninja commented on #57048
Looks like I stumbled upon a case-sensitivity issue, not necessarily the period. Thanks for verifying! 🎉

### Works

"files.exclude": {
        "code/MyApp\\.Web/**": true,
    }

### Doesn't Work

"files.exclude": {
        "code/myapp\\.web/**": true,
    }

[2018-08-22 23:27] patrickhellosign commented on #53876
Still an issue.

[2018-08-22 23:45] dominictwlee commented on #56890
@joaomoreno That may have worked! I normally get the errors 'cannot find flow in path/cannot find node in path' but that no longer appears. I'm going to try and see whether command palette and debugger works tomorrow.

[2018-08-22 23:55] a01fe opened #57052 "Snippet transforms don't work with choice placeholders"
Issue Type: <b>Bug</b>

Snippet placeholder transforms do not work when the placeholder has choices instead of a default value.

Reproduce with this snippet:

[code]

Expanding the snippet with `that` entered for both placeholders results in:

[code]

VS Code version: Code - Insiders 1.27.0-insider (e0a68266321d1518bc12428b71d80524461a275b, 2018-08-22T05:12:41.569Z)
OS version: Darwin x64 16.7.0

[2018-08-23 00:26] ramya-rao-a commented on #57026
Add `"editor.acceptSuggestionOnEnter": "off"` to your settings

[2018-08-23 00:26] #57026 closed

[2018-08-23 00:26] unional opened #57053 "Destructure + highlight issue for typescript 3.0.1"
[code]
![image](https://user-images.githubusercontent.com/3254987/44497863-7cf6f300-a630-11e8-8469-cc54ed25be2b.png)
Note the second `Boo` highlight is incorrect.

VSCode: 1.26.1

[2018-08-23 00:28] #57037 closed

[2018-08-23 00:32] ramya-rao-a commented on #57037
Please log this issue in the C# extension that you are using.

[2018-08-23 01:12] jdneo commented on #52272
Hi @jrieken,

May I ask is there any further plan about this issue?

[2018-08-23 01:16] duanyijie opened #57054 "1.26.1 mac立即更新无效"
Issue Type: <b>Bug</b>

提示更新1.26.1版本 点击立即更新后关闭了软件
但是重新打开 仍然提示需要更新

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:33:29.235Z)
OS version: Darwin x64 15.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570R CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2018-08-23 01:17] #57054 closed

[2018-08-23 01:21] M-Gonzalo opened #57055 "Support for solutions and workspaces"
Issue Type: <b>Feature Request</b>

I really like VSCode but, why doesn't it open .sln solutions and workspaces that are native to the Windows version on linux too? It seems very counterproductive to the work flow. I tried to install the "Solution Explorer" extension but it needs more and more modules that won't install properly unattended.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886

[2018-08-23 01:37] Coccodrillo commented on #56705
Possibly related, I have had a few kernel panics in the past week or so (zip with console reports attached). I was too busy to give it more time, so I stopped working with VSCode and switched to another editor, but I can give it a try with all plugins disabled.

[Archive.zip](https://github.com/Microsoft/vscode/files/2312514/Archive.zip)

[2018-08-23 01:44] glennsarti commented on #56646
@weinand @isidorn Given this is for a proposed API change, would I be able to raise a PR myself for it?

[2018-08-23 01:48] tylerl0706 commented on #56991
Yeah I would give the same advice 👍

[2018-08-23 01:52] tylerl0706 commented on #56985
Here's the issue you're looking for:

https://github.com/lzybkr/PSReadLine/issues/464

[2018-08-23 02:10] marchboy commented on #50249
I don't prefer the new settings editor, a little , I don't think it's a flexible way~~

[2018-08-23 02:37] Eurkidu commented on #56522
This is the code text @mjbvz
[code]

[2018-08-23 02:41] Eurkidu commented on #57041
I found the same problem in #56522

[2018-08-23 03:08] paritosh149 commented on #56629
@egamma, seems like I didn't keep track of [NPM Script Explorer](url). I tried it and I find it perfect fit for my script execution launching needs. Thanks.

[2018-08-23 03:08] #56629 closed

[2018-08-23 03:14] psachs21 opened #57056 "macOS: Native Tabs still not working"
Duplicate of https://github.com/Microsoft/vscode/issues/35361 but the issue is now locked.

VSCode Version: Latest Insiders
Version: 1.27.0-insider
Commit: e0a68266321d1518bc12428b71d80524461a275b
Date: 2018-08-22T05:12:41.569Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

OS Version: MacOS 10.13.6

Steps to Reproduce:

1. Downloaded fresh VSCode
2. Open pr

[2018-08-23 03:16] alexwhittemore commented on #56125
So I think the end result here is that two things are conspiring against my "virtualenv + code ." workflow, making it nowhere near as effective on Mac as on Win or Linux:

1) path_helper does awful things to a pre-existing $PATH variable, re-ordering PATH for any shell opened as login ("Why ever would you want your PATH to have the same order?! I'm a LOGIN shell! The original shell! The SUPREME sh

[2018-08-23 03:34] code-research commented on #35447
+1

[2018-08-23 03:37] psachs21 commented on #57056
So, with another workaround provided from the original issue, if I launch Code like so:

`/Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron -- -NSUseImprovedLayoutPass true`

It works. Seems like somehow `NSUseImprovedLayoutPass` has been set to false... Somewhere. So I would assume `systemPreferences.registerDefaults({ NSUseImprovedLayoutPass: true });` (https://github.com/Microsoft/

[2018-08-23 03:40] wyckster commented on #56260
The recommendation when installing this new _user version_ of vscode was to _uninstall the system-wide version_ (since it requires elevation) and just use the user version (which does not require elevation and offers a better update experience).  So (for Windows, anyway) head on over to **Apps and features** (I like to tap the Windows key and type "programs" to get there.)

Just uninstall the syst

[2018-08-23 03:58] testworksau commented on #42889
During the latest update (to `1.26.1`), I followed the recommendation to remove the system wide install, and run with the User install. I did not have the windows explorer context menu items anymore, and also did not have the registry settings mentioned above.

Today, I re-ran the user installer, and everything looks good again - without needing to reboot.

I'm running Windows 10 1703 (OS Build 15

[2018-08-23 04:01] clebio commented on #35447
@bpasero @joaomoreno @jrieken @isidorn maybe lock this issue from further comments, please?

[2018-08-23 04:02] clebio commented on #35447
Or maybe @Tyriar or @roblourens since you might be awake at this hour.

[2018-08-23 04:09] realuser commented on #35447
@clebio what determines the priority of issue resolution?

[2018-08-23 04:34] jeanp413 opened #57057 "Drag and drop multiple workspace root folders just move one folder when one folder is an ancestor of the others"
- VSCode Version: 1.26.1(493869ee8e8a846b0855873886fc79d480d342de)
- OS Version:Linux x64 4.13.0-45-generic

Steps to Reproduce:

1. Open a workspace with root folders such as
[code]
2. Select folders .(parent) and child1 and drag'n'drop over the empty space of the explorer, observe that just the parent folder is moved.
![bug](https://user-images.githubusercontent.com/25115070/44504833-bb59d580-a6

[2018-08-23 04:37] simeyla commented on #9347
How quaint.
I remember the first time I used Ctrl+C.
It was 22 years ago. I'm pretty sure it worked every time :-/

[2018-08-23 04:38] #56968 closed

[2018-08-23 04:39] bpasero commented on #56644
@cboillat can you see if you can reproduce the same issue with a newer version of VSCode that is using Electron 3.0.x? [Download from here](https://az764295.vo.msecnd.net/exploration/a5cda44f872b9b55122a108b99a170e1ed5fa66e/VSCode-win32-x64-1.27.0-exploration.zip).

[2018-08-23 04:41] bpasero commented on #54727
@misolori that icon might work in other apps, but in VSCode every usage of the "X" is for closing something, not stopping something.

[2018-08-23 04:42] DRSDavidSoft commented on #17060
@Bernardi23 @be5invis

<img width="893" alt="vscode-titlebarless" src="https://user-images.githubusercontent.com/4673812/44505063-9772b000-a6b4-11e8-8fb4-32a17cb982ec.png">
#### Looking amazing!

[2018-08-23 04:43] bpasero commented on #56391
Yes 👍

[2018-08-23 04:44] bpasero commented on #56838
@Tyriar can you explain what you mean by "But we would be leaving out people specifically for the menu only"?

[2018-08-23 04:47] bpasero commented on #57020
If you cannot save a file with VSCode it could mean that the place you moved the files to needs different user permissions. Could that be true?

[2018-08-23 04:47] bpasero commented on #57019
@HRK44 in the 1.26 update we moved to Electron 2.0.x and this brings GTK3 dialogs. Are you maybe using a custom theme in Ubuntu that could have an impact?

[2018-08-23 04:48] #57008 closed

[2018-08-23 04:50] bpasero commented on #56999
@dgiridharan VSCode will always reopen on the monitor where you left it running, so something must be broken on your setup. Is the window maximized? Does it reproduce with opening just one window, moving it to the secondary monitor and then closing and reopening it?

[2018-08-23 04:51] bpasero commented on #56964
@wyldphyre @SanwariyaAmit any difference if you configure `window.smoothScrollingWorkaround: true` ?

[2018-08-23 04:56] bpasero commented on #56992
@roblourens here you go:
[debugadapter.txt](https://github.com/Microsoft/vscode/files/2312957/debugadapter.txt)

[2018-08-23 05:02] olipiskandar commented on #43626
try : "editor.fontFamily": "Operator Mono",

[2018-08-23 05:03] SanwariyaAmit commented on #56964
@bpasero Yes I have tried that, doesn't helps at all.
I tried these two together as well.
`"window.smoothScrollingWorkaround": true
"window.titleBarStyle": "native"`

Two finger scrolling on touchpad works fine, but tilting the scroll wheel on mouse for horizontal scroll doesn't works.

[2018-08-23 05:08] misolori commented on #54727
@bpasero agreed, I was just pointing out that other apps also use the X in other ways.

What are your thoughts on either stop button?

[2018-08-23 05:09] bpasero commented on #57056
@psachs21 does it work with our previous 1.25 version? You can get it from [here](https://az764295.vo.msecnd.net/stable/1dfc5e557209371715f655691b1235b6b26a06be/VSCode-darwin-stable-unsigned.zip).

[2018-08-23 05:13] zchrissirhcz commented on #55932
I've updated my windows10 system and using the latest (1.27.1) vscode insider version, and it seems it won't hang like before.

[2018-08-23 05:26] bpasero commented on #54727
@misolori how did the stop button change in the first screenshot?

[2018-08-23 05:27] bpasero commented on #56964
@SanwariyaAmit @wyldphyre any luck with this VSCode Exploration build that is using a much newer Electron (and thereby Chrome) version? https://az764295.vo.msecnd.net/exploration/a5cda44f872b9b55122a108b99a170e1ed5fa66e/VSCode-win32-x64-1.27.0-exploration.zip

[2018-08-23 05:28] vscodeerrors opened #57058 "Cannot read property 'actions' of null"
Issue Id: <b>02c5f5ed-b90c-7a6b-2418-b233df04ba33</b><br /><br />*Versions* <br />- aceb8771b1c0e116f684091986ad25769bdc0537<br />-  4e9361845dc28659923a300945f84731393e210d<br />-  bda8a4de93278004d6d7c3628b92664f93f7e811<br />-  c2ddece6536330f4b4ceef33de5eea6e406fb30a<br />-  21ddb4843b2f40e3cd82500794dc9a1b9404717d<br />-  493869ee8e8a846b0855873886fc79d480d342de<br />-  207ace21dfec3dccab52f1

[2018-08-23 05:31] donaldpipowitch commented on #56972
@weinand The behaviour doesn't seem to be flaky. Sometimes it works with all extensions. It looks to _always_ work without extensions. Are they always loaded in the same order...?

These are the extensions I currently use:

![image](https://user-images.githubusercontent.com/1152805/44506403-933f9600-a6a6-11e8-9c3e-84e92ddc5e41.png)

[2018-08-23 05:35] ParkourKarthik commented on #57038
I would like to pick this up. Before the PR, clarification on the change:

https://github.com/Microsoft/vscode/blob/07618102efdd63f09949ce54c161e7fd2a954ee8/src/vs/workbench/parts/terminal/common/terminalColorRegistry.ts#L16-L29
I believe the changes are to set the default nulls to their respective editor colors as defaults.
Ex:` registerColor('terminal.background', {
	dark: editorBackground,
	lig

[2018-08-23 05:43] JigneshAngadia commented on #56856
@joaomoreno I would suggest to add to and/or update the statement for User Setup in the Release notes too.
This will accomplish a clearer understanding of what to expect when the installer is executed in anticipation of not losing any installed extensions in either of the two User Setup installation scenarios, assuming with All Users installation on the device, first one starts with uninstall of A

[2018-08-23 05:44] misolori commented on #54727
It's subtle, I made it smaller by 2px, removed the white border, and used the same gray color as the other icons.

[2018-08-23 05:47] kishandonepudi opened #57059 "Replace text"
Hi Team,

I have replaced a word from multiple files through find tab and saved all.

But again when i open the ts file to edit some other line , its is showing a working directory.

It was fixing by VSC restart.

Please fix this with an alternative

[2018-08-23 05:51] cboillat commented on #56644
@bpasero thanks for helping !

Unfortunately, the "Exploration" version of vscode does not change anything :-(

To answer @jrieken, the only AV installed on my PC is Windows Defender. And I do not have any other issues with other programms on this computer.

Here is the `Startup Performance` screenshot :

![image](https://user-images.githubusercontent.com/1654758/44506953-00542b00-a6a9-11e8-9332-8

[2018-08-23 05:51] baby5 opened #57060 "input on snippet placeholder not show IntelliSense"
- VSCode Version: 1.26.1
- OS Version: win10 1803 17134.228

Steps to Reproduce:

1. input any snippet which has placeholders
2. input on placeholder, my input word would have gray background color and not show IntelliSense

Does this issue occur when all extensions are disabled?: Yes

[2018-08-23 05:56] roblourens commented on #35447
Use 👍 people

[2018-08-23 05:59] cboillat commented on #56644
@jrieken @bpasero FYI switching back to june version 1.2.5.1 fixed the problem

[2018-08-23 06:08] roblourens commented on #56992
`SourceMaps: no sourcemap url found in generated script: /Users/bpasero/Development/Microsoft/monaco/out/vs/base/parts/quickopen/test/common/quickOpenScorer.test.js`

Did you do something weird? Does that file have a sourcemap footer at the bottom? The last line should be

`//# sourceMappingURL=quickOpenScorer.test.js.map`

[2018-08-23 06:18] bddali opened #57061 "Language specific encoding not applied when file opened on startup"
Visual Studio Code 1.26.1 on Windows 10 and Windows Server 2016.

I have added a language specific encoding to my user settings:

[code]

If I open a perl file from within Visual Studio Code (File -> Open File...), the correct encoding is applied.

If Visual Studio Code is running and I open a perl file from Explorer using "Open with Code" context menu, the correct encoding is applied.

If Visual

[2018-08-23 06:43] aeschli commented on #57045
@qwertymodo Can you check if this comes from a different extension?
`Expecting 'STRING', got '}'` is not an error that the JSON language service emmits.

[2018-08-23 06:45] aeschli commented on #57045
Likely related to #56193

[2018-08-23 06:54] qwertymodo commented on #57045
I didn't change any extensions between when it was working and when it started failing, the only change was a VS Code update.  I just tested on my other computer running v1.25.1, and the problem does not occur.  I will try updating this computer to v1.26.1 and see if I can reproduce, and if so I'll try with extensions disabled and report back.

[2018-08-23 06:56] sdvesna48 commented on #57061
Vsc restart

[2018-08-23 06:57] sdvesna48 commented on #57061
Open code

[2018-08-23 07:06] jrieken commented on #56864
Yeah, in older versions the colors were hard coded

[2018-08-23 07:08] sagarduwal opened #57062 "Deleting text of a python code when large text is selected from mid body to first character issue"
Issue Type: <b>Bug</b>

Deleting text of a python code when large text is selected from mid body to first character issue. When I select the text from around middle of the body text at about line 130 /270, and press Ctrl + Shift + Home, and then press Del key, it wont work, but it deselects the text.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:34:20.517Z)

[2018-08-23 07:23] Adam0914 opened #57063 "Copy value should be available for expressions with children also"
When Debugging it is not possible to export or copy an array of data from the VSCODE debug watch window to another programs like Excel or Matlab in order evaluate the data.
![vscode_debug](https://user-images.githubusercontent.com/42383038/44510354-c721b800-a6b4-11e8-9f96-498c32d9e83b.png)
As you can see on the picture there is no option for copying the array. It is also not possible to multiple s

[2018-08-23 07:24] jphellemons opened #57064 "Failed to install VS Code update. Please download and reinstall VS Code."
<img width="349" alt="vscode-dialog" src="https://user-images.githubusercontent.com/1119134/44510718-b887d080-a6b5-11e8-8269-2e90dca488b1.PNG">

- VSCode Version: I removed the regular version and moved to the one with the new background update mechanism as suggested by that build. So I think that I am on the July update? I did had breadcrumbs enabled. perhaps that helps finding out what version I

[2018-08-23 07:30] jrieken commented on #56552
Both have the same default background color

[2018-08-23 07:32] jrieken commented on #57032
That actually makes sense to me... Since the files are readonly you cannot edit them. I believe an editor showing such files would also not be editable.

[2018-08-23 07:34] jrieken commented on #56923
Have you tried this with 1.26.**1**? We have made a critical fix for the problems panel, but from the sounds of it, it doesn't seem related to the new features

[2018-08-23 07:38] jrieken commented on #57034
Works for me... Anything you have different then I have? Special settings?

![aug-23-2018 09-37-51](https://user-images.githubusercontent.com/1794099/44511566-46fd5180-a6b8-11e8-9c8f-b2825f2c943f.gif)

[2018-08-23 07:40] jrieken commented on #57034
On an unrelated note, the `$name` syntax isn't actually correct and `${1:name}` should be used for placeholders. The `$name` syntax is referring to variables and we make it work by implementing a fallback for 'unresolved' variables, turning them into placeholders

[2018-08-23 07:40] AccessibilityTestingTeam-TCS commented on #52332
Yes options should definitely be read but along with what kind of options are available in the dropdown: should be added as name of the control. Screen reader users will come to know about the functionality/context of the control i.e. why is it exactly used for.

[2018-08-23 07:41] zce opened #57065 "Bug of split terminal button"
![screenflow](https://user-images.githubusercontent.com/6166576/44511376-de2ecd00-a6e9-11e8-9f01-bab11614e8a1.gif)

- VSCode Version: 1.26.1
- OS Version: macOS 10.12.6

Steps to Reproduce:

1. Open integrated terminal
2. Split terminal panel

Does this issue occur when all extensions are disabled?: Yes

[2018-08-23 07:41] jrieken commented on #56979
Make sense - currently you need to scroll left/right but we could also support up/down scrolling

[2018-08-23 07:42] jrieken commented on #57052
Yeah, that's the design and I don't think that Textmate snippets support that.

[2018-08-23 07:42] egamma commented on #56876
@5049504F pls let me know when you have done so I´ve checked again and I haven´t received a mail from this account yet.

[2018-08-23 07:42] luchsamapparat commented on #53541
@mjbvz I am now more confused than ever. It appears, that there are several causes for the performance issues. In my initial post, I said that the problem also persists when deactivating all extensions. Now, with the latest VS Code as well as TypeScript version, the initial load time is indeed still slow. However, after that all further code navigation is severely slowed down by the Angular Langua

[2018-08-23 07:43] sandy081 commented on #56955
@lorensr You can use Remove Keybinding command from the context menu

![image](https://user-images.githubusercontent.com/10746682/44511810-f4706500-a6b8-11e8-997e-177a5811896c.png)

[2018-08-23 07:43] #56955 closed

[2018-08-23 07:44] jrieken commented on #57060
We have a new setting for that, it is ` "editor.suggest.snippetsPreventQuickSuggestions": false,` and enables/disables quick suggestions when inserting snippets

[2018-08-23 07:44] #57060 closed

[2018-08-23 07:44] zce commented on #57065
I made a mistake

[2018-08-23 07:44] #57065 closed

[2018-08-23 07:48] jeffrson commented on #56991
Well - I would have sworn, I tried that. No - I'm sure I did! :-)

Then there must have been another error, because now it works.

Thanks - and sorry.

[2018-08-23 07:48] #56991 closed

[2018-08-23 07:50] jrieken commented on #56644
Crazy... Must be somehow related to the Electron update (1.26 uses a newer version than 1.25). Everything seems super fast on your computer, except for creation of the renderer process (the window in which we paint VS Code).

@cboillat Once the windows shows, can you leave it and open another, second window (F1 > New Window)? Then, again perform the 'F1 > Startup Performance' command. Wonder if cr

[2018-08-23 07:53] bpasero commented on #54727
@misolori yeah let's try it out in insiders

[2018-08-23 07:53] jrieken commented on #56979
Scrolling vertically and horizontally should now work

[2018-08-23 07:54] chrmarti commented on #34711
Just to add to the overall picture: @reggiew2, the reporter of #55649, saw the issue when opening the home folder and the reported hardware looks similar to mine, so I ran the following measurements with (the default) and without following symlinks on my home folder (hoping that would have a somewhat similar structure to the reported one):
[code]

Not following symlinks (`"search.followSymlinks":

[2018-08-23 07:54] #56979 closed

[2018-08-23 07:54] tmeckel commented on #44941
@joaomoreno , @cdenneen Same issue here. Although I set the proxy server via the command line using `--proxy-server=` **and** setting it in the personal settings via `"http.proxy":` I get the following error message:

[code]

Seems to me that VSCode is still using the systems settings and not the one used via the command line and personal profile.

To circumvent the NTLM Corporate Proxy I'm using

[2018-08-23 07:55] bpasero commented on #56644
Maybe the previous electron version was whitelisted by now in most AV software and with the update it takes some time until AV software catches up with the changed DLLs that this update brings?

[2018-08-23 07:56] bpasero commented on #56644
Btw I wonder if https://github.com/electron/electron/issues/12895 could be related

[2018-08-23 07:57] weinand commented on #56972
I suggest to use a bisect approach for figuring out which extension is the culprit.

[2018-08-23 07:58] isidorn commented on #54727
Yeah without the border it at least looks better. We shuold try it out

[2018-08-23 08:00] jeffrson commented on #56985
The real problem for me wasn't the yellow characters, but instead that White is bold black, and Black is invisible. But DarkGray is dark gray (what I'm using now).

Nevertheless, that PSReadline related discussion is interesting - for some reason I had only looked for issues in PowerShell archives.

[2018-08-23 08:01] isidorn commented on #57032
@IlyaBiryukov this also makes sense to me, I do not see what is the unexpected behavior here. If the file is read-only edits can not be applied to it. And yes the editor is not editable.
It used to work previously becuase this feature was not yet implemented https://github.com/Microsoft/vscode/issues/53257

[2018-08-23 08:01] adincebic opened #57066 "Accessibility - Unable to open selected file from the files explorer with voiceover [macOS]"
- VSCode Version: 1.26.1
- OS Version: macOS High Siera 10.13.6

Steps to Reproduce:

1. Turn voiceover on by pressing command plus F5
2. Launch the VSCode
3. Press command plus shift plus E a couple of times until you hear "Files explorer table"
4. Now, press ctrl plus option plus down arrow to interact with the files explorer.
5. Try navigating with up or down arrow.
NOTE: If you disable quick n

[2018-08-23 08:03] bpasero commented on #56992
@roblourens good catch, I do not see that entry. I suggest you do a `git clean -xfd` followed by `yarn` to reproduce (also @isidorn).

Maybe a consequence of @jrieken changes for webpack? Not sure...

[2018-08-23 08:04] #56022 closed

[2018-08-23 08:06] HRK44 commented on #57019
@bpasero I haven't changed anything in my Ubuntu setup, just upgraded VS code. What kind of information from my settings would be useful for you?

[2018-08-23 08:07] DanTup commented on #54378
@momoadeli I did try many things to repro with your steps without success. If you can open a clean VS Code instance and run `Dart: Capture Logs` and then repro and send me the logs, it might help me identify what's different.

[2018-08-23 08:12] jrieken commented on #56992
Unlikely, only emmet and git are webpack'ed

[2018-08-23 08:12] isidorn commented on #56992
@bpasero if I do a `git clean -fxd` I can still not reproduce this - breakpoints get hit properly.

[2018-08-23 08:15] isidorn commented on #56391
Defineetly looks bad inside the variables view.
Yeah I would say the proper thing would be to show it above the split view as @bpasero suggests.
That way we cover the corner cases (users can still add watch expressions while not debugging)

fyi @weinand

[2018-08-23 08:16] bpasero commented on #57019
@HRK44 thanks, we should try to reproduce this with a bare Electron to report it to them. Can you:
* download and install Electron Fiddle (https://github.com/electron/fiddle/releases/download/0.1/electron-fiddle_0.1.0_amd64.deb)
* start it
* pick Show Me > Electron APIs > Dialog
* run it (using the Run button)
* attach a screenshot here how the dialog looks like (it is a file dialog but maybe it s

[2018-08-23 08:28] dbaeumer commented on #53537
Reopening. @dsanz006 what happens if you execute the task directly in the terminal. Will you be able to click the links?

[2018-08-23 08:28] isidorn commented on #56992
@bpasero at the end of quickOpenScorer.test.js I see the following
`//# sourceMappingURL=quickOpenScorer.test.js.map`

[2018-08-23 08:31] bpasero commented on #356
Does this still happen with `1.26`?

[2018-08-23 08:32] isidorn commented on #57003
Put this in your settings
[code]

And also F1 > toggle centered layout

[2018-08-23 08:32] #57003 closed

[2018-08-23 08:33] wyldphyre commented on #56964
I tried the Exploration build and it's no better, with or without the smooth scrolling set. The horizontal scroll bar moves briefly, then stops, and then it won't respond to the scroll wheel again until the app is restarted.

Does it work for you?

[2018-08-23 08:34] mjbvz commented on #56522
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/646

Should be fixed in next insiders build

[2018-08-23 08:34] #56522 closed

[2018-08-23 08:36] isidorn opened #57067 "Transition debug actions to commands"
Also introduce `contextKeys` which would be used for `when` clauses.
Also expose context menu in variables, watch, call stack and breakpoints view.

The only actinos which should survive are the ones which are in `ActionBar`.

[2018-08-23 08:38] dbaeumer commented on #56993
@trillykins what kind of development do you usually do. C++ ?

[2018-08-23 08:39] mjbvz commented on #57041
Duplicate of #56522

Should be fixed in next insiders

[2018-08-23 08:39] #57041 closed

[2018-08-23 08:42] isidorn commented on #57063
The issue is that the variables which have children (like an array) have the `Copy Value` action removed because it is unclear what is the value of such an expression. Is it it's string value or should it go to the children and concatanate the value of each child (which could then potentially recurse down even more).

Leaving this open as a feature request
fyi @weinand

[2018-08-23 08:45] mmatrosov commented on #30058
Any progress on the issue? Any workaround working on Windows 10?

[2018-08-23 08:45] isidorn commented on #56965
This is provided by each team and is customizable. So please customize it in your settings and we have no plans to change this in the default theme currently
The colors which you want to edit are `list.inactiveFocusBackground` and other list customizable colors.

![screen shot 2018-08-23 at 10 44 33](https://user-images.githubusercontent.com/1926584/44514945-a1e77680-a6c1-11e8-9439-6e25b7d465fe.pn

[2018-08-23 08:45] #56965 closed

[2018-08-23 08:46] #56983 closed

[2018-08-23 08:48] sguillia commented on #50249
The `Search settings` field is buggy.

It is not possible to select all or part of the text we entered.

I can provide a screen recording of the problem if required

[2018-08-23 08:51] sguillia opened #57068 "Where to report typos in the FAQ?"
There is a spelling mistake [here](https://code.visualstudio.com/docs/supporting/FAQ)

`do sent` => `do send`

Should we make issues for similar mistakes?

[2018-08-23 08:51] bpasero commented on #36295
Does this still happen in 1.26?

[2018-08-23 08:52] bpasero commented on #49601
Does this still happen in 1.26?

[2018-08-23 08:52] bpasero commented on #51750
We fixed this for 1.26.1.

[2018-08-23 08:52] #51750 closed

[2018-08-23 08:53] isidorn commented on #56974
Works fine for me in latest vscode insiders
Can you reproduce with insiders https://code.visualstudio.com/insiders/

If yes please create a minimal reproducable sample extension.

[2018-08-23 08:53] bpasero commented on #52783
I see this too very often.

[2018-08-23 08:54] trillykins commented on #56993
@dbaeumer I've only used C with this Code installation.

[2018-08-23 08:55] bpasero commented on #56992
@isidorn weird. I am no node `8.9.3` and yarn `1.9.3`, not sure that makes any difference.

[2018-08-23 08:56] bpasero commented on #56964
I do not own a Logitech MX Master, so I cannot say.

[2018-08-23 08:57] bpasero commented on #56964
@wyldphyre can you install [Electron Fiddle](https://github.com/electron/fiddle/releases/download/0.1/electron-fiddle-0.1.0-setup-win32-x64.exe) (another application that is using Electron) and run it and see if you can scroll in the editors of that application?

[2018-08-23 08:58] mjbvz commented on #57053
This issue was moved to Microsoft/TypeScript-TmLanguage#659

[2018-08-23 08:58] #57053 closed

[2018-08-23 08:58] bpasero commented on #57019
@HRK44 looks pretty normal to me. Can you:
* close fiddle
* start it again
* add the following line to line 25 of "Main Process" on the left: `dialog.showErrorBox("Hello", "World");`
* run it and show a screen shot of that dialog

[2018-08-23 08:59] mjbvz commented on #57035
Please provide a code example

[2018-08-23 09:00] lonix1 opened #57070 "Add a command that redos the last command that was executed"
Please add a "repeat last command" command and keybinding, as sometimes found in other other apps, e.g. Microsoft Office.

I want to press a shortcut, and for it to repeat whatever the last command was, so I don't have to find it again in the menu or the <kbd>ctrl-shift-p</kbd> box.

This is especially useful when doing a lot of editing.

[2018-08-23 09:00] isidorn commented on #56992
I am on node `8.9.1` and yarn `1.7.0`

[2018-08-23 09:02] mjbvz commented on #56975
Opened https://github.com/Microsoft/TypeScript-TmLanguage/issues/660 to track this upstream

[2018-08-23 09:02] #56975 closed

[2018-08-23 09:03] mjbvz commented on #57017
Please try disabling extensions to see if that fixes the issue. Also look in the `typescript` section of the output panel to see if there are any error messages

[2018-08-23 09:04] wyldphyre commented on #56964
I'm assuming it's not limited to my particular mouse. I just left work, but I'll test with Electron Fiddle tomorrow.

[2018-08-23 09:05] HRK44 commented on #57019
@bpasero I put it inside the callback, it wasn't rendering anything outside (line 25).

![screenshot from 2018-08-23 11-04-35](https://user-images.githubusercontent.com/7391040/44516080-6c905800-a6c4-11e8-93ae-b4c79dd75c57.png)

[2018-08-23 09:07] mjbvz commented on #56852
You should use `// #region`. The `#` makes the comment less ambiguous and is therefore the region syntax we officially support

[2018-08-23 09:07] #56852 closed

[2018-08-23 09:07] mikemaccana opened #57071 "User installer displays blocky / corrupted VScode logo"
The installer used for `VSCodeUserSetup-x64-1.26.1.exe` has some mild graphics corruptions:

![image](https://user-images.githubusercontent.com/172594/44516131-2800be80-a6bc-11e8-9647-11d7f2a75fd5.png)

![image](https://user-images.githubusercontent.com/172594/44516142-318a2680-a6bc-11e8-9906-34a5bf370bfb.png)

[2018-08-23 09:12] bddali commented on #57061
Not sure what you are saying, but restarting VSCode does not help.

[2018-08-23 09:12] mjbvz commented on #56870
@andy-ms Not sure about that. Can you please open a new issue.

It sounds like @ms-markda's problem is different though and related to a slow project load, see #51225. @ms-markda About how large are your large projects? Can you share the output of running `code --status` from the command line with the active vscode instance still running

[2018-08-23 09:14] bpasero commented on #57019
@HRK44 interesting that one looks OK too. Lets try to show the same dialog as the one in code, can you try this dialog instead: `dialog.showMessageBox(mainWindow, { title: 'VSCode', message: 'Some message', button: ["Move"] });`

[2018-08-23 09:15] bpasero commented on #56660
Merging into https://github.com/Microsoft/vscode/issues/57019

[2018-08-23 09:15] #56660 closed

[2018-08-23 09:16] aliev opened #57072 "When I writing fast `console.log(` deletes `log` for some reason"
- VSCode Version: Version 1.26.1 (1.26.1)
- OS Version: 10.13.6 (17G65)

Steps to Reproduce:

1. Open JavaScript file (with jsx)
2. Write console.log(

Does this issue occur when all extensions are disabled?: Yes

My settings.json: https://gist.github.com/aliev/6134f897587390dec4c3ffe40390d9ab
Video how it looks: https://drive.google.com/open?id=1UK2Ikl4rhprPX66Jnshhwyb7OIRFmybu

It seems this hap

[2018-08-23 09:17] TheZoker commented on #56997
I disagree here, because without any update of the extension, but with an update of vs code the extension do not work anymore. They worked until like some updates ago. And now they don't.
This is bad, because when the developer does not update his extension frequently, it does not work with vs code anymore...

[2018-08-23 09:18] bpasero commented on #56994
Pushed a workaround to not show the dialog in certain cases where it is likely that debugging is active.

[2018-08-23 09:25] bpasero commented on #56391
The reason I like the blue button is that it invites the user to do something. If we want to get new users to debug something, I think a button could work well and would be  easier to use compared to the debug configuration dropdown.

[2018-08-23 09:29] priestnot opened #57073 "Add additional SO Lib Search Path to debuger"
Hello I am trying to use the debuger on VScode for a c++ project.

The code uses a external shared lib (.so) that it is not on the OS (linux) usr/lib. The shared lib is on the repository of the project.

I have tried to use the additionalSOLibSearchPath on the launch.json file but it does not work.

[code]
I also tried to make the full path and to point directly to the .so files and it did not wor

[2018-08-23 09:35] weinand commented on #56391
- In many cases the blue button will not be able to do what it says. Providing an "Open Folder" button in the explorer is simple, but a "Start Debugging" button only works if the debug extension supports that. And if it doesn't "Start Debugging" just opens launch.json.
- having two UIs for the same functionality in close proximity is confusing:
  ![2018-08-23_11-31-06](https://user-images.githubus

[2018-08-23 09:36] jrieken commented on #57005
/duplicate of #56634

[2018-08-23 09:36] jrieken commented on #57005
same root cause

[2018-08-23 09:37] #57005 closed

[2018-08-23 09:37] jrieken commented on #57006
/duplicate of #56634

[2018-08-23 09:37] jrieken commented on #57006
same root cause as #56634

[2018-08-23 09:37] #57006 closed

[2018-08-23 09:40] #56678 closed

[2018-08-23 09:42] jrieken commented on #56678
We decided against this and went in favour of #56022. The height is now aligned with section headers in viewlets. We figured its the better fit and visually more pleasing.

[2018-08-23 09:42] bpasero commented on #57019
@HRK44 try with this: `dialog.showMessageBox(mainWindow, { title: 'VSCode', message: 'Some message', detail: "this is some details", buttons: ["Move", "Cancel"], type: "warning", cancelId: 0 }, function() {})`

[2018-08-23 09:44] bpasero commented on #56391
@weinand yeah good point, we can start with a message and show it as long as the user did not configure any launch configuration (and probably also as long as the user does not have breakpoints or watch expressions that could indicate the user is familar with debugging)

[2018-08-23 09:46] jrieken commented on #55014
I have actually implemented that as #56983 today. Closing as dupe

[2018-08-23 09:46] #55014 closed

[2018-08-23 09:47] HRK44 commented on #57019
@bpasero looks fine

![screenshot from 2018-08-23 11-47-11](https://user-images.githubusercontent.com/7391040/44518369-58e7f000-a6ca-11e8-9600-b89f7a0ef0bb.png)

[2018-08-23 09:52] bpasero commented on #56651
https://github.com/electron/electron/issues/14276

[2018-08-23 09:52] Sayo1337 opened #57074 "Auto-complete Removing code"
When editing my HTML code I start to to type `<str` next to the word to make it bold but when I press `[Enter]` to accept the auto complete it completes the `<strong>` tag but deletes the word that I am trying to wrap it around.

[2018-08-23 09:53] komagic commented on #53469
Up to now, I think vs code is the best tool for FE, however,  the Atom's suggestion widget looks more.....you know that~

[2018-08-23 09:54] weinand commented on #56992
Works fine for me too.
I'm using node v8.9.4 and yarn 1.9.4

[2018-08-23 09:58] pqvst commented on #56522
I also noticed that extra spaces before the newline of a multi-line statement also causes issues. Is this related?

<img width="244" alt="screenshot 2018-08-23 11 47 51" src="https://user-images.githubusercontent.com/4990657/44518925-e1b35b80-a6cb-11e8-9152-320da7981691.png">

[2018-08-23 10:08] AbstractFlame commented on #15211
@ebelew : just think about that how many people use this cool software and sum this little stresses of all users. Than you can see it is a big stress overall. You can make happier a lot of people with correct this very basic problem. (Using mouse wheel is one of the main functionality in a code editor).

[2018-08-23 10:08] netjune commented on #56437
My mouse does have 5 buttons. But the fourth and fifth buttons don't work in VS Code. Maybe It doesn't work on Linux? I'm using Centos 7 Desktop.

They work well in GNU Emacs. They are recognised as mouse-8 and mouse-9.

[2018-08-23 10:14] mjbvz commented on #57068
The docs for that website are here: https://github.com/Microsoft/vscode-docs Please submit a PR with the fix

[2018-08-23 10:14] #57068 closed

[2018-08-23 10:15] #57073 closed

[2018-08-23 10:19] #57058 closed

[2018-08-23 10:22] HasnainAshfaq opened #57075 "Weird loading bar keeps getting around"
Issue Type: <b>Bug</b>

I have a weird problem. Whenever I am working, after 20 mins or so I get a loading bar on top. Which keeps loadng forever. I have no idea if its an extension or so. Posted this on Twitter, I was told report it here because it seems like a rendering problem.
Details: https://twitter.com/auchenberg/status/1031666368003764224

![image](https://user-images.githubusercontent.com

[2018-08-23 10:26] isidorn commented on #56391
Some good points rasied by @weinand
I like the idea of changing the message based on the context - if the current file can be debugged we show message A, if the launch.json needs to be configured we show message B and so on..

[2018-08-23 10:29] bpasero commented on #57075
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-08-23 10:30] l0k1verloren commented on #54715
I don't know why this issue is closed. I am sure you can replicate it easily by loading a golang repository and running the debugger. Note that it's not just the debugger that is opening unnecessary new views, it is also the control-click in the terminal. Furthermore, myself and my colleague have been experiencing odd problems with updated edits disappearing randomly while tabs are inactive.

[2018-08-23 10:32] HRK44 commented on #57019
@bpasero dialog shows fine

![screenshot from 2018-08-23 12-32-06](https://user-images.githubusercontent.com/7391040/44520618-a49d9800-a6d0-11e8-8c83-2e9b398fd5fd.png)

[2018-08-23 10:36] Maledong commented on #56867
Maybe you re-load this and tell in details.

[2018-08-23 10:40] isidorn opened #57076 "Find replace does not show diffs properly"
1. Search find labelService
2. Replace it with labelService2

Notice how the diffs are not properly shown. Yes two identical editors side by side
fyi @sandy081

[2018-08-23 10:40] pelx commented on #42720
I switched from brackets to VSC and was frustrated with this issue. Still cant make it work. It only works if CP opens above the color...

[2018-08-23 10:41] isidorn opened #57077 "Replace input not preserved across sessions"
Search viewlet -> expand the replace input -> reload
Notice that the replace input field is not shown

I would expect that it is there.
Especially frustrating about this is that I just start typing and only latter find out that I actually typed inside the "files to inlcude" field instead of the replace since it is no longer shwon

fyi @sandy081

[2018-08-23 10:48] hbenl opened #57078 "Code Lenses stopped working with the vsls scheme"
- VSCode Version: 1.26.1
- OS Version: Ubuntu 18.04.1

I am trying to show Code Lenses in a file with URI `vsls:/test/one.js`, but the Code Lens doesn't show up. In fact, the `provideCodeLenses` method of my `CodeLensProvider` is never called for that file.
I've tried registering the provider with different `DocumentSelector`s, but can't get the Code Lenses to work in that file.
It used to work wi

[2018-08-23 10:50] gkalpak opened #57079 "Add badgen.net to trusted badge providers"
Please consider adding [badgen.net](https://badgen.net/) (and [flat.badgen.net](https://flat.badgen.net/)) to [trusted badge providers](https://code.visualstudio.com/docs/extensionAPI/extension-manifest#_approved-badges).

##
I prefer using [badgen.net](https://badgen.net/) instead of the individual badge providers (Travis, AppVeyor, etc.) for configurability and consistency across badges. I'm usi

[2018-08-23 11:04] gkalpak commented on #57079
No, it is not a duplicate.

[2018-08-23 11:06] bpasero commented on #57019
@HRK44 wow, I am out of ideas on this one. Is there anything logged to VSCode console (run with `code --verbose`) when the dialog opens?

[2018-08-23 11:08] joeyfoo commented on #8641
Is there a way to disable the back and forward mouse buttons from navigating on Windows, or are disabling these buttons tied to the electron issue mentioned above?

[2018-08-23 11:12] cboillat commented on #56644
@jrieken here is the second window `Startup Performance` :

![image](https://user-images.githubusercontent.com/1654758/44522226-2c39d580-a6d6-11e8-8b39-8fc36d6a7429.png)

[2018-08-23 11:14] weinand commented on #54715
I've closed this issue because the issue you are seeing cannot be solved by VS Code but must be solved by the debug extension you are using.

VS Code never opens a file in a new tab if that file is already open and has an identical URL.
But if the debugger sends a different URL (for the supposedly same file), VS Code cannot know that this file is already open and it will open the file in another t

[2018-08-23 11:22] JackCaster opened #57080 "Display name conda environment"
Is it possible to add the name of the conda environment in use?

Right now, we can select the conda environment, but VSCode displays only the Python version (see below).
![image](https://user-images.githubusercontent.com/18400141/44522464-eaf5f580-a6d6-11e8-95ea-c1300d1a1a60.png)
I would like to get something like this:
![image](https://user-images.githubusercontent.com/18400141/44522665-8c7d4700-

[2018-08-23 11:33] ashwinmenkudle commented on #41565
+1

[2018-08-23 11:33] ricosuave73 opened #57081 "Can't create workspace with same name as a folder"
Issue Type: <b>Bug</b>

Steps to reproduce:
Open a folder
Select "Save Workspace As..."
Navigate to a folder to save your workspace to
If there is a folder named "release" and you name your workspace "release", the workspace isn't saved as "release.code-workspace". Instead, the requester goes into the "release" folder

Expected result:
It should be possible to save a workspace to a location that h

[2018-08-23 11:46] Bahaatya commented on #15727
+100

[2018-08-23 11:50] weinand commented on #54715
Please file new issues for the problem with "control-click in the terminal" and "edits disappearing randomly while tabs are inactive." Do not assume that after mentioning those issues here will automatically start an investigation on our side.

[2018-08-23 11:51] jrieken commented on #56644
Ok, same disaster. At least consistent... 🐌

[2018-08-23 11:52] joaomoreno commented on #56651
@bpasero Did you test Electron 3?

[2018-08-23 11:53] HRK44 commented on #57019
More logs :
![screenshot from 2018-08-23 13-51-19](https://user-images.githubusercontent.com/7391040/44523877-cd775a80-a6db-11e8-829e-d9c37d9f10f0.png)

ESC[90m[main 1:50:46 PM]ESC[0m windowsService#showMessageBox 1
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[19768:0823/135046.951999:WARNING:browser_main_loop.cc(275)] Gtk: Error loading image 'file:///usr/share/

[2018-08-23 11:57] bpasero commented on #57019
@HRK44 good one, I think this is because we are using a PNG icon for the dialog and that seems to break the dialog. Can we try that with the `electron-fiddle` again, this time using an icon:

` mainWindow = new BrowserWindow({ width: 800, height: 600, icon: '/home/ticino/Desktop/code.png' })`

and the icon being:

![code](https://user-images.githubusercontent.com/900690/44524055-67d79e00-a6dc-11e8

[2018-08-23 11:59] realuser opened #57082 "Issue priority"
I'm not sure where else to communicate this (stackoverflow does not seem appropriate).  Some time ago I created an issue [User configurable indent in file explorer #35447](https://github.com/Microsoft/vscode/issues/35447)

As of this writing it has about 50 👍 reactions.

Now the issue has been locked: `Microsoft locked as off topic and limited conversation to collaborators` (I guess by @roblourens

[2018-08-23 12:06] HRK44 commented on #57019
@bpasero it works fine with the png icon.

It might have something to do with this issue : https://forum.snapcraft.io/t/skype-exits-when-trying-to-add-a-file-to-a-chat/6138/8

[2018-08-23 12:17] JakeHL commented on #4758
+1

[2018-08-23 12:29] damadei commented on #42889
Did the same thing as @testworksau and got the same result. Context item gone for files and folders.

![image](https://user-images.githubusercontent.com/7613919/44525324-051fdb80-a6b7-11e8-98fd-50d62ae50a67.png)

[2018-08-23 12:39] damadei commented on #42889
Just reinstalled it and saw it was my mistake for not seeing the options that are now present in the installer:
![image](https://user-images.githubusercontent.com/7613919/44525751-5da3a880-a6b8-11e8-8bba-da50a8a4771d.png)

[2018-08-23 12:40] BrandonRice commented on #57034
jrieken - Are you using the Insiders build?  I don't have any special settings.  I installed the Insiders build and copied my personalized user snippets over from the stable release of VSCode.  They work fine there but not in the Insiders build.  I'll try it again this morning and see if I get any better result.

[2018-08-23 12:42] BrandonRice commented on #57034
Seems to be working today.  Guess I just needed to do the fix all, restart Windows! :)

[2018-08-23 12:43] ufchta commented on #25887
This is probably my biggest problem with VS Code so far. I was very surprised that this did not already exist.
Any chance that this will be added?

[2018-08-23 13:03] shadowkrazee opened #57083 "Allow <super> as a keybinding option in linux"
I am using VSCode on linux (fedora) and I want to bind the <super> key to:

"editor.multiCursorModifier": "super"

but currently, the only options are ctrlCmd and alt (which doesn't work because it toggles menu navigation).
I don't want to change it to ctrl+click because it's handy for links and function definitions, but multi-cursor editing is also very useful, and I can't make both happen with m

[2018-08-23 13:20] Th30wl opened #57085 "TAB issue in text editor"
Issue Type: <b>Bug</b>

When text is selected pressing TAB does not indent the selected text. In fact text editor loses focus and you focus different UI elements (buttons etc.)

Steps to reproduce:
1. add a code file (cpp in my case)
2. write some code :)
3. select some text
4. press TAB and code editor will lose focus
  (I can't see what is focused on the first press but by continuing to press yo

[2018-08-23 13:24] jamieatherton92 opened #57086 "Undocking tabs for use across multiple monitors"
Hi,

It would be nice if we could undock tabs - To be used across multiple monitors like in visual studio.

[2018-08-23 13:25] ichbineinNerd commented on #57085
that is not all of the steps needed to reproduce this issue, it works fine for me with those steps and the same version. I didn't check the add-ons, does it happen without them?

[2018-08-23 13:26] pedrogarcia commented on #54900
Why?
Why would I want a black activity bar if I set the theme to light?

[2018-08-23 13:27] lacroixdavid1 commented on #29403
I suggest you take a look at this extension:

https://marketplace.visualstudio.com/items?itemName=lacroixdavid1.vscode-format-context-menu#overview

[2018-08-23 13:30] Th30wl commented on #57085
By bad. Somehow I have enabled the 'TAB moves focus' option by mistake.. :/

[2018-08-23 13:30] #57085 closed

[2018-08-23 13:34] dbaeumer commented on #56993
@trillykins in this case you can delete the content to clean it up. The extension will recompute if necessary. For the more general clean-up this is a dup of https://github.com/Microsoft/vscode/issues/32461

Closing as duplicate

[2018-08-23 13:34] #56993 closed

[2018-08-23 13:38] jmino commented on #42889
Reinstalling did the trick! I don't recall the options as shown in @damadei screenshot when I initially installed via the VSCodeUserSetup. Reinstalling did it though. Thank you all!

[2018-08-23 13:39] fate0521 opened #57087 "VS Code starts but doesn't open with cmd prompt disabled"
- VSCode Version: 1.26
- OS Version: Server 2016

Steps to Reproduce:

In a locked down terminal server environment, VS Code could open as an admin user but as a regular user only 2 processes would spawn but VS Code would not open.

1. Prevent access to the command prompt and silent batch script execution were disabled
2. I disabled the above GPO setting and VS Code would open when running from a

[2018-08-23 13:41] dbaeumer commented on #56838
I think it would be fair to as old task users to use the command palette. I can look into telemetry to see how many `0.1.0` users exists.

[2018-08-23 13:42] DanTup commented on #56996
Still seeing it in insiders:

07618102efdd63f09949ce54c161e7fd2a954ee8

2018-08-23T05:05:50.261Z

![screen shot 2018-08-23 at 2 42 01 pm](https://user-images.githubusercontent.com/1078012/44528942-c99b0680-a6e2-11e8-963f-53df07df2b10.png)

Anything I can do to get more info to help understand it?

[2018-08-23 13:43] DanTup commented on #56996
(If you don't mind downloading the Dart SDK and installing the Dart extension you can probably repro locally)

[2018-08-23 13:44] weinand commented on #56646
@glennsarti thanks for the offer, but I'm currently working on this API anyways. So I will definitely consider this feature.

[2018-08-23 13:48] NIRVANALAN commented on #56821
I don't know if there are some problems with github, that I can not upload my screenshot. Can you access the link [https://blog.csdn.net/GROSSES/article/details/81988660](url), I have uploaded my screenshot here.

[2018-08-23 13:48] llHoYall commented on #55620
I also do like you. But it was same as before.
So, I try to another windows 10 computer. I was failure also.
Finally, I try to my Macbook Air and it works good by the manual.
Then, why it doesn't work on windows?

[2018-08-23 13:50] jrieken commented on #57034
Funky... Closing as not reproducible but please speak up you see this again

[2018-08-23 13:50] #57034 closed

[2018-08-23 13:52] dbaeumer commented on #55620
That is very strange since I am testing this under Windows only. I am really puzzeled here. Anything that you can think of is different between Windows and Mac for you?

[2018-08-23 13:55] tetsuo opened #57088 "Usability problems in error popups"
* Error popup screens are too small
* Basically you interact with a fixed size window only by moving your mouse cursor, there is no way to keep them on the screen or change the size of the window, which is kind of weird since those popups are like one of the most important tools for writing TypeScript code
* Scrolling the text inside popups is painful
* Useful error messages are truncated by defau

[2018-08-23 13:56] ichbineinNerd commented on #56398
little addition: it happens on break points in any language, not only python.

[2018-08-23 14:00] ichbineinNerd commented on #56015
I'd like to work on this, do we have any special class / method that gets called on the first start?

If I'm not mistaking too much, it shouldn't need much more than simply removing the line(s) that show the git notifications and re-adding them when opening a git project

[2018-08-23 14:07] Floriferous commented on #55909
On latest version, I still see the exact same suggestions, not fixed for me.

Here's another issue I opened concerning another topic, where I explain the project's structure: https://github.com/Microsoft/vscode/issues/55905

[2018-08-23 14:10] jdk339 commented on #57020
I think that could be true. It's no longer an issue after running `sudo chown -R myuser .`. I thought I had sufficient permissions, but this seems to have fixed it.

[2018-08-23 14:10] #57020 closed

[2018-08-23 14:16] quezak commented on #28310
I agree that it takes too much space with Split editors, but I also like to look at the minimap sometimes -- maybe a nice solution would be to "auto-hide" the minimap? It would disappear when you edit code, and fade in if you, for example, start scrolling.

[2018-08-23 14:17] nigeb123 commented on #47841
I discovered that if you ignore the updater's prompt for a restart, and instead close Code using the [x] at the top right, the update then proceeds correctly.

[2018-08-23 14:17] jrieken opened #57089 "Tree filtering: support recursive filtering"
* have a tree
* have a filter that marks a child as visible but not its parent
* 😢 the children aren't visible...

there should be a filter that starts at the (visible) leafs and that rolls up the visibility state.

[2018-08-23 14:17] jrieken commented on #55004
This is implemented but impacted by https://github.com/Microsoft/vscode/issues/57089

[2018-08-23 14:19] kieferrm opened #57090 "Screen cheese in the settings editor"
Issue Type: <b>Bug</b>

1. Open the new settings editor
2. Select `modified settings` from the drop down
3. In the search box, delete all text but `@` - wait 2s
4. Activate intellisense after the `@` and select the `@tag` proposal

-> screen cheese on the left; `No Settings Found` still on the right.

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/4674940/44531127-d86

[2018-08-23 14:21] mikemaccana opened #57091 "'git for Windows' won't alow user setup for vscode"
See screenshot:
![image](https://user-images.githubusercontent.com/172594/44531171-00275000-a6e8-11e8-9cfe-422cc9d3c8b9.png)

Ideally it might be better to ditch 'git for Windows' - bash etc already come with Windows 10.

[2018-08-23 14:30] psachs21 commented on #57056
@bpasero So running 1.25, it reproduced initially. I then reset the setting (on => off => on) and now it works. This did not work with 1.26... Except now. After i installed 1.25 and did the toggle setting, and reopened stable, it works properly... Sure. That was fun.

[2018-08-23 14:34] DmitryVengerov opened #57092 "Add ': %27, in links if you use VS code terminal"
- VSCode Version: version 1.26
- OS Version: 10.13.6

Steps to Reproduce:

1.0 Open VS Code terminal
1.1 Make some request to server and get JSON with generated links
1.2 Hover the cursor to the prompt
<img width="32" alt="2018-08-23 16 57 01" src="https://user-images.githubusercontent.com/12252551/44530421-fce79080-a6f6-11e8-8e2c-1d6d94ff749a.png">

2. After clicking with сmd we have a broken lin

[2018-08-23 14:38] jrieken opened #57093 "Allow CompletionItem to control how text is being inserted"
Today, when inserting completion items (and snippets) that span multiple lines we adjust whitespace. That's not always wanted (see https://github.com/Microsoft/language-server-protocol/issues/83) and we should expose a flag that controls how the `CompletionItem#insertText` is being inserted.

In Roslyn, [`CompletionItemRules`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Completion/Com

[2018-08-23 14:42] Darkstarxt commented on #10121
Why is this still not a thing ! What is the hold up on this feature... VS code is a great editor, but this is a major feature missing...

[2018-08-23 14:45] bpasero commented on #57019
@HRK44 I believe that issue is rather due to the ArchLinux OS (see https://github.com/Microsoft/vscode/issues/55934).

Would you be able to fix the ZLIB_1.2.9 issue to see if that helps? Sounds like a missing dependency to me?

[2018-08-23 14:46] 18894142401 opened #57094 "双引号"
Issue Type: <b>Feature Request</b>

希望在写html时输入class=时自动添加双引号，或者class=“时自动添加另一个双引号，我是初始者，使用过sublime,webstorm,Hbuilder

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:37:28.532Z)
OS version: Windows_NT ia32 10.0.14393

[2018-08-23 14:49] #57056 closed

[2018-08-23 14:49] bpasero commented on #57056
@psachs21 I did indeed change some code around this in 1.26 and possibly this causes the issue you see. I have reverted that code back to how it was in 1.25.

Btw I got a ping from Apple that they said they had fixed the issue, but the update is still not out it seems and I am not sure if it comes with a major update (Mojave) or not.

[2018-08-23 14:51] #57086 closed

[2018-08-23 14:52] colin314 commented on #10121
This really needs to happen! Big oversight on Microsoft's account.

[2018-08-23 14:53] psachs21 commented on #57056
@bpasero thanks for all the help. Hopefully nobody else runs into this weird issue. Hopefully it won't pop up again on the next update. Appreciate all your help on this.

[2018-08-23 14:54] slaith commented on #43188
+1 Sublime text does this very well (in full-screen mode on mac). If you open a new workspace or a new folder, it gets added as a tab to the current window. That's the only feature VS Code lacks over sublime right now.

[2018-08-23 14:55] johnasp commented on #32200
I just searched for a solution to this and stumbled across this thread.  This bug is so incredibly ANNOYING!  Incredible they have shipped VS without fixing this first.

[2018-08-23 14:55] jrieken commented on #56634
Tweaked the node management of the breadcrumbs widget and added extra logic to print more info when errors occur. Closing this for new telemetry issues

[2018-08-23 14:55] #56634 closed

[2018-08-23 14:56] l0k1verloren commented on #54715
I haven't seen the edits disappearing thing happen many times so I will report it if I can get more details.

The thing is, quite clearly both the terminal and the debugger plugin are behaving the same. And not only that, so does the explorer sidepanel. Here is a screen record of what I am talking about. I don't think I really need to also show the terminal control click or the debugger URL jump i

[2018-08-23 15:01] finalcreator commented on #29126
when the import package path is very long , the suggestion window width not fit the long length, characters are truncated!!!

[2018-08-23 15:01] #54533 closed

[2018-08-23 15:18] byyxx128 commented on #57094
@18894142401
现在就是这样的，你用成中文标点了吧……下次反馈问题用英文……

Translation here:

　　I think the author cause the issue because he used a wrong quotation mark, `“` is a Chinese quotation mark. So he shouldn't input `class=“`, he should use `class="`, as `"` is English quotation mark.
　　But sometimes it is difficult to identify under some fonts.

[2018-08-23 15:25] isidorn commented on #48810
Willl not happen in august moving out

[2018-08-23 15:30] ryanaltvater commented on #30770
+1

Really hoping for an update to this. Slows down the workflow of wanting to search current project files, but other projects' files (Recently Opened) are listed first (some times with the same names as files you're looking for in the current project).

[2018-08-23 15:34] chrmarti commented on #34711
I forgot: Ripgrep's default is to use `.gitignore` files, so here are the same measurements with that turned off which is what `workspaceContains` does:
[code]

[2018-08-23 15:40] zenVentzi opened #57095 "Override Windows or other programs hotkeys while in vscode"
I don't know if that's even slightly possible.Problem is some of VSCode's hotkeys are not working. Although many of them seem to do nothing at first glance, they are most likely assigned to some other program/process or Windows' feature. Is it possible while in VSCode when using those hotkeys(e.g. alt+shift+i is not working and I don't know what it is being used for and by what program/process) to

[2018-08-23 15:44] jrieken commented on #55309
@sbatten Is the plan that the menu continues to take focus?

[2018-08-23 15:45] jrieken commented on #43275
We have pushed `ExtensionContext#logPath`

[2018-08-23 15:45] #43275 closed

[2018-08-23 15:50] alexwhittemore commented on #15452
As a simple test, open two terminals:

in term 1:
[code]
In a Code terminal we see
[code]
of course.

Moving over to a second terminal:
[code]
And in Code:
[code]
In this second case, TESTVAR and VIRTUAL_ENV are correct, but I'd expect UNIQUE to be unset. This can lead to oddities where launching subsequent windows results in having partial environments from previous windows.

In my use case, the

[2018-08-23 15:52] mikemaccana commented on #57091
PS. If it's not obvious from the screenshot, it doesn't see the new user setup as being installed.

[2018-08-23 15:56] doug-episource commented on #56923
Yes, I did. I have reverted back to 1.25.1 and it works. It does not work on v1.26.1. Sorry, I stated the original version in my opening post, but neglected to mention the ".1" in my follow-up post.

[2018-08-23 15:59] degroote22 commented on #56701
I'm having the same issue on MacOS after the last update (1.26.1). It worked fine before.

[2018-08-23 16:00] roblourens commented on #34711
Yeah we can use the configured values of those settings to follow what someone said above, if normal search can find it, workspaceContains will find it.

[2018-08-23 16:18] JacksonKearl commented on #8536
In the latest Insiders you'll find two new settings, and a change in the inputs accepted for the existing setting:
[code]

Note that these will all be overridden by `editor.autoClosingBrackets` if it is set to `false`, so be sure to update that to use the new schema.

[2018-08-23 16:18] CharlesFr commented on #56974
Same issue here, the output window does not automatically scroll down

[2018-08-23 16:19] JacksonKearl commented on #36259
In the latest Insiders you'll find two new settings, and a change in the inputs accepted for the existing setting:
[code]
Note that these will all be overridden by `editor.autoClosingBrackets` if it is set to `false`, so be sure to update that to use the new schema.

[2018-08-23 16:25] JacksonKearl commented on #35197
In the latest insiders, you'll find a new option for `editor.autoClosingQuotes`: `languageDefined`. This is the new default, and it uses language extensions to determine when to apply auto-closing quotes. The current heuristic is that if the following character would tend not to start expressions in a particular language, we should auto-close before it. For JS and TS we have set this to ```;:.,=}]

[2018-08-23 16:30] Telokis opened #57096 "VSCode not resolving index.js when using custom path aliases"
Issue Type: <b>Bug</b>

## Situation

I am using the `jsconfig.json` file to specify custom aliases for my project like so:

[code]

In `app.js`, I try to do the following:

[code]

There is a file `src/models/index.js` which is imported and contains this:

[code]

## What happens

Inside the `app.js` file, the `require` clause works and vscode understands that it uses an alias as shown on this sc

[2018-08-23 16:34] tpye opened #57097 "VS Code 1.26.1 recognizing 'htm' extension as opposed to 'html' extension for html docs"
Currently, my version of VS Code will not identify html documents as such, unless the file extension is set to 'htm' not html.

Trevor

[2018-08-23 16:34] IlyaBiryukov commented on #57032
@isidorn the scenario we want to enable is a read-only collaboration session in Live Share, where the guest cannot make edits, but should be able to see edits done by the host. When the host makes edits, we propagate them to the guest and apply them with `vscode.workspace.applyEdit` to the document.
If you prohibit this, how else can we update the files?

@lostintangent FYI this will block read-on

[2018-08-23 16:42] IlyaBiryukov commented on #57032
Also, in #53257, I already pointed out that extension should be able to make edits to read-only file, and you agreed to that, what has changed since then?

[2018-08-23 16:56] IlyaBiryukov commented on #57032
One solution I see is, before applying edits, re-register the file system provider for the same scheme as not read-only, apply the changes, and then re-register the file system provider bask as read-only again. Though this approach looks very awkward and prone to races with other actions that would attempt to modify other files, like user editing.

[2018-08-23 16:59] ssbarnea commented on #56634
Thanks, this should help finding root causes for these errors. I am sure is a plugin, but who has time to bisect all these to spot the culprit.

[2018-08-23 17:00] richtera commented on #56216
@sandy081 I just saw this was closed. Essentially adding certain folders to be excluded like build folders and node_modules folders will resolve the performance issues, but the problem is that not all my projects have the same project layout. So I was thinking it would be better to allow parts of this or other configuration to be overridden per project. I was thinking a file like .vsignore or a fo

[2018-08-23 17:03] a01fe commented on #57052
Ahh, ok. If there's a design reason for disallowing placeholders with choice values to be used with transforms, then perhaps the documentation should reflect that?

[2018-08-23 17:07] Tyriar commented on #57038
@ParkourKarthik great! Background and border should be changed to the better as they are the ones that fallback:

https://github.com/Microsoft/vscode/blob/f7b8c9b7df54f23b02fb36ba0cb12a5a96c8c4e9/src/vs/workbench/parts/terminal/electron-browser/terminalPanel.ts#L313-L316

[2018-08-23 17:14] Tyriar commented on #56838
@bpasero I clarified in the other half of the sentence, perhaps a `;` would have been more appropriate than a `,`. We're not cutting those users off all together, they can still go via command palette.

[2018-08-23 17:18] Tyriar commented on #35447
You cannot vote on issues if they're locked, everyone keep in mind that a 👍 reaction on the top comment is a vote for the issue, a comment is not.

[2018-08-23 17:29] mtxr opened #57098 "Replace other input boxes with Monaco instances so keybindings work"
I would like to use keybindings inside Vscode input fields like Search, Siderbar search etc.

Eg. Change case, delete word

[2018-08-23 17:34] OzzyTheGiant commented on #57011
Ok I'll keep a look out. Hasn't happened yet so, I'll post when I see this again.

[2018-08-23 17:35] bardware commented on #57064
I have this error too. I started Insider-install running in c:\Programms.
I clicked install updates on the bottom left. Code asked for privileges which I confirmed.
I eventually closed code and a popup appeared. After a few moments I got the same error as the thread opener.
I wanted to restart code but got the message the exe has disappeared and the shortcut from start menu was deleted.

[2018-08-23 17:37] n3rd4i commented on #56801
The idea was to have an environment variable calculated somehow for all my tasks, for example:
var: `$env:foo` is global and can be used across tasks.
if this cannot be used within WSL somehow, It does not help me because then I will need to set the default console to PS and relay all commands from PS to WSL, which breaks the actual point to default WSL (bash.exe) as my console.

[2018-08-23 17:42] maziac commented on #50532
Any idea when there will be a solution for this?

[2018-08-23 17:50] ggregoire commented on #56852
Hi @mjbvz!

`// region` was officially supported when VSCode introduced the regions: https://code.visualstudio.com/updates/v1_17#_folding-regions

While I understand that you removed this syntax to be consistent with the other languages, a short entry in the last release notes would have been welcome since it's a small breaking change. :)

Anyway, thanks for the great work!

[2018-08-23 17:53] bardware commented on #56550
Saw it working in recent insider version

[code]

[2018-08-23 18:07] Tyriar commented on #9347
Update on this: I'm currently working on conpty support which is expected to fix this for newer versions of Windows 10 https://github.com/Microsoft/node-pty/issues/216

[2018-08-23 18:08] NightmareJoker2 commented on #56736
@joaomoreno

I have to reiterate:

This kind of behavior should never be encouraged by first-party software from the platform vendor, and especially not for developer tools, encouraging developers who use them to then do the same.

Also, why do you add a *bug* label and then immediately close the issue? I see no proposed solution, referenced bug fix, or anything addressing the problem of any kind.

[2018-08-23 18:08] Tyriar commented on #57011
@OzzyTheGiant 👍

[2018-08-23 18:11] Tyriar commented on #56125
I'd recommend joining the discussion over at https://github.com/Microsoft/vscode/issues/15452, also for Python specifically I'm not sure if the python extension has a nice workaround for handling virtualenv or not https://github.com/Microsoft/vscode-python

[2018-08-23 18:14] lautjy commented on #15949
Testing around I realized why I was so surprised by this behavior. It's the UX flow.
For weeks I've kept VSCode open, dodging windows restarts, on few different machines. During that time VSCode has taught me:

  * when VSCode is running
  * double click an associated file
  * it opens as a new tab nicely next to my other open work in VSCode

After closing VSCode for any reason, the behavior is ve

[2018-08-23 18:15] alexwhittemore commented on #56125
My understanding is, at this juncture, it's a discussion-in-progress.

[2018-08-23 18:18] Tyriar commented on #57040
Can you post a screenshot?

[2018-08-23 18:34] segevfiner commented on #56125
They have a separate "Create Terminal" command that creates a terminal with the active Python environment. But due to API limitations, this is a separate command and as such by default terminals are created using VS Code's environment via the default command.

[2018-08-23 18:42] Tyriar commented on #56682
Right now this functionality is deferred to extensions https://marketplace.visualstudio.com/items?itemName=Tyriar.shell-launcher

You can also run "cmd" or "bash" inside a powershell terminal.

[2018-08-23 18:42] #56682 closed

[2018-08-23 18:42] drorata opened #57099 "Allow to add additional folders to quick open search path"
It is often the case that one has to open a file which has nothing to do with the current directory/project. When using other editors this is supported using extensions; check for comparison [advanced-open-file (for Atom)](https://atom.io/packages/advanced-open-file) or [ido (for emacs)](https://www.masteringemacs.org/article/introduction-to-ido-mode).

In a nutshell, all it has to do, is scan the

[2018-08-23 18:45] Tyriar commented on #55889
This was caused by https://github.com/Microsoft/vscode/issues/56628, it's fixed in latest Insiders and will come to 1.27. Sorry about the hassle

[2018-08-23 18:48] roblourens commented on #57082
You are right, I didn't realize that prevents 👍. We unlocked the thread

[2018-08-23 18:48] #57082 closed

[2018-08-23 19:14] andy-ms commented on #56870
Can't repro my issue any more in latest vscode insiders.

[2018-08-23 19:26] SanwariyaAmit commented on #56964
I use the Logitech M720 Triathlon. I tested out the Electron Fiddle and got the same results, there's a jerk (brief movement) on  trying to scroll but then it stops responding.

[2018-08-23 19:32] austin-laney opened #57101 "Debug Toolbar Theme Not Updating"
- VSCode Version: 1.26.1
- OS Version: Windows 10 1709 build 16299.431

Steps to Reproduce:

1. Install theme which allows custom options bar and title bar
2. Enable `Window: Title Bar Style" in Settings and set to `custom`
3. Launch debug session and observe floating toolbar theme is not matched to rest of UI

Does this issue occur when all extensions are disabled?: Yes/No
No (themes are the exte

[2018-08-23 19:33] acming92 opened #57102 "Jump to function beginning"
I think it's useful provide a way to jump at the beginning of the current function, especially when the function is very long and team likes to define variable in the beginning of the function.

[2018-08-23 19:43] #54053 closed

[2018-08-23 19:57] ramya-rao-a commented on #53469
What does "FE" mean?

looks more like what? Sorry, I dont understand what you are trying to say. Perhaps, you can share some screenshots?

I have pushed a change such that the suggest widget uses the font weight set in the `editor.fontWeight` setting. You can see this in our [Insiders build](https://code.visualstudio.com/insiders] tomorrow. Please let us know if this serves your need.

[2018-08-23 19:58] youssefsharief opened #57104 "Add code folding in markdown based on bullet point hierarchy level"
I would like to be able to fold  markdown based on bullet point hierarchy level

![image](https://user-images.githubusercontent.com/21158003/44548818-76937480-a71f-11e8-9775-317ba26f49be.png)

[2018-08-23 20:00] rebornix commented on #57094
Thanks @byyxx128 for doing the translation. I have a feeling that a wrong double quote is used, close this issue for now but @18894142401 confirmed that it's not the case, we can have it reopened.

[2018-08-23 20:00] #57094 closed

[2018-08-23 20:04] alanrgan opened #57105 "Workspace settings are not applied when duplicated in a new window"
- VSCode Version: 1.26.1
- OS Version: macOS High Sierra 10.13

Steps to Reproduce:

1. Open a workspace in VSCode
2. Use the command 'Duplicate Workspace in New Window'
3. Open Workspace settings.

Does this issue occur when all extensions are disabled?: Yes

Not sure if this is intended behavior, but when you use the command 'Duplicate Workspace in New Window' none of the workspace settings are

[2018-08-23 20:07] Tyriar commented on #56125
@segevfiner sure, you could replace the keybinding though if it's all you want to use:

[code]

You can even make this the default only when you have a Python file opened:

[code]

[2018-08-23 20:07] grgarcia-ms opened #57106 "Include file names in search"
Can file names be included in a search?
Example: search for run.py will not show files named run.py.

[2018-08-23 20:07] terminull commented on #15178
@c10b10 Hopefully thumbs up attract more attention to this issue. For non-vim users, we cannot effectively edit the same file opened in two different editor groups (e.g. split one file vertically and view/edit different parts in each pane)

[2018-08-23 20:30] vm95604b opened #57107 "Code crashed and the window won't close."
- VSCode Version: I think 1.26. I downloaded it today 8/23/18
- OS Version: 10.13.5

Steps to Reproduce:

1. Can't reproduce but I found a thread with the same problem that was closed in May due to inactivity.
2.

Does this issue occur when all extensions are disabled?: Yes/No
I had only the C++ extension installed when it happened. This is my crash report...

Process:               Microsoft.VSCo

[2018-08-23 20:33] goloveychuk commented on #51242
other problem because of this - vscode can't match this path with tree panel on the right. So after "go to definition" you have no idea where are you, which makes UX very complicated

[2018-08-23 20:42] #57106 closed

[2018-08-23 20:48] grgarcia-ms commented on #56757
Me too, actually filed a feature request without noticing this thread. I don't know any other way to search for files in VSCode, I just don't. I figured they would be under 'search' but no, if there is a way I would like to know, and would suggest to make it more visible, or if possible, including it within the search panel

[2018-08-23 20:57] rebornix commented on #57080
@JackCaster I think the status bar items are contributed by some extension?

[2018-08-23 21:01] roblourens commented on #56757
Quick open (ctrl+p/cmd+p) searches files

[2018-08-23 21:02] rebornix commented on #57059
@kishandonepudi can you share some screenshorts or gif to help troubleshoot? I'm sure about what's going on there.

[2018-08-23 21:08] grgarcia-ms commented on #56757
Nice! Any way of leaving that bar there? Not fond of shortcuts, but will do for now, thanks

[2018-08-23 21:12] hellerim opened #57109 "Make keyboard mappings sortable in the editor"
I feel the necessity to repair the keyboard mappings in a VSCode instance which appear to be damaged. The keyboard table of https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf looks nice, but it's ordering is completely different from that shown in the VSCode keyboard mapping editor. This makes the work terribly boaring since, in addition, in VSCode the table is localized while

[2018-08-23 21:27] octref opened #57110 "Reveal Active File in File Explorer doesn't work any more for files in node_modules"
Issue Type: <b>Bug</b>

Jump to Definition takes me to the `d.ts` files in `node_modules` and I run the command `Reveal Active File in File Explorer` to reveal them. This doesn't work any more.

Just noticed that if you set `explorer.autoReveal` to true, it doesn't work either now for files in `node_modules`.

Only error I see from DevTool is:

[code]

VS Code version: Code - Insiders 1.27.0-insid

[2018-08-23 21:35] christopherwolf1 commented on #55436
Update to this issue after downloading the latest release of vscode; previous version didn't have the problem and only insiders was affected. Now, however, the 8-16 commit appears to have this issue as well;
![vscode-1 26 1-recovery_menubar-taptoclick_bug](https://user-images.githubusercontent.com/15132959/44553235-acb20380-a6e1-11e8-8a93-f05c25b6f186.gif)

Version: 1.26.1
Commit: 493869ee8e8a846b

[2018-08-23 21:48] #57077 closed

[2018-08-23 21:50] StephanTLavavej opened #57111 "Flickering icons when resizing sidebar"
- VSCode Version: 1.26.1 x64
- OS Version: Windows Server 2016

Steps to Reproduce:

1. Open a workspace.
2. Open the Explorer sidebar.
3. Observe that hovering over the file list in the Explorer displays icons in the Workspace header (New File, New Folder, Refresh, Collapse All). This is good.
4. Observe that hovering outside the Explorer (e.g. over an open file) causes those icons to disappear.

[2018-08-23 21:55] Bill-Stewart commented on #57091
Isn't this a problem for the git installer rather than vscode?

[2018-08-23 22:02] dna5122 opened #57112 "Double-clicking on code doesn't select the text"
Issue Type: <b>Bug</b>

Using the TSX editor to write some TypeScript code, trying to double click with the mouse on a variable name in order to select the text to use copy/paste, and the double click rarely works.  It acts like a single click, the code editor highlights all instances of that variable name in the file, but the text is not selected.

VS Code version: Code 1.26.1 (493869ee8e8a846b08

[2018-08-23 22:07] dna5122 opened #57113 "Ctrl+click to select code"
I'd really like to be able to hold down the ctrl key and single click on a bit of code (variable, method, etc.) to select the text.  Right now it seems the only option for ctrl+click is to navigate to definition.

[2018-08-23 22:07] JackCaster commented on #57080
Oh right. It should be the [VSCode Python extension](https://github.com/Microsoft/vscode-python). I will post there instead.

[2018-08-23 22:07] #57080 closed

[2018-08-23 22:29] #48136 closed

[2018-08-23 22:34] sbatten commented on #17172
@AccessibilityTestingTeam-TCS

In my branch, I've updated the structure to look like the following,
![image](https://user-images.githubusercontent.com/6561887/44555387-c0f9fe80-a6e9-11e8-88be-5c709a71ca91.png)

Though the name is present, it still does not announce the title of the menu when the user hits 'alt+f' as the focused item is the first menu item. However, if the user hits alt to focus th

[2018-08-23 22:36] sbatten commented on #51841
@AccessibilityTestingTeam-TCS  I don't believe this was tested with the new custom menu, but this one was: https://github.com/Microsoft/vscode/issues/17172 and appears to be the same symptoms. My reply there holds for this issue as well.

[2018-08-23 22:59] sbatten commented on #56127
@akbyrd yes 1.27, also currently in insiders, thanks

[2018-08-23 23:01] #56448 closed

[2018-08-23 23:06] quivocal commented on #56644
I am having this same problem since the last July update and the switch to the user version.

![image](https://user-images.githubusercontent.com/8002519/44556409-c1e46c00-a78d-11e8-995e-025e1e98c267.png)

[2018-08-23 23:08] brbecker commented on #47841
I hit this issue today. While following the instructions in [https://github.com/Microsoft/vscode/issues/47841#issuecomment-399941682](url), the update proceeded as expected, but I received _many_ instances of the error shown in the image with different filename listed. Hitting Retry on each seemed to work as I did not notice any repeated files, but it was annoying. After a couple dozen Retrys, I A

[2018-08-23 23:29] nealot opened #57115 "Breadcrumbs incorrectly indents file icons when folder icons are disabled"
When an icon theme does not specify any folder icons, breadcrumbs indents files which do have icons to the same level it would when there are folder icons. This behavior is confusing as it suggests that files can be children of folders in the same directory.

Screenshot:

![screenshot_20180823_192643](https://user-images.githubusercontent.com/36805289/44557005-82287080-a70a-11e8-9682-635abd8e8029.

[2018-08-23 23:32] #56990 closed

[2018-08-23 23:34] roblourens commented on #57076
I have no idea, debugged and it looks normal, do you know what changed @sandy081 ?

[2018-08-23 23:35] sbatten commented on #56857
@misolori I'm not opposed to making the icon themable to the extent of using the foreground color. Just want to make sure that's something that fits in our guidelines.

[2018-08-23 23:42] Logerfo opened #57117 "New mixed titleBarStyle"
As I described in https://github.com/Microsoft/vscode/issues/16363#issuecomment-413680099, changing the title bar style in order to achieve dark menus made me lost the ability to hide the title bar. I wish there was an third option, "mixed" (you can name it whatever you'd like), which uses the custom renderer (the one which achieves the dark theme), but keeps the native title bar, so I can hide it

[2018-08-23 23:42] graph opened #57118 "in the terminal if something looks like a filename, keep an index of all files and see if you can match to one"
alot of file names are unique that there will be a single match. Even if there is multiple just pick one or show a list. Some scripts don't print file paths in a way vs code finds them and makes them linkable in the terminal.

[2018-08-23 23:46] wyldphyre commented on #56964
My experience with Electron Fiddle was the same. The horizontal scrollbar moved briefly, once, and then no more.

Is VS Code known to work at all with horizontal scroll wheels? I've yet to hear of any confirmation that it works for someone.

[2018-08-23 23:47] danderson00 commented on #56422
This doesn't seem to work for me. I have a `jsconfig.json` in the root folder with the contents pasted above, and I still get DOM and other suggestions.

[2018-08-23 23:48] sbatten commented on #55309
@jrieken yes

[2018-08-23 23:53] sbatten commented on #55436
@christopherwolf1 Can you verify on the latest insiders? I noticed this issue on my Surface Book 2 the other day and believe it is now fixed?

[2018-08-24 00:24] jeremymeng opened #57119 "[Extensibility] TextEditor instance got disposed if another document is opened on top of it"
Issue Type: <b>Bug</b>

1. I have an extension that creates two Untitiled-* documents then shows them side by side at column one and column two.  I saved the two TextEditor instances so later the extension can update the contents of the two documents, instead of creating two new documents again.

![image](https://user-images.githubusercontent.com/7583839/44558067-f9eca000-a6f6-11e8-8de2-f94cff1ca1

[2018-08-24 00:36] ramya-rao-a commented on #55114
Note to verifier:
- Test with `extensions.autoUpdate` and `extensions.autoCheckUpdates` settings disabled. Have an extension with an older version.
- Test the label change to `Check for Extension Updates`
- Notification should tell whether 0, 1 or more updates are available
- When run from command pallet with extensions viewlet is hidden, and updates are available, the extension viewlet should sho

[2018-08-24 00:36] roblourens commented on #55796
Links in enumDescriptions:

- `files.autoSave`
- `editor.wordWrap`

Options
- Don't linkify setting names in enumDescriptions
- Advise against using links in enumDescriptions
- Come up with a different design that makes it easier to click these links
- Detect links in enumDescriptions and render them in the description, instead of in the dropdown

[2018-08-24 00:39] llHoYall commented on #55620
I found one thing.

1. Press `F5` key,
2. Click Terminal and dropdown menu very very very fast.
  Then, I can see a menu.
[code]

But I can see it very short time. It is clearly disappear.
So, I don't see messages at all.
Is there any method to see these messages?

[2018-08-24 00:39] lucasmhv opened #57120 "Can't use git"
Issue Type: <b>Bug</b>

I can't use git and even when I change the git.path it still doesn't work.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>check

[2018-08-24 00:48] #54552 closed

[2018-08-24 00:50] #57120 closed

[2018-08-24 00:56] #55618 closed

[2018-08-24 01:05] masters3d opened #57121 "autohotkey not working, vscode completely ignores keybindings"
Version: 1.25.1
Commit: 1dfc5e557209371715f655691b1235b6b26a06be
Date: 2018-07-11T15:43:53.668Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64

ALSO IN:

Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

In

[2018-08-24 01:05] enuggetry opened #57122 "Improve directory/project visibility in a workspace"
Issue Type: <b>Feature Request</b>

When there are multiple projects in a workspace, while project(s) trees are expanded, it's difficult to discern which project files I am viewing viewing in the workspace panel when the actual project name is scrolled off screen.. I have many projects that are similar in structure and directory layout.
Also, there should be a clearer separater between projects.

[2018-08-24 01:33] NoEnigmas opened #57123 "Visual Studio Code 1.26.1 uses \bin instead of \lib"
Issue Type: <b>Bug</b>

1) Create a new project ctl shift p
2) Start debugging
3) Fails with:
         Target file "bin\main.dart" not found.
         Exited (1)
4) rename lib directory to bin
5) Runs fine.
6) Run flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel dev, v0.7.0, on Microsoft Windows [Version 10.0.17134.228], locale en-US)
[√] Android tool

[2018-08-24 01:40] xgqfrms opened #57124 "ES6 template string codes folded wanted!"
# ES6 template string codes folded  wanted!

![image](https://user-images.githubusercontent.com/7291672/44560312-b0956280-a781-11e8-831f-6bf6479f62c5.png)

[2018-08-24 01:42] xgqfrms commented on #57124
[code]

![vscode-bug](https://user-images.githubusercontent.com/7291672/44560381-0bc75500-a782-11e8-92b2-4b3966b64b41.gif)

[2018-08-24 01:53] bh1svr commented on #56980
It works. Thanks.

[2018-08-24 01:53] #56980 closed

[2018-08-24 01:57] #54667 closed

[2018-08-24 02:00] garyking opened #57125 "Show current Markdown section as a breadcrumb"
I have breadcrumbs enabled. When editing Markdown, if my cursor is on a heading like `# Test`, then `# Test` appears in the breadcrumbs. But if my cursor is one line below the heading, then the breadcrumb simply shows `...`.

Instead, it should show the heading, since the cursor is still in the same section.

[2018-08-24 02:04] christopherwolf1 commented on #55436
@sbatten Just checked again on my install of insiders; looks like the same thing is happening...Details below

Version: 1.27.0-insider
Commit: 07618102efdd63f09949ce54c161e7fd2a954ee8
Date: 2018-08-23T05:20:35.051Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-08-24 02:13] nmsmith22389 commented on #55369
I'm still kind of confused if anyone could help clarify...

What's the difference between the search-rg extension and the regular ripgrep functionality?
<sup>*(or old vs new ripgrep?)*</sup>

I'm also partially against deleting the non-ripgrep searching for the following reasons:
- The *"in file"* search doesn't use ripgrep.
- Rip-grep doesn't support advanced RegEx features. <sup>*(at least not i

[2018-08-24 02:47] formulahendry commented on #56974
Install the [Code Runner](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner) could easily repro.

In Command Palette, type `Run Code` to run any file.
If run put focus on Output Channel, the scroll down will stop, in previous version:
![56974-1](https://user-images.githubusercontent.com/1050213/44562068-5cdb4700-a78a-11e8-9f51-a59543b49fe4.gif)

Then in Command Palette,

[2018-08-24 02:54] vicchoutw commented on #53925
Hello Alexandru, but it still not working...
I am running Mac OSX 10.13.6 & VScode version 1.26

<img width="390" alt="2018-08-24 10 51 15" src="https://user-images.githubusercontent.com/21326779/44562319-ac6e4280-a78b-11e8-8855-cfcf07cbaffb.png">
<img width="566" alt="2018-08-24 10 52 07" src="https://user-images.githubusercontent.com/21326779/44562350-c90a7a80-a78b-11e8-9678-4786ef9a67a1.png">

[2018-08-24 03:06] hiramatsu commented on #45629
Same Here

@rebornix

![2018-08-24 12 03 06](https://user-images.githubusercontent.com/7225783/44562727-f52af900-a795-11e8-8c42-3f9a792f92f5.png)
![2018-08-24 12 03 35](https://user-images.githubusercontent.com/7225783/44562736-ffe58e00-a795-11e8-8abe-1321e7c68161.png)

[2018-08-24 03:07] datvong-wm commented on #51776
Probably a TS Server hard bug they can't fix, or maybe a fix that hasn't been released yet.

To temporarily get around this until they have a fix, I turned on logging like the @mjbvz said, figure out which file it is croaking on, add that file or set of files to my "files.exclude", "files.watcherExclude" lists.

[2018-08-24 03:51] danderson00 commented on #56422
So... I tried moving `jsconfig.json` to the `.vscode` folder (which obviously doesn't work), and then after I moved it back to the root folder, it started working. **sigh** quality. Entirely possible it's me being an idiot, and I can no longer reproduce the issue.

I do agree with the comment made by @medikoo.

[2018-08-24 04:10] pranaykothari commented on #57017
I checked all of the above. Please see the screenshot below. all extensions are disabled. Output panel says about the tsserver but not an error, and in the code you will see how all the error display and intellisense are missing.

![image](https://user-images.githubusercontent.com/11058917/44564597-690ed680-a781-11e8-9e94-149698b3f16f.png)

[2018-08-24 04:14] shawnchain opened #57126 "Use the first line of text content as editor tab title for unsaved files."
Hi,
I would like to know if we could use the first line of text as a editor tab title for unsaved files,
currently on my VSC, it's just Untitled-N.
Also would like to know if there is any plug-in could do this for me ?

Thanks,

Shawn

[2018-08-24 04:27] UlukDzhunsov opened #57128 "Integrated terminal"
Issue Type: <b>Bug</b>

In the new version, the integrated terminal became slow. Can you fix this ? ((

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:31:26.156Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>checker_i

[2018-08-24 04:39] #55796 closed

[2018-08-24 04:43] octref commented on #57110
Very strange, I cannot repro on my home laptop but I can repro consistently on work laptop.

[2018-08-24 05:09] bpasero commented on #56838
@Tyriar yeah not sure, I would argue we should not support the legacy task system at all and make every command target the tasks in the terminal. Maybe that requires some extra code to ping users to transition if they have not yet.

[2018-08-24 05:11] #57046 closed

[2018-08-24 05:11] bpasero commented on #57095
This is currently not possible and since I am not sure how to even implement a solution here, I am closing this.

[2018-08-24 05:11] #57095 closed

[2018-08-24 05:13] #57055 closed

[2018-08-24 05:16] bpasero commented on #56518
Ah so this seems to be coming from an extension. Moving to @chrmarti , see the UI glitch in https://github.com/Microsoft/vscode/issues/56518#issue-351027313 specifically.

[2018-08-24 05:18] #57126 closed

[2018-08-24 05:34] bpasero commented on #57061
I can reproduce. If I add a console.log to the place where we read the encoding for the file ([here](https://github.com/Microsoft/vscode/blob/c1126302de7261d7d2bf3ada2fbfda5cb881b244/src/vs/workbench/services/files/electron-browser/encoding.ts#L95)) I can see that I get a value of utf8 at first (right on startup) and then later when I ask again, it is the correct encoding. Seems like an issue with

[2018-08-24 05:37] bpasero commented on #57105
@alanrgan I cannot reproduce this behaviour for me the contents of the "settings" node in the workspace file are copied over. What is not copied over for you?

[2018-08-24 05:39] bpasero opened #57130 "Workspace: window title reads name of workspace file?"
Steps to Reproduce:

1. open a workspace
2. check the title (macOS, native title)

=> it seems to show the name of the workspace file
=> this should be the workspace name instead

![image](https://user-images.githubusercontent.com/900690/44567003-c4849880-a770-11e8-8243-1ccf1454dd12.png)

[2018-08-24 05:41] bpasero commented on #57081
This seems to be standard windows behaviour, I can reproduce the same when I use notepad.exe.

[2018-08-24 05:41] #57081 closed

[2018-08-24 05:53] overburner commented on #56644
Same issue.
Version 1.25.1 works great.
Version 1.26.0 and above is about 20 seconds to startup.

![default](https://user-images.githubusercontent.com/41741255/44567097-8e97e200-a779-11e8-86ad-e7a73e60d52f.png)

It's diffenetly Electron issue.
I tried to start https://github.com/electron/electron-quick-start on different versions.
1.8.7 - open instantly.
2.0.7 and 3.0.0-beta.5 - terrible slow star

[2018-08-24 06:07] joaomoreno commented on #56736
The close action references https://github.com/Microsoft/vscode/commit/4754feafb0d174c84b876b87c0a77d9f959ba311 which simply removes the notification, as I mentioned above.

Nothing you said is wrong. Yet, given the amount of issues we get related to users not being able to install/update code on Windows due to lack of permissions, combined with the fact that updates run much smoother if there nee

[2018-08-24 06:10] joaomoreno commented on #56879
Can you check in VS Code's log folder? <kbd>F1</kbd> `Developer: Open Logs Folder`

[2018-08-24 06:11] joaomoreno commented on #55857
The only icons the tree has are: twistie and loading indicator. All other icons belong to the many users of the tree.

[2018-08-24 06:13] joaomoreno commented on #57030
Set `"scm.alwaysShowProviders": false`.

[2018-08-24 06:13] #57030 closed

[2018-08-24 06:16] joaomoreno commented on #56664
You are supposed to **never** run VS Code as Administrator. There's no reason to do that. Once you do it, VS Code might create files which only an Administrator can access, so the result is that you can't even use VS Code without running as Administrator again.

That seems exactly to be what has happened: You set up your SSH using an Admin command line prompt. Please setup your SSH auth again, but

[2018-08-24 06:17] joaomoreno commented on #56810
These results are what Code returns if there's already a Code instance running. Can you restart your system, to be sure there's no Code running?

[2018-08-24 06:27] joaomoreno commented on #56015
@ichbineinNerd Please read our Contribution Guide: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2018-08-24 06:28] joaomoreno commented on #56015
@ichbineinNerd Thanks for the help, but we're not looking for help on this specific issue. Please try another issue with the label `help wanted`.

[2018-08-24 06:32] joaomoreno commented on #56856
@MariusVatasoiu I have tried it many times on several machines, and it seems to work. Can you retry/restart the machine?

@JigneshAngadia The release notes are updated already: https://github.com/Microsoft/vscode-docs/blob/master/release-notes/v1_26.md#user-setup-for-windows

[2018-08-24 06:33] attuo commented on #28310
As @quezak suggested, auto-hiding the minimap could also be a solution for this problem.
Thanks for providing the link. That plugin looks promising and something like that would be nice to have also on VS Code.

[2018-08-24 06:33] joaomoreno commented on #57107
https://github.com/Microsoft/vscode-cpptools/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+crash

[2018-08-24 06:33] #57107 closed

[2018-08-24 06:35] #57087 closed

[2018-08-24 06:41] bpasero opened #57131 "Debug views: add line-height to center items in trees/lists"
At least the breakpoints view seems to be missing a `line-height: 22px` so that the items are perfectly centered. I did not check the other views.

E.g. compare with the SCM view where each item has a line-height associated.

[2018-08-24 06:45] bpasero opened #57132 "Line breakpoint: does not show up as disabled"
It looks like breakpoints within a line never show up as disabled if they are:

![image](https://user-images.githubusercontent.com/900690/44569232-fb12e100-a779-11e8-8c0f-cfd997295cb4.png)

[2018-08-24 06:58] PabloVortex opened #57133 "Touchpad scrolling = Lag"
**Visual Studio lags every time I open it. Going into full-screen mode then going back fixes it but this is really annoying.**
Steps to Reproduce:

1. Open a file with visual studio
2. Lag happens
3. Go into full-screen mode
4. Go back to windowed mode
5. Lag is gone
6. (Lag doesn't happen while in full-screen mode either)

Reproduces without extensions: Yes/No

Edit: Added the workaround:

Workar

[2018-08-24 06:59] beastdestroyer commented on #50249
Hey @roblourens, I am going to work a bit on theming the GUI for One Dark Pro, but in the docs, I can't seem to find a `settings. background` option, does this exist? Or should I change the colours on hover and. on active for the Pattern option?

[2018-08-24 07:01] sandy081 commented on #56821
Pasting your screenshot here

![image](https://user-images.githubusercontent.com/10746682/44569936-4a5a1100-a77c-11e8-87f4-eaba1191cf15.png)

[2018-08-24 07:04] sandy081 commented on #56216
@richtera Do you know which extension is reading them and causing the performance issue?

As said, you can follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2018-08-24 07:07] sandy081 commented on #57076
Not aware of any changes went in here.. Will investigate.

[2018-08-24 07:07] jrieken commented on #57032
Any reason you aren't using the [`FileSystemProvider#onDidChangeFile`](https://github.com/Microsoft/vscode/blob/c1126302de7261d7d2bf3ada2fbfda5cb881b244/src/vs/vscode.d.ts#L5361-L5366)-event for this?

[2018-08-24 07:10] jrieken commented on #57052
We have this document (and a grammar definition): https://code.visualstudio.com/docs/editor/userdefinedsnippets#_grammar

[2018-08-24 07:10] isidorn commented on #50532
This is not on our immediate plan. So no idea.

[2018-08-24 07:10] isidorn commented on #56550
@bardware thank you, adding verified label

[2018-08-24 07:12] isidorn commented on #57077
@roblourens thanks, works great now -> verified

[2018-08-24 07:14] isidorn commented on #57101
The issue is with the theme, please file this issue with the theme and let them know they should also customise "debugToolBar.background" and other debugToolBar colors

[2018-08-24 07:14] #57101 closed

[2018-08-24 07:14] bpasero commented on #57027
This seems to be another regression (or maybe an existing one we dealt with already?) with the change from string => URI.

/cc @isidorn

[2018-08-24 07:15] jrieken commented on #57078
@hbenl For what language does that happen and how do you register your code lens provider?

The issue is that for LiveShare a "workaround" exists which grants them exclusive registration for some language features, that means if LiveShare registers a certain provider it'll be the exclusive provider. We have done that to avoid double registration of let's say CSS completions but I can check if we s

[2018-08-24 07:15] bpasero commented on #56865
@nicois your issue seems to be https://github.com/Microsoft/vscode/issues/57027

[2018-08-24 07:16] bpasero commented on #56821
@NIRVANALAN does this go away when you run "code --disable-gpu"?

[2018-08-24 07:16] sandy081 commented on #57109
When you mean sort by key combination.. how exactly you are expecting to be sorted? Can you provide some examples?

Can you please provide an use case to support this?

[2018-08-24 07:18] bpasero commented on #57133
Known issue that can be worked around by configuring: `window.smoothScrollingWorkaround: true`

[2018-08-24 07:18] #57133 closed

[2018-08-24 07:19] jrieken commented on #56923
Funky, that was the only change in the diagnostics area between 1.25.x and 1.26.x. I suspect this is an issue with the extension because we don't receive other feedback like this. I'd still a set of reproducible steps tho

[2018-08-24 07:19] isidorn opened #57135 "Do not instantiate label service on main side"
Currently we instantiate the label service both on the main side and on the renderer. Whenever a formatter is registered on the renderer this is passed to the main side which is a bit ugly.

We should re-structure the menu such that the open recent list is coming from the renderer. Once we do that the label service will no longer be needed on the main side at all.

fyi @bpasero @sbatten @alexandru

[2018-08-24 07:22] egamma opened #57136 "Current selection in suggestions widget is difficult to see in the default dark theme"
Has the selection color in the suggestion widget changed? I noticed that I several time picked the wrong suggestion since the currently selected item was difficult to see.

Also notice currently selected item is shown in a different color than the currently selected item in a menu.

The suggestion widget:
![image](https://user-images.githubusercontent.com/172399/44570627-c9504900-a77e-11e8-94a6-8b

[2018-08-24 07:27] #54727 closed

[2018-08-24 07:31] isidorn commented on #57066
Cmd + down should open the file just like the Finder on mac.
You can also customise this keybinding by changing the list.select keybinding in Preferences > Keyboard Shortcuts.

Does this solve your issue?

[2018-08-24 07:32] isidorn commented on #57111
Can you pleae attach a GIF or a video which demonstraets this
Can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/

[2018-08-24 07:32] joaomoreno commented on #57091
/duplicate #56973

[2018-08-24 07:32] joaomoreno commented on #57064
/duplicate  #47841

[2018-08-24 07:32] #57091 closed

[2018-08-24 07:32] #57064 closed

[2018-08-24 07:34] isidorn commented on #57110
Works for me. I guess you are using the command palette action
`Reveal active file in Side Bar`
Try reproducing with all extensions disabled.
If you can still reproduce put a breakpoint [here](https://github.com/Microsoft/vscode/blob/d200e76c4902ea4904915a6511386a9bf1d981aa/src/vs/workbench/parts/files/electron-browser/fileActions.ts#L1365) and try to investigate more

[2018-08-24 07:38] sandy081 commented on #57061
@bpasero Configuration service is returning the right value. But the language/mode that is being provided is not right.

![image](https://user-images.githubusercontent.com/10746682/44571364-e554ea00-a780-11e8-8044-2e11913322b9.png)

In the above screenshot, IModelService / IModeService is first returning `plainText` as the languageId and is returning `perl` after some time. Guessing that the ModeS

[2018-08-24 07:43] aeschli commented on #57097
I can't reproduce, we also have not made any changes in that area. Can run code with extensions disabled and see if an extension causes that?
Also check the `"files.associations"` setting to see if `*.html` is associated with a different language.

[2018-08-24 07:45] medikoo commented on #56422
@mjbvz I believe this should be reopened, as a need to create `jsconfig.json` for every project is obviously not a solution

[2018-08-24 07:47] aeschli commented on #57074
You have to add a space before the next word. If not code assist thinks the word is part of the current tag and replaces it with the new tag.

[2018-08-24 07:47] #57074 closed

[2018-08-24 07:49] sandy081 commented on #57076
@bpasero There is following error in console

[code]

[2018-08-24 07:51] rickstaa opened #57137 "Outline pannel doesn't show functions inside classes"
**Problem description**
I just tried the outline feature in visual code but I noticed that functions which are defined as methods under a class do not show up in the outline panel or symbol search database ````ctrl + shift+ o```. I was not sure if this is a bug or that this still needs to be implemented.

**System information**
- VSCode Version: 1.27.0-insider
- OS Version: Windows 7 enterprise (S

[2018-08-24 07:51] #57132 closed

[2018-08-24 07:51] phifa commented on #56664
Ok. That’s good to know. I think the reason I did this at some point was because of the integrated terminal not having enough permission to create symlinks or do sth else, not sure. This was when I was using the git bash. Now I have included the WSL.

How does running VS Code as Admin change the behavior of the integrated terminal, the WSL?

[2018-08-24 07:52] isidorn commented on #57076
@sandy081 I introduced that by throwin an error when somebody tries to edit a read only editor.
https://github.com/Microsoft/vscode/commit/8281fa7fadd56655744e747f8d2d138ba34c46b8
Why are you editing a read only editor (I guess left hand side)?

[2018-08-24 07:53] bpasero opened #57138 "Debt: avoid electron.remote module"
We should avoid anything that causes sync IPC. The only last offender seems to be the context menu.

[2018-08-24 07:54] #57138 closed

[2018-08-24 07:57] bpasero commented on #57061
@alexandrudima adding you based on the findings from https://github.com/Microsoft/vscode/issues/57061#issuecomment-415678631

[2018-08-24 07:58] dbaeumer commented on #55620
If you execute the `npm: watch` task from the task menu, does the entry stay in the terminal drop down?

If not all I could think about tracking this down is to compile VS Code from source and debug it on your machine. Would you be willing to do so?

[2018-08-24 07:58] aeschli commented on #57027
@vlurgio Can you send us your `storage.json` file
`/Users/$userid/Library/Application Support/Code/storage.json`?

Deleting that file (or the `openedPathsList` list) should fix the VSCode startup.

[2018-08-24 07:59] bpasero commented on #57061
Interestingly the status bar changes from "Plain Text" to "Perl" after some time, so there is probably a language mode change at a later point in time and the encoding does not react to that.

[2018-08-24 08:01] #56103 closed

[2018-08-24 08:01] #56166 closed

[2018-08-24 08:01] dbaeumer commented on #56801
@isidorn can you point me to an example on how you use commands to resolve values. May be this is something we can easily add to tasks. That should then help with this secanrio

[2018-08-24 08:03] hansmaad opened #57139 "Windows file links with whitespace not recognized in terminal"
Issue Type: <b>Bug</b>

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2904)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: enabled<br>

[2018-08-24 08:04] Navis-Raven commented on #56166
Why the bot has closed it while this topic has recent activities just 7 days ago ???

[2018-08-24 08:07] isidorn commented on #57131
@bpasero the breakpoints view was the only missing this since I transformed it to use a list a forgot to apply this css rule. Thanks for finding this.

[2018-08-24 08:07] Navis-Raven commented on #56166
A new information is that I use VSCODE on my Windows 8.1 and I had no crash to this date.

[2018-08-24 08:10] sandy081 commented on #57027
Probably provide us the value of `openedPathsList` property before deleting it so that we can reproduce it and fix the issue.

[2018-08-24 08:10] mjbvz commented on #57017
Please share some example code or small example project that demonstrates this issue

[2018-08-24 08:10] #57131 closed

[2018-08-24 08:11] rdewolff commented on #20530
Love this feature!

[2018-08-24 08:12] mjbvz commented on #56971
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/648

Fixed in insiders

[2018-08-24 08:12] #56971 closed

[2018-08-24 08:13] Awezome1996 opened #57140 "Copying"
Add a feature where you keep copies in a clip board.so like a note location to keep multiple copies.

[2018-08-24 08:13] mjbvz commented on #57137
Please file this issue against the python extension

[2018-08-24 08:13] #57137 closed

[2018-08-24 08:13] sandy081 commented on #57076
Because, it is a replace preview that shows before and after. Both sides are readonly as left side shows current data (which is readonly by default) and right side shows after data (is made readonly explicitly).

[2018-08-24 08:13] mjbvz commented on #57124
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/23382

[2018-08-24 08:13] #57124 closed

[2018-08-24 08:14] isidorn commented on #56801
@weinand is calling the variables resolving from [here](https://github.com/Microsoft/vscode/blob/20b2782ffa7ef868e04f93aea42d3c8462821702/src/vs/workbench/parts/debug/node/debugger.ts#L78)

[2018-08-24 08:16] isidorn commented on #57076
@sandy081 I understand that, but why don't you set the content on the model when you create, why are you appliying edits?
Example that seems to work just fine: git showing diff - left hand side is readonly. Why don't you follow the pattern that git is doing?

[2018-08-24 08:25] sandy081 commented on #56649
Added some logs to get more info

[2018-08-24 08:25] isidorn commented on #57076
@sandy081 can you in that case re-create the model?
Otherwise what you want is not a readonly editor since you are applying edits to it.

[2018-08-24 08:28] jrieken commented on #20112
The question with the unindent is how far to go? Should `\b` unindent  by one indentation-unit or to the start of the line? Or should another character be use for start of like, like the start of text ascii control character?

[2018-08-24 08:29] dbaeumer commented on #56801
Thanks. How do you reference such a command variable in the launch.json?

[2018-08-24 08:34] #55480 closed

[2018-08-24 08:39] isidorn commented on #56801
Here's an example `"processId": "${command:PickProcess}"`
And here is how the extension is contributing that it has a variable which uses the pick process command https://github.com/Microsoft/vscode-node-debug/blob/90879b496722ddfa53b8eb7508e36f8bc3a39140/package.json#L154

The only issue I see is that these variables are contributed under the `debugger` contribution. @weinand could we somehow mak

[2018-08-24 08:43] isidorn commented on #57130
@bpasero good catch, thanks for reporting great issues

[2018-08-24 08:44] #57130 closed

[2018-08-24 08:48] peiblox commented on #57076
I've experienced the same problem. The diffs editor doesn't show the changes properly, but when you apply the change, it is done properly. It always changes two more characters than it should.

For example:
`get_header_actions` replace it with `getHeaderActions`

If the code looks like this:
`$this->get_header_actions();` in the diffs editor it shows like `$this->getHeaderActions;`

It lacks the p

[2018-08-24 08:50] jamesray1 commented on #56968
@bpasero why was this marked as out of scope? Being able to zoom in and out is a pretty basic function, and is important for an app that gets a lot of use by many people. I don't think the bot should close the issue after only being open for a day.

[2018-08-24 08:50] sandy081 commented on #57076
@isidorn Do you mean I can apply the changes directly onto the model?

[2018-08-24 09:06] autodonncha commented on #42051
Give @benday a job on the VSCode team.

[2018-08-24 09:16] youssefhad commented on #56657
yes, i uninstall the user setup and try the system setup, and it works .

[2018-08-24 09:18] #57076 closed

[2018-08-24 09:19] sandy081 commented on #57076
Fix:

- Replace preview updates are done directly on the model instead of using BulkEditService

[2018-08-24 09:22] xenogew opened #57141 "Integrated Terminal eventually turn mouse pointer into 'Precision Select' instead of 'Normal Pointer' or 'Text Select'"
- VSCode Version: 1.26.1
- OS Version: Windows 10 (10.0.17134.228)

Steps to Reproduce:

1.  integrated terminal active.
2.  input any command to integrated terminal.
3.  swap/switch to another programs, I can't specify which condition will trigger the bug. But eventually I found mouse pointer is changed to **Precision Select** instead of **Normal Select** or **Text Select**. (name reference from

[2018-08-24 09:30] yenle91 opened #57142 "cgwin"

[2018-08-24 09:30] #57142 closed

[2018-08-24 09:30] bpasero commented on #57130
@isidorn my pleasure, this one was actually showing up as a failing smoke test too.

[2018-08-24 09:31] bpasero commented on #57131
@isidorn great

[2018-08-24 09:31] weinand commented on #56801
@dbaeumer it is no longer necessary to contribute debug specific "Variables". Any command can be used as a variable with the `${command:command-ID}` syntax.
The "Variables" mechanism is deprecated.

[2018-08-24 09:34] isidorn opened #57143 "Replace: right hand side gets broken when input or replace gets changed"
1. Search for something
2. Type a replace term. All is nicely shown
3. Now change the search or the replace and press enter -> right hand side gets broken

Assigning to August since it looks quite broken

[2018-08-24 09:34] #55833 closed

[2018-08-24 09:37] isidorn commented on #55742
Will not have time to tackle, moving to on-deck

[2018-08-24 09:38] sandy081 commented on #57143
@bpasero This is happening because diff editor is not getting closed when one of the models in the diff editor was got disposed.

May I know why?

[2018-08-24 09:47] bpasero commented on #57061
This is not easy to fix because we do not want the editor to wait for the extension host to come up before loading the contents and we need an encoding when loading the file. If the language mode changes after we have loaded the file we can also not just reopen the file with a different encoding because the user might have made changes that got saved back to disk in the default encoding (utf8). No

[2018-08-24 09:52] rcatajar commented on #57141
I am running in the same issue (screenshot below)
![screenshot from 2018-08-24 11-49-08](https://user-images.githubusercontent.com/7900305/44578456-f2c79f80-a793-11e8-8261-5df07e6ea490.png)

VS Code version: 1.26.1
OS: Manjaro Linux (kernel 4.18.3)
Issue also occur with extensions disabled.

[2018-08-24 09:54] mjbvz commented on #54850
Thanks @jrieken Closing this as our outline is currently designed to show the document structure and the parent class does not fit this

[2018-08-24 09:54] #54850 closed

[2018-08-24 09:57] mjbvz commented on #57125
Fixed by 2c43eaebeccb4cba48f3aa6c54b020e1dd477c19

[2018-08-24 09:57] #57125 closed

[2018-08-24 10:03] mjbvz commented on #56501
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-08-24 10:06] NIRVANALAN commented on #56821
It has gone away since I uninstalled the system-wide version of vscode, that I have not encountered this problem in these days and it works well now. I will try "code --disable-gpu" when I see this problem again.
I think it may be a rendering problem, this "lap" part sometimes shows another region of the editor, such as a piece of code fragment "screenshot" or part of the title panel.

[2018-08-24 10:06] sandy081 opened #57145 "Panels are not pinned by default on fresh install"
- Open VS Code Insiders on a fresh user data directory

🐛 Panels are not pinned by default

[2018-08-24 10:06] bpasero commented on #57143
This could be a regression from the grid work, I have to check.

[2018-08-24 10:08] #57145 closed

[2018-08-24 10:27] #56275 closed

[2018-08-24 10:27] isidorn commented on #56398
You can try out the fix in tomorrow's insiders and let me know if it is ok now. Thank you

[2018-08-24 10:28] #56398 closed

[2018-08-24 10:31] reidca commented on #56399
I have experienced the exact same issue as the OP.

This has been going on for a couple of weeks now and it's driving me crazy. I get asked for GIT credentials (for BitBucket) literally every time I do a PULL or PUSH. Often several times per operation it prompts for password either using the GUI or a dialog box at the top of VSCode's editor window. For some reason it does not accept the password t

[2018-08-24 10:32] mjbvz commented on #55992
Should be fixed in 1.26. Closing since we have not heard otherwise

[2018-08-24 10:32] #55992 closed

[2018-08-24 10:32] llHoYall commented on #55620
FInally, I success to capture the screen. I will type here.

[code]

Right path should be "C:\Users\myid\project\package.json".
Can you solve this?

[2018-08-24 10:35] mjbvz commented on #56006
IntelliSense for dynamic requires statements is a limitation of our intellisense, see: https://github.com/Microsoft/TypeScript/issues/26139 and https://github.com/Microsoft/TypeScript/issues/18656 and

[2018-08-24 10:35] #56006 closed

[2018-08-24 10:37] isidorn commented on #49039
@roblourens @weinand do you already handle this case on your adapter side. If yes can you please give me a pointer?

Also note that if the message is `Hello my name is {name} and I like {kind} pizza.` the output is `Hello my name is %O and I like %O pizza. isidor ham`.
So it seems like the correct algorithm is to go from the right and each %0 replace with the whitespace seperated word from the end

[2018-08-24 10:37] johnkors opened #57146 "Cmd+k cmd+c"
Hi,

VS Code has a default of toggling line comments via `cmd+k cmd+c`, but this opens up a prompt to provide a git commit message. How may I disable this, so it can do line commenting? I've tried to override it in keybindings.json, but no luck.

- Extension Name: git
- Extension Version: 1.0.0
- OS Version: Darwin x64 16.7.0
- VSCode version: 1.26.0

 We have written the needed data into your cli

[2018-08-24 10:38] adincebic commented on #57066
Oh yes, that works fine.

[2018-08-24 10:38] #57066 closed

[2018-08-24 10:39] isidorn commented on #57066
Great to hear.

[2018-08-24 10:42] isidorn commented on #52299
@bpasero @joaomoreno ping for ideas and help

[2018-08-24 10:43] mjbvz commented on #55987
Chrome—and therefore electron—does not support displaying tiffs. We should treat this as a binary file instead of trying to open it as image

[2018-08-24 10:44] #55987 closed

[2018-08-24 10:46] mjbvz commented on #55854
Does this still reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2018-08-24 10:49] mjbvz commented on #55877
This seems to be fixed in VS Code 1.26:

![screen shot 2018-08-24 at 12 48 44 pm](https://user-images.githubusercontent.com/12821956/44580912-1bec2e00-a79c-11e8-8c85-c8dcdb2b1dbc.png)

[2018-08-24 10:49] #55877 closed

[2018-08-24 10:51] mjbvz commented on #55890
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-08-24 10:55] shuaihuGao commented on #56580
jsconfig.json Setting as this.
<img width="758" alt="01" src="https://user-images.githubusercontent.com/29368118/44581171-3e4b6f00-a7cf-11e8-87c6-a1f698adfaee.png">

[2018-08-24 10:58] bddali commented on #57061
I have used jEdit for a few years and it does two things that might be usable workarounds in this issue:

1. You can run jEdit in "server mode", it starts when you log on and runs in the background. If VSCode did that the correct encoding would be applied to all files opened.
2. You can add a comment to the file, either in the first 10 or last 10 lines, that instructs jEdit to use a specific encod

[2018-08-24 10:58] iRoachie commented on #56501
@mjbvz I can confirm the error still occurs in the latest insiders build.

My test was very simple. Tried using a type that I had not yet imported from a package.

[code]

Both are available from the react-native typings which I do have installed. The same unhelpful error mesage reported by @kkolstad shows.

[2018-08-24 11:03] gnprice commented on #46706
Adding a voice because this thread has been quiet for a while: This is a recurring annoyance for me, and I'd love to see it fixed. When there's unsaved state in the editor and I try to save it, I basically always really do want to save it to the disk. A warning is good to get, but then I want to save the file.

For me it's usually impossible, even, for the comparison tool to be helpful: if the fil

[2018-08-24 11:09] Nightenom opened #57147 "Scrollbar is unusable on Linux"
- VSCode Version: 1.26.1
- OS Version: Linux 4.9.0-7-686-pae \#1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) i686 GNU/Linux
- Desktop: kde-plasma-desktop   5:92   i386

Steps to Reproduce:
1. open any file
2. try to use scrollbar

Another report https://stackoverflow.com/questions/51949186/scrollbars-not-working

Does this issue occur when all extensions are disabled?: Yes - no extension installed

[2018-08-24 11:17] MatdeB-SL commented on #6614
As of 1.26.0 or 1.26.1, clicking commit will do a `rebase --continue` if a rebase is underway.

The below code from [repository.ts](https://github.com/Microsoft/vscode/blame/master/extensions/git/src/repository.ts) demonstrates it

[code]

[2018-08-24 11:27] tomintaiga opened #57148 "Space in workspaceFolder break task run"
Issue Type: <b>Bug</b>

My working path for c++ project  is */home/tom/src/test/leetcode/Remove Duplicates from Sorted Array/*

I've add task to run my application:

[code]

No when I try to run it, I've got an error:
[code]

If I rename "Remove Duplicates from Sorted Array" to "Remove_Duplicates_from_Sorted_Array" everything works fine.

Maybe it's part of https://github.com/Microsoft/vscode/issu

[2018-08-24 11:32] Nightenom commented on #57147
Probably just an upgrade error, now working as usual

[2018-08-24 11:32] #57147 closed

[2018-08-24 11:38] shuaihuGao opened #57149 "JavaScript IntelliSense Bug in Generics function."
- VSCode Version:1.26.1
- OS Version: win10
[code]
**now When i type ","  in CodeEditer . the hint is right. like this photo flowing here.**
<img width="1080" alt="a01" src="https://user-images.githubusercontent.com/29368118/44582494-6093bb80-a7d4-11e8-88e3-7ede7aa3d567.png">

**but when i type "{}", the hint has changed. it's list all  interface‘s member.

<img width="1080" alt="a02" src="https:/

[2018-08-24 12:00] deadcoder0904 commented on #55987
Cool. Bdw you peeps are doing a wonderful job. Probably the best team for me ❤️

[2018-08-24 12:00] phifa commented on #56664
So here is the test i did:

- I made sure Hyper/WSL is not starting in Admin mode. I then cloned my private (!) repository again with Hyper/WSL. Worked fine.
- I then did `code projectname` and made sure VS Code does not run as Admin (as I can easily doublecheck in the titlebar, great).
- In VS Code clicking on the sync button, brought the error again. When I open the integrated terminal I could d

[2018-08-24 12:01] #55963 closed

[2018-08-24 12:44] mjbvz commented on #55882
Files under `node_modules` are normally excluded from ts projects. Does this work for files under other paths?

[2018-08-24 12:46] isidorn commented on #52299
@bpasero thanks for trying
@bvancea might you know? :)

[2018-08-24 12:47] mjbvz commented on #55817
This issue was moved to Microsoft/TypeScript#26661

[2018-08-24 12:47] #55817 closed

[2018-08-24 12:49] bpasero commented on #57143
@sandy081 I was able to reproduce this all the way down to 1.23, so it is unrelated to the grid work. I see that we have code in place to dispose the input, if one of its sides gets disposed:

https://github.com/Microsoft/vscode/blob/bd6bd5f73dc4500bc6e027c7a75e9df35c1ea635/src/vs/workbench/common/editor.ts#L570-L582

Would you be able to dispose the input when the search changes instead of dispos

[2018-08-24 12:52] mjbvz commented on #55530
This issue was moved to Microsoft/TypeScript#26662

[2018-08-24 12:52] #55530 closed

[2018-08-24 12:53] jrieken commented on #57078
Unfortunately not. When VSLS registers a provider, which for JavaScript it does, it wins. It's on our plan to remove this again, tho

[2018-08-24 12:57] mjbvz commented on #55457
Does this still reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-08-24 12:59] mjbvz commented on #55450
Sounds like a duplicate of #54386. Should be fixed in insiders

[2018-08-24 12:59] #55450 closed

[2018-08-24 13:00] mjbvz commented on #55158
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-08-24 13:04] sevenryze commented on #55882
@mjbvz hi, as you said, this feature **does** work for files under paths other than `node_modules`.
I'm curious about how can i set vscode to not ignore `node_modules` segment prefix?

[2018-08-24 13:05] DanTup commented on #55450
Isn't that just supporting disabling commit characters? I want commit characters, just not where they don't make sense or are super-fuzzy 😕

[2018-08-24 13:06] weinand commented on #49039
Here is the node-debug code that converts the log message and its embedded expressions into a single expression that can be evaluated to produce the final string.

[2018-08-24 13:09] wlamason commented on #57028
Hi Joao,

This is Windows 7 Enterprise.
![windows_7](https://user-images.githubusercontent.com/18597725/44585827-95275900-a77b-11e8-8e28-469a3027ae00.PNG)

Screenshot of the error:
![inno_updater_error](https://user-images.githubusercontent.com/18597725/44585845-a3757500-a77b-11e8-94c6-d64f3f5dbddc.PNG)

Running inno_updater.exe produces the same error as pictured above.

By "System Events to find

[2018-08-24 13:10] wthenrichs commented on #56316
I am also experiencing this issue.
I'm exclusively using the Insiders preview.
The issue only appears if I open a new empty window of vs code. If I open a folder, I'm able to compare both saved, and unsaved files.
If it helps the context menu for the windows which have this problem only show 5 options:
Save As...
Close
Close Others
Close Saved [Ctrl+K U]
Close All [Ctrl+K W]

Current Versions:
Ver

[2018-08-24 13:15] V-ed commented on #57140
This is a great idea for an extension, IMO. It's great to see that there's already an extension to manage your clipboard history!

Clipboard History extension : [Anjali.clipboard-history](https://marketplace.visualstudio.com/items?itemName=Anjali.clipboard-history) - found using a simple `vscode clipboard` search in google.

[2018-08-24 13:32] HRK44 commented on #57019
@bpasero I tried some stuff but couldn't manage to successfully update this ZLIB without creating a bunch of system issues, if someone with more advanced skills in Linux would try that'd be great.

[2018-08-24 13:32] mjbvz opened #57151 "Build VS Code using TypeScript 3.0"
Tracks using Typescript 3.0 to build vscode

[2018-08-24 13:33] Dan503 opened #57152 "[Bug] Pug syntax highlighting broken in latest VS Code version"
Issue Type: <b>Bug</b>

I have this pug markup and it isn't being highlighted correctly

[code]

This is how it is being highlighted:

![pug-incorrect-syntax-highlighting](https://user-images.githubusercontent.com/10610368/44587368-115e8280-a7f6-11e8-9d6f-a1e340fa6473.png)

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64

[2018-08-24 13:37] isidorn commented on #56316
@wthenrichs can you please provide a gif, or a picture of what you are exactly doing. Step by step would also help

[2018-08-24 13:45] isidorn commented on #49039
@weinand this seems to do the opposite of what I need. Unless I am mistaken?
So it seems there is no code I could reuse, correct?

[2018-08-24 13:48] joaomoreno commented on #57146
Can you show me a screenshot of that prompt?

[2018-08-24 13:48] joaomoreno commented on #56657
What if you download the ZIP release? Does that work?

[2018-08-24 13:49] joaomoreno commented on #56657
Did you have to, at some point, have to allow Code.exe to access network requests? Does it work if you disable firewall/network blocker tool?

[2018-08-24 13:50] joaomoreno commented on #56399
Well, that version must be installed somewhere in your system. Use a process inspection tool (like Process Hacker) to see where it lives, when the popup dialog appears.

[2018-08-24 13:51] mjbvz commented on #55450
TypeScript users intellisense to enable / disable `,` as a commit character based on what is around the cursor. I believe you should be able to do the same for dart

[2018-08-24 13:52] joaomoreno commented on #56664
So... it seems the git in WSL is configured correctly for authentication. Since VS Code doesn't use WSL's git yet (#9502), you're going to have to configure git outside WSL the exact same way. Try to run `git pull` outside WSL.

[2018-08-24 13:53] joaomoreno commented on #57028
Lots of info here:

- https://stackoverflow.com/questions/10492037/the-application-was-unable-to-start-correctly-0xc000007b
- https://answers.microsoft.com/en-us/windows/forum/windows_10-performance-winpc/windows-10-the-application-was-unable-to-start/0589825b-7821-45e9-9e6c-d2b554bf17dc

Let me know if you find something.

[2018-08-24 14:00] mjbvz commented on #55882
We previously blocked update path edits in node_modules because they are usually not intended. I'm going to remove this `node_modules` check because the original TypeScript bug it was added for should be fixed.

After the vscode fix goes in, you still must configure a [jsconfig](https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson)/[tsconfig](https://code.visua

[2018-08-24 14:03] isidorn commented on #48258
Does not seem like this will happen in the last couple days of the milestone -> september

[2018-08-24 14:06] weinand commented on #49039
@roblourens Could we address the issue on the sending side, where the "%O" is not properly understood?

[2018-08-24 14:06] phifa commented on #56664
I just re-created my ssh keys in my git for Windows and now it seems to work. I guess we can close this. Thanks @joaomoreno

[2018-08-24 14:06] #56664 closed

[2018-08-24 14:18] llHoYall commented on #55620
+
On my mac, the path is the same as windows.
`~/project/package.json` i.e. `/Users/myid/project/package.json`.

[2018-08-24 14:18] andremarcondesteixeira commented on #56583
news?

[2018-08-24 14:31] iRoachie commented on #56501
Sure thing.
[code]

`"@types/react-native": "^0.56.7",`

[2018-08-24 14:32] #54956 closed

[2018-08-24 14:32] wthenrichs commented on #56316
I've attached two gifs.
The first is of a new vscode window that is empty.
The second is a vscode windows which was empty but I opened a folder via File > Open Folder.
The folder is called demo and is an empty folder.

![new_window_no_compare](https://user-images.githubusercontent.com/1435012/44590313-d5d99f00-a788-11e8-8be1-4dd2dadccd25.gif)

![open_folder_compare](https://user-images.githubuserc

[2018-08-24 14:34] macbielecki commented on #56501
Guys... My original issue **was not a ts issue**. This is a vuejs project. I can't test it with all extensions disabled, because when eslint extension is disabled, it's obvious that I get no quick fix options (since everything is ok).
With eslint extension enabled though, I see the red underline and eslint's tooltip with error message:
![image](https://user-images.githubusercontent.com/29729527/44

[2018-08-24 14:37] DanTup commented on #55450
It was actually TypeScript I was thinking about here (though I do want to improve it in Dart too!), I looked at the changeset against that related case (cbcafcc28463156179321a4190c479c92189f43a) and it seemed like it was just supporting being turned off based on a setting.

If you're handling this conditionally, where can I find the code? I was under the impression that we had very limited control

[2018-08-24 14:40] mjbvz commented on #54770
For 2, VS Code targets a commonjs style module system by default. You likely have configured `baseUrl` in the `tsconfig.json` so that absolute imports are resolved relative to the root of the project. Try targeting a different module system if you don't want this behavior:

[code]

[2018-08-24 14:40] #54770 closed

[2018-08-24 14:50] liwangqian opened #57153 "Symbol Completion is not work when edit in the snippet mode."
- VSCode Version: 1.26.1
- OS Version: windows 7 64bit SP1

Show as bellow:
![demo](https://user-images.githubusercontent.com/19996314/44591205-b45fce00-a7ef-11e8-9352-41222cc1e797.gif)

[2018-08-24 14:51] reidca commented on #56399
That does not really answer my question which is how VSCode references the Git Credential Manager - if I know that I can most likely point it at the newly installed version. Finding out where the old version is will not allow me to change which version VSCode uses.

[2018-08-24 14:51] Tyriar commented on #57141
This happens when you _alt_+tab out of the window, the alt state isn't evaluated again when focus returns to the window.

[2018-08-24 14:53] Tyriar commented on #57141
Upstream: https://github.com/xtermjs/xterm.js/issues/1629

[2018-08-24 14:53] ris58h opened #57154 "refactor.extract should respect project's semicolon policy"
I don't use semicolon as line separator in my project. I have `"semi": [2, "never"]` in rules section in my `esling.json`. `refactor.extract.constant` works but adds a redundant semicolon at the end of the extracted line (same for the other `refactor.extract` actions I believe).
I would be great if `refactor.extract` could respect eslint.json rules.

[2018-08-24 14:53] mjbvz commented on #56501
Yes if it is eslint specific you should file this against the eslint extension (or maybe the vue extension). It wasn't clear if the dev tools error was related but it sounds like it is not

@iRoachie Let's move your problem to a new issue

[2018-08-24 14:53] #56501 closed

[2018-08-24 14:55] Tyriar commented on #57139
Tracking in https://github.com/xtermjs/xterm.js/issues/583

[2018-08-24 14:55] #57139 closed

[2018-08-24 14:56] macbielecki commented on #56501
I don't understand why you closed this so quickly. Is the yellow lightbulb related to eslint or vue extension?? Or is it vscode?

[2018-08-24 14:56] mjbvz commented on #55450
No you can't do it dynamically as you type. TS tells us if we are in a new identifier location (such as an parameter name) and we use this to disable commit characters: https://github.com/Microsoft/vscode/blob/cbcafcc28463156179321a4190c479c92189f43a/extensions/typescript-language-features/src/features/completions.ts#L321

[2018-08-24 14:57] Tyriar commented on #57118
Link handling improvements tracked in https://github.com/xtermjs/xterm.js/issues/583

[2018-08-24 14:57] #57118 closed

[2018-08-24 14:58] Tyriar commented on #57128
Duplicate: https://github.com/Microsoft/vscode/issues/56628

This will be fixed in 1.27, you can also use Insiders now https://code.visualstudio.com/insiders/

[2018-08-24 14:58] #57128 closed

[2018-08-24 14:58] mjbvz commented on #56501
The fix/lightbulb comes from eslint or vue. VS Code just the ui for it

[2018-08-24 14:59] macbielecki commented on #56501
OK, thanks. I will revert the vscode version.

[2018-08-24 14:59] mjbvz commented on #57154
Duplicate of https://github.com/Microsoft/TypeScript/issues/18780

[2018-08-24 14:59] #57154 closed

[2018-08-24 15:01] iRoachie opened #57156 "Quick fixes for missing imports not available in typescript files"
References:
https://github.com/Microsoft/vscode/issues/56501#issuecomment-413349992
https://github.com/Microsoft/vscode/issues/56501#issuecomment-415725978

- VSCode Version: 1.26.1
- OS Version: macos High Sierra 10.13.6

Steps to Reproduce:

1. Setup a project with @types/react-native and typescript
2. Write code that requires a missing input

[code]

Does this issue occur when all extensions ar

[2018-08-24 15:01] iRoachie commented on #56501
@kkolstad Moved issue here https://github.com/Microsoft/vscode/issues/57156

[2018-08-24 15:02] jakub-g opened #57157 ""Quick info" and "go to definition" not working inside old school JavaScript constructor functions"
Perhaps related to #55910

- VSCode Version: 1.26.1 stable, 1.27.0 insiders
- OS Version: Win 10
Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:

1. Create JS file with contents like this (this kind of constructions are quite often used in old school mixin-based frameworks)

[code]

2. Hover line 10: `    this.foo()`  call

Expected:
- On hover, quick info with th

[2018-08-24 15:13] mjbvz commented on #57157
This issue was moved to Microsoft/TypeScript#26666

[2018-08-24 15:13] #57157 closed

[2018-08-24 15:15] DanTup commented on #55450
Aha, that makes sense - I'll open an issue to see if we can get something similar back from Dart, thanks!

[2018-08-24 15:16] isidorn commented on #56316
@wthenrichs thanks for the lovely gifs.

@bpasero @jrieken this issue seems to be that `canHandleResource('untitled')` always returns `false`. How should we handle the `untitled` case?
@jrieken this seems to have broken this https://github.com/Microsoft/vscode/commit/76f25881115baabcd1027307cde56664d6c2b534

[2018-08-24 15:18] #52246 closed

[2018-08-24 15:19] ahuertabhg commented on #50140
Integrating tree-sitter would help solve this issue https://github.com/OmniSharp/omnisharp-vscode/issues/2461

[2018-08-24 15:27] V-ed opened #57158 "Git commit message box in SCM view uses native scrollbar"
Issue Type: <b>Bug</b>

Entering a message that is tall enough (e.g. which makes enough lines to trigger the scrollbar) shows the native scrollbar of the OS.

I'm on Windows using a dark theme and the native white scrollbar made me go blind for few minutes.

![vscode-native-scrollbar](https://user-images.githubusercontent.com/16652915/44593117-8c8d4d80-a790-11e8-9d11-cbfe4fcac7e1.png)

Jokes aside

[2018-08-24 15:29] roblourens commented on #50249
@sguillia please open another issue, I don't see an issue with selecting text.

@beastdestroyer The background of the settings page isn't customizable right now, and the colors for the pattern rows should be the same as for other lists.

[2018-08-24 15:33] mjbvz commented on #48474
This sounds like a good use case for TypeScript [project references](https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/#project-references)

Project references should ensure that references are found properly across modules in your workspace

[2018-08-24 15:33] #48474 closed

[2018-08-24 15:34] #46633 closed

[2018-08-24 15:35] V-ed commented on #57153
This is intentionnal. Usually, pressing tab accepts the selected code completion (unless configurated otherwise), and this would make a conflict when entering a snippet, because tab is then used to go to the next cursor position defined by the snippet.

You can always press Ctrl+Space to trigger the code completion manually while in "snippet"mode.

![vscode-completion-snippet](https://user-images.

[2018-08-24 15:37] remy commented on #56879
I think I since manually updated (I'm on Version 1.26.1 (1.26.1)), but running that command ("Open Logs Folder") literally does nothing. The command palette is dismissed, but nothing has happened…

[2018-08-24 15:38] HRK44 commented on #57019
I just re-installed VS Code via ``apt`` and removed it from ``snap`` (actually I completely removed ``snap``...) and now it works correctly.

[2018-08-24 15:45] Tyriar commented on #57019
@HRK44 thanks!

FYI @flexiondotorg

[2018-08-24 15:45] mjbvz commented on #50757
This issue was moved to Microsoft/TypeScript#26667

[2018-08-24 15:45] #50757 closed

[2018-08-24 15:48] Tyriar commented on #5458
I reopened issues related to snap package and labelled them here: https://github.com/Microsoft/vscode/labels/install-update-snap

[2018-08-24 15:53] #56316 closed

[2018-08-24 15:55] astanciu opened #57159 "Occurrence instance color"
Let's say you have this code:
[code]

you click somewhere on the first `user`, click CMD+D to select the first one, CMD+D and CMD+K to skip the second, then CMD+D to select the third. You end up with this:

![image](https://user-images.githubusercontent.com/1675025/44594516-69649d00-a794-11e8-93f0-bb72f27b4221.png)

As you can tell, other than the (blinking) cursor, there's no way to tell which ar

[2018-08-24 16:02] PikeUK opened #57160 "Tools and languages button on Welcome screen finds 0 extensions"
Issue Type: <b>Bug</b>

STR:
1. Click the _Tools and languages_ section on the Welcome screen (or the _more_ link inside the section).

Expected:
The extension manager opens showing a list of tools and languages.

Actual:
The extension manager opens but shows _No extensions found._

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Window

[2018-08-24 16:10] wilrodriguez commented on #14836
This is actually one of the things keeping me using sublime text. Would really like to see this get implemented in VS Code

[2018-08-24 16:13] jnials commented on #51744
I am seeing similar behavior, but since I am running KDE I get a KIO Client browser asking for an app to run the file, but since the file has no extension it cannot populate a potential client list.

[2018-08-24 16:14] cdarwin commented on #36769
For the time being I am working around this by adding a prefix to my task command which essentially sources the `.env` file used by `launch.json`.

[2018-08-24 16:19] tomergev commented on #54634
This is a horrible bug and very frustrating!

[2018-08-24 16:19] Tyriar commented on #55079
The API still works for me just fine, my guess is that you didn't have proposed APIs enabled as you were testing on 1.25.1 and it only became stable in 1.26. Give it another try on latest and let me know how it goes.

[2018-08-24 16:19] #55079 closed

[2018-08-24 16:25] Tyriar commented on #53274
Duplicate https://github.com/Microsoft/vscode/issues/56628

[2018-08-24 16:25] #53274 closed

[2018-08-24 16:34] infctr opened #57162 "[feature] Surround text with angle brackets, expand select to angle brackets boundaries"
So we've got this nice surround text with special characters feature that includes `(), [], '', ""` and surrounds the selected text with corresponding characters just by pressing `(`, `[`, `'`, `"` key.

But there's no option to surround text with angle brackets that are used in Typescript generics for example. I've searched opened and closed issues, [that's the only one related so far](https://gi

[2018-08-24 16:35] roblourens commented on #49039
Ignore that PR, it doesn't handle objects. But you have all the pieces there on the front end. You just need to parse the %O parameter and if the arg is an object, write it to the repl as an object. I can update the PR to handle objects if it isn't clearr

[2018-08-24 16:38] roblourens opened #57163 "EH console should not resolve format arguments in log args besides the first"
- In an extension, run `console.log('%s', '%s', '%s');`
- It prints `%s`
- In Chrome, it prints `%s %s`

This is because only the %s in the first argument should be resolved, but vscode resolves format args in every argument.

[2018-08-24 16:39] Bas-vanHarten commented on #10759
This should be a no-brainer if not only to show how easy it is to add a Win32 Electron app to the Microsoft Store....

[2018-08-24 16:40] roblourens commented on #49039
Noticed another (very minor) issue: https://github.com/Microsoft/vscode/issues/57163

The code in vscode-chrome-debug-core for parsing format args is pretty complete if you want inspiration. Or I could try to spin it off into something that could be shared: https://github.com/Microsoft/vscode-chrome-debug-core/blob/master/src/chrome/consoleHelper.ts#L76

[2018-08-24 16:42] wlamason commented on #57028
I went through the links you provided and did the following:

1. Ensured Microsoft Visual C++ was available in 32 and 64 bit versions.
1. Restarted computer.
1. Ensured .NET Framework is available on system. (.NET Framework 4.6.1 installed)
1. Ran the application as an administrator, and ran inno_updater.exe as an administrator.

None of the above proved fruitful. The dependency walk is displaying

[2018-08-24 16:45] roblourens commented on #34711
I think we should put this in the first week of September so it has plenty of time in Insiders, unless anyone has any objection.

[2018-08-24 16:47] monsterxxx commented on #24344
+1

[2018-08-24 16:56] dericgw opened #57164 "Import action stopped working with 1.26 update"
- VSCode Version: 1.26.1
- OS Version: OSX 10.13.6

Before upgrading to the latest version of VSCode, I could place the cursor on the line of a class/component/function that needed to be imported and when I pressed the quickfix keyboard shortcut, the contextual menu would have an item to import the missing module. This no longer happens.

![screen recording 2018-08-24 at 11 49 am](https://user-ima

[2018-08-24 16:57] misolori commented on #57136
The `list.focusBackground` color was updated to meet the color contrast ratio for when text is highlighted in the list:

![image](https://user-images.githubusercontent.com/35271042/44597038-31089300-a783-11e8-8956-b641437af756.png)

It also appears that the menu selection is using `list.activeSelectionBackground`, which is typically used when needing to show both active selection and focus in a li

[2018-08-24 17:01] BBaysinger commented on #23931
+1

[2018-08-24 17:42] cleidigh commented on #52390
I am doing a lot of CCing since various issues involve various people but they're all related:

@isidorn
@joaomoreno
@bpasero
@roblourens
I'm going to make an overall issue for this.  I have been doing a lot of playing around working on the setting side .  It has revealed several similar issues.  I also found a great resource that includes some important information that the official specs are sli

[2018-08-24 17:50] nedludd opened #57166 "Integrated Console blocks for 10 seconds on startup"
Issue Type: <b>Bug</b>

Open a PS1 script and the interface blocks for up to 10 seconds while the Powershell Integrated Console opens.

Is there an option to turn off initial loading of the console?

VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2018-08-24 17:52] JacksonKearl opened #57167 ""Add" button in exclude control doesnt trigger add"
1. Click `Add Pattern`
1. Type something
1. Click `Add` (Bug: nothing happens)
1. Click `Cancel`, now it adds.

[2018-08-24 17:52] #57090 closed

[2018-08-24 18:39] wandyezj opened #57168 "VS Code can not launch a non administrator instance when one is already launched as administrator."
This seems unreasonable. VS Code is an editor why should it matter what privilege level other instances are running as?

Why can't I have administrator for the projects that need it and normal for projects that don't at the same time?

The Error message:

[Window Title]
Visual Studio Code

[Main Instruction]
A second instance of Code is already running as administrator.

[Content]
Please close the

[2018-08-24 18:51] borekb commented on #45693
@Tyriar how did the initial exploration go, if there was time for any? ConPTY sounds _great_ in theory although I'm not sure that my high hopes of replacing winpty entirely are real :)

[2018-08-24 19:01] williambrandino commented on #57040
Sorry about that.
If I active ctrl+p AND Arrow, open a new tab.

I'm closing this.

[2018-08-24 19:01] #57040 closed

[2018-08-24 19:25] Daijobou opened #57169 ""Search in files" multiple times"
I like the search-icon in left side. Its fast access.
![grafik](https://user-images.githubusercontent.com/260343/44603212-4b258e00-a7e2-11e8-8c14-9e68dfaf7d46.png)

I wish when a "search in files" is filled up, its possible to add a second (or more) "search in files" without overriding recent search. I must search for a keyword A and get a long list of files to check. Now i detect I need more info

[2018-08-24 19:30] thetrompf commented on #20112
I think, if you want to go that way, we need two special characters, one for start of line, and one for unindent one. Both are useful in different contexts. In my particular example I need, start of line in order to support heredoc.

[2018-08-24 19:45] ojassvi commented on #57072
Yeah, I am also facing this issue.

[2018-08-24 19:52] ijash commented on #55875
i found the bug was happened on flatpak in linux mint 19 repository.
for the solution i was installing the official .deb app.
the bug fixed.

[2018-08-24 19:52] alanrgan commented on #57105
@bpasero My workspace settings look like this:

[code]

But in the duplicated window, the workspace settings are empty:

[code]

[2018-08-24 20:07] carstenhag commented on #57125
Could you explain what this does? coming here from the referenced issue, but I have no clue what this would look like

[2018-08-24 20:19] n3rd4i opened #57170 "Git repo in %appdata%\..\Roaming\code\user appear in project SCM"
Issue Type: <b>Bug</b>

If one is creating a git repo in `%appdata%\..\Roaming\code\user` which adds VSCode settings to version control and subsequent also creates some updates on that repo, like changing settings, this is reflected as project SCM changes.
This is not expected since the project SCM should only care about project related repo (if exists).

VS Code version: Code 1.26.1 (493869ee8e8a

[2018-08-24 20:50] carstenhag commented on #43794
Being able to define all mouse clicks would be nice. Especially for something like https://github.com/James-Yu/LaTeX-Workshop/issues/716

[2018-08-24 20:54] carstenhag opened #57171 "Allow key bindings to be combined with mouse events (left, middle, right click)"
Basically, I want to press/click the combination of `Command + Left Click` in my source code (LaTeX) to run an extension command.

Everything of that works, apart from the `Command + Left Click`.

https://github.com/James-Yu/LaTeX-Workshop/issues/716
Partly related, but just about middle clicks: https://github.com/Microsoft/vscode/issues/43794

[2018-08-24 21:18] misolori commented on #56445
@sbatten I can create an svg icon to test with the submenu

[2018-08-24 21:20] #54738 closed

[2018-08-24 21:28] sbatten commented on #56445
@misolori awesome, you can assign this back to me when we have an svg, thanks

[2018-08-24 21:30] Tyriar commented on #45693
@borekb it's in progress (https://github.com/Microsoft/node-pty/issues/216), I put it on hold as we're almost testing the August build and it won't make it. It's basically working but I can't stick it in VS Code yet as I'm having build problems when compiling against VS Code's version of node. Hopefully will something we can play around with soon 😃

[2018-08-24 21:31] sbatten commented on #55347
I'm moving this out of august since we shouldn't enable the dynamic menus until we have a proper fix for this.

[2018-08-24 21:38] roblourens commented on #57169
https://github.com/Microsoft/vscode/issues/16488

[2018-08-24 21:38] #57169 closed

[2018-08-24 21:44] Tyriar commented on #57166
You should update VS Code, 1.26.1 is the latest. If you still see an issue you can report it against https://github.com/PowerShell/vscode-powershell

[2018-08-24 21:44] #57166 closed

[2018-08-24 21:45] sbatten commented on #52531
Less of an issue now that the context menu math has been updated

[2018-08-24 21:47] JacksonKearl opened #57172 "Cannot edit or delete the when condition of an exclude control"
1. have an exclude control with a when condition registered in settings.json
1. try to modify or delete the condition
1. bug: the entire property gets deleted

[2018-08-24 21:50] Tyriar opened #57173 "Line underline in terminal should be the same color as link"
https://github.com/xtermjs/xterm.js/issues/957

[2018-08-24 22:00] cleidigh opened #57174 "Settings: Gear icon can appear and disappear on multiple elements"
When navigating the new settings with both mouse and keyboard the icons to the side of the element
for selecting can randomly appear or sometimes go away.
No exact reproduction method, usually a mix of tabs and mouse focus will show the problem.

![image](https://user-images.githubusercontent.com/25272315/44609834-50c1aa80-a7c7-11e8-830d-b18080c6561e.png)

[2018-08-24 22:06] roblourens commented on #57174
If you focus one setting and hover another, it will appear in both places. That's by design. Is that what you're seeing?

[2018-08-24 22:11] cleidigh commented on #57174
I just played with it again and I guess that's what I was doing.
As you describe it , it's okay.

Question: how do I get this with the keyboard, it's not a tab stop?

[2018-08-24 22:16] roblourens commented on #57174
There's a keyboard shortcut, shift+f9. I decided that making it a tab stop would be a lot of tabbing so hopefully that's enough.

[2018-08-24 22:35] Bycharo opened #57175 "Quick edit feature like the ones in Brackets and Adobe Dreamweaver"
I think it would be better to have this good features in vs code to make it even pleasurable to work with this code editor.

[2018-08-24 22:40] lovettchris opened #57176 "Love to have a "save as pdf" option in the markdown preview"
Sometimes you need to share a snapshot of a markdown page with the team and it is most convenient to email a PDF in that case.  So it would be great if I could just do "save as pdf" on that preview window.

[2018-08-24 22:46] GeraldNDA opened #57177 "Multi-cursor usability"
When you have a single cursor, then move it out of viewable area makes the screen scroll in order to bring it into focus.

If you have multiple cursors, this functionality is turned off (understandably). However, it's really annoying when you have 3 or 4 cursors and all of a sudden you can see any of them. I have two suggestions that could potentially improve usability of multi-cursor:

1. A curso

[2018-08-24 22:48] GeraldNDA commented on #57177
#6995 is a duplicate of (2).

[2018-08-24 22:53] texastoland opened #57178 "npm Script Explorer shows no scripts with tasks.json"
- VSCode Version: 1.27.0-Insider
- OS Version: MacOS 10.13.6

Steps to Reproduce:

1. Open empty folder.
2. Enable npm Script Explorer.
3. Add minimal `package.json` with `scripts` e.g.
[code]
4. Refresh Script Explorer.
5. Add minimal `tasks.json` e.g.
[code]
6. Refresh Script Explorer.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-08-24 22:56] ThadHouse opened #57179 "Don't display system wide warning message for portable installations"
I have a setup that is using a portable installation of VS Code, at the same time as having a local user level install. When I open the portable installation, I get a message box saying I am running a system-wide installtion of Code while also having a user-wide distribution. This error likely shouldn't be popped up when using portable mode, as well as it should say the correct message (portable m

[2018-08-24 22:57] JacksonKearl opened #57180 "Cannot read property "focus" of null error when editing exclude widget"
This only happens occasionally, and I've only seen it when editing excludes with when clauses. But the relevant line is: https://github.com/Microsoft/vscode/blob/568d99275d8eabab3df5ab2f9c0ae92f2714a801/src/vs/workbench/parts/preferences/browser/settingsWidgets.ts#L461 , where `patternInput` is `null`. I really have no clue how this would happen, given we only ever assign to it from the constructo

[2018-08-24 23:04] JacksonKearl commented on #57180
Ah, my bad. I missed that this is actually coming from the `inputBox`'s focus call, where it delegates to `this.input`, which is coming out as `null`.

[2018-08-24 23:05] JacksonKearl commented on #57180
Still dont know why it's input is null though

[2018-08-24 23:07] david19940403 opened #57181 "Ejecutable se elimino luego de actualizacion"
Issue Type: <b>Bug</b>

Di click en la opcion emergente.
El equipo esta en una red active directory asi que no tengo permisos de administrador.
el administrador me permitio esta instalacion.
inicie instalacion.
el programa se reinicio para aplicarla.
no volvio a iniciar
y el ejecutable se habia borrado

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434

[2018-08-24 23:23] satokaz opened #57183 "Insiders: Hangs up when performing a specific operation with markdown mode"
Issue Type: <b>Bug</b>

Hangs up when performing a specific operation with markdown mode.
VS Code version: Code - Insiders 1.27.0-insider (346018a, 2018-08-24T05:12:36.061Z)

Steps to Reproduce:

1. Open markdown mode editor.
Prepare the following markdown text:

[code]

2.  Bring the cursor between ']' and 'h'. Then enter '('.

<img width="1069" alt="_2018-08-25_8_10_06" src="https://user-images.

[2018-08-24 23:45] IlyaBiryukov commented on #57032
@jrieken What would you say about allowing `FileSystemProvider#onDidChangeFile` work with `WorkspaceEdit`?
Then, instead of calling `vscode.workspace.applyEdit`, we'll make our file system provider raise `onDidChangeFile` with an instance of `WorkspaceEdit`, and you would apply it.
Will this design work for you?

cc @srivatsn, @grork

[2018-08-25 00:19] ThadHouse opened #57185 "Portable mode does not allow running command line commands."
Using portable 1.26.1, I am attempting to run `Code.exe --list-extensions`. Instead of listing the installed extensions, VS Code opens, and the list is never printed. The same issue occurs with any non opening command, I was able to reproduce with both `--version` and `--install-extension`, along with `--list-extensions`

[2018-08-25 00:42] roblourens opened #57186 "Implement previewOptions for TextSearchProvider extension API"
The VS Code search view, and the findTextInFiles API, should be able to request the small portion of the search preview that it is able to display.

[code]

[2018-08-25 00:49] liwangqian commented on #57153
@V-ed But, if we can trigger the completion by Ctrl+Space, why not automatically? Completion is triggered when we edit, and if there is a complition list show, enter the TAB is expect to select the completion item, otherwise go to the next cursor position defined by the snippet.

[2018-08-25 00:51] mgabeler-lee-6rs commented on #38878
Correction: March 7, 2016: https://github.com/Microsoft/vscode/issues/3764

Exacerbated by the fact that that issue was closed based on the implementation of a feature that did not make any attempt to address the issue as reported.

[2018-08-25 00:59] arsnl opened #57187 "@ts-nocheck seems to be ignored on TS file"
- VSCode Version: 1.26.1
- OS Version: macOS High Sierra 10.13.6
- TypeScript: 3.0.1

**Steps to Reproduce**

1. Add `// @ts-nocheck` at the start of any TypeScript file
2. Try to trigger any TS check error

**Result**

VS Code display TS error

![error](https://user-images.githubusercontent.com/763489/44613360-6a232080-a7e0-11e8-8f0d-58cd47d28cfc.jpg)

**Expected**

VS Code should not display TS

[2018-08-25 01:14] liwangqian opened #57188 "Add `files.newFileEncoding` configuration for the encoding of a new create file"
Currently, the `files.encoding` configuration affects all files, this is not suitable when a project has many type of file encodings for history reasons, is it possible to add a `files.newFileEncoding` for the new create file encoding while keep the old file's encoding auto guess.

[2018-08-25 01:42] pro-panda commented on #50928
@bpasero, any updates on this one ?

[2018-08-25 03:23] robtarr opened #57189 "Broken symlinks not showing in tree view"
Issue Type: <b>Bug</b>

If the target of a symlink is missing, the symlink is not shown in the tree view. However, the symlink still exists, it's simply broken. The tree view should still show the symlink since it exists in the directory.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:20:44.170Z)
OS version: Darwin x64 17.7.0

<img width="785" alt="screen sh

[2018-08-25 03:38] #31551 closed

[2018-08-25 03:38] #57186 closed

[2018-08-25 04:38] realivanjx opened #57190 "Javascript Multiline String Hide (or Collapse)"
Hi,

I would like if VS Code is able to collapse multiline strings. It doesn't have plus or minus sign to do so. Please note that I use ` instead of ' for multi line strings:

![screenshot_37](https://user-images.githubusercontent.com/12814796/44615088-24f00480-a85b-11e8-83ef-1a1ff42abe8b.png)

Thanks

[2018-08-25 04:47] SheepDomination commented on #56872
StackOverflow community was unable to find a solution to this question ?

[2018-08-25 05:03] ykpengba opened #57191 "Debugger Configuration Launch.json unable to setup/not responding"
- VSCode Version: Version 1.26.1
- OS Version: MacOS High Sierra 10.13.4

Steps to Reproduce:

1. Delete Launch.json file
2. Press the white gear button

Have disabled all of the extension. Tried pressing the white gear, reinstalling the visual studio code, and run both add configuration and the open configuration, and no actions or errors message shows up after. There is also no launch.json under

[2018-08-25 05:11] hangxingliu commented on #47576
I upgrade to 1.26.1 now. It seems been fixed

[2018-08-25 05:11] #47576 closed

[2018-08-25 05:40] LOGANLEEE commented on #57026
i pressed enter for breaking line but every single time that suggestion coming up after turned it off.
i want to turn off that suggestion function while keeping normal suggestion function

[2018-08-25 05:43] LOGANLEEE commented on #57026
i fixed problem that was the snippet suggestion function automatically turned on after updating VSCODE wether i want it or not

[2018-08-25 06:31] bpasero commented on #57105
@alanrgan thanks I can reproduce

@sandy081 there is a check to not include settings of scope `ConfigurationScope.RESOURCE` when copying over to the workspace file. Do you have any clue why we did that? Seems to be there for a long time:

https://github.com/Microsoft/vscode/blob/02420dbede10d10a5020bd5228a0244fb82fba21/src/vs/workbench/services/workspace/node/workspaceEditingService.ts#L253

Maybe

[2018-08-25 07:09] markwilson commented on #56217
Why is this marked as “needs more info” and now automatically closed? I’ve detailed and given a sample project.

[2018-08-25 07:16] LunarTwilight opened #57193 "VSC Insiders always thinks that this is my first start"
- VSCode Version: 1.27.0-insider (Commit: 346018a80dd299c50cbf213e0a706ef0f35f3a67)
- OS Version: Windows 10

Steps to Reproduce:
1. Open the program
2. Watch

Does this issue occur when all extensions are disabled?: Yes

(some things are kept, like settings.json and my extensions/themes, but other things are not, like the recent folders/files and activity sidebar popup width)

[2018-08-25 07:21] sspathare97 opened #57194 "Incorrect sidebar labels in 'Interface overview'"
On 'Welcome' page (Help -> Welcome), under 'Learn', in 'Interface overview', the sidebar button labels are shown in default order (Files, Search, VCS, Debug, Extensions). However, the sidebar buttons can be rearranged by drag and drop. Even after rearranging, the labels in interface overview remain in same default order.

- VSCode Version: 1.26.1
- OS Version: Windows 10 Enterprise

Steps to Repro

[2018-08-25 08:14] azydevelopment commented on #31301
This still happens btw when I'm doing my PowerShell development.....I have to keep restarting all of VSCode because my debugging sessions won't end properly.

[2018-08-25 08:20] STLGirlfriend opened #57195 "Something wrong in terminal while using MSYS 2 with zsh."
- VSCode Version: 1.26.1
- OS Version: Microsoft Windows 10.0.17134.228

Steps to Reproduce:

1. Launch VSCode's terminal.
2. Use MSYS 2 with zsh and oh-my-zsh.
3. Set zsh's theme "robbyrussell".
3. Type something.

Does this issue occur when all extensions are disabled?: Yes/No

In VSCode's terminal, I use MSYS 2 with zsh (oh-my-zsh theme is robbyrussell).

While using, my cursor is not always in

[2018-08-25 08:45] tehapo commented on #43137
The input lag I was experiencing seems to be almost gone after I installed some updates. I'm currently running macOS High Sierra 10.13.6 + VS Code 1.26.1 and there is still a small lag, but it's way less noticeable than before.

[2018-08-25 09:23] bpasero opened #57196 "Builder removal"
Goal is to remove `vs/base/browser/builder` from our sources and replace it with helper functions from our `vs/base/browser/dom` utility methods. Reasons:
* we can remove 1500 lines of code
* `Builder` has a very questionable stateful behaviour that results in very complicated code that is hard to understand (callback hell, `clone()` method to reset state)
* `Builder` hides the fact that there are

[2018-08-25 09:35] RichieAHB commented on #56888
Will do thanks :+1

[2018-08-25 09:35] stanvarlamov commented on #56260
"Make sure you're running the Code version you expect" is totally void, if not misleading. Why don't just say "uninstall one of the versions" or put a link to the explanation that someone put together when releasing this feature (as pointed out above)? Unless MS is promoting Google search that leads to this GitHub issue ...

[2018-08-25 09:51] saravanaj commented on #36295
No. Can't reproduce it with 1.26.

[2018-08-25 09:51] #36295 closed

[2018-08-25 09:58] sergeche commented on #54711
Actually, inserting URLs and e-mails into `<a>` tag is already supported: https://github.com/emmetio/html-transform/blob/master/lib/repeater-content.js#L182

I think there’s issue somewhere in VSCode plugin

[2018-08-25 10:07] Daijobou commented on #57169
@roblourens
That is not the same request? #16488 want mutliple search patterns for a single search result. SO I understood. I want mutliple independent searches. Each search-formular with a own list of results.

[2018-08-25 10:09] sergeche commented on #54711
`repeater-content.js` is a good place to add more patterns for special cases of wrapped content.

Also, you can check out [codemirror-plugin](https://github.com/emmetio/codemirror-plugin) which has most recent features support and currently used in codepen.io project. It also contains most recent experiments and ideas for customization and React

[2018-08-25 10:12] Daijobou commented on #16488
I'm not sure what this feature means. Is this a single search with more search patterns and result is a **single list of results** or is the result that each search pattern have a own independent list of results and I can switch between this list of results?