[2019-10-10 15:20] alexr00 commented on #82076
Debug checks for "active" tasks before running. The watch task is running, which means it's active. Debug sees this and goes, even if the watch task is currently busy recompiling.

@isidorn I can add more info to what is returned by `getActiveTasks` so that you know that the task is currently busy and you should wait for an inactive task event on it (meaning that it is no longer busy. The term act

[2019-10-10 15:28] joaomoreno commented on #82096
@SergioRius you mention that the project isn't in any source control, but the git log shows that there is a git repository in `/home/sergio/iot-dashboard`. That still doesn't explain why your files are gone, though. But I'm confused why you would mention that the files aren't in source control.

[2019-10-10 15:32] alexr00 commented on #81768
The work needed to propagate an undefined exit code (signalling terminal terminated) through to debug is done. @isidorn over to you to handle the undefined exit code and prevent the launch from proceeding!

[2019-10-10 15:33] isidorn commented on #82076
@alexr00 adding more info so we cover this case makes sense.
Also all the debug interactions with task is done in [this method](https://github.com/Microsoft/vscode/blob/7e57821af24dc167b910bda38d5e14ceb7bbb0b4/src/vs/workbench/contrib/debug/browser/debugService.ts#L753) feel free to modify it as you think is best (as you have already done with the PR). Thanks!

[2019-10-10 15:34] isidorn commented on #81768
@alexr00 oki doki

[2019-10-10 15:36] mayeths commented on #82218
I meet similar error. vscode go to blank when I open folder in remote wsl(but everything is ok in windows)
![ok](https://user-images.githubusercontent.com/37110574/66583740-7752c880-ebb6-11e9-97de-b6a89123a0b6.png)
![crash](https://user-images.githubusercontent.com/37110574/66583739-76ba3200-ebb6-11e9-9899-7bb796ca55f5.png)

[2019-10-10 15:36] roblourens commented on #65334
The only answer I have is that it feels more annoying when this happen in the find widget, because it will expand into the editor view, while the search viewlet is off to the side. But I'm not sure, could you open a new issue to discuss it?

[2019-10-10 15:38] austincondiff commented on #74488
Is it though? I am referring to the navigation icons to the left #79130 is talking about the expand/collapse icons.

[2019-10-10 15:39] bprosnitz commented on #35901
Setting font size to 13.9 (from the default of 14) fixed underscores for me.

[2019-10-10 15:39] isidorn commented on #82218
@mayeths that seems like an unrelated issue, please open a new one (unless you see the same exception in your debug console which I doubt is the case)
fyi @aeschli

[2019-10-10 15:40] pookdeveloper commented on #80804
I have the version September 2019 (version 1.39), and works fine :)

[2019-10-10 15:42] Tyriar commented on #81497
@engmagdy87 I see `font-family: mMesloLGLpace`, is that what you set `terminal.integrated.fontFamily` to?

[2019-10-10 15:44] mayeths commented on #82218
my mistake :)

[2019-10-10 15:45] Tyriar commented on #42661
There isn't really a concept of "top-level folder" as all folders are on the same level. There is the active workspace command mentioned in https://github.com/Microsoft/vscode/issues/42661#issuecomment-539590372 which you can set a custom keybinding to if you prefer that, this will open it in the workspace of the last file you opened. This used to be the default behavior but it changes to the quic

[2019-10-10 15:46] Tyriar commented on #82228
I've never seen this before, ^C should only happen when you hit ctrl+c while the terminal is focused.

[2019-10-10 15:46] #82228 closed

[2019-10-10 15:48] #82220 closed

[2019-10-10 15:49] Tyriar commented on #81537
@ArvinH the `KeyboardEvent` never makes it there as the terminal prevents it from propagating upwards as it's already been handled by sending it to the terminal process.

As for how to expose the event on the terminal, you likely want to expose it on `ITerminalService`:

https://github.com/microsoft/vscode/blob/7e57821af24dc167b910bda38d5e14ceb7bbb0b4/src/vs/workbench/contrib/terminal/browser/term

[2019-10-10 15:50] joaomoreno opened #82257 "SCM: SVN extension decorations are misaligned"
![image](https://user-images.githubusercontent.com/22350/66584997-5c686000-eb86-11e9-97a6-99d3873c0213.png)

Here's stable, as a reference:

![image](https://user-images.githubusercontent.com/22350/66585017-65593180-eb86-11e9-9504-44c4d146883b.png)

[2019-10-10 15:51] bpasero commented on #979
The upstream issue has been closed as wontfix. That means, same here, sorry.

[2019-10-10 15:51] #979 closed

[2019-10-10 15:51] #33303 closed

[2019-10-10 15:52] #35240 closed

[2019-10-10 15:52] bpasero commented on #39801
We are building exploration builds that use a much newer version of our UI framework (Electron version 6.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/

[2019-10-10 15:52] bpasero commented on #41345
We are building exploration builds that use a much newer version of our UI framework (Electron version 6.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/

[2019-10-10 15:53] pedrogarcia commented on #82134
@jrieken

This is what shows up:
![image](https://user-images.githubusercontent.com/2473545/66585192-c8ce6980-eb5c-11e9-911e-68c106c935f6.png)
I Don't understand how this is relevant to determine the issue. Have you tried reproducing it?

[2019-10-10 15:54] Tyriar commented on #46696
@DanTup the setting stands on its own without extensions, and all it does it change things in the terminal so it must live in the terminal namespace. It just happens to also help solve problems for extensions. If it was used by another component inside vscode core then it would make sense to change the namespace to something more generic.

[2019-10-10 15:56] chriskuech commented on #61519
macOS now supports automatic switching between dark theme and light theme depending on the time of day.  This seems like the perfect time to start respecting the system theme.

[2019-10-10 15:56] bpasero commented on #26048
You mean our call to [`getShellEnvironment()`](https://github.com/microsoft/vscode/blob/db3dd377f0eeb361ba7d6a5f9b19e0e833b081d3/src/vs/code/node/shellEnv.ts#L93)?

[2019-10-10 15:57] Tyriar commented on #82221
This is just a consequence of how pty-based terminals work

[2019-10-10 15:57] #82221 closed

[2019-10-10 15:58] BartolomeSintes opened #82258 "VSCode 1.39 Regression: regexp expression in snippet does not work"
A snippet that worked OK in VSCode 1.38 does not work anymore after updating to VSCode 1.39.
Tested in
- VSCode Version: 1.39 (user) or 1.40.0-insider (user)
- OS Version: Windows 10 19.03 x64

Steps to Reproduce:
1. Install this extension that contains three snippets and keybindings: https://marketplace.visualstudio.com/items?itemName=BartolomeSintes.mclibre-org-snippets
2. Create a .php file in

[2019-10-10 15:58] pedrogarcia commented on #33720
This is the same issue as #64931 which was closed because the bug is "upsteam".

The message is very clear: VS Code is the only text editor where text editing bugs are not a priority.

[2019-10-10 16:01] roblourens commented on #82180
Windows is inserting a `�` and breaking our parsing logic...

[2019-10-10 16:05] Tyriar commented on #82215
Which chinese input are you using?

[2019-10-10 16:05] lig commented on #53650
@sbatten could you please elaborate on this issue beeing closed?

[2019-10-10 16:05] LukeCarrier commented on #41345
@bpasero there are two upstream bugs which are blocking this:

* https://github.com/electron/electron/issues/10915
* https://bugs.chromium.org/p/chromium/issues/detail?id=578890

Until both of these are closed none of the updated Electron builds will solve the blurriness under Wayland as they'll be running via XWayland which has no means of knowing the DPI of the display it's on. At the moment the

[2019-10-10 16:05] rasq commented on #81548
I've done tests using stable and exploration version.
Both of version works simmilar. But i've noticed one think: if i dont run chrome, slack or other chrominium (electron) based software i can run VSCode once, secound one will crash like before.

[logs.zip](https://github.com/microsoft/vscode/files/3713509/logs.zip)

[2019-10-10 16:05] mayeths opened #82259 "blank screen occured when opening folder in WSL"
Everything is ok before today. Then vscode go to blank if I try to open any folder in wsl after update. (it still works well in windows)

- VSCode Version: 1.39.0 (auto update today)
- OS Version: Windows 10 Version 1903

I have tryied to disable all extensions in wsl and windows manually (except remote-wsl extension), but it's still not working.

Can anyone tell me how to find out what's wrong?

[2019-10-10 16:06] Tyriar commented on #26048
@bpasero not sure if that's to blame but it does fetch the environment. I've never reproduced this problem but `%VARS%` are popping up in `process.env` for some users when they are meant to be resolved when we fetch the env.

[2019-10-10 16:07] #46242 closed

[2019-10-10 16:08] #30495 closed

[2019-10-10 16:09] #82166 closed

[2019-10-10 16:09] #56333 closed

[2019-10-10 16:09] GWIian opened #82260 "请求增加控制扩展插件启用禁用的配置文件"
总体来说vscode非常棒，希望能加入一个新的特性：对于扩展插件，可以在.vscode文件夹下有专门配置文件以针对项目本身控制需要启用哪些插件。不在列表中的插件自动在工作区禁用，在列表中的自动启用，未安装的插件还能自动安装。我认为这样会非常的cool，以保证所启用的插件都是该项目需要的。

[2019-10-10 16:09] #69164 closed

[2019-10-10 16:10] misolori commented on #74488
@austincondiff it's titled "Allow configuration of product icons" so any issues asking to provide custom icons are being pointed there. If you also read the comments people are asking for the same thing.

[2019-10-10 16:10] #77602 closed

[2019-10-10 16:11] #44722 closed

[2019-10-10 16:11] #28111 closed

[2019-10-10 16:11] #75658 closed

[2019-10-10 16:11] #69823 closed

[2019-10-10 16:12] #80664 closed

[2019-10-10 16:12] Kiolali commented on #82241
The error only appears by navigating via the marked menu in the screenshot (and **not** the bug icon on the left and then "Add configuration..." in the appearing dropdown menu):
![vscode_error1](https://user-images.githubusercontent.com/16179562/66586194-8458c300-eb88-11e9-9756-6bbd4d14e1b8.png)

error message:
![vscode_error2](https://user-images.githubusercontent.com/16179562/66586224-8c186780-e

[2019-10-10 16:13] jonfen opened #82261 "Failing to retrieve Python Language Server with latest update."
![image](https://user-images.githubusercontent.com/56961/66587511-c7df0d00-eb47-11e9-840f-27a91d214b3c.png)

**Output:**
[code]

[2019-10-10 16:16] joaomoreno commented on #26048
`getShellEnvironment()` is a [noop](https://github.com/microsoft/vscode/blob/db3dd377f0eeb361ba7d6a5f9b19e0e833b081d3/src/vs/code/node/shellEnv.ts#L99) in Windows, it's only for Linux/macOS.

I believe this is a Windows issue: https://stackoverflow.com/questions/25324354/windows-batch-files-what-is-variable-expansion-and-what-does-enabledelayedexpa Not sure each process is responsible to compute t

[2019-10-10 16:17] cmeyertons commented on #73138
Will I have a decent shot of getting this done if I submit a PR?

Don’t want to get to that effort if it never gets accepted....

[2019-10-10 16:18] eyalroth commented on #75426
@alexandrudima This really doesn't seem to be as designed but rather a clear oversight, and for multiple reasons:
1. It's a copy action -- _not_ a move action -- and the normal copy+paste action doesn't move any breakpoints around. Even cutting a line doesn't move the breakpoint.
2. The are more bugs produces by this behavior; for instance, after completing the reproduction steps  described in thi

[2019-10-10 16:18] #18259 closed

[2019-10-10 16:18] #57458 closed

[2019-10-10 16:19] #48422 closed

[2019-10-10 16:19] #43338 closed

[2019-10-10 16:19] #67239 closed

[2019-10-10 16:19] #48285 closed

[2019-10-10 16:19] #49853 closed

[2019-10-10 16:22] #29039 closed

[2019-10-10 16:22] #28177 closed

[2019-10-10 16:23] #25458 closed

[2019-10-10 16:23] #71278 closed

[2019-10-10 16:23] joaomoreno commented on #82203
The issue here is that these SCM providers provide folders as resources, which breaks the tree rendering. Unfortunately there's no better fix but to block the tree usage from the API and only allow Git for now. I'll fix this in `master` and create a candidate PR for a recovery release asap.

Too bad this wasn't caught in our [insider release](https://code.visualstudio.com/insiders). :cry:

Until t

[2019-10-10 16:23] #46409 closed

[2019-10-10 16:25] bpasero commented on #16445
@misolori didn't we do this with the icon font?

[2019-10-10 16:26] roldeguz commented on #82203
Thanks for the update @joaomoreno

I already downgraded to 1.38 and will be monitoring this for future announcements.

[2019-10-10 16:27] mohamedmansour opened #82262 "Regression: Cannot edit code in right pane in the Source Control diff view"
This was my regular workflow, edit a bunch of code in C++, and see the diff (in the Source Control view) and edit. But I am getting: "Cannot edit in read-only editor"

No extensions are installed, (even used the switch --disable-extensions), I searched online, and they said to install "Code Runner" and use terminal, that didn't help.

Now my workflow is interrupted, if I see anything wrong in my P

[2019-10-10 16:27] Tyriar commented on #82169
Something similar happened earlier as originally ctrl+` would only toggle the terminal, now it focuses the active terminal as I always used to suggest people to change that and heard a lot of people asking for it 👉 https://github.com/microsoft/vscode/issues/19400

But we cannot change this again, it would annoy too many people. Luckily there is a very discoverable SO answer that lets people easily

[2019-10-10 16:27] #82169 closed

[2019-10-10 16:29] #69918 closed

[2019-10-10 16:31] Tyriar commented on #82173
Maybe the default should change in xterm.js? @Ulchie I created https://github.com/xtermjs/xterm.js/issues/2463 if you want to make a PR over there, should just be a single character change, plus a simple test 😛

[2019-10-10 16:31] bpasero commented on #81548
@rasq so only VSCode crashes or also Slack and other Electron apps?

[2019-10-10 16:37] Tyriar commented on #82175
How are you switching spaces?

[2019-10-10 16:39] misolori commented on #16445
@bpasero not yet, but soon you will be able to use all of our icons (Octicons + product) in the quick pick.

What this issue is asking for is to use other icons, like FontAwesome. In that case I'm closing this in favor of #79130 as that will allow you to do that.

[2019-10-10 16:40] #16445 closed

[2019-10-10 16:40] Tyriar commented on #82176
Can you enable trace logging and check the logs when you try open a terminal? https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging

[2019-10-10 16:40] bardware commented on #68237
Just had it today. I commit files with Windows-1252 encoding to a git repo.
Left is version in git, right is local version. I did not touch that line; the left pan just uses the standard encoding UTF-8 when reading the file from history; not the one I set in setting.json which reads

[code]

[2019-10-10 16:41] Tyriar commented on #26048
@joaomoreno should it not be a noop and we expand there just in case they're not already for some reason?

[2019-10-10 16:42] pirix-gh opened #82263 "Go to definition stopped working"
I use to have `alt+click` to go to definition. But it stopped working.

- VSCode Version: 1.39.0
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. `"editor.multiCursorModifier": "ctrlCmd",`

I tried `"editor.multiCursorModifier": "alt",` and it makes multi-cursor not to work. So it seems that there is problems with `alt`. The rest of the shorcuts work weel with `alt`, though.

(& my `alt` button

[2019-10-10 16:42] sbatten commented on #53650
@lig one of the strongest arguments for keeping this around was due to linux having the custom title bar by default and not matching the native window manager. since linux now uses the native title bar by default, this is no longer needed for making an optimal out-of-box experience and won't be prioritized.

[2019-10-10 16:42] joaomoreno opened #82264 "SCM: Allow folders as resources when rendering as tree"
Users have found out in https://github.com/microsoft/vscode/issues/82203 that most other SCM providers break the tree rendering. This happens because they provide folders as resources themselves, which simply breaks the tree.

This should actually just be supported, but we need to address what happens to the contextual menus. With the tree rendering addition, folders have their own context key for

[2019-10-10 16:42] rasq commented on #81548
@bpasero when i close VSCode generally whole W10 is crashed (all applications that use internet/network on't respond, ewen i cannot run ping from console). But i can close, open chrome, slack or other apps again without issues to moment when i close VSCode.

[2019-10-10 16:43] Tyriar commented on #80674
Currently it's stored against the workspace:

https://github.com/microsoft/vscode/blob/afa911d942f60aff56a65be989eb8c74d9cc56a5/src/vs/workbench/contrib/terminal/browser/terminalConfigHelper.ts#L181-L188

Should probably be storing the folder against the user scope.

[2019-10-10 16:44] pirix-gh commented on #82263
@vscodebot, mine isn't overriden by the system. It was working 2 days ago

[2019-10-10 16:45] Tyriar commented on #45218
Closing this off then, no point discussing this if you wouldn't use it. This might be refined later on when the story for non-extension split behavior is expanded upon but for now I'm not keen on letting splits inherit `Pseudoterminal`s somehow.

[2019-10-10 16:45] #45218 closed

[2019-10-10 16:46] daniglas commented on #3429
Sure thing:

Basically this is 1 language with 2 embedded languages. Sql is blue and Groovy is red.

I wrote a set of regular expressions to return sql and groovy vscode.Range(s) based on the brackets you can see in the picture(Sql [], Groovy [[]]). Ranges are updated via onDidTextDocumentChange event. Once I have the ranges, I can make a call to vscode.window.activeTextEditor.setDecorations(<your

[2019-10-10 16:47] sbatten commented on #39896
tested on my surface and I see the crash reporter process

[2019-10-10 16:47] #39896 closed

[2019-10-10 16:50] CaseyChester commented on #82259
i am experiencing the same except only on one specific project. I first experienced this same behavior after installing yzhang.markdown-all-in-one and bierner.markdown-preview-github-styles extensions while editing a README.md file in this one node project. I have since uninstalled both extensions, but the problem persists. I have another node project via WSL that loads fine.

[2019-10-10 16:50] #82225 closed

[2019-10-10 16:52] robinsh commented on #58220
I'm disappointed that you won't fix this problem, because you fixed it last year before you broke it again. I have strong negative feelings about VSCode because of this. EVERY SINGLE TIME I open VS Code, I have to move the screen. EVERY SINGLE TIME I open a new window, I have to move the screen. It's really annoying. Am I the only person in the universe with more than one monitor whose VS Code ope

[2019-10-10 16:53] #77777 closed

[2019-10-10 16:54] txase commented on #76863
I can confirm the issue does not happen in current master but does happen with that branch. That gives us something to work with. 🙏

It was still strange to see that the private build of electron 4 was showing the same behavior. Is it possible that the current electron 4 private build process for vscode is using an updated build mechanism from later releases of electron?

[2019-10-10 16:57] sarpik opened #82266 "ArchLinux: Support saving as sudo"
Hello,

the issue #70403 turns down the blame to `upstream` (arch linux), but arch linux turns down the blame back to `vscode`. See https://bugs.archlinux.org/task/61516, specifically the comments.

The bugfix of #70403 would be really appreciated - it's troublesome not being able to use the `save file as sudo` feature.

See also:

https://wiki.archlinux.org/index.php/Visual_Studio_Code#Saving_wit

[2019-10-10 16:58] alefragnani commented on #16445
@misolori @bpasero the main request was to use _Images_ (like in `ThemableDecorationRenderOptions.gutterIconPath` and `TreeItem.iconPath` supports), basicaly because I would like to reflect in the `PickList` the same images that can be used in gutter and side bar, from my [Bookmarks](https://marketplace.visualstudio.com/items?itemName=alefragnani.Bookmarks) and [Project Manager](https://marketplac

[2019-10-10 17:03] pirix-gh opened #82267 "Provide auto-completion on function parameters (TypeScript)"
[code]

Note: auto-completion hints do work if `obj.fn` is not optional:

[code]

[2019-10-10 17:04] bpasero commented on #81548
Wow that sounds horrible, only a restart fixes that?

[2019-10-10 17:05] breyed commented on #73879
I agree that the compromise is reasonable. I'd suggest additionally changing the terminal fallback code (for before the user updates the font setting) to use monospace rather than wide-spaced Times New Roman as it does now - if you have to fall back to something, might as well make it something that looks good.

----

The code snippet is similar to what I suggested, though not quite the same. I lo

[2019-10-10 17:07] ZanderBrown commented on #36667
GNOME has actually dropped that menu now so this issue is somewhat defunct

Still need a symbolic icon for the app menu's replacement and high contrast modes though

[2019-10-10 17:08] mayeths commented on #82259
yeah I also have markdown-all-in-one @CaseyChester ! You mention me the markdown's preview lost its style after update(I was too busy to treat it as a bug before). And exactly I have only one project in wsl so thought it's a normal bug in wsl :(

[2019-10-10 17:12] rasq commented on #81548
Yes, only restart. Maybe some complicated scipt that will restart some proceses will help, but i cannot know which one on what configuration.

[2019-10-10 17:14] webdevnerdstuff commented on #3429
181 votes currently on the initial post, and it's been over 3 1/2 years developers have been asking for this feature.  This is a feature it used to have, so what is holding VSCode back from moving forward? All I have seen is poor excuses.

The users have spoken, maybe it's about time you start listening to them? I know it's 100% possible to implement it as it used to be a feature that has since be

[2019-10-10 17:15] #16707 closed

[2019-10-10 17:15] #22283 closed

[2019-10-10 17:16] fiddleplum commented on #53034
@jrieken This is perfect! Thank you :)

[2019-10-10 17:24] phyzerbert opened #82268 "Control by using sidebar"
Hi,
Thanks for vscode. :)
I want to drag and drop by using sidebar like Opera web browser.
If i use in normal window size, it will be more comfortable for users.
Thank you.
![image](https://user-images.githubusercontent.com/46837938/66591583-d66c0980-ebc5-11e9-9b47-08bc2c3ddff4.png)

[2019-10-10 17:30] CaseyChester commented on #82259
I believe the error causing the problem is captured in the following log file.

[renderer1.log](https://github.com/microsoft/vscode/files/3713812/renderer1.log)

[2019-10-10 17:31] jcollum commented on #77721
@roblourens  this is not resolved, please re-open or create an issue with the proposed fix.

[2019-10-10 17:33] andrecasal opened #82269 "Natural Language Search documentation doesn't reflect interface"
This happens in insiders v1.40.0

- VSCode Version: 1.40.0
- OS Version: macOS 10.15

Steps to Reproduce:

1. Open default settings
2. Copy everything into your `settings.json` file
3. Make sure `"workbench.settings.enableNaturalLanguageSearch":` is set to `true`
4. Search (`cmd+f`) for "open file to the left"
5. Notice that no search results appear, even though the [documentation](https://code.vi

[2019-10-10 17:35] zbjornson commented on #79665
@bpasero I like that. 😍 I think it'd be nice if that mode did the same (no auto-resize) when closing a tab also -- did you happen to do that?

[2019-10-10 17:35] andrecasal commented on #82269
Just figured out this only works if you're viewing the settings in the UI editor.

It would be great if it also worked in the JSON file. Also the documentation is misleading because it shows the settings being shown as the JSON file.

[2019-10-10 17:36] #82269 closed

[2019-10-10 17:37] andrecasal opened #82270 "Enable natural language search in the settings.json file"
It would be great if we could have natural language search for the settings.json file instead of only having it in the settings UI editor.

[2019-10-10 17:41] Ravi448 opened #82271 "Not able to install in MacOS Catalina (10.15)"
I just updated my OS to Catalina, and it broke down, I un-installed the editor and trying to re-install it, but that is not able to install.

![Screenshot 2019-10-10 at 11 10 14 PM](https://user-images.githubusercontent.com/29150136/66592714-3c02ca80-ebb3-11e9-8081-82c573b51ece.png)

[2019-10-10 17:46] Ahmed-Sabry opened #82272 "Highlight unsaved lines"
This feature exits in Visual Studio but not VS Code.

[2019-10-10 17:47] misolori commented on #53868
Given that there is no way to add icons to native menus and that it would only work on Windows/Linux, I don't think this is something we will do anytime soon. Will close this as `out-of-scope` and if we ever re-visit this in the future we can re-open. Thanks for the feedback.

[2019-10-10 17:47] #53868 closed

[2019-10-10 17:51] connor4312 commented on #53775
/duplicate #47771

[2019-10-10 17:51] #53775 closed

[2019-10-10 17:53] roblourens commented on #77721
Meant to close this as a duplicate of https://github.com/microsoft/vscode/issues/65317

[2019-10-10 17:53] Tyriar commented on #73879
We definitely don't want to add Windows-specific native logic to calculate the width, we could probably fallback relatively safely by appending ", monospace" to the `font-family`, maybe with a small check to ensure any quotes are closed.

[2019-10-10 18:06] Tyriar commented on #71942
I've made a change to use the exact directory for the deb package, please try the insiders build tomorrow and let me know if you experience any issues https://code.visualstudio.com/insiders/

[2019-10-10 18:06] #71942 closed

[2019-10-10 18:07] #72322 closed

[2019-10-10 18:08] fredlcore commented on #71404
I'm not sure if we are talking about the same issue. F3 (on Mac) jumps to the next occurrence of the search string. F4 has no effect (on Mac).

What I mean is something different:
I search for a string with CMD+F (on Mac) and go through the hits (for example with F3). When I have found the hit that I want to edit and make some changes and then want to search for the next hit with CMD+F, the old se

[2019-10-10 18:09] Tyriar commented on #73747
New Empty Window passes in the `--new-window` CLI argument as documented in `code --help`:

[code]

If this does not work as expected please create a new issue.

[2019-10-10 18:09] #73747 closed

[2019-10-10 18:10] #75170 closed

[2019-10-10 18:10] #75579 closed

[2019-10-10 18:12] Tyriar commented on #75581
Looks like it's tracked in https://github.com/nodesource/distributions/issues/663, you might also want to report to the snapcraft team. Closing since we cannot action this on our side.

[2019-10-10 18:12] #75581 closed

[2019-10-10 18:13] Tyriar commented on #82176
/duplicate https://github.com/microsoft/vscode/issues/76542

[2019-10-10 18:13] #82176 closed

[2019-10-10 18:16] #77580 closed

[2019-10-10 18:17] #77653 closed

[2019-10-10 18:19] Tyriar commented on #79211
Closing for now, we can reconsider when Windows Terminal is v1

[2019-10-10 18:19] #79211 closed

[2019-10-10 18:19] Tyriar commented on #79254
Closing since no one has complained

[2019-10-10 18:21] Tyriar commented on #80819
/duplicate https://github.com/microsoft/vscode/issues/78967

[2019-10-10 18:21] #80819 closed

[2019-10-10 18:21] #81998 closed

[2019-10-10 18:23] sbatten commented on #82218
is this 100% repro? @gzx-miller can you reproduce this issue in different workspaces?

The stack suggests the error is on window resize so I've tried the following variables:

1) Using and not using centered layout
2) Resizing the window and quickly opening and closing files
3) Adding editor groups to centered layout (which removes the centered layout as expected)
3) Reloading the window in variou

[2019-10-10 18:24] Tyriar commented on #77390
/duplicate https://github.com/microsoft/vscode/issues/28432

[2019-10-10 18:24] #77390 closed

[2019-10-10 18:26] kinghat commented on #77580
@Tyriar do you happen to know if this was fixed upstream?

[2019-10-10 18:26] roblourens commented on #71404
I'm saying, you can use F3 to go to the hit instead of cmd+F then enter, but maybe I'm still misunderstanding

[2019-10-10 18:28] Tyriar commented on #29709
/duplicate https://github.com/microsoft/vscode/issues/28432

[2019-10-10 18:28] #29709 closed

[2019-10-10 18:28] usernamehw commented on #46409
You can probably achieve this with extension:

https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-open-multiple-files

[2019-10-10 18:28] Ulchie commented on #82173
Well it also extends to colon. I’m not a Windows user but I would expect that excluding colon from the double click word boundary would be annoying for Windows paths so that’s why I suggested the option. I’d expect the behavior will need to differ by platform.

[2019-10-10 18:34] #56417 closed

[2019-10-10 18:35] Tyriar commented on #82173
@Ulchie sounds good 👍

[2019-10-10 18:36] Tyriar commented on #77580
@kinghat no, please report to the snapcraft team I don't believe we can action this on our end.

[2019-10-10 18:37] #57601 closed

[2019-10-10 18:38] #57975 closed

[2019-10-10 18:38] Tyriar commented on #73879
@breyed my point is that right now we're using a cross platform solution provided by Chromium, it would be silly to invest in a native node module that has separate implementations for all platforms.

The setting could be set to: `"'somefont"`, meaning the font would probably be interpreted by the browser as `"'somefont, monospace'"`

[2019-10-10 18:38] #57502 closed

[2019-10-10 18:38] fredlcore commented on #71404
No, that is true, I didn't know about this, thanks a lot, I just have to re-wire my mind a bit to switch between CMD+F and F3 because most other editors do not have the behaviour and keep the original search string, but I agree that adding a config option is then probably too much of an effort, so you can close this issue then.

[2019-10-10 18:40] Tyriar commented on #20813
https://github.com/xtermjs/xterm.js/issues/1883

[2019-10-10 18:43] #62444 closed

[2019-10-10 18:43] Tyriar commented on #35901
The current thing blocking this is stabilizing the WebGL renderer, see upstream query: https://github.com/xtermjs/xterm.js/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Faddon%2Fwebgl

[2019-10-10 18:43] #62553 closed

[2019-10-10 18:44] #63119 closed

[2019-10-10 18:44] mjbvz commented on #82252
I also previously pinged the extension about fixing this: https://github.com/CoenraadS/Bracket-Pair-Colorizer-2/issues/108

[2019-10-10 18:45] #63133 closed

[2019-10-10 18:45] #82254 closed

[2019-10-10 18:46] roblourens commented on #65844
Duplicate of https://github.com/microsoft/vscode/issues/58995

[2019-10-10 18:46] #65844 closed

[2019-10-10 18:46] Tyriar commented on #36249
Upstream issue: https://github.com/xtermjs/xterm.js/issues/2464

[2019-10-10 18:46] mjbvz commented on #81769
Fixed reference

[2019-10-10 18:46] martinsura opened #82276 "Generic react component (TSX) and intellisense not working"
- VSCode Version: 1.39.0
- OS Version: Widnows 10.0.18362

Steps to Reproduce:
Have code:
[code]
While i use CustomComponent in TestComponent intellisense not working. After define first props, then intellisense start working.

![image](https://user-images.githubusercontent.com/333932/66597218-cbea4980-eb9e-11e9-81ab-ed00a9e94511.png)

![image](https://user-images.githubusercontent.com/333932/6659

[2019-10-10 18:46] roblourens commented on #65032
Apparently fixed now

[2019-10-10 18:46] #65032 closed

[2019-10-10 18:48] Tyriar commented on #47523
This issue is blocked on the webgl renderer being stabilized, see the issue query: https://github.com/xtermjs/xterm.js/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Faddon%2Fwebgl

[2019-10-10 18:48] quigleyj-mavenomics commented on #82170
I'm noticing this too. On my system, that feature works for most of the language modes I tried, but not TypeScript or JavaScript. Here's a screencast on the latest release build with extensions disabled:

![vscode-highlight-bug](https://user-images.githubusercontent.com/20070398/66597398-e4da0700-eb6c-11e9-941a-f3707750fb32.gif)

Help > About:

Version: 1.39.0 (user setup)
Commit: 9df03c6d6ce97c66

[2019-10-10 18:49] IBRAHIM-HAMZA commented on #80741
I'm using portuguese layout keyboard as well.

- ^

- ´

[2019-10-10 18:50] roblourens commented on #64877
Default value is included, "current" value is hard to define.

[2019-10-10 18:50] Tyriar commented on #47711
This appears to work in the demo so I suspect it's actually a bug in vscode rather than an upstream issue.

[2019-10-10 18:50] jeanp413 commented on #82258
@BartolomeSintes Try this
[code]
There was a bug #80394 which is fixed now

[2019-10-10 18:50] RMacfarlane opened #82277 "Trusted domain prompt skipped when using openExternal"
Issue Type: <b>Bug</b>

1. Run `Manage Trusted Domains` and comment out all domains
2. Using the GitHub Pull Request extension, run the `GitHub Pull Requests: Sign in to GitHub` command

Expected: Trusted domains dialog is shown when opening the url to authenticate. When the authentication completes and returns to VSCode, no prompt is shown since the callback url was created with `createAppUri`

A

[2019-10-10 18:50] #64877 closed

[2019-10-10 18:50] webmasterMeyers opened #82278 "Opening VS Code with URLs not working"
Issue Type: <b>Bug</b>

As per https://code.visualstudio.com/docs/editor/command-line#_opening-vs-code-with-urls clicking links such as "vscode://file//var/www/html/thegridsf/templates/nbp/familyAndContacts.html.twig:1" in Chrome (Version 77.0.3865.90 (Official Build) (64-bit)) does not open the file.  VS code will open if it is closed, but not the file.

----
VS Code Version: 1.39.0
Commit: 9df03

[2019-10-10 18:52] Tyriar commented on #50128
I can no longer reproduce.

[2019-10-10 18:52] #50128 closed

[2019-10-10 18:52] oliversalzburg commented on #46409
A quick repetition of hitting the Right Arrow and Down Arrow keys also works quite well.

[2019-10-10 18:52] Tyriar commented on #61708
Upstream issue: https://github.com/xtermjs/xterm.js/issues/2115

[2019-10-10 18:52] #67489 closed

[2019-10-10 18:53] mjbvz commented on #82115
@DanTup No, that is out of scope of custom editors. For stability, performance, and UX reasons, we do not want to allow extensions to directly effect text editors.

You may be interested in the webview inset proposal but they are also intentionally quite limited: #66418

[2019-10-10 18:55] Tyriar commented on #75296
I think this is https://github.com/microsoft/vscode/issues/78967

/duplicate

[2019-10-10 18:55] #75296 closed

[2019-10-10 18:56] CaseyChester commented on #82259
The log file I posted previously would indicate the persisted workspace state is corrupt or now longer compatible. I have left both markdown extension uninstalled. To get past this, here are the steps I followed to get my project loaded in vs code.

In WSL environment:
  - inspect meta.json located in each subdirectory of ~/.vscode-server/data/User/workspaceStorage
  - note the subdirectory name (

[2019-10-10 18:59] mjbvz commented on #82205
Our markdown preview targets common mark so this is the expected behavior: https://spec.commonmark.org/0.29/#example-235

Github's markdown also handles ordered lists this way

[2019-10-10 18:59] #82205 closed

[2019-10-10 19:00] #82018 closed

[2019-10-10 19:01] roblourens commented on #73887
duplicate of https://github.com/microsoft/vscode/issues/73283

[2019-10-10 19:01] #73887 closed

[2019-10-10 19:03] roblourens commented on #72485
I think this is covered by https://github.com/microsoft/vscode/issues/51778

[2019-10-10 19:03] #72485 closed

[2019-10-10 19:04] mjbvz commented on #8223
Closing this I don't think there needs to be any api work done. Extensions/languages just need to provide a full file uri or a command uri as the markdown link

#77199 tracks supporting relative links in jsdocs specifically.

[2019-10-10 19:04] #8223 closed

[2019-10-10 19:04] roblourens commented on #73190
Now `workbench.action.openSettings` will take a query. However, these are not well documented and that is an issue with commands for extensions in general :(

[2019-10-10 19:04] #73190 closed

[2019-10-10 19:10] #81954 closed

[2019-10-10 19:11] KodeKrafter opened #82279 "Oracle Explorer not displaying tables, views, procedures, etc...."
Issue Type: <b>Bug</b>

1.  Install Oracle Developer Tools for VS Code extension into VS Code
2.  Restart browser
3.  Create connection (any produce the same result) and validate that the connection is successful.
4.  Connect using the newly created Oracle connection.
5.  You'll see a list of Oracle object categories (e.g. Tables, View, etc.)
6.  Select any of those (we'll use Tables).
7.  Expand

[2019-10-10 19:13] shangles opened #82280 "Add Compare Options to Editor Tabs (Right-Click)"
I would like to see the ability to right-click on an open tab for an editor and choose "Select for Compare" as well as other Compare options, instead of having to do it from the Explorer > Open Editors menu on the right.

[2019-10-10 19:18] gandroz commented on #76542
On Ubuntu 18.04, I installed VSCode with snap. When I launch VSC inside a terminal with
```> /snap/bin/code```
I am able to work in the VSC terminal whatever the `terminal.integrated.inheritEnv` settings, but when I launch it with the `.desktop` link, if the settings is at `false` I got the issue of a blank terminal.

[2019-10-10 19:18] cutecycle commented on #74782
We're having this issue on a Catalina upgrade, except we can't even open the application.

[2019-10-10 19:19] #68453 closed

[2019-10-10 19:19] misolori commented on #68453
Made the border have the same color as active foreground text, this aligns with the Settings UI:

<img width="694" alt="image" src="https://user-images.githubusercontent.com/35271042/66599418-07155a00-eb58-11e9-8150-ef9ba302fb0f.png">

[2019-10-10 19:24] lcharbon commented on #39493
@roblourens Can confirm this is still and issue in Google File Stream 33, VS Code 1.39 and Mac0S Catalina(10.15). Also affects global find. Sublime finds files without issue with same setup.

[2019-10-10 19:24] #79920 closed

[2019-10-10 19:26] #76069 closed

[2019-10-10 19:26] #76197 closed

[2019-10-10 19:26] #76656 closed

[2019-10-10 19:26] #77205 closed

[2019-10-10 19:26] #77243 closed

[2019-10-10 19:26] #77678 closed

[2019-10-10 19:26] #77956 closed

[2019-10-10 19:26] #78434 closed

[2019-10-10 19:26] #78878 closed

[2019-10-10 19:26] #79311 closed

[2019-10-10 19:26] #80913 closed

[2019-10-10 19:26] #52778 closed

[2019-10-10 19:26] #66906 closed

[2019-10-10 19:26] #81516 closed

[2019-10-10 19:26] #69285 closed

[2019-10-10 19:26] #71123 closed

[2019-10-10 19:26] #79253 closed

[2019-10-10 19:27] joaomoreno commented on #26048
I'm pretty sure you'd break other stuff by doing that: variable values containing two `%` characters in them, not meant to be expanded, for one.

[2019-10-10 19:29] aeschli commented on #80728
I'm not able to reproduce. If you have a code sample, or even a sample project (e.g. on github) that would be great.
Maybe you can also`"typescript.tsserver.trace": "messages"` in the settings and open the output view on the `typescript` tab to verify that on step 5, you get a trace message `Response received: getOutliningSpans...`

[2019-10-10 19:31] deepak1556 commented on #81489
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 19:31] #81489 closed

[2019-10-10 19:32] deepak1556 commented on #77840
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 19:32] #77840 closed

[2019-10-10 19:32] deepak1556 commented on #77318
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 19:32] #77318 closed

[2019-10-10 19:32] twadleigh commented on #70444
One fairly general use for this functionality is to be able to see a stack trace or other diagnostics from a terminal process that crashes. That was the original motivation for referencing julia-vscode/julia-vscode#653.

[2019-10-10 19:33] janzal123 opened #82281 "VS Code and Polish charaters bug"
Ubuntu 19.04, Visual Studio Code 1.38.1:

When I type text and press polish character the cursor moves left so that the order of letters is reversed. Say I wanted to type abc', where c was Polish c with an accent then when I have typed ab and start typing c' the cursor moves before b, so that I am typing like: ac'b.

In fact the cursor moves to the left when I press the polich characters selector

[2019-10-10 19:34] deepak1556 commented on #77188
@jstoppa thanks for confirming! exploration builds contain a more recent version of electron that will be the candidate for next insiders. The exploration update has been merged into master today https://github.com/microsoft/vscode/pull/81644, you can expect this in next insiders.

[2019-10-10 19:34] #77188 closed

[2019-10-10 19:34] aeschli commented on #82206
It's a problem with the color picker. Likely a dup of https://github.com/microsoft/vscode/issues/40634

[2019-10-10 19:35] deepak1556 commented on #75573
Fixed by https://github.com/microsoft/vscode/pull/81644. It should also be available with next insiders.

[2019-10-10 19:35] #75573 closed

[2019-10-10 19:35] oSoMoN commented on #75579
This doesn't make sense: the linked documentation says the `out-of-scope` label applies to feature requests, but this is clearly a bug, not a feature request.
Closing the bug doesn't make it go away, and it will eventually be filed again by an affected user, so this doesn't actually help alleviate the triaging work. Why not keep it open with a low priority?

[2019-10-10 19:36] deepak1556 commented on #65816
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 19:36] #65816 closed

[2019-10-10 19:42] Tyriar commented on #70444
@twadleigh can you describe a little more how Julia uses/launches the terminal? Is launching a Julia shell and sending text an alternative?

[2019-10-10 19:43] NaveenDA opened #82282 "set syntax command"
Previously I am using sublime text editor, which allows setting the syntax language via command.
In VSCode I see option on the bottom right corner to "Select Language Mode", but need to click using the mouse then type/select the language, I would like to change the language mode by keyboard.

[2019-10-10 19:43] Tyriar commented on #75579
@oSoMoN it's a bug in an upstream project, you should track it at https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1838129

[2019-10-10 19:46] aeschli commented on #81939
The expension needs to register a `resourceLabelFormatters` that returns `workspaceSuffix` that is human readable and not too long.

[2019-10-10 19:50] janzal123 commented on #82281
enabled extensions:

[2019-10-10 19:50] janzal123 commented on #82281
Extension | Author (truncated) | Version
-- | -- | --
delphi-keybindings | ale | 8.1.0
delphi-pack | ale | 2.0.0
numbered-bookmarks | ale | 6.2.1
pascal-formatter | ale | 2.2.0
vscode-groovy | Arg | 0.0.1
bracket-pair-colorizer | Coe | 1.0.61
githistory | don | 0.4.6
gitlens | eam | 10.1.1
jenkinsfile-support | ivo | 0.4.4
jenkins-pipeline-linter-connector | jan | 1.2.0
terraform | mau | 1.4.0
vsc

[2019-10-10 19:50] janzal123 commented on #82281
system info:
CPUs	Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz (4 x 3990)
GPU Status	2d_canvas: unavailable_software
flash_3d: disabled_software
flash_stage3d: disabled_software
flash_stage3d_baseline: disabled_software
gpu_compositing: disabled_software
multiple_raster_threads: enabled_on
native_gpu_memory_buffers: disabled_software
oop_rasterization: disabled_off
protected_video_decode: disabled_off

[2019-10-10 19:51] oSoMoN commented on #75579
It's not clear to me that the problem is entirely on firefox's side. See https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1838129/comments/9.

[2019-10-10 19:53] aeschli commented on #81255
#77066 got fixed for September. So if npm is not present we fall back to the online info.

[2019-10-10 19:53] #81255 closed

[2019-10-10 19:54] BartolomeSintes commented on #82258
I have tried your regexp in VSCOde 1.39 and 1.40 insiders and it works. I have tried to use it VSCode 1.38.1 but I failed because VSCode is updated automatically (even if I have disabled the updates ;-(
Anyway, what do I have to do? Publish a new version of the extension with your regexp?
As I understand, escape characters in the output should be written with four backslashes \\\\\\\\ in the regex

[2019-10-10 19:55] Tyriar commented on #75579
@oSoMoN it's either a bug in Firefox, Snap or Electron. We just call an Electron API to open a link and the crash occurs. You're welcome to investigate further but we're closing this off keep our issues at a more manageable level as we cannot action this within vscode.

[2019-10-10 19:55] skeeler opened #82283 "Long time to load source control providers"
Issue Type: <b>Performance Issue</b>

When starting Visual Code in a folder with a cloned Git repo, it takes between 20-30 seconds for the Git source view to connect - shows message "No source control providers registered" for this period of time. Given how quickly Visual Code responds in just about every other way, it would be nice (and more consistent) if the source control provider registration

[2019-10-10 19:56] andrecasal opened #82284 "Video explanations of VS Code's settings"
I've created a video playlist on YouTube explaining every single setting in VS Code (except 9 I don't yet understand, but will work on next) and I'd like to share that with the community. I'm guessing it would be most useful to share this in VS Code's documentation, but I'm not sure if that's appropriate. If it is, please let me know and I'll share the playlist link.

[2019-10-10 20:02] #82279 closed

[2019-10-10 20:03] #82261 closed

[2019-10-10 20:03] aeschli commented on #81558
Assigning to @alexandrudima who works on the new API

[2019-10-10 20:09] georgefst commented on #16927
https://github.com/microsoft/vscode/issues/72968#issuecomment-519907919

[2019-10-10 20:09] jeanp413 commented on #82258
Yes, `\\\\` generates `\` (you need to escape twice, one for the json string, and again for the snippet parser to interpret it correctly, the previous behavior was a bug).
You need to publish a new version with the updated regex.

[2019-10-10 20:10] breyed commented on #73879
I concur, except that I wouldn't say it's silly, just more effort than the feature is worth. A deterministic query for whether a font is fixed width is better than an imperfect heuristic, but they're the same for practical purposes. Ironically, Chromium [keeps track](https://github.com/chromium/chromium/blob/6efa1184771ace08f3e2162b0255c93526d1750d/third_party/blink/renderer/platform/fonts/simple_

[2019-10-10 20:12] aeschli commented on #76990
Ideally, the parser's error recovery is able to put a limit on the length of the incomplete construct.
On the UI side it helps to have autoclosing pairs. E.g. when the user types a `${` already add `}`.

[2019-10-10 20:25] Friday32 commented on #81902
I had someone in my company's audit department try the example. He had no trouble reproducing the issue when running a debug session.

I sent you a video of the issue last Friday via email.  Maybe that will help.

[2019-10-10 20:25] letmaik commented on #82115
I can't figure out how to enable script usage. Trying to set `editor.webview.options.enableScripts = true` doesn't work as the property is readonly. Looks a bit like such options are missing in `registerWebviewEditorProvider`.

[2019-10-10 20:29] Flos commented on #12453
Yes, I think that makes sense

[2019-10-10 20:30] RichieRunner commented on #82204
This is solved; I managed to get it back by deleting my Code folder in my `AppData/Roaming` folder.

[2019-10-10 20:30] #82204 closed

[2019-10-10 20:38] BartolomeSintes commented on #82258
I have republished the extension. I suppose this issue can be closed now.

[2019-10-10 20:46] stiltet commented on #15909
I 100% agree with @superole

[2019-10-10 20:46] alvitawa opened #82285 "Bug when maximizing and toggling panel"
- VSCode Version: 1.28.1
- OS Version: WSL2

Steps to Reproduce:

1.  Press 'Maximize Panel Size' (workbench.action.toggleMaximizedPanel)
2.  Press "workbench.action.terminal.toggleTerminal" hotkey.
3.  Press "workbench.action.terminal.toggleTerminal" hotkey again.

The panel has now been resized to almost but not quite cover the editor. It needs to be resized back manually with the mouse to see t

[2019-10-10 20:49] jonfen commented on #82261
@mjbvz @vscodebot I tried to file it in the right spot, the extension is Microsoft's Python, and if you go to the [extension website](https://code.visualstudio.com/docs/languages/python) and click on "Report Issues" it takes you here.

[2019-10-10 20:49] mjbvz commented on #82115
@letmaik You need to set the entire options object: https://github.com/microsoft/vscode/blob/bac36e97c68a13488088db60c28410e7321d2871/extensions/image-preview/src/preview.ts#L42

[2019-10-10 20:52] mjbvz commented on #8058
Closing this as out of date. If you still see this issue, please let us know

[2019-10-10 20:52] #8058 closed

[2019-10-10 20:58] twadleigh commented on #70444
@Tyriar you can see the way the julia-vscode extension launches the julia process in the terminal [here](https://github.com/julia-vscode/julia-vscode/blob/8fe4f76369939aeeff594f7662776c4957ddd25d/src/repl.ts#L158).

Can you possibly describe more about what you mean by launching a shell and sending text? I initially proposed a [solution](https://github.com/julia-vscode/julia-vscode/pull/695) that

[2019-10-10 20:59] misolori commented on #58399
@bpasero yes, we discussed it in our UX sync call and said we should add it. I'll add it to the backlog.

[2019-10-10 21:03] misolori commented on #82271
Duplicate of #74782

[2019-10-10 21:03] #82271 closed

[2019-10-10 21:05] #82260 closed

[2019-10-10 21:09] misolori commented on #74782
@cutecycle see the main issue description for how to get around this. You can also right-click on the app and click "Open" to get the option to open it:

![image](https://user-images.githubusercontent.com/35271042/66606616-4bf4bd00-eb67-11e9-9b5e-8a8346eb5f67.png)

[2019-10-10 21:12] mjbvz opened #82286 "Build VS Code using TS 3.7-beta"
The TS team suggested that we try building VS Code with the beta release of TS 3.7. This should be stable enough for us and will help the TS team get additional feedback during their beta/rc period when bugs are easier to fix

I've compared the diff output of VS Code built with TS 3.6 and 3.7-beta and don't see any relevant differences.

[2019-10-10 21:14] misolori commented on #48751
We already do this in the tree view (see #55857 ) but extension contributions have yet to get this. Closing this in favor of #31466 because that's the only way for extensions to get colorization in icons is re-using our icons/icon font.

[2019-10-10 21:14] #48751 closed

[2019-10-10 21:14] ReagentX commented on #82175
⌃→ and ⌃←

[2019-10-10 21:16] #82286 closed

[2019-10-10 21:18] roblourens commented on #39493
Ok, this is actually a duplicate of https://github.com/microsoft/vscode/issues/69333 which had some investigation already

[2019-10-10 21:21] roblourens commented on #60198
I don't know that it's a big deal, but I'll pass it off to you @misolori to decide

[2019-10-10 21:23] zacksigmund commented on #69279
@jrieken This issue is not specifically about filtering, it's about "hiding" and the original post explicitly mentions collapsing. @TonyRietwyk 's proposal is the exact behavior I would expect from the breadcrumb feature.

[2019-10-10 21:23] roblourens commented on #55510
I would recommend using the Remote - SSH extension, which is designed for exactly this sort of workflow. I won't be able to investigate this more, sorry.

[2019-10-10 21:23] #55510 closed

[2019-10-10 21:23] #62868 closed

[2019-10-10 21:24] mjbvz commented on #25312
Issues about project structure or resolution are upstream issues from the TypeScript project.

If you are still seeing issues related to these and are using the most recent version of TypeScript in your workspace, please [file a bug report upstream](https://github.com/microsoft/TypeScript/issues/new). Be sure to include a set of repo steps that we can investigate

[2019-10-10 21:24] #25312 closed

[2019-10-10 21:24] misolori commented on #82193
Can confirm that these icons are pixelated at 1x. Working on updating the icons, see below for before (top) and after (bottom):

<img width="659" alt="image" src="https://user-images.githubusercontent.com/35271042/66607661-9d05b080-eb69-11e9-9994-3459086b1d6d.png">

[2019-10-10 21:25] #34508 closed

[2019-10-10 21:26] roblourens commented on #63255
Sorry for the slow response but I don't understand 100%, is the problem that the screenreader doesn't read the commands inside the context menu?

[2019-10-10 21:29] OmarTawfik commented on #81456
I cannot repro on the latest from master now. Thanks for checking!

[2019-10-10 21:29] aeschli commented on #74563
@bpasero Sounds good!

[2019-10-10 21:33] roblourens commented on #71404
Actually I think this issue is the right dupe: https://github.com/microsoft/vscode/issues/20768

Also there is apparently already a setting to disable this entirely: `editor.find.seedSearchStringFromSelection`

[2019-10-10 21:33] #71404 closed

[2019-10-10 21:35] #67578 closed

[2019-10-10 21:42] #70588 closed

[2019-10-10 21:47] roblourens commented on #65334
I guess there is already an issue for it: https://github.com/microsoft/vscode/issues/41050

[2019-10-10 21:49] #68139 closed

[2019-10-10 21:50] lannyheidbreder-mc commented on #43806
I got here via #40386, and I would like to reiterate the request to hide file extensions, since the nice file type icons give the same information.

If possible, it would be nice to only hide the extension if a type-specific icon is already on the tab. If there's an extension that doesn't have its own specific icon, the extension would appear in that tab label, and the icon would disappear instead

[2019-10-10 21:50] roblourens commented on #65348
Is definitely related to the line ending of the files, but I have no clue.

[2019-10-10 21:53] roblourens commented on #75012
I think this is essentially part of https://github.com/microsoft/vscode/issues/60198. Not going to investigate how the blend works exactly unless someone else wants to.

[2019-10-10 21:53] #75012 closed

[2019-10-10 21:57] misolori commented on #67830
See https://github.com/microsoft/vscode/pull/82198 for progress on this, closing this in favor of https://github.com/microsoft/vscode/issues/75435

[2019-10-10 21:57] #67830 closed

[2019-10-10 21:58] roblourens commented on #69456
I think this should be fixed because unrecognized settings are no longer considered error/warnings. Let me know if not the case.

[2019-10-10 21:58] #69456 closed

[2019-10-10 21:59] roblourens commented on #77537
We are on Electron 6 now

[2019-10-10 21:59] #77537 closed

[2019-10-10 22:06] misolori commented on #81747
Peek arrows are now shorter so they're closer the size of the others:

<img width="1086" alt="image" src="https://user-images.githubusercontent.com/35271042/66610114-88c4b200-eb6f-11e9-99ca-2c731c26b195.png">

[2019-10-10 22:06] #81747 closed

[2019-10-10 22:09] misolori commented on #82193
@sbatten these are now added to Codicons (via https://github.com/microsoft/vscode/commit/4448d83f00c0c1419db2ba6254e1174cb72d61f6), you can refer to them as:

- `codicon-chrome-minimize`
- `codicon-chrome-maximize`
- `codicon-chrome-restore`
- `codicon-chrome-close`

All they need to do is follow the similar syntax as the Octicons classes: `codicon codicon-ICON-NAME`

[2019-10-10 22:11] #78398 closed

[2019-10-10 22:12] LAK132 commented on #75770
Compromise: When clicking a link in the terminal, *that link* is converted to its canonical form. If the canonical form is already open, then it will trivially jump to that editor right? If its not, then the user probably had the wrong version open to begin with. This way you aren't constantly polling the file system for canonical forms, just once when the user clicks the link. This would 100% fix

[2019-10-10 22:15] RMacfarlane commented on #23587
I believe this functionality has already been added - there are decorations in the scrollbar indicating additions, modifications, deletions, errors, etc.

Also mentioned in this thread are some ideas that are tracked by other issues:
- Hiding the default scrollbar: https://github.com/microsoft/vscode/issues/28653
- Ability to render editor decorations in the minimap: https://github.com/microsoft/v

[2019-10-10 22:15] #23587 closed

[2019-10-10 22:18] deepak1556 commented on #80992
@ViniciusFXavier can you try the following builds which is based on Electron 6, to see if the issue appears there. Thanks!

* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/code-exploration_1.37.0-1564556

[2019-10-10 22:18] #80682 closed

[2019-10-10 22:21] RMacfarlane commented on #22563
There are several issues about combining the minimap and the scrollbar that I'm trying to consolidate right now. https://github.com/microsoft/vscode/issues/28653 has the most discussion and upvotes, so I'd like to use that one as the primary tracker of this work. This is something I'd really like to see done and something I plan to work on in the coming iterations. I'm closing this as a duplicate,

[2019-10-10 22:21] #22563 closed

[2019-10-10 22:24] felipe1982 commented on #56964
Still not working for me

[2019-10-10 22:28] mjbvz commented on #49325
As I understand it, the original request here was for a set of user interface components that extensions could use to build custom UI. I feel this is out of scope. We do not want to get into the business of being a general purpose user interface library.

Instead, we push extensions to provide data that VS Code can surface to users in consistent and performant manner. This obviously limits what ex

[2019-10-10 22:28] #49325 closed

[2019-10-10 22:30] deepak1556 commented on #78347
@DrBluefall  can you try the following builds which is based on Electron 6, to see if the issue appears there. Thanks!

* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/code-exploration_1.37.0-1564556412_

[2019-10-10 22:31] deepak1556 commented on #78315
@singh-arulraj can you try the following builds which is based on Electron 6, to see if the issue appears there. Thanks!

* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/code-exploration_1.37.0-156455641

[2019-10-10 22:33] mjbvz commented on #69467
@jrieken Let me know if you still are seeing this. I tested it in our docs repo but don't see it happening

[2019-10-10 22:33] #69467 closed

[2019-10-10 22:36] deepak1556 commented on #74098
@alxgrtnstrngl thanks for testing it, yeah we reverted insiders to 4.x due to other blockers which got fixed recently, we will roll the insiders to electron 6 soon. Can you also give the above flags a try with latest exploration builds. Thanks!

* macOS: [Download](https://az764295.vo.msecnd.net/exploration/a715df3459718a501686bd03414f69929bf6e9a2/VSCode-darwin-exploration.zip)
* Linux (DEB): [Dow

[2019-10-10 22:38] RMacfarlane commented on #24395
Several of these have already been done:

Can be controlled with`editor.minimap.side` setting

Can be controlled with `editor.minimap.showSlider`

Not set by default, but you can add a custom keybinding for the `View: Toggle Minimap` command

For the two remaining suggestions, please open separate issues. This makes it much easier to track work, since each feature will likely be implemented indepe

[2019-10-10 22:38] #24395 closed

[2019-10-10 22:39] OmarTawfik opened #82290 "Reveal in Sidebar crashes"
- VSCode Version: 1.39
- OS Version: Darwin x64 18.7.0

This doesn't happen consistently, but every once in a while, this feature would completely crash and I'd have to restart my editor. The steps are as follows:

* I open a folder, I start editing some code.
* I right click the tab name, and click `Reveal in Sidebar`.
* The whole File explorer is highlighted in blue, without my file actually get

[2019-10-10 22:40] RMacfarlane opened #82291 "Minimap: Render warning and error decorations"
Would also like to see linter errors/warnings:

![screen shot 2017-05-04 at 10 42 32](https://cloud.githubusercontent.com/assets/40524/25694274/89fed630-30b6-11e7-8372-2f1246b45d1f.png)

By the way, great job on the minimap. Love this feature. Thanks for the work you put into it!

_Originally posted by @bjunix in https://github.com/microsoft/vscode/issues/20934#issuecomment-299117437_

[2019-10-10 22:40] OmarTawfik commented on #82290
cc @joaomoreno

[2019-10-10 22:40] misolori commented on #36403
Given that there hasn’t been much activity here and that we have no plans to introduce this feature anytime soon, I’ll be closing this as out of scope. If we ever decide to revisit this we will reopen the issue. Thanks for the feedback.

[2019-10-10 22:40] RMacfarlane commented on #20934
As of the latest release (1.39), selection and find matches are shown in the minimap. I'd like to scope this issue down to something specific for easier tracking, so I'm going to repurpose this for git status annotation decorations.

There are some other good ideas in this thread, I think most of them have been covered by other issues:
https://github.com/microsoft/vscode/issues/28653
https://githu

[2019-10-10 22:41] #36403 closed

[2019-10-10 22:41] deepak1556 commented on #78778
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 22:41] #78778 closed

[2019-10-10 22:43] deepak1556 commented on #68069
Fixed with https://github.com/microsoft/vscode/pull/81644

[2019-10-10 22:43] #68069 closed

[2019-10-10 22:48] RMacfarlane commented on #20853
For issue management, it's much easier if each issue is tracking a single feature request. Looking through the existing minimap feature requests, I believe all of these requests are already covered.

migrate minimap and scrollbar when minimap enabled: https://github.com/microsoft/vscode/issues/28653
git status in minimap: https://github.com/microsoft/vscode/issues/20934
highlight current line: imp

[2019-10-10 22:48] #20853 closed

[2019-10-10 22:49] letmaik commented on #82115
I made a little tech demo visualising ML model files: https://github.com/letmaik/vscode-netron. This would always be read only, so from my point of view it works great already.

[2019-10-10 22:50] Asheshp23 opened #82292 "VSCode Version: 1.39 OS Version: catalina Steps to Reproduce: can not open when I updated to Catalina"
<img width="492" alt="Screen Shot 2019-10-09 at 10 53 32 PM" src="https://user-images.githubusercontent.com/22404192/66612129-c6850300-eb8e-11e9-9184-66291c7addb9.png">

[2019-10-10 22:51] #76130 closed

[2019-10-10 22:52] RMacfarlane commented on #76130
They use the same logic as the decorations in the overview ruler, which attempt to combine themselves in a complicated way. I'd prefer to not try to refactor this, as I don't think it's worth it

[2019-10-10 22:53] ChungSangHee opened #82293 "support Korean"
Issue Type: <b>Feature Request</b>

I need to support 'Korean help document(tag, tutorial, ect......)' more than now~ PLZ~~

VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:57:43.593Z)
OS version: Darwin x64 18.7.0

[2019-10-10 22:56] roblourens opened #82294 "Debug EH action tries to start debugging when canceled"
- Open Show Running Extensions
- Click "Start Debugging Extensions"
- Prompt should ask you to restart to do this
- Click cancel
- Debugging starts unsuccessfully

[2019-10-10 22:59] mjbvz commented on #66495
@deepak1556 Related to this: we probably should use streams for loading content inside of webviews. This is currently blocked by https://github.com/electron/electron/issues/17059

[2019-10-10 23:01] #70011 closed

[2019-10-10 23:01] Gruntfuggly commented on #69456
Yes  - they just showing up as 'info's now. Thanks.

[2019-10-10 23:02] #76990 closed

[2019-10-10 23:13] sbatten commented on #82285
This is resolved in the latest version

[2019-10-10 23:13] #82285 closed

[2019-10-10 23:33] w9jds commented on #80674
So the storage scope only allows `GLOBAL` and `WORKSPACE`. Wouldn't we want to modify the duplicate action to properly duplicate the storage too, as it only copies settings currently:
https://github.com/microsoft/vscode/blob/afa911d942f60aff56a65be989eb8c74d9cc56a5/src/vs/workbench/electron-browser/actions/workspaceActions.ts#L44

[2019-10-10 23:36] roblourens opened #82295 "September 2019 Recovery Endgame"
- [x] Create a milestone `<Month> Recovery <year>` **owner**
- [x] Bump the version number **owner**
- [x] Include an issue 'update translations' **owner**
- [x] Assign candidate issues to the recovery milestone **team**
- [x] Review the `candidate` issues, and if they pass the review assign them to the recovery milestone **team**
- [x] All `candidate` fixes are peer reviewed and pushed to `master

[2019-10-10 23:45] roblourens opened #82296 "Don't start the extension host in debug mode by default"
We start the extension host in debug mode at launch to support easy profiling and debugging it. This was reported as a potential vulnerability: https://bugs.chromium.org/p/project-zero/issues/detail?id=1944&q=&colspec=ID%20Status%20Restrict%20Reported%20Vendor%20Product%20Finder%20Summary

This issue is already fixed in Insiders, but it depends on Electron 6 so we are preparing a simpler fix for s

[2019-10-10 23:46] roblourens commented on #82296
Fixed in https://github.com/microsoft/vscode/commit/7f87a64621b010ed8a7e171d07583921e8c1e8ac

[2019-10-10 23:46] #82296 closed

[2019-10-10 23:53] timdeng2324 opened #82297 "Source control default message disappears after a commit sometimes"
- VSCode Version: 1.36.1
- OS Version: macOS mojave 10.14.6

Steps to Reproduce:
Doesn't consistently happen.

1. Make changes to a file (on remote ssh, for me)
2. Stage changes using the source control feature in vs code
3. Edit commit message (at this point, the default commit message is usually there in vs code source control feature)
4. Commit changes (using command line or feature in vs code)

[2019-10-10 23:59] Tyriar commented on #80674
Yeah global is what we actually want. Not sure what you mean with the duplicate action, my thinking was changing the key to something that would be unique for a folder like `${IS_WORKSPACE_SHELL_ALLOWED_STORAGE_KEY}_${folderUri.toString()}`

[2019-10-11 00:06] w9jds commented on #80674
If we make it global and locked to a specific folder wouldn't that just make it permanent for that folder regardless of what workspace the user is in?

So the original issue was that this happens when duplicating workspaces. Since the notification comes up when duplicating a workspace, and the action doesn't actually duplicate that workspace's storage too, shouldn't we just copy the storage for th

[2019-10-11 00:10] Tyriar commented on #70444
@twadleigh Julia is a shell that can also run files right? My proposal was doing something like this:

[code]

After run it would leave a shell hanging though.

[2019-10-11 00:14] Tyriar commented on #80674
@w9jds but the problem is a little more general than that, duplicating the workspace is one way to get into this state, creating a new window and adding the folder as a workspace folder would also trigger this. The shell "workspace" permissions was added to ensure users trusted that particular _folder_ to modify those settings, I would argue that the fact that the particular folder is in a differe

[2019-10-11 00:15] Tyriar commented on #80674
The naming kind of sucks with this thinking, "Manager Folder Shell Permissions" would be more correct if we go with this model.

[2019-10-11 00:18] w9jds commented on #80674
I can see that, I'll go ahead and see if I can get this working properly then based on folder instead of workspace.

[2019-10-11 00:30] stouf commented on #74955
@Tyriar Great! Thank you for the reference, I'll follow 🙂

[2019-10-11 00:36] mjbvz commented on #82295
Closing as we've shipped the recovery

[2019-10-11 00:36] #82295 closed

[2019-10-11 00:40] mjbvz commented on #82130
Yes we've had some issues with network drives in the past.

Can you please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

Look through that log file for errors or stack traces. If you can share th

[2019-10-11 00:40] mjbvz commented on #81996
Closing as not actionable without more information

[2019-10-11 00:40] #81996 closed

[2019-10-11 00:41] #19140 closed

[2019-10-11 00:41] #19142 closed

[2019-10-11 00:43] zingdle commented on #82215
@Tyriar Default Microsoft Pinyin input on Windows 10

[2019-10-11 00:44] #42347 closed

[2019-10-11 00:45] #21042 closed

[2019-10-11 00:45] #19420 closed

[2019-10-11 00:46] mjbvz commented on #19420
The formatter correctly handles these cases. I don't think it's worth trying to fix `reindent lines` give the complexity and risk of regressions

[2019-10-11 00:47] #43783 closed

[2019-10-11 00:48] #59942 closed

[2019-10-11 00:49] mjbvz commented on #66187
Closing in favor of #10266.

[2019-10-11 00:49] #66187 closed

[2019-10-11 00:50] #69725 closed

[2019-10-11 00:50] sbatten opened #82298 "this.getConnection is not a function"
When debugging VS Code, I get this error:
![image](https://user-images.githubusercontent.com/6561887/66616584-422e8200-eb86-11e9-92c9-02d8b872e71d.png)

It seems to be a result of d1b81e23db70c5c062c3adc162cb5f3477553176

[2019-10-11 00:55] GWIian opened #82299 "Please add a configuration file to control which extensions are enabled or disabled"
Overall, vscode is great, and I'd like you to add a new feature: for extensions, you can have a special configuration file under the.vscode folder to control which plug-ins you need to enable for the project itself. Plug-ins not in the list are automatically disabled in the workspace, plug-ins in the list are automatically enabled, and uninstalled plug-ins can be automatically installed. I thought

[2019-10-11 00:58] mjbvz commented on #82276
I can't reproduce this. What is the version of TypeScript you have in your workspace?

[2019-10-11 00:59] mjbvz commented on #82267
Please use the issue template. /needsMoreInfo

Also what do you expect to be able to complete?

[2019-10-11 01:00] Dijir opened #82300 "YAML incorrect highlighting"
Hello,

I've been experiencing a problem with YAML files. Some files are not correctly highlighted:
![yaml](https://user-images.githubusercontent.com/4081931/66616716-e7098900-eb9f-11e9-9359-a6995ad4ab01.png)
![yaml2](https://user-images.githubusercontent.com/4081931/66616902-9b0b1400-eba0-11e9-87e6-38b7a20bc015.png)

Thanks.

- Version: 1.39.0-insider (user setup)
- Commit: c8252b63f547674d2faf36

[2019-10-11 01:00] mjbvz commented on #82199
Please share the text of the code along with screenshots

[2019-10-11 01:01] Colengms commented on #80783
Hi @alexr00 , We have https://github.com/microsoft/vscode-cpptools/issues/938 regarding the C++ alignof operator (`keyword.operator.alignof.cpp`) not being colored by default themes.  Could we add that also?

![image](https://user-images.githubusercontent.com/49173979/66616938-b4539680-eb87-11e9-93a1-dcc28553fce0.png)

[2019-10-11 01:03] roblourens commented on #82191
I think this is ok. The PHP is still executing, it's not commented out by html comments.

[code]

output:

[code]

[2019-10-11 01:03] #82191 closed

[2019-10-11 01:21] xiaoronggh commented on #82244
I updated the latest version 1.39.1, and there was no problem.

[2019-10-11 01:21] #82244 closed

[2019-10-11 01:30] PL47ER commented on #82130
Ok, following your lead.

Regarding providing you the log file, yes I can't post it in public, please provide alternate ways to send you the log file. Thanks.

[2019-10-11 01:35] ganxy1028 commented on #82199
Actually, code itself does't matter this issue. It influences on any kind of code with numbers.

[test.txt](https://github.com/microsoft/vscode/files/3715228/test.txt)

[2019-10-11 01:39] gzx-miller commented on #82218
![Snipaste_2019-10-11_09-38-41](https://user-images.githubusercontent.com/28978984/66618234-feca2700-ec0a-11e9-8a59-fec51729957c.png)

[2019-10-11 01:41] PL47ER commented on #82130
I have got the error log. Please let me know how would you like to get it.

[2019-10-11 01:41] gzx-miller commented on #82218
It's 100% repro in any project. now, I'm using vscode inside well, thank you.

[2019-10-11 02:00] mayeths commented on #82259
wow that also works for me!(remove related dir in windows) Thanks for @CaseyChester 's solution, I should close this now.

[2019-10-11 02:00] #82259 closed

[2019-10-11 02:10] afkratien opened #82302 "VSCode cannot open on macos Catalina"
- VSCode Version: 1.39
- OS Version: macos Catalina

<img width="896" alt="Screenshot 2019-10-11 at 09 08 10" src="https://user-images.githubusercontent.com/28397259/66619390-f40d9300-ec06-11e9-8cfc-162e2717a7ad.png">

[2019-10-11 02:26] fcrespo82 opened #82303 "Did #70984 sneaked in again?"
Issue Type: <b>Bug</b>

I'm getting `[2019-10-10 23:16:49.910] [main] [trace] IPC#vscode:exit 0` on vscode logs, which kills the extension test AND host.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:35:11.314Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz (4 x

[2019-10-11 02:26] inu1255 opened #82304 "add configure for joinLines, support join lines without space"
before:
[code]
after:
[code]

[2019-10-11 02:44] PL47ER commented on #82130
Just for time being, I am skipping the Info bits from the log, pasting error bits to at least give you some indication.

[code]

[2019-10-11 02:58] dkazmer commented on #76990
Basically the equivalent to saying Nice to have, but fuck it.
I hate that bot.

[2019-10-11 03:15] FAYEMOU opened #82305 "prompt the python auto-hint, but each hint is represented by '-' not a normal word(s)"
1.prompt python smart-hint normally (on linux)
2.detailed hint is weird: it is represented by '-', not normal words

Does this issue occur when all extensions are disabled?: Yes
![Screenshot from 2019-10-11 11-13-00](https://user-images.githubusercontent.com/32035205/66621838-1a87fa00-ec18-11e9-8d5b-bfd1dbbbf5d2.png)

[2019-10-11 03:18] cnjeffliu opened #82306 "search file on selected characters"
Issue Type: <b>Feature Request</b>

when i want to search an file, whose name prefix in editor, I hope the selected characters can fill in search edittext automatically.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.17134

[2019-10-11 03:21] garyking commented on #82278
I noticed this bug appeared recently too. Maybe a day or two ago. Perhaps since the 1.39.0 release.

[2019-10-11 03:27] rhdlilj commented on #82225
Holding the mouse button down is trying to explain the problem.
In fact, I was selected the code and trying to copy it, but as clicking the mouse it do the paste.
That was feeling bad.

[2019-10-11 04:14] Systemcluster commented on #26048
How do regularly launched CMD and Powershell have properly expanded variables then? There has to exist a standard mechanism that Microsoft is using for those I assume.

I also think that `%USERPROFILE%` is resolved to the non-existing path `C:\WINDOWS\system32\config\systemprofile` in VSCode when it is used in the system variables instead of the user variables is relevant to look at. VSCode simply

[2019-10-11 04:26] banatara opened #82307 "java organize imports shortcut does not work on the first time"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Alt+shift+o does not work on the first time. It works when I try after Ctrl+Shit+o. I use earlier combination for java organise imports

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.18362

<

[2019-10-11 04:45] ranolfi commented on #19597
Strange, I could've sworn this feature was already on VS Code.

[2019-10-11 04:57] dilin-MS commented on #80719
I met the same problem here.

Before VS 1.39, it works well and when I run F5 to debug, the debug window will auto-open the `${workspaceRoot}/data/` folder for me to debug.
After update VS to 1.39, VS fails to debug saying `Cannot debug extension (r.filter is not a function)`. Only by removing the ` ${workspaceRoot}/data/` in the `args` can debug mode works.

[code]

[2019-10-11 05:11] linuxjh commented on #82194
Still, please fix this for C++ Outline View. It's more important than all the other features like color scheme, font setting, etc..
Adopt new DocumentSymbol API
https://github.com/microsoft/vscode-cpptools/issues/2230

[2019-10-11 05:16] fr43nk commented on #82264
Hi,
I don't fully understand the technical details, why it broke the scm view. So my question is: What needs to be done from my side as a extension maintainer (vscode-clearcase) to make use of the tree rendering? Perhaps you can give some kind of advice about that.
Thank you in advance.

[2019-10-11 05:30] code-knayam opened #82308 "Settings getting overlapped"
Issue
![Screenshot from 2019-10-11 11-00-30](https://user-images.githubusercontent.com/23213159/66626572-5de16900-ec16-11e9-9ba5-834c5e5e1139.png)
 Type: <b>Bug</b>

Under the workspace settings tab, when you scroll down multiple settings are getting overlapped. Not able to identify what settings are present where.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08

[2019-10-11 05:48] vscodeerrors opened #82309 "Uncaught TypeError: Cannot read property 'isWrapped' of undefined"
Issue Id: <b>1d6e1725-0dc1-41e2-8445-2cd8fbd6c636</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />-  d3eb24828e2d977e4f3ac16ff1a332a020028464<br />-  e0762af258c0b20320ed03f3871a41967acc4421<br />-  a655c0836de8b8e06f4d56fa4e581b0ced53f56f<br />-  695ee74864ef93d10f5de0861cb66af190e76211<br />-  79978f96d3501f14b235ed0a3

[2019-10-11 05:48] vscodeerrors opened #82310 "Cannot read property 'substring' of undefined"
Issue Id: <b>f2246a63-a8e6-9b9a-f92c-bc61d6bae743</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />*Stack* <br />TypeError: Cannot read property 'substring' of undefined<br />	at t.ExtHostDocumentData._acceptInsertText (<REDACTED: user-file-path>:217:448)<br />	at t.ExtHostDocumentData.onEvents (<REDACTED: user-file-path>

[2019-10-11 05:48] vscodeerrors opened #82311 "Cannot read property 'toString' of null"
Issue Id: <b>93697664-3090-9c26-3575-c99ea1ba8c33</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />-  d3eb24828e2d977e4f3ac16ff1a332a020028464<br />*Stack* <br />TypeError: Cannot read property 'toString' of null<br />    at T.getWorkspaceFolder (<REDACTED: user-file-path>:666:790)<br />    at R.getWorkspaceFolder (<REDAC

[2019-10-11 05:49] vscodeerrors opened #82312 "Cannot read property 'resize' of undefined"
Issue Id: <b>26abe9a0-1ac7-981e-40af-bc6da2caad42</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />-  d3eb24828e2d977e4f3ac16ff1a332a020028464<br />*Stack* <br />TypeError: Cannot read property 'resize' of undefined<br />	at y.$acceptProcessResize (<REDACTED: user-file-path>:628:418)<br />	at p._doInvokeHandler (<REDACTED

[2019-10-11 05:49] alshdavid opened #82313 "Typescript highlighting, show union type name rather than its components"
Version: 1.39.0
Commit: 9df03c6d6ce97c6645c5846f6dfa2a6a7d276515
Date: 2019-10-09T06:57:43.593Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

In the scenario where I have a type which is composed of multiple interfaces, the intellisense prompt shows the types which the type contains rather than the named parent type.

Example:

Say I have

[2019-10-11 05:49] vscodeerrors opened #82314 "Cannot read property 'scope' of undefined"
Issue Id: <b>62907399-48b8-de2c-b980-2b73e661055d</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />*Stack* <br />TypeError: Cannot read property 'scope' of undefined<br />[/vs/workbench/services/configuration/common/configurationEditingService.ts#446:47 (resolveAndValidate)](https://github.com/microsoft/vscode/blob/9df03c

[2019-10-11 05:49] vscodeerrors opened #82315 "Cannot read property 'report' of null"
Issue Id: <b>bc79b082-74e2-52c0-ab62-8fff3dbaff71</b><br /><br />*Versions* <br />- 1.39.0-insider (10/9/2019 8:11:06 AM)<br />-  c8252b63f547674d2faf361d4181bb76b0b5f81a<br />-  a655c0836de8b8e06f4d56fa4e581b0ced53f56f<br />*Stack* <br />TypeError: Cannot read property 'report' of null<br />[/vs/workbench/contrib/remote/browser/remote.ts#665:26 (_render)](https://github.com/microsoft/vscode/blob/

[2019-10-11 05:51] bpasero commented on #81548
@deepak1556 every heard of this issue where closing VSCode when slack or chrome is running causes all network requests to stop working?

[2019-10-11 05:51] bpasero commented on #79665
Ok we can add a setting. If someone wants to provide a minimal PR.

[2019-10-11 05:52] bpasero commented on #78150
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2019-10-11 05:54] #79305 closed

[2019-10-11 05:56] bpasero commented on #56964
@felipe1982 are you up for an experiment to see if this reproduces in Electron too? That would involve running https://github.com/atom/electron and opening a website in there to see if scrolling is any different?

[2019-10-11 05:57] gcy3y opened #82316 "不能正常保存文件"
在使用vim的前提下，
保存的时候，ctrl-s，修改的内容没有被保存，
或者
在最后几行添加重复的代码。

Extension | Author (truncated) | Version
-- | -- | --
githistory | don | 0.4.6
gitlens | eam | 10.1.1
git-project-manager | fel | 1.7.1
beautify | Hoo | 1.5.0
githd | hui | 2.1.0
vscode-git-add-and-commit | iva | 2.1.1
git-graph | mhu | 1.17.0
vscode-docker | ms- | 0.8.1
python | ms- | 2019.10.41019
Go | ms- | 0.11.7
unittest-switcher | tak |

[2019-10-11 06:03] #80516 closed

[2019-10-11 06:03] gcy3y commented on #82316
restart vscode can resolve,but need always restart

[2019-10-11 06:12] deelaka opened #82317 "Signing GPG keys failing to validate"
Apologies if this is not the place to highlight this issue.

On [https://packages.microsoft.com/yumrepos/vscode/repodata/](https://packages.microsoft.com/yumrepos/vscode/repodata/)

The GPG keys have been failing to validate `repomd.xml.asc` with the `repomd.xml` file using `Microsoft (Release signing) <gpgsecurity@microsoft.com> (EB3E 94AD BE12 29CF)`.

Thus the package management system on my ma

[2019-10-11 06:18] rhdlilj commented on #82225
![out](https://user-images.githubusercontent.com/55023294/66628608-e4f00a80-ec31-11e9-9e03-dfcc22d9b056.gif)
@sbatten

[2019-10-11 06:20] LiuYHang opened #82318 "All extensions become disabled (update to 1.39.1)"
- VSCode Version:1.39.1

![image](https://user-images.githubusercontent.com/36982323/66628455-78750b80-ec31-11e9-866f-9fe32664f010.png)

[2019-10-11 06:23] bpasero commented on #82277
It looks like https://vscode-auth.github.com is a default trusted domain from our product.json. I cannot reproduce running out of sources.

I leave it up to @octref to decide if the defaults should show up in the management UI to be disabled if the user whishes so.

[2019-10-11 06:25] xcrossed commented on #82135
Version: 1.39.0
Commit: 9df03c6d6ce97c6645c5846f6dfa2a6a7d276515
Date: 2019-10-09T06:58:03.188Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-65-generic snap

[2019-10-11 06:28] xcrossed commented on #82135
when you uninstall extension,after reload,the extension will automatition install

[2019-10-11 06:31] sandheepp opened #82319 "Terminal window is blank"
Issue Type: <b>Bug</b>

Randomly, when I startup code sometimes.
I don't know why this occurs

VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:30:08.229Z)
OS version: Linux x64 5.0.0-31-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz (4 x 2833)|
|GPU Status|2d_canvas: unavailable_sof

[2019-10-11 06:33] joaomoreno commented on #82264
@fr43nk Absolutely. What I argue in this issue is that you, as an extension maintainer, should not have to do anything to benefit from this feature. It should just work.

[2019-10-11 06:34] joaomoreno commented on #82135
Can you tell me a list of all extensions you have installed?

[2019-10-11 06:43] DanTup commented on #46696
That's not true if extensions start using it for deciding which SDK to use. I think it's confusing to users that setting terminal settings might change things in the editor. This request was specifically about having an option that was very clearly additional `PATH`s for a workspace and very simple for extensions to read.

I wonder if I could just use `sendText()` on the terminal to set the path (

[2019-10-11 06:44] amiceli commented on #66233
To rename a file I use that extension : https://github.com/sleistner/vscode-fileutils
It can be useful.

[2019-10-11 06:46] sprite-1 opened #82320 "[Cosmetic Issue] Scrollbar showing in open editors even if there's no need for it causing content to be pushed up unnecessarily"
Issue Type: <b>Bug</b>

Is there any way to stop this behavior from happening?
![1570747308789](https://user-images.githubusercontent.com/33685433/66629943-bffd9680-ec35-11e9-8cc3-1b56eec9e96e.gif)

VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:04.439Z)
OS version: Windows_NT x64 10.0.18362

[2019-10-11 06:46] heartacker opened #82321 "please merge this color for c/c++ marco"
[dimmed-monokai-color-theme.json](extensions/theme-monokai-dimmed/themes/dimmed-monokai-color-theme.json)
please add this color  for c/c++ in order to identity macro and processor in c/c++ ;
3q
`{
			"name": "Function name",
			"scope": "entity.name.function",
			"settings": {
				"fontStyle": "",
				"foreground": "#CE6700"
			}
		},

		{
            "name": "Macro Preprocessor of c/c++",

[2019-10-11 06:54] martinsura commented on #82276
[code]
Also try install latest vs code insider, disable all extensions and results is same.

After typing CutstomComponent<User> and try suggest first prop -> no intellisense.

[2019-10-11 06:58] martinsura commented on #82276
Btw Sandbox (react+tsx) has same problem.

https://codesandbox.io/s/blue-river-9gy5j?fontsize=14&module=%2Fsrc%2Fcustom.tsx

[2019-10-11 07:04] philo23 commented on #56964
This bug also happens in Spotify (horizontally scrolling recently played n the Home screen) and acts the exact same way (it works scrolls horizontally a little tiny bit once, then never again.) While Spotify isn’t actually Electron, it is using Chrome Embedded Framework from what I understand.

So I’m kinda convinced this isn’t a VSCode or even an Electron bug unfortunately, but some kind of issue

[2019-10-11 07:05] trapias commented on #82302
I have the same error, tried downloading latest version and reinstalling without success.

[2019-10-11 07:13] danlub commented on #53034
This is great! Thanks!
When will it be included in the stable version, approximately?

[2019-10-11 07:18] noferusername opened #82322 "debugger not working after fresh install (tried twice)"
Issue Type: <b>Bug</b>

Debugger runs but no variables show up. Everything is freshly installed. I did no changes, anything. I simply try it on a simple code and does nothing

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2019-10-11 07:21] JonWallsten opened #82323 "Editor removes all text after cursor when using autocomplete to import"
- Version: 1.40.0-insider (user setup)
- Commit: 72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb
- Date: 2019-10-11T05:44:05.506Z
- Electron: 6.0.12
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Write a line of code including a function that needs to be imported and that has a callback (there's probably plenty of ways to rep

[2019-10-11 07:23] actboy168 commented on #82143
I updated the latest vscode insiders(72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb) and it still does.

This is the log for all DAPs. The thread ID provided by VSCode in the pause request is 0, but thread 0 has previously sent an exit event. In addition, you can see that thread 0 has exited in the CALL STACK view.

![2](https://user-images.githubusercontent.com/1836844/66632200-7c595b80-ec3a-11e9-8bcc-

[2019-10-11 07:25] AlekSi commented on #66449
This issue affects a group of people, has more than 10 :+1:, has steps to reproduce, and self-contained example. The fix is likely to be small and self-contained too. According to https://aka.ms/vscode-out-of-scope it should be reopened. @jrieken @isidorn @bpasero please reopen.

[2019-10-11 07:26] yamachu opened #82324 "When we use auto-complete, text where after cursor will be removed"
- VSCode Version: 1.40.0-insider (72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb)
- OS Version: macOSX 10.15

Steps to Reproduce:

1. use auto-complete and press tab

Does this issue occur when all extensions are disabled?: Yes

---

1.40.0-insider (72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb)
![vscode-new](https://user-images.githubusercontent.com/1955233/66632499-92b7e500-ec43-11e9-8d05-2c44d09dcdda.gif)

[2019-10-11 07:31] vadimmos opened #82325 "Source control"
In the version control panel, sometimes nothing is displayed, although there are modified files, both local and remote. Sometimes only local changes are displayed, with the update button at the bottom left showing that there are remote changes. Even the "Remote Changes" tab is present and shows the number of files changed remotely, but does not show the files themselves.

[2019-10-11 07:46] sschultze commented on #82109
One of my computers I downgraded to macOS Mojave because of this issue.

On the other computer, downgrading is not possible (because of my photo library etc.), but I've found a workaround at least for the code editor:

You can play around with the setting "Editor: Letter Spacing". On my computer, entering "-0.2" did a good job at working around this issue (at least for the editor, which is the mos

[2019-10-11 07:49] isidorn commented on #82218
@gzx-miller please answer all questions posted by @sbatten [here](https://github.com/microsoft/vscode/issues/82218#issuecomment-540711290) thanks!

Insiders can open multiple editors, what do you mean? Can you open another issue regarding this. Please note that insiders does not have all your extensions installed.

[2019-10-11 07:50] MrAndersen1 opened #82326 "Blinking cursor when window not focused"
Issue Type: <b>Bug</b>

Happens on Mac.
Can reproduce constantly by having a (one or more) Visual Studio Code editor and another window (Chrome for me). Let the other window have focus, lock the screen (apple icon -> lock screen), log in again and then all visual studio code editors have blinking cursors even though the other app has focus.
The blinking cursors don't go away until the editor has r

[2019-10-11 07:51] sanket-bhalerao commented on #82206
@aeschli issue started appearing after the vscode open link update was pushed.

[2019-10-11 07:52] #81888 closed

[2019-10-11 07:53] GerrGIT commented on #53034
Looks awesome indeed! Hope it will be in the next update, thanks a lot.

[2019-10-11 07:55] ewantowie commented on #34940
Thanks! I tried the tarball on my workstation but unfortunately I can't run the binary as it dumps the following error:

./VSCode-linux-x64-exploration/code-exploration
[185008:1011/095219.694227:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /remote/gb12tc

[2019-10-11 07:58] isidorn commented on #66449
Sure, we can reopen.

[2019-10-11 07:58] rivergold opened #82327 "remote-ssh not work, occur "TERM environment variable not set" error"
- VSCode Version: 1.39.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. edit ~/.sshr/config
2. use remote-ssh to connect remote server

Does this issue occur when all extensions are disabled?: Yes

The output of remote-ssh:

[code]

I use `zsh` as my shell.
I have tried to use other commands:
[code]
I have been troubled by this problem for a long time.
Is there any way to edit the ssh command

[2019-10-11 08:03] #49693 closed

[2019-10-11 08:05] seveneye commented on #82325
Same here. Source control shows nothing.. no tabs no text anything..

![image](https://user-images.githubusercontent.com/34580189/66635034-f391ee00-ec40-11e9-8b1b-2b3b209fcbae.png)

[2019-10-11 08:08] petervandivier commented on #42661
Almost, but perhaps not quite. You can access and query the sqlite db directly (in my case at `~/Library/Application Support/Code/User/workspaceStorage/*/state.vscdb`. It _looks like_ the relevant key may be `workbench.explorer.treeViewState`, but I'll need to play with it a bit for funsies before making too many assumptions

ty! 😄

[2019-10-11 08:09] Moghul opened #82328 "Expand "choice" functionality to multiline and variables"
I'm trying to create a more complex 'function' snippet, by allowing you to select different options for the signature after the snippet was selected.

For example, right now, I have a 'choice' for the visibility of the function, like
`${1|public,private,protected|}`

I want to be able to use the same functionality for the number of params and return type hints, including "none" as an option.

Righ

[2019-10-11 08:10] alexandrudima commented on #53635
I cannot reproduce this anymore, middle clicking in the replace field does not trigger a selection paste in the editor:

![Kapture 2019-10-11 at 10 09 39](https://user-images.githubusercontent.com/5047891/66635338-48b50c00-ec0f-11e9-81b9-21188210f90b.gif)

[2019-10-11 08:10] #53635 closed

[2019-10-11 08:16] yuxuan opened #82329 "How could I create an interactive terminal"
I created an extension, which creates a new terminal and executes some shell commands (there are some logic around each commands output, I was using `onDidWriteData` to do that), then users can keep working with terminal.

I notice that the new terminal api finalized, the `onDidWriteData` function is gone. The pseudoterminal seems not able to be interactive, well the terminal doesn't have `onDidWr

[2019-10-11 08:20] muuvmuuv opened #82330 "CSS property completion with semicolon should place cursor at the end after inserting value"
This is pretty self-explanatory. Before "CSS property completion with semicolon" was added my workflow was okay, the feature was really missing(!) but:

1. inserted `colo`
2. selected color from dropdown
3.  inserted `red;`
4. pressed enter to go to next line for new prop

And now it is:

1. inserted `colo`
2. selected color from dropdown
3.  inserted `red`
4. move cursor one right
5. pressed ente

[2019-10-11 08:21] jcgerhard opened #82331 "Markdown (Pre-)View Default Options"
# Markdown (Pre-)View Default Options

## Motivation

First of all: I really really like VSCode! I tried a lot of other editor/IDEs before, but none of them felt so comfortable and smooth like this. So I dropped all other apps and started to go my way with VSCode as my "everyday-swiss-army-knife" for coding, texting, writing, note-taking and everything else that needs a text editor.

My job as a s

[2019-10-11 08:24] amiralisalimi commented on #76798
I found a new fact. When I use vector container in c++ (which is an array with dynamic size), even when I set it's size to something more than 100000, there is no problem viewing it's elements on the debugging panel. It actually only shows the first 1000 elements.
(code version 1.39.1)

[2019-10-11 08:25] joaomoreno opened #82332 "Debug: Support launch config grouping and sorting"
It would be cool to support grouping in the debug launch configs, such that we can minimize the noise in the picker:

![image](https://user-images.githubusercontent.com/22350/66636353-51a6dd00-ec11-11e9-805c-fca2e3003055.png)

One idea is to mimic the menu API: https://code.visualstudio.com/api/references/contribution-points#Sorting-inside-groups

We could support a `group` option which would allo

[2019-10-11 08:26] MariusJost opened #82333 "Browser instances opened from VS Code will be sorted under the Code icon in the task bar"
- **VSCode Version**: 1.39.0
- **OS Version**: Linux x64 5.0, Ubuntu 18.04.3, GNOME 3.28.2
- **Firefox**: 69.0.2
- **Extensions**:
Bookmarks | ale | 10.5.0
vscode-terminal-themes | ctf | 0.0.6
vscode-eslint | dba | 1.9.1
gitlens | eam | 10.1.1
vscode-html-css | ecm | 0.2.3
LogFileHighlighter | emi | 2.6.0
php-debug | fel | 1.13.0
php-intellisense | fel | 2.3.13
php-pack | fel | 1.0.2
todo-tree | G

[2019-10-11 08:35] gerk59 commented on #82322
I observed the same behavior on version 1.39, using Python extension (while starting unittests)
Version 1.38.1 still runs all tests, the new version(s) most of the time don't start to run / debug individual tests.

[2019-10-11 08:37] Klian opened #82334 "Git commits stop working... no errors!"
- VSCode Version: 1.38.1
- OS Version: MacOS X 10.13.6

Steps to Reproduce:

1. Make some changes into a git repository
2. Try to commit clicking the check button

Does this issue occur when all extensions are disabled?:  Yes

Hello,

I cannot make git commits anymore from VSCode . I hit the "check" button and nothing happens.

Git works in my system, because I can make commit from command line in

[2019-10-11 08:37] xiaoxiao426 opened #82335 "How to debounce when the provideCompletionItems is triggered in high frequency"
- description:
I add implement of provideCompletionItems， and it will provide some customize items. when the function of provideCompletionItems id trggered, firstly, i send the restful service to acquire data for completionItems. now my question is that: the restful service is sent in high frequency, this is not reasonable, I want to debounce  when the  provideCompletionItems is triggered in high

[2019-10-11 08:40] letmaik opened #82336 "Webview.asWebviewUri not working in Remote"
VS Code version: Code - Insiders 1.40.0-insider (193fead4103363d1a14873bcf38181d97cf611f6, 2019-10-10T05:26:43.233Z)
OS version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Create webview extension with explorer context menu item
2. Use `webview.asWebviewUri(resource)` to load file within webview.
3. Install extension in Remote SSH target and try it out.

Error is: `Failed to load resource:

[2019-10-11 08:46] Lharesh opened #82337 "The formatting of JSX code inside JS is getting disturbed with Save"
Upon saving the code, the Visual Studio code is deformatting the JSX tags inside Javascript and showing errors.

[2019-10-11 08:48] kanami1990 opened #82338 "Can not open local file with url scheme"
- VSCode Version: 1.39.1
- OS Version: MACOS 10.14.6

Steps to Reproduce:

1. use chrome open url "vscode://file/full/path/to/file"

Does this issue occur when all extensions are disabled?: Yes

it can work with 1.35 version, after update to 1.39 ,when I open url scheme,it only open a untitled-1 table

[2019-10-11 08:52] egamma commented on #63298
@Tyriar correct, we had some activity on this page after we launched extensions, but it is no longer managed and therefore has no value. I've removed it.

[2019-10-11 08:53] #79493 closed

[2019-10-11 08:54] vistatest opened #82339 "Duplicate entries in symbol lists"
- VSCode Version:  Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:31:32.854Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.6.0

Installed extensions: Python LS, Pyright

Steps to Reproduce:
Search for a symbol (Command-T) - see all entries twice in the list.
Several other search-related commands also have e

[2019-10-11 08:56] ThisIsABug commented on #5455
@AnneTheAgile just for clarification: the origin of this feature request wasn't the possibility to expose a whole context menu, this is already working some pixels to the right of the gutter. So the user has a very similar possibility already.
The origin was here: https://github.com/alefragnani/vscode-bookmarks/issues/24
It is just about the mentioned decorator. It is about a single left-click fea

[2019-10-11 08:59] yamachu commented on #82324
`git checkout 13dc6f18ac5988cfdac285dd76c0232b1378b2dc`

works fine

`git checkout 3a626d89a0916c1a478c8fac8b076d6b7dd87ca4`

seems to be broken

[2019-10-11 08:59] egamma commented on #82194
@linuxjh this is the iteration plan for VS Code team and the VS Code editor. You are asking for a fix in an extension which is maintained by another team.

Please check the issue you are asking to be fixed... it has been fixed in the meantime, please see https://github.com/microsoft/vscode-cpptools/issues/2230#issuecomment-536695862

[2019-10-11 09:00] #60982 closed

[2019-10-11 09:00] Unlocku opened #82340 "problem about touch bar"
Issue Type: <b>Performance Issue</b>

There are some problems in vscode, I can not use touch bar to debug the code, which means "step into" "step over" are invalid. However, "start with debugging" and "start without debugging" are normal.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:35:11.314Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info<

[2019-10-11 09:02] gzx-miller commented on #82218
sbatten ask:
   is this 100% repro?  can you reproduce this issue in different workspaces?
my answer:
   It's 100% repro in any project.
insider version can not open multiple editors. I won't open another issue, because I find another way to recover my environment: install an old version of vscode, and config forbid upgrade. @isidorn

[2019-10-11 09:02] alexandrudima commented on #67671
@escaner I cannot reproduce this anymore. Can you please also try with the latest insiders - https://code.visualstudio.com/insiders/

[2019-10-11 09:04] #72522 closed

[2019-10-11 09:09] joaomoreno commented on #82325
#82203

[2019-10-11 09:09] #82325 closed

[2019-10-11 09:13] #75345 closed

[2019-10-11 09:19] joaomoreno commented on #82218
@gzx-miller Can you share a screenshot of Insiders as well?

Can you try running in a separate user data dir: `code --user-data-dir NEW_FOLDER`? Does it work then?

[2019-10-11 09:20] Avinm opened #82343 "Regression with Ctr+F when large data is Selected"
- VSCode Version: 1.39.0
- OS Version: OSX 10.14.6

Steps to Reproduce:

1. Open a file in VS Code
2. Select a large portion of the file
3. Hit Ctrl+F for search
4. Ctrl + F autopopulates data from selection
5. VSCode hangs.

Does this issue occur when all extensions are disabled?: Yes

While a possible work around is to disable the setting "Seed Search String From Selection", vscode could prevent

[2019-10-11 09:21] #80170 closed

[2019-10-11 09:23] Schwarzarbeiter opened #82344 "Call insertSnippet from other extension"
I am trying to use this [extension](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-commands) to add buttons to the status bar which should insert snippets when clicked. Unfortunatly I cannot pass the snippet to the `editor.action.insertSnippet` command. The following examples are from the `settings.json` config of the extension.

Simply passing a string as argument only

[2019-10-11 09:24] dwelle commented on #65334
Alright, I'll upvote that one - thanks.

[2019-10-11 09:25] isidorn commented on #82332
This makes sense. Assigning to October to look into it this milestone.
The `group` option would be in the launch configuration. We should maybe filter it out before sending it out to the debug adapter. Whoever we already have some "UX" attributes in the configuration so this shuold not be new teritory.

Related - duplicate https://github.com/microsoft/vscode/issues/64624

fyi @weinand @roblourens

[2019-10-11 09:25] alk4do commented on #80297
###

[2019-10-11 09:26] twk7890 opened #82345 "Format Document function for align the "Import ... from..""
for the format function will to the following
[code]

i would like to
[code]

keep it clear to know the destination

[2019-10-11 09:27] alexr00 commented on #82076
I have pushed a change that should improve this. @itowlson can you install the next insiders build (after 2019-10-11T05:44:05.506Z) and see if you can still see the issue?

I don't think we can completely fix this, but I think this might make it so you rarely see it.

[2019-10-11 09:28] sohailrajdev97 commented on #82173
@Tyriar I would like to take up this issue. Will try to raise a PR for this soon.

[2019-10-11 09:28] isidorn commented on #82294
Happens due to weird timing of events between the EH and the renderer which I am too scared to touch since the current combination seems to work just fine on various builds / platforms / start scenarios.
So will not tackle this immediatly. If you really hate this let me know and I can look into.

[2019-10-11 09:32] bobatsar opened #82346 "Source Control tree view unfolds collapsed directories when adding a file"
Issue Type: <b>Bug</b>

I have some directories with e.g. lots of log files and when using the new tree view in the source control, I would like to fold those folders.

When I now stage a file to git, all folders are unfolded again.

This breaks the whole workflow.

VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:03.188Z)
OS version: Linux x64 4.2.0-42-gene

[2019-10-11 09:33] #82339 closed

[2019-10-11 09:34] isidorn commented on #82340
Dup of https://github.com/microsoft/vscode/issues/82222
The new release will have the fix

[2019-10-11 09:34] #82340 closed

[2019-10-11 09:34] infctr commented on #81642
@bpasero Thanks for the update!

So from left to right
**Stable**
[code]
**Insiders**
[code]
Explorations
[code]

The rendering issue seems to be gone on the Insiders build, the Explorations looks werid tho

![image](https://user-images.githubusercontent.com/15550153/66641214-fa116d00-ec22-11e9-8cbd-57a0f9471af7.png)

[2019-10-11 09:35] isidorn commented on #82343
Potential regression, adding regression label.
I can not repro

[2019-10-11 09:37] #81818 closed

[2019-10-11 09:38] AnrDaemon commented on #9899
Works like a charm after a little configuration. Thank you.

[2019-10-11 09:40] Nickibubi opened #82347 "Validation Check Failure in vscode yumrepo (linux)"
- OS Version: OpenSuse Tumbleweed 20191007

Steps to Reproduce:

1. Get GnuPG key from https://packages.microsoft.com/keys/microsoft.asc
2. Try to install vscode from https://packages.microsoft.com/yumrepos/vscode
3. Receiving Validation Check Failure:

"File repomd.xml from repository Visual Studio Code https://packages.microsoft.com/yumrepos/vscode
is signed with the following GnuPG key, but the

[2019-10-11 09:41] trapias commented on #82302
Found the solution [here](https://github.com/microsoft/vscode/issues/74782)

[2019-10-11 09:44] TonioGela commented on #80591
@jregistr apparently no luck, it's marked as still in progress :(

[2019-10-11 09:44] OliverJAsh commented on #66233
Does that trigger TS's "update imports"?

[2019-10-11 09:46] pirix-gh commented on #82267
Hi @mjbvz, sorry about that. I updated my comment.

[2019-10-11 09:47] ornic commented on #82338
It worked in all versions since April patch, including 1.38.1. In 1.39 it is not. :(

[2019-10-11 09:55] senique opened #82348 "Can't show the folder or file of name 'tmp'."
- VSCode Version: 1.39
- OS Version: Mac Mojave 10.14.6

Steps to Reproduce:

1.Create workspace like this (tmp, tmp1, cantShow.txt are files.):
test-issue/
test-issue/testTmpFile/
**test-issue/testTmpFile/tmp**
test-issue/testTmpFile/tmp1
test-issue/testTmpFolder/
**test-issue/testTmpFolder/tmp/**
**test-issue/testTmpFolder/tmp/cantShow.txt**
2.Use VSCode open this workspace 'test-issue', it only

[2019-10-11 09:57] isidorn commented on #82324
@yamachu thanks for bisecting.
3a626d89a0916c1a478c8fac8b076d6b7dd87ca4 was authered by @jrieken thus assigning to him

[2019-10-11 09:57] TylerLeonhardt commented on #80178
@bergmeister I just meant that the title is specific to PowerShell but this issue is generic.

[2019-10-11 09:57] isidorn commented on #82323
Sounds like a dup of https://github.com/microsoft/vscode/issues/82324
Though leaving to @jrieken to decide

[2019-10-11 09:58] Lharesh commented on #82337
I have pasted the code before after save.
Before:
import React, { Component } from 'react';
import {gql} from 'apollo-boost';
import {graphql} from 'react-apollo';

//create query
const getBooksQuery = gql`
  {
    books{
      id
      name
      genre
    }
  }
`

class BookList extends Component {
    render() {
      console.log(this.props);
        return (
          <div>
            <ul id

[2019-10-11 09:58] isidorn commented on #82322
Please file this against the python extension here https://github.com/microsoft/vscode-python
Thanks!

[2019-10-11 09:58] #82322 closed

[2019-10-11 09:59] isidorn commented on #82348
Can you reproduce this with vscode insiders https://code.visualstudio.com/insiders/
Can you include some picttures?

[2019-10-11 10:00] #82320 closed

[2019-10-11 10:00] Yanpas commented on #82203
@joaomoreno Does that mean that tree view will be available for git only (in 1.39.2 or in future releases too?)? Can there be any workaround e.g. like `.` file?

[2019-10-11 10:02] #82316 closed

[2019-10-11 10:03] isidorn commented on #82312
Bad stack trace -> closing

[2019-10-11 10:03] #82312 closed

[2019-10-11 10:05] #82307 closed

[2019-10-11 10:05] #82305 closed

[2019-10-11 10:07] IllusionMH commented on #82348
Another question : What do you have in User and Workspace settings for **Files: Exclude** (`files.exclude`)?

[2019-10-11 10:09] isidorn commented on #82258
Ok, closing the issue then
fyi @jrieken

[2019-10-11 10:09] #82258 closed

[2019-10-11 10:10] bergmeister commented on #80178
Yes, but since VS Code already has custom code hard coded to the PowerShell extension I'd like to get this fixed quickly by adding the preview extension as well.
The higher level issue with preview extensions is already in another issue that will probably take a long time to get resolved....
Can we please get traction on this issue.

Generally speaking, I am very annoyed by a handful of notificati

[2019-10-11 10:13] isidorn commented on #82338
Dup of https://github.com/microsoft/vscode/issues/82278

[2019-10-11 10:13] #82338 closed

[2019-10-11 10:21] IllusionMH commented on #82337
This code looks OK and formatted as expected.

Can you reproduce this issue with extensions disabled? <kbd>F1</kbd> and `>Developer: Reload With Extensions Disabled` ?
Do you have any other watchers that apply formatting?

[2019-10-11 10:28] joaomoreno commented on #82262
@mohamedmansour Are you sure the file isn't staged? Can you show me a screenshot of the SCM view?

[2019-10-11 10:36] #81777 closed

[2019-10-11 10:41] JonWallsten commented on #82323
@isidorn Yeah, should be the same issue. We must have written them at the same time by the look of the issue numbers. Mine is #82323 and theirs is #82324.

[2019-10-11 10:43] isidorn commented on #82278
Assignig also to @bpasero and @joaomoreno since @aechan is out today
Adding candidate since it sounds like a regression

[2019-10-11 10:43] WiliTest opened #82350 "rate & star the extensions directly from vscode extension page"
Every one would benefit from a quickest way to rate and star an extension. It'll encourage the developers.

If the user is connected to github and/or marketplace, she could simply rate and star the extension directly from the vscode extension presentation. It could look like this (in this example, the star are orange by default, and become red when the user set them):

![2019-10-11_12-47-42](https

[2019-10-11 10:46] ashot11091950 commented on #81522
How to add this option?

[2019-10-11 10:53] linuxjh commented on #82194
I tried the insider release but it failed to be installed

[2019-10-11 10:57] Lharesh commented on #82337
No, I don't have any other watchers.

Thanks & Regards

Dr. Haresh

Mob: 9866533141

On Fri, Oct 11, 2019 at 3:54 PM Andrii Dieiev <notifications@github.com>
wrote:

[2019-10-11 10:58] Ash258 commented on #82282
![image](https://user-images.githubusercontent.com/13260377/66646537-ba4c8480-ec26-11e9-9253-6e3f931be091.png)

[2019-10-11 10:59] Lharesh commented on #82337
even with extensions disabled, it has the same problem.

Thanks & Regards

Dr. Haresh

Mob: 9866533141

On Fri, Oct 11, 2019 at 4:27 PM Haresh Lekkala <hareshlekkala@gmail.com>
wrote:

[2019-10-11 11:01] IllusionMH commented on #82134
Tried this case and yes - there is spike in GPU load when extension tab is open, however it is 12-16% for my PC and does down as soon as I close extension tab.

Opening extension description if Edge (Chromium) only uses 5-6% GPU, however as soon as I apply zoom to Edge tab - GPU goes to 15-16%.

I tried disabling zoom in VS Code but haven't seen big difference `window.zoomLevel` is removed or `1`.

[2019-10-11 11:02] SandeepNdd opened #82351 "Easy setting of a extension from multiple"
Issue Type: <b>Bug</b>

Hi Team,

It is very difficult to re set the default extension if we modified, how it is asking to configure like there should be a way to reset or modify the extension user selected other than default. Example: If i  configure Prettier formatter it will ask to configure, but once you set user cannot figure out how to reset it. Again user has to google what has to be done.

[2019-10-11 11:05] rickstaa commented on #81951
The fix is working thanks!

[2019-10-11 11:05] alefragnani commented on #82350
/duplicate 38511

[2019-10-11 11:06] alefragnani commented on #82350
/duplicate #38511

[2019-10-11 11:22] Serhioromano commented on #53453
@jabacchetta

I think yes. I mean, ok there are some solutions that partially cover some issues. I am an extension developer and I have VS extensions too. I could write my own extension and do not ask anything.

There are some features for extensions and some meat to be in core. User profile on of those. And the fact that those solutions exist only confirm how important it is and that this will be

[2019-10-11 11:25] magnattic commented on #81306
In case anyone runs into this: For me the issue was the extension "Bracket Pair Colorizer". Disabling that fixed the problem.

[2019-10-11 11:26] oncealong opened #82352 "Filename number sort in search result"
Like below, you can set the sort options in Settings, I also want to sort the file in search result.
![image](https://user-images.githubusercontent.com/5340073/66647777-6492cf00-ec5c-11e9-97db-6816e46a6499.png)

---
https://github.com/Microsoft/vscode/issues/5066

[2019-10-11 11:26] lllopo commented on #81102
Ooookay, the issue returned as of :
Version: 1.40.0-insider (user setup)
Commit: 72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb
Date: 2019-10-11T05:44:05.506Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-10-11 11:30] #82323 closed

[2019-10-11 11:34] peaceshi commented on #80513
I write a easy tool to do this.
https://github.com/peaceshi/Syntax-Highlight-Theme/blob/dev/tools/parser.ts

result at :
https://github.com/peaceshi/Syntax-Highlight-Theme/tree/dev/language_tags

maybe useful.

then , just need analysis scopes. I do not has a better way. so I use excel now.
maybe write a tool to analysis them if  I find a way better than use excel .

[2019-10-11 11:35] #82350 closed

[2019-10-11 11:41] willemavjc commented on #44041
@joaomoreno Is there any plan to do something about it?

[2019-10-11 11:42] alexr00 commented on #82321
That foreground color isn't used in this theme currently. To match how the dark and light themes work, it should use the same color as Storage (#9872A2).

@aeschli what do you want to do here? We only do `meta.preprocessor` in the dark and light themes.

[2019-10-11 11:43] alexr00 commented on #82300
Can you please provide a copy/pastable example?

Does this reproduce with all extension disabled?

[2019-10-11 12:01] fedorg commented on #82319
This happens for me when i start debugging Python when the terminal panel is closed. I'm using conda environments. Only started happening in 1.40, Python extension tracks weekly insiders build.
If the terminal panel is open, most of the time it works fine. Toggling the panel with Ctrl+J from this broken state results in a blank panel and "Cannot read property 'style' of undefined" message.
Then th

[2019-10-11 12:13] alexandrudima commented on #82257
We discussed in the stand-up and would like to take it.

[2019-10-11 12:15] alexandrudima commented on #82203
We discussed in the stand-up and we must take it.

[2019-10-11 12:16] kanlukasz commented on #80513
Nice move @peaceshi
I'm looking for this too
I hope they implement it

[2019-10-11 12:18] kanlukasz commented on #80513
By the way, Sublime Text author made good documentation about it:
https://www.sublimetext.com/docs/3/scope_naming.html

[2019-10-11 12:19] kiwibrit opened #82353 "VS Code Insiders V1.39.1 file cannot be opened with Mac Catalina"
- VSCode Version: 1.39.1
- OS Version: Mac OS Catalina 10.15

Attempting to open downloaded file in Finder produces following error message:

_“Visual Studio Code - Insiders” can’t be opened because Apple cannot check it for malicious software._
Steps to Reproduce:

1.Download from web site
2. Double click file in Finder

Does this issue occur when all extensions are disabled?: N/A

[2019-10-11 12:21] 520Chris opened #82354 "Bug in version 1.39: vscode reports "no debug adapter found" when click "start without debugging""
- VSCode Version: Latest
- OS Version: win10

Steps to Reproduce:

1. Create a python file
[code]
2. Click "Start without debugging".

3. Then vscode reports "no debug adapter found"
![image](https://user-images.githubusercontent.com/39628662/66650829-1da8d780-ec64-11e9-8623-9f1ef8308fe5.png)

Does this issue occur when all extensions are disabled?: Yes/No
No

This is the log:
[code]

[2019-10-11 12:25] alexandrudima commented on #20929
Will be fixed by https://github.com/microsoft/vscode/pull/82265

[2019-10-11 12:25] #20929 closed

[2019-10-11 12:28] alexandrudima commented on #82263
@pirix-gh I could never use Alt+click on Ubuntu (the windows would always move when doing so), so I wonder how come this ever worked for you?

[2019-10-11 12:30] alexandrudima commented on #82343
Multiline find input shipped with August 2019...

[2019-10-11 12:31] Jfdocampo opened #82355 "testClass"

[2019-10-11 12:31] #82355 closed

[2019-10-11 12:32] Jfdocampo commented on #82355
prueba de typescript para construir clases utilzadas por ecmascript 5

[2019-10-11 12:34] 520Chris commented on #82354
I have downgrade vscode to 1.38, and the error disappears.

[2019-10-11 12:34] godiard commented on #82172
Could not reproduce the issue later.  If you want, close the issue, and I can reopen with more information if happen again

[2019-10-11 12:44] edimitchel commented on #42149
Or like the one in my issue : https://github.com/Microsoft/vscode/issues/61481#issue-372487152

![image](https://user-images.githubusercontent.com/2922851/66652269-a0666e00-ec35-11e9-94df-d330d44ea5cc.png)

[2019-10-11 12:46] blizzy78 commented on #82347
Looks like a duplicate of #82317.

[2019-10-11 12:49] egamma commented on #65561
@gaoyia I can reproduce this behaviour on Win 10 machine

Script is executed when run from the context menu
![image](https://user-images.githubusercontent.com/172399/66652576-5631bc80-ec36-11e9-8362-05121dd7a2b3.png)

Script is not executed when clicking the hover
![image](https://user-images.githubusercontent.com/172399/66652520-31d5e000-ec36-11e9-8f00-22825d56aa96.png)

[2019-10-11 12:51] pirix-gh commented on #82263
Hi @alexandrudima. I had disabled the window drag with dconf https://askubuntu.com/questions/521423/how-can-i-disable-altclick-window-dragging (that I replaced with the <super> button). Like I said, it was working a few days ago until the update came.

[2019-10-11 13:03] alexandrudima commented on #82232
Thanks for following up.

Unfortunately, that kind of scaling is implemented in the same way as `window.zoomLevel`, by Chromium, and it is done at a later rendering pipeline stage than we can influence... On our side, we render two rectangles in CSS pixels (integers) such that there are no gaps between them.

Then, once the rendering pipeline decides to scale things, it will multiply our integer c

[2019-10-11 13:05] nameoverflow opened #82356 "Integrated terminal tries to read '/proc/1/environ'"
- VSCode Version: 1.39.0
- OS Version: Arch Linux

Steps to Reproduce:

1. Disable "terminal.integrated.inheritEnv"
2. Run `code` from cli
2. Start a new ternimal

Does this issue occur when all extensions are disabled?: No

[This function](https://github.com/microsoft/vscode/blob/7f5a4a3f5b/src/vs/workbench/contrib/terminal/node/terminalEnvironment.ts#L21) tries to read environ variables from the

[2019-10-11 13:13] #82347 closed

[2019-10-11 13:16] fcbogle commented on #81615
Hello @sandy081 is there any update on the problems faced here please?

[2019-10-11 13:17] gvcgael opened #82357 "buffers problem when running pwsh throught ssh with git bash integrated console"
- VSCode Version: 1.37.0 and VScode Insiders
- OS Version: Windows 7

Steps to Reproduce:
See https://github.com/PowerShell/PowerShell/issues/10699#issuecomment-541006925
1. Open integrated terminal Git bash session
2. Connect to a debian 10 Virtual machine where pwsh is installed
3. Run pwsh
4. There seems to be a problem with the buffers. Typing commands and running them does not work after the

[2019-10-11 13:18] joaomoreno commented on #82334
Can you reproduce in another project?

Can you reproduce this in the [insider release](https://code.visualstudio.com/insiders)?

Can you reproduce with `--disable-extensions`?

[2019-10-11 13:20] joaomoreno commented on #82297
Has this happened at all without using remote SSH?

[2019-10-11 13:20] joaomoreno commented on #82283
Can you reproduce with `code --disable-extensions` as well?

[2019-10-11 13:22] StickNitro opened #82358 "Selecting IntelliSense overwrites text instead of inserting"
Issue Type: <b>Bug</b>

When selecting an entry from IntelliSense the text on the line after the caret is getting replaced

e.g. closing brackets or braces are replaced, or part of a closing HTML tag gets replaced.

[See this video showing the problem](https://drive.google.com/open?id=1fjmL5tfy-OTIB44xnc9deUcQNBYqAvoh)

VS Code version: Code - Insiders 1.40.0-insider (72bc289d32ec4f867e73b7f1f2a22

[2019-10-11 13:23] joaomoreno commented on #82256
This is why we distribute a user install, please use that instead if you'd like to avoid escalation.

[2019-10-11 13:23] #82256 closed

[2019-10-11 13:23] joaomoreno commented on #82278
https://github.com/microsoft/vscode/issues/82212

[2019-10-11 13:23] #82278 closed

[2019-10-11 13:24] joaomoreno commented on #44041
No plan so far.

[2019-10-11 13:24] #82257 closed

[2019-10-11 13:24] #82203 closed

[2019-10-11 13:25] #82172 closed

[2019-10-11 13:27] senique commented on #82348
U r right. Cause use files.exclude for '**/tmp'.

[2019-10-11 13:27] #82348 closed

[2019-10-11 13:29] senique commented on #82348
Remove files.exclude for '**/tmp', file and folder show right. Thanks.

[2019-10-11 13:30] Klian commented on #82334
Thanks for your reply:

**Can you reproduce in another project?**
Not working

**Can you reproduce this in the insider release?**
It works!

**Can you reproduce with --disable-extensions?**
Not working

[2019-10-11 13:31] #43675 closed

[2019-10-11 13:31] chuling commented on #82165
@isidorn Sorry, maybe I am not express clearly :sob: :sob: :sob:, you have to focus your mouse on the list to see this problem (while debugging) ... I will post some screenshot later :joy: :joy: :joy:, and thanks for replying so quickly.

[2019-10-11 13:32] #58638 closed

[2019-10-11 13:33] #62567 closed

[2019-10-11 13:34] alexandrudima commented on #62981
We now use a mix to maintain compatibility...

[2019-10-11 13:34] #62981 closed

[2019-10-11 13:34] #63510 closed

[2019-10-11 13:34] #63881 closed

[2019-10-11 13:36] #67654 closed

[2019-10-11 13:36] alexandrudima commented on #67745
A workaround is to create custom context keys and manage them from the extension...

[2019-10-11 13:37] #67745 closed

[2019-10-11 13:38] #70060 closed

[2019-10-11 13:39] #70858 closed

[2019-10-11 13:42] #72516 closed

[2019-10-11 13:46] alexandrudima commented on #80000
But Ctrl+k Ctrl+c is bound to Line Comment. Simply use Shift+Alt+A to add a block comment.

[2019-10-11 13:46] #80000 closed

[2019-10-11 13:47] joaomoreno commented on #82334
One final test: can you try running code against a new user data directory? `code --user-data-dir NEWDIR`

[2019-10-11 13:49] andrekampll opened #82359 "VSCode starts with disabled extensions"
Issue Type: <b>Bug</b>

I updated VSCode yesterday and now everytime I start VScode it starts with all my extensions disabled. Tried reinstalling VSCode, but did not work.

All my extensions appear in the "Disabled" area. The only solution to make it work is if I "Disable all extensions" and then "Enable all extensions".

If after this I close vscode, it starts again with disabled extensions.

VS

[2019-10-11 13:50] #55545 closed

[2019-10-11 13:54] IllusionMH commented on #82358
/confirmed

Came here to report same issue and looks like this is new issue (at least I don't remember it yesterday).

Problem occur if I use <kbd>Tab</kbd> to insert suggestion, but it works OK if I use <kbd>Enter</kbd>. At least this is behavior I see in JS files.

@StickNitro can you check if there is difference between using <kbd>Tab</kbd> and <kbd>Enter</kbd> in your case?

Version: 1.40.0-in

[2019-10-11 13:55] andrekampll commented on #82359
Visual info:
![ErrorVSCode](https://user-images.githubusercontent.com/47990063/66657062-8f0d6980-ec15-11e9-9bbe-58e27bdf9ed8.gif)

[2019-10-11 13:59] andrekampll commented on #82359
Errors on startup (Disabled extensions) in developer tools:

[code]

[2019-10-11 13:59] Klian commented on #82334
After running that command is working with vscode Version: 1.39.1

[2019-10-11 14:00] chuling commented on #82165
* material theme lighter

![image](https://user-images.githubusercontent.com/23468295/66657393-551e8080-ec72-11e9-9f51-91bc8809061a.png)

* Github-light vscode theme you use

![image](https://user-images.githubusercontent.com/23468295/66657423-61a2d900-ec72-11e9-91ba-bf32c57c94b9.png)

[2019-10-11 14:01] ShiroKL opened #82360 "Visual Studio code SSH, abnormal behaviors with the terminal and conda."
- VSCode Version: 1.39.1
- OS Version: windows 10

Steps to Reproduce:

1.  Install visual studio code.
2. Connect on ssh on an linux distribution where conda is installed.
3. launch the command "conda" . The error message is "conda : command not found" using the terminal bash ( "bin/bash" ). If I use putty conda work well with the bash terminal.

Does this issue occur when all extensions are disa

[2019-10-11 14:01] StickNitro commented on #82358
@IllusionMH In my case was happening whether I use `Tab`, `Enter` or select using the mouse.  If I undo `Cmd+Z` and the try the IntelliSense again using `^+Space` then it seems to work.

[2019-10-11 14:01] #59023 closed

[2019-10-11 14:03] Daijobou commented on #79391
bug still exists in

Version: 1.39.1 (system setup)
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Datum: 2019-10-10T23:31:28.683Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
Betriebssystem: Windows_NT x64 10.0.18362

[2019-10-11 14:03] Klian commented on #82334
Solved.

I had this setting disabled:
**Suggest Smart Commit**

[2019-10-11 14:03] aholla opened #82361 "Autocomplete to responding to keyboard"
Hi, since the last update my auto complete is not working as expected. Before I could tap Enter or use the arrow keys to change the selection, now nothing happens when i press the keyboard and it seems to be tied to my mouse.

This might be a setting that has been reverted but I dont know where.

Thanks.

[2019-10-11 14:03] #82334 closed

[2019-10-11 14:06] chuling commented on #82165
Just confused that why these node respect `list.activeSelectionBackground` but not respect `list.activeSelectionForeground`...:confused::confused::confused:

So the only solution is to add background for these active selected node...

Anyway, thanks for replying.

[2019-10-11 14:07] skeeler commented on #82283
Can't reproduce using --disable-extensions, both it and git status are immediate (less than 1 second). Interestingly, even without the --disable-extensions option the source control providers are registering in about 5-6 seconds today where it was taking closer to 30 seconds yesterday. Looks like an extension issue. I have the GitLens extension installed, so might be that one (unsure if any other

[2019-10-11 14:07] #82283 closed

[2019-10-11 14:08] MuTLY commented on #82059
@mjbvz ,  after using the `typescript@next` for a while, the same issue happened.

This is the developer log:

`extensionHost.ts:295 [Extension Host] debugger listening on port 10353
console.ts:137 [Extension Host] (node:29573) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods ins

[2019-10-11 14:10] isidorn commented on #82358
Looks like a duplicate, I think there is already a PR which tackles this

[2019-10-11 14:11] isidorn commented on #82359
Ok this is another instance of https://github.com/microsoft/vscode/issues/82318
Adding candidate, assigning to @sandy081

[2019-10-11 14:12] isidorn commented on #82318
Closing in favor of https://github.com/microsoft/vscode/issues/82359

[2019-10-11 14:12] #82318 closed

[2019-10-11 14:14] isidorn commented on #82354
Please file this against the python extension https://github.com/microsoft/vscode-python

[2019-10-11 14:15] #82353 closed

[2019-10-11 14:15] nsuchy commented on #82353
<img width="475" alt="Screen Shot 2019-10-11 at 10 13 29 AM" src="https://user-images.githubusercontent.com/8227641/66658629-dbee4180-ec0f-11e9-83eb-baed4453ed2e.png">
I get this same error on VS Code Stable. I was able to open by pressing option in finder and opening it that way to bypass to check. For the time being you'll need to let Gatekeeper know you trust the software regardless of what it'

[2019-10-11 14:16] alexr00 commented on #63841
Setting name: `task.autoDetect`. It's a boolean.

[2019-10-11 14:16] isidorn commented on #82361
We are aware of a breakage in this area and we will tackle this soon - Monday. There is already a PR which tackles this

[2019-10-11 14:16] nsuchy commented on #82302
It may be relevant to copy this comment over from a duplicate issue.

https://github.com/microsoft/vscode/issues/82353#issuecomment-541082764

[2019-10-11 14:21] IllusionMH commented on #82358
My search skill let me down today. Yes, looks like duplicate of #82324, PR with fix #82349

[2019-10-11 14:23] gpion commented on #44041
Sad. Time to expect a closed issue with a _"won't fix"_ status then  :-/

[2019-10-11 14:24] teohhanhui commented on #76542
For whatever reason, I'm no longer able to reproduce this bug.

`"terminal.integrated.inheritEnv": false` seems to work perfectly for me now.

[2019-10-11 14:25] danielo515 commented on #79659
Sorry for the late response.
It is still happening, but on a different fashion. Instead of redirecting you again to the same index file it simple does nothing.

I have the (huge) log. I'm not worried about paths, but I don't want to expose src if there is any.
Is there a way that I can send it to you?

[2019-10-11 14:26] joaomoreno commented on #82324
Yup, this is bad:

![Peek 2019-10-11 16-25](https://user-images.githubusercontent.com/22350/66659507-e9252380-ec43-11e9-885c-f8af047ab453.gif)

[2019-10-11 14:27] #82358 closed

[2019-10-11 14:29] danielo515 commented on #79659
Well, I can always remove it later.

[tsserver.log](https://github.com/microsoft/vscode/files/3718084/tsserver.log)

[2019-10-11 14:30] gandroz commented on #76542
not for me (even with the 1.39.1 version)

[2019-10-11 14:31] JuggerNau commented on #82319
The same bug occurs to me.
And if I open VSCode with the terminal panel, it will work well. But if I run the VSCode with Terminator, the Terminal Window in VSC will be blank.

[2019-10-11 14:34] GammaGames commented on #76542
I also still get the issue, though I'm using the deb

[2019-10-11 14:35] onsunny opened #82362 "Title of popup is hidden on debugger"
Issue Type: <b>Bug</b>

Title of popup is hidden on debugger

![1052B0C1-DACE-4B4E-A248-3DF1FBBFF6A0](https://user-images.githubusercontent.com/18000037/66660211-6322d000-ec77-11e9-9982-3b0bb4c3c96a.jpg)

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:35:11.314Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2019-10-11 14:38] isidorn commented on #82362
I can not reproduce this. Do you also see this with vscode insiders
https://code.visualstudio.com/insiders/

[2019-10-11 14:41] #82324 closed

[2019-10-11 14:41] joaomoreno commented on #82324
I've merged the fix by @yamachu: thanks a lot for that!

We'll get the fixed Insiders build next Monday morning CET. Sorry for the disturbance everyone!

[2019-10-11 14:44] willemavjc commented on #44041
Can't believe no one @microsoft care about such an issue which is in 2020 rather a core design issue than anything else... VSCode was meant for developers and developers mainly work in organisations with most of the big ones using proxies since like 20 years, at least.

[2019-10-11 14:45] rodney-wilson commented on #79204
Hello. Are there any solutions or workarounds identified for this issue?

[2019-10-11 14:47] bdesales opened #82363 "IntelliSense autocomplete replacing next word / special character"
Hi there, since today's VSCode Insiders update IntelliSense is acting weird. It removes or replaces whatever is next to it when enter is pressed, words, bracket ending, parenthesis ending (Even when auto-completing inside a function parameter). This is really annoying, specially when working with typescript. Can anybody fix this, please? Appreciated.

[2019-10-11 14:47] MASDias opened #82364 "Hyperlink's starts blinking"
Issue Type: <b>Bug</b>

As soon you place the text cursor on a hyperlink, put it somewhere else and scroll in and out the the previous text (where) cursor was placed, the underline text for the hyperlink will blink at the same velocity of the cursor.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.14393

Extensions:

[2019-10-11 14:51] roadhub commented on #82362
@isidorn
![image](https://user-images.githubusercontent.com/18000037/66661364-746cdc00-ec79-11e9-9728-b1a5d5ecaa41.png)
insiders is OK, is my theme's config  error ?

[2019-10-11 14:53] mak-ableton commented on #70306
@roblourens @rebornix is there anything I can do to help move this along?

I think it really boils down to what I outlined earlier:

Cmd+E: Push the selected text to the OS's global find clipboard to use it for the next search, but don't search yet.

Cmd+G: Read the OS's global find clipboard to see if its contents have changed; find the next occurrence.

On focus change: Don't do anything search-

[2019-10-11 14:54] roadhub commented on #82362
i copy my setting to insider's setting ,it reproduce

[2019-10-11 14:56] #66411 closed

[2019-10-11 15:01] #47505 closed

[2019-10-11 15:03] isidorn commented on #82362
Can you please share your settings so I try to reproduce this as well

[2019-10-11 15:04] jstansbe commented on #68543
How is this out of scope?

[2019-10-11 15:04] sohailrajdev97 commented on #82173
I have raised a PR for this here #82366

[2019-10-11 15:05] misolori commented on #82165
So it does look like there is a bug, we explicitly set the foreground color in:

https://github.com/microsoft/vscode/blob/2d87c95e53471539a1fab25a5367bb3eeffc9456/src/vs/workbench/contrib/debug/browser/media/debug.contribution.css#L175-L179

I'm going to change this to make it inherit, so that it will properly themes when you set `list.activeSelectionForeground`:

<img width="367" alt="image" src=

[2019-10-11 15:06] #82165 closed

[2019-10-11 15:11] misolori commented on #82165
@isidorn we should also take a look at the hovers of these list items as those also run into a similar problem where there are no color tokens:

<img width="215" alt="image" src="https://user-images.githubusercontent.com/35271042/66662938-9e34ed00-ebfe-11e9-83aa-d4b98c0b79e3.png">

Should we apply the same treatment?

[2019-10-11 15:13] caiges commented on #82078
`src/vs/base/browser/ui/menu/menubar.ts` is removing and adding the button element during  `updateOverFlowAction`. I don't quite understand the intent of that method but that's why it's behaving this way.

[2019-10-11 15:14] abdo-cell opened #82367 "i can't install extensions"
Issue Type: <b>Performance Issue</b>

i can't install extensions automaticly, there is problem when create html file in .html but it works when write in .htm format

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4500U

[2019-10-11 15:15] tarheels100 commented on #81320
@mjbvz

I just tested with Insiders build 1.40, and I also no longer observe the issue with links containing spaces.  What is the typical timeframe for fixes in the Insiders build making their way into the mainline build?

[2019-10-11 15:16] bmudda commented on #43188
+1 This is still relevant at this time and it will be helpful to have a feature to be able to open multiple workspaces in the same window.

[2019-10-11 15:21] stefanos82 opened #82368 "Wrong indentation guides"
- VSCode Version: 1.39.1
- OS Version: Linux x64 5.2.0-3-amd64

As you can see, it highlights the previous matching bracket's indentation guides.

![image](https://user-images.githubusercontent.com/1777466/66663611-b420cd00-ec53-11e9-808c-c50322779eb9.png)

![image](https://user-images.githubusercontent.com/1777466/66663703-da466d00-ec53-11e9-9578-20ed52856913.png)

[2019-10-11 15:21] jdoklovic opened #82369 "Extension proxy doe not tunnel https to http"
- VSCode Version: 1.39.1
- OS Version: Ubuntu 18.04.3 LTS

Steps to Reproduce:

1. Run VS Code behind a proxy with HTTPS_PROXY set to an http url
2. Use the Atlascode or any extension that makes https calls

Expected: the requests work
Actual: the requests fail. Most of the time the error reported is "socket hang up"

I believe the chromium proxy stuff internally handles tunneling https to http wh

[2019-10-11 15:22] X-Tender opened #82370 "git index file gets locked on local network server"
- VSCode Version:  1.39.1
- OS Version: MacOS High-Sierra

We have a Ubuntu Server in our network where we work on our projects.
When I work on some files in VS code and try to stage them via vscode git plugin, CLI or a GIT Client (GitKraken) I get the error "index file locked". Then I delete the index file, clean up after that (because after deleting the index file and staging 1 File, all files a

[2019-10-11 15:22] alexandrudima commented on #69493
Duplicate of #69238

[2019-10-11 15:22] #69493 closed

[2019-10-11 15:23] alexandrudima commented on #69238
Repro steps:

Have the following `activate` function:

[code]

[2019-10-11 15:23] roadhub commented on #82362
@isidorn yes
[code]

[2019-10-11 15:24] misolori commented on #82213
Fixed via 21ec3bc89310d6e458a703d4cfc09c6e9e082a20

[2019-10-11 15:24] #82213 closed

[2019-10-11 15:26] #75435 closed

[2019-10-11 15:31] lcswillems commented on #82194
Is it planned to support TypeScript 3.7?

[2019-10-11 15:32] sreyansu opened #82371 "issue with include<iostream> in c++"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-10-11 15:32] #69238 closed

[2019-10-11 15:38] koolhandwv opened #82372 "Running Java"
Issue Type: <b>Performance Issue</b>

Whenever I run a program it can't find the main.

I have setup my java.home but it doesn't seem to be recognizing that setting.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Workspace Info</summary>

[code]

</details>
<details><summary>Extensions (8)

[2019-10-11 15:38] sxh-0352 opened #82373 "Visual Studio Code can not be installed"
![Image 2019-10-11 at 23 28](https://user-images.githubusercontent.com/56170372/66664947-1bed0d00-ec80-11e9-8968-e8db06f4d234.JPG)
Please help me to solve the problem! Thanks a lot

[2019-10-11 15:39] koolhandwv commented on #82372
"java.home": "c:/program files/java/jdk-12.0.2",

is what I have entered

[2019-10-11 15:40] alexandrudima commented on #53919
I have investigated this. The reason is a heuristic we do, we look at characters and based on their character codes try to infer if they are wide or not. In this case, there are multiple characters, like `―` [Unicode Character 'HORIZONTAL BAR' (U+2015)] which we don't consider wide. But `MS Gothic` will render that character as a wide character. Other fonts will not...

So this is just hitting the

[2019-10-11 15:40] #53919 closed

[2019-10-11 15:45] misolori commented on #75435
This will be available in the next Insiders update (likely on Monday). Here's what we changed:

- We tweaked the opacity of `activityBar.inactiveForeground` to make the active element stand out more
- Added `activityBar.activeBorder` which is **on** by default and is inherited by `activityBar.foreground`
- Added `activityBar.activeBackground` which is **off** by default

![gif](https://user-images

[2019-10-11 15:45] danielo515 commented on #79577
I would love to understand better why is this out of scope if it is achievable by any other way.

[2019-10-11 15:46] BrandonWandon opened #82374 "Source Control not working since latest update"
I updated to the latest version (the one that allows tree view of source control) but Source control doesn;t work anymore. I'm using Azure Repos and I an see the projects on the bottom bar, but when I click Source Control on the side, everything is just blank

![image](https://user-images.githubusercontent.com/27927554/66665564-d1867480-ec1c-11e9-88ee-4a67eb561ded.png)

[2019-10-11 15:49] connor4312 opened #82375 "Investigate issue in launch config running colorize tests"
./scripts/test-integration works, however the launch config for the package is missing a compile script and, once corrected, tests appear to hang.

[2019-10-11 15:50] ivankravets opened #82376 "Webview panel does not remove on dispose()"
I see that a bug has not been fixed yet. See https://github.com/microsoft/vscode/issues/58360

- VSCode Version: 1.39.1
- OS Version: macOS 10.13

Steps to Reproduce:

1. Open empty window
2. Add 1st folder to a workspace
3. Add 2nd folder to a workspace
4. Open WebView, keep its instance and close when any folder is removed from workspace
[code]

See full code to reproduce https://github.com/plat

[2019-10-11 15:57] #82372 closed

[2019-10-11 15:58] #82345 closed

[2019-10-11 15:59] mjbvz commented on #82337
@Lharesh Please fill out the issue template: https://aka.ms/vscodeissuereporting Include a list of extensions you have installed

[2019-10-11 16:03] mjbvz commented on #82331
Duplicate of #54776

Thanks for the writeup. The problem is not that we don't understand the feature request but that we are looking for help implementing it. if you are interested in trying this, start by taking a look at the builtin markdown extension: https://github.com/microsoft/vscode/blob/36aa903d5a98ba5cf1d46b84c0a8fb3c2106bd8a/extensions/markdown-language-features

[2019-10-11 16:03] #82331 closed

[2019-10-11 16:04] DylanYoung opened #82378 "Opening Subfolders of A Workspace Root does not respect workspace settings"
- VSCode Version:
1.38.1
b37e54c98e1a74ba89e03073e5a3761284e3ffb0
x64
- OS Version:
OSX 10.14.6 (18G103)

Steps to Reproduce:

1.  Enter the following in Bash `code ./subfolder` (where `.` is a workspace folder)
2. Observe that all workspace settings for `.` have been effaced in the new window that opens.

Does this issue occur when all extensions are disabled?: Yes

This seems like something that

[2019-10-11 16:06] mjbvz commented on #79659
Please try upgrading your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

Do you still see the issue in that case?

[2019-10-11 16:09] koolhandwv commented on #82372
Umm.. thanks for the help?  Maybe let me know which extension so I even have an idea of who to contact?

[2019-10-11 16:10] mjbvz commented on #82313
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2019-10-11 16:10] #82313 closed

[2019-10-11 16:13] misolori commented on #82177
@faldor20 there was some discussion around how the flame icon came about, see the comments in https://github.com/microsoft/vscode/issues/76909

[2019-10-11 16:14] mjbvz commented on #82059
Does this happen in a specific file? Also can you check to see if when the error happens is tied to when you first see the loading indicator?

[2019-10-11 16:15] SergioRius commented on #82096
@joaomoreno Joao, I trust you, but believe me that it's nothing that I had setup. I can see git folder, gitignore... Is there something you want me to send to you?
All the files and folders are dated from the past monday at 12:49. And one "COMMIT_EDITMSG"

*That address you posted is the folder where the project is stored. On linux: User folder/name of the project. I was just opening my user folde

[2019-10-11 16:15] mjbvz commented on #74258
Yes should be covered by that

[2019-10-11 16:15] #74258 closed

[2019-10-11 16:16] mjbvz commented on #82276
e

[2019-10-11 16:17] #82242 closed

[2019-10-11 16:18] mjbvz commented on #82242
This is because Python uses `WebviewPanel` for showing their notebooks. This will be fixed if they use `WebviewEditor` based ones instead

[2019-10-11 16:21] muuvmuuv commented on #53453
For any Editor/IDE what so ever, I think user profiles or at least the possibility of syncing everything is a must have. If it is through only cloud profiles, local git synced or other solutions is something that should be discussed.

My optimal solution would be: cloud account (microsoft account?) which can have profiles; JavaScript, Go, Python ... which holds user config, extensions, extension c

[2019-10-11 16:22] thorn0 commented on #81268
So basically all the Ctrl+Alt and Ctrl+Alt+Shift shortcurs are broken now and should not be used by the extensions, right? 🤔

[2019-10-11 16:25] ericdrobinson commented on #979
@bpasero Hilariously, the über-upstream issue (in Chromium) was actually fixed on September 30th. I've [posted](https://github.com/electron/electron/issues/10124#issuecomment-541131517) in the _upstream_ issue with clarification on whether that fix will affect Electron or not. Fingers are crossed, but this may become feasible once Electron updates to a Chromium version that contains the fix...

[2019-10-11 16:32] nguyenlieunhatvy opened #82379 "Integrated Pylint Does Not Work"
- VSCode Version: 1.39
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

1. Modify a Python file so that when you run `pylint` command in terminal with that file, `pylint` will give you some kind of complaints.
2. Enable VSCode to run `pylint` on save, the integrated `pylint` does not complain about anything like the `pylint` command in terminal.

Expected result: the VSCode integrated `pyl

[2019-10-11 16:34] miguelamello commented on #76721
|files.autoGuessEncoding is not working properly.

Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.2.18-200.fc30.x86_64
|

Miguel Angelo Mello
Mobile: +55 22 99998-3366
WhatsApp: 5522999983366

On 10/8/19 11:57 AM, Benjamin Pasero wrote:

[2019-10-11 16:38] wongjn commented on #81943
[I've made an extension](https://marketplace.visualstudio.com/items?itemName=wongjn.scss-modules) that adds highlighting in SCSS until this gets added to core.

[2019-10-11 16:42] quigleyj-mavenomics commented on #82170
Maybe this is a Typescript issue then? Now that you've pointed that out, I'm seeing the behavior you describe but it only works for top level symbols. For instance, I can highlight on types/in-scope variable names, but I _can't_ do that for properties of symbols (like `this`, `globalThis`, or `window`), even if I highlight the whole thing (`this.doSomething()` vs `doSomething()`).

In general, I p

[2019-10-11 17:11] vikene commented on #82376
@mjbvz Can I take up and work on this issue ?

[2019-10-11 17:12] misolori commented on #74681
This is now updated to add more spacing:

<img width="312" alt="image" src="https://user-images.githubusercontent.com/35271042/66670714-4357c180-ec0f-11e9-871c-28988f6de22a.png">

And when it gets narrow:

<img width="263" alt="image" src="https://user-images.githubusercontent.com/35271042/66670722-494da280-ec0f-11e9-8dcf-58cc71f23274.png">

[2019-10-11 17:15] malarahfelipe opened #82381 "Word being deleted by parentheses"
VSCode Version: 1.40.0-insider 72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb 29-10-11
OS: Linux x64 5.0.0-31-generic snap
OS Version: Ubuntu 18.04.3 LTS

Steps to reproduce:

1.Write any random word in a .js or .ts file
2.Instantiate any function before next to the text and open the parentheses
3.The word will be deleted instead being wrapped by the parentheses

Does this issue occur when all extension

[2019-10-11 17:24] mjbvz commented on #82130
Thanks for checking this. Those errors do look like they could be causing this behavior.

Can you please try upgrading your workspace to use the nightly version of typescript by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next) Does this fix the issue for you?

Also, how is the network drive configured? Is it a mount? A unc path?

[2019-10-11 17:25] cgmerida opened #82382 "Failed to open V8 file \natives_blob.bin"
I got an error while trying to launch vscode, and when I tried launching it from the terminal I got the next:

$ code -v
[1011/111946.687:FATAL:v8_initializer.cc(185)] Failed to open V8 file 'C:\Program Files\Microsoft VS Code\natives_blob.bin' (reason: -4)

- VSCode Version: 1.38.1
- OS Version: Windows 10

Steps to Reproduce:

1. open the terminal
2. run code --verbose

[2019-10-11 17:28] Eldaw opened #82383 "Window size lost if you Maximize window and then auto-update VS Code"
Using VS Code 1.39 on Windows 10, I performed the following:

1. Started with a normal (i.e. non-maximized window).
2. Hit F11 to go Fullscreen.
3. Help -> Check for Updates...
4. Help -> Install Update...
5. Clicked 'Update Now' in the little notification window in the bottom right, which then automatically updated to version 1.39.1 and restarted VS Code.

Upon restarting, the application window

[2019-10-11 17:32] #82383 closed

[2019-10-11 17:35] timdeng2324 commented on #82297
i'm not sure, i only have a repository that I use every day on remote, & it doesn't happen very often. haven't been able to reproduce by trying a few times locally.

[2019-10-11 17:37] mjbvz commented on #70254
VS Code has a standard link detector that detected normal `http://...` links in text files.  (`src/vs/editor/common/modes/linkComputer.ts`). That is what is kicking in here

One option would be to push all markdown link detection into the markdown extension (into that `documentLinkProvider.ts`). Those links should override VS Code's built-in detected links. The markdown it parser can find these

O

[2019-10-11 17:46] Eldaw opened #82384 "Wrong state of Maximize/Restore button after exiting Fullscreen and then Restoring window"
Using VS Code 1.39.1 on Windows 10, here are the steps to reproduce:

1. Start with a normal, non-maximized window.
2. Maximize the window. The maximize button in the top right turns into a Restore button (as expected).
3. Hit F11 to enable Fullscreen.
4. Hit F11 again to disable Fullscreen.
5. Click the Restore button to return to a non-maximized window.
6. Notice that the Restore button has not

[2019-10-11 17:50] pyuser00 opened #82385 "UI blanks out portion of screen"
In the last several releases of VScode (going back to about v1.35) , I periodically experience an issue with the user interface where the top 10-15% of my screen (from about the search icon up) goes completely white or black and nothing on the portion of the screen responds to the mouse.
'Alt' key does not access the menus so that I can move or resize the window. Restarting VScode does not the res

[2019-10-11 17:51] andrecasal commented on #49131
I've tried setting `"debug.enableAllHovers": true` but I see no changes - the hovers are all the same. Isn't this setting supposed to show hovers like the color picker during a debugging session?

[2019-10-11 17:55] #8735 closed

[2019-10-11 17:55] misolori commented on #82302
Please see #74782

[2019-10-11 17:55] pocesar commented on #82381
also happens with quotes `"` `'` and brackets `[` `]`

[2019-10-11 17:55] #82302 closed

[2019-10-11 17:55] misolori commented on #82373
Please see #74782

[2019-10-11 17:55] #82373 closed

[2019-10-11 17:56] misolori commented on #82292
Please see #74782

[2019-10-11 17:56] #82292 closed

[2019-10-11 17:59] connor4312 commented on #32871
There are several outstanding bugs around indentation in PHP, but this one no longer appears to reproduce.

![Kapture 2019-10-11 at 10 58 23](https://user-images.githubusercontent.com/2230985/66673772-270b5300-ec16-11e9-89ca-d56cff4e58f7.gif)

[2019-10-11 18:03] vizzmay opened #82386 "Quick Suggestions in Markdown treat Virama as a word separator"
- VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
- OS version: Windows_NT x64 10.0.18362

**Virama** or Halant is a diacritic used in Brahmic scripts such as Devanagari to suppress the inherent vowel of a consonant. (क = *ka* + ् (virama)  becomes क् = *k*.) It’s most often used in writing conjunct characters. (e.g. *kṣa*, क्ष = क + ् + ष)

Since

[2019-10-11 18:05] connor4312 commented on #32871
Apologies, some more details --

This appears to be an interaction between the HTML language server and PHP. Opening a PHP file in VS Code and then trying to reproduce the issue won't yield results, but if you open an HTML file (or change the file to HTML and back again), then this issue occurs.

[2019-10-11 18:06] andrecasal opened #82387 "editor.renderControlCharacters setting isn't working"
This happens in Insiders v1.40.0

- VSCode Version: 1.39.1 and Insiders v1.40.0
- OS Version: macOS 10.15

Steps to Reproduce:

1. Set "editor.renderControlCharacters": true
2. Notice that control characters like CR, LF or EOF don't show up

Does this issue occur when all extensions are disabled? Yes

[2019-10-11 18:06] sbatten commented on #82225
@rhdlilj can you check your setting for `window.titleBarStyle`

[2019-10-11 18:07] #48588 closed

[2019-10-11 18:08] sbatten commented on #81102
@lllopo makes sense as we've returned to electron 6 but are tracking this issue as part of that process

[2019-10-11 18:10] astrowonk commented on #76542
"terminal.integrated.inheritEnv": false

produced the blank terminal window that the above mention for me on RHEL, VS Code 1.39.1. Log Window shows the same error as mentioned earlier:

[code]

[2019-10-11 18:11] andrecasal opened #82388 "git.confirmEmptyCommits setting no longer relevant"
This happens in Insiders v.1.40.0

- VSCode Version: v1.39.1 and Insiders v.1.40.0
- OS Version: macOS 10.15

Steps to Reproduce:

1. Set `"git.confirmEmptyCommits": true`
2. Notice that VS Code still doesn't allow you to submit an empty commit

Does this issue occur when all extensions are disabled? Yes

[2019-10-11 18:14] sbatten commented on #82268
/duplicate #74680

[2019-10-11 18:14] #82268 closed

[2019-10-11 18:18] mpunak commented on #76445
Definitely still an issue.

The following source:
![Source Code](https://user-images.githubusercontent.com/6179773/66674564-0e03a180-ec18-11e9-8d04-80fa041ef1c8.png)

With Internal console for output capture
**launch.json**
[code]
Has the following output in Debug console after 20-30  seconds:
![debug console](https://user-images.githubusercontent.com/6179773/66674601-24116200-ec18-11e9-9f77-8d36e

[2019-10-11 18:22] blackboxlaw opened #82389 "Azure Blockchain extension for Infura sign-in needs port :9010"
Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-31-generic snap

Steps to Reproduce:

1. Azure Blockchain: Log into Infura Account
2. Error: "listen EADDRINUSE 127.0.0.1:9010"

Steps I tried.
Killed the PID for the 9010 Port, but that interrupts up t

[2019-10-11 18:25] ccellhb opened #82390 "source control not working"
Issue Type: <b>Bug</b>

Changes number is shown, but blank window after click source control button

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 3.10.0-957.10.1.el7.x86_64

[2019-10-11 18:27] #34424 closed

[2019-10-11 18:32] zachvalenta opened #82391 "search fails on query string found by grep"
- VSCode Version: 1.39.1
- OS Version: macOS Mojave 10.14.3 18D109 x86_64
Does this issue occur when all extensions are disabled?: Yes

search does not find string

![Screen Shot 2019-10-11 at 2 27 14 PM](https://user-images.githubusercontent.com/11388735/66675733-f2a68f80-ec33-11e9-983d-953d613e57bc.png)

but grep does

![Screen Shot 2019-10-11 at 2 27 22 PM](https://user-images.githubusercontent

[2019-10-11 18:34] #82193 closed

[2019-10-11 18:40] Tyriar commented on #82356
/duplicate https://github.com/microsoft/vscode/issues/76542

[2019-10-11 18:40] #82356 closed

[2019-10-11 18:42] brandenesmith commented on #73500
@aeschli, it doesn't appear that there are any unicode characters after the closing brace.
I opened a new document and entered the text:
[code]
I then used `alt+shift+F` and still get the error:
![Screen Shot 2019-10-11 at 1 40 21 PM](https://user-images.githubusercontent.com/7876230/66676297-bc194680-ec2c-11e9-95c1-c794dcc27df6.png)

Using the command palette (i.e. `cmd+shift+P` and selecting "Fo

[2019-10-11 18:43] Tyriar commented on #82329
Terminals using `Pseudoterminal` are interactive it can implement `onDidWrite` (for output) and `handleInput`. `onDidWriteData` changed to `window.onDidTerminalWriteData` and it remains proposed, chances are that it won't become stable API.

[2019-10-11 18:43] #82329 closed

[2019-10-11 18:45] Tyriar commented on #82317
I reported to the repo admin team.

[2019-10-11 18:52] pirix-gh commented on #82263
@alexandrudima Nevermind, I'll use `shift+alt+click`.

[2019-10-11 18:53] NaveenDA commented on #82282
since I got exactly what I need, so I close this issue.

[2019-10-11 18:53] #82282 closed

[2019-10-11 18:56] #82298 closed

[2019-10-11 18:56] bkelley13 commented on #68548
+1.  This feature would be very helpful in our extension as well.

[2019-10-11 18:56] #44137 closed

[2019-10-11 18:57] pirix-gh commented on #82263
And just for info, I also disabled mnemonics (hotkeys `alt+menukey`) system-wide and in vscode via the `window` setting but it still had the same behavior.

[2019-10-11 18:59] pirix-gh commented on #82263
btw, what is your alternative (setting) to handle this?

[2019-10-11 19:05] ferodco commented on #78315
Same issue here (Ubuntu 18.04.03 LTS on VirtualBox 6.0.12 r133076 (Qt5.6.2):

Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-31-generic

--disable-gpu works for me. Thanks.

[2019-10-11 19:24] OfficerHalf commented on #82363
It seems to have something to do with speed - if I let the suggestion sit for a second, using the completion does not overwrite the next word. Perhaps a regression of this issue: #56026?

[2019-10-11 19:41] vistatest opened #82392 "VSCode incorrectly processes responses from extensions."
When multiple different extensions return the same response(s),
VSCode displays duplicates.

This is a bug in VSCode. Extensions are not aware of each other. They should not be. Different extensions that run simultaneously could provide intersecting responses.

VSCode should remove duplicates from the final merged list before displaying it to user.

Please, stop closing this bug report - this is a

[2019-10-11 19:46] T-Younce opened #82393 "Right clicking on a file again with a wait crashes VM."
Issue Type: <b>Bug</b>

When you right click on a open folder. It works fine at first. But after a little bit, when you right click on the mini window, the entire virtual machine crashes due to a memory error.
Edit: Here's a link to a picture
[https://1drv.ms/u/s!AiPenPxifnh8hp4A8JwVJIIecOwOgQ?e=m6veF7](url)

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:30:

[2019-10-11 19:52] deepak1556 commented on #51132
This should be fixed in latest insiders, can anyone confirm. Thanks!

[2019-10-11 19:55] deepak1556 commented on #59887
This should be fixed in latest insiders, can anyone confirm. Thanks!

[2019-10-11 20:01] fredlcore commented on #71404
Yes, that is the correct dupe, and also a perfectly fine solution to my issue, thanks!

[2019-10-11 20:03] MuTLY commented on #82059
Happened again, but this time I didn't see anything in the VSC developer console.

Literally did this:

1. Opened a .JSX file, there was a component on it;
2. Right-clicked the component, selected "Go to definition";
3. The file with the definition (a .JS file with React code in it) opens up (non-editable, file name tab is in italics) - this file also has a React component on it, did not tried to

[2019-10-11 20:13] isidorn commented on #82363
Duplicate. We already pushed a fix, coming to insders on Monday. Sorry about this!

[2019-10-11 20:13] #82363 closed

[2019-10-11 20:13] isidorn commented on #82367
Please provide more details and steps I have no clue what you are trying to say

[2019-10-11 20:16] isidorn commented on #82371
Please provide more details and steps

[2019-10-11 20:16] isidorn commented on #82374
Looks like a duplicate, however leaving to @joaomoreno to close

[2019-10-11 20:17] #82379 closed

[2019-10-11 20:17] #82389 closed

[2019-10-11 20:17] isidorn commented on #82390
fyi @joaomoreno

[2019-10-11 20:17] #82390 closed

[2019-10-11 20:18] uloco commented on #59887
It is fixed. Thank you very much :)))

[2019-10-11 20:34] sbatten commented on #82385
@deepak1556 does this align with an electron upgrade?

[2019-10-11 20:34] ianepreston commented on #82374
I don't think this is a duplicate. I searched open issues for Source Control and don't see anything related. I have the same issue after upgrading to 1.39.1 and based on [this](https://stackoverflow.com/questions/58343377/vs-code-source-control-pane-is-blank) Stack Overflow I'm not the only one.

[2019-10-11 20:37] jsuddsjr opened #82396 "Close All should close all tabs, not just those in the pane"
Issue Type: <b>Bug</b>

Open several files. Drag a few to new panes in the editor. Then, right-click on a tab and select Close All (Ctrl+K, W). Only the files in the pane are closed. I have to close "All" several time until all files are closed. Suggest adding another command to close the files in the pane.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:2

[2019-10-11 20:38] EdwardGoomba commented on #82096
@SergioRius Weighing in here, vue cli initializes a git repository for you automatically when creating a new project. You have to pass in a flag in order for it to not do so.

So while you didnt explicitly initialize git, the cli did so for you. This doesnt clear up unsaved work - but solves why you had a git initialized when you didnt explicitly do so.

[2019-10-11 20:39] #57964 closed

[2019-10-11 20:42] connor4312 commented on #46907
This appears fixed in recent versions, likely the same root cause as  https://github.com/microsoft/vscode/issues/75468

[2019-10-11 20:42] #46907 closed

[2019-10-11 20:43] connor4312 commented on #62894
This appears fixed in recent versions, likely the same root cause as #75468

[2019-10-11 20:43] #62894 closed

[2019-10-11 20:43] connor4312 commented on #55738
This appears fixed in recent versions, likely the same root cause as #75468

[2019-10-11 20:43] #55738 closed

[2019-10-11 20:47] dalDevelo commented on #59887
Absolutely not fixed. Improved, yes (in the current insiders release) but still not like pre-Mojave font rendering.

The pre-Mojave benchmark font rendering:
(Also how it looks with `defaults write -g CGFontRenderingFontSmoothingDisabled -bool NO` set, post-Mojave)
<img width="1136" alt=" The_benchmark_Pre-Mojave" src="https://user-images.githubusercontent.com/44850778/66683631-d88aa280-ec6f-11e9-

[2019-10-11 20:53] deepak1556 commented on #59887
@dalDevelo thanks for confirming! I need to distill a repo for chromium as the root cause stems for skia graphics library. Will ask for further information soon.

[2019-10-11 20:55] cebor commented on #59887
I think its fixed. Apple disabled font smoothing since Mojave, so fonts look different and its intended.

Chrome also had this problem, font was slightly to thin but its fixed now. But it will never as it was in Pre-Mojave, cause as i said its intended by Apple.

For all want the font smoothing back as it was in El Capitan have to enable it via:

defaults write -g CGFontRenderingFontSmoothingDisab

[2019-10-11 20:56] uloco commented on #59887
@dalDevelo I think it is a matter of perception. I think it is much better and acceptable than before. Other applications font rendering does not look better than this.

[2019-10-11 20:56] strokirk commented on #82054
According to @weswigham, "the tools to do it are now in place":
https://github.com/microsoft/TypeScript/issues/6209#issuecomment-525859885

[2019-10-11 21:02] #31726 closed

[2019-10-11 21:03] #36019 closed

[2019-10-11 21:04] alexandrudima commented on #39138
Duplicate of #3562

[2019-10-11 21:04] #39138 closed

[2019-10-11 21:08] egamma commented on #65561
To analyze the issue:
- set a break point in `extensions/npm/src/scriptHover.ts` in `runScriptFromHover`
- inspect the `documentUri` received as an argument

The URI encoded in the hover in `createMarkDonwLink` is:
![image](https://user-images.githubusercontent.com/172399/66684688-e7c31d80-ec7a-11e9-9102-5852c539025e.png)

The URI received in `runScriptFromHover` is:
![image](https://user-images.g

[2019-10-11 21:08] nguyenlieunhatvy commented on #82379
I do not think this is caused by an extension because this is built-in in VSCdoe right?
https://code.visualstudio.com/docs/python/linting

[2019-10-11 21:09] #60092 closed

[2019-10-11 21:19] alexandrudima commented on #66962
Duplicate of #26856

[2019-10-11 21:19] #66962 closed

[2019-10-11 21:22] Gabriel-Alves-Cunha opened #82398 "Have the option to link the play button to some function (see image)!! : D"
![Captura de Tela (1)_LI](https://user-images.githubusercontent.com/52057747/66685836-f21df100-ec53-11e9-886e-366a8535313a.jpg)

[2019-10-11 21:34] ChavanSamp opened #82399 "Travando"
Issue Type: <b>Performance Issue</b>

Está travando bastante o terminal.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.18990

[2019-10-11 21:38] timdang commented on #82374
Looks like this might be related to [Issue #570 from azure-repos-vscode](https://github.com/microsoft/azure-repos-vscode/issues/570)

[2019-10-11 21:39] AjXUthaya commented on #81522
@ashot11091950 Seems like it is not a VS Code bug, its just a plugin "PHP Language Server" that is calling the reveal output aggressively. You have to report the issue to them. Until then you can just disable the PHP plugin, to find it just disable all the PHP one by one until the issue stops :)

[2019-10-11 21:49] AnmolMago commented on #869
Is there any update on this? It would be much appreciated! @isidorn

[2019-10-11 21:49] chrisdias commented on #80178
There is no custom/hard coded support for the PowerShell extension, it uses the same recommendation system as every other extension we recommend. In this case, we recommend only 1 extension based on `.ps1` files and that is the `ms-vscode.PowerShell` extension.  It is an "important" recommendation so you get a prompt immediately.

Now, I could prompt for the PowerShell "Insiders" extension instead

[2019-10-11 21:50] eamodio commented on #54509
It looks like this is already implemented - https://github.com/microsoft/vscode/issues/65153

[2019-10-11 21:50] #54509 closed

[2019-10-11 21:51] decuman commented on #53635
Unfortunately, still have this issue present in the latest vscode 1.39.1 version
Despite switching to a newer OS Version: Linux 64-bit Kubuntu 18.04

[2019-10-11 21:54] #21359 closed

[2019-10-11 21:54] #21402 closed

[2019-10-11 21:56] #33012 closed

[2019-10-11 21:58] bergmeister commented on #80178
yes, please. This would be a small but useful improvement to the situation

[2019-10-11 22:00] itspauloroberto commented on #26398
Well, i can see a slighty improvement about the scrolling when using the visual code studio exploration, but not very much, still dont solves the problem.

It gets A LOT worse when i try to run `code-exploration --disable-gpu` it becomes unusable.

[2019-10-11 22:03] escaner commented on #67671
It is still present in 1.39.1, but seems fixed to me in the 1.40.0-insider version of your link.
Thanks a lot! :)

[2019-10-11 22:04] cutecycle commented on #74782
@misolori Open Anyway doesn't appear in Catalina.

[2019-10-11 22:06] Tyriar commented on #46696
Yeah I get that, but since literally the only thing it does in vscode core is affect the terminal, it should live in the terminal namespace. `dart.sdkPath` should really be the source of truth, and you just track `terminal.integrated.env` to make sure if it changes you can react.

You can do that but there are several issues with that approach which the Python team have hit like weird timing issue

[2019-10-11 22:10] chrisdias commented on #80178
id is `ms-vscode.PowerShell-Preview`

[2019-10-11 22:11] escaner commented on #53635
For me it is the same as this one https://github.com/microsoft/vscode/issues/67671:
Still present in 1.39.1, but fixed in the 1.40.0-insider version from https://code.visualstudio.com/insiders/

[2019-10-11 22:11] ndotb commented on #81597
@afattahi54 I find it somewhat shameful that sandy081 and the vscode team at large are so callous and dismissive of the large global population that doesn't have broadband.

In searching for this same issue and seeing this poor response to our shared need, I've written a small bash script that I can add to cron:

[code]

[2019-10-11 22:19] Tyriar commented on #82303
@fcrespo82 please provide some more complete repro steps.

[2019-10-11 22:21] ChristianIvicevic opened #82400 "The Markdown Typescript code parser is bailing on a very specific snippet containing generics and a lambda arrow"
- VSCode Version: 1.39.1
- OS Version: Windows x64 10.0.17763

Steps to Reproduce:

1. Create a new Markdown file
2. Add the following snippet
[code]

Doing so will make the formatter bail and the comment below won't be recognized as a comment:

![image](https://user-images.githubusercontent.com/45569997/66688262-23afb000-ec86-11e9-9658-de58a7f860b9.png)

However when removing the arrowhead of the

[2019-10-11 22:22] misolori commented on #74782
@cutecycle does the right-click method work for you?

[2019-10-11 22:29] alexandrudima commented on #63553
Steps to reproduce: Open two files for (inline diff) comparison and only after the diff is rendered, change the tab size from the status bar. This will impact the modified file, and does not re-render the original deleted lines with the new tab size...

[2019-10-11 22:34] #63553 closed

[2019-10-11 22:35] #64579 closed

[2019-10-11 22:36] #66225 closed

[2019-10-11 22:37] donovanhiland opened #82401 "Incorrect auto import path when json file is also imported"
Auto import paths are wrong after having a json file imported

- VSCode Version: 1.40.0-insider
- OS Version: 10.14.5

Steps to Reproduce:

1. Import a json file
2. Try to import anything else

Here's a repro repo: https://github.com/donovanhiland/json-module-auto-import-issue.git

Trying to auto import the variable in `test.ts` demonstrates the issue.

Does this issue occur when all extensions ar

[2019-10-11 22:40] alexandrudima commented on #82368
Duplicate of #49342

[2019-10-11 22:40] #82368 closed

[2019-10-11 22:42] alexandrudima commented on #82387
Duplicate of #12223

[2019-10-11 22:42] #82387 closed

[2019-10-11 22:43] amitchettri commented on #56376
I have tried to install code-1.38.1-1568209352.el7.x86_64 and code-1.39.1-1570750844.el7.x86_64 but when i try to launch code i get below. is there any fix for this ?

]$ code .
/usr/share/code/bin/../code: /lib64/libnss3.so: version `NSS_3.22' not found (required by /usr/share/code/bin/../code)
/usr/share/code/bin/../code: /lib64/libdbus-1.so.3: no version information available (required by /usr/

[2019-10-11 22:48] fr43nk commented on #82264
@joaomoreno  Ok, so if you want me to test the new feature with my extension, I can do this.

[2019-10-11 22:49] alexandrudima commented on #53635
@decuman Could you please also try with the latest insiders?

[2019-10-11 22:49] #67671 closed

[2019-10-11 22:57] connor4312 commented on #66715
This appears related to the SQL theme, rather than PHP. Switching SQL to pull Atom's language definitions fix this issue in vs code. The current SQL tmLanguage eats the bracketed section as `text.bracketed`, while Atom's definition lacks any bracket-matching pattern.

![image](https://user-images.githubusercontent.com/2230985/66689335-436fb580-ec3f-11e9-95f0-5eb34b86b524.png)

[2019-10-11 23:07] decuman commented on #53635
Yes. Confirm that the middle click paste works fine with the latest insiders version.

[2019-10-11 23:08] tim92109 commented on #80894
That's just plain ignorant to have something that pops up by default, telling you what a basic CSS property does, and causes you to accidentally navigate to a page you don't want to go to. Poor UX, VScode!

[2019-10-12 00:05] alexandrudima commented on #45131
We will now render a click widget which hints when this happens:

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/66691179-ba836900-ec94-11e9-84fa-c0fd4fda5d26.gif)

[2019-10-12 00:05] #45131 closed

[2019-10-12 00:36] jialadi-WEB opened #82402 "when open vscode , alert window has crashed,how to solve"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-10-12 00:39] jdwestwood opened #82403 "Python 3.7 debugger does not launch (but Python 2.7 works)"
VSCode version 1.39.1
Python 2019.10.41019
Windows 10 Home with Python 3.7.1 and 2.7.15 installed

Steps to reproduce:
Create a workspace folder with:
1.  settings.json:
[code]
2.  launch.json:
[code]
3.  test.py:
[code]
Debug `test.py` using `Python: Current File`.

Expected result:
Program runs in the integrated terminal and prints "Hello".

Actual result:
Program does not run.

"Python" termina

[2019-10-12 00:48] deepak1556 commented on #82382
That error means the file is not found. @cgmerida can you paste a screenshot of the folder that has VSCode executable `C:\Program Files\Microsoft VS Code`.

[2019-10-12 00:50] rhdlilj commented on #82225
@sbatten "window.titleBarStyle": "custom"
I try "native", it's find, no this issue.

[2019-10-12 00:53] ace510 opened #82404 "auto complete clobbering existing text"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

whenever I start to type more text into an existing string and intellisense completes a variable name, instead of inserting the text and moving what's after it out, the variable overwrites the rest, for example

print(f+bazz)

completes to
print(fooooazz)

when I would prefer

[2019-10-12 00:57] deepak1556 commented on #82393
@T-Younce can you provide more info about your VM setup and some steps to repro. The linked attached in the issue is broken. Also a video/gif demo of the issue would be great, Thanks!

[2019-10-12 01:00] deepak1556 commented on #82385
@pyuser00 can you try the latest insiders https://code.visualstudio.com/insiders/ to see if the issue repros. Also can you try launching code with `--disable-gpu` if the issue is present ? thanks!

[2019-10-12 01:01] T-Younce commented on #82393
I actually got it fixed by reinstalling the program. Thanks. I don't know why that happened. But reinstalling VSCode seemed to fix it.

Get Outlook for Android

On Fri, Oct 11, 2019 at 6:59 PM -0600, "Robo" <notifications@github.com> wrote:

@T-Younce can you provide more info about your VM setup and some steps to repro. The linked attached in the issue is broken. Also a video/gif demo of the issu

[2019-10-12 01:04] felipe1982 commented on #56964
@bpasero I downloaded the latest electron release from the atom/electron releases page, double clicked on electron.exe, and greeting an Electron welcome screen. I do not see a way to open a website, to then attempt to try horizontal scrolling.

[2019-10-12 01:05] #82393 closed

[2019-10-12 01:07] the-hip-group opened #82405 "Saving after every keystroke"
- VSCode Version:
   Version: 1.39.1
   Commit: 88f15d17dca836346e787762685a40bb5cce75a8
   Date: 2019-10-10T23:35:11.314Z
   Electron: 4.2.10
   Chrome: 69.0.3497.128
   Node.js: 10.11.0
   V8: 6.9.427.31-electron.0
   OS: Darwin x64 19.0.0

- OS Version:
   macOS 10.15 (19A583)

Steps to Reproduce:

1. Create html file (not limited to HTML files) and save it somewhere on disk
2. Make changes to

[2019-10-12 01:09] fcrespo82 commented on #82303
Sorry, my bad. I thought since I was referring to an old issue (#70984) I didn't need, but you can try with my repo https://github.com/fcrespo82/vscode-markdown-table-formatter/tree/better-table-structure

I am having that problem on better-table-structure branch.

Thanks.

[2019-10-12 01:19] deepak1556 commented on #59887
Verified that VSCode font rendering is consistent across safari, chrome canary and latest insiders. Closing this as fixed. Thanks!

[2019-10-12 01:19] #59887 closed

[2019-10-12 01:20] deelaka commented on #82317
Thanks @Tyriar, the issue has been resolved.

[2019-10-12 01:20] #82317 closed

[2019-10-12 01:22] acgetchell opened #82406 "Cannot run Visual Studio Code on macOS 10.15"
- VSCode Version: 1.39.1
- OS Version: 10.15

Steps to Reproduce:

1. `brew cask install visual-studio-code`
2. `code`

Does this issue occur when all extensions are disabled?: Yes/No
Yes

![Screen Shot 2019-10-11 at 6 19 43 PM](https://user-images.githubusercontent.com/434849/66692507-f0542d80-ec53-11e9-9884-b2ca94fc55c9.png)

You should notarize your app.

https://support.apple.com/en-us/HT20249

[2019-10-12 01:28] paulmillr commented on #82116
I've tested opendir in readdirp and commented in the issue.

Good news: we can speed up walking the filesystem walk 3x compared to current version by using `dirent` with node 10.x+.
Bad news: `opendir` is shit, it will slow down the process by 300%.

[2019-10-12 01:36] letrec commented on #82256
I'm well aware of the user install option, but it's beside the point.
Update of a system-wide installed component doesn't have to require privilege elevation.
Mozilla Firefox, Microsoft Office and Windows itself are good examples of that.
The requirement of privilege elevation defers delivery of updates in cases like kids using VS Code on machines where they don't have admin privileges (they have

[2019-10-12 01:36] kjhx commented on #82406
As a temporary fix, you can run the app by going to System Preferences -> Security & Privacy -> General -> and clicking Open Anyway.

[2019-10-12 02:25] cgmerida commented on #82382
Here is a screenshot of the folder.

![vscode folder](https://user-images.githubusercontent.com/25395641/66693346-42ea1580-ec65-11e9-9f26-e552ffe3dc7a.jpg)

[2019-10-12 03:18] cloudhan opened #82407 "Share executable among multiple extensions"
Some extensions are all dependent on same executable to provide same functionality. E.g.

C/C++ extension is bundled with a clang-format executable to support formatting.

vscode-proto3 needs clang-format but is not included in the extension package. Thus, users are required to install clang-format system-wide and configure it. To do so
[code]
186MB is required. Even worse, sometime you are not `s

[2019-10-12 03:20] yuxuan commented on #82329
Cool, thanks for the explanation.

The way `Pseduoterminal` interactive is different with normal terminal. It's like `TerminalRenerer` (not sure if I remember correctly). I mean, base on the new api example, with `Pseduoterminal` users can type simple characters, such as 'Y|N' to do their tasks, but not like normal terminal can use shell.

I am also wondering what is your guys concern about this?

[2019-10-12 03:44] jifox opened #82408 "Adjust window size and position on startup to"

[2019-10-12 03:48] ratiw commented on #79760
Well, a bit disappointed to see this one goes as I really think it would be really help people who is working on a small screen laptop. However, that's understandable. Thanks for the shot, though.

[2019-10-12 03:49] jifox opened #82409 "Adjust Main-window size and position on startup"
I'm using VSCode on windows with and without docking station. The monitors resolution are very different.

Because the window will be displayed at last closing position, the window appears in unvisible or barely visible canvas.

The windo size and position should be adjusted automatically to fit into the ne screen resolution

[2019-10-12 03:51] kaleidocli opened #82410 "Following characters disappear upon suggestion selected."
Issue Type: <b>Bug</b>

1. Type something (e.g. int)
https://pasteboard.co/IBzwRQC.png

2. Either hit ENTER or TAB or click on the suggested word. (e.g. int) And then the a few characters following disappear.
https://pasteboard.co/IBzxMDk.png

VS Code version: Code - Insiders 1.40.0-insider (72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb, 2019-10-11T05:44:05.506Z)
OS version: Windows_NT x64 10.0.18362

[2019-10-12 04:02] xfxf521 opened #82411 "The terminal process terminated with exit code: 3221225506"
Issue Type: <b>Bug</b>

click terminal show
'The terminal process terminated with exit code: 3221225506' error

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz (8 x 3408)|
|GPU Status|2d_canvas: enabl

[2019-10-12 04:41] 520Chris commented on #82354
@isidorn  Thanks for your response.
1. After downgrade vscode to 1.38, the error has gone.
2. The output panel of the python extension has no error information.
3. the log I posted above has not mentioned python extension

So I think the issue is more likely related to the vscode itself.

[2019-10-12 04:50] polarathene commented on #32840
While this is apparently solved(or will be with future Electron/VSCode release), thought I might suggest what might have been a cause.

You can note the codepoints for both of these(defined after the image preview list from various vendors). ✔️ requires the [Variation Selector VS16](https://emojipedia.org/variation-selector-16/)(FE0F) to switch to a colour presenation while the ❌ does not. If you

[2019-10-12 05:22] philpowers commented on #27385
Lack of this functionality basically makes VSCode a non-starter for me on the Mac... My Mac sits right next to my PC, and if I have to memorize two sets of key bindings, I might as well stay in Xcode all the time (which makes me sad).

[2019-10-12 06:10] Hanruis opened #82413 "All installed extension can not enable"
- VSCode Version:1.39
- OS Version: win10, 1903

Steps to Reproduce:

1.update vscode to 1.39

![image](https://user-images.githubusercontent.com/5762991/66695963-fac90280-ecf9-11e9-95b6-0091b62a9633.png)

[2019-10-12 06:19] mjbvz commented on #82376
@vikene Sure. Here's the place where dispose is called in main VS Code:

https://github.com/microsoft/vscode/blob/9c3d060aff84aad04f0bf86500dd8b8a50851da6/src/vs/workbench/api/browser/mainThreadWebview.ts#L145

You likely need to also close the editor as well. Here's the function that should be able to do that:

https://github.com/microsoft/vscode/blob/dedf0de944fae56f0bf748913cbc1b2cc24987d2/src/

[2019-10-12 06:34] pavangayakwad opened #82414 "Font Aliansing is not working"
Issue Type: <b>Bug</b>

On my Windows 10 machines, font aliasing never worked.

VS Code version: Code - Exploration 1.39.0-exploration (a715df3459718a501686bd03414f69929bf6e9a2, 2019-09-13T06:41:33.699Z)
OS version: Windows_NT x64 10.0.18362

![image](https://user-images.githubusercontent.com/1834890/66696299-6d30e700-ece8-11e9-8483-30e198255eb7.png)

<details>
<summary>System Info</summary>

|Ite

[2019-10-12 06:40] cilerler opened #82415 "Find in Folder includes all folders upon search on named folder in workspace"
Issue Type: <b>Bug</b>

1. Create a workspace add the following folder, plus couple of other folders

[code]
2. go to explorer view tab
3. create same file with `lorem-ipsum` text in all the folders
4. right click on the `folderNamed (Special Folder)`
5. click on `File in Folder...`
6. ensure that **files to include** set as `./folderNamed (Special Folder)`
7. type `lorem` in the folder into the *

[2019-10-12 07:05] govo opened #82416 "How to change the font of file explorer?"
Thanks for VSCode, it is a great IDE, fast, and easy to use!

Most of the file icon theme can change the file look of EXPLORER, but not the font.

The problem is, for example, in MAC system, the char capital I(i) and the lower case l(L) is not easy to tell, they look the same.

If the font could be change to Menlo , it is more convenient .

Best wishes!

[2019-10-12 07:05] saptakp2 opened #82417 "Save File (Cursor Jump Issue)"
@msftgits
Issue Type: <b>Bug</b>

The cursor jump while pressed Ctrl + S in any file.
Please suggest some solution to it & Resolve the issue.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7100U CPU @ 2.40GHz (4 x 240

[2019-10-12 07:25] usernamehw commented on #82416
/duplicate of #519

[2019-10-12 07:25] #82416 closed

[2019-10-12 07:26] usernamehw commented on #82408
/duplicate of #82409

[2019-10-12 07:26] #82408 closed

[2019-10-12 07:28] usernamehw commented on #82410
duplicate of #82324 ?

[2019-10-12 07:30] usernamehw commented on #82404
duplicate of #82324 ?

[2019-10-12 07:33] 1470391328 opened #82418 "Vscode cannot complete autocompletion in jupyter mode such as Parentheses。"
It seems that there's something wrong with the autocompletion in jupyter mode.

[2019-10-12 07:34] usernamehw commented on #82413
/duplicate of #82359

[2019-10-12 07:34] #82413 closed

[2019-10-12 07:41] usernamehw commented on #82364
Possible duplicate of #76642

[2019-10-12 08:26] usernamehw commented on #15211
@bpasero Why is it so limiting? I thought it would be possible to add any arguments like `--enable-proposed-api` or `--disable-smooth-scrolling` but they do not work.

[2019-10-12 08:38] kiwibrit commented on #82353
**nsuchy**, thank you - that has let me use the app.

[2019-10-12 09:19] usernamehw commented on #63298
Since nobody else wants it I can try to create such a repo. Do you have any thoughts/ideas for it? Maybe piece of content for the README file. My English is not great.

[2019-10-12 09:34] sguillia opened #82419 "Interactive Playground Rename Refactoring error"
Issue Type: <b>Bug</b>

1. Open Interactive Playground
2. Under Rename Refactorng, press F2 when cursor is on Book
3. Typescript backtrace appears

![Screenshot from 2019-10-12 11-31-50](https://user-images.githubusercontent.com/15984272/66699093-0ad5e780-ece4-11e9-980f-8621fa9c9f02.png)

VS Code version: Code - Insiders 1.40.0-insider (72bc289d32ec4f867e73b7f1f2a22f7d614ae2bb, 2019-10-11T05:31:05

[2019-10-12 09:55] usernamehw opened #82420 "[SCM tree]: Keep first level indent the same as list"
Pretty similar to #66863. SCM tree should exclude first level items and keep indent at `8px`

1.
[code]
2. Indent for first level items is too big, because of
[code]

[2019-10-12 10:42] MaxBec opened #82421 "Multiple code edits doesn't work"
Hey guys,

i want to edit a code file multiple times. First delete all unnecessary line breaks. And then with the newly formatted file do a column style edit of the code. Unfortunately if i call the applyEdit the code is altered once. That's correct. But the new selections, ranges, etc. don't work with the new but with the old code. I have fire the command for the extension again and then the seco

[2019-10-12 10:43] Gruntfuggly commented on #62783
There is a new API coming up allowing the title to be changed. Not quite badges, but it will at least allow something to be shown.

[2019-10-12 10:47] Stefano-29 opened #82422 "I need help."
In VS Code running a Java program there's a notification that says "Build failed, do you want to continue?". I already tried to delete the workspace with the command but no result. If you can help me please scagliolastefano@gmail.com

[2019-10-12 11:25] pirix-gh commented on #82267
I think this is part of a wider problem, where the type of a function is tested to be single (not unioned with other types). So this is also not work:

[code]

[2019-10-12 11:37] janzal123 commented on #82281
Ubuntu 19.04 here is the version of Ubuntu made available for HyperV virtualization, so I am using Ubuntu 19.04 under HyperV in Windows 10.

[2019-10-12 12:11] alexandrudima commented on #82386
This is caused by the word pattern [used in markdown](https://github.com/microsoft/vscode/blob/2a8cc9c067b7003a94e6d6e77e5506b4b0427ffd/extensions/markdown-language-features/src/extension.ts#L59):

[code]

The default (plain text files) is:

[code]

The second one is friendly towards unknown scripts because it targets what are word separator characters, not what are word characters.

[2019-10-12 12:15] GeoJunkie opened #82423 "On Catalina: Can't error check, nonstop "Initializing JS/TS language features""
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-10-12 12:16] GeoJunkie commented on #82423
Inadvertantly submitted. Please ignore (I clicked the wrong tab)

[2019-10-12 12:16] #82423 closed

[2019-10-12 12:16] GeoJunkie opened #82424 "Nonstop "Initializing JS/TS language features" if you only open interactive playground"
Issue Type: <b>Bug</b>

Summary: When installing on Catalina, MacOS gives warnings about being unable to open, JS/TS features don't fully initialize, and Typescript commands aren't available.

1. Brand new install of VS Code on MacOS Catalina.
2. Try to open VS. Get an error.
3. Open via menu, click `Open` on prompt
2. Go to the Interactive Playground
3. "Initializing JS/TS language features" show

[2019-10-12 12:19] ajkerzner opened #82425 "Support for RHEL 8 in FIPS mode"
- VSCode Version: 1.39.1
- OS Version: RHEL 8 (Red Hat Enterprise Linux 8)

Steps to Reproduce:

1. Enable FIPS in RHEL 8
2. Attempt to install VS Code

Does this issue occur when all extensions are disabled?: n/a

Most likely causes:
* VS Code may not officially support RHEL 8
* VS Code's RPM uses a non-FIPS algorithm for the per-file digest and other cryptographic operations, most likely MD5.

[

[2019-10-12 12:21] 395053994 opened #82426 "Very serious coding problem"
Very serious coding problem
![vscode](https://user-images.githubusercontent.com/27546390/66701300-87d97f00-ed2d-11e9-850b-d77d67fb3b8f.png)
Look at the idea
![idea1](https://user-images.githubusercontent.com/27546390/66701303-9031ba00-ed2d-11e9-87f3-776537ddd4a8.png)
![idea2](https://user-images.githubusercontent.com/27546390/66701322-ba837780-ed2d-11e9-8ada-de2bb979e236.png)
![idea3](https://user

[2019-10-12 12:43] gophobic opened #82427 "Rust: cargo build produces huge load on file watcher (Linux)"
RLS on Linux is already very buggy and causes memory leak, but it stabilizes after eating around 1GB, but today after I updated VSCode to 1.39.1, now VSCode itself, namely `code /BIN_HOME/visual-studio-code/resources/app/out/bootstrap-fork --type=watcherService` component eats more RAM on each file save until the system totally freezes. I am not sure whether something changed in this component in

[2019-10-12 13:29] #82418 closed

[2019-10-12 13:30] erised commented on #74782
@misolori No. Open does not even appear anymore. Right click doesn't works as well.
![image](https://user-images.githubusercontent.com/37252657/66702195-8eaec480-ed22-11e9-9c15-4c90416ddca8.png)

[2019-10-12 14:18] Gabriel-Alves-Cunha opened #82429 "The ability to scrool sideways and to zoom with trackpad at anything!!!"
![Captura de Tela (3)_LI](https://user-images.githubusercontent.com/52057747/66702807-00b2e980-ece2-11e9-8a8b-66a6336845a0.jpg)

[2019-10-12 14:39] engmagdy87 commented on #81497
mMesloLGLpace

[2019-10-12 14:40] muhammetsait opened #82430 "[Snap] Opening external links does not work, results in high cpu utilization"
Trying to open external links does not launch the web browser, instead it seems that an infinite number of kde-open5 instances are being spawned and killed which results in very high CPU utilization.

This issue affects versions 1.39.1 and 1.40 Insiders installed from snap store. The `.tar.gz` version works fine.

OS Info:

[code]

Affected Code versions:
[code]

[2019-10-12 14:50] olegpts commented on #82403
here is the solution/wa
https://github.com/microsoft/vscode-python/issues/7836

"For anyone looking, the workaround is to add requirements.txt file with this content:

jedi==0.15.1
parso==0.5.1
isort==4.3.21
ptvsd==5.0.0a5
pyparsing==2.4.0
six==1.12.0
packaging==19.2

to this location on windows:
%USERPROFILE%/.vscode\extensions\ms-python.python-2019.10.41019\

or this location on Linux/Mac:
$HOME

[2019-10-12 15:02] martinsura commented on #82276
Hmm still same issue. Disabled all extensions and enable only "JavaScript and TypeScript Nightly.
Console looks clear ->
![image](https://user-images.githubusercontent.com/333932/66703357-0b857280-ed12-11e9-9a3b-319d24c92417.png)

Code ->
![image](https://user-images.githubusercontent.com/333932/66703348-f4df1b80-ed11-11e9-8036-219f898bab84.png)

[2019-10-12 15:04] AndreaElijha opened #82431 "language extention issues on macOS Catalina"
when i update my system to macOS 15，vscode stick on crush in annoying problems.
1、c/c++ language support problem：when i open a new folder on my workspace，compile and run cpp using launch.json and tasks.json，it alert that cannot create json file. Then i have to uninstall my c++ extension and reinstall it. but just after a littel time，if i delete .vscode or open a new folder，this problem comes again

[2019-10-12 15:05] AndreaElijha commented on #82431
all this was not solved after tried to reinstall vscode many times......

[2019-10-12 15:26] sohailrajdev97 commented on #66748
@alexr00, I would like to work on this. Can I start if no one else is on it ?

[2019-10-12 15:41] zenzoa opened #82432 "Modified file/unsaved work indicator no longer appears when tab close button is disabled"
Issue Type: <b>Bug</b>

Previous to the most recent update, the modified file indicator would appear in file tabs even if the tab close button was disabled. This was desirable because I always want to know if I have unsaved changes in files at a glance, even if I've hidden the close buttons to avoid misclicking, make tabs appear cleaner, or make tabs more compact. But the latest update appears to

[2019-10-12 15:49] MagTun opened #82433 "Automatic update even though background update unchecked and Update mode set to manual"
Issue Type: <b>Bug</b>

I would like to stay on VS Code  1.38.1 until some bugs in 1.39 are fixed.
I have unchecked "background update " and set "Update mode" to manual and then I reinstall VSCode 1.38.1. The install is successful, until I close VSCode et reopen it : then I am back on VSCode 1.39.

---

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683