[2017-04-18 17:10] #24926 closed

[2017-04-18 17:12] mjbvz commented on #24952
I'm not too familiar with the file encoding flows but can you try setting:

[code]

and see if that resolves the issue. The problem you describe sounds similar to #23417

[2017-04-18 17:13] bpasero commented on #24952
https://github.com/Microsoft/vscode/issues/21146

[2017-04-18 17:13] #24952 closed

[2017-04-18 17:14] bpasero commented on #17827
Btw I am seeing subpixel-antialiasing being used for the terminal on my Windows machine at home (running inside parallels with 125% scaling in Windows) but not at work. So this seems a bit random.

[2017-04-18 17:15] bpasero commented on #24957
Update: at home (pretty much same setup, running windows inside parallels) I now suddenly see subpixel-antialias in the panel. This issue seems a bit random it seems.

[2017-04-18 17:17] Tyriar commented on #6442
@headmelted great way to start adding official support :smiley:

[2017-04-18 17:19] headmelted commented on #6442
Thanks! :-)

On 18 Apr 2017 18:18, "Daniel Imms" <notifications@github.com> wrote:

[2017-04-18 17:19] roblourens commented on #24798
Can you set `"trace": true`, repro this, and upload the log here? Would really appreciate it.

[2017-04-18 17:20] patrys commented on #24820
Found the culprit. My env has the following locale settings:

[code]

If I unset `LANG` the icons are rendered correctly 😱

[2017-04-18 17:21] Tyriar commented on #17827
@bpasero weird, I've never seen it working. I wouldn't notice without screenshotting and zooming in though.

[2017-04-18 17:23] Likandr commented on #24948
My proposal is a little different .. more complicated, convenient (as for me)

Description:
Suppose we have three project folders, in different places on the computer.

The offer / request:
Make a window - manager where you can view the list of projects from these three folders (all together, one list), with the possibility of sorting (date changed or opened in VS Code).

Section "last open" do no

[2017-04-18 17:25] Tyriar commented on #20955
@Dominik-K this is likely due to https://github.com/sourcelair/xterm.js/issues/443, let's track it over there.

[2017-04-18 17:25] #20955 closed

[2017-04-18 17:25] roblourens commented on #24805
Is there another error somewhere that says "Downloading ripgrep failed" with an error message? Maybe above this in the logs somewhere

[2017-04-18 17:27] mjbvz commented on #24940
I'm unable to reproduce this on mac or windows so the issue may be linux specific

Adding @alexandrudima and @rebornix to take a look

[2017-04-18 17:29] york-xtrem commented on #24088
Thanks!!

El mar., 18 abr. 2017 18:46, Ed Heltzel <notifications@github.com> escribió:

[2017-04-18 17:30] mjbvz commented on #24949
Can you please provide a small example extension that demonstrates this so that we can investigate

[2017-04-18 17:35] mjbvz commented on #24961
Can you please share the output from running:

    $ which npm
    $ npm --version

in your terminal

[2017-04-18 17:35] ijazsharif opened #24964 "How to make a Old Mobiles Message Composer in C++"
Write a program that compose message in the same fashion as in old mbiles message composer. The program must receiveinteger input. When use enter 2 the program outputs letter ‘A’and if 2 is pressed twice, the letter ‘A’will disappear from screen and character ‘B’will appear and if 2 is pressed thrice the letter ‘B’will disappear and Letter C will appear. To enter ‘AA’you have to enter number ‘2’tw

[2017-04-18 17:36] ijazsharif commented on #24964
Please help me for this issue

[2017-04-18 17:38] mjbvz commented on #24964
This issue is unclear to me but it seems to be a general programming question and not about VSCode

If this is not the case, please provide a more detailed explanation of the expected behavior vs the actual behavior of VSCode, along with a step by step set of steps to reproduce the issue

[2017-04-18 17:38] #24964 closed

[2017-04-18 17:40] mjbvz commented on #24959
@Tyriar I believe this is related to hot-exit. Can you please take a look

[2017-04-18 17:41] Tyriar commented on #24945
Hmm, I'm running Ubuntu 17.04 and I don't have that installed. Any idea why I'm not experiencing it?

[code]

[2017-04-18 17:47] bpasero commented on #24962
@stgolem that is weird, does it reproduce when you run "code -n" from the command line and then close (forces an empty window)?

[2017-04-18 17:51] tlemo opened #24965 ""Change All Occurrences" regression: Match Whole Word / Match Case state is broken"
- VSCode Version: 1.11.2
- OS Version: Ubuntu

Steps to Reproduce:

1. Use "Change All Occurrences" on any word / symbol
2. Try to set "Match Whole World" and/or "Match Case". Issues:
  a. "Match Whole World",  "Match Case" buttons toggle each other (appear to be exclusive, no way to set both as in previous version of vs code)
  b. Subsequent "Change All Occurrences" do not use the last state - it

[2017-04-18 17:51] manu-silicon commented on #24798
I cannot send the full log due to privacy. But it might have to do with the logging output my app is doing.
I'm using `i18next` which output something each time a translation cannot be found. It seems that after a while it hangs. If I disable the debug mode in `i18next` it never hangs.

The last few lines before it hangs are:
[code]

[2017-04-18 17:52] Tyriar commented on #24959
I cannot repro by dragging into the second window and that should trigger a reload.

Dragging the file into the first window (with the unsaved file) requires you to save the file regardless of what hot exit is set to. This is because the window you drag the folder into is being reloaded and opening the folder, which means that the file will be lost. Closing this in favor of https://github.com/Micr

[2017-04-18 17:52] #24959 closed

[2017-04-18 17:52] Tyriar commented on #24953
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 17:52] #24953 closed

[2017-04-18 17:53] Tyriar commented on #24618
@Susanthab `npm install` should fix that.

[2017-04-18 17:54] Tyriar commented on #24941
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 17:54] #24941 closed

[2017-04-18 17:54] reddwarf666 opened #24966 "PowerShell extension fails to start powershell"
Updated VSCode on my Mac and after that, VSCode fails to load PowerShell in the terminal window
Re-installed PowerShell and re-installed PowerShell extension.
No installs of any other extension, first startup of VSCode of the day, VSCode & PowerShell combo was working yesterday, got a message that I needed to restart VSCode because there was a new version/update of VSCode and it needed to finalize

[2017-04-18 17:55] stgolem commented on #24962
I will be more specific here then.
The issue itself is that processes are not closing and that i have to click Close twice to close window.
Issue with Open folder dialog is always here (even first time i start app).
Other issues are happening rarely, i cannot say if it depends on anything else.

[2017-04-18 17:56] Tyriar commented on #12054
If you want ctrl+\` to toggle back and forth, add this to your keybindings.json:

[code]

[2017-04-18 17:56] bpasero commented on #24820
@patrys thanks, I can reproduce. reported to Electron as https://github.com/electron/electron/issues/9225

[2017-04-18 17:58] bpasero commented on #24962
@stgolem does it reproduce when you run `code -n` from the command line? or is it random?

[2017-04-18 17:58] Tyriar commented on #24737
Thanks @Roscoe93, you might want to comment on the original issue if this helps https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 17:58] electrotype opened #24967 "Using WSL - Running a task using existing environment variables and without the "Press any key to close the terminal" requirement"
- VSCode Version: 1.11.2
- OS Version: Windows 10  (Version 1703), with WSL enabled.

I use Bash On Ubuntu On Windows, and I try to make it my default terminal in VSCode. In my `User Settings` :

[code]

It is a Node application written in TypeScript. I use Gulp to run tasks and it works well if I use the terminal directly. But now I try to make `CTRL-SHIFT-B` run the build command task, which has

[2017-04-18 17:59] Susanthab commented on #24618
ahh ok.

So should I need to run that in my Mac where vscode is installed?

Thanks.

________________________________
From: Daniel Imms <notifications@github.com>
Sent: Tuesday, April 18, 2017 11:54:23 AM
To: Microsoft/vscode
Cc: Susantha Bathige; Mention
Subject: Re: [Microsoft/vscode] Additional character when copying SSH keys in integrated terminal (#24618)

@Susanthab<https://github.com/Susant

[2017-04-18 18:01] dchest commented on #24820
To add to @patrys `LC_NUMERIC` discovery: pl_PL uses `,` instead of `.` as decimal separator.

[2017-04-18 18:01] Telokis commented on #329
@xttn `code.exe --user-data-dir "userdata" --extensions-dir "ext"` works fine for me.
What is the matter?

[2017-04-18 18:02] stgolem commented on #24962
Yes, it reproduces every time. I've tried `code -n` just now with no effect.

[2017-04-18 18:04] StephenBloomquist commented on #24895
@weinand I'm not sure I entirely understand the reasoning here. Doesn't `setBreakPointsRequest` happen as a result of VSCode having "X, Y, Z" breakpoints set on "File"? Why wouldn't the adapter have all the file information? Is there a situation where one can set breakpoints in the VSCode UI without the context of a file?

[2017-04-18 18:04] Tyriar commented on #24772
@EricPell please provide some more information, I'm not sure what you mean by python path vs windows paths.

[2017-04-18 18:04] #24772 closed

[2017-04-18 18:05] mjbvz commented on #5559
@Telokis All extensions are currently installed globally. You can then disable the extensions in individual workspaces but I do not believe this will be done automatically. #347 tracks support for workspace specific extensions

[2017-04-18 18:05] Tyriar commented on #24231
@FunnyQ could you try running code via the terminal with `code --verbose` and see what the output is when it crashes?

[2017-04-18 18:06] suan commented on #919
Yes, would be great if the dirty indicator only shows up for any actual changes - today it shows even after a change has been made and has been undone

[2017-04-18 18:08] mjbvz commented on #5559
@jcrben Can you explain your use case? I don't think you should have to be updating the `extensions.json` file that often.

`code --list-extensions --show-versions` is the way to list installed extensions. It should be easy enough to create a simple script that parses the output from this command and creates a `extensions.json` file if you need this functionality

[2017-04-18 18:08] bpasero commented on #24962
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2017-04-18 18:08] Tyriar commented on #24795
I cannot reproduce using `fish` or `bash`. What's in your settings.json?

[2017-04-18 18:09] Tyriar commented on #24801
Please see the documentation: https://code.visualstudio.com/docs/editor/integrated-terminal#_windows

Also new in 1.11 you should get a prompt on first launch to select the shell on Windows https://code.visualstudio.com/updates/v1_11#_improved-start-experience-on-windows

[2017-04-18 18:09] #24801 closed

[2017-04-18 18:10] Tyriar commented on #24813
Duplicate https://github.com/Microsoft/vscode/issues/23688

[2017-04-18 18:10] #24813 closed

[2017-04-18 18:11] Tyriar commented on #24828
We do provide prebuilt rpm and deb files?

https://code.visualstudio.com/Download
https://code.visualstudio.com/docs/setup/linux

[2017-04-18 18:11] #24828 closed

[2017-04-18 18:12] Telokis commented on #8689
Isn't this issue closed by https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions?

[2017-04-18 18:13] Tyriar commented on #24838
The shell that's running in the terminal is an external program, so it's likely powershell/cmd/etc.'s problem

[2017-04-18 18:13] #24838 closed

[2017-04-18 18:13] Tyriar commented on #24857
You will want to create at issue at https://github.com/PowerShell/vscode-powershell

[2017-04-18 18:13] #24857 closed

[2017-04-18 18:14] Tyriar commented on #24863
You want to put the args in `terminal.integrated.shellArgs.windows`

[2017-04-18 18:14] #24863 closed

[2017-04-18 18:14] mjbvz commented on #24948
Ok. Try checking out this extension: https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager

It looks like it provides the sort of functionality you are after

[2017-04-18 18:15] Tyriar commented on #24896
Duplicate https://github.com/Microsoft/vscode/issues/11314

[2017-04-18 18:15] #24896 closed

[2017-04-18 18:15] varunjayaraman commented on #24112
This also randomly happens to me, but sporadically. Both copy and paste are broken. restarting vscode doesn't fix it either

[2017-04-18 18:15] mjbvz commented on #24966
This issue was moved to PowerShell/vscode-powershell#685

[2017-04-18 18:15] #24966 closed

[2017-04-18 18:18] #7161 closed

[2017-04-18 18:20] mduey commented on #396
Add me to the list of users that consider this the only deal breaker that prevents me from moving to VSC.  I find the Sublime implementation of Projects to be spot on.  If I need to work on the "Volunteer Hours" app for example, I open the project which I have populated with different folders (the main project folder as well as another folder that contains images).  That is my working set for that

[2017-04-18 18:20] Tyriar commented on #24922
I'm pretty against the idea of having terminals anywhere as that makes what all the terminal commands do difficult to define:

- Toggling would toggle the last active terminal?
- What happens when you "untoggle" a terminal?
- Terminal exist both in editors and the panel?
- Focus next brings to foreground random tabs?
- Terminals are managed in the panel but they exist in "editor tabs"
- etc.

The

[2017-04-18 18:20] #24922 closed

[2017-04-18 18:21] Tyriar commented on #24930
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 18:21] #24930 closed

[2017-04-18 18:27] rebornix commented on #24302
I'm stupid with Linux keybindings :( We should use Ctrl as well on Linux as well.

[2017-04-18 18:27] stef-levesque commented on #24841
The same happen when zooming out (-1)
Markdown and previewHtml overflow is hidden, and not scrollable

[2017-04-18 18:28] Likandr commented on #24948
Saw this in the comments to [#12631](https://github.com/Microsoft/vscode/issues/12631), but this is not the same :)
This is just a sentence for convenience. In any case, thanks for the help and the answers.

[2017-04-18 18:32] #24302 closed

[2017-04-18 18:32] #24886 closed

[2017-04-18 18:36] rebornix commented on #24861
@bpasero this issue starts to exist once we update electron. My IME fix didn't cover this one.

[2017-04-18 18:36] Tyriar commented on #24743
@rmunn https://github.com/Microsoft/vscode/issues/19665 is the root cause for all the Windows Creator's Update issues. This looks like a different thing as the Windows problem causes weird wrapping, not duplicated characters.

[2017-04-18 18:37] Tyriar commented on #24363
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 18:37] #24363 closed

[2017-04-18 18:40] CPANinjaDoug commented on #24893
It does appear to be supported (or at least available) in Chrome version 57. At least when I use the developer tools to inspect an element it shows “speak” as a style attribute and you can update that by changing the assigned style. I’ve also seen mention of support in Opera.

It looks like Mozilla is working on this: https://bugzilla.mozilla.org/show_bug.cgi?id=1339987

The options available for

[2017-04-18 18:40] Tyriar commented on #24630
@selfup for the unicode issue this happens in all shells, not just WSL. It's an upstream Windows bug that unfortunately made it into the Creator's Update. It's a huge issue that we're working to get resolved (look at all the duplicates on #19665).

On the column cap which was an attempt at mitigating the impact of the Windows issue, I mentioned in https://github.com/Microsoft/vscode/issues/24630#i

[2017-04-18 18:41] mjbvz commented on #24841
Duplicate of #5745. Should be fixed in current insiders

[2017-04-18 18:41] #24841 closed

[2017-04-18 18:44] Tyriar commented on #18588
The way this will be fixed is by implementing "virtual selection" upstream https://github.com/sourcelair/xterm.js/issues/207

It's the next terminal feature I want to work on and it will allow xterm.js to completely control the selection model, **how it's rendered** and how it's copied which will fix a huge amount of issues with the terminal. Here's the list of impacted issues it will touch when I

[2017-04-18 18:45] mjbvz commented on #24967
@dbaeumer May should be able to look into this further.

As a workaround, can you try using a script:

`tasks.json`:

[code]

`run.sh`:

[code]

You may have to `chmod +x ./run.sh`

[2017-04-18 18:45] roblourens commented on #24963
Also, in https://github.com/Microsoft/vscode/issues/21950 you said "And the adapter is in charge if it wants to diable column support by potentially always returning column: undefined". But I don't think that's the case right now, because if I set a column BP but the adapter returns undefined, the column BP decoration is still shown in the original location.

https://github.com/Microsoft/vscode/bl

[2017-04-18 18:45] Tyriar commented on #23705
Looking at this again I think you're right @TSlivede. You could also try: `["/k", "echo hi"]`

[2017-04-18 18:45] #23705 closed

[2017-04-18 18:47] Tyriar commented on #13138
@oshalygin I think that will only happen if you try to run the Linux VS Code binary. Installing The Windows VS Code and then adding that to your Linux path will add a .sh script which should launch it.

[2017-04-18 18:50] vide commented on #24945
Sorry, my bad, you should `apt install libgconf-2-4`, `libgconf2-4` is a virtual, transictional package, so if you don't have it installed, nothing breaks. You should indeed have `libgconf-2-4` installed, which is the package that provides `/usr/lib/x86_64-linux-gnu/libgconf-2.so.4`

[2017-04-18 18:53] roblourens commented on #24798
The logging is a good clue. Logging takes a lot of traffic right now. I think there's something I can do which should reduce the amount of traffic to send a log message, so I will try that.

[2017-04-18 18:59] Tyriar commented on #24823
I imagine this is mainly just a problem on Windows. Here's how the updates work on each OS:

**Windows**

1. A message box appears after an update is downloaded
2. The installer runs which can take around 1-2 minutes

**macOS**

1. The update is downloaded and install silently
2. A message box appears that allows the user to restart VS Code (takes ~1-3 seconds)

**Linux**

- A message box appears

[2017-04-18 19:05] chrmarti commented on #11963
Currently all extensions are run in the same process, so you cannot tell which extension is causing problems without inspecting the process.

Could you try running that process in debug mode:
- Install the insiders build with the Electron 1.6.x update: https://code.visualstudio.com/insiders
- Start with `code-insiders --debugPluginHost=5858`.
- Check Help > Toggle Developer Tools' console for whic

[2017-04-18 19:10] stgolem commented on #24962
**Verbose output**

[code]

And console app never closes.

**Dev tools Console log**

[code]

[2017-04-18 19:13] selfup commented on #24630
Hey thanks for the update! That makes complete sense ❤️

[2017-04-18 19:16] jrieken commented on #24904
indeed

[2017-04-18 19:24] siirila opened #24968 "Ripgrep search missing results in Windows network drives using dedupe"
When I try and search globally using Ctrl-Alt-F it is only showing me matches in the files that are opened and have been viewed in the editor. By viewed, I mean that after shutting down VSC and restarting it, search will only show me results in the files that have been the active tab in that session so far (so initially results for only 1 file). I can work around this by setting `"search.useRipgre

[2017-04-18 19:32] electrotype commented on #24967
@mjbvz I did find something similar and it works indeed for the environment variables. But it would be so much easier if the `~/.bashrc` was automatically sourced.

[2017-04-18 19:34] SomeKittens commented on #20546
I'd love to add scoring or just disable recently opened altogether.  Coming from SublimeText here, so my muscle memory assumes it'll only hit files in the project.  Currently, I get things like this:

![screen shot 2017-04-18 at 12 29 56 pm](https://cloud.githubusercontent.com/assets/1616464/25149431/47e0a8b2-2433-11e7-92f3-04cad5ebc030.png)

Every time I type in `pack` expecting the project's `pa

[2017-04-18 19:37] jrieken commented on #24904
Problem is understood: there is a boost given to matches that (looking reverse) match on a strong positions like word start or an upper-case character. That makes both get an equal score tho that's incorrect

[2017-04-18 19:40] #24904 closed

[2017-04-18 19:45] #24902 closed

[2017-04-18 19:46] ssaari opened #24969 "Ran debug on a script and some other command executed instead"
- VSCode Version:  1.10.2
- OS Version: Microsoft Windows Server 2012 R2 Standard

Steps to Reproduce:

1.  Right clicked a PowerShell script in Windows Explorer
2.  Chose Open With Code.  No other open scripts in the editor.  I edited a file path in the script and did not click anywhere else.
3.  Clicked the "Start Debugging" green arrow
4.  The script was not executed.  It kicked off a command t

[2017-04-18 19:52] Cnordbo opened #24970 "The namespace *namespace* Already contains a definition for *Controller*"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|gitignore|codezombiech|0.5.0|
|vscode-express|Compulim|0.0.5|
|git-project-manager|felipecaputo|1.2.1|
|vscode-nuget-package-manager|jmrog|1.1.2|
|mssql|ms-mssql|0.3.0|
|csharp|ms-vscode|1.8.1|
|vscode-i

[2017-04-18 19:54] mjbvz commented on #24970
This issue was moved to OmniSharp/omnisharp-vscode#1402

[2017-04-18 19:54] #24970 closed

[2017-04-18 19:56] ThmsRynr opened #24971 "PowerShell Syntax Highlighting Error: .bat and .exe files"
There's syntax highlighting as part of the PowerShell extension to indicate commands. This makes things like `something.bat` and `ipconfig.exe` the same color as PowerShell cmdlets like `import-module`. The highlighting for .bat and .exe files doesn't properly detect when .bat or .exe is part of a longer word. It also does not properly highlight .bat and .exe files whose names start with numbers.

[2017-04-18 19:57] Cnordbo opened #24972 "Error on parameter naming (MVC, C#)"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|gitignore|codezombiech|0.5.0|
|vscode-express|Compulim|0.0.5|
|git-project-manager|felipecaputo|1.2.1|
|vscode-nuget-package-manager|jmrog|1.1.2|
|mssql|ms-mssql|0.3.0|
|csharp|ms-vscode|1.8.1|
|vscode-i

[2017-04-18 19:58] weinand commented on #24895
Setting breakpoints is not tied to "files". For example in node-debug you can set breakpoints in internal scripts or evaluated strings that have no representation in the file system. If you stop in this code, the debug adapter (DA) returns in the call stack frames a name and a **synthetic** path (or reference number) of the code location. The path has no meaning to VS Code (so it can not map to a

[2017-04-18 19:58] Tyriar commented on #24945
@vide oh I only put that there because `apt install libgconf-2-4` was going to install a new package:

[code]

[2017-04-18 20:00] mjbvz commented on #24972
This does not look to be caused by VSCode. Please open issues like this against the c# extension: https://github.com/OmniSharp/omnisharp-vscode

[2017-04-18 20:00] #24972 closed

[2017-04-18 20:12] naaness commented on #22351
the last version works well, thanks All

[2017-04-18 20:12] #22351 closed

[2017-04-18 20:18] Jason3S commented on #24802
If anyone has any leads on this one, it would be super useful.  I have only seen this issue with the Python Extension and Spell Checker extension running at the same time.  I have not been able to easily reproduce it.

Since the two extensions do not talk to each other and they use different ports, there shouldn't be a conflict.  But, I did notice that the Python extension causes temporary documen

[2017-04-18 20:39] EricPell commented on #24772
Sure.

If I try to run a script from VS using the integrated terminal, even if the integrated terminal is the WLS bash, the path fed to python for the scipt to execute is given as the Windows path, not the WSL path.

So for example. If I have a python scrip located in my OneDrive director

C:\Users\Eric\OneDrive\bin\test.py

I also mount that bin directory to my WSL home and that script would appe

[2017-04-18 20:40] tylerb commented on #16037
Adding my squeaky wheel here as well. I'd love to see this fixed.

[2017-04-18 20:41] Cnordbo commented on #24972
https://github.com/OmniSharp/omnisharp-vscode/issues/1404

[2017-04-18 20:41] tanxn5 commented on #24848
problem solved after reinstall.

[2017-04-18 20:41] #24848 closed

[2017-04-18 20:43] svipben opened #24974 "IntelliSense problems if `Flow` plugin is used"
- VSCode Version: 1.11.2
- OS Version: Linux Ubuntu 16.04

Hello, I opened issue here https://github.com/flowtype/flow-for-vscode/issues/97 and they said it's VS Code problem, maybe anyone can take attention on that? This plugin is very good, because it improves IntelliSense and we don't need to use `.ts` files to have improved IntelliSense, but the problem is, it somehow duplicates suggestions an

[2017-04-18 20:49] ConnorSMaynes commented on #24800
Another module downgraded the 'requests' module to a lower version. When I upgraded the 'requests' module to the latest version, the problem went away.

[2017-04-18 20:49] #24800 closed

[2017-04-18 20:49] mjbvz opened #24975 "Bracket highlighting Shifts Codelens Slightly"
Steps to Reproduce:

1. Set `"typescript.referencesCodeLens.enabled": true`
2. Open a js file:

[code]
3. Move cursor over the `{` in `class Bar`

**Bug**

![lens-shift](https://cloud.githubusercontent.com/assets/12821956/25152481/e4eac2d2-243d-11e7-9309-ff82791e6dcc.gif)

[2017-04-18 20:51] EricJammin commented on #23976
Same problem for the last week or so running Version 1.11.2 on Mac OS X 10.11.6.

Running "SCM: Disable Preview SCM" does alleviate the issue for that current session.

[2017-04-18 20:52] jacquescrocker opened #24976 "Project search won't find things unless the file is directly open"
![](https://cl.ly/0R3m373u2R1v/content)

I'm not sure what else to show here. Is there a way to clear search cache or something?

This is happening in all my projects and at this point I don't feel I can trust search results in VSCode anymore. Which means a vastly worst dev experience of having to handle search via a separate app :(

- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7

[2017-04-18 20:54] anthcool commented on #5953
So, since MSFT is sending a royal we-couldn't-care-less (kind version of what I'd like to say) to all of us because they think this isn't an important feature to address, I've found the following to help those of us that are willing to try and implement this ourselves.  May take a stab at it at some point when time is more on my side if it doesn't get hit on soon by someone.

There's a node.js mod

[2017-04-18 20:55] jacquescrocker commented on #24976
is there something wrong with these exclude settings?
[code]

[2017-04-18 20:58] kgrossjo commented on #24916
Hm.  `F10` invokes a macOS action (to show all windows of the application), and `Shift-F10` does the same but with slow motion animation.

But it provided a starting point: In the keyboard shortcuts I searched for `F10`, found the `Shift-F10` command, and reassigned it to `cmd-F10`.  So now when I'm in a text editor, I can use it and I get a nice context menu.

But the keyboard shortcut has "When

[2017-04-18 20:58] tobynet commented on #12515
Me too. (@Strate)

`Markdown` too. See below.
The words can **not** be viewed at all.

![image](https://cloud.githubusercontent.com/assets/20859/25152268/6a9986c2-24c3-11e7-9b0c-f581ffaeea98.png)

Plain text:

    # About Java

    * Java+You, Download Today

      あなたとJAVA, 今すぐダウンロード

[code]

    **JAVA** EN U, NU DOWNLOADEN

    _JAVA + UTENTE_, SCARICA OGGI

Environments:

[code]

[2017-04-18 20:59] orta commented on #24974
To save you digging around this is basically https://github.com/Microsoft/vscode/issues/15738 and https://github.com/Microsoft/vscode/issues/17068

[2017-04-18 21:01] mjbvz commented on #24974
Thanks @orta! Yes, #17068 tracks allowing built-in extensions to be disabled.

Closing as a duplicate of #17068

[2017-04-18 21:01] #24974 closed

[2017-04-18 21:04] svipben commented on #17068
I'm also wondering if there's any updates on this thread. :stuck_out_tongue:

[2017-04-18 21:13] Tyriar commented on #24633
Due to functional regressions elsewhere with the proposed fix let's just live with the bad behavior until Chromium gets upleveled.

[2017-04-18 21:13] #24971 closed

[2017-04-18 21:15] chrispyatfpng commented on #24884
I will do some tests with the AV.  Knowing my system environment that could likely be the problem, and likely my problems are just coincidental with updating VSCode.  Thank you for the assistance!

[2017-04-18 21:16] pr-yemibedu commented on #396
Hello,
 I have only seen that Sublime Text has support for projects with a [project file](https://www.sublimetext.com/docs/3/projects.html). How does that equate to what is being asked for here? It sounds like a request for vscode to support project files within a workspace. There was a comment earlier of an extension that could handle things in that regard [for a project manager](https://github.c

[2017-04-18 21:20] albertofrancousa opened #24977 "Intellisense does not recognize process keyword from NodeJS.Process library"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:01:14.464Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-database|bajdzis|1.2.0|
|jshint|dbaeumer|0.10.15|
|beautify|HookyQR|1.0.2|
|csharpextensions|jchannon|1.3.0|
|csharp|ms-vscode|1.8.1|;

---

Steps to Reproduce:

1. Create a new directory: "mkdir

[2017-04-18 21:20] roblourens commented on #24976
Yes, `"**/.sprockets**"` - ** after the text is invalid, you probably want `"**/.sprockets*"`. This worked on accident before we swapped out the search provider last release. In the next release, an error message will be shown. Let me know if that doesn't fix it.

[2017-04-18 21:20] #24976 closed

[2017-04-18 21:20] #22328 closed

[2017-04-18 21:21] jacquescrocker commented on #24976
ok, thanks for the heads up @roblourens

[2017-04-18 21:22] Tyriar commented on #24528
Yes, recently a change was made to run the shell as a login shell. You can either remove the `cd` in your `.bash_profile`, use `pushd`/`popd` to move to a folder and back, or make it run a non-login shell again by adding this to your settings.json:

`"terminal.integrated.shellArgs.osx": []`

[2017-04-18 21:22] #24528 closed

[2017-04-18 21:25] #11640 closed

[2017-04-18 21:28] mjbvz commented on #24956
Yes, for TypeScript code, any library you use must have typings, either from `@types/...` or  included in the package. It does not look like there are typings for `snoowrap`.

In TypeScript projects, these typings files must be manually managed. In JavaScript, since the Typings files are only used for editor language features and not for compiling, we will automatically download these typings to p

[2017-04-18 21:28] #24956 closed

[2017-04-18 21:30] Tyriar commented on #24558
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 21:30] #24558 closed

[2017-04-18 21:31] Tyriar commented on #24510
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 21:31] #24510 closed

[2017-04-18 21:32] Tyriar commented on #24475
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-18 21:32] #24475 closed

[2017-04-18 21:33] Tyriar commented on #24452
Tracking this in the upstream repo https://github.com/Tyriar/node-pty/issues/7

[2017-04-18 21:33] #24452 closed

[2017-04-18 21:38] Tyriar commented on #17609
@CherryDT you're likely seeing https://github.com/Microsoft/vscode/issues/19665 which is being looked at by another team.

[2017-04-18 21:38] clocksmith commented on #1023
+1000

[2017-04-18 21:45] arackaf commented on #24926
If anyone else winds up here, the solution is simple and delightful

[code]

which will cause `this.props` to be type inferred to be of the shape

`{x: string, y: number, store: store}`

Also note that the empty object after this is for state, so

[code]

will cause `this.state` to be type inferred to have those `a` and `b` properties.

[2017-04-18 21:46] mjbvz commented on #24977
I don't believe that we include node typings by default. Try creating a `jsconfig.json` for at the root of your workspace with the contents:

[code]

This should make sure that node's typings and modules are included in intellisense suggestion

[2017-04-18 21:46] #24977 closed

[2017-04-18 21:51] YAMNSheff opened #24978 "Opening PowerShell script from Explorer Open With on Windows Server 2012 R2 causes the file to open in another user's session"
- VSCode Version: 1.11.2
- OS Version:  Windows Server 2012 R2
- Extensions:  PowerShell 0.12.2 (behavior observed with enabled and disabled)

Steps to Reproduce:

1.  Install VS Code on a host that is a member of a domain with at least one trusted domain
2.  Create two users, one in each domain with the same SamAccountName
3.  Establish a session for each user to the host
4.  Open VS Code in one

[2017-04-18 21:51] term1nal commented on #10523
No alternative for Numix Square icon theme? Only seems to work with Circle icon theme.

[2017-04-18 21:51] Tyriar commented on #24861
I believe this is happening because the "composition character" (`keyCode` 229) is not being handled in the IME keydown handler. This keyCode allows the browser to tell the website "hey they IME did *something*", and therefore we need to cancel the event.

The keyCode is coming out as 0 I believe because we wrap the native `KeyboardEvent` in our `StandardKeyboardEvent` which doesn't know what `key

[2017-04-18 21:54] roblourens commented on #24968
Do you have any workspace settings in a `.vscode/settings.json` file? Are there any `files.exclude` or `search.exclude` patterns there?

[2017-04-18 21:59] satokaz commented on #24861
Thank you for advancing the investigation.

The environment that got the screenshot is US Keyboard layout.
I confirmed that the same problem occurs in Japanese Keyboard (JIS) layout environment.

Use the latest insiders: VSCode Version: Code - Insiders 1.12.0-insider (7efc373d6874511f730bdf7a30b4728ce84b22a8, 2017-04-18T06:05:44.301Z)

[2017-04-18 22:02] josiahbgrace opened #24979 "Compound debug configurations not shown after first breakpoint is hit."
- VSCode Version: 1.12.0-insiders
- OS Version: El Capitan

Steps to Reproduce:

1. Launch a compound configuration

[code]

2. Observe the debug floating menu has both configurations shown.

<img width="328" alt="screen shot 2017-04-18 at 2 56 01 pm" src="https://cloud.githubusercontent.com/assets/3061661/25154986/c56d017c-2447-11e7-97e1-2b301dc0da72.png">

3. Hit a breakpoint in the code.

4. Ob

[2017-04-18 22:09] chaskim commented on #22995
I have the same problem as outlined by @slfuqua.

- VS Code 1.11.2
- macOS 10.11.6

It worked okay in earlier versions of VS Code (I believe it worked okay in 1.10.x).

[2017-04-18 22:30] albertofrancousa commented on #24977
I did what you recommended and it worked immediately. I found strange, however, how pasting code from another app enabled the intellisense. I guess is not that important ... thank you for your kind response.

[2017-04-18 22:34] sheetalkamat commented on #13046
This seems to repro again. Eg. see Microsoft/TypeScript-TmLanguage#437

[2017-04-18 22:37] xavdid commented on #24795
Sorry, this is in zsh (`v5.2`) with [oh_my_zsh](https://github.com/robbyrussell/oh-my-zsh) enabled.

I recorded a quick example video here: https://www.youtube.com/watch?v=lkpLyl8_miE

I can scroll normally before the file is viewed, can't once it's there. After ~ 30 sec, the dead window dialog shows:

<img width="482" alt="screen shot 2017-04-18 at 3 33 40 pm" src="https://cloud.githubusercontent

[2017-04-18 22:38] xavdid commented on #24795
my settings.json is here:

[code]

[2017-04-18 22:40] Tyriar commented on #24861
@satokaz can you confirm that this works fine when using the IME in the terminal?

[2017-04-18 23:06] DustinCampbell commented on #2628
The one we use for C# and Visual Basic in VS looks like this:

![image](https://cloud.githubusercontent.com/assets/116161/25156681/f0a0f64c-2450-11e7-8da9-608f71ac6187.png)

I think C++ uses something different.

[2017-04-18 23:23] kof3r commented on #20757
I was repeatedly getting this error while trying to refactor a variable name in a python file. I noticed that my file didn't have an empty new line at the bottom, when I added one the refactoring completed successfully. Not sure if it's somehow related.

[2017-04-18 23:46] wprater commented on #14229
Im still experiencing this in the latest insiders. would love to help debug.

[2017-04-18 23:47] markdall commented on #24718
Confirmed it's fixed in the VSCode insiders build, awesome!!

[2017-04-18 23:47] satokaz commented on #24861
@Tyriar

The screenshot is the input result at the integrated terminal.

The Japanese input on the terminal also has a strange behavior.
I will also add the results of the stable version for comparison.

## **Insiders:** Terminal
![vscode_issue_24861_insiders](https://cloud.githubusercontent.com/assets/13635244/25157236/ec292334-24da-11e7-932f-6f361c6bf2ad.gif)

## **Insiders:** input Japanese wit

[2017-04-19 00:04] gin-lsl commented on #24825
@rebornix @jiangzhuo is right. I try type chinese letter in 32-bit program (but only Brackets I have) and the selection box did not appear.
Should I close this issus?⊙﹏⊙∥

[2017-04-19 00:16] ngohungphuc commented on #24742
@joaomoreno I think when I try to open multiple folder in vs code that contain multiple .git folder it will break extension host

[2017-04-19 00:30] roblourens commented on #12427
Search has been rewritten twice since this was filed, so hopefully it works now.

[2017-04-19 00:30] #12427 closed

[2017-04-19 00:36] TheSisb commented on #24961
Same error
[code]

That said, I don't use TS.  The error led me here.

[2017-04-19 00:44] rebornix opened #24981 "Backspace can not erase the last one character during Chinese/Japanese IME conversion (macOS)"
- VSCode Version: 1.12-Insiders
- OS Version: macOS

The same issue as https://github.com/electron/electron/issues/9173

Reproduce steps:

1. Open any markdown file, preview
2. Go to Search Viewlet or Git Viewlet
3. Switch to Japanese IME
4. Type Japanese, and then delete
5. You have to press Delete twice when deleting last character.

[2017-04-19 00:44] rebornix commented on #24557
@bpasero your suspicion is correct, we had the same issue as they do. I put more details in https://github.com/Microsoft/vscode/issues/24981 .

[2017-04-19 01:04] mjbvz commented on #24961
TypeScript powers both our JavaScript and TypeScript language features.

To diagnose this, can you please try collecting the tsserver log:

* Set `"typescript.tsserver.log": "verbose",`
* Restart VSCode and reproduce the issue
* Run the `TypeScript: Open TS Server log file` command and share the log file
* Also reveal the location of the log file in the finder. There should be a `ti-xxx.log` file

[2017-04-19 01:08] mjbvz commented on #24969
This issue was moved to PowerShell/vscode-powershell#687

[2017-04-19 01:08] #24969 closed

[2017-04-19 01:10] wtjones commented on #14529
I created a [PowerShell module](https://github.com/wtjones/PSCode) that aliases the `code` command to a cmdlet that emulates the behavior of `code.cmd`.

[2017-04-19 01:21] jianzhenghui opened #24982 "visual studio code 扩展主机意外终止"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|one-monokai|azemoh|0.2.4|
|vscode-html-css|ecmel|0.1.1|
|code-runner|formulahendry|0.6.16|
|Theme-Blackboard|gerane|0.0.2|
|vue-snippets|hollowtree|0.1.1|
|ionic1-snippets|justinjames|1.0.1|
|easy-less|mrc

[2017-04-19 01:28] roblourens commented on #14129
This is not (yet?) supported by Node, but is by Chrome for some reason. If it ends up working in Node, it will work for single file search. But it will likely never be supported by ripgrep, the full text search provider.

[2017-04-19 01:28] #14129 closed

[2017-04-19 01:35] mjbvz opened #24983 "Add Markdown.trace Messaging to Diagnose Issues With the Markdown Extension"
**Problem**
For issues with the markdown preview such as #22995, we currently do not have a story for diagnosing what is going wrong besides asking users to debug themselves

**Request**
Add a basic logger for the markdown extension so that users can enable and share the logs from. This should help us investigate issues

[2017-04-19 01:36] roblourens commented on #17379
It looks like at least part of the issue was mixing and matching debug protocols - `--debug-brk` uses the old 'legacy' protocol. `node2` starts up the adapter expecting the new `inspector` protocol.

These days, select this with the 'protocol' field.

[2017-04-19 01:36] #17379 closed

[2017-04-19 01:36] #17459 closed

[2017-04-19 01:52] mjbvz commented on #24982
Please try running code with extensions disabled using `code --disable-extensions` and see if this still reproduces

[2017-04-19 01:52] Jamamuuga commented on #14444
+1

[2017-04-19 01:52] felipecrp opened #24984 "Highlight using wrong colors for Themes"
This is a sample code, in which the cursor is on "abc" string.

In vscode 1.7.2, it use the right colors:

![old](https://cloud.githubusercontent.com/assets/615155/25094108/f8d959b6-236b-11e7-8b52-9a234a359604.png)

But in vscode 1.11.2, it use the same (or near same) color of selection:

![new](https://cloud.githubusercontent.com/assets/615155/25094117/0434f0b8-236c-11e7-8e94-0f9a1d5065ad.png)

-

[2017-04-19 01:55] xttn commented on #329
@Telokis `"I:\DEV\Microsoft VS Code\Code.exe"  --user-data-dir "userdata" --extensions-dir "ext"`
Like this? I will try :+1:

[2017-04-19 01:57] #24983 closed

[2017-04-19 01:59] mjbvz commented on #22995
For anyone seeing this problem, #24985 just added some basic logging to help investigate. The change be in the next insiders build. Once that is released, please download it and:

* Set `"markdown.trace": "verbose"`
* Reproduce the issue
* Go to the output pane and share the output from the `Markdown` section

This should help me investigate what may be going wrong here

[2017-04-19 02:00] ramya-rao-a commented on #24856
The indentation issue occurs for any emmet snippet that has the "html" tag.
Search for "format.noIndentTags" in https://docs.emmet.io/customization/preferences/
I don't understand the reason behind  not wanting `html`'s children to get indented though.
@sergeche might be able to clarify that

Meanwhile, set the below to get around this issue
[code]

[2017-04-19 02:00] #24856 closed

[2017-04-19 02:08] roblourens commented on #18123
Search is now provided by ripgrep which is faster and smarter about applying these patterns. And #18334 will help.

[2017-04-19 02:08] #18123 closed

[2017-04-19 02:10] PolymathWhiz commented on #24742
@ngohungphuc The permanent fix will likely come as an update soon

[2017-04-19 02:11] z-index1000000 opened #24986 "code fold doesn't work correctly , if the comment block is not well indented"
- VSCode Version: 1.11.2
- OS Version: Mac 10.11.6

Steps to Reproduce:

1. new a file, copy the below code into it
[code]

2. folder the code at the class declaration line, code fold doesn't not work correctly

[2017-04-19 02:13] roblourens commented on #19168
I'll leave it at least for now since we have UI for the skip status - presentationHint and tooltip. Keeping #19180.

[2017-04-19 02:13] #19168 closed

[2017-04-19 02:15] mjbvz commented on #24984
Confirmed this in 1.11.2. I'm unable to get any occurrence highlighting showing in the current insiders builds. @alexandrudima can you please take a look

[2017-04-19 02:19] roblourens commented on #19798
Stale issue. If anyone still reproes this using `"protocol": "inspector"`, please share the log file (`"trace": true` in launch config).

[2017-04-19 02:19] #19798 closed

[2017-04-19 02:20] roblourens commented on #19769
Not worth keeping this around.

[2017-04-19 02:20] #19769 closed

[2017-04-19 02:21] roblourens commented on #19853
Doesn't seem to repro anymore.

[2017-04-19 02:21] #19853 closed

[2017-04-19 02:27] gregmarr commented on #19853
Just reproduced in Version 1.11.2 (1.11.2) 6eaebe3b9c70406d67c97779468c324a7a95db0e

[2017-04-19 02:28] roblourens commented on #21842
We changed the search backend and hopefully this isn't around anymore. If anyone still reproes it, please see https://github.com/Microsoft/vscode/issues/21842#issuecomment-284690656

[2017-04-19 02:28] #21842 closed

[2017-04-19 02:30] roblourens commented on #19853
Ah I actually do see it. Misread the issue. Same as https://github.com/Microsoft/vscode/issues/20467

[2017-04-19 02:33] ngohungphuc commented on #24742
Thank you guys

[2017-04-19 02:33] ZhangPuXi opened #24987 "Would you like to support vue syntax highlight"
Would you like to support vue syntax highlight? I do not like use plugins, they are not stable

[2017-04-19 02:34] roblourens commented on #24960
This is odd since the ripgrep work has no impact on ctrl+p quick open.

[2017-04-19 02:40] gbritting commented on #16204
Agree with davnicwil "This is a significant accessibility hurdle for colorblind people using VS code."

[2017-04-19 02:42] wesruv commented on #24960
Both seemed to work great today, not sure if the most recent update today did anything?

[2017-04-19 02:44] ajitid opened #24988 "Intellisense for Emmet"
Allow basic Emmet tab completions to appear in Intellisense suggestions for typing completions.

If I am right, the suggestions I get when I type is called Intellisense.

If yes, then tags like <p> or <head> of Emmet are shadowed by Intellisense suggestions by which typing p or head and pressimg tab doesn't gets completed by Emmet but by Intellisense suggestions.

While typing complex Emmet expans

[2017-04-19 02:48] stuporglue opened #24989 "Feature Request: Ability to explicitly set PATH"
- VSCode Version: Version 1.12.0-insider (1.12.0-insider)
- OS Version: OSX 10.11.6 (15G31)

Could there be a way to just set the PATH variable explicitly in VS Code so that I don't have to muck around with my existing (and working!) .bashrc?

I'm on day two of trying out VS Code and I'm hitting this: https://github.com/Microsoft/vscode/issues/21655 when using the XDebug and PHPCS plugins.

I know

[2017-04-19 02:58] davidhu2000 commented on #178
ideally, it would be great if the colors are able to be modified individually.

[code]

[2017-04-19 03:02] roblourens commented on #24960
1.11.2 is the most recent version, unless you mean in today's insiders build?

[2017-04-19 03:09] z-index1000000 opened #24990 "vscode performance not good even on small file"
- VSCode Version: VSCode 1.11.2
- OS Version: 10.11.6

Steps to Reproduce:

1. I was editing a small js file, only 132 lines of code
2. vs response the keystroke with very high latency
![screen shot 2017-04-19 at 11 07 57 am](https://cloud.githubusercontent.com/assets/22735698/25161757/992a3162-24f0-11e7-8f52-6af4dc0fcccb.png)

[2017-04-19 03:12] z-index1000000 commented on #24990
Another timeline screenshot,
Hope this help you to diagnosis the root cause.
![screen shot 2017-04-19 at 11 11 18 am](https://cloud.githubusercontent.com/assets/22735698/25161870/f7aed3f0-24f0-11e7-84c8-3eb2da9ce5ea.png)

[2017-04-19 03:21] mjbvz commented on #22068
Yes I'm very much in favor of standardizing the preview functionality. A preview provider was one option that we considered when originally looking at implementing markdown scroll synchronization: https://github.com/Microsoft/vscode/issues/5047#issuecomment-271490518

Besides previewing documents like markdown, the other case I'd be interested in is extension contributed previews of binary/asset f

[2017-04-19 03:50] Spongman opened #24991 "version conflict"
as of 4/18/2017 Visual Studio Code has the same version as Minecraft, another microsoft developer productivity tool. I'm finding it very hard to get any work done any more. please fix this ASAP.

[2017-04-19 04:02] z-index1000000 commented on #24990
clear the search result solve the performance problem

[2017-04-19 04:10] kylinzhao opened #24992 "auto submit"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T07:56:42.517Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|react-native-react-redux|EQuimper|0.2.0|
|beautify|HookyQR|1.0.2|
|prettier-eslint-vscode|RobinMalfait|0.7.1|
|html-css-class-completion|Zignd|1.1.0|
|html-snippets|abusaidm|0.1.0|
|vscode-theme-onedark|akamud|1.

[2017-04-19 04:19] gregvanl commented on #22051
Closing this issue since the changes to support easier flow of release notes content to the Insiders build will be done in the vscode-docs website generation code. Tracking with https://github.com/Microsoft/vscode-website/issues/611.

[2017-04-19 04:19] #22051 closed

[2017-04-19 04:42] abhijeetahuja commented on #21667
+1

[2017-04-19 05:05] sqnkov commented on #23976
I can confirm all the above. Windows 10 / VS Code 1.11.2.

[2017-04-19 05:16] Spongman opened #24993 "search bug: "whole word" toggles appearance of results in non-loaded files"
Steps to Reproduce:

1. open a c++ project with some '#include' statements in some files
2. close all editor windows
3. open search panel, clear ALL search flags (case, word, regex)
4. search for "#include" (without quotes). NOTE: search results appear
5. turn ON 'Match whole word'. NOTE search results dissappear. ok...
6. open a c++ file containing the text '#include'
7. repeat the search. NOTE:

[2017-04-19 05:35] bpasero commented on #24962
@stgolem to be clear: you can reproduce the same issue with 1.11 stable?

[2017-04-19 05:38] bpasero commented on #24861
@rebornix so is this electron-update related?

[2017-04-19 05:46] #24992 closed

[2017-04-19 06:00] FunnyQ commented on #24231
https://gist.github.com/FunnyQ/aefb1cd3b28fc809e8821073af8deb3d

here are outputs for 3 different crash events

[2017-04-19 06:01] ramya-rao-a commented on #24988
Nice timing @ajitid, we are working on something very similar and that work is being tracked here : #21943

Will close this issue in favor of #21943. Please follow that issue for any updates

[2017-04-19 06:01] #24988 closed

[2017-04-19 06:21] sergous opened #24994 "document text search box located over found result on long first string"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T07:56:42.517Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|terminal-tabs|Tyriar|0.1.1|
|npm-intellisense|christian-kohler|1.3.0|
|gitlens|eamodio|3.4.5|
|tslint|eg2|0.12.0|
|TypeScriptImport|kevinmcgowan|1.17.0|
|quicktask|lkytal|2.6.0|
|vscode-extension-auto-import|mopp

[2017-04-19 06:22] jcrben opened #24995 "Explorer refresh issue again"
Reviving https://github.com/Microsoft/vscode/issues/19377

It's possible I'm misunderstand the design. If the explorer is intended to stay in sync and does so, why have a refresh button? Saw the discussion at https://github.com/Microsoft/vscode/issues/17354#issuecomment-267524776.

- VSCode Version: Version 1.12.0 (1.12.0) (running OSS Dev)
- OS Version: OSX 10.11.5 (15F34)

Steps to Reproduce:
1.

[2017-04-19 06:24] polruzafa opened #24996 "vscode ignores xkb remapping"
- VSCode Version: 1.11.1 onwards
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Remap keys using xkb (https://askubuntu.com/questions/325272/permanent-xmodmap-in-ubuntu-13-04/347382#347382?newreg=4eb097870a15490ebbe39d78412f9797)
2. Test your remapping, they should work everywhere system-wide.
3. Since updating to vscode 1.11.1, it has been ignoring these remaps.

Happens on both of my comput

[2017-04-19 06:28] egamma commented on #24823
Adding to the May milestone for investigation.

[2017-04-19 06:28] elirnm commented on #24732
Insiders is starting much faster.

-----
- VSCode Version: <code>Code - Insiders 1.12.0-insider (7efc373d6874511f730bdf7a30b4728ce84b22a8, 2017-04-18T06:12:01.182Z)</code>
- OS Version: <code>Windows_NT ia32 6.1.7601</code>
- CPUs: <code>Intel(R) Core(TM) i7 CPU         870  @ 2.93GHz (8 x 2926)</code>
- Memory (System): <code>7.96GB (4.47GB free)</code>
- Memory (Process): <code>126.23MB working

[2017-04-19 06:31] #23526 closed

[2017-04-19 06:32] bpasero commented on #23526
I went with the `webkit-mask` approach.

[2017-04-19 06:42] #4803 closed

[2017-04-19 06:54] joaomoreno commented on #24742
@PolymathWhiz The _permanent_ fix is a warning that you have opened a folder in a git repo that has too many active changes, so features will be limited. Prior to April, the Git features were disabled altogether.

Overall, it would be great if you could confirm that your scenario is indeed what I described above:

[2017-04-19 06:56] #24825 closed

[2017-04-19 07:01] joaomoreno commented on #23976
Fixed by 0be6167d9ed4c9c67a14e0250c768f4283bf54e5. The fix imposes a limit on the number of active changes in a Git repository in Code. When that limit is reached, functionality becomes limited, but neither Code nor the extension host will crash.

**Everyone:** The real fix here is to make sure you know what you are doing. Pretty much everyone hitting this has opened a folder in Code which is in a

[2017-04-19 07:01] #23976 closed

[2017-04-19 07:02] joaomoreno commented on #23974
Definitely #23976

[2017-04-19 07:02] #23974 closed

[2017-04-19 07:02] joaomoreno commented on #24442
#23976

[2017-04-19 07:02] #24442 closed

[2017-04-19 07:09] joaomoreno commented on #14229
@wprater Which OS? Does it work when running from the Terminal? When it doesn't repro, can you open the `Developer Tools` (with <kbd>F1</kbd>) and run `process.env.PATH`? Does the result make sense?

[2017-04-19 07:10] sveinse commented on #20026
I tested this on the 1.11.2 release, and it still behaves the same way as the two videos above indicate. The undo function of the text works if you manually focus the editor after pressing the replace button (in either search view) and then press Ctrl+Z.

[2017-04-19 07:10] joaomoreno commented on #24916
Absolutely.

[2017-04-19 07:17] joaomoreno commented on #24989
@stuporglue The thing is... it just works for the vast majority of the people, so let's try to figure out why it doesn't work for you... so we can make it just work for the next guy. 👍

I'm guessing everything works fine if you launch Code from a Terminal (simply running `code`), and that the some executables aren't found when you launch Code from the Finder?

Where exactly does the `Unable to loc

[2017-04-19 07:17] joaomoreno commented on #24803
We can't change the button color, but we can name it `Discard ALL Changes`.

[2017-04-19 07:18] joaomoreno commented on #24705
What shell do you use? Bash, ZSH, Fish?

[2017-04-19 07:19] #24850 closed

[2017-04-19 07:19] Lallassu opened #24998 "vertical/horizontal split window"
It would be good if it was possible to split windows both horizontal and vertical at the same time. Right now it seems to only be possible to be one or the other for all window panes.

It would be great if it had support for same layout as for vim (:sp/:vsp). Hence, splitting one window pane horizontally and at the same time have two window panes horizontally divided.

[2017-04-19 07:19] BigBangWolf opened #24999 "Support multi monitor aware DPI resolution"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: windows 10 (1607)
- Extensions:

when I drag the visual studio code from the screen of 1920*1080 resolution to the screen of 1600*900;
the fonts and code in the editors become breezing，and it becomes difficult to read.

[2017-04-19 07:25] Lallassu opened #25000 "Copy-paste from vim in terminal window"
I'm using OSX and if I use a terminal in vscode and then edit a file with vim in this terminal window I cannot copy text from it to an open file in vscode. It's possible to copy directly from the terminal (less/more <file>) but not from vim.

Might be a OSX/vim issue, but it would be great if this worked.

[2017-04-19 07:37] FuZhiyu opened #25001 "The python debugger is extremely slow"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T07:56:42.517Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|project-manager|alefragnani|0.14.0|
|gitignore|codezombiech|0.5.0|
|git-extension-pack|donjayamanne|0.1.2|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.2|
|gitlens|eamodio|3.4.5|
|sublime-keybindings|

[2017-04-19 07:39] cuongnv201194 commented on #1023
+1

[2017-04-19 07:45] wprater commented on #14229
@joaomoreno `10.12.4`

yes, node is available and correct in the integrated terminal.  however, `process.env.PATH` is not set correctly.

if I am to open from the cli with `code-insiders <path-to-dir>` then it will setup the env.PATH correctly

[2017-04-19 07:47] polruzafa commented on #24996
Updating to 1.11.2 and reseting all keybindings seemed to fix this. I can still reproduce it on an older 1.11.1 installation.

[2017-04-19 07:47] #24996 closed

[2017-04-19 07:50] stuporglue commented on #24989
I stand by my feature request, not only for users who hit this issue again in the future, but also for devs with multiple environments. I have 3 installs of PHP on my machine. For the current project I do want to use the main php binary, which is first in my $PATH, but there are projects that I want/need to use legacy PHP for.

It's not hard to imagine other scenarios where a dev would want to exp

[2017-04-19 07:59] rishii7 commented on #24653
@joaomoreno  Thanks for you input. I implemented this and testing it out, need some input on this .
The behavior and problem is depicted in the attached image.
![image](https://cloud.githubusercontent.com/assets/7886919/25168821/9827be12-2502-11e7-8a38-757dfeb6fcfe.png)

1. Clicking on `Don't show again` for any one one of the message.Should hide all the messages and pops up a Message to `Do you w

[2017-04-19 08:03] ArtBlnd opened #25002 "Unicode Support(Encoding) For Output"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.2|
|cpptools|ms-vscode|0.10.5|
|csharp|ms-vscode|1.8.1|
|java|redhat|0.1.0|
|cmake|twxs|0.0.17|
|cmake-tools|vector-of-bool|0.9.4|;

---
<img width="995" alt="code_2017-04-19_17-0

[2017-04-19 08:06] jrieken commented on #2628
I have found this one which fits `Foo<T>` but also reminds of a word processor...

![screen shot 2017-04-19 at 10 05 49](https://cloud.githubusercontent.com/assets/1794099/25169567/cb49a05a-24e7-11e7-8b9c-f2b5d9b03a70.png)

[2017-04-19 08:14] JohnPoison commented on #6474
When we're talking about huge files, there's no need to process it whole. Typically only the part visible to user (+- page) is processed.

I'd prefer that syntax highlighting or other parts depending on tokenization be disabled, but file will still be displayed and operable

[2017-04-19 08:14] #23693 closed

[2017-04-19 08:17] bpasero commented on #23693
I pushed a light fix for this: if someone provides a light theme that overrides the activity bar background color, the icons flip to a light-theme version (in the same way as all other icons are throughout the workbench).

I would like to not introduce an explicit way of coloring the icons in the activity bar (e.g. using webkit-mask) because that is not a good story for all other icons: If we intr

[2017-04-19 08:27] bpasero commented on #24995
The refresh button has 2 purposes:
* bring the explorer back in sync when there are changes from non watched folders (from the `files.watcherExclude` setting)
* same when the file watcher fails to receive events

In your case, since by default we ignore node_modules changes, it explains your issue. We avoid watching potential large folders to prevent event spam.

Also note that file watching can a

[2017-04-19 08:27] #24995 closed

[2017-04-19 08:38] bpasero commented on #24820
I pushed a workaround by explicitly setting `LC_NUMERIC = 'C'` early on startup of Code.

[2017-04-19 08:42] tomi commented on #24601
This has worked in earlier versions of VSCode as described. I think it broke in the latest version.

[2017-04-19 08:44] bpasero commented on #13665
Todays insider build contains a fix for the "deleted on disk" annotation showing up. Let me know how it goes: http://code.visualstudio.com/Download#insiders

[2017-04-19 08:48] bpasero commented on #6093
Closing (clean up), no plans to work on this.

[2017-04-19 08:48] #6093 closed

[2017-04-19 08:48] bpasero commented on #11310
Closing (clean up), no plans to work on this.

[2017-04-19 08:48] #11310 closed

[2017-04-19 08:48] bpasero commented on #17157
Closing (clean up), no plans to work on this.

[2017-04-19 08:48] #17157 closed

[2017-04-19 08:49] bpasero commented on #22740
https://github.com/Microsoft/vscode/issues/12448

[2017-04-19 08:49] #22740 closed

[2017-04-19 08:52] tobiasfeil commented on #24319
Yeah me too. 1.11.2 and still not working

[2017-04-19 08:52] joaomoreno commented on #14229
Which shell do you use? Bash, ZSH, Fish?

[2017-04-19 08:55] Huachao commented on #24949
@mjbvz I found one interesting thing is that, since I have a line match in my language syntax file, the regex of the line is `^([\w\-]+)\s*\:\s*(.*?)\s*$` which is used to match the http request header line. If I don't match the whole line, like remove the `^` or `$` in regex expression, the auto completion will become available in the first screenshot.

[2017-04-19 08:59] joaomoreno commented on #24989
Glad you could find a solution for your system.

As for allowing multiple environments, why not have separate aliases for that specific purpose? Sort of like this:

[code]

Would this help?

[2017-04-19 09:00] aeschli commented on #24955
I'm seeing the following message in the console:
`[Embedded Page] Uncaught ReferenceError: defaultStyles is not defined`

[2017-04-19 09:02] javierquevedo commented on #24796
Same problem, even if I have the isBuildCommand in the tasks.json

[2017-04-19 09:06] Srekel commented on #396
For what it's worth, here's my use case. I work on a game which is divided into three repositories; one Git repo for the engine, one hg repo for the game code+content and one hg for game code that's generic over many projects. There's also one hg repo for the company's Sublime Text plugins. The generic repo is a subrepo to the game-repo.

At my next work place, I expect to work with many repositor

[2017-04-19 09:07] shjyh opened #25003 "support js dynamic import"
is support js dynamic import in the plan?

the lastest version of webpack 2 treats `import()` as a split-point, but the ide give me a syntax error when i use it.

[2017-04-19 09:09] aeschli commented on #24971
@ThmsRynr @mjbvz Our grammar comes from https://github.com/SublimeText/PowerShell and we don't want to maintain our own fork. Please make a pull request there. Once accepted I will update our grammar.

[2017-04-19 09:10] EricPell commented on #24772
I realized this is a problem with the Plug-in. The “work space interpreter” of the Python plugin does not automatically change if the integrated terminal is set to bash on windows.

Sent from Mail for Windows 10

From: Daniel Imms
Sent: Tuesday, April 18, 2017 8:05 PM
To: Microsoft/vscode
Cc: EricPell; Mention
Subject: Re: [Microsoft/vscode] When using WSL bash integrated termianl,python path name

[2017-04-19 09:13] Kar1son9 opened #25004 "The pair of brackets inside the quotes are not highlighted"
- VSCode Version: 1.11.2
- OS Version: Win10

Steps to Reproduce:

language set to JavaScript. There is a line of the form:

<"{{alive?{{x-spotted?#FFBB00|{{x-sense-on?#D9D9D9|#BFBFBF}}}}}}">

The pair of brackets inside the quotes are not highlighted "Editor.matchBrackets": true, does not help but when language set to "normal text", they are highlighted
how to edit Javascript language files to fi

[2017-04-19 09:22] aeschli commented on #24971
@daviwil FYI, see my comment above. I'd actually leave it up to you if you want to fork the powershell grammar and maintain an own variant. If we maintain our own variant, I'd suggest to create a new repository that just contains the grammar. Similar to https://github.com/Microsoft/TypeScript-TmLanguage.

[2017-04-19 09:23] Lallassu opened #25006 "code_helper hangs and makes vscode unresponsive"
code_helper hangs in background and makes vscode unresponsive. It has to be restarted with hard kill. This is randomly caused by indenting code using one of the vim plugins. In this case javascript.
The code_helper is hogging the CPU. Killing it doesn't bring back the responsiveness in the gui.

- VSCode Version: 1.11.2
- OS Version: OSX El capitan 10.11.6

Steps to Reproduce:

1. install plugin V

[2017-04-19 09:25] aeschli commented on #13046
@sheetalkamat Can you file a new issue? I'm not sure which issue is back. That's what I see in our latest with the dark default+ theme:
![image](https://cloud.githubusercontent.com/assets/6461412/25172970/e6150d74-24f2-11e7-828e-cb9bcfc33b77.png)

[2017-04-19 09:27] aeschli commented on #24986
Our code folding is based solely on indentation. The request for language aware folding is #3422

[2017-04-19 09:27] #24986 closed

[2017-04-19 09:32] vide commented on #24945
@Tyriar the output you pasted means that you already had `libgconf-2-4` installed (otherwise it would be pulled by `libgconf2-4`), that maybe you installed with something else (I think that any electron app needs gconf2). But on a pristine Ubuntu 17.04 gconf2 is not installed anymore, leading to the error I reported

[2017-04-19 09:37] #19735 closed

[2017-04-19 09:37] #24954 closed

[2017-04-19 09:50] chaskim commented on #22995
@mjbvz Thanks very much for looking into this. Below is my output after setting markdown.trace to verbose in VS Code 1.12.0-insider. The first entry is when I click somewhere in the middle of the markdown document. The second is when I use the preview option (which still shows the very top of the document instead of where my cursor was in the actual markdown document).

[code]

I see that the "lin

[2017-04-19 09:57] aeschli commented on #24827
No, syntax highlighting doesn't have any information on symbols. It only sees a line at a time, and needs to make a coloring decision solely based on the name. Coloring every occurrence of `string` as a keyword is a possibility. You can file such  a request directly against the grammar: https://github.com/dotnet/csharp-tmLanguage

[2017-04-19 09:57] #24827 closed

[2017-04-19 09:59] levani opened #25007 "Allow to open a file when DND from zip archive"
- VSCode Version: 1.11.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Create a text file with some content.
2. Add that file to a zip archive.
3. Open zip archive and drag&drop the file into VS Code.

I'm getting the following error message:

![screenshot_5](https://cloud.githubusercontent.com/assets/184472/25174328/0d8e2d76-2508-11e7-83fd-5b14a91f9724.png)

Atom has some issues as well:

[2017-04-19 10:00] joaomoreno commented on #23976
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:07] joaomoreno commented on #24742
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:07] dheerajwebkul commented on #5351
Updated my vscode to V1.11.2,
and still
"editor.occurrencesHighlight": false,

is not working to stop highlight semantic symbol occurrence. :(

[2017-04-19 10:07] joaomoreno commented on #24219
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:07] joaomoreno commented on #24316
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:07] joaomoreno commented on #24378
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:09] joaomoreno commented on #24366
The latest insider update already has this fixed, care to give it a try?

- [Windows](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCodeSetup-1.12.0-insider.exe)
- [macOS](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d330f7ab1016/VSCode-darwin-insider.zip)
- [Linux 64bit](https://az764295.vo.msecnd.net/insider/d8fe52b1789a398a7319346b8923d3

[2017-04-19 10:15] monala commented on #24366
@joaomoreno I check for updates every week, Now I enable git and the problem not fixed.

[2017-04-19 10:17] stgolem commented on #24962
@bpasero yes, i mentioned it before, i have the same issue with stable version, and without extensions.

[2017-04-19 10:46] kymowang opened #25008 "markdown preview cannot wrap"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|java-run|caolin|1.1.4|
|java-debug|DSnake|0.0.2|
|java-properties|ithildir|0.0.1|
|java|redhat|0.1.0|
|java-imports-snippets|tushortz|0.0.1|
|java-snippets|tushortz|0.0.1|;

---

Steps to Reproduce:

1.

[2017-04-19 10:53] loplopop commented on #24601
I've switched to vscode from middle of 2016 and the first thing I noticed was that vscode removed my multiple indentations and spaces as I changed focus to consult a reference. Very annoying.

[2017-04-19 10:57] FunnyQ commented on #24231
This issue looks like related to Electron

https://github.com/electron/electron/issues/7551

[2017-04-19 11:02] jolora commented on #12682
Ditto. Ctrl + § for me too.

[2017-04-19 11:09] mmalyska opened #25009 "Wrong encoding for new files"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|python|donjayamanne|0.6.0|
|xml|DotJoshJohnson|1.7.0|
|csharp|ms-vscode|1.8.1|
|PowerShell|ms-vscode|0.12.1|
|debugger-for-chrome|msjsdiag|2.7.3|
|vscode-icons|robertohuert

[2017-04-19 11:33] MrYakobo commented on #6318
Throwing in my two cents here.
I recently relabeled my drive that I work in from G: to E: which then made Code throw this "Extension host terminated unexpectedly" at me while editing some JS. It seems like Code (or some extension I have) is dependant on the labeling of drives.

[2017-04-19 11:45] stOneskull commented on #5605
without it, it's a deal breaker, mr. visual studio code.

ninja-ide gets it nice with python. i was hoping for a side bar like this..

![image](https://cloud.githubusercontent.com/assets/22704047/25178359/dc31c56c-2548-11e7-83a1-019165fd268b.png)

[2017-04-19 11:45] mcarlospc opened #25010 "Open Angular templates and CSS files with cmd + click"
Is it possible to open Angular templates and CSS with cmd + click (mac) from the component?
Webstorm does have that feature, I didn't find any extension to do that on VS code.

[2017-04-19 11:46] BenderRodrigez opened #25011 "Background color in editor."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.7.1|
|xml|DotJoshJohnson|1.7.0|
|vscode-base64|adamhartford|0.0.1|
|vscode-database|bajdzis|1.2.0|
|Gradle|cazzar09|1.1.2|
|javadebugger|donjayamanne|0.0.2|
|python|donjayamanne|0

[2017-04-19 11:48] bpasero commented on #25011
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-04-19 11:59] Dylan0203 commented on #24231
same here

https://gist.github.com/Dylan0203/7b735e8fdfbecbc8cf52bf195ae88f89

[2017-04-19 12:00] stgolem commented on #24962
I use insiders enterprise version: rs_prerelease.170410-1642
http://i.imgur.com/tg3Mi1A.png

[2017-04-19 12:13] siirila commented on #24968
My settings.json file is:
[code]

[2017-04-19 12:15] ntwrkguru commented on #24705
Sorry, it's Bash and yes, git-lfs was installed via Homebrew.

[2017-04-19 12:20] nmaxcom opened #25012 "Ability to open settings editor from Extensions view/editor"
<kbd>⌘</kbd>+<kbd>P</kbd> obviously doesn't help. But <kbd>⌘</kbd>+<kbd>⇧</kbd>+<kbd>P</kbd> doesn't help either. I try with different combinations of words but nothing.

Extensions mention things like:

Yes! Let's do it. But, where?

I'd imagine the gear icon that appears on each extension, the **universal symbol for settings** would get me there:
![image](https://cloud.githubusercontent.com/asse

[2017-04-19 12:29] masoodusmani commented on #25008
Add two spaces at the end of the line, or use something like vscode-gfm-preview

[2017-04-19 12:33] LPCmedia commented on #7829
+1

[2017-04-19 12:35] ebmarquez commented on #24952
Still having the issue.

From: Matt Bierner [mailto:notifications@github.com]
Sent: Tuesday, April 18, 2017 10:13 AM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Eric Marquez <ebm@bing.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] Code unable to determine file encoding (#24952)

I'm not too familiar with the file encoding flows but can you try setting:

"files.au

[2017-04-19 12:39] vakata opened #25013 "Code folding not working"
- VSCode Version: 1.12.0-insider (commit d8fe52b1789a398a7319346b8923d330f7ab1016)
- OS Version: Windows 10

Code folding stopped working correctly. No errors or messages are shown in the console.

Steps to Reproduce:

1. Create this sample file:
[code]
2. Fold the "a" return property
3. Try folding the "b" return property - it should fail silently

EDIT: it seems some event coordinates are off? O

[2017-04-19 12:51] BenderRodrigez commented on #25011
Same thing.
![2017-04-19 16 51 08](https://cloud.githubusercontent.com/assets/4478255/25180799/79e8b6f4-2520-11e7-9288-5e89501a5114.png)

[2017-04-19 12:55] bpasero commented on #25011
Ok, this was reported already as https://github.com/Microsoft/vscode/issues/12473

[2017-04-19 12:55] #25011 closed

[2017-04-19 12:56] eppz opened #25014 "Extension "Cannot find module" in production (while does find in development)"
Hi,
I made an extension, everything is fine.

I added [**`universal-analytics`**](https://github.com/peaksandpies/universal-analytics), which also works fine while extension is running in debug mode.
But I **don't receive any data from the live extension**.

VSCode: 1.11.2
OS: OSX El Capitan 10.11.6
Extensions: `ms-vscode.csharp` 1.8.1, `eppz.eppz-code` 1.1.21

Steps to Reproduce:

1. Create a Goo

[2017-04-19 12:59] joaomoreno commented on #24366
@monala Note that this is the **insider** update, it just came out a couple of hours ago.

[2017-04-19 12:59] joaomoreno commented on #24705
What does `which code` return?

[2017-04-19 13:01] ntwrkguru commented on #24705
Null

[2017-04-19 13:05] joaomoreno commented on #24705
In Code, if you open the developer tools (<kbd>F1</kbd>, `Developer Tools`) and execute the following snippet, what do you get back?

[code]

[2017-04-19 13:07] Niomar commented on #21413
Any chance this could be revised so that openTextDocument takes the language/contents option as a separate parameter, instead of inplace of uriOrFileNameOrOptions?: vscode.Uri or string?  I have a similar use case as the original story for this issue, but I also need to name the file.

[2017-04-19 13:22] DataTables opened #25015 "Remote debugging with different port numbers"
- VSCode Version: 1.11.2
- OS Version: Ubuntu 16.10

Steps to Reproduce:

I have a Vagrant VM which is running a node (v7.7.3) app. I ssh into the VM and run the node script with `--inspect=0.0.0.0:9229` to allow the inspector to bind on all interfaces. If I use the Chrome link that Node shows when it starts (changing the port to the mapped port and `localhost`) Chrome will correctly inspect the c

[2017-04-19 13:25] DustinCampbell commented on #2628
I might be wrong, but I think that's what C++ uses for templates.

[2017-04-19 13:27] neilgibbons opened #25016 "Odd command line prompt in Integrated Terminal."
- VSCode Version: 1.11.2
- OS Version: Windows 7

Steps to Reproduce:

1. Open in Integrated Terminal.
2. Note command line prompt.

Opened the Integrated Terminal and seem to have a very odd command prompt:

![odd](https://cloud.githubusercontent.com/assets/1011584/25182370/4818766e-250c-11e7-83dd-b5820717110f.png)

[2017-04-19 13:28] ntwrkguru commented on #24705
[code]

[2017-04-19 13:30] joaomoreno commented on #24705
Interesting. What if you paste the following snippet?

[code]

[2017-04-19 13:32] eppz commented on #25014
Ahh, it says `//Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/electron-browser/workbench.main.js:29 [Extension Host] Activating extension 'eppz.eppz-code' failed:  Cannot find module 'universal-analytics'`.

Should I use [`electron-google-analytics`](https://www.npmjs.com/package/electron-google-analytics)?

I'll give it a shot, but still, why is the other package is

[2017-04-19 13:38] ntwrkguru commented on #24705
[code]

[2017-04-19 13:41] joaomoreno commented on #24705
Wait, you don't seem to be using Bash, but tcsh. Check the value of `process.env.SHELL`.

[2017-04-19 13:43] aeschli commented on #24685
This issue was moved to textmate/html.tmbundle#58

[2017-04-19 13:43] #24685 closed

[2017-04-19 13:46] ntwrkguru commented on #24705
VSCode is using `tcsh`, but my terminal is using `bash`...Sorry, I must have misunderstand.

[2017-04-19 13:50] joaomoreno commented on #24705
That is interesting. How do you think Code got to use `tcsh`? In a Terminal what does `echo $SHELL` return?

[2017-04-19 13:50] Ejoz-geek opened #25017 "Add the ability to choose the user files folder"
Please  Add the ability to choose the user files folder

- VSCode Version: 1.11.2
- OS Version: win7 ultimate

Steps to Reproduce:

1.Add the ability to choose the user files folder.
Now it C:\Users\{USERNAME}

[2017-04-19 13:53] jrieken commented on #2628
I understand, and the icon is labeled as template but I couldn't find the T-icon. Nothing we cannot change later, what matter is that the kinds are exposed in the api

[2017-04-19 13:53] aparolin commented on #24691
I'm using VSCode 1.11.2 and running into the same issue.
I've found a strange workaround, if I double click on the modified files, I don't get the side by side diff.
However, if I click on the file with the mouse middle button, then it works.

[2017-04-19 13:55] ntwrkguru commented on #24705
I have no clue! I simply downloaded and installed VSCode.

Hmm...Interesting results:

[code]

[2017-04-19 13:56] VitorLuizC commented on #25013
Same happening here.

![Screenshot GIF](https://i.gyazo.com/0ed969ce601b0a379470cbcc97766fe7.gif)

[2017-04-19 14:00] daviwil commented on #24971
We have our own repo for our grammar [here](https://github.com/PowerShell/EditorSyntax/) but it's currently being rewritten so it shouldn't be used directly.  I didn't realize you had a script that pulls in grammars from other repos, that's cool!  It looks like it supports plist, cson, json, or XML.  Is there any difference between those formats?  Should we standardize on JSON now?

[2017-04-19 14:01] ntwrkguru commented on #24705
So, to clear up a little. $SHELL is the **default** shell, while $0 is the active shell being used. I confirmed this below:

[code]

So, the question is, "Where is VSCode looking for user environments such as shell and path?".

[2017-04-19 14:03] Ejoz-geek commented on #25017
P.S.  C:\Users{USERNAME}\AppData\Roaming\Code

[2017-04-19 14:17] DustinCampbell commented on #2628
I haven't looked in the image library in awhile, but if it helps, C# uses the image indexed by `GlyphGroupType` in [`Microsoft.VisualStudio.Language.IntelliSense.StandardGlyphGroup`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.language.intellisense.standardglyphgroup.aspx).

[2017-04-19 14:18] joaomoreno commented on #24705
Got it.

Code simply reads your `$SHELL` variable. You should change your default shell to `bash` with `chsh -s /bin/bash`. After logging in and out, Code should work properly. Can you confirm?

[2017-04-19 14:19] diev commented on #22214
Somedays our admins had problems to pass the Windows Updates through our corporate proxy, after our WSUS got died. These problems were solved with
[code]
May it be a better way than to write the settings for every application?

[2017-04-19 14:24] vothanhdat commented on #178
+1

[2017-04-19 14:38] ntwrkguru commented on #24705
Confirmed fix, thanks!

[2017-04-19 14:38] #24705 closed

[2017-04-19 14:43] Lucien-Lu commented on #24743
@Tyriar This doesn't happened in Terminal.app and I type the cmd you provide in integrated terminal.
<img width="327" alt="2017-04-19 22 40 23" src="https://cloud.githubusercontent.com/assets/15938765/25186032/85c9a632-2551-11e7-8c08-6de78af9cdea.png">

[2017-04-19 14:43] mmazzarolo commented on #178
I've been searching for a while for a good app to remind me to drink water.
Then, I realized that I'm subscribed to this thread.
Keep the +1 coming guys, they're not useless anymore 🚰

[2017-04-19 14:46] pr-yemibedu commented on #396
@Srekel can you include a screenshot of how you work like this in your current editors? It sounds like a mix of folders and projects using built-in and plugins. Hopefully people in that **A** camp would hardly notice changes to incorporate this kind of feature. For the **B** camp folks, they are right. You can do things quickly with the application out of the box if you do not need to be bogged do

[2017-04-19 14:58] mehas commented on #10248
+1, I'm experiencing the same. `editor.tabSize` is set to 2 in my user settings, File > New File creates a new file set to Tab Size: 4, confirmed in the status bar. Switching editor tabs seems to reset the Tab Size to 4 on the file in the tab as well.

[2017-04-19 15:02] mikevaleriano commented on #24319
Using Mint Mate 18, VSCode 1.11.2

Mint comes with `alt + left click` bound to the "Move Window" gnome action, so the key+click never reaches VSCode.

Once the action is removed/disabled in gnome (screenshot attached), it should reach VSCode, but it still doesn't work.

![image](https://cloud.githubusercontent.com/assets/6718750/25186927/fc318696-24f7-11e7-8040-464d11ffa2e4.png)

[2017-04-19 15:04] jcrben commented on #24995
Thanks! I'll think I'll customize that to remove it from the list.

[2017-04-19 15:12] andy-ms opened #25018 "Can't uncollapse collapsed code"
- VSCode Version: 1.12.0-Insider
- OS Version: Windows 10 Enterprise v1703

Steps to Reproduce:

1. Paste this code:
[code]
2. Ctrl-K, Ctrl-0 to collapse all.
3. Click the `+` next to `class B`. Nothing happens.
4. If you click the `+` next to `class A` first, then `class B` can be uncollapsed.

[2017-04-19 15:15] alexburner commented on #9514
Thank you @evmar ! I will look into this

[2017-04-19 15:17] pohmelie commented on #178
@mmazzarolo
Why you need reminder to drink water? Is it not enough to drink when you thirsty?

[2017-04-19 15:18] eppz commented on #25014
I reimplemented using electron-google-analytics, but results are still the same!
`//Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/electron-browser/workbench.main.js:29 [Extension Host] Activating extension 'eppz.eppz-code' failed: Cannot find module 'electron-google-analytics'`.

I renamed the question.

Why CS Code can't find the extension?
I excluded `node_modules`

[2017-04-19 15:19] chrmarti commented on #24319
Tracked with #3091.

[2017-04-19 15:19] #24319 closed

[2017-04-19 15:20] roblourens commented on #24677
@fabiorocha Can you try removing all the exclude settings except `**/*.js`? If that doesn't change anything, can you download the Insiders build and try there?

[2017-04-19 15:21] arkon commented on #178
![](http://i.imgur.com/axJmn.gif)

Anyway, please stop +1-ing. I'm sure the devs are already aware of this and will post updates as they come.

[2017-04-19 15:21] roblourens commented on #24968
Could you download the Insiders build and try there?

[2017-04-19 15:22] NelsonTriesCoding commented on #25016
That looks weird and I'm curious about it, I hope you'll find a solution about this. Could it be an issue with your environment variables? Or maybe weird characters in you path (like a user folder with a russian name or something like that?)

Note that I don't know anything about this is issue, I was just exploring stuff and got curious about it.

[2017-04-19 15:22] mmazzarolo commented on #178
@pohmelie that's another option, thank you!

[2017-04-19 15:32] DataTables commented on #25015
I've been looking into this a bit, and stuck Wireshark on the VM. What appears to be happening is that VSCode makes the request to /json to the port specified in the launch.json, which returns a URL from Node. But the port specific in the JSON is local to the VM - i.e. it is not the mapped one that is defined in the launch.json.

So VSCode then tried to hit that URL and it fails since that port is

[2017-04-19 15:32] EricJammin commented on #23976
Thanks @joaomoreno, I will give the insider update a try.

But for the record, this was happening without anything git related on my end. Simply opening a plain HTML or CSS file, that was not inside any directory with git, was still giving me this problem.

[2017-04-19 15:33] sqnkov commented on #23976
@joaomoreno , I can confirm what @EricJammin  says.

[2017-04-19 15:34] klebercode commented on #21825
Is this feature not available for macOS?

[2017-04-19 15:45] jrieken opened #25019 "Use no lazy option to generate more cached data"
Since a while we use node/v8 cached data to speed up loading our code. Since v8 runs with `lazy` by default most parsing is deferred and therefore the cached data is incomplete as well. When starting with `nolazy` the parser won't take shortcuts and a *lot more* cached data will be produced. While that will slow down the very first startup (we generate cached data on client machines) it will impro

[2017-04-19 16:06] #23463 closed

[2017-04-19 16:09] Yliaho commented on #23976
Hmm, turns out I indeed had `.git` in my home directory for whatever reason. Thanks @joaomoreno!

[2017-04-19 16:10] jrieken opened #25020 "Restore action to report negative startup times (insiders only)"
With 89cd0b7516a6870d4a6a2cd8e4b36286157462c6 code was introduced that loads the metrics too early (before the extension host is ready) resulting in caching bad metrics (containing NAN). The results is that the telemetry data is broken and that perf-command is broken

![screen shot 2017-04-19 at 18 10 23](https://cloud.githubusercontent.com/assets/1794099/25190107/849ca230-252b-11e7-9489-8e56b88bd

[2017-04-19 16:11] jrieken commented on #25020
fyi @bpasero - I have reverted the bad commit https://github.com/Microsoft/vscode/commit/9da58ec1cfca8d0972f0436fb776bd3364894289

[2017-04-19 16:12] iFun commented on #852
+1

[2017-04-19 16:16] henderjon opened #25021 "Choose a tab glyph for editor.renderWhitespace"
When viewing invisible characters (editor.renderWhitespace), I would like the character/glyph used for tabs to extend across the full width of the tab (N spaces / to the next tab stop). Sublime Text 3 uses what looks like an emdash(?) or essentially a line than runs to the next tab stop. VSCode uses a single character width arrow.

In descending order of preference:

  - a line that extends the fu

[2017-04-19 16:30] nmaxcom opened #25022 "Should I start working on a PR? (Intellisense/Quick info)"
VSCODE version: Version 1.11.2 (1.11.2)

There are great quick info/intellisense on some methods, like this:

![image](https://cloud.githubusercontent.com/assets/8936090/25190326/2a01cdb8-252c-11e7-90a6-e46bd3af839a.png)

but others like this:

![image](https://cloud.githubusercontent.com/assets/8936090/25190359/43bb60f2-252c-11e7-87e0-0f68c576bb4c.png)

I think it's very important to always have

[2017-04-19 16:32] Tyriar commented on #24312
Right now the terminal panel can't exist without an instance running, we would probably want to support that for this. This could potentially make it a nicer experience when the terminal is configured wrong and exits immediately, so instead of the panel appearing and disappearing quickly, the panel would stay open (maybe retaining the terminal output?).

[2017-04-19 16:34] Tyriar commented on #24861
@bpasero the change in behavior may be related to an Electron change but I don't think a fix needs an Electron update.

[2017-04-19 16:39] joaomoreno commented on #24653
You shouldn't correlate all those messages with themselves. Let's handle one at a time.

As soon as a user clicks on any of the `Don't show again` buttons, we add that extension to the ignore list and the `Do you want to ignore all extension recommendations` message comes up. If the user presses `Yes, Ignore All` we store an extra global boolean that means _don't show more recommendations_. No nee

[2017-04-19 16:41] rebornix opened #25023 "Backspace in Korean composition doesn't work properly"
- VSCode Version: 1.12-Insiders
- OS Version: macOS

Actual

![koreanbackspace](https://cloud.githubusercontent.com/assets/876920/25191396/4f73eca4-24e4-11e7-855b-e10df53309d3.gif)

Expected

![koreanbackspace-correct](https://cloud.githubusercontent.com/assets/876920/25191404/545188ee-24e4-11e7-9b7c-33fa3953071f.gif)

[2017-04-19 16:44] rebornix commented on #25023
The root cause of https://github.com/Microsoft/vscode/issues/24861 is we didn't stop propagation of Arrow keys and this one is the same, we didn't stop the propagation of backspace. Now they should be fixed by https://github.com/Microsoft/vscode/issues/24980

[2017-04-19 16:45] Tyriar opened #25024 "Look into removing file stat checks in terminal link detection"
Performance concerns brought up in https://github.com/Microsoft/vscode/pull/24451#issuecomment-293830028

Notes:

- Link validation was added in 1.11
- Folders (eg. the prompt cwd) will be underlines but do nothing when clicked
- File regexes may need to be improved?
- Verify that web links still override local links

[2017-04-19 16:45] Tyriar commented on #25024
/cc @bpasero

[2017-04-19 16:45] nmaxcom commented on #4039
Also alignment, please. Example from Webstorm:
![image](https://cloud.githubusercontent.com/assets/8936090/25191449/f4646e50-252f-11e7-8828-9bd1bf9a71e5.png)

From that, to greatness in the eyes:

![image](https://cloud.githubusercontent.com/assets/8936090/25191539/38c2fd50-2530-11e7-83e5-383dc4cec93c.png)

[2017-04-19 16:47] rebornix commented on #24861
@bpasero this was introduced by a good fix in native-keymap, which finally uses scan code instead of keycode to handle keydowns in composition. I'll say it has nothing to do with electron update.

[2017-04-19 16:48] BillDenton opened #25025 "autoClosingBrackets in comments and selective control"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|language-x86-64-assembly|13xforever|2.2.9|
|read-only-indicator|alefragnani|0.6.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|vscode-astyle|chiehyu|0.6.2|
|python|donjayamanne|0.6.2|
|EditorConfig|E

[2017-04-19 16:48] Tyriar commented on #24795
@xavdid I notice the file is in the terminal rendered correctly before you run `cat`, how did you print that?

[2017-04-19 16:50] Tyriar commented on #24618
@Susanthab in order to run the xterm.js demo you will need to run `npm install`, that installs `nodemon` which was in the error you pasted in https://github.com/Microsoft/vscode/issues/24618#issuecomment-294891229

[2017-04-19 16:52] Tyriar commented on #23100
@EricPell if that worked it's probably an issue with the account then. I'll close this off as I don't think I can help anymore on this problem.

[2017-04-19 16:52] #23100 closed

[2017-04-19 16:54] Tyriar commented on #24042
Duplicate https://github.com/Microsoft/vscode/issues/22145, see proposed solution in https://github.com/Microsoft/vscode/issues/22145#issuecomment-286170530

In the meantime, `vscode.list` isn't touched if the file exists. You could put an empty file there to prevent the file write.

[2017-04-19 16:54] #24042 closed

[2017-04-19 16:55] EricPell commented on #23100
Thanks for the help.

[2017-04-19 16:56] ramya-rao-a commented on #23169
@okram69 Can you provide a gif how this worked in your former code editor? Or share which editor was it

[2017-04-19 16:57] #23236 closed

[2017-04-19 16:57] rebornix commented on #15177
The root cause is our word separators don't include Chinese punctuation in full width (and any other languages with same concept).

A full width Chinese period is `。` so apparently we don't take it as word separator. That's why `等等。就` is still being suggested.

It's not a markdown issue, it's a more generic language issue.

[2017-04-19 17:00] Tyriar commented on #24325
I've never seen this on Ubuntu 16.04, 16.10 or 17.04. Maybe it's something to do with the docker image?

Not quite sure I understand what you mean with VSCODE_CWD? VS Code'ss cwd should be the cwd of the process that launched it by default.

[2017-04-19 17:00] #24325 closed

[2017-04-19 17:01] Tyriar commented on #24304
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-19 17:01] #24304 closed

[2017-04-19 17:02] chaseadamsio opened #25026 "command not found after opening settings.json (vscodeVim/Vim extension)"
Posting issue here from https://github.com/VSCodeVim/Vim/issues/1527, as the maintainer suggested this was a VSCode issue:

--------

### What did you do?
opened VS Code, then opened settings and attempted to type in my settings.

### What did you expect to happen?

To be able to type as I would in any other file with the vim extension enabled.

### What happened instead?

In some cases, I get the

[2017-04-19 17:10] okram69 commented on #23169
![sublime_text_wrap](https://cloud.githubusercontent.com/assets/26657309/25192501/ba2069de-2533-11e7-9c93-a0e337916570.gif)
And by the way, the code editor was Sublime Text.

[2017-04-19 17:11] roblourens commented on #24798
Can you try in today's Insiders build and check whether it's any better?

[2017-04-19 17:19] manu-silicon commented on #24798
Just downloaded 1.12.0-insider but it is still hanging unfortunately.

[2017-04-19 17:19] Tyriar commented on #24173
I also thought I had it reproduced but it just took a long time. [I don't see anything in particular that should block](https://github.com/Microsoft/vscode/blob/f21622922437df99c7435864686b32fdc721e241/src/vs/workbench/parts/execution/electron-browser/terminalService.ts#L114), the UI didn't block and there were no errors in the console so I think this is related to the terminal application launchi

[2017-04-19 17:19] #24173 closed

[2017-04-19 17:22] Tyriar commented on #24145
To be clear, you want cmd+k to clear the terminal right?

I can't repro, it works fine for me. What does your keybindings.json look like before (when it's not work) and after (when it is)?

[2017-04-19 17:23] aeschli commented on #23218
I know it can be discussed if a link to a folder is a valid link to be returned by a link provider, VS code should definitely handle it, like any other invalid link.

[2017-04-19 17:23] jschrader00 opened #25027 "HTML Formatter not working"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.3|
|Go|lukehoban|0.6.59|
|cpptools|ms-vscode|0.10.5|
|nunjucks|ronnidc|0.2.3|;

---

Steps to Reproduce:

1. Opened HTML document (tried with several different ones, all have the .h

[2017-04-19 17:24] hoffmael commented on #16110
Adding my vote to this one. This would be my number 1 most important missing feature and use it daily in eclipse to navigate and understand the structure of a large code base. I can live without find all references feature and use global text search with whole word option instead.

[2017-04-19 17:29] fuermosi777 opened #25028 "jsconfig.json rootDirs not working"
- VSCode Version: macOS 10.12.4
- OS Version: 1.11.2

My javascript files are importing modules using absolute paths such as

`import Formatter from 'app/utils/formatter';`

In 1.10, creating a `jsconfig.json` file will make go-to-definition work:

[code]
However, after upgrading to 1.11.2, it no longer working. Holding CMD key and click the module, it pops up "no definition" message.

![screen sh

[2017-04-19 17:36] ScriptMigo opened #25029 "PSSession issues in console."
- VSCode Version: 1.11.2
- OS Version: Windows 10
- Powershell version: 5.0
Steps to Reproduce:

Note: This works in the ISE without issue. I only encounter the issue in VSCode.

1. `$creds = Get-Credential`
2.  `New-PSSession -computername 'computername' -credential $creds`
3. Verify session created, `get-pssession`
4. Attempt to enter session, `enter-pssession -id <Session ID>`

Results:

[code]

[2017-04-19 17:38] Deilan commented on #24919
@joaomoreno Same story with modify/delete conflicts: can't do anything with any of the versions.

[2017-04-19 17:38] kicktheken commented on #178
+1

[2017-04-19 17:38] #20729 closed

[2017-04-19 17:38] #24664 closed

[2017-04-19 17:38] #24799 closed

[2017-04-19 17:41] wilomgfx commented on #178
wtf is wrong with these +1 people ?

[2017-04-19 17:45] westy92 commented on #178
Great idea, @davidhu2000!  It would be nice to support hex colors like `git.ignoredFileColor: '#333333'`, too.

[2017-04-19 17:45] roblourens commented on #24960
I tried this with a local smb network share on Ubuntu and it's really slow. With or without ripgrep, search and cmd+p are very slow. But it's also slow outside of VS Code, like if I use the system terminal, `cd`ing into the mounted directory takes 30 seconds. Then the smb service crashed and it all stopped working entirely. So I don't know what to do about all that.

[2017-04-19 17:45] rebornix commented on #10484
@Tyriar I can't reproduce this issue in latest Insider with Japanese iBus IME on Ubuntu 16.04, can you help verify?

[2017-04-19 17:46] fuermosi777 commented on #25028
Never mind. I changed `rootDirs` to `rootDir` and it back to work

[2017-04-19 17:46] #25028 closed

[2017-04-19 17:49] #24991 closed

[2017-04-19 17:50] rebornix commented on #10183
We already changed the implementation under the hood and I can not reproduce this on Windows any more. @tomoki1207 can you help verify?

[2017-04-19 17:52] roblourens commented on #24993
This is https://github.com/Microsoft/vscode/issues/23624 and is fixed in the Insiders build. It's due to using 'whole word' with non-word characters like #.

[2017-04-19 17:52] #24993 closed

[2017-04-19 17:52] aeschli commented on #23218
I reverted the change as IMO we should keep the link detection for any kind of link (also folders) as it is useful for the Monaco editor that can open any URL.

[2017-04-19 17:54] roblourens commented on #24798
Can you check whether there's any issue debugging with chrome devtools? You can start node with `--inspect` and use the url that it prints.

[2017-04-19 17:57] rebornix commented on #9389
This issue is obsolete and I can't reproduce any more. It should be fixed via https://github.com/Microsoft/vscode/commit/374c4e3e995dfa984a418f161bef3a908cb61e42 already.

[2017-04-19 17:57] #9389 closed

[2017-04-19 17:57] Tyriar commented on #24001
This will happen occasionally as I haven't completely integrated the repo publish into the build system. If we have a fix build that was queued manually or we unpublish a build, this needs to be published to the repo manually currently.

[2017-04-19 17:57] #24001 closed

[2017-04-19 18:04] rebornix commented on #24981
It's actually more severe as if there is any webview, we'll receive wrong composition events in editor as well. So if you are editing markdown files in Japanese with Preview open, you'll run into the same issue. cc @mattbierner

[2017-04-19 18:05] akamud commented on #19735
I see this is closed, but can you provide more info about what theme creators need to do to provide coloring for diff?

[2017-04-19 18:07] Tyriar commented on #23808
Thanks for looking into this @Njanderson, sorry about not getting to this I took last week off and am still catching up. Your proposal looks pretty good, just keep `hasTerminalChildProcesses` in `TerminalInstance`, fork a new child process and wait for your new child process calls to finish. You'll also need to change `_onWillShutdown`'s return type to `boolean | TPromise<boolean>` so that it will

[2017-04-19 18:13] mjbvz commented on #25027
Quick question: can you run the `format document` command using the command palette?

[2017-04-19 18:14] manu-silicon commented on #24798
It seems to work just fine with the chrome devtools. No hanging.

[2017-04-19 18:15] xavdid commented on #24795
Ah, that was the same file without the unicode. I tried it to ensure the unicode characters were the issue (not `cat` or something else in the file).

[2017-04-19 18:15] mjbvz commented on #25025
What language are you working in?

I believe that languages can already restrict this functionality in their language configuration option, see https://github.com/Microsoft/vscode/blob/master/extensions/typescript/language-configuration.json for example. Perhaps that language you are working in doesn't use `notIn` in this configuration

[2017-04-19 18:20] mjbvz commented on #25022
Sounds like a good idea.

Most of our standard library typings come from TypeScript ( https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts for example ) so I believe you should submit a PR against TypeScript instead. For a larger PR, check with the TypeScript team to make these are the correct files to edit

[2017-04-19 18:20] Tyriar commented on #23312
Hm weird, well closing off since you can't repro anymore in VS Code.

[2017-04-19 18:20] #23312 closed

[2017-04-19 18:23] Tyriar commented on #24126
Upstream PR out https://github.com/sourcelair/xterm.js/pull/639

[2017-04-19 18:23] roblourens commented on #24798
Are there any error messages in the log file? Does the end have a lot of similar messages from logging, like `"Runtime.consoleAPICalled"` events? When it hangs, is it still writing to the log or does that stop? Can you check for errors in the developer tools against vscode (Help > Toggle developer tools)?

[2017-04-19 18:26] amithegde opened #25030 "If an instance of VS Code is open I can't open another instance from Windows Explorer"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.2|
|gitlens|eamodio|3.4.5|
|tslint|eg2|0.12.0|
|vscode-npm-script|eg2|0.1.9|
|vscode-great-icons|emmanuelbeziat|1.1.50|
|json-tools|eriklynd|1.0.2|

[2017-04-19 18:28] Tyriar commented on #15567
Thanks @rprokhorov that's really helpful 😃, did you get the same error code 2147483651?

Did you have Program Files (x86) specified too? I wonder why the VS Code executable is fine to run but not `winpty-agent.exe`, maybe because of signing?

@rprichard FYI

[2017-04-19 18:29] artsterb opened #25031 "Terminal task runner opens new cmd.exe window when run on a windows machine"
Change version to 2.0.0 in tasks.json
Run a build using Ctrl+Shift+B on a windows machine

Result:
VS code opens a new cmd.exe window like it is trying to exec something

Expected:
It shows the output in the built-in terminal "window" at the bottom of the VS code window

It is really frustrating to have this build window pop up and then go away when the build is done and even worse that I don't ge

[2017-04-19 18:31] manu-silicon commented on #24798
The trace output is still the same as what I showed before. When it hangs, nothing gets printed to the log anymore. I could not find any errors in the developer tools.

[2017-04-19 18:34] aeschli commented on #24592
duplicate of #3641

[2017-04-19 18:34] #24592 closed

[2017-04-19 18:39] ramya-rao-a opened #25032 "While changing language mode, git related commands show up in cmd pallet"
- VSCode Version: Both Stable 1.11.2 and Insiders 1.12.0

Steps to Reproduce:

1. Run the command "Change Language Mode"
2. When the quick pick opens with list of languages, type `sa`

Stable:

<img width="625" alt="screen shot 2017-04-19 at 11 36 54 am" src="https://cloud.githubusercontent.com/assets/16890566/25196193/ccf35416-24f4-11e7-8033-a01c7e4fafd8.png">

Insiders:

<img width="664" alt="sc

[2017-04-19 18:41] ramya-rao-a commented on #25032
Looks like they are actual language modes. False alarm

[2017-04-19 18:41] #25032 closed

[2017-04-19 18:42] electrotype opened #25033 "Using WSL - How to use Bash for the launch configurations?"
- VSCode Version: 1.11.2
- OS Version: Windows 10  (Version 1703), with WSL enabled.

I asked [the question](http://stackoverflow.com/questions/43480997/vscode-with-wsl-how-to-use-bash-for-the-launch-configurations) on StackOverflow, but without any answers, so I guess it's maybe not possible...

I use Visual Studio Code to develop a TypeScript Node application on Windows 10, with WSL enabled.

Th

[2017-04-19 18:44] loganhuskins commented on #23312
I could reproduce from ConEmu, so maybe it's a third party terminal thing?

[2017-04-19 18:44] cnshenj opened #25034 "Provide auto-complete candidates for TypeScript string literal type when double quote is typed"
- VSCode Version: 1.11.2
- OS Version: Windows 10

Steps to Reproduce:
[code]
When I type the double quote, the auto-complete popup should be showed. It should work like when I type the dot after an object name, the auto-complete popup is showed without Ctrl+Space.

[2017-04-19 18:54] vors opened #25035 "chsh to powershell breaks the integrated terminal"
- VSCode Version: Version 1.11.2 (1.11.2)
- OS Version: macOS 10.12.4

Steps to Reproduce:

1. Install [powershell](https://github.com/PowerShell/PowerShellhttps://github.com/PowerShell/PowerShell) on macOS. Add it to list of shells and set it as default terminal with `chsh`. (my current setup)
2. Run vscode and try to open the interactive terminal.

## Expected

Terminal opens and shows powershel

[2017-04-19 18:56] akashnimare commented on #2973
Hey @Tyriar
I'm working on an electron app named [zulip-electron](github.com/zulip/zulip-electron). I have already build a .deb using [electron-builder](https://github.com/electron-userland/electron-builder). Just wanted to know how to add `.deb` to a PPA so that users can install/update my app via `sudo apt-get myapp`. Any suggestions would be really appreciated.

[2017-04-19 18:57] jschrader00 commented on #25027
Currently I am unable to run the 'format document' command in the command palette, is this a situation where I should uninstall and reinstall VSCode?

[2017-04-19 19:02] maneesht commented on #24869
@aeschli I'd like to help out with this, if no one's working on it.

[2017-04-19 19:07] mkszepp commented on #23221
@aeschli okay thanks, can you inform me, when there is in the insider version so i will test it

[2017-04-19 19:13] roblourens commented on #24798
Thanks for checking. I'm not sure what else to try.

Are there a ton of log messages being produced? Are they all similar to the one in the log snippet above, or are there longer ones, or ones logging objects or something else?

[2017-04-19 19:13] BillDenton commented on #25025
I'm using C and C++. Should I file an issue in the C/C++ extension?

[2017-04-19 19:27] neilgibbons commented on #25016
Took another look when I got home - restarting VS Code in the same folder and I now get:

![image](https://cloud.githubusercontent.com/assets/1011584/25198170/938af090-253e-11e7-903c-7df44fd15d63.png)

Problem seems to have gone thanks to a good old fashioned restart!

[2017-04-19 19:35] roblourens opened #25036 "Support Node debug protocol autodetection alongside dynamically putting proc into debug mode"
I need to support `"processId": "${command:PickProcess}"` in a launch config for the 'inspector' protocol. In Node 8, when a `SIGUSR1` signal is sent to the process, it will be in debug mode for the inspector protocol instead of the legacy protocol.

Currently, startSession does protocol detection for attach, then picks the debug adapter, then the `command:PickProcess` variable is resolved to exec

[2017-04-19 19:36] Bill-Stewart commented on #24776
If you set `editor.emptySelectionClipboard` `false`, VS Code does not copy the current line to the clipboard if nothing is selected. Works just fine for me.

[2017-04-19 19:36] Tyriar commented on #2973
@akashnimare we don't use a PPA, we use a regular apt repo and the actual implementation is handled by another team. There should be plenty of documentation on the internet for how to set up a repo.

[2017-04-19 19:39] Tyriar commented on #25000
@Lallassu vim noob here, how do you copy text with vim?

[2017-04-19 19:40] coastermcgee commented on #25012
You can modify the settings for an extension in the user settings json file.  There are a number of ways to open this file:

- via the menu: Code->Preferences->Settings
- via the shortcut key binding: ⌘+,
- via the command: ⌘+⇧+P then find Preferences: Open User Settings

Using your example above you should be able to simply add:
`"guides.active.enabled.javascript": false`

A super easy way to do

[2017-04-19 19:46] Lallassu commented on #25000
@Tyriar Well, usually you copy with yanking for example marking a part of the text and press "y" without input mode on. That is something that I guess will not be able to work since it will be yanked into vim's internal buffers. But in my case (which I might have been a bit vague about) I copied using the cursor and marking the text in the vim editor (inside the vscode terminal) and than used cmd-

[2017-04-19 19:46] Tyriar commented on #24106
Cannot repro here. @daviwil any ideas?

[2017-04-19 19:52] Tyriar commented on #1023
Please prefer :+1: reactions on the original issue comment as that helps us with prioritization and doesn't send notifications to everyone listening to the issue for updates.

As an update: it's not that this is particularly hard, it just takes some time to do right and the team is all busy doing other stuff. This is near the top of the list of issues sorted by 👍 reactions now though which probabl

[2017-04-19 19:54] Tyriar commented on #24945
@vide oh? I'm confused?

It says 1 to newly install in the output, 0 to upgrade. Doesn't that mean it's not installed?

[2017-04-19 19:56] Tyriar commented on #25000
So that works in Terminal.app as well? The reason it doesn't work if because you have 2 selections, the terminal one (mouse selection) and the vim one (managed by the application). cmd+c will copy the mouse selection only.

Related: https://github.com/sourcelair/xterm.js/issues/456

[2017-04-19 20:00] SetTrend commented on #24869
@aeschli :
Thanks for taking the time! 👍

Yet, my suggestion is not only dealing with JSON, but with all C-style languages. (See the function call example and the T-SQL example I gave above).

[2017-04-19 20:08] Tyriar commented on #19735
@akamud the public API is still being worked on so we don't have documentation for it yet.

[2017-04-19 20:08] mark-99 opened #25037 "Install on Linux as non-root user"
- VSCode Version: 1.11.2
- OS Version: Fedora 22

What's the reason I need to be root on Linux to install the rpm? I can download the .tar.gz and manually extract those files somewhere and it works. However it's clunky and there's no auto-update.

It would be good if there was a way to install the product without being root, which is not available on our work Linux desktops, as I'm sure is commonl

[2017-04-19 20:19] manu-silicon commented on #24798
There are about 1000 lines of log that my app generate before it starts hanging and it is always the same kind of log. I could do screen sharing if it could help.

[2017-04-19 20:21] Tyriar commented on #25035
Yeah this was one of the issues moving it over to run as a login shell by default. I think hard coding it to be either `-l` or `-noprofile` will be equally as confusing though. Right now the recommendation is to override your `shellArgs` to be `[]` if you're running powershell.

[2017-04-19 20:21] #25035 closed

[2017-04-19 20:22] Tyriar commented on #24795
But there are still unicode characters in that file though, no? Like this one `┌`

[2017-04-19 20:27] jordwalke commented on #24922
You could imagine keeping the HUD style terminal as it is, and not supporting any new proposed windows management for them - as long as you provide what this current Issue is proposing.

[2017-04-19 20:30] mjbvz commented on #25030
Try setting`"window.openFoldersInNewWindow": "on"` to control this

Let me know if that doesn't work

[2017-04-19 20:33] xavdid commented on #24795
oh, you're totally right. The first copy of the file is [this](https://github.com/zapier/zapier-platform-cli/blob/master/src/commands/validate.js), which has the actual unicode and works fine.

The non-working one is after that file's been run through babel and the unicode replaced with a string (`\u2514` & co). That's available [here](https://gist.github.com/xavdid/3b96d92e50b43ad33e5e5341c92eb12

[2017-04-19 20:34] mjbvz commented on #25025
Thanks. We control at least the the basic c/c++ language configuration and I confirmed that it does not use `notIn`.

Would you like to submit a PR with the fix? [Here's the config file for c++](https://github.com/Microsoft/vscode/blob/master/extensions/cpp/language-configuration.json). Take a look at the [typescript config](https://github.com/Microsoft/vscode/blob/master/extensions/typescript/lan

[2017-04-19 20:35] trs4ece commented on #24968
I'm also having this problem. The problem persists in the Insiders build.

[2017-04-19 20:40] mjbvz commented on #25008
We target commonmark markdown and use markdownit for rendering. #22987 tracks adding a setting for breaks (wrapping) in markdown files

Closing as duplicate of #22987. Feel free to submit a PR that adds this feature this

[2017-04-19 20:40] #25008 closed

[2017-04-19 20:45] rishii7 commented on #24653
#25038

[2017-04-19 20:50] mjbvz opened #25039 "Option To Display Current Debug Configuration In Title Bar"
From https://github.com/PowerShell/vscode-powershell/issues/687

**Request**
Add an option to display the currently selected debug configuration's name in the titlebar. I believe this could be added as a variable in `window.title`

[2017-04-19 20:52] roblourens commented on #24968
In the Insiders build, can you open the Search output pane and check for errors?

![image](https://cloud.githubusercontent.com/assets/323878/25201672/6a8e21d0-2507-11e7-9dbc-b98fa5b58ea4.png)

[2017-04-19 20:56] trs4ece commented on #24968
Nope, no errors.

rg --hidden --heading --line-number --color ansi --colors path:none --colors line:none --colors match:fg:red --colors match:style:nobold --ignore-case --max-filesize 52428800 --no-ignore --follow --fixed-strings -- function Get-PrincipalNameFromEmail ./
cwd: t:\me\Staging

[2017-04-19 20:56] mjbvz commented on #25017
Do you mean the folder where user data and extensions are stored?

If so, take a look at the `--user-data-dir` and `--extensions-dir` command line flags. Issue #329 may also be of interest

[2017-04-19 20:57] kgrossjo commented on #24916
Fn-F10 mutes the loudspeakers.  Fn-Shift-F10 seems to do the same.

By now, it's starting to look as if these actions aren't possible via the keyboard.  There is an action for "git add" that I can activate via cmd-shift-P, but that one seems to apply to the currently focused editor, not to the file that's selected in the SCM view.

Thanks for your help, @joaomoreno I really appreciate it.  I wish

[2017-04-19 20:59] mjbvz commented on #25018
Possible duplicate of #25013

[2017-04-19 21:00] EricJammin commented on #23976
I actually just found a `.git` in my root directory as well, sorry for the incorrect statement earlier. THanks @joaomoreno

[2017-04-19 21:00] mjbvz commented on #25001
This issue was moved to DonJayamanne/pythonVSCode#897

[2017-04-19 21:00] #25001 closed

[2017-04-19 21:04] mjbvz commented on #24998
Thanks for request. This looks like a duplicate of #14909. Definitely on our radar

[2017-04-19 21:04] #24998 closed

[2017-04-19 21:05] wprater commented on #24961
having the same issue with code-insiders and `n` node manager.

[2017-04-19 21:13] mjbvz commented on #25014
Do you have `electron-google-analytics` listed in your `dependencies` in the `package.json`?

Can you also try opening up the installed extension directory under `~/.vscode/extensions` and seeing if `electron-google-analytics` is installed in your extension properly?

[2017-04-19 21:16] mjbvz commented on #25002
I believe this is a duplicate of #3550

[2017-04-19 21:16] #25002 closed

[2017-04-19 21:19] mjbvz commented on #25006
When this happens, can you try running  `ps aux | grep -i "code helper"` in the terminal and share the output. This should help us identify which code helper process is causing problems

[2017-04-19 21:21] popey456963 commented on #12006
@Tyriar @jjacode Reference the bash executable within Cmder and you appear to get the full Cmder shell, for example:

    terminal.integrated.shell.windows": "C:\\Users\\Popey\\Downloads\\Cmder2\\vendor\\git-for-windows\\bin\\bash.exe",

[2017-04-19 21:22] mjbvz opened #25040 "Pass projectRootDirectory to TypeScript"
Tracks adoption of changes from  https://github.com/Microsoft/TypeScript/issues/14636 in VSCode for TypeScript 2.3.1

[2017-04-19 21:24] sheetalkamat opened #25041 "Return array type's [] gets colorized as green when they shouldnt"
Filing new issue as per https://github.com/Microsoft/vscode/issues/13046#issuecomment-295184411
From Microsoft/TypeScript-TmLanguage#437

**Code**

[code]

![screenshot from 2017-03-30 11-00-20](https://cloud.githubusercontent.com/assets/19274678/24518915/494a296c-1538-11e7-990e-d4af1124feed.jpg)

Note the 'number[]' completely colored as green in return type and [] not green in parameter type.
![

[2017-04-19 21:24] tiamattia opened #25042 "Cannot read property 'toLowerCase' of undefined"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:01:14.464Z)
- OS Version: Linux x64 4.8.0-46-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-solarized|Braver|0.0.3|
|uncrustify|LaurentTreguier|1.5.1|
|cpptools|ms-vscode|0.10.5|
|sublime-keybindings|ms-vscode|2.0.1|;

I'm trying to configure a remote target debugging session. The target

[2017-04-19 21:30] #24955 closed

[2017-04-19 21:31] bobmagicii commented on #21870
additionally, this can be caused by the new crappy nvidia geforce experience. just an fyi in case anybody ends up here again. disabling "share" (formerly called shadowplay) fixes it.

[2017-04-19 21:42] mjbvz commented on #25042
I've also seen this error. Here's the only trace I see:

[code]

[2017-04-19 21:43] weinand commented on #25042
This issue was moved to Microsoft/vscode-cpptools#650

[2017-04-19 21:43] #25042 closed

[2017-04-19 21:44] weinand commented on #25042
In the future, please file issues with extensions against the corresponding repository.

[2017-04-19 21:49] mjbvz commented on #22995
Thanks @chaskim!

From your log, I think there's a bug in the markdown preview where using `Open Preview` instead of `Open Preview to Side` causes the initial line not to be set. Looking into a fix

[2017-04-19 21:51] sheetalkamat commented on #25041
Same root cause for https://github.com/Microsoft/TypeScript-TmLanguage/issues/427

[2017-04-19 21:52] eppz commented on #25014
Thanks for getting back.
Wow, you're the real-world camera to AR guy! Nice work, I was stumbled upon it in the other day. 👍

`electron-google-analytics` is listed indeed, I tried `dependencies`, `devDependencies`, also some older versions. It is installed nicely in `node_modules`. The extension works fine in development mode, I only have problems with publishing.

I have published 2-3 times earlie

[2017-04-19 21:54] HookyQR commented on #24145
Disabling all extensions resolved it. I'll track down the offending extension and log it there. Sorry for wasting your time.

[2017-04-19 21:55] eppz commented on #25014
But unfortunately I cannot publish the extension anymore since I updated node.js.

https://github.com/Microsoft/vscode-vsce/issues/165
http://stackoverflow.com/questions/43503542/cant-publish-vs-code-extension-anymore-after-npm-update

[2017-04-19 21:56] roblourens commented on #25015
Can you try this with the Insiders build of vscode? There was an issue fixed recently that may fix this for you.

[2017-04-19 21:57] roblourens commented on #24798
Actually I'm able to repro this now. It hangs, only on Windows, when logging many messages.

[2017-04-19 21:59] manu-silicon commented on #24798
Good news. Looking forward for a new version to try!

[2017-04-19 22:00] HookyQR commented on #24145
HTML Preview has a corded shortcut, but doesn't limit the `when`ness of it.

[2017-04-19 22:00] #24145 closed

[2017-04-19 22:01] wprater commented on #14229
Fish

[2017-04-19 22:02] niyazpk opened #25043 ""files.exclude" not honored on open"
- VSCode Version: Version 1.11.2 (1.11.2)
- OS Version: OSX 10.11.6

Steps to Reproduce:
1.  I have the following config in ```settings. json```:
[code]

2. When I open VSCode (which opens this folder), I can see the ignored directories/files on the file explorer as well as when I search for files using Cmd+P.

3. Open ```settings.json```, make a dummy edit, and save it.

4. File explorer refreshe

[2017-04-19 22:05] bobmagicii commented on #25013
just fyi for anyone finding this and feeling stuck - ctrl+k,j will still get you unfolded and back to work ^_^

[2017-04-19 22:06] mjbvz opened #25044 "Word Wrapping Messes up Line Positions in Latest Insiders"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Create a js file:
[code]

2. Move editor so that the first line wraps and occupies two lines
3. Hover over `foo`

![wrap](https://cloud.githubusercontent.com/assets/12821956/25204318/c4b8930c-2511-11e7-97c7-b5e312228413.gif)

**Expected**
Definition of `foo` is displayed

*Actual*
Definition of `bar` is displayed

[2017-04-19 22:09] #19255 closed

[2017-04-19 22:11] ramya-rao-a commented on #15754
Moved to internal backlog

[2017-04-19 22:11] #15754 closed

[2017-04-19 22:17] eppz commented on #25014
Manually (!) deleting entire `node_modules` content, then reinstall everything (with `npm install`) simply solved the publishing issue. Testing `dependency` in progress.

[2017-04-19 22:19] ramya-rao-a commented on #9809
Closing as per offline discussions that this is no longer relevant

[2017-04-19 22:19] #9809 closed

[2017-04-19 22:20] ramya-rao-a commented on #23169
Thanks! I'll take a look

[2017-04-19 22:23] eppz commented on #25014
Moving to `dependencies` solved the module issue as well! 🎉

If you doing stuff in C#, you should try [eppz! (C# theme for Unity)](https://marketplace.visualstudio.com/items?itemName=eppz.eppz-code), hits 1K download any time soon after the first week.

[2017-04-19 22:23] #25014 closed

[2017-04-19 22:24] HookyQR commented on #24145
PR to fix created. https://github.com/tht13/html-preview-vscode/pull/11

[2017-04-19 22:29] #24861 closed

[2017-04-19 22:29] #25023 closed

[2017-04-19 22:49] jordanmkasla2009 commented on #24534
I am always of the belief that this feature could be better served by a button rather than hidden in the menu

[2017-04-19 22:54] roblourens commented on #24798
Ok I think I've actually fixed this. You'll have to try it again in tomorrow's Insiders and let me know. If you need a workaround in the meantime, you can run with `"console": "integratedTerminal"` and it should work. Weird bug.

[2017-04-19 22:54] #24798 closed

[2017-04-19 22:57] manu-silicon commented on #24798
Thanks! I'll check this out. Looks like a buffer was getting full and would stop input if not read!

[2017-04-19 23:20] roblourens commented on #24798
Yeah, I think that's right. I don't know why Mac doesn't have that problem, though. I would have noticed it sooner.

[2017-04-19 23:28] dilijev opened #25045 "`"editor.wordWrap": false` breaks Toggle Word Wrap behavior"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: (running with `--disable-extensions`)

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.3|
|indentation-level-movement|kaiwood|1.1.1|
|cpptools|ms-vscode|0.10.5|
|PowerShell|ms-vscode|0.12.2|;

---

Steps to Reproduce:

1. Source

[2017-04-19 23:30] roblourens commented on #24968
Strange. It would be helpful if you download ripgrep itself: https://github.com/roblourens/ripgrep/releases/download/0.5.0/ripgrep-0.5.0-win32-ia32.zip And run the same command (with quotes around your query)

[2017-04-19 23:35] mjbvz commented on #25014
Glad to hear you found a solution.

The theme looks great. Works well for TypeScript too for the most part

[2017-04-19 23:36] kiluavineeth opened #25046 "Not able to debug using 'Launch' settings using F5 now.we are using old version of Node (v4.5). it was working few releases back"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.12.0|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.7|
|tslint|eg2|0.8.1|
|vscode-npm-script|eg2|0.1.8|
|search-

[2017-04-19 23:43] roblourens commented on #24158
Is this just by design? Can we use a made up extension for the Output editors which is less likely to collide with something registered by an extension? Or should we tell the Python extension to not take over the entire .log extension?

[2017-04-19 23:44] #24094 closed

[2017-04-19 23:45] roblourens commented on #24039
Can you try the search with the Insiders build of vscode, and tell me if you see any errors?

Is it just slow, or does the search finish with no results?

[2017-04-19 23:47] mjbvz commented on #25041
I believe this was fixed in our current insiders builds:

![screen shot 2017-04-19 at 4 46 47 pm](https://cloud.githubusercontent.com/assets/12821956/25206915/d110857a-251f-11e7-838e-509ff4cfc79e.png)

Let me know if you still see this issue

[2017-04-19 23:47] #25041 closed

[2017-04-19 23:50] roblourens commented on #25036
We may be able to use netstat to determine which port a PID is listening on. Which would be great, because we wouldn't have to do protocol detection at all, we can just check the port number.

[2017-04-19 23:53] mjbvz commented on #25029
Can you please explain the repo steps here in more detail. Are you running those commands in powershell session in the integrated terminal? In a powershell file?

[2017-04-19 23:58] ScriptMigo commented on #25029
These commands are being run directly from the integrated powershell terminal.

[2017-04-20 00:01] eppz commented on #25014
I'll add support for other languages gradually (shaderlab, xml, json), however, typescript / javascript will be added only if I build VS Code extensions more often. 😄

[2017-04-20 00:10] trs4ece commented on #24968
To exactly replicate the behavior, I just used the rg in the VS Code folder. Works fine.

C:\ C:\"Program Files (x86)\Microsoft VS Code"\resources\app\node_modules\vscode-ripgrep\bin\rg.exe --hidden --heading --line-number --color ansi --colors path:none --colors line:none --colors match:fg:red --colors match:style:nobold --ignore-case --max-filesize 52428800 --no-ignore --follow --fixed-strings -

[2017-04-20 00:13] bkeys commented on #24828
You do provide those binaries but that is for Visual Studio Code, which is similar but not the same thing as vscode. You guys provide packages for Visual Studio Code, but fail to provide packages for vscode.
A vscode developer had a post he explains the differences in [here](https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005)

[2017-04-20 00:17] mjbvz commented on #25029
Thanks. @Tyriar may be able to help investigate this.

Out of curiosity, do the commands work when run in a regular Powershell console?

[2017-04-20 00:22] Tyriar commented on #25029
@daviwil does this look like a vscode issue?

[2017-04-20 00:25] ScriptMigo commented on #25029
@mjbvz these commands work without issue in the Powershell ISE

[2017-04-20 00:32] daviwil commented on #25029
@ScriptMigo is this in the "PowerShell Integrated Console" or "powershell.exe" in the dropdown at the right side of the terminal window:

![image](https://cloud.githubusercontent.com/assets/79405/25207891/0d60098c-2526-11e7-8fa5-ead64ab78800.png)

If it's in the "PowerShell Integrated Console" then this is a bug in the PowerShell extension and the bug should be moved over there.  Thanks!

[2017-04-20 00:32] nickyhajal commented on #5538
I would really appreciate this. Lots of linters add error messages in these popups and it's time consuming to go to the mouse every time to close them.

[2017-04-20 00:33] Tyriar commented on #24828
Oh you mean the OSS build. We have no plans on distributing the OSS build, I believe community members already are building and distributing it. If you figure out the issue with building the package on Fedora we'll gladly amend the documentation.

[2017-04-20 00:38] roblourens commented on #24968
Even better, thanks. That doesn't help though... :)

Hm... do you get the same result searching in another folder, or with a different query?

[2017-04-20 00:39] Tyriar commented on #25031
@artsterb what's in your settings.json?

[2017-04-20 00:40] Tyriar commented on #25016
Someone else reported something like this recently on macOS which also magically fixed itself. If you find out anymore information please let us know 😃

[2017-04-20 00:40] #25016 closed

[2017-04-20 00:42] Tyriar commented on #24795
Oh ok, so no issue then 👍

[2017-04-20 00:44] trs4ece commented on #24968
Tried the same parameters with a different query in a different directory and it works fine there... But then I went to run the same queries on VS Code and now everything's suddenly working. If the problem returns, I'll try running a few more tests.

[2017-04-20 00:50] zzzgit commented on #24968
I have got the same problem for a long time

[2017-04-20 00:51] Tyriar commented on #25037
The reason is we do the following which requires root:

- Register an apt repo
- Install the Microsoft signing key
- Update alternatives
- Install a bunch of things into /usr (vscode, bin command, desktop entry)

There is currently not a good story for auto-updating the tarball as the recommended approach is to use apt which installs the deb which registers a bin command and desktop entry.

Maybe

[2017-04-20 00:51] #25037 closed

[2017-04-20 00:53] bkeys commented on #24828
What is the reasoning for this?
Can you guys provide a link to where community members are building and distributing the OSS build?

[2017-04-20 00:54] Tyriar commented on #24922
I think tabs for the terminals would need to happen before we even start thinking about this. Right now the main blockers there are time and the UX issue of having tabs within tabs but keeping things feeling "lightweight".

[2017-04-20 00:55] Tyriar commented on #10484
Seems fixed now

[2017-04-20 00:55] #10484 closed

[2017-04-20 00:56] zzzgit commented on #12427
I have got the same problem

[2017-04-20 00:58] Tyriar commented on #24743
@Lucien-Lu do you have anything in your settings.json?

[2017-04-20 00:59] Tyriar commented on #24231
@FunnyQ thanks for looking it up 😃

[2017-04-20 01:00] Tyriar commented on #24231
/cc @bpasero

[2017-04-20 01:06] ahdung opened #25047 "Zoom editor by mousewheel, can not know zoom level, can not Reset!"
Please improve this.

- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|auto-close-tag|formulahendry|0.3.11|
|auto-complete-tag|formulahendry|0.0.1|
|auto-rename-tag|formulahendry|0.0.11|
|code-runner|formulahendry|0.6.16|
|docomment|k--kato|0.0.14|
|csha

[2017-04-20 01:11] BellerophonM opened #25048 "[feature-request] [extension-candidate] Sidebar panel which provides one-click execution of package.json scripts"
For NPM projects, we should have a sidebar which lists and allows us to execute with a single click defined scripts in our package.json, as well as common tasks, and an output showing the execution trail of current script.

Feature-request extension-candidate

[2017-04-20 01:14] davidfig opened #25049 "Weird screen freezing bug"
This is an intermittent bug that I can't consistently repro, but it does happen a few times every day.

When returning to Code from another app (usually Chrome), the screen is frozen and anything I type or click does not show. When I move my cursor over the minimize or restore down button (top right of the window), the screen refreshes and all my old key clicks or mouse clicks register.

This star

[2017-04-20 01:17] Tyriar commented on #24335
Works fine upstream.

[2017-04-20 01:35] Tyriar commented on #24828
We have a preferred channel; the official VS Code release and we spent a bunch of time setting that up, and that still needs more work to get right. The OSS build also isn't as featureful as the official build. The OSS is available for people who want to use it, but it's not the experience we want to encourage for the reasons mentioned above.

I think there are some repos out there that ship the O

[2017-04-20 01:38] JCMais commented on #12006
@popey456963 worked perfectly here. Thank you.

[2017-04-20 01:42] ramya-rao-a commented on #13414
Closing this issue, as emmet expansions never worked inside template strings to begin with.

[2017-04-20 01:46] ramya-rao-a commented on #9571
With the work being done as part of #21943, multi cursor support is doable but the whole snippet expansion is still blocked by #16037

[2017-04-20 01:48] #24335 closed

[2017-04-20 01:49] zou888wei commented on #24928
The use of：`code --disable-extensions` after the temporary no problems, but did not use this command sometimes run a black screen, as shown in Figure（使用code后暂时没出现过问题，但是没有使用此命令运行时有时会出现黑屏，如图）：
![problem](https://raw.githubusercontent.com/zou888wei/problem/master/problem5.png);
![problem](https://raw.githubusercontent.com/zou888wei/problem/master/problem6.png);

Function can be used, but the screen i

[2017-04-20 01:50] zou888wei commented on #24928
@bpasero

[2017-04-20 01:58] giladno opened #25050 "Missing indentation for JS when trying IF statement"
When trying an IF statement, cursor doesn't indent for a single statement:

[code]

only when using curly brackets, it will indent:
[code]

- VSCode Version: 1.11.2
- OS Version: Mac 10.12.4 (16E195)

Steps to Reproduce:

1. Create a new `.js` document
2. Type: `if (1)` and then press Enter

Expected behavior would be for the cursor to indent for the new line, but it doesn't.

[2017-04-20 02:01] Tyriar commented on #24620
Thanks I can repro, it's likely an upstream issue on Windows.

[2017-04-20 02:04] Tyriar commented on #24103
@alexandrudima this should probably allow wrapping.

[2017-04-20 02:06] aidan-fitz commented on #60
@chrisdias With all due respect, this sounds like an _[argumentum ad populum](https://en.wikipedia.org/wiki/Argumentum_ad_populum)_: since other companies are re-licensing their open-source apps under proprietary EULA's (case in point: Oracle, Google, and JetBrains); therefore, we should do it too. You're not making any money from sales of this product, and adding a custom look and feel and extens

[2017-04-20 02:06] Tyriar commented on #13472
Closing due to no response.

[2017-04-20 02:06] #13472 closed

[2017-04-20 02:06] roblourens opened #25051 "Task spinner is misplaced in status bar"
![apr-19-2017 19-05-47](https://cloud.githubusercontent.com/assets/323878/25210084/3aacfc9e-2533-11e7-99f3-bdd47ca015dc.gif)

[2017-04-20 02:14] Ybalrid commented on #24859
This option also occus if the esc and caps lock keys are swapped using the "gnome-tweak-tool' program.

I can also confirm that the bug is present with 1.11.2

[2017-04-20 02:24] CheyenneRowe opened #25052 "copy with drag and drop still didn't work in 1.11.2"
- VSCode Version:1.11.2
- OS Version: windows10 x64

Steps to Reproduce:

1.press the ctrl key and drag the selection,nothing happened as expected.
2.

[2017-04-20 02:51] jordwalke commented on #24922
I understand and I proposed this issue because it could allows you to completely punt on most of that work. Why would you need any of those other features if tabs could just make use of all existing window positioning code for text editors?

[2017-04-20 03:00] Meligy commented on #24956
Hi Matt,

The reason I'd expect this to work is the [Untyped imports](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#untyped-imports) feature [announced in TypeScript 2.1](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#untyped-imports).

If there are no typings at all for JS, VS Code seems to generate some typings or use another technique to

[2017-04-20 03:10] xavdid commented on #24795
I mean, there's still the hang displaying `/u2514`.  I was mistaken in describing it, but there's definitely a bug.

[2017-04-20 03:24] ericblade opened #25053 "can't open multiple windows from command script"
- VSCode Version: 1.11.2
- OS Version: Win10 CU

Created a cmd file to attempt to launch several open VSCode windows:

code d:\src\directory1
code d:\src\directory2
code d:\src\directory3

Only the first one launches.
If I prefix each one with "start" then it works as expected, but then i'm left with three hanging command windows.

If I prefix each one with "start" and postfix each one with "&& ex

[2017-04-20 03:29] amithegde commented on #25030
Doesn't work

[2017-04-20 03:39] matchai opened #25054 "Typo in documentation for DocumentFilter"
In the documentation for DocumentFilter, it is said that:

Throughout the rest of the documentation, `package.json` is mentioned several times in examples, but `project.json` is only used in this example.

I'd imagine that "project.json" was a typo, which is intended to be "package.json".

[2017-04-20 03:48] Serhioromano commented on #24088
That is true. But it disables any formatting on the document. How I cannot format even parts with HTML. It is the same as turn auto-format off.

[2017-04-20 04:00] Serhioromano commented on #24088
@chrmarti @aeschli I believe that there should be a parameter for HTML format like preserve new lines. this is very important. Imagine in html I formatted something like this

[code]

That is readable in MdnightCommander and correct in HTML. If designer open it an change something using VS Code and format it we lose that.

So it is not only about YAML Front Matter. It is in general required featur

[2017-04-20 04:01] dlong500 commented on #24047
I'm definitely running into this as well with the latest insiders build.  I understand it's complicated because of the potential mix of JS and JSX code, but a resolution would be greatly appreciated.

[2017-04-20 04:01] NathanLi opened #25056 "How To intellisense code of file by user writed."
- VSCode Version: 1.11.2
- OS Version: macOS Sierra

VSCode can intellisense code by typings. But how to intellisense code in workspace?

[2017-04-20 04:21] mjbvz commented on #25054
Fixed by #25055

[2017-04-20 04:21] #25054 closed

[2017-04-20 04:28] mjbvz commented on #25048
Duplicate of #1777

Also, please checkout this extension to see if it offers some of the functionality you are after:  https://marketplace.visualstudio.com/items?itemName=eg2.vscode-npm-script

Our proposal for custom explores/side panels #12163 is still in a proposal state so I don't think an extension could offer this today

[2017-04-20 04:28] #25048 closed

[2017-04-20 04:29] vakata commented on #25013
@bobmagicii or you could temporarily disable code folding in the user settings :)

[2017-04-20 04:29] mjbvz commented on #25052
Can you please ensure that you have  `"editor.dragAndDrop": true` in your settings

[2017-04-20 04:32] mjbvz commented on #25046
Please provide some additional information here. There's not really enough information to investigate. Some points that would be helpful:

* Does it happen for all projects or just one?
* Does it happen with all extension disabled by running code with `--disable-extensions`?
* Can you start debugging node from the command line directly?
* Share your `launch.json`

[2017-04-20 04:32] #25046 closed

[2017-04-20 04:38] roblourens opened #25057 ""Could not install typings files for JS/TS language features. Please ensure that NPM is installed""
I've been seeing this pop up all day. NPM is installed.

Also, maybe it should have a "never show this again" button for people who actually don't have npm installed?

[2017-04-20 04:45] hency commented on #24758
我也出现了这个问题。

[2017-04-20 04:46] mjbvz commented on #25057
Are you using N or NVM by chance? Also, what version of typescript is active in the workspace?

[2017-04-20 04:46] #25052 closed

[2017-04-20 04:53] mjbvz opened #25058 "Snippets Not Handling Mirrored Tabstops Correctly"
From: http://stackoverflow.com/questions/43507897/is-it-possible-to-default-a-placeholder-or-tabstop-with-the-value-of-a-previous?stw=2

Steps to Reproduce:

1. Create a user snippet such as `import * as ${2:$1} from '${1:module}';`
2. Trigger the snippet and tab through the items of the snippet

**Expected Behavior**
TextMate:

![textmate](https://cloud.githubusercontent.com/assets/12821956/25214

[2017-04-20 04:55] danielbarla commented on #22214
I'm using release build 1.11.2, and I'm getting an issue that's essentially explained by the note above:

    Note: The http.proxy and http.proxyStrictSSL settings are ignored in this build, it doesn't matter what you put in there. The proxy settings are automatically picked up from your system's configuration.

I was just about to log a separate issue for this, when I ran across this topic.

Is `

[2017-04-20 04:57] wewake4 commented on #1046
Drag and drop is working fine in visual code but the same code is not updated in Monaco editor ?
[Monaco Editor](https://github.com/Microsoft/monaco-editor)
When it will be avialable ?

[2017-04-20 05:01] chrisdias commented on #60
I have not played yet!  Did have good pizza though, go figure ;)

From: Aidan Fitzgerald <notifications@github.com>
Reply-To: Microsoft/vscode <reply@reply.github.com>
Date: Wednesday, April 19, 2017 at 7:06 PM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Chris Dias <Chris.Dias@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode] Menu license links to non Op

[2017-04-20 05:03] tomoki1207 commented on #10183
I rechecked its behavior.
+ Ver. 1.11.2
+ OS Win 8.1 Pro

Surely a full-width character is not treat as undefined. But even not detected as a part of command.
This char is inputted in editor, the VSCode still waiting for next command char.
![capture](https://cloud.githubusercontent.com/assets/3643499/25214265/35b56192-25d1-11e7-8885-e34481dd61ef.gif)

I think it is not fixed completely. Is this be

[2017-04-20 05:05] mjbvz opened #25059 "Terminal CMD+K Not Clearing Integrated Terminal"
- VSCode Version: d8fe52b1789a398a7319346b8923d330f7ab1016
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Open integrated terminal and ensure it has focus
2. Press CMD+K to trigger to clear command:

<img width="683" alt="screen shot 2017-04-19 at 10 03 06 pm" src="https://cloud.githubusercontent.com/assets/12821956/25214451/1a200a3e-254c-11e7-8072-5ee06b4ccd14.png">

**Expected**
Clears termi

[2017-04-20 05:11] bluerebel1234 opened #25060 "hello sir ,"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|PowerShell|ms-vscode|0.12.2|;

---

Steps to Reproduce:

1.
2.

[2017-04-20 05:14] Lallassu commented on #25006
Sure, I can give you further output next time it hangs.

[2017-04-20 05:21] Lallassu commented on #25000
Yes I'm aware of that. But I just realised that the issue is not the copy part. It seems to copy, but it copies from the beginning of the visible buffer, not the marked part. Using vim outside of vscode works fine using mouse marking -> cmd-c.

Marking (with the mouse) a part in the vim buffer that I would like to copy just auto-marks the whole visible window (not beginning of the actual buffer in

[2017-04-20 05:32] #24749 closed

[2017-04-20 05:33] #25060 closed

[2017-04-20 05:34] mozram commented on #15613
Any progress on this issue? As @siegebell said before, I had to revert commit many times already as I either accidentally pressed CTRL+S or forgot to stage file. I'm hating it now.

@seesemichaelj suggestion is very good actually.

[2017-04-20 05:35] mjbvz commented on #25047
Setting ` "window.zoomLevel": 0` should reset the zoom.

You should also be able to use the keyboard shortcuts for zooming to zoom in and out

If this does not help, please provide more information about the problem you are seeing such a set of repo steps and/or a screenshot of the issue

[2017-04-20 05:35] #25047 closed

[2017-04-20 05:37] mjbvz commented on #24889
Can you please try collecting the TypeScript trace:

1. Set `"typescript.tsserver.trace": "verbose",` in your user settings
2. Restart VSCode and reproduce the problem
3. Open the output pane and share the output from `TypeScript`

Thanks

[2017-04-20 05:43] ericblade opened #25061 "integrated terminal copies with linebreaks"
- VSCode Version: 1.11.2
- OS Version: Win10 CU

Run a command line command that outputs a very long string that you need to copy/paste, such as Amazon's

    aws ecr get-login

Which outputs a very long command line.  Copy-pasting it results in pasting a lot of individual lines to the terminal with linebreaks at the end of each one, causing the command to fail.

Doing same operation from cmd.exe

[2017-04-20 05:46] ericblade commented on #25049
I had a similar problem with a specific PC, for literally several years, it would do exactly that for the first approx 5 minutes or so after startup.

Turns out it was something involving the Microsoft IntelliMouse software and no longer have the Microsoft IntelliMouse attached.  Uninstalling the IntelliMouse software fixed it.

Probably not related, but thought I'd throw it out there in case.

[2017-04-20 05:47] roblourens commented on #25057
Yeah I'm using nvm. Saw it last in the vscode repo, using 2.3.1-insiders

[2017-04-20 05:49] ahdung commented on #25047
Zooming by MouseWheel way (not Ctrl+=/-), I don't know how to Reset without restart vscode. is this hard to understand? please give me this, VS editor:
![a](https://cloud.githubusercontent.com/assets/12094247/25215451/243bf878-25d0-11e7-97ad-96e4a37dab87.png)

[2017-04-20 05:53] mkszepp commented on #24039
my search problem is solved in the newest insider-version
The problem was, that the search has finished without results

[2017-04-20 05:58] ChenYangShao commented on #24568
应该会再来的, 每次更新我都是手动卸载重装的  好几次了 不知道什么鬼 @jrieken  不作为

[2017-04-20 05:59] mjbvz commented on #24956
Ok. Thanks for the clarification.

In the untyped import case, TypeScript essentially ends up treating the imported module as an `any` type. This is why IntelliSense no intellisense shows on the module.  However I do agree that it makes sense to show some suggestions on it since we do in the JavaScript case. I've opened https://github.com/Microsoft/TypeScript/issues/15286 to track this

[2017-04-20 06:01] mjbvz commented on #25047
Adding UI for zoom control is tracked by #12318

[2017-04-20 06:09] xaota opened #25062 "`terminal.wordWrap` & `terminal.wordWrapColumn` [feature-request] [settings]"
Please, add more terminal settings!

[2017-04-20 06:14] mjbvz opened #25063 "Add Ignore Button to NPM Not Installed Error Message"
From #25057

[2017-04-20 06:15] mjbvz commented on #25057
Thanks. Confirmed this and it seems like a TS bug. Opened https://github.com/Microsoft/TypeScript/issues/15287 to track this

Created #25063 to track adding the ignore button

[2017-04-20 06:15] #25057 closed

[2017-04-20 06:15] xsstomy commented on #23965
@dmblack
Thanks  for your response!

[2017-04-20 06:27] vscpp commented on #23777
@sandy081, my first question still need your help. How to copy search result to another text file? Thanks.

[2017-04-20 06:29] mjbvz commented on #25057
Also @roblourens, can you check if fully restarting VSCode gets rid of the warning. If starting from a command prompt, make sure to restart that as well. The correct PATH for `npm` may only be picked up after a restart

[2017-04-20 06:30] jjacode commented on #12006
@popey456963 Thanks! That worked for me as well!

[2017-04-20 06:31] degroef opened #25064 "qnas"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-04-20 06:33] TroubadourFabiolas commented on #21842
Yes, i'm not the bug anymore. Thank you.

[2017-04-20 06:34] mjbvz commented on #24961
I've opened https://github.com/Microsoft/TypeScript/issues/15287 to track typings install issues when using n/nvm. If you run into this, as a workaround, try fully restarting VSCode. If you are running from the command prompt, also restart that. This should ensure that VSCode is using the current PATH. (#23649 tracks re-reading the environment for each new VSCode window)

@DrkCoater / TheSisb Are

[2017-04-20 06:35] #25064 closed

[2017-04-20 06:43] Toontje opened #25065 "Please make "sudo code <filename>" seamless"
- VSCode Version: 1.11.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. sudo code <anyfile>

Expected behavior: code opens the file with elevated privileges.
Shown behavior: code complains that it should not be run with elevated privileges and that you need to define the --user-data-dir parameter.

Anyone who has sudo privileges is supposed to know what it means and the dangers associated wit

[2017-04-20 06:44] amithegde commented on #25030
I also noticed that list of extensions listed above is not the current list of extensions I have. A lot of it were installed once and removed! Looks like another bug?

[2017-04-20 06:45] oldbasilbear commented on #7002
Thanks very much.

[2017-04-20 06:48] tiagotom opened #25066 "Scroll up/down with touchpad does not work"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Handlebars|andrejunges|0.2.0|
|ACF-Snippet|anthonydiametrix|1.7.2|
|vscode-svgviewer|cssho|1.4.0|
|vscode-eslint|dbaeumer|1.2.8|
|githistory|donjayamanne|0.2.0|
|tslint|eg2|0.12.0|
|php-debug|felixfbecke

[2017-04-20 06:58] jonathan-fielding commented on #12682
This ticket has been closed so not sure we will get a response here, has anyone raised a new one

[2017-04-20 07:07] satokaz commented on #24861
- VSCode Version: Code - Insiders 1.12.0-insider (740f6620234326925592c40d2ec858bd457f9f6c, 2017-04-20T06:05:37.563Z)
- OS Version: Darwin x64 16.5.0

I was able to confirm that it was fixed!
The problem of erasing characters by backspace has also been fixed.

[2017-04-20 07:13] sandy081 commented on #23777
@vscpp  There is no support for copying search result(s).

[2017-04-20 07:16] jiabiaoreal opened #25067 "VSCode hungs every time drag a file from one folder to another"
- VSCode Version: 1.11.2  6eaebe3b9c70406d67c97779468c324a7a95db0e
- OS Version: Windows7

Steps to Reproduce:

1.  Open vscode and have some files and folds in the file tree
2.  Drag one file  from  a fold to  another
3.  VSCode hangs and  cannot even be killed

[2017-04-20 07:27] aeschli commented on #24971
@daviwil yes we added a script to most language extensions that can be run with `npm run update-grammar` in the extensions folder. I [just added it for Powershell](https://github.com/Microsoft/vscode/commit/b1d8a28f20aa786acfef3bf8d5b2daa38a64948c) but will wait running it to not overwrite the changes of this PR. Once your repo is ready I'll change to it. I'll also have to update the OSSReadme the

[2017-04-20 07:29] vakata commented on #25013
The issue is resolved with build 740f6620234326925592c40d2ec858bd457f9f6c

[2017-04-20 07:29] #25013 closed

[2017-04-20 07:32] vytautas-pranskunas- opened #25069 "VSCode opens and closes two times on opening for the first time"
- VSCode Version: 1.11.2
- OS Version: windows 7

Steps to Reproduce:

1. Open vscode.
2. Select project
3. Close vscode
4. Now open vscode (project should be selected already)

Now Vscode opens waits couple of seconds, closes and reopens it self once again

[2017-04-20 07:34] jiabiaoreal commented on #25067
After  reboot  the system,  drag  works again, so I  donn't  know what caused the hang,  but it has happned
several times.

[2017-04-20 07:34] #25067 closed

[2017-04-20 07:37] aeschli commented on #25027
You didn't by chance disable the built-in html formatter with
`"html.format.enable": false,` ?

[2017-04-20 07:40] aeschli commented on #24869
@SetTrend Every language has a different formatter, and very few shared the implementation. IMO sharing formatter settings is not realistic, there are too many subtle differences between languages.

[2017-04-20 07:46] hijkzzz commented on #24568
Click the upgrade item in the menu will appear this prompt:"Could not create temporary directory: 权限被拒绝"
Environment:
MacOS Serria
Visual Studio Code 1.8.0
@jrieken

[2017-04-20 07:53] aeschli commented on #24869
@maneesht The JSON formatter implementation is in https://github.com/Microsoft/vscode-json-languageservice/blob/master/src/services/jsonFormatter.ts.
You'll also find test cases there.
Pull requests are highly welcome, please create them in the https://github.com/Microsoft/vscode-json-languageservice repository.

[2017-04-20 07:58] BillDenton commented on #22235
I made a mistake in my original description. I consider the behaviour shown above to be incorrect. Updated the last two sentences from:

to

The word wrapping is only for display to allow long lines to fit on the display. When programming this helps to ensure that the whole line is seen. So do a column select in for example C/C++ file produces unexpected behaviour. This works as expected in SlickE

[2017-04-20 07:58] aeschli commented on #25018
closing as duplicate of #25013

[2017-04-20 07:58] #25018 closed

[2017-04-20 08:01] aeschli commented on #25013
Works for me too, looks like this got resolved, but not by me. @alexandrudima Are you aware of any changes in the area?

[2017-04-20 08:04] Alber70g commented on #24634
I've got the same on Sierra. It seems that the 'clickthrough' doesnt activate and it only activates the window. Not the click in the terminal area.

[2017-04-20 08:04] aeschli commented on #24088
@Serhioromano You can disable formatting of certain tags with the settings "html.format.unformatted".

[2017-04-20 08:09] EmmanuelBeziat opened #25070 "[Extension] Allow users to use custom icons over sets?"
Hi there,

I’ve published an icon set (https://marketplace.visualstudio.com/items?itemName=emmanuelbeziat.vscode-great-icons). I had a feature request by a user: https://github.com/EmmanuelBeziat/vscode-great-icons/issues/46

Basically, he asks me if it would be possible for him to define custom icons that would override my list. I’m giving it a real thought, because I think it would be a great im

[2017-04-20 08:10] vakata commented on #25013
@aeschli my guess is this commit fixed it, but that is just by glancing at the commit messages: 3860b1b79a56facd94627ef19be096cf4afbcc2a (seems related)

[2017-04-20 08:12] rfgamaral commented on #24620
Meaning a fix will probably take a while?

[2017-04-20 08:15] aeschli commented on #24757
Closing as no details are provided.

[2017-04-20 08:15] #24757 closed

[2017-04-20 08:18] joaomoreno commented on #14229
Got it. You have exactly the same problem as @NinoFloris #21655.

I ask you the same I asked him in that issue:

[2017-04-20 08:22] joaomoreno commented on #24916
No worries @kgrossjo. We should definitely get this story better.

[2017-04-20 08:26] vide commented on #24945
@Tyriar you missed the edit on the original post: try to install the `libgconf-2-4` package, please. Please note the **extra dash** between libgconf and 2.

[2017-04-20 08:38] JReinhold commented on #1223
Okay, I'll try to start work on it soon.

[2017-04-20 08:52] xttn commented on #329
When new updates are available, I can not select the install folder for VScode....

[2017-04-20 09:01] Habarodix commented on #24776
It is set, still copies
![nevtelen](https://cloud.githubusercontent.com/assets/23343025/25222427/b5427f94-25b8-11e7-818b-f5610118050c.jpg)

[2017-04-20 09:02] xiaofengqinyu commented on #16219
I just get this error now,but it works just correctly yestoday.

[2017-04-20 09:04] FloMaetschke commented on #22214
- VSCode Version: Code - Insiders 1.12.0-insider (740f6620234326925592c40d2ec858bd457f9f6c, 2017-04-20T06:11:56.973Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|angular1-code-snippets|alexandersage|0.0.3|
|githistory|donjayamanne|0.2.0|
|KillTasksButton|dtrajano|0.0.4|
|output-colorizer|IBM|0.1.0|
|latex-workshop|James-Yu|2.1.4|
|color-highlight

[2017-04-20 09:35] amb commented on #23192
I can confirm this bug.
![jumping](https://cloud.githubusercontent.com/assets/99240/25223986/b428de66-25c5-11e7-95ea-f77b8fd79acc.gif)

[2017-04-20 09:51] devjb commented on #23976
Might be related:

This happens for me if I open a workspace that resides on a webdav folder, that is applied to the windows explorer as a network share using CarotDAVs "DAV server" feature.

As soon as I open that workspace (which contains a git repository), the extension host will crash.
I also have the "clock"  in the git icon permanently.

I can reproduce this using Insider ans well as the reg

[2017-04-20 09:59] adelphes opened #25071 "Missing button for deleting individual watches"
VSCode: 1.11.2

What has happened to the "X" button in watches?

Previously (I'm not sure exactly what versions, but at least v1.7), it was possible to click a cross button to the right of each individual watch expression to remove it. Now it seems the only way to delete an individual watch is to edit it to a blank string - this is a bit tedious.

Was this removed on purpose? If not, could you put

[2017-04-20 10:12] crper commented on #24605
@jrieken Electron inside the issue has been in the mention of the support of the webassembly. Visual support a quarter or so to support the latest version of electron.

https://github.com/electron/electron/issues/9235

According to the exact source of information, Nodejs 8 will support webassembly;

I believe that when the speed of vscode can speed up a lot, thank you

[2017-04-20 10:13] raldred opened #25072 "problemMatcher support multiline messages"
It would be nice be able to setup a custom problem matcher for commands that output multiline problems. For example Ruby RSpec.

- VSCode Version: 1.11.2
- OS Version: OSX 10.12.4

Steps to Reproduce:

1. Setup a task to run rspec (example: [tasks.json](https://gist.github.com/raldred/987065e5a167d2c569407b85d14b47be) )
2. Write a failing test
3. Observe failings in the output but no problems dete

[2017-04-20 10:15] LiPengfei19820619 commented on #17164
@sandy081
Would you please add this feature to the iteration plan?
Thank you very much.

[2017-04-20 10:17] ciesielskico commented on #13612
Can confirm, Dell XPS 15 9560 + Windows 10 Creators Update, `--disable-gpu` works as a workaround.

[2017-04-20 10:18] Lucien-Lu commented on #24743
@Tyriar Here is my settings.json.
[code]

[2017-04-20 10:27] perlun commented on #7426
Hmm, I'm also back at this. chown (tried both the non-admin-group-one and the ones with admin group) and xattr did _not_ help. This is my `system.log`:

[code]

Maybe I should just get a PC instead... 😆

[2017-04-20 10:50] #22028 closed

[2017-04-20 10:51] weinand commented on #24812
@reimerwilliam could you please provide more details?

[2017-04-20 10:53] #23044 closed

[2017-04-20 10:53] #20522 closed

[2017-04-20 11:11] riccardomessineo opened #25073 "Git file diff viewer: accept/discard chunks of code"
When on git diff view, It would be great if it would be possible to undo or accept partials chunks of code!
Just the same way sourcetree does!

[2017-04-20 11:15] fskorzec opened #25074 "Folding not working properly."
- VSCode Version: Code - Insiders 1.12.0-insider (d8fe52b1789a398a7319346b8923d330f7ab1016, 2017-04-19T07:19:29.296Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|debugger-for-chrome|msjsdiag|3.0.1|
|vscode-docker|PeterJausovec|0.0.13|
|markdown-pdf|yzane|0.1.7|;

---

Steps to Reproduce:

1. With this sample of code
[code]
2. When I try to Fold

[2017-04-20 11:24] SetTrend commented on #24869
@aeschli I understand. Thanks for enlightening me.

I'm not sure about the current VS Code implementation, yet (I can only speak for myself here) in every C-style language I'm using I'm always configuring all the common formatting settings alike. I do this in VS Code and in VS Enterprise. (Which is rather tedious, but I wouldn't want to switch formatting styles from language to language - would an

[2017-04-20 11:35] FrankCai opened #25075 "Add command to delete from cursor until end of line"
As an example, in Visual Studio there is a command to delete from cursor until eol, see http://stackoverflow.com/questions/10656417/how-to-delete-from-cursor-until-end-of-line-with-vs-or-power-tool

[2017-04-20 11:44] shukerullah commented on #19762
Any news on this issue?

[2017-04-20 11:51] s7evinz commented on #24803
Good idea!

[2017-04-20 11:52] Ejoz-geek commented on #25017
Please explain more

[2017-04-20 11:54] Ejoz-geek commented on #25017
You understand me correctly

[2017-04-20 12:02] Aides359 commented on #20302
Having the same problem on Windows 10 with 1.11.1.
More than 10 instances were still open, 3 of them using around 30% CPU load each, rendering me completely unable to work before realizing and killing the processes.

[2017-04-20 12:05] joaomoreno commented on #24653
@rishii7 I'll have to do it in May, pretty busy already this month.

[2017-04-20 12:06] joaomoreno commented on #25053
Does it work if you point directly to `Code.exe` instead of relying on the `code` in the `PATH`?

[2017-04-20 12:07] BillDenton commented on #25025
Unfortunately, I'm not really in the position to submit as I don't have any the tools installed. I don't have git installed (as at work using ClearCase) and I don't know what the other tools are. I'll see if I can work out the settings and paste the configuration in here.

[2017-04-20 12:32] Telokis commented on #329
@xttn Just download the portable version.

[2017-04-20 12:34] ScriptMigo commented on #25029
@daviwil It is the integrated, I'll report it over there. BTW David, I really enjoyed you're presentation @ the Summit.

Thanks!

[2017-04-20 12:42] aeschli commented on #23461
The schema driven intellisense can't know hat the current theme is. Also, in theory you could have high contrast borders and outlines also in a regular theme.
Closing as won't fix

[2017-04-20 12:42] #23461 closed

[2017-04-20 12:44] aeschli commented on #23453
I don't think we should limit intellisense. But we will need to describe in the documentation which colors are essential.

[2017-04-20 12:44] #23453 closed

[2017-04-20 12:47] 0x80 commented on #6566
Where can I track this issue? The link to the milestone doesn't seem to work (https://github.com/Microsoft/vscode/milestone/8)

[2017-04-20 12:59] atisinger commented on #4490
Adding my support for this feature. It's the only thing I still open Notepadd++ for.

[2017-04-20 13:10] mredbishop commented on #14229
I'm using bash in ubuntu and I have this problem. I have a .bashrc/.bash_profile with the nvm exported from them and still no joy when I check the PATH inside code-insiders

[2017-04-20 13:12] jrappen commented on #329
@Telokis This issue has not been resolved and you are missing several points, compare the thread above which contains the following:

* auto-update
* preconfigured portable vscode
* check for `--user-data-dir`,  `--extensionHomePath` and `.vscode/` relative to `Code.exe`
* ability to disable "delete > move to trash on local machine"
* related issues which are currently still open:
  * #507 (64bit)

[2017-04-20 13:13] steve-p-com commented on #22336
My Insider's build just updated (1.12.0), and it's not great news. I'm running Windows 7 with the Control Panel's "Medium - 125% (default)" setting, and now everything is way too big at the default zoom level. Fonts in both UI elements and code windows are comically huge. If I change the zoom level using Control+= and Control+-, there's no zoom setting that puts it back how it was, only larger or

[2017-04-20 13:21] akashnimare commented on #2973
So I guess I just need to setup a repo + the above post install script?

[2017-04-20 13:34] Telokis commented on #329
@jrappen I don't really know what you are talking about but I use VSCode as a portable software everyday and it works absolutely 100% fine, I have not had a single issue.

[2017-04-20 13:54] daviwil commented on #25029
Thanks a lot @ScriptMigo!

[2017-04-20 13:54] Jfeurich commented on #25006
ps -eo pcpu,user,pid,command | grep renderer output: 100% cpu

/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper --type=renderer --no-sandbox --primordial-pipe-token=93A1BFE0D5861A2F10442CCE119E9C19 --lang=en-GB --node-integration=true --background-color=#171717 --enable-pinch --num-raster-threads=2 --enable-zero-copy --disable-partial-raster --ena

[2017-04-20 14:07] Paviluf commented on #24309
It happened again. If I refresh the explorer using the little refresh icon it seem to refresh only the subdirectory where I'm.

[2017-04-20 14:12] ylg commented on #15107
Thanks @ratiotile, I've run into this issue more than a few times and the Reload Window command does work a treat for my cases.

[2017-04-20 14:16] jschank opened #25076 "Feature Request: Alternative Language ID for Extensionless files"
I have some configuration files, (they happen to be ruby) but the files themselves do not have an extension. And so I have to manually select the language type, each time I open the files.

Because the files do not have an extension, there automatic language association fails.

Can VS Code, perhaps parse a shebang line to determine the file type?
Or, can we have some VS code specific way to identi

[2017-04-20 14:17] #25029 closed

[2017-04-20 14:23] jschank commented on #25076
Heh, I solved my own problem.
The existing file associations setting, supports what I need to do.

Here is an example. So others can see.

[code]

Thanks
Schank

[2017-04-20 14:23] #25076 closed

[2017-04-20 14:30] MrBLT opened #25077 "Duplicate tab opens on any keypress unexpectedly"
- VSCode Version: 1.11.2
- OS Version: Windows 7 professional version 6.1.7601 SP1

Steps to Reproduce:

1. Do some work, then randomly on a save (ctrl+s) the changes dissapear and duplicate tab opens.
2. Close duplicate tab, discarding changes because trying to save results in the error
            "Failed to save 'style.css': The content on disk is newer. Click on Compare to compare your version

[2017-04-20 14:31] keawade commented on #15107
I've recently resolved the issues I had. The issue for me was due to some weirdness between the case sensitivity of the Windows file system and Git.

I had somehow ended up with two copies of a parent folder in Git with the only difference being capitalization (eg: `Test/` and `test/`). Windows didn't see the difference and VSCode didn't see the difference when displaying the folder tree but I cou

[2017-04-20 14:32] marcelo4k opened #25078 "Inline css style autocompletion stopped working with last update"
- VSCode Version: 1.11.2
- OS Version: Windows 8.1/Ubuntu 16.04

Steps to Reproduce:

1. Open html file with style="....."
2. Start typing for example "paddin..."

No more sugestions or autocompletion after last VSC update, this is vital when working with html emails relying on old html coding.

[2017-04-20 14:42] aidan-fitz commented on #60
Looks like you sent this reply to the wrong email

*Aidan Fitzgerald*
Peer Advisor, College of Engineering
Cornell University

*Any sufficiently advanced software is indistinguishable from artificial
intelligence.*
LinkedIn <https://www.linkedin.com/in/aidan-fitz> · GitHub
<https://github.com/aidan-fitz>

On Thu, Apr 20, 2017 at 1:02 AM, Chris Dias <notifications@github.com>
wrote:

[2017-04-20 14:46] drjnet commented on #22897
Hi, is this issue resolved in a recent version i still have it on 1.11.2 on Linux Mint 17.3

[2017-04-20 14:49] menorless opened #25079 "replace all with regexp (the end of row $) not working properly"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|numbered-bookmarks|alefragnani|0.7.0|
|csharp|ms-vscode|1.8.0|;

issue:
replace all with regexp not working properly, when use end of row ($) only replace the end of row of end of file.

Steps to Reprodu

[2017-04-20 15:05] scott-martin commented on #24968
I'm also experiencing this issue on Mac. Started happening with me a couple of weeks ago after an update.

[2017-04-20 15:07] roblourens commented on #24968
Same questions as above for all of you

[2017-04-20 15:12] rwatts3 commented on #24710
This seems to be fixed in the latest release.

[2017-04-20 15:15] roblourens commented on #24039
Great, thanks for trying that.

[2017-04-20 15:15] #24039 closed

[2017-04-20 15:19] rightaway opened #25080 "Formatting document and renaming variables no longer working"
- VSCode Version: 1.11
- OS Version: archlinux latest

Formatting the document (using Ctrl-Shift-I) and renaming variables (using F2) are no longer working. It's not just the keyboard shortcuts that stopped working, the functionality doesn't work through the menu either. It stopped working a few months ago, possibly after an update but I'm not sure.

When I format the document, nothing changes, wh

[2017-04-20 15:28] rebornix commented on #24557
One more thing to note, this only happens on macOS and that's basically because on Windows, when you partial-commit, IME will generate a pair of compositionEnd and compositionStart events so the first clause is committed. However macOS IME  doesn't do that, it thinks it's still in the composition update state. For more info about the partial commit behavior and debate, see https://bugs.chromium.or

[2017-04-20 15:33] rajasimon commented on #11399
What is the status of this issue. Any early code I can access to test my extension?

[2017-04-20 15:35] fforjan commented on #22609
I can still reproduce it while running my extension under tests with latest vscode insider :
'C:\Program Files (x86)\Microsoft VS Code Insiders\Code - Insiders.exe' --debugBrkPluginHost=13948 --extensionDevelopmentPath=my-ext --extensionTestsPath=my-ext

my-ext uses PROPOSED API which is subject to change and removal without notice
TypeError: Cannot read property 'configure' of undefined

[2017-04-20 15:37] morrme commented on #24653
@joaomoreno i just have a question--since i was the first to volunteer for this one, did i skip a step? i thought i was supposed to be working on this one but someone else sort of took over....how can i properly claim an issue next time?

[2017-04-20 15:44] kdvolder commented on #24924
Sorry, it turns out this can be filed under 'user error'. That stuff already works, at least to the degree I've needed it to. The problem was that my extension's package json needed some updating to a newer version of the language-server-client. I was still using version 2.5.x. After upgrading to 3.2.x snippet support seems to be working.

[2017-04-20 15:44] #24924 closed

[2017-04-20 15:49] siirila commented on #24968
A fresh copy of the Insiders build is working as expected and showing results from all files for the same project. The insider version was: - VSCode Version: Code - Insiders 1.12.0-insider (5590786c2f676ca2aee12b16cd01b4e0ac621984, 2017-04-20T08:39:52.610Z)

I also ran the ripgrep tool included with VS Code, not the insiders build, and it returned the correct results as well.

[2017-04-20 15:54] avelinobego opened #25081 "App doesn't open text file in Explorer context menu"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|python|donjayamanne|0.6.3|;

---

Steps to Reproduce:

1.
2.

[2017-04-20 15:59] withoutclass commented on #13366
This bug is back.  In the previous release the bug was fixed, but since upgrading to version 1.11.2 it has re-surfaced.

macOS: 10.12.4

[2017-04-20 16:01] j-arya opened #25082 "[C#]"ctor+TAB+TAB": Generates constructor BUT fails to caption the actual class name & instead displays generic text "ClassName(Parameters)""
- VSCode Version:
Version 1.11.2
Commit 6eaebe3b9c70406d67c97779468c324a7a95db0e
Date 2017-04-13T08:03:11.395Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0
Extension: C Sharp (C#)
dotnet sdk runtime: 1.0.0-preview2-003131

- OS Version:
OS Name	Microsoft Windows 10 Pro
Version	10.0.14393 Build 14393

Steps to Reproduce:
1. Create a Class File with name **TestClass**
2. Focus the Mouse Cursor insi

[2017-04-20 16:09] BillDenton commented on #22235
Managed to get GIF using http://www.screentogif.com/, which shows the expected behaviour. Probably would have to easier to understand on code, but can't show that.
![slickedit soft word wrap](https://cloud.githubusercontent.com/assets/17859340/25240897/0a70526a-25ec-11e7-851d-9293b7ca2104.gif)

[2017-04-20 16:22] roblourens commented on #24677
@fabiorocha We could jump on a skype call too and share the screen. Let me know if you're free.

[2017-04-20 16:23] #24030 closed

[2017-04-20 16:25] jeerrry opened #25083 "Integrated Terminal failed to launch"
- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 6.2.9200
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-eslint|dbaeumer|1.2.8|
|githistory|donjayamanne|0.2.0|
|python|donjayamanne|0.6.3|
|flow-for-vscode|flowtype|0.5.0|
|gc-excelviewer|GrapeCity|1.1.13|
|vscode-auto-open

[2017-04-20 16:25] dotnetengineers commented on #24277
Hello Isidor – I’ve posted some sample code that replicates issue #24277 and resolves when empty lines are removed.

From: Isidor Nikolic [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 04:05
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: dsbailey <github_com@dotnetengineers.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode] Debug hover does not work

[2017-04-20 16:27] marcusbesjes commented on #2394
I hit `ctrl-shift-p` and typed `eslint` then selected `create .eslintrc.json file` and it made the file with `es6: true`
![image](https://cloud.githubusercontent.com/assets/3897729/25241654/12ac2c78-25f7-11e7-82b5-7ed6f842cfb2.png)

[2017-04-20 16:29] mark-99 commented on #25037
It seems like if VSCode can be installed and updated manually without root then it could be done automatically. Even Eclipse can auto-update in-place with no special permissions.

Does the fact that an editor app needs root privileges to install/update not seem slightly unecessary?

If you want to expand the reach of VSCode to more professional developers then this is a common scenario. Either you

[2017-04-20 16:50] nojvek opened #25084 "VSCode image diff should show previous and new image"
- VSCode Version: 1.11.1
- OS Version: Mac OS Sierra

Steps to Reproduce:

1. Replace a jpg/png with new image
2. Go to diff view

You'll see new image, but old image is forced to text version with lots of unreadable characters.

![image](https://cloud.githubusercontent.com/assets/1018196/25242479/9e97c36c-25ae-11e7-8335-12a53e221cd1.png)

[2017-04-20 16:55] fimius23 commented on #14444
+1

[2017-04-20 16:57] rwatts3 commented on #24710
correction, this issue still exists.

[2017-04-20 17:01] sandy081 commented on #11399
Sorry this is postponed to next milestone.

[2017-04-20 17:06] sppatel commented on #25003
Same.  I get the error "Declaration or statement expected".  @shjyh is this what you get?

[2017-04-20 17:14] DrkCoater commented on #24961
My npm is in path actually, although I'm also using nvm. I have already restarted my machine as well as Code fully serval times. The warning still coming up. I think only happened from an update last week. thanks

which npm:
~/.nvm/versions/node/v7.8.0/bin/npm
npm --version
4.2.0

[2017-04-20 17:16] cudla100 opened #25085 "Can't use ASM language"
- VSCode Version: 1.11.2
- VSCode extensions: none
- OS: Windows 10 Home
- OS Version: 1703
- Build OS: 15063.138

How can I use ASM language in vsc? I was looking for extensions, but i did not find anything helpful.

[2017-04-20 17:26] czmecho opened #25086 "terminal format problem"
- VSCode Version:1.11.0
- OS Version: win10 1703 15063.138
China version.

Steps to Reproduce:
once open the terminal , the situation appear.
![](https://ws1.sinaimg.cn/large/7df5111fgy1fetnolhg4bj214q0afq41.jpg)

[2017-04-20 17:27] DrkCoater commented on #24961
And I found this related log message from the tsserver.log according to your procedure:

Info 29   Received response: {"kind":"event::initializationFailed","message":"Command failed: npm install types-registry"}
Info 30   event: {"seq":0,"type":"event","event":"typesInstallerInitializationFailed","body":{"message":"Command failed: npm install types-registry"}}

[2017-04-20 17:29] Tyriar commented on #25086
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-04-20 17:29] #25086 closed

[2017-04-20 17:29] pr-yemibedu commented on #3422
Hello,
 A setting of
 * editor.folding.style : ( generic or textmate or custom )
 * editor.folding.fallback: (true or false)

 would be helpful to not loose current capabilities and give priority when a language has a better facility for this function. The textmate one seems simple to follow and straight forward to implement as the nature of what is currently done is understood. The custom service

[2017-04-20 17:32] Tyriar commented on #25085
We defer support for languages like this to extensions. There are some available that deal with Assembly, not sure about their quality though: https://marketplace.visualstudio.com/search?term=assembly&target=VSCode&category=All%20categories&sortBy=Relevance

[2017-04-20 17:32] #25085 closed

[2017-04-20 17:35] Tyriar opened #25087 "Add details to wiki on how backspace works in Korean IMEs"
We should add this to https://github.com/Microsoft/vscode/wiki/IME-Test as it's an important case to cover.

[2017-04-20 17:37] Tyriar commented on #12682
To clarify, ctrl+§ on your keyboard layouts is ctrl+altgr+s?

@alexandrudima do you know what's happening here?

[2017-04-20 17:41] r3wt opened #25088 "Implement blank operations"
Please consider implementation of the following features, shown here in notepad++.

![image](https://cloud.githubusercontent.com/assets/4483325/25244389/219ad5bc-25c6-11e7-94d2-a55eda78f3ba.png)

the tab to space/space to tab feature is very convenient. In my case, i prefer tabs, but company style guidelines dictate 2 spaces. I can easily convert to tabs, edit a file then convert to spaces and com

[2017-04-20 17:43] ericblade commented on #25053
Aha! Did not realize that "code" was a command script and not an exe.  So, it has to be prefixed with "call" for each one, when running it from another command script.

That does work, although it still doesn't bring up the last position of each project, unless you closed all windows using File->Exit last time.  weird.

I think I should close this, but I need to figure out specifically what's goin

[2017-04-20 17:43] #25053 closed

[2017-04-20 17:49] frankdugan3 commented on #24830
What I would like to see is the ability to choose separate fonts for different styles.
[code]

[2017-04-20 17:55] Tyriar commented on #25037
We decided to leverage the standard OS mechanism to deliver updates, and install in `/usr` like many other applications. I'm not sure anyone else has called this out as an issue since packages were added over a year ago.

[2017-04-20 17:57] Tyriar commented on #2973
@akashnimare the post install is optional, the minimal thing you need to do is setup a repo and provide users with steps to register it like https://code.visualstudio.com/docs/setup/linux#_debian-and-ubuntu-based-distributions

[2017-04-20 17:58] Tyriar commented on #20302
Does this reproduce for people when you run using `code --disable-extensions`?

[2017-04-20 17:59] Tyriar commented on #24743
@rebornix have you experienced this? I can't reproduce.

[2017-04-20 18:01] norFarhan commented on #15813
it will be much more better for vscode to support php formatter instead of using extensions which will cause multiple keybinding for multiple language,

[2017-04-20 18:03] Tyriar commented on #3459
Close this off as there's nothing we can do and it only applies to a subset of Linux distros. If you're still seeing the problem please create an issue in https://github.com/electron/electron

[2017-04-20 18:03] #3459 closed

[2017-04-20 18:04] Tyriar commented on #5561
Closing since we want to go in a different as per https://github.com/Microsoft/vscode/issues/5561#issuecomment-260239618

[2017-04-20 18:04] #5561 closed

[2017-04-20 18:06] Tyriar commented on #5679
Closing since there are no plans to fix this any time soon and there is a workaround in https://github.com/Microsoft/vscode/issues/5679#issuecomment-221022927

[2017-04-20 18:06] #5679 closed

[2017-04-20 18:06] #18334 closed

[2017-04-20 18:08] adamvoss opened #25089 "Provide for cancellation of extension download"
- VSCode Version: 1.11.2
- OS Version: Linux Mint 18.1

**Steps to Reproduce:**

1. Go to extensions (Ctrl+Shift+X).
2. Search for "@sort:installs" (or any other query that shows extensions you do not have installed).
3. Click the green install button next to an extension.

**Actual Results:**

Button "dims" and changes the displayed text to "Installing" until the extension has been installed.

**

[2017-04-20 18:10] roblourens opened #25090 "TS server error: "Cannot read property 'modifierFlagsCache' of undefined""
The TS service stopped working, and I saw this output. I don't think those things are necessarily related though, because this 40 minutes after the 10:26 timestamp.

[code]

[2017-04-20 18:10] rebornix commented on #24743
I can reproduce when there is Chinese character in a file path

![screen shot 2017-04-20 at 11 09 34 am](https://cloud.githubusercontent.com/assets/876920/25245642/f6c04df6-25b9-11e7-8a2a-3bb2ea27d806.png)

[2017-04-20 18:12] Tyriar commented on #5908
Accepting PRs for this, to fix this I think you'll need to search for where the exception is happening in the code base (somewhere related to reloading the window?) and handle `ENOENT` by giving a nicer error message. If you get `ENOENT` and then stat the file and it exists and we're on Linux, it's probably safe to assume this is the case.

[2017-04-20 18:13] Tyriar commented on #6013
Closing since the watch count issue is mentioned on the faq https://code.visualstudio.com/docs/setup/linux#_error-enospc

[2017-04-20 18:13] #6013 closed

[2017-04-20 18:16] Tyriar commented on #6784
I believe this has been fixed, cannot repro on Windows or Linux.

[2017-04-20 18:16] #6784 closed

[2017-04-20 18:19] manu-silicon commented on #24798
Confirming that the new VS Code insider fixes the issue.

Thanks so much!

[2017-04-20 18:19] Tyriar commented on #6979
This is supported in the new workbench themes so I'll close this off in favor of that. Please track https://github.com/Microsoft/vscode/issues/3112 for updates on the API documentation.

You can also use the experimental settings 1.11 to override in your settings.json:

![image](https://cloud.githubusercontent.com/assets/2193314/25246045/443f05d0-25bb-11e7-890d-f7fe90b86b46.png)

[2017-04-20 18:19] #6979 closed

[2017-04-20 18:21] mark-99 commented on #25037
I'm sure many people just give up when they see "sudo". Also I'm coming from using Visual Studio on Windows, so VSCode is a great thing compared to the standard Linux solution of using vim/emacs and gdb. So perhaps using MS tools on Linux is niche in itself (but which is what I'd like to help evangelise).

Ok if you're hands are tied by the package managers then fair enough.

[2017-04-20 18:22] Tyriar commented on #7077
Closing this off in favor of https://github.com/Microsoft/vscode/issues/11314 (blocking upstream issue: https://github.com/sourcelair/xterm.js/issues/487)

[2017-04-20 18:22] #7077 closed

[2017-04-20 18:23] Tyriar commented on #7486
Closing as this was likely fixed after the winpty upgrade.

[2017-04-20 18:23] #7486 closed

[2017-04-20 18:24] Tyriar commented on #7493
Closing off, I believe this is related to special character sequences supported in cmder that turn into unicode chars. We have no plans to support these.

[2017-04-20 18:24] #7493 closed

[2017-04-20 18:25] Tyriar commented on #7624
Closing off, a lot has changed since now including the upgrade to winpty which improved Windows support a lot.

[2017-04-20 18:25] #7624 closed

[2017-04-20 18:26] Tyriar commented on #7695
Closing off as a lot has changed since. If you can still repro this please file the issue against https://github.com/sourcelair/xterm.js

[2017-04-20 18:26] #7695 closed

[2017-04-20 18:27] #8128 closed

[2017-04-20 18:30] Tyriar commented on #8132
Opening up to PRs, here's what we need:

- A new setting that defines whether the "Open in terminal/command prompt" context menu in the explorer uses the external terminal (current) or integrated terminal
- Support for launching a integrated terminals when it's selected. This involves hooking it up with `TerminalService.createInstance` in https://github.com/Microsoft/vscode/blob/ed91b067e075457791

[2017-04-20 18:31] Tyriar commented on #8219
I believe this issue is fixed. The situation will improve further after https://github.com/Microsoft/vscode/issues/18588 is resoled

[2017-04-20 18:31] #8219 closed

[2017-04-20 18:31] egamma commented on #14388
done

[2017-04-20 18:31] #14388 closed

[2017-04-20 18:32] Tyriar commented on #8556
Our rpm package/yum repo should not touch this file afaik https://code.visualstudio.com/docs/setup/linux#_rhel-fedora-and-centos-based-distributions

[2017-04-20 18:32] #8556 closed

[2017-04-20 18:33] #8814 closed

[2017-04-20 18:34] #8878 closed

[2017-04-20 18:35] Tyriar commented on #8892
The situation for this should be better now as `$LANG` is being set.

[2017-04-20 18:35] #8892 closed

[2017-04-20 18:36] Tyriar commented on #9008
Tracking this in https://github.com/sourcelair/xterm.js/issues/174

[2017-04-20 18:36] #9008 closed

[2017-04-20 18:37] Tyriar commented on #9191
Closing this off, the situation with the OPs problem has likely changed in 10 months.

[2017-04-20 18:37] #9191 closed

[2017-04-20 18:37] egamma commented on #8569
I'm closing this one, we have no plans to add these actions.

[2017-04-20 18:37] #8569 closed

[2017-04-20 18:38] Tyriar commented on #9347
Upstream issue: https://github.com/Tyriar/node-pty/issues/7

[2017-04-20 18:39] egamma commented on #17661
Closing, pls reopen if issue still exists.

[2017-04-20 18:39] #17661 closed

[2017-04-20 18:39] Tyriar commented on #9548
Duplicate https://github.com/Microsoft/vscode/issues/8842

[2017-04-20 18:39] #9548 closed

[2017-04-20 18:39] ecmel commented on #24987
I use the following setting for vue files:

[code]

[2017-04-20 18:40] Tyriar commented on #9715
Closing this as the situation has changed and the PowerShell experience is owned by https://github.com/PowerShell/vscode-powershell

[2017-04-20 18:40] #9715 closed

[2017-04-20 18:40] #9756 closed

[2017-04-20 18:42] Tyriar commented on #9758
@sandy081 closing this off, if it still repros on Mac feel free to open on https://github.com/sourcelair/xterm.js (I don't have my Mac with me).

[2017-04-20 18:42] #9758 closed

[2017-04-20 18:43] Tyriar commented on #9761
This will be fixed when we manage the selection model ourselves https://github.com/Microsoft/vscode/issues/9958

[2017-04-20 18:43] #9761 closed

[2017-04-20 18:44] Tyriar commented on #9958
I'll treat this as the master issue for all related bugs, here's probably incomplete list of things this fixes:

- Double clicking on the prompt line being flaky due to focus shifting from .xterm to the text area
- Double clicking on a URL/path to highlight the whole path (ie. don't use / and similar chars as separators)
- Selecting and copying multiple pages of the buffer https://github.com/sourc

[2017-04-20 18:45] Tyriar commented on #10015
This is as designed, no plans to change currently.

[2017-04-20 18:50] Tyriar commented on #10023
Opening this up to PRs, here's what we need:

- A new command registered `workbench.action.terminal.rename` (see https://github.com/Microsoft/vscode/blob/ed91b067e075457791e5e523d25e110c57650a4b/src/vs/workbench/parts/terminal/electron-browser/terminal.contribution.ts#L209)
- The command will rename the currently active terminal instance, regardless if it is currently visible or not. You will need

[2017-04-20 18:51] whitecolor commented on #23160
Hope to see multiple running tasks soon.

[2017-04-20 18:53] Tyriar commented on #10091
The desktop entry now uses the bin/ script. https://github.com/Microsoft/vscode/pull/24523

[2017-04-20 18:53] #10091 closed

[2017-04-20 18:54] Tyriar commented on #10110
Closing this off until more details surface on how to properly do this without degrading the experience on other distros.

[2017-04-20 18:54] bviktor commented on #10281
I'd like to add a few points.

1) I'm pretty sure that "I don't know, therefore msysgit" is not the proper approach to this issue.

2) This error is reproducible with zero Git involved. To me it occurs with `go build`.

Steps to reproduce:

1) Get a VM image for win10 15.15063 from [modern.ie](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/)

2) start it up, install updates, restar

[2017-04-20 18:55] #10226 closed

[2017-04-20 18:55] Tyriar commented on #10226
This appears to work now.

[2017-04-20 18:58] aleksey-bykov commented on #10015
why not?

[2017-04-20 19:03] n370 commented on #6165
Still an issue as of this version.

![2017-04-20 16_02_18-sockethandler js - calendarproxy - visual studio code](https://cloud.githubusercontent.com/assets/1547648/25247929/c3d790ce-25e2-11e7-9b30-28425ab6f293.png)

[2017-04-20 19:08] hex13 commented on #5605
Is this feature really that hard to implement in VSCode or has it just very low priority?

Just curious - I noticed that "code outline as separate panel" feature request pops itself through months without any visible progress. I mean, I'm sure that authors of VS Code work very hard on this editor, so there must be reason why often requested feature is not there yet.

BTW maybe this feature could b

[2017-04-20 19:10] gordody opened #25091 "Debugging multiple files in node.js from one window - selection option disappears after restarting one of the debugged processes"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.2|
|vscode-github|KnisterPeter|0.12.1|
|start-git-bash|McCarter|1.2.1|
|vscode-docker|PeterJausovec|0.0.9|
|vscode-tidyhtml|anweber|1.5.0|
|git-easy|bibhasdn|1.9.1|
|vscode-eslint|dbaeumer|1.

[2017-04-20 19:31] htar opened #25092 "Autocomplete in Visual Studio Code not working correctly (SASS,CSS,LESS)"
When using VSC the autocomplete function does not seem to work correctly. I can use things like bgc for background-color: but when i want the options for a property it just gives a list with all the options. I have made two screenshots to show the behaviour. I use Sass Indented as a plugin.

Edit: Autocompletion does work with a normal css file.
<img width="622" alt="wc4wj" src="https://cloud.gith

[2017-04-20 19:37] dansiegel commented on #1223
If it only does this on the first run, users who already have VS Code installed would have to know both, that the option exists, and how to get the command onto the command palette. To be honest most of us deal with so many updates, we probably aren't paying very close attention to the release notes. So I might suggest that if we have to manually do something to enable this, that there is some tho

[2017-04-20 19:37] sean-mcmanus commented on #24555
@joaomoreno This bug is still reproing for me on the latest Insider's build.

[2017-04-20 19:48] Tyriar opened #25093 "Command to open the old keybindings.json side-by-side view"
Since I manage my keybindings.json file in a dotfiles repo I would prefer to open the old view and work with the text files so I can manage the format/when clauses manually.

An additional command to do this is probably better than I setting imo, that way I we don't really need a switch view button up the top.

[2017-04-20 19:50] jonathan-fielding commented on #14653
<img width="1085" alt="touch bar shot 2017-04-20 at 20 41 04" src="https://cloud.githubusercontent.com/assets/630034/25249741/e9c20288-260a-11e7-89a7-efd04213527c.png">
Added a action bar switcher

[2017-04-20 19:54] Tyriar commented on #25065
Duplicate https://github.com/Microsoft/vscode/issues/1614

[2017-04-20 19:54] #25065 closed

[2017-04-20 19:54] mjbvz commented on #25088
I believe that this already exists, try the `Convert Indentation to Spaces` and `Convert Indentation To Tabs` commands. You should also be able to assign any keybinding to these commands

[2017-04-20 19:55] Timber232 commented on #17060
Any update on this?
The current title bar is very distracting.

[2017-04-20 19:56] mjbvz commented on #25080
What language are you working in?

[2017-04-20 19:59] mjbvz commented on #25074
This sounds like a duplicate of #25013

Please try out the latest insiders built and let me know if you still see this issue

[2017-04-20 19:59] #25074 closed

[2017-04-20 20:00] felixfbecker commented on #17060
I also wonder if this will ever tie into the rumoured tabbed shell http://www.windowscentral.com/windows-10-tabbed-shell

[2017-04-20 20:04] jwg4 commented on #22897
Just installed VSCode on Windows 10, this issue is present:

Version 1.11.2
Commit 6eaebe3b9c70406d67c97779468c324a7a95db0e
Date 2017-04-13T08:03:11.395Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

[2017-04-20 20:05] wicktus commented on #14653
Looks great :) !

[2017-04-20 20:06] mjbvz commented on #25079
I'm unable to reproduce this in the current 1.11.2 on MacOS. @menorless Do you also see this issue in a new file or in other file types?

[2017-04-20 20:09] jwg4 opened #25094 "Can't clone a git repo, "Unable to open git.clone: resource is not available""
This seems to be a bug which was previously reported, was fixed, and the issue closed. See #22897

- VSCode Version:
Version 1.11.2
Commit 6eaebe3
Date 2017-04-13T08:03:11.395Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

- OS Version:
Windows 10
Steps to Reproduce:

1. Install VSCode
2. On landing page, click "Clone Git repository"

[2017-04-20 20:11] sean-mcmanus opened #25095 ""All Exceptions" doesn't de-activate after unchecking it"
- VSCode Version: 1.12.0-Insiders
- OS Version: Windows

Steps to Reproduce:

1. Launch Extension: I used our cpptools extension.
2. Select the All Exceptions breakpoints option and have some exception trigger.
3. Uncheck the All Exceptions option.

Bug: It keep breaking on All Exceptions until I stop debugging.

[2017-04-20 20:12] mjbvz commented on #25075
Try the `deleteAllRight` command. Here's the default keybinding:

[code]

[2017-04-20 20:12] #25075 closed

[2017-04-20 20:16] simonech commented on #14653
I think a cool feature would be having step in/over debugging button

Sent from my iPhone