[2020-04-20 10:20] andycraig commented on #95234
@jrieken Here's a screenshot of an R Markdown (.Rmd) file. Note that the markdown headings and the function definitions in the code chunks are shown in the outline. The [R language server](https://github.com/REditorSupport/languageserver) is providing the symbols for both.

![outline](https://user-images.githubusercontent.com/23294156/79740253-54118e80-833a-11ea-9560-6f9ff923dba8.JPG)

The editor

[2020-04-20 10:21] deepak1556 commented on #95415
On linux `/dev/shm` needs to have atleast 64MB of space for shared memory to be used by chromium. We can either try increasing that memory in CI if possible (I would say 4GB/8GB is a good amount) or we can use `--disable-dev-shm-usage` as outlined here https://github.com/puppeteer/puppeteer/issues/1834

[2020-04-20 10:22] jvesouza commented on #95514
I tested it here and it is working as expected. Thanks.

[2020-04-20 10:23] ThrowawayAccount-lang commented on #93120
Sadly I had to reset my computer, and VS Code now starts up in about 2 seconds and take 1-2 to load the window.
This time around though I changed the installation path, instead of the AppData folder I used one on another drive (HDD). I will try to uninstall and then install into the default folder and see if that makes any difference.
All I can think of, that might have had something to do with th

[2020-04-20 10:24] isidorn opened #95682 "Automatically turn off tabs when screen reader detected"
Talking to our screen reader users most of them disable tabs since it makes navigation a lot easier.
Also imho tabs are a very visual thing so it might make sense to automatically disable them when screen reader is attached. For example we could change what is the default of the setting `workbench.editor.showTabs`, so users could still overwrite it if they want to

Just creating this issue for dis

[2020-04-20 10:27] jvesouza commented on #95511
It seems to have been fixed.

[2020-04-20 10:27] deepak1556 commented on #95521
There was no updates to the electron runtime between `1.43` and `1.44`. This definitely seems like an error from the user system.

@Ynewtime does the proxy setup work with chrome/edge on your system ? Did you try configuring the proxy at the system level instead of defining `http.proxy` variable ?

[2020-04-20 10:30] isidorn commented on #89231
@MarcoZehe I can still reproduce this issue.
Both in VSCode, Chrome, Safari etc. Might it be that there is some VoiceOver settings which controls this? Which you have set and I do not (I have default settings)

My os: Catalina 10.15.4
My steps: create two 10+ lines `.cpp` files, swithc between them using `Ctrl + Tab`, or `Ctrl + P`. Every time a file is focused VoiceOver reads content startign fro

[2020-04-20 10:30] Stardidi commented on #95674
Yes, it indeed restarts and close the entire application without asking me. This has been happening for a longer time (several months).

I have never interacted with the gearwheel menu, although I may have pressed 'install update' in the bottom-right toast notification during the previous start of VSCode.
So
- Start VSCode
- Get update toast notification, click 'install updates'
- Reboot PC
- Open

[2020-04-20 10:30] isidorn commented on #95511
@jvesouza thanks. Adding verified label.

[2020-04-20 10:30] isidorn commented on #95514
@jvesouza awesome. Adding verified label.

[2020-04-20 10:34] DifficultNick commented on #95252
How about giving the option to disable this dialog through the settings?
When this action is frequent the extra click becomes annoying :(

[2020-04-20 10:40] renkun-ken commented on #95234
Thanks @andycraig for introducing me to this discussion.

One thing to notice is that R language server is implemented in R and works for other editors that support LSP and thus is not designed specifically for VSCode.

Generally, I think mixing markdown outline and document symbols look natural and is easy for users to adopt.

[2020-04-20 10:41] isidorn commented on #95544
This makes perfect sense and was also requested by @joaomoreno
The alternative approach to contributing variables that need to be resolved is to pass the filter based on the currently active file

Workaround: use `.only` in your mocha test file until we fix this. And try not to commit that accidentally.
For now assigning to May since I think this would help with our selfhosting.
Also assigning to

[2020-04-20 10:44] alexr00 commented on #95540
This is handled at the tasks level for tasks (not variable resolving), so assigning to @isidorn.

[2020-04-20 10:51] qbodk opened #95683 "code block extra margin top"
Hello every one.
I don't know if there is such a feature or not yet.
I searched everywhere and I found nothing.
I'm working on a javascript file with a lot of lines and so much logical blocks of code.
The way code is shown in the editor confuses me because  of equal line-height between all code lines.
I've tried increasing line-height but it doesn't help me for recognizing code blocks easily.
I've

[2020-04-20 10:51] isidorn commented on #95647
@ertay thanks for precise steps however this works for me.
I followed your exact steps and I could rename from the explorer both by using the keyboard and the context menu.

Here's a gif showing what I am doing. If you are doing something different to what I described or what I have shown in the gif let me know.
Also if you F1 > developer tools > do you see some errors in the console
Can you renam

[2020-04-20 10:51] gjsjohnmurray commented on #95665
I can repro in 1.44.2 but not in 1.45.0-insider

Probably fixed by https://github.com/microsoft/vscode/issues/88284#issuecomment-615496315

[2020-04-20 10:53] leilapearson commented on #27759
Sounds good. Thanks @isidorn .

[2020-04-20 10:53] isidorn commented on #95540
@GlenDC this is a fair feature request. However I believe this could be achieved by an extension.
An extension would simply `resolveDebugConfigurations` for `*` type that way it would be called last.
It would contribute a command "Rerun Debug Configuration" or something like that and that command would simply call the `debug.startDebugging` api via the last used configuration.

[2020-04-20 10:54] anilarusys opened #95684 "Git not working with new update"
Issue Type: <b>Bug</b>

When code updated it start display error "Restart Extension Host" and no git changes or difffrence display on project area.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18363

<details><summary>Extensions (8)</summary>

Extension|Author (truncated)|Version
---|---|---
githistory|don|0.6.3

[2020-04-20 10:54] chrmarti commented on #95572
Could you attach a screenshot? Is there anything in the dev console? (`Help` > `Toggle Developer Console`) Have you tried reinstalling?

[2020-04-20 10:56] chrmarti commented on #95578
@roblourens Did anything change here? (/cc @bpasero)

[2020-04-20 10:56] jvesouza commented on #95032
For me it is working exactly as I expected. It was great, thanks.

[2020-04-20 10:57] gjsjohnmurray commented on #95684
Are you using Quick Heal antivirus? If so, see #94858

[2020-04-20 10:58] alex19EP commented on #95682
can you explain which tabs in question?

[2020-04-20 10:59] jrieken commented on #95579
This is https://github.com/microsoft/vscode/issues/56644 which is that something on machine slows down the creation of the renderer process. We have learned that this is

* AV software
* the Badlion Client (see https://github.com/microsoft/vscode/issues/56644#issuecomment-613858693)

[2020-04-20 10:59] #95579 closed

[2020-04-20 11:02] chrmarti commented on #95581
/causedByExtension

Please file for the Forth extensions you think are doing this. There might be an inherent conflict here, it seems both languages are using `.fs`.

[2020-04-20 11:03] #95581 closed

[2020-04-20 11:04] lukboegit opened #95685 "Javascript Highlighting broken // showing errors where there are none"
- VSCode Version: 1.44.2 and insiders build
- OS Version: MacOS 10.15.4

Steps to Reproduce:

Highlighting just started to be broken out of the blue in Javascript. I am just learning, so I was fooling with HTML/CSS/JS when VS Code was showing faux errors and weird behaviors in highlighting. The error messages would not show when i closed and reopened the file or when i was opening the same file in

[2020-04-20 11:06] isidorn commented on #95573
Thanks @Tyriar for the ping.
Agree with @marcozehe so
1) Change the textarea aria label as you suggeted
2) No I do not think there should be an additonal alert, a user will get it when he re-focuses the terminal
3) Having a command with an assigned complex keybinding makes sense so you can mention the keybinding in the aria label of the terminal text area
4) Just make the message you propose more

[2020-04-20 11:07] chrmarti commented on #95588
Could you attach a screenshot?

[2020-04-20 11:11] isidorn commented on #95682
@alex19EP yes, sorry for not being very clear.
Once a file is opened in the editor area we open it in an editor tab. Same as how Chrome and other browsers open webpages in tabs, we do the same in VS Code.

The only benefit that screen reader users have from that is that they can be tabbed (using the tab key on the keybaord) into.

Another way to put it is if you enable and disable the following se

[2020-04-20 11:11] isidorn commented on #95032
@jvesouza @joanmarie thanks a lot!
Adding verified label.

[2020-04-20 11:13] chrmarti commented on #95595
What is the file's size and how many lines does it have?

[2020-04-20 11:13] isidorn commented on #95580
@DeanRoddey thanks for filling this issue, but yeah the rust plugin has responsibility. They should return the values of variables as string as speicifed in the debug adapter protocol.
So please file an issue in their repository and tell them that they can ping me or @weinand for clarification on that issue.

Thanks. Thus closing this one

[2020-04-20 11:13] #95580 closed

[2020-04-20 11:14] MarcoZehe commented on #89231
Maybe I misunderstood the issue. It is normal that VoiceOver starts reading a newly focused text box or textarea. You can interrupt this and then arrow up and down normally. I thought this bug was about VoiceOver *always* reading the first line, even when on the second or third line and moving up and down with arrow keys. I am in a 40 k .mm file right now from the Mozilla source code, and I can re

[2020-04-20 11:16] isidorn commented on #95543
This feels like the custom dropdown rendering issue. Unfortunetly the custom dropdown has no owner.
Will try to find an owner for it so it is no longer an orphan.

[2020-04-20 11:17] chrmarti commented on #95604
This doesn't look like a problem with VS Code. Which process prints the 'lost connection' error message?

[2020-04-20 11:17] alex19EP commented on #95682
yep. i checked not much difference for me.
so i am +1

[2020-04-20 11:18] gpetrov opened #95686 "CRITICAL: loop forever on the monospaceLineBreaksComputer"
- VSCode Version: - Monaco 0.20.0 - March update
- OS Version: Windows and Mac

Causes the editor to go in infinite loop and eventually crash when all system resources are consumed.

It is caused by never ending loop because the variable **prevBreakOffset** somehow gets a value of undefines.

![image](https://user-images.githubusercontent.com/504730/79745704-11838e00-8309-11ea-8172-c72f279c3402.pn

[2020-04-20 11:19] gpetrov commented on #94330
Might be related to https://github.com/microsoft/vscode/issues/95686

[2020-04-20 11:19] gpetrov commented on #93120
Might be related to https://github.com/microsoft/vscode/issues/95686

[2020-04-20 11:20] gpetrov commented on #95120
Might be related to https://github.com/microsoft/vscode/issues/95686

[2020-04-20 11:21] chrmarti commented on #95610
Same as #95572.

[2020-04-20 11:21] chrmarti commented on #95611
/causedByExtension

This is caused by the LiveShare extension. Please file a new issue for it: https://github.com/MicrosoftDocs/live-share/issues

[2020-04-20 11:22] MarcoZehe commented on #95682
Well, I turned that setting off right at the start when using VS Code, since @Zersiax and I believe @DerekRiemer recommended it. So I would not be opposed to VS Code disabling those tabs by default.

[2020-04-20 11:22] #95611 closed

[2020-04-20 11:22] chrmarti commented on #95612
/causedByExtension

Please file an issue for the Terraform extension you are using.

[2020-04-20 11:23] #94802 closed

[2020-04-20 11:23] #95612 closed

[2020-04-20 11:23] #61290 closed

[2020-04-20 11:26] consal commented on #95684
I have exactly the same issue after the new update

[2020-04-20 11:27] AModin opened #95687 "Highlighting sections/files in the side menu"
Since you working in a few files/directories I think it will be great if the user will have the ability to mark these files with some different colors so it will be much easier to find it in the side menu (project explorer). The example is attached below.

![exam](https://user-images.githubusercontent.com/15379788/79746567-ddad6600-8312-11ea-8e73-81b1398a27f1.png)

[2020-04-20 11:29] kawo commented on #94330
Sorry, didn't saw this request!

Here are the logs:

[prof-6772.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/4503117/prof-6772.main.cpuprofile.txt)
[prof-6772.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/4503118/prof-6772.renderer.cpuprofile.txt)
[prof-6772.extHost.cpuprofile.txt](https://github.com/microsoft/vscode/files/4503120/prof-6772.extHost.cpuprofile

[2020-04-20 11:30] aeschli commented on #95449
@apupier What's the document selector  that you use when registering your completion provider?

[2020-04-20 11:32] Iipal opened #95688 "git changes lags in editor"
SCM shows 0 changes but in the editor, I still see bugged git changes. It lags appear from version +-1.42

- VSCode Version: 1.44.2
- OS Version: Windows 10 x64 + WSL Ubuntu 16.04
- No plugins for work with git installed

Steps to Reproduce:
1. Stage a few changes and add commits from SCM
2. Add tags from the terminal and run: `git push origin --all && git push origin --tags`
3. open SCM: 0 change

[2020-04-20 11:32] DanTup commented on #82718
@mjbvz what's the status of this? If I want my code actions to show up in the keybinding list, should I be statically contributing them in `package.json` like this, or just providing them via `documentation` (like https://github.com/microsoft/vscode/issues/89388)? It's not clear if `documentation` also includes this?

[2020-04-20 11:32] #95614 closed

[2020-04-20 11:34] weinand commented on #95544
Since commands can be used as variables, typescript can already contribute a command "outputFilePath".

[2020-04-20 11:36] chrmarti commented on #95623
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-20 11:37] #95623 closed

[2020-04-20 11:37] aeschli commented on #87702
@iamfraggle Sorry for that. yes, please file a separate issue.

[2020-04-20 11:39] wkia commented on #95521
@deepak1556 Taking into account that there were no changes except VSCode update, and there were no such errors fot all updates before 1.44.2, which kind of an error from the user system do you mean?

[2020-04-20 11:39] DanTup commented on #82718
Strangely, although some code actions show up in the keybinding list, if I try to add my own based on the info above, I get this warning:

<img width="539" alt="Screenshot 2020-04-20 at 12 38 43" src="https://user-images.githubusercontent.com/1078012/79747602-e480ac80-8303-11ea-8789-bbffa0c5f408.png">

If I remove the array (?!), then it breaks the intellisense for the existing ones, because it th

[2020-04-20 11:39] chrmarti commented on #95610
@HappyZo Could you check if there is anything in the console? (`Help` > `Toggle Developer Console`)

[2020-04-20 11:40] chrmarti commented on #95629
@tehyflax Could you check if there is anything in the console? (`Help` > `Toggle Developer Console`)

(Similar to #95572.)

[2020-04-20 11:40] DanTup commented on #82718
(oh, ignoring the warning seems like the right thing - my code action then shows up! 🤨)

[2020-04-20 11:41] ertay commented on #95647
@Isidorn I'm sorry I'm not able to see the GIF as I am blind. For me both the F2 shortcut, and the Rename function from the context menu don't work. If I start from the top of the file list in the _posts folder, it works until I reach the file named "2019-4-4-episode-9-sighted-assistance-for-blind-board-gamers-with-dale-and-laura-rowe". After that file, I cannot rename any of the files inside that

[2020-04-20 11:43] chrmarti commented on #95632
Does `code ~` work?

If not, does `code --user-data-dir ~/tmpvscodeuserdir` work?

[2020-04-20 11:44] chrmarti commented on #95635
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-20 11:44] deepak1556 commented on #95521
`net::ERR_PROXY_CONNECTION_FAILED` usually refers to an unreachable proxy server. Can you confirm if other applications like chrome/edge are operating with the proxy ?

Can you also launch code with `--log-net-log=<path>/netlog.json` and attach the log here.

[2020-04-20 11:44] #95635 closed

[2020-04-20 11:46] chrmarti commented on #95640
/causedByExtension

Please open an issue for the C++ extension: https://github.com/Microsoft/vscode-cpptools/issues.

[2020-04-20 11:47] #95640 closed

[2020-04-20 11:49] MarcoZehe commented on #95225
The punctuation is also a JaWS setting, and role "code" is very new. It is slatted for WAI-ARIA 1.3, and WAI-ARIA 1.2 hasn't even been finalized yet, but both Firefox and Chromium already support it because it was low-hanging fruit. Screen Reader support will need to be added for this first. Orca is, so far, the only screen reader that does it, and AFAIK only in Master.

[2020-04-20 11:52] chrmarti commented on #95644
In an empty html file try entering `d` `i` `v` and then press Tab. Does that work? If not, please attach a screenshot.

[2020-04-20 11:55] jrieken commented on #95449
They are all equals - there is only general match (using `*`) and all other matches. I'd say this JSON's adventures word definition which means your suggestions are automatically filter unless you set the `filterText` and/or `range` properties correctly.

[2020-04-20 11:56] #95449 closed

[2020-04-20 11:56] aeschli commented on #95583
PR welcome!

[2020-04-20 11:56] aeschli commented on #95584
PR welcome!

[2020-04-20 12:01] joaomoreno commented on #90670
I don't know what to tell you. Please read through the issue once again. I have asked you to provide very specific information, and you still haven't done so. If you manage to show me that `git commit` won't fail in the terminal when you have ignored files in your index, please let me know.

Until then, there's no need for that sort of language; this is your first warning.

[2020-04-20 12:02] chrmarti commented on #95651
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-20 12:03] #95651 closed

[2020-04-20 12:03] RasmusWL commented on #88284
Fixed in latest insiders build :tada: :heart:

[2020-04-20 12:07] bpasero commented on #95415
I don't think that command line argument helps, I can reproduce now running the docker image:

[code]

Any clues how to make changes to the shared memory thingy to try?

[2020-04-20 12:12] chrmarti commented on #95660
Any error message?

[2020-04-20 12:13] chrmarti commented on #95661
/causedByExtension

This is caused by the C++ extension. Please file a new issue for it: https://github.com/microsoft/vscode-cpptools/issues

[2020-04-20 12:14] #95661 closed

[2020-04-20 12:15] chrmarti commented on #95663
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-04-20 12:15] #95663 closed

[2020-04-20 12:16] chrmarti commented on #95665
@EricZhangzf Could you check if this is fixed in 1.45? Download: https://code.visualstudio.com/insiders/

[2020-04-20 12:17] deepak1556 commented on #95415
The command line did work, gpu process no longer crashes. The fatal error that is remaining in the output is wrt initializing headless display. Something dependency changed in 8 that our docker container is missing, will look into it tomorrow.

[2020-04-20 12:19] chrmarti commented on #95667
Which language is this? Could you append a full example?

[2020-04-20 12:21] deepak1556 commented on #95415
Okay its an upstream big fixed by https://bugs.chromium.org/p/chromium/issues/detail?id=1025266#c19 , will backport the fix in electron.

[2020-04-20 12:22] bpasero commented on #95415
Oh ok great, let me know when I can try again.

[2020-04-20 12:22] gillyhl commented on #95632
`code ~` didn't work, spat out the same error message, but `code --user-data-dir ~/tmpvscodeuserdir` did start up successfully.

[2020-04-20 12:24] chavlji commented on #95420
What do I think? I love it!!!

Thank you @JacksonKearl !

[2020-04-20 12:27] isidorn opened #95689 "Backport fix for VoiceOver Can't Find Web Content If you Stop Interact"
Just creating this issue so we have something to track this work

As already discussed with @deepak1556 we should backport fix for https://github.com/electron/electron/issues/17207 in our electron build

[2020-04-20 12:30] usernamehw commented on #95687
Possible duplicate of #62104.

[2020-04-20 12:47] #79074 closed

[2020-04-20 12:47] Saschamz commented on #93017
I'm running VSCode version 1.42 for this feature alone so I also second this 😄

[2020-04-20 12:50] isidorn commented on #89231
@marcozehe aha so you are arguing that this is VoiceOver expected behavior.
I just thought that it does not make sense to read the whole textArea which can contain 10000 characters, who would want to listen to that? Also other screen readers do not behave like this and thus I found it weird.
What is the benefit of hearing the whole text area instead of just the focused line?

[2020-04-20 12:50] joaomoreno commented on #95534
Does this appear if you run with `code --disable-extensions`?

[2020-04-20 12:51] chrmarti commented on #95676
Does `Ctrl+Right` work to word-navigate to the right?

[2020-04-20 12:51] jhomme commented on #95511
Hi,

The same thing happens for me, but it says a different message in another place. If I search for extensions on the market place and type slowly, the phrase “occurs n times,” where n is a number keeps speaking. I am thinking that it appears in the status line. I will check next time I open VSCode.

From: Isidor Nikolic <notifications@github.com>
Sent: Monday, April 20, 2020 6:31 AM
To: microso

[2020-04-20 12:51] Tyriar commented on #95252
I didn't actually make this fix, I was just one of the [endgame masters](https://github.com/microsoft/vscode/wiki/Running-the-Endgame) for the month. Follow https://github.com/microsoft/vscode/issues/95670 for an answer on the UX side, normally we opt for the safer side though.

[2020-04-20 12:52] joaomoreno commented on #95674
It could be... If you wait for the update to complete... does the issue reproduce?

[2020-04-20 12:52] FernandoMiguel commented on #95315
![image](https://user-images.githubusercontent.com/168366/79753594-1991fc80-830e-11ea-9069-432cd9d2c8c6.png)
i seem to have the same issue

Version: 1.45.0-insider
Commit: ec0d19789f89d4c25895f4a0cf364276cfb0c6ed
Date: 2020-04-20T06:04:22.698Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

[2020-04-20 12:52] chrmarti commented on #95677
Are you using Quick Heal Antivirus? (#94858)

[2020-04-20 12:53] fkromer commented on #95535
Issue reference: https://github.com/microsoft/vscode-python/issues/11268

[2020-04-20 12:57] Tyriar commented on #95511
@isidorn maybe another bug?

[2020-04-20 13:01] DouglasPR77 commented on #95526
There is a problem when a tab is opened with a query result (SQL). When using the arrow keys to move within these data, and the chosen position comes close to the end of the screen, the arrows stop working, causing the cursor not to move between the data. This problem occurs whenever the number of columns is greater than the amount visible on the screen. Thus, needing to click again with the mouse

[2020-04-20 13:02] #95687 closed

[2020-04-20 13:07] loganmay commented on #33110
I agree, would be great!

[2020-04-20 13:07] isidorn commented on #95511
I just checked the extensions search and there we use an alert once the marketplace results are fetched. I think this is fine and works decent in genereal
Though after there are results the aria label of the extensions search input should be updated
@jhomme can you please file a new issue for the extensions search and ping me on the issue? Thanks!

[2020-04-20 13:08] Tyriar commented on #95606
Can you share your settings.json and [do this](https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-escape-sequence-logging) to see what is getting sent to the shell?

[2020-04-20 13:09] Tyriar commented on #95627
/duplicate https://github.com/microsoft/vscode/issues/17142

[2020-04-20 13:09] #95627 closed

[2020-04-20 13:09] Tyriar commented on #95602
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/needsMoreInfo

[2020-04-20 13:12] marckassay opened #95690 "Relative and absolute path of the same file open from SCM(Git) compare"
- VSCode Version: 1.44.2
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Click on 'Explorer' and open any file
2. Modify file and save
3. Click on 'Source Control' and open modified file
4. Click on the 'Open File' icon in the SCM changes list

Does this issue occur when all extensions are disabled?: Yes

After all steps are completed and if the issue has been replicated, there sh

[2020-04-20 13:13] Melebius opened #95691 "Peek of a change hides its beginning"
When I use *Go > Next/Previous change* from the main menu, the peek view is shown over the editor. The change in question is shown above the peek window and if it’s a bit longer, its beginning is hidden. I usually want to see (and sometimes also edit) the beginning of the change. When I try editing directly in the peek view (which usually shows the beginning I am looking for), it says “Cannot edit

[2020-04-20 13:18] Tyriar commented on #91290
![image](https://user-images.githubusercontent.com/2193314/79755527-2131b100-82ce-11ea-955f-2215a164308b.png)

The new link system now lets you set hover labels, this will very likely come to the link provider API. eg. "Open on GitHub", "Open commit with in GitLens", "Launch debug browser".

[2020-04-20 13:19] isidorn commented on #95647
@ertay no need to be sorry, I was stupid about the gif, I have removed it from my initial comment. Sorry about that.

1) Do you use some screen reader when attached to VS Code?
2) When you press `F2` do you not get the inputbox, or you get it but typing anyhting has no effect
3) You see the same behavior even if you reload vscode?
4) Does deleting those files for example work? Only rename is the p

[2020-04-20 13:21] webczat commented on #95682
I am generally unsure about the policy of changing settings because accessibility is enabled, with some exceptions probably. If something makes not much difference one can as well ignore it. I actually haven't touched any tab related setting and I am still wondering what is it all about, so... Does this give any benefits as opposed to just hiding something that we don't need but that does not make

[2020-04-20 13:23] MarcoZehe commented on #89231
Well, to be honest, it doesn't. It's behavior particular to VoiceOver which, in my opinion, indeed doesn't make sense for textareas or multiline text fields in general. But it is not an VS Code bug, that's what I was saying. And it doesn't always seem to do the whole thing, in my longer file, it seems to start reading the currently visible excerpt only. But again, I think it shouldn't do that, it

[2020-04-20 13:24] isidorn commented on #95666
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-04-20 13:27] isidorn commented on #89231
@marcozehe agree with you. Though we like to keep issues in our repository even if they should be fixed upstream.
Let's see if @cookiecrook responds since I believe he works on VoiceOver and I can also file an issue in the webkit bugs.

[2020-04-20 13:28] alexr00 commented on #95559
Moved to owning repo https://github.com/atom/language-php/issues/390

[2020-04-20 13:28] #95559 closed

[2020-04-20 13:28] Tyriar commented on #91606
I've moved this back to proposed as I feel we'll regret this after link providers come out.

Link providers _definitely_ handle a link, which lets us give a nice label to the link (internal and from extensions):

![image](https://user-images.githubusercontent.com/2193314/79756709-df096f00-82cf-11ea-94f1-0a2c154cc8f4.png)

However, link handlers _may_ handle a particular link, so we cannot label it

[2020-04-20 13:29] isidorn commented on #95544
@weinand nice idea. Is it possible for the typescript extnesion to contribute this command @mjbvz

[2020-04-20 13:32] isidorn commented on #95650
This is because triggering the context menu does not pass focus to the electron app.
There is already an issue like this so closing as dupliacte. If you want to find it please search our issue repository for context menu focus.
Also it is an underlying electron bug so also check their repository. Thanks

[2020-04-20 13:32] #95650 closed

[2020-04-20 13:33] isidorn commented on #95645
Please file against the C# extension you are using. The extension is doing the installation.

[2020-04-20 13:33] #95645 closed

[2020-04-20 13:33] kaba2 opened #95692 "Restrict find (Ctrl+F) to current selection automatically"
When the Find dialog is not open, and I press Ctrl+F, I expect "Find in selection" to be active if and only if I have an active selection in the editor. This is how it works e.g. in Visual Studio (edit: except for single lines). Currently, the "Find in selection" is always disabled. The natural flow to me when searching in a selection is to first select, and then press Ctrl+F to open Find dialog.

[2020-04-20 13:34] isidorn commented on #95598
The pick process command is not in VS Code core, thus forwarding to @weinand and @connor4312 for now

[2020-04-20 13:35] jhomme opened #95693 "Screen reader speaks the message "Occurs n times" Repeatedly When Searching For Extensions"
- VSCode Version:
- OS Version:

Steps to Reproduce:

- From the application, press CTRL+SHIFT+P.
- Slowly type characters and after each one, listen for the phrase. For example, slowly type the word "python."

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-20 13:38] Tyriar opened #95694 "Environment variable info widget doesn't let you select the text"
Double clicking will select a line in the terminal:

![image](https://user-images.githubusercontent.com/2193314/79757804-6b686180-82d1-11ea-9182-b58008003294.png)

To verified run https://github.com/microsoft/vscode-extension-samples/tree/master/terminal-sample and the `Terminal API: Update environment` command.

[2020-04-20 13:40] jvesouza commented on #95283
@isidorn  It looks great! Thanks.

[2020-04-20 13:40] Tyriar commented on #95573
How about this for the label?

Then that command will trigger and focus the indicator's hover, allowing actioning with the "Relaunch action" at the bottom which will act the same as the editor's hover. Alternatively the user can just run the "Relaunch terminal" command but I don't call that out. Here's an example of what the hover looks like:

With the action

---

It'll be a new terminal so it wi

[2020-04-20 13:42] kaba2 commented on #95692
I found out there is a setting "Auto Find In Selection" where you can select "never", "always", and "multiline". Out of these, "multiline" is almost what I am describing. However, it does not work when the selection only spans a single line (the same happens in Visual Studio).

[2020-04-20 13:42] Tyriar commented on #95573
Note that the above does _not_ make the "changes active" part of this accessible, however this is just good to know information that extensions have changed the environment. It's very likely that most people will have changes active in all their terminals so I imagine going with an explicit approach here would get annoying and maybe confusing if the label said something like:

[2020-04-20 13:44] towry commented on #92755
This issue happened on my another mac.

[2020-04-20 13:47] isidorn commented on #95573
I think your suggestion makes sense. Though I would like to hear feedback from our users as well.
Also once we have a version which can be tried out I believe you will get more precise feedback.

[2020-04-20 13:48] Tyriar commented on #95573
This is a little tricky since it's an extension only feature currently in proposed. Setting up https://github.com/microsoft/vscode-extension-samples/tree/master/terminal-sample is the main way to test it now.

[2020-04-20 13:55] joaomoreno commented on #95544
@rebornix Also wants this.

[2020-04-20 13:56] #94988 closed

[2020-04-20 13:56] jvesouza commented on #93438
@joanmarie I believe I have encountered yet another small problem. When I use the command where I am operation the current line is read without punctuation. Whether or not the line is selected.

[2020-04-20 14:00] Tyriar commented on #95573
@isidorn are the actions in Show Hover accessible? I can't seem to tab to focus them, they're announced along with their keybindings, but I was expecting to be able to tab to them?

![image](https://user-images.githubusercontent.com/2193314/79760260-acae4080-82d4-11ea-9a67-ac04190aa6f9.png)

[2020-04-20 14:01] joaomoreno commented on #95619
Setting is `workbench.tree.indent`.

[2020-04-20 14:01] #95619 closed

[2020-04-20 14:03] AdamMomen commented on #95636
I really do support now I am trying all possible solution either with importing other libraries or using a hacky solution to get around I really believe this feature worth putting effort on. @Menci

[2020-04-20 14:03] joaomoreno commented on #95688
You seem to be missing file events. Please go through the following steps:

1. Run `Git: Set Log Level...` and choose `Trace`
2. Run `Git: Show Git Output`
3. Reproduce the issue and wait 10-20 seconds
4. Paste the whole output here

[2020-04-20 14:06] CodeMouse92 commented on #95459
@joaomoreno I'd propose leaving this open for now. I'll see if I can find anything about #71942.

[2020-04-20 14:10] DJackman123 opened #95695 "Launching as new window doesn't work if already running as administrator"
Issue Type: <b>Bug</b>

If Visual Studio Code is already running as administrator then attempting to launch a new window (using the "New Window" task via the Start menu or the --new-window command line switch) doesn't work.

I understand that when trying to open a file Visual Studio Code will attempt to find a currently-running instance and if it finds one then it will open the file in that instan

[2020-04-20 14:13] CodeMouse92 commented on #95459
@joaomoreno Aha!!! I found a likely cause of the original problem (although I cannot comment on that task): **if the `.desktop` file has the wrong permissions, the icon will not be visible!** Has anyone actually checked that the `.desktop` file was being marked executable on all systems?

[SOURCE](https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles)

[2020-04-20 14:14] #95557 closed

[2020-04-20 14:14] dzienisz opened #95696 "renaming folder and file from lowercase to uppercase"
- VSCode Version: 1.44.1
- OS Version: MacOS

Steps to Reproduce:

1. folderName/fileName to FolderName/FileName
2. git don't get it :(

<img width="448" alt="Zrzut ekranu 2020-04-20 o 16 12 50" src="https://user-images.githubusercontent.com/3521624/79761630-fffab000-8321-11ea-8a44-7e9baf98e83b.png">

[2020-04-20 14:15] bpasero commented on #95615
This looks like extensions activating when window focus looses. I do not think this is related to notifications at all.

[2020-04-20 14:15] Tyriar opened #95697 "Setting request: Don't collapse explorer node on single click (unless on twistie)"
I've found it pretty annoying for a while how if I want to search on a particular folder in the explorer, I need to click it (which collapses it), then click it again (to re-expand) and then hit alt+shift+f. This happens other times too, when I collapse folders I typically do it with the left arrow.

I couldn't see a request for this but I think I'd prefer the following behavior:

- Single click d

[2020-04-20 14:15] ceandrade opened #95698 "Path completion with tab on command pallet"
I usually work with projects with very long path names, and, very often, I have to compare files between projects. I can accomplish that using the command pallet ("Cmd+Shift+P") and "File: Compare Active File With...". Until here, it is all OK. But, from there, I have to either type the long paths or copy them from another place, which is annoying and extremely slow.

It would be very nice that I

[2020-04-20 14:16] Tyriar commented on #95697
Another idea is to make the whole left activate the twistie which would probably make it even easier to collapse:

![image](https://user-images.githubusercontent.com/2193314/79761876-df593880-82d6-11ea-8aa5-3d24c73778ae.png)

[2020-04-20 14:18] Tyriar commented on #95459
@CodeMouse92 wait, so absolute paths work when the file has wrong permissions but not just the file name? 😕

[2020-04-20 14:19] emceearjun opened #95699 "Random highlighting of source code"
Issue Type: <b>Bug</b>

The source code in my VSCode editor gets randomly highlighted with red.
I have not been able to figure out what the trigger is or whether this is intentional and means something. It is pretty distracting and creates a lot of confusion while browsing code.
I first noticed this only a couple of releases ago.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300

[2020-04-20 14:19] bluemonkmn opened #95700 "Capital letters in workspace path cause search results duplicated under Other Files"
Issue Type: <b>Bug</b>

1. Create a Visual Studio Code Workspace file.
2. Enter or change one of the letters in the path in the workspace file's "folders" section to be a capital letter (using a text editor).
3. Open the workspace in VS Code
4. Open a file from within the workspace folder
5. Perform a global search (Ctrl-Shift-F) for some text in the file

Expected Result:
The result should appear

[2020-04-20 14:20] bpasero commented on #95568
Please provide the full sample code for how to set this up until the issue comes up.

[2020-04-20 14:22] bpasero commented on #95594
/duplicate https://github.com/microsoft/vscode/issues/164

[2020-04-20 14:22] CodeMouse92 commented on #95459
@Tyriar It's possible. If there was something wrong with using a relative path to `/usr/share/pixmaps` in ` .desktop` file, then all those users would be unable to see *most* icons. But they can see 'em all...just not ours. Since the icon file is present in the usual directory, and the `.desktop` conventions are functioning on everything else, *the problem must be our `.desktop` file's permissions

[2020-04-20 14:22] #95594 closed

[2020-04-20 14:23] jaredready opened #95701 "Preference Sync fails to sign in on MacOS"
- VSCode Version: 1.45.0-insider (commit 92ff20ac39c7507fdf4164e2bedfdfb700805fe1)
- OS Version: MacOS 10.14.6 (18G3020)

Steps to Reproduce:

1. Enable Preference Sync
2. Successfully follow authentication process

Does this issue occur when all extensions are disabled?: **Yes**/No

**Error message:**

Writing login information to the keychain failed with error 'The specified item could not be fo

[2020-04-20 14:24] bpasero commented on #95572
This sounds like https://github.com/microsoft/vscode/issues/94931

[2020-04-20 14:24] bpasero commented on #95610
Sounds like https://github.com/microsoft/vscode/issues/94931

[2020-04-20 14:24] #95694 closed

[2020-04-20 14:24] bpasero commented on #95629
Sounds like https://github.com/microsoft/vscode/issues/94931

[2020-04-20 14:27] leonardder commented on #93438
I filed https://github.com/nvaccess/nvda/issues/11033

'Honestly, I'm a bit conservative on this, and suggested that if NVDA does anything with this role, it should refrain from making this default behaviour until this role is in a released ARIA spec.

[2020-04-20 14:27] bpasero commented on #95652
I cannot reproduce on my Ubuntu 18:

![image](https://user-images.githubusercontent.com/900690/79763002-c5921280-8323-11ea-8959-581fe8fe815d.png)

So I suspect a OS/Electron issue.

[2020-04-20 14:27] bpasero commented on #95632
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-04-20 14:28] Stardidi commented on #95674
Is there any way for me to force an install of an update without there actually being a new update?

[2020-04-20 14:32] Tyriar commented on #95573
Oh, it's because the actions are `a` tags without href or tabIndex set.

[2020-04-20 14:34] connor4312 commented on #95544
Yea, I think a command is the way to go here.

This would be nice but might not always be possible in esoteric build setups. js-debug could contribute this since we build a mapping for sourcemaps in the workspace already. Interested to hear Matt's thoughts :)

[2020-04-20 14:35] Tyriar commented on #95573
Show environment info + tab to focus the action, announces "Relaunch terminal button":

![image](https://user-images.githubusercontent.com/2193314/79763680-3c55ee00-82d9-11ea-9ef8-d3eb8baf605f.png)

I'll make an issue for the editor because they are only accessible via click currently.

[2020-04-20 14:36] Tyriar opened #95702 "Actions in hover are not keyboard accessible"
Context: https://github.com/microsoft/vscode/issues/95573#issuecomment-616573559

[2020-04-20 14:36] alexr00 opened #95703 "vscode.InputBox requires a title to show buttons"
Shows buttons:
[code]
I have to include the title. If I leave it out, then buttons are not show.

[2020-04-20 14:37] bpasero opened #95704 "dropdown.background not applied (debug)"
I played around with `dropdown.background` to set the background color of the dropdown widget. It works fine in the panel area but e.g. not for the debug dropdown.

That makes me wonder if we possibly have code in debug land that overrides this because the debug view is in the side bar. That is probably not a good idea given you can move views around.

![image](https://user-images.githubuserconten

[2020-04-20 14:38] bpasero opened #95705 "Remote explorer: location specific code?"
Found this by accident, I think we cannot have location specific code anymore given views can move around:

https://github.com/microsoft/vscode/blob/3ec72784c1e4b220da8b332bd3519c161042b576/src/vs/workbench/contrib/remote/browser/explorerViewItems.ts#L44

[2020-04-20 14:39] BlackWild opened #95706 "Formatting files on two successive saving (formatOnSecondSave)"
I think it would be a great developer experience if it was possible to format a file when pressing `crtl+s` or `cmd+s` twice, more technically, when using the keyboard shortcut of saving on an unchanged file.

Using `cmd+s` for the second time is a more convenient and quick way than using another shortcut for formatting files (on Windows: `Shift+Alt+F`).

I suggest adding an option that hitting
-

[2020-04-20 14:42] thernstig opened #95707 "Let extension decide what it contributes to the Problems pane"
For reference, see https://github.com/streetsidesoftware/vscode-spell-checker/issues/186

Currently there exists a few type of "problems": Error, Warning, Information, and Hint.

A spell checker, such as cSpell, would possibly want to display Information with blue squiggly lines in the editors, but not show these errors at all in the Problems pane. A good reason for this is that one would maybe wa

[2020-04-20 14:42] vchouhan opened #95708 "The editor freezes while parsing JSX."
Not sure how to reproduce but I've noticed that when I working with a react app and I’ve language mode `JS Babel`, and Prettier as a default formatter the editor typing freezes when it encounters errors with JSX, mean it can’t parse JSX, all other functionality of VS code are working.

[2020-04-20 14:44] gillyhl commented on #95632
I get the same results when running with insider build. Have I just mangled something on my file system to get it like this, as it's not been reported by anyone else.

[2020-04-20 14:47] AndrewDavis commented on #12622
Hiding most or all of the text is also desired. (Generally if you're pinning tabs you know what they are and in what order they are. You can always visit or hover to see the details.) Perhaps there could be 2 different types of pins, such as "Pin Tab" and "Sticky Tab" (your version).

Not being closeable without the right click context menu is a standard feature of pinned tabs, like in a web brows

[2020-04-20 14:47] bpasero commented on #95704
Same for remote explorer, so it is maybe more generic:

![image](https://user-images.githubusercontent.com/900690/79765215-9e891000-8326-11ea-8cb1-f9b3752add87.png)

//cc @sandy081 @sbatten

[2020-04-20 14:49] isidorn commented on #95704
You are correct we use the sidebar_background for the debug [here](https://github.com/microsoft/vscode/blob/95f26d2005ea0633aa48832d11e1f37068c4dcdb/src/vs/workbench/contrib/debug/browser/debugActionViewItems.ts#L53)

I thought the issue is that we also have a green play button which is part of this and we did not want to custmoise it becuase the Green play might not look good on the customised ba

[2020-04-20 14:49] alex19EP commented on #95682
@webczat i think it's saves time if you move with tab near the editor or use revue mode.

[2020-04-20 14:50] Tyriar commented on #95702
@octref I'll send a PR today

[2020-04-20 14:50] daniel-montalvo commented on #95524
Many thanks for this suggestion!

[2020-04-20 14:51] bpasero commented on #95704
I think the remote one is covered via https://github.com/microsoft/vscode/issues/95705

[2020-04-20 14:52] bpasero commented on #95632
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2020-04-20 14:53] isidorn commented on #95704
That one was probably a copy paste mistake from debug land :)

[2020-04-20 14:53] adrianord commented on #92615
@Tyriar  @joaomoreno I had forgotten to test whether I was getting this problem in the WSL file system and it seems I am. So to recap, when using the latest version of vscode through the WSL bridge, I get a laggy terminal from background git operations, possibly other background processes that would block the UI. This is occurring when using the WSL Bridge in WSL1 regardless of editing in the WSL

[2020-04-20 14:55] isidorn commented on #95573
@Tyriar great catch for editor hover actions.

[2020-04-20 14:56] isidorn commented on #95697
@Tyriar Why not just right click on the folder > context menu > Find in Folder? That is what I do.

I would not change this only for the explorer as all Tree should behave the same in our Workbench and be consistent. Thus also assigning @joaomoreno

[2020-04-20 14:58] ankostis commented on #40233
@DanTup that's a rather significant drawback.

- You can't share your local settings with a colleague (e.g. email);
- nor can you easily duplicate settings for sibling projects (you need UI for that, or delicate json-editing).
- You can't have certain local-settings applying to certain projects, maitained by symlinks, that pick-up any changes implicitly.
- You can't script project+settings creatio

[2020-04-20 14:58] NightMachinary commented on #38972
Dup of https://github.com/microsoft/vscode/issues/91473 ?

[2020-04-20 15:00] mjbvz commented on #95685
Please share the text of the code along with screenshots

[2020-04-20 15:01] yaroslavert opened #95709 "Don't work jsx autocomplete"
I created new project used expo.
But jsx attribute autocomplete does not work.
![image](https://user-images.githubusercontent.com/19486652/79766566-d006d900-8330-11ea-8f70-45320127eac5.png)

[2020-04-20 15:01] JacobDB commented on #90611
Seeing the exact same thing with symlinks in WSL, super annoying. Glad I found this, though so I can at least work around it. Whipped up a script that mitigates the issue for the time being...

[code]

Obviously change the path to whatever your path to `code` is.

[2020-04-20 15:06] misolori commented on #95585
Thanks for the suggestion, but we're not tracking file icon requests and will close this. See https://github.com/microsoft/vscode/issues/60699#issuecomment-429208011 for details.

[2020-04-20 15:06] #95585 closed

[2020-04-20 15:06] megametres commented on #95652
Maybe a locale issue...?
Here are mine:
$ locale
LANG=fr_CA.UTF-8
LANGUAGE=fr
LC_CTYPE="fr_CA.UTF-8"
LC_NUMERIC="fr_CA.UTF-8"
LC_TIME="fr_CA.UTF-8"
LC_COLLATE="fr_CA.UTF-8"
LC_MONETARY="fr_CA.UTF-8"
LC_MESSAGES="fr_CA.UTF-8"
LC_PAPER="fr_CA.UTF-8"
LC_NAME="fr_CA.UTF-8"
LC_ADDRESS="fr_CA.UTF-8"
LC_TELEPHONE="fr_CA.UTF-8"
LC_MEASUREMENT="fr_CA.UTF-8"
LC_IDENTIFICATION="fr_CA.UTF-8"
LC_ALL=

[2020-04-20 15:10] Javohir-code opened #95710 "argument is undefined or null"
Issue Type: <b>Performance Issue</b>

I deleted monokai++ extension and when I try to open any ... .js or .json file. vscode says: Assertion failed: Argument is undefined or null. Even I could not open settings. nothing worked. I reinstall it but nothing changed. Please help. Thank you in advance.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS

[2020-04-20 15:12] chrmarti commented on #95699
/needsMoreInfo

Does this occur with all extensions disabled? (`F1` > `Developer: Reload With Extensions Disabled` or `code --disable-extensions`)

[2020-04-20 15:12] leventt opened #95711 "You just crashed my graphics driver with a live update."
Issue Type: <b>Bug</b>

Please don't update this editor while I code and let it wait for a restart.
Cheers!

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

[2020-04-20 15:13] ambroselittle commented on #95534
This only happens when Code is running and finds that it needs an update. Then it shows the dialog for the VS Code Install Helper Tool, and it's that dialog, if left open, that seems to cause the spike. This is not during normal usage. It's part of the update process.

I just loaded with no extensions, but unless I wait until an update is released like that, it won't verify the behavior. Since thi

[2020-04-20 15:17] #95709 closed

[2020-04-20 15:17] webczat commented on #95682
well for me it/s all the same, would prefer shortcuts like ctrl+b to just jump to open editor. one tab more, one tab less... I would say this should be something left to discretion of the user.
Note I am likely one of the least strict people when it goes to accessibility. In circumstances some people would find something inaccessible, for me it's enough that I can use something, and then if I some

[2020-04-20 15:18] deepak1556 commented on #95689
Thanks @isidorn

[2020-04-20 15:19] chrmarti commented on #95708
/needsMoreInfo

Which OS and which VS Code version are you on?

Does this occur with all extensions disabled? (`F1` > `Developer: Reload With Extensions Disabled` or `code --disable-extensions`)

[2020-04-20 15:22] chrmarti commented on #95526
/causedByExtension

This appears to be caused by the MS SQL extension, please file an issue for that: https://github.com/Microsoft/vscode-mssql/issues

[2020-04-20 15:22] #95526 closed

[2020-04-20 15:23] Adamantica commented on #12622
I don't agree on this one, because when pinning tabs on a browser you at least get the favicon. There is no equivalent of a favicon for files. Still an option could be nice.

Not really how I want it to work, as I'd like exactly the same functionality as in the real Visual Studio, which always shows the pin icon. I agree that the circle could be changed to a pushpin icon. The option could be avail

[2020-04-20 15:26] chrmarti commented on #95710
Did you delete the extension using the UI or directly on disk?

Is there anything in the console? (`Help` > `Toggle Developer Tools`)

[2020-04-20 15:28] tomprogers commented on #95606
This is embarrassing, but after a reboot, the problem seems to have remedied itself. Having read the linked wiki article, I suspect the problem may have been triggered by a lot of zooming I was doing for screenshotting purposes.

If you still want my settings and terminal logs, let me know. Otherwise, I think you can close this one.

[2020-04-20 15:30] #95695 closed

[2020-04-20 15:30] AndrewDavis commented on #12622
That's great, hopefully that will influence them to add it in.

Again I don't really need the favicon as I'm only pinning maybe 1-4 tabs and I know exactly what they are. But I understand the other use case.

[2020-04-20 15:32] sbatten commented on #95704
last milestone @misolori  and I saw this differentiation and assumed it was intentional that all sidebar dropdowns do not honor the theme color. this meant that if you drag terminal or output to the sidebar (in their own viewlet), they will also skip using the theme color for dropdown

[2020-04-20 15:34] dzienisz commented on #95696
<img width="641" alt="Zrzut ekranu 2020-04-20 o 17 31 50" src="https://user-images.githubusercontent.com/3521624/79770044-2b36cc80-832d-11ea-8f61-e4ea4cf6dc8c.png">

[2020-04-20 15:35] usernamehw commented on #38972
/duplicate of #91473

[2020-04-20 15:35] joaomoreno commented on #95674
Open `C:\Users\USER\AppData\Local\Programs\Microsoft VS Code Insiders\resources\app\product.json` and change the value of `commit` to `update`.

[2020-04-20 15:36] #38972 closed

[2020-04-20 15:36] joaomoreno commented on #95711
Can you show me the error? What happened?

[2020-04-20 15:37] joaomoreno commented on #95711
Also, if you don't want updates in the background, set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-20 15:37] deepak1556 commented on #95675
Thanks for the details, this is duplicate of https://github.com/microsoft/vscode/issues/88491. You can use the workaround mentioned in https://github.com/microsoft/vscode/issues/88491#issuecomment-600288632 scoped to the vscode application rather than turning off hdr.

[2020-04-20 15:37] #95675 closed

[2020-04-20 15:37] #95696 closed

[2020-04-20 15:39] Javohir-code commented on #95710
In the console git installation not found as warning . That's it. But does not work yet

[2020-04-20 15:42] Tyriar commented on #91290
Unknown: How do link providers conflicts resolve? If you have GitLens and GitHub PR installed and click on a commit, who wins? Should we show both in the hover in this case and ctrl+click lets you select the default?

[2020-04-20 15:50] Adamantica commented on #12622
Yeah, this was long term intention. In the short term I am content with running the extra code once per day.

[2020-04-20 15:50] elementyang commented on #95676
yes, ctrl+Right shows navigate. Maybe vscode don't find godef.

[2020-04-20 15:56] gillyhl commented on #95632
The `--verbose` output is similar for the insider's build
[code]

[2020-04-20 15:57] jmbockhorst commented on #91290
Yeah, I think it should be left up to the user. Showing both providers on the hover popup could work well. Ctrl+click without a default set would force the user to use the popup and choose one. Maybe also a dialog when they click a default for the first time, something like: "Do you want to make this the default link handler for this type of link?". And also there should be a way to change/reset t

[2020-04-20 15:58] isidorn commented on #95704
I am opening this for a PR.
Code pointer https://github.com/microsoft/vscode/blob/95f26d2005ea0633aa48832d11e1f37068c4dcdb/src/vs/workbench/contrib/debug/browser/debugActionViewItems.ts#L53

The debug select box should listen to style changes and also style the background of the Green Play button.

[2020-04-20 16:00] weinand commented on #95598
A configurable process picker is an excellent extension opportunity.

[2020-04-20 16:01] #95598 closed

[2020-04-20 16:04] DJackman123 commented on #95695
You could at least indicate which issue this is a duplicate of.

[2020-04-20 16:04] konradjurk commented on #12622
@Adamantica Does it expose the following actions that I could bind to a keyboard shortcut?
* pin current tab
* close all un-pinned tabs

[2020-04-20 16:06] ThrowawayAccount-lang commented on #93120
So, the issue is back. Not sure if that is related, but I installed Discord, Eclipse and AnyDesk (all programs I had before). I haven't installed NordVPN yet, so that is not the issue

[2020-04-20 16:06] isidorn commented on #95693
@jhomme I believe you meant Ctrl + Shift + X to open the extensions viewlet, correct?

@sandy081 I believe the issue is that in the extensions view we use `alert` too much. [Code pointer](https://github.com/microsoft/vscode/blob/95f26d2005ea0633aa48832d11e1f37068c4dcdb/src/vs/workbench/contrib/extensions/browser/extensionsViewlet.ts#L549)
To be honest I think most of those alerts are not that usef

[2020-04-20 16:10] sharkweek commented on #95315
+1

Version: 1.45.0-insider (user setup)
Commit: ec0d19789f89d4c25895f4a0cf364276cfb0c6ed
Date: 2020-04-20T06:08:30.812Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.14393

[2020-04-20 16:17] Adamantica commented on #12622
@konradjurk
Not yet, but this is a really easy to add. Might be able to do it even today.

What should the keyboard shortcuts be and what shortcuts do other programs use?

[2020-04-20 16:29] konradjurk commented on #12622
@Adamantica Cool! :)

I'm familiar with the "Command Palette" concept in Atom and from a first glance, VS Code seems to implement something similar: https://code.visualstudio.com/api/extension-guides/command You could expose the actions of your extension to the command palette which allows people to bind them to their preferred shortcut or UI button.

I'm personally used to Cmd+Shift+p for pinning

[2020-04-20 16:32] Javohir-code commented on #95710
Thanks, it works again. I deleted visual studio code from computer but extensions and settings are not removed. Before this I couldn't open settings.json to fix the null. After I remove the vscode, it opens another thing then I fix the problem with changing the null. Thank you

[2020-04-20 16:34] Adamantica commented on #12622
@konradjurk
Sorry, I misread "close all un-pinned tabs" for something else. This can not be implemented without actually coding HardPin in to VS Code. But, a keyboard shortcut for "pin current tab" is possible.

HardPin is not really integrated with VS Code at a deeper level and can thus not register commands, it is meant to be a temporary solution. However, hard coding the pinning keyboard shortc

[2020-04-20 16:41] jrieken commented on #95706
That's already how it works. When saving a file that has no changes (has just been saved) we still invoke save participants, like format-on-save, and when those participants have changes we save them or stop.

[2020-04-20 16:42] jrieken commented on #95706
Adding @bpasero for more background on explict-save and save-after-delay but I believe nothing is missing here

[2020-04-20 16:48] weinand commented on #88230
After experimenting with @connor4312's suggestion to split the `DebugConfigurationProvider` into a `DebugConfigurationProviderSimple` and a `DebugConfigurationResolver`, I've come to the conclusion that the benefit is not worth the effort: with the split the important (new) abstraction gets the ugly name `DebugConfigurationProviderSimple` whereas the obsolete abstraction keeps the nice name `Debug

[2020-04-20 16:53] eliashdezr commented on #12622
@Adamantica awesome contribution right there!

Question, would be possible to separate in a top row the pinned tabs?

![image](https://user-images.githubusercontent.com/6153607/79777852-7cc76300-82fd-11ea-8e30-5e060057107e.png)

[2020-04-20 17:00] Tyriar commented on #91290
I like this idea:

[code]

That way you can action it both ways, change the click behavior right in the hover. I guess behind the scenes we'd just track the decision that extension A beats out extension B.

[2020-04-20 17:03] Tyriar commented on #95570
Idea: Show the hover while navigating the link with the keyboard so you can still see what will happen:

![image](https://user-images.githubusercontent.com/2193314/79778845-3c141d80-82ee-11ea-8408-51fa87f3eaae.png)

[2020-04-20 17:14] misolori commented on #95697
I'm confused by this, given the issue is about doing the opposite. I'm also of the mind that if you're searching for something why not use the Search viewlet w/ find in folder?

[2020-04-20 17:14] RMacfarlane opened #95714 "Constants are still colored differently with semantic highlighting off"
Issue Type: <b>Bug</b>

1. Turn off the `editor.semanticHighlighting` setting
2. View file with some constants in it:
<img width="687" alt="Screen Shot 2020-04-20 at 10 08 42 AM" src="https://user-images.githubusercontent.com/3672607/79779384-2f43f980-82ef-11ea-9251-747a8efd17f9.png">

I expected these to be blue as they are in stable.

VS Code version: Code - Insiders 1.45.0-insider (ec0d19789f89

[2020-04-20 17:17] misolori commented on #93916
Related to this is how our list focus/active selection can be confusing:

![image](https://user-images.githubusercontent.com/35271042/79770090-cc983100-82e1-11ea-9937-396e17770186.png)

![image](https://user-images.githubusercontent.com/35271042/79779898-f9534500-82ef-11ea-8523-31d0faa3ab18.png)

![image](https://user-images.githubusercontent.com/35271042/79779935-06703400-82f0-11ea-8e57-ce6e251ff

[2020-04-20 17:27] joanmarie commented on #94962
@isidorn Actually the issue seems to be that Orca is preferring the text of the link rather than the accessible name. More often than not, when a link has text it's name coincides. But that's not necessarily the case. Anyhoo, this is an Orca issue. Will see what I can do. Thanks!

[2020-04-20 17:32] usernamehw commented on #95312
I don't think this issue has any importance but searching for `❌` returns no results.

[2020-04-20 17:33] megametres commented on #95652
I tought it was specified in the system info, I have ubuntu 19.10

[2020-04-20 17:34] bpasero commented on #95312
Can you still report it?

[2020-04-20 17:35] usernamehw commented on #95312
In a separate issue?

[2020-04-20 17:35] misolori commented on #93764
Let's try this out and see what people think. I also now show the border in the first view (previously was hidden) since it looked really odd to not have the top border.

## Dark

![image](https://user-images.githubusercontent.com/35271042/79781619-93b48800-82f2-11ea-8915-ff451e83dbbb.png)

## Light
![image](https://user-images.githubusercontent.com/35271042/79781629-9a42ff80-82f2-11ea-9be2-122e8a

[2020-04-20 17:36] bpasero commented on #95632
@gillyhl it looks like on your system VSCode cannot create a user data dir. This is required though, is this a permission problem?

I do not think VSCode can solve this. Closing as such.

[2020-04-20 17:36] #95632 closed

[2020-04-20 17:36] DanTup opened #95715 "vscode.executeCompletionItemProvider returns the wrong CompletionItemKinds in insiders"
The current insiders build is returning the wrong CompletionItemKinds for methods (it's returning property).

Repro steps:

1. Create a new extension with `yo code`
2. Paste in the following code which returns two completion items, one Property and one Method:
[code]
3. Press F5 to run the extension
4. Open the Dev Tools
5. Run the "Hello World" command

The output looks like this:

[code]

[2020-04-20 17:36] bpasero commented on #95312
Well, let's leave this one to verify that the highlights are OK.

[2020-04-20 17:38] usernamehw opened #95716 "Some emoji not matched using new Quick Pick"
Issue Type: <b>Bug</b>

Having a markdown file with headers:

[code]

Searching for symbol `@❌` - returns no results
VS Code version: Code - Insiders 1.45.0-insider (ec0d19789f89d4c25895f4a0cf364276cfb0c6ed, 2020-04-20T06:08:30.812Z)
OS version: Windows_NT x64 6.2.9200

[2020-04-20 17:39] usernamehw commented on #95312
#95716

[2020-04-20 17:41] misolori commented on #27716
Another alternative, hold down option (or some other key) and we hide the keybinding and show a blue "Set/Change Keybinding"? Less discoverable but also doesn't clutter up the UI. We do this in other place like closing multiple tabs.

[2020-04-20 17:42] eamodio commented on #93764
I like it better than now, but IMHO the borders are too strong.

[2020-04-20 17:42] tjanga commented on #93973
I installed the latest update available (not sure if it's Tuesday's):

Version: 1.45.0-insider (system setup)
Commit: ec0d19789f89d4c25895f4a0cf364276cfb0c6ed
Date: 2020-04-20T06:08:30.812Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

And I still observe this behavior. If that's not the right version, could you kindly point me to wh

[2020-04-20 17:43] BlackWild commented on #95706
It's true, and I currently use this functionality in the workaround I explained.

But what I am looking for is to be able to manually save a file without formatting, as well as formatting and saving an already saved file more conveniently. This is possible now by saving a file (`ctrl+s`) and then formatting the file (`shift+alt+f`) followed by another saving. However, since hitting `ctrl+s` on an

[2020-04-20 17:44] misolori commented on #94188
I agree, I would not consider this a "no results" pick. I wonder if we can detect when there are options and then decide when we announce this.

[2020-04-20 17:49] cmdoptesc commented on #95489
`CTRL + ALT + CMD + L` doesn't work for me, either.

On VS Code 1.44.2, steps to repro:
- open Keyboard Shortcuts (⌘K ⌘S)
- click "Record Keys"
- try to enter `CTRL + OPT/ALT + CMD + L` (⌃ + ⌥ + ⌘ + l) and notice that it won't register

⌃ + ⌥ + ⌘ + any other letter works, though

[2020-04-20 17:51] eamodio commented on #95646
I checked and code lens render properly with umlauts. This must be an issue with GitLens.

[2020-04-20 17:51] #95646 closed

[2020-04-20 17:57] leopoldliao commented on #11723
I am not sure we can achieve it by the way like minimize outlook to tray.

[2020-04-20 17:58] Menelion commented on #95225
Hi @isidorn and thanks for this, it's greatly appreciated!
for me the main issues with JAWS are:

1. As the editor is a forms-mode environment, JAWS does not speak indentation there even if turned on.
2. Even if it did speak the indentation in editors, it would not differ between editor and non-editor parts of VS Code. I.e., when in the trees or even in virtual cursor mode, you'll hear superfluous

[2020-04-20 18:00] DanTup commented on #95715
@jrieken not sure if this may be related to ab24124841766a6f7ab993a3ad83ed8c436366a7 - there seem to be a few paths that use `Property` as a fallback, but I'm not sure why it's getting to that.

[2020-04-20 18:07] Tyriar commented on #93916
What if multi-select leveraged the same border style I'm proposed, making it a more common paradigm to have a "higher priority" focus indicator to clear up ambiguities like this.

Shift+click:

![image](https://user-images.githubusercontent.com/2193314/79784379-ff005900-82f6-11ea-94d0-de1da176037f.png)

Ctrl+click:

![image](https://user-images.githubusercontent.com/2193314/79784320-eb54f280-82f6-

[2020-04-20 18:15] Tyriar commented on #95697
To avoid using my mouse, it's faster to hit alt+shift+f and start typing then to locate and click find in folder.

Typically when I click expanded folders I'm working on them and do not want them collapsed.
Typically when I click collapsed folders I'm about to start working on them so I want them expanded.

---

I almost have a workaround for my problem by right clicking and then left clicking the

[2020-04-20 18:16] joanmarie commented on #94962
@jvesouza: Please pull Orca master and re-test. Thanks!

[2020-04-20 18:19] DanielRosenwasser commented on #82844
Is this related to #88178?

[2020-04-20 18:24] mjbvz commented on #95679
Duplicate of https://github.com/microsoft/TypeScript/issues/37653

[2020-04-20 18:24] #95679 closed

[2020-04-20 18:26] mjbvz commented on #95630
That's the cause. If strict null checks are disabled, TS does will not consider that `foo` can be `undefined`.

[2020-04-20 18:26] #95630 closed

[2020-04-20 18:27] Adamantica commented on #12622
@konradjurk
I implemented the tab pinning with keyboard shortcut Ctrl + Alt + P.

@eliashdezr
I just implemented the separate row. See https://hard-pin.adamantica.com/getting-started/index.html for instructions.

[2020-04-20 18:28] leventt commented on #95711
That setting will work perfectly. You can close this. For the error, I don't have any unfortunately. When the live update was triggered, my screen went white then the buffer had some misalignment in GPU it looked like. It was all glitchy, until I restarted.

Cheers!

[2020-04-20 18:28] #95711 closed

[2020-04-20 18:29] ferrantejake opened #95718 "TS Server fatal error: Cannot read property 'languageServiceRefCount' of undefined"
We have written the needed data into your clipboar
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.45.0-insider (a3083e58e2a9e77f60e531acaa32e18527ae8439, 2020-04-17T08:09:47.238Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2020-04-20 18:31] mjbvz commented on #95589
Adding @rebornix for the file search issue

[2020-04-20 18:33] thejoao94 opened #95719 "Save button doesn't work"
I have to constantly close my VS Code and close my html file and create a new one to save any changes I have made to the file. If I try and save the file manually the Save - Ctrl + S function on the file toolbar doesn't fade away like it's supposed to after you save the changes you've made.

[2020-04-20 18:33] mjbvz commented on #95589
@seahindeniz I'm having trouble reproducing the typescript error. What exactly do you mean by `Paste 59972 of |(vertical line) character`. Is that pasting `59972` copies of `|` into the document?

[2020-04-20 18:34] altogua opened #95720 "Does not display folders"
Hemos escrito los datos necesarios en su Portapapeles porque eran demasiado grandes para enviarlos. Ahora debe pegarlos.
hoLA,en Visual studio version :1.43.2,  no me carga las carpetas, no las visualiza. Solo visualiza los archivos

[2020-04-20 18:36] altogua commented on #95720
Hello, in Visual studio version: 1.43.2, it does not load the folders, it does not display them. Just view the files

[2020-04-20 18:37] seahindeniz commented on #95589
Ah, yess @mjbvz sorry. ~59972 copies of `|` character

[2020-04-20 18:38] lukboegit commented on #95685
var lastInput;
var position =0;
var ftext = [ "Und", "dann", "eines"];
var opacityTitle=1;

document.addEventListener("keydown", function(event) {
 if (event.which >= 32 && event.which <= 122 && event.which != lastInput) {
    lastInput = event.which;
     advance();
 }
else if (event.which == 8) {
    lastInput = event.which;
    strikeOut();
}
});

document.addEventListener("keydown", function(e

[2020-04-20 18:43] mjbvz commented on #95589
Thanks. I'm going to mark that as won't fix. TypeScript is parsing those as a number of logical expressions. The parsing/anaylysis on this super long expression will  eventually hit the max call stack. However in real world code, you are very unlikely to ever hit this issue

[2020-04-20 18:46] mjbvz commented on #95678
Are you sure those errors only happen when you start a webview? What if you try other extension functionality, such as intellisense?

Also, that error about `.sock` can often be fixed by fully quitting and restarting VS Code. Have you tried doing that?

[2020-04-20 18:47] seahindeniz commented on #95589
Yeah, I agree and it was only for testing the second problem that I have faced and added as additional in to the description. I wouldn't even trouble to paste copies of | character but here I am :slightly_smiling_face:

[2020-04-20 18:47] VitamintK commented on #91314
pls upvote

[2020-04-20 18:49] jepetty commented on #95568
I'll close this as I've discovered a solution to my problem.

It seems you can filter commands with `resource =~ /src[...]/` or `resource =~ /folderRoot/src[...]`, which allows you to determine which workspace root the resource originates from

[2020-04-20 18:49] #95568 closed

[2020-04-20 18:49] mjbvz commented on #95603
Please share the text of the code along with screenshots

[2020-04-20 18:50] Rakleed opened #95722 "When the dark theme is on, some pop-ups remain white"
- VSCode Version: 1.44.2
- OS Version: Windows 10 v. 1909 (18363.778 build)

Steps to Reproduce:

1. Make sure that the Default Dark+ theme on VS Code are enabled.
2. Press "Help" and select "Check for Updates..." or "About". Or try opening the GitHub link from Release Notes.

Does this issue occur when all extensions are disabled?: Yes

<details>
<summary>Screenshots</summary>

![image](https://u

[2020-04-20 18:52] mjbvz commented on #65258
Actually considering this only has 3 upvotes since December 2018, let's wait to see if there is enough interest in it from the community. I don't think it would be all that trivial to get right

[2020-04-20 18:53] mjbvz commented on #95362
@alesmenzel It looks like your installation is corrupted since the `Search` process and all your language servers are crashing. Have you tried reinstalling VS Code?

[2020-04-20 18:54] electrovir commented on #24916
Is this dead? :( Reviewing commits that touch many files in VS Code is a very slow experience right now...

[2020-04-20 18:57] ronakg commented on #44075
Any update on this issue? I don't want to use the extension mentioned above because all my formatting is set up via their respective language servers. This is a very valid use-case that needs addressing.

[2020-04-20 19:00] RandomFractals commented on #89038
@misha retry launching is an interesting solution.

I still find both as more of a band-aid workarounds & not very appealing.

@mjbvz are you guys looking to patch this in the next release?

I believe it affects most web view extensions that are beyond a simple web page.

[2020-04-20 19:00] rebornix commented on #94408
@mjbvz adopted the gear icon in the quick pick, which will set editor association. It's safe to deprecate the "View: Reopen with..." command from Custom Editor now.

[2020-04-20 19:21] chrmarti commented on #95427
Proxies are sometimes used in corporate setups. Search for 'proxy' in Chrome's settings and follow its link to check if you have a proxy configured in the OS.

[2020-04-20 19:23] djsall commented on #85862
For me it is still the same. Also, SQL highlighting inside php files can be funky too:
![image](https://user-images.githubusercontent.com/4785203/79791189-33066900-834d-11ea-8d8f-e8237ef4e207.png)

[2020-04-20 19:26] joanmarie commented on #93438
@jvesouza: The whereAmI punctuation verbalization should hopefully be fixed in Orca master.

[2020-04-20 19:32] mjbvz commented on #95685
Thanks.

The line `var ftext = [ "Und", "dann", "eines"];` include an invisible character: http://www.fileformat.info/info/unicode/char/2029/index.htm

This causes both the highlighting and error detection to have issues.

@alexdima Adding you to see if we want to render this character (it also does not show up with `editor.renderControlCharacters` enabled)

[2020-04-20 19:32] gjsjohnmurray commented on #93973
That is Monday's (see the date). Look for it updating tomorrow (Tuesday).

[2020-04-20 19:33] doctor-mostafa79 commented on #95071
The same issue happened when I tried to install flutter extension on VS code?!
Any help.
![Screenshot_74](https://user-images.githubusercontent.com/15583026/79792027-875e1880-834e-11ea-815e-a6dc7ede76b4.png)

[2020-04-20 19:33] MirkSerain commented on #95346
I also thought this was a bug when I saw it.  I agree with @IllusionMH, my JS team also uses const for everything and now I have a lot of white text in my dark theme.  It just feels like part of the highlighting isn't working or that the variable i'm using doesn't exist.

[2020-04-20 19:44] gillyhl commented on #95632
Oh I've realised what I've done (being an absolute idiot) was writing Kustomize plugins and was setting 'XDG_CONFIG_HOME' env var which was playing havoc with loading Code.

Sorry for the raising the non issue, and thanks for looking at it!

[2020-04-20 19:46] gjsjohnmurray commented on #95718
/duplicate of #94498

[2020-04-20 19:46] #95718 closed

[2020-04-20 19:50] futurelucas4502 opened #95723 "VS Code doesn't recognise selected Index as a property"
From VS code > Help > About:
- VS Version: 1.44.2 (user setup)
- Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
- Date: 2020-04-16T16:36:23.138Z
- Electron: 7.1.11
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Adding .selectedIndex() and hovering over for emmet suggestion results in "any" instead of the property and

[2020-04-20 19:52] Tyriar commented on #95561
@sbatten I can only repro this when I collapse a pane above the terminal like in the gif. It seems like it's related to bad layout dimensions coming through but it seems to only happen in the terminal so it's probably on my end.

[2020-04-20 19:55] gpetrov commented on #95686
Further investigation showed that this happens only when the editor was not visible yet. So the sizes can't be calculated.

That might be the reason for slow startup as the code loops till if finally sees the editor active.

Not a very reliable loop, if you ask me, that can loop for ever ... more checks need to be added.

[2020-04-20 20:01] heejaechang commented on #95485
I see. probably due to "https://github.com/microsoft/vscode-languageserver-node/issues/615" not returning error but return item.

it just got fixed, so that might be the root cause then.

[2020-04-20 20:11] colinfang commented on #95603
The following is the code for the first scrrenshot

[code]
- Foo
[code]
[code]

[2020-04-20 20:15] newportm commented on #869
With not being able to do this yet. Is there a way to read a separate file hosting the json objects to exclude? I hate to clutter up my workspace with 900 different folders I want to exclude. I mean it works but its annoying :-)

[2020-04-20 20:19] doberkofler commented on #95624
@mjbvz I've installed the latest insider build without any extensions and have the same (wrong) results.

I have also double checked if some other changes in my environment might cause this problem, but have not found anything.

The only additional clues is as follows:
It seems af if errors related to and and null type mismatches would not been reported and when inspecting the types in VS Code, th

[2020-04-20 20:19] Rakleed commented on #95190
I can also reproduce this if my VS Code was opened in full screen mode, then closed, and opened again.

[2020-04-20 20:19] StephenWeatherford opened #95724 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

error occurred during merge

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.45.0-insider (a3083e58e2a9e77f60e531acaa32e18527ae8439, 2020-04-17T08:08:39.508Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4870H

[2020-04-20 20:25] mjbvz commented on #95624
Does your `tsconfig` use strict null checks?

Where is path of tsconfig and what is the path of the example TS file? I bet VS Code is not including the file in the tsconfig project

[2020-04-20 20:37] octref commented on #92833
The issue was caused by a bad CSS rule for `hr`, which makes it 100vw. I changed it to 100%.
The hover widget already "shrink to fit" the inner content.

[2020-04-20 20:37] #92833 closed

[2020-04-20 20:42] xiaoouwang opened #95725 "commands work in terminal but not in integrated terminal Catalina"
- VSCode Version: Version: 1.44.2
- OS Version: Darwin x64 19.4.0. Catalina 10.15.4

Steps to Reproduce:

The following command works in terminal or iterm:

`sendpraat praat 'execute "test.praat"'
`

however if you use it in the integrated terminal neither works, nothing happens.

I suspect it had something to do with the Catalina's new privacy system because when I use the command in terminal it

[2020-04-20 20:43] doberkofler commented on #95624
Thank you for your help!

Yes, I use strict null checks in my tsconfig.

I'm not sure I understand your question and my environment is a bit complicated but I try to explain as good as possible.

I use 2 separate configuration files. One for the frontend code `./tsconfig.json` and one for the Node.js based selenium tests `tsconfig.selenium.json`  and both files include a base configuration file `.

[2020-04-20 20:45] doberkofler commented on #95624
I forgot to add that when checking my sources manually from the terminal I use the following command: `npx tsc --noEmit --project ./tsconfig.json && tsc --noEmit --project ./tsconfig.selenium.json`

[2020-04-20 20:49] sean-mcmanus opened #95726 "Copy Call Stack doesn't work when frames are all "Unknown Source""
- VSCode Version: 1.45.0-insiders
- OS Version: Windows

Steps to Reproduce:

1. Copy Call Stack right click open doesn't work when I use the debugger to attach in a way that the call stack frames are all "Unknown Source", such as via using the C/C++ extension, and attaching to a process such as cpptools using a launch.json such as
[code]

The copy works if a frame has source available. The scenar

[2020-04-20 20:52] beastdestroyer commented on #95722
Those are windows 10 dialog boxes that VSCode uses, doubt that Microsoft has a dark theme version of those inbuilt into the OS

[2020-04-20 20:56] IllusionMH commented on #95714
Duplicate of https://github.com/microsoft/vscode/issues/95346

[2020-04-20 21:05] IllusionMH commented on #95692
IIRC by default single line selection will be used as search value and if you have search in selection for single line enabled you will search for same value as in selection which won't pruduce results you want.

[2020-04-20 21:19] #94005 closed

[2020-04-20 21:24] frouo commented on #94931
Thanks @xandi, removing `"editor.quickSuggestions": null` in `settings.json` brings vscode back to normal.

[Settings file locations](https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations)

[2020-04-20 21:25] RMacfarlane commented on #95701
@jaredready Can you try using the most recent insider's version?

[2020-04-20 21:27] jvesouza commented on #93438
@joanmarie It's great. Thanks.

[2020-04-20 21:30] RMacfarlane commented on #94075
Duplicate of https://github.com/microsoft/vscode/issues/94766, sort of. With that item we have changed the "Sign in to Microsoft" entry to "Turn on Preferences Sync"

[2020-04-20 21:30] #94075 closed

[2020-04-20 21:31] kaba2 commented on #95692
That sounds reasonable. However, there are two types "lines"; I wasn't clear. The first type of line is everything between two end-of-lines characters, call it a logical line. The second type of line is when a long logical line word-wraps into multiple editor lines. Such long logical lines are natural when writing, say, papers in Latex; I use a single logical line to correspond to a single paragra

[2020-04-20 21:31] jaredready commented on #95701
I tested it on commit ec0d19789f89d4c25895f4a0cf364276cfb0c6ed and experienced the same issue

[2020-04-20 21:32] RMacfarlane commented on #95701
What's in the output panel for "Account"?

[2020-04-20 21:35] rebornix commented on #95560
@mjbvz  inlining the script is actually the right fix. Bundling loader.js with `main.js` doesn't fix the issue as the webview content is in the inner iframe, which will not have access to the loader script.

[2020-04-20 21:54] Iipal commented on #95688
@joaomoreno
[git.log](https://github.com/microsoft/vscode/files/4506408/git.log)

[2020-04-20 21:56] jepetty opened #95727 "Dynamically setting command filter context does not work"
- VSCode Version: 1.45.0-insiders
- OS Version: Windows 10 19041.207

## Problem description

I'm trying to create an extension that will display a command only on certain files, based on a filter I set after my extension has loaded. My package.json for my custom command looks like this:
[code]

Then, once my extension loads, I set the value of my filter `myExtension:myFilter` with:
[code]
But, de

[2020-04-20 21:58] jvesouza commented on #94962
@joanmarie There are still some small differences in the presentation, but to be honest, that's not a problem, at least for me. The main objective of this issue was to be able to click on the items present in the status bar, and this was already possible without difficulty.

It was great for me. Thank you all.

[2020-04-20 22:11] jvesouza commented on #95693
When I type in a pattern to look for an extension, I hear the number of extensions found and the message occurs N times.
The information regarding the number of extensions found is very useful and should be preserved if possible.

[2020-04-20 22:22] ses4j commented on #25925
Is it possible to write an extension to replace the file search provider?  I agree with many previous commenters that Sublime's gets it right so much more often than VS Code's... i really miss it.  One piece of the algorithm that I think is sorely missing is that a search like `hw` should match `hello_world.py` better than it matches `howto.py`, by recognizing that underscores (or camelcase, etc)

[2020-04-20 22:23] mjbvz commented on #95728
Actually this is an issue with the Docker grammar itself so moving back to VS Code.

The docker grammar uses `^` in all of its rules to match the start of a line. This will not work in indented lists because of the leading whitespace. Instead the grammar should likely use: `(^|\G)` which matches the start of the line or the end of the previous match

Adding @alexr00 and @chrisdias for this

[2020-04-20 22:24] sbatten commented on #95719
i'm not quite sure I understand. are you saying the dirty indicator doesn't disappear after saving? perhaps you could provide a gif or screenshot of what you are seeing.

[2020-04-20 22:24] #95723 closed

[2020-04-20 22:25] mjbvz commented on #95723
See https://stackoverflow.com/a/53798013/306149

[2020-04-20 22:25] sbatten commented on #95720
@altogua can you provide a screenshot/gif of what you see?

[2020-04-20 22:29] mjbvz commented on #95515
Try testing in insiders with extensions disabled

[2020-04-20 22:30] sbatten commented on #95722
as @beastdestroyer says, these are just native os dialog message boxes and are not themable.

[2020-04-20 22:30] #95722 closed

[2020-04-20 22:32] jvesouza commented on #95682
How wonderful, I didn't know it was possible to disable this option.
I disabled it here and I think navigation is better.
To navigate between the various open editors we can use ctrl + pageDown and ctrl + pageUp.

[2020-04-20 22:32] futurelucas4502 commented on #95723
That is a different issue where it's not appearing as they have not set it as a constant or variable this is not a question but a bug report where it isn't appearing at all for example if I was to then change it to what you have linked me to where I set the element as a variable:
![image](https://user-images.githubusercontent.com/48055553/79805958-3a367280-835f-11ea-80d0-cc2ffe345837.png)
It still

[2020-04-20 22:35] ArturoDent commented on #95723
Try

`/** @type {HTMLSelectElement} */`
`var selected = document.getElementById("...")`
`selected.selectedIndex`  // hover now

[2020-04-20 22:36] futurelucas4502 commented on #95723
Why is that not default behavior? @ArturoDent

[2020-04-20 22:37] mjbvz commented on #95723
Because there's no way for VS Code to know the type html element `getElementById` will return. You need to annotate that if you are accessing a property that only exists on specific elements such as `<select>`

Showing `selectedIndex` by default would be misleading

[2020-04-20 22:38] mjbvz commented on #95685
Opened https://github.com/microsoft/TypeScript/issues/38078 for the TS issue

[2020-04-20 22:39] sean-mcmanus opened #95729 "Extension registered schema providers random fail to get invoked"
- VSCode Version: 1.45.0-insiders (repros with non-insiders too)
- OS Version: Windows

Steps to Reproduce:

1. Install the C/C++ extension (may repro with other extensions). Our extension uses

[code]
2. Create a blank test.cpp file (to activate our C/C++ extension).
3. Use the C/C++: Edit Configuration (JSON) command to create a new c_cpp_properties.json.
4. Keep using reload window until the bu

[2020-04-20 22:40] mjbvz commented on #92846
This change will need to be made in the HTML extension

Here's where we configure TypeScript for the html extension:

https://github.com/microsoft/vscode/blob/8f08c2ffa75e9ca53ac8ef67ff023feeb94fe5fc/extensions/html-language-features/server/src/modes/javascriptMode.ts#L32

You should:

- Pass the value for `experimentalDecorators` in with the initial configuration
- Make sure that the language ser

[2020-04-20 22:45] jvesouza commented on #95682
It seems that when we disable the option workbench.editor.showTabs, orca stops announcing the file name when using ctrl + pageUp / Down or alt + n.
To reproduce you need to include the following line in the settings.json:
"workbench.editor.showTabs": true,

Would I be better off reporting this in another issue?

[2020-04-20 22:45] mjbvz commented on #95624
Thanks for the details.

This is the expected behavior for your setup. VS Code's IntelliSense only loads projects from files named `tsconfig.json`. This means it will not load `./tsconfig.selenium.json` as a project and the files under `test` will not considered as belonging to any project. You can confirm this by running `TypeScript: Go to project configuration` in one of the TypeScirpt files und

[2020-04-20 22:45] #95624 closed

[2020-04-20 22:51] futurelucas4502 commented on #95723
Ah okay it just seemed broken to me due to the fact it seems to be able to handle many other HTML specific properties

[2020-04-20 22:57] #95560 closed

[2020-04-20 23:03] mikyladewitt commented on #95666
I can reproduce this on the following Insiders build:

Version: 1.45.0-insider
Commit: ec0d19789f89d4c25895f4a0cf364276cfb0c6ed
Date: 2020-04-20T06:04:22.698Z (16 hrs ago)
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

It seems like it happens whether or not extensions are disabled. Reproduced with steps above. Alsp:

1. Ran `Extensions: Disa

[2020-04-20 23:09] JustinWebDev commented on #94582
Great info, hatclub.  I noticed something else:  The file icon changes to the PS cmd icon (solid dark blue icon).  The default launch action (aka, double-click) changes to execution (same as "Run with Powershell"), I guess) instead of open in Notepad.  The "Edit" cmd (which mean 'edit in ISE') is removed.  There are several changes that take place, but I don't know what or when it exactly happens.

[2020-04-20 23:13] joanmarie commented on #95529
@jvesouza Sorry for the delay, but I think I managed to shave off some processing time and, at least in my environment, some chattiness. Could you please pull Orca master and re-test? If there's still a delay, please send me a new debug.out. Thanks!

[2020-04-20 23:15] mjbvz commented on #94408
@rebornix Thanks! I'll move over any other custom editor functionality that makes sense to share

[2020-04-20 23:21] mjbvz commented on #95577
Opened https://github.com/microsoft/TypeScript/issues/38080 to track upstream

[2020-04-20 23:21] #95577 closed

[2020-04-20 23:23] awschristou commented on #88230
@weinand this is looking great.

What do you do if you would like the single provider's `provideDebugConfigurations` method to be used with both scopes? It seems like we'd want to avoid the resolve method being called more than once in this case.

The motivation would be that the same debug configurations identified dynamically could be just as relevant/valid for seeding a launch.json file.

[2020-04-20 23:25] mjbvz commented on #95398
Thanks. This is actually a bug: https://github.com/microsoft/TypeScript/issues/38081

[2020-04-20 23:25] #95398 closed

[2020-04-20 23:25] mjbvz commented on #94347
Also related to #95730

[2020-04-20 23:29] kaba2 commented on #95007
If I understood correctly, I would put the cursor on the first occurrence of the word on the top, and the first Ctrl+D would add it to the selection. Then next Ctrl+D would add the next occurrence of that word to the selection. The problem with this is that if there is an occurrence below the current editor view, then eventually it will add that occurrence and also scroll the view, which I do not

[2020-04-20 23:34] hatclub commented on #94582
It does? When? I didn't see that (did I?)

[2020-04-20 23:37] weinand commented on #88230
Since all methods of a DebugConfigurationProvider are optional you can create one provider with one provideDebugConfiguration method and register it for both scopes. And another provider with the resolve methods registered without scopes.

[2020-04-20 23:45] JustinWebDev commented on #94582
To be clear, I didn't mean in the video you posted.  I was referring to my experience on my machine.  Maybe PS got associated with PS1s, and I just need to re-associate with Notepad?  I'll try it out tomorrow.

[2020-04-20 23:55] mjbvz commented on #95430
Thanks. Opened https://github.com/microsoft/TypeScript/issues/38082 to track upstream

[2020-04-20 23:55] #95430 closed

[2020-04-21 00:08] TylerLeonhardt commented on #94408
@rebornix is this an editor command I can take advantage of in an extension?

[2020-04-21 00:23] jvesouza commented on #95682
Please disregard my previous comment. @joanmarie Already fixed the problem in orca, even without knowing it!
Shortly after I made the comment, some updates were made to orca and these updates seem to have fixed the problem.

[2020-04-21 00:23] Colengms commented on #95729
We are using this to implement localizeable schemas, as suggested here: https://github.com/microsoft/vscode/issues/78737

In Sean's case, I suspect the issue may be that the file is already open when launching VS Code, and there is an attempt to access the uri before we call registerTextDocumentContentProvider().  If we registered this immediately in activate(), would that be sufficient to ensure

[2020-04-21 00:29] deepak1556 commented on #67553
This is an issue with chromium that is fixed internally, there is a backport in progress https://domoreexp.visualstudio.com/Teamspace/_git/electron-build/pullrequest/211032?_a=overview

[2020-04-21 00:32] sean-mcmanus commented on #95729
I modified our code to register as soon as possible, but the issue was still easily reproduced.

Our package.json has
[code]

so it seems like VS Code should be able to recognize that our extension needs to be activated before it tries to do json validation on that file.

[2020-04-21 01:51] designMoreWeb commented on #70764
It might be official this is going to be huge!!!

Devs might be able to write software on iPad and iPhone with Xcode
https://www.cultofmac.com/703527/xcode-ipad-iphone-ios-ipados-14-rumor/

Hopefully VSCODE and other editors can then come to the iPad

[2020-04-21 01:55] GalacticLion7 commented on #70764
Wow! This is huge! I am totally fine with Xcode instead.

[2020-04-21 02:13] jonathannz commented on #33701
Where did this issue get to?

Is it possible to define `editor.wordSeparators` on a per language basis? (as asked by the original poster?)

Currently, when editing PHP file, if I double click on variables, selectors, values, etc., with hyphens in them, I end up selecting on part of it. E.g., Double-clicking `review` in `jgm-review-widget` will only select `review`. I would expect it to select `jgm

[2020-04-21 02:21] jerryzhoujw commented on #93750
I have similar issue when I debug video player on android device.

I think this is a reasonably request which help filter logs which develop cares in case when develop can't do more config on logs from some libs.

[2020-04-21 02:21] jonathannz commented on #33701
I seem to have answered my own question. Applying the following User Setting, I was able to modify `editor.wordSeparators` for just PHP:

[code]

[2020-04-21 02:24] #90901 closed

[2020-04-21 02:24] #90843 closed

[2020-04-21 02:24] #90679 closed

[2020-04-21 02:25] pushkine commented on #95596
@mjbvz js

[2020-04-21 02:29] sierisimo opened #95734 "Extensions opening side panel crash"
I'm currently writting a Markdown file which includes generated PNG files.

Those PNG files are generated through the PlantUML plugin.

I was trying to review some previously created diagramas or markdown files using on the left 2 vertical panels and on the right the preview of the current document (can be the preview of the markdown or from the plantuml)

After trying to change from one panel to

[2020-04-21 02:33] EricZhangzf commented on #95665
@chrmarti  can not repro in 1.45, Fixed

[2020-04-21 02:41] TylerLeonhardt commented on #33701
Yeah I think this issue can be closed.

[2020-04-21 02:59] TGoyen commented on #95563
Might be related to #28596. It does not seem to occur in 1.39.2

[2020-04-21 03:02] TGoyen commented on #95563
If there is something I can do when this happens, I'd be happy to gather more data. I am seeing it about once per day.

[2020-04-21 03:02] JtMotoX commented on #88385
I have tried upgrading to the latest 1.4x a few times to see if it has been patched and it still hasn't.  I have also noticed that it only seems to crash when a previous search is not yet finished.  For example, if I turn off the searchOnType and I type something like "searfh" and hit Enter but then realize I had a typo and change it.  If I hit Enter on the new search before the previous search fi

[2020-04-21 03:09] ColorFuzzy opened #95735 "file level setting variable value"
1. In file1.md file, I want the `editor.wordWrapColumn` to be 72
2. In file2.md file, I want the `editor.wordWrapColumn` to be 42
3. Till now, I can only set this variable globally or per file type or per workspace/folder

[2020-04-21 03:16] doublelam opened #95736 "An error occurred while loading the image."
Issue Type: <b>Bug</b>

when clicking an image from left panel， there's a great probability encounter this issue, sometimes when you click another image and then re-click the previous image, you won't encounter this issue, but, mostly, you still get this issue

and when I click the 'Open file using VS Code's standard text/binary editor?' is useless, nothing happened
![image](https://user-images.gi

[2020-04-21 03:23] 395053994 opened #95737 "What I want to say is that there are a lot of blank lines in the text content of the console, and the problem that the mouse cursor cannot select the text content from right to left."
Issue Type: <b>Bug</b>

What I want to say is that there are a lot of blank lines in the text content of the console, and the problem that the mouse cursor cannot select the text content from right to left.
May I ask when the problem can be fixed?

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.19041

<details>
<sum

[2020-04-21 03:24] 395053994 commented on #95737
For details, please refer to:
https://github.com/microsoft/vscode-java-pack/issues/359

[2020-04-21 03:39] rstreif opened #95738 "Tasks 'command' from system environment variable enclosed in single quotes"
- VSCode Version: 1.44.2
- OS Version: Linux 5.3.11-300.fc31.x86_64 #1 SMP Tue Nov 12 19:08:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1. I have a cross compile environment that sets ${CXX} to:
$ echo ${CXX}
arm-altec-linux-gnueabi-g++ -mthumb -mfpu=neon -mfloat-abi=hard -mcpu=cortex-a7 --sysroot=/home/xyz/systemroot

2. I am using this variable as the command in a task comma

[2020-04-21 03:54] noamza commented on #95663
thank you for the response, will do

[2020-04-21 03:58] liy-che commented on #92846
Is there another way to get the setting value other than vscode.workspace.getConfiguration()? The 'vscode' module cannot be found when I try to import it into javascriptMode. I think 'vscode' would have to be added as a dependency in package.json in order to import 'vscode'.

[2020-04-21 04:02] krishnatoshniwal opened #95740 "Unable to hide problems tab on Panel."
Issue Type: <b>Bug</b>

I'm unable to hide or remove the problems tab when I build or debug code and there's a syntax error. The problems tab unhides itself and puts the focus back on itself moving the focus from the Terminal or the Debug Console.

VS Code version: Code 1.44.2
OS version: Linux x64 4.18.0-20-generic

<details><summary>Extensions (6)</summary>

Extension|Author (truncated)|Version

[2020-04-21 04:13] Xinyu-Wu-0000 opened #95741 "snippets for markdown didn't work in jupyter notebooks"
Issue Type: <b>Bug</b>

as the  title said

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d

[2020-04-21 05:17] PascalPixel opened #95743 "pullFrom does not work with fetchOnPull enabled"
Issue Type: <b>Bug</b>

1. In settings, set `"git.fetchOnPull": true,`
2. Using the command palette, checkout a branch that is behind `master` in commits.
3. Using the command palette, run `Git: Pull from...`
4. Select `origin`
5. Select `master`
6. VScode's git will only `fetch` from `master` and not `pull` at all.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-1

[2020-04-21 05:20] Wolfenberg opened #95744 "Mouse scroll in Explorer doesn't work while dragging a file"
Issue Type: <b>Bug</b>

On MacOS in a long list of files in Explorer try dragging a file to move to another location. While dragging the file for moving, mouse scroll is expected to scroll the tree of files in Explorer, but does not. It's expected as standard behaviour systemwide in MacOS.

(Instead I have to keep mouse pointer next to the edge of the top or bottom of Explorer and wait till it scr

[2020-04-21 05:20] MarcoZehe commented on #95693
I agree, the only thing we don't need is the counter that a particular alert fired x times. This might be useful for some debugging scenario, but is nothing useful for actual users.

[2020-04-21 05:38] max630 opened #95745 "Documentation probably advises unlicensed use of Visual Studio Build Tools"
- VSCode Version: None
- OS Version: None

Steps to Reproduce:

1. Read https://code.visualstudio.com/docs/cpp/config-msvc instruction to install build tools
2. Follow the link "https://visualstudio.microsoft.com/downloads/#other", download installer from "Build Tools for Visual Studio 2019"
3. From the installer, open the license terms https://visualstudio.microsoft.com/license-terms/mlt031519/

[2020-04-21 05:49] chrmarti commented on #95334
What do you get for running `fc-list` in a terminal?

[2020-04-21 05:50] bpasero commented on #93916
That would be a model as Windows has it imho:

![image](https://user-images.githubusercontent.com/900690/79829986-bd2dec00-83a4-11ea-96ea-a51e972d5570.png)

I somewhat like it but would need to try it out to provide more feedback. This would requires changes to the tree/list rendering.

//cc @joaomoreno

[2020-04-21 05:59] gjsjohnmurray commented on #95736
Does the problem also happen if you reload with all extensions disabled?

[2020-04-21 06:05] bpasero commented on #95415
This seems fine now.

[2020-04-21 06:05] #95415 closed

[2020-04-21 06:06] Luxcium commented on #86425
Removed all my settings and I have no problem anymore

[code]

<img width="1920" alt="Capture d’écran, le 2020-04-21 à 02 05 14" src="https://user-images.githubusercontent.com/42672814/79830988-922ba400-8374-11ea-922d-0f467a486351.png">

[2020-04-21 06:09] adriennn commented on #52855
jesus guys.

[2020-04-21 06:09] akash07k commented on #94847
Ok, Nice. :-)

[2020-04-21 06:12] Luxcium commented on #86425
sorry (I feel bad now):  **` // "terminal.integrated.letterSpacing": 1,`**  is the bad boy

[code]

[2020-04-21 06:17] chrmarti commented on #95201
Indeed, that's #48674 then. Thanks for following up.

[2020-04-21 06:32] iliazeus commented on #95636
@mjbvz, AFAIK, VS Code currently only has the API to put _text_ in the clipboard, not image data or other things.

Does that mean the API needs to be extended? Or it's better to just use a third-party library in the `image-preview` extension?

[2020-04-21 06:33] chrmarti commented on #95710
Closing, thanks.

[2020-04-21 06:33] #95710 closed

[2020-04-21 06:34] tigerinus commented on #94243
https://iphoneparadise.com/2020/04/20/xcode-may-be-coming-to-the-iphone-and-ipad-very-soon/

The game has just become more serious. 😸

[2020-04-21 06:39] chrmarti commented on #95665
Thanks, closing as duplicate of https://github.com/microsoft/vscode/issues/88284.

[2020-04-21 06:39] #95665 closed

[2020-04-21 06:41] Morgy93 commented on #41565
Any update on this? I sadly cannot rely on the workaround because many extensions expect the root folder to be the first folder in the workspace.

[2020-04-21 06:41] alexdima commented on #95686
@gpetrov I cannot reproduce, I tried with the following snippet at https://microsoft.github.io/monaco-editor/playground.html:
[code]

Can you please provide a snippet or a HTML page that reproduces the problem?

[2020-04-21 06:45] #95512 closed

[2020-04-21 06:50] doberkofler commented on #95624
Thank you for all the help. I'm still puzzled why it seems to have worked earlier, but I'm sure I just miss some change in the environment.
I'm still not sure on how to solve or work around this problem.
The frontend files require a different tsconfig than the node.js files when being compiled, so I must include different directories. Could you be so kind and point me to the right direction on wha

[2020-04-21 06:59] bpasero commented on #95716
This is probably the gist of what was mentioned in

Test that isolates the issue into the filter:

[2020-04-21 07:04] bpasero commented on #95716
One thing I am not sure about: the second invocation returns `0,4,0`. My understanding is that the first number is the score and so I ignore scores of `0`, but the value of `4` seems to suggest that there is still a match?

[2020-04-21 07:08] akanz1 opened #95746 ""Expand all" functionality (File Explorer, Test Explorer, Outline, Timeline ...)"
I would like to request an "Expand All" functionality. Originally I noticed the lack of this functionality for the Test Section in the Python extension. When all tests pass the results are collapsed by default forcing me to individually click through the tree structure to get an overview of all the tests detected / run.

However, this also applies to many other parts of VSCode, such as the file ex

[2020-04-21 07:11] hamaney commented on #93840
I find the new message missing some directions to where/how to provide some symbol information. Finally I figure out that I have to enable the c/cpp extension for the workspace.

[2020-04-21 07:24] deepak1556 commented on #94849
Thanks for the details so far, it was helpful. The root cause is same as  https://github.com/microsoft/vscode/issues/94862 , lets track it there.

[2020-04-21 07:24] #94849 closed

[2020-04-21 07:25] silvado-soccer opened #95747 "terminal.newWithCwd still not working over Remote - SSH"
- VSCode Version: 1.44
- OS Version: Mac OS 10.15.4

**Aim**
On a remote-ssh connection, in the terminal I want to cd into the folder of the currently active/opend file using the shortcut:
[code]
**Actual Result**
 I get the message: '${fileDirname}' can not be resolved. Please open an editor.

**Steps to Reproduce:**
1. Use remote-ssh
2. Open a file
3. Press alt+t

**Note**
This works as long as

[2020-04-21 07:25] xfudox opened #95748 "Temporary color/theme for vscode instance to recognize between different windows"
Sometimes i need to work with more vscode windows and sometimes those windows are connected trough ssh to staging/poduction servers so it would be very helpful to be able to change single vscode window color to fast recognize which window i'm on without the need to read the title bar.

Actually changing the theme/color applyto every vscode instance and is permanent, i mean the change is persistent

[2020-04-21 07:30] silvado-soccer opened #95749 "Multiple terminals for multiple files: Bind specific terminal to specific opened file"
I want to run and work on different files in different (integrated) terminals.
If I activate a file, the binded/connected terminal should be shown/activated.

**Example**
I have file a.sh, which runs an interactive job in terminal A. I open a new file b.sh and create a new terminal B. Wenn I switch back to file a.sh, the terminal A should automatically be active and terminal B should disappear int

[2020-04-21 07:36] phuongtai opened #95750 "Can't highlight python code when use Typing hint"
Issue Type: <b>Feature Request</b>

Can't highlight python code when use Typing hint. See image for clarify

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<img width="824" alt="image" src="https://user-images.githubusercontent.com/9261490/79838509-52e56d80-83dd-11ea-8fa3-c5f51886ceb7.png">

[2020-04-21 07:37] isidorn commented on #95682
Thanks all for feedback.
How the things hold we will probably disable tabs automatically when screen reader is detected start of next Milestone in may, so we get a whole month to gather feedback.

[2020-04-21 07:40] DrawnActor commented on #70963
I had the same issue (file not getting greyed out and still being tracked for changes + pushed to remote) and this was the only thing that worked for me. Reloading window, closing and opening vscode, saving .gitignore in the editor etc all did nothing.

[2020-04-21 07:46] #95750 closed

[2020-04-21 07:54] isidorn commented on #95225
Thanks all for feedback.
@Menelion We would love to improve this, however I am not sure what can be done on the VS code side for this.

1. Is there something in VS code which we can do such that the editor is no in forms-mode environment?
2. Why doesn't JAWS use different `role` we set. For example the editor has the role `textbox` and the trees have role `tree`
3. This might be due to a large num

[2020-04-21 07:59] boonpraserd commented on #49210
When I used "Better Jinja", I also used "Auto Close Tag" extension to solve this problem.  Please don't forget to edit settings.json by add "jinja-html" to "auto-close-tag.activationOnLanguage".

[2020-04-21 08:03] isral commented on #3932
4 years (T_T)

[2020-04-21 08:13] yume-chan commented on #93299
Maybe we can tracking the already existed file renaming commands with [workspace.onDidRenameFiles](https://code.visualstudio.com/api/references/vscode-api#details-2729) event.

Then with a (user configurable) confirmation dialog, also rename the file with git-mv?

@joaomoreno Do you think this feature fit in Code itself? If so, I'd like to help implementing it. If not, maybe I can still contribute

[2020-04-21 08:15] praveentoby opened #95752 "Generated component not showing in explorer"
Issue Type: <b>Bug</b>

When I generate new component in angular, it gets generated successfully, but the not showing in explorer

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 4.4.0-174-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7020U CPU @ 2.30GHz (4 x 2300)|
|

[2020-04-21 08:19] bkniffler commented on #70764
I'd also like to point to this reply though:

https://twitter.com/SteveMoser/status/1252197252887707650

[2020-04-21 08:19] yume-chan commented on #94243
See electron/electron#562.

While Electron has no plan to support Android (and iOS), it's impossible to run full Code on your mobile devices.

However you can try with Visual Studio Online, with the self-host mode. I had a success running it on Chrome for Android.

[2020-04-21 08:27] isidorn commented on #95693
Thanks for feedback.

The issue was the following: we "fire alerts" in a way that we write content to a container with `role = alert`.
So what could happen in theory is the following
1. We fire an alert "Hello User"
2. User does some work
3. We want to fie an alert "Hello User" again, however since the content of the `alert` container would not change the new alert would not get read by the screen

[2020-04-21 08:34] isidorn commented on #95666
Dup of https://github.com/microsoft/vscode/issues/95315

[2020-04-21 08:34] #95666 closed

[2020-04-21 08:34] isidorn commented on #95647
Let's close as duplicate of https://github.com/microsoft/vscode/issues/95315
Since that is the oldest issue. It seems like I broke something in vscode insiders.

[2020-04-21 08:34] #95647 closed

[2020-04-21 08:36] isidorn commented on #95315
I acknowledge that something seems to have been broken since multiple users have reported this.
Some questions since I can not reproduce:

1. do you get this when you rename any file in the file explorer, not only the top one?
2. Was this working 5 days ago for example, did this break in the last couple of days
3. If somebody is adventourouse, F1 > developer tools > put a breakpoint [here](https:/

[2020-04-21 08:40] MarcoZehe commented on #95693
One way to make sure the alert always gets spoken when text changes is to set aria-atomic to true. Normally, if Chromium implements the [alert role](https://www.w3.org/TR/wai-aria-1.1/#alert) properly, this is implicitly set, in addition to aria-relevant being of value "additions text". So one thing to try is to set `aria-atomic="true"` on the same element that has role "alert", to see if that fix

[2020-04-21 08:47] isidorn commented on #95726
@sean-mcmanus thanks for filling this. Due to https://github.com/microsoft/vscode/issues/72361 and this code [here](https://github.com/microsoft/vscode/blob/9f709d170b06e991502153f281ec3c012add2e42/src/vs/workbench/contrib/debug/common/debugModel.ts#L372) for unkown source frames when a stack frame is copied we only copy the `name` of the unkown source frame.

@sean-mcmanus what is the `name` of t

[2020-04-21 08:49] FernandoMiguel commented on #95315
@isidorn started last week
so far, renaming any file, inside any level of folders.
mine are all git repos

it is really hard to reproduce, cause i can be editing files for an hour and it won't happen.
then happens, i restart, and happens again.

running without extensions for a long time, will cripple my productivity, since i dont have a way to force this to happen.

I know not having a reproducib

[2020-04-21 08:50] shrutipant7 commented on #95315
It was working fine few days back. This has happened recently.

[2020-04-21 08:54] emilmuller commented on #95630
@mjbvz You may be correct, but this confuses me somewhat. I thought that if strict null checking was _enabled_, then null and undefined would **not** be a part of MyEnum's domain. And in the opposite case (this case), that null and undefined **would** be a part of MyEnum's domain.

Additionally, foo is marked as optional, so I have a hard time understanding that undefined should not be part of its

[2020-04-21 08:55] isidorn commented on #95693
@MarcoZehe good ideas. However we arleady set aria-atomic on the element. [Code pointer](https://github.com/microsoft/vscode/blob/9f709d170b06e991502153f281ec3c012add2e42/src/vs/base/browser/ui/aria/aria.ts#L20).
I just tried setting the `textContent` to an empty string before resetting it and it did not work (at least with VoiceOver). I also tried some timeouts and also did not help.

So I do und

[2020-04-21 08:58] gjsjohnmurray commented on #95752
Go to https://code.visualstudio.com/docs/getstarted/tips-and-tricks and search the page for `files.exclude`

Then check your user settings, and the settings for your workspace, to see if `files.exclude` is causing your generated file to be excluded.

[2020-04-21 09:00] abishek982001 opened #95753 "Header file"
Issue Type: <b>Bug</b>

I updated the include path. It is able to acess the header file in the included path and auto complete it. Meaning it has acess to the header file in that path. But when I run my program, it displays error message sayinh fatal error no such file or directory!!. What should  i do ? Please help. The header file I am trying to use is #include<cpr/cpr.h> a third party header fi

[2020-04-21 09:02] jrieken commented on #95715
Yeah, looks like this is the bad line: https://github.com/microsoft/vscode/blob/8f1b2e565797929d8e8fd772ed35fa202ac76567/src/vs/workbench/api/common/extHostLanguageFeatures.ts#L957. I made the `from` function not accept `undefined` anymore because it faster if it only runs with SMIs but the usual error happened...

[2020-04-21 09:03] GiorgioMartini commented on #16927
Please implement a shortcut to just see ONE tab in fullscreen... then toggle to see all the other tabs and other windows.. zen mode just makes fullscreen the whole editor and keeps the tabs. We want just one tab to be visible and fulscreen.

[2020-04-21 09:05] jrieken commented on #95716
This isn't the right understanding - it will return `undefined` when there is no match.

[2020-04-21 09:05] Jeremy-JM opened #95754 "Put the file path into code(file) when we drop the image"
Put the file path into code(file) when we drop the image, voice or others media file in to code file

[2020-04-21 09:08] #95727 closed

[2020-04-21 09:12] jrieken commented on #95727
No - context keys are static, context values can be set with the `setContext`-command and then context keys are re-evaluated. If you want to match on certain files you must know the match-criteria statically.

[2020-04-21 09:15] #95468 closed

[2020-04-21 09:21] jrieken commented on #95468
Yes. Please follow up with prettier on this. VS Code relies on uris and selector, a selector can define for what uri-scheme it works and that's what prettier does. You can see here that prettier only registers for `untitled` and `file` scheme (https://github.com/prettier/prettier-vscode/blob/30f675867fe53c62f041c575fbd60099c718734c/src/PrettierEditService.ts#L165) and as said in the original issue

[2020-04-21 09:24] jrieken commented on #95485
ok - closing as duplicate of the LSP issue

[2020-04-21 09:24] #95485 closed

[2020-04-21 09:25] tigerinus commented on #94243
OK, fine... 🤦

[2020-04-21 09:26] syepes commented on #93299
This would be a great addition

[2020-04-21 09:30] vurtskider opened #95755 "Broken search"
Issue Type: <b>Bug</b>

Broken all search in project

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flas

[2020-04-21 09:35] alesmenzel commented on #95362
I don't like the idea of reinstalling after updating, but it seems like the issue was that I renamed a project folder vscode was using and after the update it tried the old location for some reason, after several restarts it started working again.. sorry I hijacked this issue, my issue is resolved

[2020-04-21 09:37] chrisjj commented on #90679
This is not a feature request. This is a bug report. Would the person who falsely tagged this "feature request" (or anyone else) please remedy that? Thanks.

[2020-04-21 09:37] markrendle commented on #52855
Happened to me just now.

[2020-04-21 09:41] alexr00 opened #95756 "Setting to control opacity of inserted/removed background in diff editor"
I've started using the PR extension a lot recently, and I find the diff editor to have too much going on when there are lots of changes.

When I'm looking at a large number of changes, I would like the "this line has some changes" color to be much lower opacity than the "this is the thing that changed in this line" color. As far as I can tell, I can only set a color for the inserted/removed backgr

[2020-04-21 09:43] bpasero commented on #95415
All good now.

[2020-04-21 09:47] #95715 closed

[2020-04-21 09:48] colinfang commented on #95728
I am a bit confused about the syntax match behavior here, could you please elaborate it a bit?

How is a regex `(^|\G)foo` different from the simple `foo` ? I struggle to think of scenarioes that the former syntax would exclude.

[2020-04-21 09:53] ohadco opened #95757 "Search exclude folders stopped working"
Issue Type: <b>Bug</b>

I started seeing excluded directories under search (node_modules, build)
folders which are excluded under settings --> features --> search --> Exclude.
I have `**/node_modules` and `**/build` excluded there, but started seeing them in the search results a few days ago

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS versi

[2020-04-21 09:54] weinand commented on #88230
@isidorn a good first step for the UI would be a "contributed" section in the "debug: Select and Start Debugging" Quickpick:

<img width="801" alt="2020-04-21_11-50-07" src="https://user-images.githubusercontent.com/1898161/79852046-705b0d00-83c6-11ea-9df9-1ac3860d3656.png">

The contributed section would show entries for all debug extensions that have a DebugConfigurationProvider registered for t

[2020-04-21 10:01] altogua commented on #95720
![No VISUALIZA las CARPETAS](https://user-images.githubusercontent.com/62995279/79851473-a3e96780-83c5-11ea-9664-91afa3c85333.jpg)
![No VISUALIZA las CARPETAS](https://user-images.githubusercontent.com/62995279/79851532-bc598200-83c5-11ea-91de-f6fb53b3f983.jpg).

thanks for answering. Here I send some images as requested.Carlos

Pero tengo 2 notebook y en una abre las carpetas.
tengo ademas la ver

[2020-04-21 10:04] alexr00 commented on #95705
Can we move view containers? The dropdown is tied to the viewlet, not the view, so I think it shouldn't be moving. I'd actually prefer to not allow any of the views in the remote explorer to move since it completely breaks the drop down functionality.

[2020-04-21 10:05] altogua commented on #95720
aqui esta una toma de pantalla de lo que sucede. Tengo la versión de visual 16.5.4 y tampocoalli me abre las carpetas.Esto me sucede en una notebook, enla otra no,es algun cortafuegos queno logro desinescar, e anulado el firewall, el antivirus y nada, gracias,

[2020-04-21 10:05] altogua commented on #95720
Here is a screenshot of what is happening. I have the version of visual 16.5.4 and neither does it open the folders for me. This happens to me in a notebook, in the other it does not, it is some firewall that I cannot un-install, and I canceled the firewall, the antivirus and nothing, thanks,

[2020-04-21 10:07] IllusionMH commented on #95755
/needsMoreInfo

Please provide steps how to reproduce this issue.

[2020-04-21 10:10] sandric commented on #16927
@telmodias well its not maximizing current editor group, hiding second, it makes it like 80/20% right?

Where is this sort of `min-width` variable for editor group is stored? Can I overwrite it in my extension?

[2020-04-21 10:11] alx-xlx opened #95758 "Virus"
- VSCode Version: 1.44.2
- OS Version: Win10 x64

Steps to Reproduce:

1. Install Quick Heal
2. Run vscode

Does this issue occur when all extensions are disabled?: Yes/No
![ghyubqI8GD](https://user-images.githubusercontent.com/42188371/79853911-46b1de00-83e6-11ea-8962-17789726ada3.png)

why do i see a virus ?
Please don't tell me to exclude it from AV.
I don't want to infect my PC

[2020-04-21 10:12] Tyriar commented on #95606
If it happens again and you find out more let me know.

[2020-04-21 10:12] #95606 closed

[2020-04-21 10:12] IllusionMH commented on #95757
/needsMoreInfo

Are you sure that you didn't disable "Use Exclude Settings and Ignore Files" in files to exclude filed?
It should have background

![image](https://user-images.githubusercontent.com/1312662/79853913-52df7080-83d1-11ea-80ac-9eba40c057cc.png)

[2020-04-21 10:17] bpasero commented on #95705
I thought you can move any view to be a panel, e.g. like you can do for "Search". But @sandy081 or @sbatten can probably answer this better.

[2020-04-21 10:19] #33701 closed

[2020-04-21 10:34] RockLife2000 commented on #95108
Still can't get this to work even though it used to. Have given up and resorted to debugging the client in the browser

[2020-04-21 10:35] Tyriar commented on #86425
@Luxcium thanks can repro. Not sure why you'd be sorry about finding a bug that I can now fix for all users?

[2020-04-21 10:38] texastoland commented on #95468
I'll reopen it there but I'm still unconvinced. The original reporter indicated that reverting his version of Code fixed it. Regardless whether Prettier was doing it wrong before it appears the behavior changed.

[2020-04-21 10:45] weinand commented on #92269
@thernstig this issue is more focused on debugging a single file than just running. So we want to provide another universal entry point into debug extensions. Any debug extension that is interested in improving its single file debug experience would be able to participate.

The extension you are mentioning above doesn't deal with debugging and it is not open for new languages.

[2020-04-21 10:56] yume-chan commented on #95758
See #94858

[2020-04-21 11:02] jrieken commented on #93230
_Dumping some sample here, not sure if this is all the same root cause or not but it definitely makes me think negatively about our debug_

Debugging stopped at line 46 (no stepping, first stop)

* Why is there at the top a scope called "Local" with only `this`
* Why is "Closure" collapsed (manually expanded in 2nd screen shot) and why isn't it atop?

<img width="1025" alt="Screenshot 2020-04-21 a

[2020-04-21 11:04] #86425 closed

[2020-04-21 11:06] ThaDaVos commented on #26777
Will this be added? If so, any eta?

[2020-04-21 11:11] dmx-patrick commented on #95686
We weren't able to reproduce it with the browser version, we are using the ESM version.

I did some debugging on our code and noticed that it kept looping on the while loop at https://github.com/microsoft/vscode/blob/519ceb6283a884a82dcabc536ecb8a9bc125adbc/src/vs/editor/common/viewModel/monospaceLineBreaksComputer.ts#L139. The prevIndex changes from 0 to -1 in the next loop and then back to 0 aga

[2020-04-21 11:15] Tyriar commented on #84432
Tentatively assigning to May for debt week if there's time to see if there's a workaround.

[2020-04-21 11:16] gjsjohnmurray commented on #95758
It's a false positive. See #94858

/duplicate

[2020-04-21 11:17] jpagliaccio opened #95760 "Simple file dialog: Save As does not right trim spaces from a filename"
Issue Type: <b>Bug</b>

If you do a Save As, and add a space to the end of the filename by accident,  there is no right trim of trailing spaces. You get files with a trailing space in the filename which is very confusing especially when using the new SSH extension to a Linux system.

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windo

[2020-04-21 11:17] #95758 closed

[2020-04-21 11:20] IllusionMH commented on #91901
With `search.seedOnFocus` in place is it possible to have an option immediately trigger search when `"search.seedOnFocus": false` and user press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> ?

[2020-04-21 11:22] Tyriar opened #95761 "Sync pick an account polish feedback"
The blue text just repeats information, that's normally used to categorize items when there are groups of >1:

![image](https://user-images.githubusercontent.com/2193314/79860283-3a4a6880-8387-11ea-8aba-b4b47c6b4244.png)

Also lots of repetition:

- Pick an account
- Select an account
- Use * accounts

I suggest we change it to this:

![image](https://user-images.githubusercontent.com/2193314/7986

[2020-04-21 11:22] #95177 closed

[2020-04-21 11:22] #95174 closed

[2020-04-21 11:22] #95173 closed

[2020-04-21 11:23] #95151 closed

[2020-04-21 11:23] #95117 closed

[2020-04-21 11:23] #95116 closed

[2020-04-21 11:23] #95059 closed

[2020-04-21 11:23] #95009 closed

[2020-04-21 11:23] #94987 closed

[2020-04-21 11:23] #94964 closed

[2020-04-21 11:23] #94913 closed

[2020-04-21 11:23] #94905 closed

[2020-04-21 11:23] #94884 closed

[2020-04-21 11:23] #94875 closed

[2020-04-21 11:23] #94737 closed

[2020-04-21 11:23] #94700 closed

[2020-04-21 11:23] #94669 closed

[2020-04-21 11:23] #94661 closed

[2020-04-21 11:23] #94653 closed

[2020-04-21 11:23] #94647 closed

[2020-04-21 11:23] #94584 closed

[2020-04-21 11:23] #94578 closed

[2020-04-21 11:23] #94564 closed

[2020-04-21 11:31] jonrimmer opened #95762 ""Go to definition" incorrectly includes type definition"
Issue Type: <b>Bug</b>

1) Create a new React app using `npx create-react-app cra-playground --template typescript`
2) In the app, create a React component called `Button` of type `FC`

[code]

3) Use the new `Button` component in the `App` component.

[code]

4) Try to navigate to the `Button` component's definition, either by cmd-clicking it, or by use the context menu's "Go to definition" optio

[2020-04-21 11:36] SaschaStenger opened #95763 "Environment Variable Format Change"
Version: 1.44.2 (user setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

When using VSCode with python behind a proxy.
Earlier versions of VS Code allowed to set environment variable for certificates by setting
 `"REQUESTS_CA_BUNDL

[2020-04-21 11:42] vurtskider commented on #95755
Hi @IllusionMH
After my last update 'Find in files' doesn't work. (Seach works only with recently opened files)

My colleagues have the same problem.

[2020-04-21 11:43] vurtskider commented on #95755
Just infinite loader and no results

[2020-04-21 11:44] ghost opened #95764 "Segfault - Crash"
- VSCode Version: 1.44.1
- OS Version: Arch X64
Linux yogar 5.6.4-arch1-1 #1 SMP PREEMPT Mon, 13 Apr 2020 12:21:19 +0000 x86_64 GNU/Linux

Steps to Reproduce:

1. Random segfault and closures
[44913.072036] code-oss[1436366]: segfault at 71 ip 000056476caa2856 sp 00007ffe3f1ded00 error 4 in electron[56476b26e000+5232000]
[44913.072246] audit: type=1701 audit(1587463084.610:656): auid=1000 uid=1000

[2020-04-21 11:47] IllusionMH commented on #95755
Do you see any errors in DevTools (Help > Toggle Developer Tools)?

Is it happening in any folder (workspace) or concrete?

[2020-04-21 11:48] codingKerensa opened #95765 "Auto-complete keyword root only (IntelliSense)"
Not sure if I'm lazy or dim - probably both.

Would be great if the auto-complete had an keyboard combination to just complete the keyword currently being typed. i.e anything before a period.

Example from Go:
I'm wanting to type
_case fooBarVeryLongNameHere._**unusual**

I start typing `case foo`...
and the auto-complete suggestions are:
- fooBarVeryLongNameHere.**commonX**
- fooBarVeryLongNameHe

[2020-04-21 11:53] Uglyfatdude commented on #12622
Wow thanks for this it works great! How could this not be integrated in Vs Code now...

[2020-04-21 11:55] #95573 closed

[2020-04-21 11:56] MikeRosoft commented on #41309
Another problem with the palette is that it is unstructered - it's just a list of all commands dumped into a single combobox. (Yes, you can search it by typing and hoping that you have guessed the correct command name.)

[2020-04-21 11:59] joaomoreno commented on #93916
I like it!

[2020-04-21 11:59] weinand opened #95766 "consider to add a table view for variables and watches"
With the arrival of more flexible window/workbench layout, debug views are no longer constrained by narrow vertical layout arrangement. A variable view can now be moved to the horizontal panel:

<img width="1459" alt="2020-04-21_13-13-34" src="https://user-images.githubusercontent.com/1898161/79859924-16604480-83d2-11ea-99e9-23a2c8fbe5f7.png">

This makes it possible to explore a table view for th

[2020-04-21 12:05] Tyriar commented on #95573
Ok this will be in the next Insiders, it's a little hard to test but the behavior as you need to setup [this extension](https://github.com/microsoft/vscode-extension-samples/tree/master/terminal-sample). Here's what I went with:

- The `textarea` aria label changes to this when an extension wants to change the environment: "Terminal (number) environment is stale, run the 'Show Environment Informat

[2020-04-21 12:09] #95716 closed

[2020-04-21 12:23] Tyriar opened #95767 "List: range selection should update focused element"
Current behavior looks a little weird imo:

![55a14309-f15c-49e4-97ff-7692a09c041b](https://user-images.githubusercontent.com/2193314/79865419-fc9e0d80-838f-11ea-895c-bc789ddaa05c.gif)

I think the reason behind this is because the original item is important as it is the root item if the user shift+clicks elsewhere. But even so, the last clicked item is probably more important at this point. I sug

[2020-04-21 12:25] Tyriar opened #95768 "Use more prominent focus indicator in trees"
From https://github.com/microsoft/vscode/issues/93916

The different shades of backgrounds in the explorer are a little confusing:

![image](https://user-images.githubusercontent.com/2193314/79865698-6f0eed80-8390-11ea-8113-9d5633392eb5.png)

A border could be nicer and more obvious which is the special item, it also aligned with Windows Explorer:

![image](https://user-images.githubusercontent.co

[2020-04-21 12:25] Tyriar commented on #93916
Move explorer request to https://github.com/microsoft/vscode/issues/95768

[2020-04-21 12:28] paamonim opened #95769 "Source control"
Issue Type: <b>Bug</b>

After doing "git stash", the icon with the number of files changed is still displayed.
Only after closing VSC, the number of changed files icon disapeares.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info<

[2020-04-21 12:35] demyte commented on #95315
@shrutipant7

Version: 1.45.0-insider (user setup)
Commit: b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094
Date: 2020-04-21T05:41:11.873Z (6 hrs ago)
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

**Point 1:**
Yes, I get this only when I try to rename *.md or *.ts files using clicking the file and `F2` or right-clicking and `Rename`.

Some m

[2020-04-21 12:35] tomnar commented on #6302
1/3 of the mouse buttons are not working properly, how can this be anything else than high priority?

[2020-04-21 12:39] bpasero commented on #93916
@Tyriar this is not explorer specific? this applies to every list and tree?

[2020-04-21 12:42] weinand commented on #88230
We might want to consider to add a "description" attribute to the `DebugConfiguration` type (most likely in the - yet to be added - "presentation" section).

[2020-04-21 12:45] FernandoMiguel commented on #95315
mine are almost always terraform .tf files
i press Enter to rename
and it too seems to jump to the bottom of the screen

seems to happen more frequently on very large list of files....

[2020-04-21 12:45] isidorn commented on #88230
A description makes sense.

[2020-04-21 12:47] FernandoMiguel commented on #95315
yep... on folders with one or two files is fine.
if i try on folders with twice the size of my screen, it will fail
but even then, not every time

[2020-04-21 12:48] chrmarti commented on #94862
@keelung-yang Could you install https://az764295.vo.msecnd.net/insider/03a7223ee2a086bbcf028801da9370d5deff5093/VSCodeUserSetup-x64-1.45.0-insider.exe and try updating that while running with `--log-net-log=netlog.json`? If it doesn't work, could you check what is in the console? (`Help` > `Toggle Developer Tools`)

[2020-04-21 12:55] joseluis240 opened #95770 "Graphical distortion of the environment"
Issue Type: <b>Bug</b>

When I open the Visual Studio Code and I move the mouse the graphical environment becomes distorted and worse.

Another case similar is...
https://github.com/microsoft/vscode/issues/90021

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Va

[2020-04-21 12:58] marckassay commented on #95690
And today, with no known changes to my system that would effect this issue, I'm not able to replicate the issue.

[2020-04-21 13:14] webczat commented on #95693
so not sure how that works in other screenreaders? especially if it's true aria-atomic should make it being read always on change even if the text is the same...

[2020-04-21 13:17] guywaldman opened #95771 "Compact nested directory formatting does not persist after rename"
- VSCode Version: 1.44.2
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create a folder with a nested path (i.e. `a/b`), which should be displayed in the file explorer like so:

    ![image](https://user-images.githubusercontent.com/6546430/79869997-f2f5c380-83ea-11ea-885b-ac34eed94975.png)

2. Rename the `a` folder to `aa` and the compact nested hierarchy formatting is not persi

[2020-04-21 13:26] Menelion commented on #95225
@isidorn Just investigated. Yes, it seems, you can do nothing here, sorry. @ggordon-vispero It's a JAWS issue. If you want more info, please chime in, I'll write you privately.

[2020-04-21 13:39] ghostrib opened #95772 "Suddenly unable to open files, settings or anything else"
Issue Type: <b>Bug</b>

I don't have a lot steps to reproduce. It just seemed to happen out of nowhere. I have been working on a project every day using VS Code. This morning I'm working and suddenly when I try to switch tabs to another open file, I'm unable to do so and receive this message in the bottom right corner of the screen. `Unable to open 'colors.js': Cannot read property 'other' of null

[2020-04-21 13:40] joaomoreno commented on #95767
This is hard to implement without introducing yet another trait in the list...

[2020-04-21 13:41] joaomoreno commented on #95768
What does Finder do?

[2020-04-21 13:42] joaomoreno commented on #95768
Also, this will affect users of the list/tree which use it in strange ways, outline for example. This is a *bit* item.

[2020-04-21 13:47] Virenderrrrr opened #95773 "While installing VS code, it is showing a path and an error that " an error occurred while rename a file in directory destination"."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-21 13:49] 395053994 opened #95774 "Error: there is no registered task type 'Java'. Did you miss to install an extension that provides a corresponding task provider?"
Issue Type: <b>Bug</b>

Error: there is no registered task type 'Java'. Did you miss to install an extension that provides a corresponding task provider?

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

Error: there is no registered task type 'Java'. Did you miss to in

[2020-04-21 13:49] Virenderrrrr commented on #95773
While installing the latest version of vs code it is showing a path and an error that is " an error occurred while rename of file in directory destination". Please help me.

[2020-04-21 13:51] ggordon-vispero commented on #95225
@Menelion , please write me with additional details. I have already noticed the JAWS failure to announce intentation and agree that it's an issue on our side. If you have additional JAWS specific details about either indentation or the JAWS hanging
please write to me privately. I think you already have my contact info. If not it's first Initial followed by my last name.

[2020-04-21 13:52] marckassay commented on #95748
I completely understand, as I also experienced this need. As an immediate solution, what you can do is set the `workbench.colorTheme` to a different theme for one of those VS Code instances. You can do this in the root project folder by having:
[code]
This example is using a custom theme, which is the same theme as the one I use everyday, but with just some of the UI background properties set to a

[2020-04-21 13:52] roblourens commented on #90387
No response from OP, closing this one

[2020-04-21 13:52] #90387 closed

[2020-04-21 13:53] roblourens commented on #95578
Can you update to 1.44.2 and let me know whether it's any different? There was a search-related issue fixed but not sure whether it's the same.

[2020-04-21 13:54] isidorn commented on #93230
@jrieken thanks for dumping samples.
Scope content are controlled by the extension, so would let @connor4312 comment here
Also the order of scopes is controlled by the extension.
So if the Closure was the first one we would automatically expand it.

So not much we can do to improve this on the VS Code as far as I see regarding this exact sample.

[2020-04-21 13:58] davidbarredo commented on #94733
Hi @sbatten , for me as a user of an extensión this behaviour can't be named as-designed, because it could lead to lose the functionality of an extension just because I've moved it (drag and drop) to another panel.

In my case not only the icon is lost, also the funcionality of the extension (https://github.com/alefragnani/vscode-bookmarks/issues/272#issuecomment-617156188)

[2020-04-21 14:01] roblourens commented on #95618
@sandy081 it has been like this a long time, from https://github.com/microsoft/vscode/commit/dc62a6efcc28f9c7540f06620c1ecb5155081f3f

On mac, the keybinding conflicts with the "copy path" command, is that why you added that? On windows there is no conflict. And I also noticed that "copy path" doesn't work in search from the keybinding anyway, I can fix that.

[2020-04-21 14:03] marckassay commented on #95748
As an alternative to my solution, you can simply set the following into the `setting.json` file:
[code]

[2020-04-21 14:09] telmodias commented on #16927
@sandric I have not found anything else yet related to this subject, I'm happy for now with this use case although I recognise that the Sublime MaxPane plugin is a better experience. If you find anything else about this topic, I would appreciate if you could post here.

[2020-04-21 14:11] IllusionMH commented on #95315
Reproduced on large folders as mentioned above - when folder list is larger than Explorer(tree) section. However there were cases when top part of the files renamed correctly but files at the end of the folder always triggered this issue.

[2020-04-21 14:12] darthVade7 opened #95776 "Arrow keys not working in R session in terminal"
Issue Type: <b>Bug</b>

**steps to reproduce:**
-   install R on your system
-   Configure the path variable
-   launch vscode and in the embedded terminal window, run 'Rterm'
-   In the launched R interpreter session, try 2-3 basic operations like assigning variables values e.g. : a = 1
-   Now try arrow keys (up and down) to go to previous commands/operations or (using left-right arrow) to move

[2020-04-21 14:13] IllusionMH commented on #95765
Most likely this should be reported to Go extension because it provides completion list.

[2020-04-21 14:24] Tyriar commented on #95768
Finder doesn't distinguish the items:

<img width="217" alt="Screen Shot 2020-04-21 at 7 22 55 AM" src="https://user-images.githubusercontent.com/2193314/79877299-ecdaf500-83a0-11ea-910a-9ac2384d97a0.png">

When right clicking everything gets a white outline:

<img width="352" alt="Screen Shot 2020-04-21 at 7 23 24 AM" src="https://user-images.githubusercontent.com/2193314/79877363-fe240180-83a0-1

[2020-04-21 14:25] xfudox commented on #95748
@marckassay thanks for your response, it indeed is a very simple and quick solution so i'll go with this for now.

[2020-04-21 14:25] algv opened #95777 "The window has crashed"
Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:33:57.013Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT ia32 10.0.17763

Steps to Reproduce:
1. write code
[code]

2. start debug

3. show "str"
![crash](https://user-images.githubusercontent.com/16474118/79877579-1160bc80-83f5-11ea-9936-f33aa5727b9

[2020-04-21 14:25] jaredready commented on #95701
Sure. Here it is:

[code]

[2020-04-21 14:26] codingKerensa commented on #95765
I thought this went beyond the entries of the completion list, but I'll check with the Go extension repo. Many thanks!

(Btw, question should have been labelled: **feature request**, apologies)

[2020-04-21 14:27] IllusionMH commented on #95748
There is [Peacock](https://marketplace.visualstudio.com/items?itemName=johnpapa.vscode-peacock) extension that allows quickly generate color customization for workspace

[2020-04-21 14:27] TylerLeonhardt commented on #95028
I've noticed that after I do "File: Reopen With..." I've seen a 2nd tab of the same file in my instance of vscode.

It's not clickable so it's clearly a relic of something keeping the old file "open"

Hopefully that information helps.

[2020-04-21 14:28] danlester commented on #95205
However, there doesn't seem to be a way to drag a file to move it to the very top-level folder. This seems to be a design failure - I don't think there is a bug as such.

This is in Mac 1.44.2. Thank you.

[2020-04-21 14:33] JacksonKearl commented on #91901
@IllusionMH if <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> is bound to "workbench.view.search" it should seed with the selection. One thing is that this wont work if the search viewlet is open and you have the default when condition (`!searchViewletVisible`). Maybe that default when condition should be removed?

[2020-04-21 14:40] IllusionMH commented on #91901
It seeds input but won't perform new search if results are "dirty".

BTW looks like there is inconsistency in marking results as "dirty" - removing file from result prevents next search to be performed immediately (requires <kbd>Enter</kbd> ), but removing one match from file that has several - allows immediate search.

[2020-04-21 14:41] JacksonKearl commented on #91901
So are you asking for a way to trigger a new search with a single keypress even when the prior search results were dirty?

[2020-04-21 14:42] JacksonKearl opened #95779 "find in files - inconsistency in marking results as "dirty""
BTW looks like there is inconsistency in marking results as "dirty" - removing file from result prevents next search to be performed immediately (requires <kbd>Enter</kbd> ), but removing one match from file that has several - allows immediate search.

_Originally posted by @IllusionMH in https://github.com/microsoft/vscode/issues/91901#issuecomment-617222704_

[2020-04-21 14:43] connor4312 commented on #92617
Chromium has closed this as a wontfix--see the linked issue for details.

[2020-04-21 14:43] #92617 closed

[2020-04-21 14:43] e-stets commented on #32592
Is this still considered? It would be a great addition to simplify a lot of UI workarounds for TreeViews.

[2020-04-21 14:44] IllusionMH commented on #91901
Yes, but I guess it should be available (probably as an option if feasible) only when `"search.seedOnFocus": false`.

Otherwise it will be back to state when searches were fast but previous searches were lost unintentionally.

[2020-04-21 14:46] richRubie commented on #95315
Hi, sorry for the lack of respone.

@IllusionMH yes i have reproduced it with all extensions disabled.

@isidorn
1. it is inconsistent when renaming files, though i seem to be able to consistently dot it when renaming particular folders.
2. I created the issue the first time i came across it, i had just updated VScode so i thought it was something to do with that and thought you guys should know.

[2020-04-21 14:52] isidorn commented on #88230
Pushed an initial version of this for the "Select and Start Debug" action. Gif attached.
Note the following:
* As agreed we show each dynamic configuration provider once user chooses it we fetch the configurations for that provider (for multi root workspace we call provide for every root)
* We pass the cancelation token, so if the user cancles a long running quick pick the cancelation should be pa

[2020-04-21 14:54] weinand commented on #95108
@RockLife2000 there seems to be a problem with the internal console (debug Console).
Your sample works fine for me if I add a `"console": "integratedTerminal",` to the launch configuration.

[2020-04-21 14:54] Tyriar commented on #95767
Yes aligning with Windows Explorer isn't the goal, making it functionality and as users expect is. Windows Explorer happens to have maintained a tree view for decades so it's a good point of reference.

Finder's behavior: https://github.com/microsoft/vscode/issues/95768#issuecomment-617212952

[2020-04-21 14:56] mayurBharodiya commented on #93555
settings.json

`{
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "typescript.check.npmIsInstalled": false,
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 10000,
    "workbench.colorTheme": "Quiet Light",
    "terminal.integrated.automationShell.windows": "",
    "terminal.integrated.env.windows":

[2020-04-21 15:01] Tyriar opened #95781 "List multi-select does not differentiate between selected and non-selected states"
Repro:

- Navigate the explorer
- Use `toggleSelection` (ctrl+shift+enter) to toggle items, they look the same when toggled on or off

I have toggleSelection bound to ctrl+space in the gif, notice how hover.ts looks the same while selected:

![2bc7562f-7ac4-41b3-b2c5-65d2f48e5f3d](https://user-images.githubusercontent.com/2193314/79881469-14808c00-83a6-11ea-8a5b-43ae6a896c1b.gif)

Windows explorer

[2020-04-21 15:05] Tyriar commented on #93916
@bpasero I think the implicit focus when textbox is focused is a quick pick thing?

[2020-04-21 15:11] connor4312 commented on #88599
I'm working on this now. I have it set so that js-debug sets the environment variables that injects the bootloader to debug processes. Thanks to the work Daniel did, this can be persistent between sessions so that we don't need to activate and inject the variable again each time.

However, we do need the extension to activate when the first Node.js script is run so that we can detect and debug it.

[2020-04-21 15:15] filipmares commented on #95381
Will DM on Teams. :)

[2020-04-21 15:16] alefragnani commented on #94733
Hi @davidbarredo ,

What do you mean about that? Aren’t the bookmarks being displayed in its view anymore? When I detected the issue, the bookmarks remained working, just as before 😕 .

[2020-04-21 15:17] s-kocher commented on #95521
Same problem behind a corporate proxy needing authentication (kerberos but no totally sure about that).
Usually my vscode uses the proxy through http_proxy / https_proxy environment variable and is was working fine (version check / update / extension / ...) until recently (probably because of the last insider version update I installed, i was stuck to 1.45 of 17 april).

I tested to use instead px

[2020-04-21 15:20] Tyriar commented on #91606
Perhaps the next incarnation of this will just allow to override the default handling of folders/files/web links by providing a uri handler? We could then also have multiple actions in the hover as suggested in https://github.com/microsoft/vscode/issues/91290#issuecomment-616684735

[2020-04-21 15:20] s-kocher commented on #94862
Electron v7.2.3 for current vs code version is may be enough (faster than v8 upgrade) ?
https://github.com/electron/electron/releases/tag/v7.2.3
[code]

[2020-04-21 15:21] Tyriar commented on #93555
Does removing `"terminal.integrated.automationShell.windows": ""` fix it?

[2020-04-21 15:22] ExoticMatter opened #95782 "Rust syntax highlighting breaks with raw strings in attributes"
VSCode Version: 1.44.2

When raw string literals that use `##`s appear in attributes in a Rust file, syntax highlighting breaks.

Steps to Reproduce:

1. Copy the following code into a Rust source file:

[code]

You will get something similar to the following:

![Screenshot_20200421_121815](https://user-images.githubusercontent.com/7787686/79883411-43a8f480-83ca-11ea-8d5b-987d33067328.png)

Does t

[2020-04-21 15:24] MarcoZehe opened #95783 "VoiceOver: Braille display does not track when entering text into an editor"
- VSCode Version: 1.45 insiders.
- OS Version: MacOS 10.15.4

Steps to Reproduce:

1. Connect a braille display to a Mac and turn on VoiceOver.
2. Open VS Code and a blank file.
3. Type some text into it.
   * Expected: VoiceOver updates the braille display as you type.
   * Actual: VoiceOver only updates the display once you press the left or right arrow keys.
4. Delete some text.
   * Result: Sa

[2020-04-21 15:25] awto commented on #95541
@isidorn  Thanks! It works.

[2020-04-21 15:28] Tyriar commented on #92615
The "fix" here might be to patiently wait for WSL2 to hit stable Windows like I am.

[2020-04-21 15:40] Kiyos commented on #20026
I am experiencing this behavior using version 1.44.2 on Windows when doing replacements using keyboard-mouse combo, i.e.:
1. Pressing Ctrl+H to bring up the Search/Replace popup window,
2. Pasting a search term into the search field, then clicking the Replace field and pasting the replacement string there,
3. Clicking on the “Replace” mini button to test the replacement before applying it to the w

[2020-04-21 15:42] AnnaLisik commented on #490
Exactly same issue here. I temporarily disabled 2FA in GitHub's account Security tab and it works. Its **workaround** and not fix.

[2020-04-21 15:46] callumdmay commented on #95578
No that didn't fix it. I have a repro between two devices, one running 1.44.2 and one running 1.43.1 and the difference is quite apparent

[2020-04-21 15:50] Sarctiann commented on #92702
Good afternoon, I solved the problem!! Was my connection settings, something with the proxi

Enviado desde mi iPhone

El 21 abr. 2020, a la(s) 12:46, Marco Trevisan <notifications@github.com> escribió:

[2020-04-21 16:00] NightMachinary opened #95784 "Open the documentation (ala `show hover`) in a pane"
I like to be able to see the documentation of the symbol at cursor using a keyboard shortcut. I know of the command `editor.action.showHover`, but I can't scroll that popup's contents using the keyboard. In fact, I prefer to have a documentation pane open at the right side that just shows the docs for anything the cursor is on.

It is also imperative that this pane supports wrapping the text. Inte

[2020-04-21 16:12] weinand commented on #88230
@isidorn I've pushed a small change to mock-debug to return two more launch configs.

[2020-04-21 16:15] egarson opened #95785 "VsCode Variables Fail with Symlinks"
Issue Type: <b>Bug</b>

Add a symlink at top-level to a folder underneath `test/`, for example `test/widget_tests`, and add a file there. So, we have `./test`, `./test/widget_tests` (the real directory) and `./widget_tests` (symlink pointing to `./test/widget_tests`).

Next, add a new .vscode/launch.json configuration that 'uses' the symlinked directory:
[code]
Now, select the widget_test file in

[2020-04-21 16:23] Tyriar opened #95786 "Bot proposal: Generic labeller"
There is currently `/needsMoreInfo` but this bugs me as I add it to saved replies which has a nicely crafted message about needing more information and then the bot comes in with their own generic one. We should solve this problem more generically and just be able to add arbitrary labels to an issue this way.

That way I could do things like this:

[code]

We have some labels that have spaces and

[2020-04-21 16:25] Jawz84 commented on #92149
@bpasero this issue has become part of the following coding challenge: https://www.microsoft.com/en-gb/business/azure/oss/?ocid=AID3010439_TWITTER_oo_spl100001210204923
It might need to be reopened.

[2020-04-21 16:29] DanTup commented on #93991
Is it possible this tooltip could be a bit more detailed than just "Sync: ignored"? A few people have asked my why this is showing up against Dart settings (things like SDK paths) so I don't think it's very clear to the average user what this means (for most, it's not relevant).

[2020-04-21 16:34] 3v1n0 commented on #92702
Looks like something similar to me, but mostly related to some configuration issue.

In fact, using `HOME=/tmp/foobar` to launch the vscode snap works fine, even if I use as user-directory the one in my home and even I've sym-linked my `~/.vscode` to `/tmp/foobar/.vscode`, so nothing in vscode config itself seems to be wrong, but there's some local setting affecting it.

This is weird though, as b

[2020-04-21 16:38] davidbarredo commented on #94733
Yes, I lost both the icon and the functionality 😐

[2020-04-21 16:39] Jawz84 commented on #92149
@bpasero this issue has become part of the following coding challenge: https://www.microsoft.com/en-gb/business/azure/oss/?ocid=AID3010439_TWITTER_oo_spl100001210204923
It might need to be reopened.

[2020-04-21 16:44] Tyriar commented on #95761
I see the more advanced one now after you've signed in, can we only show that when there are accounts already logged in?

[2020-04-21 16:48] #91541 closed

[2020-04-21 16:55] cynecx opened #95787 "Wrong icon for CompletionItemKind (method)"
[code]

Steps to Reproduce:

1. Insert this typescript code in an empty editor:
[code]

2. Try to trigger the auto-completion. Something like this should show up:

![image](https://user-images.githubusercontent.com/5961244/79891383-31967880-8401-11ea-968c-827e764d5be5.png)

Notice how the completion item kind icon is wrong (At least I think it's wrong, I don't remember seeing the "property" icon f

[2020-04-21 16:56] dwighthouse commented on #88779
@mjbvz Since hundreds of issues get opened with the same symptom but different causes, perhaps address the symptom until all possible causes are addressed? Perhaps monitor your own processes and if any process spikes CPU usage at or above 100% for more than 5 seconds, throttle it to 30% or something?

[2020-04-21 17:00] bwateratmsft commented on #95728
@rcjsuen for FYI

[2020-04-21 17:04] sandy081 commented on #95761
When are you seeing this? There is just one picker and it shows all signed in accounts grouped by provider.

[2020-04-21 17:07] sandy081 commented on #95618
I think this is like this to be in consistent with Find widget.

[2020-04-21 17:09] jedsmith commented on #30562
Excited to see this merge. This is the main dealbreaker to a VS Code workflow for Git for me.

Nice work, @JohnnyCrazy.

[2020-04-21 17:13] deepak1556 commented on #92702
@3v1n0 which version of vscode are you seeing the issue with ? And what was the last version you see it working fine ?

The netlog shows you are behind proxy, how are you configuring it for vscode ?

[2020-04-21 17:16] rodrigoqueiroz commented on #45020
+1

[2020-04-21 17:17] deepak1556 commented on #95725
@xiaoouwang what permission was asked ?

[2020-04-21 17:20] sandy081 commented on #95693
@isidorn the alert [here](https://github.com/microsoft/vscode/blob/95f26d2005ea0633aa48832d11e1f37068c4dcdb/src/vs/workbench/contrib/extensions/browser/extensionsViews.ts#L751) is to inform user that

- there are no extensions found or
- there is an error while fetching extensions

I cannot repro the alert happening N times this with the steps mentioned using Voice Over in Mac. Can you please help

[2020-04-21 17:20] alefragnani commented on #94733
Weird!

Are the `Refresh` and `Colapse` buttons still available in the View? Don't the bookmarks appear in the View, when you toggle them in the editor?

I found this issue in 1.44.0 (Stable release), and didn't tested after that (right now we had 1.44.2 in the wild), neither using the Insiders.

[2020-04-21 17:24] davidbarredo commented on #94733
The sidebar was completely empty before the reset view operation

[2020-04-21 17:24] john-aws opened #95788 "Remote Explorer reconnect is problematic"
- VSCode Version: 1.44.2
- OS Version: OS X 10.14.6

Steps to Reproduce:

1. launch Remote Explorer, connect to remote host via SSH
2. make some edits, save them
3. close laptop, come back later (next morning in my case)
4. make more edits to remote files, try to save edits, fail
5. find that you are disconnected with no way to re-connect and avoid losing your edits

The Remote Explorer's SSH Targ

[2020-04-21 17:27] deepak1556 commented on #95521
@s-kocher can you open a new issue with the relevant details, of when did this issue start, what was the last known working version.

Also can you launch code with `--log-net-log=netlog.json` , perform some requests (search extensions, update check) and attach the generated log file in the new issue.

`7.2.3` release has nothing to do with any network related operations, please ignore it.

[2020-04-21 17:29] sandy081 commented on #95705
Yeah we are planning to support moving view containers.  So user can move Remote Explorer completely to panel unless you do not want to. But I do not see a reason why not to.

[2020-04-21 17:36] sandy081 commented on #95071
Does the extension got installed?

Can you please open the log `Toggle Developer Tools` and provide us the console logs?

[2020-04-21 17:39] Merith-TK opened #95789 "AUR Package visual-studio-code-bin leaves residual file at /sbin/code"
- VSCode Version: Uninstalled, AUR
- OS Version: Arch

Steps to Reproduce:

1. Install on arch,
2. run for a little bit
3. uninstall

Does this issue occur when all extensions are disabled?: N/A
`/sbin/code`
[code]

`yay -R code visual-studio-code-bin`
![20200421_10h38m39s_grim](https://user-images.githubusercontent.com/10422110/79895784-4a306f80-83bc-11ea-9d9a-f07ee7ffd4d2.png)

[2020-04-21 17:39] Merith-TK commented on #95789
and i just realized this was installed by vscodium. my bad

[2020-04-21 17:39] #95789 closed

[2020-04-21 17:45] ykfq commented on #95788
Facing same problem on windows 10 with vscode version `1.44.2`.
Downgrade to `1.43.2` and now its working fine.

[2020-04-21 17:53] xiaoouwang commented on #95725
![image](https://user-images.githubusercontent.com/16024291/79897114-85a55b00-8409-11ea-9426-05a44b66ac54.png)

Actually I can replicate it simply by unchecking praat under terminal or iterm. When I uncheckit the command simply does nothing.

Too bad that I can't add manually items in the Automation tab.

[2020-04-21 17:54] Menci commented on #95636
I think electron has the API to copy image to the clipboard.

On Tue, Apr 21, 2020, 14:32 Ilia Pozdnyakov <notifications@github.com>
wrote:

[2020-04-21 17:55] Tyriar commented on #95761
The first screenshot is when you're turning on sync and have no accounts signed in.

[2020-04-21 17:55] sandy081 commented on #95500
Sorry for breaking.

[2020-04-21 17:58] sandy081 commented on #95761
I am asking about the more advanced one you mentioned?

[2020-04-21 18:01] chrisdias commented on #95657
There's no way to have more than 1 extension for an important recommendation that I know of.  That would be a separate issue from updating the files we identify to prompt for the extension.

is it just `**/*.psd1` and `**/*.psm1` or are there more?

[2020-04-21 18:02] sandy081 commented on #95503
There were many DNS configuration issues on user side.

[2020-04-21 18:02] sandy081 commented on #95503
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-04-21 18:03] sandy081 commented on #95484
/duplicate

[2020-04-21 18:03] sandy081 commented on #95484
#90130

[2020-04-21 18:03] #95484 closed

[2020-04-21 18:05] sandy081 commented on #95494
Which codicon shall be used?

[2020-04-21 18:07] sandy081 commented on #94872
@alexr00 Can you please try to repro and see where the unexpected args are coming from?

[2020-04-21 18:08] alefragnani commented on #94733
Ok, but are you saying before you first moved the Bookmarks View to another location, you had bookmarks in the panel, and the “moving” delete them?

[2020-04-21 18:08] isidorn commented on #95783
@marcozehe thanks a lot for filling the issue in Chromium. Let's see what they say.
Does this work fine on Windows (just wondering)?

[2020-04-21 18:08] IllusionMH commented on #95779
Looks like middle ground and place where logic is missing is https://github.com/microsoft/vscode/blob/652bd167ef6a828303e72b8c84f96b3ba1ee5edd/src/vs/workbench/contrib/search/common/searchModel.ts#L580-L595

This one always receives `FileMatch` and can only calculate if whole file was added/removed, but doesn't know if it was "updated" therefore won't be handled later
https://github.com/microsoft/

[2020-04-21 18:10] sandy081 commented on #95157
Thanks for the logs. Will investigate and get back to you.

[2020-04-21 18:12] dropsonic commented on #40115
Any updates with this issue?
#45149 that is closed as a duplicate is very annoying. For example, when typing in JavaScript and going to the new line after the curly braces, the cursor is at the beginning of the new line instead of being properly indented.

[2020-04-21 18:13] davidbarredo commented on #94733
It happened in an empty project without any bookmarks.

The problem is everything within the extension disappeared after moving it

[2020-04-21 18:15] sandy081 commented on #40233
Thanks all for your opinions and they really help. Will go through them again and consolidate and reiterate.

[2020-04-21 18:16] MarcoZehe commented on #95783
Yes, this is a Mac-specific issue. Windows works fine.

[2020-04-21 18:19] cynecx commented on #95787
Nvm, it seems that the master branch already has a fix.

[2020-04-21 18:19] #95787 closed

[2020-04-21 18:20] isidorn commented on #88230
I have pushed support to also show dynamic providers in the debug dropdown.
For now I decded to use the "LABEL..." as the label. The ... at the end to make it distinguishable and that the user is aware that an additional dialog will follow. Also there is a separator.
Note that I do not use a separator between the launch configurations and a

Try it out and let me know how it behaves for you.
Since

[2020-04-21 18:21] nrayburn-tech opened #95790 "Clone Repository - Repository does not exist error"
Issue Type: <b>Bug</b>

I am attempting to clone a repository from inside of the explorer, but receive a fatal git error.
[code]
1. Open new editor without a workspace/folder
2. Open the command palette, use Git: Clone.
3. Enter URL for repo. `https://github.com/microsoft/vscode.git`
4. Browse to folder location to create the repo.
5. Click `Select Repository Location`.
6. Error is thrown.

VS Cod

[2020-04-21 18:21] isidorn commented on #92149
This is fixed now. The authors of that challenge should only look at open help wanted issues. Thanks

[2020-04-21 18:23] Kiyos commented on #84956
Having the same issue here. Version 1.44.2 x64 (user setup) on Windows. Here’s a quick video demonstration:
![VSCodeFindWidgetEmptyLine](https://user-images.githubusercontent.com/5103155/79899935-29950380-8416-11ea-8239-59e3291b33c6.gif)
By the way, this search bar is called Find Widget.

[2020-04-21 18:31] akash07k commented on #95225
Thanks @isidorn for this.
Actually, I'd be very happy if the problems with indentation levels will be fixed from freedom  scientific side.
Also, I've observed, that JAWS sometimes responds little slower inside command pallat.

[2020-04-21 18:36] amelio-vazquez-reina commented on #95157
Excellent. Thanks @sandy081 !

[2020-04-21 18:38] rkeithhill commented on #95657
The primary file types that contain code are: `**/*.ps1`, `**/*.psd1` and `**/*.psm1`.  There are a few more "auxiliary" file types used by PowerShell but they are configuration files (not code) - one is XML file `*.ps1xm1` and another is a console config file `*.psc1` but I don't "think" we want to map them to the PowerShell extension since it doesn't provide any specific features for these two f

[2020-04-21 18:38] deepak1556 commented on #95725
Thanks, this is not possible to workaround at the moment, the work done for https://github.com/microsoft/vscode/issues/95062#issuecomment-614246634 should help this one too.

[2020-04-21 18:39] adrianord commented on #92615
@Tyriar Haha, sorry for the mix up in terminology. I'll try to remember to call it Remote WSL.

I'm in the Windows Insider program and was able to test out the WSL Remote in WSL2, it all seems to work as expected and pretty smoothly even editing on /mnt/c which isn't its strong suit (https://github.com/microsoft/WSL/issues/4197).

I've been holding off on switching to WSL2 till it has a stable rel

[2020-04-21 18:39] Tyriar commented on #95761
![image](https://user-images.githubusercontent.com/2193314/79901516-ca5ad300-83c4-11ea-8bea-f2361ef9b402.png)

[2020-04-21 18:43] antfu opened #95791 "Codicons inside Markdown Table not rendered"
Version: 1.45.0-insider
Commit: 6e9a34c0de4181a99f11e106733ee3e8c9db79f1
Date: 2020-04-16T05:41:45.257Z
Electron: 7.2.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

----

Steps to Reproduce:

1. Use [setDecorations](https://code.visualstudio.com/api/references/vscode-api#DecorationOptions) API in extension
2. Set hoverMessage as below with `supportThemeIco

[2020-04-21 18:44] JacksonKearl opened #95792 "translation-required-undefined label sometimes added"
#95320

[2020-04-21 18:49] alefragnani commented on #94733
Wow, better this way 😌

It may be fixed when the VS Code team revisit this feature.

[2020-04-21 18:49] GalacticLion7 commented on #70764
To be fair, if we don't get any response from the developers, then the best thing to do is to just move on. We've seen enough reluctancy here. Though I would still prefer a VS Code, you can use a variety of languages with Xcode, even though it isn't perfect. Keep in mind that it's iPadOS.

[2020-04-21 18:53] J131-dev opened #95793 "theme gray space in editor"
Issue Type: <b>Bug</b>

In the editor window there are light areas around (and under) the code lines, except where the line highlighter is.  Around the highlighter there is a chunk of ~9 lines that are the same color as the theme's background color.

This happens in all pre-installed themes except for the high contrast.

I am unsure how to reproduce this, other than maybe it is due to a high displ

[2020-04-21 18:53] sbatten commented on #95746
@akanz1 can you provide a screen shot and information about what tests you are running? It sounds like this is an extension that you have installed, but I am not sure.

[2020-04-21 18:54] rjmholt commented on #95657
CDXML and PS1XML are definitely primarily XML files. I don't know anything about PSC1 files. I can't think of any other file extensions though.

[2020-04-21 18:55] sbatten commented on #95748
As @IllusionMH has mentioned, Peacock is a very popular extension used for automating the solutions also listed above.

[2020-04-21 18:55] #95748 closed

[2020-04-21 18:56] CodeMouse92 commented on #95459
@Tyriar @joaomoreno YES! That's indeed it!! I just checked on my system, and *the `.desktop` files are not marked as executable!*

That means, to resolve both this and #71942, you must:

1. Reverse the original workaround; go back to using `Icon=com.visualstudio.code` in the `code.desktop` file.

2. After placing `code.desktop` and `code-url-handler.desktop` in `/usr/share/applications`, they must

[2020-04-21 18:58] isidorn commented on #95541
Thanks for letting us know. Adding verified label.

[2020-04-21 18:59] #95753 closed

[2020-04-21 19:02] AbdallahKhaled93 opened #95794 "VS code does not detect keyboard language change"
- VSCode Version: 1.44.2
- OS Version:Linux x64 4.15.0-72-generic

Steps to Reproduce:

1. Open VS Code while the keyboard language is French
2. Change the keyboard language to English
3. Try typing

Expectation :
the vs code detects that the keyboard is changed and it respects the current keyboard layout

Observation :
the vs code does not detect the change, it uses the layout of the french keybo

[2020-04-21 19:02] sean-mcmanus commented on #95726
The debugger logs in my original post have the name, e.g. {"stackFrames":[{"id":1020,"name":"ntdll.dll!_NtWaitForMultipleObjects@20\u001E()","line":0,"column":0,"instructionPointerReference":"0x00000000776023CC","moduleId":"{5517231C-F88D-4EC1-A8EF-68FF5116C6D2}"} is one example. The name is the module!function of the call stack frame that I want copied.

I debugged it. The toString is never calle

[2020-04-21 19:04] #95794 closed

[2020-04-21 19:06] isidorn commented on #95693
@sandy081 ok makes sense.
As for the N times you can no longer repro out of source due to my commit 9f709d170b06e991502153f281ec3c012add2e42

So either revert that commit or take insiders which does not have it.
Turn on VoiceOver, type in the extensions view slowly and you will notice that sooner or later he will say something like "46 extensions found (occured again)"
I always repro for the follo

[2020-04-21 19:07] #95765 closed

[2020-04-21 19:07] mjbvz commented on #95734
/needsMoreInfo

[2020-04-21 19:08] mjbvz commented on #95734
Please fill out the issue template and be sure to test with extensions disabled

[2020-04-21 19:10] sbatten commented on #95772
@ghostrib can you run `Developer: Toggle Developer Tools` and share any errors in the console?

[2020-04-21 19:12] deepak1556 commented on #95764
This seems like a system wide install of electron, how is code installed ?

The log shows `code-oss` are you running code built from the source tree ?

What is the output of `code --verbose` ?

[2020-04-21 19:13] chrisdias commented on #95745
this is an issue on the c++ extension https://github.com/microsoft/vscode-cpptools

[2020-04-21 19:13] bkniffler commented on #70764
@GalacticLion7 Do you really think people will change the languages they worked hard on mastering for years just because their favorite dev environment doesn't support their favorite device? I surely won't. I think all of this discussion, while it shows what people imagine they'd love to do, lacks empirical evidence. The iPad, that just now added real mouse support, just isn't proven to be a produ

[2020-04-21 19:14] roblourens commented on #95618
He's asking about why the when clause is different between toggleSearchWholeWord and toggleSearchCaseSensitive - the find widget equivalent commands aren't different.

[2020-04-21 19:19] sbatten commented on #95774
Can you share repro steps?

[2020-04-21 19:30] rkeithhill commented on #95657
Turns out PSC1 is also an XML file (see Export-Console command in v5 - not brought to core).  So yeah, think the file types should be `**/*.ps1`, `**/*.psd1` and `**/*.psm1` and NOT `**/.ps`.  @chrisdias do you want to update the file extension list or would you like me to submit a PR for that?

[2020-04-21 19:35] sbatten commented on #95793
if you run vs code (close all instances first) with `code --user-data-dir newFolder` where `newFolder` is an empty folder, does this reproduce?

[2020-04-21 19:41] sbatten commented on #94733
With current insiders, I have the bookmarks extension installed and can move it around and reset without losing functionality. You must still use the reset view location to regain the icon from the bookmarks extension after it has been moved. We are still looking into preserving the icon when we can.

[2020-04-21 19:42] matklad opened #95796 "Breadcrumbs are poorly legible if editor tabs are disabled"
Version: 1.44.1
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-13T14:40:29.529Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.33

Steps to Reproduce:

1. Open a file in a language which provides hierarchical document symbols
2. Note how breadcrumbs at the top look like
3. Set `"workbench.editor.showTabs": false,`
4. Note how brea

[2020-04-21 19:45] #95749 closed

[2020-04-21 19:48] Tyriar commented on #95776
Can you try reproduce this in [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701) and report to [microsoft/terminal](https://github.com/microsoft/terminal) with repro steps if it happens?

Also make sure the Windows Enable Conpty setting is set to true.

[2020-04-21 19:54] jvesouza commented on #93438
@isidorn  @joanmarie  I believe I have encountered a problem with this feature.
My java code has the following line:
String atr = atrs.nextElement()

This line of code should end with a semicolon, but I deliberately omitted it to cause a syntax error in my code.

When I focus on problem view and scroll  in the list of erros I find the following message:
Syntax error, insert ";" to complete BlockSt

[2020-04-21 20:03] deepak1556 commented on #95770
Can you provide a bit more info,

1) Did this appear only with `1.44.2`, was it working before ?

2) Does the issue repro with hw acceleration disabled https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration

3) Can you also try our exploration build https://github.com/microsoft/vscode/issues/94074#issuecomment-607079209 and see if the issue repros.

4) Please a attach a video demo s

[2020-04-21 20:07] vegerot commented on #20889
@amelio-vazquez-reina thanks.  Really wanting this feature

[2020-04-21 20:12] badsyntax opened #96090 "Extension not deactivating after tests are run"
Hi. It appears the extension is not deactivating after tests are run. This could imply context subscriptions are also not dispose'd. This could lead to really unexpected results when running tests in CI environments.

Reproduction steps:

1. `git clone https://github.com/microsoft/vscode-test.git`
2. `cd vscode-test`
3. `npm i`
4. `cd sample`
5. `npm i`
6. `code .`
7. Make the following changes to

[2020-04-21 20:16] chavlji opened #95798 "Undo cursor - Cursor history lost after any editing"
- VSCode Version: 1.45.0-insider
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

1. Open some file, click on a few different places - try `undo cursor` - works as expected
2. Open some file, click on a few different places, press 'abc' to edit the file - try `undo cursor` - nothing happens. Cursor history is lost! Why?!

History is also lost on character delete, paste,... any kind of editing

[2020-04-21 20:16] weinand commented on #88599
@connor4312 overall the approach sounds good to me.

What I could not clearly see in your summary is what happens for users that currently have auto-attach on. Are they transparently "migrated" to the new Node.js debug terminal?

[2020-04-21 20:16] chavlji commented on #95798
vscodebot that's not it...

[2020-04-21 20:19] liy-che commented on #92846
Right now I'm passing in a default 'false' for experimentalDecorators in the initial configuration and passing the settings into getJavascriptMode.doValidation to update compilerOptions and calling ts.createLanguageService(host) every time doValidation is invoked. It has the expected behavior, but is there a better way to update the compiler options without creating the service every time it runs

[2020-04-21 20:25] connor4312 commented on #88599
They would be transparently migrated to the 'new' terminal/strategy once they turn the `debug.node.useV3` or `debug.javascript.usePreview` flag. We could alternately or also have a separate flag for this, I don't feel strongly: with those flags on, node attachments will already redirect to V3 by default, a flag would effectively only toggle the attachment strategy.

[2020-04-21 20:31] mjbvz commented on #95636
Can you use a dom api inside the webview itself for this?

[2020-04-21 20:36] tjanga commented on #93973
Just installed Tuesday's update:

Version: 1.45.0-insider (system setup)
Commit: b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094
Date: 2020-04-21T05:41:11.873Z
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Problem still exists.

[2020-04-21 20:40] weinand commented on #88599
Sounds perfect.

[2020-04-21 20:40] IllusionMH commented on #95793
Do you have HDR enabled?
Looks very similar to #93338.

You can try if it's fixed if you launch VS Code with next flags `--force-color-profile srgb` or`--disable-gpu`

[2020-04-21 20:42] mjbvz commented on #94637
We also just decided to finalize it this iteration. @dbaeumer Can you please follow up for the language server?

[2020-04-21 20:42] #94637 closed

[2020-04-21 20:50] alefragnani commented on #94733
I think the problem with the current approach of moveable panels is that extensions today, only define an `icon` to the Activity Bar, not the View itself. Then, when you move one of its views, VS Code don’t know its icon. Then, when it returns to the Activity Bar, VS Code thinks its empty (because it only expected Panels doing so) and display that default icon.

I see two options to fix this issue

[2020-04-21 20:53] #95702 closed

[2020-04-21 21:02] joanmarie commented on #93438
@isidorn: Looks like syntax errors probably should also be contained in the ARIA `code` role.

Thoughts?

[2020-04-21 21:02] sandric commented on #16927
I looked a bit, it turns out its that line, so its always minimum 220px apparently:

https://github.com/microsoft/vscode/blob/f8432f8d9c1b1edd48e2b97d554e343f008e215c/src/vs/workbench/browser/parts/editor/editor.ts#L24

@joaomoreno is there any chance that can be moved to settings in future sprints, since many people asking about it here? Say `Editor min width`, `Editor min height`, `Editor max wi

[2020-04-21 21:04] xiaoouwang commented on #95725
tks, I finally use sudo code to launch vscode and the command works. It's a "dangerous" workaround but better than nothing.

[2020-04-21 21:05] JacksonKearl commented on #95420
Discussing options for the future in #89353

[2020-04-21 21:05] #95420 closed

[2020-04-21 21:06] JacksonKearl commented on #91901
I think the dirty case is rare enough that requiring an extra `enter` to run the search is okay, compared to the potential annoyance of configuring the setting by mistake and losing your modifications.

[2020-04-21 21:14] chrisdias commented on #95657
i'll do it, no need for a pr.

[2020-04-21 21:19] connor4312 commented on #46696
Small thing: it would be nice to be able to accept the environment variable changes by clicking on the ⚠️ icon. I've tried to do that a few times automatically before remembering I need to go to the link inside the tooltip.

[2020-04-21 21:21] Tyriar commented on #46696
@connor4312 accept as in relaunch the terminal? It's could lose work though

[2020-04-21 21:22] rebornix commented on #95662
@lostintangent you are correct that Run/Edit buttons should not be displayed when the metadata says `non-runnable/non-editable`

[2020-04-21 21:25] rebornix commented on #94408
This one is an internal one for now but I've heard that @mjbvz is making a generic public command to open a resource with a specific "custom editor"

[2020-04-21 21:25] Tyriar commented on #46696
Also right now click events go through to the terminal, so mouse events still work there even if the info/warning icon is visible.

[2020-04-21 21:27] XeonG commented on #41309
They've only just added mousewheel support for the tabbar... at somepoint they might make it possible to have a multiline tabbar and i'll finally be able to see more than less than 10~ tab documents on the tabbar... it's not like they bother to provide a dropmenu button that shows all the tab documents either... instead you have to have the explorer sidebar opened and in view to see more documents

[2020-04-21 21:27] rebornix commented on #93265
@sguillia the current UX for the native notebook will be a list of cells, or in your words, one cell below the other.

[2020-04-21 21:29] amelio-vazquez-reina opened #95799 "Commands for terminal control in the debugger"
Issue Type: <b>Feature Request</b>

It would be great to be able to send commands to the debugger console similar to those supported by any other first class terminal:

Most notably things I see missing:

* Go back/forward in the command history (e.g. `Ctrl+p` / `Ctrl+n`)
* History search based on partial matches, e.g. as with `readline` in the shell, see e.g. [this](https://askubuntu.com/question

[2020-04-21 21:32] amelio-vazquez-reina commented on #95395
Thanks, for reference for anyone else hitting this problem, I left this question also in Stackoverflow [here](https://stackoverflow.com/questions/61200442/sending-code-snippets-to-the-debug-console-interpreter), and the problem remains unsolved for me.

[2020-04-21 21:32] ChrisPapp commented on #95385
Hello @joaomoreno,
How about I combine the two requests, and make it into an array where the order of the choices matters? However, since it's an array, it will be updatable through JSON only.

[2020-04-21 21:34] jakebailey commented on #94673
The above commit appears to have closed this issue rather than #94637 (which appears to be a typo in the last two digits).

[2020-04-21 21:37] mjbvz commented on #94673
Closing this as more information is needed however :)

[2020-04-21 21:37] #94673 closed

[2020-04-21 21:43] awto opened #95800 "DAP Progress Indicator isn't removed on a failed launch request"
- VSCode Version: 1.45.0-insider
Commit: b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094
Date: 2020-04-21T05:38:43.781Z
- OS Version: OSX

Steps to Reproduce:

1. Clone https://github.com/awto/vscode-mock-debug.git
2. Run it as an extension, and launch some demo project
3. It supposed to report "the problem" on launch and the launch is aborted
4. But the progress indicator is kept running

Here is the co

[2020-04-21 21:45] mjbvz commented on #94408
70a890efb6601c04e5235b06e537bdf47d85281d make the `vscode.openWith` command support other editor types besides custom editors

[2020-04-21 21:46] chrisckc opened #95801 "High CPU / maxed out / VSCode not responding after new install of VSCode on new Mac running OSX Catalina 10.15.4"
Issue Type: <b>Performance Issue</b>

VSCode not responding about 20 mins after launching, brand new install, no extensions, no activity, nothing loaded other than settings.json

This is on a new macbook pro 16inch, nothing has been installed yet other than Homebrew, python, git, iTerm2

To reproduce:
Install Latest VSCode on OSX Catalina 10.15.4, open the settings page and also the settings.json,

[2020-04-21 21:47] lostintangent commented on #95662
@rebornix OK cool, thanks for confirming that! I'm loving the new notebook experience BTW. So beautiful 😄

[2020-04-21 21:55] gaberm commented on #95764
I'm running aur package build.

#code --verbose
(electron) 'setName function' is deprecated and will be removed. Please use
'name property' instead.
[main 2020-04-21T21:53:59.071Z] Sending env to running instance...
[main 2020-04-21T21:53:59.247Z] Sent env to running instance. Terminating...
[main 2020-04-21T21:53:59.248Z] Lifecycle#kill()

On Tue, Apr 21, 2020 at 9:12 PM Robo <notifications@githu

[2020-04-21 21:59] chrisckc commented on #88779
I don't think its always related to extensions, it has just happened to me about 20 mins after installing and launching VSCode on a new MBP 16 inch, it was just sat there at the settings page, had not even been used yet, nothing open, no extensions added, nothing, i just came back to notice the fans at full speed and the usual suspect (Code Helper) maxing out the CPU along with electron helper.

H

[2020-04-21 22:04] chrisckc commented on #95801
Ill run `code -status` next time this happens, that will show the process info.

[2020-04-21 22:05] clabough commented on #95385
Could be a text box with comma-separated values of Local,Remote,Tags and the order they're listed matters. To not show one, just remove it from the list.

[2020-04-21 22:09] VitamintK commented on #91314
🥺

[2020-04-21 22:11] Tyriar commented on #95570
Another idea: Announce to screen readers how many rows were travelled.

[2020-04-21 22:19] amelio-vazquez-reina opened #95802 "workbench.action.terminal.deleteWordRight not found"
Issue Type: <b>Bug</b>

Just run into this problem today after upgrading to the latest insiders version. See the screenshot below.

![image](https://user-images.githubusercontent.com/1993919/79919538-9c918080-83fc-11ea-871d-b68d466c34c7.png)

VS Code version: Code - Insiders 1.45.0-insider (b83339a3a7bd8e3ec8a8b79deda9c37e0d91f094, 2020-04-21T05:38:43.781Z)
OS version: Darwin x64 19.4.0

<details>

[2020-04-21 22:29] onyekaa commented on #93892
Tried this out for the first time today, can verify that certain results didn't render completely.  It worked for the queries, but I had to click away to another tab then come back for the Markdown to be rendered, no reopening.  Unfortunately this also cleared my query cells. These was brought back by reopening the file.

[2020-04-21 22:39] BigMorty commented on #89243
This is a feature we would really like to use in the Docker extension!

[2020-04-21 22:52] firelizzard18 commented on #40233
My initial proposal was very simple: read `settings.*.json` in addition to `settings.json`, from `${workspaceRoot}/.vscode`. I did not and do not expect VSCode to look in and subdirectories for settings files. This entirely circumvents the issue of scanning subdirectories.

My opinions about `.gitignore` changes have been expressed thoroughly by others, but I will point out that adding a single en

[2020-04-21 22:53] misolori commented on #95494
We have that icon as `beaker` in codicons:

![image](https://user-images.githubusercontent.com/35271042/79922095-2a16a580-83e8-11ea-9734-cc5bc565bb88.png)

[2020-04-21 23:03] daltschu22 opened #95803 "Terminal window will not grow beyond 4 lines (height) in Live Share session"
- VSCode Version: 1.44.2
- OS Version: Windows 10 (Version 2004)

Steps to Reproduce:

1. Start a live share collaboration session.
2. Join the newly created live share session.
3. As an attendee (not the host) request control of the terminal.
4. Attempt to grow the terminal in height beyond 4 lines.
5. The window itself will grow, but the actual number of lines on screen do not.

Does this issue

[2020-04-21 23:08] misolori opened #95804 "Settings Sync: use profile avatar"
![image](https://user-images.githubusercontent.com/35271042/79923209-f177cb80-83e9-11ea-8ed2-241fc15627f8.png)

I would really love it if Settings Sync used my profile avatar from the account that I've logged in as. If there are multiple, default to the one that sync is connected to. If there is no avatar, use the default icon we use today. Also allow for the user to select their avatar if there a

[2020-04-21 23:17] Mgarzag opened #95806 "Running functions"
I am trying to run some functions on my file titled main.js in Visual Studio Code, but it doesn't work and a window keeps opening saying Cannot find runtime node on PATH. This performance issue happened on April 20, 2020. It occurs after a specific series of actions.

[2020-04-21 23:20] connor4312 commented on #46696
Yea. It is dangerous but it's not an area I click very often, so I would feel safe that I wouldn't accidentally click it. The ⚠️ state is also not one that users should want to stay in for very long.

---

When implementing auto-attach using this API I ran into some awkwardness from the fact that the debug-auto-launch extension couldn't read the environment variables that js-debug had exposed. Som

[2020-04-21 23:20] zmp2000 commented on #79504
This would help a lot to track performance of application and detecting problems!

[2020-04-21 23:25] connor4312 commented on #95777
Thanks for the issue, can you try out [our new debugger](https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-debug-nightly) and see if it fixes this for you?

[2020-04-21 23:27] #95806 closed

[2020-04-21 23:34] amelio-vazquez-reina commented on #95395
Interestingly this started working today again after upgrading to the latest insiders 🤷‍♂️ Closing for now :) Thanks again.

[2020-04-21 23:34] #95395 closed

[2020-04-21 23:47] Tyriar commented on #46696
Just had a discussion about this, it will probably eventually move into the the terminal tab https://github.com/microsoft/vscode/issues/10546 near the x

[2020-04-21 23:48] mjbvz commented on #95624
The VS Code behavior has not changed recently but something about your project structure may have changed. Two quick ways you could look into that should support intellisense:

- `tsconfig.json` — Generic tsconfig used for editor, should include all TS files (both test and project files)
- `configs/tsconfig_base` — Same as today
- `tsconfig.source.json` — Used to compile project
- `tsconfig.seleni

[2020-04-21 23:50] Tyriar commented on #46696
@connor4312 can js-debug depend on debug-auto-launch and the environment contribution is done by debug-auto-launch?

[2020-04-21 23:52] Tyriar commented on #95804
I have mixed feeling about this. I brought it up in a UX meeting months ago and if I remember right there was some negativity to the idea.

[2020-04-22 00:02] mjbvz commented on #81832
@rebornix I believe this will also apply to notebooks. I'll let you know what I come up with

[2020-04-22 00:03] sierisimo commented on #95734
I'll try to provide more info based on the templates and docs but I created this issue from the `Help -> Report Issue`

So, I wasn't aware on the template or format coming from that window.

[2020-04-22 00:03] #95734 closed

[2020-04-22 00:17] homestar9 opened #95808 "Restart to Update Does not Update (Windows 10)"
I receive a notification to "restart visual studio code to apply the latest update", however after I click "update now" and VS Code restarts, I am prompted with the same notification.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryz

[2020-04-22 00:20] Zorono commented on #95427
those problems happens with me too...

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:33:57.013Z)
OS version: Windows_NT ia32 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3230M CPU @ 2.60GHz (4 x 2594)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseli

[2020-04-22 00:28] alexreg commented on #40233
Thanks @sandy081, that's good to hear. Appreciate you being open-minded about this and engaging with all of us users!

[2020-04-22 00:30] phaseOne opened #95809 ""Unable to resolve workspace folder" for path that includes ~ (tilde)"
Issue Type: <b>Bug</b>

This is a regression from somewhere around the last release. Just noticed it after the latest update.

# Steps to reproduce

1. Create a `.code-workspace` file in `~/Documents`. Add paths that use the `~` (tilde) to reference the `$HOME` folder, e.g. `~/demorepo1`
2. Open the Workspace
3. Watch as the workspace folders fail to resolve

<img width="961" alt="Screen Shot 2020

[2020-04-22 00:30] Zorono commented on #95427
My `Dev Tools -> Network`
![image](https://user-images.githubusercontent.com/19735243/79927720-eac87300-8440-11ea-958e-498c8ede8482.png)

My ISP's DNS servers
[code]

[2020-04-22 00:39] jvesouza commented on #95784
@NightMachinary I don't know if you use a screen reader, and if you do, I don't know which one, but if I understood correctly, recently something similar to what you describe was implemented in Orca. I press ctrl + k ctrl + i with the cursor on the desired element and the documentation appears. I can use the arrows to browse the documentation.
Please excuse me if I have the wrong understanding.

[2020-04-22 00:46] inferiorhumanorgans opened #95810 "VSCode locks git index"
- VSCode Version: 1.43.2
- OS Version: Darwin 18.7.0 Darwin Kernel Version 18.7.0: Mon Feb 10 21:08:45 PST 2020; root:xnu-4903.278.28~1/RELEASE_X86_64 x86_64 i386

Steps to Reproduce:

1. Open workspace (in this case a LaTeX project)
2. Attempt to run `git add` from a separate terminal window.

Result:

`fatal: Unable to write new index file`

Solution:

Close VSCode.

[2020-04-22 00:55] DeanRoddey commented on #95580
OK, I posted over there, and linked them to this one for background.

[2020-04-22 01:02] PanEric opened #95812 "High cpu usage during search"
Issue Type: <b>Bug</b>

After updating to the latest version, perform Ctrl + F to search, and the computer cup is full

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8300H CPU @ 2.30GHz (8 x 2304)|
|GPU Status|2d_canv

[2020-04-22 01:18] Tyriar opened #95813 "experimentalWebgl renderer text is off-center"
Moving the webgl portion from https://github.com/microsoft/vscode/issues/84432 to here

![image](https://user-images.githubusercontent.com/2193314/79930075-681dc480-83fc-11ea-91ab-37e36e374897.png)
![image](https://user-images.githubusercontent.com/2193314/79930090-6fdd6900-83fc-11ea-8152-966b53691821.png)

[2020-04-22 01:19] Tyriar commented on #84432
Moving the webgl part to https://github.com/microsoft/vscode/issues/95813. The textBaseline middle broken thing (this issue) is blocked on Chromium, but they say the font metrics have problems?

[2020-04-22 01:20] doudou opened #95814 "No way to come back from "Show all tasks" in task quick pick"
Issue Type: <b>Bug</b>

- open the task quick pick
- select "show all tasks"

There are no entries to go back. Moreover, closing and re-opening the dialog still shows the whole task list sorted alphabetically (last used entry is not first)

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 5.0.0-38-generic

<details>
<summary>Sy

[2020-04-22 01:23] connor4312 commented on #46696
The difficulty there is that the environment variables must be unset when the extension is uninstalled or updated, otherwise NODE_OPTIONS will --require a file that doesn't exist and fail any `node` commands.

[2020-04-22 01:44] keelung-yang commented on #94862
@chrmarti FYI.
[netlog.json.log](https://github.com/microsoft/vscode/files/4513355/netlog.json.log)

[code]