[2016-03-17 17:48] Tyriar commented on #4252
Sounds good, I just put the docs PR up https://github.com/Microsoft/vscode-docs/pull/237.

[2016-03-17 17:51] bpasero commented on #4252
:+1:

[2016-03-17 17:52] rhires opened #4379 "Markdown internal links within the page in preview mode are dead"
- VSCode Version: 0.10.11
- OS Version:Win 10

Steps to Reproduce:

1. Link in markdown within the same page: `[Internal link](#TestLink)`
2. Header later in the same document: `####Test Link Heading <a name="TestLink"></a>`

I've tried option 2 with id instead of name, but no difference. The item looks like a link, and it changes my cursor to the little hand to click on the link, but the link is

[2016-03-17 17:59] Tyriar commented on #3989
Related https://github.com/Microsoft/vscode/issues/726

[2016-03-17 18:34] v-pavanp commented on #4051
I verified it with the latest build and not able to repro now. I will verify it again sometime later with different options and settings and will update if I am able to repro. But for now we are good as after closing the window it is cleaning up properly and I could see no active instance or background process left in the task manager.

[2016-03-17 18:43] stkb commented on #4353
@tht13 You can use the [Open in User-defined Console](https://marketplace.visualstudio.com/items?itemName=vilicvane.console) extension

[2016-03-17 18:43] Raab70 commented on #206
+1

[2016-03-17 18:45] Tyriar commented on #4379
The `localhref` attribute in the generated markdown seems to do nothing. Changing it to `href` works but also breaks vscode's viewport when clicked.

[2016-03-17 19:00] vsccarl opened #4380 "[Themes] Predawn Markdown theme is all red text"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Install Predawn theme
2. Change theme to Predawn Markdown

Actual: All text is red for any language type

Expected: Not entirely sure, but I would expect there to be some color differences. There is no documentation I could find on what to expect with this theme.

[2016-03-17 19:02] felixfbecker commented on #4353
@stkb that doesn't apply to right click > open command prompt here though

[2016-03-17 19:03] vsccarl opened #4381 "[Themes] Should return to default theme to after uninstalling the current theme"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Install a theme
2. Switch to the installed theme
3. Uninstall the current theme package

Actual:
Defaults to no theme.

Expected:
Return to default VS Code theme (Dark+)

[2016-03-17 19:06] gwynjudd commented on #508
@bpasero still got the same crash overnight with the march insiders build. Do you want me to to try getting a heap dump from the developer tools during normal use? I can try to keep an eye on the memory usage for code and grab a dump if it appears to be going up

[2016-03-17 19:08] Tyriar commented on #4380
This issue was moved to Microsoft/vscode-themes#7

[2016-03-17 19:08] #4380 closed

[2016-03-17 19:08] Tyriar commented on #4380
Moved to https://github.com/Microsoft/vscode-themes/issues/7

[2016-03-17 19:11] stkb commented on #4353
@felixfbecker That's true, but I was only replying to tht13 about his original request regarding the `ctrl+shift+c` shortcut.

Though if they implement the choice for the right-click menu they should do it for `ctrl+shift+c` action too, of course.

[2016-03-17 19:21] bpasero commented on #508
Yes please, thanks.

[2016-03-17 19:33] stasku opened #4382 ""Copy" as in Copy/Paste works intermittently from editor screen"
- VSCode Version: Monaco bits used by extensions in Azure Portal at https://portal.azure.com
- OS Version: Windows 10

Originally reported by customers of Azure Automation extension of Azure Portal here: https://feedback.azure.com/forums/246290/suggestions/12269811

Steps to Reproduce (as stated by customers):
(User 1)
When trying to copy paste data, the copy works intermittently at best. I have n

[2016-03-17 19:34] Tyriar opened #4383 "Diff view becomes misaligned wordwrap is turned on"
#4006

The numbers become misaligned when word wrap is toggled (<kbd>alt</kbd>+<kbd>z</kbd>).

![image](https://cloud.githubusercontent.com/assets/2193314/13858565/75489600-ec3c-11e5-86b1-6e52c3ea5216.png)

[2016-03-17 19:35] eliashdezr commented on #2041
Is there a way to turn off localization? I want the editor to be always on English.

[2016-03-17 19:37] dbaeumer commented on #3797
@alexandrudima it should be fixed and @jrieken and I tested it (I updated the tsserver to 1.8.9 today). But it looks like not all cases are fixed. I opt for opening a issue against TS.

[2016-03-17 19:38] stasku commented on #4382
Hi, I have requested Portal team to switch to latest vscode bits, but could you in the meantime check and confirm if this issue is already fixed?
Thanks!

[2016-03-17 19:39] feelthescintillation opened #4384 "Failed to set Path Error"
- VSCode Version:0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. InstalL

2. Open VSCode
![capture](https://cloud.githubusercontent.com/assets/4103618/13858754/667f969a-ec56-11e5-95ae-e1395ea7f3b7.PNG)

[2016-03-17 19:46] dbaeumer commented on #3958
@bill-mybiz I was busy today doing a lot of other fixes but I will spent some time tomorrow trying to reproduce and understand this. A couple of comments:

- the node version installed on your system doesn't have an impact on the performance of the tsserver. The reason being that we use the 'electron' version we ship with (which is node as well) to run the tsserver
- the tsserver very aggressive c

[2016-03-17 19:51] stkb commented on #810
Just came across this problem myself and found this issue.

I agree with @lukehoban that all commands contributed by an extension, should be added as activation events for that extension automatically. Don't really understand how it's "inconsistent and confusing" not to.

The alternative, as it is now, is that the extension author can forget to add commands as activation events (easily done with m

[2016-03-17 19:55] bgashler1 opened #4385 "High-contrast theme should be default when OS is in High-Contrast Mode"
If a user's OS is in high-contrast mode, then it's important we can default him/her to the high-contrast theme.  Depending on visual acuity, switching to it could be difficult if she/he is not already in it.

For example, Chromium detects if Windows is in high-contrast mode (maybe we can learn from their way of doing it).  Perhaps, this is partly something we need Electron to adopt.

[2016-03-17 19:59] dbaeumer commented on #3958
@bill-mybiz since the steps are easy I did some testing with the try catch snippet / code complete but I am not able to reproduce. Here is how my sytem behaves.

![bug](https://cloud.githubusercontent.com/assets/1931590/13859192/91709210-ec82-11e5-992a-96118d826498.gif)

Would you be able to install a process monitor tool on your system (like Process Hacker) and see which of the vscode processes h

[2016-03-17 20:20] bgashler1 commented on #2041
@eliashdezr: yes, there will be a setting or command that you can run that will let you turn off localization.

[2016-03-17 20:45] tomitrescak commented on #4357
Thought so. The dedicated error view would be a killer! Thanks

[2016-03-17 20:51] chuckries commented on #4027
Looks great! Thanks!

[2016-03-17 20:52] vsccarl opened #4386 "Predawn theme not coloring functions properly"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Install Predawn theme pack
2. Change to Predawn theme

Actual:
Functions are not colored properly. They appear as a single color throughout

![predawncolor](https://cloud.githubusercontent.com/assets/12900364/13860751/2bf2a5c6-ec47-11e5-9fcb-647abfcce553.JPG)

Expected:
Functions, variables, etc should be colored acc

[2016-03-17 21:05] MichaelAllenMiller commented on #2976
Sorry it took so long to reply. Disabling crash reporting seems to have fixed it.

[2016-03-17 21:08] digeff opened #4387 "Is it possible to require optional extensions, or one of two extensions?"
We have a dependency on the node-debugger from our extension, and it recently changed name. What's the correct way to declare an extension dependency on: andreweinand.node-debug or ms-vscode.node-debug?

[2016-03-17 21:31] egamma opened #4388 "Make color and shape of error markers configurable"
_From @Franziskus1988 on March 3, 2016 14:6_

Sometimes it's difficult to find/see the green marked linting errors. Especially when a file contains a lot of comments (normally green).

Would it be possible to make the color and maybe the line thickness configurable?

_Copied from original issue: Microsoft/vscode-tslint#31_

[2016-03-17 21:32] egamma commented on #4388
Rendering diagnostics is a general vscode feature.

Moving to vscode

[2016-03-17 21:32] tinganho commented on #4349
@alexandrudima I found out what the problem was. It was indeed an extension `Backspace++`.

cc @jrieken

[2016-03-17 21:43] alexandrudima commented on #4349
Maybe we can bring the functionality of `Backspace++` into the core, I have seen at least one issue asking for a smarter backspace implementation

[2016-03-17 21:46] gregvanl opened #4389 "Should repeating code folding key board commands Ctrl+k, Ctrl+<number> unfold code?"
- VSCode Version:code-alpha
- OS Version:Windows 7

Steps to Reproduce:

1. Ctrl+k, Ctrl+<number> folds code at a specified level
2. Ctrl+k, Ctrl+<number> does nothing.  Should this unfold at that level?

[2016-03-17 21:55] #3552 closed

[2016-03-17 21:55] tinganho commented on #4349
That would be awesome!

[2016-03-17 21:55] tythewebguy commented on #2131
For what it's worth, I've been having the same problem for months. When an update comes out for Code I'll install it and use it for a couple hours, then the black boxes show up everywhere and it's impossible to use the app, so I switch back to Sublime. I'd really like to use Code.

Today the black boxes showed up again and then Chrome crashed completely. Not sure if the two are related--usually th

[2016-03-17 22:03] v-pavanp opened #4390 "[Extension][Ruby][Ruby-Linter] Ruby extensions are not displaying in the recommend extension list when opening ruby file or folder."
- VSCode Version:0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1. Launch app and open any folder which contains a ruby project or .rb file.
2. Click on extension info icon from task bar and select option for " Show extension recommendations" to get list of the extensions to be installed for current workspace project.

Actual: Ruby extension is not displaying in the show recommendatio

[2016-03-17 22:10] #3661 closed

[2016-03-17 22:14] joaomoreno commented on #4359
I mean restarting the machine.

[2016-03-17 22:19] joaomoreno commented on #4320
Parameter hints gets triggered every time the user presses a parameter hints trigger key. In TypeScript that is `(` and `,`. But it's still up to the mode whether to show the hints, upon requested. If the hints are showing in that snippet is because TypeScript returned them. There is no way the widget or the editor would have knowledge that those hints should not be shown. Only the mode would know

[2016-03-17 22:22] joaomoreno commented on #4353
Yeah, closing as duplicate of #1905.

[2016-03-17 22:22] #4353 closed

[2016-03-17 22:28] gregvanl opened #4391 "Can't do column selection with keyboard over Windows remote desktop"
- VSCode Version:alpha 0.10.12 commit 05e203c
- OS Version:Windows 7

Steps to Reproduce:

1. Try Ctrl+Shift+Alt+arrow keys to "draw" a rectangle.
2. Nothing happens

Shift+Alt and mouse works correctly.

[2016-03-17 22:30] v-pavanp opened #4392 "[Extension] Getting message like : can't lint "c:\.<xyz.rb" file , after installing ruby-linter extension."
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. Launch app and open a folder which contains .rb file.
2. Install Ruby and Ruby-linter extensions and verify .rb file for lint message.

Actual:
1. Getting message like: "Cannot lint c:\src\Ruby\main.rb. The executable was not found. Use the 'ruby.executablePath' setting to configure the location of the executable"
![image](https://cloud.githu

[2016-03-17 22:32] joaomoreno commented on #2973
Signatures are always a lengthy process...

It's enough if we get the debs and rpms out the door.

[2016-03-17 22:33] alexandrudima opened #4393 "Copy Word in Cursor extension no longer working in 0.10.11"
Copied from https://github.com/Microsoft/vscode/issues/4035#issuecomment-197659811
From @alefragnani

---

Hi @alexandrudima , do you know if something has changed prior to 0.10.11 about it?

I had an extension [Copy Word in Cursor](https://marketplace.visualstudio.com/items?itemName=alefragnani.copy-word) that is meant to replace the `Copy` and `Cut` commands when  there is no selection. It autom

[2016-03-17 22:33] vsaroopchand commented on #4101
I tracked this down to line 58 in editor\contrib\smartSelect\common\smartSelect.ts
When the code uses model.getModel().logicalSelectionSupport it does not work
	var selectionSupport = model.getMode().logicalSelectionSupport || this._tokenSelectionSupport;
// but works with _tokenSelectionSupport
var selectionSupport = this._tokenSelectionSupport;

I just don’t know enough about the VS Code APIs to

[2016-03-17 22:34] alexandrudima commented on #4035
@alefragnani  I've created #4393 to track the problem.

[2016-03-17 22:40] v-pavanp opened #4394 "[Ruby] Unable to debug .rb file and getting debugger terminal error."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10
-Ruby Version: rubyinstaller-2.2.4-x64 (install location : http://rubyinstaller.org/downloads/)

Steps to Reproduce:
1. Launch app and open a folder which contains .rb file.
2. Install all the ruby extensions and restart app.
3. Add some break point in .rb file.
4. Debug .rb file  with option "Debug local file"

Actual: Getting Error like : D

[2016-03-17 22:43] #4393 closed

[2016-03-17 22:44] alexandrudima commented on #4393
@alefragnani Thank you for reporting this, the code that was in charge of deciding what to write to the clipboard was not always using the most up-to-date selection.

[2016-03-17 22:57] alexandrudima commented on #4391
@gregvanl I wonder if those keybindings are reserved on Windows 7?

Do the actions work if you bind them to different keys.

e.g.
[code]

I know the default ones with `ctrl+shift+alt+` are not great, but we could not find any free ones.

[2016-03-17 22:58] #3716 closed

[2016-03-17 23:01] gwynjudd commented on #508
Here is a heap snapshot immediately after launching code

[Heap-20160318T115937.zip](https://github.com/Microsoft/vscode/files/178823/Heap-20160318T115937.zip)

I'll try again in an hour or two. The tricky bit seems to be getting it at a point where the memory has increased somewhat, but not so much that taking the snapshot triggers it to crash out of memory.

[2016-03-17 23:01] alefragnani commented on #4393
Thank you @alexandrudima for fixing it so quickly :smiley:
I guess it will be available in March release, right?

[2016-03-17 23:03] alexandrudima commented on #4393
yep!

[2016-03-17 23:04] cwadrupldijjit commented on #508
I saw the same kind of results when I tried taking a heap snapshot (ran out of memory), and it’s not fun.

I feel like there are still some memory issues in the latest insiders build (for mac).  I’ll see if I can get another heap snapshot without sacrificing my computer.

[2016-03-17 23:04] bill-mybiz commented on #3958
@dbaeumer As luck would have it, I already have Process Hacker installed. I have a picture, but GitHub doesn't allow me to upload them. Do you have another way for me to send you the pic?

[2016-03-17 23:06] alexandrudima commented on #1896
@artsjedi What settings are you using and what theme is that?

[2016-03-17 23:07] vsccarl opened #4395 "Inconsistent behavior when viewing extension README/License"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Change default browser to IE or Chrome
2. In VS Code: F1 -> extension
3. Click Readme or License

Actual:
When Edge is the default browser it stays minimized or in the background after clicking readme or license. If IE or Chrome is the default, it will pull the browser window over VS Code.

Expected:
Consistent behavi

[2016-03-17 23:08] alexandrudima commented on #2075
@PedroNorte specifically for line duplication, we have two:

https://code.visualstudio.com/docs/customization/keybindings#_basic-editing

Here are the Windows keybindings:
![image](https://cloud.githubusercontent.com/assets/5047891/13863873/76bd7760-ec9d-11e5-8265-c10d03424646.png)

[2016-03-17 23:09] bill-mybiz commented on #3958
![trycatchlag_processhacker](https://cloud.githubusercontent.com/assets/1253349/13863896/5daf9a64-ec6b-11e5-9ccb-0453c6fddb92.PNG)

[2016-03-17 23:12] bill-mybiz commented on #3958
That is with me specifying the typescript version in my local node_modules folder. The lag occurs also if I turn off that flag, but I'll go ahead and get screenshots of that too.

[2016-03-17 23:12] alexandrudima commented on #959
@artsjedi Please start a new issue, in dealing with Chromium I learned that not all blurriness has the same root cause. I'd love to get the VSCode version, OS version, theme and settings you use so I can try to reproduce.

[2016-03-17 23:19] bill-mybiz commented on #3958
Ok, I was able to reproduce your behavior in that particular file. If I close VS code, open and do the particular changes you are making without touching the rest of the code, then it reproduces your behavior.

However, if I go to code that I'm working on right now in test/common/thing/thingexpression/thingexpress-tests.ts and add a trycatch inside of some non-trivial code (e.g. line 256), then it

[2016-03-17 23:19] artsjedi commented on #1896
@alexandrudima default dark theme. using windows 10, febury updated,  on surface pro 3. 2016-02 build.

[2016-03-17 23:22] bill-mybiz commented on #3958
I have just pushed the changes that get you at the exact same line that I'm working on, so you will need to pull again if you aren't able to get the behavior. You can also try it pretty much anywhere in one of those tests. For example, I get it when I try at line 149 just after `let logContext...`.

[2016-03-17 23:25] hamid6 commented on #2810
Why don't you add vscode.d.ts to DefinitelyTyped?

[2016-03-17 23:26] bill-mybiz commented on #3958
![trycatchlag_processhacker_2](https://cloud.githubusercontent.com/assets/1253349/13864219/ba41bf80-ec6d-11e5-8c97-9889a5fa9bd2.PNG)

[2016-03-17 23:39] bill-mybiz commented on #3958
And to show that it happens elsewhere, I decided to test elsewhere. I also got the behavior at common/thing/thing.expression.ts in the constructor. However, when I closed and restarted again and tried in the constructor again, it did not produce the lag.

If I then go back into the thingexpress-tests.ts file and make a change there and return to the constructor, the lag is still there (and continu

[2016-03-17 23:52] bill-mybiz commented on #3958
Ok, last comment for now: I tried just making changes to the thing.expression.ts constructor (line 54) and I am able to reproduce the lag if I just have the thingexpress-tests.ts open in the second window column (ctrl+2) *and don't even edit it*. If I just have it open, then the lag is produced while only editing in the thing.expression.ts constructor (line 54). The lag is also reproduced while ma

[2016-03-18 00:06] gregvanl commented on #4391
Works on Windows 10.

[2016-03-18 00:10] eyalsk commented on #224
@nub340 VSCode isn't based on Atom but Electron.

[2016-03-18 00:11] chrisdias commented on #2352
Agreed, especially on the HC theme, i can't tell what has focus in the above picture.  I would love to have something more subtle near the editor title where the name is.

[2016-03-18 00:19] chrisdias opened #4396 "cannot move focus between buttons on message bar with keyboard"
Related to #3769

I was able to get focus to the message bar on Windows (didn't try OSX yet) but i can't move between the buttons. Tab moves me off the message bar, left and right arrow don't do anything.

![image](https://cloud.githubusercontent.com/assets/1487073/13865009/e91e06b0-ec63-11e5-8105-d3ca9b7f419d.png)

[2016-03-18 00:19] chrisdias commented on #3769
i was able to get focus to the message bar on Windows (didn't try OSX yet) but i can't move between the buttons. Tab moves me off the message bar, left and right arrow don't do anything.

![image](https://cloud.githubusercontent.com/assets/1487073/13865009/e91e06b0-ec63-11e5-8105-d3ca9b7f419d.png)

opened 4396 on this.

[2016-03-18 00:32] chrisdias commented on #4219
OK, but it is not obvious that we do this and in many cases it looks like a bug.  If i have a grunt/gulp file and do "task " from the command palette i see all of the tasks found in the file. As a user, my expectation is that we scaffold out a wrapper for each of those tasks.

So, i'm reopening this but moving it to the backlog.

[2016-03-18 00:32] rafaelmaiolla opened #4397 "Ignore node_modules/vscode/typings/node.d.ts and use one of my own"
- VSCode Version: 0.11.8
- OS Version: Window 7

I'm developing an extension, and because the node.d.ts from vscode is not complete. I'm getting the following errors when running `node ./node_modules/vscode/bin/compile`

[code]
The code in these lines are the following;
[code]
and
[code]
which are valid, but as the node.d.ts is not complete, they are being considered invalid.

How can I ignore `no

[2016-03-18 00:35] chrisdias opened #4398 "linux package names"
the linux package file names are:

vscode-i386.deb
vscode-i386.rpm

the pattern we have for the linux zips is this:
vscode-linux-ia32-insider.zip
vscode-linux-x64-insider.zip

I would expect then the packages to have names like this:
vscode-linux-deb-ia32-insider.deb
vscode-linux-rpm-ia32-insider.rpm

[2016-03-18 00:41] Spown commented on #4045
anyway I think I speak for everyone who sets ``"externalConsole"`` to true that unless there is something to output the internal console should remain hidden. Because (externalConsole===true) == (internalConsole===false).

I use externalConsole to maximize my editing area. It's also one of the most defining features of VSC - the interface isn't littered with all sorts of palettes, miniwindows, pan

[2016-03-18 00:49] jonathanfishbein1 commented on #1138
Similar set up to BryanConradHart getting the error

[2016-03-18 00:58] bgashler1 commented on #2352
@bpasero: good call to delay (I don't want to break anything)

@bpasero and @chrisdias: I would love to discuss this with you all in a later UX sync.  The reason I did it this way is because focus tends to show the entire bounds of what can be interacted with at the current tab position.  Putting focus on the title/header of the editor may suggest that keyboard action will open the **recent files*

[2016-03-18 01:24] asthana86 opened #4399 "Adding C/C++ extension to recommended list of plugins"
Add the Microsoft C/C++ extension for VSCode to the list of recommended plugins

Fully Qualified Name: ms-vscode.C/CppTools
Extensions: .c, .cpp, .h, .hpp, .cc, .cxx, .hh, .hxx

[2016-03-18 01:34] aioutecism commented on #3600
@Beatusvir
It doesn't support custom keybindings now. So you might be a little disappointed.
The most wanted features are issued [here]().
I'm trying my best to make them happen as fast as possible. And I really need your help!

[2016-03-18 02:20] lianghu commented on #110
It's still not working in the Feb release.

[2016-03-18 02:29] whtouche commented on #2534
I just started having this issue, randomly (as far as I can tell) - I'm on Version 0.10.11 but updated several days ago and only just started having the issue tonight. If this is a duplicate of another issue could you please link to it so that I can follow along?

[2016-03-18 03:40] netroby opened #4400 "Would you please add update notify for linux Editor?"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 14.04 LTS

Steps to Reproduce:

1.  VSCode never told me there be newer version released

would you please add a update checker . when new version released . notify linux user to upgrade .

A small pop tip window will be ok, and will help us track the latest VSCode version

[2016-03-18 04:09] gregvanl opened #4401 "Generated npm task list is invalid, missing comma in tasks array"
- VSCode Version: alpha 0.10.12
- OS Version: Windows 8

Steps to Reproduce:

1. Tasks: Configure Task Runner, select npm
2. Missing comma between tasks "update" and "test"
"tasks": [
		{
			"taskName": "install",
			"args": ["install"]
		},
		{
			"taskName": "update",
			"args": ["update"]
		}
		{
			"taskName": "test",
			"args": ["run", "test"]
		}
	]

[2016-03-18 04:17] golf1052 commented on #1668
So I did some sleuthing to try to figure out what was going on.
TL;DR this seems to be an issue in [marked](https://github.com/chjj/marked), not in VSCode.

The results of my tests are [here](https://github.com/golf1052/markdown-testing)
I tried three different markdown parsers, [John Gruber's implementation](https://daringfireball.net/projects/markdown/), [GitHub's markup](https://github.com/gith

[2016-03-18 04:49] Cleod9 commented on #3889
Hi,

So I think it's possible I'm having an issue that is related to this. Seems that it affects TypeScript versions greater than 1.8.*. Basically VS Code fails for me on all `import` statements that use non-relative paths (i.e. paths that necessitate traversing up the file tree to locate a folder). As a result, I get "module not found" errors and my auto-completion breaks completely.

If I downgr

[2016-03-18 06:11] bpasero commented on #2810
Because it does not support versioning...

[2016-03-18 06:13] bpasero commented on #4396
![untitled](https://cloud.githubusercontent.com/assets/900690/13869808/d9df91da-ecd8-11e5-98b6-52cdda418e66.gif)

Works for me. I am on Mac though. Can you chrome inspect the 3 buttons all have a tabindex attribute?

[2016-03-18 06:15] bpasero commented on #4396
Same thing works for me on Windows too.

[2016-03-18 06:34] chrisdias commented on #4396
i see a tabstop="0" for all three buttons, but now i see what the problem is.  Shift+Tab moves me right to left and tab moves me left to right.  since focus landed on the left most button, pressing tab again jumped out of the message.

Here's what I did.  I put focus in the explorer and started pressing Shift+Tab to get to the message bar.  Focus went to the left most button. Now, i think to move

[2016-03-18 06:35] bpasero commented on #4397
@rafaelmaiolla lets try to make the d.ts file complete. If you open a PR on https://github.com/Microsoft/vscode-extension-vscode I can merge it in.

[2016-03-18 06:35] #4397 closed

[2016-03-18 06:35] bpasero commented on #4396
Ah so you see an issue with the ordering. That I can maybe fix.

[2016-03-18 06:36] AndyYSWoo commented on #3614
Alright, I'll see if this version solve this problem.

2016年3月17日星期四，Benjamin Pasero <notifications@github.com> 写道：

[2016-03-18 06:39] aeschli commented on #4392
This issue was moved to hoovercj/vscode-ruby-linter#1

[2016-03-18 06:39] #4392 closed

[2016-03-18 06:41] aeschli commented on #4389
It's Ctrl+k, Ctrl+ **2** (or any number from 1 to 5)

It collapses all regions of the given nesting level in the whole document, except for the region that cursor is in (it stays unchanged)

[2016-03-18 07:12] egamma commented on #4399
We must with this until the extension is available in the market place as a preview. Otherwise we recommend something that doesn't exist.

The extension can be published as a preview once https://github.com/Microsoft/vscode-vsce/issues/82 is available.

// @joaomoreno

[2016-03-18 07:37] #3769 closed

[2016-03-18 07:38] bpasero commented on #4379
#3771

[2016-03-18 07:38] #4379 closed

[2016-03-18 07:47] isidorn commented on #4378
Setting to March to investigate

[2016-03-18 07:50] isidorn commented on #4045
I like the points you are making. I will address this issue for our april release, that is I will look into it next week.

[2016-03-18 07:54] egamma opened #4403 "Remove the prompt for C# installation"
This is now covered by extension recommendations.

[2016-03-18 07:54] egamma commented on #4403
// @chrisdias

[2016-03-18 08:05] egamma commented on #4219
@chrisdias The Tasks integration understands grunt, gulp, jake tasks and therefore doesn't need a scaffolding for each task. What the task integration cannot know is 1) which of these tasks is the `build` or `test` tasks. It can also not know which `problem matcher` should be used. This additional information needs to be defined in the tasks.json.

[2016-03-18 08:07] joaomoreno commented on #4395
Correct me if I'm wrong, @bpasero, but there is nothing we can do.

[2016-03-18 08:07] #4395 closed

[2016-03-18 08:07] #4396 closed

[2016-03-18 08:07] bpasero commented on #4396
@chrisdias please verify across all OS.

[2016-03-18 08:08] joaomoreno commented on #4384
What is VSCodePortable? We don't ship that.

[2016-03-18 08:12] egamma commented on #4354
This has been addressed in TypeScript 1.8.9 and we have integrated 1.8.9 yesterday. We will push an update with this changes to the [insider channel](https://code.visualstudio.com/blogs/2016/02/01/introducing_insiders_build) next Monday.

[2016-03-18 08:12] #4354 closed

[2016-03-18 08:14] bingzheyuan commented on #2828
@aeschli how about the code intelligence problem in the last reply? It was fine in v0.10.6 and get lost since v0.10.8.

[2016-03-18 08:17] bpasero opened #4404 "os.homedir() is only supported in node >= 4"
@Tyriar please fix, I pushed a workaround here: https://github.com/Microsoft/vscode/commit/faffb7df995482275996535681d141e5a71560b8

I think we should still allow to build on older node.js versions unless there is a major reason otherwise.

[2016-03-18 08:18] bpasero commented on #4395
@joaomoreno how do you open the browser window?

[2016-03-18 08:19] joaomoreno commented on #4377
Great catch!

[2016-03-18 08:19] #4377 closed

[2016-03-18 08:21] joaomoreno commented on #4395
[`shell.openExternal`](https://github.com/atom/electron/blob/master/docs/api/shell.md#shellopenexternalurl-options) - there is an `activate` option, but seems to only work for OS X.

[2016-03-18 08:21] egamma commented on #4394
pls file against the Ruby extension.

[2016-03-18 08:21] #4394 closed

[2016-03-18 08:22] egamma commented on #4390
@waderyan fyi are there other ruby extension that should be added to the extension list.

[2016-03-18 08:23] bpasero commented on #4395
@joaomoreno that option might have been added later, not sure it exists for our version. But yeah, if so this is an Electron issue and not VS Code.

[2016-03-18 08:25] isidorn commented on #4378
This is not a regression, but a dupe of #3666. Setting that one to April to fix it for the April release

[2016-03-18 08:25] #4378 closed

[2016-03-18 08:26] isidorn commented on #3666
The RawDebugSession needs to remember all the promises it fired, and on disconnect just cancel them all.

[2016-03-18 08:26] egamma commented on #4387
pls see this comment https://github.com/Microsoft/vscode-node-debug/issues/56#issuecomment-197209183

[2016-03-18 08:26] #4387 closed

[2016-03-18 08:38] Morgy93 commented on #2828
@bingzheyuan You need to adjust this little setting to make it work again: https://github.com/Microsoft/vscode/issues/4355#issuecomment-197921835

[2016-03-18 08:44] egamma commented on #4348
@weinand great idea, but let's not forget that we want to lock down on string changes.

[2016-03-18 08:46] egamma commented on #3960
@weinand sorry the plan was that the this gets adapted to VS Code //@mousetrap

[2016-03-18 08:49] liuhao2050 opened #4405 "GO TO Definition doesn`t work."
- VSCode Version:0.10.11
- OS Version:ubuntu 14.04 LTS

Steps to Reproduce:

1. When I use F12 or Alt+click to go to   a definition of python class,it doesnt work. Please help me.
2.

[2016-03-18 08:49] jrieken commented on #4010
disagree - just make the cache have an upper limit say 10000.

[2016-03-18 08:50] alexandrudima commented on #4382
@stasku I need some steps to try to reproduce. VSCode is based on Chromium 45 and we do not experience such issues AFAIK.

[2016-03-18 08:51] TkIgor opened #4406 "Do you even have 'go to definition' in php?"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1.
2.

[2016-03-18 08:52] egamma commented on #3842
@AdamAndersonFalafelSoftware

This is the default value that gets inserted, it is treated as the setting is not defined. So I would just delete it.

We have updated to a new version of salsa/typescript 1.8.9 which has additional fixes.  We will make this available on the insider channel next Monday.

I suggest to retest there again.

[2016-03-18 08:53] alexandrudima commented on #110
With the March release, it will be under a setting called `"editor.selectionClipboard"`, which is off by default until we better understand the perf implications of writing to the clipboard on every selection change.

[2016-03-18 08:54] egamma commented on #3842
@LittleBrainz same here I suggest to retest on the latest with TypeScript 1.8.9.

[2016-03-18 08:58] weinand commented on #3666
@isidorn yes, that's probably necessary.
Today this issue is the biggest obstacle for a smooth debug adapter development experience.

[2016-03-18 08:59] jrieken commented on #4390
I made an easy to edit file for this here: `vs/workbench/parts/extensions/electron-browser/extensionTips.json`

[2016-03-18 09:08] ayeressian opened #4407 "ES6 yield keyword doesn't have blue color"
- VSCode Version: 0.10.11
- OS Version: 10.11.3

Steps to Reproduce:

1. Open a js file in vs code.
2. Type yield keyword.
Notice the color of the text is black. Instead of blue.

[2016-03-18 09:21] rexcfnghk opened #4408 "F# using keyword is not highlighted"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. Open an F# source/script file
2. Set the language to `F#`
3. The `using` keyword is not syntax-highlighted

[2016-03-18 09:47] #4368 closed

[2016-03-18 09:52] joaomoreno commented on #4368
This was introduced with the adoption of rendering templates.

Fixed in 7f5a4582091feabf3111aa7f34a9d90256d15d67

[2016-03-18 10:01] egamma commented on #4406
No sorry, but it is a valid feature request.

[2016-03-18 10:05] 4kochi opened #4409 "[html] formatting puts <a> and <button> tags on one line"
- VSCode Version: 0.10.12-insider
- OS Version: MacOSX 10.11.3

Steps to Reproduce:

1. Have some html file

[code]
2. Format code
3. Result looks weird

[code]

In Action:

![a](https://cloud.githubusercontent.com/assets/1742426/13874528/d2287176-ecf8-11e5-806e-713c3b9f2752.gif)

Currently tested with `<a>` and `<button>` tags. Might affect more tags. `<div>` and `<p>` works fine.

Here is my con

[2016-03-18 10:28] aeschli commented on #2828
The variables intellisense issue is #3815. It will be fixed in the March release.

[2016-03-18 10:53] aeschli commented on #4407
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/29

[2016-03-18 10:53] #4407 closed

[2016-03-18 10:56] liuhao2050 commented on #4405
Do vs code has this feature in python？ or，some ext. can do it？

[2016-03-18 10:59] isidorn opened #4410 "Add comments in nls so translators to a better job"
1. tab size
2. aria announcments in debug world

[2016-03-18 11:00] aeschli commented on #4405
The default VS Code build does not have any support for 'go to definition' for Python.
Are you using the [Python](https://marketplace.visualstudio.com/items?itemName=donjayamanne.python) extension? If yes and you see this bug there, please file it directly against the extension (https://github.com/DonJayamanne/pythonVSCode)

[2016-03-18 11:00] #4405 closed

[2016-03-18 11:04] #4010 closed

[2016-03-18 11:04] bpasero commented on #4325
@cherchyk @mohsen1 ping

[2016-03-18 11:20] dbaeumer commented on #4401
Got already fixed.

[2016-03-18 11:20] #4401 closed

[2016-03-18 11:22] #4403 closed

[2016-03-18 11:29] AdamAndersonFalafelSoftware commented on #3842
@egamma I am not on the insider channel. How do I join?

[2016-03-18 11:38] isidorn commented on #4362
Verified by code review

[2016-03-18 11:38] frevds opened #4411 "Forward wordwise delete (Ctrl+Del) deletes whole line if performed at EOL?"
Not a feature but an annoyance:

I perform the following things rather often:
Have code like this:

    One Two Three
    Four Five Six

If I (efficiently) want to remove "Two Three" and join "Five Six" to result in:

    One Four Five Six

I should have to perform only 4 repeated strokes of Ctrl+Del.
I place the cursor before "Two" and repeatedly press Ctrl+Del, which works in most editors, excep

[2016-03-18 11:42] alexandrudima opened #4412 "Align new selection height with other decorations height"
single selection (looks bad):
![image](https://cloud.githubusercontent.com/assets/5047891/13876758/b2db05c8-ed06-11e5-86b9-5d4e54b9c5f3.png)

multiple selections (tolerable because it helps distinguish selections):

![image](https://cloud.githubusercontent.com/assets/5047891/13876775/cfcdff0a-ed06-11e5-8cb5-e07d12494db9.png)

[2016-03-18 11:43] alexandrudima opened #4413 "Remove suggest widget telemetry"
We do not need it anymore.

fyi @egamma @joaomoreno

[2016-03-18 11:45] alexandrudima opened #4414 "Selection highlight is too aggressive"
It is generally useful, but very aggressive when typing:

![selection-highlight](https://cloud.githubusercontent.com/assets/5047891/13876841/451de39c-ed07-11e5-8ba1-f56e54327b13.gif)

fyi @egamma

[2016-03-18 12:04] isidorn opened #4415 "debugViewer does not nicely dispose the templates created"
dispose() needs to be called on create ActionBars and the like inside templates

[2016-03-18 12:32] sahas- commented on #4344
It crashed again this morning

<img width="895" alt="screen shot 2016-03-18 at 7 24 17 am" src="https://cloud.githubusercontent.com/assets/10361685/13877693/7f19289a-ecda-11e5-884a-13f65c371066.png">

workspace:
https://gist.github.com/sahas-/88c6cafd675e699d66d4

I've enabled this new extension too (after restarting vscode)

[2016-03-18 12:35] zhe13 opened #4416 "After update the Unity to Latest version,I cannot use the IntelliSense."
- VSCode Version:0.10.11 (0.10.11)
- OS Version:OS X 10.11.3
- Unity Version:5.3.4f1

I am sure that I am not faced with the OmniSharp problem cause my Code tells me it is running  with the x-sharp.sln.And I have update the vscode-unity plugin.
I can not get any of them -- Syntax Highlighting or Bracket matching or IntelliSense.

I have update home-brew and reinstall the mono.
How can I do next?

[2016-03-18 12:37] dprice commented on #4359
I restart of the machine made no difference. I still got the same error. Is there some sort of setup log file I can provide?

[2016-03-18 12:39] EasonWang01 opened #4417 "About windows7 ahci and native ide"
Because I can't get the right response from customer service,so ask this question here.

My win7 always restart in the opening state when the windows flag begin to conbine from four.
I think it's about native ide and ahci problem,but the issue still exist,after I change the mode.

[2016-03-18 12:46] ls42 commented on #4349
That would be most awesome!

[2016-03-18 12:49] Treri opened #4418 "[feature request]Support vertical indent level line and renderWhitespace when selection"
1. Does Code support showing vertical indent level line?
2. now `editor.renderWhitespace` only have `true` or `false`, can we have a option to only render whitespace when selection?

[2016-03-18 13:18] aeschli commented on #4409
Regression from introducing the html formatting options. The default of `preserveNewLines` used to be true, now false. Changing this back.
Thanks @4kochi !

[2016-03-18 13:19] #4409 closed

[2016-03-18 13:29] stevencl commented on #1133
I have gone through the discussion on https://github.com/Microsoft/vscode/issues/224 to create a list of suggestions for improving document management:

### Tabs

- Move a tab out into it's own section or window (creating a new section or window in the process)
- Ctrl + Tab supports two options:
  - only lists tabs that are currently open. Cycle through list of open tabs in chronological order
  -

[2016-03-18 13:30] #4414 closed

[2016-03-18 13:31] weinand commented on #4372
@enzoaeneas Windows does not have a "Segmentation Fault: 11" error. If you want to have your issue investigated, please create a new issue with full details.

[2016-03-18 13:35] weinand commented on #4372
@gunjpan What version of node are you using? Is the problem reproducible if you install a different version of node (e.g. 4.x -> 5.x or 5.x -> 4.x, or 0.12.x)?

If a different version of node makes no difference could you please provide a code snippet that shows the issue?

[2016-03-18 13:38] weinand commented on #4308
@narf the node version makes no difference in this case because the extension host is always using the node that is included in electron.

[2016-03-18 13:38] bpasero opened #4419 ""Open to the side" action does not work from quick open"
- search for symbols in quick open
- try to click on the "open to the side" action

=> it does not open to the side

[2016-03-18 13:38] #4419 closed

[2016-03-18 13:39] alexandrudima commented on #4413
Also quickFixWidget.

I would postpone this to April

[2016-03-18 13:39] alexandrudima commented on #4413
Also filePut

[2016-03-18 13:40] aeschli commented on #4389
Ah now I realise that the numbers got cut await from your description.

The actions are only supposed to fold, not unfold. To unfold you would use Unfold all (Ctrl+K, Ctrl+J)

[2016-03-18 13:40] #4389 closed

[2016-03-18 13:41] narf commented on #4308
Yeah, yhat's what I had in mind. I just tried to change it out of despair.

[2016-03-18 13:45] aeschli commented on #4386
This has to do with #3008

[2016-03-18 13:45] #4386 closed

[2016-03-18 13:46] bpasero opened #4420 "patch header looks bad in dark theme"
![image](https://cloud.githubusercontent.com/assets/900690/13879544/3df62d0c-ed18-11e5-81d1-2a313d9ca763.png)

[2016-03-18 13:47] #4420 closed

[2016-03-18 13:47] bpasero commented on #4420
Example diff:

[code]

[2016-03-18 13:56] weinand commented on #4048
@vsccarl you are stepping into node's shutdown code by doing the 40 steps. The last step will not return so VS Code is running into a timeout. This is expected.
Node-inspector will not return either but they are not even showing the timeout message.

[2016-03-18 13:56] #4048 closed

[2016-03-18 14:00] Sokolua commented on #224
+1 Please add!!!

[2016-03-18 14:04] egamma commented on #3036
@ArtemGovorov fyi we have added support to label an extension with `preview` https://github.com/Microsoft/vscode-vsce/issues/82#issuecomment-196791767

[2016-03-18 14:06] #4381 closed

[2016-03-18 14:07] aeschli commented on #4408
Moved to https://github.com/ionide/ionide-fsharp/issues/213

[2016-03-18 14:07] #4408 closed

[2016-03-18 14:10] aeschli commented on #3202
Filed against the Jade grammar as https://github.com/davidrios/jade-tmbundle/issues/74

[2016-03-18 14:17] aeschli commented on #4191
To verify: Verify colors for SASS.
Less still has some issues caused by the inconsistent grammar.
Eventually we will have to look for a better grammar.

[2016-03-18 14:18] isidorn commented on #4191
Does this mean the SASS colors should be the same as in the last stable release?

[2016-03-18 14:18] joaomoreno commented on #4359
This is indeed strange. Can you check whether there are some git processes laying around?

[2016-03-18 14:19] ivansieder opened #4421 "[Feature request] Possibility to open preview in new Window"
It would be great to be able to open the preview window for Markdown in a separate window, so that I can, for example, have the preview projected to a TV-Screen, which everyone sees, while i got the Markdown on my laptop. That way, I could take notes in markdown and have them immediately on the screen, so everyone sees it.

Currently therefor I need to use md-server, which requires me to save the

[2016-03-18 14:20] isidorn commented on #3780
I tried a simple python script which I could successfully debug with minimal configuration, however my limited python skills did not allow me to go too crazy on this tour.

[2016-03-18 14:25] joaomoreno commented on #4214
Verification: when having git <= 2.0.0 users should get a warning to update git.

[2016-03-18 14:27] elgrego commented on #3600
To add to what others have said. I really miss :reg to view the registers. Also, though not part of the core Vim I think surround with should be core when there is so much html now a days. but perhaps a pluginsystem that would allow vundle or patogen directly? dreaming...

[2016-03-18 14:29] aeschli commented on #4191
No SASS value are now consistent to what CSS shows:
- red in Dark Plus
- white in Dark VS

[2016-03-18 14:33] afrcracks commented on #4089
Thanks it is now working good 😊

[2016-03-18 14:37] isidorn commented on #4191
Yup, looks like that now

[2016-03-18 14:38] joaomoreno commented on #4169
Verification: When having the old alias, Code should advise to update to the new symlink. It should report in which file the alias is described, which line within the file and should ignore the line if it is commented out.

[2016-03-18 14:40] feelthescintillation commented on #4384
It was a wrong screenshot, this happens for portable version also, PFB the correct screenshot
![capture](https://cloud.githubusercontent.com/assets/4103618/13881066/cfb341a8-ecf5-11e5-9cfc-34d6c00631c3.PNG)

[2016-03-18 14:44] joaomoreno commented on #4140
`x`, `exec`, `d`, `drop` are still not colored.

![image](https://cloud.githubusercontent.com/assets/22350/13881200/c69c81e8-ed17-11e5-9d51-37b3f727cb33.png)

[2016-03-18 14:46] KevDog commented on #4169
João,

Thanks for taking care of this one. I learned a bit about how things work under the covers as I had forked the repo and identified the methods that had to change. I wasn't able to come up with a good way to write a failing test for it, though.

Nice to see bugs picked off so quickly.

[2016-03-18 14:48] #4140 closed

[2016-03-18 14:49] mitsukuri commented on #381
Any hope for a windows workaround? Can't set bold font as of v0.10.11

[2016-03-18 14:53] dprice commented on #4359
I closed anything that looked remotely git-related and still got the same error.

[2016-03-18 14:58] joaomoreno commented on #4071
Would you care to give it a nice code review?

[2016-03-18 14:59] Beatusvir commented on #3600
@elgrego I believe having surround functionality shouldn't be an issue, it could be something like just a new command on a visual selection.

@aioutecism I'll do my best to help! specially since one of my most used commands (ciX) is not implemented yet. I'll check your code asap (currently at work). Good job man :+1:

[2016-03-18 15:00] joaomoreno commented on #4104
Verification: quick code review will do.

[2016-03-18 15:04] elgrego commented on #3600
@Beatusvir Yeah, like vat + '<div>' should create a div around the current selection. Even better would be to have emmet style commands with the current selection so that vat + div|span c+y, would create a div around this and then a span after.

[2016-03-18 15:04] isidorn commented on #4104
Code looks sexy

[2016-03-18 15:11] egamma opened #4422 "Test Tour: C#"

[2016-03-18 15:12] joaomoreno opened #4423 "[folding] Fold action doesn't work in the last foldable region in a buffer"
For example, in this file:

[code]

I can fold using the mouse, but not using the Fold action or the keyboard shortcut.

[2016-03-18 15:12] chrisdias commented on #4219
yes, understood, but perhaps I would like to customize each of the tasks.  Having them scaffolded in tasks.json should not change any behavior but it lets me see the connection between the full list of tasks we detect and how tasks.json can be used to augment each task.

[2016-03-18 15:18] #4106 closed

[2016-03-18 15:25] isidorn commented on #4293
Verified by a code review

[2016-03-18 15:26] #4412 closed

[2016-03-18 15:26] joaomoreno commented on #4169
No worries, thanks for the effort!

[2016-03-18 15:26] #4169 closed

[2016-03-18 15:26] #4423 closed

[2016-03-18 15:27] mitsukuri commented on #2043
I guess it has nothing to do with the arrow character and tabs, consider the following renditions: (click to see 100% zoom)
![renderings](https://cloud.githubusercontent.com/assets/14021464/13882491/af7a64de-ed36-11e5-8628-93249701f326.png)

The font is Envy Code R. Notice how the letters 'A' are fully aligned and how the VS Code's rendering ends up being one pixel shorter (compare at lowercase 'z

[2016-03-18 15:27] joaomoreno commented on #4359
This is definitely strange.

Does it also happen if you download an [old stable release](https://az764295.vo.msecnd.net/stable/db71ac615ddf9f33b133ff2536f5d33a77d4774e/VSCodeSetup-stable.exe) and try to update it the same way?

[2016-03-18 15:29] isidorn commented on #4169
There are no longer docs on how to setup the old alias. Do you still have that somewhere or should I go hunting in vscode-docs history?

[2016-03-18 15:30] joaomoreno commented on #4169
[code]

[2016-03-18 15:33] KevDog commented on #4169
code () { VSCODE_CWD="$PWD" open -n-b "com.microsoft.VSCode" --args $* ;} is the way it used to be on the VSCode setup page, I used vsc because I had another command aliased to code.

[2016-03-18 15:34] dprice commented on #4359
I have side-by-side installs of VS Code and VS Code Insiders. I opened VS Code that I already had installed and it needed an update. It was version 0.10.10 and it updated with no problems to 0.10.11 using the built-in process. I did not have to try your installer link that you posted. So what voodoo is going on here?

[2016-03-18 15:38] joaomoreno commented on #4384
@bpasero any clues?

[2016-03-18 15:41] joaomoreno commented on #4359
I realise that your are hitting these issues with the insiders build.

I wanna figure out whether you hit them as well with the stable. That's why I suggest to install an old stable build and wait for it to update.

[2016-03-18 15:47] aeschli commented on #4417
How does that relates to VS Code? Sounds like a Windows 7 issue?

[2016-03-18 15:48] aeschli commented on #4416
This issue was moved to OmniSharp/omnisharp-vscode#108

[2016-03-18 15:48] #4416 closed

[2016-03-18 15:49] egamma opened #4424 "Remove extension tips from OSS Code"

[2016-03-18 15:49] dprice commented on #4359
I uninstalled version 0.10.11 of the stable VS Code - not Insiders - from my system. I installed your download which is now version 0.10.8.

What do you mean "wait for it to update."? Will VS Code automatically update itself without having to press the "Update Now" button in the Info update message? If so, how long do I need to wait? Do I just press "Later" and then close VS Code?

[2016-03-18 15:51] dbaeumer commented on #3889
@Cleod9 which module system are you using. Commonjs. In the past the tsc compiler was not correct in resolving modules in commonjs and they fixed this. In CommonJs there is no concept of a baseURL as in AMD. But the tsc compiler nevertheless walked up the parent chain. No if in commonjs and you want to reference another module you need to provide a relative path. It is the same as in JS with the r

[2016-03-18 15:55] TrailHacker commented on #3600
:+1: for @elgrego's suggestion on supporting pathogen. This kind of falls into the original suggestion from @giggio to support existing `~/.vimrc` files. In doing this, you could delegate the surround functionality to other community built vim plugins like https://github.com/tpope/vim-surround

[2016-03-18 16:05] #4417 closed

[2016-03-18 16:05] joaomoreno commented on #4359
You can press the button. :+1: Just do what you normally do when you get an update.

[2016-03-18 16:05] dbaeumer commented on #3958
@bill-mybiz thanks for all your additional information. I tried to reproduce following your steps but wasn't able to do so. I will continue trying. The process explorer shows that the tsserver consumes quite some CPU so we know at least that there is something wrong with the server in our setup.

I am already on 1.8.9 which got released yesterday. If you have some time, could you give it a try on

[2016-03-18 16:10] dbaeumer commented on #4316
@raregrass there is a predefined problem matcher for this: $tsc-watch.

problemMatcher: '$tsc-watch'

That should help. Let me know if it works.

[2016-03-18 16:14] #4424 closed

[2016-03-18 16:21] Tyriar commented on #4398
The file names are named using what architecture they're built as. For deb that is i386/amd64 and for rpm that is i386/x86_64, ia32 and x64 aren't valid architectures for deb/rpm files. It's best practice to keep these in the file names for clarity0. [I've been toying with the idea that we don't even need to provide the zip](https://github.com/Microsoft/vscode-website/issues/73#issuecomment-195578

[2016-03-18 16:21] #4398 closed

[2016-03-18 16:21] gregvanl opened #4425 "Mouse column selection odd for vscode-docs LICENSE.md"
- VSCode Version:alpha 0.10.12
- OS Version:Windows 7, WIndows 10

Steps to Reproduce:

1. clone vscode-docs
2. Open LICENSE.md
3. Try Shift+Alt mouse select move on first paragraph - works as expects
4. Shift+Alt mouse select move on second paragraph - selection also goes to the left when moving the mouse to the right.
5. Shift+Alt mouse select move on third paragraph - no selection

Other markdo

[2016-03-18 16:23] Tyriar opened #4426 "Include CLI in Linux zip archive and support custom install locations"
The launcher/CLI script should be included in the main directory and symlinked to from `/usr/bin`.

See https://github.com/Microsoft/vscode/issues/4398, the main program directory should be complete.

[2016-03-18 16:24] Cleod9 commented on #3889
@dbaeumer Yes we are using the commonjs setting in `tsconfig`. Note that we also use ES6-style imports for all TS modules.

Do you have a recommendation for what to change our tsconfig to? Webpack is able to build just fine because we're using its `modulesDirectories` config option, but there doesn't seem to be a way to reference extra modules folders besides `node_modules` in the current build fo

[2016-03-18 16:24] pcgeek86 commented on #4366
@bpasero That makes sense -- so you would eventually plan on incorporating such features into the core product, but as a stop-gap measure, you want to use extensions, due to resource constraints. I understand, thanks.

I wish I could contribute code, but this isn't my area of expertise, so I'll have to contribute primarily through bug reports and feature requests. :white_check_mark:

[2016-03-18 16:25] dprice commented on #4359
Ok - the update had no issues. Stable went from version 0.10.8 to 0.10.11. Absolutely no issues...

[2016-03-18 16:30] MaxOlsson commented on #3111
Sorry for the late reply! I can't reproduce this with Node version 4.4. Closing the bug.

[2016-03-18 16:30] #3111 closed

[2016-03-18 16:31] gregvanl commented on #3781
I used a WAMP server (http://www.wampserver.com/) to test PHP on Windows.
Verified built-in snippets and IntelliSense.
Configured and tested linting with php.exe.
Installed and tested debugging with XDebug extension.

[2016-03-18 16:31] #3781 closed

[2016-03-18 16:34] rakkarage opened #4427 "formatOnType wrong tab/space format c#"
- VSCode Version: 0.10.12
- OS Version: Windows

Steps to Reproduce:

1. set insertSpaces: true & tabSize: 2 & **formatOnType: true**
2. finish a line in c# tabs converted to wrong number of spaces

formatOnType:off
![1](https://cloud.githubusercontent.com/assets/962340/13884718/9e48694e-ed05-11e5-9b9e-7749d53f3daa.gif)

formatOnType:on
![2](https://cloud.githubusercontent.com/assets/962340/138847

[2016-03-18 16:36] erkmos commented on #224
I also think this is a feature sorely missing in an otherwise great editor.

[2016-03-18 16:40] rakkarage opened #4428 "editor.glyphMargin"
this option does not seem to do anything?

thanks

[2016-03-18 16:40] gregvanl commented on #4391
I think this is due to running over Windows remote desktop.  I was able to get keyboard column selection to work on a Windows 7 machine when I was directly logged in.  I see the issue only when remoting to a VM (so far tried Windows 7 and 8).  I've update the issue title.  If this is only an issue through remote desktop, I think we can lower the priority

[2016-03-18 16:40] nbering commented on #3889
My particular case is using Internal Modules only, no imports and no commonjs modules. So unless there's something in my definitely typed ambient module definitions there's nothing related to module resolution. It's also specific to VSCode v0.10.10 because it works with the same version of typescript in the back-version of VSCode, but if your case helps to identify the conditions in which the VSCo

[2016-03-18 16:41] LittleBrainz commented on #3842
@egamma - TypeScript 1.8.9 is giving the same results as 1.8.2.
![typescript version](https://cloud.githubusercontent.com/assets/5047398/13884975/3c90480c-ed28-11e5-9490-84a567fab506.PNG)

[2016-03-18 16:48] egamma commented on #3842
@AdamAndersonFalafelSoftware here is how to get the insiders build https://code.visualstudio.com/blogs/2016/02/01/introducing_insiders_build, but this one doesn't have 1.8.9 yet. To try out 1.8.9 you have to do the same as @LittleBrainz and use the tsdk option to use 1.8.9.

@LittleBrainz in this case I don't see how VS Code could be the culprit. Can you extract the good steps from https://github.

[2016-03-18 16:56] LittleBrainz commented on #3842
@AdamAndersonFalafelSoftware - TypeScript 1.8.9 is the current default on NPM.

- Install TypeScript 1.8.9 globally with:
[code]

- On the File menu / Preferences / User Settings, edit the `settings.json` file to set `typescript.tsdk` to the folder path containing the tsserver and lib*.d.ts files to use. On my system I have:
[code]

That should do it. But, be warned, the next version of VS Code ma

[2016-03-18 17:15] Tyriar commented on #4404
@joaomoreno how exactly was the windows build breaking in 3a3c9e15? Doesn't the `process.env['HOME']` only get evaluated if the task is called in to? It feels weird to do `process.env[(process.platform == 'win32') ? 'USERPROFILE' : 'HOME']` here when it should never be run on Windows.

[2016-03-18 17:16] Tyriar commented on #4404
@joaomoreno oh I think I got it; because we create the gulp task by calling `prepareRpmPackage`, I'll fix it up.

[2016-03-18 17:22] #2533 closed

[2016-03-18 17:24] Stanzilla opened #4429 "Store workspace UI state also for empty workspaces"
- VSCode Version: 0.10.11
- OS Version: Windows 8.1

Steps to Reproduce:
1. Open VS Code, toggle "Show Side bar" to enabled
2. Close VS Code
3. Double click a file that opens in VS Code

In that instance, the side bar will be disabled again.

[2016-03-18 17:25] alexandrudima commented on #4411
Thank you for filing. Dup of #3882. Will be fixed in the March release.

[2016-03-18 17:25] #4411 closed

[2016-03-18 17:28] #4404 closed

[2016-03-18 17:37] v-pavanp opened #4430 "App crashed when trying to launch dev tool from Help menu on MAC."
- VSCode Version: 0.10.12-alpha
- OS VersioOS X EI capitan (10.11.2)

Steps to Reproduce:
1. Install latest app and launch VS code.
2. Open any folder which contains multiple project.
3. Change theme to VisualStudio theme and click on help menu.
4. Perform some search operation, launch developer tool, toggle developer tool, repost issue etc.

Actual: When performing operation to launch and toggle

[2016-03-18 17:38] waderyan commented on #4390
Created PR in vscode-distro.

https://github.com/Microsoft/vscode-distro/pull/23

[2016-03-18 17:38] #4390 closed

[2016-03-18 17:43] Tyriar commented on #4170
@dbaeumer by the way here's a real world case of someone needing this setting: http://stackoverflow.com/questions/36083513/how-to-change-vs-code-locale

[2016-03-18 17:47] ceefour opened #4431 "File/Folder Watcher fails or out of sync in some cases, e.g. after `typings install something --ambient --save`"
- VSCode Version: 0.10.11
- OS Version: Windows 10 Pro 64bit

Steps to Reproduce:

1. IntelliJ 2016.1 running in background
2. Run in Node.js command prompt: `typings install underscore --ambient --save`
3. Folder is updated in IntelliJ, but Visual Studio Code doesn't show it (until restart or other means)

![image](https://cloud.githubusercontent.com/assets/24123/13886975/1a36d822-ed6c-11e5-9111-

[2016-03-18 18:00] vsccarl opened #4432 "Sorting installed extensions"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. F1 -> Show installed extensions

Actual:
Extensions sorted by number of downloads

Expected:
Extensions sorted by name. If this is by design, it would be nice to have an option to sort them by name if possible.

[2016-03-18 18:00] bpasero commented on #4170
I suggest to make this more prominent under the File > Preferences menu.

[2016-03-18 18:08] #4298 closed

[2016-03-18 18:09] weinand commented on #4298
New versions of iTerm have changed the AppleScript API which broke the VSCode iTerm scripts. I made VS Code smarter in detecting what version of iTerm is available and call either the old `iterm` or a new `itermNew` script.

[2016-03-18 18:31] espresso3389 opened #4433 "Incorrect font on overall GUI on Japanese environment"
- VSCode Version:
0.10.12-insider
- OS Version:
Windows 10 Build 14291
Steps to Reproduce:
-

Basically, VS Code does not use correct Japanese font on VS Code.
It's acceptable on the editor pane if we choose correct font-family.

But recent build introduces Japanese localization on the GUI and
it results in very very ugly look on the status bar and other UI parts.

Some of the glyphs are shown in

[2016-03-18 18:37] bpasero commented on #4431
![image](https://cloud.githubusercontent.com/assets/900690/13888273/e63c528e-ed40-11e5-872c-7b8fc6a6c52e.png)

?

[2016-03-18 18:41] gunjpan commented on #4372
@weinand : Thank you for the reply.. Looks like it was an issue with Node version. I was on Node v. 4.3.x, changing it to the latest as well as LTS 4.4.0 made debug work again. Closing it.

[2016-03-18 18:41] #4372 closed

[2016-03-18 18:56] pfister opened #4434 "After 0.10.8, 'Code' executable has been renamed 'code'"
- VSCode Version: after 0.10.8 dated 02/05, for example 0.10.11
- OS Version: Ubuntu 15.04

Steps to Reproduce:
1. after blowing away directory, unzipped in /usr/local/lib
2. symlink in now broken because 'Code' executable doesn't exist under /usr/local/lib/VSCode-linux-x64

Fixed by:
   Under /usr/local/lib/VSCode-linux-x64, created a 'Code' copy of 'code' executable:

After which launcher icon a

[2016-03-18 19:03] rick111111 opened #4435 "Support callstack with more than 20 stack frames"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 14.04, Window 10

In threads window, currently the depth/level of call stack is hard code limited to 20 frames in debugModel.ts, when there is a deeper call stack the threads window doesn't indicate there are more frames avaiable which is a confusing experience. Please consider:
1) Add some message on UI indicating there are more stack frames availabl

[2016-03-18 19:07] v-pavanp commented on #4394
Please refer # https://github.com/rebornix/vscode-ruby/issues/10

[2016-03-18 19:15] Tyriar opened #4436 "html lang attribute should be set to current locale"
The `<html>` `lang` attribute of the editor is set to `en` regardless of the locale the editor was launched in. [This can cause issues, particularly around CJK fonts](http://www.growingwiththeweb.com/2014/03/languages-and-chinese-characters-on-the-web.html).

[2016-03-18 19:17] Tyriar commented on #4433
This could potentially be fixed by https://github.com/Microsoft/vscode/issues/4436 - some fonts contain glyphs for multiple locales but the one that is used is based on a few factors.

[2016-03-18 19:23] Tomamais commented on #2899
Hi. It didn't happen anymore. However, I haven't take the risk to lose my files again ;)

[2016-03-18 19:39] mohsen1 commented on #4325
@bpasero I'll do it today. I want to do it on my slower machine (MacBook Air) since on my Mac Pro it's pretty fast

[2016-03-18 19:55] markdall opened #4437 "Context menu in wrong location after increasing font size"
- VSCode Version:
Version 0.10.11
Commit f291f4ad600767626b24a4b15816b04bee9a3049
Date 2016-03-11T17:10:35.304Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1
- OS Version: Windows 7 Enterprise Version 6.1.7601

Steps to Reproduce:
1. Start VSCode.
2. Press Control + a few times because you're getting older and your monitor is very large. :)
3. Right click on some text.

Expected result: The contex

[2016-03-18 20:01] chrisdias commented on #4170
@dbaeumer @egamma

Why is there now a locale.json file instead of putting this in the settings file?

[2016-03-18 20:18] Tyriar opened #4438 "Report of RHEL7 crashing after around 10 seconds"
Investigate:

[2016-03-18 20:25] moander opened #4439 "Open with Code not visible for unprivileged users"
- VSCode Version: 0.10.11
- OS Version: Windows Server 2008 R2

Steps to Reproduce:

1. Log in as a unprivileged user
2. Run the VS Code installer as Administrator and enter password
3. Tap both "Open with Code" checkboxes in the wizard
4. Right-click on a file or folder

The "Open with Code" option is missing. I have not investigated this more than the reproduce steps above so it may be unrelated

[2016-03-18 20:38] pfister commented on #4439
It might be related to problem I'm seeing in linux x64: see #4434.  The 'Code' executable was renamed to 'code'.

[2016-03-18 20:39] bgashler1 commented on #1019
Issue moved to [Microsoft/vscode-website #147](https://github.com/Microsoft/vscode-website/issues/147) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-18 20:47] bgashler1 commented on #3282
Sorry, forgot to assign this back to you for verification.

[2016-03-18 20:55] waderyan commented on #3633
This will be worked on as part of a holistic improvement to the extension experience in product.

[2016-03-18 20:58] gregvanl opened #4440 "Add "Open with Code - Alpha" action to Windows Explorer file context menu shown twice on setup wizard"
- VSCode Version:0.10.12 alpha
- OS Version:Windows 7

Steps to Reproduce:

1. Start Windows install and work through setup wizard
2. On the Select Additional Task page there are two (unchecked) options "Add "Open with Code - Alpha" action to Windows Explorer file context menu".

Why is this option included twice?  Does the text needed to be updated for one of them?

[2016-03-18 20:59] egamma commented on #4149
assigning to @aeschli for verification.

[2016-03-18 21:04] gregvanl commented on #4440
OK, on previous releases the second option is for the "directory context menu" along with the "file context menu".
This was probably a regression when the wizard was localized.

[2016-03-18 21:07] gregvanl commented on #4440
Yep, issue introduced with https://github.com/Microsoft/vscode-distro/commit/a5fbd14ed29f86e41b01af627bd861eae29b8b38
Second entry needs to be AddContextMenuFolders

[2016-03-18 21:12] SofianHn commented on #4214
I did not

[2016-03-18 21:14] v-pavanp commented on #4430
I have not added full log detail. GITHUB has limit to add text so I will provided full log file in email on request. Or look at the below threads for more log details.

Thread 7:: Chrome_FileThread
0   libsystem_kernel.dylib        	0x00007fff86aa6fc6 kevent + 10
1   com.github.electron.framework 	0x0000000106fcd5e5 0x106342000 + 13153765
2   com.github.electron.framework 	0x0000000106fcb05d 0x106

[2016-03-18 21:15] v-pavanp commented on #4430
Thread 33:: CachePoolWorker2/98767
0   libsystem_kernel.dylib        	0x00007fff86aa5eb2 __psynch_cvwait + 10
1   libsystem_pthread.dylib       	0x00007fff89c1e150 _pthread_cond_wait + 767
2   com.github.electron.framework 	0x0000000106515fab 0x106342000 + 1916843
3   com.github.electron.framework 	0x000000010651553e 0x106342000 + 1914174
4   com.github.electron.framework 	0x000000010651820d 0x106

[2016-03-18 21:24] SofianHn commented on #3952
@aeschli I will mark this as verified, I would highly recommend though to update the definition in [here](https://github.com/Microsoft/vscode/blob/e3ddd0074e60c77867ba9ec0bec17ea15f7250b3/extensions/json/server/src/jsonSchemaService.ts#L203) to make the telemetry service grab bag data is a `string:string` dictionary.
[code]

[2016-03-18 21:50] craysiii commented on #2750
I just faced this issue after installing node.js and npm on my machine, my solution was to restart VS Code. I don't see a reason as to why the PATH wouldn't update given the code though.

[2016-03-18 21:52] Tyriar commented on #1656
Marked as verified, which basically means it reverted to the previous behavior as the change was rejected.

[2016-03-18 21:59] Tyriar commented on #4434
This was intentional and follows the platform conventions (default to lowercase and no spaces). I would recommend not renaming the `code` executable but instead refreshing your symlink:

[code]

Also note that in the March release we will be offering a .deb package for easier installation which includes a new and improved launcher that accepts more command line args. You will want to remove your `

[2016-03-18 21:59] #4434 closed

[2016-03-18 22:05] Tyriar commented on #4170
@chrisdias the settings store is loaded in too late https://github.com/Microsoft/vscode/issues/4118#issuecomment-196261094

[2016-03-18 22:07] Tyriar commented on #2131
@bpasero do you agree with my hypothesis that this is probably an upstream issue to do with Chromium's tile manager?

[2016-03-18 22:21] zoo-zoo commented on #514
+1

[2016-03-18 22:24] bgashler1 commented on #3642
Just found a clue to what may be causing it.

**codeEditorServiceImpl.ts**
[code]

Changing the above `vs-dark` to `hc-black` (line 250) causes your icon to appear in the high-contrast theme.  This leads me to believe that we are treating hc-black theme as neither light or dark, so it's never getting your image.

I'm assigning to our development team to investigate.

[2016-03-18 22:25] weinand commented on #4435
Yes, we should indicate that there are more stack frames available (but this requires an addition to the debug protocol), and we need "debug settings" (like 'max number of stack frames') that apply to the the frontend.

[2016-03-18 22:30] huttarichard commented on #2131
@Tyriar looks exactly same. I stop working with multiple instances of vscode and actually stop stressing out a RAM, never happen since then.

[2016-03-18 22:38] chrisdias commented on #4170
@Tyriar Understood, but we could load `user\settings.json` exactly the same way we load `user\launch.json`, there is no need to use the settings store if we need to get at this value early in the boot sequence. The files sit next to each other on disk, they are both .json files, they can be loaded the same way.

The thing I am pushing for is a consistent user experience for settings. We have Prefe

[2016-03-18 22:39] Tyriar commented on #4400
I think thinking about this earlier, we could notify some time in the following month when it's safe to assume there will be a new version released (or pinging update server). https://github.com/Microsoft/vscode/issues/2973 and https://github.com/Microsoft/vscode/issues/229 will supersede this for the majority of cases, but it would still probably be a good thing to have regardless just in case th

[2016-03-18 22:52] zeluspudding opened #4441 "file"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-03-18 22:58] Tyriar opened #4442 "Add a post install script to remove the legacy symlink"
.deb: https://github.com/Microsoft/vscode/commit/b6486f7ddf812aa88ba5d2df961ff5d99029f2ad

Still need to do .rpm

[2016-03-18 22:59] Tyriar commented on #4442
How to: http://fedoraproject.org/wiki/How_to_create_an_RPM_package#Scriptlets

[2016-03-18 22:59] #4441 closed

[2016-03-18 23:25] zeluspudding commented on #4441
That's weird - I definitely didn't intend to open any issue. Sorry about that... keyboard fart

[2016-03-18 23:40] asthana86 commented on #4399
One change to the above request:

Add the Microsoft C/C++ extension for VSCode to the list of recommended plugins

Fully Qualified Name: **ms-vscode.C-CppTools**
Extensions: .c, .cpp, .h, .hpp, .cc, .cxx, .hh, .hxx

[2016-03-19 00:02] v-pavanp opened #4443 "Mac: after native crash, sometimes application disappears from dock"
- VSCode Version: 0.10.12-alpha
- OS Version: MAC OS X EI captian (Version 10.11.2)

Steps to Reproduce:

1.  launch app and play around help menu to make application to be crashed (current behavior) or try to perform any action which makes VSCode to be crashed on MAC.
2. Once you get the alert window for crash click on "Reopen" button and verify application behavior.

Actual:
1. VSCode re-launche

[2016-03-19 00:31] brennanMKE commented on #4037
Great, thanks.

[2016-03-19 00:42] Tyriar opened #4444 "HTML within markdown is incorrectly highlighted as markdown"
Content within a HTML tag in markdown is HTML, not Markdown:

![image](https://cloud.githubusercontent.com/assets/2193314/13895465/ad6add6e-ed30-11e5-90e4-a96e60cbbeca.png)

[2016-03-19 00:52] Tyriar commented on #4441
No worries :smile:

[2016-03-19 01:08] mkenne11 opened #4445 "Multi-line strings in Javascript not being color-coded correctly"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 15.10 x64

Steps to Reproduce:

- 1. Define a variable in a Javascript/Typescript file and assign a multi-line string value, using the "\" (backslash) character to join lines. e.g.

[code]

- 2. In the vscode editor only the first line of the string is correctly color-coded as a string-type. See screenshot attached.
![multi-line string color coding](h

[2016-03-19 01:40] ArtemGovorov commented on #3036
@egamma Great, thanks for the update!

[2016-03-19 02:21] goddyZhao commented on #3052
Thanks @alexandrudima , `cmd+f2` works!

[2016-03-19 02:57] ironcladlou commented on #3062
Has anyone found a workaround for this?

[2016-03-19 03:04] raregrass commented on #4316
Seems work, thank you.
But I find this matcher doesn't be written to the doc of vscode website, I think it should be clear for users.

[2016-03-19 03:04] raregrass commented on #4316
@dbaeumer

[2016-03-19 03:20] cherchyk commented on #4325
looks like it my machine

[2016-03-19 03:22] tones411 commented on #224
Please add tabs as an option, or allow third party plugin for tab functionality.

[2016-03-19 04:04] pflannery commented on #4298
@joaomoreno
this PR https://github.com/Microsoft/vscode/pull/3495 resolves the Linux issue where x-terminal-emulator isn't available.
Fedora 23 is an example where this problem is happening. Using this PR and changing the command to `gnome-terminal` works.

[2016-03-19 04:22] fishg opened #4448 "Why open Unity3d project aways 300%+ cpu usage?"
- VSCode Version: 0.10.11
- OS Version:OS X 10.11.3

Steps to Reproduce:

1. use vscode open a c# solution which created by Unity3D
2. open some c# file in vscode
Your will see cpu usage is more than 300% when first load,it's expect. But if your switch to new c# file in the same project,the backend mono process will use more than 300% cpu again.

![qq20160319-0 2x](https://cloud.githubusercontent.

[2016-03-19 05:25] Thaina commented on #514
Now this already one with salsa, take a look at typescript

[2016-03-19 06:11] MrVallentin opened #4449 "VSCode & Task Output freezing, printing and sleeping"
- VSCode Version: 0.10.11
- OS Version: Windows 10

I encountered some odd behaviors in VSCode, when using tasks and the output window.
I'm currently doing some Python and has setup a task, for ease of execution using
<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>B</kbd>.

---

The main issue is that VSCode opens the output window when the task starts (given that `"showOutput": "always"` is true), but out

[2016-03-19 06:31] bpasero commented on #2131
@Tyriar no clue, report it to Electron to find out more.

[2016-03-19 06:34] bpasero commented on #4325
@cherchyk sorry, what does your comment mean?

@mohsen1 thanks!

[2016-03-19 06:51] bpasero opened #4451 "Update our node.d.ts to 4.x"

[2016-03-19 07:00] bpasero commented on #4397
@rafaelmaiolla I noticed that the node.d.ts file used in vscode module is a bit outdated, I will update it next week with the latest for 4.x and see that your compile errors are also fixed. Until then, please use the `<any>` cast trick to disable TypeScript checking in this case.

[2016-03-19 07:32] bpasero opened #4452 "Support to pass in a name for the diff editor when using --diff"
--diff=<name> could be optional and used to better indicate a git diff. when this is done should also consider to make the diff editor readonly on both sides.

Related https://github.com/Microsoft/vscode/issues/4144

[2016-03-19 08:07] Spown commented on #3813
dunno about old/new style, TS and such. Intellisense doesn't work on very basic projects:

![](https://dl.dropboxusercontent.com/u/105338698/ShareX/2016-03/Code_2016-03-19_08-45-00.png)

explicitly calling for d.ts files by copying the declarations from automatically generated ``typings/tsd.d.ts`` shows that they are missing, while clearly present on the given location.

![](https://dl.dropboxuser

[2016-03-19 09:42] isidorn commented on #4214
It's not relevant to the git editor. If you have git < 2 in your path you should get a nice warning on startup. Reloading the window won't do, you need to shutdown Code and start it back up.

[2016-03-19 09:42] #4214 closed

[2016-03-19 09:49] isidorn opened #4453 "Prompt clicking on debug wrench if there is no launch.json"
Similar to debug: open repl, we should have a small notification prompt on the debug wrench if the user has no launch.json configured

[2016-03-19 09:50] isidorn commented on #3711
@waderyan I like the debug: wrench idea - created https://github.com/Microsoft/vscode/issues/4453

[2016-03-19 11:50] mtrivolli opened #4454 "Peek definition shows import line with typescript and es6 style modules"
- VSCode Version: 0.10.10
- OS Version: Debian Jessie

Steps to Reproduce:

- Create a simple typescript file using es6 style imports. For instance:
[code]
- Right click on "Promise<string>" => peek definition. It shows `import {Promise}`

[2016-03-19 13:06] intenter opened #4455 "Issue highlighting JS code when the property name starts with 'var'"
- VSCode Version: Version 0.10.11 (0.10.11)
- OS Version: OS X 10.10.5

Steps to Reproduce:

1. Create a javascript file and enter following code:
[code]
2. The code is highlighted this way:
![screen1](https://cloud.githubusercontent.com/assets/2051078/13898731/6ce79f22-edec-11e5-887b-05ade5ad9d30.png)

[2016-03-19 13:14] maedoc commented on #1749
FWIW, coming from Vim and its infinite flexibility, I found VSCode's 3 vertical split limit vastly reduced cognitive load of splitting, switching and cleaning up. Where in Vim, I'd <c-w> ad naseum to get the 'perfect' set up for a particular coding problem and then not change it unless forced to, in VSCode, I found the <c-\>, <c-1> etc made for a much more fluid & adaptable layout, according to th

[2016-03-19 13:17] hinogi commented on #4101
I think the problem lies somewhere in the languages\html\common\htmlWorker.ts. For me it seems as if the getRangesToPosition implementation doesn't return the appropriate Position but returns undefined. I do not know how to debug the worker thoug :( but it really aint't "effort easy" I think.

[2016-03-19 13:30] WebFreak001 opened #4456 "vscode marketplace shows wrong installation instructions"
For example for my [debugging extension](https://marketplace.visualstudio.com/items?itemName=webfreak.debug) the vscode marketplace says I should do `ext install debug` but when entering that into the console it wants to install [some python extension](https://marketplace.visualstudio.com/items?itemName=donjayamanne.python) as it has `debug` in its description and is the most downloaded extension.

[2016-03-19 15:19] egamma commented on #4456
You run this command from the command palette not on the command line, see the first sentence.

![image](https://cloud.githubusercontent.com/assets/172399/13899425/1e1fe0aa-edee-11e5-9e05-92baa56dd963.png)

@waderyan we should try to avoid this confusion.  I suggest to show this is a two steps
1) open command palette
2) run this command

[2016-03-19 15:21] WebFreak001 commented on #4456
yeah I meant command palette instead of console but I actually did it in the command palette

[2016-03-19 15:24] egamma commented on #4399
This issue was moved to Microsoft/vscode-distro#24

[2016-03-19 15:24] #4399 closed

[2016-03-19 15:37] Johnaka opened #4457 "can't download the installer"
- VSCode Version: 10.11
- OS Version:  windows 10 pro 1511

Steps to Reproduce:

1.  can't download the installer
2.  also could never update since 0.3 version
![screenshot 46](https://cloud.githubusercontent.com/assets/11838212/13899530/5d2f504a-ee12-11e5-8a4b-c2783adc29d1.png)

[2016-03-19 15:50] JamesDonnelly opened #4458 ""namespace" as a property name gets highlighted in JavaScript"
- VSCode Version: 0.10.11
- OS Version: Windows 8.1

Steps to Reproduce:

1. Create a new JavaScript file.
2. Enter `foo.namespace`.

The property `namespace` gets highlighted, however I don't believe `namespace` has any meaning in JavaScript.

![image](https://cloud.githubusercontent.com/assets/2203377/13899598/47d56630-edea-11e5-9e4a-6b019e7bfdb1.png)

[2016-03-19 16:07] egamma commented on #4170
I'll reopen the issue to have the discussion again.
I like the suggestion from @bpasero to expose this like the other preferences from the preferences menu.

[2016-03-19 16:28] egamma commented on #4414
feels much better again, thanks!

[2016-03-19 16:34] egamma commented on #3829
@isidorn I think there is nothing to verify here since we rolled back this change, correct?

[2016-03-19 18:27] mohsen1 commented on #4325
@bpasero should I pass `-p` to `Electron` executable on my Mac?

[2016-03-19 18:33] mohsen1 commented on #4325
I can't pass `-p` to the executable in OS X. Tried:

[code]

or
[code]

with no luck.

[2016-03-19 20:18] isidorn commented on #3829
@egamma exaclty, we rolled back the change

[2016-03-19 21:24] pflannery commented on #3829
If I understand vscode is now going hide the debug console after pressing stop.
My problem with this change is its essential to see the output history trail of a debug session even if pressing the stop button half way through a session.

Here is an example of stopping debugging with v0.10.11 and what I see after I press stop.

![image](https://cloud.githubusercontent.com/assets/1727302/13901326/c3

[2016-03-19 22:33] myusrn opened #4459 "story for pulling in remote origin topic branch that already exists into local repo"
- VSCode Version: 0.10.11
- OS Version: win10 10586.164

Steps to Reproduce:

1. open folder containing clone of remote origin master

2. click on git branch status area in bottom left corner, or enter ctrl+p or f1+>Git: Checkout, and enter name of remote origin branch you want to local copy to reference.  the git ouput window shows "git checkout -q -b someTopicBranch" and "git fetch" were execute

[2016-03-19 23:07] bill-mybiz commented on #3958
@dbaeumer 1.8.9 seems to have fixed the issue. I say this tentatively, as I haven't really tested it extensively. But if I use 1.8.2, the lag is immediate on restart of VS code in that thingexpress-tests.ts file. When I switch it to use 1.8.9, the lag doesn't seem to occur in that file. When I switch back, the lag returns. And for complete-ishness, I've now switched back to 1.8.9 and the lag is go

[2016-03-20 00:02] JamesDonnelly commented on #4458
It seems the word `any` also gets highlighted like this as well.

    foo.any

[2016-03-20 00:03] Tyriar commented on #4457
/cc @waderyan @chrisdias

[2016-03-20 00:16] rakkarage opened #4460 "wrappingColumn"
there should be some way to disable wrapping?
i can set to zero to wrap automatically...
i should be able to set to **-1** to disable?
and i CAN! it is just that the description does not mention this:

thanks

[2016-03-20 00:23] Tyriar commented on #3960
ping @mousetraps

[2016-03-20 00:36] Tyriar opened #4461 "Using horizontal scroll with mouse breaks search text boxes"
*Found in test tour https://github.com/Microsoft/vscode/issues/3719*

- VSCode Version: 0.10.12-alpha
- OS Version: Ubuntu 15.10

Steps to Reproduce:

1. Find in files
2. Expand options
3. Use <kbd>shift</kbd>+`mouse wheel` to attempt to scroll "files excluded through settings text box"

Observe the truncated text is just shifted over, not scrolled correctly:

![image](https://cloud.githubusercont

[2016-03-20 00:40] Tyriar opened #4462 "[ember] Provide syntax highlighting for .ember-cli files (JSON)"
_Found in test tour https://github.com/Microsoft/vscode/issues/3719_

[2016-03-20 00:40] Tyriar opened #4463 "[ember] Provide syntax highlighting for .watchmanconfig files (JSON)"
_Found in test tour https://github.com/Microsoft/vscode/issues/3719_

[2016-03-20 00:40] Tyriar opened #4464 "[ember] Provide syntax highlighting for robots.txt files"
_Found in test tour https://github.com/Microsoft/vscode/issues/3719_

[2016-03-20 00:40] Tyriar opened #4465 "Provide syntax highlighting for .gitignore files"
_Found in test tour https://github.com/Microsoft/vscode/issues/3719_

Comments (lines starting with `#`) at the very least should be highlighted.

[2016-03-20 00:55] Tyriar commented on #3719
1. Installed dependencies
2. Scaffolded Ember CLI app

 :bulb: Noticed no highlighting when there could easily be on the following files:
 - `.ember-cli` (json) https://github.com/Microsoft/vscode/issues/4462
 - `.gitignore` (# comments) https://github.com/Microsoft/vscode/issues/4465
 - `.watchmanconfig` (json) https://github.com/Microsoft/vscode/issues/4463
 - `robots.txt` https://github.com/Mic

[2016-03-20 01:06] ChrisPearce opened #4466 "Settings in tsconfig.json file not being applied if tsconfig.json is in a subdirectory rather than root"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.3

Steps to Reproduce:

1. Place a tsconfig.json file in a subdirectory rather than in root (e.g. /src/tsconfig.json)
2. Ensure tsconfig.json contains "experimentalDecorators": true
3. Create a TypeScript file (under /src) that uses decorators
4. Visual Studio Code incorrectly displays an error regarding "Experimental support for decorators..."
5.

[2016-03-20 01:17] Tyriar commented on #4466
According to the [TypeScript wiki](https://github.com/Microsoft/TypeScript/wiki/tsconfig.json):

Because of this I don't think vscode should attempt to go further down the folder structure, this is how it works for `.eslintrc` and other similar config files too.

Closing as designed.

[2016-03-20 01:17] #4466 closed

[2016-03-20 01:45] Tyriar commented on #3719
Make a PR to ember-cli for the `search.exclude` setting https://github.com/ember-cli/ember-cli/pull/5643

[2016-03-20 01:45] #3719 closed

[2016-03-20 02:15] leocrespo opened #4467 "C# support not working after C# extension installed"
- VSCode Version: 0.10.11
- OS Version: 10.11.3

Steps to Reproduce:

1. Download this file and open it with VS Code http://d.pr/f/1jczl
2. Check if there's intellisense.

If it doesn't have intellisense, it's not an editor. Might as well use textedit.

![Image of No Intellisense]
(http://d.pr/i/1he2V.gif)

[2016-03-20 02:18] Tyriar commented on #4467
Did you install the C# extension? https://code.visualstudio.com/Docs/languages/csharp#_installing-c35-support

[2016-03-20 02:23] leocrespo commented on #4467
Yes it's installed

![Image of VSCode]
(http://d.pr/i/15tLS.png)

[2016-03-20 02:28] Tyriar commented on #4467
@leocrespo and was vscode restarted after it was installed?

[2016-03-20 02:30] leocrespo commented on #4467
Yes of course. Have you tried downloading the file and opening it, I'm sure there won't be any intellisense.

[2016-03-20 02:40] Tyriar commented on #4467
Works fine for me. I'm on Windows 10 and had VS2015 installed before VSCode.

![image](https://cloud.githubusercontent.com/assets/2193314/13902545/8c9a1062-ee09-11e5-83a0-e56936a1c6f7.png)

I haven't actually used the C# support before, one of the other devs might be able to help you out beyond this point.

[2016-03-20 02:48] leocrespo commented on #4467
I can do that too, that's not intellisense.
![Image of candothattoo]
(http://d.pr/i/1k46V.png)

This is intellisense
![Image of thisisintellisense]
(http://d.pr/i/XTlX.gif)

[2016-03-20 03:06] Tyriar commented on #4467
@leocrespo this might resolve your issue http://stackoverflow.com/a/29979730/1156119

[2016-03-20 03:14] leocrespo commented on #4467
1. There isn't any option for me to create a project.json or a solution. (amazing)
2. There is no "Open folder" command

![Image of selection]
(http://d.pr/i/aeyZ.gif)

[2016-03-20 03:24] leocrespo commented on #4467
All I want is to have basic intellisense on the file I posted, just as I do when I open it with VS. So I created a solution in VS2015.

![Image of aa]
(http://d.pr/i/14zVQ.png)

then opened everything with VSCode and still no intellisense.
![Image of bb]
(http://d.pr/i/14zVQ.gif)

[2016-03-20 04:58] Dlorwisdom commented on #1772
I too would like to see this feature!! I've spent the last hour trying to figure out why my VSCode wasn't behaving properly, but know I know that it is!

[2016-03-20 05:17] ericguo opened #4468 "New line always starts at the beginning of line (Col 1)"
- VSCode Version: Version 0.10.11 (0.10.11)
- OS Version: Mac OSX 10.11.2 (15C50)

Steps to Reproduce:

1. Typescript as an example, create an empty file and input "if {"
2. Hit enter, the new line always start at Col1 instead of Col5 with correct margin on the left.

[2016-03-20 05:25] SpacemanPete commented on #1704
Hi all, so I know this is closed but I'm unable to launch VSCode from my git bash shell on windows. After attempting `$ code` or  `$ code .`, or `$ code /path/to/folder/` I get the following error:
`/c/Program Files (x86)/Microsoft VS Code/bin/code: line 10: /Code.exe: No such file or directory`

I confirmed that my $PATH variable includes the VSCode directory and the VSCode/bin directory.

I'm tr

[2016-03-20 07:33] Tyriar commented on #4467
Visual Studio can generate sln files as you mention, VSCode cannot. VSCode typically relies on external tools or extensions for that kind of project scaffolding.

As for the `project.json`, it looks like this is created using the relatively new .NET Core and [`dotnet` CLI](http://dotnet.github.io/getting-started/) which uses a more folder-based approach to C# development which is more inline with

[2016-03-20 08:06] Tyriar commented on #1704
/cc @joaomoreno

[2016-03-20 08:40] zivni opened #4469 "Rename and fine all references of Typescript's string literal values"
Type script [string literals](https://github.com/Microsoft/TypeScript/pull/5185) allow to have a code such as
[code]

It would be nice to be able to rename and find all references of a specific value. e.g. find/rename all occurrences of "option 1". Currently we can only find the references of the type itself.

[2016-03-20 08:42] foisonocean opened #4470 "sometimes get a warning in the default settings.json"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.3

Steps to Reproduce:

1. Preferences > User settings.
2. sometimes get a warning in the default settings.json

![test](https://cloud.githubusercontent.com/assets/15059605/13903524/3d3f6614-eeba-11e5-8bea-05419a53cb64.png)

[2016-03-20 08:51] lukefan6 commented on #3865
I had the same issue and switching module to 'amd' did get it fixed.
However I don't understand why it's TS 1.8.x issue rather than VSCode's, could anyone elaborate?

[2016-03-20 09:00] bpasero commented on #4325
@mohsen1 you still need to invoke the action "Developer: Startup Performance" from the command palette.

[2016-03-20 09:04] xuyungit commented on #3958
@bill-mybiz @dbaeumer I can also confirm that TS 1.8.9 also fixed the issue in my machine.

[2016-03-20 11:19] csholmq commented on #4325
OS X 10.11.3 running VSCode Insiders 0.10.12.

`code-insiders -p`

Then executed `>Developer: Startup Performance`.

![screen shot 2016-03-20 at 12 18 21](https://cloud.githubusercontent.com/assets/1297882/13904110/e3e05764-ee95-11e5-93af-51643772260d.png)

[2016-03-20 11:39] csholmq commented on #4325
OS X 10.11.3 running VSCode 0.10.11.

`code -p`

Then executed `>Developer: Startup Performance`.

![screen shot 2016-03-20 at 12 38 21](https://cloud.githubusercontent.com/assets/1297882/13904199/aa6b79ac-ee98-11e5-8a61-df0dba9c7028.png)

[2016-03-20 11:53] csholmq commented on #4325
OS X 10.11.3 running VSCode 0.10.10.

`code -p --disable-extensions`

Then executed `>Developer: Startup Performance`.

![screen shot 2016-03-20 at 12 52 16](https://cloud.githubusercontent.com/assets/1297882/13904258/9d031ffc-ee9a-11e5-8133-6965a4aafa4f.png)

Wasn't able to install 0.10.9 to PATH so I stopped at 0.10.10.

[2016-03-20 12:03] mrmckeb commented on #3355
@pflannery, sorry I didn't get a change to look at this over the weekend. I'll try to look one night after work this week, but if not, definitely on the coming weekend.

I'll obviously need to get my head around developing VSCode and it might be slow to start with, but I'm really excited about jumping in.

@Tyriar I'm sure whatever work is done here will be somewhat transferrable to that too (at l

[2016-03-20 13:29] felixfbecker commented on #3355
I also wanted to point out that this GUI should not only apply to settings. I know people who don't know JSON and are totally confused how to setup a launch.json or tasks.json to make it do what they want. If the GUI is generated from a schema it would be trivial to show the "switch to GUI" button for these files aswell.

[2016-03-20 14:48] pcgeek86 opened #4471 "Feature Request: Need a Git Commit command in the Command Palette"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

Steps to Reproduce:

1. Open Command Palette
2. Search for `commit`
3. Notice that no `Git: Commit` command is available

I realize that the `CONTROL + SHIFT + G` shortcut is available, but in my opinion, for completeness, we should have a `Git: Commit` command in the Command Palette.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2016-03-20 15:33] jsloyer opened #4472 "Proper Way to get value of change event for a HTMLElement"
- VSCode Version: 0.10.11
- OS Version: OSX

I am in the process of writing a html select ui element (I will be opening a PR for this eventually), however I am having an issue getting the value of the dropdown on a change event.

The onchange function is below.  This issue is e.target.value is null because it is not defined on `EventTarget`.  I have tried fetching the changed value via `this.$sele

[2016-03-20 17:01] pflannery commented on #3355
@mrmckeb no need to apologize. Take your time. Don't feel you have to do anything at all.

[2016-03-20 17:14] pedroassis opened #4473 "[Bug] Using the Tab key to indent messes the code"
- VSCode Version:  0.10.8 (0.10.8)
- OS Version: OS X EL Capitan 10.11

Steps to Reproduce:

1. Select the try block in following the code
2. Hit `tab`
3. Hit `Command+z`

Code:
[code]

This bug happens in other pieces of code, there is no way of undo the change with `Command+z` which makes it even worse. `Command+Shift+z` also does not help.

The workaround is to pray you saved the file in the ri

[2016-03-20 17:14] mubaidr opened #4474 "[JavaScript] Broken syntax highlight for multiple variable definition using single 'var'"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Open Any JS File
2. Define multiple variables using single var. i.e.
`var a = 0,
b = 1,
c = 3;`
3. Syntax highlighting for b,c will be broken. (Tested on multiple themes)

![capture](https://cloud.githubusercontent.com/assets/2222702/13905695/0007b90c-eee9-11e5-827d-e655b6309b5c.PNG)

[2016-03-20 17:17] mubaidr commented on #4468
Cannot confirm this issue with the Vanilla JS, cursor starts at correct indent. Maybe it is just an issue related to typescript.

[2016-03-20 17:29] pflannery commented on #4467
@leocrespo just want to point out that the example you show here would never work as your trying to write the script in the c# class root scope.
In this scenario Visual studio also fails to show intellisense too

![animation](https://cloud.githubusercontent.com/assets/1727302/13905713/94439ea8-eebf-11e5-8228-9d51b603061d.gif)

Try this example project in vscode https://github.com/dotnet/core/tree/

[2016-03-20 17:38] Tyriar commented on #78
Adding my :+1:. This would solve one of the issues I encountered in the [ember-cli test tour](https://github.com/Microsoft/vscode/issues/3719), saving devs from setting up a vscode-specific config file. Related PR: https://github.com/ember-cli/ember-cli/pull/5643

[2016-03-20 17:43] Tyriar commented on #4473
Updating vscode will fix this issue. I think it was this one: https://github.com/Microsoft/vscode/issues/2829

[2016-03-20 17:43] #4473 closed

[2016-03-20 17:57] Alphapage opened #4475 "Feature request: multiple commands in tasks.json"
Hello,

For now, tasks.json allows only one command to be set.
It would be great to be able to have multiple commands, one for each tool something like this:
[code]

I hope you will take my request into consideration and hope this will help to enhance vscode.

Thank you in advance for your feedback.

[2016-03-20 19:07] CodeZombieCH commented on #4465
I recently created an extension to assist in working with `.gitignore` files. The current version includes syntax highlighting as you requested. You can find the extension in the [marketplace ](https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore) and on [GitHub](https://github.com/CodeZombieCH/vscode-gitignore).

[2016-03-20 19:24] ironcladlou opened #4476 "Introduce a setting to configure display of hover widget"
- VSCode Version: 10.10.11
- OS Version: OSX 10.11.3

I am not able to find any setting which allows me to globally disable automatic tooltips generated by plugin `HoverProvider` implementations. I prefer to see `HoverProvider` information only when a modifier key is pressed (i.e. peek definition). I find automatic tooltips distracting, and there are also some [performance implications](https://gi

[2016-03-20 19:32] ironcladlou commented on #3130
I've found an interesting performance implication resulting from the current defaults/lack of configurability. Consider the hard-coded modifier associated with the "peek definition" functionality. If a plugin must do some work to provide the definition, it's very likely VSCode will ask plugins for definition information even when the user has no intention of obtaining it. As I describe in https://

[2016-03-20 19:34] ironcladlou commented on #4476
There are also some performance benefits to disabling this feature, depending on the plugins in use (see https://github.com/Microsoft/vscode-go/issues/257).

[2016-03-20 20:09] mattlanser opened #4477 "Problems with C++ syntax highlighting"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 15.10 (64-bit)

Steps to Reproduce:
1. Enter
`asm("movw $0x38, %ax; ltr %ax");	 `

Example:
![screenshot from 2016-03-20 21-08-40](https://cloud.githubusercontent.com/assets/12996728/13906801/fa879c4e-eedf-11e5-8a39-7c23dc8ba57f.png)

[2016-03-20 21:29] weinand commented on #3161
@isidorn this issue has broken the go-debugger. I've created a PR for them but I still think that we should have provide backward compatibility as was suggested above.

[2016-03-20 21:29] Coder206 opened #4478 ""Open in Terminal" not working on Fedora"
- VSCode Version: 0.10.11
- OS Version: Fedora 23 (64 Bit)

Steps to Reproduce:

1. Save work
2. Right click in the toolbar
3. Select "Open in Terminal"

[2016-03-20 21:30] weinand commented on #4102
Go debugger in current Go extension doesn't work in VS Code-alpha. The problem is a missing adoption of https://github.com/Microsoft/vscode/issues/3161. I've create a PR to address this: https://github.com/Microsoft/vscode-go/pull/258

[2016-03-20 21:31] #4102 closed

[2016-03-20 21:58] dpMerchant opened #4479 "The type or namespace name `Forms' does not exist in the namespace `System.Windows'. Are you missing `System.Windows.Forms' assembly reference?"
- VSCode Version: - 0.1.0
  OS Version: elementary OS 0.3.2 Freya (64-bit) (Built on Ubuntu 14.04)
Steps to Reproduce:

1. After installing VSCode and Mono 4.2.3 I tried the "helloworld" samples.
2.  When I tried the Winforms sample I got these two error messages.

WinHello.cs(2,22): error CS0234: The type or namespace name `Forms' does not exist in the namespace `System.Windows'. Are you missing

[2016-03-20 22:18] bipin-nag opened #4480 "Constantly updating file runs git and causes PC to freeze"
- VSCode Version:
Version 0.10.8
Commit db71ac615ddf9f33b133ff2536f5d33a77d4774e
Date 2016-02-05T10:00:07.223Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1

- OS Version:
Ubuntu 15.10 64bit

Steps to Reproduce:

1. Setup a repository for git
2. Add a file, push it and open in git view
3. External program appends it (log) very quickly

It can be averted if I added the file in .gitignore. Still its

[2016-03-20 22:24] bipin-nag commented on #4480
gits are run as soon as file is updated repeatedly

bipin    12966 12252  4 03:22 ?        00:00:00 git show HEAD:myfile/thatwas/updating
bipin    12967 12252  5 03:22 ?        00:00:00 git show HEAD:myfile/thatwas/updating
bipin    12968 12252  4 03:22 ?        00:00:00 git show HEAD:myfile/thatwas/updating
bipin    12969 12252  4 03:22 ?        00:00:00 git show HEAD:myfile/thatwas/updating
bipi

[2016-03-20 23:20] Tyriar commented on #4465
Nice @CodeZombieCH! I think we may want to integrate the [basic syntax highlighting](https://github.com/CodeZombieCH/vscode-gitignore/blob/master/syntaxes/gitignore.json) into the core editor.

[2016-03-20 23:34] rkeithhill commented on #3153
@jrieken I tried today's alpha build and the problem still exists. :-(

[2016-03-20 23:52] Tyriar commented on #4478
Reproduced. Sometimes it gives the error `spawn ENOTDIP`. It's happening because `x-terminal-emulator` is not in the `PATH` on Fedora.

[2016-03-20 23:53] Tyriar commented on #4478
`x-terminal-emulator` is part of the Debian alternatives system which is why this doesn't work.

[2016-03-21 01:03] twomarktwo commented on #3192
+1

[2016-03-21 01:50] rhires opened #4481 "Markdown shows stylesheet with preview, but not with the compiled files?"
Is there a(n easy) way to get the preview to become the compiled file, which would include the styling? Following the tutorial just creates the html (stub, since it's not a full page), and looking at the marked github page gives precious little info regarding how to include a stylesheet in the compiled file, except for a few items from 2013 (found via a Google search).

[2016-03-21 02:49] roterdam commented on #3451
Open up ''/usr/lib/x86_64-linux-gnu/libxcb.so.1.1.0'' and remove BIG_EXTENSIONS to something else like FIG_EXTENSIONS.

sudo vi /usr/lib/x86_64-linux-gnu/libxcb.so.1.1.0
s/BIG_EXTENSIONS/FIG_EXTENSIONS

This is a total hack, but it does work.

[2016-03-21 03:26] pflannery commented on #4478
There is a PR https://github.com/Microsoft/vscode/pull/3495 that allows Linux users to specify a different terminal other than the hard coded `x-terminal-emulator` not sure whether it will be accepted or not though

[2016-03-21 03:36] lukefan6 commented on #1915
+1 I've got similar error and only way to get around it is to close vscode and open it again
btw my vscode is v 0.10.11

[2016-03-21 04:00] Tyriar commented on #4478
@pflannery thanks for pointing that out

[2016-03-21 04:26] michael-wolfenden opened #4484 "Should JavaScript snippets automatically be made available to other JavaScript based languages (TypeScript, JavaScript React)"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Create a new JavaScript snippet, for example:
[code]

2) If you create a new file with the language set to `JavaScript`, enter `cl` and press tab, the snippet will expand.

3) If you create a new file with the language set to `TypeScript`, the`cl` snippet is not available.

The current solution is to re-implement the snipp

[2016-03-21 04:39] michael-wolfenden opened #4485 "[snippets] Allow snippets where the prefix ends with ="
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Create the JavaScript snippets below

[code]

2. Create a new file with the language set to `JavaScript`

3. Type `v` then TAB and note that the `var statement` snippet expands

3. Type `v=` then TAB and note that the `var assignment` snippet DOES NOT expand

[2016-03-21 05:04] Iconoclasming opened #4486 "Selecting a line when file is auto-updating causes to scroll down near to the end of file"
- VSCode Version: 0.10.11
- OS Version: Windows 8.1 Enterprise

Steps to Reproduce:
1. Something outside is writting to the file, and the changes are auto-updated by VSCode (in my case: my app is writting something to the log file every 1-2 seconds);
2. Start selecting a line in this file when VSCode adds new lines.

[2016-03-21 05:05] gregvanl opened #4487 "tsd and typings different?"
- VSCode Version: 0.10.11 stable, 0.10.12 alpha
- OS Version:Windows 8

Steps to Reproduce:

1. Go through the Node.js runtime walkthrough (/docs/runtimes/nodejs.md) to "adding a jsconfig.json file" step.
2. After adding jsconfig.json and restarting VS Code, try to get IntelliSense on `routes`.

No Express.Router specific IntelliSense comes up.  This should be provided by:
    var routes = require

[2016-03-21 06:58] egamma commented on #4487
This works when using `tsd install node express`. It doesn't work when using `typings --ambient`.

We should mention this in the docs and describe the work around.

![image](https://cloud.githubusercontent.com/assets/172399/13912155/5f724622-ef3a-11e5-9572-dc968c0b6518.png)

[2016-03-21 06:59] egamma commented on #4487
This issue was moved to Microsoft/vscode-docs#241

[2016-03-21 07:02] egamma commented on #4487
@jrieken we can fix the docs and document the work around, but we should understand the reason. Can you look into this.

[2016-03-21 07:02] bpasero opened #4488 "Cannot read property 'scheme' of undefined"
Got this by running "out of source" with latest clicking through some TS files of the workbench (within the vs/workbench/api folder):

[code]

[2016-03-21 07:04] Houfeng opened #4489 "Explorer text color error"
- VSCode Version: 0.10.11
- OS Version: osx 10.11.13

Steps to Reproduce:

1. Open a file that already exists
2. Write some content
3. Rename this file in the left Explorer
4. Click "don't save"  in the pop-up dialog

Repeat several times

[2016-03-21 07:14] johnliu2016 commented on #4168
Fixed in loc files

[2016-03-21 07:41] dbaeumer commented on #4316
With the latest build we added templates to generate the tasks.json file and one of the templates is tsc in watch mode. Closing,

[2016-03-21 07:41] #4316 closed

[2016-03-21 07:57] ZodmanPerth commented on #69
Just getting back to trying to resolve my particular issue again.  Installing v0.10.11 and adding "http://" to my http.proxy URL fixes my issue accessing the extensions list for browsing.

Interestingly though, the traffic still doesn't show up on my Fiddler4 session.

[2016-03-21 08:04] dbaeumer commented on #4168
Closing. Fixed according to last comment.

[2016-03-21 08:04] #4168 closed

[2016-03-21 08:12] dbaeumer commented on #4488
@jrieken I received a document remove event with a document set to undefined. Moving to you since the remove document should IMO contain a valid document object. Marking as important since you changed something in that area on Friday and I suspect a regression here.

[2016-03-21 08:12] dbaeumer commented on #4488
Setting to mark to see if this is a regression. @jrieken feel free to un-label.

[2016-03-21 08:16] jrieken commented on #4468
should be fixed in recent versions

[2016-03-21 08:17] jrieken commented on #4467
@leocrespo There is a Omnisharp log file (Cmd+L,L) Please paste its contents here.

[2016-03-21 08:24] jrieken commented on #4427
This issue was moved to OmniSharp/omnisharp-vscode#113

[2016-03-21 08:24] #4427 closed

[2016-03-21 08:24] jrieken commented on #4448
This issue was moved to OmniSharp/omnisharp-roslyn#442

[2016-03-21 08:24] #4448 closed

[2016-03-21 08:24] bpasero commented on #4397
@rafaelmaiolla I published vscode@0.11.9 with an updated node.d.ts

[2016-03-21 08:25] jrieken commented on #4467
This issue was moved to OmniSharp/omnisharp-vscode#114

[2016-03-21 08:25] #4467 closed

[2016-03-21 08:25] jrieken commented on #4479
This issue was moved to OmniSharp/omnisharp-roslyn#443

[2016-03-21 08:25] #4479 closed

[2016-03-21 08:28] dbaeumer commented on #4475
Dups #981

[2016-03-21 08:28] #4475 closed

[2016-03-21 08:32] bingzheyuan commented on #2828
@Morgy93 That wasn't my question but your comment is very helpful as well, thanks.
@aeschli OK, then no more problem about this issue now, thanks for the great work.

[2016-03-21 08:32] jrieken commented on #4488
@alexandrudima It seems we have a document without an uri...

[2016-03-21 08:38] dbaeumer commented on #4436
@egamma this is a dup of #3841 and no one was brave enough so far to do that change for March. So I proposed to due this for April to get some testing on it. Lets's discuss in standup today.

[2016-03-21 08:39] felixfbecker commented on #3766
I can confirm this. A "clear all errors" command would be helpful at least.

[2016-03-21 08:43] dbaeumer commented on #4449
@isidorn changed quite some code here for March milestone. Need to check if this behavior got better.

[2016-03-21 08:44] dbaeumer commented on #4468
This only happend with format on type on and got fixed in the March release.

[2016-03-21 08:44] #4468 closed

[2016-03-21 08:44] jrieken commented on #4487
yeah, I'll take a look and see what's the difference between tsd and typings

[2016-03-21 08:47] dbaeumer commented on #4469
This issue was moved to Microsoft/TypeScript#7611

[2016-03-21 08:47] #4469 closed

[2016-03-21 08:49] dbaeumer commented on #1915
@lovedota how does your tsconfig.json file look like. And if you compile the src using tsc on a command line do you see the same errors.

[2016-03-21 08:49] Alphapage commented on #981
I think the schema in this request could solve the problem: https://github.com/Microsoft/vscode/issues/4475

It allows to define multiple commands and it is very easy to transform to the current tasks.json schema.

[2016-03-21 08:53] jrieken commented on #4480
@bipin-nag

Do you mean viewing in the diff editor or just in the view?

[2016-03-21 08:58] dbaeumer commented on #4170
The reason why having a separate file was actually startup performance. It is not only reading the file it is also parsing it. And having a separate file allows for stating that file and only read it if present. If we put this into the settings file then we always have to read that file on startup and then in most cases find out that no value is stored in there.

I add a menu entry when I code it

[2016-03-21 09:01] bpasero commented on #4170
My suggestion: Show it under File > Preferences and instead of opening a file we show a drop down of all supported languages (similar to how we show Themes). Selecting a language just writes to this file in the backend without the user knowing.

[2016-03-21 09:02] dbaeumer commented on #4454
This issue was moved to Microsoft/TypeScript#7612

[2016-03-21 09:02] #4454 closed

[2016-03-21 09:03] aeschli commented on #1656
@Tyriar The change was not rejected. It just needed extra changes in for SASS.

[2016-03-21 09:03] bpasero commented on #4489
@Houfeng can you attach a screenshot of what happens?

[2016-03-21 09:05] bpasero commented on #4486
Not sure if we can be better here, have to investigate.

[2016-03-21 09:05] bpasero commented on #4481
@rhires you want to compile the MD file to the HTML file and save it somewhere?

[2016-03-21 09:07] fabiopicchi opened #4490 "Macro recording"
It would be nice to be able to record a sequence of inputs and them reproduce it as in Notepad++ or Vim.

[2016-03-21 09:11] bpasero commented on #4429
This is expected because we do not store any settings in empty workspaces. This would not happen when you open a folder.

[2016-03-21 09:14] bpasero commented on #4430
This seems to be https://github.com/atom/electron/issues/4261

[2016-03-21 09:18] leocrespo commented on #4467
There's no need to send logs or try any other steps, this problem takes 15 seconds to reproduce.
Just download this file, open it with VS Code and you'll see there's no intellisense

http://d.pr/f/1jczl

[2016-03-21 09:20] egamma commented on #4449
@dbaeumer to verify that the improvements for March improve this.

[2016-03-21 09:20] bpasero commented on #4325
@csholmq thanks much, the numbers though do not show any slowdown. the interesting number is "Total" which is the time it takes until all things are loaded. Can you see that after ~3 seconds the UI has loaded?

[2016-03-21 09:25] egamma commented on #4480
@bipin-nag can you reproduce this in the latest version of Code.

[2016-03-21 09:25] aeschli commented on #4470
This issue was moved to jakob101/RelativePath#4

[2016-03-21 09:25] #4470 closed

[2016-03-21 09:31] chenxizhang opened #4491 "VSCode crash report, But the app can run. what's wrong?"
- VSCode Version:0.10.11
- OS Version:Windows 7

Steps to Reproduce:

1. cd somefolder
2. code
![1](https://cloud.githubusercontent.com/assets/1996954/13914640/9c6c967c-ef8a-11e5-822f-001e12b1ae8e.png)
![2](https://cloud.githubusercontent.com/assets/1996954/13914641/9ca11514-ef8a-11e5-94c5-30ceceddceca.png)

[2016-03-21 09:45] jrieken commented on #4480
With latest alpha this seems not to happen

[2016-03-21 09:47] chenxizhang commented on #4491
I found the code intellisence can not work well , This maybe a big bug

[2016-03-21 09:48] aeschli commented on #4484
While it is some work for the user to copy/paste the snippets to the other languages, it gives the user full control over what snippets show up.
One issue I see is that you don't always want JavaScript snippets show up in TypeScript, where you rather want snippets that include types.

[2016-03-21 09:48] #4484 closed

[2016-03-21 09:48] egamma commented on #4436
Revisit in April

[2016-03-21 09:59] Alphapage opened #4492 "Feature request : add in code 'debugger;' to breakpoints panel for .ts and .js files"
Hello,

Typescript and javascript support `debugger;` to stop the debugging process when hitting.

It would be great to show those breakpoints in the breakpoints panel for info and even add a checkbox to show/hide such a feature.

Thank you in advance for your feedback.

[2016-03-21 10:21] alexandrudima opened #4493 "Creating editor with model does not send model changed event to contributions"
https://opentools.azurewebsites.net/playground.html#extending-language-services-custom-languages

Trigger characters don't work

[2016-03-21 10:27] dbaeumer commented on #4436
Dups #3841

[2016-03-21 10:27] #4436 closed

[2016-03-21 10:32] jrieken commented on #4487
@gregvanl @egamma difference is that `tsd` installs dependencies recursively, that is for _express_ `serve-static` and `express-serve-static-core`. Once I run the `typing i --ambient` command for them things work.

![screen shot 2016-03-21 at 11 32 12](https://cloud.githubusercontent.com/assets/1794099/13916059/94100068-ef58-11e5-9d22-d89437db1c38.png)

[2016-03-21 10:33] Nieksa opened #4494 "When I minimize VS-Code while using windows-key + arrow keys, VS-Code becomes unresponsive untill I maximize it to fullscreen."
- VSCode Version: 0.10.11
- OS Version: Windows  10

Steps to Reproduce:

1. Open Chrome set it to the left side of the screen with Windows key + Left arrow key
2. Op VS-Code and set it to the right side of the screen with Windows + Right arrow key.

in some cases VS-Code becomes unresponsive to mouse inputs until it is resized to max.

[2016-03-21 10:34] jrieken commented on #4487
this is the call to rule them all: ` typings install node express serve-static express-serve-static-core --ambient`

[2016-03-21 10:37] HCanber opened #4495 "Format Code fails for javascript depending on line breaks"
- VSCode Version: __0.10.11 f291f4ad600767626b24a4b15816b04bee9a3049__
- OS Version: __OS X 10.11.3 (15D21)__

Steps to Reproduce:

- New document
- Paste:

[code]
- Save as `test.js`
- Issue the command `Format Code`  (Spaces: 2)
- Nothing happens, which is _not_ expected behavior. I can understand if the function isn't formatted properly, but I expect `var x` (and the rest of the code in the doc

[2016-03-21 10:42] #4487 closed

[2016-03-21 10:47] dbaeumer commented on #4449
I still see the freeze on latest. @isidorn, @bpasero  I though the output window throttles.

[2016-03-21 10:48] jrieken commented on #4467
as outlined by @pflannery [here](https://github.com/Microsoft/vscode/issues/4467#issuecomment-198968898), what you trying to do isn't valid C# so you should not expect IntelliSense

[2016-03-21 10:51] alexandrudima commented on #4488
@bpasero Any repro steps? Did you have extensions installed that provide documents?

[2016-03-21 10:56] alexandrudima commented on #4488
@jrieken This is most weird.
* the `_uri` on `ExtHostDocumentData` is set only in the ctor.
* it is accessed in `_acceptModelAdd` so we know that this document was not created with an undefined uri:
[code]

* the `_acceptModelRemoved` only works if there is an `ExtHostDocumentData`

[2016-03-21 10:59] egamma commented on #4170
@dbaeumer @chrisdias

Summary from the stand-up discussion:

1. Finding the `Configure Locale` action in the Command Palette when you do not understand the display language doesn't work.
2. Configuring the locale command should have a fixed slot in the UI so that the user can always find it independent of the currently used display language.
3. Users do not know which display languages are availab

[2016-03-21 11:02] dbaeumer commented on #4449
I profiled it and the time is still spent mostly in the Output Window (see attached screen shot, self time)

![capture](https://cloud.githubusercontent.com/assets/1931590/13916747/b2f9e562-ef5c-11e5-8000-6cf674d1d004.png)

[2016-03-21 11:02] aeschli commented on #4477
This issue was moved to textmate/c.tmbundle#41

[2016-03-21 11:02] #4477 closed

[2016-03-21 11:03] jrieken commented on #4488
yeah, that's why I am so puzzled

[2016-03-21 11:04] aeschli commented on #4474
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/121

[2016-03-21 11:04] #4474 closed

[2016-03-21 11:05] aeschli commented on #4474
The screenshot seems to be for a different issue, can you confirm?

[2016-03-21 11:07] alexandrudima commented on #4488
The only funny business in there is that the document is returned via `weak`.get. I am not sure... maybe something is broken inside `weak` ?

[2016-03-21 11:08] huttarichard opened #4496 "Syntax highlight failing on variable names starting with 'var'"
- VSCode Version: Version 0.10.11 / Build f291f4ad600767626b24a4b15816b04bee9a3049
- OS Version: OSX 10.11

Do I need to explain more?

<img width="489" alt="snimek obrazovky 2016-03-21 v 12 05 14" src="https://cloud.githubusercontent.com/assets/1809268/13916877/82495d98-ef5d-11e5-87a3-abef041d2345.png">

[2016-03-21 11:09] egamma commented on #3813
In the setup below the above scenario works, see the screenshot. So I wonder what the difference is between yours an my setup. Do the setup below work for you?

![image](https://cloud.githubusercontent.com/assets/172399/13916854/64573d28-ef5d-11e5-85a3-8cef50f89f8e.png)

The ${workspaceRoot} setting is separate from the JavaScript language service.

[2016-03-21 11:10] alexandrudima commented on #4488
Maybe it is near death (whatever that means) and accessing any methods/members on the proxy returns undefined?

https://github.com/TooTallNate/node-weak/blob/master/src/weakref.cc#L280

[code]

[2016-03-21 11:12] alexandrudima commented on #4488
Looks like if the proxy is dead, the return value for a getter is undefined:

https://github.com/TooTallNate/node-weak/blob/master/src/weakref.cc#L74

[code]

I think `Local<Value>()` is undefined.

[2016-03-21 11:15] dbaeumer commented on #4449
In the sleep 1 seconds case the child process managed by node never receives any output data. I have no idea right now why this is the case.

[2016-03-21 11:16] alexandrudima commented on #4488
Their example at https://github.com/TooTallNate/node-weak#example mentions that a GC`d proxy acts as an empty object:
[code]

which is sort of what we're seeing with `document.uri`

[2016-03-21 11:18] Johnaka commented on #4457
![screenshot 47](https://cloud.githubusercontent.com/assets/11838212/13917088/77580e20-ef80-11e5-9ce0-75a9ec4a9fb0.png)

this is no work also

[2016-03-21 11:18] jrieken commented on #4192
![screen shot 2016-03-21 at 12 16 30](https://cloud.githubusercontent.com/assets/1794099/13917069/c5c412ce-ef5e-11e5-8c0a-cb3418c1fdb7.png)

Over the course of 90 seconds more and more instances of `t` have been accumulated. Since `app.js` roughly prints 10 messages per second, I assume that I have reached the max already

[2016-03-21 11:19] alexandrudima commented on #4488
@jrieken

I think there could be a theoretical "data race" with the GC in this code:

If a Garbage Collection runs between the if stmt and the return value, then `_documentRef` is dead and we don't create a new one.

[code]

[2016-03-21 11:21] jrieken commented on #4192
![screen shot 2016-03-21 at 12 21 23](https://cloud.githubusercontent.com/assets/1794099/13917168/715dcb20-ef5f-11e5-9344-974de7f0aa53.png)

Running for 120 seconds with 100 messages printed per second.

[2016-03-21 11:21] dbaeumer commented on #4449
There seems to be some buffering involved. In data comes in 8KB chunks. If only written every second then it takes a while until 8K are full.

[2016-03-21 11:26] dbaeumer commented on #4449
If I do the same in node the text appears immediately. So it looks like the buffering happens somehow on the python side. The node code is:

[code]

[2016-03-21 11:26] jrieken commented on #4133
![screen shot 2016-03-21 at 12 26 35](https://cloud.githubusercontent.com/assets/1794099/13917301/2c31744c-ef60-11e5-9ed8-5a05e2384b07.png)

[2016-03-21 11:26] dbaeumer commented on #4449
Given the complexity of this I will investigate more for April.

[2016-03-21 11:27] jrieken commented on #4133
nothing in the light theme

[2016-03-21 11:29] alexandrudima commented on #4412
The fix is to have the selection height === decoration height if there is just one selection.

[2016-03-21 11:30] dbaeumer opened #4497 "Task spinner gets out of sync if process got kill from the outside"
- VSCode Version: 0.10.12
- OS Version: Windows

Steps to Reproduce:
1. tasks that launches an external process
2. Start and kill from the outside

The spinner will not start again when you start the process a second time.

[2016-03-21 11:30] leocrespo commented on #4467
VSCode, no intellisense
![Image of aaa](http://d.pr/i/FgnW.gif)

VS 2015, same file, here's the intellisense.
![Image of aaa](http://d.pr/i/1emfN.gif)

[2016-03-21 11:30] jrieken commented on #4488
interesting. we should probably hold on to `this.isDocumentReferenced` with a local variable during the execution of that function. I'll will try if I can repo this manually with manual GC invocations

[2016-03-21 11:42] dbaeumer commented on #4170
@egamma one additional note: we should still allow to open the file for cases where people work on translations which are not part of the UI yet. But this is considered to be the expert mode.

[2016-03-21 11:44] dbaeumer commented on #4305
@joaomoreno pls verify.

[2016-03-21 11:50] rhires commented on #4481
Yes. I get that the command to turn the file from *.md to *.html is separate from vscode. But I also figure that if vscode can turn markdown into a pretty preview within the editor itself, turning it into html should not be that much more difficult. I do wonder if it's outside of the scope of the project, though, which would make the whole question moot.

[2016-03-21 11:56] dbaeumer commented on #4206
Steps to verify:
- Linux
- start code from a shell and pass --locale=zh-tw
- ensure locale is NOT picked up
- start code from a shell and pass --locale=zh-TW
- ensure locale is picked up.

[2016-03-21 11:58] dbaeumer commented on #4204
@isidorn can you please verify since debugger was mostly affected.

[2016-03-21 11:58] stevencl opened #4498 "Provide comments in jsconfig.json to guide people towards using tsd to install typings file"
- VSCode Version: 0.10.12
- OS Version: Windows 10

Steps to Reproduce:

1. Create an ionic starter app with 'ionic start myIonicApp blank'
2. Open a js file
3. Click on the lightbulb in the status bar, then click the 'Create jsconfig.json' button in the prompt

Expected: A comment in the jsconfig.json file that describes how to use tsd to add typings file to the project in order to get the rich i

[2016-03-21 12:00] stevencl opened #4499 "Open the automatically created jsconfig.json file in a new editor, if one is available"
- VSCode Version: 0.10.12
- OS Version: Windows 10

Steps to Reproduce:

1. Create an ionic starter app with 'ionic start myIonicApp blank'
2. Open a js file
3. Click on the lightbulb in the status bar, then click the 'Create jsconfig.json' button in the prompt

Expected: The newly created jsconfig.json file opens up in a new editor and does not interfere with any of the currently open editors.
Ac

[2016-03-21 12:03] dbaeumer commented on #3982
Verified that nothing can be done here.

[2016-03-21 12:04] stevencl opened #4500 "[html][angular] Provide string based autocompletion when writing angular directives in html"
- VSCode Version: 0.10.12
- OS Version: Windows 10

Steps to Reproduce:
1. In an angular based app, define a controller in a controllers.js file
2. In an html page, add the ng-controller directive to an html element. When specifying the name of the controller (a string), it would be very useful to have smart string based autocompletion, where strings defined in other files can be used to fill in t

[2016-03-21 12:05] stevencl commented on #3715
Some comments on the experience

- I was pleasantly surprised when I got autocomplete for ionic elements inside an html file. I didn't do anything special to set that up. But it set up some expectation that I might get intellisense and autocomplete in my javascript too, which wasn't the case.
- When I opened a js file, I saw a green lightbulb in the status bar which indicated that I should create

[2016-03-21 12:06] #3715 closed

[2016-03-21 12:06] mubaidr commented on #4474
In the screen-shot, 'last_mouse' variable should have been highlighted same as 'mouse' var.

[2016-03-21 12:07] dbaeumer commented on #3426
@joaomoreno

[2016-03-21 12:08] dbaeumer commented on #3416
Marking as verified since the story got obsolete.

[2016-03-21 12:08] dbaeumer commented on #3394
@joaomoreno pls close as verified if you accept the reason.

[2016-03-21 12:09] dbaeumer commented on #3322
@joaomoreno the snippets got obsolete. Please close as verified if the new template story works for you.

[2016-03-21 12:10] Houfeng commented on #4489
![Uploading error.png…]()
Repeated to a file rename, it will appear this problem

[2016-03-21 12:10] dbaeumer commented on #3306
@isidorn the snippet story got replaced with the template story. Please verify that the new story is OK in this regard.

[2016-03-21 12:10] Houfeng commented on #4489
@bpasero
Repeated to a file rename, it will appear this problem
<img width="317" alt="error" src="https://cloud.githubusercontent.com/assets/1432335/13918256/faac582e-efa0-11e5-8b2a-fa73adcc1dca.png">

[2016-03-21 12:13] dbaeumer commented on #3304
@isidorn let me know if you are more happy with the new implementation.

[2016-03-21 12:13] dbaeumer commented on #3305
@isidorn please close as verified. The new story doesn't have snippets anymore.

[2016-03-21 12:27] bpasero commented on #4488
@alexandrudima I think these extensions run as part of "out of dev" for me:

![image](https://cloud.githubusercontent.com/assets/900690/13918573/a0f76de2-ef68-11e5-8214-9090c42504d0.png)

[2016-03-21 12:28] alexandrudima commented on #4373
Now seeing:

[code]

[2016-03-21 12:28] bpasero commented on #4449
@dbaeumer can you attach the CPU snapshot so that we can drill into the output editor input?

[2016-03-21 12:29] bpasero commented on #4489
Ok this has been fixed for March!

[2016-03-21 12:29] #4489 closed

[2016-03-21 12:30] bpasero commented on #4481
@rhires yeah it is a bit outside the scope of VS Code. Maybe an extension could provide this but the intent of VS Code (core) is not to convert from MD to HTML and save the file. I encourage to write an extension for this!

[2016-03-21 12:30] #4481 closed

[2016-03-21 12:34] jrieken commented on #4373
woot

[2016-03-21 12:35] alexandrudima commented on #3984
For verification:
* create empty file
* configure `editor.rulers`
* create many more lines
* Rulers should never "end"

[2016-03-21 12:39] alexandrudima commented on #4071
LGTM

[2016-03-21 12:40] alexandrudima commented on #4002
Thank you!

[2016-03-21 12:42] alexandrudima commented on #3869
To verify, please look at the commit or try resizing a lot...

[2016-03-21 12:45] bman61 commented on #3751
I am seeing the same behavior.

[2016-03-21 12:46] jrieken commented on #4373
It's a mess. All method dealing with _save_, _revert_, and _dirty_ are affected: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostDocuments.ts#L496

[2016-03-21 13:03] jrieken commented on #3984
![screen shot 2016-03-21 at 14 02 30](https://cloud.githubusercontent.com/assets/1794099/13919411/99fc271c-ef6d-11e5-8d9c-29cb53e4e09d.png)

Still happens for me (18ebb4a4f5491af7b16e91e42fc36410bbb2e4d7)

[2016-03-21 13:09] mattacosta opened #4501 "Unable to fork a node process from extension server"
- VSCode Version: 0.10.12-insiders
- OS Version: Windows 10

I'm trying to start a new node process to handle a long, complex task, but I can't seem to get the child process to start correctly. I've also tried calling the fork method with empty args, and with an options object that had an empty env property, with no success. When running node from a command prompt, I get the expected output as wel

[2016-03-21 13:14] bpasero commented on #3882
@alexandrudima I end up with this after the first Ctrl+Delete:

[code]

Please reopen if your fix wanted to get me to this as suggested by the issuer:
[code]

[2016-03-21 13:19] bpasero commented on #4376
If the goal is to keep the top line number stable, I still see it jumping. Note that I do not have Hack installed on my system but I took your settings:

![untitled](https://cloud.githubusercontent.com/assets/900690/13919807/e78b3156-ef6f-11e5-9619-e1ffe239d592.gif)

The file opened in diff is fileActions.ts converted to spaces.

[2016-03-21 13:20] bpasero commented on #4119
i am not a strong enough user of this feature, lets see what community says

[2016-03-21 13:25] jrieken commented on #4488
Hm, we call `weak.get` which should return `undefined` in case that GC data race happens, https://github.com/TooTallNate/node-weak#object-weakgetweakref-ref

[2016-03-21 13:28] bpasero commented on #2912
:+1:

![image](https://cloud.githubusercontent.com/assets/900690/13920034/1b959a44-ef71-11e5-9431-ab6e3541befc.png)

[2016-03-21 13:41] greimers commented on #3399
I have the same problem but as the OP didn't give any detail, let me describe it:

- VS shows the notification that there is an update available
- I click "update" and get asked for admin credentials
- VS quits itself and does not open again
- When I manually open it, no update was installed
- There is no error message or any feedback

My console logs are full with hundreds of this entry:
`21/03/1

[2016-03-21 13:41] egamma commented on #3715
@stevencl great observations.

Could you make your repository with the final tour available on github somewhere?

[2016-03-21 13:42] bpasero commented on #4491
@chenxizhang you seem to see lots of debug output from the code launch, where does "code" point to in your case? when you use the installer it should put "code" on the path and you will not get this output.

[2016-03-21 13:47] aeschli commented on #4133
The headers are using the standard red from the light theme

[2016-03-21 13:47] #4133 closed

[2016-03-21 13:48] egamma commented on #4284
@waderyan mentioned to remove the typescript.tsdk in the March release noes.

[2016-03-21 13:51] egamma commented on #4422
@jrieken I think you did this last Friday.

Any interesting findings to share?

Suggest to do it in the comments as is done here https://github.com/Microsoft/vscode/issues/3715#issuecomment-199242987

[2016-03-21 13:52] jrieken opened #4502 "red in default light theme too subtle"
Like quite a few other men (https://en.wikipedia.org/wiki/Color_blindness#Frequency_of_red-green_color_blindness_in_males_of_various_populations) I suffer from impaired red/green vision and for my eyes the red value `rgba(128, 0, 0, 1)` from our default light theme is almost impossible to tell apart from the default black.

[2016-03-21 13:53] jrieken commented on #4502
related to https://github.com/Microsoft/vscode/issues/4133

[2016-03-21 13:54] johnsoncze commented on #1690
:+1:

[2016-03-21 13:56] jrieken commented on #4422
No big surprises tbh. Editing features work well and also debugging is possible (tho it asks from admin rights). I have targeted a core clr app which the extension doesn't officially support yet (I know there is being worked on) so that on restore/run dnx comes into play.

[2016-03-21 13:56] #4422 closed

[2016-03-21 13:57] stevencl commented on #3715
The code I wrote is here: https://github.com/stevencl/footballapp

It's a simple app for keeping track of the amount of playing time for players in the soccer team I coach at the weekend.

[2016-03-21 14:02] Uristocles commented on #1515
Any suggestions for how to troubleshoot the keyboard shortcuts CTRL-ALT-UP and CTRL-ALT-DOWN on Windows? (Or key presses in general?)  Add Cursor works fine from Command Palette so I probably have some weird keyboard thing going on.

[2016-03-21 14:05] aeschli commented on #4458
This issue was moved to Microsoft/TypeScript-TmLanguage#131

[2016-03-21 14:05] #4458 closed

[2016-03-21 14:06] jrieken opened #4503 "remove IExecutionService and base/hash.ts"
All of that seems to be unused code.

[2016-03-21 14:08] aeschli commented on #4455
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/96

[2016-03-21 14:08] #4455 closed

[2016-03-21 14:08] alexandrudima commented on #3817
@bpasero I don't think that would work, because the charset should be used when creating the model, it would be too late to have it as a setting on a model.

[2016-03-21 14:10] jrieken commented on #4498
We have a fwd link to a website which should explain all of that.

[2016-03-21 14:10] jrieken commented on #4498
@egamma Is the link you gave me already live?

[2016-03-21 14:12] #4501 closed

[2016-03-21 14:12] jrieken commented on #4501
@alexandrudima @dbaeumer You guys have experience with this, right?

[2016-03-21 14:12] dbaeumer commented on #4351
@alexandrudima while verifying this I discovered the following problems:

- Alt cursor down now moves the line in the editor and doesn't select the next entry in the list anymore
- Shift Escape doesn't close the code complete window.

[2016-03-21 14:15] dbaeumer commented on #4351
And nothing thing I noticed. When using arrow down and up in the code complete window to navigate and closing the windows with escape NVDA doesn't get into 'Browsing' mode. It says in focus mode. So may be the Alt+Down / Up triggers something as well which puts NVDA in browsing mode.

[2016-03-21 14:15] crisward commented on #1515
Mac insiders build doesn't seem to have this feature? Am I missing something? (using alt drag)

[2016-03-21 14:17] aeschli commented on #4496
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/96

[2016-03-21 14:17] #4496 closed

[2016-03-21 14:17] SamVerschueren commented on #3817
Maybe we should track that in a different issue?

[2016-03-21 14:19] aeschli commented on #4445
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/40.
Fix will be in the March release.

[2016-03-21 14:19] #4445 closed

[2016-03-21 14:23] alexandrudima commented on #3549
To verify: any platform can be used, this is not platform specific

[2016-03-21 14:25] weinand commented on #4492
@Alphapage why are you using `debugger;` statements instead of real breakpoints?

[2016-03-21 14:27] aeschli commented on #3837
You can get the insiders build here: https://code.visualstudio.com/insiders

[2016-03-21 14:31] dbaeumer commented on #4351
@alexandrudima hold back. It looks like the insider build didn't update for me. I will close and retest.

[2016-03-21 14:48] dbaeumer commented on #4351
OK. Retested on latest insider from today and here is what I see:

- Alt+Up/Down works as expected in code complete
- Shift+Escape closes the code complete Window, but NVDA still ends in Browsing mode (no focus in the editor anymore).

What is interesting is: when using arrow down and up in the code complete window to navigate and closing the windows with escape or shift escape NVDA DOESNOT get in

[2016-03-21 14:51] alexandrudima commented on #3984
@jrieken You should verify with ef2a1fc

[2016-03-21 14:52] aeschli commented on #4206
Verified

[2016-03-21 14:52] Tyriar commented on #1656
@aeschli oh, I guess I wasn't seeing it because I was on the VS theme.

I don't see CSS consistency with Sass on latest alpha:

## Dark+

**CSS**
![image](https://cloud.githubusercontent.com/assets/2193314/13922398/5053a560-ef39-11e5-9b77-747e5472bbbd.png)

**Sass**
![image](https://cloud.githubusercontent.com/assets/2193314/13922408/608fa49c-ef39-11e5-8ef0-553a43b5da0d.png)

**Less**
![image](htt

[2016-03-21 14:56] jrieken commented on #3984
ok, insiders build is very old then

[2016-03-21 14:58] alexandrudima commented on #3511
Nice!

[2016-03-21 14:59] alexandrudima commented on #3510
Nice!

[2016-03-21 15:01] eduardo-costa opened #4504 "Allow keybindings.json on .vscode folder."
If I want to share some shortcuts in my project repository I can't configure them inside `.vscode` and commit to my team.
It would be nice to have the same behavior as `.vscode/settings.json`

[2016-03-21 15:03] alexandrudima commented on #4376
@bpasero That is not the goal.

The bug was that the scrollbar was not visible until a resize event ("Observe, the scrollbar is not possitioned OK:").

[2016-03-21 15:03] #4376 closed

[2016-03-21 15:05] weinand commented on #4193
@bpasero how do I get this info notification?

[2016-03-21 15:06] alexandrudima commented on #3216
@bpasero Not sure what I should verify?

[2016-03-21 15:07] alexandrudima commented on #3984
No, we get "updated" to the one from last week.

[2016-03-21 15:09] Tyriar commented on #787
Verified: Added ``"editor.wordSeparators": "`~!@#$%^&*()=+[{]}\\|;:'\",.<>/?"`` and checked that `some-class` double click highlight was consistent over JS and CSS.

@alexandrudima just to confirm, this is no longer delegated to the language service and is control totally by the `editor.wordSeparators` value?

[2016-03-21 15:09] bpasero commented on #3216
Should be ok and verified by @obrejla

[2016-03-21 15:10] bpasero commented on #4193
@weinand when selecting "Configure file associations..." after you click on the language mode in the status bar.

[2016-03-21 15:14] alexandrudima commented on #787
@Tyriar `editor.wordSeparators` is honored by double clicking and word navigation (things that didn't go to the language service, but were using the language word definition regex).

The highlighting is delegated to the language service, since languages can do semantic occurrence highlighting.

[2016-03-21 15:15] weinand commented on #4193
@bpasero aha, I've never used that action. I always changed the associations in the settings.

[2016-03-21 15:16] leegee commented on #224
The first thing that struck me about VSC (after the silly name) was how *great* it was to *not* have tabs.

I currently have 8 files open -- tabs are pointless.

I *adore* CTRL+TAB, and the 'working files' list.

If you must add tabs, please make them optional.

[2016-03-21 15:16] Tyriar commented on #787
Thanks for the clarification :)

[2016-03-21 15:17] alexandrudima commented on #4501
@mattacosta The extension host is an Electron process running in a "nodejs mode". Because it is an Electron process (that also creates windows), under Windows, it is not possible to get the stdin/stdout when you fork from it. Our workaround consists of creating pipes to the forked process to get stdin/stdout support.

See https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/stdFork.ts

[2016-03-21 15:19] alexandrudima commented on #4346
@jrieken Can you pls try this on a mac, just open dev tools once to see if the warnings appear

[2016-03-21 15:19] pcgeek86 commented on #3549
@alexandrudima Nice, thank you!!

[2016-03-21 15:20] alexandrudima commented on #3072
I didn't start reviewing the commit, I trust you do the right thing. Thank you!

[2016-03-21 15:20] pcgeek86 commented on #3549
@alexandrudima Also very helpful to understand that you're using JS regex implementation. I didn't know that before, but now I know where to look for more information. :smile:

[2016-03-21 15:21] bpasero commented on #3072
I feel honoured ;)

[2016-03-21 15:27] bpasero commented on #1850
Yes, we fixed this one for March! Also had this but only when zooming in.

[2016-03-21 15:28] bpasero commented on #4298
Verified that "Open in Terminal" works for me and opens my terminal. @weinand note that I do not have iTerm installed so you might want to assign this one to someone else?

[2016-03-21 15:30] alexandrudima commented on #3882
I like the suggestion, saves an extra `Ctrl+Delete`.

My change was to fix the blatantly wrong behavior of `Ctrl+Delete` that would delete the current line.

[2016-03-21 15:33] aeschli commented on #1956
@SofianHn Any suggestion how to verify? Maybe in code?

[2016-03-21 15:33] alexandrudima commented on #2507
Nice!

[2016-03-21 15:33] chrisdias commented on #4170
So it sounds like the plan is to do doing nothing for March, correct?  Can we at least provide IntelliSense for locale.json so I know which languages I can pick from and the proper format.

When we do a proper settings/configuration experience we can have nice UI for picking the language.

[2016-03-21 15:36] bpasero commented on #3882
:+1:

[2016-03-21 15:38] aeschli commented on #760
@alexandrudima The high contrast theme no longer has a selection border.
This is how it looked in 0.10.10:
![image](https://cloud.githubusercontent.com/assets/6461412/13924099/4e2d90d0-ef83-11e5-951b-ee3b25e71a07.png)

[2016-03-21 15:40] egamma commented on #3716
@Sofian any findings, observations?

[2016-03-21 15:47] chrisdias commented on #3634
looks good!

[2016-03-21 15:50] SofianHn commented on #3716
Everything worked as expected, intellisense, debugging, etc..

[2016-03-21 15:51] alexandrudima commented on #3667
Verified by debugging a VS Code extension that uses sourcemaps and sits in a path with many spaces

[2016-03-21 15:52] SofianHn commented on #1956
@aeschli Maybe just a code review. I removed the whole API that causes this. We report errors as custom telemetry events and no need to double reporting through the `trackException` API.

[2016-03-21 15:52] aeschli commented on #760
It's fine, it just doesn't show in the preview mode in the theme picker. It's because the color css only shows on focus.

[2016-03-21 15:58] chrisdias commented on #4403
verified

[2016-03-21 16:08] alexandrudima commented on #4504
@eduardo-costa There are two reasons we don't do this and why I think we shouldn't:

 - keybindings are more "personal" than settings. Right now, we have user level settings and workspace level settings. Workspace level settings overwrite the user level settings. This mostly makes sense (when not abused :) ).

- `keybindings.json` is not cross-OS, nor cross-keyboard layouts. On the Mac, the modifi

[2016-03-21 16:08] #4504 closed

[2016-03-21 16:11] con-ssc opened #4506 "Different font in different regions"
It would be nice if you could select i.e. a different font for comments in comparison to code just for better reading. It's not a pressing matter but nice to have :)

[2016-03-21 16:12] factormystic opened #4507 "(Discussion) Possible to launch multiple debuggers?"
I'm interested in understanding what it would take to be able to run multiple debuggers at once in the same vscode instance.

For example, simultaneously debugging a rails app's ruby code (eg, with the [recently featured](http://code.visualstudio.com/blogs/2016/03/11/ExtensionsRoundup) [ruby debugger](https://github.com/rebornix/vscode-ruby)) and its javascript code (eg, with [vs-chrome-debug](htt

[2016-03-21 16:16] eduardo-costa commented on #4504
Fair enough!
Thanks!
Em 21/03/2016 13:09, "Alexandru Dima" <notifications@github.com> escreveu:

[2016-03-21 16:19] aeschli commented on #1956
Thanks Sofian. I verified that we no longer call trackException.

[2016-03-21 16:20] jon64digital commented on #224
@leegee They are not "pointless", you just don't have a need for them. Did you consider that people who are working on different kinds of projects might have a different use case to you?

Give the thousands of people who have voted for tabs, I think the only "pointless" thing around here is your comment :)

[2016-03-21 16:24] jrieken opened #4508 "Improper progress during search"
![search](https://cloud.githubusercontent.com/assets/1794099/13925649/66270d78-ef89-11e5-955f-beb231ac20a2.gif)

See attached gif, the progress bar quickly goes to ~90% and then takes a long while until it reaches 100%.

[2016-03-21 16:28] bpasero commented on #4508
@jrieken can you zip the workspace and attach and include your settings?

[2016-03-21 16:32] jrieken commented on #4508
unsure if that is needed: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/search/browser/searchViewlet.ts#L1405

tho, it is the workspace described here: Microsoft/TypeScript#7444

[2016-03-21 16:34] aeschli commented on #1656
Looks like there's still an issue with functions then.
Please open a new issue.

[2016-03-21 16:35] bpasero commented on #4508
@jrieken the progress is only fake until I know how many files to search. since file walking can take forever, and I still want to show something, there can be cases where the fake progress goes to 90% and only then a lot of more files are discovered.

There is really no good way of showing real progress without knowing the number of files to search in upfront (e.g. an index would help).

[2016-03-21 16:38] alexandrudima commented on #2896
Verified search and ctrl+p in windows and linux.

@bpasero If the code is different for mac than for linux, please also assign another person for verification.

[2016-03-21 16:39] alexandrudima commented on #1657
Verified setting `editor.acceptSuggestionOnEnter` to `false` no longer makes `Enter` and accept key for suggestions

[2016-03-21 16:43] Tyriar opened #4509 "[sass] CSS functions are not being highlighted consistently in CSS and Sass"
From https://github.com/Microsoft/vscode/issues/1656#issuecomment-199324101

## Dark+

**CSS**
![5053a560-ef39-11e5-9b77-747e5472bbbd](https://cloud.githubusercontent.com/assets/2193314/13926378/4627b170-ef49-11e5-9074-2e3994703c9a.png)

**Sass**
![608fa49c-ef39-11e5-8ef0-553a43b5da0d](https://cloud.githubusercontent.com/assets/2193314/13926373/428b577e-ef49-11e5-82be-85e797179ddd.png)

## Light+

[2016-03-21 16:47] aeschli opened #4510 "[python] Add quote surround/auto-completion for Python"
Open a Python file.
- Select a word and press single quote: Expected to be surrounded by single quotes.
- Press quote: two single quotes expected

[2016-03-21 16:47] jsloyer commented on #4472
This is resolved, I ended up using the `HTMLSelectElement` element instead of the above referenced `HTMLSelectElement` element.  The value property exists on the `HTMLSelectElement` element.

[2016-03-21 16:47] #4472 closed

[2016-03-21 16:48] aeschli opened #4511 "[vb] add quote surround/auto-completion"
Open a VB file.
- Select a word and press single quote: Expected to be surrounded by single quotes.
- Press quote: two single quotes expected

[2016-03-21 16:48] alexandrudima commented on #4351
@dbaeumer Let's look into it together. NVDA does not go into 'Browsing mode' for me when I use alt+down, alt+up and shift+escape.

[2016-03-21 16:51] aeschli commented on #287
I verified that PHP quote completion and surrounding works.
I opened #4510 for Python and #4511 for VB.

[2016-03-21 16:54] vsaroopchand commented on #4101
Agree, did some more digging and getRangesToPosition in (\languages\html\common\html.ts) essentially an empty implementation.

TokenSelectionSupport (contrib\smartSelect\common\tokenSelectionSupport.ts) has an implementation that is used by all other languages.

The empty implementation in html.ts is being used because in html.ts, line 311 we have
this.logicalSelectionSupport = this;

which causes

[2016-03-21 16:55] thorn0 commented on #3837
Thanks. How do I switch the UI language to English?

[2016-03-21 17:10] warpdesign opened #4512 "Provide an option to not mix symbols and files in quick open"
When pressing `ctrl+p` to open the quick open panel and typing a few letters to look for a file, the panel seems to show symbols matching my string first, then some files. Worse, it mixes files & symbols.

![quickopen](https://cloud.githubusercontent.com/assets/199648/13927121/a67e3274-ef8f-11e5-9f79-9960e656c953.png)

It makes it really difficult to quickly open a filename: I really need to be ca

[2016-03-21 17:24] warpdesign commented on #4512
It will also present:
Bar**r**e-d-**app**u**i**-**d**roite.jpg
before:
map.**rappid**.js
in the results.

[2016-03-21 17:32] leegee commented on #224
@jon64digital : I saw that the project had asked for general comments from users on the prospect of tabs -- I took that to mean we should express our own opinions. I now realise I should have e-mailed you first, so that I could express your opinion, and avoid your rude ad-hominem invective. My apologies.

[2016-03-21 17:35] dbaeumer commented on #3434
@chrisdias pls verify.

[2016-03-21 17:36] Tyriar opened #4513 "Remove watch expression X icon is misaligned"
![image](https://cloud.githubusercontent.com/assets/2193314/13927850/a188b9f4-ef50-11e5-89cc-949ae15d3e6a.png)

[2016-03-21 17:43] CIPop opened #4514 "Open With doesn't work if code is already opened"
Version 0.10.11
Commit f291f4ad600767626b24a4b15816b04bee9a3049
Date 2016-03-11T17:10:35.304Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1

OS: Win10

Steps to Reproduce:

1. Open a folder using code . or via the Explorer context menu (in my case a folder with a lot of .cs files)
2. Find another file and try to open it. (in my case an unrelated ps1 file on a share).

[2016-03-21 17:47] bpasero commented on #2896
Should be good, thanks!

[2016-03-21 17:47] vsccarl opened #4516 "Selecting install extension then clicking Readme shows two conflicting dialogs"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. F1 -> Install extension
2. Click install button
3. Click Readme button
4. Click out of the command window

Actual:
Two notifications come up. One asking if you would like to install that extension (which you already have) and another that says you need to restart to enable the extension.

![installreadme](https://clo

[2016-03-21 17:47] jrieken commented on #4508
I wonder if we should show the infinite progress as long as we don't know how many files there are?

[2016-03-21 17:48] jrieken commented on #4101
@aeschli Any reason the html implementation is a noop?

[2016-03-21 17:50] bpasero commented on #4508
Yeah, that could work.

[2016-03-21 17:51] jrieken commented on #4373
I opt for not fixing this for March. We ship like that since Jan and don't really understand how this happens.

[2016-03-21 17:51] jrieken commented on #4488
I opt for not fixing this for March. We ship like that since Jan, see this for the first time, and don't really understand how this happens.

[2016-03-21 17:52] Alphapage commented on #4492
I'm using systemjs to import and transpile my es6 files. The only way I found to debug is to use ```debugger;``` because vscode or chrome devtools breakpoints are never hit.
In vscode, I can't put breakpoints in test!transpiled file and when using ```debugger;```, the inline sourcemap is not recognized, only chrome devtools seems to work correctly except for breakpoints.

[2016-03-21 17:52] Tyriar opened #4517 "OmniSharp no longer works on Linux"
- VSCode Version: Insiders candidate
- OS Version: Ubuntu 15.10

&gt;= Mono v4.0.1 seems to be required now

![image](https://cloud.githubusercontent.com/assets/2193314/13928428/c8070e08-ef52-11e5-95cf-b600f0233958.png)

It points me to [this page](https://code.visualstudio.com/docs/supporting/errors#_20001) which advises:

As well as this (another version??):

And says install via `sudo apt-get i

[2016-03-21 17:55] jrieken opened #4518 "Unhappy prompt to install extension after just installing it"
* run `ext install`
* find an extension and press the little install button and see how it shows progress
* press the readme-button which takes you the website
* :boom: returning to VS Code prompts me to (1) restart after installing X
 and (2) also if I want to install X

<img width="972" alt="screen shot 2016-03-21 at 18 52 58" src="https://cloud.githubusercontent.com/assets/1794099/13928577/8494

[2016-03-21 17:57] delmyers opened #4519 "VsCode doesn't indicate the "currently debugged thread" when multilple threads are stopped during debugging."
- VSCode Version: 0.10.12-alpha
- OS Version: Ubuntu 14.04
- Debugging using Microsoft cpp debugger, but will happen in any "stop-all" style debugger.

Steps to Reproduce:
1. Compile following C++ code
[code]
2. Set two breakpoints in the lines with comments "//set a breakpoint here"

3. press F5 3~5 times

4. Notice, that if a breakpoint or step causes the threads to switch, the UI does not indic

[2016-03-21 17:59] CIPop commented on #4514
This happened with Code instances left open over the weekend or maybe after an upgrade.
Closing the only instance will then allow other windows to be opened via "Open with" or using `code` in command prompt.

[2016-03-21 18:01] jrieken commented on #4517
4.0.1 has been a requirement since a while. The fwd-link needs updating, @Tyriar please coordinate with the folks from Omnisharp/omnisharp-vscode

[2016-03-21 18:02] delmyers commented on #4519
@edumunoz @jacdavis @jrieken @weinand

We on the cpp debugger might be able to contribute a fix for this. It isn't an immediate necessity for us, but it is a little confusing for the user.

[2016-03-21 18:02] bpasero commented on #4488
Makes sense.

[2016-03-21 18:03] jrieken commented on #4512
@bpasero can clarify but I'd say it's like that because it useful ;-)

[2016-03-21 18:03] alexandrudima commented on #4373
I suggest doing a null check on the extension host side for march, although this is not really a ship-blocker (no negative user impact)

[2016-03-21 18:03] jrieken commented on #4507
fyi @weinand @isidorn

[2016-03-21 18:05] jrieken commented on #4511
@aeschli [vb] or phyton?

[2016-03-21 18:06] jrieken commented on #4373
@alexandrudima let's discuss tomorrow, I've created #4515 for this

[2016-03-21 18:07] bpasero commented on #4512
The idea is to open "anything" from the default quick open handler and so we put symbols and files together. There are times where I like that and times where I don't, but in most cases I like it.

Maybe this should be configurable or we need another handler for files only.

@warpdesign feel free to open feature requests on this if you feel strong about it and a bug on the sorting is already known

[2016-03-21 18:07] JVimes commented on #1515
What was the final verdict for arrow keys, and for mouse? Not having luck in my build of master on Windows. Was hoping for alt+shift+arrows, but seeing ctrl+shift+alt+arrows in key bindings and that's not working. Not seeing way with mouse.

[2016-03-21 18:08] bpasero commented on #4514
@CIPop are you sure the file is not opening in the one instance and maybe just the window does not move to the foreground?

[2016-03-21 18:12] alexandrudima commented on #1515
@JVimes Shift+Alt for mouse and ctrl+shift+alt+arrows for keyboard by default.

I've heard that those modifiers might not work on all installations. To bind them to something more familiar:

[code]

[2016-03-21 18:13] warpdesign commented on #4512
@bpasero I really think this should be configurable (it returns some WebGL methods and I am not using opengl at all in my whole project).

Plus, the french translation reads "atteindre le fichier" in the menu which basically means "open a file": this is misleading.

I think that:

 - there is clear something wrong when Ba**r**re-d-**app**u**i**-**d**roite.jpg comes before map.*rappid*.js when look

[2016-03-21 18:18] weinand commented on #4492
@Alphapage then we should try to solve the breakpoint issues in VS Code and not add features for workarounds.
In 99% of all cases of breakpoint issues, source maps are just not created correctly.

What exactly do you mean by "In vscode, I can't put breakpoints in test!transpiled file"?
What version of VS Code are you using?
What node version?

[2016-03-21 18:19] bpasero commented on #4512
@warpdesign we can reuse this one for the option. I wonder from where you get the WebGL context. Can you share your workspace with us?

[2016-03-21 18:22] warpdesign commented on #4512
@bpasero clicking the WebGL symbol result opens the `lib.d.ts` file located in `C:\Program Files (x86)\Microsoft VS Code Insiders\resources\app\extensions\typescript\server\typescript\lib`.

[2016-03-21 18:26] #504 closed

[2016-03-21 18:26] #632 closed

[2016-03-21 18:26] #720 closed

[2016-03-21 18:28] Alphapage commented on #4492
When you ```system.import('test.js')```, systemjs generates a test.js!transpiled file which contains the transpiled code and the inline sourcemap (from babel in my case). If I put breakpoints in test.js, then nothing happens. I can't put breakpoints in test.js!transpiled (but I can do in chrome devtools even if they are never hit).

node:4.2.4
vscode: 0.10.11

[2016-03-21 18:30] weinand commented on #4507
@factormystic you can run multiple debuggers easily by opening more VS Code windows. Every window supports one debugger. The only limitation is that you cannot run more than one debugger from a single project folder, because VS Code doesn't allow you to open a project folder in more than one window.
But there is a simple workaround: create sub folders in your project folder and open these in diffe

[2016-03-21 18:30] #4507 closed

[2016-03-21 18:31] bpasero commented on #4512
@warpdesign can you do Ctrl+Shift+P > Close File when you have lib.d.ts open and then see if symbols still show up from that file?

@aeschli I think we should not show symbols from d.ts files or provide an option to exclude them.

[2016-03-21 18:32] JVimes commented on #1515
@alexandrudima, Those shortcuts are good and work, but I expect them to be default on Windows. Mouse still doesn't work. Shift+Alt+drag ignores the location I started dragging at. Instead, it starts the box at the last cursor location.

[2016-03-21 18:34] #3938 closed

[2016-03-21 18:36] egamma commented on #4498
@jrieken the link is live, but the content hasn't been updated yet, the new content will first be in the vnext branch.

[2016-03-21 18:37] bpasero commented on #2951
No plans for fixing, keys can be reassigned in settings if you cannot use Alt key.

[2016-03-21 18:37] #2951 closed

[2016-03-21 18:39] egamma commented on #4436
:+1:

[2016-03-21 18:41] chrisdias opened #4520 "Code will not start with locale='zh-cn' or locale='zh-tw'"
- VSCode Version: Insiders, ef2a1fcaa553d14d7731b284a5ac5e4a55c42936
- OS Version: OSX

Steps to Reproduce:

1. Edit `locale.json`
[code]
2. Restart VS Code

Result: It does not start, I just have a "Code - Insiders" menu with a Quit action.

You have to manually edit `locale.json` to get the tool to start again

[2016-03-21 18:41] be5invis commented on #2951
@bpasero Are there any way to change the default key for multi-selecting?
Or change the key used for show/hiding menu?

[2016-03-21 18:49] bpasero opened #4521 "Multiple messages with different action buttons look bad"
E.g. install an extension and open readme and then return:

![image](https://cloud.githubusercontent.com/assets/900690/13930168/0a8e7b58-ef9e-11e5-94ed-5ea5f86f9b74.png)

[2016-03-21 18:55] CIPop commented on #4514
While this was happening only one Code process was available. Not only the file didn't open but I couldn't drag/drop the file to the available window either.
As I said, closing these windows and restarting Code fixed the issue: I can now open many Code editor instances.

[2016-03-21 18:55] aeschli commented on #4511
vb

[2016-03-21 18:57] bpasero opened #4522 ""configure locale" is very technical"
Today I was trying to find the action to change the language and was just searching for "language" and could not find it. I am not sure if "Locale" is something a user would typically search for. On Mac OS at least the setting is called "Language and Region" and on Windows 10 "Language".

I think we:
* should call it "Change Language"
* keep it english and not translate it

@dbaeumer fyi

[2016-03-21 18:57] bpasero commented on #4514
@CIPop was the one instance functional at all or frozen?

[2016-03-21 19:00] CIPop commented on #4514
It was functional: I had a folder opened in it and was able to edit the files there.

[2016-03-21 19:00] Stanzilla commented on #4429
Yeah that is a bit counter intuitive

[2016-03-21 19:00] vsccarl opened #4523 "Clicking error indicator multiple times displays fewer errors each click"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a Javascript project or file with a few errors
![6errorindicator](https://cloud.githubusercontent.com/assets/12900364/13930450/472c2c3c-ef5c-11e5-920e-5b3c5b305464.JPG)

2. Click the error/warning indicator at the bottom left (notice the error displayed count, mine says 6)
![6errors](https://cloud.githubusercont

[2016-03-21 19:03] VitorLuizC opened #4524 "[sass] @at-root showing as an error"
- VSCode Version: 0.10.11
- OS Version: WIN10 x64 - Home Edition

Steps to Reproduce:
1. Just try to write a SASS / Scss stylesheet with an `@at-root`.
   ![image](https://cloud.githubusercontent.com/assets/9027363/13930447/c57c5cf8-ef7d-11e5-8e73-d37f1353868b.png)

[2016-03-21 19:04] Coder206 commented on #4478
Great thanks Tyriar :)

[2016-03-21 19:09] jayrosen1576 commented on #224
@jon64digital @leegee said they were pointless _for him_, not in general. I wholly support tabs but I do agree that they should be an option that can be turned off for those that do not use them. Let's keep the discussion civil and not resort to personal attacks. Nobody has an incorrect opinion. They are just that...opinions.

[2016-03-21 19:13] bpasero commented on #4514
@CIPop trying to reproduce, please clarify the steps:
* doubleclick on Code to open the first instance (it opens on a folder)
* right click on another file on the desktop > open with code

=> nothing happens

[2016-03-21 19:22] bpasero commented on #4461
@Tyriar we are not doing the truncation but use CSS and Chrome, can you try to reproduce in Chrome by copying the CSS we use and file a bug against them in case you see it?

[2016-03-21 19:24] #2512 closed

[2016-03-21 19:43] dbaeumer commented on #4522
+1 to chance this to Language. But lets wait until we do the Menu work and then change this once.

[2016-03-21 19:46] factormystic commented on #4507
I'm aware that it should be possible with multiple instances, by awkwardly opening different folders. That's kind of a hack and not particularly exciting, even though it is possible.

The really exciting thing is the prospect of being able to run multiple debuggers at once in the same vs code instance, as I said.

Much like it would not be very exciting if VS Code only allowed one type of syntax h

[2016-03-21 19:49] dbaeumer commented on #4520
The problem here is that the FS for Mac is case insensitive however the amd loader we use is case sensitive. I need to see if I can find the correct casing of the file and then use that one as the locale independent of the case on the command line or locale.json file.

We need to keep this case sensitive in terms of strings since the Linux file system is case sensitive.

[2016-03-21 19:50] alexandrudima opened #4525 "Expose paths constants in API"
From mail, from Erich:

to do path-math and getting it wrong.

[2016-03-21 19:52] CIPop commented on #4514
Can't repro myself anymore. These were instances that I left untouched, running over the weekend. The instances may have also been automatically restarted after a Code update although I don't remember.
I'll pay more attention at the next update. If this happens again, I'll collect a memory dump.

Closing for now since I don't have more information and I can't repro this myself.

[2016-03-21 19:52] #4514 closed

[2016-03-21 19:53] dbaeumer commented on #4351
@alexandrudima makes sense.

[2016-03-21 19:54] Tyriar commented on #4517
I think it might be an issue with the documentation pointing people towards `mono-complete` when really it should be http://www.mono-project.com/download/

[2016-03-21 20:01] dbaeumer commented on #4495
This works for me on the upcoming Match drop
![bug](https://cloud.githubusercontent.com/assets/1931590/13932387/241042dc-efa8-11e5-8cb7-fb3643ff3ed7.gif)

[2016-03-21 20:01] #4495 closed

[2016-03-21 20:05] dbaeumer commented on #761
Verified with TS/JS formatter which creates these edits as well.

[2016-03-21 20:08] alexandrudima commented on #1515
I implemented what I have observed in Visual Studio (which was pointed in this thread as a good implementation of column selection):

* Pressing Shift+Alt and then clicking will create a column selection anchored at the last cursor location going to the mouse location.

* Clicking and then pressing Shift+Alt will create a column selection anchored at the click location going to the mouse location.

[2016-03-21 20:10] dbaeumer commented on #3766
@bpasero for the cases you reported I was able to track this down. The reason was a move of the tsconfig.json file from the src directory to its parent which included the server directory which has the tsserver in it a all the lib.*.d.ts files. (see your screen shot; all the errors point to the typescript extension server directory). I excluded the server directory from the tsconfig.json so you sh

[2016-03-21 20:10] #3766 closed

[2016-03-21 20:11] dbaeumer commented on #4520
See https://github.com/Microsoft/vscode/issues/4206 for the casing details.

[2016-03-21 20:17] jon64digital commented on #224
@jayrosen1576 He has edited his comment. If it had originally said "pointless for me" then of course I wouldn't have said what I did. I also presume that the two other people who downvoted his comment did so before he edited it.

I totally agree that everybody is entitled to an opinion, but there seem to be several people on here that don't require tabs in their workflow who are seeking to deny th

[2016-03-21 20:21] v-pavanp opened #4526 "[Windows] Gettiing error "Cannot convert undefined or null to object" while adding .Js or .cs file."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1.  Launch app and open any folder.
2. Try to add .js or .cs file by clicking on + sign.
3. Verify app behavior.
4. Try to add other file like go, css, ts and verify app behavior.

Actual: Getting error "Cannot convert undefined or null to object" when adding .js or .cs file.
Expected: It should not throw any error while

[2016-03-21 20:27] dbaeumer commented on #4520
The quick 'hack' fix for this is to uppercase the region (in this case cn) since we know the languages we ship. However in the mid/long term this might not work for other language since 'locale' identifiers can be more complex. (for example: zh-Hant-TW and de-CH-1901 is valid as well.). I didn't find any node API to get the casing of a file on disk. All we can do is to read the parent directory an

[2016-03-21 20:28] dbaeumer commented on #4520
Reproduce on Windows as well since Windows FS is case insensitive as well. If we fix this we need to retest #4206 on Linux.

[2016-03-21 20:31] JVimes commented on #1515
@alexandrudima, Oh, I see, we're discussing a slightly different feature than I thought. Visual Studio and Notepad++ also support Alt+drag to do a column select, which I often use. I think it would be a good feature to include in this story.

[2016-03-21 20:34] chrisdias commented on #4520
For March, can we get comments and/or IntelliSense in the launch.json so that people don't accidentally get into this bad state?

[2016-03-21 20:44] dbaeumer commented on #4520
Yes but might be work, code changes then fixing it. And we do have the --locale command line switch which is affected as well. I will see how open the team is and prepare different fixes so that we can discuss it in the team.

[2016-03-21 20:47] dbaeumer opened #4527 "JS config assistent should not propose exclude rule if jsconfig has files section"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

See screen shot. The jsconfig has a files section which should result in only having the two files in the project. Suggesting exclude rules makes not much sense.

![capture](https://cloud.githubusercontent.com/assets/1931590/13933639/80698614-efae-11e5-945a-05800665ae45.png)

[2016-03-21 21:01] zbandhan commented on #4329
vs code might be more excellent than any other

[2016-03-21 21:02] weinand opened #4528 "translations: Single quotes are replaced by double quotes in German translation"
Single quotes are replaced by double quotes in German translation:

[code]

Is this intentional?

In addition the German translation seems to introduce quotes as for PATH above.
Is this intentional?

[2016-03-21 21:42] weinand commented on #4507
@factormystic VS Code supports one window and one extension host process per renderer:

![2016-03-21 22-24-13](https://cloud.githubusercontent.com/assets/1898161/13934761/135989ec-efb4-11e5-8280-8561489365f6.png)

The VS Code debugger could easily manage multiple debug adapters, however they all would have to live in one window. Before going this route, we have would have to improve the UI support

[2016-03-21 21:57] csholmq commented on #4325
@bpasero From what I can determine, it seems to correlate.

[2016-03-21 22:00] weinand commented on #4492
@Alphapage so the name of the file is 'test.js!transpiled'? The reason that you cannot set breakpoints in that file, is that VS Code doesn't recognise it as a JavaScript file. In the latest (insiders) VS Code version (released today), you can add 'js!transpiled' in your workspace settings as another extension for JavaScript files. With this you should be able to set breakpoints in 'test.js!transpi

[2016-03-21 22:04] Johnaka commented on #4457
oldnglsdknglskngflskdjnfslkfnsdlkfnsdlkfnsdkjfn

[2016-03-21 22:14] davelane commented on #3523
+1 from me :)

[2016-03-21 22:14] Alphapage commented on #4492
The test.js!transpiled is:
[code]

[2016-03-21 22:17] Keith-Cancel commented on #3964
How can I disable this Emmet feature. It is really bugging me.

[2016-03-21 22:21] chrisdias commented on #3767
Everything on the surface looks ok. I have to remove #vscode from the FWLink and already made a PR for that. Waiting for next build so i can verify.

[2016-03-21 22:39] nub340 commented on #224
If anything I think this discussion just illustrates that there are many ways a developer can use an IDE and all of them are perfectly valid for their use case. There is no one "right" way and at the end of the day it's just a tool to get the job done. Some devs like tabs so they can arbitrarily group like files and others find a single MRU list perfectly adequate. Then you have those who just use

[2016-03-21 22:52] greybax opened #4529 "How to get list of installed extensions?"
I've installed 4 extensions. How I can to see them?

[2016-03-21 22:54] garthk commented on #3804
I already gave a thumbs on on the change being available in Insiders, but came back especially to call out the March 2016 release note content on this issue. Well writ, @egamma and @gregvanl. Thanks.

I'm full time on Insiders. It's looking good.  `javascript.validate.enable` was all I needed. Thanks for turning that around so fast.

[2016-03-21 23:18] whitecolor commented on #143
+1

[2016-03-21 23:27] v-pavanp opened #4530 "[GIT] Not gettinng "Gutter indicators" when updating items under folder mapped with git."
- VSCode Version:0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1. Launch app and open any folder which is mapped with GIT.
2. Update any .cs file and save the changes and verify "Gutter Indicators".

Actual: Not getting any Gutter indicator.

![image](https://cloud.githubusercontent.com/assets/17735796/13937370/8c0064ca-ef81-11e5-9abb-56647d76d71a.png)

[2016-03-21 23:47] vsccarl opened #4531 "Copying a file from Windows explorer into same directory in VS Code removes all code"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a project folder
2. Right click a file -> 'Reveal in Explorer'
3. Drag the file from Windows Explorer to the same directory it is already in
4. Click 'Replace'
5. Refresh the folder in VS Code
6. Go back to the file

Actual:
The file is now empty

Expected:
It would not overwrite the file with no data

[2016-03-22 00:08] waderyan opened #4532 "Improve File Association feature (status bar)"
I like this new feature... I have some suggested improvements. Open to discussion of course :)

Let's take a simple use case. I have a file `.babelrc`. This file is a JSON file. VS Code detects it as Plain Text. I click in the bottom right to change it to `JSON`. I see that there are two options "Auto Detect" and "Configure file association for .babelrc".

I try "Auto Detect". The file is still Pl

[2016-03-22 00:18] chadbr opened #4533 "can't navigate javascript with manual namespaces"
I have large legacy codebase with "manual" style namespacing like this:

    //namespaces
    var my = my || {};
    my.app = my.app || {};

and "classes" declared like this:

my.app.Application` = (function () {
    var Application = function () {
...
    };
    return Application;
})();

I've tried several combinations of jsconfig.json parameters and none allow me to navigate this style of code.

[2016-03-22 00:21] chadbr commented on #4533
oh - and FWIW, WebStorm allows me to navigate these files...

[2016-03-22 00:32] mysticatea opened #4534 "TypeError: Cannot read property 'verboseLogging' of undefined"
- VSCode Version:
  - Version: 0.10.12-insider
  - Commit: ef2a1fcaa553d14d7731b284a5ac5e4a55c42936
  - Date: 2016-03-21T11:33:38.240Z
  - Shell: 0.35.6
  - Renderer: 45.0.2454.85
  - Node: 4.1.1
- OS Version: Windows 7 64bit

Steps to Reproduce:

1. I opened a folder.
   It's 100% reproduced on the folder. But it's not reproduced on another folder. I'm not sure what actual conditions are.

As a r

[2016-03-22 00:44] chrisdias commented on #3434
looks good

[2016-03-22 00:46] chrisdias commented on #3589
waiting for react native extension fix to be published...

[2016-03-22 00:50] chrisdias commented on #4396
looks good!

[2016-03-22 00:51] eyalsk commented on #224
@nub340 exactly! some of us like tabs because they were always part our experience as developers/users, personally I like to see the files that I'm working on at the top, there's no inherent advantage to tabs over working files but that's just how some of us like it.

[2016-03-22 01:06] v-pavanp opened #4535 "[Uninstall] When user uninstall an app then system should delete all the VS code references, files and directories."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1.  Install VSCode alpha build.
2. Open app to verify successfully installation.
3. Close app and uninstall
4. Verify "Microsoft VS Code Alpha" directory under "C:\Program Files (x86)\"

Actual: "Microsoft VS Code Alpha" is present under "C:\program Files(x86)\"
Expected: All directories, files and references should be d

[2016-03-22 01:10] v-pavanp commented on #4530
I verified on other system and looks like I was not opening the correct mapped folder.
No action needed. Closing this issue.

[2016-03-22 01:10] #4530 closed

[2016-03-22 01:44] chevex commented on #2997
I am experiencing this issue as well. Also, the block cursor doesn't have any transparency. Meaning you can't see the character under the cursor until you move the cursor off of that character.

[2016-03-22 01:51] v-pavanp opened #4536 "Getting error message when launching app from command prompt with "disable-extension" argument."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1.  Launch an app from command prompt without any command line argument.

2. Open any folder which contains C# code.
3. Verify installed extensions for C#, PS, GO etc. should work fine.
4. Verify there should not be any error message.
5. Close app and re-launch it from command prompt with disable-extension argument.

5.

[2016-03-22 01:53] f111fei commented on #4529
Open Command Palette (`Ctrl/Cmd + Shift + P`)

![1](https://cloud.githubusercontent.com/assets/7069719/13939898/d63ae492-f013-11e5-8ef6-81937b884535.png)

[2016-03-22 02:09] paul-go opened #4537 "No hotkey is available for navigating the call stack"
The latest update boasts "All debug actions are keyboard accessible", but it seems there's still no keybinding endpoint for navigating up and down the call stack.

[2016-03-22 03:31] lukefan6 commented on #1915
here's my tsconfig.json
[code]

and if I type

 there's no error and the temp folder contains compiled js files.
however vscode remains the same, saying cannot find module.
I had to close vscode and open it again
(v0.10.11 on Mac 10.10.5)
hope these info helps

[2016-03-22 03:39] Thaina opened #4538 "Please allow javascript editor in html script block"
When we write HTML file, sometimes we want to write javascript directly in that page. So vscode should inject javascript editor between `<script>` tag

[2016-03-22 03:42] Thaina opened #4539 "reference tag in comment intellisense does not support https file"
Please allow `/// <reference>` to support online file

![image](https://cloud.githubusercontent.com/assets/1042507/13941487/a264e602-f01a-11e5-95ef-3ee17b34855a.png)

[2016-03-22 03:45] minggo opened #4540 "Feature request: install local extensions"
Now can only install extensions into

* **Windows** %USERPROFILE%\.vscode\extensions
* **Mac** $HOME/.vscode/extensions
* **Linux** $HOME/.vscode/extensions

I think it is more convenient if can install an extension in local project, then every project can have different extensions.

[2016-03-22 04:33] wolfkang opened #4541 "Korean characters problem"
- VSCode Version: 0.10.11
- OS Version: Windows 7 64bit Home

Steps to Reproduce:

1. Turn on Korean
2. Type any Korean characters
For example, when I type '비', '주', '얼', '스', '튜', '디', '오' continuously, VS Code displays these in each typing.
비
비비주
비주비주얼
비주비주얼스
비주얼비주얼스튜
비주얼스비주얼스튜디
비주얼스튜비주얼스튜디오

Please check this out.

[2016-03-22 05:04] ericwj commented on #1515
Wouldn't it be great to be able to set a standard key binding profile without having to construct it by editing `keybindings.json` - that's quite hard and tedious. `keybindings.json` would still override the defaults in the profile. So VSCode could ship with a Visual Studio key binding in the box for people to simply select. That'd allow you to modify that profile with the sole argument that it al

[2016-03-22 05:06] greybax commented on #4529
awesome! :tada: thanks @f111fei

[2016-03-22 05:06] #4529 closed

[2016-03-22 05:15] glennblock commented on #224
Agreed, I would like it as an option, not force it.
On Tue, Mar 22, 2016 at 6:22 AM Eyal Solnik <notifications@github.com>
wrote:

[2016-03-22 05:54] bpasero commented on #3766
@dbaeumer great, thanks a lot, will see how it goes!

[2016-03-22 05:54] bpasero commented on #4514
Ok, let's reopen when you see it again.

[2016-03-22 05:56] bpasero commented on #4534
@mysticatea would you be able to share this folder with me?

[2016-03-22 05:59] bpasero commented on #4325
Closing, as the numbers do not show any slowdown.

[2016-03-22 05:59] #4325 closed

[2016-03-22 06:01] bpasero commented on #4532
(1) auto detect is just doing what the editor does by checking for the file extension and taking whatever is configured. since this is in no way a smart feature I am fine to remove it

(2) I think (3) would solve this

(3) we are currently not able to write to the settings file because the file is user edited and may contain comments, but I agree this would be nice

[2016-03-22 06:05] bpasero commented on #4534
Found the issue: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L709

[2016-03-22 06:06] bpasero commented on #4522
Maybe at least do the nls change for March, I think that is low risk and helpful.

[2016-03-22 06:07] bpasero commented on #4531
Can reproduce and will investigate if this is a regression.

[2016-03-22 06:31] jminer commented on #2461
This issue is likely my number one annoyance with VS Code at the moment. When I get to the end of a comment line and press enter to go to the next line, half the time I end up picking an auto-complete entry instead. I notice this issue is tagged PHP, but please fix it for all languages, not just PHP (I don't even use VS Code for PHP).

[2016-03-22 06:31] bpasero commented on #4531
Not a regression, this happens because in fileService we first delete the file and then try to copy it, but delete removes the contents. Need to check in the copy-function that the path is really the same.

[2016-03-22 06:42] JVimes commented on #1515
Key binding schemes would be great as extensions. Might be able to do that now by modifying the current key bindings, but it would be better to modify the underlying defaults like @ericwj described. Just need factory defaults to take back over when the extension is uninstalled.

[2016-03-22 06:43] mysticatea commented on #4534
Thank you!

I'm sorry, I cannot share that folder since some reasons.
But fortunately, after I modified [fileService.ts#L709](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L709) with `$this` (`f` in minified code), this issue was fixed.

VSCode seemed to try to open a removed junction folder (I had opened the folder before) when it was running

[2016-03-22 06:43] squarerootfury opened #4542 "File closes on save when working via gvfs"
- VSCode Version:  0.10.10 (git 5b5f4db87c10345b9d5c8d0bed745bcad4533135)
- OS Version:Ubuntu 15.10, gvfs 1.24.2 (the os is freshly installed)

I'm mounting another linux machine via `gvfs-mount` to edit files. After several saves, the file closes and I have to reopen it.  The file was opened in the "working files" area of the explorer tree.

I don't see any disconnection of the mounted connection

[2016-03-22 06:52] bpasero commented on #4534
Thanks, we can fix this without further help. For now you will have to use the stable version at least on that folder.

[2016-03-22 07:08] Tyriar opened #4543 "Is darwinBundleDocumentTypes is out of date?"
I noticed the `config` variable in https://github.com/Microsoft/vscode/pull/4483, there are some built-in extensions that contributes file extensions but aren't added here. Not sure exactly what this drives, but maybe it should be generated automatically?

[2016-03-22 07:20] leegee commented on #224
We didn't have tabs on the Vic-20....

One thing that comes out of this discussion is that whatever is (made)
available, it should be customisable.

[2016-03-22 07:23] brentarias opened #4544 "VS Code does not recognize the currently active .net run-time."
When I use the VSCode command palette `dnx: run command` to execute my .NET Core C# console app, I'm given the error:

This error is non-sensical, because I have the correct version selected globally.  I noticed a [Stackoverflow post where somebody else is experiencing the same problem](http://stackoverflow.com/questions/34708489/system-invalidoperationexception-the-current-runtime-target-framewor

[2016-03-22 07:42] DickvdBrink commented on #4534
Same issue here; on all my workspaces.
Is this issue there for a lot of people? Might want to create a new insider build if that is the case to get feedback.

[2016-03-22 07:45] eyalsk commented on #224
@glennblock, @leegee yeah it should definitely be an option but shouldn't the working file get the same treatment for these who don't want it? however, it's probably best to discuss it in another feature request. :)

[2016-03-22 07:46] egamma commented on #4170
Suggest to just add fwlink in the comment that points to the doc page with the supported locales:
![image](https://cloud.githubusercontent.com/assets/172399/13945012/57fc417e-f00a-11e5-8c0f-1e5212ebb0a4.png)

[2016-03-22 07:58] egamma opened #4545 "Update the jsconfig.json schema descriptions"
![image](https://cloud.githubusercontent.com/assets/172399/13945230/ec5e3b0a-f00b-11e5-853c-676856fed4d5.png)

Remove
- locale (VS only currently)
- diagnostics (only for down-level compiling)
- maproot (only used for down-level compiling, and if we add maproot then we would have to add sourceMap, inlineSourceMap, etc)

[2016-03-22 08:28] Tyriar commented on #4461
You're right, it's an upstream issue. Reported https://bugs.chromium.org/p/chromium/issues/detail?id=596804#

[2016-03-22 08:28] #4461 closed

[2016-03-22 08:35] jrieken commented on #4544
This issue was moved to OmniSharp/omnisharp-vscode#117

[2016-03-22 08:35] #4544 closed

[2016-03-22 08:35] bpasero commented on #4461
:+1:

[2016-03-22 08:36] jrieken commented on #4539
This issue was moved to Microsoft/TypeScript#7631

[2016-03-22 08:36] #4539 closed

[2016-03-22 08:36] jrieken commented on #4538
fyi @aeschli @alexandrudima

[2016-03-22 08:38] jrieken commented on #4533
This issue was moved to Microsoft/TypeScript#7632

[2016-03-22 08:38] #4533 closed

[2016-03-22 08:39] bpasero commented on #4542
@squarerootfury maybe there is a delete file event being sent for some reason. Can you run `code --verbose` and look at the output in the developer console for file events when this happens?

[2016-03-22 08:46] bpasero commented on #4526
Possibly a duplicate of https://github.com/Microsoft/vscode/issues/4536 ?

@v-pavanp having a hard time to reproduce, are you able to "break on error" in the developer console and try again? can you send me the workspace where this happens?

[2016-03-22 08:46] bpasero commented on #4536
Possibly a duplicate of https://github.com/Microsoft/vscode/issues/4526 ?

@v-pavanp having a hard time to reproduce, are you able to "break on error" in the developer console and try again? can you send me the workspace where this happens?

[2016-03-22 08:53] skarlatov commented on #1440
+ 1

[2016-03-22 08:54] Alphapage commented on #4492
I think the problem arises in vscode because of .js!transpiled extension which is not recognized for now.
I think vscode will behave like chrome devtools after this update, so this is a great news.
The breakpoints are never hit in both vscode and chrome devtools because of nodejs debugger limitations in my opinion which only breaks on ```debugger;```.
That's why I'm asking for a way to list the in

[2016-03-22 09:01] warpdesign commented on #4512
@bpasero If I do `Ctrl+Shift+P > Close File` after having opened lib.d.ts file, SVG symbols do not show up anymore.

[2016-03-22 09:05] squarerootfury commented on #4542
VS Code prints following output to the console, seems to be nothing suspicous.
[code]
And here is the developer console output, VS Code seems to throw a deletion event.

[code]

[2016-03-22 09:15] Tyriar opened #4548 "Marketplace extension descriptions should style kbd tags"
Similar to on GitHub, the `<kbd>` tag should be styled. An example: https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore

[2016-03-22 09:34] v-pavanp opened #4549 "[ESLint] Configuration descriptions need localization."
OS: windows10
VSCode build: 0.10.12-alpha

Steps:
1. Launch app from command prompt by targeting any supported locale.

2. Go to file-> Preference->Workspace settings->
3. Verify default setting file contents.

Actual: ESLint section is not localized and displaying in English irrespective of targeted locale.
Expected: ESLint contents inside default setting file should be localized.

![image](https

[2016-03-22 09:35] v-pavanp commented on #4549
Please refer : # https://github.com/Microsoft/vscode-eslint/issues/57

[2016-03-22 09:35] #4549 closed

[2016-03-22 09:42] bpasero commented on #4512
@warpdesign that is good, the question is how lib.d.ts ended up in there in the first place. I assume you never opened it. Do you maybe have a jsconfig.json or tsconfig.json that includes a folder with lib.d.ts?

[2016-03-22 09:43] bpasero commented on #4542
@squarerootfury that is an interesting path, can you attach a screenshot how the explorer looks like?

[2016-03-22 09:45] squarerootfury commented on #4542
@bpasero sorry, I forgot that I had to censor the paths and filenames, because it contained the full fqdn.

[2016-03-22 09:54] warpdesign commented on #4512
@bpasero I never opened it. I don't think I have jsconfig.json/tsconfig.json files either: where should I find these files ?

[2016-03-22 09:57] bpasero commented on #4542
@squarerootfury sure. so there is a file delete event and so it is expected that vs code as a result, removes the file from the working files section and closes it because it thinks it was deleted. any idea who deletes this file? does it come back later?

[2016-03-22 09:58] weinand commented on #4492
@Alphapage "breakpoints are never hit in both vscode ... because of nodejs debugger limitations" is a speculation. I would like to understand whether this is really true.

You are saying that breakpoints don't work for the snippet both in Chrome dev tools **and** VS Code. For Chrome dev tools the snippet has to run in the browser. For VS Code the snippet has to run in node.js. How are you able to

[2016-03-22 09:58] bpasero commented on #4512
@warpdesign ok lets keep an eye on this, if you ever see symbols from lib.d.ts again without having this file opened, I suggest you file a bug.

@dbaeumer fyi this seems similar to the issue that I saw with getting errors/warnings from lib.t.s in selfhost.

[2016-03-22 10:03] Alphapage commented on #4492
I'm using node-inspector for chrome devtools. Do you want a sample project ?

[2016-03-22 10:13] jrieken commented on #4525
a workaround would be to use `extensionPath` https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2672

[2016-03-22 10:24] bpasero commented on #3780
I can give it a try.

[2016-03-22 10:26] novikov-alexander opened #4550 "There is no way to use FindController in minified distro"
- VSCode Version: February
- OS Version: Win 10

Steps to Reproduce:

1. run "gulp editor-distro" in vscode folder.
2. try to force editor to open Find/Replace window. There is no same way

[2016-03-22 10:28] novikov-alexander opened #4551 "StandaloneCodeEditor throws exceptions"
- VSCode Version: February
- OS Version: Win 10

Steps to Reproduce:

1. Try to create an editor in browser via Monaco.Editor.create() or StandaloneCodeEditor.create()
2. There will be a lot of errors like "standaloneCodeEditor.js:34 Could not instantiate contribution editor.action.insertLineAfter" in browser console

[2016-03-22 10:29] weinand commented on #4492
@Alphapage yes, a sample project would be great!

I don't understand "node-inspector for chrome devtools".
"node-inspector" is an alternative to VS Code node debugging.
"Chrome devtools" is for debugging JavaScript in the browser.

[2016-03-22 10:31] squarerootfury commented on #4542
The file isn't really deleted, it exists the complete time. Do you think this could be more a gvfs related problem than a VS Code one?

[2016-03-22 10:38] dbaeumer commented on #4520
Fixing wise I came up with the following: locale tags are case insensitive. So we will always generate message bundles with lower case locale tags and will convert the locale specified by the user to lower case as well. This makes it work on all platforms even with a case sensitive loader.

[2016-03-22 10:45] egamma commented on #4170
This is the forward link
http://go.microsoft.com/fwlink/?LinkId=761051

[2016-03-22 10:49] jrieken opened #4552 "Spaces/Tab status bar should also shortcut to 'Trim whitespace' action"
* open a file
* locate the space/tab status bar item
* click it, the quick pick could also contain the trim trailing whitespace action

![screen shot 2016-03-22 at 11 47 51](https://cloud.githubusercontent.com/assets/1794099/13949201/139adfd0-f024-11e5-9e2b-8189d1a9e526.png)

[2016-03-22 11:14] jrieken commented on #4517
closing this a dupe

[2016-03-22 11:14] #4517 closed

[2016-03-22 11:18] akamud commented on #2041
I see the localization is now released in insiders channel, how can we contribute to other languages?

[2016-03-22 11:21] Umamaheswaran1990 opened #4553 "Unable to get intellisense from jquery IIFE functions"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. Create two files one with a.js and one with b.js
2. Create jsconfig.json with below content

[code]
3. In **a.js** add below code and install tsd jquery

[code]

4. Now if you go to **b.js** and try typing Some... you will not see the intellisense.

Is it possible to get intellisense for the objects inside jquery IIFE?

[2016-03-22 11:22] bpasero commented on #4542
@squarerootfury well, it could be that or an issue with our file watching library. something makes the library think that the file is deleted. are you sure there are no further events when this happens?

One theory I have is maybe that the order of events is flipped: E.g. I see a change followed by a delete. Some editors (like Sublime) tend to first delete the file and then change it, and the libr

[2016-03-22 11:29] joaomoreno commented on #4404
:-1: [0.12 is not even LTS now](https://nodejs.org/en/). We should stop supporting it.

[2016-03-22 11:30] bpasero commented on #3780
@weinand I am not able to open an external console when debugging python, is it true that the extension writer has to implement this? because I see it working for node.js

[2016-03-22 11:32] pdefreitas commented on #4039
+1

[2016-03-22 11:36] aayushkapoor206 commented on #2144
Will this be implemented in the future releases?

[2016-03-22 11:36] joaomoreno commented on #1704
@SpacemanPete thanks for the detailed information, this was really helpful. :+1:

`dirname2` looks like the point in which it started to go wrong. Maybe we can simply use `..`.

Can you fix up the script line with the following snippet and let me know if it fixes it?

[code]

[2016-03-22 11:51] #4520 closed

[2016-03-22 11:51] #4440 closed

[2016-03-22 11:51] dbaeumer commented on #4520
@chrisdias please verify. Code complete or documentation for valid locale values should be handled in a different issue. I wanted to keep the code changes to fix this to a minimum.

[2016-03-22 11:55] squarerootfury commented on #4542
@bpasero I cleared the dev console to get a clearer ouput and reproduced the issue, it prints still the same steps that the change event is followed by the deleted event. What does `>> normalized` mean?

[code]

[2016-03-22 11:58] joaomoreno commented on #4459
Duplicate of #3385

[2016-03-22 11:58] #4459 closed

[2016-03-22 12:00] joaomoreno commented on #4432
Closing for now. The current UI has sorting fixed. We will move to a new UI in which you'll be able to control the sorting.

[2016-03-22 12:00] #4432 closed

[2016-03-22 12:02] joaomoreno commented on #4439
Duplicate of #98

[2016-03-22 12:02] #4439 closed

[2016-03-22 12:08] joaomoreno commented on #4480
I can't repro either. We do have a [delayer of `500ms`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git/browser/gitWorkbenchContributions.ts#L203) protecting against this.

[2016-03-22 12:10] joaomoreno commented on #4192
Yup looks leaky.

[2016-03-22 12:11] joaomoreno commented on #3399
This is strange as you seem to `get asked for admin credentials`. You installed Code in a location that your user has no permissions to modify?

Can you try installing it in a location your user controls, e.g. `~/Applications`, and see whether the update works then?

[2016-03-22 12:12] joaomoreno commented on #4437
Duplicate of #821

[2016-03-22 12:12] #4437 closed

[2016-03-22 12:13] joaomoreno commented on #4518
Ugh. Been like this for months. Wouldn't promote it to stable candidate.

[2016-03-22 12:14] joaomoreno commented on #4516
Duplicate of #4518

[2016-03-22 12:14] #4516 closed

[2016-03-22 12:23] joaomoreno commented on #3025
Well ideally any contribution in Code should be able to tell the filesystem events contribution *hey, I wanna listen to all file change events at this given `root`*. The watcher should then accommodate that request.

Moving this to feature request and renaming title.

[2016-03-22 12:26] joaomoreno commented on #4457
Are you behind a proxy?

This is the URL, for reference:

https://az764295.vo.msecnd.net/stable/f291f4ad600767626b24a4b15816b04bee9a3049/VSCodeSetup-stable.exe

[2016-03-22 12:28] joaomoreno commented on #4543
We can't have it dynamically, unfortunately. The user can always associate it himself though.

[2016-03-22 12:28] joaomoreno commented on #4543
We can't have it dynamically, unfortunately. The user can always associate it himself though.

[2016-03-22 12:28] #4543 closed

[2016-03-22 12:30] joaomoreno commented on #4548
ping @pradeepna

[2016-03-22 12:30] dprice commented on #4359
My home laptop has no issues updating, but my work laptop still has the issue. Thoughts?

[2016-03-22 12:32] joaomoreno commented on #2144
This is now fixed:

- Windows: you can set up the launcher script at install time
- OS X: there are now actions in the command palette to install the launcher in the PATH
- Linux: deb and rpm packages are coming which will place Code in the PATH

[2016-03-22 12:32] #2144 closed

[2016-03-22 12:34] ujc opened #4555 "[var] keyword is also highlighted in any word starting with 'var...'"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. Set the "Language Mode" to "Javascript"
2. Write "variable", you'll see that the prefix "var" is highlighted

This doesn't happen when the word starting with "var" is part of a function argument, or inside strings
*Tried with multiple themes, issues seems to be theme-agnostic (happens on all of them)

![variables](https://c

[2016-03-22 13:26] weinand opened #4556 "node-debug lacks translations for package.json"
node-debug lacks translations for package.json

[2016-03-22 13:30] weinand commented on #3780
@bpasero yes, external code support is different for different runtimes/debuggers. The extension writer has to implement this. Since there is no predefined builtin attribute `externalConsole`, the attribute should show a squiggly if used for the python debug type.

[2016-03-22 13:34] aeschli commented on #4545
duplicate of #4554