[2019-07-28 05:14] JiZimo commented on #77606
@roblourens Ctrl+F My English is poor so I can't describe it very well 😢

[2019-07-28 05:24] scole66 commented on #77970
This has happened to me as well.
Ctrl-V as "paste" no longer pastes any text. Right-button menu item "paste" no longer has any function.

I can select text and drag it with the cursor, but keyboard-only techniques fail.

(And: does seem to be paste. Ctrl-X to "cut" still works fine.)

[2019-07-28 05:27] itzmanish commented on #77636
@svipas i think i found which extension causing the problem.
The extension is Auto rename Tag which becomes non responsive and due to this editor freezes.

This worked. Thanks.

[2019-07-28 05:33] #77636 closed

[2019-07-28 05:54] aminlatifi opened #78051 "ds"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-07-28 06:06] KunalR18 opened #78052 "extension is not installing"
Issue Type: <b>Bug</b>

I'm trying to install various extensions from the visual studio code but the screen always get stuck on the "installing" and not moving ahead from this steps

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2019-07-28 07:18] AndrewVailcross opened #78053 "PyCharm-like go-to definition/definition look up."
Will there ever be a decent PyCharm-like go to definition/documentation/reference feature?

Seriosly, it seems the kind of feature that should be there by default, but even with some extentons VS code doesn't show definitions of simple core components, such as "import" and "while", not to mention modules from outside libraries.

You've done a great job at creating lightweight and elegant-looking I

[2019-07-28 08:12] preskaper commented on #77018
I'm seeing this on 1.36.1 version (win10 1903)
![ezgif com-gif-maker](https://user-images.githubusercontent.com/18500014/62004012-115eb500-b120-11e9-9f15-997ce38c4ac5.gif)

[2019-07-28 08:14] ladyrick commented on #77457
Thank you for reply.
I delete the settings.json and disable all the extensions then test it again.
The result doesn't change.
You can test it for yourself.
[zshrc.txt](https://github.com/microsoft/vscode/files/3438958/zshrc.txt)

[2019-07-28 09:08] metrocoding opened #78054 "Comment background"
there is a feature that i like in **visual studio** and i can't find it in **vs-code**.

- Defining background color for comments.<br>

![Annotation 2019-07-28 134310](https://user-images.githubusercontent.com/46874334/62004708-ba67d880-b13d-11e9-9bb2-35e2353d9be1.jpg)

[2019-07-28 09:33] Martin00001 opened #78055 "Few new commands for find/replace"
Issue Type: <b>Feature Request</b>

Commands like editor.action.addSelectionToNextFind/editor.action.replaceOne add cursors or show a find/replace panel. I need simpler commands which do not do those things. I would like to find or replace simply. I would like use these commands:

1. editor.action.addSelectionToFindVariable,
2. editor.action.addSelectionToReplaceVariable,
3. editor.action.FindVari

[2019-07-28 09:49] mifko commented on #64922
Hi @Tyriar

No, i type them with a single key press.

My keyboard is set to "Slovak - qwerty". When this keyboard is active, pressing for instance the key with `6` on it, which would output `6` on english keyboard, outputs `ž` (however not in integrated terminal, but anywhere else).

I tried now switching to `zsh` and it outputs something to the terminal though it still looks pretty useless. But m

[2019-07-28 12:40] cnamal-msft commented on #77696
Hi @sandy081, I'd like to tackle this bug. I investigated a bit both solutions suggested by kostyabushuev, and would appreciate your input:

1/ There can be a lot of information to be displayed on hover:
![DeepinScreenshot_select-area_20190728141105](https://user-images.githubusercontent.com/53378748/62006518-a625da80-b141-11e9-8461-de566bd60455.png)
I also need to test the accessibility of this t

[2019-07-28 13:42] MoussaAdam commented on #12080
any attempt to implement that ... soon,  plz..
it's very important for lot of developers (including me)
WE NEED IT
it's just real time preview of HTML and CSS, without reloading the browser at all
it read the current html code, parse it, check the difference on the browser and add/remove elements according to it, the change happen on the browser interactively using js instead of reloading the page

[2019-07-28 14:00] kwadsten commented on #77900
Seems to be related to "compositor" div by zero.  Also happens with Atom editor.  Weird.  This machine has an i9 processor if that makes any difference.
===============
Output from mac Console app:
===============

Process:               Code Helper [1910]
Path:                  /Volumes/VOLUME/*/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper
Identifier:

[2019-07-28 14:24] leewwe opened #78056 "the debug function can't work well"
Issue Type: <b>Bug</b>

When I want to "#include" something, it didn't work.
I have added the right include path and files, but the program don't use it when compile the source code.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 4.18.0-25-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(

[2019-07-28 15:33] leveled-up commented on #77817
Same issue here (Version 1.36 as well as 1.36.1, *Debian Stretch environment on Google Chrome OS*).

Also the height of a line seems to be increasing by a tiny bit the moment that line is changed the first time. This issue is rendering VS Code unusable for me, so I ended up rolling back to 1.35.1, where the issue does not exist.

[2019-07-28 15:55] unihon opened #78057 "The shortcut key of adjust the Terminal size."
`workbench.action.increaseViewSize` and `workbench.action.decreaseViewSize` can adjust the size of **View editor**.
But **Terminal panel**  can only adjust the size by `workbench.action.toggleMaximizedPanel`.

I look forward to enhancing the ability to adjust the size of the terminal.

[2019-07-28 16:05] unihon commented on #78057
Is there a function of fold\unfold the all panel header of side bar?

[2019-07-28 16:06] fonnesbeck opened #78058 "Incorrect cursor position"
Issue Type: <b>Bug</b>

When editing in VS Code, the cursor position is often incorrectly shifted to the right. For example, in the screenshots below, it first shows the visual location of the cursor, while in the second the location of the typed character ("x") is one character to the left of the cursor location.

![Screenshot 2019-07-28 at 11 01 03 AM](https://user-images.githubusercontent.com/8

[2019-07-28 16:12] scole66 commented on #77970
And this morning it works again. :/

[2019-07-28 16:14] wbobillet commented on #72741
Yes nothing s changed. My tab button no longer insert a tab or spaces

[2019-07-28 16:21] #77088 closed

[2019-07-28 16:36] udaygoyat45 opened #78059 "Cpp files not printing to console using cout"
- VSCode Version: 1.36.1
- OS Version: Windows_NT x64

Steps to Reproduce:

1. create a basic cpp file and create a basic function within the file for example fibonacci_sequence()
2. run the file using g++ and then try to print something to console.

Does this issue occur when all extensions are disabled?: Yes

This issue doesn't occur when there is only int main() { cout << "something" << endl; }

[2019-07-28 16:54] sumirio opened #78060 "Intellisense not working at all"
Issue Type: <b>Bug</b>

Intellisense not working

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz (4 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_ba

[2019-07-28 17:13] fzs commented on #21839
I'm also looking for a solution for an air-gapped network. We have set up local mirrors of Eclipse P2 repositories and for IntelliJ IDEA plugins, so that these extensions can be provided and updated at a central place and developers can install them into the IDE via the normal mechanism and also get updates.
We would need the same for VSCode, which has a high demand amongst developers. Even if it

[2019-07-28 18:46] danielbebawi opened #78061 "Please help me give access to thumb scroll to Pro Tools 12"
I just bought this new mouse with a horizontal thumb scroll (Logitech Master MX) and the thumb scroll works fine everywhere expect the one application that I really need it to work in: Pro Tools 12.
Can anyone help me with this?
Thanks

[2019-07-28 19:22] sergey-tihon commented on #77413
@Tyriar but this is version of `Windows 10 (1903)` so probably is not enough to just wait for update.

[2019-07-28 19:43] usernamehw opened #78062 "[Extensions View] `@id` is missing from input autocomplete"

[2019-07-28 20:28] roblourens opened #78063 "Text in settings editor search bar goes under setting count hint"
![image](https://user-images.githubusercontent.com/323878/62012474-a0c59180-b13b-11e9-94b0-8de38545b5a3.png)

[2019-07-28 21:12] a-x- commented on #76779
@joaomoreno, I have 1–3 repo/projects in different vscode windows usually, mostly 2.

[2019-07-28 21:48] #78063 closed

[2019-07-28 22:14] jcollum commented on #77721
I just tried that gear again.

![image](https://user-images.githubusercontent.com/704514/62013660-4d0e7480-b14a-11e9-94c9-bce473feae27.png)

When I click on that gear literally nothing happens.

1.36.1

[2019-07-29 00:22] Tyriar commented on #77413
The OP's Windows version is 10.0.17763

[2019-07-29 01:19] #77714 closed

[2019-07-29 01:20] #77687 closed

[2019-07-29 01:39] lonr opened #78064 "An unwanted linebreak after opening integrated terminal with fishshell"
- VSCode Version: 1.36.1
- OS Version: Linux  5.1.19-300 Fedora 30
- fish, version 3.0.2

Steps to Reproduce:

1. set fish as the default shell
2. open integrated terminal

There is a blank line ahead of fish's prompt.(with a down-left arrow rendered)
Then if I split the terminal, the new(right) one is normal.
Other shells seem to be fine.

Does this issue occur when all extensions are disabled?:

[2019-07-29 01:55] georgebatalinski commented on #77065
@isidorn any insight into this? what is the `extension API for announcing accessibility stuff`?

[2019-07-29 01:56] georgebatalinski commented on #77063
@isidorn I will have a look at this

[2019-07-29 02:09] cyphernull commented on #20853
2019 7 29; there is still no git diff highlights in minimap

[2019-07-29 02:19] #77682 closed

[2019-07-29 02:22] xianghongai opened #78065 "multiple extensions scheme(extension profiles) 🌈"
Like Firefox, `firefox -p`, we can configure multiple extensions scheme.

disable, enable, disable, enable... not elegant~

![l](https://user-images.githubusercontent.com/2075006/62017825-b8a81e80-b1ea-11e9-8099-23e26cb1423a.png)

[2019-07-29 02:50] qidaneix opened #78066 "vscode extension API, `TextEditorEdit.insert` can not work after `vscode.window.showOpenDialog` called"
- VSCode Version: 1.36.1
- OS Version: windows 7/8/10

Steps to Reproduce:

here is a example:

[code]

1. run the command "insert fsPath"
2. select a file/folder
3. nothing insert into the text editor

the `edit.insert` can not working, yet without throw a Error

Does this issue occur when all extensions are disabled?: No

[2019-07-29 03:24] ashkitten commented on #57481
my issue is slightly different - i use [direnv](https://direnv.net/)'s [nix integration](https://github.com/direnv/direnv/wiki/Nix) to import project-specific dependencies into the shell environment when i `cd` into the project dir. however, even though i can create an extension to load the direnv environment in vscode, other extensions such as [rls-vscode](https://github.com/rust-lang/rls-vscode)

[2019-07-29 04:16] warrantedwharf opened #78067 "Underscore coming as spaces in terminal"
Issue Type: <b>Bug</b>

The underscore "_" is not being displayed in the terminal within VScode.
eg: If i typed "my_channel", it would end up as "my channel" in the terminal. This is not an issue in the ubuntu built in terminal. All underscores are shown as spaces.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 4.15.0-55-gen

[2019-07-29 04:17] sbatten commented on #77954
fixed by https://github.com/microsoft/vscode/issues/77884

[2019-07-29 04:17] #77954 closed

[2019-07-29 04:21] sbatten commented on #77987
Use `window.customMenuBarAltFocus` and `window.enableMenuBarMnemonics` and configure Alt keybindings to your hearts content.

[2019-07-29 04:21] #77987 closed

[2019-07-29 04:25] cleidigh commented on #76869
@isidorn
do you think this has to do with the list/tree component?

[2019-07-29 04:25] #78061 closed

[2019-07-29 04:26] rebornix commented on #78060
@sumirio please provide detailed information about the issue you run into, like what language you are working, code snippet, or a recording/gif.

[2019-07-29 04:27] #78059 closed

[2019-07-29 04:28] rebornix commented on #78058
@fonnesbeck have you ever zoom the editor or workbench?

[2019-07-29 04:30] rebornix commented on #78056
@leewwe please file issue against the c++ extension you are using to start investigation.

[2019-07-29 04:30] #78056 closed

[2019-07-29 04:34] rebornix commented on #78053
We do support code navigation https://code.visualstudio.com/docs/editor/editingevolved

[2019-07-29 04:34] #78053 closed

[2019-07-29 04:41] rebornix commented on #78044
it seems it's bind to cmd+f5

<img width="780" alt="image" src="https://user-images.githubusercontent.com/876920/62022284-67634500-b180-11e9-96f1-a470a9db1f39.png">

[2019-07-29 04:44] rebornix commented on #78032
@Sir-kay what do you mean by Chinese path?

[2019-07-29 04:45] rebornix commented on #78029
Not compatible with Windows 10 builtin HDR

启用系统原生HDR选项后程序界面全部发灰,包括反馈界面

[2019-07-29 04:51] rebornix commented on #78051
@aminlatifi could you please provide the info Issue Reporter created?

[2019-07-29 04:52] rebornix commented on #77970
@scole66 do you ever run into the issue again?

[2019-07-29 04:54] rebornix commented on #77544
Could you please follow https://github.com/microsoft/vscode/wiki/Keybinding-Issues to provide more info when you run into the issue again?

[2019-07-29 05:23] sandy081 commented on #76881
Provided a new context key `focusedView` whose value is set to the current focused view.

`"when": "focusedView == nodeDependencies"`

[2019-07-29 05:24] #76881 closed

[2019-07-29 05:25] SSJ9899TDylan commented on #78053
Yeet

Sent from myMail for iOS

Monday, 29 July 2019, 2:36 pm +1000 from notifications@github.com  <notifications@github.com>:

[2019-07-29 05:40] gkkirilov commented on #77987
@sbatten Is there a way to stop the toggling of the menu entirely?

[2019-07-29 05:46] skprabhanjan commented on #77559
@Tyriar , I cannot reproduce this issue.
The cursor blinking seems to be correct when I tried this.

[2019-07-29 05:50] fazlarabbi2 commented on #76236
Unibeautify no longer working in latest vscode
Please solved this bug as soon as possible

[2019-07-29 06:04] #78043 closed

[2019-07-29 06:10] octref commented on #63955
Fixed.

[2019-07-29 06:10] #63955 closed

[2019-07-29 06:13] octref opened #78068 "Move experimental settings / contributions for custom data into stable"
- Move `[html/css].experimental.customData` to `[html/css].customData`
- Move `contributes.[html/css].experimental.customData ` to `contributes.[html/css].customData

[2019-07-29 06:23] hjhwel opened #78069 "所有插件经常突然失效，需要重启软件才行"
Issue Type: <b>Performance Issue</b>

使用一段时间后，就会有几率出现，

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>f

[2019-07-29 06:31] sbatten commented on #78010
This happened when switch between native and custom title bar I believe. I've added code to reset the layout if this is detected but it shouldn't happen again as I've fixed what I believe was the root cause as well.

[2019-07-29 06:33] #78010 closed

[2019-07-29 06:37] joun26 opened #78070 "vs code freezes after typing one or two characters."
Issue Type: <b>Bug</b>

I have to wait for few seconds to use it again but again after typing one character it freezes again . After freezing i cannot even close it down normally. I use task manager to close it down.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|It

[2019-07-29 06:38] #78070 closed

[2019-07-29 06:38] joaomoreno commented on #77201
Is it a work network, or a simple home network? Could you use Wireshark and detect that network connection to the telemetry service?

[2019-07-29 06:39] sbatten commented on #77922
@joaomoreno this source of truth should already be fixed and I cannot repro. Can you still in latest?

[2019-07-29 06:40] Benjamin-Lee opened #78071 "Markdown HR (---, ***, or ___) in hover is not rendered correctly"
- VSCode Version: 1.36.1
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. Create a Python docstring with:

[code]
2. Hover over it.

<img width="299" alt="image" src="https://user-images.githubusercontent.com/13618205/62026825-15371980-b1aa-11e9-915f-78c6c1a65e3e.png">

Does this issue occur when all extensions are disabled?: Yes

[2019-07-29 06:42] SSJ9899TDylan commented on #77922
Who knows!
Sent by Dylan Taylor

On Mon, 29 Jul 2019 at 16:41, SteVen Batten <notifications@github.com>
wrote:

[2019-07-29 06:50] #77981 closed

[2019-07-29 06:55] joaomoreno commented on #77940
Great catch!

[2019-07-29 06:55] joaomoreno commented on #77949
Can you run `code --verbose`, try to run that action and then let us know what info comes out in the command line?

[2019-07-29 06:56] #77940 closed

[2019-07-29 07:03] Zeleska opened #78072 "VS Code doesn't recognize Vcpkg include path"
Issue Type: <b>Bug</b>

The only dependency is the SFML library. It does not recognize the include path when I try to built the program, it gives the error C1083 for "SFML/System.hpp", but if I peek the definition of SFML/System.hpp it recognizes the path and everything in the editor.
The project is organized like this:

SFML Study1 [workspace root]
----.vscode [the folder]
--------c_cpp_propertie

[2019-07-29 07:04] karolfalkiewicz commented on #77559
@skprabhanjan I use zsh shell in integrated terminal, but this shoudn't be the case. Same shell works fine in normal Terminal app. When I switched shell to bash in integrated-terminal issue still occurs. It looks like when out of focus, integrated-terminal cursor ignores selected style and renders as block.

[2019-07-29 07:05] lucaros97 commented on #77949
`
[main 2019-07-29T07:04:12.370Z] Starting VS Code
[main 2019-07-29T07:04:12.372Z] from: /Applications/Visual Studio Code.app/Contents/Resources/app
[main 2019-07-29T07:04:12.372Z] args: { _: [],
  diff: false,
  add: false,
  goto: false,
  'new-window': false,
  'reuse-window': false,
  wait: false,
  version: false,
  help: false,
  'list-extensions': false,
  'show-versions': false,
  verbose:

[2019-07-29 07:32] lid3rs commented on #37947
Any updates?

[2019-07-29 07:42] jrieken commented on #78022
Thanks @jvilk-stripe. This is [`result.push(...ref);`](https://github.com/microsoft/vscode/blob/1c6047158b540dd5e38e75bf9793bc9527d26e4b/src/vs/editor/contrib/referenceSearch/referenceSearch.ts#L294) which is spreading a huge array when invoking push. Internally that makes this a function call with too many arguments.

[2019-07-29 07:44] jrieken commented on #77941
You reported this against 1.32.3, please try to reproduce this with a recent version of code. Latest stable is 1.36.1

[2019-07-29 07:45] #78047 closed

[2019-07-29 07:46] cezarneaga commented on #77865
seems to be ok today if i access the actual not the alias. will close for now.

[2019-07-29 07:46] #77865 closed

[2019-07-29 07:47] irfanbaigse commented on #10554
Any updates ?

[2019-07-29 07:52] #78066 closed

[2019-07-29 07:53] jrieken commented on #78066
The provided `edit` is only valid while the callback executes, there is no support for async execution because it's unclear what the state of the editor then is.

[2019-07-29 08:16] whlkw opened #78073 "Debug hover respect editor.wordSeparators setting"
- VSCode Version: 1.36.1
- OS Version: win10

Steps to Reproduce:
I am write a common LISP dialectic language addin for VSCODE,  and find that the editor.wordSeparators setting can't work for hover on a symbol when debugging. In LISP language the variable name can contains * ? - and so on.

1. add setting "editor.wordSeparators": "&#^()[]|;'\".",
2. launch the mock debug
3. open a MD file which co

[2019-07-29 08:17] liurunliang commented on #78029
thank you!

[2019-07-29 08:20] Brandolfdesigns opened #78074 "Resizing the editor"
Hello,

While resizing the editor bar between the 2 groups it either gets stuck on resizing to the left without clicking on it, like whenever the mouse is moved, and it doesnt resize to the right. Need to double click on it so it goes back to the center, and also having hard time for it to stop while resizing it

[2019-07-29 08:22] joelmagner opened #78075 "Conditional Tasks"
Feature request: Conditional Tasks.

Scenario

### Run _"Build Company SW"_ Task

       Apple
       Oracle

If I pick **Microsoft** - a list with:

      VS
      Windows

Should appear.

If I pick **Apple** - a list with:

       Os X

should appear.

If I pick **Oracle** - a list with:

should appear.

Now imagine that I can't do all of this from one task...

What I'll end up with (when having

[2019-07-29 08:36] ppatierno commented on #77018
I have the same problem with Quick fix not working but clicking on the light bulb works well.
I am on Fedora 29 and VSCode version is 1.36.1

[2019-07-29 08:39] Eskibear commented on #77018
The same issue in Stable version. But looks it has been fixed in Insider version.
[code]
[code]

[2019-07-29 08:43] qidaneix commented on #78066
@jrieken
I change it to Thenable, still do not work:
[code]

and `vscode.window.showOpenDialog` seems do not provide callback way, how can I solve this problem?

thx.

[2019-07-29 08:45] ssbarnea commented on #35571
Any chances to make Git Commit Message editing to use the spellchecker?

[2019-07-29 08:45] joaomoreno commented on #77550
FYI this is my first time looking at integration tests.

@Tyriar https://github.com/microsoft/vscode/commit/4dc738593b4fa0ec6bb72d8694c867f4c362c382 affected unit tests only. And it's a 1 year old change. This broke much more recently.

The fix ended up being related to array spreads, beware of them. https://github.com/microsoft/vscode/commit/70f5805cfe6f65d2d78f023f336df4deaf4ac555

cc @bpasero

[2019-07-29 08:46] #77550 closed

[2019-07-29 08:49] joaomoreno commented on #77622
Makes sense... but should this really be running during our Unit Test suite?

[2019-07-29 08:51] joaomoreno commented on #78016
But... if `git status` doesn't ignore those changes (as shown in your console output)... why would VS Code?

[2019-07-29 08:52] #76922 closed

[2019-07-29 08:53] sandy081 commented on #76922
Verify the order of views in the side bar is persisted across all windows.

[2019-07-29 08:54] joaomoreno commented on #77949
Well, can you do it when there's an update available?

[2019-07-29 08:55] aeschli commented on #77936
The malformed URI is
`file:///home/vitalyr/%E4%B8%8B%E8%BD%BD/%B1%CA%BC%C72---JDBC%B3%CC%D0%F2%B5%C4%BF%AA%B7%A2%B2%BD%D6%E8_%CA%B9%D3%C3Statement%BD%D3%BF%DA%CD%EA%B3%C9%BB%F9%B1%BECRUD%B2%D9%D7%F7.txt`

[2019-07-29 08:56] jrieken commented on #78066
That change doesn't help because 'thenable', is like async, asynchronous. When you run edits async, then you cannot use the provided edit-builder but you must start a new edit, e.g via `editor.edit`

[2019-07-29 08:56] egamma commented on #77214
@alexr00 pls see also the discussion here #50448

[2019-07-29 08:57] joaomoreno commented on #77550
Build looks good now: https://dev.azure.com/vscode/VSCode/_build/results?buildId=23873

[2019-07-29 09:01] elieobeid7 opened #78076 "VSCode doesn't show function definition"
I'm using ubuntu 16.04 unity, 64 bit, the latest version of VScode, I think this issue started happening with the latest version, not entirely sure though.

My code is nodeJS. I have `main.js` and `functions.js`

2 days ago everything was working, I could drill down from `main.js` or hover over a function and vscode would show me info about it. This stopped working, I can no longer drill down nor

[2019-07-29 09:01] joaomoreno opened #78077 "Interface Overview is broken with Grid"
1. Open Welcome
2. Click Interface Overview

![image](https://user-images.githubusercontent.com/22350/62035385-01aea180-b1f0-11e9-9400-e6d21013b094.png)

[2019-07-29 09:02] aeschli commented on #77936
@VitalyAnkh We had a bug in our URI library with URI.toString. It was in 1.36 but got reverted in 1.36.1. The invalid URI were written in  1.36, and now 1.36.1 fails.

[2019-07-29 09:04] aeschli commented on #77936
1.37 now has code to gracefully handle URIs in storage.json that are malfomormed.
Sorry for the trouble.

[2019-07-29 09:04] #77936 closed

[2019-07-29 09:07] joaomoreno commented on #78069
/needsMoreInfo

[2019-07-29 09:08] joaomoreno commented on #78071
Does Markdown generally work in that scenario? Eg. does `Hello *World*` make it bold?

[2019-07-29 09:09] #78072 closed

[2019-07-29 09:10] joaomoreno commented on #78074
Can you show me what you mean with a screen recording?

[2019-07-29 09:12] Benjamin-Lee commented on #78071
Yes, sorry for not making that clear.

[2019-07-29 09:12] alexr00 commented on #77757
This is intentional! the properties of a provided task are its ID. If the resolved tasks properties do not match the initial properties then they are not the same task.

[2019-07-29 09:13] joaomoreno commented on #77922
Nope, the last steps still reproduce.

[2019-07-29 09:19] Zenoo commented on #77761
@mjbvz I tried adding a `jsconfig.json` in the same folder as my JS file:

[code]

[2019-07-29 09:20] joaomoreno commented on #77922
Things like these should not exist in the grid world:

- https://github.com/microsoft/vscode/blob/f515c229c98f8362adc88f67138afb5367f8a25c/src/vs/workbench/browser/layout.ts#L147-L148
- https://github.com/microsoft/vscode/blob/f515c229c98f8362adc88f67138afb5367f8a25c/src/vs/workbench/browser/layout.ts#L132

They should all come from the Grid serialization.

[2019-07-29 09:26] smx-smx opened #78078 "PHP syntax highlighting issue with here strings"
Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

Steps to Reproduce:
![image](https://user-images.githubusercontent.com/1978844/62037132-7d5e1d80-b1f3-11e9-8220-362c73a1d669.png)

![image](https://user-images.githubusercontent.c

[2019-07-29 09:32] qidaneix commented on #78066
@jrieken
it does work writing in this way:
[code]
thanks for your help!
suggest: It would be nice noticing in the documents, or throw an Error when using the `edit` in wrong way.

[2019-07-29 09:33] isidorn commented on #76949
@joaomoreno I rarely use multi root workspaces so I can not say when this broke.

[2019-07-29 09:39] isidorn commented on #77232
@misolori thanks for fixing this!

[2019-07-29 09:39] jrieken commented on #78066
⬇️
https://github.com/microsoft/vscode/commit/f515c229c98f8362adc88f67138afb5367f8a25c

[2019-07-29 09:44] #78022 closed

[2019-07-29 09:44] sandy081 commented on #77930
Please file issue against the extension generating these errors

[2019-07-29 09:44] #77930 closed

[2019-07-29 09:46] sandy081 commented on #77957
It's common practice to keep this button as secondary for all our notifications. What is the reason why this button has to be primary?

[2019-07-29 09:48] sandy081 commented on #77377
I see. Since it is in the third party library unfortunately I do not have fix from my side.

I will see if other extensions are facing this issue in real time.

[2019-07-29 09:50] svilenmarkov commented on #76894
I'm also experiencing this issue where trying to run the build task or running a specific task hangs on "Fetching build tasks...". I narrowed it down to the Gulp builtin extension and more specifically my gulpfile.js having a `watch()` at the bottom. Either disabling the extension or removing the watcher fixes the issue.

[2019-07-29 09:53] ruslan-makeev opened #78079 "Window has crashed"
WIndow has crashed keeps poping in as soon as i touch any file. Have to shut the editor. Nothing helps. Had normal version of VSC code before for a month with no issues. Than suddenly that error occured. Reinstalled the VSC with no luck. Tried the insiders version... worked for a week only. Same error. Had to swith to Atom to keep coding. Please help, I love VSC.

[2019-07-29 09:53] weinand commented on #77982
There are basically two approaches for making VS Code run your *.jar:
- **declarative**:
In the `package.json` of your extension, you can register your executable as part of the `debuggers` extension point. Here is the doc: https://code.visualstudio.com/api/extension-guides/debugger-extension#anatomy-of-the-package.json-of-a-debugger-extension. <BR>
And here is an example from the node.js debugger

[2019-07-29 09:55] sandy081 commented on #77979
@chrisdias Assigning to you since it is related to product recommendations.

May be do we need to add this extension also to recommendations?

[2019-07-29 09:58] #77982 closed

[2019-07-29 10:00] nshenoy06 opened #78080 ""Add all missing members option" is not working"
Issue Type: <b>Bug</b>

When you right click on a variable /xpath it displays an option saying "Add all missing members" which is not working currently

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.16299

[2019-07-29 10:01] alexr00 commented on #76894
@svilenmarkov can you open a new issue for that please?

[2019-07-29 10:03] SSJ9899TDylan commented on #76922
What are you waiting for? Christmas 

Sent from myMail for iOS

Monday, 29 July 2019, 6:55 pm +1000 from notifications@github.com  <notifications@github.com>:

[2019-07-29 10:03] sandy081 commented on #77696
Opening in another editor group makes sense to me. You can use cmd/ctrl+click user gesture for this.

[2019-07-29 10:04] alexr00 commented on #78075
Could you use the [command input type](https://code.visualstudio.com/docs/editor/variables-reference#_input-variables) to accomplish this?
Once you want conditional actions in your task you start to drift out of realm of tasks and into commands.

[2019-07-29 10:06] Floriferous opened #78081 "Very slow intellisense (10-30s until open)"
* All extensions are disabled.
* Version: v1.36.1
* OS: macOS 10.14.5

Related to a lot of other issues. Immediately after opening VSCode, and after JS/TS language service has been initialized, requesting anything from intellisense takes upward of 10 seconds. Which slowly increases to 20-30 seconds.

I logged the TSServer logs in verbose, here are a few snippets. I noticed that it keeps logging al

[2019-07-29 10:06] sandy081 commented on #78065
@xianghongai I do not understand what you are asking for. Can you please elaborate on multiple schemes?

[2019-07-29 10:13] sandy081 commented on #78052
Can you please provide us the logs from following

`F1 -> View: Open View -> Log (Shared)`

You can see the extension installation activity here. Please provide us this log to know what's happening

[2019-07-29 10:13] #78062 closed

[2019-07-29 10:17] sandy081 commented on #77679
@pkail Can you please check logs and let us know whats happening. You can find logs using `F1 > View: Open View > Log (Shared)` and `F1 > Toggle Developer Tools`

[2019-07-29 10:19] #77362 closed

[2019-07-29 10:20] #77262 closed

[2019-07-29 10:22] sandy081 commented on #78023
@SteinTheRuler What is the usecase to hide outline view (or any other view) programmatically?

[2019-07-29 10:24] joaomoreno commented on #77856
@sbatten

Upon investigating this, I noticed a SerializableGrid being constructed twice for the workbench... I found I'm always hitting [this](https://github.com/microsoft/vscode/blob/f515c229c98f8362adc88f67138afb5367f8a25c/src/vs/workbench/browser/layout.ts#L770)... which means the grid is never restored from serialization. You can't call `getNeighborViews` without ever calling `layout`, there's

[2019-07-29 10:28] aeschli commented on #77912
Thanks!

[2019-07-29 10:31] aeschli commented on #78054
dup of https://github.com/microsoft/vscode/issues/3429

[2019-07-29 10:31] #78054 closed

[2019-07-29 10:32] aeschli commented on #48273
closing as more information is needed

[2019-07-29 10:32] #48273 closed

[2019-07-29 10:35] jrieken commented on #77856
You run and measure locally? For the perf bot: it runs twice a day (morning & afternoon) but only when there is new insiders available.

[2019-07-29 10:41] florianrusch commented on #70966
The description of `window.clickThroughInactive` says, that the window will be activated and then the element under the mouse will be triggered. But that's not how it work...

![image](https://user-images.githubusercontent.com/1724759/62042263-f82c3600-b1fd-11e9-83fc-f873b9dc0892.png)

If I do a right click, like @misolori showed in his gif, the window will not be activated.

Belongs this bug to t

[2019-07-29 10:50] Floriferous commented on #78081
Update:

* I fixed the missing `.vscode` folder, which I simply created as an empty folder
* I tried to remove cypress, as it was mentioned in the logs for some reason

Result: No difference.

[2019-07-29 10:59] darekrusin commented on #78013
Ah... yes! Now it's finally working as it's supposed to :) Thanks so much, Russel.

[2019-07-29 11:06] lucaros97 commented on #77949
Here it is. I just downgraded from 1.36 to 1.35.1 and checked for updates available, then i run the command.

[code]

[2019-07-29 11:07] joelmagner commented on #78075
Using **command input type** will not work for this.
Lets take an even more generic example:

### Run _"Build Company SW"_ Task

       Apple
       Oracle

If I pick **Microsoft** - a list with:

      VS
      Windows

Should appear.

If I pick **Apple** - a list with:

       Os X

should appear.

If I pick **Oracle** - a list with:

should appear.

Now imagine that i can't do all of this from

[2019-07-29 11:08] svilenmarkov opened #78082 "Running/configuring tasks hangs when gulpfile has a top level watch()"
Issue Type: <b>Bug</b>

### Steps to reproduce:
* Create a new directory and have it open in vscode
* Have gulp available either globally or locally (`npm install --save-dev gulp`)
* Create a gulpfile.js with the following contents:
[code]

* Close and re-open vscode
* Try executing any of the task-related commands, for example: **Configure Default Build Task** / **Run Build Task** / **Run Task**

[2019-07-29 11:14] alexr00 commented on #78034
Moved to owning repo.

[2019-07-29 11:14] #78034 closed

[2019-07-29 11:19] alexr00 commented on #75823
Moved to owning repo.

[2019-07-29 11:19] #75823 closed

[2019-07-29 11:20] OsmanDhaqane opened #78083 "Cursor become fat and blinking"
Issue Type: <b>Performance Issue</b>

I can't write code unless I hit the insert key, and again if i try to use short cuts like ctrl + c or x the cursor goes back to the same problem.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2019-07-29 11:21] #73659 closed

[2019-07-29 11:22] alexr00 commented on #77955
@yury-s if you run your webkit build in the terminal (not from the task) with the exact same parameters as you run it with the task does the same thing happen?

@Tyriar, I don't believe we do anything special to get the file clickable in the terminal with tasks.

[2019-07-29 11:22] inwardmovement opened #78084 "Smart select doesn't consistently stops before and after quotes"
- VSCode Version: 1.36.1
- OS Version: Windows 10

Smart select doesn't consistently stops before and after quotes.

[2019-07-29 11:24] OsmanDhaqane commented on #78083
[index.html - starter - Visual Studio Code 2019-07-29 13-21-57.zip](https://github.com/microsoft/vscode/files/3441792/index.html.-.starter.-.Visual.Studio.Code.2019-07-29.13-21-57.zip)

[2019-07-29 11:31] rafaelsartori96 commented on #77645
I am using Ubuntu 18.04.2 LTS, Linux kernel x64 4.18.0-25, single monitor. Using code 1.36.1 2213894ea0415ee8c85c5eea0d0ff81ecc191529 x64.

The issue happens fairly easy on all my computers (pc on Arch Linux, new notebook on Ubuntu and old notebook on Arch Linux): change focus to another app, scroll for some time (mouse or touchpad), go back to code. This problem bothers me for some time, I was re

[2019-07-29 11:34] #77902 closed

[2019-07-29 11:34] zhouhua852 opened #78085 "how to save terminal output information to a log file"
I found it is difficult to save output information to a log file in terminal.

if I use ` <command> >> D:\temp\log.txt`  , the output information will be saved in log.txt. But content will not display on vscode terminal.

Is there someway to save terminal info to a log file?

for example, what should I do if I want save these output info to a file?
[code]
I wish there is  a command 'save to log fi

[2019-07-29 11:36] #77098 closed

[2019-07-29 11:39] alexr00 commented on #77838
Can you share your task?

[2019-07-29 11:40] SheepDomination commented on #77902
I'm not a user on Stack Overflow, as there guidelines are a little extreme; rather to get the help here.

[2019-07-29 11:44] ZeroCool11000 opened #78086 "CMake integration in visual studio code"
Hi, is there any way to intergrate cmake better in vsc, mainly the thing is just it would be nice to have good way to add libraries, flags and so on through a gui like way and not through mainly editing some text. I am search for a way to have nearly the same options like in qt and visual studio where a lot of stuff is already done through the ide and i don't have to add every single header and cp

[2019-07-29 11:45] inwardmovement opened #78087 "Improve beginning of line selection"
Currently (version `1.36.1`):
- first pixel of line is not selectable/clickable contrary to what the cursor suggests:
![image](https://user-images.githubusercontent.com/9438102/62045366-7d671900-b205-11e9-8d7a-a04dd2fb43bf.png)
![image](https://user-images.githubusercontent.com/9438102/62045511-cb7c1c80-b205-11e9-8df2-e396cd2fbe9c.png)

- empty/unsed space between line number and editable area is

[2019-07-29 11:46] alexr00 commented on #77727
Duplicate of https://github.com/microsoft/vscode/issues/64358

[2019-07-29 11:46] #77727 closed

[2019-07-29 11:57] alexr00 commented on #77675
Leaving open to check on if we decided to update the old shell script grammar.

[2019-07-29 12:03] anikolaev commented on #56630
@kanlukasz Thanks for workaround but in this mode 'Alt' keypress doesn't activate the menu bar. Light menu bar doesn't look good with dark themes. Vertical space is wasted.

I wish it could be fixed. That's is one of the reasons I don't use VS Code.

[2019-07-29 12:04] alexr00 commented on #77614
This is intentional. Can you add an argument for skipping the profile? Maybe:
[code]

[2019-07-29 12:05] #77614 closed

[2019-07-29 12:12] #77529 closed

[2019-07-29 12:12] IllusionMH commented on #78002
Small clarification:
Is it expected that there are no whitespace characters in search matches but they are visible in current match?
![image](https://user-images.githubusercontent.com/1312662/62047469-3bdd6a80-b213-11e9-93ff-e2b1db601c71.png)

[2019-07-29 12:14] alexr00 commented on #77517
Thank you for including you tasks! This looks like a duplicate of https://github.com/microsoft/vscode/issues/77059, which is fixed in insiders already.

[2019-07-29 12:14] #77517 closed

[2019-07-29 12:17] isidorn commented on #76752
More details on the motivation why we did it https://github.com/microsoft/vscode/issues/55128
Assigning to next milestone so we introduce an option for controlling this behavior.

[2019-07-29 12:18] alexr00 commented on #77677
Duplicate of #77418

[2019-07-29 12:18] #77677 closed

[2019-07-29 12:19] joaomoreno commented on #77856
Yes I mean for the perf bot, since the first post mentions an increase on that setup. Let's wait for tomorrow then.

[2019-07-29 12:19] alexr00 commented on #77410
Duplicate of https://github.com/microsoft/vscode/issues/59789

[2019-07-29 12:19] #77410 closed

[2019-07-29 12:21] isidorn opened #78088 "Changing workspaces qucikly shows the activity bar margin"
1. Have the activity bar hidden via user setting
	`"workbench.activityBar.visible": false`
2. Change workspace -> notice the activity bar quickly showing (without any icons) before appearing again

It was not behaving like this 2 weeks ago when I went on vacation. Thus I think this is a regression.

![activity](https://user-images.githubusercontent.com/1926584/62048044-26b10d80-b20c-11e9-8114-da70

[2019-07-29 12:23] alexr00 commented on #77380
Moved to owning repo.

[2019-07-29 12:23] #77380 closed

[2019-07-29 12:23] volker-wd opened #78089 "Preview jumps to top when scrolling"
- VSCode Version: 1.31.0
- OS Version: Win 10

Steps to Reproduce:

1. Open (or create) a "long" adoc file (500+ lines).
2. Insert three include directives (include::filename.adoc[]) at different locations in the file.
3. Save the file.
4. Open the preview.
5. Keep the mouse in the "file" section (not in the preview).
6. Scroll from top to bottom (using the mouse wheel).

Does this issue occur whe

[2019-07-29 12:23] alexr00 commented on #77356
This would be a great addition to the C++ extension if it doesn't exist already.

[2019-07-29 12:23] #77356 closed

[2019-07-29 12:25] #77325 closed

[2019-07-29 12:26] fabiospampinato commented on #76753
I've just stumbled upon this too.

In case it's useful I've noticed that the call to colorize/colorizeElement works at first if I'm just viewing the rendered Markdown, which is the language that references itself as an embedded mode for me, but then if I fire up a monaco editor instance with that same Markdown content and switch back to rendering and syntax highlighting it than the bug occurs. It

[2019-07-29 12:26] alexandrudima commented on #77899
Fixed via #77740

[2019-07-29 12:27] #77899 closed

[2019-07-29 12:31] usernamehw commented on #78088
Looks like another grid problem
[code]

[2019-07-29 12:39] ChromeQ commented on #77974
For the time being I would recommend installing the VSCode extension: https://marketplace.visualstudio.com/items?itemName=Levi.nullish-coalescing-operator-grammar

[2019-07-29 12:40] ktri-camelot commented on #48273
Ok, Thanks. Maybe it was the version-specific issue. After updates, I have not come across this issue.

[2019-07-29 12:40] #76753 closed

[2019-07-29 12:47] Fmstrat commented on #78016
Thanks for the response @joaomoreno

`git` offers many ways to filter the content. For instance `git diff` has a `submodule` option, or a `regex filter (-G)` option, both of which are used to filter outputs via aliases for exactly this type of thing.

I took a look at the vscode source (wow it's clean) and see how you pass in args to `diffFiles` so I've forked and am putting together a PR in my sp

[2019-07-29 12:47] isidorn commented on #55128
More details here https://github.com/microsoft/vscode/issues/76752
Let's continue the discusion there.

[2019-07-29 12:52] isidorn commented on #76428
Sorry about that!
Yes we renamed it, ti was mentioned in the release notes (I believe)

[2019-07-29 12:53] hulapluto commented on #77939
![vscodeCTRLc](https://user-images.githubusercontent.com/39414674/62049944-edf64180-b1d5-11e9-9cd7-91c796b199f1.JPG)
![vscodeCTRLv](https://user-images.githubusercontent.com/39414674/62049945-edf64180-b1d5-11e9-85ed-e0bedbdd74d9.JPG)

Yes, it works properly in all programs except for vscode. Thank you!

[2019-07-29 12:58] Ritorna commented on #77385
Still can confirm for the latest insider version:
![image](https://user-images.githubusercontent.com/10747768/62050329-557db280-b211-11e9-8ac7-0a8bdf49b1b2.png)

[2019-07-29 13:02] IllusionMH commented on #78083
Is is reproducible without extensions (especially Vim)?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

[2019-07-29 13:05] thomas-darling commented on #76752
@isidorn Actually, I thought it would only increment the number postfix added at the end of the file name. I can certainly see how magically incrementing numbers in the middle of the file name could be surprising and confusing to users, and possibly even a source of bugs.

Personally, I'd prefer that if you copy a file, it simply adds the `.1` postfix to the name of the copy, and if you then creat

[2019-07-29 13:09] IllusionMH commented on #78081
@Floriferous are you using custom version of TS server? Could you check TS version at the start of `tsserver.log`? I had somewhat similar problem with nightly builds on July 13-17 (see https://github.com/microsoft/TypeScript/issues/32441).

However it was noticeable with high values after `completionInfo: elapsed time (in milliseconds)`

[2019-07-29 13:10] sunnyvats opened #78090 "VSCodeQuickStart"
Issue Type: <b>Feature Request</b>

why i am not able to delete the folder in which i am storing the project?

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

[2019-07-29 13:13] egamma commented on #77844
I've just verified this on stack overflow and I cannot reproduce what you see:

![image](https://user-images.githubusercontent.com/172399/62051171-151f3400-b213-11e9-8571-0cb4c940bcf6.png)

you get guided to assign the tag

![image](https://user-images.githubusercontent.com/172399/62051241-41d34b80-b213-11e9-88de-d3aa06e563d5.png)

Using issues for questions is a much inferior experience and does

[2019-07-29 13:13] #77844 closed

[2019-07-29 13:14] egamma commented on #77811
This extension already does this https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens

[2019-07-29 13:14] #77811 closed

[2019-07-29 13:15] isidorn commented on #77799
This is a fair feautre request. Collapse All in the callstack view. Thus renaming and assigning to backlog.

[2019-07-29 13:15] egamma commented on #48544
This has been fixed some time ago

[2019-07-29 13:15] #48544 closed

[2019-07-29 13:15] jrieken commented on #77926
@alexandrudima please report back if this still happen for you

[2019-07-29 13:15] #77926 closed

[2019-07-29 13:18] #65859 closed

[2019-07-29 13:18] #65857 closed

[2019-07-29 13:19] egamma commented on #66068
/needsMoreInfo

[2019-07-29 13:19] #66081 closed

[2019-07-29 13:19] OsmanDhaqane commented on #78083
Thank you I removed the Vim extension, and everything works properly now.

[2019-07-29 13:22] egamma commented on #69727
These scenarios are now be covered by the VS Code Remote Extensions.

[2019-07-29 13:22] #69727 closed

[2019-07-29 13:26] egamma commented on #76711
@daniel-schulz not clear what your exact scenario is, but if you just want to run a script from the package.json, then you do not need to define tasks. Can you just delete your 'tasks.json' file and try to run the scripts from the NPM Script Explorer directly.

If this doesn't do what you want, then please provide a `package.json` and `tasks.json` file so that we can easily reproduce the problem.

[2019-07-29 13:28] donald-lendit commented on #77974
Thank you for your recommendation but.. unfortunately it's not working correctly on VueJS template and Script area.

[2019-07-29 13:29] jrieken opened #78091 "Finalize onDidExecuteCommand-API"
Remaining work is listed here: https://github.com/microsoft/vscode/issues/1431#issuecomment-514627618. Also, finalise the API

[2019-07-29 13:29] #1431 closed

[2019-07-29 13:29] jrieken commented on #1431
Closing this for July testing

[2019-07-29 13:29] egamma commented on #76971
/needsMoreInfo

Cannot reproduce given the information provided. Please verify that you have the user setting `npm.enableScriptexplorer` set to true.

[2019-07-29 13:31] fhelwanger commented on #76752
@thomas-darling It wouldn't work for the workflow I described in https://github.com/microsoft/vscode/issues/55128#issuecomment-508219342 😕

[2019-07-29 13:31] elieobeid7 commented on #78076
The code above worked in a testing file but in the main project I had to do [this](https://stackoverflow.com/a/43341268/1920003)

Now vscode works and so does the code, not sure what happened, but everything is working now.

[2019-07-29 13:31] #78076 closed

[2019-07-29 13:32] thecatontheflat opened #78093 "JS Autocomplete does not work correctly when assigning into "this""
- VSCode Version: Version 1.36.1 (1.36.1)
- OS Version: macOS Mojave 10.14.5

Steps to Reproduce:
1. Create the following files:

**a.js**
[code]

**b.js**
[code]

2. Go to **a.js** and start typing `localVarB.` — you can see correct autocomplete suggestions
3. Go to **a.js** and start typing `this.classPropB.` — autocomplete is not working

4. See screenshots with details:

![Screenshot 2019-07-2

[2019-07-29 13:34] #77240 closed

[2019-07-29 13:36] johnathanz commented on #41909
That makes sense. Thanks for the clarification @ncallaway

[2019-07-29 13:41] #77454 closed

[2019-07-29 13:42] Floriferous commented on #78081
Probably not related, we've had this issue for months..

[2019-07-29 13:48] jrieken opened #78094 "Test consumer file system API"
Refs: https://github.com/microsoft/vscode/issues/48034

- [x] any @bowdenk7
- [x] any @alexandrudima

Complexity: 3

There is new API: `vscode.workspace.fs`. It allows to read, write, and manage files and folders. Test that

* the API is stable and works without enabling proposed API
* the API works as promised
* this sample shows to derive uris and how to convert bytes to strings: https://github.

[2019-07-29 13:48] egamma opened #78095 "Improve discoverability of NPM Script Explorer"
The npm script explorer is currently only visible when the setting `npm.enableScriptExplorer` is true. This makes it hard to discover, see this twitter conversation for example https://twitter.com/bosshenek/status/1151270228606763009

We do not want to always  want to show the NPM Script Explorer. However, to improve its discoverability it should be shown (collapsed) when there is a top-level `pac

[2019-07-29 13:50] jrieken commented on #78094
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of vscode.d.ts and/or vscode.proposed.d.ts

[2019-07-29 13:54] #77418 closed

[2019-07-29 13:54] ahmedHusseinF commented on #75798
Well I figured it out, after weeks of frustration.

there was this setting, I don't know how it got in there.
[code]

[2019-07-29 13:55] jrieken opened #78096 "Test DiagnosticTag#Deprecated"
Refs: https://github.com/microsoft/vscode/issues/56694

- [x] any @sbatten
- [x] any @egamma

Complexity: 3

There is new API to mark a decoration as representing something deprecated. In addition to the normal rendering, the editor shows a strikeout. That that

* the API can be used without enabling proposed API
* the API is proper and documented
* the editor shows a strikeout

[2019-07-29 13:57] jrieken commented on #78096
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2019-07-29 13:57] jrieken commented on #78096
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2019-07-29 13:59] shawmanz32na commented on #77998
# Startup Profile

Here's the output from a startup profile. I'd like to stress that this profile seems to finish generating before the JS/TS language features begin to load, and probably don't expose the performance issue.

## System Info

* Code: 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529)
* OS: win32(10.0.18362)
* CPUs: Intel(R) Core(TM) i7-2760QM CPU @ 2.40GHz(8 x 2395)
* Memory(System):

[2019-07-29 14:03] simplyandyg commented on #77650
I went through all the results for "orderBy(". In those results, some lines were as short as 20-30 characters including tabs, but some were as long as 220 characters.

The matches were generally short like "down(" or "orderBy(". Usually, just function names.

If I do the same exact search again, right after the editor finally unfreezes, it locks up again.

Also, when I scrolled to the bottom of th

[2019-07-29 14:05] #72263 closed

[2019-07-29 14:06] alexandrudima commented on #77990
root cause -- https://github.com/microsoft/vscode/blob/c94b2703c5d7688d74473b579844fcded5269589/extensions/typescript-basics/package.json#L81-L90

This injection drags in markdown, which drags in almost all our grammars...

Removing that reduces the time significantly.

[2019-07-29 14:08] isidorn commented on #77063
@georgebatalinski great, thanks! Ping me on the PR once you create it

[2019-07-29 14:13] isidorn commented on #76869
@cleidigh sorry for not responding sooner I was on vacation.
Yes I believe that the "expanded" state gets properly read out when using a native select box. However when using a list/tree undearneath it is not read out.
I belive the fix would be to properly set the state `aria-expanded` to the custom select box.
I see we are alrady doing something like that [here](https://github.com/Microsoft/vscod

[2019-07-29 14:15] isidorn commented on #77065
@georgebatalinski We do not have the extension API for accessibility.
@joaomoreno are there other areas in Git in which you would profit from us adding such an API.
If we find more use cases from extension authers I would be more willing to push this.

[2019-07-29 14:17] ruslan-bikkinin opened #79092 "Error "Cannot read property 'line' of null" when resolveSkipFiles is set"
# Description

Adding `resolveSkipFiles` to debug configuration leads to an error:
[code]

I couldn't reproduce it on dummy js script, it only reproducible while debugging React Native app via [extension](https://github.com/microsoft/vscode-react-native).

Related issue: https://github.com/microsoft/vscode-react-native/issues/1063

# Expected behavior

No error is shown, debugging works as expecte

[2019-07-29 14:17] sandy081 commented on #71642
@jrieken I looked into this a bit deeply to see if I can start listening to context only when viewlet is visible. But there is a usecase in activity bar to hide viewlet icon if it has no active views. So this needs me to build the model by reading and listening to context keys.

[2019-07-29 14:18] weinand commented on #58304
What we plan to do in August:

We support a new breakpoint type "data" which will be shown in the breakpoints view with a new icon (tbd). Data breakpoints optionally have a condition, a hit count, and support logPoints.

In the initial implementation data breakpoints only exist while a debug session is active (which means that data breakpoints are not persisted across debug sessions).

Only if a D

[2019-07-29 14:19] isidorn commented on #77303
@paul-alkhimov that is an unrelated issue, please file a seperate one. Fyi @roblourens you should use [`getSeparator`](https://github.com/Microsoft/vscode/blob/980ad1ce090d58fdac487ad376612ae6e2f23134/src/vs/platform/label/common/label.ts#L26)

@kylrth can you reproduce this with the latest vscode insiders? Sorry for the slow response I was on vacation

[2019-07-29 14:20] alexr00 commented on #77000
I just got back from vacation and took another look at this. It looks like you aren't firing `onDidChangeTreeData` after the node updates.

I put a break-point in the only place I see it fired in gitlens: https://github.com/eamodio/vscode-gitlens/blob/master/src/views/viewBase.ts#L279
And another on https://github.com/eamodio/vscode-gitlens/blob/master/src/views/nodes/resultsFilesNode.ts#L84
so I

[2019-07-29 14:23] yetangye opened #78097 "Support MSYS2 style of file path (example: /d/Project/xxx.c)"
I built a C project under MSYS2 use gcc and make, When I tried to debug the built .exe file, VS Code launched the terminal successfully, but inner VS Code, the error below showed:
Can not open “main.c”: Unable to read file (Error: File not found (\d\Projects\foo\main.c))

The debug configuration in launch.json is

            "name": "(gdb) Launch",
            "type": "cppdbg",
            "reque

[2019-07-29 14:24] alexr00 commented on #77000
@sandy081 when we talked about this before we had said that `onDidChangeTreeData` must be fired when there is a change for it to be rendered. Is this not the case?

[2019-07-29 14:27] isidorn commented on #77324
This is a fair feature request, however it is not currently on the plan. Thus assigning it to the backlog.

[2019-07-29 14:27] fonnesbeck commented on #78058
Yes, this is at zoom level 1. Is that the issue?

[2019-07-29 14:32] ypresto opened #78098 "vscode.executeCodeActionProvider results seem to be missing their `isPreferred` property"
Issue Type: <b>Bug</b>

`isPreferred` version of  #45124.
`isPreferred` property in result of vscode.executeCodeActionProvider is always `undefined`.

While it is not required to execute command, but is useful information.
(`diagnostics` is also missing but I ignored it because it is relatively large structure and more costly to implement type converters.)

[2019-07-29 14:38] alexsmartens opened #78099 "Cannot start up as root although I specify an alternate user data directory with the --user-data-dir in Ubuntu docker container"
- VSCode Version: 1.36.1-1562627527 (insiders 1.37.0-1564378337)
- OS Version: Ubuntu 18.04 in Docker container

Steps to Reproduce:

1. `code .` produces the following error:
` You are trying to start vscode as a super user which is not recommended. If you really want to, you must specify an alternate user data directory using the --user-data-dir argument. `
2. `code . --user-data-dir="." ` does

[2019-07-29 14:41] bnb opened #78100 "When requiring a file locally, don't duplicate strings if they are after the current cursor location"
Currently, when `require()`ing a local file or directory, IntelliSense helps you by smartly suggesting possible paths:

![image](https://user-images.githubusercontent.com/502396/62056696-2d2f8d00-b1ec-11e9-85a9-5121b5698407.png)

This feature is super useful, and I use it constantly – it's really good validation that my path is accurate. However, I end up finding that I often follow the "normal" `

[2019-07-29 14:45] alexr00 opened #78101 "Test new tree in custom tree view"
Test for #63566

- [x] Mac @joaomoreno
- [x] Linux @octref
- [x] Windows @lramos15

Complexity: 4

The goal of this test is compare the old tree based custom tree view to the new tree based custom tree view and check for differences. If you have an extension that you use that uses tree views, please try stable side by side with the pre-release build and make sure that in both the tree view works t

[2019-07-29 14:47] Elkfoot2 commented on #61867
Any progress on this? It often causes me to accidentally duplicate lines of code which often causes problems that are hard to find. I imagine many other users are similarly afflicted by this bug.

[2019-07-29 14:48] #76063 closed

[2019-07-29 14:49] #73089 closed

[2019-07-29 14:50] nate-owens commented on #5446
I'd also love the ability to turn this off.  I really love VS Code, but when I'm working in PHP and mixing HTML with PHP tags, the editor gets totally confused with its indentions.

[2019-07-29 14:51] jrieken commented on #75102
@aeschli Can icons be colors? Only when using an icon font?

[2019-07-29 14:53] alexr00 opened #78102 "Test resolveTask"
Test for #33523

- [x] Mac @kieferrm
- [x] Linux @sandy081
- [x] Windows @stevencl

Complexity: 2

- Turn on gulp task auto detection if you had it turned off: `"gulp.autoDetect": "on"`
- Execute the Run Task command
- Hover over one of the detected gulp tasks and select the configure gear to the right of it.
- This will open tasks.json and add that task to it. Set some extra properties on the tas

[2019-07-29 14:55] Tyriar commented on #77550
@joaomoreno thanks for looking into this

[2019-07-29 14:59] Tyriar commented on #78040
/duplicate https://github.com/microsoft/vscode/issues/73790, you need to disable legacy console mode in cmd.exe/conhost's properties.

[2019-07-29 14:59] #78040 closed

[2019-07-29 14:59] sbatten commented on #77856
@joaomoreno that code setting undefined was just checked in last night, so it may have been causing a new perf issue but I don't think it was the original issue.

[2019-07-29 14:59] Tyriar commented on #78067
/duplicate https://github.com/Microsoft/vscode/issues/35901

[2019-07-29 14:59] #78067 closed

[2019-07-29 15:02] octref commented on #77948
How large/long is your document?

[2019-07-29 15:06] joaomoreno commented on #68930
@sbatten Please verify this by your use of the grid. 🤓

[2019-07-29 15:06] vnikk opened #78103 "Unable to connect to extension marketplace behind proxy"
Hi. This is a continuation of https://github.com/Microsoft/vscode/issues/68843
I couldn't reopen that issue so I created a new one. I didn't test insiders build yet, but 1.36.1 doesn't let me connect the same way. It works on 1.35.

- VSCode Version: 1.36.1
- OS Version: OSX 10.14.5

[2019-07-29 15:10] mtangoo commented on #77582
Hi @aeschli ,
May I request the language servers as @mickaelistria asked. If there is no much interest, at least instructions on how to build it yourself independent of VSCode will suffice. Then we the community will publish it to npm as part of contribution and maintain an updated package.

I can take on it if you can guide me how to do it (never have before published anything to NPM though I use

[2019-07-29 15:11] mtangoo commented on #77582
@mickaelistria can you post the procedures to publish the servers? I can take on myself to update them with every new VSCode version!

[2019-07-29 15:21] joaomoreno commented on #77856
@sbatten OK. Once I removed it I saw startup duration cut by almost half, so I assumed it was that. Let's wait for da numbas.

[2019-07-29 15:23] mickaelistria commented on #77582
We use this: https://github.com/eclipse/wildwebdeveloper/tree/master/org.eclipse.wildwebdeveloper/language-servers (and the relative path point to a local copy of VSCode) and then `npm install`

[2019-07-29 15:24] joaomoreno commented on #78071
This seems to work fine for TypeScript:

<img width="963" alt="Screenshot 2019-07-29 at 17 23 17" src="https://user-images.githubusercontent.com/22350/62060539-9da6d000-b225-11e9-8220-3ce2794ffd6e.png">

Is this maybe a Python extension issue?

[2019-07-29 15:25] tristan957 commented on #73089
@sean-mcmanus I am pretty sure that this might be the original case insensitivity issue that yours was closed by: https://github.com/microsoft/vscode/issues/12448

[2019-07-29 15:28] chrisdias commented on #77957
ya i am pulling back on this suggestion.

[2019-07-29 15:28] #77957 closed

[2019-07-29 15:30] IcedLife commented on #77952
It didn't happen to other files for me yet. Only C++ so far, Also I am using SFTP extension and , so prior from me opening the file, the SFTP updated the local file from remote. I don't know if that contributes anything.

I tested it again, The search box didn't seems to be the factor, but I do notice that Intellisense is on (fire on bottom left corner) while it is searching.

[2019-07-29 15:35] aeschli commented on #75102
@jrieken The color is currently only defined by the file icon theme (when using fonts) or by the image file.

[2019-07-29 15:40] isidorn commented on #77747
Weird. I can reproduce this.
Assigning to next milestone to investigate

[2019-07-29 15:40] sandy081 commented on #77000
Yes any change on the node should trigger the change event to get updated.

[2019-07-29 15:43] isidorn commented on #77750
Dup of https://github.com/microsoft/vscode/issues/28710

[2019-07-29 15:43] #77750 closed

[2019-07-29 15:45] #76064 closed

[2019-07-29 15:49] jrieken commented on #56694
API has been finalised.

[2019-07-29 15:49] #56694 closed

[2019-07-29 15:57] deepak1556 commented on #77698
Closing in favor of https://github.com/microsoft/vscode/issues/77653

[2019-07-29 15:57] #77698 closed

[2019-07-29 15:58] alexr00 commented on #74995
To verify use Windows and the VS Code project. Add the following task to your tasks.json then try to run it. You should get a nice message telling you what's wrong.
[code]

[2019-07-29 16:00] eamodio commented on #77000
@alexr00 The first place you linked, its the central place GitLens uses to fire that event. So in response to file system or git events, a the repository node will trigger a refresh (https://github.com/eamodio/vscode-gitlens/blob/bf48a26c1dd402803261663e4cf291c4199f5474/src/views/nodes/repositoryNode.ts#L270)

Which causes the tree to call the `getTreeItem` of the node, and then `getChildren`, whi

[2019-07-29 16:08] scole66 commented on #77970
No, it never happened again. It pissed me off for a few days, so I came here to the issues page, and then without me even noticing the point when it changed, things started working again.

"without noticing" means that cut-n-paste is such a normal thing for me that I was just using it before I even realized that the fact it was working was a change. ☹️ Kinda means I don't have much useful info to

[2019-07-29 16:19] sanboxrunner opened #78105 "Control + Alt eats input without doing anything"
- VSCode Version: 1.36.1
- OS Version: Windows 10

Steps to Reproduce:

1. Type CONTROL - ALT
2. "Alt" access keys no longer work and any keyboard combo which uses CONTROL+ALT+* no longer work.

Does this issue occur when all extensions are disabled?: Yes

Asked a friend to repro on a different computer from mine (who knows what system setting could be messing with it) and he succesfully reprod.

[2019-07-29 16:31] alexr00 commented on #77000
I see what you're saying now. I'm looking into it.

[2019-07-29 16:34] lramos15 opened #78106 "Test --list-extensions with --category"
Test for #77220

- [x] Mac @misolori
- [x] Linux @Tyriar
- [x] Windows @egamma

Complexity: 1
1. Make sure you have some extensions installed from various categories
2. Run the CLI with `--list-extensions --category [category here]` and ensure that only the extensions for that category are listed.

Fore example `code-insiders --list-extensions --category themes` should list only theme extensions.

[2019-07-29 16:35] tebeco opened #78107 "Old extension never removed"
Issue Type: <b>Bug</b>

##### Extension
* Uninstalling extensions keeps file on disk
* Update or Auto Update, keeps on version on disk (kinda worse, this is why dotnet core changed to "Upgrade in place")
![image](https://user-images.githubusercontent.com/2266487/62064842-07c37300-b22e-11e9-85a8-37eb80945168.png)

#### Why ?
This is critical when you try to cleanup corrupted file, and it's never de

[2019-07-29 16:37] yury-s commented on #77955
@alexr00 if I run the build script in the terminal, the error is not linkified. Moreover, it will not show up in the problems view either (not sure it is expected to):

![build-from-terminal](https://user-images.githubusercontent.com/9798949/62065721-75e34800-b1e4-11e9-82d0-d6014071eae5.png)

[2019-07-29 16:39] lramos15 opened #78108 "Test new terminal search"
Test for https://github.com/microsoft/vscode/issues/77891

- [x] Mac @chrisdias
- [x] Linux @deepak1556
- [x] Windows @egamma

Complexity: 2

The behavior of search in the terminal has changed so that find previous is the new default behavior and is bound to enter with find next being bound to shift+enter. The search also begins from the very bottom of the buffer instead of the top of the viewport

[2019-07-29 16:41] octref opened #78109 "Newly opened panel is small"
Related:

- https://github.com/microsoft/vscode/issues/77884
- https://github.com/microsoft/vscode/issues/77954

When doing Cmd+Shift+N, panel is much smaller than it used to be:

Insiders:

![image](https://user-images.githubusercontent.com/4033249/62065712-6a901c80-b1e4-11e9-9f17-24f9446088b2.png)

Stable:

![image](https://user-images.githubusercontent.com/4033249/62065718-7380ee00-b1e4-11e9-91

[2019-07-29 16:44] lramos15 commented on #42727
@Tyriar @aeschli  I can no longer reproduce this issue

[2019-07-29 16:49] jascodes opened #78110 "How to make snippet transform from snakecase to camelcase"

[2019-07-29 16:56] rebornix commented on #33101
Close as there is a proposed solution above.

[2019-07-29 16:56] #33101 closed

[2019-07-29 16:59] rebornix commented on #66711
Close as there is no enough information to help troubleshoot. If possible please provide the file which crashes VS Code, or a sample file which can reproduce the same issue.

[2019-07-29 16:59] #66711 closed

[2019-07-29 17:01] fabiospampinato commented on #76753
I can confirm that e4b4c1751d37f8b22b5a3eab20021e3c781fa33e resolved the issue 👍

[2019-07-29 17:07] rebornix commented on #62578
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:07] #62578 closed

[2019-07-29 17:09] rebornix commented on #69256
Sure, close it for now and we can reopen whenever we can.

[2019-07-29 17:09] #69256 closed

[2019-07-29 17:09] rebornix commented on #69709
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:09] #69709 closed

[2019-07-29 17:09] rebornix commented on #69838
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:10] rebornix commented on #47290
/duplicate of #31078.

[2019-07-29 17:10] #47290 closed

[2019-07-29 17:16] rebornix commented on #58940
This is how the multiple cursor works, once you use Replace All Occurrences, then vs code creates cursors for every occurrence, from that moment, every cursor works in their own context.

[2019-07-29 17:16] #58940 closed

[2019-07-29 17:20] #78083 closed

[2019-07-29 17:20] #69838 closed

[2019-07-29 17:21] rebornix commented on #70538
As noted above, it no longer reproduces after update.

[2019-07-29 17:21] #70538 closed

[2019-07-29 17:21] rebornix commented on #71770
Close it for now and we can reopen once we have more data to troubleshoot.

[2019-07-29 17:21] #71770 closed

[2019-07-29 17:23] rebornix commented on #73023
I still fail to reproduce this issue.

I'm wondering if you are using Vim extension as we don't have Insert mode in vanilla VS Code.

Close it for now and we can reopen once we have more info.

[2019-07-29 17:23] #73023 closed

[2019-07-29 17:24] rebornix commented on #72741
Could you help confirm if you can reproduce once you set `editor.accessibilitySupport` to `off`?

[2019-07-29 17:25] rebornix commented on #72466
/duplicate

we don't support it at this moment.

[2019-07-29 17:25] #72466 closed

[2019-07-29 17:25] nojvek opened #78112 ""Merge All Windows" command no longer works on Mac OSX after update"
- VSCode Version: Version 1.36.1 (1.36.1)
- OS Version: Mac Sierra 10.12.6

Steps to Reproduce:

1. code somefolder
2. code someotherfolder
3. cmd+p and run "merge all windows".

Windows don't merge.

Does this issue occur when all extensions are disabled?: Yes/No

Yes

--

I can manually drag the two windows to merge them, but the my keyboard shortcut cmd+k+m is broken since the command doesn't w

[2019-07-29 17:26] kobenauf commented on #77898
Another thing I see that might be relevant, in Process Explorer within VSC, I see this error:
WSL: Ubuntu
Fetching remote diagnostics for 'WSL: Ubuntu' failed: your 131072x1 screen size is bogus. expect trouble your 131072x1 screen size is bogus. expect trouble

[2019-07-29 17:26] rebornix commented on #73393
I have also tried working with my files from the network drive with v1.34 and at first i thought it was all ok, but after a few saves the issue returned.

@mjbvz do you ever see similar issue before with network drive?

[2019-07-29 17:28] rebornix commented on #73819
I'll suggest follow https://github.com/microsoft/vscode/wiki/Performance-Issues  to provide information to help troubleshoot when you can reproduce this issue. There is no hint from the `status` or log when the editor is running smoothly. Thanks!

Close it for now and reopen when we have more data.

[2019-07-29 17:28] #73819 closed

[2019-07-29 17:34] rebornix commented on #77817
cc @deepak1556 as it only occurs from 1.36

[2019-07-29 17:34] rebornix commented on #77832
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:34] #77832 closed

[2019-07-29 17:34] rebornix commented on #77906
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:34] #77906 closed

[2019-07-29 17:35] rebornix commented on #77716
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:35] #77716 closed

[2019-07-29 17:36] rebornix commented on #77606
@JiZimo could you please provide the data to help troubleshoot? Like the file and query you are searching.

[2019-07-29 17:36] rebornix commented on #77544
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:36] #77544 closed

[2019-07-29 17:37] rebornix commented on #76539
@vintzl what I mean is does it happen every time when you press delete button?

[2019-07-29 17:38] rebornix commented on #77970
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:38] #77970 closed

[2019-07-29 17:41] rebornix commented on #77939
@hulapluto you can try setting `"keyboard.dispatch": "keyCode"` to workaround this issue.

[2019-07-29 17:41] rebornix commented on #77742
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:41] #77742 closed

[2019-07-29 17:41] rebornix commented on #77770
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:41] #77770 closed

[2019-07-29 17:44] misolori opened #78113 "Test new product icons"
Test for https://github.com/microsoft/vscode/issues/8017

- [x] Windows @rebornix
- [x] macOS @chrisdias
- [x] Linux @joaomoreno

Complexity: 2

**Overview**
We've updated all of our product icons to use our new outline style:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/35271042/62069541-60bee700-b1ed-11e9-8359-c6b8d13a0412.png">

Please go through each area of the

[2019-07-29 17:44] rebornix commented on #77952
@IcedLife do you have any C++ extension installed? If so, could you please disable it and then try to reproduce this issue? The find widget should not interfere the colorization of the code.

[2019-07-29 17:51] misolori opened #78115 "Test button toggle state"
Test for https://github.com/microsoft/vscode/issues/36439

- [x] anyOS @bowdenk7
- [x] anyOS @sana-ajani

Complexity: 1

**Overview**
We've introduced a new color token, `inputOption.activeBackground`, that allows you to style the button toggle state and have added this to our button toggles. Verify that you can style this via `workbench.colorCustomizations` and that the button state is updated wh

[2019-07-29 17:54] rebornix commented on #77991
Thanks for the info!

/duplicate of https://github.com/microsoft/vscode/issues/1727

[2019-07-29 17:54] #77991 closed

[2019-07-29 17:58] rebornix commented on #77830
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 17:58] #77830 closed

[2019-07-29 17:59] cnamal-msft commented on #77696
I'm not entirely sure what you meant by _"use ctrl+click user gesture"_ @sandy081. If you meant mimicking the behavior of the [go to definition](https://github.com/microsoft/vscode/blob/118e3517522060ec45ccbba606ec908cffd175a3/src/vs/editor/contrib/goToDefinition/goToDefinitionMouse.ts#L294) when doing `ctrl+alt+click` on a symbol, that's what I tried to do in my PR #78114. Let me know if you mean

[2019-07-29 18:00] rebornix commented on #76484
/duplicate of https://github.com/microsoft/vscode/issues/74625

[2019-07-29 18:01] #76484 closed

[2019-07-29 18:01] kylrth commented on #77303
Can reproduce on 3802a986823977ec472fc993854e1a753037fc8f

[2019-07-29 18:08] rebornix commented on #73928
Close as lack of enough information to help troubleshoot. We can reopen whenever we have good reproduce steps.

[2019-07-29 18:08] #73928 closed

[2019-07-29 18:20] suit0r commented on #77948
Really small. Thing is I am saving them as html snippets to paste into an LMS later, so the files are not fully structured documents (no head, body tags or doctype)

[2019-07-29 18:26] rebornix commented on #77622
I removed the code base as currently on Linux and Windows, the error is almost everywhere. Chromium already fixed it so we can have this turned on once they ship.

[2019-07-29 18:26] #77622 closed

[2019-07-29 18:28] #67742 closed

[2019-07-29 18:28] roblourens commented on #77650
Thanks. The profile shows this function taking an extremely long time: https://github.com/microsoft/vscode/blob/285b680dc1dea713d57edf78dcc0872d4b79191e/src/vs/base/common/strings.ts#L595

Is there any way you can share the repo?

Was this just a text search for `orderBy(` or was it a regex search?

[2019-07-29 18:28] fantaclaus opened #78116 "Find In Files: 'Match Whole Word' doesn't work with Russian text"
Issue Type: <b>Bug</b>

1. open folder with files
2. open Find In Files panel
3. enter any Russian word or a few letters to search, check "Match Whole Word" option on and press ENTER

_What I see:_
A list is filled with lines. The search text is highlighted regardless of being a whole word or a part of a word.

_What I expect to see:_
A list that is filled with only lines where the searched text i

[2019-07-29 18:33] #77416 closed

[2019-07-29 18:34] shungo27 commented on #67913
Not yet fixed in 1.36.1
![terminal](https://user-images.githubusercontent.com/7065076/62072965-b4c3dd00-b27a-11e9-9c27-a53931aedb18.png)

[2019-07-29 18:37] simplyandyg commented on #77650
I can't share the repo, unfortunately. This was just a text search.

[2019-07-29 18:50] kylrth commented on #78012
The dimming behavior and this character elision bug appear to have been removed at or before 3802a986823977ec472fc993854e1a753037fc8f. If no one disagrees in the next few days I'll close this.

[2019-07-29 18:51] #42727 closed

[2019-07-29 18:55] Tyriar commented on #77955
Oh I thought it was related to problem matchers.

The terminal resolves links against the terminal cwd which is `/home/yurys/WebKit`, the build-webkit script is printing errors relative to the script's location, not the cwd of the terminal. The terminal is checking if `/home/yurys/WebKit/../../Source/..` exist and it doesn't. This is working as intended.

[2019-07-29 18:55] #77955 closed

[2019-07-29 18:55] Tyriar commented on #78025
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2019-07-29 18:55] #78025 closed

[2019-07-29 19:12] eLTomis opened #78117 "Quick Fix suggestions for whole line"
Currently, pressing *Quick Fix* shortcut (default *ctrl + .*) shows suggestions only for errors under the caret. Though, pressing *light bulb* in front of the line shows suggestions for the whole line (so the functionality is already there).

In Visual Studio Community, pressing *Quick Fix* shortcut shows suggestions for whole line, so I think this would be pretty handy-dandy feature for Visual St

[2019-07-29 19:21] #77773 closed

[2019-07-29 19:33] octref commented on #77948
![gif](https://user-images.githubusercontent.com/4033249/62076642-0af23b00-b1fd-11e9-98a4-3c1df8d8a7b7.gif)

I can't really repro. Anything you are doing different?

[2019-07-29 19:43] NickCageNick commented on #75774
I can't run tasks in 1.36.1 Manjaro/Arch Linux
I downgraded to 1.30.2 and everything goes fine
This is the task:

[code]

[2019-07-29 19:45] suit0r commented on #77948
It mostly broke when wrapping with a tags and adding attributes.

I will try to record when I start working on these again, but is there a stack trace or something I can generate?

[2019-07-29 19:53] hulapluto commented on #77939
Could you elaborate on this? I am not sure where I am supposed to set this... I tried to search on your answer but I am not using linux.

[2019-07-29 20:01] hulapluto commented on #77939
I did try adding to the settings.json file, restarted, but no change.

The key bindings field showed this:
code: , keyCode: 172, key: BrowserHome => UI: unknown, user settings: unknown, dispatch: null

[2019-07-29 20:02] alexandrudima commented on #78012
These changes were done for #37315 . I have removed the dimming in the meantime. But, there is still a difference:

**VS Code will now overtype `)` only if the specific `)` was automatically inserted by the editor, it will not overtype other `)` characters ...** The same is true for all other auto-closing character pairs...

@kylrth Please try it out and let me know if this is disturbing. I can ad

[2019-07-29 20:02] #78012 closed

[2019-07-29 20:10] alexandrudima opened #78118 "Test new overtyping in auto closing pairs"
Test plan for #37315

- [x] macOS @misolori
- [x] anyOS @sana-ajani

Complexity: 3

The editor has a feature where typing `(` will result in `(|)`, where `|` is the cursor. In order to avoid the double `)` (in case the user would type `)`), the editor would always overtype closing characters in auto closing pairs. So that means that anywhere in the file before a `)`, if you were to type `)`, it wo

[2019-07-29 20:26] bruceoberg commented on #76428
@isidorn, this is a classic case of why it is a very bad idea to rename things in passive environments (where misnamed items fail silently). you believe it was mentioned in the release notes. this is simply not good enough for a widely used product. the thing is, when my shortcut stopped working, _i did not know why_. to find out why, i had to troubleshoot it, ask for help, waste others time, and

[2019-07-29 20:27] IcedLife commented on #77952
you right the findBox is not the factor.  I got this again when I have a lot of (15+) c++ files opened 4 of them with 1000+ lines.  So far, I don't have a reliable way to reproduce it. sorry.

[2019-07-29 20:28] IcedLife commented on #77952
If you are fine, I can close the issues, it seems it mostly just slow to parses and hangs.

[2019-07-29 20:30] Nokel81 opened #78119 "Cursor incorrect over code"
- VSCode Version: 1.36.1
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. Have a file open (noticing that the cursor is the `I` meaning edit)
2. Right click
3. Click away from the RC menu
4. Notice that the cursor is currently still on arrow mode. Even though it is over editable lines

[2019-07-29 20:35] matter123 commented on #77952
@IcedLife does the issue still exist if you disable the setting `C_Cpp: Enhanced Colorization`?

[2019-07-29 20:36] letmaik opened #78120 "Clickable links in terminal do not ignore trailing dot"
VS Code version: Code - Insiders 1.37.0-insider (3802a986823977ec472fc993854e1a753037fc8f, 2019-07-29T05:30:35.768Z)
OS version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Run this in the terminal: `echo For performance reasons, you should bundle your extension: https://aka.ms/vscode-bundle-extension.`
2. Click the link and notice that the trailing dot is kept in the URL.

Does this issue

[2019-07-29 20:55] drk-mtr opened #78121 "Allow custom arguments to be passed to the integrated terminal when starting a debugging session"
## Suggestion

Allow custom arguments to be passed to the integrated terminal when starting a debugging session.

My use case is WSL specific - this would allow me to run a WSL shell in the VS Code integrated terminal and send debugging output to it - but still run the program from Windows. There may of course be other scenarios where this could come in useful.

## Use case

I'm debugging a dotnet

[2019-07-29 21:03] Tyriar commented on #78057
There are terminal-specific commands to resize it:
![image](https://user-images.githubusercontent.com/2193314/62082438-9f629a80-b209-11e9-9f21-b7ae6d0c1b73.png)

[2019-07-29 21:03] #78057 closed

[2019-07-29 21:07] IcedLife commented on #77952
I disabled it, but that may take a while to find out, I don't have a good way to reproduce it.

[2019-07-29 21:12] Tyriar opened #78122 "Test variable resolution in terminal settings"
Test for #65817, #77703

- [x] Mac @gregvanl
- [x] Linux @kieferrm
- [x] Windows @sana-ajani

Authors: @lramos15 @Tyriar

Complexity: 2

You can now resolve [variables](https://code.visualstudio.com/docs/editor/variables-reference) in the following settings:

[code]

For example:

[code]

Make sure this is working as expected.

[2019-07-29 21:16] deepak1556 commented on #77188
@jstoppa how is the behavior when you launch code with `--disable-gpu` ?

[2019-07-29 21:18] Tyriar opened #78123 "Test "Extension Terminal" proposed API"
Test for #70978

- [x] Mac @lramos15
- [x] Linux @aeschli
- [x] Windows @alexr00

Complexity: 5

The `TerminalRenderer` API has been deprecated in favor of the new extension terminal/pseudoterminal API. The new API allows an extension to be the backend for a terminal instead of a process. Search vscode.proposed.d.ts for `ExtensionTerminalOptions` for full details and examples.

To test, create an

[2019-07-29 21:18] martijnhoekstra opened #78124 "Form Feed isn't rendered on a new line in editor"
Issue Type: <b>Bug</b>

Open a file containing a form feed character. The character isn't rendered.

Expected: Rendered as one or two new lines.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x

[2019-07-29 21:20] #77665 closed

[2019-07-29 21:25] Tyriar commented on #76050
To verify test with JAWS 2019 under Windows. ctrl+up/ctrl+down enters line navigation mode and escape exits. JAWS is going to add special rules for this, it may not be done yet but you can create the following file to fix the keybindings.

`C:\Users\<user>\AppData\Roaming\Freedom Scientific\JAWS\2019\Settings\enu\defaults.jkm`:

[code]

Note that accessibility must be enabled to test this, you can

[2019-07-29 21:26] Tyriar commented on #76413
To verify just do a quick test that it seems to be working as expected on any platform, a more thorough test was done in the June milestone.

[2019-07-29 21:26] octref opened #78125 "Link preview / protection in workbench"
With Markdown support in HTML/CSS extensions, users would see links going to external websites such as https://developer.mozilla.org/en-US/ and https://www.w3.org/. When displaying these links, we need to protect users as we don't control the linked websites.

Previous proposal. After you click link:

![image](https://user-images.githubusercontent.com/4033249/62081519-ab4d5d00-b207-11e9-9d79-cc93d

[2019-07-29 21:27] octref commented on #78125
/cc @aeschli Since you didn't like the notification either.

[2019-07-29 21:30] jacobweber commented on #77665
Wait, please don't close me! I sent the logs by email.

[2019-07-29 21:57] drk-mtr commented on #78121
Closing as I found this, seems like the right approach: https://code.visualstudio.com/docs/remote/wsl

[2019-07-29 21:57] #78121 closed

[2019-07-29 21:57] octref commented on #77948
Yes, if it crashed, you can give me everything you see in Help -> Toggle Developer Tools. Thanks!

[2019-07-29 21:59] octref commented on #71996
Duplicate of #70371. Try tomorrow's [Insiders](https://code.visualstudio.com/insiders/) which should have the fix.

[2019-07-29 22:12] thkrishn opened #78126 "Remote SSH to the machine fails"
- VSCode Version: 1.36.1
- OS Version: W10 1603

Steps to Reproduce:
Using remote ssh -- I receive this error when I try to connect to a machine, I am able to connect to the machine from cmd terminal or using vs code , but fails to connect from code-insiders

[code]

[2019-07-29 22:12] BryanHunt opened #78127 "Breakpoints are not working under macOS Catalina"
- VSCode Version: 1.36.1
- OS Version: macOS 10.15 Beta (19A512f)

Steps to Reproduce:

1. Create hello.js
2. Set breakpoint on first line
3. Launch under debugger

Does this issue occur when all extensions are disabled?: Yes

hello.js:
[code]

launch.json:
[code]

[2019-07-29 22:17] Tyriar opened #78128 "Focus goes back to the editor when using find all references"
Opening and navigating find all references toggles several GHPR comments and sends focus to the editor (breaking my flow to navigate references).

[2019-07-29 22:21] #76802 closed

[2019-07-29 22:28] #77703 closed

[2019-07-29 22:31] yury-s commented on #77955
I see, than you, changing the task config to the following fixed the issue:
[code]

It is very confusing though that the terminal uses `problemMatcher` definition but overrides `problemMatcher.fileLocation` with `options.cwd`. I expected that `problemMatcher` definition would be self-contained and not depend on the view where it is used.

[2019-07-29 22:32] Tyriar commented on #77703
The fix that went in just now might not have been the fix to your issue @methodbox, my guess is you're on an old version of git bash that doesn't respect the cwd we give it. I'm interesting in getting to the bottom of your issue though.

[2019-07-29 22:40] garyericson opened #78129 ""Your First Extension" fails with PowerShell profile"
- VSCode Version: 1.36.1 (user setup)
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Configure PowerShell as the default shell.
2. Step through [Your First Extension](https://code.visualstudio.com/api/get-started/your-first-extension) up to "Then, inside the editor, press F5...".
3. Press F5 - a message is displayed, "The terminal process terminated with exit code: 1", but everyt

[2019-07-29 22:49] sbatten commented on #78109
Issue is believed to be fixed, if you are restoring from a previously serialized grid with a small panel, just resize it and it should go away. Re-open if you see it any other case.

[2019-07-29 22:49] #78109 closed

[2019-07-29 22:52] AleksandrHovhannisyan commented on #72263
I pulled the latest master with c94b270 and am still getting `.build/electron/code-oss: error while loading shared libraries: libgtk-3.so.0: cannot open shared object file: No such file or directory` when running `./scripts/code.sh`. I'm using Ubuntu WSL on a 64-bit Windows host.

[2019-07-29 22:58] octref commented on #70371
Verifier: Test that emmet works as expected in various embedded languages in HTML, such as css/js (suggestion in css, no suggestion in js).

Test in large documents, such as the source of https://microsoft.github.io/language-server-protocol/specification, emmet completion is reasonably fast (compare with stable).

[2019-07-29 23:02] IcedLife commented on #77952
No it still happens. So my set up is I uses a linux remote box and local vscode to have a SFTP to transfer remote file over automatically. Whenever I switch branches, the SFTP extension will update the files. But recently, I am experiencing that when I open new files after switch branches, the syntax color is just not working.  I have to change language mode to re trigger for some reason.

[2019-07-29 23:09] #78088 closed

[2019-07-29 23:10] chrisdias commented on #41368
based on feedback, I have reverted the change to remove the "important" [SQL Server](https://marketplace.visualstudio.com/items?itemName=ms-mssql.mssql) recommendation for for `.sql` files.

with my previous fix, we will still "passively" recommend [vscode-database](https://marketplace.visualstudio.com/items?itemName=bajdzis.vscode-database) and [SQL Tools](https://marketplace.visualstudio.com/ite

[2019-07-29 23:13] #41368 closed

[2019-07-29 23:18] chan-dev commented on #40239
@lonix1 may i know how do you do different config for every vscode shortcut?

[2019-07-29 23:19] kylrth commented on #78012
I'll have to change my habit of using the closing character as a way to move to the end of the line. :) All good.

[2019-07-29 23:22] roblourens opened #78131 "July 2019 Endgame"
- **7/29** Code freeze for the endgame
- **8/2** [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- **8/7** Expected release date (this may change)

##### Monday
- [x] Run [OSS tool](https://github.com/Microsoft/vscode-distro/blob/master/distro-tools/README.md) **endgame master**
  - *The LCA review of the ThirdPartyNotices.txt files is not needed an

[2019-07-29 23:24] AleksandrHovhannisyan commented on #72263
I tried building again with the latest master (including c94b270) but still got the same error: `error while loading shared libraries: libgtk-3.so.0: cannot open shared object file: No such file or directory`. I'm using Ubuntu WSL on a 64-bit Windows, if that info makes any difference.

[2019-07-29 23:25] methodbox commented on #77703
I’ll have to try it out at work tomorrow. Fortunately I’m on a Mac at home.

Unfortunately I use Windows at work ;)

[2019-07-29 23:38] chrisdias commented on #77979
i'm hesitant to add `vscode-clangd` to the list of recommendations because of this comment in the `readme`:

[2019-07-29 23:42] chrisdias commented on #77979
Related, https://github.com/microsoft/vscode/issues/41368 has conflicting "important" suggestions - we can't tell the difference between mysql and sql server based on the `.sql` file extension.  In that case, I added some recommendations (passive) for extensions that work with mysql to try to strike a balance.  I could do the same here, add `vscode-clangd` but that doesn't address the conflicts be

[2019-07-29 23:43] Js-Brecht opened #78132 "Powershell integrated terminal PSReadline keyboard commands"
There seems to be some issue with the integrated powershell reading certain control keys; for example, I use CTRL+BACKSPACE frequently to erase the last word (`backward-kill-word` in bash readline).  It works fine in my system powershell, but in vscode integrated terminal, it just prints the control key to output:

[code]

It's been like this since I started using vscode more than a year ago, but

[2019-07-29 23:44] rebornix opened #78133 "Test preserve case for Find and Replace"
Test for https://github.com/microsoft/vscode/pull/60311

- [x] Windows -> Linux (SSH) @Tyriar
- [x] macOS @misolori

Complexity: 2

You can now preserve case when doing replacement in the editor (Find Widget). Right now we only support there patterns

* UPPERCASE
* lowercase
* Titlecase

[2019-07-29 23:47] rebornix commented on #74614
/duplicate of https://github.com/microsoft/vscode/issues/7772

[2019-07-29 23:47] #74614 closed

[2019-07-29 23:51] rebornix commented on #74131
/duplicate of https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aissue+is%3Aopen+find+results+limit we do have a limit of find/word results highlight.

[2019-07-29 23:51] #74131 closed

[2019-07-29 23:51] rebornix commented on #73291
somehow ended in my inbox but being ignored.

[2019-07-29 23:54] rebornix commented on #72666
Does it work when you run `code-insiders --max-memory 8000` or any large number from the command line ?

[2019-07-29 23:54] jmillikin-stripe opened #78134 "Add a user setting to disable loading of workspace settings"
Workspace settings override user settings, which can cause a fairly unpleasant experience if the repository owner's preferences for VSCode behavior are significantly different from the current users'. I would like a way to configure my VSCode installation such that it will obey my own user configuration, but will not load `${WORKSPACE}/.vscode/settings.json`.

[2019-07-29 23:55] #71916 closed

[2019-07-29 23:58] rebornix commented on #73619
We fail to reveal the find result when it's being covered by the find widget.

[2019-07-29 23:58] #73619 closed

[2019-07-30 00:00] #75992 closed

[2019-07-30 00:03] rebornix commented on #74728
/duplicate of #7772

[2019-07-30 00:03] #74728 closed

[2019-07-30 00:13] JiZimo commented on #77606
File:Top 100 million pi
search:341124

[2019-07-30 00:47] johnpapa opened #78135 "inspect API is not working on workbench.colorCustomizations 's sub properties"
RE: VS Code API for inspect from this page https://code.visualstudio.com/api/references/vscode-api

How can the inspect API operate on a 4 part setting like workbench.colorCustomizations.panel.background ?

![image](https://user-images.githubusercontent.com/1202528/62091989-8544ae80-b241-11e9-8d55-f771a0e2438c.png)

When *global user settings.json* has the following 👇

[code]

TypeScript code
[cod

[2019-07-30 01:12] VitalyAnkh commented on #77936
@aeschli Great work, thank you!

[2019-07-30 01:14] #77922 closed

[2019-07-30 01:25] deryb opened #78136 "wsl.exe as default terminal crashes"
Issue Type: <b>Bug</b>

`The terminal process command 'C:\WINDOWS\System32\wsl.exe -l' failed to launch (exit code: 4294967295)`

To reproduce:
- I've installed ubuntu & WSL. A bit cryptic / messy when many other tools installed before (cygwin, git bash etc)
- in VSC, set wsl.exe as default terminal
- open terminal window

details:
wsl.exe > details > file version:   10.0.17763.615

Feel free to a

[2019-07-30 01:26] sbatten commented on #77922
@joaomoreno right now panel position is a workspace specific item while the grid is global, we need to throw out the grids POV if it doesn't work with what's stored. Now I am doing that with the last commit but ideally I'd be able to move the panel and sidebar into the right place before layout. Is that possible?

[2019-07-30 01:52] sbatten opened #78137 "Test: Workbench Grid Layout"
The grid layout is currently enabled by default on insiders. Please test the layout comparing with the old layout in stable.

- [x] macOS @jrieken
- [x] Windows @alexr00
Authors: @sbatten, @joaomoreno

After enabling, try...

* Various layout commands. e.g. Toggle sidebar position, toggle status bar, zen mode, centered layout...
* Resizing parts with the sashes.
* Closing and re-opening code.
* Us

[2019-07-30 01:59] zhouhua852 commented on #78085
I found that we can use `tee` to save the log file. thx.

[2019-07-30 01:59] #78085 closed

[2019-07-30 02:05] michaelwestbrook commented on #77838
`{
  // See https://go.microsoft.com/fwlink/?LinkId=733558
  // for the documentation about the tasks.json format
  "version": "2.0.0",
  "tasks": [
    {
      "type": "npm",
      "script": "build-deploy",
      "problemMatcher": [],
      "group": {
        "kind": "build",
        "isDefault": true
      }
    }
  ]
}`

[2019-07-30 02:14] wilk-polarny opened #78138 "VSCode freezes/crashes Windows 10 1809"
Hi, we are experiencing weird behaviour with VSCode and Win10 at the office.
My co-worker and I both have the same machines with Windows 10 1809 installed and noticed that VSCode will eventually soft freeze the whole operating system.

Once the system is frozen (by reproducing using the steps), all windows except for Google chrome and chromium based applications (Google Chrome, Slack, VSCode) are

[2019-07-30 02:25] zcp5935 opened #78139 "utf-8下“交易页面”识别为Window 1252"
Issue Type: <b>Bug</b>

确切地说，不知道算不算是bug。
utf-8下保存的“交易页面”这4个字，被vsCode的autoGuessEncoding猜测为Window 1252编码。
其他情况：
1.后面有其他字符时会被识别为utf-8字符集
2.前面为数字时识别为Window 1252，前面为中文时被识别为utf-8

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5

[2019-07-30 02:47] xianghongai commented on #78065
Like keymaps and Color Theme,
Extensions can support multiple different environments, such as web development, java development, .md document editing...,
different environments, different extensions;

[2019-07-30 03:05] parsh78 opened #78140 "Raw string with backslash should not highlight letters following \"
Issue Type: <b>Bug</b>

A raw string like below, is highlighting h and w and p and r.

file_name = r'C:\hello\world\python_scripts\results\{0}_auto_test_results.log'

It should not.

Thank you.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

Extension|Author (truncated)|Version
---|---|---
pgformatter|bra|1.6

[2019-07-30 03:18] mattkerrison commented on #70764
VScode remote for SSH as an app rather than try and use a web ide would be a massive improvement, I can't find a single ios app that's nearly as code as VScode would be.

[2019-07-30 03:26] james-schend-iii opened #78141 "Font rendering on Windows uses wrong DPI(?)"
- VSCode Version: 1.36.1
- OS Version: Windows 10

Steps to Reproduce:

1. In Settings, change the font size to 14
2. Compare font rendered in VS Code to font rendered in a known-good application like Microsoft Word (see attached image)

Does this issue occur when all extensions are disabled?: Yes

Comments:

If you set font size 14 in settings, VS Code ends up rendering a font that looks similar

[2019-07-30 03:39] beizhedenglong commented on #16320
@suyi91 try remove `target` config,  that should work

[2019-07-30 04:03] unihon commented on #78057
This is not what I want to express.
Look at the picture below.

![show](https://user-images.githubusercontent.com/42078581/62099843-f4fa7e00-b2c1-11e9-86e0-c842ff70aeae.png)

[2019-07-30 04:25] unihon commented on #78057
This is not what I want to express.
Look at the picture below.

![show](https://user-images.githubusercontent.com/42078581/62100512-95ea3880-b2c4-11e9-9524-93be87344767.png)

Can achieve this purpose by `workbench.action.increaseViewSize` and `workbench.action.decreaseViewSize`, but that just can adjust the size of  **current view editor**.
And when focus on termianl, It will can't adjust the size

[2019-07-30 05:41] sandy081 commented on #78065
I see are you talking about extension profiles?

[2019-07-30 05:52] dineshsm opened #78142 "Collapse folder from anywhere inside the Folder"
let's say am inside a folder and that has 100+ files and when I need to navigate to another folder I Should use the scroll bar (Which is not convenient) or scroll all the way to the top.

When right Clicked **Collapse Parent Folder** option will be more helpful

[2019-07-30 05:57] joaomoreno commented on #77922
Ohh I hadn't realised that. Sucks. Well, you have to restore the grid and then run through the `Move Panel to the Right` action inner workings.

[2019-07-30 06:01] dhananjay1405 commented on #74995
@alexr00 which build / version of VS Code (stable release) this fix will be rolled-out ?

[2019-07-30 06:15] aeschli commented on #72263
@AleksandrHovhannisyan `
- `error while loading shared libraries:`: That looks like an (unrelated) problem with your [prerequisites](https://github.com/microsoft/vscode/wiki/How-to-Contribute#prerequisites)
- errors in terminal.tests: seems to be fixed in master

The problem this issue was about were the error messages that got emmited while the code tries to run Code in Windows through the [Remot

[2019-07-30 06:16] freman commented on #12185
Eg:

Search: ```\s+private final (\w+) (\w+);```
Replace ```\t\u$2 \l$1 `json:"$2"` ```

Use case: Converting structures to go

[2019-07-30 06:28] dhananjay1405 opened #78143 "Typescript: unused variable false warning and incorrect Quick Fix option"
- VSCode Version: 1.36.1
- OS Version: Windows 10 (x64)

tsconfig.json
"noUnusedLocals": true

Declaring multiple variables in typescript in a single let statement, produces a warning that variable is declared but never used. Now even after writing line further lines where variable is used, still the error persists.
![ts-unused-variable-warning](https://user-images.githubusercontent.com/43024754/6

[2019-07-30 06:32] sanderma opened #78144 "change the open Recent shortcut to not trigger when in terminal."
When you press `ctrl-r` the open recent window opens. For people who use the reverse search functionality in terminals (bash, powershell etc) this is really annoying.

It is easily solved by changing the when clause to `!terminalFocus`
Is it a good idea to set this as default?

[2019-07-30 06:34] andibakti commented on #76642
I have the same issue in Java with vanilla vscode with no extensions

[2019-07-30 06:43] joaomoreno commented on #78080
Is this maybe an issue with a specific extension?

[2019-07-30 06:44] #78086 closed

[2019-07-30 06:44] joaomoreno commented on #78090
Can you be more specific? What folder are you exactly trying to delete?

[2019-07-30 06:46] whlkw commented on #78073
@isidorn Could you help on this issue?

[2019-07-30 06:50] joaomoreno commented on #78099
Does _does nothing_ mean it never returns... or it returns immediately? If you add `--verbose`, is there an error?

[2019-07-30 06:52] joaomoreno commented on #78103
Can you test Insiders?

[2019-07-30 06:56] joaomoreno commented on #78112
This seems to work for me on Insiders, can you try?

[2019-07-30 06:57] hassanbinsafdar commented on #70371
@octref Yes in css its working completely fine but in html large file not working same issue as i showed you if you want i can make gif , vs code version and will show you issue. Thanks

[2019-07-30 06:58] joaomoreno commented on #78119
This seems to be Electron specific. I can't repro on Chrome.

[2019-07-30 07:05] alarco-l commented on #78107
Same here:

<img width="1481" alt="Screenshot 2019-07-30 at 08 59 18" src="https://user-images.githubusercontent.com/7009064/62107882-e5bb0680-b2a8-11e9-91dd-670358c30153.png">

VS Code version: 1.31.1
OS Version: macOS Mojave V10.14.6

[2019-07-30 07:08] joaomoreno commented on #78139
@octref @rebornix Some translation help here, please.

[2019-07-30 07:09] joaomoreno commented on #78142
You can press <kbd>Left Arrow</kbd> twice. Does that help?

[2019-07-30 07:11] joaomoreno commented on #77949
The last interesting message I see is

[code]

Please wait until the download is fully downloaded. Then, apply the update by running the `Restart Now to Update` action. I want the full log of that.

[2019-07-30 07:12] joaomoreno commented on #78016
I'm not convinced about this. What would the feature look like?

[2019-07-30 07:14] joaomoreno commented on #77065
The same argument posed by @prasadaps can pretty much be applied to any contributed command:

- Variable `foo` has been extracted
- Azure Storage Account has been created
- etc.

Though I'm not entirely convinced this will be a good thing.

[2019-07-30 07:14] joaomoreno commented on #77276
Any chance you can send me the file?

[2019-07-30 07:15] hassanbinsafdar commented on #70371
Here is my gif vs code version 1.36.1 My html file has 4992 lines of code.
![vscode](https://user-images.githubusercontent.com/13061479/62108465-8b7b6f00-b2c3-11e9-9325-cca68e398640.gif)

[2019-07-30 07:17] atul-bajpai opened #78145 "Searching and folder view in git source control"
It would be really great if there is a feature to search a file name in the git source control. Also, i will be good to have option to group the file in the folder view similar to code explorer.

[2019-07-30 07:19] inwardmovement opened #78146 "Inconsistant workbench.action.openSnippets"
- VSCode Version: `1.36.1`
- OS Version: `Windows 10`

Snippets list opened with `workbench.action.openSnippets` does not always show all snippets. Sometimes only folder snippets are shown, not global ones. When I restart VSCode all snippets are back in the list. I couldn't figure out what causes this fluctuation.

Steps to Reproduce:
1. launch command `workbench.action.openSnippets`

Does this is

[2019-07-30 07:21] aeschli commented on #77566
This happened only when the opened instance was the first window opened.

[2019-07-30 07:25] sandy081 opened #78147 "Configure task action should reveal the newly added task and position the cursor there"
Testing https://github.com/microsoft/vscode/issues/78102

At the following step

tasks.json file is opened and task is added. But it did not reveal the added task and I was wondering where and what task got added.

It would be good if the newly added task is revealed and the cursor is positioned there

[2019-07-30 07:26] lucaros97 commented on #77949
Ok sorry, missed that. Here you have the full log. After i click "restart to updated" then, it simply quit without restaring anymore

[code]

[2019-07-30 07:26] alexandrudima commented on #74537
I think that is some VoiceOver feature. On my machine, I see the rectangle around the entire window:

![image](https://user-images.githubusercontent.com/5047891/62109233-26684f00-b2ac-11e9-8c71-f37c365788a2.png)

[2019-07-30 07:29] alexandrudima commented on #72851
@ryenus @KillyMXI @ablakey

The indentation detection uses a heuristic where it counts spaces and tries to guess what the intent was. If you find that the detection code guesses wrong, then please create an issue with the file that is guessed wrong, or a similar file where you have replaced the code with `x`, in fact only the first letter of each line is relevant (to figure out how many leading sp

[2019-07-30 07:31] aeschli commented on #77055
@tinebp Can you confirm that things work again?

[2019-07-30 07:37] jrieken commented on #78125
For external links, can’t we copy what websites like wikipedia do and add an ‘external’ icon to the text. Like so:

<img width="554" alt="Screenshot 2019-07-30 at 09 32 36" src="https://user-images.githubusercontent.com/1794099/62109789-56fcb880-b2ad-11e9-8c2d-42c5e3af0029.png">

Strong disagree. I think that would ruin the command link experience. Also, I don't understand how command links (which

[2019-07-30 07:39] jrieken commented on #78084
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-07-30 07:39] RyanLai8989 opened #78148 "Setup language"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2019-07-30 07:40] jrieken commented on #78110
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-07-30 07:40] alexandrudima commented on #74599
@zhangkaiyulw

This is unfortunately some funny Electron behaviour. Input boxes (`<input>`) such as the one used as input in the search panel actually do not have a `cmd+c`, `cmd+v`, `cmd+x` default action, so those inputs are piggy-backing on the fact that we have a menu entry for copy/paste/cut, which ends up triggering the default behaviour. You can see that the Edit menu is flashing when you p

[2019-07-30 07:40] #74599 closed

[2019-07-30 07:40] Erquint commented on #77018
These issues and their duplicates keep getting closed but not fixed.
Is this some new issue tracking paradigm like inbox-zero for mail?

[2019-07-30 07:41] sandy081 commented on #78107
@tebeco @alarco-l We remove old extensions on restart of VS Code. Can you please restart and check if they are gone?

[2019-07-30 07:43] alexandrudima commented on #74521
@Tony-Truand Have you tried disabling all extensions?

Keybindings come from multiple sources:
- core keybindings
- built-in extensions
- user installed extensions
- user keybindings

If you have verified that the user keybindings are not touching `ctrl+p`, it would be good to also search for "ctrl+p" in the keybindings editor (ctrl+k ctrl+s) and check that no extension is binding it. You can also

[2019-07-30 07:46] joaomoreno opened #78149 "Icons: Running Extensions arrow/circle icons look thicc"
Testing #78113

Notice the play and record icons in the screenshot:

![image](https://user-images.githubusercontent.com/22350/62110382-911a8a00-b2ae-11e9-8301-8a3f86b02b3c.png)

They look thicc, not in a good way!

[2019-07-30 07:46] joaomoreno commented on #78113
Love it! :clap:

[2019-07-30 07:46] sandy081 commented on #78134
@jmillikin-stripe This looks completely opposite of why workspace settings are used. Do you want a way to override workspace settings? Is not it possible to change them in the workspace settings file?

[2019-07-30 07:47] isidorn commented on #78073
This is currently not implemented.
I am leaving it open as a feature request, and assigning to backlog since it is not on our current plan.

[2019-07-30 07:49] sandy081 commented on #78135
`inspect` api takes only the registered configuration keys. Looks like you are trying to inspect the values which is not valid.

[2019-07-30 07:49] #78135 closed

[2019-07-30 07:50] isidorn commented on #68201
Fixed via https://github.com/microsoft/vscode/pull/71874

[2019-07-30 07:50] Tony-Truand commented on #74521
Thanks for the hint, I've reboot and haven't heard for this bug since.

Le mar. 30 juil. 2019 à 09:45, Alexandru Dima <notifications@github.com> a
écrit :

[2019-07-30 07:55] isidorn commented on #78127
I can not reproduce this issue on my macOS Catalina.
I am using node 10.16

@BryanHunt can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/
What node version are you using?

[2019-07-30 07:57] isidorn commented on #77065
Let's leave this one open for now until we get more user feedback. Also not convinced this is a good suggestion.

[2019-07-30 07:59] isidorn commented on #78097
Dup of https://github.com/microsoft/vscode/issues/34026

[2019-07-30 07:59] #78097 closed

[2019-07-30 08:01] joaomoreno commented on #77949
Interesting, I see no error. When it shuts down and you manually launch it again, is the update applied?

[2019-07-30 08:01] yume-chan commented on #78139
@joaomoreno translation:

---

My tests show that Code might not be able to detect encoding for "交易页面" and uses `files.encoding` instead.

[2019-07-30 08:05] PauGuillamon commented on #1966
+1, completely agree with all comments here. Clearly this only covers some use cases and breaks others. At least this should be configurable without having to manually edit the language configuration file. As others, I would be very happy if it was disabled by default.

[2019-07-30 08:06] laur1s commented on #77801
Hey, why is this issue ignored? I also just noticed that actually when I create a file it is not displayed in the explorer bar.

[2019-07-30 08:08] kyokawasaki opened #78150 "VSCode crashes when closing large SQL file"
Issue Type: <b>Bug</b>

Steps to reproduce:

1. Open very large SQL file.
2. Edit something on the file.
3. Try to close the file without saving.
4. VSCode hangs a bit and crashes.

I was only able to close the file before it loaded when I opened VSCode after it crashed.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10

[2019-07-30 08:10] lucaros97 commented on #77949
No, it keep the same version.

[2019-07-30 08:13] ChaseChan commented on #32257
emmmm,my vscode version 1.36.1, i try your method, but...,it still doesn't work for me.

![image](https://user-images.githubusercontent.com/31701489/62112229-dce82600-b2e4-11e9-9c91-9d1554858227.png)

[2019-07-30 08:16] joaomoreno commented on #77949
And once you run the `Restart to Update` action, the command line simply ends, no crash report, nothing?

[2019-07-30 08:16] tebeco commented on #78107
Since i had 4 different version of `vs-liveshase` on my screenshot with respective date :
01/24/19 - 05/13/19 - 05/16/19 - 07/26/19

I restarted VsCode serveral times, updated it (then reload it) and also rebooted the computer.

Also it does not fix the issue that "Uninstalling extension" should absolutly delete the files on disk. Especially for the specified scenario :
* `VsCode` Insider updated

[2019-07-30 08:17] tkoelpin commented on #78126
Hi @thkrishn,
I am also a user like you.

I remembered that I had also problems with the SSH connections. I answered the question by myself via the following questions:

- Do you have internet connection on your remote host?
- Do you use a proxy connection?
- Did you checked the SSH config for the SSH-Daemon (`sshd_config`) on your remote host?
- Did you compared the SSH Daemon config with your lo

[2019-07-30 08:20] alarco-l commented on #78107
@sandy081
Indeed  extensions are gone after restart.

[2019-07-30 08:23] yume-chan opened #78151 "Braces inserted by typescript.suggest.completeFunctionCalls can't be over-typed"
Testing #78118

Issue Type: <b>Bug</b>

Steps:

1. Enable `typescript.suggest.completeFunctionCalls`
2. Auto-complete some function, e.g., `alert`. It will become `alert()` and the cursor is between the brace pair.
3. Type `)`.

Expected:

The `)` inserted by auto-completion is getting over-typed, as 1.36.1 does.

Actual:

It does not.

VS Code version: Code - Insiders 1.37.0-insider (3802a9868239

[2019-07-30 08:26] isidorn commented on #77801
I was on vacation for 3 weeks, sorry for the slow response.
I will look into this next milestone
@joaomoreno this sounds like something you were hitting

[2019-07-30 08:26] lucaros97 commented on #77949
Exactly, no erros. no updates, and the cli simply end.

[2019-07-30 08:30] whlkw commented on #78073
Thanks for your conformation!

[2019-07-30 08:35] 851201344 opened #78152 "I want to code to call Terminal:Rename"
![image](https://user-images.githubusercontent.com/40556460/62113614-7ca6b380-b2e7-11e9-9c4a-fac6cb5b5875.png)

Is there any way I can code to call Terminal:Rename ?

![image](https://user-images.githubusercontent.com/40556460/62113750-b677ba00-b2e7-11e9-8206-dd09030a977e.png)

I know that way

But I want to know how to call it in code

Nodejs   or  NPM   or  CMD command

Thanks !!!

[2019-07-30 08:37] alexandrudima commented on #74885
Well, `cmd+0` is bound by default to "Focus into Side Bar" and I think that was there since before we added zooming actions:
![image](https://user-images.githubusercontent.com/5047891/62113953-e4dca180-b2b5-11e9-98d0-4ac859eb2dd4.png)

I agree that the situation is not great, but I won't tweak the default keybindings since anyone can easily tweak them on their machine.

[2019-07-30 08:37] #74885 closed

[2019-07-30 08:48] #77000 closed

[2019-07-30 08:53] alexr00 commented on #77026
No, I can repro in the scm viewlet, thanks for tracking it to there!

[2019-07-30 09:01] esr360 commented on #58038
I'm also confused. My workspace settings should surely override my user settings?? Why wouldn't this be the expected behaviour?

[2019-07-30 09:04] dineshsm commented on #78142
Thanks for the response it really helps.

[2019-07-30 09:04] #78142 closed

[2019-07-30 09:06] #77026 closed

[2019-07-30 09:12] egamma commented on #78095
Fixed by af4bfe6ef4ff0c32bade6f9d07ea02a2bc6ece36

[2019-07-30 09:12] #78095 closed

[2019-07-30 09:18] joaomoreno opened #78153 "Explorer: Can't create folder on newly created folder"
1. Empty explorer
2. Click `New Folder` top action, name the folder and create it
3. Click `New Folder` again

Input box comes and goes.

[2019-07-30 09:18] joaomoreno commented on #77801
@isidorn This is what I hit: https://github.com/microsoft/vscode/issues/78153

[2019-07-30 09:18] joaomoreno commented on #77949
Is there anything special about your box? Is it managed by a company, special network firewall?

[2019-07-30 09:21] #73898 closed

[2019-07-30 09:21] IllusionMH commented on #78143
This is correct warning because variable is block scoped (declared with `let`) and there are no instances where it is used to calculate anything other - only reassignment later.

This error will go away as soon as you use it in expression, pass as an argument to a function etc.

If you look from other perspective - you remove come unnecessary call to a function from block. TS marks all variables t

[2019-07-30 09:21] rightfold commented on #46676
In addition to temporarily disabling them it should also be possible to permanently disable them, via a setting in settings.json.

[2019-07-30 09:28] alexr00 commented on #77569
Thank you for the easy example. I can see the cause. It is a duplicate of https://github.com/microsoft/vscode/issues/70707

[2019-07-30 09:29] #77569 closed

[2019-07-30 09:29] thany commented on #77913
Funny thing is I can't reproduce it anymore. I'm not aware that anything at all got updated in the mean time.

Literally the only difference is that now I also have an external monitor attached with power, and when I reported the bug, I hadn't and was on battery power. But in either case I'm using VScode on my laptop screen, so I don't think it should matter.

So I guess maybe freeze this issue fo

[2019-07-30 09:31] thany commented on #73819
A stuck editor is not a performance issue, mind you.

Regardless, the issue hasn't resurfaced since, so I suppose something fixed it. Or it's a crazy coincidence. Either way, thanks for closing 😄

[2019-07-30 09:32] alexandrudima commented on #70471
@thany This is an issue specific to your machine, hardware and software. I cannot reproduce. You should therefore talk directly to Chromium developers, who can ask you the right questions in trying to fix your problem. What kind of issue can I file against Chromium if I cannot reproduce myself?

[2019-07-30 09:34] #70707 closed

[2019-07-30 09:36] isidorn commented on #77303
Ok, thanks, assigning to next milestone to investigate.

[2019-07-30 09:37] sandy081 commented on #78107
Can you please restart VS Code with log level trace. You can do this by launching from command line use option `--verbose`.

Then open logs using `F1 > View: Open View > Log (Shared)`. Please check logs to see if they are getting deleted or not.

[2019-07-30 09:37] lucaros97 commented on #77949
No it's a personal macbook pro and updates where launched from my home network which doesn't use any firewall

[2019-07-30 09:38] isidorn commented on #77971
There is a context menu action in the editor: Run to Cursor
And for some debug adapters like C# "Jump to Cursor"

You can also find these commands in the command palette

[2019-07-30 09:38] #77971 closed

[2019-07-30 09:39] isidorn commented on #77895
Can you please provide reproducable steps?
Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/
If you F1 > developer tools > do you see some errors in the debug console

[2019-07-30 09:40] jrieken opened #78154 "Editor area resized to 0px"
re #78137

* no activity bar
* panel right
* resize explorer to max
* :bug: editor area goes to 0px

![Jul-30-2019 11-39-34](https://user-images.githubusercontent.com/1794099/62118886-c9c25f80-b2be-11e9-8624-e0af099e4516.gif)

[2019-07-30 09:41] alexr00 commented on #78140
@parsh78 what language is this?

[2019-07-30 09:41] isidorn commented on #77946
Would it work for you if Toggle Breakpoint action would respect multiple cursors.
That way you could have 10 cursors set wherever you want and doing Toggle Breakpoint would set 10 breakpoints?
That's the only way this could nicely work imho

[2019-07-30 09:43] isidorn commented on #77895
Actually dup of https://github.com/microsoft/vscode/issues/77106
Please comment there

[2019-07-30 09:43] #77895 closed

[2019-07-30 09:43] isidorn commented on #77106
@mgabeler-lee-6rs thanks for providing more details, assignig to August to investigate then.
fyi @joaomoreno

[2019-07-30 09:45] #78143 closed

[2019-07-30 09:45] usernamehw commented on #77882
Doesn't look fixed.

1. `keybindings.json`
[code]
2. Open Problems Panel
3. Switch editor tabs

Version: 1.37.0-insider (user setup) cf03ea3729dc37e439d724267ad29dc5840f903a

[2019-07-30 09:48] zcp5935 commented on #78139
But my `files.encoding ` is `uft-8`。
I create an .html file with `utf-8` encoding,when i add comments like
``,
next i open this file,the .html's encoding become `windows-1252`

[2019-07-30 09:49] alexr00 commented on #78082
To find gulp tasks we run `gulp.cmd` --tasks-simple. This is what hangs. We should detect that finding gulp tasks is too slow and offer to add the `"gulp.autoDetect": "off",` setting.

[2019-07-30 09:50] lonix1 commented on #40239
@chan-dev It's been a while since I tinkered with that, if I recall correctly the trick was to 1) disable or remove all extensions from the command line, 2) install the ones you want again, 3) start vscode. Very slow and aggravating, but it works and can be scripted.

[2019-07-30 09:51] alexr00 commented on #78078
This is an issue with the php grammar from https://github.com/atom/language-php.

[2019-07-30 09:52] alexr00 commented on #74995
It should be in 1.37.0.

[2019-07-30 09:58] jrieken opened #78155 "Full width bottom panel"
re #78137

I don't know how that happened, but I have proof that it happened...

<img width="1585" alt="Screenshot 2019-07-30 at 11 46 08" src="https://user-images.githubusercontent.com/1794099/62119365-acda5c00-b2bf-11e9-8c37-0967596e2c0f.png">

[2019-07-30 10:03] alexandrudima commented on #73102
The setting `"editor.autoClosingBrackets": "never"` does disable the closing bracket deletion for me:

![Kapture 2019-07-30 at 12 02 47](https://user-images.githubusercontent.com/5047891/62120497-faf05f00-b2c1-11e9-90c8-fb7349fe4594.gif)

[2019-07-30 10:03] jrieken commented on #77856
Perf machine reports ~1780ms which is roughly at the level of the first regression, confirming what @sbatten said here: https://github.com/microsoft/vscode/issues/77856#issuecomment-516028396

[2019-07-30 10:06] sandy081 commented on #78050
@mjbvz Looks like these APIs need some internal knowledge about web views and how they are implemented in web.

I am sorry that I do not understand how to use these APIs and test. It would be great if you can provide some sample and how to use it and why it is needed.

[2019-07-30 10:10] isidorn opened #78156 "Split view sizes not preserved"
1. Make the outline view in the exlporer the maximum size
2. Reload -> the outline size is not preserved

I can repro this for all split views. Also in web.
I can not reproduce with stable -> regression, assigning to July.

![splitView](https://user-images.githubusercontent.com/1926584/62120942-e6609680-b2c2-11e9-93a9-0d0438c3a3c0.gif)

[2019-07-30 10:21] #77607 closed

[2019-07-30 10:21] #77599 closed

[2019-07-30 10:25] aeschli opened #78157 "Typing error in ExtensionTerminalOptions example code"
Testing #78123

https://github.com/microsoft/vscode/blob/49b51b32b2a9c32f34c00746c2013dbde86d1ef3/src/vs/vscode.proposed.d.ts#L993

should be

` const dimensionsEmitter = new vscode.EventEmitter<TerminalDimensions>();`

[2019-07-30 10:26] irfanbaigse commented on #164
Still waiting

[2019-07-30 10:29] AleksandrHovhannisyan commented on #72263
Thanks for the quick response! I actually already have that extension (the one that allows me to invoke vscode, which is installed on Windows 10, from WSL).

Were new commits pushed that fix the terminal.tests errors? I was using the latest master at the time of running that.

Cheers!

[2019-07-30 10:29] alexr00 commented on #77838
I can't reproduce this. Does your npm script still work if you run it from the integrated terminal as `npm run build-deploy`?

[2019-07-30 10:30] sandy081 commented on #75259
To be consistent the command should be called `Reveal in Side Bar`

![image](https://user-images.githubusercontent.com/10746682/62122053-7d891680-b2e2-11e9-8b84-dcfab2d099a9.png)

Also I do not understand the logic why it is at the top. Is not this after copy commands?

[2019-07-30 10:31] IllusionMH commented on #78152
/question

VSCode displays name of active process in that terminal. So you should look for a way to set name of active process for your OS and used terminal

[2019-07-30 10:31] caub opened #78158 "Search exclude regression"
Version: 1.36.1
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:55:08.091Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-55-generic

Steps to Reproduce:

1. Search in file (Ctrl+Shift+f)
2. Results are found in .git or node_modules although they're excluded from searches

Does this issue occur when all extensions are disa

[2019-07-30 10:31] alexr00 commented on #77955
The terminal doesn't actually use the `problemMatcher`, it is just the task that uses that for creating problems in the problems panel. The terminal independently creates links out of paths that exist.

[2019-07-30 10:31] aeschli commented on #78157
https://github.com/microsoft/vscode/blob/49b51b32b2a9c32f34c00746c2013dbde86d1ef3/src/vs/vscode.proposed.d.ts#L1022

should be
[code]

[2019-07-30 10:33] alexr00 commented on #75774
@NickCageNick this is, sadly, expected right now. When 1.37.0 release you will have the fix. Or, you can try insiders and get the fix now.

[2019-07-30 10:33] caub commented on #78158
Oh I just noticed the "exclude settings and ignored files are disabled", how to enable it like before?

[2019-07-30 10:36] sandy081 commented on #77882
Reopening to investigate

[2019-07-30 10:41] johnpapa commented on #78135
Is there a way to know which of these values came from user settings or global settings?

Scenario:

I get a set of these and I need to remove some and add some back, then write them to workspace settings. The problem I I don;t want to touch the ones in global settings. This is for the Peacock extension.

Otherwise I can write a set to workspace , but this overwrites whatever they had and they may

[2019-07-30 10:45] mtangoo commented on #77582
can you explain this one?
I downloaded the packages.json and run `npm install` and I got errors. I understand what errors complain but I don't know how to fix it, sing it is clear I did it wrong. But dunno how to get it right!

I have node installed so I don't understand why all those archives in `packages.json`

[code]

[2019-07-30 10:46] Fernandomr88 commented on #77018
It has been fixed already, but it is at the Insiders version only and at the stable version only at next release.
Check above.

Em 30 de jul de 2019, à(s) 04:43, Murad Beybalaev <notifications@github.com> escreveu:

[2019-07-30 10:48] usernamehw opened #78159 "Should syntax files be minimized?"
`...\Microsoft VS Code Insiders\resources\app\extensions`

For instance:

`cpp.tmLanguage.json` **549KB**

After simply running `JSON.parse` => `JSON.stringify`

`cpp.tmLanguage.json` **410KB**

There's a bunch of grammar files in that folder.

[2019-07-30 10:52] egamma opened #78160 "Cannot remove the first entry"
Testing #77427

Edit the TypeScript > TS Server > Plugin Path setting

1. Add 'aaa'
2. Add 'bbb'
3. Delete 'bbb' by hovering over 'bbb' and press 'x'
4. Delete 'aaa'

-> You cannot delete the item, 'x' has no effect.

[2019-07-30 10:58] alexr00 opened #78161 "Inline doc for onDidOverrideDimensions in pseudoterminal has wrong type for EventEmitter"
Testing #78123

`new vscode.EventEmitter<string>();`
Should be
`new vscode.EventEmitter<vscode.TerminalDimensions | undefined>();`

[2019-07-30 10:59] isidorn commented on #77872
Disagree. Where the focus we should select that.
You can switch the focus to the editor by pressing tab, or by pressing cmd + down.

Closing as we will not change this.

[2019-07-30 10:59] #77872 closed

[2019-07-30 11:01] egamma opened #78162 "Items are inserted delayed"
Testing #77427

Please see the attached recording

![array-setting](https://user-images.githubusercontent.com/172399/62124256-0f385a00-b2ca-11e9-9fdf-ad48a72194da.gif)

Notice how 'bb' is only shown after adding 'ccc'

[2019-07-30 11:01] alexr00 commented on #78161
The emitter for `onDidClose` is also wrong.

[2019-07-30 11:02] sandy081 commented on #78156
Good catch

[2019-07-30 11:02] IllusionMH commented on #78158
![image](https://user-images.githubusercontent.com/1312662/62124261-76f2a300-b2d2-11e9-9413-82322ea4e4f5.png)
You should click on "Toggle Search Details" (three dots) and then on "Use Exclude Settings and Ignore Files" (button in Exclude field)

[2019-07-30 11:03] #78156 closed

[2019-07-30 11:06] sandy081 commented on #78135
You can do it by inspecting the setting and compare the values.

[2019-07-30 11:08] IllusionMH commented on #78155
👍 Would be awesome to have this layout as feature after some tuning!
No more trashing of terminal text during panel resize.

[2019-07-30 11:11] sandy081 commented on #71642
Since no action can be taken un-assigning myself.

[2019-07-30 11:12] KUGA2 commented on #36219
Problem is still occurring in 1.36.1.

@rysavyjan: can we just omit the encoding in this call?

[2019-07-30 11:15] caub commented on #78158
Wow, thanks, it's really not obvious it's a toggle button

[2019-07-30 11:15] #78158 closed

[2019-07-30 11:16] thany commented on #70471
Similarly, I don't know what exactly to tell them 😄

(assumption mode) As far as the Chromium browser is concerned, Ctrl+Alt+A completely correctly produces an `à`, like it does in every text input in every other program. It seems to me that VScode is somehow registering hotkeys (which I don't think is default browser stuff) where something is not correctly overriding the keyboard events or someth

[2019-07-30 11:23] johnpapa commented on #78135
Thanks, but I think I need to provide more context.

** global user settings.json**
[code]

** workspace settings.json**
[code]

A user of Peacock decides they want a new color. I now need to write all of the "activityBar" and "statusBar" colors to the workspace. if I grab all colors and go through them one by one, I get the merged set of global and workspace. Then I can go thru them and overwrite

[2019-07-30 11:37] Daijobou commented on #70736
For me only "Data of last update" is of interest in overview of "@installed"-extensions, because I have a extension that not working properly, which working _years_ correctly and get no updates for months. So here must be a conflict with vscode or a extension that was silent updated? It would help to identify which extension is responsible for this issue, instead of disable all extension and enabl

[2019-07-30 11:39] sandy081 commented on #78135
You can call inspect on `workbench.colorCustomizations` and you get
`global` and `workspace` values. From that you can infer `panel.background` value is coming from global settings.

[2019-07-30 11:40] daoluong opened #78163 "Auto updater do not remove old version from old location"
- VSCode Version: 1.33.0 and 1.36.1
- OS Version: windows 10 1903

Steps to Reproduce:

1. 1.33 installed in 'C:\Program Files'  dunno why it not removed
2. 1.36.1 installed in %AppData%\Local\Programs
3. json associated with 1.33
4. xml associated with 1.36
5. open 2 files and 1.33 and 1.36 open together with release note (anytime)

6. I removed 1.33 and any thing back to normal.
7. Just wanna le

[2019-07-30 11:42] sanmittal opened #78164 "did not run"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-07-30 11:52] sandy081 commented on #77882
@usernamehw I cant repro it. Can you please take the cpu profile and share it?

[2019-07-30 12:00] skprabhanjan commented on #75259
@sandy081 , The command was called "Reveal in Side Bar" but @roblourens preferred "Reveal in Explorer".
Also i can change the position and add it where ever you both suggest, Thanks :)

[2019-07-30 12:02] #71642 closed

[2019-07-30 12:02] jrieken commented on #71642
no action then

[2019-07-30 12:08] IllusionMH commented on #78164
@sanmittal When you create really large issue body its content cannot be prefilled automatically and you should past into report body.

Currently your issue has only prompt to paste content

/needsMoreInfo

[2019-07-30 12:11] jrieken opened #78165 "Screen cheese when opening editor in small window"
re https://github.com/microsoft/vscode/issues/78137

* use custom title
* make window as small as it allows it to be
* open a file (using quick pick)
* :bug: the title and status bar are bust (half back, half grey)

<img width="204" alt="Screenshot 2019-07-30 at 14 09 09" src="https://user-images.githubusercontent.com/1794099/62127954-a8b83980-b2d3-11e9-8de8-bf15e6df45fb.png">

[2019-07-30 12:13] bilogic commented on #76490
Hi,

The same happens on CentOS 7.0 as well.

[2019-07-30 12:14] siddhant1 opened #78166 "Add a shortcut or a button to restart extension host."
Right now if the extension host crashes we have to restart the editor , it would be awesome if we could add a button or shortcut for the same.

[2019-07-30 12:14] jrieken opened #78167 "Screen cheese when toggling side bar with small window"
re https://github.com/microsoft/vscode/issues/78137

Maybe the same as https://github.com/microsoft/vscode/issues/78165

* "normal" window size
* make side bar wide (~70% of the window width)
* hide sidebar (cmd+b)
* make window as small as possible
* show side bar
* :bug: massive screen cheese

<img width="205" alt="Screenshot 2019-07-30 at 14 12 54" src="https://user-images.githubusercontent.com

[2019-07-30 12:17] isidorn commented on #77874
I can not reproduce this.
Please file with reproducable steps
Also can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2019-07-30 12:17] #77833 closed

[2019-07-30 12:17] alexandrudima opened #78168 "Enable `strictPropertyInitialization`"
We have enabled `strictNullChecks`, but the TS compiler doesn't catch the following:
[code]

Possible fixes:
[code]

[code]

---

In order to get errors for such cases, we need to add `"strictPropertyInitialization": true` to our `tsconfig.json`.

@microsoft/vscode it would be nice if we could tackle some of these errors during debt week.

**[edit 11.11]**: There are 8 errors left:

- [ ] `vs/base

[2019-07-30 12:18] alexr00 commented on #78161
Duplicate of #78157

[2019-07-30 12:18] #78161 closed

[2019-07-30 12:18] isidorn commented on #77833
You can double click on empty space in tab area.
You can ctrl + N, to get a new doc.
Putting it in that menu is out of scope and we would not add it there since there are alterantive ways to achieve this.

[2019-07-30 12:18] canbax opened #78169 "there is no change but it says there is change (github)"
Issue Type: <b>Bug</b>

When write a file the same as before and when there are warnings/problems

![image](https://user-images.githubusercontent.com/8426741/62128497-419f8280-b2dd-11e9-8514-ed3e3120482c.png)

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value

[2019-07-30 12:19] isidorn commented on #77946
Aactually duplicate of https://github.com/microsoft/vscode/issues/77879

[2019-07-30 12:19] #77946 closed

[2019-07-30 12:21] X-Tender commented on #70841
FYI. Since some VSCode Update the Error didn't appear anymore. So can be closed.

[2019-07-30 12:21] isidorn commented on #77879
This is a fair feature request and it makes sense to me. Assigning it to on-deck - so I will look into it once I find time.
Also adding help wanted. Myabe somebody is interested in providing a PR to tackle this.
Code pointer https://github.com/Microsoft/vscode/blob/cf03ea3729dc37e439d724267ad29dc5840f903a/src/vs/workbench/contrib/debug/browser/debugEditorActions.ts#L38

[2019-07-30 12:23] isidorn commented on #77836
This makes sense, and I can look into removing the automatic switching of debug console on shutdown of a session. Will probably do it next week to get feedback next milestone from users

[2019-07-30 12:24] isidorn commented on #77693
Dup of https://github.com/microsoft/vscode/issues/78153

[2019-07-30 12:24] #77693 closed

[2019-07-30 12:27] usernamehw commented on #77882
[CPU-20190730T151429.zip](https://github.com/microsoft/vscode/files/3446698/CPU-20190730T151429.zip)

[2019-07-30 12:30] egamma opened #78170 "Toggling a find button does not re-evaluate the search"
Testing #78108

Hava a folder with two files `aa.txt`, `aaa.txt`.

- execute dir
- search for 'aa'
-> it matches 'aaa.txt'
- now change the find toggle to `Match whole word`

I would have expected that the find is re-evaluated and `aa.txt` is matched same as in the editor.

![image](https://user-images.githubusercontent.com/172399/62129112-309f4300-b2d6-11e9-82fb-f8165012333f.png)

[2019-07-30 12:31] isidorn commented on #78168
Adding it to next milestone so it shows up in my issue query for debt week.
If we do not tackle it completely we can always move it to the next one afterwards.

[2019-07-30 12:38] isidorn commented on #77181
I agree with this issue. In the detailed view of an extension webview there are some items which are not actionable. We should change that to make them all actionable or remove them from the tabindex.
@sandy081 maybe you provide somce code pointers so we add a help wanted label. What do you think?

[2019-07-30 12:41] jrieken opened #78171 "Default extension icon missing"
* open extensions viewlet
* open extensions editor for 'References++'
* :bug: default icon doesn't show

<img width="1447" alt="Screenshot 2019-07-30 at 14 40 22" src="https://user-images.githubusercontent.com/1794099/62129855-ff277700-b2d7-11e9-832a-eb459416bf5f.png">

[2019-07-30 12:41] jrieken commented on #78171
this happens in web and desktop versions

[2019-07-30 12:42] egamma opened #78172 "--category filter doesn't tell that a category does not exist"
Testing #78106

When entering a category that does not exists (e.g. 'theme' instead of 'themes')
`code-insiders --list-extensions --category theme`
then there is no feedback that the category does not exist.

[2019-07-30 12:44] alexr00 opened #78173 "Grid state not correctly restored on restart"
Testing https://github.com/microsoft/vscode/issues/78137

Starting state that I made:
<img width="1920" alt="one" src="https://user-images.githubusercontent.com/38270282/62130004-53caf200-b2d8-11e9-8d5d-d7b8f6ee8054.png">
Then I moved one of the sashes:
<img width="1920" alt="two" src="https://user-images.githubusercontent.com/38270282/62130016-5e858700-b2d8-11e9-9f77-aa3be363bf8b.png">
Then I res

[2019-07-30 12:46] isidorn commented on #77175
The filter using files is a checkbox.
It has 2 states, turned on and off.
Reading it as a checkbox is completly valid. We just visualisy it not as a native checbox but as a styled vscode checkbox.

Thus closing this as invalid

[2019-07-30 12:46] #77175 closed

[2019-07-30 12:48] joaomoreno opened #78174 "Can't open tree items using keyboard"
Testing #78101

1. Install Gitlens
2. In the `Search Commits` view go up and down with the keyboard and press <kbd>Enter</kbd>

Nothing happens. In stable, it would execute the action.

[2019-07-30 12:50] alexr00 opened #78175 "Panel should remember sizing before toggling editor area"
Testing https://github.com/microsoft/vscode/issues/78137

1. Open a folder
2. Close all editors
3. Close the panel
3. Run the Toggle Editor Area command
4. The panel takes over ✔
5. Open a file by clicking in the explorer.
6. See that the panel ends up a weird size:
<img width="1920" alt="panel" src="https://user-images.githubusercontent.com/38270282/62130452-537f2680-b2d9-11e9-920a-a854d63cfd7b.p

[2019-07-30 12:50] isidorn commented on #77182
This is fine. Since the refresh is stoping a session and starting a new session. Thus the toolbar is recreated and the focus is not preserved.
Preserving focus on the debug toolbar is not that important imho in this case (why would a user want to restart a session after he just restarted it?!)
Also most users just use keyboard shortucs or command palette, and not moving focus to the floating toolb

[2019-07-30 12:50] #77182 closed

[2019-07-30 12:54] isidorn commented on #77575
I understand the request.
Currently this is only possible by using the keyboard, so please use that as a workaround. up/down keys + shift

All in all this is a feature request for the tree, thus forwarding to @joaomoreno

[2019-07-30 12:56] aeschli commented on #78157
https://github.com/microsoft/vscode/blob/49b51b32b2a9c32f34c00746c2013dbde86d1ef3/src/vs/vscode.proposed.d.ts#L1016

should be

`const closeEmitter = new vscode.EventEmitter<void>();`

[2019-07-30 12:56] isidorn commented on #77598
This should be fixed with latest vscode insiders
https://code.visualstudio.com/insiders/

Let me know if you an still reproduce.
And if you can, please write down exact reproducable steps.
Thanks!

[2019-07-30 12:56] #77183 closed

[2019-07-30 12:59] alexr00 opened #78176 "Side bar gets really big when panel is on the right using the Toggle Editor Area command"
Testing https://github.com/microsoft/vscode/issues/78137

1. Open a file.
2. Make your side bar a sane size, maybe 1/6 the window. Make sure it's on the left.
3. Have the panel visible and move it to the right.
4. Make it about 1/4 of the window.
5. Run the Toggle Editor Area command.
6. The side bar takes up 3/4 the window. I expected the panel to be the thing that expanded. I couldn't get this t

[2019-07-30 13:00] joaomoreno opened #78177 "Horizontal scrolling appears broken in all custom views"
Testing #78101

When enabling it (`Workbench > List: Horizontal Scrolling`), horizontal scrolling appears to have a huge width to scroll. We can either figure out why that is or, if too tricky, simply disable horizontal scrolling for all custom tree views via the tree option `horizontalScrolling: false`.

[2019-07-30 13:00] isidorn commented on #77211
Can not reproduce.
@DFVSQY  Can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/

[2019-07-30 13:02] isidorn commented on #77236
Dup of https://github.com/microsoft/vscode/issues/43819

[2019-07-30 13:02] #77236 closed

[2019-07-30 13:03] isidorn commented on #77257
This is a chrome limitation. Nothing we can do about it.
Leaving it open as an upstream

[2019-07-30 13:03] sandy081 commented on #77882
@rebornix Looks like it is getting blocked in textareainput

![image](https://user-images.githubusercontent.com/10746682/62131254-710fb880-b2f8-11e9-8b37-63ced99b7c2c.png)

[2019-07-30 13:04] tebeco commented on #78107
hummmm,

I created the issue after the issue of extensions being corrupted / could not work ^^.
So i already manually deleted duplicated the extensions (after multiple full stop / reload)

I was too focus on making `VsCode` properly load extensions ... i totally forgot about capturing the log to be honnest :s

[2019-07-30 13:04] joaomoreno opened #78178 "Custom trees now support multiple selections"
Testing #78101

Not sure whether this was on purpose.

[2019-07-30 13:04] #77308 closed

[2019-07-30 13:05] am-awais commented on #32200
Can anyone help how to active auto colons after completing css properties like

how to add ( : ) automatically

[2019-07-30 13:05] isidorn commented on #77375
This is a fair feature request, however it is not currently on our plan. Thus assigning it to the backlog.

[2019-07-30 13:07] egamma opened #78179 "Invoking 'tasks.fetchTask()' with a type filter fetches all tasks"
The Npm Scripts Explorer calls `tasks.fetchTask({ type: 'npm' })`. This call will also fetch the tasks of type `gulp` which is expensive. The function should only fetch the tasks from the TaskProvider given as argument.

**added**
The current implementation has some unpleasant side effects. For example, open the NPM Scripts Explorer in the VS Code workspace. The script explorer fetches the npm tas

[2019-07-30 13:08] isidorn commented on #77406
Dup of https://github.com/microsoft/vscode/issues/76752

[2019-07-30 13:08] #77406 closed

[2019-07-30 13:09] isidorn commented on #77422
I can not reproduce this. Can you reproduce with latest vscode insiders
https://code.visualstudio.com/insiders/

If yes please provide reproducable steps and some video demonstrating this.
Thanks

[2019-07-30 13:11] aeschli opened #78180 "Pseudoterminal: Unclear what dimensions are"
Testing #78123

[code]
Unclear to me what the relationship of `setDimensions` and `onDidOverrideDimensions` is.
Both use the type `TerminalDimensions`.

setDimensions is only called when the window is resized and seems to give you Panel deimensions  {"columns":148,"rows":10}

onDidOverrideDimensions seems to be about the inner text dimension

Looks like different names would help to understand

[2019-07-30 13:12] alexr00 commented on #78178
Not yet. I hope for August though!

[2019-07-30 13:12] jjavierdguezas commented on #61804
hi, any update about this?

[2019-07-30 13:13] juancrescente commented on #77422
this hasn't happend anymore

[2019-07-30 13:13] #77422 closed

[2019-07-30 13:13] #77460 closed

[2019-07-30 13:14] isidorn commented on #77460
The extension is in charge of the output and it should format the output in a better way such that it is more distinguishable.

[2019-07-30 13:14] isidorn commented on #77422
Thanks for letting us know.

[2019-07-30 13:15] #78178 closed

[2019-07-30 13:19] isidorn commented on #77293
Well the stop sent a `disconnect` request to the debug extension. HOwever the debug extension ignored it and still started.
So the debug extensions should get a `disconnect` request. It can respect it and stop starting.

@ivanhernandez13 are you an extension writer. Do you see some idfferent behavior than what I just mentioned?

And sorry for the slow reponse, I was on vacation.

[2019-07-30 13:21] isidorn commented on #77842
Dup of https://github.com/microsoft/vscode/issues/7394
Please find the details there and we can continue the discussion in that issue. Thank you

[2019-07-30 13:21] #77842 closed

[2019-07-30 13:25] alexsmartens commented on #78099
Here is what I see after running `code . --user-data-dir="." --verbose`:

 [41952:0730/131625.898665:ERROR:bus.cc(394)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory                                                                                                                                         [41980:0730/131625.932839:E

[2019-07-30 13:27] isidorn commented on #77842
Please note the chrome issue https://bugs.chromium.org/p/chromium/issues/detail?id=142133&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=
So it seems like the issue might have regressed.
Also note that we use electron `4.2.5`

Commenting on the chrome issue would be very benefical also.

[2019-07-30 13:27] joaomoreno opened #78181 "Command `Extensions: Install Local extensions on` should have ellipsis"
Testing #1049

Should this command be `Extensions: Install Local extensions on WSL: Ubuntu...` instead, with an ellipsis?

[2019-07-30 13:28] isidorn commented on #77849
Context menu > copy all > paste to a file
Automatically saving in a text file is currently out of scope

[2019-07-30 13:28] #77849 closed

[2019-07-30 13:30] isidorn commented on #77841
@dgozman  Thank you very much for reporting this.
Can you please create a reproducable sample by forking the vscode mock debug https://github.com/microsoft/vscode-mock-debug
That way I can easily reproduce this issue and try to fix it. And sorry for the slow response I was on vacation

[2019-07-30 13:30] isidorn commented on #77797
It depends on the length of the names of your files. Vscode is behaving like this since day one and this is not someting which we will change. Closing as designed.

[2019-07-30 13:33] isidorn commented on #77822
This is a chrome limitation, and since VSCode is built upon chrome we can not do anything about it.
Please file this feature request against Chrome. Thanks

[2019-07-30 13:33] #77822 closed

[2019-07-30 13:37] xak2000 commented on #71996
@octref Tried today's insiders build. Nothing is changed.

I opened a html file with 3700 LOC, enabled `emmet.triggerExpansionOnTab`, and tried to press <key>TAB</key>. It extremely slow and consumes high CPU. For doing nothing (nothing to expand by emmet because I press <key>TAB</key> key on **empty** lines...).

Also, I can be not a duplicate of #70371 because in #70371 there is no high CPU load

[2019-07-30 13:38] jrieken commented on #78062
@sandy081 verified, but sorting is questionable...

<img width="247" alt="Screenshot 2019-07-30 at 15 37 53" src="https://user-images.githubusercontent.com/1794099/62133962-005ca200-b2e0-11e9-90f7-e7c5b064bd85.png">

[2019-07-30 13:38] parsh78 commented on #78140
This is Python.
________________________________
From: Alex Ross <notifications@github.com>
Sent: Tuesday, July 30, 2019 2:43:33 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Parag Shah <parag.shah@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode] Raw string with backslash should not highlight letters following \ (#78140)

@parsh78<https://github.com/pars

[2019-07-30 13:41] alexsmartens commented on #78099
Just a clarification note, I'm able to run Firefox, PyCharm and everything else that I need.

[2019-07-30 13:42] jrieken commented on #68201
@isidorn What's to verify here? Is this new (soft) API? Did you settle on `qs`, iff so why not `query` as all other names following URI naming?

[2019-07-30 13:47] WSLUser commented on #77822
Please file this feature request against Chrome. Thanks

There is a higher likelihood of the limitation being addressed if it was filed by someone on the VSCode team than some user. You could even file it against Electron and let them push it forward to chromium.

[2019-07-30 13:48] #78137 closed

[2019-07-30 13:53] tinebp commented on #77055
yes!
    On Tuesday, July 30, 2019, 03:33:51 AM EDT, Martin Aeschlimann <notifications@github.com> wrote:

@tinebp Can you confirm that things work again?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-30 13:55] Nokel81 commented on #78119
Ah, yes it might be electron specific (I use firefox) because I seem to have the same behaviour on the slack client

[2019-07-30 13:59] #78177 closed

[2019-07-30 14:01] jrieken opened #78182 "Error: Tree element not found: [object Object]"
error telemetry for 1.37.0 shows thousand of these

[code]

[2019-07-30 14:02] jrieken commented on #78182
https://ticino-errors.azurewebsites.net/Errors?bucketIdHash=15d3105d-7424-aa7e-6614-46ac51d8ee7e

[2019-07-30 14:02] jrieken opened #78183 "TypeError: Cannot read property 'clone' of null"
1.37.0 error telemetry https://ticino-errors.azurewebsites.net/Errors?bucketIdHash=8a0814ad-33bd-5ec9-8690-f82b66cab49c

[code]

[2019-07-30 14:04] jrieken opened #78184 "Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
https://ticino-errors.azurewebsites.net/Errors?bucketIdHash=ddfe11a8-cfb4-b4d4-acf1-1cebc672b046

[code]

[2019-07-30 14:08] #75257 closed

[2019-07-30 14:09] isidorn commented on #68201
Yes this is kind of new soft proposed API.
Currently we only supported `scheme` `authority` and `path`. And this is adding `qs`.
And yes `query` might be a better name here.
To verify: code review + current unit tests should be fine.
Since in practice I believe only GitLens is using this and @eamodio already veriified it owrks.

[2019-07-30 14:10] alexandrudima commented on #73940
@Ayanrocks I don't understand your issue. What are the steps to reproduce?

[2019-07-30 14:10] jrieken opened #78185 "Error: Data tree node not found: [object Object]"
https://ticino-errors.azurewebsites.net/Errors?bucketIdHash=9f557384-6b49-bd8a-4e01-3c103fc5da27

[code]

[2019-07-30 14:12] isidorn opened #78186 "SignService: No need to cache the import"
Code pointer
https://github.com/Microsoft/vscode/blob/18f4630bc51a3d87c7b31d96ca9c8ea95aa649b0/src/vs/platform/sign/node/signService.ts#L14

Since underlying issue is fixed https://github.com/microsoft/vscode/issues/75257#event-2519946349

[2019-07-30 14:12] isidorn commented on #75257
Thanks for fixing this, created a follow up item for me https://github.com/microsoft/vscode/issues/78186

[2019-07-30 14:13] alexandrudima commented on #75107
cmd+T is `workbench.action.showAllSymbols`

[2019-07-30 14:15] OpportunityLiu commented on #77747
try filename `$(bold)`, it will be displayed as a `B` icon.

[2019-07-30 14:15] Ayanrocks commented on #73940
Create an extension and create a child process from the main extension.ts
file. The worker will exit with code 127. This used to work before January
2019 version of vscode.

On Tue, Jul 30, 2019, 19:42 Alexandru Dima <notifications@github.com> wrote:

[2019-07-30 14:17] alexandrudima commented on #75349
@vomout I cannot reproduce. I have tried configuring `"editor.autoClosingBrackets": "never"` and typing `(` in a TypeScript file. The `)` is not inserted automatically. What precise steps would reproduce the issue?

[2019-07-30 14:18] alxgrtnstrngl commented on #74098
@bpasero Does using the flag `--disable-gpu-compositing` have the same effect as `--disable-gpu`? I tried a bunch of different flags and that seemed to calmed things down. When I check `--status` I still see below and vscode still launches a gpu process.

@lukasbash @dehmer @dinvlad can you test with that flag  `--disable-gpu-compositing` and see if it has any positive effect?

[code]

[2019-07-30 14:20] aeschli commented on #72263
Yes, new commits got pushed.

[2019-07-30 14:20] alexandrudima commented on #75309
@0xafbf You can configure `"editor.mouseWheelScrollSensitivity": 2` to get twice the base speed. Would that work for you?

[2019-07-30 14:21] jrieken commented on #68201
Ok, reopening then to change the name to `query`.

[2019-07-30 14:21] nickcorona commented on #38137
Why is this issue being closed? This bug makes coding in Python impractical. You can't send any decently long script to a Python REPL because of it.

[2019-07-30 14:23] nickcorona commented on #38137
Any update on this?

[2019-07-30 14:27] jrieken opened #78188 "TypeError: prevState.reset is not a function"
https://ticino-errors.azurewebsites.net/Errors?bucketIdHash=dc3afd54-5b7f-8a57-e86f-02cb7c3840df

[code]

[2019-07-30 14:30] eamodio commented on #68201
@jrieken do you want me to send another PR? Or can I just push the changes to the same PR (even though its been merged)?

[2019-07-30 14:33] jrieken commented on #68201
I'd say, better a new one

[2019-07-30 14:33] alexandrudima commented on #78188
To check if this occurs with a build newer than Tuesday.

[2019-07-30 14:34] alexandrudima commented on #78183
To check if this occurs with a build newer then Tuesday.

[2019-07-30 14:35] jrieken opened #78189 "use workspace.fs and fake-fs for extension tests"
Our extensions test use utils like `createRandomFile` and `deleteFile` (https://github.com/microsoft/vscode/blob/4a9ea84cc4b5ec579c3d69ed5b5b506f68d8d753/extensions/vscode-api-tests/src/utils.ts#L15) They are implemented using `fs` and often cause issues on build machines (different permissions?, eager tmp cleaning?). Instead, we should use a fake file system provider and workspace.fs

[2019-07-30 14:36] sproclavism commented on #23931
It is a bit disappointing that this feature is still not available after 2 years.
The search results are still not syntax-highlighted and stylised as it is in the editor.

[2019-07-30 14:37] eamodio commented on #68201
Incoming shortly...

[2019-07-30 14:38] alexandrudima commented on #73940
There are countless features in VS Code that depend on being able to spawn a process from an extension. Here is me selfhosting and seeing 4 processes spawned and working from extensions:

- json language server
- 2 x typescript language servers
- TS Lint server

![image](https://user-images.githubusercontent.com/5047891/62138654-43bb0e80-b2e8-11e9-9129-4b8563f5cf32.png)

[2019-07-30 14:38] iansan5653 commented on #38878
@kobusvdm

This is actually already possible. Create a `.vscode` subfolder in your project directory and add a `settings.json` file with the following content:
[code]

[2019-07-30 14:39] johnpapa commented on #78135
Thanks for the tip. Here is what I did, in case anyone else is curious

[code]

[2019-07-30 14:41] alexandrudima commented on #70471
How can we come full circle to guessing... :)

...

We have identified the problem. On your machine, when pressing `Ctrl+Alt+S`, the Edge browser generates a `keydown` event with the modifiers `ctrl` and `alt` and `keyCode: 83`, while Chrome does not. You have collected traces which show this. That is what you need to tell to the Chrome team...

[2019-07-30 14:42] clem744 commented on #77579
![vscode_BUG](https://user-images.githubusercontent.com/44908545/62138790-854bb980-b2e8-11e9-9a5a-d1206dab98e3.png)

Also, they are some errors when you use some unicode characters:
In this exemple, I didn't press the spacebar, and this bug exist only on vscode and is not on my default terminal. The caracter was obtained using (ctrl+Maj+u , 2795 ,  enter)

[2019-07-30 14:43] eamodio commented on #70707
Thank you!!!

[2019-07-30 14:43] suit0r commented on #77948
ok it crashed again.

some more details. there are multiple folders in the root, and a lot of the file names are duplicated per folder, so i got week1/t2.html, week2/t2.html etc, and i move through files rather quickly.

also, i have some apps in the background, like ms teams, chrome and brave, and some music or video.

here's the dev tools console log.
![emmet-crash](https://user-images.githubuse

[2019-07-30 14:47] alexandrudima opened #78191 "Add an output panel for keybindings"
Add a way for people to self-diagnose keybinding issues...

[2019-07-30 14:49] Ayanrocks commented on #73940
Well I am trying to use solc compiler and it is not working on worker
process after January update. Any major changes there.
P.s which app screenshot is that to track processes?

On Tue, Jul 30, 2019, 20:10 Alexandru Dima <notifications@github.com> wrote:

[2019-07-30 14:50] alexandrudima commented on #75251
@mcroker I cannot reproduce. Does the issue reproduce for you when disabling extensions?

(
![Kapture 2019-07-30 at 16 50 36](https://user-images.githubusercontent.com/5047891/62139761-2edf7a80-b2ea-11e9-81b7-3b603b9431ec.gif)

[2019-07-30 14:52] isidorn commented on #68201
Adderessed via https://github.com/microsoft/vscode/pull/78190

[2019-07-30 14:52] #68201 closed

[2019-07-30 14:55] alexandrudima commented on #73940
Yes, the January release contained an Electron update, which contained a nodejs upgrade. See https://code.visualstudio.com/updates/v1_31#_nodejs-update

![image](https://user-images.githubusercontent.com/5047891/62140136-ba590b80-b2ea-11e9-9069-1967e9cffdd3.png)

See https://nodejs.org/en/blog/release/v10.0.0/#deprecations

Perhaps you were using some node API that was deprecated in node v10 ?

[2019-07-30 14:55] jonfen opened #78192 ""Remote Containers: Reopen Folder in Container" should annotate which project a Dockerfile / docker-compose.yml file is from in a workspace"
Given a workspace with several projects/repos, each containing a "Dockerfile", opening a single Dockerfile the tab shows like:

![image](https://user-images.githubusercontent.com/56961/62139875-447f8080-b2a7-11e9-9b28-87671f0361a0.png)

When opening up a file with the same name from a different project in the workspace, the tabs annotate the project it is from:

![image](https://user-images.github

[2019-07-30 14:58] alexandrudima commented on #75397
@sabriele The font zooming is just a temporary multiplier to `editor.fontSize` and to `editor.lineHeight`. So simply change `editor.fontSize` in your user `settings.json`... Would that work for you?

[2019-07-30 14:59] 0xafbf commented on #75309
That could be a workaround, but if you zoom in/out often, you wouldn't have a uniform experience when scrolling at different text sizes.
In Sublime Text, you always scroll 3 lines, no matter what font size you are using.
I think that there is no 'right' way to solve it, but I feel that scrolling an amount of lines feels more consistent with the OS overall (at least windows),
Also I recently found

[2019-07-30 15:00] #74103 closed

[2019-07-30 15:03] jgcook935 commented on #77946
This sounds good to me. I'll follow #77879 instead.

[2019-07-30 15:10] alexr00 commented on #77757
The goal here isn't to modify task definition properties of an existing task, rather it is to resolve a task that hasn't been provided. This is goodness and should be allowed.

[2019-07-30 15:13] misolori opened #78193 "--list-extensions --category themes shows non-themes"
Testing https://github.com/microsoft/vscode/issues/78106

When running `code-insiders --list-extensions --category themes`, I see a few extensions show up in the list that are not themes (highlighted):

![image](https://user-images.githubusercontent.com/35271042/62141417-6544d780-b2a1-11e9-8fcb-302e73d842f2.png)

[2019-07-30 15:14] waleedalikhan commented on #72244
Me too in the favour of this, would be great if we can do at as bellow
`statusBarItem.text = "$(custom:path/to/icon.svg) some text";`

[2019-07-30 15:14] alexandrudima commented on #75366
I wouldn't add this unless we reach some kind of community buy-in to this.

My thinking is that people configure `editor.renderFinalNewline` to get rid of the extra rendering for the last line. In other words,

#### - with `"editor.renderFinalNewline": true` (default)
<img src="https://user-images.githubusercontent.com/5047891/62141576-16249400-b2ed-11e9-976a-8b35df5ba4e2.png" width="200" />

####

[2019-07-30 15:15] alexandrudima commented on #75526
@DelfCo What keyboard layout do you use? What does the `F1` list show next to `View: Zoom out`?

[2019-07-30 15:16] IllusionMH commented on #78169
Looks like there might be changes in whitespace. Do you see any difference if you toggle "Show Trim Whitespace" using this icon?
![image](https://user-images.githubusercontent.com/1312662/62141609-8afbcc00-b2f5-11e9-8d20-6018c38e21fd.png)

Also you should see diff if you run `git diff` for uncommited & unstaged changes, `git diff --cached` for staged changes, or `git show <commit id>` if you alrea

[2019-07-30 15:19] misolori opened #78194 "--list-extensions --category should show list of available categories"
Testing https://github.com/microsoft/vscode/issues/78106

More of a feature request, it would be great if you didn't supply a category when running `--category` that it would print out a list of categories available (like below). I could always go to the extension viewlet and run `@category` but that's an extra step and would be nice to show the options inline.

<img width="276" alt="image" src="h

[2019-07-30 15:21] #78174 closed

[2019-07-30 15:24] misolori commented on #78194
Also tried running this for extension packs and tried to guess the format, printing out the category names would've helped here:

<img width="604" alt="image" src="https://user-images.githubusercontent.com/35271042/62142578-6ecf3f00-b2a3-11e9-89ab-4a52e4154ee5.png">

[2019-07-30 15:27] iansan5653 opened #78195 "API to control the visibility of files in the File Explorer"
As far as I can tell, there is no way for an extension to hide a file from the file explorer tree without modifying the workspace settings. I'd like to see a simple API for this.

[2019-07-30 15:28] lramos15 commented on #78170
@Tyriar this isn't a feature even in the way the old search went, but we might want to align at least the functionality of the find widget with that of the editor, since the buttons look the same.

[2019-07-30 15:31] lramos15 commented on #78193
There's not much I can do here as GraphQL and Profile Switcher are both classified as themes in the marketplace even searching the market place for `@category:themes` will display them.

[2019-07-30 15:31] #78193 closed

[2019-07-30 15:40] iansan5653 commented on #78195
Maybe it could be an extension of the proposed decoration provider API? Although it's not strictly a decoration, that could be implemented with minimal impact. A simple option on `DecorationData` like `visible: boolean` would be easy.

[2019-07-30 15:47] vajarov opened #78196 "extension host terminated unexpectedly"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

1. start a fresh instance of VS Code
2. In about 15 seconds, I get "extension host terminated unexpectedly".

workaround: restarting the extensions host seems to make the problem go away.

VS Code version: Code - Insiders 1.37.0-insider (cf03ea3729dc37e439d724267ad29dc5840f9

[2019-07-30 15:53] vomout commented on #75349
Just go to the settings search box within settings (ctrl-alt-cmd-w) and type a bracket [, and see ] inserted. With auto-closing brackets set to never within the settings.

[2019-07-30 15:56] steveoh opened #78197 "Reuse launchBrowser window tab"
It is really nice that we can F5 debug and launch our web applications. A nice improvement would be to reuse the window if you debug more than once. Currently, a new duplicate tab will be created every time you launch.

The only current solution that I know of is a little silly and involves having two almost duplicate launch tasks, one to open the window and one to skip doing that. I still have to

[2019-07-30 16:06] #78172 closed

[2019-07-30 16:06] #78194 closed

[2019-07-30 16:17] octref commented on #78125
@jrieken Would showing the link preview only for http/https links work for you?

We discussed about showing just an icon. It's a good idea and we can even show icons of different colors depending on scheme (http, command, etc). But it doesn't reveal the link and some of us feel we should make sure link location is shown before user can click (explicit consent & assume the risk).

I can bring this

[2019-07-30 16:21] #77030 closed

[2019-07-30 16:25] gatopeich commented on #77807
BTW I see another side effect: a file named "os.path^M" appears out of the blue in my workspace when running these pytests, and it contains a Postscript image!
[code]

[2019-07-30 16:25] jrieken commented on #78125
Yeah, foremost I think this should only be done for http/https links, not for file- or command-links. I don't think colors help because in contrast to said icons, there is no well-accepted color metaphor for external links.

Instead of showing this so prominent, wouldn't it be enough to show its href as title/hover thing? That what I would have accepted...

[2019-07-30 16:25] nbransby commented on #8226
Yeah this is really annoying...

[2019-07-30 16:27] octref commented on #78129
What happens if you try to open a powershell terminal (F1 -> Open New Terminal) and run `npm run watch`?

[2019-07-30 16:29] octref commented on #70371
The change is not in Insiders yet, wait a bit.

[2019-07-30 16:32] octref commented on #78125
Currently if you hover over it for 3 seconds there's the default tooltip over the link.

![image](https://user-images.githubusercontent.com/4033249/62147635-befecf00-b2ac-11e9-9bee-c5943e042be8.png)

We could override it to show a tooltip.

I'll prepare some alternatives that make this less prominent for next UX meeting.

[2019-07-30 16:37] jrieken commented on #78125
Which is what I am used to tbh

[2019-07-30 16:40] bfelbo commented on #77836
Awesome. Excited for this!

[2019-07-30 16:42] #78171 closed

[2019-07-30 16:44] garyericson commented on #78129
I assume you mean running powershell while in the helloworld folder. I get the following messages and then it just sits there. I'm not sure how or when to close it.

[9:41:46 AM] Starting compilation in watch mode...

[9:41:48 AM] Found 0 errors. Watching for file changes.

[2019-07-30 16:53] #78160 closed

[2019-07-30 16:54] octref commented on #78160
Good catch, 0 index was converted to false.

[2019-07-30 17:02] sandy081 commented on #78062
Fixed sorting. Please check in latest build

![image](https://user-images.githubusercontent.com/10746682/62149664-e2139800-b319-11e9-8c13-b3f95eef2bc9.png)

[2019-07-30 17:05] sbatten commented on #78154
@jrieken this is by design, though there is clearly a UX discussion to be had here. The editor is now snappable meaning it can be snapped away just like the rest of the parts.

[2019-07-30 17:05] yury-s commented on #77955
@alexr00 thanks for explaining, that makes sense now. I assumed that the terminal was using `problemMacher` definition because it would jump to exact location of an error in the source files, apparently default linkifier is smart enough to recognize `<source>:<line>:<col>` outputs.

[2019-07-30 17:06] misolori commented on #78151
I'm also seeing this but only within a function (see below after typing `console.log()` and adding a parenthesis):

![overtyping](https://user-images.githubusercontent.com/35271042/62149950-b78df480-b2b1-11e9-8883-7db4376a9f4d.gif)

[2019-07-30 17:09] sandy081 commented on #78107
Is it possible to capture the logs next time you see it and provide it to us?

[2019-07-30 17:10] Arasthel commented on #78127
I have the same issue, and I can confirm the insiders version doesn't fix this.

I use the same version of Catalina as @BryanHunt (19A512f), that is, Beta 4.
Same format in launch.json file.
Node version is 12.1.0.

However, I found something that could be helpful: when using `Cmd+P` to quickly open files in my workspace some appear twice, showing either an absolute path or a relative one. Breakpo

[2019-07-30 17:12] sandy081 commented on #77181
Yeah makes sense to me. Here is the place where we render the extension in extension viewlet -
https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/extensions/browser/extensionsList.ts#L144

[2019-07-30 17:16] sandy081 commented on #71126
Reopening it as it is quite often reported in our error telemetry

[2019-07-30 17:17] sandy081 commented on #78182
/duplicate

Tree element not found

[2019-07-30 17:17] #78182 closed

[2019-07-30 17:22] misolori opened #78200 "Overtyping not working for css pseudo-classes"
Testing https://github.com/microsoft/vscode/issues/78118

**Steps to reproduce**
1. Open a CSS file
2. Use any of the pseudo-class tags that have a parenthesis (ex: `nth`, `not`, `matches`)
3. Attempt to close the parenthesis
4. 🐛 Overtyping does not work

![Screen Recording 2019-07-30 at 10 11 29 AM 2019-07-30 10_16_47](https://user-images.githubusercontent.com/35271042/62150584-3f283300-b2b3-11e

[2019-07-30 17:23] RandomGHUser commented on #75604
I too am having this exact same problem.  I would expect my prelaunch task (which stops my remote process, builds and pushes my project to the remote box, then restarts the remote process) to finish executing before picking the process to attach to.

There are easy enough workarounds, but it should be able to work in a one-step process.

[2019-07-30 17:24] sandy081 commented on #78185
Above call stack is not correct as it is not matching with the code.

[2019-07-30 17:24] jabby commented on #77582
In fact we build our packaging in several steps.

* First we download a vscode tar.gz archive.
* Then we pack each needed server via `npm pack`.
* Finally we install dependencies.

All steps are managed by our pom.xml.
Please have a look herehttps://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/pom.xml

[2019-07-30 17:31] tebeco commented on #78107
yes of course ;) it seems obvious now ^^ i completely forgot about that.

i was too focused on managing to load the IDE.
i think i raised an similar issue few week/month ago but for a full uninstall ...
at that time there was no cleanup (it's probably still not cleaning up by default now)

that's probably why i wipe out the extension on disk.
i would love to see proper cleanup on uninstall in orde

[2019-07-30 17:38] thkrishn commented on #78126
Do you have internet connection on your remote host? Yes

Do you use a proxy connection? No

Did you checked the SSH config for the SSH-Daemon (sshd_config) on your remote host?
Did you compared the SSH Daemon config with your local SSH config? Sometimes a setting is required or missed.
please provide details about what should be present

I am able to  ssh into  `machine1.domain` , access the inte

[2019-07-30 17:39] SimonSiefke commented on #76989
works great, thanks!

[2019-07-30 17:43] misolori opened #78201 "Overtyping not working on html attributes via autocomplete"
Testing https://github.com/microsoft/vscode/issues/78118

**Steps to reproduce**
1. Open an HTML file
2. Create a `div` and use autocomplete for any attributes (ex: `class` or `id`)
3. :bug: When using autocomplete, typing a closing `"` will not overtype

Also noticed that when not using autocomplete and manually typing the attributes that it works (example below shows this when I add an `id`)

![

[2019-07-30 17:43] russelldavis opened #78202 "Peek Definition popup is displayed below visible area"
- VSCode Version: 1.36.1 (also repros on insider's build)
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:
1. Add the following code to a javascript file, following the instructions in the comments:
[code]
2. Place the cursor on `foo` on the last line.
3. Run the Peek Definition action.
4. The Peek Definition popup will show below the current line, outside of the visible area of the editor.

[2019-07-30 17:47] Tyriar commented on #78057
@unihon in insiders (and the upcoming version of vscode) will resize the panel when using resize up/down

[2019-07-30 17:48] SimonSiefke opened #78203 "webview blocked script execution"
- VSCode Version: 1.37.0-insider
- OS Version: Ubuntu 18.10

Steps to Reproduce:

1. Download webview sample (https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample)
2. npm install
3. launch extension (extension works as expected)
4. reload window
5. webview panel is restored but script execution is blocked

![script-execution-blocked](https://user-images.githubuserconten

[2019-07-30 17:50] Tyriar commented on #78180
@aeschli any suggestions? "dimensions" refer to the outer panel dimensions, "override dimensions" let pty's override the panel dimensions to something smaller

[2019-07-30 18:04] Tyriar opened #78204 "Preserve case behaves unexpectedly, taking caps from both source and replace"
#78133

For this:

![image](https://user-images.githubusercontent.com/2193314/62153009-88c74c80-b2b8-11e9-8096-e097da9daca0.png)

The case of only the first capital from the search result is retained, not the second

![image](https://user-images.githubusercontent.com/2193314/62153022-8fee5a80-b2b8-11e9-9167-4046a4919660.png)

---

For this:

![image](https://user-images.githubusercontent.com/21933

[2019-07-30 18:06] rcsmith00 opened #78205 "Terminal Window does not parse line number for IAR compiler errors"
Issue Type: <b>Bug</b>

Using an IAR cross-compiler, if you click on the error, VS Code always navigates to line 1 of the file instead of the line with the error.  Here is some example syntax:

      myFunction();
                 ^
"C:\repos\file.c",80  Error[Pe165]:
          too few arguments in function call

      pVar = Var;
           ^
"C:\repos\file.c",81  Error[Pe513]:
          a value

[2019-07-30 18:07] michaelwestbrook commented on #77838
Yes it does. That is how I am running it now. However I am also unable to reproduce the issue on my work machine. I will try to reinstall VSCode and update here with the results.

[2019-07-30 18:08] sana-ajani commented on #78115
Works on Windows 👍

[2019-07-30 18:09] Tyriar commented on #78204
If this is not how you're meant to use the feature, should we disable the preserve case toggle if there are caps in the replace term?

[2019-07-30 18:13] #78157 closed

[2019-07-30 18:15] octref commented on #71996
It's not in insider yet. Wait a bit.

[2019-07-30 18:16] lramos15 commented on #56773
<img width="460" alt="Screen Shot 2019-07-30 at 11 15 07 AM" src="https://user-images.githubusercontent.com/4544166/62154342-54a15b00-b2bb-11e9-95bb-a04ac295a9a5.png"> I do not see an option to not show this error again.

[2019-07-30 18:21] #77586 closed

[2019-07-30 18:31] Tyriar commented on #78205
https://github.com/microsoft/vscode/commit/183deef5f43d77dc0c13e8accc41f5dff492a434

[2019-07-30 18:31] #78205 closed

[2019-07-30 18:32] #78026 closed

[2019-07-30 18:34] Tyriar commented on #77955
The terminal links are powered by this block of regexs 🙂

https://github.com/microsoft/vscode/blob/183deef5f43d77dc0c13e8accc41f5dff492a434/src/vs/workbench/contrib/terminal/browser/terminalLinkHandler.ts#L39-L46

[2019-07-30 18:36] lramos15 opened #78206 "Terminal CWD doesn't resolve relative variable references"
Issue Type: <b>Bug</b>

If you utilize a relative variable reference such as `${relativeFileDirname}` it returns a relative directory which cannot resolve to a valid CWD. The relative variable references are relative to the workspace folder so we should resolve the path or the user will have to do something like `${workspaceFolder}/${relativeFileDirname}`

VS Code version: Code - Insiders 1.37.0-i

[2019-07-30 18:40] Tyriar commented on #78184
Repro: create a terminal and kill it

[2019-07-30 18:44] octref commented on #70731
Oops, tagged wrong issue.

[2019-07-30 18:46] octref commented on #70371
Fixed by https://github.com/microsoft/vscode/pull/78207.

[2019-07-30 18:46] #70371 closed

[2019-07-30 18:58] octref opened #78208 "Focus is lost when dismissing modal dialog in custom tree commands"
Testing #78101

- Install GitLens
- Navigate with keyboard to "Compare master (working) with..."
- Enter, Reveals quick open picker
- ESC to cancel
- Focus is lost

![bug](https://user-images.githubusercontent.com/4033249/62157062-2aeb3280-b2c1-11e9-8d51-46b760713936.gif)

Compare this with Git tree:

![good](https://user-images.githubusercontent.com/4033249/62157110-46563d80-b2c1-11e9-85bf-0bee0c

[2019-07-30 19:05] hectormartin42 opened #78209 "Support for Skype chat"
I will be great to have integrted skype chat on it

[2019-07-30 19:09] hornta opened #78210 "Recent items not showing in taskbar list"
- VSCode Version:
- OS Version:
![image](https://user-images.githubusercontent.com/4553604/62157516-a672d100-b30d-11e9-8284-7b1df75ff647.png)

Steps to Reproduce:

1. Open any folder
![image](https://user-images.githubusercontent.com/4553604/62157766-36b11600-b30e-11e9-953e-14cfd0197152.png)

2. Restart vscode, that folder is not in the recent list in the taskbar
![image](https://user-images.githu

[2019-07-30 19:14] thkrishn commented on #78126
So one thing I observed in the `machine.domain:/tmp` there are `*.sock`  files
Once I just removed those files I was able to connect from both vscode and code-insiders

I am not sure if this is the fix but that helped

[2019-07-30 19:17] panoply commented on #36280
Should be easy enough to write a quick grammar injection to support both `application/json` and `application/ld+json` and then offer it as an extension. A simple capture like:

[code]
Would suffice. I'll give it a go.

[2019-07-30 19:17] hornta commented on #78209
Disagree. Seems uneccessary. This is an IDE.

[2019-07-30 19:21] #77695 closed

[2019-07-30 19:31] trish77 opened #78211 "Since update intellisense and code formating not working"
Even emmet does not work, code completion not working.. none of my extensions seems to work since about 2-3 weeks

[2019-07-30 19:36] v-kydela commented on #53262
@jrieken - Any updates?

[2019-07-30 19:36] mkanet opened #78212 "PowerShell not applying syntax highlighting color to methods"
One of the first things I noticed when switching from Sublime Text 3 to VSCode for PowerShell code is VSCode doesn't change the syntax highlighting color for methods.  In Sublime Text 3 and PowerShell IDE, methods use a separate color.  VSCode method color is the same color as variables.  Below, both editors are using the same TextMate color scheme:

**Sublime Text 3:**
![Sub](https://user-images.

[2019-07-30 19:58] #78101 closed

[2019-07-30 20:22] letmaik opened #78213 "Remember recent user input variables in launch configs"
It would be extremely useful if VS Code would remember recent values used for user inputs of type "promptString" and offer them as quick input.

[2019-07-30 20:25] letmaik opened #78214 "Add promptPath as user input type for launch configs"
Currently, a user input that is a path has to be declared as "promptString". Since VS Code has a path selector built-in, it would be great if this was exposed as new type, e.g. "promptPath".

[2019-07-30 20:25] #77952 closed

[2019-07-30 20:27] IcedLife commented on #77952
It just takes too long for Parser to parse the files it seems.  At least, after like 10 mins, and I reopened the file it is syntax-colored

[2019-07-30 20:33] octref commented on #78129
@alexr00 I see this error message: `The terminal process command 'C:\Windows\System32\wsl.exe-e npm run watch' failed to launch (exit code: 1)`

Notice the connecting `wsl.exe-e`. I suspect that's the cause.

[2019-07-30 20:33] jordychetty opened #78215 "Dark and Dark+ Theme Opacity"
# Issue
Using **MacOS Mojave (v 10.14.6)**, when I change my display profile to anything other than the default, the opacity increases drastically on the Dark and Dark+ colour themes. The main editor window and explorer are predominantly affected.

## Steps to reproduce
- Change colour profile on MacOS. System Preferences > Displays > Colour, then choose a non-default profile (ACES CG Linear, for

[2019-07-30 20:34] panoply commented on #36280
Here: [vscode-json-script-tag](https://github.com/panoply/vscode-json-script-tag)

Leverages grammar injection, injects support into the HTML language. I included  `ld+json` support too. Hope it helps.

[2019-07-30 20:35] lramos15 commented on #78123
It was unclear to me that the terminal dimensions have a min of 2 based on the docs.

[2019-07-30 20:36] #78123 closed

[2019-07-30 20:37] lramos15 commented on #78123
@aeschli I saw that you unassigned yourself, but didn't check the box so I assumed you completed testing and checked the Linux box. Feel free to uncheck and reopen the issue if that's not the case :+1:

[2019-07-30 20:38] egamma commented on #78179
@alexr00 I've should added some more information about the consequences of the current implementation. I've added more information to the description (see **added** above).

[2019-07-30 20:42] DeanRoddey opened #78216 "Directories created under Linux don't show in VSC explorer on Windows"
So I have a large C++ development environment repository ( https://github.com/DeanRoddey/CIDLib) which is highly portable and I'm working on the Linux platform driver for it. I created a sub-directory on the Linux side. When I git pull those changes down to the Windows side, the Linux created sub-directory doesn't show up in VSC's explorer.

I've checked the permissions of the directory and contai

[2019-07-30 20:48] MashaMSFT opened #78217 "Highlight disappears from items in Search"
Issue Type: <b>Bug</b>

This is kind of difficult to explain so bear with me. When you're performing a search in VS Code, and you select an item, that item is highlighted from the list in the left pane. However, as soon as you click the file open, and make a change, the highlighting on the left pane disappears. When trying to make bulk updates to a number of files, this is really frustrating becau

[2019-07-30 20:50] #78206 closed

[2019-07-30 20:50] MashaMSFT commented on #78217
i have a video example of this but i'd like to post it somewhere privately.. please feel free to contact me directly for further explanation :)

[2019-07-30 20:55] lramos15 commented on #78209
There are various extensions which integrate chats from various platforms into VS Code. I would recommending taking a look at those and trying to write something similar for Skype.

[2019-07-30 20:55] #78209 closed

[2019-07-30 21:03] ksk-waqs opened #78219 "Emmet wrap empty lines"
- VSCode Version: 1.36.1 (user setup)
- OS Version: Windows 10 Home x64

Steps to Reproduce:

![emmet-wrap-empty-lines](https://user-images.githubusercontent.com/3883054/62165197-93202f80-b326-11e9-9ddd-aa263586480a.gif)

Does this issue occur when all extensions are disabled?: **Yes**

[2019-07-30 21:11] jmillikin-stripe commented on #78134
I understand that workspace settings are intended for settings that are reasonable for all users. Unfortunately, there are some repositories whose owners encode more personal preferences into the `.vscode/settings.json`. I strongly prefer my editor's behavior to be consistent between workspaces, just as way web browsers don't change e.g. key bindings between websites, so I would like a way to comp

[2019-07-30 21:19] vlmphipps commented on #9798
Insiders now works as expected :D

[2019-07-30 21:22] jareds opened #78220 "It is impossible to find current line and column number when using a screen reader."
- VSCode Version: 1.36.3
- OS Version: Windows 10 insider

Steps to Reproduce:

1. Open any file in the edotor.

Does this issue occur when all extensions are disabled?: yes

It is impossible to get the current line and column number when using screen reading software. This is a particular issue when editing files where indentation matters such as YAML. For example

[code]

To know that item2a is

[2019-07-30 21:26] dslpp056193 commented on #71996
Is a bit - you mean we have no chance to resolve this critycal for developer problem?)
This problem follows from when vscode released emmet from the box. We have no problem before, but now we have a lot of problem with default emmet - it does not support a lot of shortcuts from original emmet and have a lot of bugs by default installation.

I loved vscode and developed several extensions, but now

[2019-07-30 21:34] octref commented on #71996
It's already resolved.

You can either build from source or wait for another release of Insiders version coming out this afternoon.

[2019-07-30 21:39] graysonwebster opened #78221 "Cannot find debug adapter for type 'node'."
Issue Type: <b>Bug</b>

Attempting to launch or attach a Node.js debugger fails with the error message:

"Cannot find debug adapter for type 'node'."

It seemed to work before updating to v1.36.1. Here's a [Stack Overflow thread](https://stackoverflow.com/questions/57169312/cannot-find-debug-adapter-for-type-node) discussing this issue.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff8

[2019-07-30 21:41] octref commented on #77449
I can't repro. Here's what I tried:

- Have below contribution:

[code]

![bug](https://user-images.githubusercontent.com/4033249/62167426-11a1b080-b2d8-11e9-97e8-df7209b5a878.gif)

[2019-07-30 21:42] EricJizbaMSFT opened #78222 "Custom view onDidChangeTreeData event doesn't refresh label"
Issue Type: <b>Bug</b>

## Repro steps:
1. Clone ej/treeBug2 branch from this repo (Or see below sample code): https://github.com/EricJizbaMSFT/helloworldext/tree/ej/treeBug2
1. F5 the extension and open the custom view with the beaker icon
1. Right click on '0' node and select "incrementAndRefresh"
![Screen Shot 2019-07-30 at 2 34 31 PM](https://user-images.githubusercontent.com/11282622/62167051

[2019-07-30 21:46] octref commented on #77452
@roblourens I assume this is as-designed to show some action?

[2019-07-30 21:46] #77456 closed

[2019-07-30 21:47] octref commented on #77456
This functionality is not provided yet. We don't have much validation in settings editor.

[2019-07-30 21:48] octref commented on #77461
Not in scope, as we don't even have support in settings editor to give intellisense for enums.

[2019-07-30 21:49] #77461 closed

[2019-07-30 22:08] roblourens commented on #78031
https://github.com/microsoft/vscode/issues/12185

[2019-07-30 22:08] #78031 closed

[2019-07-30 22:13] zersiax commented on #78220
I will add here that the go to line dialog will tell you your current line. However, a quick way to query the current column is indeed missing, at least to my knowledge.

[2019-07-30 22:16] roblourens commented on #77452
It doesn't seem like a big problem but it's not pretty and doesn't match other lists. It's probably an easy fix to check whether we are already at the first or last row.

[2019-07-30 22:17] jonschlinkert commented on #78110
This probably isn't a vscode issue. Might be a regex support question better suited for stackoverflow.

[2019-07-30 22:20] lramos15 opened #78223 "Iframe webvviews don't allow webview dev tools"
Issue Type: <b>Bug</b>

Testing #77132
When using iframe based webviews I'm unable to open the webview developer tools.

VS Code version: Code - Insiders 1.37.0-insider (cf03ea3729dc37e439d724267ad29dc5840f903a, 2019-07-30T07:10:53.695Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU S

[2019-07-30 22:21] lramos15 opened #78224 "Iframe webvviews capture keybindings"
Issue Type: <b>Bug</b>

Testing #77132
On windows using iframe based webviews.

I'm unable to open the command palette because the iframe captures the keybindings.

VS Code version: Code - Insiders 1.37.0-insider (cf03ea3729dc37e439d724267ad29dc5840f903a, 2019-07-30T07:10:53.695Z)
OS version: Windows

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H

[2019-07-30 22:24] sbatten opened #78225 "Deprecated Tag strikethrough renders strangely multicolored"
Testing #78096

When a strikethrough renders over some text it can change opacity and color multiple times depending on the underlying tokens. This makes the strikethrough look bad IMO. It should be one solid color and above the underlying text.

When two diagnostics overlap, it can be even worse:
![image](https://user-images.githubusercontent.com/6561887/62169939-955e9b80-b2de-11e9-9c1a-7f631f562

[2019-07-30 22:24] roblourens commented on #78126
I am not sure what those files are from. I would need the full log to understand what happened. Please let me know if this happens again.

[2019-07-30 22:24] #78126 closed

[2019-07-30 22:26] sbatten opened #78226 "Deprecated Tag shows now indication in the Problems panel"
Testing #78096

Diagnostics tags as deprecated don't show any indication in the Problems panel. Maybe they should?

[2019-07-30 22:28] sbatten commented on #78096
API works fine, filed issues as feedback but they can easily be closed as designed.

[2019-07-30 22:33] rebornix commented on #78050
This is how I test this feature

* Clone https://github.com/microsoft/vscode-extension-samples/tree/rebornix/78050/webview-sample
* Open the folder and start debugging in local VS Code and debug, run Cat Coding command
* Open the folder and start debugging in web , run Cat Coding command

In both cases, you should be able to see the gif. The code change I made is in https://github.com/microsoft/vs

[2019-07-30 22:36] rebornix commented on #78113
❤️

[2019-07-30 22:37] rebornix commented on #78204
@Tyriar good suggestion, we should disable the option if the pattern is not supported yet.

[2019-07-30 22:39] SephReed opened #78227 "Distance based import suggestions for typescript"
The ordering of these two imports is illogical:

`import { ISpansJSON } from 'MultipleChoiceQuestion/src/MultiChoiceQue';`
![Screen Shot 2019-07-30 at 5 36 50 PM](https://user-images.githubusercontent.com/14002040/62170342-b16b3880-b2f0-11e9-9236-016616e3ad85.png)

`import { ISpansJSON } from '../ISpansJSON';`
![Screen Shot 2019-07-30 at 5 36 57 PM](https://user-images.githubusercontent.com/140020

[2019-07-30 22:42] octref commented on #77463
Good catch. Merged into #78162.

[2019-07-30 22:42] #77463 closed

[2019-07-30 22:42] #78087 closed

[2019-07-30 22:45] lramos15 commented on #56773
This works as expected, I just wasn't aware it was hidden under the gear

[2019-07-30 22:45] #56773 closed

[2019-07-30 22:46] rebornix commented on #71238
After adding more log I think we find the root cause for the particular case @octref is running into: Editor Config has a document watcher which tries to set selections, when the extension host is being blocked by some heavy lifting work, Editor Config messed up with the current selection.

For everyone who has similar issues but didn't know which extension might modify the selection, you can narr

[2019-07-30 22:46] #71238 closed

[2019-07-30 22:47] shawmanz32na commented on #77998
Update: upon further usage, this seems to happen anytime there is a long-running process in VS Code that causes the loading/activity spinner to appear in the bottom toolbar.

[2019-07-30 22:52] octref commented on #78162
Good catch. The "fast update" only applied when list DOM element is in focus but not when list item is in focus.

[2019-07-30 22:53] sbatten commented on #75999
@joaomoreno We get these randomly all the time, I think I am just going to debounce the first click by 50ms or so

[2019-07-30 22:54] #78162 closed

[2019-07-30 22:58] SephReed commented on #78227
Another nice priority would be importing from already existing paths, rather than new ones.

[2019-07-30 22:58] rebornix commented on #73557
Ctrl+Space is Windows' built in keyboard shortcut for switching IMEs. You may want to change it to others which don't conflict with VS Code's keybindings, or modify VS Code's keybindings.

[2019-07-30 22:59] #73557 closed

[2019-07-30 23:00] #73521 closed

[2019-07-30 23:03] rebornix commented on #73083
The built in Join Lines is not context aware. Good suggestion though. It can also be done by an extension.

[2019-07-30 23:03] #73083 closed

[2019-07-30 23:05] softcoder commented on #77547
Same problem here (using the latest Pop- OS) never had these problems until the last few weeks, especially once I open a JAva file in my Flutter project.

[2019-07-30 23:07] lramos15 commented on #76925
Seti icons still show the settings.json as Typescript for me

[2019-07-30 23:21] #77775 closed

[2019-07-30 23:26] lramos15 opened #78228 "Grid Layout snapped terminal reverts to min size"
Issue Type: <b>Bug</b>

1. Snap terminal away at the bottom of vs code
2. Reveal it again

The terminal will be the minimum size possible.

VS Code version: Code - Insiders 1.37.0-insider (cf03ea3729dc37e439d724267ad29dc5840f903a, 2019-07-30T07:10:53.695Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz

[2019-07-30 23:26] sana-ajani commented on #78200
Overtyping works for me in this case. (on Windows machine)

[2019-07-30 23:27] sbatten commented on #71580
last commit is to fix the previously mentioned prevent default issue

[2019-07-30 23:27] sana-ajani commented on #78201
Overtyping also works for me in this case (on Windows machine)

[2019-07-30 23:29] sana-ajani commented on #78201
I also see this on Windows! (overtyping doesn't work when autocomplete is used, but does when manually typing)

[2019-07-30 23:43] plsloan opened #78229 "VS Code won't open with Linux Kernel 5.2.4"
- VSCode Version: 2213894e (from Ubuntu store)
- OS Version: Ubuntu 19.04

Steps to Reproduce:

1. Run "code" in the command line
2. Output is...

/snap/code/11/electron-launch: line 28: /snap/code/11/usr/lib/x86_64-linux-gnu/gdk-pixbuf-2.0/gdk-pixbuf-query-loaders: No such file or directory
/snap/code/11/usr/share/code/bin/code: line 44: /snap/code/11/usr/share/code/bin/../code: No such file or d