[2018-10-02 08:53] #59697 closed

[2018-10-02 08:55] aeschli commented on #59698
@shepelevstas Can you add a screenshot?

[2018-10-02 08:56] Zundrium commented on #59300
Sorry for my late response, but this works perfectly @bpasero ! I hope this will be used by default some day :)

[2018-10-02 08:59] chrmarti commented on #59114
@Tyriar This happens quite often (testing on Linux) and will make it difficult to spot other errors. I'd suggest to still fix this for the September milestone.

[2018-10-02 09:01] aeschli commented on #59726
![html-script-indent](https://user-images.githubusercontent.com/6461412/46339199-78135f00-c632-11e8-81a7-dc1b0dd089d1.gif)

That's what I see. Is this about the new line missing?

[2018-10-02 09:04] sandy081 commented on #58918
@joaomoreno Git extension is not finishing activation when git is disabled

https://github.com/Microsoft/vscode/blob/4c963c08950f9c4b5623f4064f671967f13cd4ea/extensions/git/src/main.ts#L142

While executing a command which is not registered, we trigger `onCommand:command` activation event and wait until those extensions activate by this command and also those extensions eagerly activate (by `*`),

[2018-10-02 09:08] #59761 closed

[2018-10-02 09:11] bpasero opened #59818 "Tree: allow selectAll()"
Without having to pass in elements or provide a way to select all in the tree.

[2018-10-02 09:12] #59231 closed

[2018-10-02 09:12] #59164 closed

[2018-10-02 09:14] aeschli commented on #59776
Only one request per issue, please.

Using this one for issue 1.

Issue 3 is #53886

[2018-10-02 09:25] Zaeyi opened #59820 "raw_input() extra \r in the returned string"
- VSCode Version:1.27.2
- OS Version:windows10

Steps to Reproduce:

1.I am a primary Python learner, when I use raw_input(), The length of the string is always one bit more than what it should be. When print it, it looks no problem in VSCODE console. And then I find the end of the string is \r, but when I use CMD or Pycharm this problem doesn't exist, So I think this may be VSCODE's wrong.

Does

[2018-10-02 09:35] masimplo opened #59821 "Slow code navigation and autocomplete"
Issue Type: <b>Performance Issue</b>

Go to definition for typescript files included in the projects takes several seconds.
Autocomplete also takes a few seconds to show results for the first autocomplete I do per file.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Va

[2018-10-02 09:43] slang25 commented on #217
Selfishly, I want image support and html/rtf, so that extensions like polacode can put an image on the clipboard.

My scenario is I want to be able to quickly paste code samples into slides and blog posts, I had to write my own tool to work around this: https://github.com/slang25/html-copy-vscode.

[2018-10-02 10:06] chrmarti commented on #426
Available for a while: https://github.com/Microsoft/vscode/blob/d3a6a234497b9028b02f20465b9b6d1a0158d2f1/src/vs/vscode.d.ts#L6804

[2018-10-02 10:06] #426 closed

[2018-10-02 10:07] #11464 closed

[2018-10-02 10:11] #11913 closed

[2018-10-02 10:13] Hrnkas opened #59822 "search.useRipgrep ignores exclude setting"
It seems that search.useRipgrep ignores the exclude settings.
I had problem that my search results always included the .svn directory.
Exclude started working when I disabled search.useRipgrep.

My Environment:
Windows 10
VSC installed in User Directory (as recommended per last Update).
My code is on an Active Directory roaming profile (\Redir$\Bojan\Documents\Projects\...\commissions_table.php)

[2018-10-02 10:14] chrmarti commented on #49066
/duplicate #14934

[2018-10-02 10:14] #49066 closed

[2018-10-02 10:16] #18887 closed

[2018-10-02 10:21] chrmarti commented on #18927
Seems to be fixed in the latest. Probably an Electron issue.

[2018-10-02 10:21] #18927 closed

[2018-10-02 10:29] chrmarti commented on #20303
This could be an additional value for the `"workbench.startupEditor"` setting.

[2018-10-02 10:29] #19249 closed

[2018-10-02 10:30] #20449 closed

[2018-10-02 10:37] Joey79100 commented on #1012
I'm surprised this isn't supported, and no dev seem to even care about it, seeing the lack of answers here.
This is a very basic toggle, it's included in the keyboard, so it should be included by default, **not** through an extension. Otherwise _Caps lock_ could as well be removed from basic features and be included as an extension. Same with _Num pad_ toggle. Or the mouse wheel... the list can go

[2018-10-02 10:42] #35701 closed

[2018-10-02 10:43] isidorn commented on #59795
Thanks a lot for filling this issue with great steps and detail.
I have explained the reson what caused this regression in https://github.com/Microsoft/vscode/pull/59819
This pr is merged, so this should be fixed in the next stable and from Insiders tomorrow.

I have verified this worked for me when doing a live share session with myself on my mac.
Though it would be great if you can also verify @

[2018-10-02 10:43] chrmarti commented on #36442
/duplicate #18984

[2018-10-02 10:43] #59795 closed

[2018-10-02 10:43] #36442 closed

[2018-10-02 10:45] chrmarti commented on #37214
This was changed to open `shell.azure.com` which lands in the Cloud Shell directly.

[2018-10-02 10:45] #37214 closed

[2018-10-02 10:46] dimensi commented on #59722
@mjbvz some problem on insider
![image](https://user-images.githubusercontent.com/11390039/46344338-87ea6d80-c649-11e8-981f-d4fd80ceb315.png)

[2018-10-02 10:49] chrmarti commented on #37806
@buehler Is this still an issue?

[2018-10-02 10:53] chrmarti commented on #38778
See also #31450.

[2018-10-02 10:53] #38778 closed

[2018-10-02 10:54] chrmarti commented on #39287
That has been updated since.

[2018-10-02 10:54] #39287 closed

[2018-10-02 10:56] #40786 closed

[2018-10-02 10:57] LegoChicken commented on #35701
@chrmarti Hi, could you clarify how to add the appropriate exclusion to search.exclude and how this would prevent files appearing in quick open. Thanks.

[2018-10-02 10:57] #41315 closed

[2018-10-02 10:58] BillDenton commented on #35701
@chrmarti Hi, could you clarify how to add the appropriate exclusion to search.exclude and how this would prevent files appearing in quick open. Thanks.

[2018-10-02 10:58] #41861 closed

[2018-10-02 11:13] rokcarl commented on #15370
My use case is that I have `secrets.env` where I store all my secrets. Obviously I don't commit this file, so it's in `.gitignore`. But because of that, I can't edit this file in VS Code because it doesn't show up at all.

[2018-10-02 11:32] b3rgman commented on #59468
Thanks @KnisterPeter.

@joaomoreno  Please re open and explain how this worked in the past and it did not.

[2018-10-02 11:57] Lovecircle commented on #53886
Please change this or give an option to "unfold code on double-click" for example. I cannot say how many times I accidentally unfolded blocks of code by simply clicking on what appeared to be just an empty space in the editor - very annoying.

[2018-10-02 12:09] gbobva commented on #59777
Good afternoon. Thank you for your reply .I apologize for my inattention. I
figured out the problem by myself.
The point was that Powershell ISE saves files with encoding utf8bom, and
Visual Studio Code saves in encoding utf8 by default.

вт, 2 окт. 2018 г. в 3:39, Rachel Macfarlane <notifications@github.com>:

--
С уважением.
Герасимов.

[2018-10-02 12:31] paniq commented on #28795
same problem here. vscode interacts badly with chrome.

[2018-10-02 12:31] ivankravets opened #59823 "Webview's "retainContextWhenHidden" is broken in the latest 1.28"
- VSCode Version: 1.28-insider ( 99b5434b0a90a024caab1cb35a1f7ca06708fefc )
- OS Version: macOS 10.13.6

See https://github.com/platformio/platformio-vscode-ide/issues/346 .

@mjbvz Could you fix this issue? Otherwise, we have to inform our community to avoid updating to VSCode 1.28. It totally breaks our web-based PlatformIO Home.

Thanks in advance!

[2018-10-02 12:33] wraith13 commented on #54111
Because it happens like the image below, I am very sad.
![image](https://user-images.githubusercontent.com/645907/46348601-76758580-c68a-11e8-9769-68965170064a.png)
![image](https://user-images.githubusercontent.com/645907/46348663-a886e780-c68a-11e8-8975-787d064d158c.png)
![image](https://user-images.githubusercontent.com/645907/46348693-c6ece300-c68a-11e8-870d-13221d31bb08.png)

[2018-10-02 12:36] wraith13 commented on #54111
I strongly hope to be able to localize README as well.

( I tryed `"readme" : "%readme%"` in package.json, but it did not work too. )

[2018-10-02 12:40] jul1u5 commented on #50291
I would like to try to implement this feature. I've found the [directory](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest) in which I think I should create this filtering behaviour. I don't know, though, where in particular this feature should reside. It would be best if someone would give a quick high-level overview of `suggest` folder.

[2018-10-02 12:50] iamnapo commented on #31450
Hello, can I work on that?

[2018-10-02 13:06] chrmarti commented on #37932
Need to reconcile with `"workbench.commandPalette.preserveInput"`.

[2018-10-02 13:08] erasmo-marin commented on #12578
OSX here, transparent backgrounds are very common in Mac OS, even system apps like finder use it. Please do it ❤

[2018-10-02 13:11] saidbakr commented on #59809
No it is not like the regarded issues above.

[2018-10-02 13:20] glha commented on #59561
I'm facing this issue every save attempt with 1.27.x, no issues whatsoever with 1.26.1, same files, same extensions, even with all extensions disabled. I can't install full Node.js on my machine right now, is there another way I can help you find this issue? If the answer is no, I will be able to install Node.js in a couple of days and will run the fs.writeFileSync command then.

[2018-10-02 13:20] RayCore opened #59824 "Variable for the software's path."
I'm using the zip version of vs-code(aka portable) with MinGW for school, it would be nice to have a variable that points to the code.exe file, so that i could specify the compiler path relative to that location.
Something like "${appPath}/...".

For now i have to use a path relative to the working folder, which enforces me to place my projects in a specific folder.
I could hard code the paths in

[2018-10-02 13:28] chrmarti commented on #35701
Hi @BillDenton, in the settings editor:
- Switch to the settings of the folder you want to exclude.
- Add the `**/*` pattern.

That will let QuickOpen skip all files from that folder. Note that the setting is stored in the folder's `.vscode/settings.json`.

[2018-10-02 13:40] dromer commented on #1957
Wow yes, I was looking for this option as well. The debug window font is so large and line-spacing is so big. I can't fit nearly enough data on the screen (and I'd like to be able to see my code as well ..)
Imo both these should be configurable so one can set optimal settings for these.

[2018-10-02 13:40] uppe-r commented on #42812
Hey, I'd love to work on this issue. Got any tips for how should I start?
I believe the [#41582](https://github.com/Microsoft/vscode/pull/41582) PR gives a great starting point.

[2018-10-02 13:41] #42976 closed

[2018-10-02 13:42] chrmarti commented on #43312
/duplicate #21512

[2018-10-02 13:42] #43312 closed

[2018-10-02 13:42] jrieken commented on #59804
we need to know more, please follow this guide: https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2018-10-02 13:43] #44382 closed

[2018-10-02 13:44] chrmarti commented on #44382
@angelo-mollame We are trying to keep the main product small. Extensions are the best way to add features.

[2018-10-02 13:47] #45081 closed

[2018-10-02 13:47] #45099 closed

[2018-10-02 13:52] Double-A-92 commented on #48490
That might not always work, because the cloned repo could've been deleted by the user.

[2018-10-02 13:52] aeschli opened #59826 "File icons for QuickPickItem"
It would be great if the QuickPickItem also can specify an icon as well as a file icon from the file icon themes.

[2018-10-02 13:58] uppe-r commented on #20303
Hey, I could look into this. Got any tips on where I should start?

[2018-10-02 14:00] #45853 closed

[2018-10-02 14:02] chrmarti commented on #46668
There is a selection event in the new API.

[2018-10-02 14:02] #46668 closed

[2018-10-02 14:06] #51641 closed

[2018-10-02 14:07] cmeyerPfcu commented on #41309
Sadly.. but I hope this helps...
Visual Studio Code keyboard shortcuts for Windows
https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf

[2018-10-02 14:09] chrmarti commented on #53232
/duplicate #59232

[2018-10-02 14:09] #53232 closed

[2018-10-02 14:28] ronnyek commented on #41309
I think everyone appreciates the info... as that's my primary reason for for asking for a toolbar.... so many commands to remember or to search through with command window commands.

I really dont think it'd take all that much work to build said toolbar... but the problem is I'm afraid the vscode devs still have no interest, no plans, no second thoughts about a toolbar. I'm fairly confident a pull

[2018-10-02 14:29] roblourens commented on #59492
What text does it insert? In Insiders right now for me VoiceOver seems like it isn't reading the setting name.

[2018-10-02 14:29] saileshkush95 opened #59827 "Single Click and Double click"
I just want to select select item on single click and preview item on double click. Is there any way to achieve this or need to implement this features.
Any way thanks for this amazing code editor

[2018-10-02 14:29] salmankhann opened #59828 "Xcode like completion for IntelliSense"
I love the IntelliSense that comes with VSCode but I would like an option for autocompletion like XCode that instead of pressing tab to select an option, cycles through to the next available Capital letter in the suggestion.

For example, if the IntelliSense suggests the following 2 list items 'imageView' and 'imageViewInFrame', pressing tab once will highlight image, tab twice will highlight imag

[2018-10-02 14:30] roblourens commented on #59811
What is your issue? Please include more details

[2018-10-02 14:30] #59811 closed

[2018-10-02 14:30] roblourens commented on #59812
What is the problem exactly? Please include more details

[2018-10-02 14:31] chrmarti commented on #55466
The suggested fix did not work. The behavior is the same as in, e.g., hovers.

[2018-10-02 14:31] #55466 closed

[2018-10-02 14:32] safield commented on #59707
This is not a sufficient solution.

The normal editor find box will only open if I am focused in the user settings json editor. If I am focused in the default settings editor pane on the left, the find box will not open. The default settings is of course the much larger file, and the only one I am motivated to perform searches in.

In my opinion I think the settings editor interface could be retho

[2018-10-02 14:33] cmeyerPfcu commented on #41309
Completely agree, in general whatever is a need in your business, if it’s fulfilled, you get more presence!

Carole
From: Weston <notifications@github.com>
Sent: Tuesday, October 2, 2018 10:31 AM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Meyer, Carole <carole.meyer@partnersfcu.org>; Comment <comment@noreply.github.com>
Subject: Re: [Microsoft/vscode] Add a permanent configurable toolbar

[2018-10-02 14:35] bpasero opened #59829 "Expression input field not looking nice on Linux"
See

![image](https://user-images.githubusercontent.com/900690/46355467-20d8b300-c661-11e8-8a7d-d7d8ff6de75e.png)

compared to in the explorer:

![image](https://user-images.githubusercontent.com/900690/46355486-2a621b00-c661-11e8-9e66-1cdc03209e36.png)

It also feels like the text jumps more for the first case.

[2018-10-02 14:35] isidorn commented on #59430
Can not repro even with a DebugAdapterTracker.
@roblourens if you can still repro can you answer my question from https://github.com/Microsoft/vscode/issues/59430#issuecomment-425118219

![screen shot 2018-10-02 at 16 34 53](https://user-images.githubusercontent.com/1926584/46355474-259d6700-c661-11e8-92b0-54e7b4072221.png)

[2018-10-02 14:41] chrmarti commented on #59624
QuickPick does not focus the first item when in screen reader mode to let the screen readers first read the placeholder in the input field. QuickOpen should do the same.

[2018-10-02 14:49] chrmarti commented on #42812
Actually, there were reasons we did not include this (https://github.com/Microsoft/vscode/pull/41582#issuecomment-361290940). Removing the 'first issue' label again. Sorry.

[2018-10-02 14:54] chrmarti commented on #20303
@uppe-r Great:
- Add an additional enum literal here: https://github.com/Microsoft/vscode/blob/a8b2950a12378abe6eadaa526c014bc8f257cb8f/src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.contribution.ts#L23
- Check for that literal and the 'open folder' condition here: https://github.com/Microsoft/vscode/blob/a8b2950a12378abe6eadaa526c014bc8f257cb8f/src/vs/workbench/parts/welcome/pag

[2018-10-02 15:10] GabeDeBacker opened #59831 "Using code.cmd --installextension results in a [createInstance] warning"
- VSCode Version: 1.27.2
- OS Version: - X64 Windows

Steps to Reproduce:

1. Use the command line for vscode "code.cmd --install-extension <path to vsix>
2. VSCode logs to the console (through console.warn)
   "[createInstance] extensionManagementService depends on downloadService which is NOT registered." (this happens in VSCode

Does this issue occur when all extensions are disabled?: Yes

This

[2018-10-02 15:10] #59829 closed

[2018-10-02 15:10] isidorn commented on #59829
Pushed a fix to clear tree focus and highlight when debug input is created.
As for the text jumping might be connected to the other line-height issue we are discussing.

[2018-10-02 15:16] isidorn commented on #50619
I think the bot is worn ghere.
Please let me know if you need more info, removing label for now

[2018-10-02 15:16] bpasero opened #59832 "Editor status remains empty when forcing to open a binary file as text"
Steps to Reproduce:

1. open a file we think is binary
2. click on the link to force open as text
3. the editor status bar does not update

[2018-10-02 15:17] bpasero commented on #59832
If someone wants to chime in, please discuss the approach here first before starting to code :+1:

[2018-10-02 15:21] #55702 closed

[2018-10-02 15:38] sgaamuwa commented on #33110
👍🏾

[2018-10-02 15:39] audoralc commented on #46816
I'd be happy to take a look into this 👍

[2018-10-02 15:47] scrthq commented on #59567
@cedric05 / @arshadkazmi42 - you wouldn't need to create a new TM file, you would want to update the existing Markdown TM file that @mjbvz linked in his comment since the syntax you would need to update is specific to Markdown files, not JSON5. You should be able to copy the existing JSON bits from there since Code supports comments in JSON markdown blocks as if it was JSONC/JSON5 already:

![imag

[2018-10-02 15:50] scrthq commented on #59567
@arshadkazmi42 just seeing your comment acknowledging the same, carry on 💃

[2018-10-02 15:52] isidorn opened #59833 "Debug tree views not centerted properly on linux"
On linux the text in elements in debug views is not centered properly
This is very weird since I set the line-height to 22px the same way as the explorer does and explorer is centered properly.

@joaomoreno let me know if you have some clue what might be going on here, did some investigation but I ran out of ideas. verticaly centering has no effect. Setting the line-height to 25px fixes the issue

[2018-10-02 15:55] jrieken commented on #50291
The filtering is pretty easy, everything happens in the [`_createCachedState`](https://github.com/Microsoft/vscode/blob/a46d73ebed315f6eef4278d62734ecd4fce38f73/src/vs/editor/contrib/suggest/completionModel.ts#L149)-method. Wiring this into the UI is the bigger chunk, @ramya-rao-a and @joaomoreno might be able to help.

But before all of this we should discuss if we actually want this feature in V

[2018-10-02 15:56] jrieken commented on #59828
/duplicate of #28215

[2018-10-02 15:56] #59828 closed

[2018-10-02 15:56] jrieken commented on #59828
@salmankhann We will ship this with the next release, see
https://github.com/Microsoft/vscode/issues/28215#issuecomment-422310232

[2018-10-02 15:57] arshadkazmi42 commented on #59567
@scrthq So just to confirm, I will add an entry there similar to json.

`{ name: 'json5', language: 'json5', identifiers: ['json', 'sublime-settings', 'sublime-menu', 'sublime-keymap', 'sublime-mousemap', 'sublime-theme', 'sublime-build', 'sublime-project', 'sublime-completions'], source: 'source.json' },`

something like this. will this be fine? Also I was checking this PR #59779 reading comments

[2018-10-02 15:59] feynman11 commented on #59561
@bpasero I've only ever seen it in version 1.27.2

[2018-10-02 15:59] nomadoda opened #59834 "Code Helper > 100% CPU"
Issue Type: <b>Performance Issue</b>

It seems to be related to testing my mocha suite. I set one expect `it` test case to `it.only`, then try to run through debugger and CPU hits the roof, with no tests running.

***launch.json:***

[code]

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 17.3.0

<details>
<summary>System Inf

[2018-10-02 16:03] nomadoda commented on #59834
<img width="628" alt="screen shot 2018-10-02 at 18 01 36" src="https://user-images.githubusercontent.com/25898698/46361159-3ce25180-c66d-11e8-9bc1-babc8d9547db.png">

<details>
<summary>Open files and ports</summary>

/
txt
/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper
txt
/Applications/Visual Studio Code.app/Contents/Frameworks/Squirrel.framew

[2018-10-02 16:05] nomadoda commented on #59834
<img width="447" alt="screen shot 2018-10-02 at 18 04 43" src="https://user-images.githubusercontent.com/25898698/46361372-ba0dc680-c66d-11e8-8ab1-281b334deea9.png">
<img width="505" alt="screen shot 2018-10-02 at 18 05 08" src="https://user-images.githubusercontent.com/25898698/46361373-ba0dc680-c66d-11e8-97db-fe10350b621f.png">

[2018-10-02 16:06] nomadoda commented on #59834
Oh, now after perhaps 10 minutes or so the CPU process returns to normal and I receive this error message in VS Code:

![screen shot 2018-10-02 at 18 05 58](https://user-images.githubusercontent.com/25898698/46361432-ef1a1900-c66d-11e8-9cdc-98a27bd1940f.png)

[2018-10-02 16:09] deitry opened #59835 ""The specified task cannot be tracked" in Insiders version"
I moved recently from stable to insiders version of vscode and start getting this message 10 seconds after I launch debug with "build" preLaunch task. In stable version my configuration works as expected, even if it takes long time to build project.

[code]

Build task:
[code]

Debug task:
[code]

[2018-10-02 16:09] RMacfarlane commented on #59800
@nudefireninja Thanks for reporting this, but this is by design. Clicking somewhere else in the editor while text is selected is meant to change the cursor selection. If you want to switch back and forth between windows and preserve the text selection, you can use `Cmd ~`, or click the title bar instead of the editor to focus the window.

[2018-10-02 16:09] #59800 closed

[2018-10-02 16:10] rjmholt commented on #59572
Thanks @isidorn!

[2018-10-02 16:15] beastdestroyer commented on #59695
Yh I have my line height to I think 35 or 36, the lowest I've gone is around 30 but haven't checked below

[2018-10-02 16:15] deitry commented on #59835
If it matters, I symlinked .vscode-insiders to .vscode in home directory and "Code - Insiders' to "Code" in ~/.config directory in order to preserve all the extensions and settings when moved to Insiders.

[2018-10-02 16:16] RMacfarlane commented on #59813
This repo is meant to track issues with the core of VSCode, the correct place to report this is https://github.com/Microsoft/vscode-python. Please reopen this there. Thanks!

[2018-10-02 16:16] #59813 closed

[2018-10-02 16:21] RMacfarlane commented on #59814
Can you check your settings to see if `Detect Indentation` is on? This would override the value of the tab size setting. Do you have anything in your workspace settings? Does this also repro when all extensions are disabled? (`Cmd shift p`, `Reload Window with Extensions Disabled`)

[2018-10-02 16:21] #59777 closed

[2018-10-02 16:22] motor75 opened #59836 "Real Time Compile and Error reporting not working"
Issue Type: <b>Bug</b>

It seems that since I have introduced solution files (.sln) into my projects, the red squiggles that show errors as you're coding has stopped altogether.  I have multiple projects in which this is occurring.  It had been working, but seems to have stopped since I put existing projects in solutions.  I had created an ASP.NET Core Web API project and wanted to add a Unit Test

[2018-10-02 16:28] roblourens commented on #59822
This looks like #58758

[2018-10-02 16:28] #59822 closed

[2018-10-02 16:31] misolori commented on #59695
Yea, I was using the height of the row to determine the size of the icons. I'll need to revisit my solution so that it works in both `editor.fontSize` and `editor.lineHeight`.

[2018-10-02 16:35] motor75 commented on #59836
Additional details - in the Problems window, I can see the errors and when I double click on them, it opens the same file in a new editor tab (now the same file is opened twice) and shows the red underline under the code in question.

[2018-10-02 16:57] RMacfarlane commented on #59836
@motor75 In the Problems panel, what's listed as the source of the errors? The csharp extension?

[2018-10-02 17:16] RoberMac commented on #31047
Also not works in VS Code 1.27.2 on macOS 10.14.

[2018-10-02 17:19] octref commented on #59686
@jiang-xiche Please list all extensions you installed. `code --list-extensions`.

[2018-10-02 17:20] noamyogev84 commented on #21189
Hi @joaomoreno. Can I have some pointers for this issue? I'd like to try and tackle it.

[2018-10-02 17:21] octref opened #59837 "`code --list-extensions` show error"
When I run `code --list-extensions`, I got this error.

Version 1.27.2 (1.27.2)

[code]

[2018-10-02 17:23] octref opened #59838 "`code --list-extensions` should show version number"
When I run `code --list-extensions`, I got this output:

Version 1.27.2 (1.27.2)

[code]

I suggest list versions as well. This is useful for diagnosing if an issue is caused by extensions.

A possible output could be:

[code]

[2018-10-02 17:29] motor75 commented on #59836
@RMacfarlane  - I restarted VS Code and all is working now...but eventually this will start happening again and I'll let you know....but when it was happening earlier (from my previous post), it showed the same file as the source separately - as if it was seeing two copies of it when only one exists.  Very strange.  I thought maybe I have some circular logic in the solution file or in my unit test

[2018-10-02 17:38] sandy081 commented on #59500
@bpasero

For @alexr00 When an action is executed and returns an error, it is not notified.

https://github.com/Microsoft/vscode/blob/4b427941dc20b303e35c7687924a4a92f73c4c20/src/vs/workbench/parts/extensions/electron-browser/extensionsActions.ts#L729

Any insights?

[2018-10-02 17:38] FadeZhanger opened #59840 "Integrated terminal select box does not update when navigating between terminals using keybindings"
- VSCode Version: 1.28-insider (latest commit)
- OS Version: Windows 10
- Typescript Version: 3.1.1

**Steps to Reproduce:**
1. Open two integrated terminal instances
2. Navigate between them using the "Focus Previous Terminal" and "Focus Next Terminal" keybindings (e.g. set to Alt + LeftArrow / Alt + RightArrow)

**Expected:**
Select box changes to reflect the currently focused terminal

**Actual

[2018-10-02 17:39] sandy081 commented on #53526
@isidorn Not for me.. I referred the issue in my commit and it is still open.

[2018-10-02 17:41] enisdenjo commented on #56810
What happened to me is:
1. `cmd + Q` to shutdown VSCode
2. Immediately after VSCode closed, mac went to sleep all of a sudden (crash to sleep?)
3. Logged back in, VSCode crashes on start... No logs with `--verbose` or any other flag (`--disable-extensions`, `--disable-gpu`, etc.)

`Visual Studio Code - Exploration` starts without problems, however no extensions, presets, configs, nothing...

[2018-10-02 17:41] beastdestroyer commented on #59695
What if you make it like say like 60 - 80% of the line height at maximum. It would be more fitting (not saying it's an exact figure)

[2018-10-02 17:52] IlyaBiryukov commented on #59419
Here is more specific API we'd need to get Git integration working in Live Share collaboration session. All these are simple wrappers of the existing properties and methods. There may be more needed, we discover them as we do the prototype work.

1. Have `Status` enum public in `git.d.ts`.
2. Have the following new properties on `Change` in `git.d.ts`:
[code]
3. Have the following new methods on `

[2018-10-02 17:58] moe123 commented on #58902
Ok sorry for the late answer ; I only see the re-installed extensions ; (modified date, matching create date) ; no tmp/invisible or left over cruft ; maybe I should have checked out before re-running all installs.

[2018-10-02 17:58] mjbvz commented on #59823
Yes needs fixing on our side

In the future please make sure you have users testing your extension on VS Code insiders. As far as I can tell this has been broken over the entire month that 1.28 insiders has been going out

[2018-10-02 18:02] nudefireninja commented on #59800
Ok, but it's a strange design decision as no other app does this, code editors or otherwise, and I see no benefit. It simply means I cannot click to activate windows with the mouse if I have text selected that I want to copy for example. I know how to switch windows with the keyboard but that's not always the most convenient (for me anyway).

There are no extensions to change this behavior and the

[2018-10-02 18:02] ivankravets commented on #59823
Thanks, it's my mistake. Next time I'll open issue here.

[2018-10-02 18:05] mjbvz commented on #59823
Not your fault. We really need better test coverage on our side. The timing here is unfortunate since we're only hearing about this a few days before we planned to ship 1.28. Since the webview is such as complicated area, we currently do reply on extension authors reporting issues with it

[2018-10-02 18:07] #59823 closed

[2018-10-02 18:10] ivankravets commented on #59823
Is it possible to cover "retainContextWhenHidden" with a unit test?

P.S; Thanks for the quick fix! 👍

[2018-10-02 18:13] loox37 opened #59843 "Translation Offered"
Hi, I can translate from English to Arabic and vice versa. I was searching in the repo but didn't find anything related to the "translation" thing-y. Any recommendations from where to start?

[2018-10-02 18:17] atitoa93 commented on #59832
Hello @bpasero, I would like to start debugging/working on this issue. Although this issue didn't get labeled as a good first issue, this is my first contribution to vscode. Please, if you have some insights regards the issue and the starting point, please share it. Till then I will be investigating the code base more figuring out from where should I start. Thanks.

[2018-10-02 18:33] roblourens opened #59844 ""convert to async function" puts 'async' in the wrong place"
[code]

Run "convert to async function on bar"

Result:

[code]

[2018-10-02 18:38] kieferrm opened #59845 "Add keyboard shortcut to close Issue Reporter window"
Issue Type: <b>Feature Request</b>

There is currently no keyboard shortcut to close the window.

VS Code version: Code - Insiders 1.28.0-insider (60db21f08b81f03c15bb5c9395755ad3620a62bd, 2018-10-02T13:19:14.638Z)
OS version: Darwin x64 16.7.0

[2018-10-02 18:50] NTaylorMullen opened #59846 "textDocument.offsetAt does not work with varied line endings"
- VSCode Version: 1.27.2
- OS Version: Win10 x64

Steps to Reproduce:

1. In windows fill a C# document with:

(Not sure if GitHub replaces newlines with crlf but make sure all the line endings in the snippet below are \n with the exception of the innards of the `#line` declarations)
[code]
2. Call offsetAt with line 35, character 14.

You'd expect to get `1211` but instead `offsetAt` returns 1176

[2018-10-02 18:51] raylee commented on #12578
An implementation request for anyone who wants to work on this feature: Textmate allows RGBA colors in theme files, which permits each part of the interface to have its own opacity values. (Sublime Text 3 also allows this, but last time I tried it ignores the alpha values.)

In the meantime on OSX I'm using this fork of afloat, which contains a fix I made to delay installing the extra menu items r

[2018-10-02 18:52] Levdbas commented on #1751
This is the main reason I cannot switch from Atom to Vscode. I would really like to see to see this feature implemented so people can start working on html/php mixed files

[2018-10-02 19:33] flowkraD commented on #59744
I would love to work on this issue. It would be really helpful if you can point out where to start from. (^_^)

[2018-10-02 19:40] jackwootton commented on #59679
Using `ls -alR . | grep ^l` to recursively list all symbolic links in the project shows that I do have symbolic links. They're all in `node_modules`.

`cd node_modules`
`ls -alR . | grep ^l`

Yields...

[code]

[2018-10-02 19:50] CraigHead commented on #56680
If it's helpful (or not) .. I get the same error when I try to debug my Electron apps after the 1.27.2 (user) update. My config is as follows.
`
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "chrome",
            "request": "launch",
            "runtimeExecutable": "${workspaceRoot}/node_modules/electron/dist/electron.exe",

[2018-10-02 19:57] connorshea commented on #47775
So I've gotten a decent way through making this work, but I can't figure out the correct way to pass the custom property configuration into the place it's needed.

I see [this line](https://github.com/Microsoft/vscode-css-languageservice/blob/5d43b341a3b149bcabc3e178ada73ef0b876f2f3/src/services/cssValidation.ts#L20-L21) elsewhere in the `vscode-css-languageservice` repo, but I can't figure out ho

[2018-10-02 19:58] DonJayamanne opened #59847 "How can an extension provide default language specific settings"
https://code.visualstudio.com/updates/v1_22#_configurable-format-on-save-timeout

Looking at the above, it seems VS Code extension can provide defaults. How is that possible?
Or does the user have to manually update the `settings.json` (that's not what is documented)?

What we (Python Extension) are looking for is a configuration setting that'll provide a default language specific setting, **witho

[2018-10-02 20:12] krupenja commented on #59837
I think this is a duplicate of #58097

[2018-10-02 20:35] jul1u5 commented on #50291
There is already a [question](https://stackoverflow.com/questions/44011708/mimic-visual-studio-intellisense-filtering-behavior-in-visual-studio-code) on stack overflow about this. It might clutter the suggestion box, though. Maybe we could make this an opt-in feature (like breadcrumbs).

[2018-10-02 20:36] botmtl commented on #58845
@sandy081 Could you point us to a pr or a duplicate thread to follow along please.  By closing both /isssue/58845 (by marking as a duplicate of 2809) and also closing  /issue/2809 (by saying it's a duplicate of 58845), it's leaving anyone trying to find out where this has been implemented totally in the dark.

[2018-10-02 20:36] EthanRutherford opened #59848 "console.log( sometimes becomes console("
- VSCode Version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. type `console.log`
2. type `(`
3. (sometimes) `.log` disappears and I end up with `console(`, which is very clearly not what I wanted.

Does this issue occur when all extensions are disabled?: Yes

This is very confusing behavior, as it

[2018-10-02 20:46] CherryDT opened #59850 "VSCode can still create "invalid" files/folders on Windows"
Issue Type: <b>Bug</b>

This references https://github.com/Microsoft/vscode/issues/1579 which was about the same problem already (originally in the save dialog, but further down also about special filenames from the command line).

I'm still able to accidentally create hard-to-delete files and folders with VSCode in Windows, which I believe is bad UX and I see an effort to prevent this (e.g. tryin

[2018-10-02 20:52] kylepaulsen commented on #59848
I've noticed this in the past but haven't noticed it recently. I noticed it happened when my machine was running sorta slow and the autocomplete was still showing "console" when I typed ".log". Normally the autocomplete is supposed to immediately update to show what you can put after the dot when you type it, but because it was too slow, when you type the first parenthesis, the autocomplete will n

[2018-10-02 20:52] carlosrovira commented on #47775
Hi connor, thanks for working on this. Just to understand the progress. Are you implementing some kind of property file where we can add the custom css properties we want to be recognized by vscode lint, and get rid of lint errors? (event get code-intelligence for those custom properties defined in that property file? Thanks!

[2018-10-02 20:56] aslatter commented on #59650
FYI - I'm not interested specifically in MemFS - however we're working on a file system provider we intend to use to offer up a read-only view of TypeScript files for remote viewing and debugging. Having language server support for these would be a big help for us in this.

[2018-10-02 21:04] praksb opened #59851 "Option to display custom error message inline when rename fails"
When a developer invokes rename refactoring and if the rename fails any validation check due to which it could not be performed it would be great if the issue could be communicated back to the VS client by the LSP as a custom error message which could be displayed inline at the position where the rename was invoked.

[2018-10-02 21:07] connorshea commented on #47775
@carlosrovira Right now it's a WIP so it's hard-coded until I can figure out how to pass the configuration into it, but it looks like this:

<img width="226" alt="screen shot 2018-10-02 at 2 59 56 pm" src="https://user-images.githubusercontent.com/2977353/46376687-d7ce3200-c653-11e8-9536-03bcb8ce8154.png">

Currently the description isn't able to be customized, it's just set as "Custom property",

[2018-10-02 21:08] jramsay commented on #59795
Thanks @isidorn! Verified this resolves the associated issues.

[2018-10-02 21:10] atitoa93 commented on #59832
Hello again @bpasero, after some debugging I'm able to understand what's going on there. but my question is, what is the expected behavior? What should be updated on the status bar? Line and column numbers? Mode?
Thanks

[2018-10-02 21:12] #59851 closed

[2018-10-02 21:16] octref commented on #47775
@connorshea It would be better start working after discussing with me or @aeschli. I don't think we'll go with that approach (more likely going with the direction of the Markdown Extension API https://code.visualstudio.com/docs/extensionAPI/api-markdown), specify a JSON format and add contribution points.

This issue is only for adding a setting to make VS Code not complain about unknown propertie

[2018-10-02 21:18] dennybiasiolli opened #59852 "Add buttons to open views to the touch bar"
When not in debug mode, more touchbar buttons could be added.

For example:

- Files

- Search

- Source control

[2018-10-02 21:29] connorshea commented on #47775
@octref

Fair enough, that's my bad :)

A setting to make VS Code not complain about unknown properties already exists as you mentioned above (`"css.lint.unknownProperties": "ignore"`), the issue does mention a `[css/less/scss].validate.acceptedProperties` setting, though, which is what I was trying to implement.

Also, just to clarify, a "CSS Extension API" would be preferable because it would al

[2018-10-02 21:30] SFoskitt opened #59854 "Incorrect comment format for HTML"
Issue Type: <b>Bug</b>

VSCode recognizes this file as HTML but comments appear as Javascript like // instead of  using keyboard combo Cmd + /  (on Mac).  Keyboard mappings in VSCode are verified as "Toggle Line Comment".   THE WEIRD PART - it only does this on ONE file.  One *.html file.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version:

[2018-10-02 21:44] RMacfarlane commented on #59854
Could you share the text of the HTML file this happens for?

[2018-10-02 21:46] mjbvz commented on #59821
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-10-02 21:47] Nowaker commented on #47783
IntelliJ IDEA family of IDEs has this feature.

[2018-10-02 21:56] komali2 opened #59857 "ZenMode only allows 1 tab per pane showing in latest insiders"
- VSCode Version: 1.28.0-insider
- OS Version: Debian 9.3

Steps to Reproduce:

1. Open 2 files in separate panes while in zen mode.
2. Make sure both files are ctrl k + enter (non-italisized)
3. In one pane, try to open another file (ctrl + enter or however you please)
4. Note that the previous file vanishes
5. Exit zen mode and see that it's still there as a tab.

Does this issue occur when all

[2018-10-02 22:01] octref opened #59858 "Add `sidebarFocus`, `panelFocus`, a real `editorFocus` and `focus` for each view"
Related: https://github.com/Microsoft/vscode/pull/44796#issuecomment-382808742

I opened https://github.com/Microsoft/vscode/pull/59270 to add 4 commands:

- `workbench.action.previousPanelView`
- `workbench.action.previousSidebarView`
- `workbench.action.nextPanelView`
- `workbench.action.nextSidebarView`

The way I want it to work:

`Ctrl-[`:
- `workbench.action.previousPanelView` when `panelFoc

[2018-10-02 22:05] chadidi opened #59859 "VScode deleted all the files on 1 of my branches!!!"
So I was editing a file in branch "X" then I moved to branch "Y" without saving the changes in the file, then VS code deleted all files from Branch "Y".

Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. edit a file from branch "X

[2018-10-02 22:05] octref commented on #59858
/cc @isidorn @sandy081 @bpasero since this touches every view in sidebar/panel. I'm wondering if it's possible to generate a `focus` context key for each view, as implementing it in each view seems redundant.

[2018-10-02 22:06] komali2 commented on #59857
Occurs for both `    "zenMode.hideTabs": false` and `  "zenMode.hideTabs": true `

[2018-10-02 22:10] djom20 opened #59860 "How do I pass arguments when I use vscode to debug a program"
Hi Team,

Currently I'm using vscode to debug my protractor tests like a nodejs project. I add the launch.json file with this config:

[code]

Usually I can change any command thought the command line so my doubt is how I could set whatever parameter in the args before run the debugger no need to modify the file? or if not exists any way to do that I would like to propose you add it, and maybe the

[2018-10-02 22:12] octref commented on #47775
Oops, the title tricked me, updated.

As compared to saving everything in the project config, I think putting all the custom CSS property definitions in a JSON and allow a setting/contribution to refer to it would be better. This keeps clutter away from workspace config and allows others to auto-generate the JSON file.

[2018-10-02 22:15] mjbvz commented on #59844
This was actually just fixed by https://github.com/Microsoft/TypeScript/pull/27491

Now works properly in typescript@next

[2018-10-02 22:15] #59844 closed

[2018-10-02 22:43] Gruntfuggly opened #59862 "Disposing output channel doesn't work properly"
If I have an output channel which I then dispose, it disappears from the output view as expected.

However, if I then close the output view from the menu (or using the keyboard shortcut) and reshow it, or select the terminal view and then go back to the output view, the disposed view is returned and the horizontal separator is selected (with a tick) in the output dropdown.

[2018-10-02 22:50] geckojsc commented on #28425
On a related note, I get kinda lost when saving a new empty file because I can't see which other code files are in the directory, unless I manually change the type to 'All files \*.\*'
![image](https://user-images.githubusercontent.com/569607/46381223-ad0cc980-c6a5-11e8-9574-8650f9760689.png)

[2018-10-02 22:59] connorshea commented on #55236
I got the contacts dialog when trying to create a new snippet (Settings gear in the bottom left > User Snippets > New Global Snippets File). It seemed to coincide with the file dialog opening, though I'm pretty sure I've opened the file dialog multiple times in VS Code without this happening, so 🤷‍♂️

I've been running Mojave since it came out last Monday, not really sure why it only started appea

[2018-10-02 23:34] chrisdlangton commented on #59813
thank you
https://github.com/Microsoft/vscode-python/issues/2769

[2018-10-02 23:38] #59801 closed

[2018-10-02 23:42] ramya-rao-a commented on #10713
@DanTup Is this still a problem?

In the Go extension, I dont pass the `documentation`, when creating the parameter either, and they get rendered just fine.

[2018-10-02 23:49] ramya-rao-a commented on #55629
@joaomoreno Isnt #50813 referring to something similar? We can keep only one of the 2 for tracking purposes?

[2018-10-02 23:55] ramya-rao-a opened #59866 "Escape doesnt hide the signature help after clicking on it"
Steps to Reproduce:

1. Trigger the signature help/parameter hint widget
2. Click on the text in the widget
3. Press escape: Widget doesnt hide

[2018-10-03 00:02] zgjff commented on #59812
I installed it according to this method. However, after the installation, I have been unable to open it, it seems to crash after loading 2s, I did not even enter the interface.

[2018-10-03 00:19] deathly809 opened #59867 "Icon for R files overlap filename."
Seems the icon for R is a little too large.  It is overlapping the text on my machine.

In the search:
![image](https://user-images.githubusercontent.com/1381210/46383735-c9d5dc80-c666-11e8-8a62-9e3cbd637b91.png)

In the explorer window:
![image](https://user-images.githubusercontent.com/1381210/46383752-e4a85100-c666-11e8-98ca-c25d3779d5c6.png)

- VSCode Version: 1.28.0-insider
- OS Version: Wind

[2018-10-03 00:22] anrossi opened #59868 "VS Code mangles copyright symbol"
Issue Type: <b>Bug</b>

I edited a powershell source file in VS Code which contained a Copyright symbol, ©.
I didn't edit the line with the symbol, but VS Code change the symbol to this when I saved the file: �
This only became apparent when I used git diff to see my changes, and the diff showed this change as the byte values:

[code]

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4

[2018-10-03 00:34] roblourens commented on #59237
@dbaeumer The webpack loader for vscode-nls rewrites the localize calls in the bundled js but it doesn't write out the string json bundles, is there any way to make it do that, or should I keep gulp for that?

Also, I'm not sure of the right way to manage the vscode-chrome-debug-core npm module. It is also localized with vscode-nls. If it's bundled along with node2, I should just have to copy its

[2018-10-03 00:36] nehayward commented on #31372
Whoa! Thanks for the detailed walkthrough @jrieken. I'm going to start today!

[2018-10-03 00:48] christopherkang commented on #36692
Did we come to a consensus on this? There will always be personal preference, but should we allow selection of tilted/straight icons or simply choose one to use universally?

[2018-10-03 01:00] fmonroe commented on #39084
I have this issue too. Is there a workaround until this is fixed? Changing the default encoding in Settings is not helpful. Thanks.

[2018-10-03 01:44] mcgrathg commented on #59838
You can get the extension version with an extra argument `--show-versions`.
[code]

[2018-10-03 01:50] octref commented on #59686
My guess is it's caused by the Formatting Toggle extension. Can you disable it and try again?

[2018-10-03 01:51] octref commented on #59838
Even though I work on VS Code, I didn't realize that flag was there...Wondering why it's not the default behavior and need an extra flag.

[2018-10-03 01:51] #59838 closed

[2018-10-03 03:06] safield opened #59871 "toggleTabsVisibility remove tab bar completely"
workbench.action.toggleTabsVisibility should hide the entire top bar where the tabs reside.

Alternatively, another command could be added...

workbench.action.toggleTabBarVisibility or something similar.

The advantage of this is that when you hide the entire tabs bar, the editor window(s) can take up that real estate and add a couple more lines of visibility.

I commonly hide tabs with a keyboar

[2018-10-03 03:06] dralley commented on #59812
It's this issue, it has supposedly already been fixed, but there's no updated package yet unless you're using insiders.

https://github.com/Microsoft/vscode/issues/59526

[2018-10-03 04:31] #59871 closed

[2018-10-03 04:33] bpasero commented on #59500
Any steps?

[2018-10-03 04:34] muchologo opened #59873 "Line Height in the "Folder" section of the sidebar."
It would be nice to be able customizing the line height or separation between the folders and file names of the sidebar. There are plenty and awesome themes out there, but the "folders view" is still to tight in comparition with the editor which we can tweak using the line height.
![feature-vsc](https://user-images.githubusercontent.com/28572911/46390065-877ac280-c69b-11e8-95a3-7000fe79ada6.jpg)

[2018-10-03 04:34] bpasero commented on #59679
I am not sure how to...

[2018-10-03 04:35] bpasero commented on #59832
@atitoa93 I would expect that when I jump from binary file to text file, the editor status bar shows the same content as if the file was opened just normally. Currently we are missing an event when the editor goes from binary view to text view and `editorStatus.ts` does not react properly.

[2018-10-03 04:36] #59808 closed

[2018-10-03 04:37] bpasero commented on #59858
Yes, possibly in the base class of all panels and views (`composite.ts`?)

How does this work when an extension contributes a view?

[2018-10-03 04:41] safield commented on #59871
Is there a reference to the duplicate issue so I can add my feedback there?

[2018-10-03 04:43] djmisterjon opened #59875 "Blocked window : we are sorry !???"
wow what is this bug guys ?

from my side , it happen when i use batch renaming search and a app nwjs debug run from crash.
I am was batch renaming variables...
![image](https://user-images.githubusercontent.com/24865815/46390338-57382180-c6a5-11e8-8871-8de9806d89f8.png)

[2018-10-03 04:46] djmisterjon commented on #59875
that not good
![image](https://user-images.githubusercontent.com/24865815/46390398-99616300-c6a5-11e8-8879-5d9ba6ebae41.png)

Now a lost all my change clipboard, and i can not use ctrl+Z because vscode reset !!

[2018-10-03 04:48] cleidigh commented on #59492
something like:
Editor: Tab Size???breakpoints-test1:4

"breakpoints-test1" is the current branch name??? voiceover seems to have a wild pointer to the accessibility name.  Apple will be the death of me, had to upgrade everything just to get Xcode just to get the accessibility Debugger
now I can no longer toggle voiceover
perhaps tomorrow will be better... I have to get the two readers to work cor

[2018-10-03 04:48] djmisterjon commented on #59875
i have only this debug setup
![image](https://user-images.githubusercontent.com/24865815/46390498-18569b80-c6a6-11e8-9293-abab86664ab4.png)

[2018-10-03 04:55] djmisterjon commented on #59875
am lucky , i just made a commit , so am able to get Back , but this is not good!

[2018-10-03 04:55] carlocardella opened #59876 "Keybinding to focus next terminal does not update terminal dropdown list"
- VSCode Version:
[code]
- OS Version: Windows 10 Pro, 1803

I have added a keybinding to show the precious/next terminal when terminal has focus:

[code]
The keybinding works as expected, the next or precious terminal is displayed but the dropdown with the list of open terminals is not updated accordingly, so it can be confusing to figure out which terminal is actually selected

_powershell termi

[2018-10-03 05:06] Zaeyi commented on #59820
@flowkraD
![qq 20181003130518](https://user-images.githubusercontent.com/43777779/46390942-06f4aa00-c70d-11e8-8c96-b810b92ba98b.png)

[2018-10-03 05:12] Zaeyi commented on #59820
@flowkraD
And another error shows me the extra one is \r
I only input D:\1.txt
But the error shows D:\1.txt\r
![qq 20181003131117](https://user-images.githubusercontent.com/43777779/46391137-d9f4c700-c70d-11e8-9523-043aa6a60d8d.png)

[2018-10-03 05:41] octref commented on #59858
Maybe `focusedViewlet` and `focusedPanel` similar to `activeViewlet` and `activePanel`, and make `workbench.view.<viewId>` available?

Together with a `sidebarFocus` and `panelFocus` that's managed by sidebar/panel part this would solve my problems and open up a lot of customization possibilities.

[2018-10-03 05:42] lanedraex commented on #59843
This [page](https://code.visualstudio.com/docs/getstarted/locales) says that vscode translations are provided via marketplace [extensions](https://marketplace.visualstudio.com/search?target=VSCode&category=Language%20Packs&sortBy=Downloads).

You can check out how to create a language pack [here](https://github.com/Microsoft/vscode-loc#visual-studio-code-language-packs).

[2018-10-03 06:01] beastdestroyer commented on #56144
@chrmarti Just curious, how do you get the VSCode logo onto the welcome screen. So far I've just been testing by relatively linking to an OSS img file but it's a bit hard to resize it (I think it was called letterbox or something)

- Is this the right image to use?
- How do I transfer it to use VSCode's icon?
- How can I resize the image, similar to how the logo is displayed when there are. no tab

[2018-10-03 06:15] sandy081 commented on #59707
@safield If you are on latest VS Code you should be seeing a new settings editor already

![image](https://user-images.githubusercontent.com/10746682/46393194-76a26f00-c6e4-11e8-93a8-335a6bbc5150.png)

[2018-10-03 06:16] sandy081 commented on #59831
Fixed. Please try latest insiders or wait for new stable release (in couple of days)

[2018-10-03 06:16] #59831 closed

[2018-10-03 06:16] AccessibilityTestingTeam-TCS commented on #52154
Right...but it's look like table and reading format is also like table so it should read the word column while reading the columns name along with cell values

[2018-10-03 06:16] sandy081 commented on #58902
You can go to logs folder using the command `Open Logs Folder`

[2018-10-03 06:18] sandy081 commented on #58845
@botmtl #2809 is open and not closed as duplicate.

[2018-10-03 06:21] sandy081 commented on #59500
Try to disable an extension which is a dependent of some other extension. You can try disabling `Node Debug` or install `Pull Request Extension` and disable `Git`. You should see an error notification.

[2018-10-03 06:40] rashnk commented on #59726
in any .html files
[code]

below items wont work inside <script> tag
no code format ,
no auto tag close
html tag attributes auto list
![vscode](https://user-images.githubusercontent.com/12730428/46393965-0e17ba00-c705-11e8-86ad-cd2750ff92ba.gif)

[2018-10-03 06:49] czfadmin opened #59877 "The terminal has an abnormality and the related information fails to appear normally."
Issue Type: <b>Bug</b>
In the latest version, when the VSCode terminal is opened, the phenomenon in the following GIF will appear. When the Enter key is entered, the terminal will display relevant information. When the window is reloaded, create a new terminal or reopen VSCode. At the time, this phenomenon will still occur.

![rust_error](https://user-images.githubusercontent.com/13393959/46394205

[2018-10-03 06:54] isidorn commented on #59795
@jramsay great, adding verified label!

[2018-10-03 06:54] salmankhann commented on #59828
@jrieken although the current feature in the Insiders is better than before, I was looking for something a bit different that is implement in Xcode.

See how tab keeps the IntelliSense open, as well as keeps highlighting matched elements.

![443dkek1qmoxy6uulp](https://user-images.githubusercontent.com/2960078/46394594-a0ff2700-c6fa-11e8-9cc3-1df05b84e2fa.gif)

[2018-10-03 06:57] hamedqaderi opened #59878 "Terminal location doesnt change to bottom"
Issue Type: <b>Bug</b>

I just changed the terminal location to the right, and then when I tried to send it back to the bottom, it doesn't work. I've changed the settings to go to the bottom and even changed the JSON file manually but it doesn't work too.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 18.0.0

<details><summ

[2018-10-03 06:57] fvilers commented on #38569
On version 1.27.2, I found that only this parameter disabled all the tooltips: `"editor.hover.enabled": false`.

[2018-10-03 07:02] salmankhann commented on #28215
since the conversation is happening here, I thought of combining my feedback

@jrieken although the current feature in the Insiders is better than before, I was looking for something a bit different that is implement in Xcode.

See how tab keeps the IntelliSense open, as well as keeps highlighting matched elements.

![443dkek1qmoxy6uulp](https://user-images.githubusercontent.com/2960078/46394594-a

[2018-10-03 07:21] christopherwolf1 commented on #59877
I can confirm; will skip posting the Animated GIF, but it looks to be the same issue. One additional note of detail, however; it appears it only does this when Code Insiders boots and the 1: Powershell terminal, or whatever you have as the first terminal, renders. Adding new terminals afterwards manually with the '+' new terminal button do not exhibit this behavior.

Version: 1.28.0-insider (user

[2018-10-03 07:30] FrederikBolding commented on #12630
I can take a crack at this one - However, I am unsure as to how I would use Windows Native API calls within Javascript, I can't find other examples of this in the current codebase.

[2018-10-03 07:38] bpasero commented on #59500
@sbatten I can reproduce and it looks like neither our custom context menu nor our native context menu delegate failing actions to a notification service to show the error. I think we should probably hook that in. I think this is not a recent regression, this probably never worked properly (or at least for a while).

[2018-10-03 07:39] bpasero commented on #59500
Maybe we should open a separate issue for the menu issue, up to you @sandy081

[2018-10-03 07:43] MufassirShaw opened #59879 "ctrl + \ should change"
Issue Type: <b>Bug</b>

I was in need of using the OR binary operator but couldn't use it coz ctrl + \ is already a shortcut for opeing a split screen tab. I belive that should change. Thanks

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

[2018-10-03 07:46] vino-vinoth opened #59880 "when i running visual studio code my whole system get slow"
Issue Type: <b>Performance Issue</b>

after i start visual studio the whole system will slowdown and hanging up

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-3110M CPU @ 2.40GHz (4 x 2192)|
|GPU Status|2d_canvas: u

[2018-10-03 07:46] isidorn commented on #59858
@octref your last comment makes sense.
Let's assign this issue to you so you can tackle it with a PR, and I can review. If you do not have time let me know and I can look into this.
Any way this should not be assigned to Alex

[2018-10-03 07:48] isidorn commented on #59875
I have no clue what you are saying, sorry.
Please file a new issue with nice reproducable steps. Here's some guidelines on how to file issue https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions

[2018-10-03 07:48] #59875 closed

[2018-10-03 07:49] isidorn commented on #59744
There is a code pointer in the first comment

[2018-10-03 07:51] isidorn commented on #59834
@nomadoda can you reproduce this issue with all extensions disabled?
How about with using vscode insiders https://code.visualstudio.com/insiders/

[2018-10-03 07:52] 500InternalError commented on #59877
I also have this problem, and I it seems that it's the windows 1809 update's problem, because the problem appeared after I upgraded to 1809.BTW another terminal emulator called hyper also has this problem

Version: 1.27.2 (system setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x

[2018-10-03 07:54] aeschli commented on #47775
@octref I'm not against allowing users to define sets of properties in a separate file, but IMO a simple user setting is a good start/ The css language service doesn't deal with files anyways, it's just a library, also to be used in Monaco. All validation configuration comes in through config objects, so `LanguageSettings` is the right place.
Where this gets relevant is [in the server](https://git

[2018-10-03 07:57] howar31 commented on #49432
I think it'll be much better if the background color of the inactive tabs is the same as the tab gutter:

![image](https://user-images.githubusercontent.com/880459/46397426-cbfe7080-c724-11e8-837a-2a1d0bd2ec86.png)

[code]

[2018-10-03 08:00] aeschli commented on #59726
@rashnk Please open a separate issue.

[2018-10-03 08:02] isidorn commented on #59572
I'll take tha as everything works. Closing this.
If something is still not working please create a new one, since this one becase confusing at least for me.

[2018-10-03 08:02] #59572 closed

[2018-10-03 08:02] chrmarti commented on #56144
The background image is set here: https://github.com/Microsoft/vscode/blob/90171dab977e4cea933a01824ed0313d86eccdc8/src/vs/workbench/browser/parts/editor/editorGroupView.ts#L1427

The default icon is replaced with the VS Code icon during our build process. To test what it will look like you could replace the letterpress SVGs in the source with those that you have in your installation folder.

[2018-10-03 08:04] rashnk commented on #59726
OK, @aeschli

[2018-10-03 08:05] carlosrovira commented on #47775
I expect the AS3 & MXML(http://as3mxml.com/) extension could add a file so we have our custom properties manages directly by the extension that provide all the language support.

Thanks

[2018-10-03 08:05] isidorn commented on #59852
fyi @bpasero

[2018-10-03 08:08] isidorn commented on #59860
Well to add args you can just modify that args array.
Currently we have no way to dynamically type them before each debug start and that is currently out of scope for us.
An alternative how to achive this is to write an extension that would resovle debug configuraitons. That extension could use the quick pick API to get user input and fill the args array automatically. This sounds like something y

[2018-10-03 08:08] #59860 closed

[2018-10-03 08:16] chrmarti commented on #20303
You could use `welcomePageInEmptyWorkbench`. Check for no folder being open: `contextService.getWorkbenchState() === WorkbenchState.EMPTY`. You can get at the context service by adding it to the constructor of the calling class, similar to: https://github.com/Microsoft/vscode/blob/315299eddf233816ee36fe183b30f27fd841afab/src/vs/workbench/parts/extensions/electron-browser/extensionsViewlet.ts#L293

[2018-10-03 08:36] dbaeumer commented on #59237
I discussed this with @jrieken and he will have a look at this. The end goal should be that the nls.metadata.json files are inlined into the pack. There is no need to keep them separate.

[2018-10-03 08:38] dbaeumer commented on #59835
@isidorn this sounds like the other bug you investigated. Is this fixed already? Please ping if there is something I need to do.

[2018-10-03 08:44] atitoa93 commented on #59832
Thanks for replying back, I got it working now. I just need to double check with you before making the PR as you recommended.
The thing is the binary files link that forces the document to open as a text file, opens it in the same document and the status bar updates only if active editor changed. So what I had to do is just updating the status bar on visible editor change as well. What do you thin

[2018-10-03 08:46] chrmarti commented on #31450
@iamnapo It might be easiest to add it somewhere here: https://github.com/Microsoft/vscode/blob/9588b6fe87647452d8e1432e45c54d28839c9495/src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.ts#L63

You could add a setting to turn it on / off and would let the README win over the Welcome Page in the above code.

[2018-10-03 08:51] tecosaur commented on #31372
@nehayward Yes!!!!!!!!!!!!!!

\<insert love eyes emoji>

[2018-10-03 08:53] iamnapo commented on #31450
On it! :octocat:

[2018-10-03 08:54] chrmarti commented on #46816
@audoralc Yes, should be a small change from what I see. Next to and similar to the button colors here: https://github.com/Microsoft/vscode/blob/d1571770ce9f6fdb98e8ee19d7711498a35bfdd0/src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.ts#L590

[2018-10-03 08:57] MuseBoy opened #59881 "Keep the text selected after pasting it"
Issue Type: <b>Feature Request</b>

Most apps keep the text selected after pasting it so we can do something(indention for example) on it directly. So I want this feature to be implemented on vs code too.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

[2018-10-03 08:57] khamza85 opened #59882 "Settings tab alignment"
Issue Type: <b>Bug</b>

Open settings in JSON view.
![image](https://user-images.githubusercontent.com/13615108/46400591-44a90100-c714-11e8-8da0-59faaa3bbac6.png)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.16299

[2018-10-03 09:02] PavanKundagol commented on #58437
Just now found a workaround for my problem, by setting "editor.mouseWheelZoom" to true (default is false) I can zoom in or out just the editor text, which is what I wanted. window.zoomlevel is not useful for me. And "workbench.colorCustomizations": {"editorGroup.border":"#ff0000"} is anyway working at default window.zoomlevel.

[2018-10-03 09:05] bpasero commented on #59832
@atitoa93 interesting, good finding that this fixes the issue. The downside of listening to that event is that it will fire even if the active editor remains the same, so there is a chance to do work in the status bar even though nothing has changed.

Feel free to open a PR on this and I can see if this event is firing too much or not. For sure we would not have to listen to both active editor cha

[2018-10-03 09:07] isidorn commented on #59835
@deitry Hi, there was actually a bug I fixed which changes the behavior for you https://github.com/Microsoft/vscode/issues/57346
To be more precise your task is taking longer than 10s to start and for us that is the fall back mechanism when we think the task can not be started.

For now leaving this open and if more users complain about this I can increase the timeout to 20s for example.

[2018-10-03 09:12] #58671 closed

[2018-10-03 09:12] deitry commented on #59835
@isidorn Hi, thanks for explanation. If it turns to be a feature request, may I ask you to add option to force wait until task is finished?

[2018-10-03 09:13] uppe-r commented on #20303
Hey @chrmarti everything seems to be working now, just one last question which is confusing me: isn't the objective of this issue to NOT show the Welcome Page when opening a new project? So why is your enum suggestion welcomePageInEmptyWorkbench?

[2018-10-03 09:17] chrmarti commented on #20303
@uppe-r Show it *only* in the empty workbench. :)

[2018-10-03 09:20] chrmarti commented on #18879
Thanks @Tyriar for looking into it. Unfortunately this doesn't work well on Mac:
![image](https://user-images.githubusercontent.com/9205389/46401772-3ea82580-c6fe-11e8-8feb-3c11aebda54e.png)

[2018-10-03 09:28] uppe-r commented on #20303
Now I'm getting `Unable to open 'Welcome': Cannot read property 'getWorkbenchState' of undefined.` upon opening a new window (empty workbench). Any ideas?

I did the comparison as you said for no folder being open.

[2018-10-03 09:28] czfadmin commented on #59877
@christopherwolf1  Thank you.This behavior will still occur after manually adding a new terminal using the "+" new terminal button.
I agree with @500InternalError, this problem should be caused by the window1809 update.Because I did not have this problem with a stable version of VSCode before I updated it to the system, but this problem occurred after updating the system.
@500InternalError, your a

[2018-10-03 09:29] nomadoda commented on #59834
I can confirm since disabling Prettier extension problem is resolved. I will submit an issue on Prettier instead.

[2018-10-03 09:29] #59834 closed

[2018-10-03 09:32] 500InternalError commented on #59877
Ohh thank you for your praise @czfadmin

[2018-10-03 09:35] christopherwolf1 commented on #59877
@czfadmin

See GIF below; the bug behavior, at least on my system, is similar to that observed in the OP, until a new terminal is created. At which point, normal behavior resumes

![vscode-insiders-terminal_bug](https://user-images.githubusercontent.com/15132959/46402562-ebf64b80-c6b4-11e8-841a-03a345c6a8ec.gif)

[2018-10-03 09:42] vbraziel commented on #12630
From what I have read on tech blogs and windows OS documentation, the feature to restart previous running programs is an Operating System feature that uses the registry (windows) or something like /proc in linux to know which programs where open at the time of shutdown.

1. Should this feature continue to be managed by the OS vice VS Code?
2. Does anyone know a pointer to the code that controls th

[2018-10-03 09:46] sandy081 commented on #53526
One approach I am following while moving away from `TPromise` to `Promise` in my area:

- If in my code, there is a dependency to other services which return `TPromise` instead of wrapping them with `Promise.resolve(TPromise)` I am changing my method to async

https://github.com/Microsoft/vscode/blob/46c97fe4139685c3d37ddb5f14660d7f5bbc0244/src/vs/workbench/services/configuration/node/configuratio

[2018-10-03 09:51] green-mike commented on #34090
It would be very very useful if implement the feature :)

[2018-10-03 09:57] czfadmin commented on #59877
@christopherwolf1
Ok, but there will be such a problem on my computer. In both versions, this problem will occur. At the same time I try to use your method and it does not solve the problem.

[2018-10-03 10:03] jrieken commented on #53526
@sandy081 be careful with that `async`. the state machine TS generates for it is known to be slow

[2018-10-03 10:09] tadej opened #59885 "macOS: Omnisharp won't start if space in home-dir name"
- VSCode Version: 1.27.2
- OS Version: macOS 10.13.6 (high sierra)

Steps to Reproduce:

1. Start VSCode
2. Observe Output window

Starting OmniSharp server at 10/3/2018, 12:06:21 PM
Target: /Users/tadej 1/Documents/GitHub/xxx.sln

OmniSharp server started.
    Path: /Users/tadej 1/.vscode/extensions/ms-vscode.csharp-1.16.1/.omnisharp/1.32.5/run
    PID: 30320

chmod: 1/.vscode/extensions/ms-vscod

[2018-10-03 10:09] chrmarti commented on #20303
Is the `contextService` `undefined`? You can debug it either in VS Code or in the Developer Tools (Help > Toggle Developer Tools in the window running from source).

[2018-10-03 10:09] joaomoreno commented on #59468
@b3rgman Can you git push from the command line?

[2018-10-03 10:10] joaomoreno commented on #59468
@b3rgman Can you git push from the command line?

[2018-10-03 10:14] christopherwolf1 commented on #59877
It's not really to solve the problem, just a little bit more detail; it could also be a closely related bug. Either way, the information could help to resolve it faster and/or discriminate between two closely related bugs.

[2018-10-03 10:18] DanTup commented on #17147
If this is built into Code, it'd be great if this could support contributed tasks too.

[2018-10-03 10:19] joaomoreno commented on #59790
Sorry @Jaakkonen this is not under our main development flow. If you still feel strong about it, submit a minimal PR; otherwise, we won't get to it.

[2018-10-03 10:19] #59790 closed

[2018-10-03 10:27] #59885 closed

[2018-10-03 10:27] bpasero commented on #59868
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2018-10-03 10:27] #59868 closed

[2018-10-03 10:30] fadeevab opened #59886 "File -> Open Recent doesn't show the final destination folder with long paths"
- VSCode Version: 1.27.2
- OS Version: Ubuntu 18.04

**What is wrong**: File -> Open Recent with the long similar paths does not show the final directory. Seems like it is a regression, because before (in earlier vscode versions) I managed to see the final destination.

**Steps to Reproduce**:

1. File -> Open Recent:
   ~/long/long/long/long/long/long/long/long/path1
   ~/long/long/long/long/long

[2018-10-03 10:34] vl4dimir opened #59887 "Proper fix for font smoothing in Mojave"
- VSCode Version: 1.27.2
- OS Version: macOS 10.14 Mojave

Steps to Reproduce:

1. Have a Retina screen and macOS 10.14 Mojave installed.
2. Open any file.
3. Notice the thinner rendering of fonts.

I know there's already https://github.com/Microsoft/vscode/issues/51132 but manually changing a system-wide property affecting _all_ applications to a legacy setting (and sub-pixel smoothing _is_ a leg

[2018-10-03 10:36] isidorn commented on #59835
@deitry I wrongly classified this. This is a bug which should be fixed in favor of #57346 since that one is not important.

[2018-10-03 10:41] uppe-r commented on #20303
Upon opening a new window, it isn't undefined (verified by a console log) but then it turns undefined (verified by the same console log).

[2018-10-03 11:04] b3rgman commented on #59468
Hi @joaomoreno .  From command line.

![image](https://user-images.githubusercontent.com/33910436/46406763-9a60b780-c6da-11e8-92d6-0907161d8b71.png)

[2018-10-03 11:08] yeahok commented on #59867
I should be able to fix this.

[2018-10-03 11:12] FrederikBolding commented on #12630
We need to use the `RegisterApplicationRestart` function as described here: https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-registerapplicationrestart and here https://docs.microsoft.com/en-us/windows/desktop/recovery/registering-for-application-restart

However, I am unsure of how to use these from Electron/Javascript as well as where in the codebase to call from.

[2018-10-03 11:35] NimaZahedi commented on #59773
I'd like to work on this issue.

[2018-10-03 11:40] MuseBoy opened #59892 "auto closing brackets bug with non-English input"
Issue Type: <b>Bug</b>
* change input method to non-English language(what we input won't go directly to the editor)
* type `[` and the editor auto closes brackets, so we get `[]`
*  type something, then press `esc`, the editor will auto closes brackets again, so now we get `[]]`
* repeat step 3 and we'll get more and more `]`

[bugScreenRecord.zip](https://github.com/Microsoft/vscode/files/2441827

[2018-10-03 11:54] isidorn commented on #59773
@NimaZahedi just because it is a feature request does not mean we accept PRs that tackle it.
If you would like to contribute to this project I recommend reading our how to contribute wiki and than to find an issue with "help-wanted" and "good-first-issue" tag.

[2018-10-03 11:57] MPV commented on #34103
It seems there is now an `xterm.js` plugin for ligatures support:
https://github.com/xtermjs/xterm-addon-ligatures

How can we get it into vscode?

[2018-10-03 12:36] dorian-marchal opened #59894 "Add a setting to ignore characters in quickOpen"
I would like to exclude some characters from the quickOpen fuzzy search.
These characters would act like spaces (currently, spaces are ignored in quickOpen).
For example, excluding `\` would help me to quickly find PHP files corresponding to a given namespace:

When I search `\foo\bar\Baz`, I would like to find `/foo/bar/Baz.php`

(This is the behavior of Atom).

[2018-10-03 12:39] lucacattide commented on #59605
I tried with a fresh install too with no extensions installed.
Today I'm using my default setup (with extensions too). I'll try to launch it with that command and I'll post an update once I have made a test.

[2018-10-03 12:42] dorian-marchal commented on #59894
Related to: https://github.com/Microsoft/vscode/issues/11371

[2018-10-03 12:48] chadidi commented on #59859
@joaomoreno I tried to reproduce it, with 1 file and 2 branches, and with the same repo but I couldn't reproduce it at this point, I don't know why this error happened.

I am confused 😕.

[2018-10-03 12:55] bpasero commented on #59887
@vl4dimir your best chances of success is to fix this in Electron and talk to them.

[2018-10-03 12:58] vishalksuthar opened #59895 "Master Page Template Option"
Please provide master page template option in HTML page design like Dreamweaver page template feature.
If we want to develop HTML static content website that time we need to change every page section one by one. If we create one master layout page for all child pages like header menu. so if we change the header menu then all child page automatically will be updated.

[2018-10-03 13:01] SethRzeszutek opened #59896 "Feature Request - Enhanced Scroll Bar Diff Tracking Optional Settings"
I have looked to see if there is a feature like this but I could not find anything.

So currently the scroll bar is able to track diff code until committed. So all your changes for one commit will show up on the scroll bar markers, but the moment you commit they are gone. What if there were settings that allowed for the enhanced scroll bar to always compare to master/(any other branch) or from bra

[2018-10-03 13:10] #51976 closed

[2018-10-03 13:16] icyJoseph commented on #58661
I've got the same problem now too. In the two computers I own, both with the insiders build. It seems that killing the process fixes it temporarily.

[2018-10-03 13:18] chrmarti commented on #59895
VS Code is all about source code editing, not about project setups. Maybe you are looking for a project generator like Yeoman or a static site generator like Gatsby.js?

[2018-10-03 13:21] isidorn commented on #57253
@LazarusX thanks for great repro steps.
Next week insiders will have the fix, let me know if it fixes the issue now. Though I verified with your example and it looks good to me.

[2018-10-03 13:21] #57253 closed

[2018-10-03 13:39] NimaZahedi commented on #59773
@isidorn I'm wondering to ask if only *help-wanted* and *good-first-issue* are supposed to be picked up for contributing.

[2018-10-03 13:42] isidorn commented on #59773
@NimaZahedi those are the best. Some feature-request might make sense to pick up but it is always best first to ask.

[2018-10-03 13:42] deitry commented on #59835
@isidorn yeah, it's fixed! Thank you so much

[2018-10-03 13:44] saideepd commented on #59536
Hey @aeschli I could do this task of opening link in same document on Ctrl+Click. In which html files it needs to be implemented ?

[2018-10-03 13:45] SethRzeszutek commented on #59880
If you uninstall and then reinstall, is this problem repeatable? I am running an almost exact OS and version. I would try that and report back if it continues or doesn't.

[2018-10-03 13:53] isidorn commented on #59835
@deitry thanks for trying it out quickly, adding verified label

[2018-10-03 14:01] CaptainYouz opened #59898 "Almost 100% of CPU usage after few minutes."
- VSCode Version: 1.27.2
- OS Version: macOS High Sierra

Steps to Reproduce:

1. Start VS Code
2. After some time, this process `Code Helper /Applications/Visual Studio Code.app/Contents/Resources/app/extensions/node_modules/typescript/lib/tsserver.js` take almost 100% of CPU usage (see screenshot for process with flag, and sorry for the small font size, I had to reduce it to get all of the flags

[2018-10-03 14:04] NextLevelCloudSolutions opened #59899 "Terminal Windows is Broken"
Issue Type: <b>Bug</b>

After installing the Windows October 2018 update, the terminal window now has a display bug.  When opening a new terminal window within visual studio code text is displayed 10+ rows below the command line prompt.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System

[2018-10-03 14:06] eamodio commented on #53526
@jrieken Doesn't node 8x support native asycn/await?

[2018-10-03 14:08] jrieken opened #59900 "Collapsed panel is marked as visible"
* set a breakpoint in `OutlinePanel#setVisible`
* collapse the outline
* reload window
* :bug: `setVisible` is called with `true` (also layout is called)

[2018-10-03 14:09] wesleyolis commented on #59721
I am using the stock standard out the box, install of VSCode.
Were space now seems to be the bind key for code completion.
If you like any other settings check, please ask away.

[2018-10-03 14:09] vl4dimir commented on #59887
@bpasero OK, I'll create an issue in their repo. Let's see how deep the rabbit hole goes. Thanks!

[2018-10-03 14:11] jrieken commented on #53526
@eamodio yeah, currently we have to downlevel compile to es5, partly because of our mono-source approach and IE11 support for monaco but mostly because TypeScript only compiles to ES6 when native promises are used. So, once the promise migration happened we can tackle the async/await problem. That will be a big problem but that's another story...

[2018-10-03 14:12] SpectralKH commented on #59606
@roblourens Yes, it's the page opened when you click an extension in the extension viewlet.

Apparently the issue exists in the terminal as well.

Video: https://youtu.be/iVV4nBCuoYs
Slow down the speed to 0.25, and you'll see that the search field is coming before I start typing.

[2018-10-03 14:13] jrieken commented on #59721
To know that I need more information, like the language in which this happens, the extension your are using, and the completion in question. In short, I need reproducible steps

[2018-10-03 14:14] oleksandr17 opened #59901 "VSC for Python"
Issue Type: <b>Bug</b>

It's quite annoying problem 'Definition is not found'. I can't easily refer to third party packages and in some cases to my own files. I think because of sometimes autocompletion also doesn't work.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|

[2018-10-03 14:15] cossio opened #59902 "Proxy authentication dialog does not show in the taskbar"
The proxy authentication dialog does not show in the taskbar in Linux Mint (I suspect it should be the same in other Linux distros). Clicking on any other window will bring this dialog to the back, and it becomes hard to find if you have many windows open.

The dialog is also not modal, so it gets hidden behind the VS code main window.

**VS Code info:**

Version: 1.27.2
Commit: f46c4c469d6e6d8c46

[2018-10-03 14:19] cossio commented on #59902
Not a duplicate of that one.

[2018-10-03 14:33] aeschli commented on #59536
@saideepd Thanks for your interest, you can find the code here: https://github.com/Microsoft/vscode-html-languageservice/blob/5c334c1025e3b5313b30ca82110bad28ddf09aa9/src/services/htmlLinks.ts#L93

Also see the tests there.

The URIs that you return can have the format `file:///some/file.js#73,84` (line, column)

[2018-10-03 14:39] eamodio commented on #53526
Ah. Thanks for the info!

[2018-10-03 14:45] solidxsnake commented on #33110
I'm amazed this hasn't gotten more attention. I'd expect the functionality similar to what is implemented in Notepad++. +1 here.

[2018-10-03 14:50] jrieken commented on #58907
@mjbvz I have eased the restrictions and also removed from workaround check from the TS extension but still wasn't able to test this. It seems TS server errors on a rename request on the `class`-keyword...

[2018-10-03 14:57] jrieken commented on #56337
So, this works by going backwards through the list of parameters and that's a pretty good heuristic. The problem is that we don't know the range to look at, e.g we don't know that you use parentheses to separate parameters (tho it might be a fair guess...)

[2018-10-03 15:07] #51986 closed

[2018-10-03 15:07] brunnopleffken commented on #59887
This is a reproducible issue that affects the entire Chromium platform (Electron, NW.js, Opera and Vivaldi browsers, etc). We must wait the Chromium team address this, and wait for the Electron team do the same. You can track their progress here: https://bugs.chromium.org/p/chromium/issues/detail?id=858861

But this issue is targeted as Chromium 70, so it's possible that even if they fix it, we wo

[2018-10-03 15:10] liweijian opened #59904 "Mojave: SyntaxError: Unexpected token n in JSON at position 5988"
I just upgrade my system to macOS Mojave, but my vscode doesn't work as before.

[code]

And there's another error:

[code]

[2018-10-03 15:17] christopherkang commented on #57708
I've reproduced this on Windows, too. Is this issue applicable to Mac/Linux?

[2018-10-03 15:17] vl4dimir commented on #59887
@brunnopleffken Thanks for the additional info! Apparently this goes even deeper, into the [Skia library](https://skia.org/) which is used by all the projects you mentioned, and even Firefox. Looks like it may take a while before it's fixed.

[2018-10-03 15:27] brunotassis opened #59906 "Enable and Disable multiple extensions"
It would be useful in the workspace settings to list all the extensions that the project uses and to enable or install automatically.

- Enable and Disable multiple extensions in GUI.
- Enable and Disable multiple extensions on the command line in the project folder.
- In the recommended extensions allow or deny the installation / automatic activation.
- In the user settings enable default extensi

[2018-10-03 15:28] robclancy commented on #59898
I been getting this for like 3 months now. Can't wait for it to be ignored again and linked to "we need more details" like they won't even consider it their problem until 100 people have sent some form.

[2018-10-03 15:28] brunnopleffken commented on #59887
@vl4dimir Indeed. Seems like the Skia team is already working on it (but they still cannot reproduce the font rendering on Safari, which is the best on macOS Mojave until now). So it'll take a long time until it reaches Visual Studio Code.

[2018-10-03 15:33] RMacfarlane commented on #59867
Duplicate of https://github.com/Microsoft/vscode/issues/57595

[2018-10-03 15:33] #59867 closed

[2018-10-03 15:33] Blackbaud-MitchellThomas opened #59907 "Cannot run launch task after failed build - .NET Core"
Issue Type: <b>Bug</b>

When there is a an error in my .NET Core project that causes the build triggered by the launch task to fail, I can't run a launch task until I reload the window unless I select "Debug Anyway". I hit the launch button and nothing happens. There is no log output when trying to launch the second time.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 201

[2018-10-03 15:36] bpasero commented on #56506
@alanrenmsft for some reason I cannot reproduce this issue. I installed VSCode Insiders to this folder: "C:\Program Files\Microsoft VS # Code Insiders" and it starts fine. I do not remember we pushed a fix for this but could you maybe try again with latest insiders?

[2018-10-03 15:37] jrieken commented on #4878
actually related (maybe same) to #10266

[2018-10-03 15:40] chrisuehlinger commented on #41860
Just wanted to give a use case I have for this: I currently have a mono-repo with two Node.js apps and two React apps. Nowadays, a lot of people (myself and my React generator included) mark JSX files with `*.js` extensions. For the sake of formatting and so on, I'd like to have the following settings scoped to the folders for my React apps:
[code]

[2018-10-03 15:42] jens1o commented on #31168
@chrisdias any legal update?

[2018-10-03 15:49] SFoskitt commented on #59854
Hi, @RMacfarlane -
Github will not allow upload/attach of file type HTML so I have copied/pasted the content here.  I get Javascript comments no matter which line(s) are selected (even the `<br/>` lines).
- Stephanie

`<!DOCTYPE html>
<html>
  <head>
    <script>var year = new Date().getFullYear()</script>
  </head>
  <body>
    <h5 class="copy"> &copy; <script>document.write(new Date().getFullYea

[2018-10-03 15:50] bpasero opened #59908 "History: does not work on active file after reload"
Steps to Reproduce:

1. open 1 file with > 20 lines of code
2. click into first line
3. reload window
4. click at the end of the file
5. Go > Back

=> does not work because the history is not tracking the active file properly

[2018-10-03 15:51] #51983 closed

[2018-10-03 15:54] #59908 closed

[2018-10-03 16:00] isidorn commented on #49855
I have introduce a new context key in vscode
`debugConfigurationType` which has the vlaue of the selected configuration type.
Only when that type is node the node extension now contributes Start Debugging and Stop on Entry commands which can be run via F10 and F11.

[2018-10-03 16:04] julianlam opened #59909 "editor.parameterHints.enabled stuck at true if editor.parameterHints is false in user settings"
- VSCode Version: v1.28.0-insider
- OS Version: Linux 4.15.0-34-generic #37~16.04.1-Ubuntu SMP Tue Aug 28 10:44:06 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1. In user settings json file, set `editor.parameterHints` to `false`
2. Open settings page, and **uncheck** "Parameter Hints"
3. Observe that when mouse moves away, checkbox is checked once again.
4. Remove `editor.paramet

[2018-10-03 16:05] Jonatthu commented on #50291
@jrieken I do not think we need a massive number of thumbs up to know what is going to be really useful.

[2018-10-03 16:08] scriptcoded commented on #28709
Can report that this issue is happening for me aswell when [PixiJS](https://github.com/pixijs/pixi.js) is running in an open tab with OpenGL mode. Disabling GPU acceleration in Chrome fixes the problem.

[2018-10-03 16:08] RMacfarlane commented on #59854
Thanks @SFoskitt! I'm able to reproduce the problem using VSCode 1.27.2.

It looks like this has already been fixed in the Insider's version of VSCode, 1.28.0. You can download it here: https://code.visualstudio.com/insiders/, or wait for the release later this week.

[2018-10-03 16:09] Yinkai15 commented on #21839
+1

[2018-10-03 16:10] roblourens commented on #50334
Do we differentiate between different types of frames that might be collapsed separately? For example, if I have code that is "skipped by skipFiles" and code that is "skipped by smartStep", it might make sense for these to be marked differently so they would be collapsed as separate groups. I'm not sure what else debuggers are using presentationHint for.

I can imagine it making sense to hide "sma

[2018-10-03 16:12] martellaj commented on #59876
This isn't a new bug. It's a minor one that I haven't bothered creating an issue for, but finally decided to do it and found this. It's definitely been happening (on Insiders) for at least a week (possibly longer).

[2018-10-03 16:13] isidorn commented on #59873
Somewhat a duplicate of https://github.com/Microsoft/vscode/issues/519
But let's keep this open for now since it is about line height

[2018-10-03 16:15] flowkraD commented on #59820
I tried the second one on Linux and no errors flash. I would wait for someone more experienced with this part of code base to comment on this issue.

[2018-10-03 16:24] lumyx2 opened #59910 "Python Debugger - Errors and lose of variable inspection while stepping"
Issue Type: <b>Bug</b>

Debugging python script raises several errors / exceptions when stepping line by line after triggering a break point.

Once the are thrown, all variables in the debug window stop updating and the ones in the watch list show as "not available". However, the debugger does not crash and it is possible to continue stepping through the script.
Also, variables are still accessibl

[2018-10-03 16:29] wdspider opened #59912 "editor.codeActionsOnSave - source.organizeImports should respect import groups."
While it's great that you can organize imports on save thanks to #46678, the feature should respect import groups rather than combining all of the import groups into one; particularly for those of us who like to keep 3rd party references separate from internal references.

**Original:**
[code]
**Expected:**
[code]
**Actual:**
[code]

[2018-10-03 16:29] nehayward commented on #31372
Okay I have some initial changes but I still need help with testing and doing a proper PR. Here's a [PR]( https://github.com/Microsoft/vscode/pull/59911) which will need more work. Thanks for all the help!

[2018-10-03 16:44] thenem opened #59913 "Find using whole word option doesn't work for special characters"
Issue Type: <b>Bug</b>

When using find with whole word option, searching for == was still finding ===.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700T CPU @ 2.80GHz (8 x 2808)|
|GPU Status|2d_canvas: enabled<br>

[2018-10-03 16:48] joshtynjala commented on #22778
I also found that **!(!A && !B)** does not work. I'm guessing that parentheses are not supported either.

In a duplicate issue, I found [an actual valid workaround](https://github.com/Microsoft/vscode/issues/33547#issuecomment-389972751) that will help in some cases. Apparently, you can use regular expressions to compare a field against multiple values. So, the original post that wants to allow mu

[2018-10-03 16:52] sbatten commented on #59886
@isidorn is this something that would have changed with the UriDisplayService?

[2018-10-03 16:53] diogoan commented on #58893
@misolori I'm using vscode 1.27.2 on Win10 1803 too. I reinstalled vscode just to check how to reproduce and I'm not seeing the wrong icon/background again. Maybe that was corrected in a previous release?

![image](https://user-images.githubusercontent.com/3026040/46425931-6a81d600-c713-11e8-8905-2cc99e4bd72f.png)

I was using just an icon pack extension, but even installing it again, the icon is

[2018-10-03 16:53] #58893 closed

[2018-10-03 16:54] Zaeyi commented on #59820
ok， thanks

[2018-10-03 16:55] roblourens commented on #49855
I'm a little worried about this global variable in the config provider: https://github.com/Microsoft/vscode-node-debug/commit/0f004a2abb779f155d806b3d3daae93f20fe9c6b#diff-35cf5c034aecdc798ffe64808bf07609R18

You could have debugging fail to start on vscode's end for some reason so the next call to `resolveDebugConfiguration` is not actually associated with that `workbench.action.debug.start`, or

[2018-10-03 17:00] roblourens commented on #59606
Oh, I do see this now.

- Press cmd+f
- Immediately start typing

In the editor, all the characters show up in the find widget. In the terminal and webview find, it doesn't get characters until the animation is finished. You would have to have very fast reflexes to hit this in real life. But now that I've noticed it I may never "unnotice" it...

[2018-10-03 17:03] yellowdragon1 commented on #56644
I use 1.26 &1.27 in  Windows 10 also very very slow.
1.25 is very fast.

[2018-10-03 17:05] RayCore commented on #59824
I'm not sure what you mean by feature.
I'd use it in the settings.json file to set the cpp default compiler path and clang-format.exe path(and every other path i might need).
The idea is to have all paths i want to set relative to vscode's path so that i can have a "IDE" folder that i'll never touch, while still being able to place my project folders wherever i want without breaking all the paths(

[2018-10-03 17:07] CraigHead commented on #56680
Great, so in an effort to help understand this issue today I force removed my git repo for this electron project. Re-cloned and re-installed npm packages. Now I can't reproduce this issue. Leaving me to think it was either environmental to that repro OR there was a npm package that was throwing an error and has since then been fixed. I wasn't able to compare the broken directory because I had trie

[2018-10-03 17:10] #58928 closed

[2018-10-03 17:10] Aghassi commented on #59898
I'd like to add to this that I've had this issue beyond killing the application. I can quite VSCode, and still have CodeHelper pinning my CPU at 100%. I have to force quit it via Activity Monitor to clean it out.

[2018-10-03 17:12] RMacfarlane commented on #59820
@Zaeyi Hmm, the actual runtime behavior of python should be determined by python itself. It looks like the terminal you're using in VSCode is PowerShell. Can you check the Python version in both cmd and PowerShell by running `python --version`? Are the environments the same? Are you running the program in the same way?

[2018-10-03 17:12] sbatten opened #59915 "Reduce the menubar cache verbosity"
From @bpasero regarding #59855

In the spirit of keeping the data in the state service to a minimum, can we maybe try to produce less verbose data? All of this goes into one file (`/Users/<name>/Library/Application Support/code-oss-dev/storage.json`) that is saved on each change, so I would like to avoid producing too much data. Some things that would help:
* remove the now obsolete `lastKnownKeyb

[2018-10-03 17:17] Tyriar commented on #59876
This only appears to happen on Windows, weird 😕 /cc @cleidigh

[2018-10-03 17:18] alyonsfx commented on #42966
@kleber-swf That sounds nice. Additionally, if you rename or move things (folders, etc) in vs Code's file explorer, it auto renames/moves the .meta file.

[2018-10-03 17:18] db585 opened #59916 "Explorer: copy symlink instead of target when doing copy/paste operations"
![screencast 2018-10-03 20-15-27](https://user-images.githubusercontent.com/20629939/46427209-7d170200-c749-11e8-9494-7309f961c5e0.gif)

- VSCode Version: 1.27.2
- OS Version: MacOS 10.14

Steps to Reproduce:

1. In Explorer. Right click on symlink/ copy
2. On any folder right click/ paste

Does this issue occur when all extensions are disabled?: Yes

[2018-10-03 17:19] Tyriar commented on #34103
@MPV it would have to be built into the core, the main thing that needs to happen now is to evaluate how much weight the addon would add to the VS Code distributable.

[2018-10-03 17:28] bpasero commented on #58928
@sbatten just so that we do not forget, this needs a test plan item or verification needed at least. I will add the label now so we do not forget.

[2018-10-03 17:31] RMacfarlane commented on #59901
This issue was moved to Microsoft/vscode-python#2785

[2018-10-03 17:31] #59901 closed

[2018-10-03 17:35] RMacfarlane commented on #59880
Please follow the guide in https://github.com/Microsoft/vscode/wiki/Performance-Issues to help diagnose the issue

[2018-10-03 17:39] roblourens commented on #59894
I see what Atom is doing, I don't understand the reasoning behind the ignored characters. - is ignored, + is not, etc.

Are you copying/pasting from code into quickopen? Otherwise I don't understand why you have backslashes.

It probably makes sense to treat `\` as `/` at least.

[2018-10-03 17:46] roblourens commented on #59812
Thanks @dralley. Stable release probably comes tomorrow (Thursday)

[2018-10-03 17:46] #59812 closed

[2018-10-03 17:47] roblourens commented on #59492
Very weird! I don't even get that.

[2018-10-03 17:47] RMacfarlane commented on #59879
What keyboard layout are you using?

We want to avoid changing default keyboard shortcuts as this will negatively impact people already using them. You can configure your keyboard shortcuts with `File > Preferences > Keyboard Shortcuts`. https://code.visualstudio.com/docs/getstarted/keybindings

[2018-10-03 17:49] bpasero commented on #59894
@roblourens at least the scorer in quick open would have to understand that / === \ (e.g. [here](https://github.com/Microsoft/vscode/blob/702633545197f9ddf6d0ae8ea7589cc53ce70455/src/vs/base/parts/quickopen/common/quickOpenScorer.ts#L152)).

Not sure how much benefit this brings.

[2018-10-03 17:51] Developing43 opened #59917 "Live Server Showing wrong code"
Issue Type: <b>Bug</b>

After I write my code I right click on the code and open with live server .  When it opens it is running a different code that is no longer open.  I have closed Visual Studio and reopened it.  Tried saving the file to a different are.  Still no resolve.  Please help!

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS versio

[2018-10-03 17:52] dorian-marchal commented on #59894
Yep, I copy paste code in quickOpen, a lot.

[2018-10-03 17:57] #59397 closed

[2018-10-03 18:02] roblourens commented on #59913
It searches for "word boundaries" which are usually defined by non-alphanumeric characters, not just whitespace. It sort of seems like it should match neither, but this case isn't well-defined. This seems consistent with other editors.

I recommend searching ` == ` or using a regex.

[2018-10-03 18:02] #59913 closed

[2018-10-03 18:03] RMacfarlane commented on #59843
Hi @loox37, thank you for your willingness to help! Right now we don't have support for right to left languages, here is the issue tracking it: https://github.com/Microsoft/vscode/issues/11770

Once that is added we would appreciate your help in translating. Here is the guide to contributing: https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project

[2018-10-03 18:03] #59843 closed

[2018-10-03 18:09] roblourens commented on #59894
Yeah I think it would actually be tough to implement...

[2018-10-03 18:10] #59894 closed

[2018-10-03 18:11] RMacfarlane commented on #59906
The first part is covered by https://github.com/Microsoft/vscode/issues/15442

For enabling/disabling multiple extensions at once, I believe https://github.com/Microsoft/vscode/issues/49826 and https://github.com/Microsoft/vscode/issues/27147 cover this

[2018-10-03 18:11] #59906 closed

[2018-10-03 18:12] #59153 closed

[2018-10-03 18:17] roblourens commented on #59909
This is https://github.com/Microsoft/vscode/issues/56768 :(

[2018-10-03 18:17] #59909 closed

[2018-10-03 18:18] PranayAgarwal opened #59918 "Change publisher ID for an extension"
- VSCode Version: any
- OS Version: any

I want to change the publisher of my extension (https://marketplace.visualstudio.com/items?itemName=pranayagarwal.vscode-hack) from a personal to organization account.

Changing just the name won't work because the ID is still visible in a lot of places in UI. Is there any way to do it without creating a new extension and having people uninstall/reinstall (

[2018-10-03 18:19] mjbvz commented on #59898
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-10-03 18:22] roblourens opened #59919 "Text search results in API should return all matches on one line in a single result object"
We would change `match` to `matches` and `range` to `ranges`

[code]

[2018-10-03 18:27] kabua opened #59920 "Reopening: Step Into (F11) steps into transpiled JavaScript when debugging TypeScript that uses async/await"
vscode Version: 1.27.2
OS Version: Windows 10 Pro
Node Version: 8.9.3
TypeScript Version: 2.9.2

To learn more about TypeScript's `async/await` feature I've been building and stepping through the Microsoft's Sample [async app](https://github.com/Microsoft/TypeScriptSamples/tree/master/async) (that is, once I fixed 2 TS upgrade issues).

In the original "Step Into (F11) steps into transpiled JavaSc

[2018-10-03 18:37] roblourens commented on #47058
This issue is old and a bit stale, I am closing it and opening more specific issues.

[2018-10-03 18:37] #47058 closed

[2018-10-03 18:39] roblourens opened #59921 "Stabilize TextSearchProvider API"
Master issue to track stabilizing the TextSearchProvider extension API...

[2018-10-03 18:40] roblourens opened #59922 "Remove/evolve FileIndexProvider"
Master issue to track stabilizing the FileSearchProvider extension API...

Forked from #47058

- Remove FileIndexProvider
- Get shared fuzzy matching code into some npm module to share between vscode and Live Share

[2018-10-03 18:40] anandpawara opened #59923 "Indentation not working properly"
=

- VSCode Version:1.27.2
- OS Version:Ubuntu 16.04

Steps to Reproduce:

1.Install beautify
2.reload

sample code with beautify disabled:

import React, { Component } from 'react';
import './App.css';
import UserInput from './components/UserInput';
import UserOutput from './components/UserOutput';
class App extends Component {
  state = {
    data:[
      {name:'Anand'}
    ]
  }
  render() {

[2018-10-03 18:41] roblourens opened #59924 "Stabilize findTextInFiles API"
Depends on

- #59919
- #59458

[2018-10-03 18:54] roblourens commented on #59430
I still repro with the above steps.

That line isn't where the uri is parsed, the original stack that I posted it still the issue.

![image](https://user-images.githubusercontent.com/323878/46432395-035c2580-c703-11e8-9a54-e944b0c5b1b1.png)

This is

[code]

[2018-10-03 18:54] #52676 closed

[2018-10-03 18:58] RMacfarlane commented on #59809
Can you open the `settings.json` file and report its contents after step 5 and 8?

![screen shot 2018-10-03 at 11 55 44 am](https://user-images.githubusercontent.com/3672607/46432536-5b932780-c703-11e8-82d4-95a0f9161ca4.png)

I can repro that language-specific settings aren't being written, but not sure why behavior changes after restarting

[2018-10-03 19:09] julianlam commented on #59909
Thanks

[2018-10-03 19:09] julianlam commented on #56768
Is there no backwards compatibility for the settings? I'd assume that if I set `editor.parameterHints`, that the setting itself would be carried over even if `editor.parameterHints` is now `editor.parameterHints.enabled`.

[2018-10-03 19:36] ssgtmccrae opened #59925 "<tab> being inserted instead of actual tabs"
Occurs randomly throughout the day, not occurring in any other applications, fixed by restarting VSCode. Also having issues with VSCode forgetting the replace tabs with 2 spaces even though detect indentation is turned off. Please let me know if this human error :-)

register: lxc_info
  when: ansible_distribution_release == 'bionic'

- name: DEBUG - DEBUG - DEBUG
\<tab>\<tab>\<tab>\<tab>\<tab>\<t

[2018-10-03 19:56] #59803 closed

[2018-10-03 20:00] rebornix commented on #59892
This issue was fixed in Insiders and next Stable version.

[2018-10-03 20:00] #59892 closed

[2018-10-03 20:07] saidbakr commented on #59809
After step 5 the contents of `settings.json` are:
![image](https://user-images.githubusercontent.com/467554/46435679-34664580-c757-11e8-8897-7edf3c5c1b3b.png)

After step 8, i.e after restarting the program:
![image](https://user-images.githubusercontent.com/467554/46435860-b22a5100-c757-11e8-8125-e5fbce46074a.png)

### Very Important Notice

This issue is clearly found in a pure Vue.js project. H

[2018-10-03 20:22] eamodio opened #59926 "TreeView.reveal seems to always take focus, even with { focus: false } when the view is in SCM view container"
Issue Type: <b>Bug</b>

This seems like a recent regression -- `TreeView.reveal` seems to always steal input focus even if `focus` is set to `false` (or left `undefined` as the default is `false`).

/cc @sandy081

VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-03T12:44:29.343Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info

[2018-10-03 20:32] Daxis9 opened #59927 ""Edit in Visual Studio Code" Right-click Context Menu"
Would be great to have an "Edit in Visual Studio Code" option in the right-click context menu like Notepad++ has.

[2018-10-03 20:32] eamodio opened #59928 "TreeDataProvider.onDidChangeTreeData can seem to block other UI"
Issue Type: <b>Bug</b>

In the next version of GitLens (9.0), I have rebuilt how GitLens populates and updates its views. I have basically ended up with a model, that has no overhead while a view is hidden/not in view/collapsed, but when a view becomes visible again I trigger a full refresh of the tree. Functionally everything works fine, but if there is work to be done (git calls, etc) to build t

[2018-10-03 20:35] pzelnip commented on #58346
To save people the hassle of Googling, that's this extension: https://marketplace.visualstudio.com/items?itemName=shardulm94.trailing-spaces

[2018-10-03 20:36] LoJoDo opened #59929 "C++ initializer list not recognized"
Issue: VS Code will not accept C++ initializer list

[GCC] Error Reported relative to EACH line of the source code (84 errors in total):
{
	"resource": "/home/jim/CodeProjects/HexGameProject/HexGame/Source/gamepiecemanager.cpp",
	"owner": "cmake-build-diags",
	"code": "undefined",
	"severity": 8,
	"message": "expected primary-expression before '0'",
	"source": "GCC",
	"startLineNumber": 597,
	"sta

[2018-10-03 20:37] roblourens commented on #59809
In the last one, it looks like there's also a match in workspace settings, so maybe that project has the setting overridden in workspace settings.

Could there be some extension toggling this setting? Would editorConfig do that? Can you repeat this starting with the `--disable-extensions` flag to test?

[2018-10-03 20:42] roblourens commented on #59816
It was supposed to be wider but the css is wrong - fixed.

[2018-10-03 20:43] #59816 closed

[2018-10-03 20:46] usernamehw commented on #38459
But ... but ... the issue had several formats:

and PR added only 1 (PascalCase)

[2018-10-03 20:48] eamodio opened #59930 "Terminal drop down doesn't match visible terminal"
Issue Type: <b>Bug</b>

Recently I've noticed that the terminals drop down doesn't always reflect the visible terminal. I've seen this happen most often when tasks create new terminals.

/cc @Tyriar

VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-03T12:44:29.343Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|I

[2018-10-03 20:50] wjessop commented on #10121
I hit this limitation a couple of times a day, it's a pretty big missing feature for me.

[2018-10-03 20:54] saidbakr commented on #59809
@roblourens In the Vue project, I search for extensions with "match" keyword and I found an installed extension called [`rafamel.subtle-brackets`](https://marketplace.visualstudio.com/items?itemName=rafamel.subtle-brackets). When I disabled it, everything worked fine even after restarting the editor!

The question is why it toggled the setting value in Vue project while it does not toggled it Lara

[2018-10-03 20:59] mjbvz commented on #59929
Please file this issue against the c++ tools extension

[2018-10-03 20:59] #59929 closed

[2018-10-03 21:12] #59473 closed

[2018-10-03 21:12] Yanpas commented on #32257
BTW a lot of beautiful themes may be made if allow using not only colors but textures. Example (mad skillz):
![image](https://user-images.githubusercontent.com/7345761/45565580-9b7d9200-b85c-11e8-97ac-f9fafc5a1ef4.png)

(previous issue https://github.com/Microsoft/vscode/issues/58709)

[2018-10-03 21:12] Yanpas opened #59931 "titleBarStyle custom on Linux has no shadow"
- VSCode Version: 1.27.2
- OS Version: Kubuntu 18.04

If you set **titleBarStyle**  to **custom** then window manager won't paint a shadow on the border of the window.

Screenshot
![image](https://user-images.githubusercontent.com/7345761/46460928-0ff58200-c7c6-11e8-819e-b733ecf4421a.png)

[2018-10-03 21:13] misolori opened #59932 "Find in selection button is not toggleable via the space key"
Issue Type: <b>Bug</b>

1. Open find widget
2. Type text
3. Tab to the "Find in selection" toggle
4. Press space to toggle
5. Nothing happens

Expected to toggle the button since the rest of the toggles are toggleable via the space key. GIF below shows each toggle turning on via space, the find in selection does nothing.

![gif](https://user-images.githubusercontent.com/35271042/46439692-12989e80-

[2018-10-03 21:15] andrewtomai opened #59933 "Node Debugging Tools Preload Modules"
Currently, the Node debugging tools allow you to add arguments for the program you wish to run, but there is no way to add arguments/options for node itself.  Specifically, it would be nice to be able to [preload modules when debugging](https://nodejs.org/api/cli.html#cli_r_require_module).

Then, in `launch.json`, you could have a configuration something like the following:
[code]

[2018-10-03 21:20] roblourens commented on #58758
I have a fix, as a workaround you can enable `searchRipgrep.enable` because it seems to work in that mode.

[2018-10-03 21:29] rdosanjh commented on #59787
I'd like to take this 🙂

[2018-10-03 21:46] #58758 closed

[2018-10-03 21:56] octref opened #59934 "Triple dot for destructuring invokes and accepts completion results"
![dot](https://user-images.githubusercontent.com/4033249/46441736-45459580-c71c-11e8-9d72-770689ae0f39.gif)

Repro:

- Install any package with types, for example `request` and `@types/request`
- Try to type three dots in a object literal that is used as an option parameter
- `.` invokes completion and accepts them

[2018-10-03 22:00] roblourens commented on #59809
Interesting, thanks for finding that extension.

Probably because of

[2018-10-03 22:00] #59809 closed

[2018-10-03 22:43] guneyozsan opened #59937 "Cursors lose sync when using "Ctrl+Arrows" during "Change all occurences (Ctrl+F2)""
Issue Type: <b>Bug</b>

1) Select a word and Ctrl+F2 on it.
2) Move to left or right a couple of times using Ctrl+Arrow keys. Make sure to leave the original selection
3) Come back to original selection using plain arrow without using Ctrl.
4) Cursors will lose location sync and edit different places of the original selection.
![vs-bug](https://user-images.githubusercontent.com/19275187/46443748-8

[2018-10-03 22:45] monirkohi2006 commented on #58661
Same here!

![image](https://user-images.githubusercontent.com/32991357/46443654-5219b780-c723-11e8-846e-3267beee77d4.png)

[2018-10-03 23:11] edysuh opened #59938 "Color scheme randomly changes to something else"
Issue Type: <b>Bug</b>

Not really sure how to repro, but every now and then, the color scheme will change to a different one. Not sure, but it seems to happen when a complex key combination is pressed while using VsCodeVim.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summa

[2018-10-03 23:28] mjbvz commented on #59908
@bpasero Was this a candidate for September? Or just wrong milestone?

[2018-10-03 23:30] #59930 closed

[2018-10-03 23:31] moe123 commented on #58902
[logs.zip](https://github.com/Microsoft/vscode/files/2444370/logs.zip)

[2018-10-03 23:32] mjbvz commented on #59854
Hey I'm still seeing this in 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9

Moving out to October. @aeschli can you please take a look

[2018-10-04 00:13] sbatten commented on #59487
verified by packaging https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.16.2 and installing manually

[2018-10-04 00:24] yangshuairocks opened #59939 "VSCode 1.28.0-insider doesn't refresh snippets when it's modified outside of VSCode"
- VSCode Version:
Version: 1.28.0-insider
Commit: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Date: 2018-10-03T12:44:29.343Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

- OS Version:
Win 10 Ultimate

Steps to Reproduce:

1. Open VSCode
2. Use another text editor software like notepad and create a snippet. Save it in the snippet folder. An example would be th

[2018-10-04 00:24] ramya-rao-a opened #59940 "Settings descriptions bleed into the scrollbar area"
- VSCode Version: 1.28 Insiders
- OS Version: Windows

![image](https://user-images.githubusercontent.com/16890566/46446398-053cdd80-c731-11e8-9033-724ecb6287b7.png)

[2018-10-04 00:31] glowtape commented on #47661
Maximized terminal pane would be nice. VS Code makes as a nice host for a Powershell console.

[2018-10-04 00:33] vmaleev opened #59941 "WSL: Allow to save files as admin"
- VSCode Version: 1.27.2 plus Nginx.conf extension 0.5.0
- OS Version: Windows 10 Education, Ubuntu 18.04 LTS on Windows 10

Steps to Reproduce:

1. Install Ubuntu 18.4 LTS from Windows Store
2. Install X410 from Windows Store
3. Configure X410 by using article from developer https://token2shell.com/howto/x410/customizing-xfce-desktop-for-ubuntu-wsl/
4. Install VS Code from repository by this manu

[2018-10-04 00:39] RMacfarlane commented on #59880
Specifically, the information that would help is
- Do you see the same problem if you disable all extensions
- What types of files are you opening/how large is the folder?

Also, I assume by visual studio, you mean visual studio code, right?

[2018-10-04 01:08] scottymcraig commented on #59927
This already exists in the Windows version.  Are you talking another OS or am I missing something?

![image](https://user-images.githubusercontent.com/6181734/46447535-6de78280-c750-11e8-99b1-74b18a6be54b.png)

[2018-10-04 01:44] mrmos commented on #10121
I was looking to open the same folder in two separate instances of VSCode -- I was able to find a workaround by creating a new workspace (containing only the project folder) and then opening the project in one window and the workspace in the other.

[2018-10-04 01:52] roblourens commented on #59940
Did you do something to disable word wrap in that editor? Seems that word wrap is always enabled for me even if I turn the setting off.

[2018-10-04 01:52] roblourens commented on #59940
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/preferences/browser/preferencesEditor.ts#L1029

[2018-10-04 01:58] Daxis9 commented on #59927
I guess I'm missing something then. I just tried it on another computer and it works there. But it's not working at all on my primary workstation, even when I have the file type associated with VSCode. I'll try uninstalling and reinstalling and see if that fixes it. Are there any config options I can check?

[2018-10-04 02:02] jamesgpearce opened #59942 "`[ts]` problems have to be toggled with javascript.validate.enable"
These seem to be errors relating to TypeScript but you toggle them off not with the `typescript.validate.enable` setting but `javascript.validate.enable`.

I now lose JavaScript diagnostics just because I want to use a different type system.

Expected: that I disable the `typescript.validate.enable` checkbox to lose the typescript warnings, not the JavaScript one. Also the warning is a bit disinge

[2018-10-04 02:08] ryancole commented on #41860
This is huge for Unreal Engine projects, in which there are a bunch of other folders and you're only interested in the source code folder.

[2018-10-04 02:16] TANGL3SIT3S opened #59943 "Not reading the prototype chain correctly"
[code]
-----------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

VSCode is telling me that sayHello() is not on the prototype chain, even though in Chrome the console reads it correctly. I believe that its a Typescript error it i

[2018-10-04 02:19] #59923 closed

[2018-10-04 03:31] zenoven commented on #4039
exactly the same issue with @clocksmith

spent too much time searching for a solution but none succeed

[2018-10-04 03:40] gulshan commented on #5280
I proposed something similar in #29407 which was closed. Did not see this issue. My +1.

[2018-10-04 03:58] defaults commented on #46816
@audoralc have you already started on this or can i take this up?

[2018-10-04 04:03] defaults commented on #59934
@octref I would like to take this up. This will be my first contribution so can you help me get started? I have already familiar with contributing guidelines.

[2018-10-04 04:03] audoralc commented on #46816
@defaults I have already started

[2018-10-04 04:32] bpasero commented on #59904
@liweijian that is weird and should not happen. You can fix this by:
* close code
* empty the folder `/Users/<username>/Library/Application Support/Code/Local Storage`
* start again

Do you remember how you got into that state?

[2018-10-04 04:34] octref commented on #59934
@mjbvz Owns this part and he could help you out.

[2018-10-04 04:37] bpasero commented on #59908
@mjbvz sorry, October.

[2018-10-04 04:38] bpasero commented on #59941
This is very unlikely to be supported by VS Code, but will keep this issue open for a bit in case somebody has opinions.

[2018-10-04 04:39] bpasero commented on #59680
@garyking that is weird. do you know ever get out of the state of having this invisible file or not?

[2018-10-04 04:45] #59879 closed

[2018-10-04 04:45] garyking commented on #59680
No, once an invisible file exists, I've never been able to get rid of it, other than closing the window and choosing `Don't save`.

[2018-10-04 04:54] bpasero commented on #59680
@garyking ok but after doing so, it does not come back at least.

[2018-10-04 05:27] shepelevstas commented on #59698
![untitled](https://user-images.githubusercontent.com/14919836/46454456-6962ae80-c7d0-11e8-8156-90aa36837925.png)

[2018-10-04 05:29] vladknp opened #59946 "Extension stop " debug-auto-launch""
- Extension Name: debug-auto-launch
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.14393
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-04 05:30] shepelevstas commented on #59698
maybe it's caused by 3 added colorpicker squares in one row?

[2018-10-04 05:38] shepelevstas commented on #59698
It really is the colorpickers! Turning off color decorators fixed it, but now I don't have color decorators :))
![untitled2](https://user-images.githubusercontent.com/14919836/46454778-1ee23180-c7d2-11e8-9ad6-3b9be515d0a1.png)

[2018-10-04 05:56] bpasero commented on #59680
What I find weird is that you end up with a file path of `file:///Untitled-1`. That does not sound right unless you maybe opened VSCode on root folder?

[2018-10-04 05:59] GustavoRodriguesdeBrito opened #59947 "'<center>' tag marked in red color when it shouldn't"
Issue Type: <b>Bug</b>

the <center> tag keeps appearing in red as if it has been typed incorrectly even if it is created by the autocomplete feature itself, regardless where it is placed on the HTML document or the contents inside of it.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>Syst

[2018-10-04 06:08] bpasero commented on #50103
I pushed a fix to not draw `NanTB` in the status bar if the size is not known.

[2018-10-04 06:12] #59511 closed

[2018-10-04 06:12] #59491 closed

[2018-10-04 06:13] alvfig commented on #20790
So, the only way to upgrade by now is manually download the latest 32-bit package and install it, right?

[2018-10-04 06:14] usmanhf commented on #59693
Hey I'd like to work on this feature. It might take me a couple of days to get started because of midterms, so if anyone else solves it in the meantime that's cool. :)

[2018-10-04 06:36] bm-stschneider commented on #59814
It is there without extensions. I have Detect Indentation off as I already said. I Have auto indent on, if that does anything. Also, I have default indentation tabsize at 2 but for twig 4.

[2018-10-04 06:36] mjbvz commented on #59934
Thanks @defaults but this is not a good first issue as it is more complicated than it appears and may need to be fixed in 1.28.1 recovery build

[2018-10-04 06:47] duttaditya18 commented on #32257
@Yanpas Texturing does look great! Let's see if the the maintainers pay attention to Design Issues,

[2018-10-04 06:47] duttaditya18 commented on #32257
@Yanpas Texturing does look great! Let's see if the the maintainers pay attention to Design Issues.

[2018-10-04 06:49] mjbvz commented on #59792
Do you still see this error in the latest version from master? (make sure to update modules with yarn too)

[2018-10-04 06:57] msgerneu commented on #59927
I think this is not related to the old bug since there was an installer change with APPDATA installation and now this feature is gone. but anyhow, who am i to tell the developer whats working and whats not... im just jusing this

[2018-10-04 07:00] aeschli commented on #59854
It's a grammar / textmate issue.
`<script>var year = new Date().getFullYear()</script>`

The grammar thinks `<` is an operator for the expression and continues to parse the rest of the file as JavaScript.

The problem is that JavaScript grammar is not aware that it is used embedded. The best way would be if HTML includes its own grammar for embedded JavaScript: https://github.com/textmate/html.tmb

[2018-10-04 07:00] #59854 closed

[2018-10-04 07:04] GasCreature opened #59948 "Cannot install extension from VSIX"
- VSCode Version: 1.27.2
- OS Version: macOS Mojave version 10.14

Steps to Reproduce:

1. Download rebornix.Ruby-0.20.0.vsix from marketplace and place file in a parking directory.
2. In VSCode, Install from VSIX... Then select the rebornix.Ruby file. Click Install.

Got ECONNREFUSED error. See attached screenshot from VSCode.

![screen shot 2018-10-03 at 11 36 21 pm](https://user-images.githubus

[2018-10-04 07:18] #20303 closed

[2018-10-04 07:28] loox37 commented on #59843
Damnit... I was looking forward to contribute in something :/

On Wed, Oct 3, 2018, 9:06 PM Rachel Macfarlane <notifications@github.com>
wrote:

[2018-10-04 07:33] vino-vinoth commented on #59880
yes, i am using vs code and i disabled all extensions but  still i got hanging whole system when opening either  when i am using
is that problem related low memory i  my  system or intel core i3 processors i don't why??
 thanks for replying as quickly:) sorry for my poor english.

[2018-10-04 07:34] #58468 closed

[2018-10-04 07:35] #59880 closed

[2018-10-04 07:37] emptygiiiz opened #59949 "Pymakr(1.0.3) error from last update vsc (1.27.2)"
Issue Type: <b>Bug</b>

Before update it can work normally after install update, When i start VSC it auto connect to board from address in file pymakr.json warnning show
(Running the contributed command:'pymakr.connect' failed.) i can't command in pymakr.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<detai

[2018-10-04 07:37] skprabhanjan commented on #59919
@roblourens , is this just changing the names as you suggested?

[2018-10-04 07:41] eamodio commented on #53598
@nicksnyder the preview flag just marks an extension as "preview" in the marketplace (it gets a little preview badge). Other than being whitelisted by vscode and the marketplace there isn't a way to use the proposed apis.

Also CodeStream doesn't currently use the comments API.

[2018-10-04 07:47] dbaeumer commented on #59907
@isidorn assigning to you first since this is more about launch then task running. If there is something I can help with or need to address please ping.

@Blackbaud-MitchellThomas do you have a GitHub repository we can clone that demos this ?

[2018-10-04 07:54] freislot commented on #59899
Same issue

Версия: 1.28.0-insider (user setup)
Фиксация: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Дата: 2018-10-03T12:44:29.343Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Архитектура: x64

Win 10 Pro Build 17763.1

[2018-10-04 07:58] dbaeumer commented on #59907
@isidorn might be the same as https://github.com/OmniSharp/omnisharp-vscode/issues/2575

[2018-10-04 08:12] isidorn commented on #59886
@sbatten no, but it could be a feature request against the UriDisplayService which I think makes sense.
There could be a `maxLength: number` [here](https://github.com/Microsoft/vscode/blob/8795a9d6423a579a13c5fea4353e54e0f10ecc78/src/vs/platform/label/common/label.ts#L34) the menu would pass the maxLength and the uriDisplayService would properly cuttoff

[2018-10-04 08:13] #57595 closed

[2018-10-04 08:15] buehler commented on #37806
I remove the feature from TSHero so it does not matter anymore ;-)

[2018-10-04 08:15] #37806 closed

[2018-10-04 08:16] isidorn commented on #49855
@roblourens anything that passes through vscode does not really make sense since vscode is unaware of `stopOnEntry` attribute.
Though I agree with your concerns, but the worst case is that something will stopOnEntry when it should not in a weird corner case. I personally do not see this as a big issue.

[2018-10-04 08:18] isidorn commented on #59907
@Blackbaud-MitchellThomas can you reproduce this behavior with the latest vscode insiders
https://code.visualstudio.com/insiders/

[2018-10-04 08:20] #59910 closed

[2018-10-04 08:20] joaomoreno opened #59950 "Panel view collapse/expand animation broken"
This commit broke the collapse/expand animation: https://github.com/Microsoft/vscode/commit/d4f8481432a205b6d2f9874269d0b5712ef070a5

On my mbp, I don't see the animation any more unless I continuously click the header to collapse and expand many times in a row.

[2018-10-04 08:24] muratdogan17 opened #59951 "Emmet bug: fsz12 matches with font-style instead of font-size"
- VSCode Version: 1.27.2
- OS Version: Mac OS High Sierra

Steps to Reproduce:

1. open an scss file
2. type fsz18

Does this issue occur when all extensions are disabled?: Yes

I'm using built-in emmet function while writing scss. When I start to type fsz in an scss file the tooltip show it stands for font-size :

![image](https://user-images.githubusercontent.com/8065824/46461494-75963e00-c7c7-1

[2018-10-04 08:24] joaomoreno opened #59952 "Shortcut background broken with centered editor layout"
Steps:

1. Open new Window
2. Toggle Centered Editor layout
3. Resize the editor while holding Alt, so the other sash doesn't resize

<img width="1552" alt="screenshot 2018-10-04 at 09 24 08" src="https://user-images.githubusercontent.com/22350/46461736-54c5ec80-c7b7-11e8-9d0a-d0e0125b2c66.png">

[2018-10-04 08:24] DanTup opened #59953 "Provide context to format provider so it knows whether a format came from a save request/manual invocation"
I have users that need to disable format-on-save for some sub-tree within their project. Since they can't put settings in sub-folders (without making them workspace folders, which duplicates them at the top - see https://github.com/Microsoft/vscode/issues/45470) my plan is to implement a setting where they can configure a list of files (patterns, like `files.exclude`) to exclude from formatting.

[2018-10-04 08:30] bpasero commented on #59950
@joaomoreno weird, that must be an issue you only see when using MBP touchpad, it does not reproduce when using a mouse on any OS.

[2018-10-04 08:32] joaomoreno opened #59954 "Settings editor needs minimum size constraints"
The new settings editor should have minimum size constraints:

<img width="308" alt="image" src="https://user-images.githubusercontent.com/22350/46462030-34e2f880-c7b8-11e8-86f5-057313a5b66a.png">

For example, the old settings editor can't go smaller than this:

<img width="524" alt="image" src="https://user-images.githubusercontent.com/22350/46462110-6eb3ff00-c7b8-11e8-9d71-f414ffbc7211.png">

[2018-10-04 08:33] joaomoreno commented on #59950
Yeah I figured it was platform/hardware specific...

I'll try to find a way to distinguish between initial creation and other events. 👍

[2018-10-04 08:34] fadeevab commented on #59886
One more: for now I use the "trick" to see the final destination: File -> Open Recent -> **More...**, there is a directory in the blue box at the start of the each line of the dropped menu.

[2018-10-04 08:37] bpasero commented on #59916
@isidorn I think my change would not make a difference for this case. I am not sure what to do here best, we could detect if the thing that is selected is a link and then copy the link, but that might confuse people that expect the opposite to happen...

[2018-10-04 08:37] isidorn commented on #59933
As far as I know this is possible with an extension:
Write an extension that contributes the nodeArgs field to launch.json and contributes a [provideDebugAdapter](https://github.com/Microsoft/vscode/blob/8795a9d6423a579a13c5fea4353e54e0f10ecc78/src/vs/vscode.proposed.d.ts#L553). The provideDebugAdapter would simply read out the nodeArgs from the config and would return them as `args` in the `Debug

[2018-10-04 08:38] bpasero commented on #59950
@joaomoreno OK, I tried that initially I think but failed to get that right because some views where coming in just a bit later with a delay.

[2018-10-04 08:39] isidorn commented on #59933
After reading the api again it seems there is a limitation that `An extension is only allowed to register a DebugConfigurationProvider with a provideDebugAdapter method if the extension defines the debug type`.
So reopening and letting Andre to decide.

[2018-10-04 08:42] joaomoreno commented on #59950
Hmmm this is really weird... your change actually makes a lot of sense. Investigating...

[2018-10-04 08:42] #57850 closed

[2018-10-04 08:45] isidorn commented on #59952
The issue here is that the watermark-box element is not belonging to the editor-area split view, thus it does not get centered.
IMHO it should be creataed inside the editor area split view just like the background image is.
forwarding to @chrmarti

[2018-10-04 08:47] isidorn commented on #59916
@bpasero yeah it is a bit leaning towards user preference. No action for now and let's wait for more feedback and we might introduce an option in the future.

[2018-10-04 08:55] tigerscar commented on #56810
This problem could be an issue of our corporate endpoint security. This morning an Firefox update also ended in an non-killable process after applying an update. Have to research more.

[2018-10-04 08:58] isidorn commented on #59857
This was behaving like this since day 1. I do not really see a difference in behavior here?
Zen mode does not change anything with regards to files being opened, it just changes how they are presented.

When you say previous file vanishes in step 4, it does not vanish it is still there just not shown if you are hiding tabs, if you are showing tabs I still see it.
Pictures / videos would help if yo

[2018-10-04 09:02] #56467 closed

[2018-10-04 09:02] #59933 closed

[2018-10-04 09:03] joaomoreno commented on #59950
It was related to the order of listeners to that `onDidChange` event. We gotta add the listener sync, but we must react to it after the next animation frame. 👍

[2018-10-04 09:04] weinand commented on #59933
@andrewtomai @isidorn of course you can add arguments/options for node itself: just use the `runtimeArgs` property of a launch config.

I suggest that you make yourselves familiar with the available launch config properties: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_launch-configuration-attributes

[2018-10-04 09:07] isidorn commented on #59430
@roblourens great, thanks for the clarification and the nice picture.
The issue was as you already speculated is that we were converting paths to uris without a scheme. Now I simply added a `debug` scheme to these path such that uri is parsed correctly. This is basically the same what we do [here](https://github.com/Microsoft/vscode/blob/8795a9d6423a579a13c5fea4353e54e0f10ecc78/src/vs/workbench/pa

[2018-10-04 09:07] #59430 closed

[2018-10-04 09:09] isidorn commented on #59933
@weinand forgot about those. Yeah makes perfect sense we already have such a basic thing

[2018-10-04 09:10] FrederikBolding commented on #59744
Wouldn't the best solution be to have two sentences, one for each verb? @josefhosek - I can do a quick pull request for it, if it's a good idea.

[2018-10-04 09:12] nikitavoloboev opened #59955 "Add ability to scroll horizontally in Explorer view"
Not sure if this is a bug or a feature request but I can't scroll sideways in explorer view in cases where the file names are too long. I have to resize the explorer tab itself and it's annoying.

I am on macOS 10.14 and 1.27.2 version of VS Code.

[2018-10-04 09:12] #54378 closed

[2018-10-04 09:15] isidorn commented on #59955
Turn this on

![screen shot 2018-10-04 at 11 15 11](https://user-images.githubusercontent.com/1926584/46464493-c78a9400-c7c6-11e8-8c07-9bf397956506.png)

[2018-10-04 09:15] #59955 closed

[2018-10-04 09:33] dxf opened #59956 "Python: Writing \n in f-string causes suggestion menu to open"
Issue Type: <b>Bug</b>

1. Type something like `print(f'hello'), then type \n
2. Voila, needless suggestion box when you add a new line.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4130 CPU @ 3.40GHz (4 x 3392)|
|G

[2018-10-04 09:51] defaults commented on #59934
@mjbvz thanks, will look into other issues to get familiar with codebase or you can suggest too.

[2018-10-04 09:53] sibil commented on #4490
+1 - I'd love to see this in VS Code.

[2018-10-04 09:57] rojepp opened #59957 "Fuzzy quick open should use selected text as a starting point"
When I select some text on a single line and hit Cmd-p/Ctrl-p to open a file, I'd like the selected text
to be pre-populated in the fuzzy search. It should also be selected so a single keystroke will replace the pre-populated text.

This would help with finding a reference to a file in code and quickly opening that file even when there's no definition to go to.

[2018-10-04 09:59] isidorn opened #59958 "Cmd + 2 in setting input breaks the layout"
1. VScode out of source
2. press Cmd + 2, layout gets completly broken

I can not repro with stable, insiders.
I can not repro triggering any other group commands from the command pallete.
I do not have cmd + 2 customized to any command, it is the default set to `workbench.action.focusSecondEditorGroup`
I can alway repro. I do not see anything in the console

In the gif below the layout gets broke

[2018-10-04 10:04] jyavenard opened #59959 "Allow to copy content of call stack in left panel"
See https://github.com/Microsoft/vscode-cpptools/issues/2600 for additional information.

But additionally, it is currently not possible to copy the text showing in the debug view under call stack.

It would be good to allow for this.. Providing the call stack in the event of a crash is an essential part of bug tracking/reporting.
Something that Visual Studio Code doesn't allow on Windows.

[2018-10-04 10:08] #44030 closed

[2018-10-04 10:09] isidorn commented on #44030
@aeschli please help with the naming, currently I chose
`editor.debugStackFrameLineHighlight`
`editor.debugFocusedStackFrameLineHighlight`

I am not sure if the prefix should be editor or debug and if the name is too long.
The difference between the two being that first is the top stack frame line highlight by default yellog, and the other is when you click on some non top stack frame by default g

[2018-10-04 10:11] Sti2nd opened #59960 "Cannot choose vscode as default editor used by git"
Hi,

I just want to tell you that on a new PC when downloading and installing VSCode (and restarting because of adding code to PATH) the option to choose vscode as default editor is grayed out.

Windows 10 October 2018 Update

![image](https://user-images.githubusercontent.com/6373430/46467684-a9c12d00-c7ce-11e8-8550-3ecf620307ed.png)

[2018-10-04 10:21] vktec opened #59961 ""Select all occurrences of find match" selects all in file even when "find in selection" is enabled"
Issue Type: <b>Bug</b>

### To reproduce:

1) Press ctrl+f to open the find window
2) Type a pattern to match
3) Select some text
4) Turn on "Find in selection" by pressing alt+L or pressing the button
5) Use "Select all occurrences of find match" by pressing ctrl+shift+L

**Expected behaviour:** Selections will be created for every match within the currently selected text.
**Actual behaviour:** S

[2018-10-04 10:32] aeschli commented on #44030
Is it a highlighted range in the editor, like the line highlight (`editor.lineHighlightBackground`)?
-> Then It needs the 'editor' as component.

Highlights normally come in pairs: HighlightBackground and HighlightBorder. High contrast always uses borders.

Is it always a line, or could it be potentially a just a range?
-> I suggest to just call it a `highlight`

I'd skip 'debug' to make it shorte

[2018-10-04 10:44] bpasero commented on #59561
Ok thanks.

[2018-10-04 10:44] aeschli commented on #44030
some other suggestion:

- editor.debuggingFrameHighlightBackground ...
- editor.topDebuggingFrameHighlightBackground

[2018-10-04 10:44] FrederikBolding commented on #59744
I did a quick pull request which splits the string into two easier translatable strings #59962 - Let me know if you have any comments 😄

[2018-10-04 10:45] bpasero commented on #59958
@isidorn is only the left hand group broken or the right hand as well? what happens if you open an editor?

[2018-10-04 10:48] hamedqaderi commented on #59878
Sorry, it was my mistake. The terminal window was so tight that I couldn't see the move to the bottom button. When I drag the terminal to make it a little wider, this button just shows up.

[2018-10-04 10:48] #59878 closed

[2018-10-04 10:52] josefhosek commented on #59744
@FrederikBolding thanks! That's great and it solves the issue that our translator had.

[2018-10-04 11:10] #57852 closed

[2018-10-04 11:11] FrederikBolding commented on #59744
@josefhosek Good stuff! Just had an issue with formatting, but as soon as I've fixed it, the PR should be good to go.

[2018-10-04 11:57] vbraziel commented on #12630
I scanned through the source this morning. I have to admit I am not that familiar with it yet. I did see a few places that relate to vs code's app state, app history, and win32 calls. It might be worth a deeper look.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Frederik Bolding <notifications@github.com>
Sent: Wednesday, October 3, 2018 7:14:00 AM
To: Mic

[2018-10-04 12:03] vityas-off commented on #59925
Have the same problem since yesterday.
os: `arch linux`,
code: `1.27.0-insider 07618102efdd63f09949ce54c161e7fd2a954ee8`
addons:
[code]

[2018-10-04 12:04] glha commented on #59561
@bpasero I'm not able to replicate the issue on that build either (1.29.0-exploration).

[2018-10-04 12:06] sguillia opened #59964 "Flickering source control"
Issue Type: <b>Bug</b>

The source control system is broken. I don't know how to exactly reproduce.

I'm using Code Insiders. Please take a look at this screen recording:

![project-flicker](https://user-images.githubusercontent.com/15984272/46472421-691ce000-c7dd-11e8-8854-e6bc237dd902.gif)

Steps to reproduce:
1. Open a versioned folder (must contain .git)
2. Open a file (doesn't need to be vers

[2018-10-04 12:43] smasala commented on #4758
+1

[2018-10-04 12:43] Blackbaud-MitchellThomas commented on #59907
I created a vanilla ASP.NET web API project and confirmed I see the issue there.

https://github.com/Blackbaud-MitchellThomas/vscode-build-failure-launch-issue

I can reproduce it in the latest Insiders. I tried yesterday and confirmed again this morning with the new simple project.

[2018-10-04 13:08] eladcandroid opened #59965 "[Feature] Search in all files - Execute search while typing (onInput event)"
Like here in GitPod IDE: https://gitpod.io/#https://github.com/Microsoft/vscode

[2018-10-04 13:10] isidorn commented on #59878
We have another issue for this, layout sometimes gets cut off. We'll try to fix that one

[2018-10-04 13:14] aeschli opened #59966 "global snippets: no error when selecting a different folder"
- open a folder in VSCode & open a file in the editor
- invoke command: Preferences: Configure User Snippets
- pick 'new snippet file for `yourfolder`'
- in the file dialog navigate to a different subfolder than selected, enter a file name and press save

nothing happens

[2018-10-04 13:16] aeschli commented on #59966
https://github.com/Microsoft/vscode/blob/744d94ab424133fb45725c6bc942ea51e28ba2f3/src/vs/workbench/parts/snippets/electron-browser/configureSnippets.ts#L133 only saves the file if the user has not changed the default folder.

I suggest to use a normal input dialog for a file name instead.

[2018-10-04 13:18] urbanhop commented on #27083
i have to add that lately, still with 1.27.2, i am able to replace inside selection without problems. not sure what makes the difference between back than and now. i assume my problem was related to the specific file and file format (typescript, jsx in the problematic case).

[2018-10-04 13:27] isidorn commented on #44030
It could porentially be a range, but let's just call it highlight
I like
`editor.stackFrameHighlightBackground `
`editor.focusedStackFrameHighlightBackground`

Notice that I changed the `current` to `focused` in the second name, since the more important one I would like to have a short name and that is `stackFrameHighlightBackground` - yellow.

Borders we do not yet have, though I understand we sh

[2018-10-04 13:27] bfelbo opened #59967 "Customize "Problems" number in UI to e.g. only count errors, not warnings"
We'll often be working with many warnings from our linter such as a `no-console` warnings saying that a particular variable was defined, but never used. These warnings can often be safely ignored and fixed later (if they need to be fixed at all). The VS Code UI counts all these warnings along with the errors as the number displayed on the `Problems` tab and so it's hard to know when in one of the

[2018-10-04 13:29] CallumRaabe opened #59968 "Code formatting not functional after upgrade to Windows 10 1809"
All forms of code formatting seem to be non-functional after upgrading to Windows 10 1809. I've managed to reproduce this error across two PCs and both stable and Insider builds, along with a clean reinstall of both versions (including deleting extensions and user data)

- VSCode Version: 1.27.2 (user setup), 1.28.0-insider (user setup)
- OS Version: Windows 10 17763.1

Steps to Reproduce:

1. Upd

[2018-10-04 13:35] CaptainYouz commented on #59898
@mjbvz
Few comments on how/when it appears. I'm not sure at 100% but this appear generally after a file opened in the editor is changed by the system (for example if you have your `package.json` opened and you're adding/deleting modules with `npm` commands). Also, when this problem appear, it messes up the collapse system in the current files opened. Part of codes that were collapsed can not be op

[2018-10-04 13:41] #59744 closed

[2018-10-04 13:42] isidorn commented on #59744
Adding verified since I did a code review and tried it out

[2018-10-04 13:48] tigoe opened #59969 "[Accessibility] Keyboard shortcuts documents in PDF form are not accessible"
- VSCode Version: 1.27.2
- OS Version: MacOS 10.12.6

Steps to Reproduce:

1. open https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf
2. turn on VoiceOver on Mac (command-F5)

This will quickly reveal that the PDF is incomprehensible from the VoiceOver screen reader in a browser (tested with Chrome, Safari, and Firefox).  Further steps to try to read it:

3. download PDF, open in

[2018-10-04 13:48] vbullinger commented on #12185
This issue is over two years old and sounds really easy to fix and useful. Can we get an update or roadmap on this, please?

[2018-10-04 13:52] chrmarti commented on #37932
@dbaeumer I looked into making this the default for all QuickOpen prefixes. The problem is that this immediately filters and ranks the available choices which basically removes the 'recently used' feature. Due to that we cannot make it the default without removing functionality for some users. For the same reason I'm not sure having a single flag for all prefixes will be good enough, users might r

[2018-10-04 13:54] isidorn commented on #59907
Let's wait for the resolution of OmniSharp/omnisharp-vscode#2575
Looks like the duplicate of that one, @Blackbaud-MitchellThomas can you please follow the discussion there

[2018-10-04 14:02] chrmarti commented on #18879
Reverting for now. On Mac:
![image](https://user-images.githubusercontent.com/9205389/46479238-ec92fd00-c7ee-11e8-96e0-f2999aa8769a.png)

[2018-10-04 14:03] Blackbaud-MitchellThomas commented on #59907
Yep, I'll follow it. It appears to be the same issue.

[2018-10-04 14:03] warpdesign opened #59970 "Code hints: intellisense layout could be improved"
Here is how intellisense shows autocomplete information:

![image](https://user-images.githubusercontent.com/199648/46479170-c8cfb700-c7ee-11e8-90f5-09168e2bbf09.png)

As you can see, the default wrap of the description makes it really hard to read.

Suggestion: do not wrap autocomplete/intellisense text if it's not needed.

I'd rather have an horizontal scrollbar than have new lines in the middle

[2018-10-04 14:14] bpasero opened #59971 "Settings: focus should always be in input field when opening"
I always open settings and start typing to search, but lately I keep editing the editor. Please, can we just always focus the input field?

[2018-10-04 14:28] bpasero commented on #59958
@joaomoreno moving to you

[2018-10-04 14:30] fifn2 opened #59972 "Integrated Terminal should delete all text when clearing"
When you enter the `clear` command or any of its equivalents into vscode's integrated terminal, it doesn't delete all the text as expected, it just scrolls down. I really like having just a blank slate of terminal instead of that. Maybe you could even make a shortcut to clear the terminal.

[2018-10-04 14:32] #59958 closed

[2018-10-04 14:33] joaomoreno commented on #59958
@isidorn @bpasero

That's why you shouldn't horse a winning change... you shouldn't change a horsing win... shouldn't win a changing horse... damn it... don't touch the GRID!

[2018-10-04 14:34] isidorn commented on #59958
Works fine now -> verified

[2018-10-04 14:36] Kenya-West commented on #59899
Same here. See the gif below:

![ezgif-4-ea95a2ca21e4 1](https://user-images.githubusercontent.com/12271104/46480968-3ef30e80-c82d-11e8-9952-d278afba343d.gif)

Is it happened because terminal has to process ciryllic characters?
I am running Windows 10 October 2018 Update and I have following list of extensions:
[code]

[2018-10-04 14:39] #59820 closed

[2018-10-04 14:49] paulstelzer commented on #59899
I think it's an issue which have a lot of persons ;) I am from Germany, same issue here with Windows 1809. So let us wait, the developer will fix it soon

[2018-10-04 14:51] joemidi commented on #33110
👍

[2018-10-04 14:59] NextLevelCloudSolutions commented on #59899
The quick fix for now is typing any console command to bring the focus back up to the top of the terminal window prompt. I use the command "cls".

[2018-10-04 15:03] dikaio commented on #58030
I'm also getting high CPU with the Microsoft Language Server for Python.

[code]

[code]

Following another vscode issue it was suggested to disable **jedi** which I've done. Also it was suggested that the linter could be the reason for the high cpu so I've tried pylint, pyflakes, and now on pep8. I have doubts about it being the linter.

[2018-10-04 15:08] avinash-savant opened #59975 "Sync Across Installations"
Use Case (as an End User):
1) I have multiple machines with VS Code installed on each of those, I want a way by which I can just resume the point where I left off on one machine to another.

Right now, I have to find the project, the files load them and then resume work. Tedious! isn't it?

2) Also, every time I install an extension on one machine and create a specific file, I have to remember the

[2018-10-04 15:11] nicksnyder commented on #53598
Oops, not sure why I thought this.

To whoever owns this whitelist (I couldn't find one in this public repo), we would love to be able to help dogfood the new extension API with [Sourcegraph Discussions](https://about.sourcegraph.com/blog/discuss-code-and-docs-in-repositories) inside of our team and provide feedback. Discussions would be hidden behind a feature flag (off by default) and we would n

[2018-10-04 15:12] #59547 closed

[2018-10-04 15:19] pixieaka commented on #52629
![capture](https://user-images.githubusercontent.com/17777237/46484207-95def080-c7f9-11e8-85ab-a65dd343a965.gif)

[2018-10-04 15:21] Labrat02 commented on #46353
Part of the problem with this is that the cog icon is ingrained in our minds to show a settings window.    Changing this icon to something that better represents "exclusion" would be helpful.

[2018-10-04 15:30] motor75 commented on #59836
@RMacfarlane - it took a day but I'm back to nothing showing compile errors.  See attached screen shot...
![image](https://user-images.githubusercontent.com/42443455/46484436-cdcd4000-c7c7-11e8-9946-5d23cb8d281e.png)

Here's my Problems window....no problems showing...
![image](https://user-images.githubusercontent.com/42443455/46484529-f1908600-c7c7-11e8-98ad-926af4e01350.png)

Also it seems debu

[2018-10-04 15:34] motor75 commented on #59836
It appears that this all started with this error (which is different from what I put in my previous post):

**[2018-10-04 11:19:06.920] [renderer1] [error] This socket is closed: Error: This socket is closed
	at Socket._writeGeneric (net.js:726:18)
	at Socket._write (net.js:786:8)
	at doWrite (_stream_writable.js:387:12)
	at writeOrBuffer (_stream_writable.js:373:5)
	at Socket.Writable.write (_str

[2018-10-04 15:41] Tyriar commented on #59956
https://github.com/Microsoft/vscode-python/

[2018-10-04 15:41] #59956 closed

[2018-10-04 15:42] Tyriar commented on #36170
@rebornix would we accept a PR to add a command to paste from the PRIMARY clipboard?

[2018-10-04 15:45] NextLevelCloudSolutions commented on #59975
While I would love to have a native sync feature there's a fantastic extension available which I use daily. I'll provide the link below:

https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2018-10-04 15:46] Ky6uk commented on #53989
@isidorn will it fix the ~regression~ as-designed feature (#53694) when tabs bar has a reduced size like an editor pane? 🤔

[2018-10-04 15:48] lucacattide commented on #59605
I tested the IDE for a day and half and I don't had any issue related to that I mentioned above. I think that some taces of old extensions still in my system either if I removed them before the fresh install.

I'll continue to investigate in order to find the corrupted one. Thanks for your support.

[2018-10-04 15:48] #59605 closed

[2018-10-04 15:49] Tyriar commented on #52629
@pixieaka it's a regression in Windows that we can't do anything about unfortunately https://github.com/Microsoft/vscode/issues/57803

[2018-10-04 15:49] iamCristYe commented on #26175
@bpasero The problem has been resolved.
![image](https://user-images.githubusercontent.com/12642018/46486364-2d5f3600-c830-11e8-97e1-63eb65d80ed9.png)

[2018-10-04 15:51] avinash-savant commented on #59975
Thanks Eric! It works just awesome. Solves my purpose.

[2018-10-04 15:51] #59975 closed

[2018-10-04 15:51] roblourens commented on #59954
Cool, I didn't realize I could do that...

[2018-10-04 15:51] #59954 closed

[2018-10-04 15:53] #59917 closed

[2018-10-04 15:56] jens1o commented on #52629
@Tyriar so, it is impossible that a Microsoft team urges another Microsoft team to fix a bug?

ok.

[2018-10-04 16:00] Asitis commented on #43188
Came here expecting this behavior as well! +1

[2018-10-04 16:02] eamodio commented on #53598
I've tried to make similar arguments to be whitelisted, but it's just not going to happen. As far as I know they don't want to be tied to proposed apis for anything in the wild that they don't control. Which is understandable. I do wish that there was a better option for users to use a vsix with proposed apis vs running with command line flags for each extension

[2018-10-04 16:02] kwiesmueller opened #59977 "Editor blackout rendering bug when showing diff or doing expensive actions"
Issue Type: <b>Bug</b>

Whenever I open diff views for search or git in random occasions over the last few months I get this annoying bug where parts of the ui get greyed out by background colored boxes and are no longer visible.
Can not reproduce intentionally and can't explain why.

Makes me freak out every time when it happens because everyhting looks good, but once you move your cursor there i

[2018-10-04 16:08] benjamenhogben opened #59978 "PHP - Try catch block added to snippets"
Try catch block added to snippets

[2018-10-04 16:08] ccaspers commented on #59350
I had the same problem (running Arch with Gnome 3.30) and created the file `/usr/local/bin/gvfs-trash` with the following contents:
[code]
After making it executable (`sudo chmod +x /usr/local/bin/gvfs-trash`), vscode was able to move my files to my trash folder.

[2018-10-04 16:12] #59532 closed

[2018-10-04 16:23] CoenraadS opened #59980 "Incorrect bracket matching razor files"
Issue Type: <b>Bug</b>

[code]

![image](https://user-images.githubusercontent.com/5593825/46488310-97f97d00-c802-11e8-83d2-57bc2d96783f.png)

`<>` are matched although they are maths operators

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details><summary>Extensions (14)</summary>

Extension|Author (trunc

[2018-10-04 16:27] RMacfarlane commented on #59836
@motor75 Since the issues seems to be the behavior of the C# extension and not VSCode itself, I moved it over to the extension repo

[2018-10-04 16:29] bpasero commented on #59958
@joaomoreno stay out of breaking grid, otherwise the grid-council will call you again :D

[2018-10-04 16:30] RMacfarlane commented on #59814
Can you share the contents of your `settings.json` file?

[2018-10-04 16:31] garyking commented on #59680
Nope, I always open VS Code workspace files, and they're all in `~/Projects/`.

[2018-10-04 16:32] bpasero commented on #53989
@isidorn should this rather be `workbench.editor.centeredLayoutAutoResize`?

[2018-10-04 16:33] mjbvz commented on #59898
Thanks. Please try collecting the TS Server log to help us investigate:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a folder with a `tsserver.log` file in it

Look through that log file for errors or stack traces. If you can share the log, I can also take a look to s

[2018-10-04 16:34] #59949 closed

[2018-10-04 16:35] mjbvz commented on #59947
Duplicate of #56467

[2018-10-04 16:35] #59947 closed

[2018-10-04 16:44] theAndrewCline commented on #42051
@benday Thanks so much, moving the application to the correct folder fixed it for me as well.

[2018-10-04 16:46] misolori commented on #59695
@beastdestroyer the problem is we're using the icon as a background image, which doesn't respect `font-size` or `line-height`.

@isidorn FYI, this problem also occurs on breakpoints:
![image](https://user-images.githubusercontent.com/35271042/46489455-45946e00-c7ba-11e8-8050-da526a06f87b.png)

[2018-10-04 16:48] ericblade commented on #57803
noting also occurs in ConsoleZ https://github.com/cbucher/console/issues/501

[2018-10-04 16:48] beastdestroyer opened #59981 "Better methods to show that the editor tab group is scrollable"
Using VSCode's default Dark+, it is quite easy to tell that it's time to scroll to reach other files, as the sidebar and editor tab colours are different. However, in many popular themes, the editor tabs are commonly the same colour as the sidebar. Check out One Dark Pro for example:

![scrollableeditors](https://user-images.githubusercontent.com/30497573/46489487-6b8f3200-c7fd-11e8-8446-5aa83c74f

[2018-10-04 16:50] nesl247 opened #59982 "Button to disable excludes in quickopen"
In PhpStorm, WebStorm, etc. the ability to search for a file, object, etc. does not limit you to only non-excluded files.

![image](https://user-images.githubusercontent.com/1037526/46489579-c6ac2f00-c7d3-11e8-9029-63b94f1211ba.png)

As you can see, there is the "Include non-project items" checkbox. This is never checked by default. It would be great if VS Code implemented this feature. By default

[2018-10-04 16:50] danofsatx opened #59983 "Extension Host terminated unexpectedly"
[ExtensionHost-1538671642891.log](https://github.com/Microsoft/vscode/files/2447284/ExtensionHost-1538671642891.log)
Issue Type: <b>Bug</b>

Extension host is crashing every time the window is brought into focus.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2018-10-04 16:51] DanTup opened #59984 "Breakpoint line numbers don't update in UI when sending a `changed` BreakpointEvent"
I'm working on the debugger for Dart. I'm trying to fix a long-standing issue where we never properly "resolved" breakpoints which could result in breaking on a different line to the one the user picked. However, I've found that when trying to resolve breakpoints and sending Code a BreakpointEvent, it doesn't update the line number in the UI.

Before the debug session, my code/breakpoints looks li

[2018-10-04 16:55] MeikTranel commented on #57803
Same goes for zeit/Hyper. After the active dev windows insider ring was lifted onto 19H1, i can also report that the issue persists with the 19H1 prerelease, too.

[2018-10-04 16:56] motor75 commented on #59836
Awesome; thanks for your help.

[2018-10-04 16:58] DanTup commented on #59984
I can repro with a hard-coded `setBreakpointsRequest` that just sends a BP after 2 seconds then tries to change its line and resolve it after 4:

[code]

[2018-10-04 16:59] beastdestroyer commented on #59695
After changing my `line-height` values one-by-one from 20 - 35, I've noticed that the SVG (which the icon seems to be) scales up quicker than the actual line height is doing.

Would it be possible to create a function that changes the width and height based on the editor's `font-size`, and then injecting the change into CSS? That way if the `line-height` does change, it'd still be respective of th

[2018-10-04 17:02] Tyriar commented on #59983
Try closing all windows and launching with `code --disable-extensions`, this is typically related to problems with specific extensions.

[2018-10-04 17:05] Tyriar commented on #52629
@jens1o Windows is enormous and has a complex release process as a result, it was too late when it was discovered to do a fix.

[2018-10-04 17:05] roblourens commented on #59919
No this will take some discussion and implementation changes, so this one is for me 😁

[2018-10-04 17:06] beastdestroyer opened #59985 "Icon for Settings, Keyboard Shortcuts and Extensions?"
This is just a small little thing. It would improve the aesthetic:
- Adding Gear icon to the Settings tab
- Adding say a Keyboard Button to Keyboard Shortcuts tab
- Adding an extension icon to any extension which is opened as a tab. Perhaps this could be the default logo that is present on all extensions when there isn't any image

This really doesn't need explaining so I won't go on about it.

[2018-10-04 17:11] ramya-rao-a commented on #59940
@roblourens Looks like this only happens when `"editor.accessibilitySupport": "on"`

[2018-10-04 17:14] stef-levesque commented on #23591
In 1.27.2, I guess we can use `SourceControlResourceDecorations.tooltip` to display additional information when hovering the resource.
Or do you mean something else ?

[2018-10-04 17:15] Subratappt opened #59986 "VS code intellisense is working very badly"
- VSCode Version: 1.27.2
- OS Version: Windows 10

In the previous versions, the VS code is working fine for C++. But from the current version (1.27.2)  VS code intellisense is working very badly for C++. It is showing some suggestions which do not match the words I am typing. It is giving some wrong options. Here are the examples. I am using the extension C/C++ by Microsoft.
![vs1](https://user-i

[2018-10-04 17:28] charlesg99 commented on #59350
Thanks ccaspers! It works as a workaround, but I had to change the content of gvfs-trash to:
[code]

[2018-10-04 17:28] creal1976 commented on #59986
Please remove me from this I keep muting the thread and I'm still getting these.

Sent from my Verizon Wireless 4G LTE DROID

Matt Bierner <notifications@github.com> wrote:

Please file this issue against the c++ extension

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/vscode/issues/59986#issuecommen

[2018-10-04 17:29] rebornix commented on #59968
@CallumRaabe based on what you described, it looks like a C++ extension issue, please file issues there first.

[2018-10-04 17:29] #59968 closed

[2018-10-04 17:31] jens1o commented on #52629
@Tyriar Please further delay the rollout of Electron 3, so then I'm already on Linux. Thank you.

There is no chance this will be handled in like the next sprint of Windows?

[2018-10-04 17:40] roblourens commented on #59940
Oh, got it. I think it's technically right because the scrollbar is supposed to overlay the code, it just looks weird because there's no border there. But I'm not going to fix it.

[2018-10-04 17:40] #59940 closed

[2018-10-04 17:41] #55347 closed

[2018-10-04 17:43] roblourens commented on #46353
It does have the circle with horizontal line (like "do not enter") overlaid on the settings gear, which is supposed to represent exclusions in your settings, but maybe it's a bit subtle

[2018-10-04 17:44] jimmyyujy commented on #10121
This feature is overdue and critical for productivity with multiple monitors, how many replies do you need to add this feature to scope? I can get all my colleagues to reply if you want.

[2018-10-04 17:47] #59978 closed

[2018-10-04 18:01] CoenraadS commented on #59980
The brackets are some what language aware, it doesn't happen in c# for example. Not sure what the difference is.

[2018-10-04 18:02] roblourens commented on #59982
We have considered a toggle button for whether to apply the exclude settings

[2018-10-04 18:04] mjbvz commented on #59943
This issue was moved to Microsoft/TypeScript#27554

[2018-10-04 18:04] #59943 closed

[2018-10-04 18:06] misolori commented on #59985
@beastdestroyer just to confirm, are you talking about these file type icons:
![image](https://user-images.githubusercontent.com/35271042/46493546-7f1ea680-c7c5-11e8-8faf-a91fc087486d.png)

[2018-10-04 18:07] mjbvz commented on #59848
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-10-04 18:07] beastdestroyer commented on #59985
@misolori Yup

[2018-10-04 18:07] roblourens commented on #59965
https://github.com/Microsoft/vscode/issues/46326

[2018-10-04 18:07] #59965 closed

[2018-10-04 18:11] mjbvz commented on #59815
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2018-10-04 18:12] mjbvz commented on #59567
You pretty much just need to add `json5` to the list of `identifiers` in the existing `json` section

[2018-10-04 18:16] kwiesmueller commented on #59977
I also get this when moving my mouse above the code, so nothing list specific (i guess).

[2018-10-04 18:19] misolori commented on #59985
The file type icons are set by the `seti-ui` icon theme, so the icon would need to come from there. The only generic one that is applicable is the gear icon:
![image](https://user-images.githubusercontent.com/35271042/46494190-1cc6a580-c7c7-11e8-8591-591f5721dcbb.png)

@roblourens @sandy081 thoughts on this?

[2018-10-04 18:20] arshadkazmi42 commented on #59567
@mjbvz So it does not need any other change? I have added it in the identifiers list here

https://github.com/Microsoft/vscode-markdown-tm-grammar/blob/master/build.js#L42

if that is all, i  will create a PR right away

[2018-10-04 18:21] mjbvz commented on #59483
Please split this up into separate feature request issues.

1 and 2 require #56356

3 is a duplicate of #49157

[2018-10-04 18:21] #59483 closed

[2018-10-04 18:22] Tyriar commented on #57803
Upstream issue: https://github.com/Microsoft/console/issues/270

For people experiencing this issue, the way I work around it in the meantime is to just press enter which shows the prompt. You can also just type a command and it will run fine, it's just that the initial prompt doesn't display correctly.

[2018-10-04 18:29] roblourens commented on #59920
smartStep only skips unmapped lines in file with sourcemaps, but `"skipfiles": "<node_internals>/**"` should do it for you.

[2018-10-04 18:29] #59920 closed

[2018-10-04 18:29] nesl247 commented on #59982
Please make it work like Jetbrain's dialog though in that if you press the same combination again, it triggers the checkbox.

[2018-10-04 18:30] roblourens commented on #59985
I like it, is that icon used for some file type now?

[2018-10-04 18:32] mssngr commented on #58240
I would also like to see this gain traction. The white tabs on the dark interface is really distracting.

[2018-10-04 18:32] deep110 commented on #43238
Hi, if no one is taking it up, I would like to give it a go. Would love any starting references. Thanks

[2018-10-04 18:32] egamma commented on #59942
@jamesgpearce from looking at the screenshot I see that the language used for the file is 'JavaScript.' Therefore the error message is correct. It would be more clear when the error message is reported with the prefix `[js]` and not `[ts]`. @mattbierner and idea why this happens?

I also see that you have the flow extension installed, but this extension does not [contribute a language](https://cod

[2018-10-04 18:37] mjbvz commented on #59934
Take a look at [good first issue](https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) and [help wanted issues](https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) to get started

[2018-10-04 18:38] alessandrodimarco commented on #58240
https://github.com/Microsoft/vscode/issues/59283

[2018-10-04 18:40] #59364 closed

[2018-10-04 18:42] rhyek commented on #34407
Actually, my solution sucks, because when you write the first quote the rest of your code is now a string until you close it. This really needs to be looked at!

[2018-10-04 18:53] DonJayamanne opened #59989 "Validation of debug configuration prior to debugging"
**Problem:**
* Users of the python extension start debugging without selecting a proper python interpreter (either not selecting one or selecting an invalid item).

**Requirement:**
We'd like to ensure user has selected a python interpreter prior to debugging. If one hasn't been selected, we'd like to display a message.

**Options:**
* Perform the validation in the launch request of the debug adap

[2018-10-04 19:06] rhyek opened #59990 "[macOS] editor.autoClosingQuotes not working correctly with keyboard input U.S. International - PC"
- VSCode Version: 1.27.2
- OS Version: 10.14

Steps to Reproduce:

1. Set keyboard input source to U.S. International - PC
2. More info at https://github.com/Microsoft/vscode/issues/34407#issuecomment-424198092
3. Video:
![screen recording 2018-10-04 at 12 52 20 pm](https://user-images.githubusercontent.com/702922/46496770-18ee4f80-c7d6-11e8-8227-431952209992.gif)

Basically, after writing the str

[2018-10-04 19:17] db585 commented on #59916
Hello, Thank You for the fast reaction.

I have my doubt that majory of people expect that coping symlink they will get whole folder been copied.
It's better look at OS behavior.
1. Finder copies just symlink
2.  Terminal
`cp Downloads temp/`
cp: Downloads is a directory (not copied).

    but
`cp -R Downloads temp/`
copied just symlink

BR.

[2018-10-04 19:22] Alexandria65r opened #59991 "Can't paste anything"
Running the contributed command:'editor.action.clipboardPasteAction' failed.

[2018-10-04 19:30] mdrideout commented on #3998
Same having this issue
VS Code: Version 1.27.2 (1.27.2)
macOS 10.13.6

[2018-10-04 19:42] adobni commented on #26284
The circle has little visibility.

+1

[2018-10-04 19:47] ipip2005 commented on #56644
Thanks @yellowdragon1 , I downgraded to 1.25 and it works fast for me now

[2018-10-04 19:53] antonio-rodrigues commented on #51776
I think Code Helper is kind of a shared lib that get's instantiated several times, once per each installed extension that requires/uses it (or not, and i can be totally wrong!).
That's why several users reported the problem got solved when they disabled extension X or Y.

In my case: after several hours facing 99% CPU loading and fiddling with a minimum set of extensions, and even enabling/disabli

[2018-10-04 20:01] mjbvz commented on #51776
I'm locking this issue because it is not the correct place to report these problems. If you are seeing a bug with high cpu usage, please open a new issue and we will continue to investigate.

High cpu usage usage is a symptom with a very large number of potential root causes, so it usually must be investigated on a case-by-case basis. We will mark your issue as a duplicate if needed

[2018-10-04 20:03] misolori commented on #59985
Right now it's just used for config files (editorconfig, env, etc.)

[2018-10-04 20:45] komali2 commented on #59857
I'll upload pictures later, when I'm on the machine experiencing this bug.

If I am "showing" tabs, I don't see it. That's the bug. It doesn't behave this way in previous version for me.

[2018-10-04 20:47] sbatten commented on #59915
@bpasero
PR addresses these except for:

All menu items aren't actually enabled. Most are and we could solve this 2 ways: Use the inverse (disabled) and make it optional or transform the data before serializing and deserializing. I don't know if there is a cool way to do the latter without just mapping the data myself before serializing and after deserializing.

[2018-10-04 20:51] roblourens commented on #59985
Sounds perfect for settings and keyboard shortcuts. I'm not sure about extensions?

[2018-10-04 20:51] alexesca opened #59993 "Angular Language Service infinit progress when going to definition"
Issue Type: <b>Bug</b>

After a while of having my editor open, Angular Language Service stops working. It stays in an infinit progress. The blue bar keeps spinning for ever.

This extension has had problems sinces I started using it. I need to reset VS Code insider or install the last update so that it can continue to work normally.

VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a

[2018-10-04 20:54] sbatten commented on #35225
resolved with #59936 and #59855

[2018-10-04 21:07] gondwe commented on #4490
+ 1 id really use this about now.

[2018-10-04 21:13] python152 opened #59994 "parsing problems"
- VSCode Version: 1.27
- OS Version: Mac OS 10.13.6

Steps to Reproduce:

The following code seems giving vscode a hard time to parse -

[code]

I think this is valid code, isn't it?

[code]

Does this issue occur when all extensions are disabled?: Yes/No

[2018-10-04 21:27] mjbvz commented on #59994
Please file this issue against the c++ exension

[2018-10-04 21:27] #59994 closed

[2018-10-04 21:55] flddr opened #59996 "Several Problems after new installation of Windows 10 1809"
Issue Type: <b>Bug</b>

After complete new installation of 1809 i tried both, **VS Code 1.27.2 User and System**, but i have the following problems:

![image](https://user-images.githubusercontent.com/42785945/46505234-c8f0a680-c830-11e8-9ad7-643fa3d119bb.png)

#### 1) terminal window: no cursor (looks dead); initial wrong textposition
![image](https://user-images.githubusercontent.com/42785945/46

[2018-10-04 22:11] Lee182 opened #59998 "Keybindings: Focus on repl not working if focused on terminal"
Issue Type: <b>Bug</b>

Hello I've configured these keybindings so that I quickly go from terminal stuff to node debugging

[code]
I've noticed that if I'm already focused on the terminal, pressing ctrl+4 to focus on the debug console does not work. weirdly though If i press ctrl+1 to  focus on the first editor then ctrl+4 it will focus on the repl.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c4

[2018-10-04 22:20] srl295 opened #59999 "MarkDown preview links are too agressive"
Issue Type: <b>Bug</b>

The VS Code preview linkifier is too agressive. In the following markdown (generated by JSDoc)…

[code]

… hovering over `opts.name` resulted in a link to `http://opts.name` !  Neither Github's preview, nor another processor (`marked` on NPM) linkify `[opts.name]`.  Same goes for `[opts.com]`.

Here the brackets are JSDoc for an optional parameter.

VS Code version: Code -

[2018-10-04 22:31] jsschultz opened #60001 "Powershell colors make it extremely difficult to read"
Issue Type: <b>Bug</b>

I have tried 2 different color themes in VS Code and both have color combinations (background and foreground) colors that make reading very difficult. For example, silver background with yellow text. This is what I get when using powershell in the Visual Studio Dark theme. Cmd prompt is fine, but Powershell is not.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c

[2018-10-04 22:33] borekb opened #60002 "Undo last commit: keep staged files via `git reset --soft`"
The **Undo Last Commit** currently behaves like `git reset --mixed`: it undoes the commit _and_ discards anything that has been staged. If I had previously carefully added files or hunks to the stage, this work is lost.

I think it would be better to switch to the `git reset --soft` behavior:

- If adding to index was carefully done, this work would be preserved.
- If the users wants the `--mixed`

[2018-10-04 22:35] ssgtmccrae commented on #59925
Sorry for the late reply, here's the requested info.

OS: Ubuntu 18.04.1

VSCode:
Version: 1.28.0-insider
Commit: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Date: 2018-10-03T12:37:10.832Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Extensions:
Ansible 0.5.1
Django 0.17.0
Docker 0.3.1
GitLens 8.5.6
Jinja 0.0.8
Jupyter 1.1.4
MagicPython 1.1.0
Markdown All In

[2018-10-04 22:37] jsschultz commented on #59996
I am having the same issue (also installed Windows 10 October 2018 update recently). Let me know if you need more info.

[2018-10-04 22:49] atitoa93 commented on #56708
@joaomoreno Did you tried to reproduce the issue? I tried but It works just fine.
Using mac.

[2018-10-04 22:49] lcswillems commented on #2766
Is there an option for opening directly the preview instead of the file itself? It would be so great!!

[2018-10-04 22:54] RMacfarlane commented on #59925
Thanks @ssgtmccrae and @vityas-off for the additional info!

Do you think this is related? https://github.com/VSCodeVim/Vim/issues/2499
Or is it less deterministic than just when you are doing a replace?

[2018-10-04 22:58] atitoa93 commented on #52741
@mjbvz I would like to work on this, insights to start will be appreciated.

According to the issue itself, I can see the problem with the first issue mentioned, but for the second I think this is the correct behavior. What do you think?

[2018-10-04 23:06] flddr commented on #59996
**integrated-terminal** 2 times in an hour: my SSH-Connection also "..reset by peer.." after some time, but server stays online. This actually with `"terminal.integrated.shell.windows": "C:\\Windows\\System32\\cmd.exe"`

After that, my internet connection (WLAN) is broken.

**With normal Windows cmd (standalone) everything is ok.**

[2018-10-04 23:41] Astrantia commented on #59996
Can confirm the issue with the terminal on 1809.
cc @bpasero

[2018-10-04 23:55] RMacfarlane commented on #59991
Hi @Alexandria65r, can you please provide the following info?

- VSCode version
- What OS are you using?
- Do you have extensions installed, and are you able to reproduce the problem after running `Reload Window with Extensions Disabled`?
- What were you doing before you saw the error message? Do you always see this error when trying to paste?

[2018-10-05 00:01] ramya-rao-a commented on #59970
Covered in #29757 and #29126

[2018-10-05 00:01] mjbvz commented on #52741
Problem 1 is caused by our bracket matching logic. I don't think it can be easily addressed but @rebornix should be able to confirm that.

Problem 2 comes from our [javascript and typescript `onEnter` rules](https://github.com/Microsoft/vscode/blob/master/extensions/typescript-language-features/src/features/languageConfiguration.ts)

These are pretty complex but the one that is applying here is th

[2018-10-05 00:01] #59970 closed

[2018-10-05 00:01] auchenberg commented on #59948
@GasCreature What happens if you install the extension from the Marketplace directly? Does this only happen if you install the extension as VSIX from your disk?

Try here https://marketplace.visualstudio.com/items?itemName=rebornix.Ruby

[2018-10-05 00:09] mjbvz commented on #59999
This comes from markdown-it. That library automatically linkifies anything that looks like it could be a url, and `.name` is a valid top level domain.

If you believe this behavior incorrect, please file an issue against the linkifier: https://github.com/markdown-it/linkify-it/

You can also wrap the param names in backticks so that they are treated as code instead of normal text

Closing as upstr

[2018-10-05 00:09] #59999 closed

[2018-10-05 00:20] octref commented on #47093
#217 is reopened :)

[2018-10-05 00:20] #47093 closed

[2018-10-05 00:27] MattIrv commented on #217
For the vscode-mssql extension it would be super helpful to expose the entire Electron clipboard API instead of partially exposing it or reimplementing it. This will let us give our users the ability to copy/paste sql query results with or without special formatting, and in the future if the image clipboard APIs etc are exposed then it would enable things like “copy as image”

[2018-10-05 00:28] safield opened #60003 "editor.smoothScrollingSpeed : "1.0""
I think the current setting...

editor.smoothScrolling

should be accompanied by....

editor.smoothScrollingSpeed

I would like to be able to slow it down a little bit.

[2018-10-05 00:32] auchenberg commented on #59948
@GasCreature How come you can't access the marketplace? Are you behind firewall or proxy?

Looks like something is blocking the connection between the VS Code front-end and the back-end, which we call our "extension host"

[2018-10-05 00:42] cleidigh commented on #59492
Apples Mojave is toasting me.  changed bunch of security now you cannot do many things with Remote Desktop , this is insane I can no longer build and test on my Mac laptop.

[2018-10-05 01:21] nitrologic opened #60005 "Terminal should not bind Ctrl K - or any other Ctrl key"
The terminal in visual studio code should not be entitled to bind any control keys for it's own purposes. I may be mistaken but this seems such poor design it is a bug (Ctrl-K no longer works in bash nano sessions etc.)

[2018-10-05 01:27] mjbvz commented on #59999
Many markdown converters linkify http://example.com

Github doesn't linkify example.com but other converts do. We need a very convincing reason to change a default behavior that many users are now likely used to. This edge case is not it

[2018-10-05 01:32] RMacfarlane commented on #59957
@rojepp There should already be a setting for this behavior - `editor.find.seedSearchStringFromSelection`

[2018-10-05 01:34] srl295 commented on #59999
http://example.com is fine, but this actually linkifies the following:

anyway, at least it's configurable.… thanks

For the record, this is disableable with:

[code]

[2018-10-05 02:43] octref commented on #59796
The link is available in the bottom:
![image](https://user-images.githubusercontent.com/4033249/46513496-9a150900-c80d-11e8-9dd6-d70cf81c256c.png)

When we update the homepage next time we'll consider making it more prominent. Thanks!

[2018-10-05 02:50] david-waterworth opened #60006 "Underscore character not displayed in terminal on Ubuntu 18.04"
My terminal displays the underscore character as a space. i.e. the text below 'fix_permissions' displays as 'fix permissions' and '____' as '    '

david@ubuntu-ml:~/machine-learning$ chmod +x fix_permissions
david@ubuntu-ml:~/machine-learning$ ____

I'm using Ubuntu 18.04 with GDM and the latest nvidia graphics driver (410.48). I'm not seeing the same issue in the standard terminal

[2018-10-05 02:52] jrobiii commented on #5402
This is the one of two issues that is preventing me from moving away from a dying product... PowerShell ISE.

[2018-10-05 03:02] ramya-rao-a commented on #57999
Works when in screenreader mode

[2018-10-05 03:02] #57999 closed

[2018-10-05 03:12] xconverge commented on #22040
@bpasero I want to knock this one out real quick, any tips on where you would like the argument to be exposed?

[2018-10-05 03:32] jats22 commented on #43238
Hi @deep110 already on it. :+1:

[2018-10-05 03:48] equal-l2 commented on #59960
I think this is not a issue of VSCode but is a issue of Git for Windows.
See https://github.com/git-for-windows/git/issues/1741.

[2018-10-05 04:19] Nemzag opened #60007 "CTRL+V & CTRL+C don't work properly"
Issue Type: <b>Bug</b>

After reboot, ctrl+c & ctrl+v don't work many time ! I don't know why !

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)2 Quad CPU    Q9650  @ 3.00GHz (4 x 3006)|
|GPU Status|2d_canvas: enabled<br>c

[2018-10-05 04:37] #59981 closed

[2018-10-05 04:43] RMacfarlane commented on #59946
Does this happen every time you open VSCode, or only for certain projects? Can you describe in more detail the behavior you see?

[2018-10-05 04:46] rbadapanda opened #60008 "How to filter/open all *outline* files in a repo"
I have this folder structure - (thanks to Engineer Man/Youtube)
├── 004
   └── 004_outline.txt
├── 005
   ├── 005_json.json
   └── 005_outline.txt
├── 006
   ├── 006_outline.txt
   └── 006_pointers.c
├── 007
   ├── 007_gtk.c
   └── 007_outline.txt

How do I load/open all *outline.txt files into tabs in vscode?

I want to load all of them all at once. Is it possible?

[2018-10-05 04:46] jpike88 commented on #59815
Yes it does.

Its also happening in my client project, same type of problem.

Below screenshot only looks relative:
![screen shot 2018-10-05 at 11 42 14 am](https://user-images.githubusercontent.com/9585787/46516402-c70bff00-c893-11e8-8c78-102f64c39f3b.png)

Here it is relative path after accepting the import:
![screen shot 2018-10-05 at 11 42 24 am](https://user-images.githubusercontent.com/95857

[2018-10-05 04:52] jpike88 commented on #59815
Also weird:

Tsconfig is located:

/project/client/src/components/tsconfig.ts

This issue is only happening in this file:
```/project/client/src/components/app.ts```

But in this file ```/project/client/src/components/query/query.ts```
And this file ```/project/client/src/components/plant/PlantCtrl.ts```
The auto-import statement correctly suggests the path.
![screen shot 2018-10-05 at 11 51 11 am

[2018-10-05 04:53] rojepp commented on #59957
@RMacfarlane No, that controls find, and I already had this set to true, which is the default. I want it to be able to seed the quick open as well. Sorry if my terminology is off, I'm not sure what it's called. Cmd-P/Ctrl-P.

[2018-10-05 04:57] RMacfarlane commented on #59957
Got it, I misunderstood. Thanks for clarifying!

[2018-10-05 04:57] jpike88 commented on #59815
Probably related as well:

When auto-importing an item from the @shared alias, using the
```/project/client/src/components/query/query.ts``` file as mentioned above, it decides to use the @client alias instead, completely ignores the fact that this file exists under the @shared alias as a shorter path.

![screen shot 2018-10-05 at 11 57 30 am](https://user-images.githubusercontent.com/9585787/4651

[2018-10-05 05:00] Scott-Cooper opened #60009 "Saving file and quickly closing app can result in the file getting emptied"
I have lost a few files after saving and closing the application.  The file becomes zero bytes.

Steps to Reproduce:
- File must not be dirty
- Save file
- Close application.  Must follow save by less than a second
- Save onto slowish USB flash device
- Could not re-produce with faster internal SSD
- All extensions disabled

If file is dirty, the normal file save location might still become zero b

[2018-10-05 05:39] RMacfarlane commented on #59925
Yeah, I think this is an issue with the extension. Someone else has already filed at issue about it in that repo: https://github.com/Microsoft/vscode/issues/59925

Looks like the releases page has all of the previous `.vsix` files, so you could set `extensions.autoUpdate` to false and manually install an older version as a temporary workaround.

[2018-10-05 05:39] #59925 closed

[2018-10-05 05:44] sandy081 commented on #59900
Visibility and Collapsed state are different. View is visible even when it is collapsed. But the tree in outline view is not visible when the view is visible.

https://github.com/Microsoft/vscode/blob/8d44ab61c65e2928183bd46d6bef65902d06b3e5/src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts#L302

[2018-10-05 05:44] #59900 closed

[2018-10-05 05:54] sandy081 commented on #59500
I think its fine to use this issue and update the summary or description if needed.

[2018-10-05 06:00] beastdestroyer commented on #59985
@roblourens How about the icon which is used for extensions with no cover image, except edited so it would actually be seeable.If so, I could raise issues in a popular icon theme of mine too

[2018-10-05 06:03] #59882 closed

[2018-10-05 06:14] ludvigeriksson opened #60010 "No git gutter indicators are showing"
- VSCode Version: 1.27.2
- OS Version: 10.13.6

Neither the file explorer nor the gutter shows changes in my git project. If I click the source control tab I can see the changes and view them side by side. But I want to see changes in the file explorer and gutters as explained here: https://code.visualstudio.com/docs/editor/versioncontrol#_gutter-indicators

Steps to Reproduce:

1. Run VS code
2.

[2018-10-05 06:36] bm-stschneider commented on #59814
[code]

[2018-10-05 06:51] muratdogan17 commented on #59951
hi @blunket it works as you mentioned. But I've been using emmet for a long time and I'm familiar with the `fsz`

I think I should fix this issue :)

[2018-10-05 06:53] dbaeumer commented on #50426
@cpadilla in contrast to @StephenWeatherford examples your pathes are actually broken. How to you compile the project ?

And can you provide the output when the task is run. The output seems to have a `1>` character in it which gets added to the file path which makes the file not being correct.

[2018-10-05 07:00] sandy081 commented on #56768
@roblourens I am not aware of any. Its the responsibility of the owner of the setting to make sure it is backward compatible.

[2018-10-05 07:07] sandy081 commented on #59985
Yeah.. it does not get well with extensions editor.

[2018-10-05 07:14] #59862 closed

[2018-10-05 07:29] isidorn commented on #53989
@Ky6uk no, it will not. Sorry
@bpasero yeah, editor prefix makes change looking at other settings whcich have the editor prefix. Updating it...

[2018-10-05 07:37] remino commented on #33110
You can already compare files in that fashion. See #34762.

[2018-10-05 07:38] isidorn commented on #59857
Ok. Post pictures once you have them. Make sure to exit / reenter zen mode since the settings only get applied once you enter zen mode.
And make sure to not have any other funky settings / extensions

[2018-10-05 07:44] sunq0001 commented on #56874
[tsserver.log](https://github.com/Microsoft/vscode/files/2449381/tsserver.log)
[ti-1744.log](https://github.com/Microsoft/vscode/files/2449382/ti-1744.log)

@mjbvz uploaded already.
once i open VS code, CPU go as high as 100% before any of my operation.

[2018-10-05 07:46] isidorn commented on #59989
Use option 2 and return `undefined`. VSC will not open the `launch.json` - more details https://github.com/Microsoft/vscode/issues/54213
Also please use vscode insiders to always be on the latest.

[2018-10-05 07:46] #59989 closed

[2018-10-05 07:54] isidorn commented on #59984
@DanTup thanks for the repro steps in the last comment. However I see that you are sending two "new" breakpoint events. You should be sending first a "new" and than a "changed" event. The "changed" event shold properly update the breakpoint.
If it does not, please put a breakpoint [here](https://github.com/Microsoft/vscode/blob/b58200ca9f0feae938340b21fb2a6c8384b2b5f7/src/vs/workbench/parts/debug/

[2018-10-05 08:08] sguillia commented on #56708
I tried it again.

Still reproduces with Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de)

Does not reproduce with Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9)

[2018-10-05 08:11] jrieken opened #60011 "setExpanded isn't called"
* implement a ViewPanel
* implement `setExpanded`
* expand the panel, setExpanded is called
* refresh workbench
* 🐛 setExpanded isn't called

[2018-10-05 08:12] #59585 closed

[2018-10-05 08:12] #59563 closed

[2018-10-05 08:12] #59588 closed

[2018-10-05 08:30] jrieken commented on #58176
fixed via #59797

[2018-10-05 08:30] #58176 closed

[2018-10-05 08:35] DanTup commented on #59984
Whoops, that was a bad paste - however, the repro seems to work on this machine :/ I'll try again on my work machine when I can and post back, and if the repro is good I'll put breakpoints there in the real code that's failing. Thanks!

[2018-10-05 08:47] isidorn commented on #59984
No problem, let me know how it goes.

[2018-10-05 08:52] borekb commented on #6403
My workaround is to invoke `git commit` from a terminal. Maybe if the commit message field is empty, VSCode could just call `git commit` as well and leave it up to user's configuration what happens (in my case, it would open a text editor from my `EDITOR` system variable, which is fine).

[2018-10-05 08:57] Yjq14114 opened #60013 "terminal"
Issue Type: <b>Bug</b>

i open terminal, but  its look like is not work !

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off

[2018-10-05 08:59] #60013 closed

[2018-10-05 09:10] jrieken opened #60014 "TreeDataProvider#getChildren is called despite being collapsed"
* implement a tree data provider that logs when getChildren is being called (see below)
* remove the tree from the explorer
* reload
* add the tree back (right click explorer title, select tree)
* 🐛 the `getChildren`-function is being called even though the tree isn't showing (only its header)

[code]

[code]

[2018-10-05 09:27] #59939 closed

[2018-10-05 09:43] DanielSWolf opened #60015 "Markdown syntax highlighting breaks at collapsed JSX element"
Issue Type: <b>Bug</b>

Create a text document with the following content and save it with a .md extension:

    This is JSX:

[code]

Then activate the Markdown preview. It looks like this:

![image](https://user-images.githubusercontent.com/5963162/46528186-70062a00-c893-11e8-8d65-922d134b6563.png)

Note how the embedded JavaScript and JSX are highlighted correctly *until the collapsed element `

[2018-10-05 09:55] zachsa opened #60017 "Reorder integrated terminal panes via drag/drop"
I really like the integrated terminal feature in VS Code, and how you can have multiple panes open. I use workspaces and I especially like how you can choose which directory to open the new terminal window in.

I like the familiarity of ordering my terminals consistently. Would it be possible to allow for reordering terminal windows via drag/drop? The current alternative is to manually `cd` in the

[2018-10-05 09:56] jyavenard commented on #59959
Thanks for that.. I had missed that opion.

However. when you have 100+ threads running, having to get and right click on every single of those threads to copy the stack is a rather tenuous job.

[2018-10-05 09:57] bpasero commented on #60009
@Scott-Cooper would you be willing to conduct a small experiment and setup your machine where you see this to run VSCode out of its sources so that I can give you some modifications to see if it helps? The instructions are here: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2018-10-05 09:58] isidorn commented on #59959
Agree but that is another feature request which we do not plan to tackle rigth now, closing

[2018-10-05 09:58] #59959 closed

[2018-10-05 10:01] jyavenard commented on #59959
What is this habit of closing bugs telling it's done somewhere else, yet not linking to the duplicate?

quite frustrating

[2018-10-05 10:06] isidorn commented on #59959
No you misunderstood. I am saying copying stack trace of multiple threads is not what your initial comment is requesting, it is a different feature request. There is no duplicate for it, nobody requested it. And I do not think we will work on this in the forseable feature. Though if you are passionate about it feel free to open a new issue - thanks

[2018-10-05 10:07] liweijian commented on #59904
After removing `/Users/<username>/Library/Application Support/Code/Local Storage`, it works now, thank you.

I just upgrade my system from macOS 10.13 to 10.14 and it happens.

[2018-10-05 10:07] #59904 closed

[2018-10-05 10:09] jyavenard commented on #59959
and letting me edit the title wouldn't have been an easier approach?

[2018-10-05 10:12] #56890 closed

[2018-10-05 10:19] jrieken opened #60018 "renderBody/layoutBody is called despite being collapsed"
* have a viewlet panel
* collapse it
* reload workbench
* :bug: `renderBody` and `layoutBody` is being called even though the panel is collapsed

[2018-10-05 10:41] raulgdev opened #60019 "raul"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-10-05 11:30] benbenji opened #60020 "Problem of "go to defination" using python environment."
Hello,Today I wrote python code with module "tensorflow", I found the hint which is given by vscode is different form that "help" function in python shows,the hint is "def truncated_normal(shape, dtype, seed=0, seed2=0, name=None) " but the help of python shows the doc is "truncated_normal(shape, mean=0.0, stddev=1.0, dtype=tf.float32, seed=None, name=None)" ,after I look over the source code of t